[2019-07-22 22:22] #1704 closed

[2019-07-22 22:23] ryanmajidi commented on #1716
@GrantMeStrength Can you please take a look at this issue?

[2019-07-22 22:30] ryanmajidi commented on #1721
@andre-ss6 this is by design. To change your locale click the link in the bottom left corner.
![image](https://user-images.githubusercontent.com/7329992/61669628-9451bc80-ac95-11e9-9568-e40ab161f511.png)

[2019-07-22 22:30] #1721 closed

[2019-07-22 22:31] ryanmajidi commented on #1723
@GrantMeStrength Can you please take a look at this issue?

[2019-07-22 22:32] ryanmajidi commented on #1724
@GrantMeStrength Can you please take a look at this issue?

[2019-07-23 02:02] gallop1 commented on #1690
@CeciAc It's impossible, my side download is really a traditional type pdf.
![image](https://user-images.githubusercontent.com/11223081/61677112-e85daf00-ad30-11e9-8f3c-d461c70ad0f5.png).You can see this picture.

[2019-07-23 03:01] stevewhims commented on #1673
This has been resolved for a while; closing.

[2019-07-23 03:01] #1673 closed

[2019-07-23 03:06] TakiyaNakano-MSFT opened #1764 "Japanese translastion request"
It would be great if you publish Japanese translation of Get Help + Support article for Power Platfrom Admin Center.
https://docs.microsoft.com/en-us/power-platform/admin/get-help-support

So many Japanese custmoer still submit their service request from Microsoft 365 portal rather than Power Platform Admin center.

[2019-07-23 04:02] buickml opened #1765 "Is ml.net support for deeplearning"
Is ml.net support for deeplearning, and can it be  accelerated by GPU.

[2019-07-23 13:23] mariarev commented on #1014
My browser is on  [https://docs.microsoft.com/en-us/learn/] page but on any other page I have tried to connect to Microsoft learn it was impossible, too.
  Thank you! I've just tried the private mode but nothing happened. Still "sign in" choice seems to be totally deactivated...Neither may I achieve a new score since not being able to connect...

[2019-07-23 15:17] CeciAc commented on #1690
@JasonCard @gallop1
I cannot repro the contributor's issue.
I downloaded both PDFs and they match each web translation.

![imagen](https://user-images.githubusercontent.com/26746247/61724072-970aeb00-ad43-11e9-9cdf-c95841ab1165.png)

[2019-07-23 17:17] JasonCard commented on #1690
@CeciAc Thank you for confirming. From looking at the last screenshot from @gallop1, individual characters are highlighted, so it looks like the contributor is pointing out that some individual characters are Traditional Chinese instead of Simplified Chinese. I confirmed that those highlighted characters in PDF are same in live page, so PDF is not the issue.
[https://docs.microsoft.com/zh-cn/aspne

[2019-07-23 17:40] drewbatgit commented on #1763
Ah, I see what you mean. Your request makes sense, but this channel is specifically for documentation feedback, not product feedback. If you are looking for functionality that isn’t currently provided by the product, please use the [Windows developer feedback site](https://wpdev.uservoice.com/). We’d be happy to have this on record, where others can view it and upvote it.

[2019-07-23 17:40] #1763 closed

[2019-07-23 17:42] AndrewNRe commented on #1763
Thank you very much!

On Tue, Jul 23, 2019 at 11:40 AM drew batchelor <notifications@github.com>
wrote:

[2019-07-23 20:01] ryanmajidi commented on #1764
@SonjaSaltzman Can you please take a look at this issue?

[2019-07-23 20:05] pkulikov commented on #1761
@toyidong The [`mm` format specifier](https://docs.microsoft.com/en-us/dotnet/standard/base-types/custom-date-and-time-format-strings#mmSpecifier) (in general, lowercase "m") represents **minutes**. Use the [`MM` format specifier](https://docs.microsoft.com/en-us/dotnet/standard/base-types/custom-date-and-time-format-strings#MM_Specifier) (in general, capital "M") to represent **months**.

[2019-07-23 21:40] ryanmajidi commented on #1751
@GrantMeStrength Can you please take a look at this issue?

[2019-07-23 21:45] ryanmajidi commented on #1752
@LilacBrandy Please submit this feedback to the [azure general feedback](https://feedback.azure.com/forums/34192--general-feedback)

[2019-07-23 21:45] #1752 closed

[2019-07-23 21:46] ryanmajidi commented on #1753
@GrantMeStrength Can you please take a look at this issue?

[2019-07-23 21:48] ryanmajidi commented on #1754
@EdisonDa Can you please take a look at this issue?

[2019-07-23 21:49] ryanmajidi commented on #1755
@GrantMeStrength Can you please take  a look at this issue?

[2019-07-23 21:50] ryanmajidi commented on #1757
@GrantMeStrength Can you please take a look at this issue?

[2019-07-23 21:51] ryanmajidi commented on #1758
@GrantMeStrength Can you please take a look at this issue?

[2019-07-23 21:53] ryanmajidi commented on #1759
@GrantMeStrength Can you please take a look at this issue?

[2019-07-23 21:56] ryanmajidi commented on #1760
Please submit this issue here: https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio?view=vs-2019

[2019-07-23 21:56] #1760 closed

[2019-07-23 21:59] ryanmajidi commented on #1761
@mairaw Can you please take a look at this issue?

[2019-07-23 22:01] ryanmajidi commented on #1765
@natke Can you please take a look at this issue?

[2019-07-23 22:03] ryanmajidi commented on #1729
@EdisonDa Can you please take a look at this issue?

[2019-07-23 22:04] mairaw commented on #1761
This has already been answered by @pkulikov (thanks Petr!). Closing.

[2019-07-23 22:04] #1761 closed

[2019-07-23 22:06] ryanmajidi commented on #1743
@krishorrocks thank you for submitting this feedback. We have submitted it to our internal ticketing system.

[2019-07-23 22:06] #1743 closed

[2019-07-23 22:09] ryanmajidi commented on #1738
@SasStu Please submit this abuse [directly through that page](https://gallery.technet.microsoft.com/Account/Login?ReturnUrl=https%3a%2f%2fgallery.technet.microsoft.com%2fExchange-an-Overview-04684b9a%2fview%2fReportAbuse)

[2019-07-23 22:09] #1738 closed

[2019-07-23 22:10] ryanmajidi commented on #1737
@GrantMeStrength Can you please take a look at this issue?

[2019-07-23 22:15] ryanmajidi commented on #1736
@jasonjoh Can you please take a look at this issue?

[2019-07-23 22:36] ryanmajidi commented on #1728
@Taylor-Hasterd  Transferred to that repo: https://github.com/MicrosoftDocs/cpp-docs/issues/1410

[2019-07-23 22:36] #1728 closed

[2019-07-23 22:39] ryanmajidi commented on #1731
@bgalanis Transferred to that repo: https://github.com/MicrosoftDocs/azure-docs/issues/35706

[2019-07-23 22:39] #1731 closed

[2019-07-23 23:10] EdisonDa commented on #1729
@SvensKenR thank you for reaching out. Could you please share a blog Url as an example? I am adding @kexugit to follow up.

[2019-07-24 00:03] andre-ss6 commented on #1721
@ryanmajidi Oh... Geez. I don't even....... Cmon. What happens inside Microsoft? You must all be drugged.

There have been tons of issues opened over the years covering the issue of having to read translated docs (and badly translated ones, it's important to note), from Connect, to UserVoice to here, on Github. I believe this is the _very_ reason the "Read in English" switch exists. If you believe

[2019-07-24 01:38] mairaw commented on #1721
@SonjaSaltzman FYI - this is not the first time I see users requesting that the whole chrome would just switch to the English version instead of just the article. Is that something we can consider?

[2019-07-24 07:49] dipakdotyadav commented on #348
Hello @wnjenkin, if you can help me with the documentation for below REST API.
`POST https://{accountName}.portalext.visualstudio.com/_apis/continuousdelivery/provisioningconfigurations?api-version=3.2-preview.1`

Thanks

[2019-07-24 09:42] HasdrubalTn opened #1766 "Frensh tlanslation issue in the https://docs.microsoft.com/fr-fr/aspnet/web-api/overview/data/using-web-api-with-entity-framework/part-3 page"
**Link to article:**
https://docs.microsoft.com/fr-fr/aspnet/web-api/overview/data/using-web-api-with-entity-framework/part-3
![Issue](https://user-images.githubusercontent.com/43700761/61783462-237ee180-ae08-11e9-8880-20be136c24a8.JPG)

**Problem:**
Frensh tlanslation issue, please replace "OBTENIR l’api/authors" by "GET api/authors" in the section "Explorer l’API (facultatif)" just after this se

[2019-07-24 09:47] HasdrubalTn commented on #1766
The issue appear in multiple places (see attachment).
![Issue_2](https://user-images.githubusercontent.com/43700761/61783786-bddf2500-ae08-11e9-9fdb-a91a1dc436ab.JPG)

[2019-07-24 16:46] hadiulla commented on #1727
Same issue for the below URLs as well.
https://docs.microsoft.com/en-us/learn/modules/build-azure-vm-templates/4-deploy-a-vm-quickstart-template?pivots=windows-cloud

https://docs.microsoft.com/en-us/learn/modules/build-azure-vm-templates/6-extend-the-quickstart-template?pivots=windows-cloud

https://docs.microsoft.com/en-us/learn/modules/add-and-size-disks-in-azure-virtual-machines/3-exercise-add

[2019-07-24 18:20] sudeepku commented on #1730
@fun29 thanks for reporting this. It was likely a temporary glitch. The issue is no longer reproducible.

[2019-07-24 18:20] #1730 closed

[2019-07-24 19:50] fun29 commented on #1730
Agreed, no longer reproducible for me either.

[2019-07-24 20:04] #1667 closed

[2019-07-24 20:53] ryanmajidi commented on #1666
@dend Can you please take a look at this issue?

[2019-07-24 20:54] ryanmajidi commented on #1766
@SonjaSaltzman Can you please take a look at this issue?

[2019-07-24 21:32] ryanmajidi commented on #1682
@bandersmsft Can you please take a look at this issue?

[2019-07-24 21:33] bandersmsft commented on #1682
@ryanmajidi Will do. Thanks.
#in-process

[2019-07-24 21:37] ryanmajidi commented on #1680
@PremK6969 The [sharepoint support site](https://support.office.com/en-us/sharepoint) should point you in the right direction.

[2019-07-24 21:37] #1680 closed

[2019-07-24 21:38] #1664 closed

[2019-07-24 21:40] ryanmajidi commented on #1654
@glasco61 this glitch seems to be fixed.

[2019-07-24 21:40] #1654 closed

[2019-07-24 21:44] ryanmajidi commented on #1653
@Xceptions moved to that repo: https://github.com/MicrosoftDocs/sql-docs/issues/2590

[2019-07-24 21:44] #1653 closed

[2019-07-24 21:46] ryanmajidi commented on #1652
@SonjaSaltzman Can you please take a look at this issue?

[2019-07-24 21:48] ryanmajidi commented on #1650
@GrantMeStrength Can you please take a look at this issue?

[2019-07-24 21:49] ryanmajidi commented on #1649
@GrantMeStrength Can you please take a look at this issue?

[2019-07-24 21:52] ryanmajidi commented on #1648
@LeonLaude moved to that repo: https://github.com/MicrosoftDocs/SystemCenterDocs-pr/issues/2551

[2019-07-24 21:52] #1648 closed

[2019-07-24 21:53] ryanmajidi commented on #1647
@GrantMeStrength Can you please take a look at this issue?

[2019-07-24 21:53] bandersmsft commented on #1682
@jmcbkk Thanks for bringing this to our attention. I've fixed this in the doc source and I expect to article to get refreshed live by tomorrow.
#please-close
@ryanmajidi FYI.

[2019-07-24 21:55] ryanmajidi commented on #1646
@rloutlaw Can you please take a look at this issue?

[2019-07-24 21:56] ryanmajidi commented on #1644
@GrantMeStrength Can you please take a look at this issue?

[2019-07-24 21:57] ryanmajidi commented on #1642
@GrantMeStrength Can you please take a look at this issue?

[2019-07-24 21:58] ryanmajidi commented on #1639
@GrantMeStrength Can you please take a look at this issue?

[2019-07-24 22:00] ryanmajidi commented on #1638
@charmaine Thank you for submitting this issue. We have added it to our internal ticketing system.

[2019-07-24 22:00] #1638 closed

[2019-07-24 22:02] ryanmajidi commented on #1637
@GrantMeStrength Can you please take a look at this issue?

[2019-07-24 22:05] ryanmajidi commented on #1635
@LittleGreenBag  moved to that repo: https://github.com/MicrosoftDocs/SystemCenterDocs-pr/issues/2552

[2019-07-24 22:05] #1635 closed

[2019-07-24 22:12] ryanmajidi commented on #1633
@VaclavK what test client are you using? Is there specific documentation you are referencing?

[2019-07-24 22:15] clandrew commented on #1650
For whoever gets to it: the problem is just this one off page, it's a systemic issue in the docs where calling convention is omitted for C++ methods.

In most situations, calling convention doesn't matter for purposes of apps trying to call the function, but it does matter when implementing callbacks.

I briefly looked into trying to find a way to fix this individual page. The "Syntax" section loo

[2019-07-24 22:16] ryanmajidi commented on #1725
@KenyaLS thank you for the feedback. We have submitted this in our internal ticketing system.

[2019-07-24 22:16] #1725 closed

[2019-07-24 22:25] stevewhims commented on #1650
On July 2, when Claire mentioned the issue to me, I filed bug [102782 Win32 :: syntax block :: calling convention is omitted](https://ceapex.visualstudio.com/Engineering/_workitems/edit/102782). That bug is triaged and assigned to dev. All the info here (and more) is in that bug. I suggest we close this GitHub issue, since we're tracking the work internally.

[2019-07-24 22:27] ryanmajidi commented on #1678
Please go here https://support.microsoft.com/fr-fr/contactus/ or https://support.microsoft.com/en-us/help/4051701/global-customer-service-phone-numbers.

[2019-07-24 22:27] #1678 closed

[2019-07-24 22:29] #1650 closed

[2019-07-24 22:30] ryanmajidi commented on #1651
@dev-rowbot seems to have been a temporary glitch.

[2019-07-24 22:30] #1651 closed

[2019-07-24 22:30] ryanmajidi commented on #1645
@rloutlaw Can you please take a look at this issue?

[2019-07-24 22:32] ryanmajidi commented on #1641
@SonjaSaltzman Can you please take a look at this issue?

[2019-07-24 22:34] ryanmajidi commented on #1631
@rummelsworth thank you for the feedback. We have submitted this to our internal ticketing system.

[2019-07-24 22:34] #1631 closed

[2019-07-24 22:36] camer-on opened #1767 "sqlsrv support for PHP 7.3 unclear"
I am seeing a discrepancy in documentation.
- https://docs.microsoft.com/en-us/sql/connect/php/system-requirements-for-the-php-sql-driver?view=sql-server-2017 says that SQLSRV v5.6 supports PHP v7.3 and higher.
- https://www.microsoft.com/en-us/download/details.aspx?id=57916 says that SQLSRV v5.6 supports PHP 7.0, 7.1 and 7.2.

I would be more comfortable downloading SQLSRV v5.6 if the two pages c

[2019-07-24 22:36] ryanmajidi commented on #1630
@YizeD Please contact support: https://support.microsoft.com/en-us

[2019-07-24 22:36] #1630 closed

[2019-07-24 22:37] ryanmajidi commented on #1629
@GrantMeStrength Can you please take a look at this issue?

[2019-07-24 23:41] ryanmajidi commented on #1626
@gljivar Thank you for this feedback. We have submitted an internal ticket for this.

[2019-07-24 23:41] #1626 closed

[2019-07-24 23:49] ryanmajidi commented on #1627
@GrantMeStrength Can you please take a look at this issue?

[2019-07-24 23:52] ryanmajidi commented on #1625
@GrantMeStrength Can you please take a look at this issue?

[2019-07-24 23:55] ryanmajidi commented on #1595
@tristanlbailey Thank you for this feedback. This has been submitted to our internal ticketing system.

[2019-07-24 23:55] #1595 closed

[2019-07-25 00:02] ryanmajidi commented on #1566
@DeanGross feedback is disabled from some repos. In that case please submit feedback here.

[2019-07-25 00:02] #1566 closed

[2019-07-25 00:03] #1558 closed

[2019-07-25 00:03] #1546 closed

[2019-07-25 00:05] rloutlaw commented on #134
@docs-product Reviewing this as won't do-the resolution here is just handle overloads better in the doc. By jumping to the exact signature, we skip the chance to show the other options  (some of which may be better that the user wasn't aware of ) for the method to be called and documentation that sets guidance and context because we deep link to the page.

[2019-07-25 00:46] VictorL commented on #1627
Fix "rePorts" for "reCords".

[2019-07-25 01:55] gallop1 commented on #1690
@CeciAc,@JasonCard，Some documents are traditional, and I hope all of them are simplified. Although I can't list all of them, it's necessary because it affects my reading.

[2019-07-25 05:09] tristanlbailey opened #1768 "Errors with article: Introduction to security in Microsoft 365"
Spelling/grammar error in Unit 1:

Spelling/grammar errors in Unit 4:

Seemingly unfinished dot point in Unit 5:

Self-check questions
Q: Which of the following is NOT critical to the security of every computer system?

The words "critical to" should be replaced with the words "a pillar of", as the term pillars is used in the explanation at the start of the module. It could be argued that "Cloud a

[2019-07-25 09:21] Timmmm commented on #1099
Also this is not even right:

1. Each run must *end* on a word boundary, not start one one. If they all end on a word boundary then of course they must all start on one, but the opposite is not true.
2. It doesn't make clear that a "word" is a Microsoft `WORD`, which is always 2 bytes, not a real "word" which varies by machine. This is confusing, for example [here's one person that thought it was

[2019-07-25 11:03] VaclavK commented on #1633
@ryanmajidi this is weird. There used to be a test/try it out client embedded within the REST reference on MSDN e.g. https://docs.microsoft.com/en-us/rest/api/keyvault/getdeletedsecret/getdeletedsecret

I do not not see the "try it out" button anymore so if this feature was indeed removed, this ticket is no longer applicable.

ultimately the client allowed consumer to see sample requests/response

[2019-07-26 02:55] SMHolck opened #1769 "Make Power BI Consumer "Get Started" section even simpler!"
Some of the content on the landing page for Consumers of Power BI feels like too deep of a dive.  There is no "guided learning" yet for Consumers, which would also be great!

I was so excited today to see that there is now documentation for Consumers of Power BI.  https://docs.microsoft.com/en-us/power-bi/consumer/power-bi-consumer-landing  Love it!  Not sure how long it has been hiding, but this

[2019-07-26 03:49] SMHolck opened #1770 "Every link I click on Google/Bing or in the Doc site forwards/redirects me to Microsoft Home page"
**Describe the bug**
Clicking Microsoft documentation links somehow lands me on the Microsoft Home page every time.  At first it was just annoying, but now, sometimes, I can't even click back to get to the intended link and I have to search again.  It's a lot of wasted time in my day.

**To Reproduce**
Steps to reproduce the behavior:
1. Open Chrome or IE 11 (yep, happens on both)
2. Search Google

[2019-07-26 08:16] chaoxiaole opened #1771 "关于 SQL Server SSRS 函数表达式文章 内容错误"
在 地址为  https://docs.microsoft.com/zh-cn/sql/reporting-services/report-design/expression-examples-report-builder-and-ssrs?view=sql-server-2014

文章中 关于  lookup函数表达式感觉有错误。
原文如下：
=Lookup(Fields!PID.Value, Fields!ProductID.Value, Fields.ProductName.Value, "Product")
个人感觉是否应该是：
=Lookup(Fields!PID.Value, Fields!ProductID.Value, Fields!ProductName.Value, "Product")

一个关于！的小问题。
如果指出的问题不对，请谅解，刚刚开始学习。

[2019-07-26 10:05] fruityman opened #1772 "Content Issue: Docs/Windows/HLSL/Reference for HLSL/Asm Shader Reference/Shader Model 4 Assembly (DirectX HLSL)/ftoi (sm4 - asm)"
**Link to article:**
https://docs.microsoft.com/en-us/windows/win32/direct3dhlsl/ftoi--sm4---asm-

**Problem:**
Wrong Description: dest = src0 - round_ni(src0)
Fixed: dest = round_ni(src0)

[2019-07-26 12:43] tomtoepel opened #1773 "TryDequeueAsync returns immediately"
**Link to article:**
https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicefabric.data.collections.ireliableconcurrentqueue-1.trydequeueasync?view=azure-dotnet

**Problem:**
Text: "If the queue is empty, the dequeue operation will wait for an item to become available. "
-> Is not true.

**Sample:**
var item = await queue.TryDequeueAsync(tx, cancellationToken, TimeSpan.FromMilliseconds(5000)

[2019-07-26 21:16] YashBhatt1494 opened #1774 "Page is note loading"

[2019-07-26 21:16] YashBhatt1494 commented on #1774
![image](https://user-images.githubusercontent.com/26803823/61981914-f1a87f00-afaf-11e9-9c58-383c027f327c.png)[](url)

[2019-07-26 22:39] ryanmajidi commented on #1774
@YashBhatt1494 where did you get to that video from?

[2019-07-26 22:43] ryanmajidi commented on #1478
@vikscool Moved to that repo https://github.com/aspnet/ApiDocs/issues/127

[2019-07-26 22:45] ryanmajidi commented on #1477
@Bartolomeus-649 What is the issue you are having?

[2019-07-26 22:45] #1478 closed

[2019-07-26 22:48] ryanmajidi commented on #1471
@rloutlaw can you please take a look at this issue?

[2019-07-26 22:50] ryanmajidi commented on #1470
@Cherianpaul Please contact support here: https://support.office.com/en-us/excel

[2019-07-26 22:50] #1470 closed

[2019-07-26 22:52] #1464 closed

[2019-07-26 22:54] ryanmajidi commented on #1432
Seems to be working now.

[2019-07-26 22:54] #1432 closed

[2019-07-26 22:55] mairaw commented on #1471
This could be moved to our repo: https://github.com/dotnet/dotnet-api-docs/issues

[2019-07-26 23:06] ryanmajidi commented on #1471
Moved: https://github.com/dotnet/dotnet-api-docs/issues/2844

[2019-07-26 23:06] #1471 closed

[2019-07-27 18:23] jpetrosek opened #1775 "Sensitive information in comment on Gallery Q and A"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:** https://gallery.technet.microsoft.com/Driver-Tool-Automate-9ddcc010/view/Discussions#52814

Tell us where exactly a problem occurs.

**Problem:** I mistakenly left sensitive information in my comment when I posted the log (admin us

[2019-07-28 21:59] gyurgyma commented on #1214
Has there been any update on these docs? I also would like to have them restored or have a pdf to work with.

[2019-07-29 12:46] nielsranosch opened #1776 "Dead link on https://docs.microsoft.com/en-us/previous-versions/dotnet/articles/aa302294(v=msdn.10)"
On https://docs.microsoft.com/en-us/previous-versions/dotnet/articles/aa302294(v=msdn.10) there is a link to Xmldiffpatch.exe with the URL http://download.microsoft.com/download/xml/patch/1.0/wxp/en-us/xmldiffpatch.exe
However, this link is dead. Please update the article with a correct URL.

[2019-07-29 15:46] SonjaSaltzman commented on #1721
@bodhigautam could you please explain current functionality of "Read in English" toggle versus "Language Picker", and also our plans to implement a feature that would address the user's issue with Google Search?

[2019-07-29 15:49] SonjaSaltzman commented on #1766
cc @JasonCard for awareness; assigned to @DavidPrio

[2019-07-29 16:18] SonjaSaltzman commented on #1652
This content is from the Office team, assigning to @Soran-M to address

[2019-07-29 16:21] SonjaSaltzman commented on #1652
also adding @MartineSmets - not sure which team owns this content

[2019-07-29 16:31] jasonjoh commented on #1736
I'm going to guess you're using Microsoft Graph here. The [reply method](https://docs.microsoft.com/graph/api/message-reply?view=graph-rest-1.0&tabs=http) and the [createReply method](https://docs.microsoft.com/graph/api/message-createreply?view=graph-rest-1.0&tabs=http) does include the original part of the email.

[2019-07-29 18:24] CeciAc commented on #1766
Hello, @HasdrubalTn

Thank you for your feedback.

We are actively reviewing your comments and will get back to you soon.

Kind regards,
Microsoft DOCS International Team

[2019-07-29 19:42] JonReu opened #1777 "Error in CLI command - https://docs.microsoft.com/en-us/learn/modules/control-azure-services-with-cli/5-exercise-create-website-using-the-cli"
I always get this error (see at the end):

jonas_reusser@Azure:~$ export RESOURCE_GROUP=Learn-00d7cb47-7ebc-4fa6-a822-dd444b6acbfb
jonas_reusser@Azure:~$ export AZURE_REGION=westus2
jonas_reusser@Azure:~$ export AZURE_APP_PLAN=popupappplan-$RANDOM
jonas_reusser@Azure:~$ export AZURE_WEB_APP=popupwebapp-$RANDOM
jonas_reusser@Azure:~$ az group list --output table
Name

[2019-07-29 20:19] Justinha commented on #1756
#sign-off

[2019-07-29 20:31] mairaw commented on #1756
@EliotSeattle can you help Justin? I don't know how that repo works either.

[2019-07-29 20:32] mairaw commented on #1777
@markjulmar can you take a look at this issue?

[2019-07-29 21:19] ryanmajidi commented on #1775
@dend Can you please take a look at this issue?

[2019-07-29 21:25] bodhigautam commented on #1721
@andre-ss6 The read in English toggle activation shows the content in English corresponding to what has been localized. The English content is already loaded and hidden in the backend. On activating the toggle, the hidden English content is shown and the localized content hides back. The side navigation bars don't support this property as only the conceptual content contains localized and English

[2019-07-29 21:30] ryanmajidi commented on #1772
@GrantMeStrength Can you please take a look at this issue?

[2019-07-29 21:31] ryanmajidi commented on #1773
@camsoper Can you please take a look at this issue?

[2019-07-29 21:35] CamSoper commented on #1773
@ryanmajidi It's not anything I can edit. It's generated from the `///` comments in the product code.

@mikkelhegn do you have a contact in the product team who can open an issue in their tracking system?

[2019-07-29 21:36] andre-ss6 commented on #1721
So if you select English as your preferred language in the Docs using Language picker. The next time you land on a non English page, we will ask if you always want to get redirected to your language page. If you select yes, we will ensure that the page is redirected to your preferred locale always (in your case English).

Yes, this would be great.

[2019-07-29 21:40] ryanmajidi commented on #1771
@chaoxiaole moved this issue to that repo: https://github.com/MicrosoftDocs/sql-docs/issues/2619

[2019-07-29 21:40] #1771 closed

[2019-07-29 22:12] mairaw commented on #1727
@markjulmar can you please take a look at the issues reported here?

[2019-07-29 22:14] stmoy opened #1778 "Xaml Controls Gallery not included in Samples Browser"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
Tell us where exactly a problem occurs.
https://docs.microsoft.com/en-us/samples/browse/

**Problem:**
What's wrong with the article?
The https://docs.microsoft.com/en-us/samples/browse/ sample browser does not include a link to th

[2019-07-29 22:25] mairaw commented on #1699
Tagging @mimisasouvanh as well

[2019-07-29 23:34] TinaMcN commented on #1652
@officeglobal, please take care of fixing this.  Thanks, Tina
@kefujino thank you for the feedback!

[2019-07-29 23:47] EliotSeattle commented on #1756
@Justinha @mairaw
I see that Justin updated the link in the internal repo 4 hours ago. The change will automatically go live overnight.
Eliot

[2019-07-29 23:47] Justinha commented on #1756
@mairaw I was referred to contributors guide and the link correction should appear tomorrow.

[2019-07-30 00:51] robinsh commented on #1006
#reassign @tamram

[2019-07-30 04:39] drewnoakes opened #1779 "Icons are misaligned due to incorrect background-position properties"
Icons appear incorrectly on https://docs.microsoft.com/en-gb/azure/devops/pipelines/?view=azure-devops

![image](https://user-images.githubusercontent.com/350947/62101050-642e9d00-b2d7-11e9-8b21-cba20a38d112.png)

They appear to have a `background-position` set, which offsets the icons by some percentage. However `background-repeat` is not set to `no-repeat`, so the images wrap around as seen.

**

[2019-07-30 06:51] codeanit commented on #1496
Hi,

I believe the issue to be trivial. Just adding another country to the list should not be taking this long.

I know we have our priorities but could the team, or anyone from the team take the responsibility to make the change please? I am still looking forward to creating a tech profile!

Thank you very much.

[2019-07-30 11:43] grovelli opened #1780 "Microsoft Access Anyone?"
Why isn't Access included at https://docs.microsoft.com/en-gb/samples/browse/  ?

[2019-07-30 12:24] Alexis-Notine commented on #1727
@mairaw thank you for your help :)

[2019-07-30 12:44] gulmehmet commented on #1524
I have the same issue. All the modules showing the same warning "Unable to provision Azure resources" also when I enter the portal it shows
"No subscriptions
You do not have any Azure subscriptions in the Microsoft Learn Sandbox directory. Click here to switch to another directory."
How can I reset the sandbox?
I am not able go further modules due to this.

[2019-07-30 15:18] nakst opened #1781 "CHOOSECOLOR structure is just .... completely missing"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/api/Commdlg/ns-commdlg-tagchoosecolora

**Problem:**
It doesn't exist. What happened to the documentation for this structure?

[2019-07-30 16:52] saldana commented on #1496
@jialge can you assign this to the right person? Thanks.

[2019-07-30 17:25] CeciAc commented on #1766
Hello, @HasdrubalTn
 
Thank you for your feedback.
 
Our linguistic team reviewed your linguist suggestions and accepted them. We implemented your feedback and published to the updated articles on the Docs site to the following pages https://docs.microsoft.com/fr-fr/aspnet/web-api/overview/data/using-web-api-with-entity-framework/part-3 (and in the other locales, too)

We truly appreciate your con

[2019-07-30 17:25] #1766 closed

[2019-07-30 18:37] HasdrubalTn commented on #1766
With pleasure,

Ali MSELMI

[2019-07-30 19:01] rbrayb opened #1782 "Missing Azure AD and B2C samples in docs.microsoft.com/samples"
**Link to article:**
https://docs.microsoft.com/en-us/samples/browse/

**Problem:**

A lot of the Azure AD samples here:

https://docs.microsoft.com/en-us/azure/active-directory/develop/authentication-flows-app-scenarios

aren't included.

These B2C custom policies articles aren't included:

https://github.com/azure-ad-b2c/samples

There are some missing B2C samples here:

https://docs.microsoft.c

[2019-07-30 20:42] CeciAc commented on #1690
Hello, @gallop1
 
We are following up on our previous comment. We need more information in order to be able to address your feedback. Can you please provide more detailed information and clarify your comment?
 
Kind regards,
Microsoft DOCS International Team

[2019-07-30 21:59] niswitze opened #1783 "Missing ishtml parameter from Send Grid Connector documentation"
**Link to article:**
https://docs.microsoft.com/en-us/connectors/sendgrid/#send-email-(v3)

**Problem:**
The parameter ishtml is missing from this documentation. It was present for v2 of this action and is needed to send emails as html. Before I added the parameter through the code view, the emails I sent using this action were sent as plain text and not html. I suspect the same is true for v4 as

[2019-07-30 22:20] happynewyear1 commented on #1524
Hello!
You need registre (or buy or other method) other account ,where after
register you see free subscription
this help me

вт, 30 июл. 2019 г. в 15:44, Mehmet Gul <notifications@github.com>:

[2019-07-30 23:24] gulmehmet commented on #1524
If i register new account then i cannot see my progress in my microsoft account.
I already have free account.
Also at the time of learning sandbox gives free this service.
I have finished lots of modules without problem but now i am facing problem like others and i didnt find proper answer from anybody.
instead of ignoring the problem, I am looking why this problem occurs .
Do i need to open multi

[2019-07-31 00:57] gulmehmet commented on #1524
I activate my subscription pay-as-you-go and transferred this subscription to Microsoft Learn Sandbox and still I am seeing the same error. I tried in 3 different browser and cleared the cache as well. But nothing changed.
So anybody who can address this issue?

[2019-07-31 02:14] gallop1 commented on #1690
@CeciAc Maybe I got it wrong, but your fonts are not good-looking, making me feel like a little traditional. I'm generally used to using the new song, but the pdf you downloaded feels a little traditional.
![image](https://user-images.githubusercontent.com/11223081/62178529-fa1c0380-b37b-11e9-961a-c066f24c4efd.png)

[2019-07-31 03:17] docs-product commented on #1782
Thank you for the feedback, @rbrayb - we’ll get this addressed.

[2019-07-31 03:18] docs-product commented on #1780
Thank you for the feedback @grovelli - we are working with various teams to get their samples onboarded. The Office team is engaged with us on new content, and we’ll include samples that are marked as supported and up-to-date!

[2019-07-31 03:18] #1780 closed

[2019-07-31 03:20] docs-product commented on #1778
Thank you for the feedback @stmoy - closing this issue as we are following-up internally.

[2019-07-31 03:20] #1778 closed

[2019-07-31 03:25] docs-product commented on #1770
Thank you for the feedback @SMHolck - can you please paste a link (before you navigate to it) that you get from Google or Bing, that we can take a look at?

[2019-07-31 03:27] docs-product commented on #1666
Thank you for the feedback @unpredictablegourav - this likely has something to do with you not having enough reputation in the TechNet Gallery. We recommend you submit your code contributions to one of the official Microsoft code sample repositories for a more collaborative workflow.

[2019-07-31 03:27] #1666 closed

[2019-07-31 03:28] docs-product commented on #1562
Assigning to @lindalu-MSFT for follow-up (given that this is an Office API).

[2019-07-31 03:30] docs-product commented on #719
Assigning to @mimisasouvanh as the PM driver for the .NET experience.

[2019-07-31 03:36] docs-product commented on #579
Assigning to @mimisasouvanh as the PM driving the .NET experience.

[2019-07-31 06:03] lkoppenol commented on #1777
I get the same error.

[code]

[2019-07-31 06:21] 274188A opened #1784 "Blazor tag"
**Is your feature request related to a problem? Please describe.**
add a "Blazor" tag  so we can filter for Server Side or client side blazor apps

[2019-07-31 08:09] dasMulli commented on #433
@dend I'd very much like you to reconsider.

For the repos that stamp their binaries using SourceLink, generating a link to the source from a built product is possible. This is essentially what Visual Studio now does when debugging into NuGet or framework assemblies.

This would be a very great and useful feature and could work for any API docs for products using SourceLink.

I often use this for

[2019-07-31 08:19] Burtan opened #1785 "TreeView structure links are dead"
**Link to article:**
https://docs.microsoft.com/en-us/windows/win32/controls/bumper-tree-view-control-reference-structures

**Problem:**
The TreeView structure links are dead.

[2019-07-31 08:20] dasMulli commented on #433
@VikorHofer from what I unserstand, CoreFX now also has SourceLink via Arcade?

[2019-07-31 08:50] SteveALee opened #1786 "Nothing wrong, I just wanted to say the new code samples are excellent - thank you :)"

[2019-07-31 10:43] happynewyear1 commented on #1524
this error linked to domain and mail region so you need register new worked
account (you need check it on microsoft azure (example create server) if
you can create and with subscription all is ok you can use learnx sandbox

microsoft never answer on questions..

ср, 31 июл. 2019 г. в 03:57, Mehmet Gul <notifications@github.com>:

[2019-07-31 12:13] KryCool opened #1787 "Help me fix SQLSERVER error"
![image](https://user-images.githubusercontent.com/43307723/62210591-b7cbe400-b3c6-11e9-8ec0-f53a916cfdf7.png)

**Problem:**
Image above this is issue. I had found everything on internet by content in error by all not working. I had used repair and reinstall but not effected too
So, I hope somebody can tell me something useful
Thanks for watching,

[2019-07-31 14:11] Sharparam commented on #828
Facing the same issue on this page: https://docs.microsoft.com/en-us/learn/modules/store-app-data-with-azure-blob-storage/4-create-storage-resources

 * Using incognito in Chrome does not solve the issue.
 * Changing locale does not solve the issue.
 * Changing directory in the Azure Portal does not solve the issue (the "Learn" directory does not exist since the Learning Path is unable to provisio

[2019-07-31 15:53] kylejrp opened #1788 "Razor Page Test Sample Missing"
Hey there,

The [samples announcement article](https://docs.microsoft.com/en-us/teamblog/code-samples) mentioned to create an issue for any missing samples. It looks like the Razor Pages samples are missing, or at least I can't search for them.

**Link to article:**
Here's an example article that references the samples `src/RazorPagesTestSample` and `tests/RazorPagesTestSample.Tests`:
https://docs

[2019-07-31 17:16] lafe commented on #1498
I have the same issue with German content. German is different in that the translations are done manually and that the screenshots are also switched to German. If you use the "Read in English" switch, those screenshots remain in German.

[2019-07-31 17:41] Ma-XX-oN opened #1789 "An image would make this clearer"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.
No comment section.

**Link to article:**
https://docs.microsoft.com/en-us/windows/win32/controls/em-findwordbreak

**Problem:**
Hard to visualize what the different constants mean

Would be helpful if a graphic was added.  Maybe something like:

[code]

[2019-07-31 18:22] joram-s commented on #1777
I am having the exact same issue as described by OP. Today however something strange happened.

This morning I tried again starting up the sandbox hoping it would start a session to see if this issue was solved. According to my expectation, no change, exactly same error.

However, this afternoon, I went back again for a reproduction of the issue. But now I couldn't even start the sandbox. When I c

[2019-07-31 18:28] asklar commented on #1607
The page https://docs.microsoft.com/en-us/windows/win32/controls/control-spy also references the tool and the link is broken, please fix the link too.

[2019-07-31 19:03] chipperatkins opened #1790 "System.Net.Sockets ReceiveFromAsync Remarks Incorrect"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
Tell us where exactly a problem occurs.
https://docs.microsoft.com/en-us/dotnet/api/system.net.sockets.socket.receivefromasync?view=netcore-2.2#remarks

**Problem:**
What's wrong with the article?
The remarks sections states

This

[2019-07-31 20:44] SunnyDeng commented on #1690
您好 @gallop1 ，
感谢您对我们文档质量的关注与支持！关于您提到的几个问题，请参考如下：
1. 理解您因为字体可能会产生的误解，但是这篇文档确实是简体中文文档。
2. 在PDF中确实存在字体混淆的问题，我们已经与开发部门取得联系，争取早日解决！
PDF下载是我们启用不久的新功能，我们正协力测试纠正其中可能出现的其他问题。欢迎您继续为中文文档提供宝贵意见！

[2019-08-01 04:44] cedric05 commented on #1784
i don't see any blazor samples in  microsoft samples.
it would be better if we have them.

[2019-08-01 07:32] atlerestad commented on #1785
It's the same problem with many controls:
https://docs.microsoft.com/en-us/windows/win32/controls/bumper-combobox-control-reference-structures
https://docs.microsoft.com/en-us/windows/win32/controls/bumper-button-control-reference-structures
https://docs.microsoft.com/en-us/windows/win32/controls/bumper-edit-control-reference-structures
https://docs.microsoft.com/en-us/windows/win32/controls/bumpe

[2019-08-01 08:58] SweetIceLolly opened #1791 "Dead link in the article "HDM_LAYOUT message""
**Link to article:**
https://docs.microsoft.com/en-us/windows/win32/controls/hdm-layout

**Problem:**
In the "Parameters" section: the link to "HDLAYOUT" is dead.

[2019-08-01 09:37] JonReu commented on #1777
same here. Now I also get this error message: `Unauthorized Sandbox use detected. Your sandbox has been terminated.`
Please fix it as soon as possible, thanks!

[2019-08-01 11:12] joram-s commented on #1777
Found another issue that's similar. Just for reference.
https://github.com/MicrosoftDocs/feedback/issues/1727

[2019-08-01 12:24] zchef2k opened #1792 "Need guidance on tabular results from queries."
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/rest/api/loganalytics/query/execute

**Problem:**
There seem to be some requirements to using the API for queries that aren't mentioned in the article. No matter what query I input through json (inc

[2019-08-01 18:57] ejluttmann commented on #1404
Any update on where this tool can be downloaded?

[2019-08-01 21:25] mairaw commented on #1378
@TianqiZhang @mimisasouvanh can you take a look at this issue?

[2019-08-01 21:34] mairaw commented on #1724
@ryanmajidi this probably should go to the PDF functionality owner in the engineering team. I'm also seeing similar issues in the .NET SDK

https://docs.microsoft.com/en-us/dotnet/api/system.string?view=netframework-4.8
![image](https://user-images.githubusercontent.com/12971179/62328780-daaed480-b468-11e9-98f0-b07d3b77863e.png)

@dendeli-msft who owns the PDF functionality?

[2019-08-01 22:29] ryanmajidi commented on #1791
@GrantMeStrength Can you please take a look at this issue?

[2019-08-01 22:30] ryanmajidi commented on #1789
@GrantMeStrength Can you please take a look at this issue?

[2019-08-01 22:31] SittenSpynne opened #1793 "Missing WebException from list of what HttpClient.SendMessage can throw."
**Link to article:**
https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpclient.sendasync?view=netcore-2.2#System_Net_Http_HttpClient_SendAsync_System_Net_Http_HttpRequestMessage_System_Threading_CancellationToken_

**Problem:**
I read the documentation and assumed any reasonable problem this method would encounter would throw HttpRequestException. So I wrote code to handle that gracef

[2019-08-01 22:31] ryanmajidi commented on #1786
@SteveALee Thank you for the feedback!

@dend - fyi :)

[2019-08-01 22:31] #1786 closed

[2019-08-01 22:32] ryanmajidi commented on #1785
@GrantMeStrength Can you please take a look at this issue?

[2019-08-01 22:35] #1384 closed

[2019-08-01 23:24] ManuelRin opened #1794 "Menu broken in Microsoft Edge 16 due to use of URLSearchParams"
The top menu and left navigation tree of all docs.microsoft.com pages do not load in EdgeHTML version 16 (Microsoft Edge version 41). The areas where the menus used to be remain blank.

**To Reproduce**
Steps to reproduce the behavior:
1. Either
a. Use a Windows 10 Fall Creators Update running Microsoft Edge 41 / EdgeHTML 16
b. Use a service which provides such a browser (like lambdatest.com)
2. O

[2019-08-02 09:33] JonReu commented on #1777
@markjulmar
Any news?

[2019-08-02 09:59] lkoppenol commented on #1777
Same problem on `store-app-data-with-azure-blob-storage`/`7-blob-uploads-and-downloads`
[code]
[code]

[2019-08-02 11:06] JonReu commented on #1777
@mairaw
Unfortunately we do not get any answer! Can you help to assign to an active analyst?

[2019-08-02 11:16] lkoppenol commented on #1777
i need more XP

[2019-08-02 14:55] kentjg opened #1795 "On the https://docs.microsoft.com/en-us/powerapps/ I only see the title no content"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/en-us/powerapps/'
2. It only displays the title "PowerApps Documentation" no other content
**Expected behavior**
See the PowerApps documentation.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https:

[2019-08-02 15:41] Regenhardt commented on #705
So learn has been here for a while, MVA has been gone for some time now. There is another apprentice in our company now, and there's still most of the MVA content missing from MS Learn. I'm honestly giving people the youtube playlists that saved the MVA videos. Where's the content MSFT kept talking about?

[2019-08-02 15:43] Regenhardt commented on #721
Yeah much is missing from MVA. Learning was honestly simpler there, and that is not about being used to something since I've used learn for some time now, but it doesn't get better.

[2019-08-02 15:50] Regenhardt commented on #919
Seems MSFT kinda forgot about this issue.
The MS-learn profile page also has paths/modules in prgoress. Not sure for how long, but definitely since I started using it like a month ago.

[2019-08-02 15:54] Regenhardt opened #1796 "Basic MVA courses still missing from MS learn"
So there's still virtually no MVA content in MS learn besides Azure. I understand MSFT pushing Azure to the max, but this isn't really how you get new developers to use your platform. Before, everyone who asked could have been sent to MVA "Go look for C# fundamentals" and everyone was happy. Now as a developer I'm honestly wondering if I need MS learn at all in its current form.

We seriously need

[2019-08-02 16:09] Regenhardt commented on #1463
You can add academy.microsoft.com to the list.

[2019-08-02 18:32] tbuckingham1 opened #1797 "MS Learn Sandbox - Unauthorized Sandbox use detected. Your sandbox has been terminated."
I am running into an issue with the MS Learn Sandbox environment. I am receiving the following message when attempting to create a sessions "Unauthorized Sandbox use detected. Your sandbox has been terminated." I've only seen one article that says it may be because of "abuse" of MS learn offerings .

Not sure what the issue is as I have simply been walking through the Azure Engineer course each da

[2019-08-02 20:48] #1774 closed

[2019-08-02 20:54] ryanmajidi commented on #1796
@Regenhardt Thank you for your feedback. We have added this to our customer requests.

[2019-08-02 20:54] #1796 closed

[2019-08-02 21:02] ryanmajidi commented on #1795
@kentjg Moved to that repo: https://github.com/MicrosoftDocs/powerapps-docs/issues/556

[2019-08-02 21:02] #1795 closed

[2019-08-02 21:05] ryanmajidi commented on #1794
@ManuelRin Thank you for the feedback, we have submitted this into our internal ticketing system.

[2019-08-02 21:06] #1794 closed

[2019-08-02 21:08] ryanmajidi commented on #1793
@SittenSpynne moved to that repo https://github.com/dotnet/dotnet-api-docs/issues/2920

[2019-08-02 21:08] #1793 closed

[2019-08-02 21:09] ryanmajidi commented on #1792
@rloutlaw Can you please take a look at this issue?

[2019-08-02 21:12] ryanmajidi commented on #1790
@chipperatkins moved to that repo: https://github.com/dotnet/dotnet-api-docs/issues/2922

[2019-08-02 21:12] #1790 closed

[2019-08-02 21:24] ryanmajidi commented on #1769
@SMHolck  moved to that repo: https://github.com/MicrosoftDocs/powerbi-docs/issues/1294.

[2019-08-02 21:31] ryanmajidi commented on #1767
@camer-on moved to that repo: https://github.com/MicrosoftDocs/sql-docs/issues/2646

[2019-08-02 21:31] #1767 closed

[2019-08-02 21:37] ryanmajidi commented on #1788
@kylejrp moved to that repo: https://github.com/aspnet/AspNetCore.Docs/issues/13631

[2019-08-02 21:37] #1788 closed

[2019-08-02 21:39] ryanmajidi commented on #1787
@KryCool Please contact support: https://support.microsoft.com/en-us

[2019-08-02 21:39] #1787 closed

[2019-08-02 21:43] #1769 closed

[2019-08-02 21:52] peteroupc opened #1798 "BitConverter: ToDouble, ToSingle, Int64BitsToDouble, Int32BitsToDouble"
**Link to article:**
https://docs.microsoft.com/en-us/dotnet/api/system.bitconverter.todouble?view=netstandard-2.0

**Problem:**

Mention that it might not be possible to use these methods to produce what are so-called _signaling NaN_s in x86, x64, and certain other instruction set architectures.  A _signaling NaN_ is an NaN with the most significant bit of the mantissa area clear (as opposed to a

[2019-08-02 23:52] #1368 closed

[2019-08-02 23:53] ryanmajidi commented on #1369
@pintedani Looks to be fixed now. If you are still having problems please open a new issue.

[2019-08-02 23:53] #1369 closed

[2019-08-02 23:55] ryanmajidi commented on #1370
@ethansudman thank you for this feedback. The spelling has since been fixed.

[2019-08-02 23:55] #1370 closed

[2019-08-02 23:56] ryanmajidi commented on #1372
@DajyarekunSoftware thank you for this feedback. This has been added to our internal ticketing system.

[2019-08-02 23:56] #1372 closed

[2019-08-02 23:59] #1373 closed

[2019-08-03 00:01] ryanmajidi commented on #1374
@EmmanuelDefranc Thank you for bringing this to our attention. This has since been fixed.

[2019-08-03 00:01] #1374 closed

[2019-08-03 10:13] jeremyVignelles opened #1799 "WIN32 : Wrong link in "Using Event Objects page""
**Link to article:**
https://docs.microsoft.com/en-us/windows/win32/sync/using-event-objects , 3rd paragraph:

**Problem:**
The WaitForSingleObject is linked to https://msdn.microsoft.com/en-us/library/ms685061(v=VS.85).aspx , which is the documentation for RegisterWaitForSingleObject.

The link should be replaced with https://docs.microsoft.com/en-us/windows/win32/api/synchapi/nf-synchapi-waitfor

[2019-08-03 16:36] Rick-Anderson opened #1800 "docs.microsoft.com/aspnet needs update"
**Link to article:** [docs.microsoft.com/aspnet/](https://docs.microsoft.com/aspnet/)

**Problem:**
What's wrong with the article?

ASP.NET Core is a ~new~ open-source and cross-platform .NET framework for ...

It's not new.

[2019-08-03 16:38] Rick-Anderson commented on #1800
While you're at it, consider removing

**Find Visual Studio 2015/project.json version of the documentation**

[2019-08-03 17:02] joram-s commented on #1797
Hi tbuckingham1, I (and some others) are experiencing similar issues which 'evolved' into a terminated sandbox. Take a look at the issue below.
https://github.com/MicrosoftDocs/feedback/issues/1777

[2019-08-03 22:44] KaeLL opened #1801 "The Win32 section needs small updates for VS2019 and typo fixes"
Bigger issue is: why isn't it editable? As in, why can't we at least submit pull requests? https://docs.microsoft.com/en-us/windows/win32/index

[2019-08-04 05:41] lmorar opened #1802 "Cannot start the course Build a .NET Core app for Azure Cosmos DB in Visual Studio Code"
the last Build a .NET Core app for Azure Cosmos DB in Visual Studio Code tutorial not allowed following because cannot allowed create the ML workspace:

error: <class 'azureml.exceptions._azureml_exception.WorkspaceException'>: Unable to create the workspace.
 400 Client Error: Bad Request for url: https://management.azure.com/subscriptions/78f23d9e-2d4e-4d58-8cee-c5d4073ea708/resourcegroups/Learn

[2019-08-05 05:33] kefujino commented on #1652
@TinaMcN
@OfficeGlobal

I verified that the article has been fixed.
Thank you!

[2019-08-05 07:51] juanfelipebetancur commented on #1777
Same issue here. I also get the error message "Unauthorized Sandbox use detected. Your sandbox has been terminated" for Sandbox in this site:
https://docs.microsoft.com/en-us/learn/modules/control-azure-services-with-cli/5-exercise-create-website-using-the-cli

[2019-08-05 09:53] StanislavUshakov commented on #1797
I have the same issue could you please provide any feedback regarding this.

[2019-08-05 10:42] collinstevens opened #1803 "Win32 WNDCLASS and WINDCLASSEX articles are missing"
**Describe the bug**
The WNDCLASS and WNDCLASSEX articles are returning not found for the Win32 API.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/windows/win32/winmsg/window-class-structures
2. Click on WNDCLASS or WNDCLASSEX
4. See not found error

**Expected behavior**
I expect to be able to navigate to WNDCLASS and WNDCLASSEX documentation from ht

[2019-08-05 14:36] nyko03 commented on #1777
I get the same error.
`
az group list
[
  {
    "id": "/subscriptions/1b9fe108-b941-495b-aaf6-539c16640cc3/resourceGroups/Learn-578802cc-e07b-42e6-b733-c86d6bd1769e",
    "location": "westus",
    "managedBy": null,
    "name": "Learn-578802cc-e07b-42e6-b733-c86d6bd1769e",
    "properties": {
      "provisioningState": "Succeeded"
    },
    "tags": {
      "x-created-by": "freelearning",
      "x

[2019-08-05 15:44] tbuckingham1 commented on #1797
Still no resolution on this issue

On Mon, Aug 5, 2019 at 5:53 AM Stanislav Ushakov <notifications@github.com>
wrote:

[2019-08-05 20:07] #1652 closed

[2019-08-05 20:28] mairaw commented on #1115
Duplicate of #1122

[2019-08-05 20:28] #1115 closed

[2019-08-05 20:29] mairaw commented on #1140
Duplicate of #1122

[2019-08-05 20:29] #1140 closed

[2019-08-05 20:33] adamantoise opened #1804 "Broken links in CoCreateInstance function documentation"
**Link to article:**
https://docs.microsoft.com/en-us/windows/win32/api/combaseapi/nf-combaseapi-cocreateinstance

**Problem:**
In this article, there are 4 separate links for the text "CLSCTX" that link to the URL https://docs.microsoft.com/en-us/windows/desktop/api/wtypesbase/ne-wtypesbase-tagclsctx , which is a 404.  The correct link target for these should be https://docs.microsoft.com/en-us/w

[2019-08-05 21:02] mairaw commented on #1802
@mimig1 you're listed as the author for this but you're probably not the right owner anymore. Do you have any idea who can take a look at this?

[2019-08-05 21:04] mairaw commented on #1800
Why don't you fix that @Rick-Anderson?
https://github.com/aspnet/AspNetDocs/blob/master/aspnet/index.md

[2019-08-05 21:06] sadadow commented on #1797
A recent spike in sandbox abuses has led us to issue bans to a selected number of users. If you have been incorrectly affected by this, we apologize. We are rolling out an appeals process shortly by which you will be able to re-instate your account. We thank you for your patience during this process.

[2019-08-05 21:11] sadadow commented on #1551
Thanks for submitting this feedback. Our content team is taking a look at the issue. If it is found to be a mistake, they will resolve it shortly.

[2019-08-05 21:16] mimig1 commented on #1802
@SnehaGunda - Do you own the MS learn courses for Cosmos DB now?

[2019-08-05 22:11] #1800 closed

[2019-08-06 04:46] Soruk commented on #1797
Hi,

Since yesterday i have the same issue (on Sunday I was learning a lot and I activated couples fo time the sandbox). I made a feedback using the link from the MS Learn Web Site but no confirmation received that it was created.

[2019-08-06 04:50] juanfelipebetancur commented on #1727
Same issue here. I also get the error message "Unauthorized Sandbox use detected. Your sandbox has been terminated" for Sandbox in this site:
https://docs.microsoft.com/en-us/learn/modules/manage-secrets-with-azure-key-vault/3-creating-vaults-storing-secrets

[2019-08-06 04:50] juanfelipebetancur commented on #1777
Same issue here. I also get the error message "Unauthorized Sandbox use detected. Your sandbox has been terminated" for Sandbox in this site:
https://docs.microsoft.com/en-us/learn/modules/manage-secrets-with-azure-key-vault/3-creating-vaults-storing-secrets

[2019-08-06 06:04] dmr173 opened #1805 "Completed Learning not listed in Archievements"
On Microsoft learn I completed the Azure Fundamentals learning path but it is not listed in the achievements section of my profile (same username as on github)

A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Browse all, search for Azure Fundamentals: Shown as completed
2. Click on user name and open profile, navigate to Achievements
3. che

[2019-08-06 06:06] dmr173 commented on #1805
Profile URL: https://techprofile.microsoft.com/en-us/dmr173?tab=tab-achievements

Learning path: https://docs.microsoft.com/en-us/learn/paths/azure-fundamentals/

[2019-08-06 07:30] nightcat27 commented on #1797
Hi,

Do we have a rough ETA on when this will be sorted?

[2019-08-06 08:06] rafferty commented on #880
+1 on this. More specifically, I'm hoping that I have been training using my work account, then I realize that none of my learning history is in my personal Microsoft account.

[2019-08-06 11:34] nakst commented on #1781
[TVITEM](https://docs.microsoft.com/en-us/windows/desktop/api/commctrl/ns-commctrl-tagtvitema) is also missing.

[2019-08-06 11:36] nakst commented on #1803
Possibly related to my issue, https://github.com/MicrosoftDocs/feedback/issues/1781

[2019-08-06 12:13] keiichim1975 opened #1806 "Japanese Translation is incorrect (confusing) in O365 Service Health and Continuity document"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
Tell us where exactly a problem occurs.

https://docs.microsoft.com/ja-jp/office365/servicedescriptions/office-365-platform-service-description/service-health-and-continuity

**Problem:**
What's wrong with the article?

Japanese Tr

[2019-08-06 16:36] drewbatgit commented on #1781
Thanks for reporting documentation issues. These two issues are related to the way that we name files in our new content management system, which was modified slightly since these pages were initially published. Also, in our new system, the ANSI (*A) and Unicode (*W) APIs are documented separately. The reference pages for these pages are here:

https://docs.microsoft.com/en-us/windows/win32/api/co

[2019-08-06 16:36] #1781 closed

[2019-08-06 17:10] drewbatgit commented on #1803
Hello, thanks for your feedback. This does appear to be a similar issue to [#1781](https://github.com/MicrosoftDocs/feedback/issues/1781). Again there are a few things going on. We split the ANSI (*A) and Unicode (*W) versions of these APIs into separate pages. Also, at some point during the migration to docs.microsoft.com, these pages were renamed. But it looks like the redirections from MSDN hav

[2019-08-06 17:10] #1803 closed

[2019-08-06 18:12] saldana commented on #880
@jialge and @Sampy can you reply back to the customers?

[2019-08-06 19:12] DubbySlashy opened #1807 "DAX NORM.DIST & NORM.S.DIST "probability mass function" mistake"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/dax/norm-dist-dax
https://docs.microsoft.com/en-us/dax/norm-s-dist-dax

**Problem:**
Normal distributions are continuous. The mentions of "probability mass function" should be changed to "probabilit

[2019-08-06 20:31] Ma-XX-oN opened #1808 "In at least version 2.0 of the richedit control, the cchText parameter is in bytes, not characters."
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/windows/win32/api/winuser/nc-winuser-editwordbreakproca

**Problem:**
I wrote a `Editwordbreakproca()` handler and found that, in least version 2.0 of the richedit control, the `cchText` parameter i

[2019-08-06 21:39] ryanmajidi commented on #1808
@GrantMeStrength Can you please take a look at this issue?

[2019-08-06 21:42] ryanmajidi commented on #1807
@Minewiskan Can you please take a look at this issue?

[2019-08-06 21:55] Minewiskan commented on #1807
#in-progress

[2019-08-06 21:59] DubbySlashy commented on #1807
I corrected "cumulative" to "continuous" in my original post.

[2019-08-06 22:40] ryanmajidi opened #1809 "testing github issue assigner"
testing github issue assigner

[2019-08-06 23:35] emilynwilson opened #1810 "Broken link to agree to license on ACPI Emulated Devices Table"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-08-06 23:37] emilynwilson commented on #1810
Repro:
Navigate to the Windows ACPI Emulated Devices Table documentation:
https://docs.microsoft.com/en-us/previous-versions/gg487524(v=msdn.10)

scroll down to the bottom of the license.  Notice that "I accept download" text is just text, not a link... making it impossible to actually get to the documentation.

[2019-08-06 23:50] ViktorHofer commented on #433
Sorry was on holiday. Correct, corefx has sourcelink enabled in all customer facing assemblies.

[2019-08-07 02:02] gallop1 commented on #1690
@sudeepku,@CeciAc,@SunnyDeng Do you have any rewards for feedback? like money。I look forward to it.

[2019-08-07 06:07] jhd235 opened #1811 "may be mistake: not "Windows Server 8", but "IIS 8""
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
Tell us where exactly a problem occurs.
https://docs.microsoft.com/en-us/iis/get-started/whats-new-in-iis-8/iis-80-cpu-throttling-sand-boxing-sites-and-applications
**Problem:**
What's wrong with the article?
may be mistake: not "W

[2019-08-07 06:51] nakst commented on #1781
Instead of *hoping* that search engines reindex these pages, there are a few tasks that could be done to help ease the transition:
1. Update links in other articles to point to the location of the moved pages.
2. Add redirects from the old pages to the new pages.
3. Update your own search tool in MSDN so that it puts exact article name matches at the top of the search results.

As a stop-gap, I wi

[2019-08-07 08:49] Ramzy94 opened #1812 "The sandbox for Create a virtual machine Exercise doesnt work"
The sandbox for Create a virtual machine Exercise doesn't work in the training material for Azure Fundamentals

[Link to Issue](https://docs.microsoft.com/en-us/learn/modules/welcome-to-azure/4-create-a-vm?pivots=linux-cloud)

**Problem:**
The Sandbox environment never starts up, making it impossible to practice things like creating a virtual machine.

[2019-08-07 10:53] jasonepperly opened #1813 "Need the remarks section from IWRdsProtocolConnection interface added to the IWTSProtocolConnection page"
Content we need added:

Remarks
To avoid a possible deadlock when calling any of the methods on this interface, you should not make any function or method calls that will directly or indirectly result in a Remote Desktop Services API being called. If you need to make any outbound call, you should start a new thread and make the outbound call from the new thread.

**Link to article:**
The good arti

[2019-08-07 17:29] HosseinArabbeigi commented on #906
Same problem

[2019-08-07 20:02] krishty commented on #1757
Same issue with TransactNamedPipe function (https://docs.microsoft.com/en-us/windows/win32/api/namedpipeapi/nf-namedpipeapi-transactnamedpipe), twice in the Remarks section. The Windows 10, version 1709 hint at the end gets it *almost* right, a backslash is missing.

Refer to ConnectNamedPipe function (https://docs.microsoft.com/en-us/windows/win32/api/namedpipeapi/nf-namedpipeapi-connectnamedpipe

[2019-08-07 20:13] BillHoover opened #1814 "Tables formatting broken in socket options page"
The tables in this article don't render correctly. I tried Chrome, Edge, and IE.

https://docs.microsoft.com/en-us/windows/win32/winsock/using-so-reuseaddr-and-so-exclusiveaddruse

[2019-08-07 20:49] adrianlaraperez88 opened #1815 "Error Create carousel Post"
LinkedIn Api:

Error when trying to create a post:
 com.linkedin.publishing.util.common.ResponseException: One or more of the assets is not owned by the author. All assets must be owned by the author

[2019-08-07 22:23] mairaw commented on #1814
@GrantMeStrength can you take a look at this feedback?

[2019-08-08 01:18] QuantumADK commented on #1815
Adk.nano

[2019-08-08 04:10] tristanlbailey commented on #1595
Still waiting for a response. Absolutely useless.

[2019-08-08 04:47] irfanIshakhan commented on #906
Hi @HosseinArabbeigi

Please go through the comments on this article
https://blogs.msdn.microsoft.com/appconsult/2018/10/05/call-remote-assist-from-your-hololens-app/

[2019-08-08 07:18] djaus2 opened #1816 "Small Typo On IOT Hub Dox"
**Describe the bug**
Need to change one word  to on

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.devices.device?view=azure-dotnet'
2. Click on '....'
3. Scroll down to 'Properties'
4. Look at Capabilities

**Expected behavior**
Capabilities that are enabled one the device
Should read
Capabilities that are enabled on the de

[2019-08-08 09:04] acorbos commented on #1797
I have the same problem and waiting impaciently to be able to continue with the learn path.

[2019-08-08 10:28] joram-s commented on #1777
@mairaw @markjulmar

Hi,

I fully understand and appreciate that Microsoft developed and published the new learning journey, free of charge, to accommodate an interested public willing to learn more about Microsoft technology and its applications.

I apply myself to learn and get certified by putting in the time, money and effort to take full advantage. However, I have put my learning journey on h

[2019-08-08 12:51] adrianlaraperez88 commented on #1815
Excuse me i didn't get it.

[2019-08-08 14:08] HosseinArabbeigi commented on #906
Thanks for your response @irfanIshakhan, i have imported sample code namespaces but still doesn't work.

[2019-08-08 15:19] SantoshKumarSingh11 opened #1817 "BCryptDecrypt"
I am trying to develop a dll in C++ that performs DES enc/dec using Bcrypt.h. BCryptEncrypt() is working fine for me but BCryptDecrypt() is causing at certain times.

for example for single DES decryption if I use '4064DAD9640DA11A' as 8 byte DES key component, BCryptDecrypt() correctly decrypts an 16 byte cipher text and returns 8 byte of plain text. however if I use 'CB54F4E5F1947CAD' as 8 byte

[2019-08-08 15:55] Regenhardt opened #1818 "Bing Search Api response read incorrectly -> exception"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/learn/modules/build-internet-connected-windows10-apps/1-building-app-that-uses-cloud-service?pivots=uwp

**Problem:**
The json response of the bing search api is being read incorrectly and therefore

[2019-08-08 16:13] dlepow commented on #1560
@rphilipak - We've noted your feedback and will close this issue for now. I agree with many of your observations about opportunities to improve the doc experience. If you have further questions or feedback about HPC Pack, please visit the [Windows HPC forum](https://social.microsoft.com/Forums/en-US/home?category=windowshpc) or email the team at hpcpack@microsoft.com. Thank you!
#please-close

[2019-08-08 17:15] Minewiskan commented on #1807
@DubbySlashy  - You are correct. The articles have been updated. Thanks for pointing this out!
#please-close

[2019-08-08 18:57] DubbySlashy commented on #1807
Thank you for fixing this!

[2019-08-08 18:57] #1807 closed

[2019-08-08 20:29] deton24 opened #1819 "Infinite body box load untill I tick PC version in Chrome Mobile"
I tried to post something on TechNet forums, but I could only write the topic title, and I couldn't write any text below, because it was showing loop of loading icon.
But when I clicked to show the PC version of the site in Chrome options, it worked normally, and it looks like even page doesn't look different at all at this point.

Android. Chrome 75.0.3770.143 (quite recent version from few days

[2019-08-08 22:01] Ma-XX-oN opened #1820 "links to structure documentation are dead"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/windows/win32/controls/bumper-rich-edit-control-reference-structures

And possibly many more structure pages on that site.

**Problem:**
All the links to structures are dead links.  Sometimes gives

[2019-08-08 23:38] mairaw commented on #1820
@jwmsft can you look at this feedback?

[2019-08-09 00:33] EliotSeattle commented on #1404
Hi All.

I apologize profusely for the delay. I had a string of issues uploading the files. But I persisted, and they can be downloaded at [https://download.microsoft.com/download/C/8/7/c8729e82-feca-482b-801d-f65979615003/digiinfo-19h1.zip](https://download.microsoft.com/download/C/8/7/c8729e82-feca-482b-801d-f65979615003/digiinfo-19h1.zip). I have updated the link in the en-us version of the ref

[2019-08-09 00:36] EliotSeattle commented on #1404
@MicrosoftDocs/docs-help-pr-admin

This can be closed.

[2019-08-09 00:37] #1404 closed

[2019-08-09 03:16] norlesh commented on #1214
Adding an extra voice to the issue... Who deletes docs when the API is still being distributed anyway???

[2019-08-09 05:07] irfanIshakhan commented on #906
Unity is not handling the situation when there are more then one viop application installed in the hololens. Protocol "ms-voip-video" is used by other application like Skype. Try keeping only one voip application in device and launch again.

I have created an xamarin application to launch Remote Assist, here it will prompt you a list of voip application installed to choose.

[2019-08-09 07:15] joram-s commented on #1777
So after some more digging, apparently another team (or same team) is working on this issue.

Microsoft has so many channels for communication!!
This is a twitter feed from the Docs team. https://twitter.com/docsmsft

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">⚠ Learn Sandbox update (1/2):<br><br>Over the last few weeks, Learn began to experience large-scale, persisten

[2019-08-09 07:49] wesinator commented on #1507
also in https://docs.microsoft.com/en-us/security-updates/securitybulletins/2014/ms14-068 , markdown formatting in the table is not rendered

[2019-08-09 09:37] SolsticeProjekt opened #1821 "Link to PROCESSENTRY32 points to a 404 with options."
The respective article lacks a comment function. :)

**Link to article:**
https://docs.microsoft.com/en-us/windows/win32/api/tlhelp32/nf-tlhelp32-process32first

**Problem:**
"A pointer to a PROCESSENTRY32 structure. It contains process information such as the name of the executable file, the process identifier, and the process identifier of the parent process."

The link "PROCESSENTRY32" points t

[2019-08-09 13:19] Zailef commented on #1797
FYI there's been an update from MS on Twitter regarding this issue. Looks like we'll get access to some of the affected azure learning services as early as next week.

Here's the [Tweet](https://twitter.com/docsmsft/status/1159615738568564737)

[2019-08-09 14:47] MikkelHegn commented on #1773
@peterpogorski might be able to help

[2019-08-09 17:03] dlepow commented on #1560
#please-close

[2019-08-09 17:46] RobeDevOps opened #1822 "You have activated the Sandbox too many times today, please come back and try again tomorrow."
**Describe the bug**
I was doing several multiple training on the same day a few days ago and I am still getting the message **_You have activated the Sandbox too many times today, please come back and try again tomorrow._**  So I am not able to work on any other training that requires sandbox subscription.

**Expected behavior**
Able to use the sandbox in other training that requires this or in o

[2019-08-09 18:41] sudhir007rawat commented on #1672
Same issue again.

[2019-08-09 19:17] mairaw commented on #1672
Some information regarding this can be found at https://twitter.com/docsmsft/status/1159615738568564737

[2019-08-09 20:37] g0pinath commented on #1339
Same problem here, its making it difficult for reporting.
We cant go back to AzureRM module now, all other workbooks are now in Az.

[2019-08-09 22:37] #1560 closed

[2019-08-10 00:00] theres-waldo opened #1823 "Reference page for TOUCHINPUT structure gives a 404"
**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/api/winuser/ns-winuser-tagtouchinput

(As linked to from https://docs.microsoft.com/en-us/windows/win32/wintouch/structures and numerous other places.)

**Problem:**
The article is missing (gives a 404).

This is an important documentation page as it lists the fields of `TOUCHINPUT` and their types.

[2019-08-10 00:05] mairaw commented on #1823
@Karl-Bridge-Microsoft can you please take a look at this issue?

[2019-08-10 00:13] mairaw commented on #1801
@GrantMeStrength can you take a look at this feedback?

[2019-08-10 00:16] theres-waldo commented on #1823
`TOUCHINPUT` is not the only affected structure. For example, RID_DEVICE_INFO also gives a 404:

https://docs.microsoft.com/en-us/windows/desktop/api/winuser/ns-winuser-tagrid_device_info

[2019-08-10 01:36] drewbatgit commented on #1823
Thanks for providing feedback on the docs. There is a known technical issue across the docs that is causing broken links for many structures. While we are working on fixing the issue, please note that you can get to the target API by removing the last part of the URL, which will direct you to the page for the header that contains the API. We apologize for this disruption.

[2019-08-10 01:36] #1823 closed

[2019-08-10 01:50] theres-waldo commented on #1823
Thanks! I can confirm that the mentioned workaround allows me to reach the correct URLs, which are (for the mentioned examples):

https://docs.microsoft.com/en-us/windows/win32/api/winuser/ns-winuser-touchinput
https://docs.microsoft.com/en-us/windows/win32/api/winuser/ns-winuser-rid_device_info

[2019-08-10 09:43] svick opened #1824 "Current type not on the same line in Inheritance as base types"
**Describe the bug**

In the Inheritance section, the current type is moved down, relative to its base types.

**To Reproduce**

1. Go to  [`ArgumentException`](https://docs.microsoft.com/en-us/dotnet/api/system.argumentexception).
2. Look at the Inheritance section.

**Expected behavior**

All types are on the same line.

**Screenshots**

![](https://user-images.githubusercontent.com/287848/62820

[2019-08-10 10:18] ahmad2smile opened #1825 "Easier access to Release Notes and Github Repo"
**Is your feature request related to a problem? Please describe.**
I already an App (My Portfolio) in Blazor with Core 3 Preview, It's few months old. So today I was looking to upgrade it and find the new version of Blazor and check the Release Notes also maybe Upgrade guide. But on main [Blazor](https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor) Page there is no mention of current version

[2019-08-11 01:07] peteroupc commented on #1798
Moved to dotnet/dotnet-api-docs#2977 .

[2019-08-11 01:07] #1798 closed

[2019-08-11 04:20] darnley commented on #1672
@ctkano, I guess it's why you was (or are) not able to access the sandbox through Microsoft Learn.

[2019-08-11 06:58] chanmmn opened #1826 "404 when click to Edit on the Multidimensional Modeling (Adventure Works Tutorial)"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/analysis-services/multidimensional-tutorial/multidimensional-modeling-adventure-works-tutorial?view=sql-server-2017

**Problem:**
After signing in and click on the Edit button. It return 404 page no

[2019-08-12 01:34] g0pinath commented on #1339
James - I ended up installing AzureAD module and I could use this cmdlet with Az module.

I think this command wasnt a part of AzureRm module to start with so may not come at all in Az.

https://docs.microsoft.com/en-us/powershell/module/azuread/get-azureadapplicationowner?view=azureadps-2.0 module says AzureAD

I agree with your point thoug, why not et-AzADApplicationOwner (Az.Accounts module) cm

[2019-08-12 07:17] JamesDLD commented on #1339
Hello @g0pinath
indeed both commands weren't part of the AzureRm module but as Get-AzADApplication became part of the Az module I am asking to go to the end of reasoning and publish the command **Get-AzADApplicationOwner**.

[2019-08-12 09:16] LumenAusf opened #1827 "Can't select county for learn account"
I live in Belarus, but I can’t choose her because she is not on the list.
![image](https://user-images.githubusercontent.com/22352159/62855454-f765ca80-bcfa-11e9-9e7d-138f1eb6fad8.png)

[2019-08-12 15:12] jamalkhan opened #1828 "Link Multiple Email Addresses with Microsoft Docs / Learn"
The Salesforce Trailhead site allows you to bind multiple email addresses to your account so you can have your personal email + your work email or more bound to the same account. This allows your certifications and points to carry with you from Job to Job. The Microsoft Docs Learning site should also implement this.

[2019-08-12 19:14] nvangorder opened #1829 "Space Missing"
Two bullet points in https://docs.microsoft.com/en-us/sql/integration-services/install-windows/install-integration-services?view=sql-server-2017 are missing spaces.

You can install SQL **ServerIntegration** Services in the following configurations:

You can install SQL **ServerIntegration** Services on a computer that has no previous instances of SQL Server.

[2019-08-12 19:26] mairaw commented on #1829
Thanks @nvangorder for your feedback. I've opened a pull request to fix this: https://github.com/MicrosoftDocs/sql-docs/pull/2714

[2019-08-12 21:59] drewbatgit commented on #1820
Thanks for reporting this. This is a known issue in which an update to the docs on 7/30 caused links to structures throughout the documentation to be broken. We are actively working on fixing all broken links this issue has caused as soon as possible. I apologize for the inconvenience.

[2019-08-12 21:59] #1820 closed

[2019-08-12 22:26] mairaw commented on #1826
@Minewiskan I've opened a PR to turn off editing for those articles since the content sits inside a private repo. Please take a look.

[2019-08-12 22:28] mairaw commented on #1825
@rowanmiller @danroth27 can you please take a look at this feedback about finding the Blazor release notes?

[2019-08-12 23:12] mairaw commented on #1700
I'm closing as duplicate of #72

[2019-08-12 23:12] #1700 closed

[2019-08-13 04:59] danroth27 commented on #1825
Blazor is considered part of ASP.NET Core, so the Blazor release notes with preview to preview migration steps are included with the ASP.NET Core 3.0 preview announcement blog posts. We don't currently have separate release notes from these blog posts, which is admittedly problematic, as they are difficult to reference in a formal way.

@glennc @Pilchie

[2019-08-13 05:00] danroth27 commented on #1825
There is a link to the Blazor source code on https://blazor.net, although it is not part of the header:

![image](https://user-images.githubusercontent.com/1874516/62916286-00838580-bd55-11e9-9185-5bd4842edc1a.png)

[2019-08-13 05:34] ahmad2smile commented on #1825
@danroth27 I personally really like the fact Blazor is part of ASP.NET Core, But for a person who is coming back to dotnet after a while (like me) or someone who is coming from somewhere else, fresh wanting to try out some new goodies.

I think a clear reference to these things for individual products would be really helpful and is somewhat expected, being the norm everywhere else (somewhat 😃 ).

[2019-08-13 06:29] milivojm opened #1830 "OWIN classes missing"
It would be useful to add documentation for OWIN related classes like IAppBuilder, StartupOptions etc.

[2019-08-13 07:28] mcurko commented on #1797
This is a different issue. On one side they stopped some sandboxes, there you have an error of type "temporarily unavailable" or similar; on the other side they banned some users (like me) because they suspect abuse. My "abuse" was to have passed a quite large number od learning exercises recently. Maybe MS should use their own Azure AI to make the difference between abusers and regular learners?

[2019-08-13 17:27] PerriNelson opened #1831 "Azure DevOps REST API Documentation for Graph Users is missing"
Regardless of which version of the API, clicking on any links under Graph > Users on the site https://docs.microsoft.com/en-us/rest/api/azure/devops/ results in an HTTP 404. Further, clicking on the search links provided also returns an HTTP 404.

[2019-08-13 17:29] PerriNelson commented on #1831
![404 on users](https://user-images.githubusercontent.com/10645886/62963128-a10d9000-bdbd-11e9-96b5-97beb3315aae.gif)

[2019-08-13 17:38] mairaw commented on #1831
@elbatk can you please take a look? I can repro this.

[2019-08-13 17:40] elbatk commented on #1831
Thanks @mairaw and @PerriNelson , adding @wnjenkin to take a look since I moved over to Azure Artifacts :)

[2019-08-13 17:42] mairaw commented on #1831
Let's have the metadata updated then 😉

[2019-08-13 18:08] Sampy commented on #880
As Sandra said, this is on our road map to allow merging of two existing accounts and all of their learning history. Sooner on our road map is the ability to have two identities (for example a personal Microsoft Account and an organizational AAD account) linked to a single profile on Docs. This first feature will only allow adding identities that aren't already mapped to a profile, however. If you

[2019-08-13 20:56] AdamJMiles opened #1832 "DirectXMath pages display incorrect formatting"
https://docs.microsoft.com/en-us/windows/win32/api/directxcollision/ns-directxcollision-boundingbox
https://docs.microsoft.com/en-us/windows/win32/api/directxcollision/ns-directxcollision-boundingfrustum
https://docs.microsoft.com/en-us/windows/win32/api/directxcollision/ns-directxcollision-boundingorientedbox
https://docs.microsoft.com/en-us/windows/win32/api/directxcollision/ns-directxcollision-

[2019-08-13 21:30] mairaw commented on #1179
@kexugit @ryanmajidi can you take a look at this issue? Not sure if perhaps the archived version shouldn't be indexed in these cases?

@ColinCampbellCCL I know that by design the Recommend version button only takes you to the homepage of the docs for the latest version, not to the newer version of that page.

[2019-08-13 22:06] ColinCampbellCCL commented on #1179
Thanks @mairaw. Sadly it doesn't even take you the same area, and that is probably the main cause of frustration, given how challenging it is to navigate MS documentation. Thankfully, it's getting better.

To get from where I was, from the destination "recommended version" page, is not easily discoverable - I'm not even sure I've ever been able to do it, in any of the times I've clicked that butto

[2019-08-14 02:49] kchyn-bay commented on #1822
I ran into the same issue and hasn't been able to complete materials for the past week, please advise.

[2019-08-14 06:35] Frosthage commented on #1822
Ran into the same issue as well.

[2019-08-14 07:28] Frosthage commented on #1822
https://twitter.com/docsmsft/status/1159615738568564737

I guess you can close the issue

[2019-08-14 07:59] StefanSchroeder opened #1833 "Broken link"
On page

https://docs.microsoft.com/de-de/windows-hardware/manufacture/desktop/iot-ent-get-the-tools-you-need

the link

https://go.microsoft.com/fwlink/p/?linkid=2069623

does not work.

It is anchored in

"In order to start your journey in manufacturing with Windows 10 IoT Enterprise, you'll need to reach out to a distributor from this list."

[2019-08-14 11:46] RobeDevOps commented on #1822
Closing the issue cauz they are working on it and I know now the reason. Thank you @Frosthage

[2019-08-14 11:47] #1822 closed

[2019-08-14 13:14] AMarvosh opened #1834 "AD LDS Overview Article Stale"
A new article hasn't been created to replace the below.

https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2012-R2-and-2012/hh831593(v=ws.11)

Now that Windows Server 2019 is released users should be aware that AD LDS (Active Directory Lightweight Directory Services) is supported in Windows Server 2019.

[2019-08-14 14:01] svick opened #1835 "Improve placement of word breaks in API reference tables"
**Is your feature request related to a problem? Please describe.**

Currently, in member listing tables in API reference pages, a line break can happen when there is whitespace (as usual), but also within CamelCase names, thanks to insertion of `<wbr>` tags.

E.g. in the page for [`Task`](https://docs.microsoft.com/en-us/dotnet/api/system.threading.tasks.task?view=netframework-4.7#methods), the si

[2019-08-14 15:58] MythreyaK opened #1836 "Slight CSS bug"
**Describe the bug**

CSS for the border is broken, as shown

![image](https://user-images.githubusercontent.com/26112391/63035635-1e79f300-bed9-11e9-82d2-7e21ed2770a4.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [this page](https://docs.microsoft.com/en-us/aspnet/core/performance/caching/distributed?view=aspnetcore-2.2#feedback)
2. Scroll down to feedback
3. Expand feedback it

[2019-08-14 17:20] mijacobs commented on #1594
Is this the page you're looking for?
https://docs.microsoft.com/en-us/windows/win32/api/processenv/nf-processenv-expandenvironmentstringsa

[2019-08-14 17:21] mijacobs commented on #1594
Here's the URL that's broken:
https://docs.microsoft.com/en-us/windows/win32/api/processenv/_shell_expandenvironmentstringsforuser

[2019-08-14 17:23] mijacobs commented on #1594
I think these are the URLs you're looking for:
https://docs.microsoft.com/en-us/windows/win32/api/userenv/nf-userenv-expandenvironmentstringsforuserw
https://docs.microsoft.com/en-us/windows/win32/api/userenv/nf-userenv-expandenvironmentstringsforusera

[2019-08-15 04:02] toneshelby commented on #1833
On page: https://docs.microsoft.com/en-us/rest/api/power-bi/
Under Rest Operation Groups, last link titled Users is broken.

[2019-08-15 04:12] mairaw commented on #1836
@adkinn can you take a look?

[2019-08-15 04:14] mairaw commented on #1835
Thanks @svick. @adkinn @TianqiZhang can you take a look at this feedback? where in the pipeline is the wbr generated?

[2019-08-15 04:15] mairaw commented on #1831
@rloutlaw do you know who owns this?

[2019-08-15 04:17] mairaw commented on #1833
Thanks for your feedback @StefanSchroeder. @eliotgra can you look at this feedback?

@toneshelby that issue was reported here already: #1831. Better to track different broken links separate. But thanks for letting us know!

[2019-08-15 06:52] LKari opened #1837 "TechNet Flash newsletter subscribe page doesn't work"
**Subscribe**- and **Sign up and customize your news to stay informed automatically.** -links in https://technet.microsoft.com/en-us/cc543196.aspx leads to error "An unknown error occurred while processing your request. This is most likely due to a connection failure. Please try again.

R10EXW-c09556bb-0711-475c-b194-141039cd2228 "

[2019-08-15 07:28] svick commented on #1835
@mairaw

As far as I can tell, it's in _themes/docs.theme/master/en-us/_themes/src/text-formatting.ts.

[2019-08-15 11:17] namrog84 commented on #1594
@mijacobs  those look like the right pages to me.

The link is still broken on a few different sites though. e.g.  https://msdn.microsoft.com/en-us/library/ms724265(v=VS.85).aspx
"use the _**ExpandEnvironmentStringsForUser**_ function."

[2019-08-15 16:09] adkinn commented on #1835
@mairaw @svick this is good feedback and should be added to our DevOps as a Customer Suggestion. We are about to start planning a large revamp to Reference page styling and this feedback could be incorporated.

/cc @TianqiZhang @rloutlaw @dend

[2019-08-15 16:22] adkinn commented on #1836
Thanks for the report, we'll investigate!

[2019-08-15 16:59] jsribar opened #1838 "Incorrect OID for X.509 Enhance Key Usage extension"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.
There is no comment section!

**Link to article:**
https://docs.microsoft.com/en-us/windows/win32/seccertenroll/about-version-3-extensions

**Problem:**
OID for Enhanced Key Usage(2.5.29.46) is incorrect. It should be (2.5.29.37) (cf. http://oidref.com/

[2019-08-15 17:15] AndyWu7623 opened #1839 "Promoto sku no longer supported"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
- https://docs.microsoft.com/en-us/azure/templates/microsoft.containerservice/2019-06-01/managedclusters
- https://docs.microsoft.com/en-us/rest/api/aks/managedclusters/listbyresourcegroup

**Problem:**
What's wrong with the articl

[2019-08-15 17:27] mijacobs commented on #1594
@namrog84 I fixed the broken link on https://msdn.microsoft.com/en-us/library/ms724265(v=VS.85).aspx

[2019-08-15 18:53] jsribar opened #1840 "Incorrect OIDs for X.509 Basic Constraints and Authority Key Identifier extensions"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.
There is no comment section on the page!

**Link to article:**
https://docs.microsoft.com/en-us/windows/win32/seccertenroll/about-version-3-extensions

**Problem:**
1. OID for `Basic Constraints(2.5.29.35)` is incorrect. It should be `(2.5.29.19)` (cf.

[2019-08-15 18:55] GrantMeStrength commented on #1619
Investigating.

[2019-08-15 18:58] GrantMeStrength commented on #1610
Assigned to writer that owns the area.

[2019-08-15 18:59] GrantMeStrength commented on #1609
Assigned to writer than owns the area.

[2019-08-15 19:07] GrantMeStrength commented on #1607
There are plans to make ControlSpy available again, probably as a sample.

[2019-08-15 19:07] #1607 closed

[2019-08-15 19:15] asklar commented on #1607
@GrantMeStrength - Please keep this issue open until the links in the pages above are updated

[2019-08-15 19:49] GrantMeStrength commented on #1269
Assigned to correct writer.

[2019-08-15 19:58] GrantMeStrength commented on #1814
Assigned to correct writer.

[2019-08-15 20:03] GrantMeStrength commented on #1801
Hi KaeLL. The Win32 section does not _currently_ support PRs. That'll change later this month.
Thank you for your feedback!

is this the typo you refer to?

_Navigate the full Win32 API index for developing desktop and server applications Windows 10 and earlier versions._

I've asked the writer who owns the page to check it.

[2019-08-15 20:13] GrantMeStrength commented on #1596
The extra strings have been injected due to a bug in our documentation publishing pipeline. A big has been filed against the engineering team. Thanks for bringing this to our attention!

[2019-08-15 20:13] #1596 closed

[2019-08-15 20:15] GrantMeStrength commented on #1597
Correction has been submitted. Thank you.

[2019-08-15 20:15] #1597 closed

[2019-08-15 20:19] GrantMeStrength commented on #1577
Assigned to content owner, thanks.

[2019-08-15 20:23] GrantMeStrength commented on #1572
Hi -

I think IMAGE_DIRECTORY_ENTRY_RESOURCE is correct, as it's referenced https://docs.microsoft.com/en-us/windows/win32/api/dbghelp/nf-dbghelp-imagedirectoryentrytodata

[2019-08-15 20:41] GrantMeStrength commented on #1567
Thanks for bringing this to our attention. Looks like it's quite widespread. Our top people are working on a fix!

[2019-08-15 21:21] mcleanbyron commented on #1801
Thanks for opening this issue, KaeLL. I'm in the process of fixing the typo mentioned in the previous comment (adding the missing "for" before "Windows 10"). Did you have other specific issues/feedback on the https://docs.microsoft.com/en-us/windows/win32/index page?

[2019-08-15 22:05] GrantMeStrength commented on #1527
Assigned to the content owner, thank you!

[2019-08-15 22:05] #1527 closed

[2019-08-15 22:07] GrantMeStrength commented on #1514
Links have been corrected, thank you.

[2019-08-15 22:07] #1514 closed

[2019-08-15 22:09] GrantMeStrength commented on #1492
This is correct - both values are valid.

[2019-08-15 22:09] #1492 closed

[2019-08-15 22:14] rootsmusic opened #1841 "[Question] https://techprofile.microsoft.com/"
How can I contact help regarding my profile?  Thanks.

[2019-08-15 22:16] GrantMeStrength commented on #1485
Correction submitted. Quite amusing given the actual definition of "pixilated" :-)

[2019-08-15 22:16] #1485 closed

[2019-08-15 22:16] mairaw commented on #1492
I think the problem the customer is reporting here is that both SW_SHOWMAXIMIZED and SW_MAXIMIZE show the value 3. One should be different no?

[2019-08-15 22:17] GrantMeStrength commented on #1482
Assigned to the correct content owner.

[2019-08-15 22:32] GrantMeStrength commented on #1481
All links to CreateWaitableTimer lead to a 404. Perhaps as CreateWaitableTimer also exists as CreateWaitableTimerExt and other functions? Seems a systemic issue, so assigning to Drew who knows all about this kind of thing. Thanks for reporting!

[2019-08-15 22:59] mairaw commented on #1840
@GrantMeStrength can you please take a look?

[2019-08-16 01:18] DanteMustCode opened #1843 "Microsoft Learn: Returning to Profile gets a CORS error"
**Describe the bug**
When a user navigates from **Profile** and back, **Profile** does not fetch the data correctly.

**To Reproduce**
* Go to **Microsoft Learn** > **Profile**
* In **In progress** > **Modules**, click a module to navigate to the page for the module
* Click **Back** of the browser:
    * the page is rendered without any user data
    * a CORS error appears in the console

**Expect

[2019-08-16 02:45] juyama opened #1844 "Lack of documentation about Blob error codes"
"BlobImmutableDueToPolicy" and "BlobImmutableDueToLegalHold" that occurs when delete immutable blob  are not listed on following doc.
https://docs.microsoft.com/en-us/rest/api/storageservices/blob-service-error-codes

[2019-08-16 08:50] asklar opened #1845 "MIDLRT /winmd option link redirects to the wrong page"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/windows/win32/midl/midlrt-and-windows-runtime-components

**Problem:**
The /winmd option links to the page for the /metadata_dir option instead of the winmd option page: https://docs.microsoft.com/e

[2019-08-16 10:01] hallazzang commented on #1572
@GrantMeStrength  I guess IMAGE_DIRECTORY_ENTRY_RESOURCE is just a constant, as mentioned as:

But you can find actual structure, `IMAGE_RESOURCE_DIRECTORY_ENTRY` in [this article from Microsoft Docs](https://docs.microsoft.com/en-us/previous-versions/ms809762(v=msdn.10)#pe-file-resources) as mentioned as:

[2019-08-16 14:04] KaeLL commented on #1801
Good and you're welcome.

Not particularly. There are a few more in the rest of the tutorial, and the 1st Module 1 example is slightly different from the default one in VS2019 when you create a Win32 Desktop App project. All in all, just small things that PR are a perfect way of addressing.

Thanks.

I've gone through only the Getting Started with Win32 and C++ part, so no feedback on the rest so

[2019-08-16 15:55] namrog84 commented on #1594
Awesome! Thank you!

[2019-08-16 16:52] mcleanbyron commented on #1801
Thanks for the additional info. Could you please specify the URL of the tutorial you're referring to?

[2019-08-16 18:18] marcan2020 opened #1846 "Missing information"
**Link to article:**
https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.commands.management.storage.models.psnetworkruleset.defaultaction?view=azurerm-ps

**Problem:**
Missing the fields value section for the enum DefaultAction.
It should be like this one: https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.storage.models.defaultaction?view=azure-dotnet

[2019-08-16 19:06] ClaudioShima opened #1847 "Microsoft TechNet - 404 - Page not found"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Google Search
2. Search for "Microsoft Tech Net"
3. Select the first link
4. See error

[2019-08-16 19:09] mairaw commented on #1846
Hi @marcan2020! The link to the first article is not an enum, it's a property, so it's by design that it doesn't list the fields. However, I don't know why the link to the enum type is not active.

@rloutlaw @dendeli-msft do you know who owns this reference that could help out? ms.author is set to Den.

[2019-08-16 19:10] mairaw commented on #1847
Which error do you get @ClaudioShima? I didn't see any error when I did that.

[2019-08-16 19:56] ClaudioShima commented on #1847
[https://docs.microsoft.com/en-us/previous-versions/msdn10/ms376608(v=msdn.10)](url)

[2019-08-16 20:01] mairaw commented on #1847
Weird. The first link for me is https://technet.microsoft.com/en-us/ms376608.aspx, which opens fine for me.

[2019-08-16 21:09] KaeLL commented on #1801
https://docs.microsoft.com/en-us/windows/win32/learnwin32/window-messages
-> Last code example is tagged as 'syntax', not C++

https://docs.microsoft.com/en-us/windows/win32/learnwin32/painting-the-window
-> First code example is broken in 2 boxes.

[2019-08-16 21:13] GrantMeStrength commented on #1298
Now fixed.

[2019-08-16 21:13] #1298 closed

[2019-08-16 21:14] #1335 closed

[2019-08-16 21:28] AndyWu7623 commented on #1839
found this was due to the bug that missing promo sku on the list:
- https://github.com/Azure/aks-engine/pull/1752
- https://github.com/Azure/AKS/issues/937

[2019-08-16 22:24] GrantMeStrength commented on #1351
Turns out we were rendering slashes incorrectly in many places. Thanks for the heads up! Changes on the way.

[2019-08-16 22:24] #1351 closed

[2019-08-17 02:11] spottedmahn commented on #687
hello 👋 - any updates?  thanks!

[2019-08-17 02:13] spottedmahn commented on #688
hello 👋 - any upates?

[2019-08-17 02:30] mairaw commented on #688
@docs-product do we have a tracking work item for this?

[2019-08-17 05:05] saf-itpro opened #1848 "Example mentioned in the Remarks section is missing in the article"
Second sentence of the **Remarks** section of the article reads:

But there is no such example (or any example for that matter) in the entire article.

[2019-08-19 08:47] hepiet opened #1849 "App Service Environment Suspend Feature no longer supported"
**Link to article:**
https://docs.microsoft.com/en-us/rest/api/appservice/appserviceenvironments/suspend

**Problem:**
This operation is no longer supported on App Service Environments.
Could you please remove this link as feature is no longer supported?

[2019-08-19 13:54] MyITGuy opened #1850 "'Sysmon 5.2.0.0 - Deployment issues via SCCM' thread deleted"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**. -- Not possible as the thread appears to have been deleted.

**Link to article:**
Tell us where exactly a problem occurs. -- https://social.technet.microsoft.com/Forums/en-US/miscutils/thread/a89efd1d-878d-4b75-ae8e-6daefbcec6cc/

**Problem:**
What's wr

[2019-08-19 17:19] #1594 closed

[2019-08-19 17:32] GrantMeStrength commented on #1580
Assigned to writer

[2019-08-19 17:43] GrantMeStrength commented on #1578
Assigned to hardware team.

[2019-08-19 17:55] GrantMeStrength commented on #1576
Thanks! Correction has been submitted.

[2019-08-19 17:55] #1576 closed

[2019-08-19 18:24] Ma-XX-oN commented on #1789
I wrote a test app [here](https://github.com/Ma-XX-oN/RichEditDblClkTest.git) and that gave me the following results for the default handler:

![image](https://user-images.githubusercontent.com/10625935/63288074-d583bf00-c289-11e9-95cc-536bc3886297.png)

![image](https://user-images.githubusercontent.com/10625935/63288081-dae10980-c289-11e9-805e-6fff3f173f4e.png)

Excerpt from the [Parameters](htt

[2019-08-19 18:45] GrantMeStrength commented on #1461
Thanks for report this. A lot of information was accidentally removed. I've submitted the fix to have it returned. In the meantime, here's a link to a topic that has it:

https://msdn.microsoft.com/zh-cn/vstudio/aa378794(v=vs.71)

[2019-08-19 18:45] #1461 closed

[2019-08-19 20:38] JasonGerend commented on #1587
@nedpyle Hey Ned, can you take a look at this?

[2019-08-19 22:01] nedpyle commented on #1587
Thanks for the feedback, we are looking into further ways to make this better in the future through an agent deployed to the source machine that can keep track of final edits and drain the server under admin control, then sync just those last outstanding files. We once proposed a final transfer as part of cutover but then customers complained that cutover took too long! For now I just suggest perf

[2019-08-19 23:11] Karl-Bridge-Microsoft commented on #1580
Thanks for the head's up, @rbeesley. The topic has been updated with the correct info.

[2019-08-20 02:44] juyama commented on #1844
Add 2 error codes as below.
----
The requested operation is not allowed as the container has a locked immutability policy. ErrorCode: ContainerImmutabilityPolicyLocked
The requested operation is not allowed as the container has one or more legal holds. ErrorCode: ContainerHasLegalHold

[2019-08-20 14:29] shirgoldbird commented on #68
This will be resolved with the new UHF work across this/next quarter.. Closing.

[2019-08-20 14:29] #68 closed

[2019-08-20 14:36] shirgoldbird commented on #187
We don't plan to handle this on the Docs platform side in the near future. I've passed this along to the content team but am closing this out on our end.

[2019-08-20 14:36] #187 closed

[2019-08-20 16:26] jayallen commented on #1116
Additionally (or even as a first step), a single feed for ALL documentation updates would be great.  Plus the same for each product so that someone can subscribe to, for example, Visual Studio documentation updates, if that's all they care about.

[2019-08-20 22:21] ShalokShalom opened #1851 "LangVersion support for F#"
[It is already implemented for C# and VisualBasic](https://docs.microsoft.com/en-us/search/?search=langversion&category=All), [while F# has this feature as well.](https://github.com/fsharp/fslang-suggestions/issues/243#issuecomment-523106507)

[2019-08-20 22:23] mairaw commented on #1851
@cartermp can you take a look at this feedback?

[2019-08-20 22:25] cartermp commented on #1851
This is going to just be a part of the set of docs I'll update/add when F# 4.7 ships, since it's not in any released F# today.

[2019-08-20 22:26] mairaw commented on #1851
Closing this feedback then since the feature hasn't shipped yet. Thanks!

[2019-08-20 22:26] #1851 closed

[2019-08-21 04:35] wenmin92 opened #1852 "PowerShell Docs command syntax not colorization."
**Describe the bug**
This page [Updates to our PowerShell Documentation Experience](https://docs.microsoft.com/en-us/teamblog/updated-powershell-experience) said:

PowerShell cmdlets are now nicely colorized and formatted for better readability.
![](https://docs.microsoft.com/en-us/teamblog/media/updated-powershell-experience/powershell-syntax-highlighting.png)

But up to now, there isn't any colo

[2019-08-21 06:52] futureidiot47 opened #1853 "It seems like the string-to-sign for an account SAS doesnt have all parameters."
Hello,
There is no comment section with the article in question.

**Link to article:**
article: https://docs.microsoft.com/en-us/rest/api/storageservices/create-account-sas
topic : Constructing the signature string

**Problem:**
It seems that the string-to-sign for an account SAS may be missing a variable:
This is how the article instructs to build the string to sign:
StringToSign = accountname +

[2019-08-21 07:02] taisbak opened #1854 "Filter out internal APIs"
In .NET API Browser public as well as internal APIs are all listed.

E.g., when [searching for "Include" in Entity Framework Core](https://docs.microsoft.com/en-us/dotnet/api/?view=efcore-2.1&term=Include), a lot of the entries are described as
"This API supports the Entity Framework Core infrastructure and is not intended to be used directly from your code. This API may change or be removed in fu

[2019-08-21 07:05] mairaw commented on #1854
We could also filter out from docs certain namespaces. @divega would that make sense for some of these EF Core namespaces like Microsoft.EntityFrameworkCore.Query.Internal?

[2019-08-21 07:14] badJaguar commented on #1459
Hello. Also Belarus doesn't exists here:
![Screenshot_1](https://user-images.githubusercontent.com/37648681/63410624-67133e00-c3fc-11e9-8279-c7ab343ccdd1.png)

[2019-08-21 07:16] badJaguar commented on #1459
Hello. Also Belarus doesn't exists here:
![Screenshot_1](https://user-images.githubusercontent.com/37648681/63410787-c5402100-c3fc-11e9-8d88-25c0e7417ff5.png)

[2019-08-21 13:08] CrahunGit opened #1855 "Bug in translation"
If I switch on the English switch and I navigate to other sections the text is still in English but the sections titles are in my own detected language so I have to switch off English and then switch on again. Anyway the automatic translations are useless, hard to read.

[2019-08-21 13:31] divega commented on #1854
I agree that for the API browser as it is those "public-internal" APIs just add a lot of clutter in search results and makes the experience of browsing the API that customers are much more likely to want to use very clumsy.

It is good that they are discoverable in Intellisense in the IDE and the boilerplate comment they contain is readily available there to explain the caveats. But finding them i

[2019-08-21 14:41] danielestevez commented on #520
No news about this?

[2019-08-21 16:01] ajcvickers commented on #1854
@divega I didn't want to do anything that would make it easier for people to miss that these are internal APIs. But now we have the analyzer I think it's probably fine to remove them from the API browser.

[2019-08-21 16:37] Ma-XX-oN commented on #1789
FYI.  Here is a little comment card that I made up describing the default behaviour, in case you're interested:

[code]

[2019-08-21 18:58] GrantMeStrength commented on #1567
Corrected all the topics I could find with this issue.

[2019-08-21 18:58] #1567 closed

[2019-08-21 23:47] mairaw commented on #1854
Do you need help setting that up @divega?

[2019-08-22 03:17] divega commented on #1854
Yes, absolutely. And we still need help getting things setup for newer versions of our packages to be published to API browsers. The latest published is EF Core 2.1.

[2019-08-22 13:55] dechapie opened #1856 "Dead link : kb_article"
In "WTSEnumerateSessionsA function" page, there is a dead link in the "Remarks" section.
The link points to https://support.microsoft.com/fr-fr/help/291789 which ends in an 404 error.

[2019-08-22 14:07] JamesTStanley opened #1857 "Links to training resources on System Center docs page don't take you to System Center training"
There are two places on https://docs.microsoft.com/en-us/system-center that suggest that if you click them it'll take you to System Center training - but both go to Microsoft Learn, and there is not any System Center content on that site.

[2019-08-22 16:21] mcleanbyron commented on #1801
Thanks for the additional details. Both of those particular issues you pointed out are now fixed. Please also note again that we plan to enable public pull requests on this repo within the next few weeks, and at that time you will be able to submit your own fixes.

[2019-08-22 18:18] docs-product commented on #1847
Same as @mairaw, we are not able to reproduce. @ClaudioShima - can you please post a screenshot of the search results, so that we can see the term and the links shown to you?

[2019-08-22 18:21] docs-product commented on #605
Seems like examples are still not rendering. @sdwheeler - can you please share the link to the source from which the documentation is generated?

[2019-08-22 18:25] sdwheeler commented on #605
@docs-product This issue has been addressed. Please close this issue.

[2019-08-22 19:10] GrantMeStrength commented on #1270
Investigating

[2019-08-22 19:12] GrantMeStrength commented on #1272
Investigating

[2019-08-22 19:26] nschonni commented on #605
@sdwheeler is it waiting to be published? I'm still seeing this
![image](https://user-images.githubusercontent.com/1297909/63543616-3b25b480-c4f1-11e9-8eac-c2e1fb82417e.png)

[2019-08-22 19:28] GrantMeStrength commented on #1272
Corrections have been submitted. Thank you for this feedback!

[2019-08-22 19:28] #1272 closed

[2019-08-22 19:36] mairaw commented on #605
I don't see any changes on source:
https://github.com/MicrosoftDocs/powershell-docs-sdk-dotnet/blob/live/dotnet/xml/System.Management.Automation/Cmdlet.xml

[2019-08-22 19:36] GrantMeStrength commented on #1275
Now pointing to this one.

https://docs.microsoft.com/en-us/windows/win32/api/synchapi/nf-synchapi-openmutexw

Will make a note to look for openmutexA and why it's missing..

[2019-08-22 19:36] #1275 closed

[2019-08-22 20:12] sdwheeler commented on #605
Please file an issue in https://github.com/MicrosoftDocs/PowerShell-Docs/issues

[2019-08-22 20:46] docs-product commented on #1775
The comment was removed.

[2019-08-22 20:46] #1775 closed

[2019-08-22 20:49] docs-product commented on #982
The new experience is out: https://docs.microsoft.com/samples, and supports downloading a specific samples instead of cloning the entire repository.

[2019-08-22 20:49] #982 closed

[2019-08-22 20:52] GrantMeStrength commented on #1389
Very old topic - did the best I could to avoid confusion with other automation tech.

[2019-08-22 20:52] #1389 closed

[2019-08-22 20:55] GrantMeStrength commented on #1462
We can't release information in advance, unfortunately, as it might be incorrect.
We'll do our best to update that page as soon as we can.

[2019-08-22 20:55] #1462 closed

[2019-08-22 20:58] docs-product commented on #1841
@rootsmusic can you clarify what the issue is?

[2019-08-22 20:59] docs-product commented on #1846
We are likely just missing the content on docs, and will need to work with the product team. @markcowl is a good contact for that.

[2019-08-22 21:01] docs-product commented on #1856
Page in question: https://docs.microsoft.com/en-us/windows/win32/api/wtsapi32/nf-wtsapi32-wtsenumeratesessionsa

@GrantMeStrength can you please take a look?

[2019-08-22 21:02] #1809 closed

[2019-08-22 21:06] rootsmusic commented on #1841
@docs-product Which email account should I use to login to my username: rootsmusic?

[2019-08-22 21:47] GrantMeStrength commented on #1397
This is by design, as we can't link to specific terms.

[2019-08-22 21:47] #1397 closed

[2019-08-22 22:15] docs-product commented on #1848
Issue related to this document: https://docs.microsoft.com/en-us/dotnet/api/microsoft.office.interop.word.omath?view=word-pia

[2019-08-23 01:38] hihorika commented on #897
Hi @panchagnula

Same customer reports that the structure of the REST API's result changed to correct structure suddenly by using old api version `2018-02-01` since last May.
Could you please check if there is any update at that time?

Though the customer thinks that it's no problem to use latest API version, it's weird that the result/behavior changes suddenly.

[2019-08-23 04:51] Soruk commented on #1797
Hi, there is an update about this issue accordingly to this [Tweet](https://twitter.com/docsmsft/status/1163964265117523970)

[2019-08-23 05:28] reduckted commented on #1631
Is there any way to track this issue? I came here to report the same issue, but wasn't expecting to find an issue that was already closed. Can this issue at least be left open until it's either fixed or rejected?

[2019-08-23 07:54] svick opened #1858 "Report Feedback on MS Learn doesn't work in Firefox"
**Describe the bug**

At the bottom of the [*Troubleshooting known issues*](https://docs.microsoft.com/en-us/learn/support/troubleshooting) page for MS Learn, there is a *Report feedback* form. When I try to use it from Firefox, it doesn't work.

**To Reproduce**

0. Use Firefox.
2. Go to https://docs.microsoft.com/en-us/learn/support/troubleshooting.
3. Select any of the answers to the question "

[2019-08-23 07:59] svick opened #1859 "MS Learn docs pages link to a private repo"
**Describe the bug**

The small number of Docs pages for MS Learn link to https://github.com/MicrosoftDocs/LearnShared in its Contributors section, which seems to be a private repo.

**To Reproduce**

1. Go to https://docs.microsoft.com/en-us/learn/support/troubleshooting.
2. Click on one of the contributor's icons on the top of the page.
3. This leads to https://github.com/MicrosoftDocs/LearnShar

[2019-08-23 13:40] liamlaverty commented on #1835
Something to consider about the use of `<wbr>` tags in general is that highlighting in Firefox treats them differently to other browsers. If you open FF's latest version and double click a class name you'll only highlight the part between `<wbr></wbr>`s. For example in the page, [DefaultEventProcessorFactory<T> Class](https://docs.microsoft.com/en-us/dotnet/api/microsoft.servicebus.messaging.defau

[2019-08-23 13:49] joram-s commented on #1777
Just in case you haven't read it yet, there is an update.
https://twitter.com/docsmsft/status/1163964265117523970

Unfortunately the module I would really like to finish, doesn't work (yet). I guess I will give it another try next week or so.
https://docs.microsoft.com/en-us/learn/modules/control-azure-services-with-cli/5-exercise-create-website-using-the-cli

[2019-08-23 14:32] GrantMeStrength commented on #1749
Investigating.

[2019-08-23 14:43] GrantMeStrength commented on #1748
Thanks for reporting. Correction submitted.

[2019-08-23 14:43] #1748 closed

[2019-08-23 15:23] gautierm78 opened #1860 "I can't insert links or image"
Hello and sorry for my poor English.
I have a Microsoft account, only for to find solution or ask on https://social.technet.microsoft.com/Forums

But, if i would like to insret an image or a link, Message say "You can not insert image or link, account not effective

My name on social.technet is GautierMa
Could you say me why i Have this problem or where can i valid my accont (accont is 2014...)
Th

[2019-08-23 16:48] cihan-m opened #1861 "[Question] How do unsupported languages fall back?"
On the iPhone, a user is able to specify "Spanish (US)" as their phone language. For other websites, like Youtube.com, this redirects to their Spanish-Mexico site (m.youtube.com). However, for Docs.Microsoft.com, this redirects to the "en-us" site.

How do unsupported languages fall back? I'm wondering if there is a bug here, where we redirect to the region instead of the language first.

[2019-08-23 17:23] GrantMeStrength commented on #1861
Den, do you know the answer to this enquiry?

[2019-08-23 17:26] GrantMeStrength commented on #1856
This paper seems to be very old - not sure if you could trust it. But it's cached here:

https://jeffpar.github.io/kbarchive/kb/291/Q291789/

[2019-08-23 17:29] GrantMeStrength commented on #1270
This is a systemic issue with the publishing tools. A bug has been filed with the engineering team.

[2019-08-23 17:29] #1270 closed

[2019-08-23 17:49] panchagnula commented on #897
@chibionos and/or @naveedaz can answer this question

[2019-08-23 20:44] GrantMeStrength commented on #1749
You appear to be correct! I am submitting a fix. Thank you.

[2019-08-23 20:44] #1749 closed

[2019-08-23 21:04] GrantMeStrength commented on #1474
Investigating.

[2019-08-23 21:58] EliotSeattle commented on #1745
Thanks, @voldemarz for the feedback. I've added these two notes near the top of the page (will build overnight and be in the public docs tomorrow). These references contain the info you're looking for:

For general info about BCDEdit, including location and command-line option definitions, see BCDEdit Command-Line Options.

To understand how BitLocker verifies that the security sensitive boot conf

[2019-08-23 21:59] EliotSeattle commented on #1745
@ryanmajidi please close.

[2019-08-24 00:29] EliotSeattle commented on #1578
This is fixed in the source and will go live when the content rebuilds overnight.

Thanks, @dev-pete for catching this. @ryanmajidi can you please close this?

[2019-08-24 07:13] tristanlbailey opened #1862 "Missing information on learning paths for certifications"
I would like to study for the Microsoft 365 Certified: Modern Desktop Administrator Associate certification. However, there is nothing to tell me which learning path(s) I need to study, in order to prepare for certification exams.

https://www.microsoft.com/en-us/learning/modern-desktop.aspx

Under the "Prepare for Certification" header, the "Start learning" link just points to the general browse

[2019-08-24 20:26] ProgentCT commented on #1862
I think a lot of the Microsoft 365 content is new and in progress.  I was getting errors on the Certifications menu and 10 minutes later it started working.

[2019-08-25 03:13] Stevoisiak commented on #1272
@GrantMeStrength The documentation for [GetVersion](https://docs.microsoft.com/en-us/windows/win32/api/sysinfoapi/nf-sysinfoapi-getversion) and [GetVersionExA](https://docs.microsoft.com/en-us/windows/win32/api/sysinfoapi/nf-sysinfoapi-getversionexa) still recommend depreciated functions.

[2019-08-25 05:14] tristanlbailey commented on #1862
I understand that most of it is fairly new, but if they are going to advertise exams for a particular course (such as the one one I'm interested in), then they need to make the learning materials for the course available to the public, too. With plenty of [certifications that are supposedly retired](https://www.microsoft.com/en-us/learning/retired-certifications.aspx), Microsoft needs to lift its

[2019-08-25 14:07] MegoCs commented on #1797
@sadadow , i got this message after i tried to use the same sandbox for different learning activity.
what would happen to my profile and my learning activity!! how can we remove that temporary ban !

[2019-08-25 16:09] ShalokShalom commented on #1851
Oh, I understand. You wrote it like it has already landed, should have read the release notes.
Thanks :)

[2019-08-26 04:07] Pramotena opened #1863 "wm_inputlangchangerequest not work after update windows 10 feature 1903"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-08-26 07:30] tindecken opened #1864 "No result while looking document for PublishTestResults"
I'm looking document for `PublishTestResults` library but not found any result, please help to check

https://docs.microsoft.com/en-us/azure/devops/integrate/concepts/dotnet-client-libraries?view=azure-devops

![image](https://user-images.githubusercontent.com/4727197/63673209-fad67700-c80d-11e9-8521-60fdc15c81ce.png)

![image](https://user-images.githubusercontent.com/4727197/63673225-04f87580-c8

[2019-08-26 14:52] ghost opened #1865 "Broken examples, missing files"
**Link to article:**
https://docs.microsoft.com/en-us/previous-versions/gg618492(v=msdn.10)

**Problem:**
3 errors caught resulting in missing code examples at the given webpage.

Console output:
[code]

[2019-08-26 19:03] TerdyTheTerd opened #1866 "Typo"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/sharepoint/sites/sites-and-site-collections-overview#overview-of-sharepoint-site-collections

**Problem:**
In the last sentence of the first paragraph under the "Overview of SharePoint site collecti

[2019-08-26 22:51] Zailef commented on #1797
@sadadow @mairaw
Is there any information on when the appeals process will be available and how it will work?
It would be great to get this resolved so that I and many others can continue our Azure learning.

[2019-08-27 05:32] shinji1979 opened #1867 "Type missed."
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/ja-jp/dynamics365/customer-engagement/marketing/easy-subscription-lists

**Problem:**
"乳s力" is missed type. Maybe "入力" is correct.

[2019-08-27 08:07] MorozND opened #1868 "Misspelling in a tab name and an article name"
**Link to article:**
https://docs.microsoft.com/en-us/sql/integration-services/ssis-quickstart-run-dotnet?view=sql-server-2017

**Problem:**
The name of the article is "Run an SSIS **package** with C# code in a .NET app".
The title of the tab is "Run an SSIS **project** with C# code in a .NET app".

![SSIS_page_misspelling](https://user-images.githubusercontent.com/20855645/63752942-cec4ff80-c8ba-

[2019-08-27 13:14] Hodori88 commented on #1797
@Zailef
Excellent question, I would like to hear the answer very much. However, don't be surprised if your question will go unaddressed.

A couple of other users and myself in another thread with similar issues, never got any reaction at all. I am sure the good people at Microsoft are working on this issue, it's just that we probably won't hear it, till the issue is solved. I can only speak for my

[2019-08-28 08:15] vidyakonkayala opened #1869 "python sdk for media services"
Hi Team,

In Media Services Documentation, I can see only .NET SDK for "Process with Face Detector". I am looking out Python SDK for the same
Please help me as I do not know .NET at all. It would be easy for me if you can provide Python SDK

[2019-08-28 09:28] dmr173 commented on #1805
In case this is the wrong place to place this issue just let me know where to raise it and I'll be happy to close here and raise it at the correct place. Any feedback/update would be appreciated after 3 weeks now....

[2019-08-28 10:10] Poopooracoocoo opened #1870 "Support prefers-color-scheme"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
It's annoying having to go to every website and turning on the dark theme. It's also annoying having to turn the light theme on again. Not all websites have dark themes anyway so it's not habitual.

**Describe the solution you'd like**
A cl

[2019-08-28 13:52] gcrockenberg opened #1871 "MicrosoftDocs for Business Use"
I like the design of MicrosoftDocs.  Is there a way I can use it in my organization for our documentation?

[2019-08-28 16:13] MSDN-WhiteKnight opened #1872 "IShellDispatch - note inside table not rendered properly"
**Link to article:**
https://docs.microsoft.com/en-us/windows/win32/shell/ishelldispatch#members

**Problem:**
In methods table, under ControlPanelItem, the note is not rendered properly. Instead of coloured box with exclamation mark, raw markdown is shown:

[2019-08-29 09:56] gskoczylas opened #1873 "Unable to display description of the Remove_AppxPackage command"
I'm at https://docs.microsoft.com/en-us/powershell/module/appx/remove-appxpackage?view=win10-ps webpage. The tree in the left panel shows that I'm on the  `Remove_AppxPackage` item but the website displays description of the `Move_AppxPackage` command.

[2019-08-30 08:35] lipecki opened #1874 "Grammatical errors with article "https://docs.microsoft.com/sv-se/powershell/scripting/install/installing-powershell-core-on-windows?view=powershell-6""
Lots of grammatical errors make article [**Installera PowerShell Core i Windows**](https://docs.microsoft.com/sv-se/powershell/scripting/install/installing-powershell-core-on-windows?view=powershell-6) confusing. To understand I have to try and see the original English text through the Swedish words. Please have someone correct this. And please remove the first comma in the article.

Thank you
Joh

[2019-08-30 12:14] Threadmonkey opened #1875 "pdf Download - TOC generates useless pages"
The pdf Download feature is great and the table of content fills many pages.

Open the site:
[https://docs.microsoft.com/de-de/dotnet/api/system.windows.media.colors?view=netframework-4.8]

Click on 'pdf Download' and check the first 66 pages of the generated file.

I would expect to get the main page in as a nice pdf with bread crumbs to find the page if necessary.

[2019-08-30 14:09] eruizper opened #1876 "To include a new "Sales" role for searching learning paths"
Partners are starting to use all the great stuff created for training sales roles (Business Achievement and Fundamentals courses).
However when they enter in MsLearn it is really hard to find it.
At home page, box "Start learning today" requests to select your role, but only technical roles are listed.

Suggestion is to include a role "Sales" with the following introductory courses:
- Learn the bu

[2019-08-30 18:16] jmroyb opened #1877 "Download PDF in other language"
Hi folks,
I can download as PDF https://docs.microsoft.com/en-us/visualstudio/test/improve-code-quality?view=vs-2019

But PDF link is missing for https://docs.microsoft.com/es-es/visualstudio/test/improve-code-quality?view=vs-2019

Do you plan to allow download this link in other language than English?

Cheers

[2019-08-30 20:00] fyurisich opened #1878 "Wrong return value"
At page
[https://docs.microsoft.com/en-us/windows/win32/api/uxtheme/nf-uxtheme-isthemeactive](url)
the Syntax sections says that function is defined as "void" but the Return Value section says that the function returns a BOOL.
Thanks, Fernando

[2019-08-30 20:39] spottedmahn commented on #688
Was that bot supposed to reply to this issue? 🤔

[2019-08-30 22:34] beowulf005 commented on #1598
This request can be marked completed. This post meets what I was looking for
https://docs.microsoft.com/en-us/teamblog/announcing-bookmarks?WT.mc_id=docsmsft-twitter

[2019-08-30 22:34] #1598 closed

[2019-08-30 23:01] rootsmusic opened #1879 "can't login at https://sitehelp.microsoft.com/"
Received the following error trying to log into https://sitehelp.microsoft.com/ :
"Selected user account does not exist in tenant 'Microsoft' and cannot access the application 'a86fc59f-9bd6-49db-984f-4c1fbe8861cb' in that tenant. The account needs to be added as an external user in the tenant first. Please use a different account."

**To Reproduce**
1. Go to https://docs.microsoft.com/en-us/learn

[2019-08-31 00:54] mairaw commented on #1879
Where did you see this link @rootsmusic? That's an internal site.

[2019-08-31 00:54] mairaw commented on #1879
Ah never mind! Let me follow up with the team responsible for that page.

[2019-08-31 00:56] mairaw commented on #1879
@Saadad you're listed as the author of that page. Can you make sure that the steps don't include sites that external users can't access?

[2019-08-31 01:16] mairaw commented on #688
Well, that's the account that @dendeli-msft told me to ping on issues. 😄

[2019-08-31 01:18] mairaw commented on #1878
@GrantMeStrength can you take a look at this issue?

[2019-08-31 14:29] evanricard opened #1880 "Better Search Behavior"
My Scenario:
Navigate to microsoft.docs.com only to spend mere seconds on it before trying to navigate to another page/topic.

My Feature Request:
![image](https://user-images.githubusercontent.com/30779615/64065259-8dde2b00-cbd9-11e9-96c1-7325fec6a152.png)
Ideally, I would like to simply be able to press the 'Enter' key after inputting into the search field to promptly explore my options for any

[2019-08-31 22:05] gw37 opened #1881 "In Microsoft Learn there are no Security roles listed and content lacking"
It is surprising the security related content on Microsoft Learn (https://docs.microsoft.com/en-us/learn/) is sparse and difficult to find. In the Roles pulldown list there should be roles such as Security Engineer, Security Architect and perhaps Compliance Lead, with well organized and *deep* learning content specific to those functional roles. The MPP program for CyberSecurity (https://academy.m

[2019-08-31 23:20] GiantCrocodile opened #1882 "Feedback list is endless loading for non-English (German) version"
At the end of the site, you can find open issues/feedback for the current article. This works with the English version: https://docs.microsoft.com/en-US/azure/billing/billing-check-free-service-usage ("There is currently no feedback for this document. Page feedback will appear here.")

If you try the same with the German docs under https://docs.microsoft.com/de-de/azure/billing/billing-check-free-

[2019-08-31 23:52] weitzhandler opened #1883 "Please increase idle time before logging out user"
Almost always when re-visiting the docs website, in its top-right corner, there is the "login" link.
Apparently the session idle time is very short and you get kicked out of the system and required to login again or clicking login so the login-page logs you in automatically with a page refresh.

Please change this, so that any docs page request should attempt to log me in if I'm not and display th

[2019-09-01 19:15] nwipfli opened #1884 "Searching in the entire document"
Let's take the Windows Virtual Desktop documentation as an example (https://docs.microsoft.com/en-us/azure/virtual-desktop/). You have a search box on the top left but it performs a search by title. If I want to perform a search in the entire document, I have to download the PDF documentation and perform a search in it by using my keywords. Is it possible to implement a search function enabling yo

[2019-09-02 02:23] dinobu opened #1885 "The information for 70-483 is useless"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://www.microsoft.com/en-us/learning/exam-70-483.aspx?s=SCHEDULE_COMPLETE

**Problem:**
Pretty much everything is wrong starting from useless video to links landing on general microsoft learn page and not to actually related co

[2019-09-02 13:27] khuramshahzad opened #1886 "https://docs.microsoft.com/en-us/graph/api/channel-post-chatmessage?view=graph-rest-beta"
![image](https://user-images.githubusercontent.com/5484721/64117695-47dac000-cdaf-11e9-8a61-487d56d1a48f.png)

Result is 404

[2019-09-02 18:56] JVimes opened #1887 "Line highlight offset from code"
The [Kestrel page](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/servers/kestrel?view=aspnetcore-2.2) has certain lines of code highlighted. The highlight is off-set from the code when Chrome is zoomed in. I suspect this is the case with all code-line highlights.

Example:

![2019-08-30_13h35_16](https://user-images.githubusercontent.com/6148201/64047538-4a79b300-cb2c-11e9-99f2-895df48

[2019-09-02 20:30] Zailef commented on #1797
Appeals appear to be up now. Where the 'Unauthorized Sandbox use detected...' message appears there is a button labelled 'Appeal'. Once you click it, you get a message as shown below.

![image](https://user-images.githubusercontent.com/9215196/64132594-c5f79080-cdc8-11e9-8916-398cda0b4ef0.png)

Hopefully they unban most of us 😄

[2019-09-03 08:03] Youssef1313 commented on #1886
I think this is the link you're looking for:
https://docs.microsoft.com/en-us/graph/api/channel-post-messages?view=graph-rest-beta

[2019-09-03 08:42] TakiyaNakano-MSFT opened #1888 "Need Japanese traslation of https://docs.microsoft.com/en-us/power-platform/admin/api-request-limits-allocations"
Please translate the following docs.ms.com article to Japanese language.
https://docs.microsoft.com/en-us/power-platform/admin/api-request-limits-allocations

This article explains the limitation of API call not only from Power Platform but also from Dynamics 365, and that this limitation can impact exsinsting Dynamics 365 systems calling Dynamics 365 SDK from their customization code.
Therefore,

[2019-09-03 14:59] Craigc73 opened #1889 "Export Achievements / Trophies into Transcript"
Currently I get a graphical view that spans several pages of the badges and trophies of training that I completed. However, there is no way (that I can see) to export to an Excel/CSV/TXT -- I need this for my yearly performance meetings to track training/learning.

Preferred output: Excel, CSV, Text
Preferred fields: date started, date completed, course name, level (if applicable), category, paren

[2019-09-03 15:59] Hodori88 commented on #1777
In the other thread with a similar problem there is a post informing on the new 'appeal' functionality.
https://github.com/MicrosoftDocs/feedback/issues/1797#issuecomment-527238521

[2019-09-03 17:02] ian-IBCIRL opened #1890 "az storage blob upload-batch parameters are incorrect"
in the following page:
https://docs.microsoft.com/en-us/azure/functions/tutorial-static-website-serverless-api-with-database-old?tutorial-step=1

the instructions in step 3 don't work.

cd dist
az storage blob upload-batch -s . -d \$web --account-name <storage account name>

Should be:

cd dist
az storage blob upload-batch -s . -d '$web' --account-name <storage account name>

'$web' works where \$

[2019-09-04 00:26] arafattehsin opened #1891 "Out-dated content for Microsoft Learn"
Hi Team

I could see some of the content is old and I can't edit that (already opened the feature request for this) therefore, I am writing the specific topics which I came across;

1. Bot Service - ttps://docs.microsoft.com/en-us/learn/browse/?products=azure-bot-service
2. Dynamics 365 Field Service - https://docs.microsoft.com/en-us/learn/paths/implementing-dyn365-field-service/

[2019-09-04 00:27] arafattehsin opened #1892 "Capability of edit the content"
I have been actively using Microsoft Learn for my own learning and have noticed significant issues when it comes to the updated content.

You could see some of the issues [here](https://github.com/MicrosoftDocs/feedback/issues/1891).

Therefore, I would like to request for a Feature like we have in Docs where we (as opensource contributors) can **Edit** the content easily.

[2019-09-04 10:28] PanosGeorgiadis commented on #1389
Hey @GrantMeStrength, there were no changes made on the help page and the link remains broken. Please fix. PS: what do you mean 'very old topic'? COM automation is still an active product.

[2019-09-04 11:07] simonvane opened #1893 "Enable watching for documentation changes"
**Is your feature request related to a problem? Please describe.**
The documentation changes rapidly, especially for Azure, and it is hard to keep up with changes.

**Describe the solution you'd like**
I would like to be able to choose a page or a section and its child pages then receive notifications if the content changes or if child pages are added. It would also be useful to know what had chan

[2019-09-04 11:58] imalyavskiy opened #1894 "Dead hyperlink"
On the page [Windows Filtering Platform Sample](https://docs.microsoft.com/en-us/samples/microsoft/windows-driver-samples/windows-filtering-platform-sample/) at the string "For more information about using Microsoft Visual Studio to build a driver package, see [Building a Driver](http://msdn.microsoft.com/en-us/library/windows/hardware/ff554644)." The  [Building a Driver](http://msdn.microsoft.com

[2019-09-05 00:13] sq2500 opened #1895 "Waste time & resources with prolonged simplistic minded samples"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

It is some improvement with content filtering and searching.

Too much documentation still feels like pretty printed header files - plain enumeration various header files. Additional the beginning flowery and too lengthy explanations feels like outdate

[2019-09-05 08:42] samratp opened #1896 "Typo in Machine Learning Studio Module Reference"
**Link to article:**
https://docs.microsoft.com/en-us/azure/machine-learning/studio-module-reference/convert-to-csv

**Problem:**
The 2nd para in the section "More about the CSV format" must be

"Even if you do **most** of your work in Azure Machine Learning Studio, there are times when you might find it handy to convert your dataset to CSV to use in external tools."

and not

"Even if you do must

[2019-09-05 17:04] rootsmusic opened #1897 "[Question] comment section"
In an article, is its "[comment section](https://github.com/MicrosoftDocs/feedback/issues/new?template=Custom.md)" referring to where it asks "Is this page helpful?"

[2019-09-05 17:59] cabhilash commented on #1797
Many in my company got this error
In My company we started a challenge to see who scores max points now mist of us are stuck due to non-availability of sandbox

[2019-09-05 18:27] mairaw commented on #1797
@yunyunyunyun can you please comment on this?

[2019-09-05 20:15] ChuckM2 opened #1898 "Dead/broken link in DX12 docs"
**Link to article:**
Tell us where exactly a problem occurs.
https://docs.microsoft.com/en-us/windows/win32/api/d3d12/ns-d3d12-d3d12_descriptor_heap_desc
Under NodeMask it says "See Multi-Adapter." with a broken link.

**Problem:**
Link points to https://docs.microsoft.com/windows/desktop/direct3d12/mulit-engine which no longer works.
New link is https://docs.microsoft.com/windows/desktop/direct3d

[2019-09-05 20:24] mairaw commented on #1898
@GrantMeStrength can you take a look at this feedback?

[2019-09-06 08:28] davidgeary opened #1899 "Article possibly in wrong section (so flagged as 'no longer being updated)"
**Link to article:**
[HTML Clipboard Format](https://docs.microsoft.com/en-us/previous-versions/windows/internet-explorer/ie-developer/platform-apis/aa767917(v=vs.85)) - https://docs.microsoft.com/en-us/previous-versions/windows/internet-explorer/ie-developer/platform-apis/aa767917(v=vs.85)

**Problem:**
This article describes the format required for data that is copied to the clipboard as HTML, w

[2019-09-06 15:30] klgrube opened #1900 "How to escalate a forum issue and contact the moderator"
Hi!

   I posted a question in the SQL Server Reporting Services forum several days ago and so far, the only response I've gotten was one that just asked another question, which I answered days ago.  Further, there seems to be no link to contact a forum moderator anywhere on the screen.  According to what I read, the only way to escalate a question is by contacting the moderator (in this case, I t

[2019-09-06 17:23] drewbatgit commented on #1898
Thanks for reporting this broken link. The link has been fixed in the source. You should see the fix on the live site within ~24 hours.

[2019-09-06 17:23] #1898 closed

[2019-09-06 18:41] nikolodus opened #1901 "Broken links on "Internationalization for Windows Applications" page"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/windows/win32/intl/international-support

**Problem:**
Two hyperlinks lead to invalid URLs:
[Script and Font Support in Windows.](https://msdn.microsoft.com/globalization/mt791278)
[Input Language:

[2019-09-06 18:54] mairaw commented on #1901
@Karl-Bridge-Microsoft can you take a look at this feedback?

[2019-09-06 21:11] sportflier opened #1902 "Error in documention: webmail.send method, to parameter"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/dotnet/api/system.web.helpers.webmail.send?view=aspnet-webpages-3.2

**Problem:**
Documentation for "to" parameter states:
"Separate multiple recipients using a semicolon (;)."
Using a semicolon to

[2019-09-07 17:34] svick opened #1903 "Extension methods for IEnumerable<T> seem wrong"
**Describe the bug**

The [Extension Methods section of the `IEnumerable<T>` page](https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.ienumerable-1?view=netcore-2.2#extension-methods) doesn't contain the methods I expect to be there and does contain methods I don't expect to be there.

**Expected behavior**

The Extension Methods section contains commonly used extension methods

[2019-09-08 01:12] sulbig opened #1904 "System.Net.NetworkInformation.Ping.SendAync() Documentation Error"
The first overload documentation for [System.Net.NetworkInformation.Ping.SendAync()](https://docs.microsoft.com/en-us/dotnet/api/system.net.networkinformation.ping.sendasync?view=netframework-4.8#overloads) appears to have the _timeout_ and _buffer_ parameter descriptions swapped.

Is currently...
[code]
...should be....
[code]

[2019-09-08 01:28] kojish opened #1905 "No body request field is available"
The body request field is missing in 'Try It' window. The link to the article is below. Please go to 'Try It' button and check the HTTP request screen. There is no field to set the request body for http post to send the row to Powet BI.

https://docs.microsoft.com/en-us/rest/api/power-bi/pushdatasets/datasets_postrows#code-try-0
https://docs.microsoft.com/en-us/rest/api/power-bi/pushdatasets/datas

[2019-09-08 17:45] rootsmusic opened #1906 "[Question] repository"
Where are the repositories for [DAX function reference](https://docs.microsoft.com/en-us/dax/dax-function-reference) and [Power Query M function reference](https://docs.microsoft.com/en-us/powerquery-m/power-query-m-function-reference)?  Thanks.

[2019-09-08 21:45] cabhilash commented on #1672
Got the same problem @ https://docs.microsoft.com/en-us/learn/modules/access-data-with-cosmos-db-and-sql-api/2-setup-cosmosdb

Requesting a Cloud Shell.Failed to provision a Cloud Shell: {"code":"TenantActiveUserQuotaReached","message":"Tenant '604c1504-c6a3-4080-81aa-b33091104187' has '151' active users in location 'southcentralus', which exceeds the active user quota."}

[2019-09-09 05:04] shirgoldbird commented on #604
Hi @DenBir, I'm pleased to announce that this feature has been added: https://docs.microsoft.com/en-us/teamblog/announcing-bookmarks

Hope you enjoy!

[2019-09-09 05:04] #604 closed

[2019-09-09 09:05] nooobguest opened #1907 "ID2D1Bitmap::CopyFromMemory method Documention Error"
**Link to article:**
[ID2D1Bitmap::CopyFromMemory method](https://docs.microsoft.com/zh-cn/windows/win32/api/d2d1/nf-d2d1-id2d1bitmap-copyfrommemory)

**Problem:**
The description of first parameter `dstRect` said
[code]
however, `dstRect` is a `D2D1_RECT_U` rather than a point type, it seem copied form the description of [ID2D1Bitmap::CopyFromBitmap](https://docs.microsoft.com/zh-cn/windows/win32

[2019-09-09 14:05] user186 commented on #1094
Similar or related issues, see attached image

Properties panel is missing everything mentioned in the tutorial,
plus right clicking the connection got no options as mentioned in the tutorial,
cannot proceed any further.

It's VS2017 (SSDT)

![ssis-problem](https://user-images.githubusercontent.com/55093944/64537675-dae69d80-d34d-11e9-8d92-cb635cf0a220.png)

[2019-09-09 14:13] user186 commented on #1692
I cannot find either "PackagePath" or "ConnectionString" in the property windows, see attached image.

Also cannot find any way to convert the connection object by right-clicking.

![ssis-problem](https://user-images.githubusercontent.com/55093944/64538364-1170e800-d34f-11e9-8ace-45d34d630ada.png)

[2019-09-09 14:14] ghoflvhxj opened #1908 "Typo in XMCOLOR::XMCOLOR function document"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article: https://docs.microsoft.com/en-us/windows/win32/api/directxpackedvector/nf-directxpackedvector-xmcolor-xmcolor%28float_float_float_float%29**
Tell us where exactly a problem occurs.

**Problem: It looks typo, am I right?**
![image](ht

[2019-09-09 16:00] DubbySlashy opened #1909 "Power Query Table.Skip countOrCondition cannot be omitted"
**Link to article:**
https://docs.microsoft.com/en-us/powerquery-m/table-skip

**Problem:**
The article describes the behaviour of Power Query's Table.Skip function when the countOrCondition argument is omitted. At least in Excel, this argument cannot be omitted. I'm not sure what is the behaviour in other products that use Power Query. In any case, the argument doesn't even have the "optional" la

[2019-09-09 16:44] drewbatgit commented on #1907
Thank you for reporting this issue. The issue has been fixed in the content source and will be published to the live site (en-us locale) within 24 hours.

[2019-09-09 16:44] #1907 closed

[2019-09-09 16:49] drewbatgit commented on #1908
Thank you for reporting this issue. This has been fixed in the content source. The change should be on the live site within 24 hours.

[2019-09-09 16:49] #1908 closed

[2019-09-09 17:20] CeciAc commented on #1692
@RyanKing77 can you please check this issue?

[2019-09-09 17:55] mcleanbyron commented on #1801
Hi @KaeLL. Public pull requests for articles in the Win32 conceptual docs repo are now enabled. Thanks for your patience!

[2019-09-09 18:52] #1801 closed

[2019-09-09 20:41] randomascii opened #1910 "LockResources gives contradictory lifetime information"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

There is no comment section in this article.

**Link to article:**
https://docs.microsoft.com/en-us/windows/win32/api/libloaderapi/nf-libloaderapi-lockresource

**Problem:**

The article says:

"""
The pointer returned by LockResource is valid until th

[2019-09-10 00:55] yunyunyunyun commented on #1797
sorry for the trouble @cabhilash, we fixed a bug in our system today which used to cause some good users to be banned, so hopefully less good users will be banned incorrectly in the future. And we have reviewed all the appeal tickets today, but some cases are still in the process of changing the appeal status. By end of tomorrow, you should be able to check the appeal process.

[2019-09-10 02:59] #1843 closed

[2019-09-10 04:52] HubKing opened #1911 "Shell Clipboard Formats link is pointing to a wrong location."
**Describe the bug**
Clicking a link like "CF_HDROP" does not jump to the details of CF_HDROP, but to "https://docs.microsoft.com/windows".

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/windows/win32/shell/clipboard
2. Click on CF_HDROP

**Expected behavior**
Jump to the "CF_HDROP" section on that page.

**Screenshots**
![image](https://user-images.gi

[2019-09-10 06:05] mairaw commented on #1911
@mijacobs @mcleanbyron I can repro this. Can you please take a look at this issue?

[2019-09-10 06:07] mairaw commented on #1909
@Minewiskan can you please take a look at this issue?

[2019-09-10 06:09] mairaw commented on #1906
They both come from the same private repo: https://github.com/MicrosoftDocs/query-docs-pr

[2019-09-10 06:09] #1906 closed

[2019-09-10 08:18] Hodori88 commented on #1797
@yunyunyunyun
How will the people who appealed know the result? Will we recieve an email? I have been trying to activate the sandbox almost every day since I appealed (roughly a week ago).

[2019-09-10 08:20] mcurko commented on #1797
Try today, I made it an hour ago.

[2019-09-10 08:28] Hodori88 commented on #1797
@mcurko
Thanks for letting me know. Good for you. I've halted my Azure Administrator Certification prep for over a month by now, because of the sandbox problems. I am very eager to get going again.

[2019-09-10 11:08] ugumba opened #1912 "Range - Read: support for multiple byte ranges"
**Link to article:**
https://docs.microsoft.com/en-us/rest/api/storageservices/datalakestoragegen2/path/read#request-headers

**Problem:**
Documentation states "The HTTP Range request header specifies **one or more byte ranges** of the resource to be retrieved" - this appears to be incorrect.  One byte range works fine, multiple ranges are simply ignored (the entire file is returned).

[2019-09-10 11:32] ibakirov commented on #1672
@cabhilash very disappointing hear that this problem still exists

[2019-09-10 14:55] rootsmusic opened #1913 "repository for DAX and Power Query M function reference"
Repository not found at answer to [issue #1906](https://github.com/MicrosoftDocs/feedback/issues/1906)

[2019-09-10 16:49] Minewiskan commented on #1909
#in-progress

[2019-09-10 18:10] ehrenMSFT commented on #1909
Thanks for reporting this. The only issue appears to be with the library function itself. List.Skip’s countOrCondition argument is optional. Table.Skip’s countOrCondition argument can be null, but isn’t optional.

I’ll check in a fix to make it optional, which will bring it in line with the documentation.

[2019-09-10 19:03] mdell-seradex opened #1914 "Release Note typo for 16.2.5"
**Link to article:**
[https://docs.microsoft.com/en-ca/visualstudio/releases/2019/release-notes#top-issues-fixed-in-visual-studio-2019-version-1625](https://docs.microsoft.com/en-ca/visualstudio/releases/2019/release-notes#top-issues-fixed-in-visual-studio-2019-version-1625)

**Problem:**
In the link text "Visual Studio stops respsonding on creating a new SSIS project" there is an extra "s" in the

[2019-09-10 19:54] Minewiskan commented on #1909
#please-close

[2019-09-10 21:12] docs-product commented on #1895
@sq2500 thank you for the feedback! Can you please clarify what pages this feedback is related to?

[2019-09-10 21:53] mcleanbyron commented on #1911
Thanks for reporting this issue. The anchor links in this article have been fixed.

[2019-09-10 22:15] sq2500 commented on #1895
Thanks for Your quick follow-up

Unfortunately, often technical development documentation is pretty printed header files.
Partly due to fast paced release cycles, requiring lots of efforts
It is about time for  new way of thinking to address the lack of documentation quality.

In the documentation there many links to other parts, that are neither updated or contains explicit documentation that rel

[2019-09-11 00:33] mairaw commented on #1911
Thanks @mcleanbyron!

[2019-09-11 00:33] #1911 closed

[2019-09-11 08:54] v-sulee opened #1915 "please revise the steps for "How to submit the tax credit form and the certificates""
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**Link to article:**
https://docs.microsoft.com/en-us/partner-center/withholding-tax-credit-form#how-to-submit-the-tax-credit-form-and-the-certificates

**Problem:**
What's wrong with the article?
The steps to submitting the tax credit f

[2019-09-11 09:38] DeonGovender opened #1916 "Merge 2 Accounts"
**Is your feature request related to a problem? Please describe.**
I have started the training within MSDOCS on a different MS login account.

**Describe the solution you'd like**
Can I have the progress moved from one account to another account

[2019-09-11 11:20] poizan42 opened #1917 "ASSOCF incorrectly links to URL_SCHEME"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**Link to article:**
https://docs.microsoft.com/en-us/windows/win32/api/shlwapi/nf-shlwapi-assocquerystringw / https://docs.microsoft.com/en-us/windows/win32/api/shlwapi/nf-shlwapi-assocquerystringa

**Problem:**
What's wrong with the ar

[2019-09-11 11:32] poizan42 opened #1918 "Windows Runtime C++ reference version of IMetaDataDispenser::OpenScope is missing list of supported IIDs"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**Link to article:**
https://docs.microsoft.com/en-us/windows/win32/api/rometadataapi/nf-rometadataapi-imetadatadispenser-openscope

**Problem:**
The documentation is useless without knowing which interfaces are supported. The .NET Unman

[2019-09-11 12:16] MegoCs commented on #1797
@mcurko , i have submitted an appeal and it works for some days then today i i got a new un authorized access message asking me to send an appeal again and i didn't make any unauthorized actions !!

[2019-09-11 18:50] GiantCrocodile opened #1919 "Links open on page instead of new tab"
Please have links open in a new tab instead of on the same page. Having someone try and do informative readings or extended processes and then find their way back to the documentation is painful. For example, if I am reading this page and click the Azure portal link to create a new resource, it opens in the same tab and once I'm done creating my resource I have to find this page again to remember

[2019-09-11 19:33] snowpl opened #1920 "Cannot do tests on learning page."
**Describe the bug**
https://docs.microsoft.com/pl-pl/learn/modules/choose-api-for-cosmos-db/9-knowledge-check
Cannot submit to check the answers on this and module before.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/pl-pl/learn/modules/choose-api-for-cosmos-db/9-knowledge-check
2. Fill in answers: ANY type, then submit. The spinner spins infinitely.

**E

[2019-09-11 20:14] davidchesnut commented on #1848
Hi @saf-itpro, looks like this is a mistake in the article and there never was any sample added. I'll remove the text that indicates there is a sample and republish it soon. If you are looking for an example, there is a [good sample shown on StackOverflow](https://stackoverflow.com/questions/44456263/microsoft-office-interop-word-omath).

Hope this helps!

[2019-09-11 22:33] yunyunyunyun commented on #1797
@Hodori88, if your appeal is approved, you won't get an email, when you activate sandbox again, you will just be able to activate it. We have approved all the good users's appeal tickets. Can you activate sandbox now? Let me know your email address if you still can't activate sandbox.
and @mcurko , our system might again detect some of your activity which the system thinks not good . Let me know y

[2019-09-11 22:48] MegoCs commented on #1797
@yunyunyunyun Could you please check my case my email is "MegoCs@Hotmail.com" i didn't make any unauthorized actions and i have a pay as you go subscription linked to my learning account.
i just tryied to create the service from the portal rather than azure cli in learning module as it was giving me faild to acquire shell session number of active users is more than 352, so i tried to continue the

[2019-09-11 23:06] docs-product commented on #1919
I believe this is by-design, but @shirgoldbird can confirm.

cc: @DuncanmaMSFT

[2019-09-12 01:05] ChuckM2 commented on #1898
Hi, The web page still has the broken link for me.  Was the changed pushed out?
I also found the same broken link to the old "mulit-engine" location on a few other pages.

[2019-09-12 01:31] DubbySlashy commented on #1909
I'll close this once Ehren confirms that the fix was actually made.

Since I'm not going to get a better chance to ask this, I'll ask it now:
What is the best publicly accessible place(s) to leave feedback for the Power Query language and the DAX language (e.g. suggest changes in behaviour, suggest new functions, suggest performance enhancements, or report bugs)?

I realize that there are UserVoic

[2019-09-12 07:16] DeonGovender commented on #1916
Thanks, confirmed with Microsoft that profile accounts cannot be merged.

[2019-09-12 07:16] #1916 closed

[2019-09-12 07:39] Dilshad-Mansuri opened #1921 "SSRS Report Viewer"
Hii,
I am using dot not core MVC and want to display SSRS or rdl reports in my project.
I can't find the correct solution anymore,

How can I call SSRS reports?

[2019-09-12 18:36] Bob1ngton opened #1922 "Bad URL to Azure Python Documentation"
**Description**
When visiting the page https://azure.microsoft.com/en-us/develop/python/, a short ways down there is a button called "Explore the documentation" this lead to the link https://docs.microsoft.com/en-us/python/azure/ which is not found.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://azure.microsoft.com/en-us/develop/python/
2. Go part way down to a blue button cal

[2019-09-13 05:26] jgwinner opened #1923 "Search is horrible - contextual search is really bare minimum"
**Is your feature request related to a problem? Please describe.**
It is nearly impossible to find updated documentation on any Windows Server feature. For example, I'm doing a Domain rename. The documentation I find with Google (as Bing is hopelessly irrelevant) was to Server 2008. You would think I could search for "Domain rename" but the links returned are so far off, it's laughable.

Sorry, I'

[2019-09-13 06:54] mcurko commented on #1797
MS, please fix the time zone issue.
"You have used all 4 sandboxes for today. More sandboxes will be available tomorrow."
I swear it's my first sandbox today, it's 9AM where I am!

[2019-09-13 09:20] ljtill opened #1924 "Bookmarks Organisation"
**Is your feature request related to a problem? Please describe.**
-

**Describe the solution you'd like**
With the recent release of Bookmarks within Microsoft Docs, it would be handy to be able to organise bookmarks into Folders or Groups. Personally I've got a number of Azure pages which I'd like to be able to sort into product folders for example. Also the ability to sort the bookmarks based u

[2019-09-13 10:20] mjfreelancing opened #1925 "Effect Behavior Demo is not showing the expected shadow"
**Link to article:**
https://docs.microsoft.com/en-us/samples/xamarin/xamarin-forms-samples/behaviors-effectbehavior/

**Problem:**
The demo application has two issues:

1. When built and deployed to a physical device (Google Pixel 3XL) running Android 9 the following error is received - “Blocked by Play Protect – This app was built for an older version of Android and doesn’t include the latest pr

[2019-09-13 13:11] ddavisringtown commented on #1449
I have the exact same issue. Tried site with Firefox, Chrome, and a never before used Edge browser. Same message across all of them:

Any progress on getting this bug fixed? Any workarounds?

[2019-09-13 13:22] dnutiu commented on #1449
For me it just started working again by itself.

On Fri, Sep 13, 2019, 16:11 Daryl Davis <notifications@github.com> wrote:

[2019-09-13 14:08] KalleOlaviNiemitalo commented on #1903
dotnet/dotnet-api-docs#1540 is similar.

[2019-09-13 14:20] KalleOlaviNiemitalo commented on #1871
Part of it has been open sourced as DocFx (<https://github.com/dotnet/docfx/>, <https://dotnet.github.io/docfx/>), but this does not include anything that runs on the web server (login, bookmarks, GitHub feedback integration).

[2019-09-13 14:46] jvschoen opened #1926 "docs learn browse link is broken"
https://docs.microsoft.com/en-us/learn/browse/?roles=data-scientist

The link above brings me to a no results found page. Even If I try typing anything into the search box I get no results. I am brought to the site from:

https://docs.microsoft.com/en-us/learn/?l=ZTStIacZD_6511316548

I click the select my role and choose data scientist, and then I'm directed to that first link to no results.

[2019-09-13 14:56] KalleOlaviNiemitalo commented on #567
If you feed an XML documentation comment like this to the C# compiler:

[code]

then it generates this in the XML documentation file:

[code]

The syntax of the ID string is documented in [Processing the XML File (C# Programming Guide)](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/xmldoc/processing-the-xml-file) and in ECMA-334 (5th ed.) D.4.2.

Then, if you remove the leading

[2019-09-13 16:32] Bob1ngton commented on #1922
Issue fixed, the button now takes me to the python azure documentation page.

[2019-09-13 16:32] #1922 closed

[2019-09-13 19:14] ChuckM2 opened #1927 "I'm having problem seeing the entire table"
**Link to article:**
"Tell us where exactly a problem occurs."
https://docs.microsoft.com/en-us/windows/win32/direct3ddxgi/hardware-support-for-direct3d-12-1-formats

**Problem:**
"What's wrong with the article?"
I have a very wide display and I want to view the table on this article, but no matter what I do (using Chrome or IE browser, making window size larger) I only see a small region of the t

[2019-09-13 21:26] yunyunyunyun commented on #1797
@mcurko, the time is not a calendar day due to different time zones, it's calculated the last 24 hours.

[2019-09-13 21:27] mairaw commented on #1797
@yunyunyunyun would it be better to say in the last 24 hours then? Might be more clear to customers.

[2019-09-15 14:07] GiantCrocodile commented on #1919
Even if it is by design, it is a bit user-unfriendly due to its lower usability ;).

[2019-09-15 16:37] dinobu opened #1928 "Microsoft Learn"
By far most useless site so far, cant find almost nothing, cant contact anyone, all site is just sales pitch and nothing else.  Worthless waste of time by every and any measurement

[2019-09-15 21:11] gongminmin commented on #1465
Any update? This header file was rolling out for 2 years, still no document.

[2019-09-16 07:58] nidiya opened #1929 "Type wrong for data"
**🛑 IMPORTANT**:
**Link to article:**
https://docs.microsoft.com/zh-cn/visualstudio/releasenotes/vs2017-relnotes

**Problem:**
The data is wrong for Visual Studio 2017 Version 15.9.16.  The right data should be 2019/9/10.

[2019-09-16 08:45] maximzyl opened #1930 "No Belarus region"
Can't choose Belarus region when I try to personalize my account. There is not Belarus at the control.

[2019-09-16 13:15] adrianlaraperez88 commented on #1815
(
    [message] => com.linkedin.publishing.util.common.ResponseException: One or more of the assets is not owned by the author. All assets must be owned by the author
    [status] => 400
)

[2019-09-16 15:52] michaeljones-clearwave-es opened #1931 "signup for technet link is broken"
**Describe the bug**
If you click on the link:
Sign up and customize your news to stay informed automatically.
You get an error page that says:
An unknown error occurred while processing your request. This is most likely due to a connection failure. Please try again.

R30EZW-8a6a6995-5df4-4729-b510-6cd357cc9970

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://technet.microsoft.

[2019-09-16 16:43] ChuckM2 commented on #1898
Link is working for me now.  Thank you.

[2019-09-16 17:57] revpixel opened #1932 "Completed Filter stopped working"
When I click completed in Edge, Chrome or the new Edge Chromium the filter does not work (even with a refresh)

![image](https://user-images.githubusercontent.com/21064412/64981267-b9277200-d889-11e9-87a6-1c58a474861e.png)

It used to sometimes need a refresh in the browser to work now the page still shows completed training using the link https://docs.microsoft.com/en-us/learn/browse/?hideComplet

[2019-09-16 18:00] Ry-Fi opened #1933 "Incorrect (broken) Hyperlinks in Raw Input Reference"
**Describe the bug**
In the Raw Input Reference, links in the left pane to the Raw Input Structures are broken.

Eg. In the left pane, the RAWKEYBOARD link's URL is
https://docs.microsoft.com/en-us/windows/desktop/api/winuser/ns-winuser-tagrawkeyboard
which is a 404.  On the page
https://docs.microsoft.com/en-us/windows/win32/inputdev/raw-input-structures
in the primary pane the RAWKEYBOARD link's

[2019-09-16 18:04] nnpcYvIVl commented on #1184
Fixed by https://github.com/MicrosoftDocs/win32/pull/30.

[2019-09-16 18:04] #1184 closed

[2019-09-16 18:37] ChuckM2 opened #1934 "Broken link in DX12 doc"
**Describe the bug**
https://docs.microsoft.com/en-us/windows/win32/direct3d12/recording-command-lists-and-bundles
On this page, the link to D3D12_COMMAND_LIST_TYPE in the top outline goes to https://docs.microsoft.com/en-us/windows/ instead of someplace within the document.

**To Reproduce**
Open link - https://docs.microsoft.com/en-us/windows/win32/direct3d12/recording-command-lists-and-bundles

[2019-09-16 20:25] AS-at-GitHub opened #1935 "Redirected to MDN (mozilla) from docs.microsoft.com"
**Describe the bug**
I click on the APPLICATIONNAME or applicationName links at the HTA:APPLICATION Element | HTA:APPLICATION Object page (https://docs.microsoft.com/en-us/previous-versions/ms536495(v=vs.85)) and am re-directed to MDN (mozilla)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/previous-versions/ms536495(v=vs.85)
2. Click on APPLICATIONNAM

[2019-09-16 20:41] drewbatgit commented on #1465
This content has been written and is undergoing a technical review right now. It should be live within the next few weeks.

[2019-09-16 20:41] #1465 closed

[2019-09-16 23:01] mairaw commented on #1934
@stevewhims I've opened https://github.com/MicrosoftDocs/win32/pull/35 to fix this.

[2019-09-16 23:13] #1934 closed

[2019-09-16 23:14] ChuckM2 commented on #1934
Thank you :-)

[2019-09-17 03:01] Mwilliams0714 opened #1936 "Please Note: Typo in title of page"
Link to article:
https://docs.microsoft.com/en-us/office365/securitycompliance/how-atp-safe-attachments-works

Problem:
In the title "How ffice 365 ATP Safe Attachments works" the "O" in Office is missing.

[2019-09-17 15:38] FrederikGylling opened #1937 "How to link MS corporate account with private account to transfer level and learnings?"
Before joining Microsoft, I've done trainings on Microsoft Learn (Docs). How can I link those accounts?

[2019-09-17 18:01] cihan-m commented on #1861
Friendly ping @dend!

[2019-09-17 19:50] JST1MOteKILLya opened #1938 "Article - BitLocker drive encryption in Windows 10 for OEMs - Behaivor not has documented."
No comment section available in this article.

Article:  BitLocker drive encryption in Windows 10 for OEMs
https://docs.microsoft.com/en-us/windows-hardware/design/device-experiences/oem-bitlocker

Issue section:  BitLocker automatic device encryption

Note states... "BitLocker automatic device encryption is enabled only after users sign in with a Microsoft Account or an Azure Active Directory acc

[2019-09-18 11:57] geekrishi opened #1939 "No samples for using REST API with Bot Framework v4"
Hi,

I tried to search how can I consume REST API in my nodejs file for Bot Framework v4. I tried to look up in following:

https://docs.microsoft.com/en-us/azure/bot-service/rest-api/bot-framework-rest-connector-api-reference?view=azure-bot-service-4.0

But I didn't find any solution that can help me out. So if we could have some samples it could help anyone new to it otherwise it would be hunch

[2019-09-18 13:33] mathieuvannoo commented on #1797
@yunyunyunyun

Hi,

I'm facing the same issue and can't seem to find a workaround. I need to progress in this Microsoft Learn set of labs for the purpose of a course I am taking at work and without the ability to create sandboxes, I can't move forward in the course.

Please help!

[2019-09-18 15:09] inmysore opened #1940 "Have issue deleting a learning path - any help?"
I do not know how I accidentally added a learning path to my learning plan. Can't find a way to delete it. Any help is appreciated. This site is terrible for self-help and no contacts available.

I need to remove dynamics 365 learning path... screen shot attached.

![Microsoft learn plan](https://user-images.githubusercontent.com/48962182/65160883-94a3d500-da04-11e9-9701-5f6438383112.png)

[2019-09-18 17:49] docs-product commented on #1921
Hello! Because this does not pertain to docs.microsoft.com, we cannot address the question in this forum.

[2019-09-18 17:49] #1921 closed

[2019-09-18 17:50] docs-product commented on #1897
Hello @rootsmusic - this section is the one where you can open GitHub issues as feedback.

[2019-09-18 17:50] #1897 closed

[2019-09-18 17:51] docs-product commented on #1879
Taking this offline, thank you for bringing this up! Customers outside of Microsoft should not be using SiteHelp.

[2019-09-18 17:51] #1879 closed

[2019-09-18 18:20] divega commented on #1854
@smitpatel is going to look into publishing all API reference for EF Core, and can take over this.

[2019-09-18 18:39] #1682 closed

[2019-09-18 18:39] #1578 closed

[2019-09-18 18:40] #1528 closed

[2019-09-18 18:41] mairaw commented on #1251
tagging @conceptdev to take a look at this issue

[2019-09-18 18:42] mairaw commented on #1315
@docs-product @mimig1 @aprilspeight please take a look at this feedback re. language selection

[2019-09-18 18:43] #1026 closed

[2019-09-18 18:46] mairaw commented on #433
@docs-product @mimig1 please look at the latest comments.

[2019-09-18 18:49] conceptdev commented on #1251
Thanks for the feedback @stevenbrix - we are currently in the process of re-designing the page you referenced (1), along the same lines as [Visual Studio](https://docs.microsoft.com/en-us/visualstudio/?view=vs-2019). I believe the new design will address these concerns - look out for it in the next week or two!

#please-close

[2019-09-18 18:59] drewbatgit commented on #1481
These broken links were due to a site-wide issue that has been resolved. These links are now resolving successfully.

[2019-09-18 18:59] #1481 closed

[2019-09-18 19:14] mimig1 commented on #433
@mairaw - Should this go to @mimisasouvanh?

[2019-09-18 19:15] mimig1 commented on #1315
@mairaw - Should this go to @mimisasouvanh?

[2019-09-18 21:47] meganbradley commented on #367
Internal guidance is available, but enforcing it with automation is not a priority at this time.

[2019-09-18 21:47] #367 closed

[2019-09-18 21:50] meganbradley commented on #84
This is not a priority at this time. Most pages provide an Edit link for lightweight editing, and cloning the repo locally is considered an acceptable process for more in-depth editing.

[2019-09-18 21:50] #84 closed

[2019-09-18 22:38] stevenbrix commented on #1251
great to hear it, thank you!!

[2019-09-19 01:27] ChuckM2 commented on #1927
![image](https://user-images.githubusercontent.com/28119814/65204769-eae33900-da41-11e9-8306-1dc1e20e9f66.png)

[2019-09-19 02:06] mairaw commented on #1927
That seems like a tough issue to solve. Adding @stevewhims to take a look.

[2019-09-19 04:34] stevewhims commented on #1927
Yes, this is very tricky. All of the topics in this series of topics have this same problem. This is the only topic in the series that has tried to break a single table down into multiple tables (breaking at arbitrary places in the list of 115 formats) presumably to try and alleviate slightly the scrolling issue. It doesn't alleviate it enough, though.

What I'm inclined to do is this. Break the t

[2019-09-19 06:38] ChuckM2 commented on #1927
So my use case is to look up a certain format, like "R10G10B10A2_UNORM", and see all the information about that format, preferably with as much information on screen at once.  Are suggesting making one table per format with all of the information on one or two tall columns, so no horizontal scrolling?  (I think I'm confused when you say "table with a row per target".)

[2019-09-19 06:42] ChuckM2 commented on #1927
This is the result (see attached image) of some hacking and browser extensions.  Is this not possible to achieve on the Microsoft website?  Why is the table width restricted so much?

![image](https://user-images.githubusercontent.com/28119814/65219674-e3d22000-da6d-11e9-8022-f140fcf43c3d.png)

[2019-09-19 06:54] hemd opened #1941 "a spell mistake?"
**Link to article:**
[SHGetFolderPathA](https://docs.microsoft.com/en-us/windows/win32/api/shlobj_core/nf-shlobj_core-shgetfolderpatha)

**Problem:**
reference that :

Is it "For example, "C:\Users" is returned rather than "C:\Users\\" ?

[2019-09-19 08:27] artsiomtserashkovich opened #1942 "Brackets mistakes in Docs of ContainerProperties Class"
**Link to article:**
[https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.cosmos.containerproperties?view=azure-dotnet#examples](ContainerProperties Docs. Example Section)

**Problem:**
When i've explored docs of ContainerProperties, i noticed that in example section you have few mistakes with brackets.
Instead of using ``)`` bracket to close signature of method call , you use ``]`` bracke

[2019-09-19 09:21] fremont-holt commented on #1797
This happened to me the first time using my account...not sure what I did! O_o

[2019-09-19 11:14] DerekLedbetter opened #1943 "On Microsoft Site - link below doesn't work"
To whom it may concern:

I have been doing research and the following link does not work.

https://docs.microsoft.com/en-us/windows/device-security/auditing/security-auditing-overview

Thanks,

[2019-09-19 15:34] Sampy commented on #828
We have deployed. We changes to the authentication system on Docs which should address your issues. If not, let us know.

[2019-09-19 16:36] cartermp commented on #1469
Not sure why I was assigned here. The problem is that the docs API reference can only auto-generate things; otherwise this would have been taken care of long ago.

[2019-09-19 17:01] dkimbell13 opened #1944 "OptionsConfigurationServiceCollectionExtensions Needs TryConfigure methods"
To check if an Option has been added to the IServiceCollection we must current do the following...
`if (collection.FirstOrDefault(m => m.ServiceType == typeof(IConfigureOptions<{OptionType}>)) == null)
            {
                collection.Configure({Action<OptionType>});
            }`

The ServiceCollectionDescriptorExtensions methods all have Try{...} variations, shouldn't this also be avail

[2019-09-19 18:54] vincentadriaensen opened #1945 ""Download your data" button downloads other users profile data"
**Describe the bug**
When i downloaded a copy of **My data** from the my profile page, i received a copy of the data of another user.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to **https://docs.microsoft.com/en-us/users/*<Your_User_Name>*/settings/**
2. Click on **Download** in the *Download your data*-section of the profile page
3. Look at the download, in my case the download exis

[2019-09-19 20:19] boburke opened #1946 "Missing close quote in XAML example of Control.TabIndex property"
https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.control.tabindex

This page contains a XAML example with a syntax error:

`<control TabIndex="int/>`

[2019-09-20 01:01] stevewhims commented on #1489
Thanks for bringing this issue to our attention. The topics have been fixed/restored, and published.

Thanks again!
Steve

[2019-09-20 01:01] #1489 closed

[2019-09-20 10:06] JimmyLovely opened #1947 "[Chinese] - A translation error."
**Link to article:**

https://docs.microsoft.com/zh-cn/forms-pro/view-summary-information

https://docs.microsoft.com/en-us/forms-pro/view-summary-information

**Problem:**

`Overview` is `概述`, not `爱书` in Chinese. It's confused, and the customer does not know where to find this `tab`.

[2019-09-20 10:12] seredasv opened #1948 "Hide completed for a list of courses doesn't work"
**Describe the bug**
Hide completed checkbox pressed but a list of courses is not upated.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/en-us/learn/browse/?roles=developer&products=azure&resource_type=module&hideCompleted=true'
2. Click on 'hide completed check box'
4. Completed courses are still shown

**Expected behavior**
If I'm pressing "hide completed

[2019-09-20 17:10] rootsmusic commented on #1906
@mairaw Please see [issue #1913](https://github.com/MicrosoftDocs/feedback/issues/1913)

[2019-09-20 17:21] mairaw commented on #1315
Yes, my apologies!

[2019-09-20 17:44] mairaw commented on #1913
@rootsmusic I don't understand this issue. The team has probably opted for working on a private repository only. Is there something wrong that you're seeing with that content?

[2019-09-20 17:52] kopaka1822 opened #1949 "D3D12_BOX description"
**Link to article:**
https://docs.microsoft.com/en-us/windows/win32/api/d3d12/ns-d3d12-d3d12_box

**Problem:**
The description for the `bottom` and `back` parameter is wrong.
It should say:
This means that `bottom - top` equals the height of the box.
This means that `back - front` equals the depth of the box.

Because bottom > top and back > front.
Tested with CopyTextureRegion()

[2019-09-20 21:52] #1913 closed

[2019-09-20 22:22] Abdelrahmanpro opened #1950 "New-MigrationEndPoint -PublicFolder "This parameter is reserved for internal Microsoft use.""
**Link to article:**
Tell us where exactly a problem occurs.
https://docs.microsoft.com/en-us/powershell/module/exchange/move-and-migration/new-migrationendpoint?view=exchange-ps

**Problem:**
What's wrong with the article?
"This parameter is reserved for internal Microsoft use" mentioned with Parameter "-PublicFolder"  and at the same time it's mentioned to be used with another Microsoft article;

[2019-09-20 22:58] terrajobst commented on #1315
OK, this seems like a docs issue because the URL actually includes the VB language.

[2019-09-20 23:23] wwlorey opened #1951 "Resource group name validation isn't consistent with docs"
**Link to article:** https://docs.microsoft.com/en-us/rest/api/resources/resourcegroups/createorupdate
**Issue location**: The regular expression in the `resourceGroupName` section under `URI Parameters`.

![Screen Shot 2019-09-20 at 4 15 42 PM](https://user-images.githubusercontent.com/22795803/65363673-ff4e3f80-dbc1-11e9-8485-ceb25ead33ad.png)

**Problem:** The documentation provides regex that

[2019-09-21 00:41] mjfreelancing opened #1952 "xaminals demo does not build"
**Describe the bug**
The download at https://docs.microsoft.com/samples/xamarin/xamarin-forms-samples/userinterface-xaminals/ does not build

**To Reproduce**
Steps to reproduce the behavior:

1. Download demo frrom https://docs.microsoft.com/samples/xamarin/xamarin-forms-samples/userinterface-xaminals/

2. Build

**Expected behavior**
The demo should build

The error (6 of them) is in AppShell.xa

[2019-09-21 02:14] mairaw commented on #1952
@conceptdev can you take a look at this feedback?

[2019-09-21 03:13] conceptdev commented on #1952
Thanks for the feedback @mjfreelancing – it builds and runs fine in Visual Studio for Mac (stable release) without having to update NuGets.

Note that I also see the errors you refer to in the **AppShell.xaml** page while _editing_ the XAML, but since it compiles and runs successfully, that is more likely to be a bug in the IDE that [should be reported inside Visual Studio](https://docs.microsoft.

[2019-09-21 04:02] mjfreelancing commented on #1952
How strange. As I am using Windows, I decided to delete the project, download again (I downloaded the previous version only a few hours ago so I assume it is the same), and re-create the error. Oddly, it built this time. I have no explanation.

I'll report the other issue within the IDE (screen shot attached for reference).

![warnings](https://user-images.githubusercontent.com/17043225/65367684-6

[2019-09-21 04:14] mjfreelancing commented on #1952
Let's hope the IDE team respond. None of my previous reports have ever been responded to beyond 'Triaged'.

Here's the new report: https://developercommunity.visualstudio.com/content/problem/742148/unnecessary-warnings-with-xamarin-forms-shell.html

[2019-09-21 04:26] conceptdev commented on #1952
Thanks, I see the same underlining/errors in the XAML editor on macOS. I added a screenshot to the developercommunity item, so I'll see any responses as well.

Despite the fact that this does appear to be an IDE bug, I'll also pass on your suggested fix

which might reduce confusion for other users (regardless of whether it "should" be necessary or not).

Appreciate the feedback.

#please-close

[2019-09-21 04:48] #1952 closed

[2019-09-21 17:06] LorenDB opened #1953 "Touchscreen docs missing for MFC"
There is no documentation for the MFC touchscreen functions.

If the documentation team could write some docs on the subject, I would appreciate it.

There is not much information on the subject located on Google.

[2019-09-21 17:06] ComputerSemi-expert opened #1954 "Touchscreen docs missing for MFC"
There is no documentation for the MFC touchscreen functions.

If the documentation team could write some docs on the subject, I would appreciate it.

There is not much information on the subject located on Google.

[2019-09-23 09:20] schoche2 opened #1955 "Example for .formulalocal makes no sense with the german laguage settings."
**Link to article:**
https://docs.microsoft.com/en-us/office/vba/api/excel.range.formulalocal

https://docs.microsoft.com/de-at/office/vba/api/excel.range.formulalocal

**Problem:**
The Example makes no sense if you use the german language settings.

**Nehmen wir an, Sie geben die Formel =SUM(A1:A10) in Zelle A11 des ersten Arbeitsblatts ein und verwenden dazu die US-Englisch-Version von Microsoft

[2019-09-23 09:21] krisrajzlive opened #1956 "Bookmarking"
There is a Bookmarks in the profile page of learning portal, but not sure how to bookmark a page and bring it to Bookmarks tab.
Any help would be appreciated.

[2019-09-23 09:25] krisrajzlive opened #1957 "Hide Completed not working"
I searched for Virtual Machines, learning portal displayed all the articles including those I have completed. The checkbox Hide Completed, upon checking does not hide anything!

[2019-09-23 10:59] JiriCepelkaFirstLineSoftware opened #1958 "StreamReader Class/IDisposable important note/direct call"
**Describe the bug**
At [StreamReader Class](https://docs.microsoft.com/en-us/dotnet/api/system.io.streamreader?view=netframework-4.8) there is important note in [Remarks](https://docs.microsoft.com/en-us/dotnet/api/system.io.streamreader?view=netframework-4.8#remarks) section, “_This type implements the IDisposable interface. When you have finished using the type, you should dispose of it either

[2019-09-23 15:35] rorsino opened #1959 "Print a section of a document"
I remember when you used to be able to print a specific section of a document. Now there is only "Download PDF" which gives you everything.

I am looking at the  "Search" section of SharePoint Server (https://docs.microsoft.com/en-us/SharePoint/search/search-architecture-overview) and only want to print that section.  If I click on the Download PDF, I get all 600+ pages in a PDF file when all I wa

[2019-09-24 01:41] ChuckM2 opened #1960 "Suggested content improvement - WAIT_ABANDONED_0"
**Link to article:**
https://docs.microsoft.com/en-us/windows/win32/api/synchapi/nf-synchapi-waitformultipleobjects

**Problem:**
It doesn't clearly describe what WAIT_ABANDONED_0 is.  This is clearly described here: https://docs.microsoft.com/en-us/windows/win32/api/synchapi/nf-synchapi-waitforsingleobject

Either a link to the other document or the full description should be added to the page ne

[2019-09-24 02:34] RussKie commented on #1326
@sudeepku coming from https://github.com/dotnet/docs/issues/14492 it took me awhile to realise I had to actually scroll **all the way down the page** to find the language settings.
It is an accessibility issue.

[2019-09-24 02:40] mairaw commented on #1326
Pinging @docs-product to review this issue again.

[2019-09-24 02:46] mairaw commented on #1960
@GrantMeStrength can you look at this feedback?

[2019-09-24 03:06] v-Muddu opened #1961 "Typo in Microsoft Bot Framework documentation page"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**Link to article:**
[Click here](https://dev.botframework.com) to go to the documentation page
**nit**: There's a typo under _Engage with customers in a conversational manner_ title. The description for **Jet.com** has a typo.

Tell us

[2019-09-24 03:10] mairaw commented on #1961
@Kaiqb is this something you can help route?

[2019-09-24 03:19] levistage commented on #1905
I got the same problem. Could just add the body section to the exercise page? Thanks.

[2019-09-24 03:29] mairaw commented on #1905
@eligr can you please look at this feedback?

[2019-09-24 06:31] eligr commented on #1905
@Laurent Amar<mailto:laurenta@microsoft.com>, can you take a look, please?

From: Maira Wenzel <notifications@github.com>
Sent: Tuesday, September 24, 2019 6:29 AM
To: MicrosoftDocs/feedback <feedback@noreply.github.com>
Cc: Eli Greenwald <eligr@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/feedback] No body request field is available (#1905)

@eligr<https://nam0

[2019-09-24 09:15] aNewLearnerHere opened #1962 "client connected successfully but can not receive message from service someTimes"
**Describe the bug**
client connected successfully but can not receive message from service someTimes

**To Reproduce**
Steps to reproduce the behavior:
1. import hubs source by using a script dom in html
2. assign $.connection.hub.url
3. assign $.connection.hub.qs
4. $.connection.hub.logging = true;
5. const pushAuction = $.connection.pushAuction;
pushHubMethod.client.upCar = (msg: any) => {

[2019-09-24 19:15] Daniel-Svensson opened #1963 "Open Source WCF Ria Services documentation ?"
Hi.

I am the current maintainer/owner of OpenRiaServices which is the open sourced version of WCF Ria Service. The source code was open sourced way back in 2013 but the documentation was not made a

Would it be posible to release the documentation for WCF Ria Services at
https://docs.microsoft.com/en-us/previous-versions/dotnet/wcf-ria/ee707344(v=vs.91) and nested sites for use by the [OpenRiaSer

[2019-09-24 20:53] Karl-Bridge-Microsoft commented on #1901
@nikolodus - thanks! Topic has been updated.

[2019-09-24 21:08] krishty opened #1964 "Backslashes in code samples"
**Link to article:**
"Number Formatting in Win32"
https://docs.microsoft.com/en-us/globalization/locale/number-formatting-in-win32

**Problem:**
Both code samples are full of backslashes which shouldn’t be there, e.g. LOCALE\\_USER\\_DEFAULT instead of LOCALE_USER_DEFAULT.

[2019-09-25 10:38] eligr commented on #1905
Thank you for reporting this issue.
It will be fixed as part of the upcoming SDK release scheduled for the next couple of days.

From: Eli Greenwald <eligr@microsoft.com>
Sent: Tuesday, September 24, 2019 9:31 AM
To: MicrosoftDocs/feedback <reply@reply.github.com>; MicrosoftDocs/feedback <feedback@noreply.github.com>; Laurent Amar <laurenta@microsoft.com>
Cc: Mention <mention@noreply.github.com>;

[2019-09-25 18:03] sadadow commented on #1928
Hi there dinobu,

Sorry to hear that you are having difficulty finding the items that you are looking for relating to certification.

You can find information on 70-486 here: https://www.microsoft.com/en-us/learning/exam-70-486.aspx

and 70-483 here: https://www.microsoft.com/en-us/learning/exam-70-483.aspx

To ask questions related to certifications, please see: https://www.microsoft.com/en-us/le

[2019-09-25 18:08] sadadow commented on #1940
Hi inmysore,

Thanks for reaching out. Unfortunately, there is no current way to remove a learning path from the list of your courses in progress at this time. We appreciate you notifying us of this issue and we will look at increasing the prioritization of a removal capability.

Warm regards,

[2019-09-25 20:08] dinobu commented on #1928
I am not having problems finding information, I am having problems finding useful information but I guess that is clear from the above.  Rearead my comment above, check the links in your answers, try to spot issue, especially with the microsoft learn site, see where that gets you.  Do you really think I just landed here and started complaining without spending lots of time researching first?
Altho

[2019-09-25 21:24] #1954 closed

[2019-09-26 08:00] SebMouren opened #1965 "Power Query M Formula Language Specification (July2019)"
In [Power Query M Formula Language Specification (July2019)] (http://download.microsoft.com/download/8/1/A/81A62C9B-04D5-4B6D-B162-D28E4D848552/Power%20Query%20M%20Formula%20Language%20Specification%20(July%202019).pdf), , page 46, _**Grammar production**_ for Types (in chapter 5. Types) is non-logical and not meaningful;

"_type-expression:_
_primary-expression_
`type` _primary-type_

_type:_
_pa

[2019-09-26 11:14] SharunasBielskis opened #1966 "Incorrect constructor description in the table (section - Instantiating a StringBuilder object)"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**https://docs.microsoft.com/en-us/dotnet/api/system.text.stringbuilder?view=netframework-4.8:**
Tell us where exactly a problem occurs.

**Problem:**
What's wrong with the article?

In the article StringBuilder   Class  - https://docs.m

[2019-09-26 13:23] mirel-spr opened #1967 "Broken link in WPF desktop documentation"
https://docs.microsoft.com/en-gb/dotnet/desktop-wpf/fundamentals/styles-and-templates-overview
The link leads to a 404 page.
I have found this link at the bottom of [this page](https://docs.microsoft.com/en-us/dotnet/framework/wpf/controls/window-styles-and-templates), and it comes up as the fourth link in [this google search](https://www.google.com/search?q=apply+style+to+window+wpf&oq=apply+cust

[2019-09-26 15:55] ngirard opened #1968 "Missing "Keyboard Scan Code Specification" document"
The document titled *"Keyboard Scan Code Specification"* and previously available as a file named `scancode.doc`, is unreachable.

It used to be reachable from the following urls:
- http://download.microsoft.com/download/1/6/1/161ba512-40e2-4cc9-843a-923143f3456c/scancode.doc
- http://go.microsoft.com/fwlink/p/?linkid=242210

According to [archive.org](https://web.archive.org/web/20190902190128/ht

[2019-09-26 23:16] jialge commented on #1828
I'm happy to announce that we released the account linking feature yesterday.  You can link up to 1 MSA and 5 AADs (from different domains) together.   Please go to the profile settings, and scroll to the 'Account Management' section to link accounts.

[2019-09-27 00:44] docs-product commented on #650
Thank you for the feedback! After assessing this request, we have decided that at this time we will not be implementing changes to overload navigation in the **All APIs** selection in the .NET API Browser. Given that this is non-blocking and the user can still reliably navigate to the overload from the page discovered through the API Browser, this will be a `wont-fix`.

[2019-09-27 00:44] #650 closed

[2019-09-27 00:46] docs-product commented on #1945
Thank you for the report - we are investigating this!

[2019-09-27 02:35] ShinjiFunabiki opened #1969 "Typo"
Microsoft Forms Pro の試用にサインアップする
Microsoft Forms Pro は、2019年 7 月 1 日に一般提供されました。 Forms Proを試すには、30日間無料トライアルにサインアップできます。 試用期間の終了後、 Microsoft Forms Pro を**スカイ**続けるには有料ライセンスが必要です。

スカイ→使い

[2019-09-27 05:20] AndrewCook commented on #1945
@vincentadriaensen Thank you for reporting this. I'm one of the engineers investigating this issue. Could you email me a copy of the json you received when you downloaded a copy of your data as well as the date and time you clicked on the download my data button? You can email me directly at andrew.cook@microsoft.com

[2019-09-27 08:53] dudgh9661 opened #1970 "trouble site."
why do not run the cell frequently???
i tried sign out and sign in but do not run.
i think this is the very trouble site

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to hap

[2019-09-27 09:39] TormodLandet opened #1971 "Azure CycleCloud Scheduler Integration doc page - multiple bugs in the Python code"
**Link to article:**
https://docs.microsoft.com/en-us/azure/cyclecloud/scheduler-integration

**Problem:**
The Python code in "sge_job_handler" is:

- Not syntactically valid Python: `hard_resources {'slot_type': 'gpu'}` (in what version of Python is this a valid line of code?? )
- Contains a large logic bug defeating the purpose of the code (not overriding "slot_type" if already set by the user)

[2019-09-27 09:39] he32 opened #1972 "Confusing documentation of Trust Anchor tracking (RFC 5011)"
**Link to article:**
https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2012-r2-and-2012/dn593672(v%3Dws.11)

**Problem:**
In the **Working with trust anchors** section there is an "information" box which is quite confusing; it says

```Windows Server 2012 and Windows Server 2012 R2 fully support RFC 5011. Support for RFC 5011 is enabled on the authoritative DNS serve

[2019-09-27 09:42] TormodLandet commented on #1971
The second line of the function is also wrongly indented, making it two syntax errors in this seven line function ...

[2019-09-27 10:18] vincentadriaensen commented on #1945
Hi @AndrewCook

I send you a copy via email.

Time of the download: **19/09/2019 20:30 CET**.

When i tried again half an hour later (19/09/2019 20:58 CET), i did receive the right data. But i still think this issue is worth looking into.

[2019-09-27 12:50] AndSk opened #1973 "Broken link to PIFF specifications"
The link "Protected Interoperable File Format (PIFF) specification" (https://go.microsoft.com/?linkid=9682897) gives a 404 error on this page:

https://docs.microsoft.com/en-us/iis/media/smooth-streaming/protected-interoperable-file-format

[2019-09-27 16:53] saf-itpro commented on #1848
@davidchesnut Thank you for making the change.

[2019-09-27 16:53] #1848 closed

[2019-09-28 00:12] joeyaiello commented on #778
The edit button was removed as these are supposed to be fixed in [PowerShell source code](https://github.com/powershell/PowerShell) (from which they're reflected against).

@Powerhelmsman can you please close this issue? Thanks!

[2019-09-28 08:11] emreerkoca opened #1974 "Wrong url routing"
Msdn issue:

https://code.msdn.microsoft.com/LINQ-Element-Operators-0f3f12ce (Element Operators)

Open this page. Scroll down to bottom. Click "Generation Operators" link. It' s routing you 'Element Operators' page.

[2019-09-28 10:50] elkejorens opened #1975 "dropdown share achievements unclickable"
**Describe the bug**
When wanting to share an Achievement/Trophy, the share box is partially hidden and not clickable. This issue is for all achievements in Edge, IE and Chrome.

**To Reproduce**
1. Go to Achievements
2. Click on share on any achievement

**Screenshots**
![share issue](https://user-images.githubusercontent.com/55914864/65815322-566d9900-e1ee-11e9-94f1-d8d14ec970dd.JPG)

**Desktop

[2019-09-28 15:32] JohnyL opened #1976 "Articles in Russian language are always outdated"
Information in Russian is always outdated comparing to English one.
**Examples**:
 1. Page in [Russian](https://docs.microsoft.com/ru-ru/dotnet/standard/frameworks)
 2. Page in [English](https://docs.microsoft.com/en-us/dotnet/standard/frameworks)

Compare:

Section | English | Russian
------- | --------- | ---------
NET Standard | netstandard2.1 | netstandard2.0
NET Core | netcoreapp3.0 | netcore

[2019-09-29 02:28] bdcoder2 opened #1977 "https://docs.microsoft.com/en-us/users/profile-name/settings/ unable to save ..."
**Unable to save email preferences in profile settings**

- When on page: https://docs.microsoft.com/en-us/users/{profile-name}/settings/

where: {profile-name} is your profile name.

**To Reproduce**
1. Log in to your account.
2. Click on profile name (top right corner)
3. Click on "Settings"
4. Under "Manage your email preferences", Select  a country (I selected "Canada" from the "Country/Region

[2019-09-30 02:28] 201801365 opened #1978 "virus infection"
my computer got infected by a virus that pops up many desktop.ini. i first encountered it when i followed directions to install an automated app to install visual studio on my pc. it says to download and install the desktop app which i did. then it has a pop up cmd window that asks for my password which i find weird. but i thought it's microsoft. so i did. and the app just restarted and restarted

[2019-09-30 05:46] AndrewCook commented on #1945
@vincentadriaensen Thank you for your email. We are investigating and will reach out if we have more questions.

[2019-09-30 07:15] ThatsReallyAnnoying opened #1979 "Dynamics help docs are not working."
**Describe the bug**
When I click on the link to open the Help Docs, it takes me to an empty page (empty except for headers and footers).  The URL is:

https://docs.microsoft.com/en-au/dynamics365/#pivot=business-apps&panel=customer-engagement

**To Reproduce**
Steps to reproduce the behavior:
1. From Dynamics, click on the ? icon in the top bar.

**Expected behavior**
It should display help docs.

[2019-09-30 07:18] mairaw commented on #1979
@saurabhchoudhury you're listed as the author of that page, Can you look at this feedback?

[2019-09-30 13:16] ashleyswanson360 opened #1980 "Xamarin Platforms Overview, iOS and Mac link to the Android docs"
**Describe the bug**
The main page for Xamarin has the wrong links under the 'Xamarin Platforms Overview' section at the bottom.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [Xamarin Documentation](https://docs.microsoft.com/en-us/xamarin/)
2. Scroll down to 'Xamarin platforms overview' at the very bottom
3. Clicking on any link under 'iOS' or 'Mac' takes you to the 'Android' page i

[2019-09-30 15:09] joerod opened #1981 "Viewing SPNs documentation is incorrect"
**Link to article:**
https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2012-r2-and-2012/cc731241(v%3Dws.11)

**Problem:**

this should be

there is a "W" missing from the example

[2019-09-30 21:33] mirh commented on #1756
Ehrm.. That link *really* does not seem a good replacement.
Compare [this](https://web.archive.org/web/20180309105654/https://docs.microsoft.com/en-us/windows-hardware/design/compatibility/1709/systems#systemfundamentalsfirmwareuefisecureboot) (listing explicitly all the X and Y requirements of the UEFI spec required by the [WHCP](https://docs.microsoft.com/en-us/windows-hardware/design/compatibil

[2019-09-30 22:08] Justinha commented on #1756
@mirh thanks for the link! I couldn't find it. I'll change the text to say
For more information, search for the System.Fundamentals.Firmware.UEFISecureBoot system requirements in PDF download of the [Windows Hardware Compatibility Program Specifications and Policies](https://docs.microsoft.com/windows-hardware/design/compatibility/whcp-specifications-policies).

[2019-10-01 01:08] BillWagner opened #1982 "The `ref` modifier is not included in `ref` structs"
See dotnet/docs#14688

[2019-10-01 02:14] Zanyangwang opened #1983 "We can’t use Teams microphone and Video when I have a meeting through Windows Virtual Desktop."
We can’t use Teams microphone and Video when I have a meeting through Windows Virtual Desktop.

**Is your feature request related to a problem? Please describe.**
Our company wants to install WVD, and we are doing some test of it, we found we can’t use Teams microphone and video when we have a meeting.

**Describe the solution you'd like**
We want to use the Teams microphone and video as we usuall

[2019-10-01 03:02] Zanyangwang opened #1984 "When I login Windows Virtual Desktop through https://rdweb.wvd.microsoft.com/webclient/index.html , I found I can’t import text by Japanese and some other language except English."
When I login Windows Virtual Desktop through https://rdweb.wvd.microsoft.com/webclient/index.html ,
I found I can’t import text by Japanese and some other language except English.
Is it a bug?
Can you check the issue through your environment and update this issue.