[2018-06-20 23:28] Powerhelmsman commented on #302
Sent a email to @erickson-doug to follow up

[2018-06-20 23:31] TaraMeyer commented on #311
@Powerhelmsman - I'm sorry for my late response, thank you for sending me an email and bringing to my attention.  I'm forwarding you the contact information of the content owner.  You'll need to work with her as to how to get this content updated.  Thanks!

[2018-06-20 23:37] Powerhelmsman commented on #299
Sent a email to @erickson-doug to follow up

[2018-06-20 23:39] tcNickolas commented on #318
@RexPersicus I don't have any suggestions on troubleshooting this; on my machine with Anaconda the extension was installed successfully, so I can't reproduce the suspect scenario. Have you tried installing the extension again? Is it possible that it got installed to a different version of Visual Studio than the one you're using? You can also try Quantum Development Kit for VS Code and see if that

[2018-06-20 23:39] Powerhelmsman commented on #296
@dend Who's user? Can you represent him/her to see if this issue is resolved?

[2018-06-20 23:45] Powerhelmsman commented on #287
Sent email to @markrussinovich and @lukekim to follow up

[2018-06-20 23:45] Powerhelmsman commented on #273
Sent email to @erickson-doug to follow up

[2018-06-20 23:49] Powerhelmsman commented on #246
Sent a email to @gregvanl to follow up

[2018-06-20 23:56] Powerhelmsman commented on #198
Sent email to @Sara-Nicolini to follow up

[2018-06-20 23:58] Powerhelmsman commented on #166
Send a email to @tfitzmac to follow up.

[2018-06-20 23:59] dend commented on #2
Ping @KirillKotlyarenko ☺

[2018-06-20 23:59] dend commented on #3
Ping @Jemash @TaraMeyer

[2018-06-21 00:00] dend commented on #28
@edmacauley do you happen to have an update on this ask?

[2018-06-21 00:00] Powerhelmsman commented on #117
Send email to @craigg-msft @sudeepku to follow up.

[2018-06-21 00:03] dend commented on #90
If that is managed reference, we need to make sure we integrate it in the API Browser.

@danroth27 @Rick-Anderson do you know where we can get the NuGet packages/assemblies for the above?

cc: @mschulz-msft

[2018-06-21 00:03] dend commented on #101
@mairaw @BillWagner @rpetrusha what are your thoughts on this? What is the correct location for the documentation in this case?

[2018-06-21 00:04] Powerhelmsman commented on #114
Sent email to @ghuntley and @onovotny to follow up.

[2018-06-21 00:05] dend commented on #114
Given that the project is not a Microsoft-shipped entity, we cannot document it on docs.microsoft.com. I am closing this issue for now, but we can resume this conversation once such capabilities are integrated in our platform.

[2018-06-21 00:05] #114 closed

[2018-06-21 00:08] dend commented on #145
Closing this as a `wont-fix` for now - we are working on improving the information architecture on docs all-up.

If there are any issues with a particular article, our recommendation is to use the built-in article feedback capabilities to let content developers know about issues with their content structure.

[2018-06-21 00:08] #145 closed

[2018-06-21 00:09] Powerhelmsman commented on #28
Sent a email to @edmacauley to follow up.

[2018-06-21 00:10] Powerhelmsman commented on #2
Sent a email to  @KirillKotlyarenko to follow up.

[2018-06-21 00:14] Powerhelmsman commented on #318
@RexPersicus I will close the issue now. If you have any question related to it, we can reopen it and continue the discussion.

[2018-06-21 00:14] #318 closed

[2018-06-21 00:14] CarlRabeler commented on #28
please assign to Craig Guyer - craig-msft
Ed has left the company

[2018-06-21 00:48] mairaw commented on #101
Tagging @Rick-Anderson and @natemcmaster for this

My understanding is that those APIs come from a NuGet package (https://www.nuget.org/packages/Microsoft.Extensions.Configuration/) developed by the ASP.NET team.
The .NET team has chosen to only add API docs that are part of the shared framework and not extension packages as the correct support for NuGet packages is not implemented yet. I don't kn

[2018-06-21 00:54] AhnMkt commented on #443
Hello,
Thank you for your reply.
Hopefully I’ve found the right way to request.

Best,
Ahn
From: Cecilia Acevedo <notifications@github.com>
Sent: Tuesday, June 19, 2018 7:01 AM
To: MicrosoftDocs/feedback <feedback@noreply.github.com>
Cc: Hyungchoul Ahn (Adecco Korea) <a-hya@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/feedback] Korean Translation on IoT Central

[2018-06-21 01:09] Rick-Anderson commented on #101
@danroth27  please review this API question

[2018-06-21 01:35] ghuntley commented on #114
This is an absolute mess tbh.

[2018-06-21 01:55] mairaw commented on #114
The old msdn documentation has been archived on Docs and is no longer being indexed:
https://docs.microsoft.com/en-us/previous-versions/dotnet/reactive-extensions/

[2018-06-21 01:59] hellosnow commented on #416
@Powerhelmsman this is tracked by bug https://ceapex.visualstudio.com/Engineering/_workitems/edit/26092 and may need @adkinn 's help on this.

[2018-06-21 02:42] adityapt commented on #434
Thank you very much for providing the link. After you said that it cannot be package issue as functions can be called, I tried calling all the functions available in RevoscalePy to see if some of them don't work. Surprisingly I saw that I couldn't call lot of them. Looks like it was actually issue with the package version.  I asked our Tech to look into it and they fixed it.

Its because of the kn

[2018-06-21 02:52] hellosnow commented on #445
Transfer to an issue of https://github.com/MicrosoftDocs/vsts-rest-api-specs/issues/52, so that @wnjenkin can triage.

[2018-06-21 03:22] nediyadath opened #448 "sdg.RentBroker.Data or one of its dependencies not found"
I created a webapi project and hosted it in everleap.com.

**To Reproduce**
Steps to reproduce the behavior:
1. I created a register.cshtml page in the home controller of the application and directed the button click to the register method in the api.  I passed the post data through the registerbindingmodel
2. When I click on the register button I get the above mentioned error.

[2018-06-21 03:37] ghuntley commented on #114
@mairaw can you please release the archived documentation under an open-source compatible license so that the community can use it as a baseline if they so desire?

[2018-06-21 04:40] Powerhelmsman commented on #302
@wnjenkin @elbatk Can you help assign to the right person?

[2018-06-21 04:40] Powerhelmsman commented on #299
@wnjenkin @elbatk Can you help assign to the right person?

[2018-06-21 04:43] Powerhelmsman commented on #28
@craigg-msft Assign this issue to you.

[2018-06-21 05:02] Powerhelmsman commented on #445
@hellosnow Is MicrosoftDocs/vsts-rest-api-specs public? So user can be informed when the issue is resolved? If not, I prefer @wnjenkin assign the issue here.

[2018-06-21 05:05] Powerhelmsman commented on #246
@gregvanl @dend Based on Greg's suggestion, I transferred this issue to MicrosoftDocs/visualstudio-docs he will fix it there.

[2018-06-21 05:17] Powerhelmsman commented on #3
@Jemash @TaraMeyer I created a bug is sitehelp portal to track the issue. https://icm.ad.msft.net/imp/v3/incidents/details/74044499/home

[2018-06-21 05:28] Powerhelmsman commented on #158
#log-suggestion @dend

[2018-06-21 05:29] botcrane commented on #158
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=26100) logged.

[2018-06-21 05:30] Powerhelmsman commented on #216
Create a internal bug to track it. https://icm.ad.msft.net/imp/v3/incidents/details/74046083/home

[2018-06-21 05:33] Powerhelmsman commented on #228
@cartermp @mairaw Close this as duplicated with https://github.com/MicrosoftDocs/feedback/issues/126 . We will track the bug there.

[2018-06-21 05:33] #228 closed

[2018-06-21 05:37] Powerhelmsman commented on #229
Created a internal bug to track this issue. https://icm.ad.msft.net/imp/v3/incidents/details/74046967/home

[2018-06-21 05:40] Powerhelmsman commented on #328
Create a internal bug to track it. https://icm.ad.msft.net/imp/v3/incidents/details/74047411/home

[2018-06-21 06:27] paulomorgado commented on #114
@dend, since the project moved to https://github.com/dotnet/reactive, isn't that a Microsoft-shipped entity?

[2018-06-21 07:30] mairaw commented on #114
@ghuntley I'll double check with a few folks if that's possible.

[2018-06-21 08:07] jakrams commented on #371
@Powerhelmsman you know I disagree with the rampant policy at Microsoft to just close tickets for any reason that can be found. I am glad that there is a **workaround** but that doesn't **fix** the bug. The bug is still there, you should still actually fix it, especially since even your very own preview does it correctly, leading people to believe they wrote syntax that will work in the final outp

[2018-06-21 09:50] hylinux commented on #418
@Powerhelmsman  sure. thanks

[2018-06-21 12:31] DeanGross commented on #446
ShevaDas, I'd like to respectfully disagree with your Information Architect and clarify my request. I'm not asking to duplicate the left side navigation, I'm asking to enhance/extend that navigation with some additional visual cues in the right side navigation. It would be very helpful if the right side could have 2 additional levels below the left side (maybe H3 and H4, or H4 and H5) and if the 2

[2018-06-21 14:14] wnjenkin commented on #445
@Powerhelmsman yes it is public

[2018-06-21 15:11] BillWagner commented on #43
@Dend  Still an issue.

Compare [docs](https://docs.microsoft.com/en-us/dotnet/api/system.collections.arraylist?view=netframework-4.7.2) and [MSDN](https://msdn.microsoft.com/en-us/library/system.collections.arraylist(v=vs.110).aspx)

[2018-06-21 15:18] danroth27 commented on #101
The Microsoft.Extensions.* packages are included as part of the ASP.NET Core shared framework, so I think it makes sense to document them with ASP.NET Core. These packages also target .NET Standard and can be used outside of ASP.NET Core (on .NET Core, .NET Framework, etc.). What's our strategy for documenting packages? If they have to be lumped in with something, then I think ASP.NET Core is prob

[2018-06-21 15:22] BillWagner commented on #101
I'll defer to @danroth27 on this one.

[2018-06-21 15:58] mairaw commented on #446
You're right @svick, we don't have control over that. The .NET team has asked for this feature for a long time. What we suggested was that the current behavior would be the default one, but we could perhaps opt in to show more levels if the topic would benefit from that. The headings on a topic are completely different from the TOC on the left.

[2018-06-21 15:58] HeidiSteen commented on #434
Wow, it didn't occur to me that it could be a version issue based on that error message.  Are you saying that this error (TypeError: funct() missing 1 required positional argument: 'newcol')  went away when you applied CU7 ???

[2018-06-21 16:00] mairaw opened #449 "Look & Feel"
Original issue from https://github.com/dotnet/docs/issues/6078 by @MuraliManickam

Hi Team, This documentation UI looks great! but add on the read mode kind of feature will help the user focus on the content clearly. It would be great if you remove the side navigation bar on both left & right on reading mode. Thanks!

[2018-06-21 16:05] dougbu commented on #90
The list of ASP.NET packages we have recently updated is:
- Microsoft.AspNet.Cors v5.2.6
- Microsoft.AspNet.Mvc v5.2.6
- Microsoft.AspNet.Razor v3.2.6
- Microsoft.AspNet.WebApi v5.2.6
- Microsoft.AspNet.WebApi.Client v5.2.6
- Microsoft.AspNet.WebApi.Core v5.2.6
- Microsoft.AspNet.WebApi.Cors v5.2.6
- Microsoft.AspNet.WebApi.HelpPage v5.2.6
- Microsoft.AspNet.WebApi.Owin v5.2.6
- Microsoft.AspNet.W

[2018-06-21 16:06] mikebk commented on #326
I must apologize for not responding to the earlier messages in this conversation. For some reason, I wasn't notified they had been posted. I've tried to adjust my email settings and I hope I receive responses now. I had expected that the feedback collection software would capture the URL of the document I was commenting on.

I created the issue after investigating a security vulnerability reported

[2018-06-21 16:20] dend commented on #90
@danroth27 @dougbu thanks, this looks good. Should all these be classified as "ASP.NET MVC5"?

[2018-06-21 16:20] dend commented on #449
@dastaffo is the right PM for this ask :)

[2018-06-21 16:23] dend commented on #101
If these packages are not part of built-in API distributions (e.g. .NET Core), we can just document them separately. Would that make sense? @danroth27

[2018-06-21 16:23] dend commented on #43
Looks like Maira already opened an issue for it in the `mdoc` repo: https://github.com/mono/api-doc-tools/issues/273

cc: @joelmartinez

[2018-06-21 16:29] danroth27 commented on #101
@dend They do ship with .NET Core. They ship as part of ASP.NET Core, which ships with .NET Core. But they can also be used elsewhere as normal NuGet packages (ex .NET Framework, Xamarin, UWP)

[2018-06-21 16:35] dend commented on #448
Hello! Given that this issue is not related to docs.microsoft.com, we cannot address it in this forum.

[2018-06-21 16:35] #448 closed

[2018-06-21 16:36] lizap commented on #311
Hi @BGaudreault-EDR , thanks for the comment. You can learn about IIS encrypted accounts [here](https://docs.microsoft.com/en-us/iis/manage/configuring-security/using-encryption-to-protect-passwords) - that article includes some ways to validate that passwords are encrypted. Other than that, we'd recommend checking out the [IIS library](https://docs.microsoft.com/en-us/iis/get-started/whats-new-in

[2018-06-21 16:38] dend commented on #311
Thanks @lizap! Closing this issue, as the information was provided above.

[2018-06-21 16:38] #311 closed

[2018-06-21 16:41] dend commented on #101
@danroth27 thanks for the explanation. In this case, given that they ship as part of ASP.NET Core, it _seems_ like the right approach would be to document these as part of the ASP.NET Core set of libraries. Do we have a list of all the packages that need to be included?

[2018-06-21 16:51] danroth27 commented on #101
@dend These packages (Microsoft.Extensions.*) already show up with the ASP.NET Core APIs. The question raised here is whether they should also show up with the .NET Core APIs.

[2018-06-21 16:53] Powerhelmsman commented on #445
@stuntbeaver Your issue is transferred to MicrosoftDocs/vsts-rest-api-specs#52. @wnjenkin will help you there. I will close this issue in this repo now. Let me know if have other question so we can reopen it and continue the discussion.

[2018-06-21 16:53] #445 closed

[2018-06-21 17:01] dend commented on #101
@danroth27 you're right - thanks again for confirming. Would you like to respond to the [Stack Overflow question](https://stackoverflow.com/questions/46914981/why-is-microsoft-extensions-documented-under-asp-net) with an explanation based on [your response here](https://github.com/MicrosoftDocs/feedback/issues/101#issuecomment-399140967)? Once that is live, I will close this issue.

Tangentially,

[2018-06-21 17:02] dend commented on #424
Duplicate of #158

[2018-06-21 17:02] #424 closed

[2018-06-21 17:22] Powerhelmsman commented on #425
@Crucial2K This is a product feedback instead of docs site issue. Suggest you post you question to https://stackoverflow.com/questions/tagged/sql-server or https://feedback.azure.com/forums/908035-sql-server. I will close it now. If you have concern or question, we can reopen it and continue the discussion.

[2018-06-21 17:22] #425 closed

[2018-06-21 18:01] MV10 commented on #101
The explanations above are effectively internal (which team owns what) and perhaps historical (packaged with ASP.NET because that's where they originated in the old .NET), neither of which helps those of us in the outside world find the documentation. Adding assembly/package information to the docs will be nice, but if I can't find the docs in the first place, it doesn't really address this proble

[2018-06-21 18:54] cillroy commented on #371
This is addressed moving to our new markdown parser: Markdig (DocFX)

https://babelmark.github.io/?text=***L***orem
returns:
<p>
  <em><strong>L</strong></em>orem
</p>

[2018-06-21 19:03] TaraMeyer commented on #3
@dend and @Powerhelmsman - can you please point me to the docs on how to resolve?   Also please be aware, I am rolling off the project as of June 29.

[2018-06-21 19:27] Powerhelmsman commented on #371
@cillroy Has this feature release now?

[2018-06-21 20:50] cillroy commented on #371
the resolution is to move the markdown parser to markdig, at the repo level... the issue is resolved with the new parsing solution

[2018-06-21 21:33] Powerhelmsman commented on #371
Close as resolve

[2018-06-21 21:33] #371 closed

[2018-06-21 22:59] danroth27 commented on #90
These are collectively the packages for ASP.NET MVC, Web API and Web Pages. They typically all ship together but they are separate frameworks with separate versions. We should probably spit them.

**ASP.NET MVC 5.2**
Microsoft.AspNet.Mvc v5.2.6
MvcDiagnostics v5.2.6

**ASP.NET Web Pages 3.2**
Microsoft.AspNet.WebPages v3.2.6
Microsoft.AspNet.WebPages.Data v3.2.6
Microsoft.AspNet.WebPages.OAuth v3.

[2018-06-22 04:41] EUGinsane opened #450 "Azure Consumption UsageDetail API keeps returning the same data"
**Describe the bug**
I am using [Azure Consumption UsageDetail](https://docs.microsoft.com/en-us/rest/api/consumption/usage%20details%20(2018-05-31)/list) API to get the VMs usage data but it seems to have problems, it keeps returning the same data (all data) even I specify filter tags.

Sample Request

My Request is the same with Sample Request

with **XXX** is my subscriptionID, I expected the r

[2018-06-22 04:59] danroth27 commented on #101
The API browser currently groups sets of APIs by "Product". Given that we currently document .NET Core and ASP.NET Core as separate products, I think putting the Microsoft.Extensions.* packages with ASP.NET Core is the most reasonable choice.

That said, I agree with you that this doesn't help you from the perspective of a library author or as someone writing console apps. We should consider cross

[2018-06-22 10:13] MV10 commented on #101
I understand that, but the feedback I was trying to give is that there is no obvious reason they belong to the ASP.NET Core "product" -- to any of us in the outside world, they just randomly ended up there for historical and/or internal reasons, and that makes some docs very hard to find (surprisingly, in some cases Google doesn't even have all of it indexed).

These explanations sound like a pare

[2018-06-22 13:46] ChrisMaddock opened #451 "Add direct link to ReferenceSource from .NET API docs"
**Is your feature request related to a problem? Please describe.**
Whilst the API docs are brilliant in so many ways, there are odd places where they're incomplete, or outdated. In these cases - I still need to find the answer I came looking for, so want to be able to look at the actual source code to check out what's going on.

**Describe the solution you'd like**
On each API page - it would be g

[2018-06-22 15:09] svick commented on #451
One question is: to which source to link to? Specifically:

* .Net Core and .Net Framework APIs are documented together. Should the link point to the source for one of them or should there be two links?
* Should the link point to [SourceBrowser](https://github.com/KirillOsenkov/SourceBrowser)-based sites or to GitHub?
    * With SourceBrowser, you get nice navigation, but you don't get a choice to

[2018-06-22 15:39] mschulz-msft commented on #90
Sorry for the late response, somehow this just hit my inbox.

We moved some ASP.NET docs from MSDN to docs.microsoft.com/previous-versions as part of the migration project. The migrated content can be found here: https://docs.microsoft.com/en-us/previous-versions/aspnet/

If there is other content not captured in the above and still on MSDN, we need to add it to the backlog for the move ASAP.

[2018-06-22 16:07] Powerhelmsman commented on #451
@dend Can you follow up?

[2018-06-22 16:44] mairaw commented on #451
It's a tricky ask for the .NET docs, easier for other .NET based products with a single source like ASP.NET Core. Even for .NET Core, we have the problem of partial implementations for each OS for the same API on the same product.

[2018-06-22 17:19] dend commented on #90
@danroth27 great, thanks! This should give us a starting point.

[2018-06-22 17:38] dend commented on #101
@MV10 @danroth27 that is reasonable. We try to point people to our "All API" search first to find their desired entities (https://docs.microsoft.com/dotnet/api). Some of the APIs there are not yet indexed because we are not yet redirecting them from MSDN - once we do, you will see the correct pointers in place.

[2018-06-22 17:40] cillroy commented on #365
we are not going to auto delete repo's due to the potential implication... we are working on a reporting method to nag owners of a repo to manage their repo's... but this will not happen for a long time.  I have noted this suggestion for a future feature

[2018-06-22 17:40] #365 closed

[2018-06-22 17:45] BenjaminAbt opened #452 "VSTS build badge by repo does not work (with YAML definitions?)"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

There is no comment section on that page

**Link to article:**

https://docs.microsoft.com/en-us/rest/api/vsts/build/badge/get%20build%20badge%20data?view=vsts-rest-4.1

**Problem:**
* The parameter `branchName` is required, too.
Otherwise you get the

[2018-06-22 18:01] Powerhelmsman commented on #452
@wnjenkin Can you take a look at this REST API question?

[2018-06-22 18:06] Sara-Nicolini commented on #324
@Powerhelmsman, please assign the issue to @nokura

[2018-06-22 18:07] Powerhelmsman commented on #324
@Sara-Nicolini Assigned to @nokura

[2018-06-22 19:01] mairaw commented on #43
I knew we had an issue about this somewhere. Mystery solved! 😄

[2018-06-22 19:04] joelmartinez commented on #43
yep :) I commented as such on that GH issue, but essentially, it looks like `[Serializable]` is treated differently than other attributes (at least, by Mono.Cecil's API) ... so mdoc just needs to special-case this.

@mairaw do you think there might be any other fundamental attributes like this that aren't currently represented?

[2018-06-22 19:08] mairaw commented on #43
It might. We only find those out if we're running SxS comparisons or if a customer reports the issue like here. @dend wondering if we could have the test team helping us with some more testing before we redirect the MSDN to Docs.

[2018-06-22 19:30] DeanGross commented on #446
As a follow up, here is a very good example of why we need another level on the right side, https://docs.microsoft.com/en-us/connectors/sharepointonline/#actions, The Action and Triggers headings both have numerous subheadings, and scrolling through the page makes it very difficult to understand where you are or to get to a desired item

[2018-06-22 19:53] ShevaDas commented on #446
@DeanGross I do agree that article is difficult to navigate. I mocked up a version that includes the h3s in the right-hand nav:

![image](https://user-images.githubusercontent.com/3937986/41796080-e9f5719e-7619-11e8-8d2d-5c185c9bf605.png)

To me, this seems more like a quick patch than a change that truly makes the article easier to navigate. So instead of adding in more sub-levels, we're actively

[2018-06-22 21:14] TaraMeyer commented on #3
@dend , @Powerhelmsman , @Jemash - I'm blocked.  I've reached out to Zhiliang's team, but received no response over night.  Hoping to hear back next week.

[2018-06-22 21:31] ghuntley commented on #114
Thx. Would you consider complete unpublishing of your copy after opensourcing? Ie community hosts it instead.

[2018-06-22 21:49] mairaw commented on #114
That copy is not even going to be indexed anymore and only folks hitting old URLs would find that content.

[2018-06-22 21:59] NZSmartie commented on #114
I keep finding the old documentation when searching for it. And because there's a lack of official docs, it's hard to not stumble upon. Which is why I raised this issue in the first place.

[2018-06-22 22:36] mairaw commented on #114
That documentation set was just archived. It takes a while for search engines to get caught up.

[2018-06-23 11:42] ChrisMaddock commented on #451
Aren’t you always browsing the API in the context of a certain framework? Should be possible to generate links appropriately in that case.

Wasn’t aware sourcebrowser was unversioned...that’s sad. #net40forlyfe

[2018-06-23 12:21] svick commented on #451
@ChrisMaddock

That's a good point. I guess that means that if you're viewing the API reference for .Net Standard, there would be no reference source link.

[2018-06-23 13:37] ChrisMaddock commented on #451
Good point.

[2018-06-24 15:42] drmandarin opened #453 "Display issues on page Bob Deinterlacing Algorithm"
# Idea Title

Display issues on page Bob Deinterlacing Algorithm

## Issue Details

On this page:
https://docs.microsoft.com/en-us/windows-hardware/drivers/display/bob-deinterlacing-algorithm

Multiple display issues in formulae in the text, e.g:
0 <= i <= Mâˆ’1
0 <= j <=Nâˆ’1
(9*(b+c)âˆ’(a+d)+8)>>4

Please fix these issues.

[2018-06-25 03:35] hellosnow commented on #139
@Powerhelmsman @dend is there any other details on this issue?

[2018-06-25 03:36] hellosnow commented on #450
Update: I'm finding the right person to answer this question.

[2018-06-25 05:39] dend commented on #43
@mairaw @joelmartinez we definitely need to hold a bug bash before redirection. Once we validate the newly-generated content, we should review it with the team.

[2018-06-25 09:56] supereddie opened #455 "Dark theme makes some columns hard to read"
In the [VSTS Features Timeline](https://docs.microsoft.com/en-gb/vsts/release-notes/index#current-features) and using the Dark theme, the column 'Server' contains white background with light gray text, making it hard to read.

A bit further down that page, under 'Server Build Numbers', the same happens with the 'Release' column

[2018-06-25 15:56] ericsciple commented on #452
badges arent supported yet for yaml definitions https://github.com/Microsoft/vsts-agent/blob/master/docs/preview/yamlgettingstarted-features.md

[2018-06-25 16:12] moswald commented on #452
If you can use the new 5.0 (preview) API, there is a new, preferred endpoint for displaying the badge that will work for yaml definitions as well:

https://docs.microsoft.com/en-us/rest/api/vsts/build/status/get?view=vsts-rest-5.0

Note that if your project is not marked "public", then the user will be required to log in to see the badge.

[2018-06-25 16:14] BenjaminAbt commented on #452
Thank you @moswald , this works fine!

[2018-06-25 16:14] #452 closed

[2018-06-25 16:33] goswamineelim opened #456 "the Accessibility section of the documentation is not well defined can you please help"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
Tell us where exactly a problem occurs.

**Problem:**
What's wrong with the article?

[2018-06-25 16:34] goswamineelim commented on #456
the rest of the documentation is pretty good

[2018-06-25 17:09] Powerhelmsman commented on #451
#log-suggestion @dend

[2018-06-25 17:09] botcrane commented on #451
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=26681) logged.

[2018-06-25 17:12] Powerhelmsman commented on #453
@drmandarin Thanks for your finding. Your issue is transferred to author's team. They will help you there.

[2018-06-25 17:12] #453 closed

[2018-06-25 17:20] Powerhelmsman commented on #455
@ShevaDas Can you take a look at this? I am not sure if this is a bug by site or by author.

[2018-06-25 17:29] Powerhelmsman commented on #456
@dend @mairaw Can you take a look at this suggestion?

[2018-06-25 17:35] Powerhelmsman commented on #139
@hellosnow The issue was migrated from User Voice. I don't know the user's GitHub account. So no way to clarify the detail for you. So if you think the description is not enough to create a feature, we have to close as no enough information. If someone can provide the detail later, we can reopen it and continue the discussion.

[2018-06-25 17:35] #139 closed

[2018-06-25 17:58] mairaw commented on #456
Do you mean this section https://docs.microsoft.com/en-us/dotnet/api/accessibility, @goswamineelim?

[2018-06-25 18:36] ShevaDas commented on #455
@supereddie Thanks for the feedback! This is a content bug, so I'll reach out to the author and ask them to investigate.

[2018-06-25 19:14] Powerhelmsman commented on #328
@cdmihai this is due to compatibility issue with the old DFM markdown engine and the indents introduced by and -to- transform. The new engine will fix this. Tianqi tested here https://github.com/aspnet/ApiDocs/commit/e7cd77bd640a80512967428206faf462796bf937
if you do similar change the issue will resolve.

[2018-06-25 19:16] Powerhelmsman commented on #328
@cdmihai I will close the issue now. If you have any question related to this issue, we can reopen it and continue the discussion.

[2018-06-25 19:16] #328 closed

[2018-06-25 20:35] mairaw opened #457 "Remove estimated read times from docs.microsoft pages"
Original GitHub issue from @edfallin at https://github.com/dotnet/docs/issues/6111

The estimated read times for docs articles are all absurdly low.  The effect is either to make a reader feel like an idiot because they can't read 1,000-plus words in 3 minutes **(!)**, or to make the reader suspect that it's all marketing to keep TL;DR-type people at the site.  Both bad.<p>

Instead of making thes

[2018-06-26 04:49] BugsDigger opened #458 "All "See also" refs on 'GetDlgItemInt function' page are unworkable"
**Link to article:**
GetDlgItemInt function
https://docs.microsoft.com/en-us/windows/desktop/api/winuser/nf-winuser-getdlgitemint

**Problem:**
Scroll to "See also" section and click any reference.
Expected: appropriate page is opened.
Actually: "We're sorry, the page you requested cannot be found."

BTW, all items in "See also" can be succesfully found and opened with Google.

[2018-06-26 07:56] jakrams commented on #371
So you actually do have a fix upcoming. Great, thank you. This is an acceptable response to then close the ticket ;-)

[2018-06-26 07:57] BugsDigger opened #459 "Typo in article "CB_SETCURSEL message""
**Link to article:**
CB_SETCURSEL message
https://docs.microsoft.com/en-us/windows/desktop/Controls/cb-setcursel

**Problem:**
1) In "Parameters" section: instead of "If this parameter is 1" must be "-1";
2) In "Return value" section: instead of "if wParam is 1" must be "-1".

 (Compare with https://msdn.microsoft.com/ru-ru/library/ms928526.aspx).

[2018-06-26 08:31] BugsDigger opened #460 "ComboBox_GetCurSel is documented as void"
**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/api/windowsx/nf-windowsx-combobox_getcursel
ComboBox_GetCurSel

**Problem:**
The document states that function returns nothing:

"void ComboBox_GetCurSel(hwndCtl);
...
Return Value
None"

But this is nonsense: how can Get function return ... nothing?..

In windowsx.h (quite old, "Copyright (c) 1992-1999, Microsoft Corp.") I see

[2018-06-26 09:02] bayanistka opened #461 "In section 'Queued & running' I did not see running builds"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Build and release'
2. Click on 'Feature branch build'
3. In section 'Queued & running' I see 'No builds queued or running at the moment'
4. But, after refreshing this page I see, that there are running builds

https://screencast-o-matic.com/watch/cF1OjNFYn6

**Expe

[2018-06-26 12:07] boehle opened #462 "Enable permanent selection for preferred language"
# Permanent language selection

Currently it doesn't seem to be possible to select a certain language as the default language for the Microsoft Docs.
Every time I change the language using the language option at the bottom left of the page, it switches back to the language based on my location after accessing the page again, which annoying as hell.

I even tried logging in, in hopes of being able

[2018-06-26 12:29] boehle commented on #462
@BugsDigger ugh, that's a nice workaround :D thanks for the tip man!
Yeah and I really hope there's gonna be a real solution some time near...

[2018-06-26 13:31] Ronsss opened #463 "Cipher command - What standard is Wipe run at"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.
There is no "comment" or "feedback" (I don't think) on that page/ site

I have NEVER seen and reply to feedback I've submitted to other MS documentation! I've submitted a LOT.

**Link to article:**
https://docs.microsoft.com/en-us/previous-versions/wind

[2018-06-26 15:42] TomRuark opened #464 "Dead link for sysinternals pdf"
This link is not working:

https://docs.microsoft.com/en-us/sysinternals/opbuildpdf/toc.pdf?branch=live

[2018-06-26 16:38] fyurisich opened #465 "Wrong data in CB_FINDSTRING article"
This page
https://docs.microsoft.com/es-es/windows/desktop/Controls/cb-findstring
says
If wParam is 1, the entire list box is searched from the beginning.
and I think it should be
If wParam is -1, the entire list box is searched from the beginning.
Thank you

[2018-06-26 16:39] dend commented on #464
@TomRuark can you share the link for the content page where you got the PDF link?

[2018-06-26 16:40] dend commented on #463
@mijacobs do you happen to know who on the Windows content site would be the best person to address this?

[2018-06-26 16:48] dend commented on #458
@mijacobs do you happen to know who is the best person on the Windows content side who can help address this?

[2018-06-26 16:50] dend commented on #374
@nschonni in that regard, some teams and organizations choose to keep their documentation in their own orgs (e.g. `aspnet`, `dotnet`, `mono`) - we have no plans to change that, and our system enables that out-of-the-box. This gives teams the level of control they want over the repos and content there.

[2018-06-26 16:55] GrantMeStrength commented on #458
The API docs have only _just_ been ported, and there are bound to be some issues. I will pass this onto the right team to investigate.

[2018-06-26 16:56] kasavin opened #466 "Typo on https://docs.microsoft.com/en-us/power-bi/guided-learning/exploringdata?tutorial-step=1"
There is a typo on this page:

https://docs.microsoft.com/en-us/power-bi/guided-learning/exploringdata?tutorial-step=1

"In the following topics, we'll explore the Power BI service, and show you how it can turn your business intelligence data into data insights and a collaborative decision-driving **envrionment**."

[2018-06-26 16:57] dend commented on #461
@bayanistka is this related to any documentation on docs.microsoft.com?

[2018-06-26 17:08] dend commented on #460
@GrantMeStrength @mijacobs is there anyone on your team who can help here?

[2018-06-26 17:09] dend commented on #459
@GrantMeStrength @mijacobs please take a look.

[2018-06-26 17:31] Powerhelmsman commented on #457
@ShevaDas Can you take a look at this suggestion?

[2018-06-26 17:31] #457 closed

[2018-06-26 17:32] Powerhelmsman commented on #457
@log-suggestion @ShevaDas

[2018-06-26 17:39] Powerhelmsman commented on #374
@nschonni Thanks for your suggestion. I will close this so far as this is by design and no plan to change. If you have other question related to this, we can re-open it and continue the discussion.

[2018-06-26 17:50] nschonni commented on #374
@dend sorry for confusing the issue with the `aspnet` ones, but the ones flagged in the original issue don't seem to fit that pattern

[2018-06-26 18:13] Powerhelmsman commented on #465
@GrantMeStrength @mijacobs please take a look.

[2018-06-26 18:33] Powerhelmsman commented on #466
@kasavin thanks for your finding. I created a pull request to change it. https://github.com/MicrosoftDocs/powerbi-docs-pr/pull/815 Let us wait it for several hours to merge the PR.

[2018-06-26 20:47] cillroy commented on #362
we have added this feature to NEW repos generated by OPS

[2018-06-26 20:47] #362 closed

[2018-06-26 21:01] spottedmahn commented on #362
What about existing repos?  As an editor of VSTS docs or ASP.NET Core docs will I still have this problem until they take action?

[2018-06-26 23:52] TaraMeyer commented on #3
@dend  @Powerhelmsman @Jemash latest update:  @sudeepku and @zhiliangxu have decided to postpone any feature that would help fix.  Please see TEAMS here for the specifics:
  https://teams.microsoft.com/l/message/19:8d13a17fb9874f5baa4fadea0c451a43@thread.skype/1529615221553?tenantId=72f988bf-86f1-41af-91ab-2d7cd011db47&groupId=badf6ba7-296b-4795-9fdd-efb00c99c485&parentMessageId=1529615221553&team

[2018-06-27 00:21] nschonni opened #467 "Pull the description from the articles into the 404 page"
**Is your feature request related to a problem? Please describe.**
When you hit a typo or dead page (EX: purposely added a 1) https://docs.microsoft.com/en-ca/vsts/pipelines/test/continuous-test-selenium1?view=vsts you get a nice 404 page with suggested corrections. In some cases this produces several titles that are the same or very similar.

**Describe the solution you'd like**
If the `descripti

[2018-06-27 00:31] erickson-doug commented on #273
@neilpeterson should be the first contact? Neil, can you connect folks with the VM devs, or the writer who currently owns VMs?

[2018-06-27 00:59] Powerhelmsman commented on #467
@meganbradley Is this in your area?

[2018-06-27 01:07] BillWagner opened #468 "Incorrect signatures for span indexers"
The signatures for indexers of `Span<T>` and `ReadOnlySpan<T>` don't show correctly in API reference.

[For `Span<T>`, it shows as:](https://docs.microsoft.com/en-us/dotnet/api/system.span-1.item?view=netcore-2.0)

[code]

When it should be:

[code]

[For `ReadOnlySpan<T>`, it shows as:](https://docs.microsoft.com/en-us/dotnet/api/system.readonlyspan-1.item?view=netcore-2.0)

[code]

When it shoul

[2018-06-27 01:12] BillWagner opened #469 "How to know static members of the class"
Earlier documentation used to say  whether a method is static or not,but these seems to be no longer the case.Any idea why ?

/cc @sateeshmachineni

Moved from dotnet/docs#5252

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b18f2264-6230-68d2-98d2-4c3c7210c4a7
* Version Independent ID: 94faff8f-a332-cbfd-ddc4-7d2214ef7

[2018-06-27 01:20] neilpeterson commented on #273
@iainfoulds any thoughts on whom to contact here?

[2018-06-27 05:09] CaliforniaChao opened #470 "some docs lost"
# Idea Title

some docs lost

## Issue Details

https://docs.microsoft.com/zh-cn/windows/uwp/audio-video-camera/transcode-media-files#encode-a-metadata-stream

at the end of the page, "Encode a metadata stream“ part does not exist

[2018-06-27 05:54] Powerhelmsman commented on #468
@dend Please follow up with this bug.

[2018-06-27 06:00] Powerhelmsman commented on #470
@CaliforniaChao Your issue is transferred to content team. They follow up with you there.

[2018-06-27 06:00] #470 closed

[2018-06-27 07:58] BugsDigger opened #471 "EnumProcesses: strange descriptions of parameters"
**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/api/psapi/nf-psapi-enumprocesses
EnumProcesses

**Problem:**
Strange descriptions in "Parameters" section:

Parameters
lpidProcess
TBD <<<<<<< What is it ???

cb
The size of the pProcessIds array, in bytes. (OK)

lpcbNeeded
TBD <<<<<< What is it again ???

---------
Correct information (from my quite old local SDK help) is:

BOO

[2018-06-27 15:57] iainfoulds commented on #273
On the compute side, @singhkays, and on the storage side, @ramankumarlive, should be able to provide assistance. I think this would fall under updates required within the Compute API ref.

[2018-06-27 16:58] neilpeterson commented on #273
@Powerhelmsman - can we re-assign this issue? I am not the right person to handle.

Thanks

[2018-06-27 17:00] Powerhelmsman commented on #273
@neilpeterson Reassigned to @singhkays and @ramankumarlive

[2018-06-27 17:05] Powerhelmsman commented on #471
@BugsDigger TBD is "to be defined". Author didn't fully compete the document yet and will keep working on it. But I will let author know to avoid fill these kind of information in the future.

[2018-06-27 17:08] Powerhelmsman commented on #471
@GrantMeStrength @mijacobs Can you take a look at this issue.

[2018-06-27 20:11] ShevaDas commented on #457
@edfallin Thanks for the feedback! Estimated reading time isn't something we're looking at removing at this time but we'll keep it in mind. I'll reopen this issue if we start to investigate changes.

[2018-06-27 22:09] Powerhelmsman commented on #302
@arsunda Your issue is transferred to vsts-rest-api team. They will help you there. I will close as transferred. If you have other question related to this issue, we can reopen it and continue discussion.

[2018-06-27 22:09] #302 closed

[2018-06-27 22:12] Powerhelmsman commented on #299
@sangam-sgm Your issue is transferred to vsts-rest-api team. They will help you there. I will close as transferred. If you have other question related to this issue, we can reopen it and continue discussion.

[2018-06-27 22:12] #299 closed

[2018-06-27 22:14] Powerhelmsman commented on #273
@meetamitbhatia Your issue is transferred to vsts-rest-api team. They will help you there. I will close as transferred. If you have other question related to this issue, we can reopen it and continue discussion.

[2018-06-27 22:14] #273 closed

[2018-06-27 22:15] Powerhelmsman commented on #90
The issue is transferred to vsts-rest-api team. They will help there. I will close as transferred. If you have other question related to this issue, we can reopen it and continue discussion.

[2018-06-27 22:16] meganbradley commented on #467
@Powerhelmsman no, @ShevaDas is the PM for 404s

[2018-06-27 22:29] Powerhelmsman commented on #225
#log-suggestion @dend

[2018-06-27 22:29] botcrane commented on #225
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=27440) logged.

[2018-06-27 22:36] tfitzmac commented on #166
Sorry for the slow response. Yes, I see this as something important to implement, and I have heard feedback from others that is needed.

We have some changes to the generation process coming up in the next month, so I am hoping to work this in.

[2018-06-27 22:39] Powerhelmsman commented on #287
@PeterMortensen Your issue is transferred to sysinternal team. They will help you there. I will close as transferred. If you have other question related to this issue, we can reopen it and continue discussion.

[2018-06-27 22:39] #287 closed

[2018-06-27 22:58] ShevaDas commented on #457
@edfallin I've opened a ticket with our engineering team to update the reading times to use a more accurate formula (probably something similar to [Medium's](https://blog.medium.com/read-time-and-you-bc2048ab620c)).

[2018-06-28 00:47] SimonCropp opened #472 "Add view + edit + copy usings to snippet links"
Currently docs has a "Copy" for snippets

![image](https://user-images.githubusercontent.com/122666/42006981-880bdaa8-7ac0-11e8-8806-f7cc37e8ce2e.png)

But there is more value that can be added to that context.

If you look here https://docs.particular.net/nservicebus/messaging/attachments-sql

Note the `Actions` button on the snippets:

![image](https://user-images.githubusercontent.com/122666/42

[2018-06-28 00:57] SimonCropp opened #473 "Add edit local links"
Currently ms docs has edit. So on this page https://docs.microsoft.com/en-us/ef/core/ the edit links points to https://github.com/aspnet/EntityFramework.Docs/blob/master/entity-framework/core/index.md

But you can also use the `github-windows://openRepo/` prefix to open in [GitHub Desktop](https://desktop.github.com/)

So the above link would be

[code]

If not cloned it will clone the repo, then

[2018-06-28 03:44] hellosnow commented on #445
@stuntbeaver refer to https://github.com/MicrosoftDocs/vsts-rest-api-specs/issues/52, this issue has been resolved. The descriptions has been updated to show only current is supported. Hope it works for you.

[2018-06-28 06:21] TomRuark commented on #464
https://docs.microsoft.com/en-us/windows-hardware/drivers/debugger/-memusage

[2018-06-28 07:48] KirillKotlyarenko commented on #2
Done.

[2018-06-28 16:09] GozuDark opened #474 "Error PowerApps move fields"
good afternoon, a few days ago I could move the fields in the form developed with powerapps, currently it is not possible. to. form of 2 columns. b. I tried disabling the automatic adjustment and did not solve the problem. Confirm if you have removed the functionality of freely moving through the fields form?

[2018-06-28 17:17] Powerhelmsman commented on #472
#log-suggestion

[2018-06-28 17:18] botcrane commented on #472
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=27624) logged.

[2018-06-28 17:18] Powerhelmsman commented on #472
@ShevaDas Is this belong to your area?

[2018-06-28 17:20] Powerhelmsman commented on #473
#log-suggestion @ShevaDas

[2018-06-28 17:20] botcrane commented on #473
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=27626) logged.

[2018-06-28 17:21] Powerhelmsman commented on #473
@ShevaDas Can you take a look at this suggestion?

[2018-06-28 17:23] Powerhelmsman commented on #2
@KirillKotlyarenko Thanks for follow up. I will close it as resolved.

[2018-06-28 17:23] #2 closed

[2018-06-28 17:33] Powerhelmsman commented on #474
@GozuDark This is a channel about Docs site related feedback and content issues. Can you go to PowerApps forum or search the answers? I will close it as no related to Docs site.

[2018-06-28 17:33] #474 closed

[2018-06-28 17:53] ShevaDas commented on #472
@Powerhelmsman @dend is the PM for samples.

[2018-06-28 18:28] mimig1 commented on #472
Thanks for the suggestion @SimonCropp!

[2018-06-28 18:33] svick commented on #473
You can already get to GitHub desktop from the GitHub page, so this would effectively be just about saving one click. Given that, do you still think this would be worth it?

[2018-06-28 18:35] ShevaDas commented on #473
Thanks for the feedback, @SimonCropp!

I'm not sure that this suggestion aligns with the ideal user experience. Many first timer contributors are unaware that clicking "Edit" will take them to GitHub to begin with, so adding additional layers of unexpected behavior may be more confusing than helpful. Additionally, editing in the browser is quicker and more accessible for everyone than prompting to

[2018-06-28 18:35] #473 closed

[2018-06-28 18:46] Powerhelmsman commented on #464
@TomRuark Do you mean the download PDF button?
![image](https://user-images.githubusercontent.com/33136632/42054264-c16b73e6-7ac8-11e8-8619-da7ad7fc349e.png)
I can't repro the issue. On my side the download button works fine. Can you double check?

[2018-06-28 19:31] TomRuark commented on #464
Yes. Working for me now. Thanks!

[2018-06-28 21:44] mijacobs commented on #463
@dend @Powerhelmsman I'm not sure owns this documentation, and it looks like we no longer support it. Can you assign this back to triage? Thanks!

[2018-06-28 22:16] mijacobs commented on #465
Please assign this to @ginami--she triages our GitHub issues. Thanks!

[2018-06-29 00:43] ginami commented on #459
@msatranjr , can you please respond to this feedback? Thank you!

[2018-06-29 01:00] ginami commented on #465
@msatranjr, can you please respond to this feedback? Thank you!

[2018-06-29 01:04] ginami commented on #458
@BugsDigger--thank you for letting us know. Our team is working through issues with the content we recently moved to docs.microsoft.com and we'll have the problem fixed as quickly as we can.

[2018-06-29 01:43] dend commented on #90
@Powerhelmsman this is not REST. This is a request to onboard .NET-based APIs to docs.microsoft.com. I will take care of this and close the issue once we have the APIs onboarded.

[2018-06-29 02:04] Ronsss commented on #463
How can it not be supported. It is part of the command window commands.

as well this cipher page was last updated this year:
https://support.microsoft.com/en-us/help/814599/how-to-use-cipher-exe-to-overwrite-deleted-data-in-windows-server-2003

On Thu, Jun 28, 2018 at 4:44 PM, Mike Jacobs <notifications@github.com<mailto:notifications@github.com>> wrote:

@dend<https://github.com/dend> @Powerhelm

[2018-06-29 16:17] paddymcd-MSFT opened #475 "Scope tagging is broken in the search functionality"
**Describe the bug**
If the scope is set in the search URL e.g. &scope=Desktop it incorrectly returns zero results in more than one case

**To Reproduce**
https://docs.microsoft.com/en-us/search/index?search=GetTraceLoggerHandle&scope=Desktop
returns no results

but https://docs.microsoft.com/en-us/search/index?search=GetTraceLoggerHandle returns many

when you click through to https://docs.micros

[2018-06-29 17:09] Powerhelmsman commented on #463
@Ronsss Thanks for your feedback. The article with previous-version in URL means we're no longer updating this content regularly. Author are focus on more up to date version. I find Gina to help follow up here. See if she can find someone has bandwidth to add it.

[2018-06-29 17:16] Powerhelmsman commented on #475
@presleyy Can you follow up this issue?

[2018-06-29 17:20] Powerhelmsman commented on #475
@paddymcd-MSFT I can't repro this issue. When I click https://docs.microsoft.com/en-us/search/index?search=GetTraceLoggerHandle from result page, Scope tag didn't applied. I use Edge browser.

[2018-06-29 17:53] paddymcd-MSFT commented on #475
No the tag isn't applied on the search results page, it is applied when you click through to the API documentation on https://docs.microsoft.com/en-us/windows/desktop/etw/gettraceloggerhandle - even if you simply navigate to the API doc page from a fresh session the tag will be applied in the search window.

But the bug is that with the tag you can't find items that appear to be tagged that way

[2018-06-29 20:34] alexcnichols commented on #455
As the author of the page, rather than figure out some elaborate new scheme to replace the colors there, I'm planning to remove the colors today. I'll revert back once it's done. Thanks for reaching out.

[2018-06-29 21:33] alexcnichols commented on #455
The features timeline has been updated to be clear in the Dark theme too.

![image](https://user-images.githubusercontent.com/19493383/42115796-54576828-7ba9-11e8-8f0b-5030b1285ba4.png)

[2018-06-29 22:14] Powerhelmsman commented on #455
@alexcnichols Thanks for quickly fixing the issue. @supereddie Please double check the result. I will close the issue so far. If you have any other question related to the issue, we can reopen and continue the discussion.

[2018-06-29 22:14] #455 closed

[2018-06-29 22:29] ginami commented on #463
@Ronsss, thank you for taking the time to send us feedback. Unfortunately, at this time we don't have resources to update this page.

[2018-06-29 23:02] Sara-Nicolini commented on #198
@daveRendon, I will notify you as soon as the Spanish version of the blog post has been published. Thank you so much once again for your contribution.

[2018-06-29 23:09] ginami commented on #460
@TimShererAtAquent, can you please respond to this issue? Thanks!

[2018-06-30 01:14] nschonni commented on #475
Here is another repro where the spaces/multiple tags results in now results.
1. Search for a result that exists in the docset, but not the current scope. EX: "agent" from https://docs.microsoft.com/en-ca/vsts/integrate/?view=vsts
1. This will offer the following search URL (with un-escaped spaces, Chrome seems to escape them, but still has no results) https://docs.microsoft.com/en-ca/search/index?

[2018-06-30 02:20] Ronsss commented on #463
You don't have resources? With a market value of $760 BILLION you don't have resources?

If expect me to believe that I have some gold bricks I can sell you.  Corporately MS resources are effectively unlimited. No money ... really

On Fri, Jun 29, 2018 at 5:29 PM, Gina P. <notifications@github.com<mailto:notifications@github.com>> wrote:

@Ronsss<https://github.com/Ronsss>, thank you for taking th

[2018-06-30 11:44] OraDotNetDev opened #476 "Typos on description of MSDN licence types"
https://docs.microsoft.com/en-us/rest/api/vsts/memberentitlementmanagement/members/get?view=vsts-rest-4.1#accesslevel

Very minor typo on _Licence Type_ property  Description lists example licence types as  _**"... Visual Studio Profession, Visual Studio Enterprize"**_

No edit/comment option on the page for me to flag/update directly, as far as I could see?

[2018-06-30 22:09] nschonni commented on #476
Looks like that is over on the MicrosoftDocs/vsts-rest-api-specs repo
https://github.com/search?q=org%3AMicrosoftDocs+Enterprize&type=Code

[2018-07-02 01:28] presleyy commented on #475
@paddymcd-MSFT I tried the https://docs.microsoft.com/en-us/search/index?search=GetTraceLoggerHandle&scope=Desktop (with "Desktop" scope) at both Edge and Chrome. They work and have results returned.

These are what I saw:
![image](https://user-images.githubusercontent.com/5718438/42141134-b362dec4-7dd9-11e8-80df-397e2a526bbe.png)
![image](https://user-images.githubusercontent.com/5718438/42141164

[2018-07-02 01:30] EdisonDa commented on #476
@tedchamb would you want to fix the typo? Seems there are multiple pages for "Enterprize" issues.

[2018-07-02 01:37] presleyy commented on #475
@nschonni the behaviors from my browser seems be different from your description.
1. I opened https://docs.microsoft.com/en-ca/vsts/integrate/?view=vsts, the scope at top right search box shows "Team Foundation Server".
2. I searched "agent" from that page with the scope. Then it turns to https://docs.microsoft.com/en-ca/search/index?**search=agent&scope=Team+Foundation+Server**. The scope is diff

[2018-07-02 06:56] AhnMkt commented on #443
Hello,
It’d be great if you could tell me if it’s going to be fixed soon, or I should find another way to request.
Thank you in advance.

Kind Regards,
Ahn
From: Hyungchoul Ahn (Adecco Korea)
Sent: Thursday, June 21, 2018 9:54 AM
To: 'MicrosoftDocs/feedback' <reply@reply.github.com>; MicrosoftDocs/feedback <feedback@noreply.github.com>
Cc: Mention <mention@noreply.github.com>
Subject: RE: [Microso

[2018-07-02 13:22] OraDotNetDev commented on #476
Ah right @EdisonDa + @tedchamb - I created a  [PR](https://github.com/OraDotNetDev/vsts-rest-api-specs/pull/1) have I done that correctly?

[2018-07-02 19:00] pjmlp opened #477 "Missing documentation for System.IO.Pipelines.Pipe"
Steps to reproduce,

1. Go to https://docs.microsoft.com/en-us/dotnet/api/
1. Type System.IO.Pipelines.Pipe
1. Documentation expected to be shown, nothing appropriate gets displayed

Documentation is available from third party blogs, https://blog.marcgravell.com/2018/07/pipe-dreams-part-1.html

[2018-07-02 20:17] DavidPrio commented on #443
Hi @AhnMkt We are sorry about the delay on this feedback. We are actively working on this and should have a resolution by the end of the week. Thank you for your contribution.
Kind regards,

Microsoft DOCS International Team

[2018-07-02 23:48] dend commented on #477
@mairaw @terrajobst @BillWagner I am assuming this is coming from a different NuGet package, that we haven't onboarded yet?

[2018-07-02 23:51] mairaw commented on #477
apisof.net (https://apisof.net/catalog/System.IO.Pipelines.Pipe) indicates this is part of .NET Core + extensions, so yes.

[2018-07-03 01:49] EdisonDa commented on #476
Thank you @OraDotNetDev for your passion and contribution. Would you mind me to close this issue now? I believe the product team will review the PR and follow up with you.

[2018-07-03 04:36] nschonni commented on #475
@presleyy sorry, I'm taking about the search built into the right hand navigation rather than the global search
<img width="299" alt="screen shot 2018-07-03 at 12 33 37 am" src="https://user-images.githubusercontent.com/1297909/42198907-094cfc32-7e59-11e8-9804-be69499176cb.png">

[2018-07-03 04:48] presleyy commented on #475
@nschonni thanks. That explains a lot and I reproduced the problem. I will file a bug for it.

[2018-07-03 05:34] EGobi opened #478 "Online help for Get-ChildItem returns 404"
**Describing the bug**
In PowerShell, running `Get-Help Get-ChildItem -Online` opens `https://docs.microsoft.com/en-us/powershell/module/4.0/microsoft.powershell.core/providers/FileSystem-Provider/Get-ChildItem-for-Filesystem` (404). This is a terrible UX for any newcomer.

**To reproduce**
Steps to reproduce the behavior:
1. Open PowerShell
2. Run `Get-Help -Get-ChildItem -Online`
3. See error

*

[2018-07-03 05:56] presleyy commented on #475
[Bug](https://ceapex.visualstudio.com/Engineering/_workitems/edit/28187) is created for tracking the fixing effort.

[2018-07-03 06:21] EdisonDa commented on #478
Hi @sdwheeler, I can repro with this steps. Looks like this is for PowerShell Core, let me know if you are not the right person to contact.

[2018-07-03 09:46] OraDotNetDev commented on #476
Sure no worries, happy to help :+1:

[2018-07-03 14:42] sdwheeler commented on #478
This issue was moved to PowerShell/PowerShell-Docs#2647

[2018-07-03 14:43] tedchamb commented on #476
Unfortunately we can not take a PR for this fix, because the swagger is generated and the source of the text comes from code that is not yet open sourced.   I appreciate you pointing out the typo, and I will get this fixed up.

[2018-07-03 14:44] sdwheeler commented on #478
@EdisonDa I have moved this issue to the Docs repo. We will work it from there. Please close this issue.

[2018-07-03 15:49] TimShererWithAquent commented on #460
We're looking into this. The original MSDN topic had an int return value. The docs.microsoft.com documentation shows it as void. This might be a migration issue or it might be an issue with how we parse the header files.

We should also keep an eye out for other issues like this.

[2018-07-03 17:58] maschmid-MSFT opened #479 "Broken Learn More Link (Cortana SDK)"
Element Text: Learn More
Source: https://developer.microsoft.com/en-us/cortana/devices
Target: https://docs.microsoft.com/en-us/windows-hardware/design/device-experiences/cortana

The target location navigated to when I click the Learn More link on the source page is broken and leads to a 404.

maschmid@microsoft.com

[2018-07-03 18:03] ksurendra opened #480 "Broken link on "Azure for Java Developers" page"
**Describe the bug**
The link to "Azure Libraries for Java" on page https://docs.microsoft.com/en-us/java/azure/?view=azure-java-stable is broken.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/java/azure/?view=azure-java-stable
2. Click on "Azure Libraries for Java"
3. We can see a 404 - Page not found

**Expected behavior**
The page at https://docs.m

[2018-07-03 18:55] ksurendra opened #481 "Broken link to "Read the full Azure SDK for Java documentation" on page https://azure.microsoft.com/en-us/develop/java/"
**Describe the bug**
Broken link to "Read the full Azure SDK for Java documentation" on page https://azure.microsoft.com/en-us/develop/java/

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://azure.microsoft.com/en-us/develop/java/
2. Scroll to the bottom of the page and click on "Read the full Azure SDK for Java documentation"
3. Will see a 404 error page

**Expected behavior**
W

[2018-07-03 20:40] nokura commented on #324
Site engineer is working on fixing typo for Ukrainian language name in the footer.

[2018-07-03 23:10] nthalpy opened #482 "Typo in AssertQubitState article"
I think there is a typo at example of AssertQubitState article (https://docs.microsoft.com/en-us/qsharp/api/prelude/microsoft.quantum.extensions.testing.assertqubitstate?view=qsharp-preview).

Original example says
[code]
but `Y|0>` is `qubits[1]`, not `qubits[0]`.

So I think the example should change to
[code]

[2018-07-04 02:30] EdisonDa commented on #478
@EGobi would you mind me to close this one? I found the issue tracked in source repo is visible to you.

[2018-07-04 02:37] EGobi commented on #478
Yes, please!

[2018-07-04 02:45] #478 closed

[2018-07-04 03:12] EdisonDa commented on #480
@rloutlaw could you please take a look at this issues, seems the link for "Azure Libraries for Java" in hub page was out of date.

[2018-07-04 03:18] EdisonDa commented on #481
@rloutlaw Hi Robert, the link for Java Azure is out of date. We should update the link in azure.microsoft.com. Could you please assign this to proper person?

[2018-07-04 03:56] EdisonDa commented on #479
The page https://docs.microsoft.com/en-us/windows-hardware/design/device-experiences/cortana does not exist in docs, so the source page may need to update the proper link. @maschmid-MSFT , Mark, could you please follow up with Cortana team?

[2018-07-04 05:05] EdisonDa commented on #479
@maschmid-MSFT could you please contact "Cortana" team to fix the issue on the site https://developer.microsoft.com/en-us/cortana/devices, we only handle the feedback for our Docs.

[2018-07-04 05:05] #479 closed

[2018-07-04 08:06] calway opened #483 "Allow me to sign in with Organisational account"
**Is your feature request related to a problem? Please describe.**
To comment on the Docs you have to sign in. But the Docs only allow me to sign in with a Microsoft account, I cannot use my Organisational account. This transition is going on for years and still a lot of services don't allow the Organisational accounts, please add this here as well

**Describe the solution you'd like**
Support Org

[2018-07-04 13:37] nthalpy commented on #482
Additionally, I found that code
[code]
makes compiler error
[code]
and
[code]

I think we should convert `(Double, Double)` to `Complex`, so code will be like
[code]

[2018-07-04 16:51] jsmarsch opened #484 "No search results for common classes"
**Problem:**
I cannot find many classes that used to be commonly searchable and easily found via google.

I went to the document search here: https://docs.microsoft.com/en-us/dotnet/api/?term=ActionFilter&view=netframework-4.7.2

Because I need help with WebAPI ActionFilter (I'm not using .net core)

The documentation simply doesn't exist:  No Results, unless I search under core, but I'm not using

[2018-07-04 16:53] jsmarsch commented on #484
I like the new format of the doc browser, but it used to be that one of the coolest things about .net documentation was that if I just put the class name into google, the first or second hit would be the documentation for it.

Nowadays, I have to search all over for the api docs.

[2018-07-04 16:58] jsmarsch commented on #484
Pressing F-1 within Visual Studio leads me to the image below.
Note:   the "no longer updated" message
Note: It's dos for VS 2013 (I'm using 2017)
Note: there is no version switcher option
Note: clicking "return to main site", just returns me to the home page for docs, where I do a search, and get the results that I posted into the description of the issue above.

![image](https://user-images.gith

[2018-07-04 17:43] alferovvictor opened #485 "Change dark colors"
Change dark colors:

background-color: #353131;
color: #8a93a0;

[https://ic.pics.livejournal.com/alferovvictor/57387100/160176/160176_original.png](https://ic.pics.livejournal.com/alferovvictor/57387100/160176/160176_original.png)

[2018-07-04 17:54] dend commented on #480
We are currently investigating this issue.

[2018-07-04 17:54] dend commented on #481
Duplicate of #480

[2018-07-04 17:54] #481 closed

[2018-07-04 17:56] dend commented on #484
Thanks for the feedback, @jsmarsch - we are currently working on onboarding ASP.NET APIs to docs (see #90 for details).

[2018-07-04 17:56] #484 closed

[2018-07-04 17:58] dend commented on #483
Hello! Given that we are moving away from LiveFyre, this is not something that we will be implementing in the near-term. Content teams will switch to GitHub comments shortly, and once that is done, you will be able to authenticate with your standard GitHub credentials.

[2018-07-04 17:58] #483 closed

[2018-07-04 18:00] dend commented on #477
@mairaw thanks for the confirmation! This is likely part of the work that we have to do for hybrid content onboarding. I will leave this open for now, as that's something we know we need to work on.

[2018-07-04 18:02] dend commented on #461
Given that we haven't heard anything for more than a week on this, I will close the issue. If we get more details, we will re-open.

[2018-07-04 18:02] #461 closed

[2018-07-04 18:09] dend commented on #3
@TaraMeyer @Powerhelmsman given that this is limited impact, with no immediate actions, I will close the issue.

[2018-07-04 18:09] #3 closed

[2018-07-04 18:12] dend commented on #18
Given that there are no immediate plans to change this behavior, I am closing this issue as `by-design`

[2018-07-04 18:12] #18 closed

[2018-07-04 18:14] dend commented on #36
We've made significant improvements to how we handle tables on mobile devices, therefore closing this item.

[2018-07-04 18:14] #36 closed

[2018-07-04 18:21] dend commented on #148
Duplicate of #38, so closing this item.

[2018-07-04 18:21] #148 closed

[2018-07-04 18:22] dend commented on #156
F# content is now available in all our .NET reference: https://docs.microsoft.com/dotnet/api

[2018-07-04 18:22] #156 closed

[2018-07-04 18:45] dend commented on #215
This should now be fixed.

[2018-07-04 18:45] #215 closed

[2018-07-04 18:46] dend commented on #217
This has now been addressed, as we introduced the older APIs to docs.

[2018-07-04 18:46] #217 closed

[2018-07-04 18:47] dend commented on #221
Ping @cillroy

[2018-07-04 18:54] dend commented on #195
Additionally, I've [written a blog post](https://dennisdel.com/blog/docs-in-cloud/) that documents what it takes to make an experience like docs run. This should give a good starting point for anyone trying to build documentation infrastructure.

[2018-07-04 18:54] #195 closed

[2018-07-04 18:58] dend commented on #122
All the information request below is already available in Help Viewer 2.3 with Visual Studio 2017:

![image](https://user-images.githubusercontent.com/1389609/42291606-9ec4c4d8-7f81-11e8-92aa-93a30ebb5fd4.png)

[2018-07-04 18:59] #122 closed

[2018-07-04 19:00] dend commented on #480
The fix is gated behind this PR: https://github.com/Azure/azure-docs-sdk-java/pull/525

[2018-07-04 20:48] dend commented on #480
This has been addressed.

[2018-07-04 20:48] #480 closed

[2018-07-04 20:49] dend commented on #449
Duplicate of #97, so closing this entry.

[2018-07-04 20:49] #449 closed

[2018-07-04 20:50] dend commented on #99
We've done some improvements to the UX, where the headings are much better presented.

[2018-07-04 20:50] #99 closed

[2018-07-04 20:51] dend commented on #143
At this time there are no plans to address this, therefore closing this item.

[2018-07-04 20:51] #143 closed

[2018-07-04 20:53] dend commented on #343
@wnjenkin can you please take a look at this item?

[2018-07-04 20:55] dend commented on #338
The font color has been modified, therefore closing this issue.

[2018-07-04 20:55] #338 closed

[2018-07-04 20:56] dend commented on #309
We have released an updated mobile view, that solves this problem.

[2018-07-04 20:56] #309 closed

[2018-07-04 21:01] dend commented on #419
We've worked on addressing this issue - it can no longer be reproduced.

[2018-07-04 21:03] dend commented on #466
The PR was merged to `master`, and will make it to `live` once the content team executes their regular content publish. Thanks for the suggestion, @kasavin!

[2018-07-04 21:03] #466 closed

[2018-07-04 21:07] dend commented on #437
@erickson-doug @ghogen ping on this issue.

[2018-07-04 21:09] dend commented on #426
@presleyy @Sampy was there any progress on this issue?

[2018-07-04 21:10] dend commented on #431
Given that this is a technical question related to content that is archived, we cannot address it in this repo. Please start a thread in the [SharePoint forum](https://social.msdn.microsoft.com/Forums/sharepoint/en-US/home?category=sharepoint).

[2018-07-04 21:10] #431 closed

[2018-07-04 23:20] chanmmn commented on #431
dend, I have put it in the forum https://social.msdn.microsoft.com/Forums/sharepoint/en-US/17c7adc6-cc00-4fd0-81a8-ad84c703d4ff/listitem-olistitem-olistitemsgetbyid3-will-not-run?forum=sharepointdevelopment.

[2018-07-05 09:33] atishbits opened #486 "The generalize() API of Python SDK does not work for Windows VM"
Hi
The Azure Python SDK [generalize](https://docs.microsoft.com/en-us/python/api/azure.mgmt.compute.v2017_03_30.operations.virtualmachinesoperations?view=azure-python#generalize)() API for VirtualMachineOperations in Compute Client does not "sysprep" the VM. Instead, one must leverage the CustomerScriptsExtension to perform Sysprep on the VM before capturing its image. Curious what is the intended

[2018-07-05 12:47] spottedmahn commented on #309
That's great, thanks! 🎉

[2018-07-05 13:09] Ka-Lai opened #487 "Not urgend: Username is shown wrong"
**Describe the bug**
I logged in with my account. My firstname has a space in between. On top right, where the username is shown, I only see the first part of my firstname.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'sign in'
2. Log in with username and password
4. See only the first part of firstname

**Expected behavior**
Your page take the first space to separate the name. That

[2018-07-05 14:45] celiala opened #488 "s/maniacal/excited/ for phrase about inclusivity "for developers of all backgrounds""
Link: https://developer.microsoft.com/en-us/advocates/index.html

Phrase: "Our global team is **maniacal** about making the world amazing for developers of all backgrounds."

Issue: "maniacal" is an exclusionary term, which feels in conflict with the sentence being about inclusion for all developers, regardless of background (including mental illness).

More context:
For people with mental illness

[2018-07-05 15:00] DavidPrio commented on #407
@gebiWangshushu 感谢你的反馈。 

我们的工程团队已评审并接受你的建议。我们已实施你的反馈，并将更新后的文章发布到 Docs 站点上的以下页面：https://docs.microsoft.com/zh-cn/aspnet/core/tutorials/first-web-api?view=aspnetcore-2.1#comments-container。  

非常感谢你对我们的文章作出的贡献，欢迎继续提供宝贵的反馈。 

深深的祝福， 
Microsoft DOCS International Team 

[2018-07-05 15:00] #407 closed

[2018-07-05 16:44] Powerhelmsman commented on #463
@Ronsss I have to close this issue because author's team has no plan to fix it.

[2018-07-05 16:44] #463 closed

[2018-07-05 16:46] Powerhelmsman commented on #476
@tedchamb Please inform us when the bug is fixed. I reopen the issue until it is truly fixed.

[2018-07-05 17:22] Powerhelmsman commented on #482
@alan-geller Can you also take a look at this issue?

[2018-07-05 17:50] Powerhelmsman commented on #246
@dend this issue is fixed. I will close as resolved.

[2018-07-05 17:50] #246 closed

[2018-07-05 18:00] Powerhelmsman commented on #419
@OzBob The bug is fixed. Please verified it. I will close this issue as resolved.

[2018-07-05 18:01] Powerhelmsman commented on #466
@kasavin the PR is merged. This issue is resolved. Please verify.

[2018-07-05 18:14] ghogen commented on #437
@dend It sounds like we need to request redirection for the VS SDK reference pages from MSDN to Docs for non-ENU languages.  That may help by addressing the appearance of the non-ENU pages as top search results.  I'm not totally sure that solves the problem completely, but it certainly seems like a first step.  I'll get that request set up.

[2018-07-05 18:28] pkulikov opened #489 "Make C# interactive snippets context aware"
**Is your feature request related to a problem? Please describe.**
The page that would benefit from the feature:
https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/foreach-in

This page contains the following short snippet:
[code]

Would be nice to make this snippet interactive. Interactive snippets are supported by [Try.NET](https://try.dot.net/) that by default uses C# sc

[2018-07-05 18:53] erickson-doug commented on #437
@dend @ghogen I'd work with someone in International, but I don't know how. They will need to update our openpublishing.redirects.json in their loc repos accordingly.

[2018-07-05 18:59] ghogen commented on #437
This is related to the archiving work that was done recently with Jenny Mashkowski.  The loc redirects should have been set up by that team.  The English MSDN page for this API is redirecting as expected, but the Italian should direct to https://docs.microsoft.com/it-it/previous-versions/visualstudio/visual-studio-2013/k3dys0y2(v%3dvs.120)

[2018-07-05 19:29] dend commented on #488
Thanks for the feedback, @celiala - I am following up with the team on this.

[2018-07-05 19:31] dend commented on #486
@lmazuel can you please help address this item?

[2018-07-05 20:12] Powerhelmsman commented on #487
@sharriexie Can you take a look at this suggestion?

[2018-07-05 20:56] cillroy commented on #221
This is still in the backlog, with no ETA on implementation

[2018-07-05 21:32] jason-j-MSFT commented on #273
@meetamitbhatia I do not believe you have to specify the disk you are creating the snapshot of is a managed disk.  I tested this with my own REST call on a managed disk without specifying it was a managed disk, and it worked fine.

[2018-07-05 23:21] ShevaDas commented on #202
Since this was implemented, I'll be closing it out. Feel free to open another issue if you have additional feedback!

[2018-07-05 23:21] #202 closed

[2018-07-06 00:05] lmazuel commented on #486
Duplicate of https://github.com/Azure-Samples/virtual-machines-python-manage/issues/18

This is a RestAPI question and has nothing to do with Python:
- We should raise to Compute team
- @yugangw-msft might know part of his work in the CLI team on Compute

[2018-07-06 00:20] dend commented on #486
Closing this issue as a duplicate.

[2018-07-06 00:20] #486 closed

[2018-07-06 04:32] nschonni commented on #362
👍 that's great. It would be nice to send instructions to the existing repos about fixing up the issues because it does cause merge conflicts on PRs when an entire file gets marked as a diff because of encoding issues 😉

[2018-07-06 05:34] OzBob commented on #419
@Powerhelmsman not quite yet.

Edge browser: signed out, and cleared cookies. Signin. Go to : https://docs.microsoft.com/en-us/search/index?search=nvarchar
All OK

BUT ...

on Firefox, with an older session, and never logged out from Microsoft account.

Same error.

If required I can supply (via email) the HAR file from Firefox. No idea how to generate one for EDGE...

[2018-07-06 05:37] Powerhelmsman commented on #419
@OzBob Yes, it is not fully resolved yet. So I reopen the issue. Engineer is working on it now. I will let you know when the issue is truly fixed.

[2018-07-06 07:20] luohao1220 opened #490 "wifi/bt enble disable interface can only work in X64"
hi Microsoft，
Currently We use modern  Radio interface to enable/disable wifi/bt device, get wifi/bt status, monitor wifi/bt status change.
The Radio interface is work good in X64, but not ok in x86.
Is there any interface can support such function in x86?
thanks

Modern::Windows::Devices::Radios:: Radio
Radio->SetStateAsync(RadioState::On)
Radio->SetStateAsync(RadioState::Off)
Radio->StateChanged

[2018-07-06 07:25] hjlpbbs opened #491 "Issue about Text Services Framework"
Hi !
I have two question to need your help !

Issue 1: When I use Text Services Framework in my software development，I find that it can only provide 10 candidates per page. I can not choose how many candidates per page by myself. Can you give me some method to solve the problem?
Issue 2: the  Microsoft input method show only 9 keyboard shortcuts of the candidates using number from 1-9 in keyboard,

[2018-07-06 08:37] leopasta opened #492 "sys.dm_db_resource_stats avg_log_write_percent description is vague"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/sql/relational-databases/system-dynamic-management-views/sys-dm-db-resource-stats-azure-sql-database?view=azuresqldb-current

**Problem:**
At the schema description for sys.dm_db_resource_stats, the

[2018-07-06 12:33] Derpalus opened #493 "Many wingdi.h functions has one or more missing parameter descriptions"
Examples:

- https://docs.microsoft.com/sv-se/windows/desktop/api/wingdi/nf-wingdi-getstockobject
- https://docs.microsoft.com/en-us/windows/desktop/api/wingdi/nf-wingdi-createdibsection
- https://docs.microsoft.com/sv-se/windows/desktop/api/wingdi/nf-wingdi-stretchdibits
- https://docs.microsoft.com/sv-se/windows/desktop/api/wingdi/nf-wingdi-createdibitmap
- https://docs.microsoft.com/sv-se/windo

[2018-07-06 15:56] Powerhelmsman commented on #490
@luohao1220 This is a channel to raise question or feedback about Docs site and content instead of the general technical question. Are you referring to any doc site content page?

[2018-07-06 15:59] Powerhelmsman commented on #491
@hjlpbbs This is a channel to raise question or feedback about Docs site and content instead of the general technical question. Are you referring to any doc site content page?

[2018-07-06 16:06] Powerhelmsman commented on #492
@craigg-msft @CarlRabeler Can you take a look at this issue?

[2018-07-06 16:10] Powerhelmsman commented on #493
@ginami Can you help find a right person to fix the issue?

[2018-07-06 18:38] ginami commented on #493
Hi @Derpalus -- thank you for the feedback! We've just recently migrated this content to the docs platform and we're still working through some issues. We'll get these issues resolved as soon as we can. Thanks again for letting us know.

[2018-07-06 20:31] DavidPrio commented on #443
Hello, @AhnMkt ,
 
Thank you for your feedback.
 
Our linguistic team reviewed your linguist suggestions and accepted them. We implemented your feedback and published to the updated articles on the Docs site to pages https://docs.microsoft.com/ko-kr/azure/iot-fundamentals/.

We truly appreciate your contribution to our articles and we encourage you to continue providing your valuable feedback.

Ki

[2018-07-06 20:31] #443 closed

[2018-07-06 21:20] lorenahuangliu commented on #346
Hi @paololec, I've heard back from the MU team. MU Team has confirmed that the install experience on a server 2016 machine is different than the 2012 R2 server experience.   In this case, the update process automatically installs the updates without any prompt for the user to interact and make the decision to install. They have provided documentation on how to modify this behavior, including disab

[2018-07-06 22:32] Khairunj commented on #437
@ghogen @dend @erickson-doug I have sent a note to Jenny to find out why localized content is not redirected yet.  It seems like Loc content is orphan and not in TOC.

[2018-07-06 22:43] Khairunj commented on #393
@SoronelHaetir Hi there, we are in the process of moving content from MTPS to docs.microsoft.com site for latest versions but for older version of the content please search on https://docs.microsoft.com/en-us/search/index?search=Windows+API&dataSource=previousVersions and you should be able to find what you are looking for and we also we have a capability to turn on Download PDF if that's better f

[2018-07-06 22:51] Khairunj commented on #177
@Eli Arbel Thanks you for the feedback we have added the feature request in the backlog.

[2018-07-06 22:52] Khairunj commented on #177
Added the feedback in the backlog.

[2018-07-06 22:56] Khairunj commented on #262
@gwieder65 I found this page [https://docs.microsoft.com/en-us/windows-server-essentials/manage/manage-remote-web-access-in-windows-server-essentials] that might be helpful.

[2018-07-07 00:11] kgreed opened #494 "Ability to turn off the Is this page helpful? question"
Reading technical documentation requires focus.
When the "Is this page helpful?" Dialog box pops up my focus is interrupted and I feel frustrated.
![image](https://user-images.githubusercontent.com/1795966/42404601-0353e886-81ce-11e8-9271-2ef7c7b81531.png)
I can usually provide feedback in the comments section of the page so why does Microsoft respect my focus so little that I can't turn this off?

[2018-07-07 02:32] Kevin-He-DVHS opened #495 ""Filter by title" box stops working and throws a bunch of "TypeError: Cannot read property 'split' of undefined""
**Describe the bug**
"Filter by title" is a common search box that is seen on almost every documentation page under [Microsoft Docs](https://docs.microsoft.com). However, recently (sometime between 7/2/2018 - 7/6/2018), you can no longer filter things on certain documentation websites. The text typed into the box is ignored. Examples include [PowerShell Scripting](https://docs.microsoft.com/en-us/

[2018-07-07 06:46] luohao1220 commented on #490
@Powerhelmsman ，
this is the doc site。
https://docs.microsoft.com/en-us/uwp/api/windows.devices.radios.radio.setstateasync

[2018-07-09 00:56] AhnMkt commented on #443
Hello David,
Thanks a lot. Really appreciate it.

Kind Regards,
Ahn
________________________________
From: David Prioni <notifications@github.com>
Sent: Saturday, July 7, 2018 5:32 AM
To: MicrosoftDocs/feedback
Cc: Hyungchoul Ahn (Adecco Korea); Mention
Subject: Re: [MicrosoftDocs/feedback] Korean Translation on IoT Central (#443)

Hello, @AhnMkt<https://na01.safelinks.protection.outlook.com/?url=

[2018-07-09 01:39] hjlpbbs commented on #491
@Powerhelmsman
this is the doc site：
https://docs.microsoft.com/en-us/windows/desktop/api/msctf/nf-msctf-itfcandidatelistuielement-getcurrentpage

[2018-07-09 16:12] Powerhelmsman commented on #393
@SoronelHaetir May I close the issue now.

[2018-07-09 16:13] Powerhelmsman commented on #494
@ShevaDas Please take a look at this suggestion.

[2018-07-09 16:15] Powerhelmsman commented on #490
@luohao1220 You issue is transferred to uwp team. They will help you there.

[2018-07-09 16:15] #490 closed

[2018-07-09 16:17] Powerhelmsman commented on #491
@ginami Can you take a look at this issue?

[2018-07-09 16:18] allar7 opened #496 "Documentation lacking"
**Link to article:**
https://docs.microsoft.com/en-us/powershell/module/azure/select-azuresubscription?view=azuresmps-4.0.0

**Problem:**
Article does not include commandlets such as Select-AzureRmSubscription which leads to not having douments for customers to look at for RM specific commands. Customer found the documentation lacking.

[2018-07-09 16:32] SoronelHaetir commented on #393
You may.

Not what I wanted to hear but it is what it is.

[2018-07-09 16:34] #393 closed

[2018-07-09 16:44] Powerhelmsman commented on #495
@presleyy this is a bug. Please find the right person to fix ASAP.

[2018-07-09 17:09] dend commented on #346
Thanks @lorenahuangliu - will close this issue in the meantime.

[2018-07-09 17:09] #346 closed

[2018-07-09 18:05] mairaw opened #497 "Incorrect rendering of an escaped pipe character inside a code block on a table"
Original GitHub issue https://github.com/dotnet/docs/issues/6335 from @HankiDesign

In the [Expressions](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/language-specification/introduction#expressions) section, there's a table of C# operators with a rendering issue related to escaping the pipe character with a backslash.

<img width="687" alt="Incorrect pipe character rendering i

[2018-07-09 18:08] dend commented on #497
@TianqiZhang - would this be solved if we switch the `dotnet-api-docs` repo to MarkDig?

cc: @cillroy

[2018-07-09 18:37] bannus commented on #497
My team also noticed this issue. GitHub's Markdown handles this correctly. The same markdown shows `URL1|URL2|URL3` on [GitHub](https://github.com/MicrosoftDocs/IntuneDocs/blob/master/intune/app-configuration-managed-browser.md#how-to-specify-allowed-and-blocked-urls-for-the-managed-browser) but shows `URL1\|URL2\|URL3` on [Microsoft Docs](https://docs.microsoft.com/en-us/intune/app-configuration-

[2018-07-09 18:56] cillroy commented on #497
This is a bug with Docs, markdig will not resolve the issue at this point.  I will get it filed with the markdig team to resolve.

[2018-07-09 20:28] Powerhelmsman commented on #343
@kiewic Your issue is transferred to vsts-rest-api-specs repo. They will help you there.

[2018-07-09 20:28] #343 closed

[2018-07-09 20:28] limaoyang opened #498 "Missing docs for WinHttp"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.
https://docs.microsoft.com/en-us/windows/desktop/api/winhttp/nf-winhttp-winhttpopen
**Link to article:**
Tell us where exactly a problem occurs.
Too many TBD on parameters, which used to exist on MSDN
**Problem:**
What's wrong with the article?
Too many

[2018-07-09 20:57] Powerhelmsman commented on #498
@limaoyang Those documents are just migrated to Docs site recently. The windows team is still working on that. @ginami When do you thing the whole migration will be done?

[2018-07-09 22:00] dc995 opened #499 "Dark Mode color matches font on profile"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
1) Browse to https://docs.microsoft.com/en-us/profile
2) Login - use MSA or corp id microsoft.com
3) Click the drop down at profile

**Expected behavior**
You should be able to read the labels or words such as Logout etc but the font matches the background rendering it unreadable

**Screenshots**
![docbug](h

[2018-07-09 22:08] Powerhelmsman commented on #499
@sharriexie @ShevaDas  Can you take a look at this bug?

[2018-07-09 23:05] Powerhelmsman commented on #488
@celiala Thanks for you feedback. The "maniacal" was changed to "focused on".  Please take a look.

[2018-07-09 23:05] #488 closed

[2018-07-09 23:28] limaoyang commented on #498
Is there way to access the old msdn document other then relying on Google cached page before the migration finish? It is a really frustrating experience for us recently

[2018-07-09 23:59] ginami commented on #491
Hi @hjlpbbs -- thanks for your feedback. Unfortunately our document authors can't answer these questions. Please visit our Windows developer support page for support options: https://developer.microsoft.com/windows/support.

[2018-07-10 00:03] ShevaDas commented on #494
Hi @kgreed—thanks for the feedback. I agree that the pop-up isn't a great user experience. The reason there's no option to disable it is that it's what powers the internal per-page ratings that let our authors know what people think of their content at a high level. That's a metric we use pretty heavily, so it's important to collect it in addition to the ability to leave comments via GitHub Issues

[2018-07-10 00:06] ShevaDas commented on #485
Hi @alferovvictor—thanks for the feedback! We aren't looking at changing our dark theme colors at this time, but will keep your suggestion in mind for the future.

[2018-07-10 00:06] #485 closed

[2018-07-10 00:10] ShevaDas commented on #467
@nschonni Thanks for the feedback! I'll look into it.

[2018-07-10 00:10] ShevaDas commented on #467
#log-suggestion

[2018-07-10 00:29] presleyy commented on #495
@adkinn I think this might be caused by the scope fixing for search link. Could you double check that?

[2018-07-10 00:30] #491 closed

[2018-07-10 00:33] ShevaDas commented on #499
I'll leave this one to @sharriexie :)

[2018-07-10 01:00] dc995 opened #500 "Dark Mode Transparent Graphics with black font become unreadable"
**Describe the bug**
Transparent images with black font become unreadable with dark mode

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [https://docs.microsoft.com/en-us/azure/iot-edge/how-to-ci-cd](url)

**Expected behavior**
Should be able to read legend and other text on the graphic

**Screenshots**
![darkimage](https://user-images.githubusercontent.com/2014485/42483297-ad7adc28-83

[2018-07-10 04:36] dend commented on #500
@kgremban @robinsh can you please take a look at this item?

[2018-07-10 04:37] dend commented on #467
#log-suggestion @ShevaDas

[2018-07-10 04:37] botcrane commented on #467
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=29035) logged.

[2018-07-10 05:51] kgreed commented on #494
Hi ShevaDas is there a way I can raise this issue in User Voice? It would be interesting to see whether other people find it as frustrating as I do.
There is an Accessibility dimension to my request as currently the feature discriminates against people who are "attentionally challenged"
Not sure if that helps :-)

[2018-07-10 11:33] nishanthmahe opened #501 "Typo in URL text"
Typo in URL text

Typo in URL text in the below mentioned site:

[https://docs.microsoft.com/en-us/xamarin/android/app-fundamentals/services/foreground-services](https://docs.microsoft.com/en-us/xamarin/android/app-fundamentals/services/foreground-services)

Screenshot attached:

![image](https://user-images.githubusercontent.com/29800673/42507472-f0e1d43c-8462-11e8-94da-36797eae22d8.png)

[2018-07-10 16:16] Powerhelmsman commented on #501
@nishanthmahe Thanks for your feedback. I transferred it to Xamarin team. They will track and fix the typo there.

[2018-07-10 16:16] #501 closed

[2018-07-10 16:33] cillroy commented on #497
At this point, the solution is moving to markdig... as it will respect and render any content with a backtick " ` " verbatim... in the example below markdig will render the pipes correctly

| __Category__                     | __Expression__    | __Description__ |
|----------------------------------|-------------------|-----------------|
| Logical OR                       | `x | y`           | Int

[2018-07-10 16:34] #497 closed

[2018-07-10 16:47] dend commented on #494
@kgreed we are no longer using User Voice - this repository is the primary feedback channel for all site issues.

[2018-07-10 17:41] LisandroSu commented on #324
Hi @nokura,

Is there an update for this issue?

Thanks!

[2018-07-10 19:05] cillroy commented on #362
Contents of the default .gitattributes file:

.gitattributes
[code]

[2018-07-10 22:07] v-jacard commented on #198
@daveRendon, we're sorry for the delay. The Spanish version of this blog post has been published:
[https://docs.microsoft.com/es-es/teamblog/announcing-unified-powershell-experience](https://docs.microsoft.com/es-es/teamblog/announcing-unified-powershell-experience)
Closing this issue.
cc @Sara-Nicolini, @Powerhelmsman, @SonjaSaltzman

[2018-07-10 22:07] #198 closed

[2018-07-10 22:18] AlanMcBee commented on #386
I feel like this is well-known, but as I don't see it in the comments: ISO 8601 solved this problem a long time ago. YYYY-MM-DD format all around the world.

[2018-07-11 00:02] Powerhelmsman commented on #495
@Kevin-He-DVHS thanks for your feedback. The bug is fixed now. Please verify it.

[2018-07-11 00:03] #495 closed

[2018-07-11 00:24] dxgldotorg opened #502 "HTML title displays escape codes on certain articles"
**Describe the bug**
Certain articles display escape codes for certain characters, such as "\\_" instead of "\_".

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/windows/desktop/controls/lb-getitemrect
2. HTML title will read "LB\\_GETITEMRECT message"

**Expected behavior**
HTML title should instead read "LB_GETITEMRECT message"

**Screenshots**
If app

[2018-07-11 03:30] mattferderer opened #503 "Hide/Collapse Menu Usability Feature Request"
When reading the documentation, going through a tutorial especially, it would be nice to hide or collapse the menu on the left. It makes it easier to read, especially when increasing the font size.

Since you're using JQuery & have the layout setup nicely, it is easy for a developer reading it to just do $('#sidebar').hide() and $('#sidebar').show() so it's not a huge deal.

[2018-07-11 03:45] nschonni opened #504 "Provide a way to generally apply fixes to the publishing platform"
**Is your feature request related to a problem? Please describe.**
The working in the open stuff is :100: awesome. There are some common/machine fixable issues in the deployment process that I manually point out/fix, but I can be automated out of a (non)job 😜
- BOMs in markdown docs that break GH page rendering
- Dead links. Working on (and mostly off) with @DavidAnson to put that into Markdownlin

[2018-07-11 03:54] PoULkY opened #505 "Hyperlink issue in Visual Studio Documentation"
**Describe the bug**
Error on destination URL link in hyperlink. There is an extra char at the end of link : ")"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/visualstudio/releasenotes/vs2017-relnotes#15.7.5

**Expected behavior**
URL should be https://portal.msrc.microsoft.com/en-us/security-guidance/advisory/CVE-2018-8172

**Screenshots**
![image](h

[2018-07-11 04:03] Powerhelmsman commented on #503
@mattferderer thanks for your feedback. We had a similar feedback in queue already. Our team will track there. https://github.com/MicrosoftDocs/feedback/issues/167

[2018-07-11 04:03] Powerhelmsman commented on #503
close as duplicate with #167

[2018-07-11 04:03] #503 closed

[2018-07-11 04:04] Porges opened #506 "SAL annotations are missing for C API declarations"
SAL annotations are missing across the entirety of the Win32 API. This makes it much harder to see what parameters are required and which are optional.

[2018-07-11 04:05] Powerhelmsman commented on #506
@Porges Can you provide the content link you refer to?

[2018-07-11 04:08] Powerhelmsman commented on #504
@dend can you take a look at this issue?

[2018-07-11 04:19] Porges commented on #506
For example, compare `CreateProcessWithLogonW`.

Here is the version from [the old MSDN page](https://web.archive.org/web/20160215095817/https://msdn.microsoft.com/en-us/library/ms682431(VS.85).aspx):

[code]

Here is the version from [the docs.msft.com page](https://docs.microsoft.com/en-au/windows/desktop/api/winbase/nf-winbase-createprocesswithlogonw):

[code]

All the SAL annotations are remov

[2018-07-11 04:42] DavidAnson commented on #504
Shoot me an email at work? I can probably send the code for a basic link checker rule in a week or so.

[2018-07-11 04:46] nschonni commented on #504
@DavidAnson I'm still going to try an get the Markdownlint rule worked out (just got self-tripped by test first), but super happy if this gets sorted out here in parallel

[2018-07-11 08:19] SujeathPareddy opened #507 "Unrendered markdown in article"
**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/WinAuto/uiauto-uiautomationoverview

**Problem:**
Unrendered markdown.

`
[!Note]
The functions described in [Deprecated Control Pattern Functions](uiauto-entry-cpfunctions.md) and [Deprecated Node Functions](uiauto-entry-uianodefunctions.md) are deprecated. Instead, client applications should use the UI Automation COM interface

[2018-07-11 09:33] XboxNinge opened #508 "Can we get a dashboard link on the developer.microsoft.com landing page?"
Very small QOL improvement request, but one i feel would be worth doing :)

Can we get a link to the dashboard added to the landing page at https://developer.microsoft.com/en-us/? Once you're past this page every other page has the link... but not the main landing page.

This just adds extra complexity to getting into an area of the site that is so important to developers. It also makes walking th

[2018-07-11 11:50] robindegen opened #509 "Typo in Visual Studio 15.7.5 release notes."
**Link to article:**
https://docs.microsoft.com/en-us/visualstudio/releasenotes/vs2017-relnotes#15.7.5

**Problem:**
```Exception block is optmized away causing a crash.```. Should be ```optimized```

[2018-07-11 13:24] xenomancer opened #510 "Image not loading on 'How to Create Cascading Menus with the ExtendedSubCommandsKey Registry Entry' page."
**Describe the bug**
The [How to Create Cascading Menus with the ExtendedSubCommandsKey Registry Entry](https://docs.microsoft.com/en-us/windows/desktop/shell/how-to-create-cascading-menus-with-the-extendedsubcommandskey-registry-entry#comments-container) page is not loading an image in the [Remarks](https://docs.microsoft.com/en-us/windows/desktop/shell/how-to-create-cascading-menus-with-the-exte

[2018-07-11 15:31] sasonarum opened #511 "New REST APIs Link don't work on Microsoft doc."
**Describe the bug**
On Microsoft docs at: https://docs.microsoft.com/en-us/vsts/integrate/concepts/dotnet-client-libraries?view=vsts
The "New REST APIs" link isn't working it gives 404

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/en-us/vsts/integrate/concepts/dotnet-client-libraries?view=vsts'
2. Click on 'New REST APIS' link
3. Error: PAge not found (40

[2018-07-11 16:51] danielanywhere opened #512 "DomainContext Class ValidateMethod Method page is missing"
In the System.ServiceModel.DomainServices.Client Namespace.DomainContext class page, clicking on the ValidateMethod method link is broken.

**Link to article:**
Base Page: https://docs.microsoft.com/en-us/previous-versions/dotnet/wcf-ria/ff422732(v%3dvs.91)
Broken Link: https://msdn.microsoft.com/en-us/library/m:system.servicemodel.domainservices.client.domaincontext.validatemethod(system.string%2

[2018-07-11 17:07] Powerhelmsman commented on #502
@DXGLdotinfo thanks for your feedback.
@ginami Can you take a look at this issue. All contents under List Box Messages have the same issue.

[2018-07-11 17:10] Powerhelmsman commented on #507
@ginami Can you find author to modify it?

[2018-07-11 17:14] Powerhelmsman commented on #508
@XboxNinge Thanks for your feedback. @jialge Can you follow up this item?

[2018-07-11 17:34] Powerhelmsman commented on #505
@PoULkY Thanks for your feedback. One engineer is working on that, It will be fixed very soon.

[2018-07-11 17:35] Powerhelmsman commented on #509
@robindegen Thanks for your feedback. One engineer is working on that, It will be fixed very soon.

[2018-07-11 17:42] Powerhelmsman commented on #510
@ginami Can you find the right person to fix it?

[2018-07-11 17:45] Powerhelmsman commented on #511
@hellosnow Can you find the right person to fix it?

[2018-07-11 17:47] Powerhelmsman commented on #511
@sasonarum Thanks for your feedback. Your issue is transferred to vsts-docs team. They will fix there.

[2018-07-11 17:47] #511 closed

[2018-07-11 17:53] Powerhelmsman commented on #512
@danielanywhere Thanks for your feedback. Unfortunately, the content is no longer updating due to out of product lifecycle.

[2018-07-11 17:53] #512 closed

[2018-07-11 17:55] Powerhelmsman commented on #505
@PoULkY This issue is fixed.

[2018-07-11 17:55] #505 closed

[2018-07-11 17:56] Powerhelmsman commented on #509
@robindegen The issue is fixed.

[2018-07-11 17:56] #509 closed

[2018-07-11 17:57] sasonarum commented on #511
Thank you Jian!

On Wed, Jul 11, 2018 at 1:47 PM Jian Dong <notifications@github.com> wrote:

--
*Sheetal A. Sonar*
Sr. Applications Developer, ITS EAS
University Of Michigan
Ann Arbor 48104
Ph: 734-764-0817

[2018-07-11 18:06] polarapfel opened #513 "Including Mono in the .NET API Browser"
Hi there,

I love the .NET API browser at https://docs.microsoft.com/en-us/dotnet/api/,

Unfortunately, it does not expose APIs from Mono. That's a real shame!

thanks,

Tobias W.

[2018-07-11 18:08] Powerhelmsman commented on #513
@dend @mairaw Can you take a look this requirement?

[2018-07-11 18:31] DXGLdotinfo commented on #502
List View documentation has the same issue too, for example https://docs.microsoft.com/en-us/windows/desktop/controls/lvm-finditem has an escape character in front of the underscore too.

[2018-07-11 18:55] dend commented on #504
Thanks for the desire to help, @nschonni! Unfortunately, at this time, we are not yet ready to make the entire pipeline open. As you mentioned, there are a lot of moving parts that currently are simply not designed to work with systems outside docs.microsoft.com, and would be of little value in the open, given the volume of change that is happening and the overall dependency on internal tools. Sel

[2018-07-11 18:55] #504 closed

[2018-07-11 18:57] joelmartinez commented on #513
Hi @polarapfel ... can you give me a few extra details on which Mono APIs you're referring to? Do you mean the BCL APIs that Mono ships?

[2018-07-11 20:59] alan-geller commented on #482
I'll take a look.

[2018-07-11 21:31] j0hnsm1thj4cks0n opened #514 "Console goes to bing search"
https://docs.microsoft.com/en-us/windows/desktop/apiindex/windows-api-list

Under the windows environment shell when you click consoles the link goes to a bing search.. is this expected?

[2018-07-11 21:52] Powerhelmsman commented on #514
@ginami Can you find the right person to answer?

[2018-07-11 22:00] jialge commented on #508
Thanks @XboxNinge for the feedback.  We will discuss it internally to see how we may want to surface the developer advocates site on the developer.microsoft.com homepage.

[2018-07-11 22:38] kgremban commented on #500
Image updated to have a white background instead of transparent in PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/46371

[2018-07-11 23:29] polarapfel commented on #513
@joelmartinez This: http://docs.go-mono.com/

[2018-07-12 01:11] RobCannon opened #515 "'Try it' for for Graph RBAC is acquiring token from wrong source"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/en-us/rest/api/graphrbac/applications/list'
2. Click on 'Try It'
3. Sign in
4. Enter a valid tenant id
5. Click Run
6. See error:
[code]

**Expected behavior**
The Body should contain a list of application from Azure AD

**Desktop (please

[2018-07-12 05:21] SunnyOswal opened #516 ""Azure DevOps Project for AKS" URL redirects to 404-Content/Page Not Found"
"Azure DevOps Project for AKS" URL redirects to 404-Content/Page Not Found

**To Reproduce**

1. Go to 'https://docs.microsoft.com/en-us/azure/aks/'
2. Click on 'How-to guides'
3. Under that click on "DevOps on AKS"
4. Under that click on "Azure DevOps Project for AKS"
4. See error

URL Broken:
https://docs.microsoft.com/en-us/vsts/pipelines/actions/azure-devops-project-aks?toc=%2Fen-us%2Fazure%2F

[2018-07-12 10:00] eugene-palacios opened #517 "No Content for SharePoint"
There's no content for SharePoint

![image](https://user-images.githubusercontent.com/14924565/42626652-74de634a-85fd-11e8-92af-4811da68a9a8.png)

[2018-07-12 12:22] gjuwindev opened #518 "Missing link for download of "Remote Tools" for the latest version of software"
**Link to article:**
https://docs.microsoft.com/en-us/previous-versions/visualstudio/visual-studio-2013/bt727f1t(v=vs.120)#BKMK_Installing_the_Remote_Tools

**Problem:**
A link is missing on the page for the latest version of software. Namely, the page lists links for download of "Remote Tools" for Visual Studio 2013, Updates 1, 2, 3 and 4, but is missing a link for Update 5 version. **Please add

[2018-07-12 14:26] alegrigoriev opened #519 "Incorrect escaping of ampersands in the code samples"
**Describe the bug**
Ampersand characters in the code samples are shown as escaped characters: "&amp;amp;". At the same time, "less" and "greater" characters are shown correctly/

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/en-us/windows/desktop/gdi/scaling-an-image' (pretty much any page)
3. Scroll down to 'a code sample.
4. See error

**Expected behavio

[2018-07-12 14:28] danielestevez opened #520 "Virtual Networks REST API - Check IP Address Availability ipAddress is NOT optional"
**Link to article:**
https://docs.microsoft.com/en-us/rest/api/virtualnetwork/virtualnetworks/checkipaddressavailability

**Problem:**
URI parameter *ipAddress* is **NOT optional** as the documentation reads. If you try the GET without this parameter you'll get an HTTP 400 error with this detail

`{
  "error": {
    "code": "PrivateIPAddressIsNullOrEmpty",
    "message": "Private IP address is nul

[2018-07-12 14:32] Crlangfo opened #521 "Trust Centre is not coming up on well selecting the Trust Centre button"
**Describe the bug**
Trust Centre is not coming up on well selecting the Trust Centre button

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/en-us/dynamics365/ '
2. Click on 'Trust Centre.'
3. See error "No Page"

**Expected behavior**
Trust Centre to show

[2018-07-12 15:24] bpd0018 opened #522 "missing option in mt.exe docs"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/sbscs/mt-exe

**Problem:**
 the example in the -canonicalize description does not include the -canonicalize option

[2018-07-12 16:18] Powerhelmsman commented on #516
@SunnyOswal Thanks for your feedback. Your issue is transferred to Azure team. They will help you there.

[2018-07-12 16:18] #516 closed

[2018-07-12 16:20] Powerhelmsman commented on #517
@presleyy Is this by design?

[2018-07-12 16:24] presleyy commented on #517
This is .NET API browser, add @dend

[2018-07-12 16:37] Powerhelmsman commented on #519
@alegrigoriev Thanks for your finding.  @misatran @ginami can you take a look at this issue?

[2018-07-12 17:10] ginami commented on #498
Hi @limaoyang -- thank you for your feedback! This is a known issue that we are working toward resolving.

[2018-07-12 17:12] ginami commented on #502
Hi @DXGLdotinfo -- thank you for your feedback! I'll confirm that is on our list of known migration issues.

[2018-07-12 17:13] ginami commented on #507
Hi @SujeathPareddy  -- thank you for your feedback! I think this problem is a result of the migration process; I'll confirm that is on our list of known migration issues.

[2018-07-12 17:14] ginami commented on #510
Hi @xenomancer -- thank you for your feedback! I think this problem is a result of the migration process; I'll confirm that is on our list of known migration issues.

[2018-07-12 17:15] ginami commented on #506
Hi @Porges -- thank you for your feedback! I'll confirm that is on our list of known migration issues.

[2018-07-12 17:16] ginami commented on #514
Hi @j0hnsm1thj4cks0n -- I'll find an author to look into this. Thank you for the feedback!

[2018-07-12 17:19] ginami commented on #519
Hi @alegrigoriev -- thank you for your feedback. I believe this is a migration issue; I'll confirm that this is on our list of known migration issues.

[2018-07-12 21:58] dend commented on #517
We are investigating this, thanks for the feedback!

[2018-07-12 22:01] dend commented on #515
@hellosnow to investigate.

[2018-07-12 22:02] dend commented on #520
@hellosnow to investigate.

[2018-07-12 22:03] dend commented on #521
@Crlangfo can you please point us to the exact button you have in mind?

[2018-07-12 22:05] dend commented on #522
@ginami to investigate.

[2018-07-12 22:08] dend commented on #57
Duplicate of #50

[2018-07-12 22:08] #57 closed

[2018-07-12 22:10] dend commented on #193
We are not currently planning to implement this. After the Ignite conference, we will re-assess how we can improve the design of the reference templates, however no immediate functionality will be developed.

[2018-07-12 22:10] #193 closed

[2018-07-12 22:11] dend commented on #213
This has been addressed, thank you for the feedback!

[2018-07-12 22:11] #213 closed

[2018-07-12 22:17] dend commented on #222
Closing this in favor of #226 - let's keep the conversation there.

[2018-07-12 22:19] dend commented on #451
Closing this in favor of #433 - let's keep the conversation there!

[2018-07-12 22:19] #451 closed

[2018-07-12 22:20] dend commented on #456
@goswamineelim - could you please clarify where the documentation is not complete?

[2018-07-12 22:22] mairaw commented on #433
@dend should we change the title of this issue to say Link to source from API docs or something like that?

[2018-07-12 22:38] dend commented on #388
We are investigating this, thank you for the report, @DeanGross!

[2018-07-13 00:08] littlejon commented on #517
Hi Guys, also missing all of the Microsoft.SharePoint.Client and Microsoft.Online.SharePoint.Client.Tenant namespaces for the Client-Side Object Model.

Is there a way to access the content on MSDN without it redirecting to the new API Browser?

Kind regards

[2018-07-13 00:39] Webtyven commented on #517
Thanx

[2018-07-13 06:26] #500 closed, assigned to nobody

[2018-07-13 07:39] gjuwindev commented on #518
I am sorry to hear that policies this and that makes it impossible to add to this page just one sentence like this: "To download Remote Tools for Visual Studio 2013 Update 5, visit https://my.visualstudio.com/Downloads?q=visual%20studio%202013&wt.mc_id=o~msft~vscom~older-downloads"  :(

[2018-07-13 17:23] dend commented on #517
We've added the SharePoint Server APIs, and are working on making sure others are showing up as well.

[2018-07-15 12:04] martinmthomas opened #523 "REST API for accessing Azure Pricing details"
Currently, there is no option to access Azure Pricing information programmatically. Definitely, the [Pricing Calculator UI](https://azure.microsoft.com/en-us/pricing/#explore-cost) is user friendly and is easy to use. However, if one needs to access the same information for creating custom reports or doing planning, then need to switch to the Pricing Calculator, do the math and update it manually

[2018-07-15 12:53] parthrawal opened #524 "I could not find the API for Project Server 2010"
# Idea Title

Project Server 2010 API, does not come in search

## Issue Details

even if i try google search and i can see the link and documentation in preview, i am continuously being redirect to unified API page, which is not working and i cant seems to find Resource.asmx, CustomField.asmx etc.

[2018-07-16 14:22] franzmiltner opened #525 "Can't find content of e.g. Microsoft.Office.Server.Search.Administration namespace in docs; missing from migration from msdn?"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://msdn.microsoft.com/library/Microsoft.Office.Server.Search.Administration.SearchServiceApplication.aspx

**Problem:**
When I search for e.g. SearchServiceApplication with a search engine, I still find the link above. When cl

[2018-07-16 16:56] #324 closed

[2018-07-16 16:58] Powerhelmsman commented on #523
@hellosnow Can you take a look at this suggestion?

[2018-07-16 17:04] Powerhelmsman commented on #525
@dend Can you take a look at this issue?

[2018-07-16 22:28] frevds opened #526 "WTF All Google Links are broken due to new MSDN API redirect"
I'm searching for some API member on Google, e.g. "SharePoint SPList members", clicking the first result to https://msdn.microsoft.com/en-us/library/microsoft.sharepoint.splist_members.aspx and end up at https://docs.microsoft.com/en-us/dotnet/api/?redirectedfrom=MSDN, no matter what I search for, so I have to type that there again. What a retarded annoyance, if you introduce a new API browser you

[2018-07-16 22:37] nschonni commented on #526
Duplicate of #517

[2018-07-16 22:42] frevds opened #527 "Bring back the old MSDN, your new API Browser search sucks, it is UNUSABLE (slow and no significant results)"
Seriously, I have no further comments - the whole MSDN is just gone for good.
The next time you try to reinvent a search engine do that as an alternative.
Google works, but all links are broken, so MSDN is effectively dead for me. I'll have to go to find the content in the web archive.
No opt-in, no opt-out, no or not enough testing, just dumb switching to a new system without respecting the user'

[2018-07-17 01:00] dend commented on #527
@frevds could you please add more info about the APIs that you are searching?

[2018-07-17 07:53] parthrawal opened #528 "Can not find "CalendarCreationInformation" from Unified API Page"
**Describe the bug**
CalendarCreationInformation

**To Reproduce**
Steps to reproduce the behavior:
1.https://www.google.co.in/search?ei=HZVNW5PrNYz0vgTpl7XgDw&q=%22CalendarCreationInformation%22&oq=%22CalendarCreationInformation%22&gs_l=psy-ab.3..35i39k1.2772260.2772860.0.2773344.3.3.0.0.0.0.440.440.4-1.1.0....0...1.1.64.psy-ab..2.1.439....0.2sDICJFGdaE
2. Click on first link
3. Redirects to Unif

[2018-07-17 07:55] parthrawal commented on #525
It has become extremely difficult to search the Project Online Content/Documentation for reference. It's almost non working and Project Server Category Leads to MSProject Documentation which is totally wrong. How MS can do such a stupid thing is beyond my comprehension

[2018-07-17 07:55] frevds commented on #527
In my case it's SharePoint, which (I know by now) is missing, but this is not the point of this issue.
The issue is, that you broke a perfectly functional solution which was not just some thing under your control but a major resource on the web, and replaced it by something on force. I DO NOT WANT your new solution, why are you _forcing_ me to use a new API browser? Where is my opt-out? At least I

[2018-07-17 07:56] parthrawal commented on #526
Totally Agree. Such a Stupid implementation from MS. Not expecting such a work from MS. I think we should put it on Twitter or something

[2018-07-17 16:09] Powerhelmsman commented on #528
@dend Can you take a look at this issue?

[2018-07-17 17:06] hellosnow commented on #416
@norshtein please have a try, our engineering made some fix already, let us know if any other issues.

[2018-07-17 17:08] hellosnow commented on #520
I'm connecting Azure network team to check.

[2018-07-17 17:29] svick opened #529 "No return type for RouteValueDictionary.GetEnumerator"
**Describe the bug**

[The API reference page for `RouteValueDictionary.GetEnumerator`](https://docs.microsoft.com/en-us/dotnet/api/system.web.routing.routevaluedictionary.getenumerator?view=netframework-4.7.2) does not show its return type in the Returns section.

**Screenshots**

![](https://user-images.githubusercontent.com/287848/42834635-77c0f494-89f7-11e8-9917-f68aee894d83.png)

Compare this

[2018-07-17 19:02] #416 closed

[2018-07-18 09:47] Kimi-Arthur opened #530 "Inherited member should have a dedicated page or redirect to the parent automatically"
For example, in this [page](https://docs.microsoft.com/en-us/dotnet/api/system.io.ioexception?view=netcore-2.1) there are several inherited members (like Data), clicking the link will bring you to the parent class's doc page, which is fine.

But to make it perfect, it should also be available directly through visiting

Currently it shows 404 as expected, but it should get to the right page as it i

[2018-07-18 12:56] jspadeaMH opened #531 "Microsoft.SharePoint.Client missing classes"
Can't find the File class in Microsoft.SharePoint.Client namespace
Google caches have the info but clicking on the search results redirects you to a generic page with no info.
Searching using the API browser returns no results

To reproduce:
Search the API browser for Microsoft.SharePoint.Client.File does not find the class
Search the API browser for Microsoft.SharePoint.Client.File.MoveToUsingPat

[2018-07-18 13:07] wey24 opened #532 "Someone is controling my family emails"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2018-07-18 16:30] Powerhelmsman commented on #531
@jspadeaMH Thanks for your feedback. This is a known issue, we will track it on #517. I will close it as duplicated.

[2018-07-18 16:30] #531 closed

[2018-07-18 16:34] #532 closed

[2018-07-18 17:19] hellosnow commented on #450
Status update: Azure consumption team is investigating.

[2018-07-18 17:34] mairaw opened #533 "Could review.docs.microsoft.com become public?"
Original GitHub issue https://github.com/dotnet/docs/issues/1827 from @svick

As far as I can tell, CI in this repo publishes each PR to https://review.docs.microsoft.com/, where it presumably looks the same as it will look on https://docs.microsoft.com/. This would be especially useful, since building with `docfx` locally has issues (the template is very different; getting API reference right is

[2018-07-18 17:58] sharriexie commented on #499
Update: the engineering team is working on this. @dc995

[2018-07-18 19:21] svick commented on #468
Also, for some types, the return type incorrectly includes namespace.

Specifically, [the API reference page for `ImmutableList<T>.ItemRef`](https://docs.microsoft.com/en-us/dotnet/api/system.collections.immutable.immutablelist-1.itemref?view=netcore-2.1) shows its return type as `System.Collections.Immutable.T&` when it should be `ref readonly T`.

[2018-07-19 00:34] sharriexie commented on #499
@dc995 , the problem is solved and deployed.
Thanks again for reporting this to us.

[2018-07-19 05:44] #499 closed

[2018-07-19 06:43] BugsDigger commented on #494
@ShevaDas

Just show it as static buttons at the top/bottom sides of pages. Popups looks really ugly.

[2018-07-19 06:54] BugsDigger commented on #458
All refs are workable now except of one small thing: "Dialog Boxes" reference shows old msdn article with message: "The topic you requested is included in another documentation set. For convenience, it's displayed below. Choose Switch to see the topic in its original location." Also this "switch" does not work for me ("We're sorry, the page you requested cannot be found.").

[2018-07-19 07:20] mairaw opened #534 "Small feedback box on bottom right corner vanishes before you finish typing."
Original GitHub issue https://github.com/dotnet/docs/issues/6544 from @ericmutta

When you open a documentation page, there's a small popup on the bottom right of the page which asks "Is this page helpful?". If you click YES, it says "thanks" then gives a link where you can give comments or suggestions. Pressing that link opens up a small comment box and if you start typing and keep going for a fe

[2018-07-19 09:08] ncarandini commented on #462
Please please please do implement this request.
More over, because sometimes (very often, to be honest) it's faster and easier go to the desired MS Doc page searching from Google (or Bing if you like), every time I got a localized URL (in my case it-it) so I really would like a redirection based on my browser cookie.
As an example:
1. I search for "Xamarin forms build release app"

2. Google first

[2018-07-19 09:18] ncarandini commented on #462
An alternative way to quickly solve it is to add, next to the "Read it in English" switch, a link to the native page, like "go to English page". This is something very easy to implement.

[2018-07-19 16:13] Powerhelmsman commented on #534
@yunyunyunyun Can you take a look at this issue?

[2018-07-19 16:16] Powerhelmsman commented on #462
@SonjaSaltzman Can you follow up the feedback?

[2018-07-19 16:40] hellosnow commented on #523
@martinmthomas Thanks for your suggestion. 😄

https://github.com/Azure/azure-rest-api-specs is our Azure rest api swagger files, as far as I know there's no overall Azure pricing REST API, but I need to confirm with Azure team on this.

[2018-07-19 16:43] presleyy commented on #475
The bug was fixed. @nschonni please let us know if you would still see any issue on such scope tagging. Thanks again!
![image](https://user-images.githubusercontent.com/5718438/42957633-2426387a-8b38-11e8-8bae-aee9a5959137.png)

[2018-07-19 16:43] #475 closed

[2018-07-19 16:45] hellosnow commented on #515
I opened one bug to track, our engineering team will help there.

[2018-07-19 17:07] hugotoledo opened #535 "Typo on web page for Power BI REST APIs"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.
There is no comment section on the page where this defect exists.

**Link to article:**
https://docs.microsoft.com/en-us/rest/api/power-bi/

**Problem:**
This word is misspelled:

It should be

[2018-07-19 17:14] Powerhelmsman commented on #535
@hugotoledo Thanks for your feedback. I submitted a PR to correct. It should be merged very soon.

[2018-07-19 17:31] SonjaSaltzman commented on #462
Looping in @bodhigautam and @Sara-Nicolini to follow up. We really appreciate the feedback.  For now, we do not have a good solution, but we are considering various approaches that may address this problem.

[2018-07-19 18:50] JonathanPalmerGD opened #536 "Azure-All Translator Speech API link returns a 404"
**Describe the bug**
When you click [Translator Speech API] option, it takes you to a non-secure blue 404 page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/azure/#pivot=products&panel=all
2. Click on [Translator Speech API]
3. Get a 404 page. that is not secure (which might give a Chrome/other 'dont go here' page)

**Expected behavior**
Getting to t

[2018-07-19 19:12] Powerhelmsman commented on #536
@JonathanPalmerGD Thanks for your feedback. Your issue is transferred to Azure content team. They will help you there.

[2018-07-19 19:12] #536 closed

[2018-07-19 20:09] Pharabus opened #537 "&20 rather than %20 in example request"
https://docs.microsoft.com/en-ca/rest/api/maps/search/getsearchaddressstructured

&20 is used to represent spaces in the example request rather than %20

[2018-07-19 20:13] Powerhelmsman commented on #537
@hellosnow Can you take a look at this issue?

[2018-07-19 20:56] hellosnow commented on #537
@Pharabus thanks for your feedback, I'm connecting Azure Maps team to improve the examples.

[2018-07-19 20:58] chgennar commented on #537
I can fix this, thanks for the feedback!

[2018-07-20 01:42] TakiyaNakano-MSFT opened #538 "please archive draft version article"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/ja-jp/dynamics365/customer-engagement/admin/security-roles-automatically-assigned-apps

**Problem:**
This article is Japanese translated version, and English original version is missing. Moreover, English

[2018-07-20 01:44] Pooglz opened #539 "Xamarin doc - gyroscope spelled gyrpscope"
gyrpscope >> gyroscope
axis >> axes.

https://docs.microsoft.com/en-us/dotnet/api/xamarin.essentials.gyroscope

_Gyrpscope data of the rotation around the device's three primary axis._

should be

Gyroscope data of the rotation around the device's three primary axes.

[2018-07-20 02:33] Pooglz opened #540 "ScreenMetricsChanagedEventArgs(ScreenMetrics) Constructor"
I hope that's just a typo, but I'm thinking maybe not. Unfortunate.

https://docs.microsoft.com/en-us/dotnet/api/xamarin.essentials.screenmetricschanagedeventargs

[2018-07-20 11:42] Pharabus commented on #537
just to add detail, below is the example request, you can see streetName is including &20 where %20 woul d be more appropriate, you still get results using this but as streetName is excluded in the query it is less precise, the response example reflects the lack of streetName in teh query (Thats how I stumbled on it, my query that correctly used %20 returns a specific single response unlike the ex

[2018-07-20 17:54] Powerhelmsman commented on #526
@frevds This bug is duplicated with #517. I will close this issue and track the status there

[2018-07-20 17:54] #526 closed

[2018-07-20 18:33] Powerhelmsman commented on #538
@TakiyaNakano-MSFT Thanks for your feedback. @SonjaSaltzman Can you take a look at this issue?

[2018-07-20 18:37] Powerhelmsman commented on #539
@Pooglz Thanks for you feedback. I submitted a PR to fix it. Let us wait for merger.

[2018-07-20 18:42] Powerhelmsman commented on #540
@Pooglz Can you clarify your issue? Is there something wrong with the content?

[2018-07-20 19:48] nschonni commented on #475
@presleyy I don't get the error anymore thanks!
It appears the fix was to just change everything to use the "Team Foundation Server" tag instead of the product (VSTS vs TFS) tag. It seems like multiple scopes don't work (or never did)

[2018-07-20 20:06] nschonni commented on #365
Here is another one https://github.com/MicrosoftDocs/OfficeDocs-SfBLocTest-pr
There are still 19 that I originally flagged too

[2018-07-20 20:18] Powerhelmsman commented on #539
@Pooglz The issue is fixed.

[2018-07-20 20:18] #539 closed

[2018-07-20 20:20] Powerhelmsman commented on #365
@cillroy for you awareness.

[2018-07-20 21:38] ShevaDas commented on #245
@dastaffo is this something included on your hub page redesign?

[2018-07-20 22:12] SonjaSaltzman commented on #538
@krisre @vinceno This is an Issue related to Dynamics content; could you please follow up?

[2018-07-20 22:36] bgsky commented on #450
Would you test the following format in your url, and let us know if that fix the issue

/subscriptions/{subscription-id} /providers/microsoft.billing/billingperiods/20180201/providers/microsoft.consumption/usagedetails?api-version=2018-05-31&$apply=groupby((Tags))&$filter=tags eq 'dev:tools'

[2018-07-20 22:44] Powerhelmsman commented on #450
@EUGinsane Please take a look at bgsky's response.

[2018-07-20 23:26] nschonni opened #541 "The `#hold-off` command doesn't add back `do-not-merge` tag"
**Is your feature request related to a problem? Please describe.**
EX: https://github.com/MicrosoftDocs/visualstudio-docs/pull/1272#event-1745835672
The bot removed the `ready-to-merge` tag, but doesn't add back the `do-not-merge`

**Describe the solution you'd like**
Add back the `do-not-merge` tag to a PR

**Describe alternatives you've considered**
This follows some process you've documented so

[2018-07-21 00:38] martinmthomas commented on #523
@hellosnow, thanks for looking in to this.

[2018-07-21 00:38] ms-premp commented on #450
@EUGinsane actually groupby is not required.
/subscriptions/{subscription-id} /providers/microsoft.billing/billingperiods/20180201/providers/microsoft.consumption/usagedetails?api-version=2018-05-31&$filter=tags+eq+'dev:tools'
should work for you.
In this is not working, would you mind sharing subscription-Id which is not working.
You can raise a support ticket with these details, rather than shar

[2018-07-21 06:04] user135711 opened #542 "Move the "Is this page useful" to the top and show up/down ratio"
If you go to docker's documentation you can see the number of thumbs up and thumbs down. It would be very useful if the thumbs up vs down ratio was displayed at the top of all ms docs, kind of like stack exchange voting. In the documentation some of the documents are extremely useful and have to be read word for word, while others are extremely long and wordy but contain no useful information. It

[2018-07-21 16:38] shooshx opened #543 "Many apis show arguments with TBD"
**Describe the bug**
Just a few I noticed today:
https://docs.microsoft.com/en-us/windows/desktop/api/winuser/nf-winuser-drawtextexa
https://docs.microsoft.com/en-us/windows/desktop/api/wingdi/nf-wingdi-getstockobject
https://docs.microsoft.com/en-us/windows/desktop/api/wingdi/nf-wingdi-exttextouta

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the above addresses

**Expected behavior

[2018-07-21 20:47] edfallin commented on #457
Thanks, that's something.  Too bad they can't just be hidden and a cookie remembering it, you know?  It's not like they help anyone.

[2018-07-22 21:49] Pooglz commented on #540
"Chanaged" everywhere should be "Changed"

[2018-07-23 00:59] nschonni commented on #413
Could this get bumped up the priority a bit. I've hit this in a few PRs on the Azure docs already, and I'm guessing that there might be other PRs that don't get landed in some of the larger repos for the same reason

[2018-07-23 01:03] DXGLdotinfo commented on #502
Found another page affected by the escape codes:
https://docs.microsoft.com/en-us/windows/desktop/controls/cb-resetcontent
Title should be CB\_RESETCONTENT

Does this mean that when the bug is fixed the title of this document will be fixed too?

[2018-07-23 11:36] surajmuthreja opened #544 "Need Rest API to get the availability zones information on the basis of Object selected in a particular region"
**Is your feature request related to a problem? Please describe.**
It would be better if we can get the availability zones available in a particular region based on object selected.
Right now it is mentioned that only below regions support the availability zones:

Central US
France Central
East US 2 (Preview)
West Europe
Southeast Asia (Preview)

If we can get the information using Rest API that w

[2018-07-23 14:36] enterprisecommunity-dsa opened #545 "More Information on R Packages Supported by Power BI Service"
In the article "R packages in the Power BI service", can the list of supported packages be improved to give more information? I am attempting to browse the list to find a package which has functionality similar to the package I have been using in development, but with no information other than a package name and version number, this is a tiresome exercise.

A list of package names with their subti

[2018-07-23 16:23] krisre commented on #538
Removed now for all languages.

[2018-07-23 17:11] Powerhelmsman commented on #542
@user135711 Thanks for your feedback. We have a new design in progress. I don't have a timeline for this work yet, but I'll update the issue when I do.

[2018-07-23 17:13] Powerhelmsman commented on #543
@ginami Please take a look at this issue.

[2018-07-23 17:19] Powerhelmsman commented on #540
@Pooglz Thanks for your feedback. I submitted a PR to correct it.

[2018-07-23 17:30] Powerhelmsman commented on #545
@enterprisecommunity-dsa Thanks for your feedback. I transferred you issue to powerbi-docs repo. They will help you there.

[2018-07-23 17:30] #545 closed

[2018-07-23 17:31] #538 closed

[2018-07-23 17:57] Powerhelmsman commented on #533
@mairaw @svick Thanks for you feedback. After discussed with the team, 1) we do have a future roadmap item to figure out a way to review a PR from a non-Microsoft user that doesn’t require an @microsoft.com address.  2) We’ll look at adding messaging to the PRs to warn people that the review links will not work for them at this time.

[2018-07-23 17:57] #533 closed

[2018-07-23 18:10] Powerhelmsman commented on #413
@nschonni Thanks for your feedback. I've initiated a internal item to track it. Will let you know the status.

[2018-07-23 18:16] roywill opened #546 "Searching for windows API on docs returns the wrong result. Msdn returns the primary first."
Doing a search once you are on docs for an API like SearchPath
https://docs.microsoft.com/en-us/search/index?search=SearchPath+&=

yields pages of pages of data for nothing that I want.  In addition starting from the Windows page yields the same result.

Searching via bing against this site is equally as cumbersome.

https://www.bing.com/search?q=site%3Adocs.microsoft.com+searchpath&form=EDGEAR&qs

[2018-07-23 18:17] Powerhelmsman commented on #530
@Kimi-Arthur Thanks for your feedback. Your issue is transferred to dotnet repo. They will help you there.

[2018-07-23 18:19] Powerhelmsman commented on #546
@presleyy Can you take a look at this feedback?

[2018-07-23 21:59] hntddt123 opened #547 "Azure SQL Quickstart doc 404 link error"
**Link to article:**
<img width="440" alt="2018-07-23 16 27 37" src="https://user-images.githubusercontent.com/4081929/43104912-a4cde2e4-8e98-11e8-951b-64bc82da4256.png">
https://go.microsoft.com/fwlink/?LinkID=394042

**Problem:**
"Selecting the appropriate database collation for your app" link broken under quickstart tab

**Created by:** Nientai Ho
**Date:** 7/23/2018

[2018-07-23 22:04] bodhigautam commented on #462
Hi,
Thanks a lot for your feedback. We are working on a permanent solution to fix this issue. Till it is resolved you can follow these steps as a temporary solution.

Select the language from the language picker (one time settings)
1. Go to docs.microsoft.com
2. Scroll down to the end of the page and click on the language picker. Screenshot attached.
![1](https://user-images.githubusercontent.com/

[2018-07-23 22:07] Powerhelmsman commented on #547
@hntddt123 Can you provide the Docs site page link including the broken link?

[2018-07-23 22:09] Powerhelmsman commented on #462
@boehle Can you verify if this resolve your issue?

[2018-07-23 22:43] bgsky commented on #450
@EUGinsane  Assume your subscription-id is not web direct, would you check your request again
/subscriptions/{subscription-id}/providers/microsoft.consumption/usagedetails?api-version=2018-05-31&$filter=tags+eq+'dev:tools'

From our side, we see response difference with and without tag filter. If specifying tag filter, our response only has records with those tags. Please let us know if response i

[2018-07-23 22:49] hntddt123 commented on #547
It's on Azure Dashboard->quickstart
This is mine link don't know if works on public
https://portal.azure.com/#@UofH.UH.EDU/resource/subscriptions/aadf75d4-e0a3-48c5-bf40-5076ae355e2c/resourceGroups/appData/providers/Microsoft.Sql/servers/repairreport/databases/RepairReportDataBase/quickStart

[2018-07-23 23:08] Powerhelmsman commented on #547
@hntddt123 I don't have access to your link. This channel is about Docs.microsoft.com instead of product feedback. Can you submit your question to https://azure.microsoft.com/en-us/support/community/ . I will close this issue so far. We can reopen the issue if you have other question related to this.

[2018-07-23 23:08] #547 closed

[2018-07-24 00:38] hellosnow commented on #523
@martinmthomas I'll pass this info to Azure REST API team to see whether we have the on-going plan, thanks.

[2018-07-24 00:43] hellosnow commented on #544
@surajmuthreja thanks for the feedback, I'll need to sync with Azure REST API team on this question.

[2018-07-24 03:19] ShevaDas commented on #386
Just to clarify, Docs currently changes the date format based on the user locale (see images). I'm investigating if we can use ISO 8601 for clarity, but our current solution does take different date formats used around the world into account.

![tr-tr-turkey](https://user-images.githubusercontent.com/3937986/43114803-c162658e-8ece-11e8-96a0-a7bbcbe9b5c9.PNG)

![ja-jp](https://user-images.githubuse

[2018-07-24 03:30] SimonCropp commented on #386
that may be the case. unfortunately that is not consistent over all websites, let alone all MS websites. so whenever someone see a 1/12/yyyy there is no way they can tell if this is one of the sites that localises dates.

[2018-07-24 03:35] ShevaDas commented on #542
Hi @user135711. This specific feature isn't something we're looking at implementing for general Docs content, so I'm going to close this out. We may add it in the future for specific content types such as tutorials. Please feel free to open another issue if you have additional feedback!

[2018-07-24 03:35] #542 closed

[2018-07-24 03:58] AlanMcBee commented on #386
I agree with @SimonCropp.
It would be fine to have localized dates for non-technical content (commercial, media, educational, etc.) But in the technical world, where nearly everybody should used to having solutions to disambiguate data (like a date format), it seems like a real step backward to purposely introduce a known ambiguity in the format just to suit an aesthetic.
At the very least, please

[2018-07-24 10:43] svick commented on #386
@ShevaDas

As far as I can tell, it does not. It changes based on the language which I selected, not based on the locale configured on my computer.

And considering that en-US always contains the best content, many users (including me), prefer to use the en-US version of docs, even though they're not used to the US date format.

[2018-07-24 16:52] boehle commented on #462
@Powerhelmsman yeah, if I remove the lang tag it takes me to the language I specify on docs.microsoft.com.
But from google I'm still being sent to the language of my country. So it doesn't work as a global override/default.

[2018-07-24 17:13] Powerhelmsman commented on #462
@bodhigautam Can you follow up boehle's issue?

[2018-07-24 17:23] bodhigautam commented on #462
We are working on a permanent solution. Will update once its in place.
Thanks.

[2018-07-24 17:27] flagrange opened #548 "Quantum pages: 'Is this helpful?' comment disappears after 10s no matter what!"
Hello,
On the new pages about Q# and it's concepts, there is a little 'Is this page helpful? [Yes/No]' popup on the bottom right. When clicking Yes or No, one gets the option to leave textual feedback 'Tell us here'. This opens a small dialog where a comment can be typed in.

Unfortunately, that box vanishes after 10s _whether text is being typed or not_.  This makes it impossible to type in a fee

[2018-07-24 17:32] Powerhelmsman commented on #548
@ShevaDas Can you follow up this issue?

[2018-07-24 17:39] ShevaDas commented on #548
@flagrange I can't repro this on the latest version of Chrome on OSX. The box stays open indefinitely. However, I'll pass your report along to the engineering team.

Tagging @dastaffo for your "Save as PDF" question.

[2018-07-24 20:45] chaselal commented on #527
I can't find any documentation on reactive extensions (Rx) with the new API browser. Searching for [System.Reactive](https://docs.microsoft.com/en-us/dotnet/api/?term=system.reactive) produces no results. System.Reactive was well-documented in the old MSDN pages.

[2018-07-24 21:44] flagrange commented on #548
You guys are amazing!

@ShevaDas  I did a few more tests:
Note that you really have to click _Yes_, then _Tell us here_. Then type a few letters in the comment box and wait 10s (actually, rather about 6s). The box vanishes - even if you typed letters. I tried on different pages on that topic.

- Closed and reopened Chrome Version 67.0.3396.99 (Official Build) (64-bit) on Win 7: confirmed
- On IE 1

[2018-07-25 02:07] fowl2 opened #549 "Edit Link on Sharepoint PnP leads to Github 404"
The edit link on https://docs.microsoft.com/en-us/dotnet/api/microsoft.sharepoint.client (which is showing the wrong content fwiw #517) goes to https://github.com/SharePoint/sp-dev-docs-pnp-ref-dotnet/blob/live/dotnet/xml/ns-Microsoft.SharePoint.Client.xml, which is 404.

[2018-07-25 02:09] fowl2 commented on #517
[CSOM content](https://msdn.microsoft.com/en-us/library/microsoft.sharepoint.client.listitem.aspx) now appears to redirecting to [Sharepoint PnP content](https://docs.microsoft.com/en-us/dotnet/api/microsoft.sharepoint.client?redirectedfrom=MSDN&view=sharepointpnpcoreonline-2.18.1709.0) instead. (they are not equivalent)

[2018-07-25 09:36] vetrivelmp opened #550 "How to create SharedAccessSignature for API Management REST APIs(v.2018-06-01-preview)"
https://docs.microsoft.com/en-us/rest/api/apimanagement/user/get

From this document, no information about how to create SharedAccessSignature (Accesstoken) for accessing API Management REST APIs. I dont see latest document for this. Please give me details how to create SharedAccessSignature (Accesstoken) for API Management REST APIs(v.2018-06-01-preview)??.

[2018-07-25 12:01] flagrange commented on #548
Hello,

I noticed this morning, doing some coding for fun, that I have the same behavior on other doc pages as well, like [here](https://docs.microsoft.com/en-us/dotnet/visual-basic/language-reference/statements/removehandler-statement).

Just FYI.
F>

[2018-07-25 16:22] Powerhelmsman commented on #549
@mairaw @dend Can you take a look at this issue? Click Edit return 404.

[2018-07-25 16:23] Powerhelmsman commented on #550
@hellosnow Can you follow up this question?

[2018-07-25 21:15] dastaffo commented on #548
@flagrange Thanks for the feedback on PDF! Unfortunately, we don't support the formulas yet in PDF, which is why it's not available here, but we will add it as something to consider for future release.

[2018-07-25 22:10] nschonni commented on #374
https://github.com/Microsoft/skype-interviews-docs looks like a docs.micrsoft.com repo, but can't tell where it gets published

[2018-07-25 22:23] quinnmagendanz opened #551 "Incomplete TBS Documentation"
Hi,

I'm writing a [golang wrapper for the TBS library](https://github.com/google/go-tpm/tree/master/tpmutil/tbs), and was hoping to have the function documentation completed/updated.

Specifically, I'm asking about the parameters for the submit_command and get_tcg_log functions:
https://docs.microsoft.com/en-us/windows/desktop/api/Tbs/nf-tbs-tbsip_submit_command
https://docs.microsoft.com/en-us/w

[2018-07-25 22:26] quinnmagendanz opened #552 "Conflicting TBS Error Codes"
Hi,

Could you clarify the conflicting error codes in this TBS documentation:
https://docs.microsoft.com/en-us/windows/desktop/TBS/tbs-return-codes

Thanks

[2018-07-26 00:11] mixfede opened #553 "Links broken"
**Link to article:**
Tell us where exactly a problem occurs.
https://docs.microsoft.com/en-us/previous-versions/dotnet/netframework-1.1/w4hk59ha%28v%3dvs.71%29

**Problem:**
In This Section. Links redirect to wrong page.

    Implementing a Simple Web Forms Control Designer      **<----- !!!!**
    Describes the key steps in implementing a designer that governs the design-time HTML rendered by an

[2018-07-26 13:40] joelmartinez commented on #298
For the sake of completeness ... are there any other .NET attributes that are missing? I've identified the cause, and a fix slated for the next release to add `Serializable`, but if there are more I'd like to address them all at the same time :)

[2018-07-26 14:28] Makopo opened #554 "Localized or original Feedback form needs more information above input field."
**Is your feature request related to a problem? Please describe.**

Original page has [our blog post](
https://docs.microsoft.com/teamblog/a-new-feedback-system-is-coming-to-docs) link which leads the page explaining where your post will go.

![en](https://user-images.githubusercontent.com/303874/43266796-426fa678-9127-11e8-971b-52abbffda6b9.png)

Whereas, some localized pages, e.g. Japanese, have

[2018-07-26 16:18] Powerhelmsman commented on #553
@mixfede Thanks for your feedback. Currently the page is no longer updating due to out of production lifecycle. Please try to use the up to date version .NET Framework.

[2018-07-26 16:18] #553 closed

[2018-07-26 16:23] Powerhelmsman commented on #554
@SonjaSaltzman Can you identify if this is a localization issue?

[2018-07-26 16:57] SonjaSaltzman commented on #554
@bodhigautam could you please follow up? We need to make sure the localized feedback control displays the same information as en-US feedback control.
@Sara-Nicolini FYI

[2018-07-26 17:47] bodhigautam commented on #554
Thanks @SonjaSaltzman . I am following it up with the appropriate team to get this resolved. Will update as soon as its done .

[2018-07-26 19:41] ncarandini commented on #462
@bodhigautam: thanks for your reply but the problem with the footer page language selection is that is a preference only for URLs that not declare the language. As I said, I can click on the URL and then replace the it-it (in my case) with "en-us" but it's a tedious workaround. To just remove the "it-it" from the URLS found by Bing/Google, as you suggested, it's more painful, because I need to cop

[2018-07-26 20:58] Makopo commented on #554
@bodhigautam @SonjaSaltzman The page linked from the original form is not localized to Japanese. Maybe that's why the localization team decide not to include that link. So, I suspect that writing short explanation instead of including a link might be better solution.

![targetpage](https://user-images.githubusercontent.com/303874/43288114-e79ed8b4-9161-11e8-98f7-dac3a3a9e9e1.png)

[2018-07-27 00:13] Powerhelmsman commented on #551
@ginami Can you take a look at this?

[2018-07-27 05:25] arjenkrap opened #555 "Signing in to post comments does not work"
**Describe the bug**
As a visitor of docs.microsoft.com I want post a comment to ask questions. I am already signed in. I see my name and avatar in the top right corner. Below the textbox is a button called 'Post comment as...'. When I click the button a popup appears asking me to sign in using a form or using a Microsoft account, Facebook account, etc. Please note that I am already signed in. Try

[2018-07-27 07:53] hellosnow commented on #550
@mmacy and @rloutlaw do you have any guidance on this question? Or could help to find someone to answer? Thanks.

[2018-07-27 08:09] hellosnow commented on #520
We're seeking the help from @chandrasekarsrinivasan there. :smile:

[2018-07-27 08:15] arjenkrap commented on #555
I just realized that starting the subject with logging might be confusing. So changed al use of words like logging in to signing in. This also makes the story more consistent with the screenshots and the actual website.

[2018-07-27 09:22] jtuliani opened #556 "Discoverability of https://docs.microsoft.com/azure/templates/"
**Is your feature request related to a problem? Please describe.**
https://docs.microsoft.com/azure/templates/ is awesome.
But I just found out about it by chance
I can't find a link to it anywhere. It's completely undiscoverable!

**Describe the solution you'd like**
Link to https://docs.microsoft.com/azure/templates/ clearly from the main Azure docs pages somewhere.
I suggest putting a link on h

[2018-07-27 09:46] jtuliani opened #557 "Azure REST API and Templates browsers should use same left-nav hierarchy"
**Is your feature request related to a problem? Please describe.**
Compare:
Azure template reference: https://docs.microsoft.com/azure/templates/
Azure REST API reference: https://docs.microsoft.com/rest/api/?view=Azure

Why is the left-nav hierarchy different? The template reference is strictly organized by resource provider. The REST API reference is organized by...well, I don't know what it is,

[2018-07-27 17:33] Powerhelmsman commented on #552
@ginami Could you follow up this question?

[2018-07-27 17:52] quinnmagendanz commented on #551
I was able to pull up the cached version of the old documentation page, and it contains the information I was looking for. So it looks like all this will take is to copy over the parameter descriptions from the old documentation to the new.

[2018-07-27 17:59] Powerhelmsman commented on #541
@meganbradley Can you follow up this feedback.

[2018-07-27 18:00] ginami commented on #551
Thanks @quinnmagendanz for the feedback. We're still working on migration issues with these docs.

[2018-07-27 18:32] Powerhelmsman commented on #419
@presleyy what's the status now?

[2018-07-27 18:48] dend commented on #557
@mikekinsman could you help address this with the content partners?

[2018-07-27 18:49] dend commented on #556
@tfitzmac can you help look into this?

[2018-07-27 18:50] dend commented on #555
We are actually moving away from LiveFyre in favor of GitHub issues. @sudeepku - can you help us work with the content partners to move the content to the new feedback system?

[2018-07-27 18:53] dend commented on #298
@joelmartinez `Serializable` is a starter and probably one of the most important ones 😄

[2018-07-27 18:59] dend commented on #549
That is caused by the fact that the repo behind the content is private, and the **Edit** button should not be shown to begin with. We are working on addressing that.

[2018-07-27 19:00] dend commented on #527
@frevds we are working on ensuring content redirects work properly - our team is currently in the process of putting the correct redirects in place.

[2018-07-27 19:04] dend commented on #517
The Server APIs should be available. We are investigating why other APIs are not yet available.

[2018-07-27 19:13] dend commented on #468
Will work with @joelmartinez on addressing this.

[2018-07-27 19:16] dend commented on #529
@TianqiZhang are we missing anything in the data model that we need to investigate? looks like the data is in the XML.

[2018-07-27 19:17] dend commented on #528
This is addressed for now - we removed the bad redirect.

[2018-07-27 19:17] #528 closed

[2018-07-27 19:18] dend commented on #525
We have removed the bad redirects temporarily, until a better solution is available.

[2018-07-27 19:18] #525 closed

[2018-07-27 19:33] riverar commented on #298
???

I provided an example earlier, all those attributes are missing values.

[2018-07-27 19:36] joelmartinez commented on #298
@riverar apologies for the confusion ... I meant for .NET classes. As @dend mentioned, UWP uses a different pipeline, so the instance value fixes will come from a different source. I work on mdoc (ie. the .NET pipeline), so that's what I was referring to 😄

[2018-07-27 20:04] riverar commented on #298
@joelmartinez Got it. Let me hunt around for some more real quick.

[2018-07-27 20:18] riverar commented on #298
@joelmartinez

- ClassInterface https://docs.microsoft.com/en-us/dotnet/api/accessibility.caccpropservicesclass?view=netframework-4.7.1
- InterfaceType https://docs.microsoft.com/en-us/dotnet/api/accessibility.iaccessiblehandler?view=netframework-4.7.1
- SecurityCriticalAttribute https://docs.microsoft.com/en-us/dotnet/api/microsoft.win32.safehandles.criticalhandleminusoneisinvalid?view=netframewo

[2018-07-27 20:31] riverar commented on #298
@joelmartinez Woops, let me filter this list. My language selector got set to C++.

[2018-07-27 20:36] riverar commented on #298
@joelmartinez Shortened list above.

[2018-07-27 20:43] Krueladin opened #558 "Missing Page in Docs"
# Idea Title
404 Error on a Web Apps Linked Page

## Issue Details
The documentation site for Web Apps is missing the reference architecture page. The error received is a 404.

Steps to reproduce:
1. Navigate to https://docs.microsoft.com/en-us/azure/app-service/app-service-web-overview.
2. In the left hand menu, click drop down 'Resources'. Under 'Resources', click drop down 'Cookbooks' and selec

[2018-07-27 21:11] Powerhelmsman commented on #521
@Crlangfo Trust Center works well. We can't repro the issue. I will close it so far. We can reopen it if you have other question related to it.

[2018-07-27 21:11] #521 closed

[2018-07-27 21:14] Powerhelmsman commented on #535
@hellosnow Do you have permission to merge the PR? https://github.com/MicrosoftDocs/powerbi-rest-api-docs-pr/pull/13 .

[2018-07-27 23:39] Khairunj commented on #437
@davkean
Can you try to search again it seems like now the api documentation on Google is coming as third result?
![image](https://user-images.githubusercontent.com/18732564/43350390-9037ebb0-91bb-11e8-8608-62914677d344.png)

[2018-07-27 23:40] #262 closed

[2018-07-27 23:41] Khairunj commented on #262
the correct link is provided to the customer

[2018-07-27 23:44] Khairunj commented on #177
I have added the feature in the backlog and currently its not in the priority list.

[2018-07-27 23:44] #177 closed

[2018-07-28 00:05] SusanBradley commented on #262
No one answered my question about the searchability.  Did that get fixed or not?

[2018-07-28 18:57] bloudraak opened #559 "SharePoint Server API Documentation Rendered Incorrectly"
**Describe the bug**
Many of the SharePoint Server API documentation is rendered incorrectly. The bug report is for one page, but they are too numerous to create one for each page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/dotnet/api/microsoft.sharepoint.taxonomy.termstore?view=sharepoint-server
2. Observe that content is rendered incorrectly.

**

[2018-07-29 17:14] student-forever opened #560 "PowerShell Module Browser:https://docs.microsoft.com/en-us/powershell/module/"
Hello,

The PowerShell Module browser, doesn't include commands from the Exchange Online PowerShell module :

For example "Get-Mailbox" doesn't show any results.

Regards,

Ipsito Dutta.

[2018-07-29 19:12] kylepdx opened #561 "Search does to support AND correctly"
When performing a search in docs.micrsosoft.com  I search for OfficeDevPnP and received 7,038 results.   So I tried to narrow down the search by include OfficeDevPnp and Samples and now I received 48,612 results.

It appears that search does not properly support the AND keyword

[2018-07-29 22:56] mohsin1811 opened #562 "Images are not clear. Words are blurry."
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
Tell us where exactly a problem occurs.
https://docs.microsoft.com/en-us/sql/relational-databases/backup-restore/complete-database-restores-full-recovery-model?view=sql-server-2017

https://docs.microsoft.com/en-us/sql/relational-d

[2018-07-30 01:53] hellosnow commented on #535
@Powerhelmsman I merged the PR, and this issue could be closed.

[2018-07-30 01:53] #535 closed

[2018-07-30 03:18] Powerhelmsman commented on #559
@bloudraak Thanks for your feedback. Your issue is transferred to SharePoint team. They will help you there.

[2018-07-30 03:21] Powerhelmsman commented on #560
@EdisonDa Can you take a look at this issue?

[2018-07-30 03:22] Powerhelmsman commented on #561
@presleyy Can you answer the question?

[2018-07-30 03:43] mohsin1811 commented on #562
Hi @Powerhelmsman, @MikeRayMSFT,

I just found that the image looks very clear in light background however when I change it to dark, the image turns blurry. I can switch the backgrounds for viewing the images however it will be nice to have the images look crisp in dark background as well. Hopefully you can repro that on your side.

I am copying a screenshot here showing the html inspection and co

[2018-07-30 03:48] Powerhelmsman commented on #562
@mohsin1811 Yes, you are right. the image doesn't work in dark mode. I will let author know.

[2018-07-30 03:54] mohsin1811 commented on #562
Thanks! @Powerhelmsman

[2018-07-30 05:16] AdminLekong opened #563 "MS Nav 2018 Manual book for Master Templates and the definition of the header fields"
Where can we find or can someone provide us with the manual book for master templates and the definitions of the header fields. So that we can better understand and use the features that NAV 2018 is capable of.  Because the MS vendors for some reason do not want the users to be better educated and better understand the product that users have spent a lot of money to purchase. Kindly make it availa

[2018-07-30 06:41] vetrivelmp commented on #550
For a long time i dont see proper response... It is urgent for our product development please

[2018-07-30 06:48] EdisonDa commented on #560
Thank you @student-forever for your reporting. The exchange online moniker has not been lived, we will let you know when we onboard this. Currently you can go to https://docs.microsoft.com/en-us/powershell/exchange/exchange-online/exchange-online-powershell?view=exchange-ps and filter "Get-Mailbox" as a work around.

+@dstrome for awareness.

[2018-07-30 06:51] student-forever commented on #560
Hey Edison,

Thank you for the post. However, from the dropdown to show the list of all
available PS modules, I do see that Exchange Powershell is available.
Please confirm what that is for?

On Mon, Jul 30, 2018, 12:18 PM Edison Dai <notifications@github.com> wrote:

[2018-07-30 06:57] EdisonDa commented on #560
Yes. There are some moniker issues we are working on now. Currently, we can find the "Exchange" display in the module browser, but we are expect there is no modules/cmdlets displaying there. We will get you posted when it's ready to use.

[2018-07-30 08:03] norshtein opened #564 "CosmosDB REST API not working as expected"
**Link to article:**
https://docs.microsoft.com/en-us/rest/api/cosmos-db-resource-provider/databaseaccounts/onlineregion

**Problem:**
I'm using cosmos db and I'm using REST API mentioned above to add a secondary region to replicate data globally. I'm sure my request parameters are valid, but I received an error:
[code]
I'm wondering why this API doesn't behave as expected? And if I have any misun

[2018-07-30 08:43] norshtein commented on #564
By creating a secondary region manually and monitoring browser's developer tool, I have found there is a **PUT** request to `https://management.azure.com/subscriptions/my-sub-id/resourceGroups/my-rg/providers/Microsoft.DocumentDB/databaseAccounts/tosicosmosdrtest/?api-version=2015-04-08`, the request body is:
[code]
I think it is the really API endpoint to create a replication database.

[2018-07-30 08:43] #564 closed

[2018-07-30 09:20] hellosnow commented on #550
@vetrivelmp I'm writing letter to seek help from @mmacy and @rloutlaw to accelerate this.

By the way, does this page https://docs.microsoft.com/en-us/rest/api/apimanagement/apimanagementrest/azure-api-management-rest-api-authentication help?

[2018-07-30 16:41] mikebudzynski commented on #550
As @hellosnow  mentioned, instructions for generating a SAS token, along with the code for that, are included in the documentation:
https://docs.microsoft.com/en-us/rest/api/apimanagement/apimanagementrest/azure-api-management-rest-api-authentication#ProgrammaticallyCreateToken

Is this what you were looking for?

[2018-07-30 22:40] mairaw opened #565 "Download PDF"
Original GitHub issue https://github.com/dotnet/docs/issues/6721 from @BelarminoVicenzo

You should do something with the formatting when downloaded to PDF.
When I download, all text comes normal, without the colors. Something that is very important.
It makes more difficult to read the code.
See for yourselves https://prnt.sc/kccpgm

So I had to manually copy-paste all docs, literally all them.

-

[2018-07-30 22:44] Powerhelmsman commented on #565
@dastaffo Can you follow up this issue?

[2018-07-30 22:48] dastaffo commented on #565
We'll investigate this and add it to a future sprint

[2018-07-30 23:25] mairaw commented on #565
@BelarminoVicenzo this issue should be closed when the problem is fixed, so you should receive a notification from GitHub when that happens. We're aware that this applies to any PDF not just .NET, that's why I've moved it here.

[2018-07-30 23:25] davkean commented on #437
@Khairunj Can you please reopen this bug? My issue is not resolved.

[2018-07-30 23:27] Powerhelmsman commented on #437
@davkean Reopened.

[2018-07-30 23:30] BelarminoVicenzo commented on #565
Thanks 👍 :)

[2018-07-31 02:19] BillWagner commented on #375
@dend This can be closed. It was fixed in microsoftDocs/Contribute#29

[2018-07-31 04:38] vetrivelmp commented on #550
Hello @mikebudzynski ,

The above given link talks about previous version of SAS token. For latest version(2018-06-01-preview) of SAS token it is different. Actually the above given link is obsolete for latest API (v.2018-06-01-preview). Please read comments section on the page. So every body is looking latest SAS token generation including me.

[2018-07-31 05:04] nschonni commented on #375
Thanks!

[2018-07-31 05:04] #375 closed

[2018-07-31 15:18] jtuliani opened #566 "Feedback button on Azure REST API doc browser and Azure template doc browser"
**Is your feature request related to a problem? Please describe.**
The Azure REST API and template reference docs are great
But sometimes, there are issues. For example, right now, at https://docs.microsoft.com/en-us/rest/api/compute/disks/get there is no mention of the 'diskState' property, which is being returned by the API.
What is frustrating is that there's no feedback button on these pages f

[2018-07-31 17:07] mikebudzynski commented on #550
@vetrivelmp , you are right, thanks for pointing this out. I will update the docs this week.

For the time being, please navigate to your API Management instance in Azure and select _Management API_ from the menu on the left. You can generate the SAS token from there.

[2018-07-31 18:49] mairaw opened #567 "[Question] How to generate fragment part of the url for an overloaded member"
Original GitHub issue https://github.com/dotnet/docs/issues/6421 from @JosefPihrt

Hi,

I'm working on a tool that includes generation of links to **docs.microsoft.com** for particular symbols. I'm especially interested in overloaded members that are distinguished by the fragment part of the url.

Problem is that I don't know how generate the fragment part of the url.

Example:

for method `List<T

[2018-07-31 20:08] Powerhelmsman commented on #567
@dend Do you know who can help answer the question?

[2018-08-01 02:02] hellosnow commented on #566
@jtuliani thanks for your feedback. We have on-going plan to enable feedback button to reference page (not only for REST), but it would be transitioned step by step and need content writer's collaboration. I'm connecting @rloutlaw on this. Before we enable that, welcome to open issue here at the general feedback.

[2018-08-01 04:26] ShevaDas commented on #555
@sudeepku Please feel free to reach out or direct the SQL team to me if they need help getting it set up!

@arjenkrap I'm going to close this issue out as Livefyre is no longer a supported comment mechanism on our platform and we won't be fixing this. Please open a new issue on this repo if you have additional feedback.

[2018-08-01 04:26] #555 closed

[2018-08-01 15:35] Timothep opened #568 "Missing features in the Twitter Connector Documentation for Microsoft Flow"
Hi, got the hint (via @MicrosoftFlow [on Twitter](https://twitter.com/MicrosoftFlow/status/1021381023215603713)) that there is a way to search for a specific user in the Twitter Flow Connector using the following as a search text:

Unfortunately this is mentionned nowhere on the connector documentation page: https://docs.microsoft.com/de-de/connectors/twitter

I've seen this question asked a few t

[2018-08-01 16:25] Powerhelmsman commented on #568
@miriver Can you follow up the user's suggestion?

[2018-08-01 17:01] cfwicks opened #569 "Spanish instead of english"
# Idea Title
Change communication language to English instead of Spanish

I signed up for email notifications and the system is sending the Spanish version.

## Issue Details

Add a detailed explanation of what is wrong or what you want implemented. If reporting a bug on an existing page, make sure to include a link.

[2018-08-01 18:49] cjmod opened #570 "Unable to comment on Partner Center REST API docs"
**Describe the bug**
Unable to login or comment on Partner Center REST API docs

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/en-us/partner-center/develop/azure-rate-card'
2. Click on 'Feedback'
3. Click on 'Sign in'
5. Follow on screen prompts to authenticate with Microsoft, Facebook, Google
6. Successful auth is not processed to complete the login proces

[2018-08-01 18:55] Powerhelmsman commented on #568
@theresapalmer Can you help here?

[2018-08-01 18:59] Powerhelmsman commented on #570
@cjmod The comment will be removed from docs site eventually, which will be replaced by GitHub issue. So if you have any feedback or issue, you can create issue in this channel or if you see the picture like
![image](https://user-images.githubusercontent.com/33136632/43542588-47878626-9582-11e8-83b2-66ff0b1c47f7.png)
on the bottom of page. You can click content feedback and create feedback.

[2018-08-01 19:00] #570 closed

[2018-08-01 19:03] GlassGrass opened #571 "Improvement of feedback form"
This issue may be related to #554 or MicrosoftDocs/Contribute#46.

## background

Recently, there were a little unfortunate accident caused by misunderstanding in a ja-jp docs feedback issue.

I don't touch it to prevent re-flaming, but I think there are some factor such as followings.

- Currently ja-jp docs feedback form does not seem obvious that the new issue will be opened on github when feed

[2018-08-01 19:09] cjmod commented on #570
@Powerhelmsman: Does that mean I should create an issue here for the Partner Center Rate Card API? I'm trying to make sure the feedback makes it to the API developers.

[2018-08-01 19:35] tfitzmac commented on #556
@jtuliani - thanks for the feedback.  I agree that discoverability has been a problem. Your suggestion about adding it to the index page makes sense. I'll see if it can be added to that page. I just recently embedded the whole template reference TOC under the Resource Manager TOC. I've noticed that change has helped a bit.
![template-toc](https://user-images.githubusercontent.com/4007949/43544253-

[2018-08-01 19:47] theresapalmer commented on #568
This is a reasonable suggestion, I've filed a bug to track adding this to the documentation. I'm also no longer working on connectors but assigned the bug to @schabungbam

[2018-08-01 20:27] Powerhelmsman commented on #556
@jtuliani I will close the issue since tfizmac provides a solution. We can reopen it if you have other question related to this.

[2018-08-01 20:27] #556 closed

[2018-08-01 21:08] tfitzmac commented on #556
@jtuliani - although this issue has been closed, I am still pursuing adding the template reference link to the index page for SDKs/tools.

[2018-08-02 03:48] presleyy commented on #475
@nschonni the multiple scopes currently is for defining the documents. If a document is defined for multiple scopes like A,B, and C. Searching with either scope would be able to find out that document. But current search action only supports having one scope. We understand that there could have needs to search out documents cross multiple scopes. This could be a new feature for our search engine.

[2018-08-02 06:37] presleyy commented on #419
@Powerhelmsman the problem was said caused by some anti SQL injection rules. The issue is being investigated by Akamai team. So, still open

[2018-08-02 08:00] Zio3D opened #572 "Error clicking on link"
1. Go to on "https://docs.microsoft.com/it-it/windows/#pivot=developer&panel=developer-all"
2. Click on 'Informazioni di base' in "Desktop" section of "Sviluppatore" page.
3. The link go to "https://developer.microsoft.com/windows/desktop/getstarted" page.
4. This page redirect automatically to "https://developer.microsoft.com/it-it/windows/desktop" page.
5. This page has the error: "'alt' is a du

[2018-08-02 08:53] presleyy commented on #561
@kylepdx fully understand this need that you expect to have less and more relevant results with adding "and". But our search engine full text search currently doesn't treat the "and" particularly when it appears in the search query. And even more, these common words like "and" would have very little match weight, so the results would be almost same by searching "OfficeDevPnp Samples". But the key

[2018-08-02 12:48] ChrisMaddock opened #573 "Broken markdown on Windows Sockets Error Codes"
**Describe the bug**
On this page, the markdown links in the table are not being rendered, and are displaying as raw markdown.
https://docs.microsoft.com/en-us/windows/desktop/winsock/windows-sockets-error-codes-2

**Screenshots**
![image](https://user-images.githubusercontent.com/4837132/43584577-a8d487e8-965a-11e8-857c-345d48cb79e5.png)

The page doesn't link to any specific github repo, so I wa

[2018-08-02 16:18] Powerhelmsman commented on #569
@cfwicks Can you provide more detail information? What page link do you refer to?

[2018-08-02 16:27] Powerhelmsman commented on #572
@jialge Can you take a look at this issue?

[2018-08-02 16:29] Powerhelmsman commented on #571
@GlassGrass Thanks for your feedback. This is related to #554. I will close this feedback and track the status there.

[2018-08-02 16:29] #571 closed

[2018-08-02 17:50] cfwicks commented on #569
The newsletter comes to my account in Spanish. I want to change the language to English. I will see if I can find an old email.

[2018-08-02 19:30] mcleblanc commented on #546
@roywill The search experience you are encountering for the SearchPath API is the result of an ongoing migration of Win32 documentation from MSDN to docs.microsoft.com. We’ve had some difficulty migrating a small percentage of the Win32 API topics to Docs. Those topics have been left available on MSDN while we continue working to get all Win32 docs fully migrated to Docs. The SearchPath API topic

[2018-08-02 20:20] pinecones-sx opened #574 "Add Powershell to Syntax examples in framework documentation on MSDN"
# Add PowerShell to Syntax examples in framework documentation on MSDN

This is a request / suggestion to add Syntax examples for PowerShell to framework documentation on MSDN / docs.

[2018-08-02 21:32] gosali opened #575 "About title #117"
**🛑 End User description**: Although it has nothing to do with posted articles, when I tried to send feedback by setting the title to "About code-behind" at the previous posting,
A warning "Please enter in the specified format" came out, and it was not possible to contribute.
(So, it was posted with the title as above.)

I would appreciate it if you can introduce the URL of the article that detail

[2018-08-02 22:38] Powerhelmsman commented on #575
@nokura Can you explain what's the problem here? I saw you follow up the https://github.com/dotnet/docs.ja-jp/issues/117 . Is this a location issue or GitHub issue bug?

[2018-08-02 22:41] mairaw commented on #575
I believe that customers see a warning when trying to submit a content feedback issue in Japanese.

[2018-08-02 22:48] Powerhelmsman commented on #575
@ShevaDas Do we set any warning message to submit feedback in non English?

[2018-08-02 23:08] jtuliani opened #576 "Azure API reference for Reserved Instances is missing 'write' operations"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.
Understood. This issue relates to the Azure REST API reference, which doesn't (yet) have a comments section.

**Link to article:**
https://docs.microsoft.com/en-us/rest/api/reserved-vm-instances/

**Problem:**
Look at the various sub-pages for resources

[2018-08-02 23:09] Powerhelmsman commented on #576
@hellosnow Can you find the right person to follow up?

[2018-08-02 23:22] jtuliani opened #577 "REST API and template reference documentation for Management Groups is missing"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.
Understood. This issue relates to the Azure REST API and Azure template references, which don't (yet) have a comments section.

**Link to article:**
https://docs.microsoft.com/rest/api/?view=Azure
https://docs.microsoft.com/azure/templates

**Problem:**

[2018-08-03 01:11] TakiyaNakano-MSFT opened #578 "Please translate https://docs.microsoft.com/en-us/dynamics365/customer-engagement/admin/manage-updates"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
English (original)
https://docs.microsoft.com/en-us/dynamics365/customer-engagement/admin/manage-updates

Japanese (tranlsated)
https://docs.microsoft.com/ja-jp/dynamics365/customer-engagement/admin/manage-updates

**Problem:**
Eng

[2018-08-03 01:35] Powerhelmsman commented on #578
@SonjaSaltzman Can you follow up this suggestion?

[2018-08-03 01:45] SonjaSaltzman commented on #578
@krisre @vinceno could you please respond?

[2018-08-03 02:04] EdisonDa commented on #574
Thank you @pinecones-sx for your suggestion. Could you please share me a link as an example we can get evaluate more?

[2018-08-03 03:29] presleyy commented on #561
@kylepdx thank you for providing that good feedback. Understand your scenario. That's why we are planning the feature I mentioned above and we do hope that would help on such search experience without having users to change the search query back and forth in near future.

Regarding the PnP Presentation Graphics, using [this API search](https://docs.microsoft.com/en-us/dotnet/api/?term=officedevpnp

[2018-08-03 07:17] hellosnow commented on #576
@jtuliani I transferred the issue to https://github.com/Azure/azure-rest-api-specs/issues/3574, please check update there.

[2018-08-03 07:32] vinceno commented on #578
@SonjaSaltzman, as this is for Customer Engagement, @krisre will look into it

[2018-08-03 13:54] jtuliani commented on #566
Thank you @hellosnow, I'll do that :)

[2018-08-03 14:29] #576 closed

[2018-08-03 14:34] Powerhelmsman commented on #577
@jtuliani Thanks for your feedback. Your issue is transferred to Azure/azure-rest-api-specs. They will help you there.

[2018-08-03 14:34] #577 closed

[2018-08-03 15:19] krisre commented on #578
@SonjaSaltzman -Thanks!  @TakiyaNakano-MSFT - There is a delta between the English topic update and the publishing of the localized version of the topic.  Our next handoff for content translation is next week.  I confirmed that this topic update will be included.

[2018-08-03 15:20] krisre commented on #578
@TakiyaNakano-MSFT - I've also confirmed that we've requested this topic to be prioritized by our vendor.

[2018-08-03 17:12] ShevaDas commented on #575
@Powerhelmsman not to my knowledge. I can take another look once we get more information about where this is occurring.

[2018-08-03 17:53] mairaw commented on #575
@ShevaDas try syncing with @nokura offline. She managed to repro the issue.

[2018-08-03 20:12] mairaw opened #579 "MethodInfo.Invoke"
Original issue https://github.com/dotnet/docs/issues/6822 from @NetMage

MethodInfo.Invoke link under Methods in Tree goes to .Net 1.1 page instead of MethodBase.Invoke page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dc2c5677-4ada-334c-6fe1-13329ed66839
* Version Independent ID: 33eda1ff-e736-e2f4-a44b-14f3da3d7a7

[2018-08-03 20:14] mairaw commented on #579
I could repro this., It happens when you click on the TOC link that takes you to https://docs.microsoft.com/en-us/dotnet/api/system.reflection.methodinfo.invoke?view=netframework-1.1

![image](https://user-images.githubusercontent.com/12971179/43663625-0ec79472-971f-11e8-9921-7b9068c7e9a0.png)

[2018-08-03 20:29] spatnaik commented on #147
Wondering when this fix is coming. If not, here is more information on the request:
Update the top banner to match the theme. I'm looking at http://aka.ms/rds and in "Dark" mode, there still is a white banner left at the top of the page. In contrast, Azure documentation doesn't have that (e.g. https://docs.microsoft.com/en-us/azure/virtual-machines/windows/). This request is to adopt the behavior

[2018-08-03 20:45] spatnaik opened #580 "The search box with title “Filter by title” has a white background"
**Describe the bug**
The search box with title “Filter by title” has a white background. Please consider this an accessibility issue for people with sensitive eyes.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://aka.ms/rds'
2. Switch to Dark mode
3. Notice that the search box (top left of the page) with title “Filter by title” has a white background.

**Expected behavior**
Th

[2018-08-03 20:53] Powerhelmsman commented on #147
@ShevaDas for your awareness

[2018-08-03 20:54] Powerhelmsman commented on #580
@ShevaDas Can you follow up this suggestion?

[2018-08-03 20:56] JRAlexander opened #581 "Filtering of members"
Original GitHub issue [dotnet/docs#6818](https://github.com/dotnet/docs/issues/6818) from @nvmkpk:

Please let us filter listed members like hiding inherited members like MSDN website had.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bb8f7ce9-5aa7-5d81-7e38-87895240399c
* Version Independent ID: 868c1749-34cc-7de8-76

[2018-08-03 21:08] Powerhelmsman commented on #579
@dend Is this your area?

[2018-08-04 13:16] pinecones-sx commented on #574
Sure!  If you go to this link
https://msdn.microsoft.com/en-us/library/system.windows.forms.form(v=vs.110).aspx

there should be a "syntax" section.  my ask is to have PowerShell syntax
examples added.

On Thu, Aug 2, 2018 at 9:04 PM Edison Dai <notifications@github.com> wrote:

[2018-08-06 02:30] hellosnow commented on #544
@surajmuthreja from Azure team, we got the information that there's  SKUs API which give availability zone information: https://docs.microsoft.com/en-us/rest/api/compute/virtualmachinesizes/list

Check the `Locations` from following example:

[code]

[2018-08-06 06:38] dend commented on #574
Given that this is .NET-related, re-assigning to myself 😄 @pinecones-sx we are moving away from MSDN, therefore no features will be added there. That said, it's fair game to suggest changes for docs.microsoft.com!

Regarding PS syntax, can you provide some examples of what you have in mind (e.g. what the signature would look like)?

[2018-08-06 11:06] jakrams opened #582 "Links with anchors are not validated"
When you link to another page or even within the same page and you use an anchor to jump directly to some chapter, the system does not validate whether the anchor is correct. It only checks whether the link to the page is correct.

Unfortunately the syntax for anchors is also very strict. It has to use dashes (not whitespaces or underscores) and has to be all lower-case. If any of that is not met,

[2018-08-06 12:55] ghuntley opened #583 "Open-source the documentation under MIT or CC0 for System.Reactive"
Howdy Folks

I'm opening this again as https://github.com/MicrosoftDocs/feedback/issues/114#issuecomment-399601350 was prematurely closed.

**Problem:**

See stream at 2h 22 minute mark at https://twitter.com/GeoffreyHuntley/status/1026413749819691009

The guidance provided by Microsoft is as `System.Reactive` (even though it's in the system namespace) isn't produced by Microsoft then documentatio

[2018-08-06 13:49] surajmuthreja commented on #544
@hellosnow  Thanks!
But when I am using this API, I am getting limited information. I am not seeing detailed information like the one you demonstrated above..

API Used:

GET https://management.azure.com/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/eastus2/vmSizes?api-version=2017-12-01

Response sample below:

{
  "value": [
    {
      "name": "Standard_A0",
      "number

[2018-08-06 15:37] prasadu-microsoft commented on #527
Related to this: Try searching for something as basic as Enumerable.Except in the top search. Even scoped to .NET it returns irrelevant results (note the scope query parameter that's automatically added):
https://docs.microsoft.com/en-us/search/index?search=Enumerable.Except&scope=.NET. This returned no relevant results in the first page.

[2018-08-06 18:31] tshaiman opened #584 "Broken Links"
**Describe the bug**
The links at :
https://docs.microsoft.com/en-us/azure/app-service/containers/
are broken when you try to click on
.NET Core with Azure SQL DB
or
Node.js with MongoDB tutorials
you get 404 Page not found

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/en-us/azure/app-service/containers/'
2. Click on item #1 on the list '.NET Core with Azu

[2018-08-07 00:12] EdisonDa commented on #582
Thank you @jakrams for your feedback. Could you please show us an example of the invalid links/anchors and the expected one?

[2018-08-07 00:42] EdisonDa commented on #584
@dend assign this one to you, and we should update the link "azure/app-service/containers/tutorial-dotnetcore-sqldb-app" to "tutorial-dotnetcore-sqldb-app".

[2018-08-07 01:12] sparkchaser opened #585 "Obvious method to add a scope to a search query"
Example scenario: I want to look up API documentation for, say, `Enumerable.FirstOrDefault()`.  I start off at docs.microsoft.com.  I use the search box at the top of the page and search for "FirstOrDefault", yielding 397 search results.  Limiting my search to just .NET would likely give better results, so I have to do the following:

1. Click the "Docs" link at the top to return to the docs.micro

[2018-08-07 02:41] Ten-Aus opened #586 "Typo in SCOM documentation"
There appears to be a typo here: https://docs.microsoft.com/en-us/system-center/scom/manage-console-standard-views?view=sc-om-1807

Under the Microsoft Audit collection Services (folder) subheading.

The word 'vew' is used twice which I believe should be view.

Regards,

Ten

[2018-08-07 02:47] nschonni opened #587 "Replace hardcoded en-us links with language neutral versions"
**Is your feature request related to a problem? Please describe.**
Because the language code is hard coded in many links (EX: https://github.com/search?q=org%3AMicrosoftDocs+docs.microsoft.com%2Fen-us%2F&unscoped_q=docs.microsoft.com%2Fen-us%2F) users don't get redirected to their localizations

**Describe the solution you'd like**
Do a simple find/replace of `https://docs.microsoft.com/en-us/` wi

[2018-08-07 05:57] hellosnow commented on #544
@surajmuthreja I transfer this issue to Azure swagger repo https://github.com/Azure/azure-rest-api-specs/issues/3594, hope some one from Azure team would have an answer there.

[2018-08-07 07:33] EdisonDa commented on #585
@presleyy assign this to you for this is the search related.

[2018-08-07 07:41] presleyy commented on #585
@sparkchaser if you are looking for .NET API documentation, we have an optimized search platform [.NET API browser](https://docs.microsoft.com/en-us/dotnet/api). That could help a lot on your scenario if you search by method/property name. The global site search scope applies to all conceptual documents and we are also doing improvements to make better search experience. But if you know you are lo

[2018-08-07 07:41] jakrams commented on #582
Well, something like this:

``
## Chapter 1

Jump to [chapter 2](#Chapter-2)

## Chapter 2
``

Here the fact that "Chapter-2" is not all lower-case will already make it break. Same if I had written the link as "chapter_2" or "chapter 2". I'm quite certain that even if I had used "asdf", the validation would not have complained about it.

[2018-08-07 07:44] jakrams commented on #582
My expectation is not necessarily that those links work, but that the validation that is run on my pull request will simply point out that the link is invalid.

If course this would be especially useful, if modifying a chapter name later on, would also point me to links that have become invalid because of that.

[2018-08-07 07:52] EdisonDa commented on #582
Thank you @jakrams for your detailed info and great information. I am adding @cillroy here for more investigation.

[2018-08-07 08:00] EdisonDa commented on #586
@sudeepku, do you know who is working on this?  I created a PR for this typo change, could you please review?

[2018-08-07 08:08] EdisonDa commented on #587
@ShevaDas is this your area?

[2018-08-07 08:30] Derpalus commented on #543
I noticed this earlier here: https://github.com/MicrosoftDocs/feedback/issues/493
Still not fixed one month later.

[2018-08-07 08:50] shooshx commented on #543
TBD: fix TBDs

[2018-08-07 18:00] dend commented on #587
This is great feedback. @EdisonDa I believe this is more of a content ask, and we need to make sure that we loop in content owners to address this. The locale requirement is clarified [here](https://docs.microsoft.com/en-us/contribute/how-to-write-links).

[2018-08-07 18:02] dend commented on #584
@EdisonDa this is related to App Service, therefore the correct owner here is @cephalin

[2018-08-07 21:56] dend commented on #581
#log-suggestion @dend

[2018-08-07 21:56] botcrane commented on #581
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=33900) logged.

[2018-08-07 21:58] dend commented on #579
@mairaw is the method available in the newer versions of .NET Framework?

[2018-08-07 22:03] mairaw commented on #579
It's inherited from the parent class in newer versions @dend

[2018-08-07 22:15] dend commented on #549
Following-up here - we are investigating the root cause of a tangential bug, that is preventing a content re-build right now.

[2018-08-07 22:29] nschonni opened #588 "Some image links contain machine generated title attributes"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
Originally posted [here](https://github.com/MicrosoftDocs/vsts-docs/issues/1439), but this seems to be a general onboarding & cleanup issue so I've copied it to this repo

**Problem:**
The importer appears to add/keep poor/automate

[2018-08-07 22:31] dend commented on #579
@mairaw actually, I see [this](https://docs.microsoft.com/en-us/dotnet/api/system.reflection.memberinfo.system-runtime-interopservices-_memberinfo-invoke?view=netframework-4.7.2#System_Reflection_MemberInfo_System_Runtime_InteropServices__MemberInfo_Invoke_System_UInt32_System_Guid__System_UInt32_System_Int16_System_IntPtr_System_IntPtr_System_IntPtr_System_IntPtr_) - the bug is likely to do with

[2018-08-07 22:34] dend commented on #527
@prasadu-microsoft Regarding search in the site search, this is covered by #50.

@svick we are tracking that request with #583.

@frevds closing this issue as the original issue was addressed. We are gradually moving content to docs.microsoft.com and have accidentally enabled redirects before the full content migration is complete. That is work in progress, and we will enable the redirects again o

[2018-08-07 22:34] #527 closed

[2018-08-07 22:35] dend commented on #524
The .NET API for Project Server is [available here](https://docs.microsoft.com/en-us/dotnet/api/microsoft.office.interop.msproject?view=office-project-server).

[2018-08-07 22:35] #524 closed

[2018-08-07 22:39] dend commented on #517
Following up with the engineers on the work - looks like some redirects were setup incorrectly.

[2018-08-07 22:42] dend commented on #588
@ShevaDas anything on the radar to use titles? If that's not the case, we should likely close this for now as I wouldn't expect many writers working in this area.

[2018-08-07 22:43] dend commented on #469
#log-suggestion @dend

[2018-08-07 22:43] botcrane commented on #469
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=33909) logged.

[2018-08-07 22:47] dend commented on #468
Tracked here https://github.com/mono/api-doc-tools/issues/260

[2018-08-07 22:50] joelmartinez commented on #513
@polarapfel ahh I see. Revamping the Mono API docs browser using the same open open source tools that power docs.microsoft.com is definitely on the roadmap.

Though I don’t have an exact ETA, it’s a big goal ... so stay tuned!

[2018-08-07 22:54] dend commented on #433
Hi folks, we've assessed this feature request and have determined that **we will not be able to address it at this time**.

Our documentation is generated entirely from binaries (shipped in DLLs and NuGet packages), therefore there is no direct link to the source code of the product that we can re-use for the purposes of including it in our documentation. More-so, we span different versions, so wh

[2018-08-07 22:59] dend commented on #579
This is duplicate of #347 and is tracked with the bug above, so closing this item 😄

[2018-08-07 22:59] dend commented on #347
[Tracking this work internally](https://ceapex.visualstudio.com/Engineering/_workitems/edit/31482).

[2018-08-07 23:03] dend commented on #404
Thanks for the feedback, @binki - the version switcher shows all versions for a product family, in this case - the .NET Platform. We have another bug tracking the showing of items in the table of contents (TOC) here - #347.

[2018-08-07 23:03] #404 closed

[2018-08-07 23:05] LindaLawton commented on #433
Thank you for your consideration.

[2018-08-07 23:24] anthonypants opened #589 "Missing words/phrases in SPN documentation"
Here are a few URLs where this issue is occurring:
https://docs.microsoft.com/en-us/windows/desktop/AD/name-formats-for-unique-spns
https://docs.microsoft.com/en-us/windows/desktop/AD/how-a-service-composes-its-spns
https://docs.microsoft.com/en-us/windows/desktop/AD/how-a-service-registers-its-spns
https://docs.microsoft.com/en-us/windows/desktop/AD/how-clients-compose-a-serviceampaposs-spn

A to

[2018-08-08 00:27] ShevaDas commented on #588
Nothing on the radar right now that will utilize image titles. Lightboxed images on Docs are "titled" with the alt text. I'm going to close this for now, but thanks for the keen eye, @nschonni!

[2018-08-08 00:27] #588 closed

[2018-08-08 00:54] nschonni commented on #588
OK, I think there is still probably a bug here for your importer scripts that will impact other repos onboarding, even if you're not going to cleanup the existing content.

[2018-08-08 01:27] dend commented on #315
Can confirm - the page example presented is an API page, therefore the search is API search. It's not quite a filter, because it doesn't just look at the table of contents (TOC) - it does an API index traversal to search for APIs that match the pattern entered.

[2018-08-08 01:27] #315 closed

[2018-08-08 01:29] presleyy commented on #419
With a recent fixing applied, I can search out "nvarchar" related articles at the Edge browser that I used to be able reproduce the bug there. @OzBob could you help verify the scenario in your environment? Thank you for reporting this bug and thank you in advance for helping double verify the fixing.

[2018-08-08 01:29] dend commented on #296
@EdisonDa thanks for the clarification, we should be able to close this issue now.

[2018-08-08 01:29] #296 closed

[2018-08-08 01:34] dend commented on #223
@joelmartinez tagging you here to see if you have any thoughts why in some cases interface "collapsing" happens, and in others it doesn't.

[2018-08-08 01:45] joelmartinez commented on #223
Mdoc (via mono.cecil) literally just read’s the assembly metadata ... so it lists whatever interfaces are explicitly listed by the metadata. Any collapsing is only incidental due to that implementation detail.

If we want to be explicit, mdoc would simply have to explicitly walk the interface implementation tree to list everything. Please open a GH issue for the enhancement if we want to go down t

[2018-08-08 01:59] dend commented on #82
Thanks for the feedback, @riverar - there is a significant amount of work that we would need to do to make the existing C/C++ content structured first before we could implement any rich search layer on top of that. At this time, we have no concrete plans to do so, therefore I am closing this issue as we don't expect a Win32 API Browser implemented in the near future.

[2018-08-08 01:59] #82 closed

[2018-08-08 01:59] OzBob commented on #419
On Edge and Chrome, OK.
On Private Edge and Private Chrome, OK.
On Private Firefox OK

Sorry

1. Open Firefox
2. https://docs.microsoft.com/en-us/search/index
3. Sign out (if already signedin)
4. https://docs.microsoft.com/en-us/search/index?search=nvarchar
5. Signin
6. Redirected to: https://docs.microsoft.com/api/auth/signout?replyUrl=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fsearch%2Findex%3Fs

[2018-08-08 02:00] dend commented on #85
Thank you for the feedback! At this time, we have no plans on implementing this functionality on docs.microsoft.com.

[2018-08-08 02:08] #85 closed

[2018-08-08 02:09] presleyy commented on #419
@OzBob thanks for the great details with steps. I have Firefox but somehow I can't reproduce it by the steps. Let me bring it to dev team for further investigation. We may need more help from you later. Thanks again!

[2018-08-08 04:02] dend commented on #153
Following-up here - we aim to publish the APIs for the package later this week.

[2018-08-08 09:32] martencassel commented on #462
How many Swedish developers love to read about content in their native Swedish tongue ? Do you know that ? At a previous role i used to joke with my collegues and used Microsoft translated concepts during different discussions and they didn't understand a thing.

[2018-08-08 10:14] cephalin commented on #584
@EdisonDa This is fixed now. Thank you for reporting. #please-close

[2018-08-08 15:35] tamirdresher commented on #114
+1

[2018-08-08 19:05] svick opened #590 "Long attribute is making API reference page too wide"
When I visit [the `AssemblyBuilder` page](https://docs.microsoft.com/en-us/dotnet/api/system.reflection.emit.assemblybuilder?view=netframework-4.7.2) in .Net API reference, the page is too wide to fit into my non-fullscreen browser window because of the `[System.Runtime.InteropServices.ClassInterface(System.Runtime.InteropServices.ClassInterfaceType.None)]` attribute:

![](https://user-images.gith

[2018-08-08 20:31] ShevaDas commented on #447
@DeanGross I agree this is confusing. Unfortunately, what goes in the PowerApps header is a choice made by the PowerApps team. I'll pass along your feedback to them but as this isn't something the Docs team controls I'm going to close this out for now. Thanks for taking the time to let us know!

[2018-08-08 20:31] #447 closed

[2018-08-08 20:51] ShevaDas commented on #147
@spatnaik Unfortunately, this isn't something we're able to fix. Docs (excepting the Azure documentation) uses a Microsoft-standard header that doesn't allow for this kind of customization. Sorry we can't be of more help—I'm going to close this out for now.

[2018-08-08 20:51] #147 closed

[2018-08-08 21:45] dend commented on #590
Thanks for the feedback, @svick - for longer attributes, this is a by-product of us not splitting them due to how they are structured. We'll take a look at how we can make this better.

[2018-08-08 22:09] mairaw commented on #582
I've already requested internally that we enable that kind of validation. We really need this!

[2018-08-08 22:28] gewarren commented on #534
@gregvanl This could be why you're not seeing verbatims. The box has been disappearing for 3 weeks, at least.

[2018-08-09 01:53] EdisonDa commented on #584
Thank you @dend and @cephalin. Please @tshaiman verify, thank you for your reporting. I am close the issue now.

[2018-08-09 01:53] #584 closed

[2018-08-09 01:57] EdisonDa commented on #586
My PR has been accepted, and the issue get fixed. Thank you @Ten-Aus for your reporting. I am closing the issue now.

[2018-08-09 01:57] #586 closed

[2018-08-09 02:26] mairaw commented on #582
Why is this assigned to me? I'm just a content author requesting this same feature.

[2018-08-09 03:07] ghuntley commented on #583
The scope of this request is _just_ system.reactive MSDN documentation.

[2018-08-09 06:28] johlju commented on #344
@SonjaSaltzman I would like to have seen, when clicking on the existing toggle for switching to English, a question "Do you always want to view pages in English?". Say yes to that will permanently change the pages to use 'en-US', or take you to a page where you can permanently change the language to your choice. One the user has permanently switched language that toggle could be changed to a link

[2018-08-09 09:10] presleyy commented on #419
Hey @OzBob we can't reproduce the bug using firebox by your steps here. Would you please clear the cookie and try it again? (from the steps, problem happens after sign-in/sign-out, might be due to the stale cookie). If you would still be able to reproduce the bug after clearing the cookie, could you help attach the screenshot of any error you see via the F12 tool and its network console? Thanks!

[2018-08-09 11:45] angelshrestha opened #591 "Incorrect result in example"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/sql/t-sql/functions/charindex-transact-sql?view=sql-server-2017

**Problem:**
Result for section E should be 11 and not 13
***************************************************************************

[2018-08-09 14:51] Giovasdf opened #592 "Links not showing right"
the links dont show correctly in this page https://docs.microsoft.com/es-es/dynamics365/customer-engagement/gamification/help-hub

[2018-08-09 15:33] SonjaSaltzman commented on #344
Hi @johlju thank you for the additional feedback. We have a PM assigned to solve this issue since there are several factors to take into consideration (some users prefer to see English only for machine-translated content, others never want to see English or always want to see English etc.). We will have to ask for some patience to come up with a solution that will address most if not all scenarios

[2018-08-09 16:42] VesaJuvonen commented on #517
We are aware of this issue and redirection has been now moved to get access to the old content. There are unfortunate delays in getting SP2013, SP2016, SP2019 and SP Online CSOM reference APIs to the new platform, but we are working on it.

[2018-08-09 17:40] ptilsen opened #593 "Autoruns version listed incorrectly"
**Link to article:**
https://docs.microsoft.com/en-us/sysinternals/downloads/autoruns

**Problem:**
Autoruns 13.90 is listed as the version, but the link is actually version 13.91.

[2018-08-09 17:43] svick commented on #590
I also noticed a similar problem on [the `ArraySegment<T>` page](https://docs.microsoft.com/en-us/dotnet/api/system.arraysegment-1?view=netframework-4.7.2), where it seems to be caused by the code in the Example. I think such code used to show a horizontal scrollbar before, but not anymore.

Is that actually related, or should I open a new issue about that?

[2018-08-09 18:35] rajbos opened #594 "Question: How can someone easily find the docs.microsoft.com link from a GitHug page?"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I am on the GitHub repo and cannot find the document on docs.microsoft.com. This happened again this week and even resulted in me opening an issue that wasn't really an [issue](https://github.com/MicrosoftDocs/azure-docs/issues/12769)

Somehow I find the GitHub repo first and then want to view it on docs.

[2018-08-09 20:09] mairaw commented on #579
Do you also have a duplicate label @dend? Easier to see when scanning issues.

[2018-08-09 23:30] chrullrich opened #595 ""In this article" list limited to window height"
**Describe the bug**
The "In this article" TOC does not scroll with the page. This is helpful for pages with few headings, but makes it useless in large parts on pages with many headings.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/cpp/mfc/reference/cwnd-class .
2. Click on the link for `CWnd::OnCreate` in the "In this article" column.
3. Let me hav

[2018-08-10 02:02] EdisonDa commented on #591
Thank you @angelshrestha for your reporting. Verified the index function return 11 on my side too. Creating the PR to update the doc.