[2019-05-25 19:15] newpost opened #1542 "What is the meaning of the 4 in the upper right corner of the icon?"
![image](https://user-images.githubusercontent.com/1679093/58373677-7ea96a80-7f64-11e9-9cac-4938931cf8a6.png)

[2019-05-26 08:17] chuacw opened #1543 "GetEnvironmentStrings is pointing to the wrong content"
**Describe the bug**
On this page, https://docs.microsoft.com/en-us/windows/desktop/procthread/environment-variables the link for GetEnvironmentStrings is not pointing to a description of GetEnvironmentStrings.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/windows/desktop/procthread/environment-variables
2. Click on 'GetEnvironmentStrings' (which link

[2019-05-26 11:26] harlecin opened #1544 "Wrong link in REST operation groups table"
Wrong link in table

Go to:
https://docs.microsoft.com/en-us/rest/api/containerregistry/

In table 'REST operation groups':

- 'Runs' and 'Tasks' both link to 'Runs'

[2019-05-26 16:42] knbz opened #1545 "koren"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-05-26 16:48] Devolick opened #1546 "Microsoft Docs Epub format"
Hello,
My suggest is very simple, please add to docs download format Epub, not only pdf. Thank you.

[2019-05-26 20:18] Fleex255 opened #1547 "Deprecation of the File History API"
**Link to article:**
[File History API](https://docs.microsoft.com/en-us/windows/desktop/devnotes/file-history-api) and all functions and interfaces in that section

**Problem:**
In the Windows 10 build 17134 (and possibly earlier) SDK, `FhCfg.h` has marked all File History COM interfaces `#pragma deprecated`. `FhSvcCtl.h` has notes like these on all File History service functions:

    __declspec

[2019-05-27 01:46] anthonynz opened #1548 "Dead links"
https://docs.microsoft.com/en-us/previous-versions/dn785092(v=msdn.10)#watch-videos

Contains links that no longer exists :(

[2019-05-27 01:51] anthonynz commented on #1548
Master site link - http://microsoft.com/pth
Redirects to https://docs.microsoft.com/en-us/previous-versions/dn785092(v=msdn.10)

[2019-05-27 03:28] thomasdgillis commented on #1384
I am having a similar issue, consolidating my school email account into my personal email account. I see that this is still open. Is there an update?

[2019-05-27 06:27] porwalsaurabh opened #1549 "User with access right Member & Contributor is not getting added in Power BI Workspace V2 using REST API"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
Tell us where exactly a problem occurs.
Article - Add User To group in Power BI
Link - https://docs.microsoft.com/en-gb/rest/api/power-bi/groups/addgroupuser#groupuseraccessright

**Problem:**
What's wrong with the article?
A User

[2019-05-27 07:56] miktuo opened #1550 "dead links"
Build a containerized web application with Docker -pages has dead links:
for example: https://docs.microsoft.com/en-us/Azure/containers/1-introduction

[2019-05-27 19:28] CeciAc commented on #1413
Hello, @Paul-LUMBALA
 
Thank you for your feedback.
 
Our linguistic team reviewed your linguist suggestions and accepted them. We implemented your feedback and published to the updated articles on the Docs site to the following pages https://docs.microsoft.com/fr-fr/contribute/

We truly appreciate your contribution to our articles and we encourage you to continue providing your valuable feedback

[2019-05-27 19:28] #1413 closed

[2019-05-27 21:21] benktesh opened #1551 "Incorrect IP in the instruction"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
Tell us where exactly a problem occurs.
https://docs.microsoft.com/en-us/learn/modules/manage-virtual-machines-with-azure-cli/8-installing-software

At: Retrieve our default page
In Azure Cloud Shell, use curl to read the default p

[2019-05-28 04:10] ryanmajidi commented on #1547
@drewbatgit Can you please take a look at his?

[2019-05-28 04:14] #1545 closed

[2019-05-28 04:20] ryanmajidi commented on #1543
@drewbatgit Can you please take a look at this?

[2019-05-28 04:21] ryanmajidi commented on #1542
@newpost What page is this from?

[2019-05-28 04:26] ryanmajidi commented on #1541
@saldana can you please take a look at this issue?

[2019-05-28 04:29] ryanmajidi commented on #1539
@sudeepku can you take a look at this issue?

[2019-05-28 05:26] newpost commented on #1542
when create asp.net mvc project in visual studio 2017.

[2019-05-28 06:21] Karl-WE opened #1552 "Windows Setup.exe command-line options priority high"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
Tell us where exactly a problem occurs.

**Problem:**
What's wrong with the article?

[2019-05-28 06:26] Karl-WE opened #1553 "1903 patch release notes are missing (any language)"
**🛑 IMPORTANT**: this page has no comment section
Would be great to have for reporting patch related issues when official reference is given

**Link to article:**
https://support.microsoft.com/en-us/help/4099479/windows-10-update-history

**Problem:**
The update history is missing 1903 18362.x patch notes as it is officially out of insider now.
I've checked de-de / en-us.

[2019-05-28 07:25] rickyManalo opened #1554 "Layout is very confusing"
Could make the https://social.technet.microsoft.com/Forums/ a little less confusing to use. Making the accepted answer appear immediately after the question doesn't help because I don't have the context of why the guy who posted the accepted is saying what he/she is saying on that answer. This [question](https://social.technet.microsoft.com/Forums/ie/en-US/fd157621-8a55-436a-8578-6cac69bc5504/crea

[2019-05-28 08:03] DustinTroxel opened #1555 "Dead link - Help in SSPR portal"
When you go to the Self Service Password Reset portal (short link https://aka.ms/sspr or https://aka.ms/ssprsetup), click on the '?' in the above right corner and click on help, you are redirected to a page that results in a 404.

I'm hailing from the Netherlands, so the URL I get directed to is: "https://docs.microsoft.com/nl-nl/azure/active-directory/user-help/myapps-portal-end-user-troubleshoot

[2019-05-28 14:21] hallazzang opened #1556 "wrong link"
**Link to article:** https://docs.microsoft.com/en-us/windows/desktop/debug/pe-format#coff-file-header-object-and-image

**Problem:** For the field `Characteristics`, link for Characteristics in description points wrong location to [DLL Characteristics](https://docs.microsoft.com/en-us/windows/desktop/debug/pe-format#dll-characteristics), not [Characteristics](https://docs.microsoft.com/en-us/wind

[2019-05-28 15:26] David1119 opened #1557 "Need Microsoft Graph Python Sdk"
Need Microsoft Graph Python Sdk~~

[2019-05-28 16:54] drewbatgit commented on #1495
Thanks for reporting this issue. The text has been fixed.

[2019-05-28 16:58] adrianlaraperez88 opened #1558 "Problem upload file for Post in LinkedIn V2 API"
Problem upload file for Post in LinkedIn V2 API

![Capture](https://user-images.githubusercontent.com/19626181/58496597-92192900-8150-11e9-9a3b-18209a803296.PNG)

My function:
`function registerUpload($organization_id,$type='learning-image',$relationshipType='OWNER',$is_person=false){
		$request = array( 'json' => array('registerUploadRequest' => [
																		'owner' => $is_person ? 'urn:li

[2019-05-28 16:59] drewbatgit commented on #1505
This issue has been fixed. Note that the URL of this API has changed to: https://docs.microsoft.com/zh-cn/windows/desktop/api/accctrl/ne-accctrl-se_object_type (the underscore between "ne_accctrl-" and "se_object_type" has been removed).

[2019-05-28 17:12] saldana commented on #1541
@Trebly thanks a lot for reporting the bug. Unfortunately, this bug does not meet the bar for us to fix it in the forums today. So I am closing this issue. Thanks.

[2019-05-28 17:12] #1541 closed

[2019-05-28 17:38] guntaled commented on #1532
I noticed the same and can provide C# code that proves the issue.

I also noticed that Databricks mark this as "known issue":
![image](https://user-images.githubusercontent.com/18587994/58499291-b109c200-8134-11e9-87f9-ce8891abd467.png)
(https://docs.databricks.com/spark/latest/data-sources/azure/azure-datalake-gen2.html)

[2019-05-28 18:25] rphilipak opened #1559 "HPC Documentation"

[2019-05-28 18:28] rphilipak opened #1560 "HPC Documentation is horrid"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
all HPC PACK 2016 documentation.

**Problem:**
Every single piece of documentation is crap.  Its obvious that it's generated from code and not one single person cares enough to actually take the time to make the documentation usefu

[2019-05-28 18:38] w1mm3r commented on #1384
Well I logged on with my work account and deleted the tech account associated.
go to https://techprofile.microsoft.com/en-us/edit
and delete account

[2019-05-28 20:48] EliotSeattle commented on #1533
@MSDN-WhiteKnight submitted PR #500 for this issue, which was accepted and merged this morning.
Thanks!!!
This issue can be closed as fixed.

[2019-05-28 21:01] ryanmajidi commented on #1559
Duplicate of #1560. Closing

[2019-05-28 21:01] #1559 closed

[2019-05-28 21:10] kenvanm opened #1561 "MaskedTextBox InsertKeyMode"
My application needed a text box with user entry restricted to OverType mode.  I created a MaskedTextBox with the InsertKeyMode set to Overwrite.
This did not work -- any user entry operated in Insert mode.  The keyboard Insert key also had no effect.  It appears that entry into a MaskedTextBox is always in Insert mode.
The problem can be reproduced by creating a C# forms application with the foll

[2019-05-28 21:16] ryanmajidi commented on #1554
@saldana Can you please take a look at this?

[2019-05-28 21:20] ryanmajidi commented on #1552
@Karl-WE Can you elaborate on this issue? Are you still having this problem?

[2019-05-28 22:46] sudeepku commented on #1550
@miktuo thanks for reporting this issue. Could you provide link to the topic where you are seeing the broken link

[2019-05-28 22:50] ryanmajidi commented on #1549
@eligr Can you please take a look at this?

[2019-05-28 22:51] ryanmajidi commented on #1551
@sadadow Can you please take a look at this?

[2019-05-28 22:55] sudeepku commented on #1546
Hi @Devolick thanks for the feedback.  We are adding your suggestion to our product backlog.

[2019-05-28 22:55] sudeepku commented on #1546
#log-suggestion

[2019-05-28 23:12] ryanmajidi commented on #1555
Hi @DustinTroxel, thank you for bringing this to our attention. While we work on fixing this, the correct link is https://docs.microsoft.com/en-us/azure/active-directory/user-help/my-apps-portal-end-user-troubleshoot

[2019-05-28 23:14] #1555 closed

[2019-05-29 03:49] benktesh commented on #1515
I also experienced this issue (as of this morning), appears it is resolved now.

[2019-05-29 04:24] ryanmajidi commented on #1560
@rphilipak Do you have any specific examples of issues with the current documentation? Are you referring to the reference topics?

@dlepow Can you take a look at the issue of HPC pack 2012 redirecting to 2016?

[2019-05-29 04:30] ryanmajidi commented on #1561
@mairaw Can you please take a look at this issue?

[2019-05-29 04:33] ryanmajidi commented on #1558
@tonyxu-io Can you take a look at this issue?

[2019-05-29 06:01] ryanmajidi commented on #1557
[Here is the python sdk](https://github.com/microsoftarchive/msgraph-sdk-python). Please note this this is no longer supported. We recommend using [the REST API](https://docs.microsoft.com/en-us/graph/use-the-api).

[2019-05-29 06:01] #1557 closed

[2019-05-29 06:03] ryanmajidi commented on #1556
@drewbatgit Can you please take a look at this issue?

[2019-05-29 06:05] ryanmajidi commented on #1544
@mmacy Can you please take a look at this issue?

[2019-05-29 06:14] ryanmajidi commented on #1538
@zhenyufu Thank you for bringing this to our attention. It looks like the link in the article has been fixed. Here is the correct link:
https://docs.microsoft.com/en-us/rest/api/cognitiveservices-bingsearch/bing-spell-check-api-v7-reference

Please reopen this issue if you are still having issues.

[2019-05-29 06:14] #1538 closed

[2019-05-29 06:15] eligr commented on #1549
Hi Saurabh!
As the note at the top of the page says, only Admin access right is supported.

We have support of other permissions on our backlog, will release them in about a month.

Eli.

[2019-05-29 06:20] ryanmajidi commented on #1532
@rloutlaw can you please take a loot at this issue?

[2019-05-29 06:47] ryanmajidi commented on #1531
@MSDN-WhiteKnight after every change to a branch in a PR the content needs to be rebuilt. This is why you get a notification every time. Are the subsequent commits relevant to the original PR? If not, one solution is to create a branch specific to the PR. Localized repos are built.

@Khairunj Do you know what the criteria is for a branch being filtered?

[2019-05-29 06:54] miktuo commented on #1550
It was all the subpages in this address:

https://docs.microsoft.com/en-us/learn/paths/administer-containers-in-azure/

But, now they seem to be fixed, they were giving error about week in time before today.

From: Sudeep Kumar <notifications@github.com>
Sent: keskiviikko 29. toukokuuta 2019 1:47
To: MicrosoftDocs/feedback <feedback@noreply.github.com>
Cc: Mikko Tuomela <mikko.tuomela@magicad.com>

[2019-05-29 09:10] cremor opened #1562 "Bulleted list items are not shown in remarks of Recipient.Type property"
**Link to article:**
https://docs.microsoft.com/en-us/dotnet/api/microsoft.office.interop.outlook.recipient.type?view=outlook-pia#Microsoft_Office_Interop_Outlook_Recipient_Type

**Problem:**
The list items in the bulleted list are not visible. They are already missing in the HTML source code of the page (there are just empty `<li>` tags).

[2019-05-29 11:33] KalyanChanumolu-MSFT opened #1563 "ResourceType format not consistent across APIs"
**Describe the bug**
The Providers.GetByName() API returns a ResourceType value that is not consistent with the formats returned by
ResourceId.FromString(resourceId).FullResourceType
ResourceId.FromString(resourceId).ResourceType
ResourceUtils.ResourceTypeFromResourceId(resourceId)

Please refer the screenshot below

**To Reproduce**
Code to reproduce the issue
[code]

**Expected behavior**
For th

[2019-05-29 11:36] #1563 closed

[2019-05-29 11:37] KalyanChanumolu-MSFT commented on #1563
Creating the same in [https://github.com/Azure/azure-libraries-for-net/issues/683](url)

[2019-05-29 15:18] tmccoy14 opened #1564 "Python API addition -- Automation"
As I am creating an ingestion application using the python sdk, I couldn't find a reference for Automation. I was able to use it for the golang sdk and .net sdk. I could be wrong and just not being able to find it. Thank you!

[2019-05-29 16:38] drewbatgit commented on #1534
Thanks for reporting this issue. The formatting has been fixed.

[2019-05-29 18:11] wesinator commented on #1507
Other problems

**Link to article:**
https://docs.microsoft.com/en-us/security-updates/securitybulletins/2017/ms17-010#affected-software-and-vulnerability-severity-ratings

**Problem:**
The table headers are not formatted correctly as bolded , compare to https://docs.microsoft.com/en-us/security-updates/securitybulletins/2012/ms12-083

Also, on https://docs.microsoft.com/en-us/security-updates/sec

[2019-05-29 18:40] tonyxu-io commented on #1558
@chrisou Can you take a look at this issue?

[2019-05-29 20:13] drewbatgit commented on #1556
Thanks for reporting this issue. The link has been fixed.

[2019-05-29 20:33] sevim753 commented on #1564
sevimgokkaya-9141

[2019-05-29 20:54] mmacy commented on #1544
@ryanmajidi Fix is merge, should be live by this afternoon or tomorrow morning at the latest.

@harlecin Thanks for catching and notifying us on this, Christoph! 🥇

[2019-05-30 03:27] hallazzang commented on #1556
@drewbatgit I'll close this issue, thank you.

[2019-05-30 03:27] #1556 closed

[2019-05-30 05:00] ryanmajidi commented on #1564
@tmccoy14 Which python sdk are you working with?

[2019-05-30 08:16] xinpingOnly commented on #930
hehe

[2019-05-30 11:43] Karl-WE commented on #1553
this one is fixed for en-us
https://support.microsoft.com/en-us/help/4099479/windows-10-update-history

de-de still missing 1903 history
https://support.microsoft.com/de-de/help/4099479/windows-10-update-history

[2019-05-30 11:49] Karl-WE commented on #1552
Ho @ryanmajidi I've created this on my mobile but now I see that all additional information and links are missing in the posting.  I am sorry for this.

**affected article:**
https://docs.microsoft.com/en-us/windows-hardware/manufacture/desktop/windows-setup-command-line-options

**documented command line option:**
/Priority Normal | Tells Windows Setup to increase the thread priority from low to

[2019-05-30 15:01] tristanlbailey opened #1565 "Themes don't remain consistent across subdomains"
After selecting a particular theme to be used, and then changing between Microsoft subdomains that make use of the theme setting, the selected theme fails to carry over to the other subdomain(s).

e.g.:

1. Change a theme setting while viewing a docs.microsoft.com page
2. Change over to the techprofile.microsoft.com subdomain
 (If you are logged into an MS account, you could use Account > Profile

[2019-05-30 15:39] DeanGross opened #1566 "Unable to provide page feeback"
**Describe the bug**
In the Streams section at https://docs.microsoft.com/en-us/stream/, none of the pages have the Provide Page Feedback button that I see on many other sections of the site.

**To Reproduce**
Go to any page in the Streams section and look for the feedback buttons, they are missing

**Expected behavior**
I expect to be able to provide feedback to the page authors

**Screenshots**

[2019-05-30 15:55] craigg-msft commented on #662
@Powerhelmsman please close

[2019-05-30 16:18] #662 closed

[2019-05-30 17:38] ryanmajidi commented on #1564
@rloutlaw Can you take a look at this issue?

[2019-05-30 17:39] ryanmajidi commented on #1537
@rloutlaw Can you please take a look at this issue?

[2019-05-30 17:41] ryanmajidi commented on #1562
@dend Can you please take a look at this issue?

[2019-05-30 17:42] ryanmajidi commented on #1553
@GrantMeStrength Can you please take a look at this issue?

[2019-05-30 18:38] oeman opened #1567 "'<' and '>' should be '&lt;' and '&gt;'"
Less than and greater than signs are not correctly escaped, resulting in text not being displayed correctly.

Steps to reproduce the behavior:

1. Go to https://docs.microsoft.com/en-us/windows/desktop/ad/how-a-service-registers-its-spns
2. Search in page for "/".
3. Both current instances are incorrect.  They should be "<service class>"/"<host>".
4. Search in page for "".
5. The single instance s

[2019-05-30 18:44] dlepow commented on #1560
@rphilipak - Thanks for getting in touch with us. It sounds like your are trying to reach previously published HPC Pack content in the MSDN Library, which now redirects to HPC Pack 2016 documentation on docs.microsoft.com. You don't mention what guidance you were trying to reach. Was it API reference content, conceptual docs, how-to guides? That will help us understand where we might have a gap in

[2019-05-30 19:16] coreygo opened #1568 "Azure sandbox activity links to site with password length limitations"
**Describe the bug**
The password length for `invitations.microsoft.com` is too low. The site also displays a disclaimer suggesting it is not controlled by microsoft.com despite it being a Microsoft sub-domain.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [Create a virtual machine](https://docs.microsoft.com/en-us/learn/modules/welcome-to-azure/4-create-a-vm?pivots=windows-cloud)
2.

[2019-05-30 21:43] saldana commented on #1554
@rickyManalo I really appreciate your input. At this point we are not investing in changing the UI for the current forums. While we understand that having the answer on top next to the answer, I also see that Stack Overflow is doing the same and that is very common on a Q&A/forums platform. You can always scroll down to see the answers in context.

I understand you like better Stack Overflow UI th

[2019-05-30 21:43] #1554 closed

[2019-05-30 21:51] GrantMeStrength commented on #1335
Unfortunately we can't put a link to everything we would like to on the front page. We do however have plans to update the home page AND add more details on using WSL in specific scenarios in the very near future. The good news is that there is a shortcut you can use in the meantime: aka.ms/wsl

[2019-05-30 23:28] SamuelEnglard commented on #1335
While I get the space limits, there should be some kind of directory or list of all "top level" content.

Also, that link goes to the uservoice page, not docs

[2019-05-31 01:03] chrisou commented on #1558
@adrianlaraperez88 the request body format you're providing does not match what we have documented here: https://docs.microsoft.com/en-us/linkedin/consumer/integrations/self-serve/share-on-linkedin?context=linkedin/consumer/context#create-a-text-share

[2019-05-31 01:08] snadendl commented on #1540
Hello naoto-ogawa, your observation seems correct. We will verify this and update the specification.

[2019-05-31 06:32] ryanmajidi commented on #1486
@GrantMeStrength Can you please take a look at this issue?

[2019-05-31 06:35] ryanmajidi commented on #1489
@GrantMeStrength Can you please take a look at this issue?

[2019-05-31 06:36] ryanmajidi commented on #1492
@GrantMeStrength Can you please take a look at this?

[2019-05-31 06:54] h-sadeghpour opened #1569 "TechNet Forum Language Support [ Azerbaijani ]"
**Is your feature request related to a problem? Please describe.**
It is really hard to a country experts whom using Microsoft products and they cannot have support in their own language, also have forum to discussions in TechNet.

**Describe the solution you'd like**
Having a separate forum like other countries forum would be geart for Azerbaijani language speaking Microsoft products fans. I'm MC

[2019-05-31 08:27] rickyManalo commented on #1554
Hi,

Not investing on the UI change huh. At least, SO doesn't display multiple
copies of the single accepted answer unlike the way you are currently
emphasizing the multiple accepted answers in your website. And no one is
even using the point increment/decrement thing on your page. That was the
only way you can punish those very needy people who just want the whole
code without even showing or tel

[2019-05-31 09:22] 0giso opened #1570 "Source code font was changed from consolas to MS Gothic in ja-jp."
**Describe the bug**
I feel consolas is nice for code block, but font was changed from consolas to MS Gothic a few days ago.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/ja-jp/aspnet/core/tutorials/first-mvc-app/details?view=aspnetcore-2.2
2. Click on '英語で読む' then article will be changed from Japanese to English and C# code block's font will be changed fro

[2019-05-31 10:42] MSDN-WhiteKnight opened #1571 "Extension Methods section title not localized in .NET API Browser"
**Describe the bug**
Extension Methods section title is not translated in .NET API Browser in localized documentation

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/ru-ru/dotnet/api/system.array?view=netcore-3.0#extension-methods
2. See that "Extension Methods" is shown in english

**Expected behavior**
Extension Methods section title should be translated.

[2019-05-31 14:35] hallazzang opened #1572 "typo in content"
**Link to article:** https://docs.microsoft.com/en-us/windows/desktop/debug/pe-format#resource-directory-entries

**Problem:** In the end of paragraph, there is a typo 'IMAGE_DIRECTORY_ENTRY_RESOURCE', which I think 'IMAGE_RESOURCE_DIRECTORY_ENTRY' is right.

[2019-05-31 14:42] porwalsaurabh commented on #1549
Thank you for your response! Awaiting for the same.

Thanks & Regards,
Saurabh Porwal

On Wed 29 May, 2019, 11:45 AM Eli Greenwald, <notifications@github.com>
wrote:

[2019-05-31 16:34] dlepow commented on #1560
@rphilipak - Just to add: There is [archived content](https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/hpc-server-2012-R2-and-2012/jj899572(v%3dws.11)) available for HPC Pack 2012/2012 R2. This content is not regularly maintained but may be what you are looking for?

[2019-05-31 17:36] ryanmajidi commented on #1496
@saldana Can you take a look at this issue?

[2019-05-31 17:38] ryanmajidi commented on #1572
@GrantMeStrength Can you please take a look at this issue?

[2019-05-31 17:39] ryanmajidi commented on #1498
@shirgoldbird Can you please take a look at this issue?

[2019-05-31 18:23] SMerrill8 opened #1573 "Chart Chart Chart Class is in triplicate"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/dotnet/api/system.web.helpers.chart?view=aspnet-webpages-3.2

**Problem:**
The content is displayed in triplicate.

[2019-05-31 18:34] stevewhims commented on #1512
Hi, @schittli, thanks for filing this GitHub issue; and my apologies for the issues themselves and my delay in responding. I'll describe the steps I've taken so far to address the issues, and the question that remains.

First, I update the conceptual topic [Enable and control DWM composition](https://docs.microsoft.com/windows/desktop/dwm/composition-ovw) to make it clear what the relationship is

[2019-05-31 18:57] rphilipak commented on #1560
Yes, the archived content is usable, but I don’t understand why it isn’t “rolled forward” for HPC 2016?  Many concepts should have stayed the same, therefore the associated documentation should have remained fairly relevant.  I get that the move towards a more cloud centric solution would invalidate some concepts but the majority would still have been usable.

To make matters worse, most searches

[2019-05-31 21:14] nschonni commented on #834
Looks like a duplicate of #733, but that's not resolved either

[2019-05-31 21:14] nschonni commented on #787
TLooks like a duplicate of #733, but that's not resolved either

[2019-05-31 22:57] 0giso commented on #1570
I was able to change the font in the settings of other browsers (Chrome, Edge Insider).

[2019-05-31 22:57] #1570 closed

[2019-06-01 13:55] ToMakeSense opened #1574 "Garbled texts and break link in PowerShell Module Browser"
#### Link to article:
A few garbled texts in below three links:
* [Windows 10 and Windows Server 2016 PowerShell Module Reference](https://docs.microsoft.com/en-us/powershell/module/?view=win10-ps)
* [Windows 8.1 and Windows Server 2012 R2 PowerShell Module Reference](https://docs.microsoft.com/en-us/powershell/module/?view=winserver2012r2-ps)
* [Windows 8 and Windows Server 2012 PowerShell Module

[2019-06-02 03:26] 0giso opened #1575 "Code block's font is not set for ja-jp"
**Describe the bug**
Code block's font is not set for ja-jp. Which font is used depends on the browser.

**To Reproduce**
1. Go to https://docs.microsoft.com/ja-jp/aspnet/core/tutorials/first-mvc-app/details?view=aspnetcore-2.2. (Any pages under https://docs.microsoft.com/ja-jp/ can reproduce.)
2. See code block. Font depends on the browser. (Chrome, Edge, IE).

**Expected behavior**
Use fonts sim

[2019-06-03 01:57] nnpcYvIVl opened #1576 "terminal-services-shortcut-keys **Missing keys: **"
**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/termserv/terminal-services-shortcut-keys

**Problem:**
The article starts with these two lines which are confusing.
[code]
The list of shortcut keys should follow the first line and the `**Missing keys: **` section should be moved down to the bottom. The title `Missing keys` should also be rewritten to be more clear e.g. `What t

[2019-06-03 06:47] ryanmajidi commented on #1574
@rloutlaw Can you please take a look at this issue?

[2019-06-03 06:50] ryanmajidi commented on #1573
@rloutlaw Can you please take a look at this issue?

[2019-06-03 06:51] ryanmajidi commented on #1571
@SonjaSaltzman Can you please take a look at this issue?

[2019-06-03 06:53] ryanmajidi commented on #1569
@saldana Can you please take a look at this issue?

[2019-06-03 06:56] ryanmajidi commented on #1567
@GrantMeStrength Can you please take a look at this issue?

[2019-06-03 08:56] ESSONIA opened #1577 "Simple bug in Direct2D tutorial that make the demo application crash at runtime."
https://docs.microsoft.com/en-us/windows/desktop/direct2d/direct2d-quickstart

**Describe the bug**
A wrong API call that casting pointer-type(8 bytes) to long(4 bytes).
Bug at SetWindowLongPtrW() in DemoApp::WndProc(...) at <Part 4: Render Direct2D Content>

        if (message == WM_CREATE)
        {
            LPCREATESTRUCT pcs = (LPCREATESTRUCT)lParam;
            DemoApp *pDemoApp = (DemoAp

[2019-06-03 11:28] dev-pete opened #1578 "Link to PCSC Workgroup is broken"
**Link to article:**
https://docs.microsoft.com/en-us/windows-hardware/test/hlk/testref/smart-card-reader-testing-prerequisites

**Problem:**
The link to PCSC Workgroup (This card set can be purchased from the [PC/SC website](https://go.microsoft.com/fwlink/?LinkId=228902).) is broken. To get started with WHQL certification for smart card reader driver, the PCSC test cards are needed. But when the

[2019-06-03 13:27] ygoe opened #1579 "CookieAuthenticationEvents.RedirectToAccessDenied"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

The comment section does not exist anymore! ☹

**Link to article:**

https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.authentication.cookies.cookieauthenticationevents.redirecttoaccessdenied?view=aspnetcore-2.2

**Problem:**

There is n

[2019-06-03 15:24] SonjaSaltzman commented on #1575
@DavidPrio cc: @JasonCard

[2019-06-03 15:24] SonjaSaltzman commented on #1571
@DavidPrio cc: @JasonCard

[2019-06-03 16:01] rloutlaw commented on #1573
@SMerrill8 When you say "in triplicate" - do you mean in the table of contents or in the content linked above itself?

[2019-06-03 16:14] saldana commented on #1569
@h-sadeghpour we thank you for your feedback. I agree with you that not having a forum in a language makes difficult for people to ask and follow questions in English. We do not have any immediate plans to open a forum for Azerbaijani at this moment. We are adding this to our backlog to consider it for the future. Thank you!

[2019-06-03 16:14] #1569 closed

[2019-06-03 16:17] saldana commented on #1554
Thank you @rickyManalo while we do not have immediate plans to update the UI, we are considering your feedback for the future. I appreciate you taking the time to let us know your experience and recommendation.

Best,
Sandra

[2019-06-03 16:24] SMerrill8 commented on #1573
It looks ok now on my iPhone right now, but on the day of posting, when I browsed from Chrome on Win 10, every link on the page appeared three times.

Chart Chart Chart Class

Namespace: System.Web.Helpers System.Web.Helpers System.Web.Helpers

It was hard to read!

~ Shaun Merrill
Cell: (360) 731-5329

[2019-06-03 17:43] ryanmajidi commented on #1565
@jialge Can you please take a look at this?

[2019-06-03 17:43] ryanmajidi commented on #1568
@sadadow Can you please take a look at this issue?

[2019-06-03 18:21] CeciAc commented on #1571
Hello, @MSDN-WhiteKnight

Your feedback is much appreciated.
Since your comments are specific to the localization of the documentation, we have moved this issue to the corresponding localization repository and we will close this one.

Please review the status of this issue here https://github.com/dotnet/dotnet-api-docs.ru-ru/issues/25

Kind regards,
Microsoft DOCS International Team

[2019-06-03 18:21] #1571 closed

[2019-06-03 18:52] ryanmajidi commented on #1579
@rloutlaw Can you please take a look at this issue?

[2019-06-03 18:53] ryanmajidi commented on #1578
@GrantMeStrength Can you please take a look at this?

[2019-06-03 19:04] rloutlaw commented on #1579
This is an issue with the .NET reference content, and not an issue with the pipeline generating the content. @BillWagner do you want me to create a linked issue on the dotnet/docs repo for this?

[2019-06-03 19:05] ryanmajidi commented on #1577
@GrantMeStrength Can you please take a look at this issue?

[2019-06-03 19:19] ryanmajidi commented on #1548
@anthonynz Thank you for bringing this to our attention. This is a very old archive topic. Unfortunately those videos are no longer available. We are removing them from this page.

[2019-06-03 19:19] #1548 closed

[2019-06-03 19:19] ryanmajidi commented on #1530
@rloutlaw Can you please take a look at this issue?

[2019-06-03 19:22] ryanmajidi commented on #1528
@Rick-Anderson Can you please take a look at this issue?

[2019-06-03 19:23] ryanmajidi commented on #1516
@rloutlaw Can you please take a look at this issue?

[2019-06-03 19:24] rloutlaw commented on #1530
This was a problem last week in the content but we've fixed it on the live site now.

[2019-06-03 19:25] ryanmajidi commented on #1515
@sadadow Can you please take a look at this issue?

[2019-06-03 19:26] ryanmajidi commented on #1514
@GrantMeStrength can you please take a look at this issue?

[2019-06-03 19:26] ezfepo commented on #1515
Hello everyone.
It is working now, at least I am able to.

Thanks

[2019-06-03 19:29] #1515 closed

[2019-06-03 19:31] ryanmajidi commented on #1511
@doudousha This issue seems resolved. Please open a new bug if this is persisting for you.

[2019-06-03 19:31] #1511 closed

[2019-06-03 19:33] rloutlaw commented on #1516
Cosmos DB REST reference content for the service is not generated from the API specifications-they are authored content. @SnehaGunda can you review?

[2019-06-03 19:33] ryanmajidi commented on #1510
@rloutlaw Can you please take a look at this issue?

[2019-06-03 19:34] ryanmajidi commented on #1508
@rloutlaw Can you please take a look at this issue?

[2019-06-03 19:41] Rick-Anderson commented on #1528
Correct. The download is no longer available. We state before the article:
 We're no longer updating this content regularly

[2019-06-03 19:51] rloutlaw commented on #1508
@ryanmajidi This needs to be assigned to the SQL docs team, who manages their reference docs.

[2019-06-03 21:18] ryanmajidi commented on #1508
Moving this to the [sql docs repo issue 2248](https://github.com/MicrosoftDocs/sql-docs/issues/2248)

[2019-06-03 21:18] #1508 closed

[2019-06-03 21:21] ryanmajidi commented on #1530
Closing this issue then.

@themetaschemer If this persists for you please open a new issue.

[2019-06-03 21:21] #1530 closed

[2019-06-03 21:27] ryanmajidi commented on #1574
Moved issue to [powershell repo](https://github.com/MicrosoftDocs/windows-powershell-docs/issues/1100)

[2019-06-03 21:27] #1574 closed

[2019-06-03 21:32] ryanmajidi commented on #1467
Closing this issue.

@poldata Please open a new issue if this persists.

[2019-06-03 21:32] #1467 closed

[2019-06-03 21:35] ryanmajidi commented on #1468
I can't reproduce this issue.

@Loves2Code if this still persists please open a new issue.

[2019-06-03 21:35] #1468 closed

[2019-06-03 21:37] ryanmajidi commented on #1469
@dend Can you take a look at this issue?

[2019-06-03 21:41] ryanmajidi commented on #1474
@GrantMeStrength Can you please take a look at this issue?

[2019-06-03 21:47] ryanmajidi commented on #1479
@GrantMeStrength Can you please take a look at this issue?

[2019-06-03 21:49] ryanmajidi commented on #1481
@GrantMeStrength Can you please take a look at this issue?

[2019-06-03 21:50] ryanmajidi commented on #1482
@GrantMeStrength Can you please take a look at this issue?

[2019-06-03 22:29] ryanmajidi commented on #1485
@GrantMeStrength Can you please take a look at this issue?

[2019-06-03 22:41] Rick-Anderson commented on #1575
From @0giso in [this comment](https://github.com/aspnet/AspNetCore.Docs.ja-jp/issues/241#issuecomment-498447382)
@Rick-Anderson @CeciAc Yes, followings are other examples which has same issue.
https://docs.microsoft.com/ja-jp/dotnet/csharp/tour-of-csharp/program-structure
https://docs.microsoft.com/ja-jp/azure/azure-functions/functions-dotnet-dependency-injection

[2019-06-03 22:42] ryanmajidi commented on #1491
@champagnie @Krishaug Could either of you please take a look at this issue?

[2019-06-03 22:53] rbeesley opened #1580 "UI Automation Error Codes incomplete and invalid for HResults shown"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/WinAuto/uiauto-error-codes

**Problem:**
UIA_E_TIMEOUT has the HResult shown of 0x, it should be 0x80131505 as it is the same as COR_E_TIMEOUT, seen in this blog: https://blogs.msdn.

[2019-06-04 00:37] rickyManalo commented on #1554
You're welcome.

Regards,
Ricky

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

On Tue, Jun 4, 2019 at 12:17 AM Sandra Aldana <notifications@github.com>
wrote:

[2019-06-04 01:44] stevewhims commented on #1512
Hi, @schittli, I've gone ahead and resolved the issues that you found. I've detailed my fixes above. I'll go ahead and close this issue now, since it feels resolved. But please re-open it, or file news one, if necessary.

Thanks!
Steve

[2019-06-04 01:44] #1512 closed

[2019-06-04 07:43] xNiklasJern opened #1581 "RSS feed for this?"
Please make it possible to subscribe to a RSS feed for this page.

https://docs.microsoft.com/en-us/windows/release-information/windows-message-center

[2019-06-04 08:46] HemaShalini opened #1582 "I am getting error at &amp in the code I am using windows 10 and visual studio 2017 version"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-06-04 13:58] 0giso commented on #1575
This issue began to occur in late May, 2019. Until then consolas was used for code in ja-jp.

https://docs.microsoft.com/ja-jp/aspnet/core/tutorials/first-mvc-app/details?view=aspnetcore-2.2
![Details](https://user-images.githubusercontent.com/17273712/58884651-c88c1080-871b-11e9-9b01-60946dc94a03.PNG)

https://docs.microsoft.com/ja-jp/dotnet/csharp/tour-of-csharp/program-structure
![ProgramStruct

[2019-06-04 15:58] tknerr opened #1583 "How to activate ADFv2 trigger via AzureRM template?"
**Link to article:**
https://docs.microsoft.com/en-us/azure/templates/microsoft.datafactory/2018-06-01/factories/triggers

**Problem:**
Whenever I create a scheduled trigger via AzureRM it ends up being deactivated, and I manually have to activate it via the ADFv2 GUI.

I tried via `"runtimeState": "Started"` but that didn't help either (seems to be a read-only property that is being set on API si

[2019-06-04 19:21] ryanmajidi commented on #1583
@tfitzmac Can you please take a look at this issue?

[2019-06-04 19:24] ryanmajidi commented on #1580
@GrantMeStrength can you please take a look at this issue?

[2019-06-04 19:25] ryanmajidi commented on #1527
@GrantMeStrength Can you please take a look at this issue?

[2019-06-04 19:29] ryanmajidi commented on #1499
@brendanzagaeski Can you please take a look at this issue?

[2019-06-04 19:30] ryanmajidi commented on #1484
@GrantMeStrength Can you please take a look at this issue?

[2019-06-04 19:32] ryanmajidi commented on #1483
@GrantMeStrength Can you please take a look at this issue?

[2019-06-04 21:11] ryanmajidi commented on #1465
@GrantMeStrength Can you please take a look at this?

[2019-06-04 21:17] ryanmajidi commented on #1464
@Minewiskan Can you please take a look at this?

[2019-06-04 21:19] ryanmajidi commented on #1462
@GrantMeStrength Can you please take a look at this?

[2019-06-04 21:20] ryanmajidi commented on #1461
@GrantMeStrength Can you please take a look at this issue?

[2019-06-04 21:26] ryanmajidi commented on #1460
@mikeblome Can you please take a look at this issue?

[2019-06-04 21:27] ryanmajidi commented on #1459
@jialge Can you please take a look at this issue?

[2019-06-04 21:29] ryanmajidi commented on #1456
@rloutlaw Can you please take a look at this issue?

[2019-06-04 21:45] ryanmajidi commented on #1466
@shirgoldbird Can you please take a look at this issue?

[2019-06-04 21:46] ryanmajidi commented on #1473
Closing this issue.

[2019-06-04 21:46] #1473 closed

[2019-06-04 21:48] ryanmajidi commented on #1475
Please submit this issue here: https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio?view=vs-2019

[2019-06-04 21:48] #1475 closed

[2019-06-04 21:53] ryanmajidi commented on #1507
@v-hearya Can you please take a look at this issue?

[2019-06-04 23:36] mikeblome commented on #1460
@sblionel thanks for pointing this out. I have fixed this and a few others like it. Should be visible in a day or two.

[2019-06-05 02:35] ClaudioTF opened #1584 "Android APIs link is effectively dead"
**Describe the bug**
If, on the https://docs.microsoft.com/en-us/xamarin/ page, you click the APIs drop-down, and click Android APIs, you are taken to a blank page that just says "no namespaces"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/xamarin
2. Click on APIs link in upper right area of header
3. Click on Android APIs
4. You will be taken to a b

[2019-06-05 02:43] v-sulee opened #1585 "please revise some figures in the article"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/partner-center/faq-about-new-billing-features

**Problem:**
What's wrong with the article?
Some dates and calculations in the content are incorrect. Please refer to the attached file to view those s

[2019-06-05 05:04] JasonCard commented on #1575
Hi @0giso
Thank you for reporting this issue and sharing details.
We are following up on this as engineering issue and will update when resolved.

cc @Rick-Anderson @CeciAc @bodhigautam @SonjaSaltzman

[2019-06-05 09:35] MSDN-WhiteKnight opened #1586 "Author notification bot didn't pick up author name"
**Describe the bug**
In pull request https://github.com/MicrosoftDocs/cpp-docs/pull/1052 the author notification bot produced the message

The actual author name is missing, despite the [docfx.json](https://github.com/MicrosoftDocs/cpp-docs/blob/master/docs/docfx.json#L149) for that repository does specify the author name for edited article

[code]
(The path for the edited article is `build/refere

[2019-06-05 09:53] slomond opened #1587 "Storage Migration Service - Feature Request for Cut over / Final Transfer Phase."
During the last transfer before a cutover I would like the ability to lock people out of the server. I am always fearful that someone will update something during this last transfer / cutover phase and I will not have all the newest files on the new server..

Recently I have been creating a deny/block firewall rule for the SMB ports to block all traffic except for the new server to allow the last

[2019-06-05 13:56] sdwheeler opened #1588 "[error message feedback] provide feedback"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Problem:**

This error is invalid for PowerShell content. It fills the build log with 582 errors. The build needs to be changed to ignore this condition.

**Log code info**
(This is auto filled, no need to modify)

| Severity   | Type   | Code   | Ca

[2019-06-05 13:58] sdwheeler opened #1589 "[error message feedback] provide feedback for InvalidMetadata"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Problem:**
This error is invalid for PowerShell content. It fills the build log with 628 errors. The build needs to be changed to ignore this condition. The `locale` metadata is required for building PowerShell's updateable help. It is ignored by OPS

[2019-06-05 16:09] xNiklasJern opened #1590 "Err"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
Tell us where exactly a problem occurs.

**Problem:**
What's wrong with the article?

[2019-06-05 16:09] xNiklasJern opened #1591 "Err"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
Tell us where exactly a problem occurs.

**Problem:**
What's wrong with the article?

[2019-06-05 16:09] xNiklasJern opened #1592 "Err"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
Tell us where exactly a problem occurs.

**Problem:**
What's wrong with the article?

[2019-06-05 16:10] #1592 closed

[2019-06-05 16:25] Minewiskan commented on #1464
@GeoffreyQiao - Thanks for pointing this out. It is incorrect. It's now fixed in en-us locales. I'm not sure how long it will take to make it to other locales.
https://docs.microsoft.com/en-us/dax/containsstring-function-dax
#please-close

[2019-06-05 16:38] adixon501 opened #1593 "SCSM SDK Missing Documentation"
**Describe the bug**
SCSM SDK 2012 and 2016 are missing documentation

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/dotnet/api/?view=sc-sm-dotnet-2012
2. Click on no namespaces or documentation available
3. Same goes for 2016

[2019-06-05 19:06] #1591 closed

[2019-06-05 19:06] #1590 closed

[2019-06-05 19:59] craigg-msft commented on #801
fyi @Jemash

[2019-06-05 21:40] ryanmajidi commented on #1593
@rloutlaw Can you please take a look at this issue?

[2019-06-06 00:43] namrog84 opened #1594 "expandenvironmentstrings doc page is missing"
**Describe the bug**
A clear and concise description of what the bug is.
If you search the internet for "expandenvironmentstrings" it points to a msdn doc regarding the expandenvironmentstrings api. However it redirects to a IEAPproviderconfig page
https://docs.microsoft.com/en-us/windows/desktop/api/rrascfg/nn-rrascfg-ieapproviderconfig

For example, on this document page, there is a link to expa

[2019-06-06 04:06] nschonni commented on #436
Looks like this is working as of this week on some repos, so I guess the bots have been updated

[2019-06-06 04:06] #436 closed

[2019-06-06 05:26] tristanlbailey opened #1595 "Errors with module: Move to a modern desktop with Microsoft 365"
URL: https://docs.microsoft.com/en-au/learn/modules/move-to-modern-desktop-m365/5-o365-proplus-updates
Module: **Move to a modern desktop with Microsoft 365**

I encountered inconsistencies between the learning content for the module, and the self-check at the end. Two questions appear to be incorrect:

Q: Which one of the following Windows 10 update channels doesn't support Office 365 ProPlus?

-

[2019-06-06 15:56] brendanzagaeski commented on #1499
Thanks for bringing this up! This should be all set now. The link in the side bar now points to a GitHub repository where you can browse the previous release notes in subdirectories corresponding to the past version numbers.

@ryanmajidi, feel free to close this issue now, or if you notice anything I might have missed, feel free to raise follow up questions. Thanks!

[2019-06-06 18:16] MSxDOS opened #1596 "PSAPI structures contain garbage in their description"
**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/api/Psapi/ns-psapi-_psapi_working_set_block
https://docs.microsoft.com/en-us/windows/desktop/api/Psapi/ns-psapi-_psapi_working_set_ex_block

**Problem:**
Members information is filled with same garbage like `__unnamed_union_07fb_2.__unnamed_struct_0` instead of the actual description.

[2019-06-06 19:28] meganbradley commented on #436
@nschonni yes - thanks again for the feedback!

[2019-06-06 20:56] ryanmajidi commented on #1596
@GrantMeStrength Can you please take a look at this issue?

[2019-06-06 21:01] ryanmajidi commented on #1594
@GrantMeStrength Can you please take a look at this issue?

[2019-06-06 21:12] #1589 closed

[2019-06-06 21:12] #1588 closed

[2019-06-06 21:27] ryanmajidi commented on #1585
@MaggiePucciEvans Can you please take a look at this issue?

[2019-06-06 21:29] ryanmajidi commented on #1584
@asb3993 Can you please take a look at this issue?

[2019-06-06 22:25] conceptdev commented on #1584
Thanks for your feedback @ClaudioTF, this is definitely an issue we'll need to fix. Sounds like you have figured out how to navigate directly to namespaces you know about. For now that is the best solution until we can address the issue with the main index page. Will post again here when it has been resolved.

[2019-06-06 22:44] ryanmajidi commented on #1582
@HemaShalini Can you provide some more info about the issue you are having? Where is this issue occurring?

[2019-06-06 22:52] guntaled commented on #1532
Today and yesterday, documentation page is missing names at all:
![image](https://user-images.githubusercontent.com/18587994/59071327-05b6e680-8873-11e9-9703-7755efa00afd.png)

[2019-06-06 23:07] rloutlaw commented on #1532
Thanks for the bug report-this is a known issue we'd isolated and we will be pushing a fix shortly.

[2019-06-06 23:38] nnpcYvIVl opened #1597 "CREDENTIALA structure bold problem"
**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/api/wincred/ns-wincred-_credentiala

**Problem:**
The bottom half of the article is all bold. Looks like there is an unclosed bold tag somewhere.

[2019-06-06 23:50] beowulf005 opened #1598 "Save Links to profile"
Would like to be able to save pages to my profile. Basically marking a content page as a favorite.
Being a domian administrator I am spending a lot of time on the docs website getting documentation on various products. But with so many different products sometimes I lose a link of content  I was revewing. Would like to (when logged in) mark pages as a favorite or read later so I have keep a refere

[2019-06-07 00:55] yoichinak opened #1599 "日本語版における Microsoft Kaizala と Yammer のリンク切れ"
**Describe the bug**

日本語版で Microsoft Kaizala と Yammer へのリンクが切れています。

**To Reproduce**

* https://docs.microsoft.com/ja-jp/ を開く。
* **Microsoft Kaizala** https://docs.microsoft.com/ja-jp/office365/kaizala/ は `overview` へリダイレクトされて、 _404 エラー_ となる。
* **Yammer** https://docs.microsoft.com/ja-jp/yammer/ は `overview` へリダイレクトされて、 _404 エラー_ となる。

**Expected behavior**

英語版では次のようになっています。

* **Microsoft Kaiz

[2019-06-07 04:11] guntaled commented on #1532
@MisiekBest, I found that the canonicalized resources have to be lowercased: https://docs.microsoft.com/en-us/rest/api/storageservices/authorize-with-shared-key#constructing-the-canonicalized-resource-string
Doesn't matter in uri itself.

[2019-06-07 06:11] GalicinD opened #1600 "Error in the description of the function REPLACE"
Error in the description of the function REPLACE.
now here  https://docs.microsoft.com/en-us/dotnet/framework/data/adonet/ef/string-functions
is written:

what corresponds to the REPLICATE function

[2019-06-07 06:34] ygoe opened #1601 "ProcessStartInfo.Arguments and ArgumentList"
Link to the documentation page:
https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.processstartinfo.arguments?view=netstandard-2.1

The following text probably has a typo:

Did you mean "**To** include quotation marks..."? Or is this a rare aspect of the English language I don't know about?

----

Link to the documentation page:
https://docs.microsoft.com/en-us/dotnet/api/system.diagno

[2019-06-07 08:52] superfliege opened #1602 "Wrong API Version in scheduledQueryRules API Version: 2018-04-16"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/rest/api/monitor/scheduledqueryrules
+ All Operations Sites

**Problem:**
The API Version in the documentation does not seem to be supported by the cmdlets.
`[2019-06-07 10:45:14] - [ERROR] Error in

[2019-06-07 08:56] m-do opened #1603 "Confusing German translation"
Sorry if this is the wrong approach, but I could not find a comment section in the article mentioned below. Furthermore I wanted to just send a quick message to the listed contributors, but also couldn't figure out how to message them. Therefore I'm now here...

**https://docs.microsoft.com/de-de/dynamics365/unified-operations/talent/courses**

**Problem:**
The translation under course types for "

[2019-06-07 09:30] superfliege commented on #1602
{"code":"NoRegisteredProviderFound","message":"No registered resource provider found for location 'westeurope' and API version '2019-05-10' for type 'scheduledqueryrules'. The supported api-versions are '2017-09-01-preview, 2018-04-16'. The supported locations are 'westcentralus, eastus, westeurope, centralindia, canadacentral, australiasoutheast, japaneast, southeastasia, uksouth, southcentralus,

[2019-06-07 09:30] #1602 closed

[2019-06-07 09:41] KalleOlaviNiemitalo opened #1604 "Previous Versions TOC does not indicate current topic when URL ends with (v=vs.100) rather than (v%3dvs.100)"
All four of the following URLs display the same topic "\<xsd:import> Element".  However, the breadcrumb bar and the table of contents indicate the current topic only at the first two URLs, i.e. the ones that contain "%3d". At the last two URLs, which contain "=", the breadcrumb bar shows only "Docs / Previous Versions / .NET", and the table of contents shows only the first-level sections. I think

[2019-06-07 11:21] MisiekBest commented on #1532
Thank you @guntaled . That explains a lot ...
I have not noticed this before :(
In that case, my reported error is not an error, but just a requirement according to the specification.

@ryanmajidi , @rloutlaw
We can close this issue.

To other users:
In the section "Constructing the Canonicalized Resource String" of the documentation [Authorize with Shared Key](https://docs.microsoft.com/en-us/res

[2019-06-07 11:21] #1532 closed

[2019-06-07 14:13] mmacy commented on #1544
@ryanmajidi This fix is live, you may now close this issue.

[2019-06-07 14:54] KalleOlaviNiemitalo commented on #1601
See the rationale in dotnet/corefx#23592.

[2019-06-07 15:28] danmosemsft commented on #1601
Thanks! I think feedback on the doc content itself goes in https://github.com/dotnet/dotnet-api-docs (and they take PR'S there to)

[2019-06-07 17:46] ljtill opened #1605 "Code Block - Fold / Unfold"
**Is your feature request related to a problem? Please describe.**
Ability to read / digest large code snippets within a given article.

**Describe the solution you'd like**
When viewing an article with a code block (example link below) it would be useful to have the ability to fold / unfold sections. The JSON in the example link is extensive and it's difficult to digest it as there are a lot of n

[2019-06-07 20:46] ygoe commented on #1601
I don't know where it goes to. I used my standard web search engine to find a repository that sounds like it has something to do with the reported website.

And while PRs are a great idea (albeit pretty clunky), they assume that the reporter is able to fix the problem themselves and suggest a solution. I don't have this knowledge and need the solution myself, I don't know it yet. So I'm unable to

[2019-06-07 21:18] danmosemsft commented on #1601
@ygoe understood, it is fine to just open an issue. And yes, our diversity of repos can be pretty confusing. We are considering how we can make it simpler.

[2019-06-07 22:01] ygoe commented on #1601
There used to be a feedback box right on the docs pages but I haven't seen it in a while. Is it broken, did somebody steal it or was it intentionally removed? I makes reporting content issues so much simpler.

[2019-06-07 22:24] ryanmajidi commented on #1402
@Devvox93 Thank you for this feedback. We have added this to our list of customer suggestions.

[2019-06-07 22:24] #1402 closed

[2019-06-07 22:29] ryanmajidi commented on #1401
@JacquelineWiddis Can you please take a look at this issue?

[2019-06-07 22:31] ryanmajidi commented on #1400
@wnjenkin Can you please take a look at this issue?

[2019-06-07 22:36] ryanmajidi commented on #1605
@shirgoldbird Can you please take a look at this issue?

[2019-06-07 22:52] JacquelineWiddis commented on #1401
Fixed for next release.  The information on this link can be found on docs.microsoft.com:  https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/proposals/csharp-8.0/null-coalescing-assignment

[2019-06-07 23:22] dendeli-msft commented on #749
#log-suggestion @dendeli-msft

[2019-06-08 20:19] tommai78101 opened #1606 "Unsure where to file site content issue for Microsoft Developer Blogs"
This is the only place I know where I can ask questions on how to file bug reports and site content issues to Microsoft Docs.

But, I cannot find where to file the same things for Microsoft Developer, especially for Microsoft Developer Blogs. (https://blogs.msdn.microsoft.com)

May I ask where I can file bug reports/site content issues about Microsoft Developer Blogs at?

Thanks.

If this is not t

[2019-06-09 00:29] tonywcchan commented on #1446
Hello,

Is there any updates?
When I used Bing to search for “StorageCredentials C#”, the link of the top result from Bing is still broken.

Regards,
Tony

From: Den (Microsoft) <notifications@github.com>
Sent: Friday, May 3, 2019 11:53 AM
To: MicrosoftDocs/feedback <feedback@noreply.github.com>
Cc: Tony Chan (LPS) <wcchan@microsoft.com>; Author <author@noreply.github.com>
Subject: Re: [MicrosoftD

[2019-06-09 02:40] atlight opened #1607 "Control Spy has gone missing"
https://docs.microsoft.com/en-us/windows/desktop/controls/control-spy

The download link for this tool is broken. The tool is still very relevant in the modern day, and it would be great if this can be rectified.

[2019-06-09 17:48] MohadKamil commented on #1156
once you consent to the sandbox requested permissions, you will need to go to https://portal.azure.com/learn.docs.microsoft.com

[2019-06-09 18:07] jeffshumphreys opened #1608 "SMO version 150 documentation is missing"
**Is your feature request related to a problem? Please describe.**
I am trying to use SMO scripter to extract table DDL from source tables.  I am looking for documentation on SMO v 150, which is the minimum version required for connecting to [Azure Managed instances](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-connect-app#required-versions-of-drivers-and-tools

[2019-06-10 17:39] #1401 closed

[2019-06-11 05:56] mairaw commented on #1601
The feedback was turned off for the API docs intentionally @ygoe but you can still open issues at https://github.com/dotnet/dotnet-api-docs. I agree with you that reporting issues was easier with the feedback enabled on the API pages. I'll discuss this with our team.
You can still click edit to suggest changes when you find typos.

[2019-06-11 05:59] mairaw commented on #1340
@sudeepku @dendeli-msft please close this issue. I don't have permissions.

[2019-06-11 06:00] floele-ww opened #1609 "Dead link on "Developing a Per-Monitor DPI-Aware WPF Application""
On https://docs.microsoft.com/en-us/windows/desktop/hidpi/declaring-managed-apps-dpi-aware there is a dead link in the note at the top to https://github.com/Microsoft/WPF-Samples/blob/master/PerMonitorDPI/Developer%20Guide%20-%20Per%20Monitor%20DPI%20-%20WPF%20Preview.docx

[2019-06-11 06:03] mairaw commented on #1290
@sudeepku @dendeli-msft can you please close this? I don't have permissions.

[2019-06-11 06:04] mairaw commented on #1325
@sudeepku @dendeli-msft ping

[2019-06-11 06:05] mairaw commented on #1221
This was fixed. Can someone please close this @sudeepku @dendeli-msft?

[2019-06-11 06:13] KalleOlaviNiemitalo commented on #1601
Apparently in dotnet/dotnet-api-docs#1913.

[2019-06-11 15:30] musm commented on #898
bump

[2019-06-11 15:32] musm opened #1610 "Bug in GetTempPathW when environment variables are empty"
`GetTempPathW` returns garbage after setting `TMP` `TEMPT` and `USERPROFILE` profile to the empty string, where in fact it should return option 4: The Windows directory.

[2019-06-11 16:57] nschonni opened #1611 "PR Bot doesn't understand #sign-off when there are multiple reviewers"
**Is your feature request related to a problem? Please describe.**
Previously, the bot did not pick up when there was multiple authors impacted for a PR. Because if that it would show an error message when the non-assigned author tried to sign off. Now that multiple reviewers are allowed, the bot still is rejecting `#sign-off` from authors that it doesn't see as the primary author (as with the pre

[2019-06-11 17:58] ryanmajidi commented on #1587
@GrantMeStrength Can you please take a look at this issue?

[2019-06-11 20:28] ryanmajidi commented on #1586
@cillroy Can you please take a look at this issue?

[2019-06-11 20:28] ygoe commented on #1601
If users are advised to open issues manually in a certain project, that project should be linked somewhere discoverable. Otherwise, people (like me) may find other paths. Meanwhile I'll try to find a place to save that link for myself so I remember to find it again.

[2019-06-11 20:34] #1290 closed

[2019-06-11 20:35] ryanmajidi commented on #1597
@GrantMeStrength Can you please take a look at this issue?

[2019-06-11 20:37] ryanmajidi commented on #1598
@shirgoldbird Can you please take a look at this?

[2019-06-11 20:39] mairaw commented on #1601
Filing here is fine @ygoe. The issues that are filed here get routed to the appropriate team.

[2019-06-11 20:40] ryanmajidi commented on #1599
@nokura Can you please take a look at this issue?

[2019-06-11 20:44] ryanmajidi commented on #1600
@GalicinD I've moved this issue to the dotnet repo: https://github.com/dotnet/docs/issues/12773

[2019-06-11 20:44] #1600 closed

[2019-06-11 20:53] ryanmajidi commented on #1603
@SonjaSaltzman Can you please take a look at this issue?

[2019-06-11 21:09] SonjaSaltzman commented on #1603
@krisre @vinceno could you please respond to the customer and make necessary fixes? (BTW, I agree the translation is weird).

[2019-06-11 21:16] ryanmajidi commented on #1604
@v-saambe Can you please take a look at this issue?

[2019-06-11 21:45] bfrancom opened #1612 "Dead link to report security bugs."
**Describe the bug**
The link to report a security issue at the bottom of the page is broken.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/en-us/previous-versions/tn-archive/cc751383(v=technet.10)'
2. Click on the link that  reads 'report it'. The link address currently is: http://www.microsoft.com/security/msrc/report.aspx
3. See error

**Expected behavi

[2019-06-11 22:17] ryanmajidi commented on #1606
@tommai78101  Many pages have feedback buttons built into them. For example this is an office page:
![image](https://user-images.githubusercontent.com/7329992/59307834-3a9cb200-8c54-11e9-9d2e-17ca47a3cc7d.png)
You can also click edit on the top right of the page (if it exists) and then open a github issue:
![image](https://user-images.githubusercontent.com/7329992/59307941-84859800-8c54-11e9-96eb-

[2019-06-11 22:17] #1606 closed

[2019-06-11 22:18] ryanmajidi commented on #1607
@GrantMeStrength Can you please take a look at this issue?

[2019-06-11 22:23] ryanmajidi commented on #1608
@jeffshumphreys I've moved this issue to that repo: https://github.com/MicrosoftDocs/azure-docs/issues/33135

[2019-06-11 22:23] #1608 closed

[2019-06-11 22:24] ryanmajidi commented on #1609
@GrantMeStrength Can you please take a look at this issue?

[2019-06-11 22:27] ryanmajidi commented on #1610
@musm Are you refering to this: https://docs.microsoft.com/en-us/windows/desktop/api/fileapi/nf-fileapi-gettemppathw

@GrantMeStrength Can you please take a look at this issue.

[2019-06-11 22:55] strattonn opened #1613 "Dead link"
**Link to article:**
https://docs.microsoft.com/en-us/sql/integration-services/custom-messages-for-logging?view=sql-server-2014

**Problem:**
The Related Content link...
Blog entry, Logging custom events for Integration Services tasks, on dougbert.com.

Is dead, goes to a Game of Thrones online gaming site.

[2019-06-12 01:59] #1533 closed

[2019-06-12 02:00] #1534 closed

[2019-06-12 02:49] musm commented on #1610
@ryanmajidi Yep.

[2019-06-12 02:58] herkyjerky commented on #701
it's dead again.  linked to from this page: https://docs.microsoft.com/en-us/office/dev/add-ins/design/using-office-ui-fabric-react#see-also

[2019-06-12 07:56] vinceno commented on #1603
@MaryHannaD365 will move this forward - thx again

[2019-06-12 08:17] KalyanChanumolu-MSFT commented on #1456
@rloutlaw are there any updates on this issue?
This issue is widely discussed over MSDN and Stackoverflow as well.

[2019-06-12 10:12] MaryHannaD365 commented on #1603
Hi @m-do -- Thank you for reporting this issue.  We are working to have it addressed and will update you once the fix is live.  Thanks!

[2019-06-12 15:25] wesley-smith opened #1614 "What OData filters are supported on Security Center Tasks?"
**Link to article:**
https://docs.microsoft.com/en-us/rest/api/securitycenter/tasks/list

Documentation for `$filter` says:

However, when querying against my data, simple equality filters for all top-level tags, e.g. `$filter=name eq 'abc123'` returned empty result sets.

**Problem:**
What filter expressions are supported by this endpoint, and what fields are filterable? Are there any unique synt

[2019-06-12 16:57] #1495 closed

[2019-06-12 16:57] #1505 closed

[2019-06-12 16:57] #1500 closed

[2019-06-12 16:57] #1493 closed

[2019-06-12 17:12] rloutlaw commented on #1456
@KalyanChanumolu-MSFT - You'll need to click the '+' button next to the $expand / createdTime key value pair you added in order for the parameter to be added to the request. I tested this and it works fine.

If you are still having issues after clicking '+' next to the parameter you added, please paste in the exact URL string (using a different GUID for the subscription value) from the "Request Pr

[2019-06-12 17:45] ryanmajidi commented on #1611
@meganbradley Can you please take a look at this issue?

[2019-06-12 17:50] ryanmajidi commented on #1463
@emiliano84 We are working towards this. Thank you for your feedback.

[2019-06-12 17:50] #1463 closed

[2019-06-12 17:50] #1020 closed

[2019-06-12 18:10] meganbradley commented on #1611
@ryanmajidi @nschonni I'll get this fixed, thanks!

[2019-06-12 18:19] meganbradley commented on #1611
Filed internal bug: https://ceapex.visualstudio.com/Engineering/_workitems/edit/98705/

[2019-06-12 20:31] bfrancom commented on #1612
Looks like I was directed to this (old) page from a search result. I just noticed that it was an old page. Thanks.

[2019-06-12 20:31] #1612 closed

[2019-06-12 22:42] bodhigautam commented on #1575
@0giso This issue has been fixed. cc @JasonCard @CeciAc @SonjaSaltzman

[2019-06-12 22:49] mairaw commented on #1604
I've reported the same issue internally and I just got confirmation that it was fixed. I don't have permissions to close this though.

[2019-06-12 23:06] JasonCard commented on #1575
@bodhigautam Thank you, I've confirmed this issue is fixed and looks good.

[2019-06-12 23:06] #1575 closed

[2019-06-13 00:57] y-megumi opened #1615 "contradictory"
**Link to article:**
https://docs.microsoft.com/ja-jp/exchange/mail-flow-best-practices/how-to-set-up-a-multifunction-device-or-application-to-send-email-using-office-3

**Problem:**
In　”Option 2: Send mail directly from your printer or application to Office 365 (direct send)”
https://docs.microsoft.com/ja-jp/exchange/mail-flow-best-practices/how-to-set-up-a-multifunction-device-or-application-to-

[2019-06-13 05:43] KalleOlaviNiemitalo commented on #1604
OK, it's working now.

[2019-06-13 05:43] #1604 closed

[2019-06-13 05:57] KalyanChanumolu-MSFT commented on #1456
@rloutlaw

It is strange that you got it working. Several people have reported the same.
The same behavior trickles down to the Fluent API as well.

Please find request and responses below

**Request without $filter:**

GET https://management.azure.com/subscriptions/XXXXXXXXXXXXXXXXXXXXXXXXXXXX/resources?api-version=2019-05-01&%24expand=createdTime

Response has createdTime property

![image](http

[2019-06-13 06:25] DevProJC opened #1616 "Dead link for Microsoft Azure Compliance"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
Tell us where exactly a problem occurs.

**Problem:**
What's wrong with the article?

[2019-06-13 09:56] dcarapic commented on #1141
Does DocFX support the same features as the docs.microsoft.com?
I am mainly interested in the 'Edit' feature where the end user can submit his own edits?

[2019-06-13 14:38] tristanlbailey commented on #1595
@ryanmajidi
I have now finished all modules in the Microsoft 365 Fundamentals learning path. Could someone please get back to me A.S.A.P., so that I can get this problem resolved (or at least looked into)? Then I can move on with the exam.

[2019-06-13 15:49] rloutlaw commented on #1456
Not an issue with the Docs Try-It feature, and is likely due to the relationship between the createdTime data and the resource data. Have you posted about this to https://github.com/Azure/azure-rest-api-specs ? The Docs page functionality is working as expected, we're just not getting the result back from the Azure endpoint that you're looking for.

[2019-06-13 20:44] brunofvalli commented on #846
Found a way around this just open another training that requires the sandbox.
This will prompt Azure to delete the old SandBox and re-created.

Thant worked from me.

Went to this training.
https://docs.microsoft.com/en-us/learn/modules/run-docker-with-azure-container-instances/2-run-aci

[2019-06-14 04:38] nschonni opened #1617 "Bot marking external collaborators as internal"
**Is your feature request related to a problem? Please describe.**
I do submit a bunch of stuff, so maybe the bot is getting confused between the GitHub `contributor` vs. `member` stuff https://github.com/MicrosoftDocs/azure-docs/pull/33314#event-2412527880

**Describe the solution you'd like**
External contributors shouldn't get autoclosed and directed to submit to a private PR

[2019-06-14 05:19] v-heleng opened #1618 "Update Role and Permission"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/partner-center/permissions-overview

**Problem:**
Please update Role and Permission of Partner CSP and MPN. Roles and permission are not sync up with https://internal.support.services.microsoft.com/

[2019-06-14 07:48] Holo-Krzysztof opened #1619 "Document which ETW providers need NonPagedMemory="true""
**Link to article:**
https://docs.microsoft.com/en-us/windows-hardware/test/wpt/2-system-and-event-provider-definitions

**Problem:**
The article mentions the `Microsoft-Windows-Win32K` ETW provider as an example that requires non-paged memory. However, I found no info on other providers that require this. From my experience `DxgKrnl` also falls under that category, something that took me a long t

[2019-06-14 08:44] imba-tjd opened #1620 "Missing a word in zh-cn"
This isn't on docs, but it really exists and is a translation bug.

**Link to article:**
For example <https://www.microsoft.com/zh-cn/download/details.aspx?id=35>
Actually every detailed zh-cn pages in *Download Center* have this issue.

**Problem:**
There is a word missing in the location below.

Original: `System Requirements`
Expect: `系统需求`
Actual: `统需求`

![图片](https://user-images.githubusercon

[2019-06-14 08:49] StevenGranados opened #1621 "Xamarin tutorial"
**Link to article:**
https://docs.microsoft.com/en-us/xamarin/get-started/tutorials/entry/?tutorial-step=2&tabs=vswin

**Problem:**
The article references LabelTutorial in section 2 when I believe it should reference EntryTutorial (the current tutorial)

[2019-06-14 08:52] StevenGranados opened #1622 "Xamarin Tutorial"
**Link to article:**
https://docs.microsoft.com/en-us/xamarin/get-started/tutorials/editor/?tutorial-step=3&tabs=vswin (for one)

**Problem:**
I think the editor tag should contain references for the code behind event handlers (TextChanged="OnEditorTextChanged"). It doesn't work otherwise.

[2019-06-14 08:52] StevenGranados commented on #1622
There are others too.

[2019-06-14 10:21] popujol opened #1623 "PowerApps and Dynamics365 features"
Dynamics Designers need more info regarding how Power Apps can be leveraged for Dynamics 365 usage.

Can you enrich the FAQ with an answer to the following question:
**https://docs.microsoft.com/en-us/power-platform/admin/wp-licensing-faq**
Question : What features from Dynamics 365 are not accessible for a PowerApps Plan 2 user?

Examples : Dynamics 365 app for Outlook ? Voice of Customer ? Gamif

[2019-06-14 12:14] ChrisMaddock commented on #1190
The title is now gone. 🙂

[2019-06-14 12:14] #1190 closed

[2019-06-14 14:26] vmagelo opened #1624 "[error message feedback] provide feedback for InvalidExternalBookmark"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

- Unfortunately, the doc page could not load feedback section at bottom.

**Problem:**

- Is error message clear and actionable?
  No. I can't find anything that looks like a bookmark on the referenced pages.

- Is there a documentation to provide more

[2019-06-14 21:54] ryanmajidi commented on #1617
@meganbradley Can you please take a look at this issue?

[2019-06-14 22:05] #1624 closed

[2019-06-14 22:14] erhopf commented on #1624
@vmagelo can you link me to the PR? I can take a look and maybe help out.

[2019-06-14 22:21] ryanmajidi commented on #1622
@conceptdev Can you please take a look at this issue?

[2019-06-14 22:23] ryanmajidi commented on #1621
@conceptdev Can you please take a look at this issue?

[2019-06-14 22:25] ryanmajidi commented on #1620
@SonjaSaltzman Can you please take a look at this issue?

[2019-06-14 22:26] ryanmajidi commented on #1619
@GrantMeStrength Can you please take a look at this issue?

[2019-06-14 22:29] ryanmajidi commented on #1618
@LauraBrenner Can you please take a look at this issue?

[2019-06-14 22:29] SonjaSaltzman commented on #1620
Hi @Soran-M and @dongmicro could you please check into this? Seems to be for your content?

[2019-06-14 22:31] ryanmajidi commented on #1616
@DevProJC Which page is the broken link on? What link is broken?

[2019-06-14 22:35] ryanmajidi commented on #1615
@chrisda Can you please take a look at this issue?

[2019-06-14 22:40] ryanmajidi commented on #1614
@rloutlaw Can you please take a look at this issue?

[2019-06-14 22:42] LauraBrenner commented on #1618
Thanks Helen - I'll review your suggested changes with PM and update as necessary.

[2019-06-14 22:43] ryanmajidi commented on #1613
Moved to https://github.com/MicrosoftDocs/sql-docs/issues/2320

[2019-06-14 22:43] #1613 closed

[2019-06-14 22:46] ryanmajidi commented on #1623
@josaw1 Can you please take a look at this issue?

[2019-06-14 22:47] #1388 closed

[2019-06-14 22:48] #1395 closed

[2019-06-14 22:50] ryanmajidi commented on #1393
@kjaleshire issue looks to be resolved. Please open a new issue if you have further issues.

[2019-06-14 22:50] #1393 closed

[2019-06-14 22:51] ryanmajidi commented on #1392
@FrankWhitePFE are you still having this issue?

[2019-06-14 22:54] ryanmajidi commented on #1391
@VikramPendse thank you for bringing this to our attention. Doesn't look like this is still included in the current iteration.

[2019-06-14 22:54] #1391 closed

[2019-06-15 06:57] ryanmajidi commented on #1398
@conceptdev Can you please take a look at this issue?

[2019-06-15 07:06] ryanmajidi commented on #1380
@lorangelmsft thank you for reporting this. We have fixed the link

[2019-06-15 07:06] #1380 closed

[2019-06-15 07:12] ryanmajidi commented on #1397
@GrantMeStrength Can you please take a look at this issue?

[2019-06-15 07:15] ryanmajidi commented on #1389
@GrantMeStrength Can you please take a look at this issue?

[2019-06-15 07:21] ryanmajidi commented on #1386
@tofergus Thank you for bringing this to my attention

[2019-06-15 07:21] #1386 closed

[2019-06-15 07:23] ryanmajidi commented on #1382
@miloush Thank you for bringing this to our attention. It looks like this was been corrected. Please open a new issue if you are still having problems.

[2019-06-15 07:23] #1382 closed

[2019-06-15 07:31] ryanmajidi commented on #1349
@GrantMeStrength Can you please take a look at this issue?

[2019-06-15 07:33] ryanmajidi commented on #1351
@GrantMeStrength Can you please take a look at this issue?

[2019-06-15 07:34] ryanmajidi commented on #1352
@GrantMeStrength Can you please take a look at this issue?

[2019-06-15 07:37] ryanmajidi commented on #1359
@sudeepku Can you please take a look at this issue.

[2019-06-15 07:41] ryanmajidi commented on #1361
@rloutlaw Can you take a look at this issue?

[2019-06-15 07:42] ryanmajidi commented on #1269
@GrantMeStrength Can you please take a look at this issue?

[2019-06-15 07:44] ryanmajidi commented on #1270
@GrantMeStrength Can you please take a look at this issue?

[2019-06-15 07:45] ryanmajidi commented on #1272
@GrantMeStrength can you please take a look at this issue?

[2019-06-15 07:47] ryanmajidi commented on #1274
@GrantMeStrength Can you please take a look at this issue?

[2019-06-15 07:49] ryanmajidi commented on #1275
@GrantMeStrength Can you please take a look at this issue?

[2019-06-15 07:50] ryanmajidi commented on #1276
@GrantMeStrength Can you please take a look at this issue?

[2019-06-15 07:52] ryanmajidi commented on #1298
@GrantMeStrength Can you please take a look at this issue?

[2019-06-15 08:34] asklar opened #1625 "PROCESS_INFORMATION_CLASS"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
Tell us where exactly a problem occurs.

1. https://docs.microsoft.com/en-us/previous-versions/mt767996(v=vs.85)
2. https://docs.microsoft.com/en-us/windows/desktop/api/processthreadsapi/nf-processthreadsapi-getprocessinformation
3

[2019-06-15 13:07] gljivar opened #1626 "Line wrong on Exercise - Secure webhook payloads with a secret"
**Link to article:**
https://docs.microsoft.com/en-us/learn/modules/monitor-github-events-with-a-function-triggered-by-a-webhook/9-exercise-secure-webhook-payloads-with-secret

**Problem:**
This line is wrong:
var CryptoJS = require('crypto');
It should be:
var Crypto = require('crypto');

Also, in general reporting an issue should be pointing to this site, not opening email client.

[2019-06-15 15:40] KumarVivek commented on #1623
@ryanmajidi Can you please assign this issue to @jimholtz as he owns the topic addressed in the question.

[2019-06-15 16:02] NextTurn commented on #1264
FYI I found links with a comma separated style in the Windows Runtime API docs, which are rendered as bulleted lists.

Github
![image](https://user-images.githubusercontent.com/45985406/59553622-cce0e500-8fc9-11e9-9bdb-68d0085890b8.png)

Docs.ms
![image](https://user-images.githubusercontent.com/45985406/59553633-f863cf80-8fc9-11e9-96ce-e0792cdaef0e.png)

[2019-06-15 17:44] VictorL opened #1627 "typo in "RAWINPUTHEADER structure" page"
**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/api/winuser/ns-winuser-tagrawinputheader

**Problem:**
typo in line:
"This includes RAWINPUT plus possible extra input reports in the RAWHID variable length array."
should be "extra input records"

[2019-06-17 01:40] DevProJC commented on #1616
@ryanmajidi https://gallery.technet.microsoft.com/Azure-Compliance-in-the-8b936d6a

when click on download link, there is no file.

[2019-06-17 03:58] nsathyanarayan opened #1628 "Correct typo "Get-AzApiManagementAuthrizarionServer"."
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
Tell us where exactly a problem occurs.

**Problem:**
What's wrong with the article?

[2019-06-17 04:43] popujol commented on #1628
It is incomplete. We need to know clearly what features from Dynamics applications are not accessible with a powerapp licence from a model driven app.
See example in my request.
Thank you

[2019-06-17 09:52] k15tfu opened #1629 "Typo in ERROR_NOT_ENOUGH_MEMORY description"
**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/debug/system-error-codes--0-499-

**Problem:**
The description for `ERROR_NOT_ENOUGH_MEMORY` says
[code]

but I think the problem not in the disk but memory. The correct one is:
[code]

[2019-06-17 10:41] vmagelo commented on #1624
PR
https://github.com/MicrosoftDocs/MachineLearning-Python-pr/pull/297

Problem file
https://github.com/MicrosoftDocs/MachineLearning-Python-pr/blob/master/DataPrep/docs-ref-autogen/azureml-dataprep/azureml.dataprep.Dataflow.yml

Rendered page
https://docs.microsoft.com/en-us/python/api/azureml-dataprep/azureml.dataprep.dataflow?view=azure-ml-py

[2019-06-17 11:38] FrankWhitePFE commented on #1392
The issue now seems to be resolved.

[2019-06-17 11:38] #1392 closed

[2019-06-17 14:20] YizeD opened #1630 "SQL Server 2017 Slow/does not work when importing subpackages for python."
**Describe the bug**
A clear and concise description of what the bug is.

When I try to run python scripts in SQL server 2017 using revoscalepy, I can import the base packages, but when I try to import a from a subpackage in the py_vollib package (py_vollib.black.implied_volatility), the server will run forever without returning anything. I have checked that py_vollib is installed into the SQL Ser

[2019-06-17 16:01] rloutlaw commented on #1361
@pressacco IOException is listed on the page you linked:

 " IOException
path is a file name."

[2019-06-17 17:41] mairaw commented on #1340
Issue is fixed. Closing.

[2019-06-17 17:41] #1340 closed

[2019-06-17 17:43] mairaw commented on #1325
Closing this one as a duplicate of https://github.com/mono/api-doc-tools/issues/356, since what's missing in this page is the VB signatures.

[2019-06-17 17:43] #1325 closed

[2019-06-17 17:50] conceptdev commented on #1398
@thinknavy can you share what version of Xamarin.iOS you are currently using, as well as what version (or versions) of Xcode you have installed?

Alternatively, you can raise this issue from [within Visual Studio for Mac](https://docs.microsoft.com/en-us/visualstudio/mac/report-a-problem) and all the relevant system information will automatically be attached.

[2019-06-17 17:51] mairaw commented on #1628
I've opened the following PR to fix the issue:
https://github.com/Azure/azure-powershell/pull/9439

If the typo was on a page different than https://docs.microsoft.com/en-us/powershell/module/az.apimanagement/get-azapimanagementauthorizationserver, then please let us know.

[2019-06-17 17:56] conceptdev commented on #1621
Thanks @StevenGranados, could be a typo - we're checking.

[2019-06-17 17:56] conceptdev commented on #1622
Thanks @StevenGranados - we're reviewing the steps.

[2019-06-17 20:56] rummelsworth opened #1631 "Consider darker "white" text and lighter "black" background in Dark theme"
**Is your feature request related to a problem? Please describe.**

I realize Docs' Dark theme doesn't use pure white and pure black for text and background, but the contrast between the two basic text and background colors (as of this writing `#e3e3e3` and `#171717`) still feels a little harsh after a few minutes of usage, especially compared to the _slightly_ different but _much_ gentler (IMO) d

[2019-06-17 21:56] meganbradley commented on #1617
Filed internal bug https://ceapex.visualstudio.com/Engineering/_workitems/edit/99549 and assigned to @adunndevster

[2019-06-18 05:45] v-sulee commented on #1585
hi, I am just following up on this submission if there are any updates.

[2019-06-18 08:10] mskQ9 commented on #1503
I propose that the switch which changing to English fixes to the upper end of a page.

[2019-06-18 21:52] guardrex opened #1632 "Broken link"
https://docs.microsoft.com/en-us/healthvault/#pivot=sdkstools&panel=sdkstools-all

The *Download PowerShell* link is broken.

Should it be ... https://github.com/PowerShell/PowerShell#get-powershell

[2019-06-19 14:22] hallazzang commented on #1572
Hi, is there any progress?

[2019-06-19 16:20] musm commented on #1610
There's a mistake in the documentation. The maximum possible return value is `MAX_PATH + 2` not `MAX_PATH + 1` .

[2019-06-19 16:23] VaclavK opened #1633 "test rest client broken for get deleted secret of key vault"
**Describe the bug**
wrong url is generated by the test client

e.g.

GET https://docs.microsoft.com/en-us/rest/api/keyvault/getdeletedsecret/%7BvaultBaseUrl%7D/deletedsecrets/%7Bsecret-name%7D?api-version=7.0

**To Reproduce**
attempt to use the test ("try it out") client for keyvault get deleted secret, it will attempt to call wrong url - resulting in 404

**Expected behavior**
correct rest call

[2019-06-19 17:19] toledotown opened #1634 "Broken link iot-hub docs"
https://docs.microsoft.com/en-us/azure/iot-hub/

References > IoT device catalog link broken.

[2019-06-19 21:13] pabrams commented on #955
Were the articles updated or something? I can't figure out what the original issue was anymore.  I do see that all of the articles linked above seem to be identical  - the paths seem to all contain "12.0", and the "Note" in the Prepare Clone section is incorrect for [TFS 2013](https://docs.microsoft.com/en-us/azure/devops/server/admin/move-clone-hardware?view=tfs-2013#clone-option-reconfigure-serv

[2019-06-19 22:25] robinsh commented on #1634
I'll fix this. It's actually Resources > IoT device catalog link that's broken. PR is https://github.com/MicrosoftDocs/azure-docs-pr/pull/80099..

[2019-06-19 22:41] robinsh commented on #1634
Hi @toledotown . Thanks for reporting this. I've fixed it now, it should work. I found it in Resources>IoT device catalog, not in References, so let me know if I fixed the wrong one. This should publish Friday morning.

[2019-06-20 03:13] ToMakeSense commented on #1574
@nschonni Hi Nick, I sitll found the garbled texts(�) there even you guys close MicrosoftDocs/windows-powershell-docs/pull/1084 and MicrosoftDocs/windows-powershell-docs/issues/1100

[2019-06-20 03:23] nschonni commented on #1574
@ToMakeSense I just submitted the PR, I'm not sure how long it takes to publish after it get's merged.
I'd suggest opening a new issue over on that repo for the broken link

[2019-06-20 07:37] LittleGreenBag opened #1635 "Protection support matrix dpm"
under the support matrix it state that it must run on On-premises Hyper-V virtual machine. but this is not limited to a Hyper-V VM.
people may conclude that the an hyper-v environment is required.
Shouldnt it state that it can run as a "Virtual Machine" either on Hyper-v or VMware.?

Ref:
https://docs.microsoft.com/en-us/system-center/dpm/dpm-protection-matrix?view=sc-dpm-2019

[2019-06-20 13:35] RobSiklos opened #1636 "Remarks are not correct for .NET Core"
**Link to article:**
https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.x509certificates.x509certificate2.privatekey?view=netcore-3.0#remarks

**Problem:**
The article says that the property "returns either an RSACryptoServiceProvider or a DSACryptoServiceProvider object". However, for .NET Core, this is not true.

[2019-06-20 14:03] pwagle08 opened #1637 "Typo on User Interface Principles Page"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
Tell us where exactly a problem occurs.
https://docs.microsoft.com/en-us/windows/desktop/appuistart/-user-interface-principles

**Problem:**
What's wrong with the article?
Under the "Spacing and Positioning" section, extremely is m

[2019-06-20 23:31] charmaine opened #1638 "Tooltip not available for "Feedback" option"
**Describe the bug**
Tooltip not available for "Feedback" option

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [content page](https://docs.microsoft.com/en-us/azure/devops/organizations/settings/set-your-preferences?view=azure-devops) on docs with an action bar
2. Hover over "Feedback" in the upper right hand corner
4. No tooltip appears due to missing title attribute

**Expected beh

[2019-06-21 10:53] mykola-h opened #1639 "HLK Studio doc - Tests tab - Description contains HCK test levels instead of HLK test categories"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
Tell us where exactly a problem occurs.
https://docs.microsoft.com/ru-ru/windows-hardware/test/hlk/user/hlk-studio---tests-tab

**Problem:**
What's wrong with the article?
![tests_tab](https://user-images.githubusercontent.com/3193

[2019-06-21 17:46] clandrew opened #1640 "Hyperlink in page for D2D1_RENDERING_CONTROLS has weird name"
**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/api/d2d1_1/ns-d2d1_1-d2d1_rendering_controls

**Problem:**
There's a hyperlink called Output.BufferPrecision which links to the buffer precision getter on ID2D1GradientStopCollection, seems unrelated to effect graphs in general also the name looks .NET ish, maybe from Win2D.
It was probably referring to
d2dEffect->SetValue(D2D1_

[2019-06-21 20:17] Karl-WE opened #1641 "missing KBs for MDS microcode"
Section:
Microsoft is making available Intel-validated microcode updates that are related to Microarchitectural Data Sampling (CVE-2019-11091, CVE-2018-12126, CVE-2018-12127, CVE-2018-12130).

The following table lists specific Microsoft Knowledge Base articles by Windows version. The article contains links to the available Intel microcode updates by CPU.
[TABLE]

**Link to article:**
https://supp

[2019-06-21 21:47] drewbatgit commented on #1547
Thanks for the feedback. I have included a deprecation note for all of the APIs labeled as deprecated within the fhcfg.h and fhsvcctl.h headers.

[2019-06-21 21:47] #1547 closed

[2019-06-21 22:37] Karl-WE opened #1642 "What's new in 1903 ADK is missing"
**Link to article:**
https://docs.microsoft.com/de-de/windows-hardware/get-started/adk-install

**Problem:**
What's new in ADK for Windows 10, version **1903** is missing even though it is no longer an insider release.

[2019-06-21 22:39] Karl-WE commented on #1552
hi is there any new on this matter @ryanmajidi. Thank you very much.
I've tried 16+ upgrades to 1903 now with /priority high and all of them worked fine. Have not made any measures if they would be faster with this switch compared to the documented /priority normal switch.

[2019-06-21 22:40] Karl-WE commented on #1553
This issue is closed. The patch notes are now listed in the update history
https://support.microsoft.com/de-de/help/4498140/windows-10-update-history
https://support.microsoft.com/en-us/help/4498140/windows-10-update-history
@GrantMeStrength @ryanmajidi

[2019-06-21 22:40] #1553 closed

[2019-06-22 07:07] akiyoshi opened #1643 "Microsoft Learn - Sandbox sessions limitation"
**Is your feature request related to a problem? Please describe.**
Currently, the number of simultaneous session in the Microsoft Learn sandbox is limited to 150.
I have to reload the sandbox to avoid the limitation.

**Describe the solution you'd like**
It would be necessary to increase the maximum number of the session because the more popular MS learn become, the more people use sandbox simulta

[2019-06-23 10:49] Karl-WE commented on #1641
it appears to be fixed by edit on 22 June. Thank you!

[2019-06-23 23:36] Karl-WE opened #1644 "new comprehensive article about ALL Windows Update (WU & WSUS) releated error codes"
**Is your feature request related to a problem? Please describe.**
There are some docs pages that contain error codes für WU / WSUS etc but I feel they could be less cluttered. I guess this was never intended by the authors as they put a lot of work into the individual docs.

Currently the information is spread in old technet, docs, ms answer / community or even MS blog.

**Describe the solution y

[2019-06-24 02:51] russellds2w opened #1645 "Please add details to Azure Blueprint ParameterDefinitionCollection"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/rest/api/blueprints/blueprints/createorupdate#parameterdefinitioncollection

**Problem:**
There are no details for ParameterDefinitionCollection, there are many fields for this collection, but there

[2019-06-24 02:53] russellds2w opened #1646 "Please add details to the Azure Blueprint ResourceGroupDefinitionCollection"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/rest/api/blueprints/blueprints/createorupdate#resourcegroupdefinitioncollection

**Problem:**
Please add details to the Azure Blueprint ResourceGroupDefinitionCollection. There are many fields for t

[2019-06-24 10:51] MaryHannaD365 commented on #1603
Hi @m-do -- The translation has been corrected as suggested and now available on the live site, https://docs.microsoft.com/de-de/dynamics365/unified-operations/talent/courses.

Thank you for reporting.

@ryanmajidi -- I dont believe I have the necessary permissions to set Status: closed nor Label: Resolved.  Appreciate if you could address please Ryan.

@vinceno -- fyi

[2019-06-24 11:12] Necrosys opened #1647 "Broken link"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
Tell us where exactly a problem occurs.
`https://docs.microsoft.com/en-us/windows/desktop/sync/synchronization-and-multiprocessor-issues`

**Problem:**
What's wrong with the article?
InterlockedExchange link is broken.
URL should b

[2019-06-24 11:53] m-do commented on #1603
Thank you all for correcting the issue! Great first-time-commenting for me :)

[2019-06-24 11:53] #1603 closed

[2019-06-24 19:43] clandrew commented on #1640
The fix for this has been merged, closing

[2019-06-24 19:43] #1640 closed

[2019-06-24 22:24] LeonLaude opened #1648 "Missing a parameter in the Command-line syntax for SCOM"
**Link to article:**
[https://docs.microsoft.com/en-us/system-center/scom/deploy-install-ops-console?view=sc-om-2019](url)

**Problem:**
The problem lies in the bottom section of the documentation "**To install the Operations console from the Command Prompt**".

The syntax is missing a parameter, the provided command will fail, I have tested this and the Operations Manager setup log will complain

[2019-06-24 23:07] PeteHaigh-MSFT opened #1649 "This page is not showing the appropriate content"
https://docs.microsoft.com/en-nz/windows-server/index
Change to en-us and it all works OK...

[2019-06-25 06:52] clandrew opened #1650 "TIMERPROC doc missing calling convention"
**Link to article:**
https://review.docs.microsoft.com/en-us/windows/desktop/api/winuser/nc-winuser-timerproc

**Problem:**
The sample code will fail to compile generally because it is missing the calling convention, CALLBACK (i.e., stdcall)

[2019-06-25 07:54] v-heleng commented on #1618
@LauraBrenner May I have a update on the changes?

[2019-06-25 08:08] dev-rowbot opened #1651 "`en-gb` docs are missing but `en-us` work fine"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-gb/windows-server/#

**Problem:**
What's wrong with the article?
The docs are missing, I noticed if I changed the url to `en-us` the docs are available, e.g.
https://docs.microsoft.com/en-us/windows-se

[2019-06-25 08:39] kefujino opened #1652 "The most important topics in the article are translated to the opposite meaning in Japanese"
**Describe the bug**
There is a mistranslation in below article for Japanese.

https://docs.microsoft.com/ja-jp/office365/enterprise/navigation-options-for-sharepoint-online

Non-Recommended feature is translated to the opposite meaning.
So, this mistranslation advocate to use Non-Recommended features for Japanese users.
We should fix it as soon as possible.

At the third paragraph in the overview

[2019-06-25 10:31] davidbritch commented on #1621
This has now been fixed in a PR that will go live later.

[2019-06-25 10:44] davidbritch commented on #1622
This example is fine as is - it shows some simple customisations for an `Entry`. The event handler for the `TextChanged` event isn't required.

[2019-06-25 11:02] Xceptions opened #1653 "Embedded link directs to wrong page on DQS tutorial page"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
Tell us where exactly a problem occurs.

**Problem:**
What's wrong with the article?

A wrong link was inserted in a page for learning how to automate DQS cleansing with SSIS.
In this [page](https://docs.microsoft.com/en-us/sql/tut

[2019-06-25 11:23] bergmeister commented on #828
I found that changing the Url from `en-gb` to `en-us` makes it work as a temporary workaround, definitely a culture issue

[2019-06-25 11:45] glasco61 opened #1654 "en-gb Docs (Microsoft Graph) - NO navigation/contents sidebar"
"https://docs.microsoft.com/en-gb/graph/overview" URL does not display the navigation/contents sidebar.

Changing en-gb -> en-us in the URL, does display the pane!

How I got there:

1) Entered "docs.microsoft.com" url in browser
Took me to landing page "https://docs.microsoft.com/en-gb/"

2) Clicked on "Microsoft Graph" hyperlink in Docs Directory list
Took me to "https://docs.microsoft.com/en-gb

[2019-06-25 12:46] h-sadeghpour opened #1655 "Get-PartitionSupportedSize Command Misspelling"
![Capture](https://user-images.githubusercontent.com/49187548/60099326-149d0480-9760-11e9-8bac-66ff4ce6d681.PNG)
![Capture2](https://user-images.githubusercontent.com/49187548/60099376-2b435b80-9760-11e9-9fce-5875ab31e6c2.png)

**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
htt

[2019-06-25 12:48] h-sadeghpour commented on #1655
https://docs.microsoft.com/en-us/powershell/module/storage/get-partitionsupportedsize?view=win10-ps#examples

[2019-06-25 13:39] rossanov opened #1656 "Subnet object in NetworkInterfaceIPConfigurationPropertiesFormat should have Required filed = true."
**Link to article:**
https://docs.microsoft.com/en-us/azure/templates/microsoft.network/2019-04-01/networkinterfaces

**Problem:**

The "subnet" object inside the definition of NetworkInterfaceIPConfigurationPropertiesFormat should have the Required field =true.
This is a mandatory configuration for NICs.

It is now set as false.

[2019-06-25 15:37] ibakirov commented on #828
@bergmeiter I don't so, I also tried before switching from en-us to ru-ru and vice-versa.
Now I do not face this problem anymore

[2019-06-25 16:25] 2kaud opened #1657 "charformat2 - undocumented value"
For the article https://docs.microsoft.com/en-us/windows/desktop/api/richedit/ns-richedit-charformat2a

the values for the element bUnderlineColor are not defined. It just says 'underline color' without specifying what the available colours and their values. Please would the valid values for this element be documented.

[2019-06-25 19:56] ibakirov opened #1658 "Typo in russian quiz section"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/ru-ru/learn/modules/explore-power-bi-service/6-knowledge-check

**Problem:**
Text has typo and has symbol » instead of "@"

[2019-06-25 21:00] johnjbarry commented on #1651
There is the same issue with en-ie docs.

[2019-06-25 21:07] olthomps opened #1659 "Update docs: Power BI Dataflow Refresh API"
No comment section found in this docs.

https://docs.microsoft.com/en-us/rest/api/power-bi/dataflows/refreshdataflow

**Problem:**
This doc needs to be updated with the ability to perform unlimited dataflow refreshes, as in blog by product owner Matthew Roche https://ssbipolar.com/2019/05/24/unlimited-dataflow-refresh-on-power-bi-premium/

[2019-06-26 04:19] stevestein commented on #1098
#please-close

[2019-06-26 04:45] musm commented on #1610
@GrantMeStrength  the problem above can be demonstrated by setting `TMP` to a length 261 (including trailing slash), the function then returns 262  i.e. `MAX_PATH + 2`

[2019-06-26 11:52] rockerinthelocker commented on #1009
Any news on this @Powerhelmsman, @sudeepku ?

[2019-06-26 14:15] laughingliu0603 opened #1662 "Can I translate Microsoft documents into Chinese and put them on my blog?"
Can I translate Microsoft documents into Chinese and put them on my blog?And I will not forget to quote the original link.
like this one,https://docs.microsoft.com/zh-cn/windows/mixed-reality/comfort

[2019-06-26 17:01] champagnie opened #1663 "Search ignores underscores in text strings"
If a search string contains an underscore (e.g., NT_SUCCESS), using the DMC search does not return results containing only that string. It doesn’t matter whether or not you put quotes around the string.

Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/search/index?search=NT_SUCESS&scope=OpenSpecs
2. Look at results
3. See error - hits for nt, status.

**Expected behavior

[2019-06-27 03:47] zeltrax00 opened #1664 "Coreinfo dump"
I run `coreinfo -v` on Windows 7 Ultimate x86 and it dumps.

[coreinfo_dump.zip](https://github.com/MicrosoftDocs/feedback/files/3332835/coreinfo_dump.zip)

[2019-06-27 08:53] csmurthy opened #1665 "Metric Alert Status"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/rest/api/monitor/metricalertsstatus/list

**Problem:**
In response the status is always showing as "unknown" whenever I am getting the status of a metric alert

[2019-06-27 09:42] unpredictablegourav opened #1666 "Project blocked"
Hi There,

I have published multiple projects on TechNet Gallery related to Azure and SCOM but they all has been blocked by admin now.

Kindly help me with the same.

Thanks,
Gourav Kumar
https://social.technet.microsoft.com/profile/gouravin/

[2019-06-27 10:15] paulcre99 opened #1667 "Work results banner keeps appearing even clicking on Hide this and then selecting Always"
**Describe the bug**
Work results banner keeps appearing even clicking on Hide this and then selecting Always

**To Reproduce**
Steps to reproduce the behavior:
1. Go to bing
2. Search for something
3. See work results banner
4. Click on Hide this
5. Click on Always
6. Banner disappears
7. Continue using your computer for a while (not sure exact time maybe an hour)
8. Go to bing
9. Search for some

[2019-06-27 12:34] ym9288 opened #1668 "A BUG in EntityFramewrokCore about ValueGenerateOnAdd() and ValueGenerateOnAddOrUpdate()"
There are my 2 Properties Sets of my Entity：
 entity.Property(e => e.CreateTime)
                    .HasColumnName("createTime")
                    .HasColumnType("datetime")
                    .IsRequired(true)
                    .ValueGeneratedOnAdd()
                    .HasDefaultValueSql("getdate()");
 entity.Property(e => e.UpdateTime)
                    .HasColumnName("updateTime")

[2019-06-27 14:33] jasonepperly opened #1669 "Bad link on dllmain entry point page"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/Dlls/dllmain

**Problem:**
Towards the bottom of the page reads:

For information on best practices when writing a DLL, see https://www.microsoft.com/whdc/driver/kernel/DLL_bestprac.

[2019-06-27 20:20] wesley-smith commented on #1614
Here's an anonymized sample api response:

[code]

I've tried equality queries on properties at all levels, i.e. top-level properties (`id`, `name`, `type`), properties under `properties`, and properties under `securityTaskParameters`. Some examples with the data above:

[code]

I'm sure that some of the nested properties may not be searchable in the same way as top-level properties, but I'm prett

[2019-06-27 23:41] adrianlaraperez88 commented on #1558
@chrisou yes, but the problem is when need upload videos or images,

[2019-06-27 23:43] chrisou commented on #1558
@adrianlaraperez88 is there a reason you're using the type "learning-image"?

[2019-06-27 23:45] adrianlaraperez88 commented on #1558
I am reading this in the documentation

[2019-06-27 23:46] chrisou commented on #1558
Can you share a link to the doc you're referring to?

[2019-06-28 00:15] dendeli-msft commented on #1446
Thank you for the report! This is a side-effect of the Azure Storage .NET API introducing a breaking change, that updated the namespaces. The correct API entities will soon start showing up in search results, as the major search engines re-index the content.

Den Delimarsky ● Senior PM, docs.microsoft.com ● [@DennisCode](https://twitter.com/DennisCode)

[2019-06-28 00:15] #1446 closed

[2019-06-28 00:16] dendeli-msft commented on #1444
#log-suggestion @dendeli-msft

Thanks for the feedback @owingruters! This is something that we will consider for the long-term set of improvements for the PowerShell Module Browser, but is not in the immediate set of priorities we'll be addressing.

Den Delimarsky ● Senior PM, docs.microsoft.com ● [@DennisCode](https://twitter.com/DennisCode)

[2019-06-28 00:16] #1444 closed

[2019-06-28 00:17] dendeli-msft commented on #1394
This is now fixed, thank you for the report @goyzhang!

Den Delimarsky ● Senior PM, docs.microsoft.com ● [@DennisCode](https://twitter.com/DennisCode)

[2019-06-28 00:17] #1394 closed

[2019-06-28 00:18] dendeli-msft commented on #1279
Thank you for the feedback, @sw23 - this should now be addressed.

Den Delimarsky ● Senior PM, docs.microsoft.com ● [@DennisCode](https://twitter.com/DennisCode)

[2019-06-28 00:18] #1279 closed

[2019-06-28 00:20] dendeli-msft commented on #1220
This should be resolved, thanks for the report @RyotaMurohoshi!

Den Delimarsky ● Senior PM, docs.microsoft.com ● [@DennisCode](https://twitter.com/DennisCode)

[2019-06-28 00:20] #1220 closed

[2019-06-28 00:21] dendeli-msft commented on #1154
Thanks for the report, @DavidR91! This should be fixed.

Den Delimarsky ● Senior PM, docs.microsoft.com ● [@DennisCode](https://twitter.com/DennisCode)

[2019-06-28 00:21] #1154 closed

[2019-06-28 00:23] dendeli-msft commented on #1071
#log-suggestion

I think we should include this as part of the SDP work. I see that it's not yet covered in the [new page format](https://review.docs.microsoft.com/en-us/dotnet/api/system.windows.controls.datagrid.preparingcellforedit?branch=tianzh%2FSDPBaseline&view=netframework-4.8). @TianqiZhang as FYI.

[2019-06-28 00:25] dendeli-msft commented on #982
Updating this issue - we are currently in the process of rolling out the new experience for code samples, that should enable this functionality.

[2019-06-28 00:26] dendeli-msft commented on #937
Thanks folks for the feedback! After conducting research on the subject, we have concluded that at this time examples will remain in their current location, ahead of remarks.

Den Delimarsky ● Senior PM, docs.microsoft.com ● [@DennisCode](https://twitter.com/DennisCode)

[2019-06-28 00:26] #937 closed

[2019-06-28 00:33] dendeli-msft commented on #936
Thanks folks for the feedback! Given the current state of tables in API documentation, we believe that no immediate changes are necessary.

Den Delimarsky ● Senior PM, docs.microsoft.com ● [@DennisCode](https://twitter.com/DennisCode)

[2019-06-28 00:33] #936 closed

[2019-06-28 00:34] dendeli-msft commented on #927
#log-suggestion

[2019-06-28 00:39] dendeli-msft commented on #922
We're disabling Try It for Key Vault REST API docs for the time being, until we're able to support custom URLs. Thanks again for the feedback @chungsu!

Den Delimarsky ● Senior PM, docs.microsoft.com ● [@DennisCode](https://twitter.com/DennisCode)

[2019-06-28 00:39] #922 closed

[2019-06-28 00:39] dendeli-msft commented on #905
This should be fixed, thanks folks for the feedback!

Den Delimarsky ● Senior PM, docs.microsoft.com ● [@DennisCode](https://twitter.com/DennisCode)

[2019-06-28 00:39] #905 closed

[2019-06-28 00:41] dendeli-msft commented on #848
#log-suggestion as I can still reproduce this.

[2019-06-28 00:43] dendeli-msft commented on #824
Thanks folks for the feedback - this should be resolved! The new EF Core reference is located [in the .NET API Browser](https://docs.microsoft.com/en-us/dotnet/api/?view=efcore-2.1).

Den Delimarsky ● Senior PM, docs.microsoft.com ● [@DennisCode](https://twitter.com/DennisCode)

[2019-06-28 00:44] dendeli-msft commented on #776
As a follow-up, we are currently working on improving how we handle language switching for code examples.

[2019-06-28 00:47] dendeli-msft commented on #633
Going to close the issue for now, since at least from the documentation infrastructure perspective, we are correctly identifying the entity.

Den Delimarsky ● Senior PM, docs.microsoft.com ● [@DennisCode](https://twitter.com/DennisCode)

[2019-06-28 00:47] #633 closed

[2019-06-28 00:51] dendeli-msft commented on #544
Closing the issue as @hellosnow already has a product issue open 😄 This ask does not relate to documentation infrastructure, but rather the Azure REST APIs.

Den Delimarsky ● Senior PM, docs.microsoft.com ● [@DennisCode](https://twitter.com/DennisCode)

[2019-06-28 00:51] #544 closed

[2019-06-28 01:28] adrianlaraperez88 commented on #1558
https://docs.microsoft.com/en-us/linkedin/marketing/integrations/community-management/shares/vector-asset-api#register-an-upload

[2019-06-28 02:15] eryksun commented on #1441
The `SetCurrentDirectory` documentation didn't used to mention "\\\\?\\" paths  (check an Internet archive). The buffer for the current directory in the process parameters is and always has been statically limited to `MAX_PATH` characters, unless long paths are enabled in Windows 10. The system runtime library even has some nasty bugs if we set the current directory to a "\\\\?\\" path, so it's cl

[2019-06-28 04:25] TakiyaNakano-MSFT opened #1670 "Japanese translarion request for Tenant to tenant migration feature of Dynamics 365"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
Original (en-us)
https://docs.microsoft.com/en-us/dynamics365/customer-engagement/admin/move-instance-tenant

Translation (ja-jp)
https://docs.microsoft.com/ja-jp/dynamics365/customer-engagement/admin/move-instance-tenant

**Proble

[2019-06-28 04:44] shunkino opened #1671 "NuGet's product logo is invisible in some languages"
**Describe the bug**
The product logo of the NuGet on the top page of the Microsoft Docs is invisible in some languages.
I've experienced the issue by setting ja-jp and zh-cn, but I think issue may occur in other languages too.

Links to pages:
https://docs.microsoft.com/ja-jp/
https://docs.microsoft.com/zh-cn/

**To Reproduce**
1. Go to the top page with language other than en-us. Example links a

[2019-06-28 05:07] surajmuthreja commented on #544
@dendeli-msft / @hellosnow  -- Can you please update that product issue ID or mark this Bug as dependent of that issue or add some keyword for reference so that I can track that issue.

[2019-06-28 07:16] ibakirov opened #1672 "Tenant Active User Quota Reached"
**Describe the bug**
Can't activate sandbox because error occur:
`
Requesting a Cloud Shell.Failed to provision a Cloud Shell: {"code":"TenantActiveUserQuotaReached","message":"Tenant '604c1504-c6a3-4080-81aa-b33091104187' has '152' active users in location 'centralindia', which exceeds the active user quota."}
`
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.co

[2019-06-28 07:17] ibakirov commented on #1643
I agree, faced the same limitation today at #1672

[2019-06-28 08:42] divega commented on #824
@dendeli-msft is it expected that links to the old API (e.g. https://docs.microsoft.com/ef/core/api/microsoft.entityframeworkcore) return 404? I was expecting it to redirect, but perhaps it is really supposed to fail...

cc @mairaw

[2019-06-28 11:08] mrdrwest commented on #1373
Sharing Microsoft Learn trophies and badges results in an embedded link to the learning path or module, not the achievement.

Please address this quick-fast-and-in-a-hurry!

[2019-06-28 15:18] clandrew opened #1673 "Direct3D 12 interop page needs work"
**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/direct3d12/direct3d-12-with-direct3d-11--direct-2d-and-gdi#interop-apis

See the section at the bottom under "Interop APIs".

[2019-06-28 16:42] drewbatgit commented on #1441
@eryksun You seem to have technical expertise in this area and I do not, so I'm inclined to just accept your feedback as-is. But I looked at the history of this API documentation and it looks like this text was added specifically at the request of the feature dev at the time. That doesn't mean it's correct, just that it was deliberate at the time and from a reliable source. It's possible that the

[2019-06-28 17:44] mairaw commented on #824
I had a redirect request that kept getting closed as done and I kept reopening. Let me see if I can find that again.

[2019-06-28 19:07] chrisou commented on #1558
Please follow the documentation outlined here: https://docs.microsoft.com/en-us/linkedin/consumer/integrations/self-serve/share-on-linkedin?context=linkedin/consumer/context#create-an-image-share

[2019-06-28 21:27] drewbatgit commented on #1441
I have been unable to track down an answer for this, so I'm removing the statement about "\\?\" paths for now. The change should be live in a few hours. Thanks for your feedback!

[2019-06-28 21:27] #1441 closed

[2019-06-28 23:21] Bartolomeus-649 opened #1674 "Windows Sync (Desktop API): Broken link"
**🛑 IMPORTANT**: You can get users to submit feedback directly from the content page if you enable the GitHub interaction module.

**Link to article:**
**https://docs.microsoft.com/en-us/windows/desktop/api/_winsync/**

**Problem:**
In the page [Windows Sync](https://docs.microsoft.com/en-us/windows/desktop/api/_winsync/) The link below is broken.

[2019-06-28 23:37] Karl-WE commented on #1641
Have to reopen. German page (de-de) is still outdated. en-us is ok.

[2019-06-29 02:54] SonjaSaltzman commented on #1671
Hi @bodhigautam and @DavidPrio could you please treat this as a high prio issue?

[2019-06-29 12:28] slishnevsky opened #1675 "Unable to submit a question on msdn forums"
This is horrible, I composed a question with screenshots on https://social.msdn.microsoft.com/Forums/vstudio/en-US/newthread?category=visualstudio

I press a Submit button, but instead I get a red message
### Body text cannot contain images or links until we are able to verify your account.

What is this? Why do I get this message AFTER I spend time composing a question and not being able to submi

[2019-06-30 10:12] ijsankar opened #1676 "typo"
[Here's the link](https://docs.microsoft.com/en-us/windows/desktop/wic/-wic-photoprop-system-gps-altitude#conflict-resolution-policy)

`System.GPS.Altitude.Numerator` and `System.GPS.Altitude.Denominator` should be `System.GPS.AltitudeNumerator` and `System.GPS.AltitudeDenominator`

[2019-06-30 15:18] djpmsft commented on #1583
Hi there, apologies for the delayed response on this issue. The product team is currently investigating this and will have a response shortly

[2019-07-01 01:24] djpmsft commented on #1583
After investigating the issue, unfortunately there is no way to create an activated trigger. ARM templates only support PUT actions, but start is a separate POST action. To activate a trigger, you must explicitly call the start API either via UX, Powershell or whatever ADF SDK you are using after creation. This is due to runtime state being a readonly property that a user cannot explicitly set.

[2019-07-01 05:37] ogmoz opened #1677 "incorrect system time specification"
https://docs.microsoft.com/en-us/windows/desktop/api/sysinfoapi/nf-sysinfoapi-getsystemtime
"The system time is expressed in Coordinated Universal Time" - incorrect statement.
correct statement should look like this: "The system time corresponds to Coordinated Universal Time (UTC) and supposed to be sinchronised with it."

[2019-07-01 07:28] v-heleng commented on #1618
@ryanmajidi  @LauraBrenner  May I have a update on the request? What is the SLA I should expect for a request submit?

[2019-07-01 07:30] v-heleng commented on #1585
@ryanmajidi @MaggiePucciEvans May I have a update on the request? What is the SLA I should expect for a request submit?

[2019-07-01 08:39] tknerr commented on #1583
Hi @djpmsft, thanks for elaborating!

Are there any plans to change that in the future, or is the current situation how it is intended to be?

I'm asking, because we are trying to do the whole deployment via ARM, but this introduces extra deployment scripts / steps required before and after ARM deployment of datafactories. From our experience so far with deploying Azure resources via ARM this seem

[2019-07-01 16:53] CeciAc commented on #1671
Hello, @shunkino

Thank you for your feedback.

We are actively reviewing your comments and will get back to you soon.

Kind regards,
Microsoft DOCS International Team

[2019-07-01 18:19] mairaw commented on #1676
@drewbatgit can you take a look at this issue?

[2019-07-01 18:20] mairaw commented on #1669
@GrantMeStrength can you take a look at this issue?

[2019-07-01 21:39] dendeli-msft commented on #848
We just confirmed that this issue is with the Try .NET code, and outside docs.microsoft.com. @LadyNaggaga - please route to your team for further investigation.

[2019-07-01 21:39] #848 closed

[2019-07-02 06:16] bchicoye opened #1678 "Technical support is supposed to be opened from 8AM to 9PM and it is closed at 5:30 PM and is not opened at 8:10 AM."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-07-02 06:19] bchicoye commented on #1678
Technical support is supposed to be opened from 8AM to 9PM and it is closed at 5:30 PM and 8:10 AM.

"Support technique:

"Français: Lun-Ven 8 AM-9 PM
"Anglais: 24 heures sur 24, 7 jours sur 7
"Autre numéro de téléphone: 01 57 32 42 97
"Frais d'appels locaux appliqués

[2019-07-02 06:37] unpredictablegourav commented on #1666
Hi There,

Do we have any update on it.

Thanks,
Gourav Kumar

From: welcome[bot] <notifications@github.com>
Sent: 27 June 2019 03:13 PM
To: MicrosoftDocs/feedback <feedback@noreply.github.com>
Cc: Gourav Kumar <gouravin@outlook.com>; Author <author@noreply.github.com>
Subject: Re: [MicrosoftDocs/feedback] Project blocked (#1666)

Thank you for creating the issue! One of our team members will get

[2019-07-02 06:54] MSDN-WhiteKnight opened #1679 "Pull request builds fail in localized repositories"
Pull requests in localized repositories generate build errors such as:

Examples:

- https://github.com/dotnet/dotnet-api-docs.ru-ru/pull/27
- https://github.com/dotnet/dotnet-api-docs.ja-jp/pull/99

[2019-07-02 07:32] PremK6969 opened #1680 "Ways to Perform AAM in SP Online"
Hi, Can you please let me know if there is any alternate way to perform Alternate Access Mapping (AAM) in SharePoint Online ?
I had a requirement to change the domain name of the Site we are using in Our Company for exmaple  "https://sssoft.sharepoint.com/sites/sss/SitePages/DevHome.aspx"to "www.sssoft.com" like that kind of User friendly URL.
Please suggest me any alternate for this requirement.

[2019-07-02 09:23] workeraccount001 opened #1681 "wrong code"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/wmisdk/swbemeventsource

**Problem:**
What's wrong with the article?
set svc =
CreateObject("Wbemscripting.SWbemLocator")._
   ConnectServer(,"root\cimv2")
should be
set svc = _
Crea

[2019-07-02 09:38] jmcbkk opened #1682 "Usage details field definitions Property Type Typo"
**Link to article:**
https://docs.microsoft.com/en-us/rest/api/billing/enterprise/billing-enterprise-api-usage-detail#usage-details-field-definitions

**Problem:**
typo -  property "consumedServiceID" should be "consumedServiceI**d**"

[2019-07-02 16:12] WolfMachine opened #1683 "So many issues, typos, format issues"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
Tell us where exactly a problem occurs.
1: https://docs.microsoft.com/en-us/windows/desktop/learnwin32/your-first-windows-program
2: https://docs.microsoft.com/en-us/windows/desktop/learnwin32/your-first-direct2d-program

**Problem

[2019-07-02 16:48] jialge commented on #1373
Thank you for the feedback.  We have been discussing this inside the team recently.   We will revisit this behavior when we bring in certification badges later this year.   For certification badges, we definitely want to have a page that shows 'You' earned it.   It will be the perfect timing for us to redesign the entire badge sharing behavior.

[2019-07-02 18:44] bodhigautam commented on #1671
@SonjaSaltzman @CeciAc we are working on it. cc @DavidPrio

[2019-07-02 21:28] ryanmajidi commented on #1616
@DevProJC  When you click the download link there is a Terms of Use. If you click 'I agree' the download starts. is this the experience you are getting?

[2019-07-02 21:29] ryanmajidi commented on #1582
Closing issue. @HemaShalini Please open a new issue if this is still a problem.

[2019-07-02 21:29] #1582 closed

[2019-07-02 21:30] ryanmajidi commented on #1552
@GrantMeStrength Can you please take a look at this issue?

[2019-07-02 21:31] #1550 closed

[2019-07-02 21:34] ryanmajidi commented on #1542
@newpost Please see [this page for submitting a problem with VS](https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio?view=vs-2019)

[2019-07-02 21:34] #1542 closed

[2019-07-02 21:36] ryanmajidi commented on #1673
@GrantMeStrength Can you please take a look at this issue?

[2019-07-02 21:38] ryanmajidi commented on #1683
@GrantMeStrength Can you please take a look at this issue?

[2019-07-02 21:44] mairaw commented on #1634
Closing this since @robinsh has fixed it. Let us know if this is not the broken link you were referring to @toledotown.

[2019-07-02 21:44] #1634 closed

[2019-07-02 21:47] mairaw commented on #1636
Thanks for your feedback @RobSiklos. I've moved this issue to https://github.com/dotnet/dotnet-api-docs/issues/2685.

[2019-07-02 21:47] #1636 closed

[2019-07-02 21:48] ryanmajidi commented on #1681
@GrantMeStrength Can you please take a look at this issue?

[2019-07-02 21:51] ryanmajidi commented on #1679
@SonjaSaltzman Can you please take a look at this issue?

[2019-07-02 21:51] ryanmajidi commented on #1677
@GrantMeStrength can you please take a look at this issue?

[2019-07-02 21:52] mairaw commented on #1632
@jhutchings1 can you look at this issue?

[2019-07-02 21:53] ryanmajidi commented on #1675
@saldana Can you please take a look at this issue?

[2019-07-02 21:55] ryanmajidi commented on #1670
@SonjaSaltzman Can you please take a look at this issue?

[2019-07-02 21:56] SonjaSaltzman commented on #1679
@DavidPrio and cc: @JasonCard

[2019-07-02 21:57] ryanmajidi commented on #1667
@paulcre99 Is this happening with just bing or also with docs.microsoft.com?

[2019-07-02 21:58] SonjaSaltzman commented on #1670
@vinceno and @krisre  could you please check into this?

[2019-07-02 22:01] ryanmajidi commented on #1665
@rloutlaw Can you please take a look at this issue?

[2019-07-02 22:02] ryanmajidi commented on #1664
@zeltrax00 What is the issue you are having?

[2019-07-02 22:03] ryanmajidi commented on #1663
@sudeepku Can you please take a look at this issue?

[2019-07-02 22:06] jhutchings1 commented on #1632
@mairaw I'm not a maintainer for those docs anymore, although considering [the announcement that support for HealthVault is sunsetting](https://www.neowin.net/news/microsoft-healthvault-to-close-on-november-20), this documentation should will probably go with it. @abhijeett what do you think?

[2019-07-02 22:09] krisre commented on #1670
@TakiyaNakano-MSFT - Takiya, this file will be included in our HO next week and the string will be updated to the correct phrasing.  I apologize it is taking so long to get this fixed.

@SonjaSaltzman @vinceno - FYI.

[2019-07-02 22:18] bodhigautam commented on #1671
@SonjaSaltzman @CeciAc @DavidPrio This is resolved now.

[2019-07-02 23:44] rloutlaw commented on #1665
@csmurthy This is an issue with the Azure resource provider in question and its API specification, not the documentation platform (Docs).

I would open up an issue over at https://github.com/Azure/azure-rest-api-specs for issues to get the API specification team looking at the behavior.

[2019-07-03 00:01] nogic1008 commented on #1679
In my PRs, it was only caused at [dotnet/dotnet-api-docs.ja-jp](/dotnet/dotnet-api-docs.ja-jp), not at [dotnet/docs.ja-jp](/dotnet/docs.ja-jp).

[2019-07-03 01:31] workeraccount001 commented on #1681
copy code of that page , and run, it will prompt "D:\work\code\WMI\2.vbs(2, 10) Microsoft VBScript 编译器错误: 语法错误"

[2019-07-03 04:13] oreleraki opened #1684 "Links are broken for "Interlocked Variable Access""
https://docs.microsoft.com/en-us/windows/desktop/sync/interlocked-variable-access

Links are broken

[2019-07-03 04:55] shunkino commented on #1671
@bodhigautam
Grad to hear that :)
I've checked the fix in my language. Thanks.

[2019-07-03 07:02] workeraccount001 opened #1685 "wrong code"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2003/cc784966(v=ws.10)

**Problem:**
What's wrong with the article?
section example:
PROCESS GET NAME /FORMAT:XML.XSL /TRANSLATE:BASICXML
should be
PR

[2019-07-03 08:15] OnRoman opened #1686 "could you please remove us from the blacklist?"
Hello there!
We are an American service and we send a request to your service
"{"eur.olc.protection.outlook.com":["220 AM5EUR02FT052.mail.protection.outlook.com Microsoft ESMTP MAIL Service ready at Fri, 14 Jun 2019 11:27:45 +0000","HELO app.proofy.io","250 AM5EUR02FT052.mail.protection.outlook.com Hello [134.209.230.122]","MAIL FROM:<>","550 5.7.1 Unfortunately, messages from [134.209.230.122] we

[2019-07-03 08:29] mairaw commented on #1671
Thank you @bodhigautam! Closing the issue then.

[2019-07-03 08:29] #1671 closed

[2019-07-03 09:13] popujol commented on #1623
@jimholtz can you confirmed you could clarify ?

[2019-07-03 11:04] MSDN-WhiteKnight commented on #1675
https://social.msdn.microsoft.com/Forums/en-US/dc4002e4-e3de-4b1e-9a97-3702387886cc/verify-account-42?forum=reportabug

[2019-07-03 12:15] bootsinthecity opened #1687 "Container Recipes Link Broken under Next Steps"
**Describe the bug**
Container Recipes Link is Broekn

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/en-us/azure/cognitive-services/cognitive-services-container-support#next-steps'
2. Click on 'container recipes'
3. See 404 error

**Expected behavior**
I expected to see another webpage.

[2019-07-03 13:50] tommai78101 commented on #1231
Any updates on this matter? Thanks.

[2019-07-03 15:31] birds3chas opened #1688 "TechNet site won't let me include links in my posts. Says my account is not verified."
I can post things to the the TechNet site but when I try to include a web link it pops up & says I can't because my account is not verified. What do I need to do? I am registered with the TechNet site.

[2019-07-03 16:33] WhiteSmith137 opened #1689 "IsDialogMessage § Remarks ¶ 4"
In the articles for `IsDialogMessageA` and `IsDialogMessageW`, in the "Remarks" section, paragraph 4:

This contradicts the article for `WM_GETDLGCODE`, which (correctly) specifies that the message is sent to a *control*, not the dialog box itself. I believe the correction could be something like this:

https://docs.microsoft.com/en-us/windows/win32/api/winuser/nf-winuser-isdialogmessagew#remarks

[2019-07-03 17:04] CeciAc commented on #1679
Hello, @MSDN-WhiteKnight

Thank you for your feedback.

We are actively reviewing your comments and will get back to you soon.

Kind regards,
Microsoft DOCS International Team

[2019-07-03 17:50] ryanmajidi commented on #1688
@birds3chas Where are you trying to make a post?

[2019-07-03 17:51] ryanmajidi commented on #1689
@GrantMeStrength Can you please take a look at this issue?

[2019-07-03 17:56] ryanmajidi commented on #1687
Moved to Azure repo issue: https://github.com/MicrosoftDocs/azure-docs/issues/34481

[2019-07-03 17:56] #1687 closed

[2019-07-03 17:58] #1686 closed

[2019-07-03 18:01] ryanmajidi commented on #1685
@GrantMeStrength Can you please take a look at this issue?

[2019-07-03 18:02] ryanmajidi commented on #1684
@GrantMeStrength Can you please take a look at this issue?

[2019-07-03 18:56] ryanmajidi commented on #1643
@akiyoshi  Thank you for this feedback. We have added this to our internal bug tracking system.

[2019-07-03 18:56] ryanmajidi commented on #1672
@ibakirov Thank you for this feedback. We have added this to our internal bug tracking system.

[2019-07-03 18:56] #1672 closed

[2019-07-03 18:56] #1643 closed

[2019-07-03 19:04] ryanmajidi commented on #1668
@ym9288 moved to the entity framework core issues: https://github.com/aspnet/EntityFrameworkCore/issues/16434

[2019-07-03 19:04] #1668 closed

[2019-07-03 19:07] ryanmajidi commented on #1659
@eligr Can you please take a look at this issue?

[2019-07-03 19:08] ryanmajidi commented on #1657
@grantmestrength Can you please take a look at this issue?

[2019-07-03 20:33] birds3chas commented on #1688
https://social.technet.microsoft.com/Forums/en-US/939cfd24-a0ea-4ca1-9cbc-92ddd0bea4db/screen-flickers-wildly-only-in-safe-mode?forum=win10itprogeneral

[2019-07-04 01:29] stevewhims commented on #1673
For this, I’ve created a User Story for myself: https://dev.azure.com/ceapex/Windows%20Dev%20Content/_workitems/edit/102806.

Do you know exactly what changes need to be made? Or a contact who can help put the content together?

[2019-07-04 01:56] clandrew commented on #1673
It might be enough to link to these:
https://docs.microsoft.com/en-us/windows/win32/api/d3d12/nf-d3d12-id3d12device-createsharedhandle
https://docs.microsoft.com/en-us/windows/desktop/direct3d12/direct3d-11-on-12

Between these two pages it covers much of the API surface for the kinds of interop listed out at the top.
If you want something more in depth you can get in touch with me/Jesse/d3ddev al

[2019-07-04 02:22] stevewhims commented on #1673
I think that amount of info feels right for this workstream. So, I just merged https://github.com/MicrosoftDocs/win32-pr/pull/128. I don't know when that merge will make its way to the live site; win32-pr has been very slow for me the past 24 hours.

[2019-07-04 02:24] nschonni commented on #1673
@stevewhims do you know if there are plans for a public win32 repo?

[2019-07-04 02:32] stevewhims commented on #1673
I'm not aware of a schedule, nor firm plans.

[2019-07-04 02:34] nschonni commented on #1673
no worries, I thought I'd ask since a chunk of the stuff that ends up in this repo is related to that content. An open issue tracker with the comment integration would be helpful, event if the content isn't

[2019-07-04 02:56] gallop1 opened #1690 "下载的pdf文件是中文繁体，请弄成中文简体，只有香港人才会默认这个，中国都是中文简体"
下载的pdf文件是中文繁体，请弄成中文简体，只有香港人才会默认这个，中国都是中文简体，这个不好阅读。

[2019-07-04 06:03] OnRoman commented on #1686
Hello there!
Could please answer, how we can solve this problem, and what we should do to solve this problem(please explain)?
Our service Proofy.io -- is service for bulk email validation and please help me.
Looking forward

[2019-07-04 06:12] nschonni commented on #1686
This is a repo for feedback on the documentation site. As the bot mentions their is a page that lists support channels at https://support.microsoft.com/allproducts

[2019-07-04 06:45] OnRoman commented on #1686
ok, could you please tell me what product I should choose?
and how can I contact with the right person?

[2019-07-04 07:00] KislitsynMikhail opened #1691 "Syntax C#"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.
kislitsyn19997@gmail.com
kislitsyn97@yandex.ru

**Link to article:**
Tell us where exactly a problem occurs.
https://docs.microsoft.com/en-us/dotnet/api/system.threading.cancellationtokensource?view=netframework-4.8

**Problem:**
What's wrong with the a

[2019-07-04 07:28] OnRoman commented on #1686
Is it a problem with servers?
could you please help me with this issue?
Looking forward

[2019-07-04 08:55] kaijen1 opened #1692 "SSIS教學課程第二課無法操作"
https://docs.microsoft.com/zh-tw/sql/integration-services/lesson-2-3-modifying-the-flat-file-connection-manager?view=sql-server-2017

SSIS教學的課程2-3
5.在 [運算式] 資料行中，選取省略符號按鈕 (…) 以開啟 [運算式產生器] 對話方塊。
6.在 [運算式產生器] 對話方塊中，展開 [變數] 節點。
7.將變數 [User::varFileName] 拖曳至 [運算式] 方塊中。

以上內容的部分我在運算式產生器那邊無法看到封裝變數所以無法繼續操作了
(那邊我只能看到Project.params的變數，無法看到設在Lession 2底下的變數)
我看其他人的教學他們都可以，請問是不是我哪邊做錯了

我使用的是
適用於 Visual Studio

[2019-07-04 11:08] Taylor-Hasterd opened #1693 "Order of code comment is incorrect"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
Tell us where exactly a problem occurs.
https://docs.microsoft.com/en-us/windows/win32/xaudio2/how-to--load-audio-data-files-in-xaudio2

**Problem:**
What's wrong with the article?
In the last code example showed in this article:

[2019-07-04 16:47] CeciAc commented on #1494
Hi team
any update on this?
best

[2019-07-04 20:22] stevewhims commented on #1673
Ok, the fix is now live (https://docs.microsoft.com/windows/win32/direct3d12/direct3d-12-with-direct3d-11--direct-2d-and-gdi#interop-apis); ready to close.

[2019-07-04 20:32] nschonni commented on #1673
FYI, your last link has the "en-us" hardcoded in the URL, and that will break the localization

[2019-07-04 21:22] stevewhims commented on #1673
Thanks for taking a close look, Nick, I will kick off an investigation internally as to what's going on here. The issue that you're seeing might be fallout from a recent change made to our build system, but it's not a problem with the authoring.

It is, as you say, very important not to hardcode the language tag into any link. Here, the source .md file in our content management system (CMS) contai

[2019-07-04 21:31] nschonni commented on #1673
:+1: it's possible that someone put the language tag into the .openpublishing.redirection.json (sorry, I've PR'd to too many docs repos :wink: )
FYI, on the en-ca, i'm seeing the reverse, where the relative links are fine, but the third absolute has the locale
[code]

[2019-07-04 22:03] stevewhims commented on #1673
That's the kind of thing, but there's no "en-us" in the redirection file for this repo. But, yeah, I'm sure it'll turn out to be a config issue like that. Doing some experimentation here and comparing behavior of topics in windows-uwp-pr and win32-pr, I'm seeing a different value for contentLocale being set in the script in the page source. For windows-uwp-pr, contentLocale is set to the browser l

[2019-07-05 10:51] dominionish opened #1694 "Identity picker and scroll"
Hello everyone!

I use this react component from azure-devops: https://azdevui.azureedge.net/azure-devops/components/identity-picker and it is great!

But I found one small issue. You can reproduce it right on component page description  (https://developer.microsoft.com/en-us/azure-devops/components/identity-picker)
1. Click on component field
![image](https://user-images.githubusercontent.com/895

[2019-07-05 11:48] geirivarjerstad opened #1695 "Typo in docs => Azure Container Service (AKS)"
Typo in:
https://docs.microsoft.com/en-us/rest/api/containerregistry/

Is:

Azure Container Service (AKS) - Deploy and manage containerized applications in a hosted Kubernetes environment.

Should be:

Azure Kubernetes Service (AKS) - Deploy and manage containerized applications in a hosted Kubernetes environment.

[2019-07-05 18:25] sudeepku commented on #1695
@geirivarjerstad - thank you for your feedback. I have transferred the issue to  source repo where this topic was written and notified the writers.

[2019-07-05 18:25] #1695 closed

[2019-07-05 18:39] sudeepku commented on #1693
@GrantMeStrength - could you please take a look and assign as appropriate.

[2019-07-05 18:48] sudeepku commented on #1694
@dominionish - thanks for your feedback. Could you please report this issue here https://developercommunity.visualstudio.com/spaces/21/index.html .

[2019-07-05 18:48] #1694 closed

[2019-07-05 18:54] sudeepku commented on #1692
@SonjaSaltzman  could you please help triage .

[2019-07-05 18:57] sudeepku commented on #1690
@SonjaSaltzman  - please help triage and assign as appropriate.

[2019-07-05 19:03] sudeepku commented on #1691
@KislitsynMikhail - thanks for your feedback. You can use the programming language selector from the top  to change it to another programming language available.
![image](https://user-images.githubusercontent.com/16726119/60741021-d00e2780-9f1c-11e9-9e2c-8f53be55e0d2.png)

[2019-07-05 19:04] sudeepku commented on #1691
@mairaw FYI.

[2019-07-05 19:04] #1691 closed

[2019-07-05 19:23] sudeepku commented on #1662
@laughingliu0603  - Microsoft documentation usage is governed by the Terms of use document , https://docs.microsoft.com/legal/termsofuse. Redistribution of Microsoft content is prohibited.
Please refer to the terms of use link above

[2019-07-05 19:23] #1662 closed

[2019-07-05 19:36] mairaw commented on #1691
I don't understand the original feedback. If you can point out where you think you were seeing syntax that is not C# @KislitsynMikhail, that would help understand if there's really a problem with the page or not. I'm looking at it and when I have C# selected, all I see is C# code.

[2019-07-05 19:50] KislitsynMikhail commented on #1691
Maybe, I said not clear. I mean that in C# block opens on a new line, and in JavaScript it is not so.For example:C#:void MethodName(){//Code}JS:function funcName () {//Code}I understand that it is not very important, but in C# so accepted. And for me and other people is read a C# code in js-style is very hard. 12:36 AM, July 6, 2019, Maira Wenzel <notifications@github.com>:I don't understand the o

[2019-07-05 20:08] mairaw commented on #1691
The response is not formatted properly @KislitsynMikhail so both C# and JS examples look the same. Are you referring to using [Allman style braces](https://en.wikipedia.org/wiki/Indentation_style#Allman_style)?
That would be our preferred coding style indeed and we could fix that if that's what you're referring to.

[2019-07-05 20:15] KislitsynMikhail commented on #1691
Thank you. And sorry for my English and not clear sentences. Your site helps me and my colleagues a lot. Thanks. 1:08 AM, July 6, 2019, Maira Wenzel <notifications@github.com>:The response is not formatted properly @KislitsynMikhail so both C# and JS examples look the same. Are you referring to using Allman style braces?
That would be our preferred coding style indeed and we could fix that if that

[2019-07-05 23:00] the-wazz opened #1696 "CSS highlighting is covering code"
https://docs.microsoft.com/en-us/aspnet/identity/overview/getting-started/introduction-to-aspnet-identity

code highlighting i covering up code.

[2019-07-06 00:21] mairaw commented on #1696
Thanks for your feedback @the-wazz. I'm checking with our engineering team what's going on with that function.

[2019-07-06 00:25] dendeli-msft commented on #1696
#log-suggestion

[2019-07-06 02:04] alvinvinalon opened #1697 "Remove-AzureRmDataFactoryV2Trigger does not work in Azure DevOps Azure Powershell Task"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/powershell/module/azurerm.datafactoryv2/remove-azurermdatafactoryv2trigger?view=azurermps-4.4.1

**Problem:**
The command **Remove**-AzureRmDataFactoryV2Trigger fails in Azure DevOps Azure Powershel

[2019-07-06 02:37] jaykrell opened #1698 "PECOFF out of date caveat about TLS"
https://docs.microsoft.com/en-us/windows/win32/debug/pe-format

says:

 Note
Statically declared TLS data objects can be used only in statically loaded image files. This fact makes it unreliable to use static TLS data in a DLL unless you know that the DLL, or anything statically linked with it, will never be loaded dynamically with the LoadLibrary API function.

But that is incorrect since Vista,

[2019-07-06 21:54] GH-Rake commented on #1625
Confirmed, still an issue

[2019-07-06 23:15] SonjaSaltzman commented on #1690
@DavidPrio
Translation: The downloaded pdf file is Chinese traditional, please make a Chinese simplified, only Hong Kong people will acquiesce to this, the mainland is Chinese simplified, this is not easy to read.  Could you please follow up with gallop1 to find out which PDF is the wrong language and address it?

[2019-07-06 23:17] SonjaSaltzman commented on #1692
@davidprio, could you please follow up? cc @RyanKing77

[2019-07-07 06:21] MSDN-WhiteKnight commented on #1531
Pull request in localized API Docs are now built, but the build fails each time (see https://github.com/MicrosoftDocs/feedback/issues/1679). Pull request in other localized repositories still don't build and generate the same notifiaction.

[2019-07-07 06:24] MSDN-WhiteKnight commented on #1688
See this thread: https://social.technet.microsoft.com/Forums/en-US/dc4002e4-e3de-4b1e-9a97-3702387886cc/verify-account-42?forum=reportabug

[2019-07-07 07:17] alvinvinalon commented on #1697
I found the solution. Use **Remove-AzDataFactoryV2Trigger** instead or AzureRM.

For some reason, AzureRM does not work in Azure Powershell task in AzureDevOps. Interestingly, if you use Azure CLI task, Az does not work.

[2019-07-07 07:17] #1697 closed

[2019-07-07 10:26] roji opened #1699 ".NET API browser: sort order makes no sense"
When searching for an API in the [.NET API Browser](https://docs.microsoft.com/en-us/dotnet/api/?term=dictionary), results come out in a very odd and unproductive order. For example, searching for Dictionary yields:

[code]

The typical class being searched for - System.Collections.Generic.Dictionary - is in 9th place, after some explicitly obsolete types (Java.Util.Dictionary) and some extremely

[2019-07-07 10:29] roji opened #1700 ".NET API Browser: include nuget package which contains the API"
On the [.NET API Browser](https://docs.microsoft.com/en-us/dotnet/api/), the namespace and assemblies including APIs are mentioned. However, the nuget package containing the API is arguably much more important than the assembly.

For example, looking at [HttpUtility.ParseQueryString() on .NET Core](https://docs.microsoft.com/en-us/dotnet/api/system.web.httputility.parsequerystring?view=netcore-2.2

[2019-07-07 13:03] zogi opened #1701 "HLSL sm4 ALM reference for round_ni incorrectly refers to round_ne"
**Link to article:**
https://docs.microsoft.com/en-us/windows/win32/direct3dhlsl/round-ni--sm4---asm-

**Problem:**
In the Remarks section the article states:
"round_ne rounds toward -infinity, commonly known as floor()."
Should refer to round_ni instead of round_ne (the latter rounds towards nearest even).

![hlsl_asm_round_ni_feedback](https://user-images.githubusercontent.com/2511923/60768781-3

[2019-07-07 15:32] Rick-Anderson commented on #1696
Also logged in https://github.com/aspnet/AspNetCore.Docs/issues/13143

[2019-07-07 16:04] birds3chas commented on #1688
Thank you so much for your help!
Patty

-------Original Message-------

From: MSDN.WhiteKnight
Date: Sunday, July 7, 2019 2:24:09 AM
To: MicrosoftDocs/feedback
Cc: birds3chas;  Mention
Subject: Re: [MicrosoftDocs/feedback] TechNet site won't let me include
links in my posts. Says my account is not verified. (#1688)

See this thread: https://social.technet.microsoft
com/Forums/en-US/dc4002e4-e3de-4

[2019-07-07 19:29] Karl-WE commented on #1641
A further notice on this. L1TF, SSB patches say they are Catalog only. But they appear on WSUS. So apparently this information is outdated. Please check.

[2019-07-08 00:38] kaijen1 commented on #1692
已經解決了，謝謝

在連線管理員上面按下滑鼠右鍵，選擇轉換成封裝連接就可以抓到封裝的變數了。

[2019-07-08 01:41] rminut opened #1702 "Fraud E mail"
You got recorded -
Jul 7 at 7:47 PM
PrintRaw message
Save Yourself <SaveYourself30@9271.com>
To: rminut@sbcglobal.net
Hi, I know one of your passwords is:  - but not only that!

Your computer was infected with my private malware, because your browser wasn't updated / patched, in such case it's enough to just visit some website where my iframe is placed to get automatically infected, if you want to

[2019-07-08 02:18] jefflaing opened #1703 "? button on Visual Studio 2019 Add to Source Control dialog"
**Link to article:**
https://docs.microsoft.com/en-us/previous-versions/ms181392(v=vs.100)

**Problem:**
This page displays a banner suggesting it is obsolete content.
This is from the help button in the absolute latest version of Visual Studio 2019.

[2019-07-08 05:57] dominionish commented on #1694
https://developercommunity.visualstudio.com/content/problem/636085/identity-picker-and-scroll.html

[2019-07-08 06:03] jonathanneo opened #1704 "Throttling limit seems to be 60 minutes and not 60 seconds"
**Link to article:**
https://docs.microsoft.com/en-gb/connectors/powerbi/

**Problem:**
Throttling limit seems to be 60 minutes and not 60 seconds.

Could you please check if it is 60 minutes, and not 60 seconds? And if so, please update documentation to reflect the correct figure.
![image](https://user-images.githubusercontent.com/16749633/60786428-1e276300-a189-11e9-85f8-15ca28e0b8dc.png)

[2019-07-08 09:55] psychicteeth opened #1705 "Visual Studio and Visual Assist: Intellisense/suggestion tooltips no longer capturing keyboard input"
**Describe the bug**

We are using VS 2017 build 15.9.11 and Visual Assist, which I acknowledge is not built by Microsoft, build 10.9.2333.0.

What is happening is that when VA offers a suggestion tooltip, keyboard entry is no longer captured by the tooltip.

The effect of this is that the cursor in the code editor moves when cursor keys are pressed, and a press of enter or tab or whatever key is

[2019-07-08 14:39] psychicteeth commented on #1705
Just to update this issue, it appears that build 1.5.0.10 od Incredibuild Build Acceleration Visual Studio extension is incompatible with Visual Assist 10.9.2333.0. This is not an issue for Microsoft to solve I expect.

[2019-07-08 14:39] #1705 closed

[2019-07-08 15:33] CeciAc commented on #1690
你好，@gallop1
我们诚挚感谢你的评论，我们会努力改善你在 docs.microsoft.com 的使用体验。但是，为了解决你的反馈，我们需要更多信息。你可以提供更为详细的信息并阐明你的评论吗？
**请提供URL**

顺祝商祺！
Microsoft DOCS 国际团队

[2019-07-08 15:44] sudeepku commented on #1702
@rminut . This is not a documentation feedback. Please visit https://support.microsoft.com/allproducts to open a support request.

[2019-07-08 15:44] #1702 closed

[2019-07-08 17:38] ryanmajidi commented on #1704
@miriver can you please take a look at this issue?

[2019-07-08 17:50] MorpheusNetwork commented on #1568
The "the password is too long" error message also does not provide any indication what the password limits and requirements are, other than to say there is a minimum 8 character limit.

The password limit should be removed.
The password requirements should be clearly indicated on the registration page.

[2019-07-08 17:56] miriver commented on #1704
@ryanmajidi I don't work on the Connectors team anymore. Please email RoAceves / PratikP to find the right owner.

[2019-07-08 18:07] ryanmajidi commented on #1703
@ghogen Can you take a look at this? Do you know what the correct topic is this shortid should be redirecting to?

[2019-07-08 18:09] Crypt32 commented on #1064
Another one: https://docs.microsoft.com/en-us/windows/win32/api/certcli/nf-certcli-icertconfig-getconfig

The HTML is not properly escaped and part of content is in bold because closing `<b>` tag is escaped as literal, not HTML tag.

[2019-07-08 18:13] Crypt32 opened #1706 "Improperly escaped HTML tags"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/windows/win32/api/certcli/nf-certcli-icertrequest2-getcapropertydisplayname
https://docs.microsoft.com/en-us/windows/win32/api/certcli/nf-certcli-icertrequest2-getcapropertyflags
https://docs.micros

[2019-07-08 18:14] Crypt32 commented on #1064
So far so good. Thanks!

[2019-07-08 18:14] #1064 closed

[2019-07-08 19:09] VitalyBruk opened #1707 "Banned?"
Why I get **Your account does not have access to the forums system** message on https://social.technet.microsoft.com/Forums/en-us/home login?

Profile
https://social.technet.microsoft.com/profile/vitalybruk/

What I did wrong?

[2019-07-08 21:36] ryanmajidi commented on #1698
@GrantMeStrength Can you please take a look at this issue?

[2019-07-08 21:38] ryanmajidi commented on #1699
@rloutlaw Can you please take a look at this issue?

[2019-07-08 21:39] ryanmajidi commented on #1700
@rloutlaw Can you please take a look at this issue?

[2019-07-08 21:41] ryanmajidi commented on #1701
@GrantMeStrength Can you please take a look at this issue?

[2019-07-08 21:42] ryanmajidi commented on #1616
@DevProJC I'm closing this. Please open another issue if you are still having problems.

[2019-07-08 21:42] #1616 closed

[2019-07-08 21:43] ryanmajidi commented on #1707
@saldana Can you please take a look at this issue?

[2019-07-08 21:44] ryanmajidi commented on #1706
@GrantMeStrength Can you please take a look at this issue?

[2019-07-08 21:50] saldana commented on #1707
@VitalyBruk can you provide more information on when  you get such message? The forums are accessible anonymously, and you only need an account when you are trying to do a write action on the site, such as ask a question, provide an answer, vote, etc.

[2019-07-08 21:54] ryanmajidi commented on #1688
Thank you @MSDN-WhiteKnight

[2019-07-08 21:54] #1688 closed

[2019-07-08 22:02] revanth1996 commented on #1704
The throttling limit is for 60 seconds. We allow 100 API calls per connection per 60 seconds

[2019-07-08 22:04] ryanmajidi commented on #1656
@tfitzmac Can you please take a look at this issue?

[2019-07-08 22:20] dendeli-msft commented on #1696
This issue has been fixed and the content should be rendering properly now.

[2019-07-08 22:20] #1696 closed

[2019-07-08 22:27] jaykrell commented on #1698
There are a few other problems here.
1. It gives a 32bit-specific offset.
It is double that for 64-bit.
2. It says “4” instead of pointer-sized.
3. It says the allocation occurs when thread is created.
That was true before Vista. It can now be later, at module load.

[2019-07-08 22:48] saldana commented on #1675
@slishnevsky In order to verify your account, please follow below steps.

1)  Go to: http://social.microsoft.com/Forums/en-US/home?forum=reportabug
2)  Click open the sticky thread at the top of the forum; usually named as 'Verify Your Account XX'.
3)  Post a message to get verified.

[2019-07-09 00:31] weitzhandler opened #1708 "Suggestion: Implement full exam/certification prep in Microsoft Learn"
It would be awesome if Microsoft Learn offered full exam and education path exam prep.

For instance a learning path that takes you through full preparation for the 70-483 C# exam, or even full MCSA/MCSD learning paths.
Turning MS Learn into a full MOOC and offer online exams/prep-exams as well would be even more amazing.

Thank you!

[2019-07-09 02:02] gallop1 commented on #1690
@CeciAc https://docs.microsoft.com/zh-cn/aspnet/overview 这个页面点击下载PDF，然后下载到的是繁体的pdf文档。

[2019-07-09 05:50] siluric opened #1709 "Why"

[2019-07-09 05:50] #1709 closed

[2019-07-09 07:54] VitalyBruk commented on #1707
Thanks @saldana
I want to write action on the forums and be a useful part of the community.
Two days ao I did log in for the first time, day after that - already get that message: **Your account does not have access to the forums**. I do not know what I did wrong and why it is so ...

My profile:
https://social.msdn.microsoft.com/profile/vitalybruk/
or
https://social.technet.microsoft.com/profile/

[2019-07-09 16:12] Darnley commented on #1672
The samething here.
![image](https://user-images.githubusercontent.com/4915497/60905342-3cee2e00-a24b-11e9-951e-8538e0c6274f.png)

[2019-07-09 16:38] drewbatgit commented on #1543
The redirection for this link has been updated and it now points to the GetEnvironmentStrings function. Thanks for your feedback on this issue.

[2019-07-09 16:38] #1543 closed

[2019-07-09 17:50] NReilingh opened #1710 ""Recommended Version" banner displays on pages with no newer version"
**Describe the bug**
When viewing a page of documentation on a supported feature that was last documented in a previous version of windows (and does not have documentation in the current version docs), a banner displays on the page asking the reader to navigate to a "Recommended Version" that does not exist, so the reader is instead navigated to the root of the current version docs.

**To Reproduc

[2019-07-09 18:59] ryanmajidi commented on #1658
@ibakirov Thank you for submitting this issue. This has been added to our internal issue tracking system.

[2019-07-09 18:59] #1658 closed

[2019-07-09 19:05] ryanmajidi commented on #1655
@sdwheeler Can you please take a look at this issue?

[2019-07-09 19:11] sdwheeler commented on #1655
That content is owned by @AndreaBarr.

[2019-07-10 00:51] djpmsft commented on #1583
This is intended. Starting and stopping triggers can affect long-running pipelines, we want users to explicitly start and stop them.

[2019-07-10 02:29] saldana commented on #1707
We appreciate your willingness to participate in the forums @VitalyBruk. I have sent a mail to my support team asking them why see the error below. You should not see that for us. Thanks a lot for the additional information and screenshot. I will come back to you as soon as my support team investigates this further. Thank you.

[2019-07-10 10:37] Sdhadmin opened #1711 "Dead link on TechNet email verification email"
**Describe the bug**
Already a TechNet member.  Entered email address to receive notification of submissions on a question I have posed.  Receive an automated email asking me to verify my email address by clicking on the link.  Email attached.
[Forums Email Confirmation.zip](https://github.com/MicrosoftDocs/feedback/files/3377004/Forums.Email.Confirmation.zip)

Clicked on the link and received thi

[2019-07-10 10:53] RJK23 opened #1712 "Spelling mistake"
In this link
https://docs.microsoft.com/en-us/powershell/module/az.network/new-aznetworksecuritygroup?view=azps-2.4.0#description

1: Create a new network securtiy group
Please correct **security** spelling.

[2019-07-10 22:55] saldana commented on #1707
@VitalyBruk can you check again and let us know if the issue is resolved now? Sorry about the trouble.

[2019-07-11 08:38] samurai-ka opened #1713 "Create a self signed certificate script is wrong"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/powershell/azure/active-directory/signing-in-service-principal?view=azureadps-2.0

**Problem:**
The code part in the section **Create a self signed certificate**
`$pwd = "<password>"`
`$thumb = (New

[2019-07-11 10:57] mjimji opened #1714 "Incorrect variable name lpInitData on CreateDCA/CreateDCW"
_**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**._
**I don't see a comment section.**

**Link to article:**
https://docs.microsoft.com/en-us/windows/win32/api/wingdi/nf-wingdi-createdca

**Problem:**
The CreateDCA and CreateDCW functions use the variable name lpInitData but this should be changed to p

[2019-07-11 13:25] onekz commented on #1507
Similar issue with https://docs.microsoft.com/en-us/security-updates/SecurityAdvisories/2015/3033929

[2019-07-11 13:28] h-sadeghpour commented on #1655
It's still not updated!

[2019-07-11 16:09] GreatFireWall opened #1715 "Put the Language button at the top of page for easy changing"
Because most of the time it is through Google search to jump to the document page, sometimes Chinese, sometimes English, but most of the Chinese machine translation is difficult to read, but there are some exceptions.

So I basically decide whether to jump to an English page depending on the quality of translation, but every time I must scroll to the bottom of the page to click Language button or

[2019-07-11 16:50] nschonni commented on #1507
It's weird that the localization repos are open, but not the english https://github.com/MicrosoftDocs?utf8=%E2%9C%93&q=security-updates&type=&language=
But it also looks like they stopped updating content on that site a year ago

[2019-07-11 17:12] drewbatgit commented on #1714
Thanks for reporting this issue! The content has been updated with the new param names. You should see it on the live site in ~24 hours.

[2019-07-11 17:12] #1714 closed

[2019-07-11 17:50] mhepeyiler opened #1716 "Winsock Server Code Build Problem"
Hello to everyone, I have been working on Winsock server code. But I have faced up an error, actually many many errors :) I have written complete code which is given in below link. Then, I build it, I have faced up these -some of it- errors.

`Severity	Code	Description	Project	File	Line	Suppression State
Error	C2568	'=': unable to resolve function overload	Server	c:\users\murat\desktop\programming

[2019-07-11 21:59] KalleOlaviNiemitalo commented on #1609
In microsoft/WPF-Samples#70, the document was moved to <https://github.com/microsoft/WPF-Samples/blob/master/PerMonitorDPI/readme.md>.

[2019-07-11 22:05] KalleOlaviNiemitalo commented on #1504
It seems this was fixed already; "The most reliable way to enumerate" is not formatted as code now.

[2019-07-11 22:19] KalleOlaviNiemitalo commented on #1491
The numbering of bits is documented in [[MS-DTYP] section 2.1 Common Base Types](https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-dtyp/3caa4769-b02f-4cee-a857-8496f4395ec1).  Perhaps there should just be a normative reference from [MS-ERREF] to that.

[2019-07-11 22:53] chrisrharris commented on #828
I had to use InPrivate for this to work as well.  I already had an Azure Free subscription, but the Microsoft Learning does create a new Learning Sandbox that I can switch to. However, I don't seem to have enough permissions to create resources.  The only way I could get around this was using InPrivate, and this seems to happen for each new lesson Sandbox.

[2019-07-11 22:58] #1712 closed

[2019-07-11 23:08] KalleOlaviNiemitalo commented on #1578
It  looks like the PC/SC Workgroup moved the page to <https://www.pcscworkgroup.com/specifications/test-cards/>.

[2019-07-11 23:36] jimholtz commented on #1623
Sorry for the delay. I'm checking on this with the product team.

[2019-07-12 04:14] gatorfan0607 opened #1717 "https://docs.microsoft.com/en-us/learn/"
The website is giving me an error. Is it down or did it change domains?

[2019-07-12 04:28] seungyoon20 opened #1718 "Bug ? in get roleAssignment RESTful API"
**Describe the bug**
I am looking at this page: https://docs.microsoft.com/en-us/rest/api/authorization/roleassignments/listforresource.

 I notice that if i specifies the resource be a blob storage account, I get all the roleAssignments that inherited from upper level, roleAssignments at storage account level, and roleAssignments of lower level(roles that i assign to lower level blob containers).

[2019-07-12 09:47] tknerr commented on #1583
Thanks for clarification @djpmsft !

[2019-07-12 09:47] #1583 closed

[2019-07-12 10:46] VitalyBruk commented on #1707
Thank you @saldana !
Look great, thanks!
Very appreciate it!!

[2019-07-12 13:52] caseygore opened #1719 "the https://docs.microsoft.com/en-us/learn/ is not working"
I keep getting an error 500 message. I even cleared my cookies and cache and I am still getting the error. I have also tried using 3 separate browsers in public and private mode.

[2019-07-12 14:17] mliben opened #1720 "Typo whos should be whose"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
Tell us where exactly a problem occurs.
https://docs.microsoft.com/en-us/powershell/module/azuread/get-azureaduser?view=azureadps-2.0

**Problem:**
What's wrong with the article?
"whos" should be "whose"

[2019-07-12 14:56] andre-ss6 commented on #759
I understand that this issue is a bit different, but anyway this is generally related. I also prefer reading the docs in english, and even though the new "Read in english" option is great, sometimes I still get only portuguese results when searching:

![image](https://user-images.githubusercontent.com/15827357/61136106-5c7a9600-a499-11e9-9f50-cc8a269e5856.png)

Google settings:

![image](https://u

[2019-07-12 15:00] andre-ss6 opened #1721 "Switching "Read in English" on doesn't switch the language on the navigation bars and page title"
**Describe the bug**
When switching "Read in english" on, the page main content is switched to english, but the side navigation bars and the page title on the browser tab remain translated.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/pt-br/aspnet/core/web-api/advanced/formatting?view=aspnetcore-2.2
2. Click on "Ler em Inglês"
3. See error

**Expected beha

[2019-07-12 20:11] andre-ss6 opened #1722 "Contrast for highlighted code in Light theme is way too low"
**Describe the bug**
There are times when there is a lot of code amidst the important piece of code in a specific example. That code is highlighted so that your attention is drawn to it. However, the contrast is _way_ too low for the Light theme.

For reference, here are some pictures from my screen:

![image](https://user-images.githubusercontent.com/15827357/61155444-5d2a2100-a4c7-11e9-8a49-9cd2

[2019-07-12 20:55] ryanmajidi commented on #1711
@saldana can you please take a look at this issue?

[2019-07-12 21:18] ryanmajidi commented on #1722
@andre-ss6 Thank you for the feedback, we have submitted this into our internal ticketing system.

With the current theme it isn't to do with the price of the monitor but primarily with the panel type. There are different types of LCD panels and some of them are better or worse at displaying true colors depending on the viewing angle.

[2019-07-12 21:18] #1722 closed

[2019-07-12 21:31] ryanmajidi commented on #1720
@qinezh Can you please take a look at this issue?

[2019-07-12 21:34] ryanmajidi commented on #1719
@caseygore What page are you trying to view?

[2019-07-12 21:36] ryanmajidi commented on #1718
@rloutlaw can you please take a look at this issue?

[2019-07-12 21:37] ryanmajidi commented on #1715
@SonjaSaltzman Can you please take a look at this issue?

[2019-07-12 21:39] ryanmajidi commented on #1713
@qinezh Can you please take a look at this issue?

[2019-07-12 21:41] ryanmajidi commented on #1710
@GrantMeStrength Can you please take a look at this issue?

[2019-07-12 21:50] ryanmajidi commented on #1717
@gatorfan0607 Are you still having issues? Currently it looks to be working.

[2019-07-12 21:52] ryanmajidi commented on #1708
@weitzhandler  Thank you for the feedback, we have submitted this into our internal ticketing system.

[2019-07-12 21:54] #1708 closed

[2019-07-12 21:55] ryanmajidi commented on #1381
@akiyoshi Thank you for the feedback, we have submitted this into our internal ticketing system.

[2019-07-12 21:55] #1381 closed

[2019-07-12 21:57] SonjaSaltzman commented on #1715
@bodhigautam could you please follow up?

[2019-07-12 21:58] ryanmajidi commented on #1371
@sudeepku Can you please take a look at this issue?

[2019-07-12 22:10] gatorfan0607 commented on #1717
Hey thanks for the reply! Nope, looks like it's good to go.

[2019-07-12 22:11] #1717 closed

[2019-07-13 02:35] Ray-Wynn opened #1723 "DispatcherTimer.Start() - Start resets the timer interval"
DispatcherTimer.Start() does not reset the timer interval if running.

To reset a running DispatcherTimer interval requires either setting IsEnabled false or calling Stop() before calling Start() to reset the interval.

[2019-07-13 09:11] colinkiama opened #1724 "Downloaded PDFs have tripled words in them"
**Describe the bug**
When viewing a downloaded PDF, the content contains a lot of tripled words, making it hard to read.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/en-us/uwp/api/windows.data.json'
2. Click on 'Download PDF'
3. Scroll down to The first namespace section
4. You should see some tripled words on the page. There tripling going on in the rest

[2019-07-13 09:53] KenyaLS opened #1725 "Subject index — an auxiliary index,"
**Subject index** — an auxiliary index, in the headings of the headings of which the objects are named, information about them is contained in the text of the publication and can be a potential search object.
About(Keywords) :printer: :
1. O - OpenApi page in the book 26
2. @ - @page page in the book 26
3. @ - @model page in the book 56
4. @ - @Html.DisplayFor page in the book 56
5. @ - @RenderBod

[2019-07-13 14:55] nevaran opened #1726 "Syntax Highlighting for code examples"
**Is your feature request related to a problem? Please describe.**
Documentations have poor readability for the code examples when they are all pretty much the same color. Especially when in this day and age, pretty much all programming software has syntax highlighting and most sites for sharing them

**Describe the solution you'd like**
Color the code examples with similar to Visual Studio's high

[2019-07-13 15:07] nevaran commented on #1726
After some messing around and site screenshots from other people, I found out the problem of the poor site view and functionality was Chrome automatically blocking cookies and thus somehow breaking 95% of the site functionality.

[2019-07-13 15:07] #1726 closed

[2019-07-13 17:10] chrisrharris commented on #828
I noticed that if I switch back to my default directory, then switch back into the learning directory, the resources appear and permissions are fixed.  No InPrivate/InCognito required.

[2019-07-13 17:48] Alexis-Notine opened #1727 "Learn > Azure > impossible to complete module"
I've finished the module Core Cloud Services - Introduction to Azure but the sandbox is KO :
![sandboxKO](https://user-images.githubusercontent.com/12659351/61174860-6a6a0d00-a5a6-11e9-8c4f-f10e22aa71fb.png)

I have had to use my live Azure account to test VM, so no problem for learning but; IMPACT : impossible to finish the course.

![modulenotcompleted](https://user-images.githubusercontent.com/

[2019-07-13 23:40] Taylor-Hasterd opened #1728 "Word spelled incorrectly."
**Link to article:**
https://docs.microsoft.com/en-us/cpp/cpp/stdcall?view=vs-2019

**Problem:**
In the article, the word "caller" is spelled as "callee" in the first sentence of the article.
The sentence is:

[2019-07-14 03:13] SvensKenR opened #1729 "Mistaken dates on blog comments"
Something seems to be wrong (as of 23:00 EDT on 2019-07-13) with the way dates are being displayed on blog comments. I was reading a blog about "CheckSUR" by "joscon", who has not written anything on his blog since 2015, yet a LOT of the comments - including both the readers' comments and the author's responses - were showing the same date and time of 2:40 AM on July 14, 2019. At first I allowed f

[2019-07-14 13:07] fun29 opened #1730 "Website not displayed correctly in any browser on Windows 10 (Firefox/Chrome/InternetExplorer/Edge)"
**Describe the bug**
social.technet.microsoft.com looks like a notepad document.

**To Reproduce**
1. Use any browser on Windows 10 to visit: https://social.technet.microsoft.com

**Expected behavior**
A normal functioning website with stylesheets etc.

**Screenshots**
![microsoft](https://user-images.githubusercontent.com/52833515/61184008-ace42600-a648-11e9-9b6c-d6e78f755fca.png)

**Desktop (ple

[2019-07-14 18:13] bgalanis opened #1731 "404 - Page not found - New VM - Availability Options"
**Link to article:**
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/regions-and-availability

**Problem:**
404 - Page not found

[2019-07-14 19:00] videlalvaro opened #1732 "typo on Proxies doc"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
Tell us where exactly a problem occurs.

**Problem:**
What's wrong with the article?

[2019-07-14 19:22] videlalvaro opened #1733 "docs content doesn't match what happens on Panel"
Article: https://docs.microsoft.com/en-us/azure/azure-functions/functions-proxies

Problem:

The wording `In the left pane, select New proxy.` doesn't reflect the current version of the panel. The plus button for adding a proxy only shows up if you select "Proxies" after you clicked on your function app.

Also in my case Proxies were in read only mode. See answer here: https://stackoverflow.com/qu

[2019-07-14 19:26] videlalvaro opened #1734 "be explicit that local.settings shouldn't be committed & pushed to GitHub"
Article: https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-quickstart-azure-functions-javascript

Problem:

In the article we tell users to set `AzureSignalRConnectionString` in their `local.settings` file. While from info here and there we can piece together that this file shouldn't be committed to git and shared publicly, that's not entirely clear, and I think we should have a call ou

[2019-07-14 19:34] videlalvaro opened #1735 "Article should give some background behind 'negotiate' & 'messages' SignalR endpoints"
Article: https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-quickstart-azure-functions-javascript

Problem: In the article we tell the user to create HTTP triggered functions `negotiate` & `messages`. It's not clear that these names seem to be required endpoints by the SignalR client.

Right now it seems it's too magic and could lead users to cargo cult these names without know why they

[2019-07-15 01:34] Purple-tulip opened #1736 "How to reply outlook email based on the content of the previous mail ?"
Hi, I am currently learning to use the python operation outlook to reply to the mail function.
    I read the document and learned how to reply, but I want to include the content of the original message in the reply.
    For example: A Send an email to B. The reply email of B must contain the content of A mail, time and other information.
    The relevant options can be set in the outlook client,

[2019-07-15 02:25] saldana commented on #1707
Great, closing the issue then!

[2019-07-15 02:25] #1707 closed

[2019-07-15 06:02] likui911 opened #1737 "WSAAccept function doc has a code comment error"
**Example Code** section

**Link to article:**
https://docs.microsoft.com/en-us/windows/win32/api/winsock2/nf-winsock2-wsaaccept

**Problem:**
comment error 1
[code]
comment error 2
[code]
comment error 3
[code]
comment error 4
[code]

[2019-07-15 13:43] SasStu opened #1738 "Technet Gallery entry is SPAM"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://gallery.technet.microsoft.com/Exchange-an-Overview-04684b9a

**Problem:**
The article is spam, some kind of erotic novel.

[2019-07-15 14:21] sereth commented on #1727
Also seeing this issue in the Azure DevOps course: https://docs.microsoft.com/en-us/learn/modules/host-build-agent/4-create-build-agent

[2019-07-15 15:28] Alexis-Notine commented on #1727
Thanks a lot Michael... I hope they fixed it... for everybody :)
Something like service not available => item non mandatory => automatic validation if Knowledge check OK ?

[2019-07-16 02:27] kenmoritest commented on #1652
Hi, This should be urgently fixed. As this is one of the hottest topics for the regional community.

[2019-07-16 07:52] tygrus2 opened #1739 "Missing links in a page "Cannot open a database created with a previous version of your application. (Error 3041)""
This page has links which are missing (out-of-date). [Cannot open a database created with a previous version of your application. (Error 3041)](https://docs.microsoft.com/en-us/office/vba/access/concepts/miscellaneous/cannot-open-a-database-created-with-a-previous-version-of-your-applicationerror)
Error="404 – Page not found"

* Application.CompactRepair method (Access)
https://msdn.microsoft.com/

[2019-07-16 07:52] tygrus2 opened #1740 "Missing links in a page "Cannot open a database created with a previous version of your application. (Error 3041)""
This page has links which are missing (out-of-date). [Cannot open a database created with a previous version of your application. (Error 3041)](https://docs.microsoft.com/en-us/office/vba/access/concepts/miscellaneous/cannot-open-a-database-created-with-a-previous-version-of-your-applicationerror)
Error in the following links ="404 – Page not found"

* Application.CompactRepair method (Access)
htt

[2019-07-16 08:06] Starodub-A-V opened #1741 "Cookie Handling in WinHTTP"
"To disable cookie handling, the WinHTTP client application calls the WinHttpSetOption function with the dwOption parameter set to WINHTTP_OPTION_DISABLE_FEATURE, and the lpBuffer parameter set to WINHTTP_DISABLE_COOKIES."
lpBuffer isn't to set in WINHTTP_DISABLE_COOKIES
Error: "argument of type is incompatible with parameter of type"

[2019-07-16 09:56] Sdhadmin commented on #1711
Has this been resolved yet, please?

[2019-07-16 16:24] craigg-msft commented on #801
#please-close

[2019-07-16 17:06] bodhigautam commented on #1715
@shirgoldbird Here is the feedback from the customer to put the language picker tab on the top for easy switching between the languages. I remember we discussed this before and it cannot be done as it doesn't comply with Microsoft Standard. Are we flexible to take this into consideration ?

[2019-07-16 18:10] e0i commented on #1655
Hello, @h-sadeghpour

The issue has been acknowledged and you'll be notified with relevant updates as content gets updated.

Thank you for providing feedback.

[2019-07-16 18:13] e0i commented on #1655
@officedocsbot assign @e0i

[2019-07-17 01:29] saldana commented on #1711
Sorry @Sdhadmin I am checking with my support team to look into this issue.

[2019-07-17 01:33] saldana commented on #1711
Actually, @Sdhadmin, can you check again? I was able to validate my account via the mail sent to me. I was not able though through the attached mail. Thanks!

[2019-07-17 02:41] DanteMustCode opened #1742 "Microsoft Learn: sometimes a translated learning path is in progress even if it is completed"
**Describe the bug**
Sometimes a translated learning path is in progress even if it is completed.

**To Reproduce**
Take [Learn the business value of Microsoft Dynamics 365 and the Power Platform](https://docs.microsoft.com/learn/paths/learn-business-value-of-dynamics-365-and-power-platform/) as an example:
* the steps to take for an English speaker:
  * Navigate to the learning path: [Learn the b

[2019-07-17 14:57] adrianlaraperez88 commented on #1558
Sorry for the time I waiting for LinkedIn approve APP.

`
	/*
		@param $type Values= feedshare-video, learning-image(default), ads-video
		@param $relationshipType Values= GENERIC, OWNER(default), CREATOR
		@comments For more inforation please read in: https://docs.microsoft.com/en-us/linkedin/marketing/integrations/community-management/shares/vector-asset-api#register-an-upload
	*/
	function regi

[2019-07-17 15:30] adrianlaraperez88 commented on #1558
![image](https://user-images.githubusercontent.com/19626181/61389080-a941e080-a88e-11e9-95b2-cf60ca9b1581.png)

[2019-07-17 18:37] krishorrocks opened #1743 "Bookmark Modules and Learning Paths"
**Microsoft Learn**
As a learner I need to bookmark modules and learning paths I am interested in so I can come back to them later. Right now I am starting everything so it will show up in my In Progress list...

[2019-07-17 18:40] krishorrocks opened #1744 "Custom and Shareable Learning Paths"
**Microsoft Learn**
As a Training Manager I need to create my own learning paths that I can share with my learners so I can provide training solutions customized for specific programs. See Pluralsight's "Channels" feature as an example.

[2019-07-17 20:29] ryanmajidi commented on #1732
@videlalvaro Please submit this feedback to the article itself. You can do this by using the feedback section at the bottom
![image](https://user-images.githubusercontent.com/7329992/61403141-882ac100-a889-11e9-99e3-12d71f7c193f.png)

[2019-07-17 20:29] #1732 closed

[2019-07-17 20:29] ryanmajidi commented on #1733
@videlalvaro Please submit this feedback to the article itself. You can do this by using the feedback section at the bottom
![image](https://user-images.githubusercontent.com/7329992/61403141-882ac100-a889-11e9-99e3-12d71f7c193f.png)

[2019-07-17 20:29] #1733 closed

[2019-07-17 20:29] ryanmajidi commented on #1734
@videlalvaro Please submit this feedback to the article itself. You can do this by using the feedback section at the bottom
![image](https://user-images.githubusercontent.com/7329992/61403141-882ac100-a889-11e9-99e3-12d71f7c193f.png)

[2019-07-17 20:29] #1734 closed

[2019-07-17 20:29] ryanmajidi commented on #1735
@videlalvaro Please submit this feedback to the article itself. You can do this by using the feedback section at the bottom
![image](https://user-images.githubusercontent.com/7329992/61403141-882ac100-a889-11e9-99e3-12d71f7c193f.png)

[2019-07-17 20:29] #1735 closed

[2019-07-17 22:58] voldemarz opened #1745 "Boot process and BCD store related documentation lacking"
**Is your feature request related to a problem? Please describe.**
I recently had OS failing to boot after recovery from partition backup. Automatic startup repair failed and ended up using bootrec and bcdedit commands. When trying to learn more about how Window bootloader works and what is BCD is if found linked documentation lacking.
https://docs.microsoft.com/en-us/windows-hardware/manufacture/

[2019-07-17 23:05] voldemarz opened #1746 "Bootrec documenation problems"
**Is your feature request related to a problem? Please describe.**
This page https://support.microsoft.com/en-us/help/927392/use-bootrec-exe-in-the-windows-re-to-troubleshoot-startup-issues is first hit in online search for "bootrec" and it refers to older version of WIndows according to "Applies To" in header.

Also I find explanation for "/fixboot" option very confusing. It says "This option wri

[2019-07-17 23:23] mspncp commented on #690
Hi @ginami, will the table be fixed before a year has passed?  ;-)

[2019-07-18 03:22] collinstevens opened #1747 "Modify href on GitHub issue titles to point to GitHub issue"
**Is your feature request related to a problem? Please describe.**
I prefer to open GitHub issues on a docs page in new tabs on GitHub. When opening GitHub issues from a doc page, I have to use the issue number anchor instead of using the issue title anchor because the href on the issue title is "#". The issue title is usually much larger and naturally pulls my attention to click it instead.

**De

[2019-07-18 14:15] Z-Doctor opened #1748 "Incorrect Link to CURSORINFO from GetCursorInfo"
**Link to article:**
https://docs.microsoft.com/en-us/windows/win32/api/winuser/nf-winuser-getcursorinfo

**Problem:**
The link to CURSORINFO directs to https://docs.microsoft.com/windows/desktop/menurc/o instead of https://docs.microsoft.com/en-us/windows/win32/api/winuser/ns-winuser-cursorinfo

[2019-07-18 15:46] adrianlaraperez88 commented on #1558
Array
(
    [message] => com.linkedin.publishing.util.common.ResponseException: urn:li:developerApplication:40909954 does not have permission to create ugc posts
    [status] => 401
)

[2019-07-18 15:54] chrstphrchvz opened #1749 "WM_XBUTTONUP refers to a button having been double-clicked"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
Tell us where exactly a problem occurs.

https://docs.microsoft.com/en-us/windows/win32/inputdev/wm-xbuttonup#parameters

**Problem:**
What's wrong with the article?

The verbiage currently in the article refers to a button having

[2019-07-18 16:05] hugo0991 commented on #1052
same problem with iOS 13

![image0](https://user-images.githubusercontent.com/49957111/61473380-eb7d2780-a94b-11e9-9cf1-9d08a0254c3f.png)

[2019-07-18 16:16] hugo0991 opened #1750 "CRITICAL - not possible to login using MS Authenticator iOS 13"
Describe the bug
I have MS authentication turned on for my Microsoft Account. When I try logging to my apps, it pops up an alert that says " Something went wrong"

To Reproduce
Steps to reproduce the behavior:
Open a Microsoft app or an app using ADAL, the authenticator opens automatically, tap it on your account, the error pops up, see image attached.

Try to Login
Expected behavior
User Logged I

[2019-07-18 17:27] CeciAc commented on #1690
@JasonCard please, check this issue, the downloaded PDF is in zh-TW while the page is in zh-CN

[2019-07-18 18:14] CeciAc commented on #1494
It looks like this is fixed, please confirm @ALilyG
@SonjaSaltzman @v-nidolc

[2019-07-18 18:43] CeciAc commented on #1494
It looks like this is fixed, please confirm @ALilyG
@SonjaSaltzman @v-nidolc

[2019-07-18 18:55] chrisou commented on #1558
@adrianlaraperez88 please submit a ticket to linkedin.zendesk.com

[2019-07-18 19:16] drewbatgit commented on #690
This issue has been fixed in the source file. You should see the changes update on the live site in ~24 hours.  Thanks!

[2019-07-18 19:16] #690 closed

[2019-07-18 20:18] ryanmajidi commented on #1719
Closing. Please open another issue if this is still happening.

[2019-07-18 20:18] #1719 closed

[2019-07-18 20:26] ryanmajidi commented on #1750
@hugo0991 Are you still having this issue? If so please contact support here: https://support.microsoft.com/en-us/contactus/

[2019-07-18 20:26] #1750 closed

[2019-07-18 20:27] ryanmajidi commented on #1749
@GrantMeStrength Can you please take a look at this issue?

[2019-07-18 20:28] ryanmajidi commented on #1748
@GrantMeStrength Can you please take a look at this issue?

[2019-07-18 20:44] ryanmajidi commented on #1747
@collinstevens Thank you for the feedback. We have added this to our internal ticketing system.

[2019-07-18 20:44] #1747 closed

[2019-07-18 20:49] ryanmajidi commented on #1746
@GrantMeStrength Can you please take a look at this issue?

[2019-07-18 20:49] ryanmajidi commented on #1745
@GrantMeStrength Can you please take at this issue?

[2019-07-18 20:52] ryanmajidi commented on #1744
@krishorrocks thank you for the feedback. This has been added to our internal ticketing system

[2019-07-18 20:52] #1744 closed

[2019-07-18 20:59] mspncp commented on #690
Thank you, too. I checked and it's fixed now.

[2019-07-18 21:00] ryanmajidi commented on #1742
@DanteMustCode Thank you for submitting this issue. This has been submitted to our internal ticketing system.

[2019-07-18 21:00] #1742 closed

[2019-07-18 21:01] ryanmajidi commented on #1741
@GrantMeStrength Can you please take a look at this issue?

[2019-07-18 21:05] ryanmajidi commented on #1740
@tygrus2 Moved to that repo's issues

[2019-07-18 21:05] #1740 closed

[2019-07-18 21:05] ryanmajidi commented on #1739
duplicate of https://github.com/MicrosoftDocs/feedback/issues/1740

[2019-07-18 21:05] #1739 closed

[2019-07-18 21:15] CeciAc commented on #1679
Hello, @MSDN-WhiteKnight

Thank you for your feedback.

We are actively reviewing your comments and will get back to you soon.

Kind regards,
Microsoft DOCS International Team

[2019-07-18 21:29] mairaw commented on #1720
I've opened a PR to fix this. You can also make edits to the documentation as explained here @mliben:
https://docs.microsoft.com/en-us/contribute/#quick-edits-to-existing-documents

[2019-07-18 22:04] JasonCard commented on #1690
@CeciAc I could not repro this issue, but can you? I downloaded PDF from [https://docs.microsoft.com/zh-cn/aspnet/overview](https://docs.microsoft.com/zh-cn/aspnet/overview) and confirmed the downloaded PDF is in Simplified Chinese and not in Traditional Chinese (zh-tw):
![zh-cn_pdf](https://user-images.githubusercontent.com/18313964/61495236-3bb8b180-a96d-11e9-8db7-c839f77b47cb.png)

[2019-07-19 02:10] adrianlaraperez88 commented on #1558
I have sent many emails but they never answer me, they have for me -5 points in support.

[2019-07-19 02:15] ALilyG commented on #1494
I confirmed this. Thanks for handling it.

[2019-07-19 02:15] #1494 closed

[2019-07-19 02:32] zhoudada opened #1751 "irtual Disk Service is transitioning to Windows Storage Management API layout is broken"
This webpage has broken table layout:
https://docs.microsoft.com/en-us/windows/win32/w8cookbook/vds-is-transitioning-to-wmiv2-based-windows-storage-management-api

[2019-07-19 02:57] chrstphrchvz commented on #1749
The version of this article at https://msdn.microsoft.com/en-us/data/ms646246(v=vs.96) appears to also have the "double-clicked" verbiage.

I did find a preview of a rather old (ca. 2001) Visual Basic reference that has different verbiage: https://www.oreilly.com/library/view/subclassing-and-hooking/0596001185/re67.html

[2019-07-19 03:00] chrstphrchvz commented on #1039
I believe this is an example of the issue described by #1270.

[2019-07-19 03:02] LilacBrandy opened #1752 "Inconsistent answers in Azure HUB faq"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://azure.microsoft.com/en-us/pricing/hybrid-benefit/faq/

**Problem:**
There's some inconsistency in the Windows Server products that are eligible for Azure HUB. In the 'Which products are eligible for the Azure Hybrid Benefit

[2019-07-19 12:16] gallop1 commented on #1690
@JasonCard 很明显就是繁体了。You are wrong.

[2019-07-19 13:26] Z-Doctor opened #1753 "Incorrect description of LowLevelMouseProc LPRAM."
**Link to article:**
https://docs.microsoft.com/en-us/windows/win32/winmsg/lowlevelmouseproc

**Problem:**
What's wrong with the article?
In the article the description for the LPRAM says that it is a pointer to a [KBDLLHOOKSTRUCT](https://docs.microsoft.com/en-us/windows/win32/api/winuser/ns-winuser-kbdllhookstruct) despite this being a mouse hook and not a keyboard hook. Even through my own test

[2019-07-19 13:31] Z-Doctor commented on #1730
I have windows 10 and tried this site on Google Chrome, Edge and Internet Explorer and all three loaded correctly. I would suggest trying to reset chrome, clear the cache or reinstalling chrome if the issue still persists.

[2019-07-19 13:45] stephenkilbaneadi opened #1754 "How to identify license terms for code in blog articles?"
In this blog article: https://blogs.msdn.microsoft.com/twistylittlepassagesallalike/2011/04/23/everyone-quotes-command-line-arguments-the-wrong-way/

The author provides code, and says, "The function below properly quotes an argument; translate it into your language and coding style of choice." However, that's insufficiently specific to pass a license-compliance review. How do I determine the lice

[2019-07-19 14:30] adrianlaraperez88 commented on #1558
I send again the email now solicited permission for Video Post. Ty, I fixed the problem.

[2019-07-19 14:32] adrianlaraperez88 commented on #1558
Thank you team at least here they respond. +1

[2019-07-19 15:33] Z-Doctor opened #1755 "A suggestion for clearer documentation of LowLevelMouseProc"
**Link to article:**
https://docs.microsoft.com/en-us/windows/win32/winmsg/lowlevelmouseproc

**Problem:**
The description for the WPARAM says:

This seems to suggest that these are the only options. Even though you can find a list of all the notifications if you follow one of the links it is not immediately apparent. I would suggest an edit so that it reads something along the lines of:

Where th

[2019-07-19 16:50] JasonCard commented on #1690
@gallop1 The downloaded PDF from Traditional Chinese (zh-tw) [https://docs.microsoft.com/zh-tw/aspnet/overview](https://docs.microsoft.com/zh-tw/aspnet/overview) matches zh-tw translation:
![zh-tw_pdf](https://user-images.githubusercontent.com/18313964/61551225-73753700-aa09-11e9-8e50-ac5b9b1a2c8f.png)

It look like Simplified and Traditional translations are correct:
![Bing_translator](https://us

[2019-07-19 17:27] e0i commented on #1655
@h-sadeghpour

The content has been updated with relevant changes accordingly.

Thank you for taking the time to provide feedback.

@AndreaBarr Recommended closure.

[2019-07-19 17:33] mairaw commented on #1655
Closing then. I also recommend you to use the feedback button on the bottom of the article when available @h-sadeghpour:
![image](https://user-images.githubusercontent.com/12971179/61553940-8c351b00-aa10-11e9-86e1-f793dff82423.png)

That comment goes directly to the right repository and the author gets notified.

[2019-07-19 17:33] #1655 closed

[2019-07-19 19:17] fun29 commented on #1730
![image](https://user-images.githubusercontent.com/52833515/61559676-879d5080-aa6a-11e9-96b3-735cfa89701c.png)

[2019-07-19 19:44] CeciAc commented on #1690
@JasonCard I'll check this with our LMs, I'll keep you posted

[2019-07-19 22:50] AdrianSiwiec opened #1756 "Broken link in Secure boot article"
**Link to article:**
https://docs.microsoft.com/en-us/windows-hardware/design/device-experiences/oem-secure-boot

**Problem:**
In section "Secure boot requirements" the link to "System.Fundamentals.Firmware.UEFISecureBoot" documentation is broken. (Gives 404)

[2019-07-19 22:55] mairaw commented on #1756
@justinha can you look at this issue?

[2019-07-21 09:43] krishty opened #1757 "wrong path for pipes"
https://docs.microsoft.com/en-us/windows/win32/api/winbase/nf-winbase-createnamedpipea (CreateNamedPipeA function)

Parameters -> lpName says: "The unique pipe name. This string must have the following form: \\.\\pipe<i>pipename"

Wrong. The string must have the form \\\\.\\pipe\\pipename, that is two backslashes - dot - backslash - pipe - backslash - pipename.

[2019-07-21 21:52] Justinha commented on #1756
This link seems like a good replacement: https://docs.microsoft.com/en-us/windows-hardware/test/hlk/testref/45ea8a48-d845-4400-b4a4-a4aeb8af686e

@mairaw if I make the change can you follow up to get it published? I don't know how this repo gets published. Is it automatic after a merge?

[2019-07-21 22:52] DethRaid opened #1758 "ID3D12CommandList4::BeginRenderpass page missing links"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/windows/win32/api/d3d12/nf-d3d12-id3d12graphicscommandlist4-beginrenderpass

**Problem:**
The MSDN page for `ID3D12CommandList4::BeginRenderPass` doesn't have links to the structs and enums used by

[2019-07-22 02:52] Taylor-Hasterd opened #1759 "The description of the limit of a message queue may be misleading"
**Link to article:**
Tell us where exactly a problem occurs.
https://docs.microsoft.com/en-us/windows/win32/api/winuser/nf-winuser-postmessagea
https://docs.microsoft.com/en-us/windows/win32/api/winuser/nf-winuser-postmessagea
and kindred pages of message posting functions.

**Problem:**
What's wrong with the article?
In these articles, there is a description of the limit of a message queue.

Howe

[2019-07-22 06:41] Heloyyh opened #1760 "主页小标题Visual Studio 2017 版本 15.9.5 服务版本 - 发布于 2018 年 1 月 8 日"
时间错了应该是2018年

[2019-07-22 14:57] toyidong opened #1761 "DateTime.ToString("mm/dd/yyyy") return wrong string value"
**Describe the bug**
DateTime.ToString("mm/dd/yyyy") return wrong string value, not all the time, but observed for several date time, one example listed in the code.

**To Reproduce**
This is the code I tested in .NET 4.6.1, 4.7.2 and .NET core 2.2
I use System.Globalization to construct a DateTime object only, this issue is not related to System.Globalization

using System;
using System.Globaliza

[2019-07-22 15:41] mariarev commented on #1014
Hi!I am facing a similar connection problem today: in fact, I've changed my password for safety reasons a few hours ago but it's impossible to connect to my Microsoft learn profile. When selecting the "sign in" button on the screen the Microsoft page stays in the same position and do not give me the chance to write down any password etc. It seems that "sign in" is deactivated...Could you please ha

[2019-07-22 15:41] mariarev commented on #1014
Hi!I am facing a similar connection problem today: in fact, I've changed my password for safety reasons a few hours ago but it's impossible to connect to my Microsoft learn profile. When selecting the "sign in" button on the screen the Microsoft page stays in the same position and do not give me the chance to write down any password etc. It seems that "sign in" is deactivated...Could you please ha

[2019-07-22 16:57] spottedmahn opened #1762 "Linked GitHub Issue(s) Not Showing Up"
**Describe the bug**
I just filed an issue on: https://docs.microsoft.com/en-us/dotnet/core/tutorials/cli-templates-create-item-template and it is not showing up after refreshing the page.

![image](https://user-images.githubusercontent.com/14079228/61649821-31095f80-ac80-11e9-8cad-e7cab1ddca97.png)

Also:
![image](https://user-images.githubusercontent.com/14079228/61649535-ae80a000-ac7f-11e9-9820

[2019-07-22 17:20] Thraka commented on #1762
Github was having a major outtage https://www.githubstatus.com/

[2019-07-22 17:26] saldana commented on #1014
@sampy and @jialge can you look at this issue?

[2019-07-22 17:37] spottedmahn commented on #1762
ah, that makes more sense.

I see it now, thanks!

![image](https://user-images.githubusercontent.com/14079228/61652386-d246e480-ac85-11e9-9d65-8e4f90246237.png)

[2019-07-22 17:37] #1762 closed

[2019-07-22 17:39] CeciAc commented on #1690
@JasonCard
We checked with our linguist and she confirmed the file is in zh-CN

[2019-07-22 21:10] AndrewNRe opened #1763 "GetRawInputDeviceInfoA Return Signature"
The return signature of GetRawInputDeviceInfoA is an unsigned integer.
This function however, can return a signed integer!
Link-
https://docs.microsoft.com/en-us/windows/win32/api/winuser/nf-winuser-getrawinputdeviceinfoa
I would appreciate the change to have this function return a signed integer! Just saves everyone a little bit of time.

[2019-07-22 21:43] cconrado commented on #1116
Any update?

[2019-07-22 21:44] drewbatgit commented on #1763
Hello, thanks for your feedback. It looks like the API is defined in the header as returning an unsigned integer.

WINUSERAPI
UINT
WINAPI
GetRawInputDeviceInfoA(
    _In_opt_ HANDLE hDevice,
    _In_ UINT uiCommand,
    _Inout_updates_bytes_to_opt_(*pcbSize, *pcbSize) LPVOID pData,
    _Inout_ PUINT pcbSize);

Are you saying that the documentation is wrong and that the function does in fact return

[2019-07-22 21:56] Sampy commented on #1014
Can you share what page you are on when you try to sign in? Please try this in an InPrivate/Incognito mode browser as well which will help isolate the issue.

We are going to be deploying some changes to the way we sign users in over the next few weeks that will be transparent to you but may resolve this issue as well.

[2019-07-22 22:02] AndrewNRe commented on #1763
The documentation (https://docs.microsoft.com/en-us/windows/win32/api/winuser/nf-winuser-getrawinputdeviceinfoa) states that the function can return a signed integer (specifically -1) if pData is not large enough for the data. And it does indeed return the bits in hexadecimal: FFFFFFFF if the buffer supplied to pData is not large enough. But due to the return signature being of UINT, if I were to