[2020-04-02 18:14] PRMerger9 commented on #852
GitHub user seguler has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2020-04-02 18:14] PRMerger9 commented on #589
GitHub user ginami has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2020-04-02 18:15] PRMerger9 commented on #361
GitHub user thedanfernandez has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2020-04-02 18:26] srvbpigh commented on #2470
Hello, @Steve2105

Thank you for your feedback.

We are actively reviewing your comments and will get back to you soon.

Kind regards,
Microsoft DOCS International Team

[2020-04-02 18:26] srvbpigh commented on #2467
Hello, @nelsonbighetti

Thank you for your feedback.

We are actively reviewing your comments and will get back to you soon.

Kind regards,
Microsoft DOCS International Team

[2020-04-02 18:26] srvbpigh commented on #2456
Hello, @onadash

Thank you for your feedback.

We are actively reviewing your comments and will get back to you soon.

Kind regards,
Microsoft DOCS International Team

[2020-04-02 18:27] srvbpigh commented on #2313
Hello, @hyoshioka0128

Thank you for your feedback.

We are actively reviewing your comments and will get back to you soon.

Kind regards,
Microsoft DOCS International Team

[2020-04-02 18:27] srvbpigh commented on #1764
Hello, @TakiyaNakano-MSFT

Thank you for your feedback.

We are actively reviewing your comments and will get back to you soon.

Kind regards,
Microsoft DOCS International Team

[2020-04-02 18:27] srvbpigh commented on #1715
Hello, @GF-Huang

Thank you for your feedback.

We are actively reviewing your comments and will get back to you soon.

Kind regards,
Microsoft DOCS International Team

[2020-04-02 18:27] srvbpigh commented on #1641
Hello, @Karl-WE

Thank you for your feedback.

We are actively reviewing your comments and will get back to you soon.

Kind regards,
Microsoft DOCS International Team

[2020-04-02 18:27] srvbpigh commented on #1620
Hello, @imba-tjd

Thank you for your feedback.

We are actively reviewing your comments and will get back to you soon.

Kind regards,
Microsoft DOCS International Team

[2020-04-02 18:27] srvbpigh commented on #858
Hello, @abc1236762

Thank you for your feedback.

We are actively reviewing your comments and will get back to you soon.

Kind regards,
Microsoft DOCS International Team

[2020-04-02 18:27] srvbpigh commented on #850
Hello, @UdoBross

Thank you for your feedback.

We are actively reviewing your comments and will get back to you soon.

Kind regards,
Microsoft DOCS International Team

[2020-04-02 18:27] srvbpigh commented on #847
Hello, @kaki104

Thank you for your feedback.

We are actively reviewing your comments and will get back to you soon.

Kind regards,
Microsoft DOCS International Team

[2020-04-02 18:27] srvbpigh commented on #832
Hello, @parkpc

Thank you for your feedback.

We are actively reviewing your comments and will get back to you soon.

Kind regards,
Microsoft DOCS International Team

[2020-04-02 18:27] srvbpigh commented on #786
Hello, @OtacilioN

Thank you for your feedback.

We are actively reviewing your comments and will get back to you soon.

Kind regards,
Microsoft DOCS International Team

[2020-04-02 18:28] srvbpigh commented on #462
Hello, @boehle

Thank you for your feedback.

We are actively reviewing your comments and will get back to you soon.

Kind regards,
Microsoft DOCS International Team

[2020-04-02 18:28] srvbpigh commented on #417
Hello, @HaoLife

Thank you for your feedback.

We are actively reviewing your comments and will get back to you soon.

Kind regards,
Microsoft DOCS International Team

[2020-04-02 18:29] OtacilioN commented on #786
Cool! 🥰

[2020-04-02 20:30] ken-afh opened #2642 "Power Automate Documentation"
I'm sure the documentation is out there **_somewhere_**. I'll just be damned if I can find it. I have searched using every search box on every page I can find. All I want is the documentation for the HTTP action. How hard can that be?? I search for "HTTP Action" and I get a long list of responses - none of which gives me a simple description of how the parameters are used.

"Headers" - I _think_ I

[2020-04-03 01:19] MightyPen commented on #2342
@binki , @brettshearer , @KevinPence , @rothja , @MikeRayMSFT

The online website `https://Docs.microsoft.com/sql/` does not contain SQL Server 201**4** `Transact-SQL` articles.  SQL 2014 customers would use the 2016 T-SQL articles, as a good but imperfect substitute.

However, you can obtain the SQL Server 201**4** 'Transact-SQL' documentation articles, by using SSMS.exe (SQL Server Management St

[2020-04-03 08:13] mairaw commented on #2633
#log-suggestion

[2020-04-03 08:14] mairaw commented on #2633
@mimisasouvanh @TianqiZhang I also reported this same problem at https://github.com/dotnet/dotnet-api-docs/issues/2986#issuecomment-605726199

[2020-04-03 08:15] mairaw commented on #2612
This is a duplicate of https://github.com/dotnet/dotnet-api-docs/issues/821

[2020-04-03 08:15] #2612 closed

[2020-04-03 08:17] mairaw commented on #2602
This has been fixed. Closing.

[2020-04-03 08:17] #2602 closed

[2020-04-03 08:18] mairaw commented on #2476
@JasonCard?

[2020-04-03 08:33] mairaw commented on #2509
Thanks for your feedback @Storm312. I've opened a couple of PRs to fix this issue.

[2020-04-03 08:36] mairaw commented on #2585
As the page states, that content is no longer being maintained. Some of the WPF samples can be found at https://github.com/Microsoft/WPF-Samples,

[2020-04-03 08:36] #2585 closed

[2020-04-03 08:37] srvbpigh commented on #2605
Hello, @Xawx

Thank you for your feedback.

We are actively reviewing your comments and will get back to you soon.

Kind regards,
Microsoft DOCS International Team

[2020-04-03 08:38] mairaw commented on #2569
@gewarren @BillWagner should probably transfer this into the dotnet-api-docs repo

[2020-04-03 08:39] mairaw commented on #2593
@JasonCard can you please check this issue with F# docs localization?

[2020-04-03 08:41] mairaw commented on #2575
@Rick-Anderson @scottaddie

[2020-04-03 08:43] mairaw commented on #2552
This has been fixed. Closing.

[2020-04-03 08:43] #2552 closed

[2020-04-03 08:43] mairaw commented on #2469
@gewarren should this be transferred to the dotnet/docs repo instead?

[2020-04-03 08:44] mairaw commented on #2463
Ping @BillWagner

[2020-04-03 08:45] mairaw commented on #2443
What product/SDK contains this API?

[2020-04-03 08:55] MCKLMT commented on #462
On the *new* Edge based on Chromium, I use this extension: https://chrome.google.com/webstore/detail/ffs-msdn-in-english/ddaknggefjjgpnlhiejepbiplceedmfl

[2020-04-03 08:56] mairaw commented on #2373
@sdwheeler can you help here?

[2020-04-03 09:01] srvbpigh commented on #2593
Hello, @MSDN-WhiteKnight

Thank you for your feedback.

We are actively reviewing your comments and will get back to you soon.

Kind regards,
Microsoft DOCS International Team

[2020-04-03 10:19] HenryJammes opened #2643 "Allow users to have a preferred language (especially en-us)"
**Is your feature request related to a problem? Please describe.**
I use docs content extensively and search for it using search engines, such as Bing or Google.
Even though I use English strings to look for content, results are often localized pages of docs (fr-fr) because of my user context. This is really painful because I want the original content to be displayed, in en-us locale.

**Describe

[2020-04-03 12:16] V-vafune commented on #2593
Hello, @MSDN-WhiteKnight,

Thank you for your feedback. The page in question has been machine-translated, which is not always perfectly understandable. We recently added a "Read in English" option on the right which allows you to switch to the English version without having to change the language settings.

Kind regards,

Microsoft DOCS International Team

[2020-04-03 12:16] #2593 closed

[2020-04-03 12:43] sdwheeler commented on #2373
I have copied this issue to https://github.com/MicrosoftDocs/PowerShell-Docs/issues/5704. I will respond to it there.

@mairaw #please-close

[2020-04-03 12:43] #2373 closed

[2020-04-03 16:11] MikeConroy67 opened #2644 "Microsoft Learn: Sandbox unavailable"
Hi everyone!
This is my first post and I am not sure if this is the correct forum. Patience and guidance greatly appreciated.

I am doing the online training for Microsoft Certified: Azure Data Engineer Associate (https://docs.microsoft.com/en-us/learn/certifications/azure-data-engineer). I am stuck in the "Create an Azure Database for PostgreSQL server" unit (https://docs.microsoft.com/en-us/lear

[2020-04-03 16:25] Thraka commented on #2469
@mairaw Sure!

[2020-04-03 17:06] bodhigautam commented on #2605
@Xawx  , you can always enable Toggle on the top right corner. Enabling this will enable the content will always appear in English, no matter which page you go. We store the users toggle choice across multiple sessions.
![image](https://user-images.githubusercontent.com/41086513/78386384-55993380-7592-11ea-82eb-e04d829bdcee.png)
@dend Here is another request where user wants to get redirected to E

[2020-04-03 17:21] Jemash commented on #1214
Thank you all for working through this with us!
@kexugit can this be closed now?

[2020-04-03 17:39] kexugit commented on #1214
Yes. But I don't seem to have permission to close it.

[2020-04-03 18:04] CeciAc commented on #2470
Hello @Steve2105

Thank you for your contribution.

Contributions on translation problems against machine translated content are currently not accepted.

We value your feedback and suggestions on human translated content, which is used to train the machine translation engines, so over time, your contributions will improve the quality of both human and machine translations.

Human translated topics

[2020-04-03 18:04] #2470 closed

[2020-04-03 18:26] CeciAc commented on #2467
Hello @nelsonbighetti

Thank you for your contribution.

Contributions on translation problems against machine translated content are currently not accepted.

We value your feedback and suggestions on human translated content, which is used to train the machine translation engines, so over time, your contributions will improve the quality of both human and machine translations.

Human translated t

[2020-04-03 20:06] CeciAc commented on #2313
Hello @hyoshioka0128

Thank you for your contribution.

Contributions on translation problems against machine translated content are currently not accepted.

We value your feedback and suggestions on human translated content, which is used to train the machine translation engines, so over time, your contributions will improve the quality of both human and machine translations.

Human translated to

[2020-04-03 20:10] SonjaSaltzman commented on #2313
@CeciAc @SunnyDeng THis topic is not even from our content set.  Please do NOT close this. It comes from the https://github.com/MicrosoftDocs/office-docs-powershell/blob/master/exchange/exchange-ps/exchange/federation-and-hybrid/New-RemoteMailbox.md repo which is owned by Office team, thus assigning to TinaMcNaboe

[2020-04-03 20:10] SonjaSaltzman commented on #2313
Hi Tina, I think it's from your repo?
cc @SunnyDeng

[2020-04-03 20:21] CeciAc commented on #1764
Hello @TakiyaNakano-MSFT

Thank you for your contribution.

Contributions on translation problems against machine translated content are currently not accepted.

We value your feedback and suggestions on human translated content, which is used to train the machine translation engines, so over time, your contributions will improve the quality of both human and machine translations.

Human translate

[2020-04-03 20:26] SonjaSaltzman commented on #1764
@vinceno this one must have somehow fallen through the cracks, I'm really sorry about this. Assigning to you. Not sure if the feedback is still valid, but please take a look.

[2020-04-03 20:27] CeciAc commented on #1715
Removing myself from the assignees since this is not a loc issue

[2020-04-03 20:43] CeciAc commented on #1641
Hello, @Karl-WE

We truly appreciate your comment and we strive to improve your experience in docs.microsoft.com. However, we need more information in order to be able to address your feedback. Can you please provide more detailed information and clarify your comment?

Kind regards,

Microsoft DOCS International Team

[2020-04-03 20:48] TinaMcN commented on #2558
@OfficeGlobal please human translate the issue.  @Soran-M FYI, MT issue in PowerShell content.

[2020-04-03 20:49] TinaMcN commented on #2555
@OfficeGlobal please human translate the issue.  @Soran-M FYI, MT issue in PowerShell content.

[2020-04-03 20:51] TinaMcN commented on #2554
@OfficeGlobal this article is already human translated.  Please review and fix the issue.  FYI @Soran-M overtranslation in HT powershell article.

[2020-04-03 20:52] TinaMcN commented on #2543
@OfficeGlobal please human translate the article.

[2020-04-03 20:54] TinaMcN commented on #2322
@OfficeGlobal please human translate the article.  @Soran-M FYI, MT issue in PowerShell content.  @TinaMcN

[2020-04-03 20:54] TinaMcN commented on #2313
@OfficeGlobal please human translate the article.  @Soran-M FYI, MT issue in PowerShell content. @TinaMcN

[2020-04-03 21:10] JasonCard commented on #2377
@Skosn Thank you again for your feedback. This issue has been fixed and also bug has been opened for MT engine to address the root cause.
cc @gewarren @CeciAc

[2020-04-03 21:10] #2377 closed

[2020-04-03 21:31] hyoshioka0128 commented on #2543
@TinaMcN, related:#7231 | #7232

[2020-04-03 21:36] SonjaSaltzman commented on #1641
I think this should be assigned to @helenamasar or @peiwgit for follow-up.

[2020-04-03 21:51] peiwgit commented on #1641
We will look into this. Thanks for forwarding @SonjaSaltzman !

[2020-04-03 21:55] JasonCard commented on #2476
@DavidPrio Please help to take a look at this ru-ru HT issue.

[2020-04-03 22:07] Karl-WE commented on #1641
@peiwgit I've to check my comment as it was made long ago. I will let you know if there are still inconsistent information comparing en-us or de-de, thanks for taking up the request.

[2020-04-03 22:22] srvbpigh commented on #2476
Hello, @bin1357

Thank you for your feedback.

We are actively reviewing your comments and will get back to you soon.

Kind regards,
Microsoft DOCS International Team

[2020-04-03 22:24] peiwgit commented on #1641
Thanks for your follow-up @Karl-WE !

[2020-04-03 22:33] Karl-WE commented on #1641
@peiwgit en-us and de-de now deliver consistent information about MDS patches.

However a small thing is still wrong across both pages

KB4497165 only lists 1903, yet we all know patches for 1909 and 1903 are same.

If you could add 1909 to the table for KB4497165 in column 2 it would be fine.

@peiwgit agreed?

[2020-04-04 15:57] BrunoBlanes commented on #167
I really love the Docs and the best experience is when you get to learn by actually implementing what you've learned. When you have just one monitor sharing the screen is the best option and that is when the index menu comes into trouble. It makes all the relevant text much harder to read, specially code, which now needs to be horizontally scrolled.

![image](https://user-images.githubusercontent.

[2020-04-04 17:53] dzsquared commented on #167
@BrunoBlanes I have put the workaround together into an Edge/Chrome extension that is available in this repo: https://github.com/dzsquared/MSDocsSidebarCollapser

as well as published in the Edge marketplace for convenience: https://microsoftedge.microsoft.com/addons/detail/hnjdejdpeeojbipggdjdpfdcononmbpn

[2020-04-05 11:22] Nightflyer20 commented on #1797
Hi @yunyunyunyun is there any help for me? please i need to complete this training asap. My email is samuel.kimuli@outlook.com  I didn't even get to activate the sandbox, how could i have violated the terms of use then?! check the screenshot below.  Please respond, help!!!
![sandbox](https://user-images.githubusercontent.com/49459529/78473375-29a2bd00-770e-11ea-9412-e203fc5083b1.png)

[2020-04-05 15:57] RiadKatby commented on #2515
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization?view=aspnetcore-3.1
It would be helpfull to see that link in Arabic

[2020-04-06 00:40] ukiuni opened #2645 "Title should be "Office 365 API へようこそ"."
**Describe the bug**
https://docs.microsoft.com/ja-jp/previous-versions/office/office-365-api/ `s title is
"Office 365 APi へようこそ"

"Office 365 API へようこそ"
is better.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/ja-jp/previous-versions/office/office-365-api/'

**Expected behavior**
"Office 365 API へようこそ" shows page title and google search or bing result.

*

[2020-04-06 02:14] ferdrian06 opened #2646 "Beta"
Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when

Describe the solution you'd like
A clear and concise description of what you want to happen.

Describe` alternatives you've considered

A clear and concise description of any alternative solutions or features you've considered.
Additional context
Ad

[2020-04-06 08:40] roit1981 opened #2647 "Wrong and misleading doc for registering Single File Generator on VS 2019"
Hello, this page - https://docs.microsoft.com/en-us/visualstudio/extensibility/internals/registering-single-file-generators?view=vs-2019 reflects the way things worked for VS 2015, its wrong and misleading for VS 2019

[2020-04-06 11:30] D3Design opened #2648 "Double "to office 365" at end of paragraph"
Create DNS records at any DNS hosting provider for Office 365
AT:
https://docs.microsoft.com/en-us/microsoft-365/admin/get-help-with-domains/create-dns-records-at-any-dns-hosting-provider?view=o365-worldwide#add-mx-record-to-route-email

![image](https://user-images.githubusercontent.com/8271674/78553821-f298de00-77d7-11ea-83fd-e8385eaf9cdf.png)

[2020-04-06 12:05] OfficeGlobal commented on #2555
Working on a fix

[2020-04-06 12:05] OfficeGlobal commented on #2554
Working on a fix

[2020-04-06 12:05] OfficeGlobal commented on #2322
Working on a fix

[2020-04-06 12:06] OfficeGlobal commented on #2313
Working on a fix

[2020-04-06 13:36] vinceno commented on #1764
@SonjaSaltzman thx..,
@gitfrosty this feedback is related to a powerplatform topic

[2020-04-06 14:01] gitfrosty commented on #1764
Hello @TakiyaNakano-MSFT

We apologize, but it looks like your feedback was incorrectly handled. I believe that the Japanese translation is now available at https://docs.microsoft.com/ja-jp/power-platform/admin/get-help-support

I apologize that it has taken so long to resolve this issue.

Thanks
John

[2020-04-06 14:04] TakiyaNakano-MSFT commented on #1764
Hi John,

No problem. I'm fully satisfied with existing Japanese translation article quality. Thanks for letting me know the latest status.

Thanks,
Takiya Nakano

From: John Wilcock <notifications@github.com>
Sent: Monday, April 6, 2020 11:02 PM
To: MicrosoftDocs/feedback <feedback@noreply.github.com>
Cc: Takiya Nakano <takiyan@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Mi

[2020-04-06 16:25] AlbertoAndres opened #2649 "Dynamics 365 Team Members license (PT-BR translation has the incorrect grace period date)"
**Describe the bug**
Please update the dates in the "Note"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/pt-br/dynamics365/get-started/team-members-license' and 'https://docs.microsoft.com/en-us/dynamics365/get-started/team-members-license'
2. Compare the dates for the grace period in the "Note" area
3. See error: in EN-US it is shown January 31, 2021 and

[2020-04-06 18:23] gewarren commented on #2469
This issue was moved to dotnet/docs#17726

[2020-04-06 18:23] #2469 closed

[2020-04-06 18:26] gewarren commented on #2569
This issue was moved to dotnet/dotnet-api-docs#4077

[2020-04-06 18:26] #2569 closed

[2020-04-06 19:27] kevinoid opened #2650 "Unable to search from Firefox on Android"
**Describe the bug**
Tapping the magnifying glass in the sidebar menu briefly shows the search box with keyboard focus before closing the menu, preventing text entry.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com or a sub-page.
2. Tap on the hamburger button.
3. Tap on the magnifying glass button.
4. Watch the text box and keyboard appear, then immediately

[2020-04-06 19:57] helenamasar commented on #1641
@ Karl-WE thank-you for your feedback. We are updating the content per your suggestions. The en version has been updated and the localized versions will follow shortly.

[2020-04-07 00:26] jmazzotta opened #2651 "[error message feedback] provide feedback for RunPsScriptFriendlyFailed"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Problem:**
What's wrong with the error message? For example,
- Is error message clear and actionable?
- Is there a documentation to provide more information?
- If there is a documentation, is it relavent and helpful?
- Is line number correct?
- etc.

[2020-04-07 02:58] rebehayan opened #2652 "Why notworking with Wacom Intuos Pro"
**Describe the bug**
A clear and concise description of what the bug is.

cant draw~~~and  everything function~~is notworking~
with Wacom Intuos Pro

other screen pen tool is ok~
photoshop, epic pen~~ etc~

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expe

[2020-04-07 07:53] ncarandini commented on #462
Can I trust it? I'd much prefer a Microsoft solution, I don't trust plugins.

[2020-04-07 08:01] srvbpigh commented on #462
Hello, @boehle

Thank you for your feedback.

We are actively reviewing your comments and will get back to you soon.

Kind regards,
Microsoft DOCS International Team

[2020-04-07 08:56] MCKLMT commented on #462
@CeciAc Any news on this topic?

[2020-04-07 10:31] adrianv6 commented on #1797
hi, I have the same issue "Unauthorized sandbox use detected. Your sandbox access has been removed.".

[2020-04-07 10:38] Nightflyer20 commented on #1797
Who do we go to for help??!!

On Tue, Apr 7, 2020, 06:31 adrianv6 <notifications@github.com wrote:

[2020-04-07 12:03] bijoy26 opened #2653 "Microsoft Learn: Fix TYPO BUG"
**Describe the bug**
I noticed an issue while completing my first learning path **Intro To Version Control With Git** on *Microsoft Learn*.

While executing the given commands on *Azure Cloud Shell* as stated, a specific git command was producing unexpected result.

**To Reproduce**

Platform : Microsoft Learn
Learning Path : Introduction To Version Control With Git
Module ID : 3
Module Title : Ed

[2020-04-07 12:23] RenateW opened #2654 "SfB 2019 Monitoring Server Documentation is out of date"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/en-us/skypeforbusiness/deploy/deploy-monitoring/deploy-monitoring'
2. Scroll to "These back-end databases can be created using Microsoft SQL Server 2008 R2, Microsoft SQL Server 2012, Microsoft SQL Server 2014, or Microsoft SQL Server 2019

[2020-04-07 14:54] SonjaSaltzman commented on #462
@bodhigautam @RyanKing77 Bodhi, could you please update on the status of this feature?

[2020-04-07 23:26] saldana commented on #2464
Actually, only items in moderation and reported are included in the avatar's flyout. The first number is for moderation and the second one is for reported. Items in the spam tab are not included there.

[2020-04-07 23:26] #2464 closed

[2020-04-07 23:30] saldana commented on #2481
I shared with you documentation on how to deal or simply ignore the contents on the spam folder. We will work on improving the experience here.

[2020-04-07 23:30] #2481 closed

[2020-04-08 00:18] docs-product commented on #2643
Duplicate of #462

[2020-04-08 00:18] #2643 closed

[2020-04-08 00:19] docs-product commented on #2605
Duplicate of #462

[2020-04-08 00:19] #2605 closed

[2020-04-08 05:38] JCR0mero commented on #880
And if the system says:
![image](https://user-images.githubusercontent.com/63334269/78748244-23d8f180-7931-11ea-8a68-f76d9c14ac2b.png)

[2020-04-08 08:12] canoas commented on #880
no, it does not work when both logins already have existing profiles on mslearn.

[2020-04-08 14:14] mirandtech opened #2655 "404 Page not found"
**Describe the bug**
A clear and concise description of what the bug is.
https://docs.microsoft.com/en-us/microsoftteams/platform/redirects/?redirectedfrom=MSDN

page not found.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screensho

[2020-04-08 18:09] kennethvs opened #2656 "Downloads on On-demand assessement page not working"
**Describe the bug**
Download on page not working

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/services-hub/health/assessment-prereq-docs
2. Click on Microsoft Azure
3. New window opens to https://opdhsblobprod04.blob.core.windows.net/contents/3832eb6e467d45c4aed5538d8c2d8797/84eea9aa481b09e0efc3f4afaeca1d06?sv=2018-03-28&sr=b&si=ReadPolicy&sig=RSGLr

[2020-04-08 21:13] Karl-WE commented on #1641
You're welcome.

OT:
I really hope that, while I understand possible reasons, that all docs and KBs can be edited in a same manner as docs.microsoft.com in en-us using github directly.

This might save workload on translators as non en-us articles are mostly outdated, with even crucial information.

[2020-04-08 21:15] Karl-WE commented on #1641
If you need translators for de-de, let me know. @helenamasar @peiwgit

[2020-04-08 23:13] saldana commented on #880
You are right, @canoas. That is a shortcoming of this feature. Only one account can have a profile.  @yunyunyunyun or @dastaffo do you know if this is in profile's roadmap?

[2020-04-09 02:48] Singleton06 opened #2657 "Incorrect Link for"
**Describe the bug**
[This page](https://docs.microsoft.com/en-us/previous-versions/windows/internet-explorer/ie-developer/compatibility/jj676915%28v%3dvs.85%29#understanding-legacy-document-modes) has a link with the text of "IEBlog: HTML5 Quirks mode in IE10" which takes you to the wrong URL.  Currently it just takes you to the "blogs" page instead of taking you to the direct blog page (which I

[2020-04-09 12:01] kennethvs commented on #2656
Issue is only on one of my computers.. perhaps being blocked by some mechanisme there. Anyway.. I can access the docs from another computer, so most probably an incident.. Will close this issue.

[2020-04-09 12:01] #2656 closed

[2020-04-09 21:17] fyurisich opened #2658 "PrintDlg page contains contradictory information"
Page:
[https://docs.microsoft.com/es-es/windows/win32/api/commdlg/ns-commdlg-printdlga](url)

These two paragraphs are contradictory:

To ensure that PrintDlg or PrintDlgEx returns the correct values in the dmCopies and dmCollate members of the DEVMODE structure, set PD_RETURNDC = TRUE and PD_USEDEVMODECOPIESANDCOLLATE = TRUE. In so doing, the nCopies member of the PRINTDLG structure is always 1 a

[2020-04-10 17:15] JasonCard commented on #2515
@RiadKatby Thank you for your feedback. We currently do not localize this content into Arabic, but will keep your feedback in mind for future consideration.

[2020-04-10 18:25] SonjaSaltzman commented on #1690
@JasonCard can this be closed?

[2020-04-10 18:28] SonjaSaltzman commented on #913
@nokura @v-cakoll not sure if this is from our content, can you please check if this is still an issue and if not, close this?

[2020-04-10 18:30] SonjaSaltzman commented on #850
This is fixed, closing this issue.

[2020-04-10 18:30] #850 closed

[2020-04-10 18:54] SonjaSaltzman commented on #2649
Assigning to @vinceno

[2020-04-10 19:05] JasonCard commented on #1690
Closing this issue as the font issue for Asian languages in PDF is tracked internally, but is in backlog with no ETA at this time.

[2020-04-10 19:05] #1690 closed

[2020-04-10 19:11] JasonCard commented on #2083
We have discussed this issue internally and our new MT engine plan to address this issue, but no ETA at this time. Closing this issue for now.

[2020-04-10 19:11] #2083 closed

[2020-04-10 20:16] v-cakoll commented on #913
@SonjaSaltzman @nokura I'm not able to repro this issue.

[2020-04-10 20:49] nokura commented on #913
@Skymit
I am sorry for the late reply.
The issue was reported in 2018 but the landing page design has been updated. Now it does not re-produce the issue. Will you please close this feedback?

Kind regards,
Microsoft DOCS International Team

[2020-04-10 20:53] superfon commented on #913
W dniu piątek, 10 kwietnia 2020 Carolyn <notifications@github.com>
napisał(a):

[2020-04-10 21:27] SonjaSaltzman commented on #2420
Hello @bebobebo - have you tried to set your preferred language to English (Australia) with the language picker at the left bottom of the site?
![image](https://user-images.githubusercontent.com/15201704/79024232-2e64d800-7b37-11ea-8caf-fcfa87d64e6f.png)
This will persist en-AU as your preferred language. However, if your browser returns a link that points to an /en-US page, you will still be serv

[2020-04-10 21:39] SonjaSaltzman commented on #913
Closing this issue as not repro; if there are any concerns, please don't hesitate to reopen.
Thank you,
Sonja

[2020-04-10 21:39] #913 closed

[2020-04-10 21:50] JasonCard commented on #1877
@jmroyb Thank you for your feedback and we're sorry for the delay. Download PDF link is now available, so closing this issue.

[2020-04-10 21:50] #1877 closed

[2020-04-10 21:54] SonjaSaltzman commented on #1764
I'm closing this; if there are any issues, please don't hesitate to reopen.
thanks,
Sonja

[2020-04-10 21:54] #1764 closed

[2020-04-10 21:59] SonjaSaltzman commented on #2637
Hi @masoudfarahani , our site does support Arabic, but we don't currently localize a lot of content into Arabic. You will find some content is available in Farsi, for example: https://docs.microsoft.com/ar-sa/dynamics365/.

If you have the need for specific product documentation, please provide links and make a request. Due to cost, we cannot guarantee we can fulfil your request, but we will defin

[2020-04-10 22:08] SonjaSaltzman commented on #2302
Hi @tottokug could you please provide us with some URLs? It is very difficult to find the issue you are referring to without more information.

[2020-04-10 22:10] SonjaSaltzman commented on #2250
Hello @EvologicDj - could you please provide the URL with this problem?  we are happy to address it if you could provide the URL.

[2020-04-10 22:12] EvologicDj commented on #2250
Sorry I meant a bad translation present in the operating system.

Il Sab 11 Apr 2020, 00:10 SonjaSaltzman <notifications@github.com> ha
scritto:

[2020-04-10 22:33] v-cakoll commented on #417
This does not repro. The navigation is translated and there seems to be the same number of topics (it has grown quite a bit).

[2020-04-10 22:36] TinaMcN commented on #1806
@keiichim1975 thank you for reporting the issue.  It is caused by a problem with the machine translation tool.   I sent the article to be translated by a human which will take a few days.  @OfficeGlobal, please let us know when the translation is complete.

[2020-04-10 22:39] TinaMcN commented on #2628
@takatkyu, thank you for reporting the issue.
@OfficeGlobal this is a bug in a human translated article.  please let us know when it's fixed.

[2020-04-10 22:42] srvbpigh commented on #417
Hello, @HaoLife

Thank you for your feedback.

We are actively reviewing your comments and will get back to you soon.

Kind regards,
Microsoft DOCS International Team

[2020-04-10 22:56] v-cakoll commented on #858
This topic is no longer translated by machine. The issue no longer occurs.

[2020-04-10 23:07] srvbpigh commented on #858
Hello, @abc1236762

Thank you for your feedback.

We are actively reviewing your comments and will get back to you soon.

Kind regards,
Microsoft DOCS International Team

[2020-04-11 00:25] malluri19 opened #2659 "Not able to find Example Workloads"
**Describe the bug**
I cannot find the example workloads page through the link provided

**To Reproduce**
go to https://docs.microsoft.com/en-us/azure/architecture/
Click on example-workloads
It takes you to Azure Architectures page instead of example work loads.

**Expected behavior**
It should take you to example work loads page. Im sure I have browsed through this page, as I have bookmarked it.

[2020-04-11 00:59] bebobebo commented on #2420
Hi Sonya - that is not how internationally sufficient software works. It
should not require manual intervention from an end-user every time a
measurable quantity needs to be shown with the correct units. The page
should detect the browser's en-au settings automatically and adjust
accordingly. That is not only why browser's have regional settings, but
Windows and other operating systems do also. Ha

[2020-04-11 01:31] ishasahni1 commented on #1882
@GiantCrocodile i tried on my end, with Browser settings changed to German language, however i can't repro this issue. It takes 2-5 sec on my end and i see the message.

@CeciAc  can you kindly try changing your browser settings and see if issue repro on your side?

[2020-04-11 01:51] #858 closed

[2020-04-11 02:14] SonjaSaltzman commented on #2250
Hi @TinaMcN could you please find the software owner? This is a bad localization in the software. Thanks,
Sonja

[2020-04-11 02:17] SonjaSaltzman commented on #417
Closing this issue as it no longer exists. If you find this in error, please reopen.
Thank you,
Sonja

[2020-04-11 02:17] #417 closed

[2020-04-11 02:33] SonjaSaltzman commented on #2420
Hi again - thank you for the quick response, and nice to virtually speak to an exMSFT internationalization PM!
You should only have to set the language picker once, and this setting should persist. If you don't use the language picker, the site should use your browser locale. However, many customers google for content, and google will most likely return a link to a topic with /en-US locale. In thi

[2020-04-11 02:53] bebobebo commented on #2420
Generally there are no different pages for different locales for a single
language e.g. there are dozens of English locale, but likely only EN-US for
the text. This should not affect rendering of dates (first priority as they
are easiest to confuse), weights and measures, temperatures. Microsoft
should find it trivially easy to do this with its resources, as even small
sites do this automatically.

[2020-04-11 06:38] EvologicDj commented on #2250
Is in BitLocker

Il Sab 11 Apr 2020, 04:14 SonjaSaltzman <notifications@github.com> ha
scritto:

[2020-04-11 09:38] AmirNBA9 opened #2660 "Database Diagram in 15.0.2070"
After design, if you allow the diagram. It can only be used as long as the SSMS is open.
It cannot be used after rebooting and gives NOT Responding.
I looked at this on two other systems.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'SSMS' and Databases
2. Right Click on 'Database Diagram'
3. Design a Diagram
4. Save Diagram
5. Close 'SSMS'
6. Rerun 'SSMS' go to 'Database Digram'
7.

[2020-04-11 17:42] portenez commented on #1797
I'm also getting this

"Unauthorized sandbox use detected. Your sandbox access has been removed."

[2020-04-11 17:44] Nightflyer20 commented on #1797
Last night i was able to activate it!!

On Sat, Apr 11, 2020, 13:43 Victor Garcia <notifications@github.com wrote:

[2020-04-11 20:41] TinaMcN commented on #2250
@EvologicDj thank you for reporting this issue, I will pass on to the software translators.   Can you please provide a bit more information:
- Repro steps to where you find the menu
-  Can you clarify that "Attiva sbocco automatico" is the wrong translation and "Attiva/disattiva SBOCCO automatico" is the correct translation?

[2020-04-11 21:20] EvologicDj commented on #2250
Just the word "sbocco" is wrong, it should be "sblocco". The word "sbocco"
in italian means "I vomit", insted of "sblocco" that means correctly
"unlock".

Il Sab 11 Apr 2020, 22:42 Tina McNaboe <notifications@github.com> ha
scritto:

[2020-04-11 21:33] EvologicDj commented on #2250
I included in the attachment the image of the english phrase "turn off/on
auto-lock", in the BitLocker menu.

Il Sab 11 Apr 2020, 23:20 Federico Ortu <federicoortu96@gmail.com> ha
scritto:

[2020-04-12 00:42] TinaMcN commented on #2250
@EvologicDj thank you for the extra information, I passed it on.   Grazie!

[2020-04-12 00:54] dave-c-vt opened #2661 "azure-sdk-get-started tutorial not functional as written"
the tutorial hosted by microsoft titled:

"Get started with cloud development using the Azure libraries for Python"

does not work as written. link to tutorial here:

https://docs.microsoft.com/en-us/azure/developer/python/azure-sdk-get-started

as of azure==5.0.0 (current release as of 4/10/2020) the azure packages are no longer distributed in one cohesive unit. as such, there is no way to know w

[2020-04-12 01:23] dave-c-vt commented on #2661
seems like it may be related to the vm_size parameter in the python code. after going through the manual process, it appears that it should be 'Standard_D2S_v3' NOT 'Standard_DS1_v2' as shown in the tutorial.

thanks!

[2020-04-12 08:08] fanck13 opened #2662 "It should be "The", not "he"."
In this page, https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-erref/0642cb2f-2075-4469-918c-4441e69c548a
The meaning of FACILITY_FWP should begin with "The", but here is "he".

[2020-04-12 23:30] weitzhandler commented on #1708
Thanks for your response!

There are no [courses](https://docs.microsoft.com/en-us/learn/certifications/courses/browse/?roles=developer) about C#, .NET, UWP or anything Microsoft at all.

![image](https://user-images.githubusercontent.com/2716316/79082354-e65bd600-7d2d-11ea-8863-0a5cbe2f1128.png)

Neither are there any developing [exams or certificates](https://docs.microsoft.com/en-us/learn/certi

[2020-04-13 05:09] bugraceylan commented on #1797
Uh, so frustrating, why is this happening, I was just gained momentum in my training.

[2020-04-13 08:17] kmjones77 opened #2663 "TestMethod overloaded contructor does not appear in the documentation"
**Describe the bug**
The overload constructor that accepts a string is not included in the docs

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/dotnet/api/microsoft.visualstudio.testtools.unittesting.testmethodattribute.-ctor?view=mstest-net-1.2.0

**Expected behavior**
See 2 Constructor methods displayed

**Screenshots**
![image](https://user-images.gi

[2020-04-13 14:00] AlbertoAndres commented on #2649
Thank you!
https://docs.microsoft.com/en-us/dynamics365/get-started/team-members-license

https://docs.microsoft.com/pt-br/dynamics365/get-started/team-members-license

[]'s

[image: image.png]
[image: image.png]

Em sex., 10 de abr. de 2020 às 12:54, SonjaSaltzman <
notifications@github.com> escreveu:

[2020-04-13 15:35] SamuelBoulanger opened #2664 "Wrong URL on "Create a marketing email page""
On section "4. Design your email" both URL's "For more information, see Establish your basic layout by choosing the right template"  and "Design your content" are pointing on universal ressource scheduling documentation

[2020-04-13 20:35] nakst opened #2665 "GWLP_USERDATA contradicts The Old New Thing"
Raymond Chen states [here in The Old New Thing](https://web.archive.org/web/20190315125304/https://devblogs.microsoft.com/oldnewthing/20050303-00/?p=36293) that `GWLP_USERDATA` "belongs to the window class and not to the code that creates the window".

The documentation states [here, in `GetWindowLongPtrA`](https://web.archive.org/web/20190906231704/https://docs.microsoft.com/en-us/windows/win32/a

[2020-04-14 00:32] #1214 closed

[2020-04-14 07:28] alanlopcu commented on #2644
Hello, I've facing the same issue. Thank you.

[2020-04-14 08:36] vinceno commented on #2649
this is a recent change in English and is currently going through translation process for pt-BR.., update will be published shortly

[2020-04-14 09:20] bament-hun opened #2666 "typo in https://docs.microsoft.com/en-us/skypeforbusiness/plan-your-deployment/modern-authentication/topologies-supported"
**Describe the bug**
on this page we have a typo which can cause issues:
https://docs.microsoft.com/en-us/skypeforbusiness/plan-your-deployment/modern-authentication/topologies-supported

Very last important box:
 Important

Also note that in some cases (Mixed 1, 3, and 5 specifically) an AllowADALForNonLynIndependentOfLync registry key must be set for proper configuration for Windows Desktop Clie

[2020-04-14 10:57] AlbertoAndres commented on #2649
Ok. Thank you for letting me know. B.R.,

On Tue, Apr 14, 2020, 02:37 vince nolan <notifications@github.com> wrote:

[2020-04-14 14:06] adamn-ntap opened #2667 "Broken links on https://docs.microsoft.com/en-us/samples/microsoft/mlopspython/mlops-with-azure-ml/"
On https://docs.microsoft.com/en-us/samples/microsoft/mlopspython/mlops-with-azure-ml/, there are at least three broken links (which result in 404's).

[2020-04-14 19:47] SetTrend opened #2668 "PDF export of Microsoft .NET documentation doesn't generate code colorization"
## PDF export of the .NET documentation doesn't colorize highlighted portions of code:
![No syntax highlighting - 0](https://user-images.githubusercontent.com/9283914/79171816-55e7c900-7df3-11ea-92ca-e96b9f072761.png)

![No syntax highlighting - 1](https://user-images.githubusercontent.com/9283914/79171554-a4e12e80-7df2-11ea-94d5-ab399855dd1a.png)

#### Comparison between PDF and HTML output:
![No

[2020-04-14 19:49] SetTrend commented on #2668
If someone could point me to the code that's creating the PDF, I might be able to add the corresponding fix and create a pull request.

[2020-04-14 20:10] Rick-Anderson commented on #2668
@cillroy I've seen this complaint a few times in the past but I can't find it in any open or closed issues.

[2020-04-15 03:42] SonjaSaltzman commented on #2637
@masoudfarahani please let us know if we can close this issue, or if you have any specific request for localized documentation?

[2020-04-15 03:48] SonjaSaltzman commented on #2558
hi @alligreubel - I'd already triaged this and assigned to @TinaMcN (loc contact in Office team, who owns this content). So reassigning it to her again.

[2020-04-15 03:57] SonjaSaltzman commented on #2310
@zhuya219 could you please provide us with more details of where this problem occurs?  If this is a problem in the documentation, please provide us with the URL of the content.  If this is a product issue, please close this and contact the particular product's support instead (see https://support.microsoft.com/allproducts for the list of support websites).
Thank you!
Sonja

[2020-04-15 03:59] SonjaSaltzman commented on #2302
@bodhigautam - I think this is feedback for the functionality of Collections. Could you please take a look, and assign to the correct PM?  cc @RyanKing77

[2020-04-15 04:09] zhuya219 commented on #2310
@SonjaSaltzman
After testing, it is because the Great Firewall of China(https://baike.baidu.com/item/great%20firewall) blocked the IP address segment resolved by the domain name downloaded by the Microsoft symbol file.

E.g: vsblobprodscussu5shard77.blob.core.windows.net/xxxxxxxxxxxxxxxxxxxx

At present, you can only download symbol files through agents, which is really hard ~~~~haha...

The above

[2020-04-15 04:10] zhuya219 commented on #2310
After testing, it is because the Great Firewall of China(https://baike.baidu.com/item/great%20firewall) blocked the IP address segment resolved by the domain name downloaded by the Microsoft symbol file.

E.g: vsblobprodscussu5shard77.blob.core.windows.net/xxxxxxxxxxxxxxxxxxxx

At present, you can only download symbol files through agents, which is really hard ~~~~haha...

The above content is tra

[2020-04-15 06:42] OfficeGlobal commented on #2313
@hyoshioka0128 the article was HumanTranslated and published live, the issue is fixed

[2020-04-15 06:43] bodhigautam commented on #2302
@SonjaSaltzman @RyanKing77 I think the user wants to know how many users have viewed their collection. Just like if someone posts a video on sites and can see how many views it has garnered.
@dastaffo I see Derek handles the Collections now. Can you tell us the PM in Derek's org who is working on collections after Scott Ge left or should we assign this to Derek directly ?

[2020-04-15 07:10] OfficeGlobal commented on #1806
@keiichim1975 , @TinaMcN article was HumanTranslated and published live

[2020-04-15 09:29] hyoshioka0128 opened #2669 "Typo "InformationBarrierPolicy"→"New-InformationBarrierPolicy""
🛑 IMPORTANT: You can get your feedback addressed faster if you use the comment section for the article in which you encountered a problem (if available).
![new-informationbarrierpolicy_j](https://user-images.githubusercontent.com/40815708/79321890-fb5f8180-7f46-11ea-8690-1591d6604892.png)

Link to article:
Tell us where exactly a problem occurs.
"https://docs.microsoft.com/ja-jp/powershell/module/

[2020-04-15 09:50] OfficeGlobal commented on #2555
@hyoshioka0128 article was HumanTranslated and published live. The issue is fixed

[2020-04-15 09:52] OfficeGlobal commented on #2554
@hyoshioka0128 the translation was updated and published live

[2020-04-15 09:53] OfficeGlobal commented on #2322
@hyoshioka0128 article was HumanTranslated and published live. The issue is fixed

[2020-04-15 09:55] hyoshioka0128 commented on #2554
@OfficeGlobal - Fixed.
Closed #2554.
Thanks.

[2020-04-15 09:55] #2554 closed

[2020-04-15 09:56] hyoshioka0128 commented on #2555
@OfficeGlobal - Fixed.
Closed #2555.
Thanks.

[2020-04-15 09:56] #2555 closed

[2020-04-15 10:00] hyoshioka0128 commented on #2322
@OfficeGlobal - Fixed.
Closed #2322.
Thanks.

[2020-04-15 10:01] #2322 closed

[2020-04-15 10:42] jayp00001 opened #2670 "technet gallery"
the gallery should have an option to download the gallery for future reference

[2020-04-15 11:10] tonecool opened #2671 "Design issue for release informations page"
**Describe the bug**
This page looks terrible with dark mode enabled
https://docs.microsoft.com/en-us/windows/release-information/

**To Reproduce**
Steps to reproduce the behavior:
1. Go to browser and open the page while dark theme is enabled

**Expected behavior**
Much ridable versions text.

**Screenshots**
![winVersions](https://user-images.githubusercontent.com/12557893/79330857-8413f880-7f1

[2020-04-15 12:10] OfficeGlobal commented on #2558
@hyoshioka0128 article was HumanTranslated and published live. The issue is fixed

[2020-04-15 12:23] Cuiqs76 commented on #1784
where are blazor client side sample?p

[2020-04-15 20:19] jklaus commented on #210
#please-address in the documentation .. still don't see a resolution to this in the assembly's comments nor in the [man page](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.cosmos.table.cloudtable.createifnotexistsasync?view=azure-dotnet)

[2020-04-15 20:42] Nantook commented on #2644
Experiencing the same issue over the last 2 weeks. Windows 10 OS + tried in FF/Chrome/Edge/IE and same issue in all. I also found this tweet chain but no resolution there either:

https://twitter.com/AzureSupport/status/1249480953128509442

[2020-04-15 22:04] #2313 closed

[2020-04-15 22:11] GiantCrocodile commented on #1882
Could this issue be related to one of these two common Firefox add-ons or to the fact that non-visited third party page cookies are declined by my browser @ishasahni1?

[2020-04-15 22:31] KevinPence commented on #2342
Thank you for patiently explaining your team's reasoning, and I'm sorry for blowing off steam in your direction.  I understand that this is a difficult and ongoing challenge.  I also appreciate the suggestions provided.  Is it possible to import the docs from SS2008 and SS2012 into SSMS help viewer?  I know the docs for these versions don't have the same organizational structure as the currently s

[2020-04-15 23:45] ishasahni1 commented on #1882
@GiantCrocodile i am not quite sure. Can you try this on Edge or IE? May be try removing the cache and see, if it works.

[2020-04-15 23:53] GiantCrocodile commented on #1882
@ishasahni1 Cache is always cleared after the session so this is no issue cause here.

It does work in latest Edge. It does NOT work in Internet Explorer 11 (same issue I have with FireFox).

[2020-04-16 00:04] binarycrusader opened #2672 "Add languages to Windows images page needs some fixes"
**Describe the bug**

Problem 1:

Under `2. Add LIP languages.`

`DISM /Image:"C:\mount\windows" get-provisionedappxpackages`

...is missing the `/` for the option:

`DISM /Image:"C:\mount\windows" /get-provisionedappxpackages`

Problem 2:
Sometimes text uses '=' and sometimes it uses ':' for option values:

`/PackagePath=`

`/packagepath:`

Problem 3:
Sometimes it uses the same casing for the opt

[2020-04-16 00:04] binarycrusader commented on #2672
https://docs.microsoft.com/en-us/windows-hardware/manufacture/desktop/add-language-packs-to-windows

[2020-04-16 04:05] birbilis opened #2673 "Pressing Send Feedback "On this product" ends up at closed uservoice"
**Describe the bug**
the send feedback > On this product doesn't work (sends you to a close UserVoice site)

**To Reproduce**
near the end of the page
https://docs.microsoft.com/en-us/microsoft-edge/extensions/api-support/supported-manifest-keys
one can select to send feedback and then pick On this product

this takes them to a page that says that UserVoice page is now closed

[2020-04-16 10:28] mrgoos opened #2674 "Support eml/msg in "Use transport rules to inspect message attachments""
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

In transport rules, attachments of types eml/msg aren't supported. It's really frustrating since a raw email is just text and rules can be applied to these kind of types as well and badly needed.

**Describe the solution you'd like**
A cle

[2020-04-16 16:32] bergano65 opened #2675 "not meaningful topics"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/en-us/visualstudio/?view=vs-2019'

3. Scroll down to '.vs subscription'
4. See error
"Portal"," Administration" is not informative

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If a

[2020-04-16 20:02] bergano65 opened #2676 "some info isn't translated"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://visualstudio.microsoft.com/ru/vs/'
2. Scroll down to bottom.
4. See error:
"Developer" "Blog" "Community" isn't translated

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots

[2020-04-17 12:42] Bubbasd opened #2677 "pdf's are unreadable"
reading downloaded pdf is unreadable
many pages are unreadable and a wasteful

Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/windows/win32/debug/system-error-codes--0-499-
2. Click on "Download PDF"
3. Scroll down to page 36 onward for thousands of pages.
4. letters scrolled down on left and right of each page.

**Screenshots**
![pdf corupt](https://user-images.githubu

[2020-04-17 17:16] bergano65 opened #2678 "main site issues"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.microsoft.com/ru-ru'
2. Open 'All products' menu
3 One item isn't  capitalized
![image](https://user-images.githubusercontent.com/17863980/79595220-1cf76f00-80e7-11ea-8b94-e04716d9f436.png)
'
4.  if site doesn't belong to content here where can discuss
h

[2020-04-17 18:21] bergano65 opened #2679 "VSdocs small issues"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/ru-ru/visualstudio/releases/2019/release-notes'
2. "Download.." buttons for  different editions should be translated
3. yellow button "New" should be translated
4.
Исправлена позиция кнопки в окне инструментов поиска в файлах, когда оно на

[2020-04-17 18:47] bergano65 opened #2680 "vs docs issue"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/en-us/visualstudio/releases/2019/release-notes'

3. Scroll down to '.Fixed In This Release of Visual Studio 2019 version 16.5'
4. See error

Fixed an issue where Goto next/previous entry failed to work in the find results list when "previe

[2020-04-18 14:11] ChrisMaddock opened #2681 "Hash character in .NET Core CLI syntax highlighting is incorrectly considered a comment"
**Describe the bug**
The `.NET Core CLI` syntax highlighting incorrectly considers the `#` character to be the start of a comment. This character is a valid character as part of a command, for example when specifiying `-lang c#`

**To Reproduce**
See the "Synopsis" section of the dotnet new docs.
https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-new#synopsis

**Expected behavior**
The hash

[2020-04-18 14:24] DSPatrick opened #2682 "QnA site issue unexpected hyperlinks"
**Describe the bug**
If I put in the body of post sometext.net or sometext.com it automatically gets hyperlinked

**To Reproduce**
Steps to reproduce the behavior:
Type in anytext.net or anytext.com and it will automatically gets hyperlinked

**Expected behavior**
should not be linked unless user uses Hyperlink tool from toolbar

**Screenshots**
If applicable, add screenshots to help explain your

[2020-04-18 16:25] CookiePLMonster opened #2683 "Bug in "Work with DXGI" article"
**Describe the bug**
The article "Work with DirectX device resources", accessible here:
https://docs.microsoft.com/en-us/windows/win32/direct3dgetstarted/work-with-dxgi

There are two issues with the `Create the swap chain` section:
- `Short form:` text has wrong formatting - looks like a Markdown failure.
- The sentence `Get the parent factory for that adapter by calling IDXGIFactory2::GetParent

[2020-04-18 18:44] edernucci commented on #978
It's unclear to me. Can I (as a CSP customer) have a Dev/Test subscription?

[2020-04-19 04:45] taralpatel610 commented on #2620
@nopdotcom The link seems to be working at this point

![image](https://user-images.githubusercontent.com/9837977/79679803-016b9180-81d7-11ea-8e5e-24b941848b7a.png)

[2020-04-19 22:58] zevfarkas opened #2684 "control over notifications"
How do I control if I get notifications about changes in items?

[2020-04-20 05:19] yoojin1011 opened #2685 "How to update Distributor info on Windows Dev Center"
Hi, we're Hancom MDS (the former MDS Technology), one of the APAC distributors of Windows 10 IoT Enterprise. We've noticed that the distributor information on the Windows Dec Center is outdated, so could you let us know how to change the information?

In this following URL, you could see the distributor list (outside link), as follows below;
**https://docs.microsoft.com/ko-kr/windows/iot-core/wind

[2020-04-20 06:46] catPill opened #2686 ""Previous Versions" scetion urls missing in sitemap and un-searchable"
**Describe the bug**
Many docs under "Previous Versions" section missing in [sitemap](https://docs.microsoft.com/_sitemaps/sitemapindex.xml), users are unable to search these pages in any search engine.
Such as [Network Location Awareness | Microsoft docs](https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2008-R2-and-2008/cc753545(v=ws.10)).

**To Reproduce**
Search

[2020-04-20 06:49] barchen1 opened #2687 "bug- get alert related user is not working"
**Describe the bug**
I used this API request lots of time in the past and it always return the user, but now for some reason its not working although I have alerts related to user.

**To Reproduce**
Steps to reproduce the behavior:
1. send an API request to GET https://api.securitycenter.windows.com/api/alerts/636688558380765161_2136280442/user

2. See error - not found

**Expected behavior**
The

[2020-04-20 20:23] SMKozuch opened #2688 "MS Dynamics - Wrong description for LastMonth function"
The [LastMonth](https://docs.microsoft.com/en-us/dynamics365/customer-engagement/web-api/lastmonth?view=dynamics-ce-odata-9) documentation has incorrect description of the function, which is inherited from LastFiscalYear function. This can also be seen in an [overview](https://docs.microsoft.com/en-us/dynamics365/customer-engagement/web-api/queryfunctions?view=dynamics-ce-odata-9) of all WebAPI Qu

[2020-04-21 05:48] aggieben commented on #2536
Any updates here?

[2020-04-21 14:55] craigg-msft commented on #711
unfortunately this is not a git repo / issues collection that is monitored by the content teams, so apologies.  Creating a tracking Azure Boards item to fist see if the issue still exists.  closing this git issue. #please-close   azure boards item is https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1709824

[2020-04-21 14:55] #711 closed

[2020-04-21 16:28] MikeRayMSFT commented on #2342
@KevinPence - thanks for being very specific, and taking time to look at file history. The reason some of the applies to version information was inserted, and then removed was because it wasn't accurate enough. In some cases it was just incorrect.

I really appreciate everyone's comments and I'm working with my team to help clarify versioning.

[2020-04-21 16:29] cartermp commented on #2536
@aggieben there's still some things awry here, but all the links to actual documentation are live: https://msdn.microsoft.com/visualfsharpdocs/conceptual/collections.list-module-%5bfsharp%5d

This link in particular is still broken (as is the root of the F# Interactive reference), so we'll have to look into that. But other issues files (e.g., can't access the List module docs) should be resolved n

[2020-04-21 17:20] docs-product commented on #192
This functionality is already available on Microsoft Learn.

[2020-04-21 17:20] #192 closed

[2020-04-21 17:20] docs-product commented on #191
Search suggestions are displayed when the user is attempting to find content from the header.

[2020-04-21 17:20] #191 closed, assigned to presleyy

[2020-04-21 17:21] docs-product commented on #186
We are assessing what formats we need to support for offline documentation. In the short-term, we do not plan to implement any additional formats beyond PDF and Offline Help.

[2020-04-21 17:21] #186 closed

[2020-04-21 17:22] docs-product commented on #176
We have shipped collections and bookmarks on docs.microsoft.com, where you can store content references you like to refer to in the future!

[2020-04-21 17:22] #176 closed

[2020-04-21 17:23] docs-product commented on #131
At this time, we do not have plans to amend how PDF files are generated.

[2020-04-21 17:23] #131 closed

[2020-04-21 17:23] docs-product commented on #126
This issue is now resolved - searching for C++ should yield correct results.

[2020-04-21 17:23] #126 closed

[2020-04-21 17:24] docs-product commented on #112
Closing this issue as we have introduced multiple affordances to get to the right content quickly, including content type filters and a better underlying search engine.

[2020-04-21 17:24] #112 closed

[2020-04-21 17:25] docs-product commented on #113
Duplicate of #96

[2020-04-21 17:25] #113 closed

[2020-04-21 17:29] MikeRayMSFT commented on #2342
Created internal tracking item: User Story 1709946: SQL | Improve visibility of features by version

[2020-04-21 17:30] docs-product commented on #48
We are constantly working to improve the discoverability of content. We'll ensure that as we design new experiences, we maintain proper links between content sets and related articles.

[2020-04-21 17:30] #48 closed

[2020-04-21 17:38] docs-product commented on #2419
This issue should be addressed - thank you for the flag, @jonpryor!

[2020-04-21 17:38] #2419 closed

[2020-04-21 17:39] docs-product commented on #2687
Thank you for the feedback! Because this is not related to docs.microsoft.com, we cannot address it in this forum. We recommend reaching out to the appropriate product support channel for faster resolution.

[2020-04-21 17:39] #2687 closed

[2020-04-21 17:40] docs-product commented on #2678
Thank you for the feedback! Because this is not related to docs.microsoft.com, we cannot address it in this forum. We recommend reaching out to the appropriate product support channel for faster resolution.

[2020-04-21 17:40] #2678 closed

[2020-04-21 17:40] docs-product commented on #2674
Thank you for the feedback! Because this is not related to docs.microsoft.com, we cannot address it in this forum. We recommend reaching out to the appropriate product support channel for faster resolution.

[2020-04-21 17:40] #2674 closed

[2020-04-21 17:41] #2651 closed

[2020-04-21 17:44] docs-product commented on #2581
Thank you for the feedback! Because this is not related to docs.microsoft.com, we cannot address it in this forum. We recommend reaching out to the appropriate product support channel for faster resolution.

[2020-04-21 17:44] #2581 closed

[2020-04-21 17:45] docs-product commented on #2420
This ties into the work we have for #462. I will resolve this as a duplicate, with a reference in the other item to make sure that we're properly accounting for user preferences.

[2020-04-21 17:45] #2420 closed

[2020-04-21 17:52] docs-product commented on #2526
Thank you for the report, the links should be fixed.

[2020-04-21 17:52] #2526 closed

[2020-04-21 17:55] docs-product commented on #2684
@zevfarkas can you please clarify what notifications are you looking for specifically?

[2020-04-21 17:56] docs-product commented on #2686
That is likely by design. @kexugit to clarify.

[2020-04-21 18:00] #134 closed

[2020-04-21 18:08] CarlRabeler commented on #2342
@KevinPence Is it possible to import the docs from SS2008 and SS2012 into SSMS help viewer? Yes - we are updating the content this week to show how to install older versions of SQL help docs into the current version of SSMS - we have tested, 2012, 2014, and 2016.
Carl

[2020-04-21 18:29] zevfarkas commented on #2684
When I commented on an item, there was an option to be notified when there
was any activity (such as someone adding a comment), but now I don't see
any controls so that I could (if I wanted to) stop getting notifications.
(Systems like this often also have such options as getting notifications
immediately, or having them bunched into a single notification per day,
etc...)

On Tue, Apr 21, 2020 at

[2020-04-21 19:32] mrgoos commented on #2674
That's a shame that no one in Microsoft can answer my simple feature request or guide me how to make progress with it.

[2020-04-21 23:11] TinaMcN commented on #1806
@keiichim1975, can you please confirm if the issue is fixed and if so, can you close?  Thank you!

[2020-04-21 23:19] TinaMcN commented on #2558
@hyoshioka0128 can you check if the issue is fixed?

[2020-04-21 23:20] TinaMcN commented on #2628
@OfficeGlobal , can you please provide an update on this.

[2020-04-21 23:54] riverar opened #2689 "Incorrect Windows.Foundation.Metadata.Static attributes throughout docs"
Throughout docs, WinRT classes are either documented as hosting multiple copies of the `Windows.Foundation.Metadata.Static` attribute. This appears to affect [most classes](https://duckduckgo.com/?q=site%3Adocs.microsoft.com+Windows.Foundation.Metadata.Static&ia=web).

# Examples

## [SharedStorageAccessManager](https://docs.microsoft.com/en-us/uwp/api/Windows.ApplicationModel.DataTransfer.SharedS

[2020-04-22 00:07] riverar opened #2690 "Search engine meta text for some pages showing raw html tags"
StaticAttribute Class
![image](https://user-images.githubusercontent.com/475132/79926359-8f22c900-83f1-11ea-9803-e0b3c9771825.png)

* Example searches: [Bing](https://www.bing.com/search?q=site%3Adocs.microsoft.com%20Windows.Foundation.Metadata.Static&qs=n&form=QBRE&sp=-1&pq=site%3Adocs.microsoft.com%20windows.foundation.metadata.static&sc=0-58&sk=&cvid=9D6840EF483C448CAA4798173AD2CD97) | [DuckDuc

[2020-04-22 00:43] catPill commented on #2686
That’s doc for a living technology, even hide out date docs is by design, docs about NLA is lacking in search results.

[2020-04-22 03:08] hyoshioka0128 commented on #2558
@TinaMcN - Fixed.
Closed #2558.
Thanks.

[2020-04-22 03:08] #2558 closed

[2020-04-22 07:58] MSDN-WhiteKnight commented on #2595
This was fixed - samples are now displayed in Sample browser

[2020-04-22 07:58] #2595 closed

[2020-04-22 13:28] OfficeGlobal commented on #2628
@takatkyu , @TinaMcN  I'm sorry for a delay. String is updated at live page

[2020-04-22 17:55] HoundThe commented on #462
Oh yes, finally found that issue exists for this insane pain in the ass, maybe atleast a basic button to turn off machine translation?

[2020-04-22 18:09] bodhigautam commented on #462
@dendeli-msft @RyanKing77 This is for the locale redirection improvement feature we have been discussing. Can we please get it prioritized and delivered ? cc @SonjaSaltzman

[2020-04-22 19:52] kexugit commented on #2686
@catPill By default all content migrated to Docs previous versions are marked as NOINDEX,NOFOLLOW unless content owners have made especial request for business needs to mark content INDEX,FOLLOW. (Except for API reference content which is part of the APIScan are marked INDEX,FOLLOW). This also means that they are not going to be included in the sitemap.

[2020-04-22 21:31] TLBGT opened #2691 "A Module Has Been Completed But No Badge Was Issued"
A week ago, while signed in using the email address associated the this account, I completed the module "Introduction to Power Automate security and governance" but did not receive a badge for it. A side effect of not receiving the badge is that after completing the other badges in the learning path, I didn't receive a trophy for "Use best practices to secure and govern Power Automate environments

[2020-04-22 21:33] dastaffo commented on #2302
Ryan Currie (@rycurrie) is the new collections PM.

[2020-04-22 21:34] terrimorton commented on #1293
@Rick-Anderson This issue was resolved and should be closed.

[2020-04-22 21:39] Rick-Anderson commented on #1293
@alligreubel  do you know who can close this?

[2020-04-22 22:12] #1293 closed

[2020-04-22 22:33] superfon commented on #1293
- [ ]

- ###

- [ ]

-

[2020-04-22 23:12] superfon commented on #2687
-

《=?    ^        # ### [₩*1__](###

)**__**

-`

[2020-04-23 01:21] takatkyu commented on #2628
Thank you so much. I have confirmed that it has been corrected.

[2020-04-23 01:21] #2628 closed

[2020-04-23 01:51] RussKie commented on #2525
Come here to ask the same, it is annoying to constantly change from net48.

[2020-04-23 01:53] go-shinyashiki opened #2692 "Please correct the documentation mistake"
**Is your feature request related to a problem? Please describe.**
The documentation states that "the app will be restarted if the app's memory quota is exceeded."
But actually it stops without restarting the app

https://docs.microsoft.com/ja-jp/azure/app-service/web-sites-monitor#quota-enforcement

**Describe the solution you'd like**
Please correct to "Stop" without writing "Restart".

**Descri

[2020-04-23 06:21] catPill commented on #2686
Thanks, so if there were any problem, the problem is Previous Version docs without successor shouldn’t be marked as NOINDEX.

[2020-04-23 11:43] tremblaysimon opened #2693 "Azure management libraries for .NET samples for SQL Database link is broken"
**Describe the bug**
In that page, https://docs.microsoft.com/en-us/dotnet/api/overview/azure/sql?view=azure-dotnet, the link Azure management libraries for .NET samples for SQL Database link is broken.

Click on it and you will get an error 404.

Maybe it should link to https://github.com/Azure/azure-libraries-for-net/tree/master/Samples/Sql directly?

[2020-04-23 19:52] annullator opened #2694 "Have a feature like "let me google that for you""
**Is your feature request related to a problem? Please describe.**
It would be nice to have a feature that sends users to doc.microsoft.com and shows them how to search for something similar to https://www.lmgtfy.com/

**Describe the solution you'd like**
something like https://www.lmgtfy.com/ but for docs.microsoft.com

[2020-04-24 00:07] PlushBeaver commented on #1129
Docs also claim Windows Server 2016 support, but KernelBase.dll doesn't export VirtualAlloc2 at least on Windows Server 2016 Datacenter Version 10.0.14393. Windows 10 clients and Windows Server 2019 are supported as described.

[2020-04-24 11:35] skhim428 opened #2695 "it is fucking shit you motherfucker"
i dont know why my fucking sandbox keeping fuckoff. you motherfucker on9 Microsoft.

[2020-04-24 15:27] TCLNA opened #2696 "[C# Documentation, Broken] - Global Attributes doesn't exist"
**Describe the bug**
Hello there,
In the documentation, the drop-down item **Global Attributes** from `Attributes read by the compiler` redirects to microsoft's main page.

I think it's just a relic since when i try to imitate the issue link (`https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/attributes/general/global-attributes`) i fall into a 404 page.

**To Reproduce**
Go to the

[2020-04-24 22:14] dipesharora commented on #523
We have a current use case for such an API for Azure. It will really help us deploy self-service options.

[2020-04-25 03:22] Andriy-dev opened #2697 "Azure Module point to 404 Page"
**Describe the bug**
Navigate to https://docs.microsoft.com/en-us/powershell/module/?term=Azure

Select Azure Module (first)

Azure Module | This topic displays help topics for the Azure Service Management Cmdlets.

You will get 404 error

**To Reproduce**
Steps to reproduce the behavior:

Navigate to https://docs.microsoft.com/en-us/powershell/module/?term=Azure

Select Azure Module (first)

Azur

[2020-04-26 10:59] RashikaKarki opened #2698 "Learning Path Completion Status not Reflected"
**Describe the bug**
After the completion of Learning Path, "Azure Fundamentals", the completion status is still not reflected in the profile.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots

[2020-04-26 22:03] tommai78101 opened #2699 "Windows 10 Environment Variables List"
**Describe the solution you'd like**

Currently, we know for certain in Windows 10, we can get a list of environment variables from the following registry locations:

User environment variables are stored in the registry key below:

`HKEY_CURRENT_USER\Environment`

System environment variables are stored in the registry key below:

`HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manag

[2020-04-27 07:11] ykasugai opened #2700 "Teams Live Event is NOT allowed with Business Essential and Business Premium"
https://docs.microsoft.com/ja-jp/office365/servicedescriptions/teams-service-description
Microsoft 365 Business Basic、Microsoft 365 Business Standard、Microsoft 365 for Businessではライブイベントを開催できないので、「小規模企業Small business」の「ライブイベントLive Events」行の表記を「はい」から「いいえ」に修正してください。

[2020-04-27 08:11] ykasugai opened #2701 "Temas Live Event is NOT allowed by Business Essentials and Business Premium"
このURLからダウンロードできる「オンラインサービス条件」34ページ目が、Business Essentials、Business PremiumでTeamsオンラインイベントが開催できると読みとれます。Microsoft Streamの部分に注釈の８を付けて下さい。

https://nam06.safelinks.protection.outlook.com/?url=http%3A%2F%2Fwww.microsoftvolumelicensing.com%2FDownloader.aspx%3Fdocumenttype%3DOST%26lang%3DJapanese&data=02%7C01%7Ckasugai.yoshitaka%40microsoft.com%7Ce3f5531f72594558235808d7ea7d234e%7C72f988bf86f141af91ab2d7

[2020-04-27 11:01] minona99 opened #2702 "No Republic of Moldova on the registration list"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-04-27 14:38] echalone opened #2703 "Wrong parameter name in Rest API call documentation of Azure DevOps Server"
The following page:
https://docs.microsoft.com/en-us/rest/api/azure/devops/security/access%20control%20entries/remove%20access%20control%20entries?view=azure-devops-rest-5.1&source=docs
Wrongly names the parameter for the SecurityTokens as "token", when it should be "tokens" (if you try it with "token" it will throw an error).

[2020-04-27 16:51] #2509 closed

[2020-04-27 23:33] ordinaire1 opened #2704 "sandbox for azure"
**Describe the bug**
Yesterday I created Azure free account and started the azure course on docs.microsoft.com because i decided to learn it during the quarantine. And I can't use the sandbox, I just see the message that the sandbox is prohibited for me because I violated the Terms of Use. But how can I  violate it if I've just created free Azure account and do nothing yet?

Now I can see this mes

[2020-04-27 23:48] jmussman opened #2705 "Web PI instructions missing a step"
On the page https://docs.microsoft.com/en-us/iis/application-frameworks/scenario-build-a-php-website-on-iis/configuring-step-1-install-iis-and-php the Web PI instructions are missing a step: in step two you have to download the MSI, then install Web PI, then run Web PI.

[2020-04-28 15:31] kahopkin opened #2706 "Use standard date in the Activity log page instead of the "Friendly Date""
**Describe the solution you'd like**
I think a lot of users would either like the option to use Standard dates on the Activity Page or just see the regular date format instead of the friendly date that can be vague such as 3 months ago.
It would be nice, if it just said: "You started a module on 04/24/2020" and not "a week ago"  Friendly dates are not helpful, they are not precise.

**Describe alt

[2020-04-28 19:16] SuperBeana opened #2707 "顺序写反了"
https://docs.microsoft.com/zh-cn/dotnet/csharp/tutorials/intro-to-csharp/branches-and-loops?tutorial-step=2
只有当条件的测试结果为 else 时，才执行 false 关键字后面的语句。 将 if、else 与布尔条件相结合，可以实现所需的一切目标。

[2020-04-28 19:31] SuperBeana opened #2708 "顺序写反了 (The order is the opposite.)"
https://docs.microsoft.com/zh-cn/dotnet/csharp/tutorials/intro-to-csharp/branches-and-loops?tutorial-step=3
此示例新引入了另外一个运算符。 ++ 变量后面的 counter 是增量运算符。 它负责用计数器值加 1，并将计算后的值存储在计数器变量中。

[2020-04-29 01:18] yyh0o opened #2709 "Parameters in wrong order"
**Describe the bug**
https://docs.microsoft.com/en-us/windows/win32/api/threadpoollegacyapiset/nf-threadpoollegacyapiset-createtimerqueuetimer?redirectedfrom=MSDN

The parameters of function CreateTimerQueueTimer are in **wrong order** at `Syntax` part in the site.

The correct Syntax is:
[code]
Also parameters are described in **wrong order** at `Parameters` part.

[2020-04-29 17:20] joshua-phillips opened #2710 "MS Docs Platform Productized?"
This is a question and not feedback, but couldn't find a good place to ask.

Is docs.microsoft.com available as a platform that other companies or individuals can use? It's a really great documentation format and system of contribution. Would be great if it were productized for others to use as well for their own documentation needs.

[2020-04-30 07:37] keiichim1975 commented on #1806
@TinaMcN  Thank you very much for your action ! I have confirmed to fix correctly. It is  no problem to close !

[2020-04-30 09:58] smholvoet opened #2711 "[Question] Which static site generator does MS Docs use?"
Could you share which static site generator is being used to generate the Microsoft Docs pages from markdown files? 🤔

[2020-04-30 13:54] paparthi opened #2712 "Spell correction - Principals of a well designed application"
*Describe the bug**
The title reads "Principals of a well designed application" instead of "Principles of ...".

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/azure/architecture/

**Expected behavior**
It is a minor update to a title.

**Screenshots**
If applicable, add screenshots to help explain your problem.

![image](https://user-images.githubuserc

[2020-04-30 19:06] TinaMcN commented on #1806
@keiichim1975 thank you for confirming it is fixed.  Is it possible for you to close it?  I don't have the access rights to close it.

[2020-05-01 05:17] keiichim1975 commented on #1806
@TinaMcN  Oh, Sorry.. I have closed a case, Thank you!

[2020-05-01 05:17] #1806 closed

[2020-05-01 15:27] SmRiley opened #2713 "Chinese requirements for documents for .NET API browser"
Hello, I'd like to ask if there is a schedule for the localization of. Net API browser documents, because I notice that the documents in this section do not seem to be maintained by the community

[2020-05-01 19:04] gewarren commented on #2713
@JasonCard Can you help answer this?

[2020-05-01 19:07] gewarren commented on #2713
This issue was moved to dotnet/dotnet-api-docs#4188

[2020-05-01 19:07] #2713 closed

[2020-05-01 19:22] gewarren commented on #2708
Translation:

This example introduces another operator. The counter after the variable is the delta operator. It is responsible for adding 1 with the counter value and storing the calculated value in the counter variable.

[2020-05-01 19:23] gewarren commented on #2708
This issue was moved to dotnet/docs#18210

[2020-05-01 19:23] #2708 closed

[2020-05-01 19:27] gewarren commented on #2712
@paparthi Thank you!

[2020-05-01 19:28] gewarren commented on #2707
This issue was moved to dotnet/docs#18211

[2020-05-01 19:28] #2707 closed

[2020-05-01 19:33] gewarren commented on #2703
@mijacobs Do you know who owns these API docs?

[2020-05-01 19:36] gewarren commented on #2696
This issue was moved to dotnet/docs#18212

[2020-05-01 19:36] #2696 closed

[2020-05-01 19:48] gewarren commented on #2692
This issue was moved to MicrosoftDocs/azure-docs#53857

[2020-05-01 19:48] #2692 closed

[2020-05-01 19:52] gewarren commented on #2680
This issue was moved to MicrosoftDocs/visualstudio-docs#5222

[2020-05-01 19:52] #2680 closed

[2020-05-01 19:54] gewarren commented on #2675
This issue was moved to MicrosoftDocs/visualstudio-docs#5223

[2020-05-01 19:54] #2675 closed

[2020-05-01 19:55] gewarren commented on #2673
This issue was moved to MicrosoftDocs/edge-developer#646

[2020-05-01 19:55] #2673 closed

[2020-05-01 19:57] gewarren commented on #2670
@aprilspeight Where should this feedback be directed?

[2020-05-01 20:00] gewarren commented on #2693
This issue was moved to Azure/azure-docs-sdk-dotnet#1178

[2020-05-01 20:00] #2693 closed

[2020-05-01 20:02] jayp00001 commented on #2670
I think the gallery team?  the issue is that this knowledge is going away completly so there should be some way to either get it all before it goes or some sort of searchable archive

[2020-05-01 20:09] gewarren commented on #2655
This issue was moved to MicrosoftDocs/msteams-docs#1616

[2020-05-01 20:09] #2655 closed

[2020-05-01 20:11] gewarren commented on #2647
This issue was moved to MicrosoftDocs/visualstudio-docs#5224

[2020-05-01 20:11] #2647 closed

[2020-05-01 20:18] gewarren commented on #2621
This issue was moved to MicrosoftDocs/visualstudio-docs#5226

[2020-05-01 20:18] #2621 closed

[2020-05-01 21:54] xenophilios opened #2714 "Print Versions of Documents"
Articles in the Documentation have Bookmark, Edit and Share options. It would be nice if there were also a Print option, as there used to be.

[2020-05-02 00:12] stevewhims commented on #1927
@ChuckM2, what I'm thinking is that each format would be represented by its own section. Here's what just the first format's section would look like:

The images are broken here, but they won't be in the final topic. And you could then navigate to the topic, search for the format(s) you're interested in, and view the table in that section. As I say, the "in this article" sidebar on the right would

[2020-05-02 04:12] aprilspeight commented on #2670
Hi @gewarren please direct this feedback to @rloutlaw

[2020-05-03 16:01] Znaczy opened #2715 "Themes at the bottom of document is frustrating"
By putting Theme button at the bottom, You are now forcing users, who prefer to read in dark theme, to scroll to the end of the article, switch color, and come back to beginning so they can start to read. And they have to do this every time they open a link on a new page. This is not user friendly at all.

Please, put it back where it was.

[2020-05-04 02:34] clancy opened #2716 "Rest API documentation issue - Search Service - Preview - Skillsets - Reset Skills"
**Describe the bug**
There are a number of issues on the reset skills page https://docs.microsoft.com/en-us/rest/api/searchservice/2019-05-06-preview/reset-skills

Firstly this page references the current api version in multiple places as being `2019-05-06` yet this documentation is in the `2019-05-06-preview` api documentation.

I have removed the names of my resources from the following samples

[2020-05-04 03:11] afwn90cj93201nixr2e1re opened #2717 "Space"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-05-04 03:12] afwn90cj93201nixr2e1re commented on #2717
@alligreubel

[2020-05-04 04:05] PRMerger7 commented on #2033
GitHub user dendeli-msft has been removed from the MicrosoftDocs organization, so they were automatically removed as an assignee.

[2020-05-04 07:40] niteshiosdev opened #2718 "Rest API documentation issue - For Table Connection"
Hello Support,

I am trying to find the way to connect Table storage using Rest API but didn't find any Proper way for connection.

Apple stop supporting the UIWebview, so we are not able to use client SDK for IOS.
We are trying to find out the way for connection using Rest API.

There is no example using curl so we can use the Postman for connection to check the connection and implement the funct

[2020-05-04 08:31] asklar commented on #1625
@drewbatgit it's been 7 months, could you please provide an update? the PROCESS_INFORMATION_CLASS page seems to have gone missing completely now
![image](https://user-images.githubusercontent.com/22989529/80948428-e720de80-8da6-11ea-82f7-1961be9d8fd2.png)

[2020-05-04 10:52] sdebruyn opened #2719 "Missing documentation on provisioningState parameter in Databricks Workspace"
**Is your feature request related to a problem? Please describe.**
The `provisioningState` parameter in the [Databricks Workspace](https://docs.microsoft.com/en-us/rest/api/databricks/workspaces/get#provisioningstate) object is not documented. There are quite a few states and it's not clear what each state means and how they transition to each other.

**Describe the solution you'd like**
Please do

[2020-05-04 12:36] ebulgrin opened #2720 "Email is required to activate a sandbox"
I am having issues creating the sandbox for any modules now. For example:

https://docs.microsoft.com/en-us/learn/modules/create-long-running-serverless-workflow-with-durable-functions/4-exercise-create-a-workflow-using-durable-functions

I have been able to up until Thursday April 30th when the issues started. I get the error:

Email is required to activate a sandbox. Your Microsoft account must

[2020-05-04 19:56] drewbatgit commented on #1625
@asklar I apologize for letting this issue fall through the cracks. I've investigated this issue today and have determined that the API reference page for this API was checked into our old content management system in 2015 but it was explicitly excluded from the documentation build. It appeared in the migrated content due to a quirk in the content migration process. I am currently attempting to tr

[2020-05-05 14:48] reinhold1 opened #2721 "Create Folder With Space(s) At End Of Name"
The following command creates a folder with spaces at the end of the name which is not allowed following https://docs.microsoft.com/en-us/windows/win32/fileio/naming-a-file#naming-conventions.
mkdir "c:\temp\abcde  \"
The new folder can not so easily be removed. The shortname may be of help (if available on the partition). Even trying to remove the parent folder fails!
rmdir "c:\temp\abcde  \"
doe

[2020-05-06 05:42] shalakaravalekar commented on #1797
I have the same problem, I am going through "Exercise - Create a website hosted in Azure" and I am not able to activate the sandbox. I get below error

Email is required to activate a sandbox
Your Microsoft account must be linked to a valid email to activate a sandbox. Go to Microsoft Account Settings to link your email and try again.

Please help to fix the issue as I have an exam tomorrow and I

[2020-05-06 12:40] h0ek commented on #2537
Same issue here. Yesterday I was using https://docs.microsoft.com/pl-pl/learn/ portal for Azure training and today after login it shows me main page but I am not logged in.
Cache cleared, different browser used. Just once I had info that there is some issue and some loop occurs and I should contact my service provider?!?

[2020-05-06 14:33] wjohnson2250 commented on #1449
I am having exactly the same problem with unit 3 of Microsoft Learning Azure Module, '**Optimize the performance of Azure Cosmos DB by using partitioning and indexing strategies**'. The title of the unit is '**Exercise - Create and populate your Azure Cosmos DB collections**'.  The failure occurs on attempting to open a Cloud Shell. I've tried rerunning another earlier unit that I have successfull

[2020-05-06 22:31] stwilson74 opened #2722 "Azure Sandbox error retrieving subscription"
**Describe the bug**
For the past three days in the Azure Sandbox when I launch it and then login to the portal I receive an error stating "Error retrieving subscriptions" "There was an error retrieving subscriptions. Please reload the portal to try again."  I have tried clearing the browser cache, inprivate session, rebooted the computer but still have the same issue.

**To Reproduce**
Steps to r

[2020-05-07 00:37] bestmbaman commented on #1094
Hi I experience the same issue on VS2017, any updates on this issue?

[2020-05-07 02:24] gb1337 opened #2723 "Microsoft Learn: Stuck in a sign in loop"
I can't sign in to https://docs.microsoft.com/en-us/learn/

I get stuck in a loop.

1. I visit https://docs.microsoft.com/en-us/learn/
2. I click "Sign in" in the upper right hand corner.
3. I enter my personal MS account info.
4. I get redirected to https://docs.microsoft.com/en-us/learn/ and I very briefly see the page before being redirected again to the sign in page.
5. Rinse and repeat.

I ha

[2020-05-07 05:37] jax214 commented on #2723
i'm getting the same error :(

[2020-05-07 06:29] RedRubicon commented on #2537
Similar issue. When attempting to login using SSO via:
https://docs.microsoft.com/en-us/learn/
via:
https://login.microsoftonline.com/common/oauth2/v2.0/authorize?client_id=18fbca16-2224-45f6-85b0-f7bf2b39b3f3&nonce=6dd1bbd5-f1b0-4e0e-8176-cb1f13c02ae6&prompt=select_account&redirect_uri=https%3A%2F%2Fdocs.microsoft.com%2F_themes%2Fdocs.theme%2Fmaster%2Fen-us%2F_themes%2Fglobal%2Fsign-in.html&respo

[2020-05-07 06:36] TheEvilDoctor commented on #2537
I read somewhere else (sorry can't remember where) that the bug is related to the communications checkbox.  If you agree to receive Microsoft's newsletter/updates, etc. in communication preferences or signup then the redirect does not occur.  Opting out causes the infinite redirect.

[2020-05-07 09:47] massiung commented on #2723
I'm experiencing the same problem. I'm being redirected back to the sign in page after signing in. Also tried multiple browsers.

[2020-05-07 10:20] MatsAnd commented on #2723
I'm experiencing the same thing, both with my personal and work/school account. Have tried clearing the cache, and in different browsers.

[2020-05-07 10:57] miki9938 commented on #2723
I'm having the same issue both with my personal and work account. I tried with different browsers but the site keeps me redirecting to sing in page over and over.

[2020-05-07 11:26] MatsAnd commented on #2723
@mimisasouvanh - Can you escalate this to the right team? 🙂

[2020-05-07 12:09] braulston commented on #2723
Same here and it's quite irritating. If you close the browser and reopen to docs you are still stuck in the same loop can't even get to the site

[2020-05-07 12:17] Yi-Ching-TW commented on #2723
Same here. I am in the login-loop with my two work accounts.

[2020-05-07 13:17] SteveCT commented on #2723
Same. Tried in an InPrivate session but also got stuck in the loop

[2020-05-07 14:33] hugopaparazzo commented on #2723
same. I have traced http requests in fiddler, and it seems that after authentication, docs.microsoft.com tries to register a new user and then get the profile, which returns 404.

![image](https://user-images.githubusercontent.com/64968552/81307056-1752d080-9078-11ea-869a-0a593fa50c9d.png)

[2020-05-07 14:52] stevehartdata opened #2724 ""Related topics" links are displayed vertically in PDF versions"
**Describe the bug**
In the PDF versions of pages that have "Related topics," the links to the related topics are displayed vertically.

**To Reproduce**
1. Go to a page that has related topics (e.g., [Dynamic Link Libraries](https://docs.microsoft.com/en-us/windows/win32/dlls/dynamic-link-libraries)).
2. Download PDF (e.g., for the [Dynamic Link Libraries page](https://docs.microsoft.com/en-us/wi

[2020-05-07 15:34] MartinVraspir commented on #2723
Same here. Tried in Edge Chromium (latest) and Chrome (latest), even in incognito mode, I got stuck in the loop.

[2020-05-07 17:26] pstricks-fans opened #2725 "How to hide the left navigation pane?"
The left navigation pane on the docs.microsoft.com is distracting if we cannot hide it when reading on the computer's browser.

Zooming in with Ctrl+mouse scroll can automatically hide the pane but the font becomes too large. It makes another problem: we have to scroll horizontally for viewing the code. It is very unpleasant.

If you don't mind, please make docs.microsoft.com more convenient for r

[2020-05-07 18:26] zerodev0 commented on #2723
Thank goodness I found this thread. I was tearing my hair out trying to log in. I've run into the loop on two separate browsers. Wondering what it is and when it will be fixed.

[2020-05-07 18:37] BenKeyFSI opened #2726 "Bug in Docs/My profile/Settings/Linked accounts"
In the Account Management/Linked accounts section of the Docs/My profile/Settings page there is a Add account button. This is supposed to allow you to link an organizational account to your personal account.

This feature assumes that the organizational account does not already exist. If you select an account that does already exist you will eventually end up getting the following error.

{Organiz

[2020-05-07 18:38] garyciampa commented on #2723
Ditto...working with a client, ~50 users experiencing the issue... great find...tick tock..waiting on an update to the issue.

[2020-05-07 18:42] hb-coder commented on #2723
we need to raise msft's attention to this, somehow. I tweeted @docsmsft but with no answer. any clue?

[2020-05-07 19:02] garyciampa commented on #2723
I have opened an incident with sitehelp.microsoft.com: 187284140

[2020-05-07 20:02] gb1337 commented on #2723
You mean SEV A?

[2020-05-07 22:53] garyciampa commented on #2723
UPDATE: Received feedback the issue has been mitigated, please validate and share...
![image](https://user-images.githubusercontent.com/56933939/81352221-04e69000-9094-11ea-8ad8-a8931c76d904.png)

[2020-05-07 23:29] gb1337 commented on #2723
It's working for me. Thanks for checking in with the business support. A shame MS doesn't check their Git. Only took 24h+ to fix and that was with your intervention ! Not impressed with MS on that one.

[2020-05-07 23:29] #2723 closed

[2020-05-07 23:47] garyciampa commented on #2723
I happen to work for MS, and had some capability to nudge the issue along on behalf of my user community. We kicked off a Cloud Skills Challenge program today and the issue was blocking for the new user community.   :-)

[2020-05-08 19:48] airmisdata opened #2727 "Too much translatation"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/fr-fr/dax/filters-function-dax
2. see the name of the title being "FILTRES" (which is FILTERS translated to french)

**Expected behavior**
The header should be "FILTERS" as this is the name of a DAX Function and should hence not be translat

[2020-05-08 19:50] airmisdata commented on #2727
Same for https://docs.microsoft.com/fr-fr/dax/quarter-function-dax
instead of "TRIMESTRE" in french, we should read "QUARTER"

[2020-05-08 19:54] airmisdata opened #2728 "Page broken : missing part of the content and some interactions"
**Describe the bug**
The page is broken : some text at the end of the page seem to be missing and some interactions like a toggle button "read in english" are not available

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/fr-fr/dax/new-dax-functions
2. See error

**Expected behavior**
The end of the page should be available and the toggle button to read in eng

[2020-05-08 20:44] airmisdata opened #2729 "Too much translation : data samples"
**Describe the bug**
This one is subtle : once the data is translated then the code doesn't reference anymore the correct column name

For example in https://docs.microsoft.com/fr-fr/dax/relatedtable-function-dax#example
there is the following table
  |   |   |  
-- | -- | -- | --
Product Category Key | Product Category AlternateKey | Nom de la catégorie de produits | Ventes sur Internet
1 | 1 | B

[2020-05-10 07:49] cremor opened #2730 "GitHub site feedback is not loaded on non en-us pages"
**Describe the bug**
It seems like all documentation pages that don't have `en-us` in their URL can't load the linked GitHub issues for site feedback.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any doc site, e.g. https://docs.microsoft.com/en-us/dotnet/standard/tour
2. Scroll down to the bottom of the page
3. See that the linked GitHub issues are shown correctly.
4. Change the `en

[2020-05-10 14:40] ncarandini commented on #462
Finally I've solved, using Edge Chromium (I'm actually using Beta Version 81.0.416.72 but maybe this works also un previous versions).
Going to Settings | Languages I was able to add the English language and move it to the top of the list. Now Edge use this preference and open the en-US version of Microsoft Docs web pages.
Eureka!

[2020-05-11 03:39] markschn opened #2731 ""Liquid error" displays on some LinkedIn API documentation"
Most of the pages under the LinkedIn Consumer Solutions Platform API Reference have the following text next to the date immediately under the page title:

Liquid error: parsing "{0}" - Quantifier {x,y} following nothing.

Example page
https://docs.microsoft.com/en-us/linkedin/shared/integrations/people/profile-api?context=linkedin/consumer/context

[2020-05-11 18:07] drewbatgit commented on #1625
@asklar - I consulted with the team that currently owns this feature and we were unable to determine why this API was manually configured to be omitted from the documentation, so I've added a new page for the API. The new page includes the information that was in the previous page and some new information I was able to gather from the source files. A few members of the enumeration that were undocu

[2020-05-11 18:07] #1625 closed

[2020-05-11 18:12] sscohn opened #2732 "Defective PDF File"
What happened to the PDF for the Windows HTTP Services section? All of the embedded links and many other parts have a carriage return (line feed) after every letter, making the document difficult to follow and consequently adding hundreds of pages to the PDF. Too bad it's not editable for readers. PDFs never are. Otherwise, I might venture to fix it myself.

The Microsoft Docs web page link is:
ht

[2020-05-11 18:32] asklar commented on #1625
@drewbatgit thank you for fixing this page. The `ProcessInPrivateInfo` _is_ actually used even though we've marked it as ignored. I was trying to file a new github issue for that but I don't see the link to do so?

[2020-05-11 18:47] ghogen opened #2733 "[error message feedback] provide feedback for circular-redirection"
This is a false positive - the redirection file has a version moniker, which makes this redirection a redirection to a previous version, not a circular redirection.

{
      "source_path": "docs/extensibility/accessing-text-layers-by-using-the-legacy-api.md",
      "redirect_url": "/visualstudio/extensibility/accessing-text-layers-by-using-the-legacy-api?view=vs-2015",
      "redirect_document_id"

[2020-05-11 21:15] KaleSurfer opened #2734 "Global Attributes link in main Navigation Bar goes to the wrong page"
**Describe the bug**
The following navigation bar link:
Language Reference -> Attributes read by compiler -> Global Attributes
[Pictured here](https://imgur.com/a/iUIJkNR)

..does not work, and instead goes to https://docs.microsoft.com/en-us/

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [C# .NET documentation page](https://docs.microsoft.com/en-us/dotnet/csharp/)
2. Click on side b

[2020-05-11 22:43] CarlRabeler commented on #2342
https://docs.microsoft.com/en-us/sql/sql-server/sql-server-offline-documentation?view=sql-server-ver15#sql-server-2014-offline-content

[2020-05-11 22:43] CarlRabeler commented on #2342
#please-close

[2020-05-11 22:43] #2342 closed

[2020-05-12 00:29] CePur opened #2735 "Order of Achievements"
Since Trophies are rarer than Badges they should be shown before in Achievements page in profile.

[2020-05-12 17:58] drewbatgit commented on #1625
@asklar - What info do you have on ProcessInPrivateInfo? If you share it here, I'll get it into the doc.

[2020-05-12 19:26] mannyg253 opened #2736 "Back foot security flaw"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-05-12 19:30] mannyg253 commented on #2736
It’s not a big a security flaw u didn’t protect your customers from and I’m going to work vigorously to take everything I have done to improve you back I told u the same time I told google  I made a report with my Microsoft account and u froze it don’t act like this is the first report I have given you

[2020-05-12 19:32] mannyg253 commented on #2736
The Microsoft art program that was a backdoor security risk I told google everything and they have been working with you the whole time and I have have watched it don’t act like your unaware

[2020-05-12 20:26] RonvStaay opened #2737 "% complete in collections is not shown correctly"
When opening a collection on Microsoft Learn site, the percentage complete is not shown correctly. See page: https://docs.microsoft.com/nl-nl/users/ronaldvanstaay-6385/collections/4xx6ap680wkp1
Alle modules are completed but the percentage complete shows 0%.

[2020-05-12 21:01] WindowsNT opened #2738 "Ribbon BG color does not work in Windows 10"
**Describe the bug**
https://docs.microsoft.com/en-us/windows/win32/windowsribbon/ribbon-color

**To Reproduce**
Use the code in the above entry, it just leaves the ribbon with the default background

**Expected behavior**
Change the ribbon BG color

**Desktop (please complete the following information):**
 - OS: Windows 10

[2020-05-12 21:22] Dalboz commented on #1094
![image](https://user-images.githubusercontent.com/370368/81746715-3eaa0300-94a7-11ea-9f30-fecc639d0584.png)

The issue keeps replicating on

![image](https://user-images.githubusercontent.com/370368/81746833-68632a00-94a7-11ea-8c08-4bb657d1c7ac.png)

[2020-05-12 21:53] asklar commented on #1625
@drewbatgit ProcessInPrivateInfo is used to set a process as running in "InPrivate" mode (e.g. Edge uses this). There is a guarantee about telemetry being blocked from processes marked as InPrivate but the code owners need to make that explicit :)

[2020-05-12 22:26] Youssef1313 commented on #2463
Ping @BillWagner

[2020-05-13 02:22] shuiqukeyou opened #2739 "The download link of FOD .cab file for Mixed Reality on Windows is not available"
When I tried to enable WMR for windows 10 LTSC, I found this page and knew that I needed to install the Windows Mixed Reality FOD.
(`https://docs.microsoft.com/en-us/windows/application-management/manage-windows-mixed-reality`)

But the download link of FOD .cab file on windows10 1809 is wrong, when I download it, the page shows "403-Forbidden"

Download links for other versions of FOD .cab files

[2020-05-13 07:45] hepiet commented on #1849
Is there any news on this? This feature is really old but is still showing on our documentation. https://docs.microsoft.com/en-us/rest/api/appservice/appserviceenvironments/suspend Could someone remove it from there?

[2020-05-13 10:55] marcoxe opened #2740 "docs.microsoft.com Certificates Turkey Web Page Text"
**Is your feature request related to a problem? Please describe.**
Problem is in this page (https://docs.microsoft.com/tr-tr/learn/certifications/) texts is not written by UTF-8.

**Describe the solution you'd like**
You should use UTF-8 in this page. I noticed just this page. Please check the other pages.

**Describe alternatives you've considered**
A clear and concise description of any alternat

[2020-05-13 16:57] KalleOlaviNiemitalo commented on #2721
@reinhold1, did you run the `mkdir "c:\temp\abcde "` command in a Git Bash window? In that case, msys-2.0.dll bypasses the Win32 [CreateFileW function](https://docs.microsoft.com/windows/win32/api/fileapi/nf-fileapi-createfilew) and instead calls the Native API [NtCreateFile function](https://docs.microsoft.com/windows/win32/api/winternl/nf-winternl-ntcreatefile) with `\??\C:\temp\abcde `, so the

[2020-05-13 16:57] straffin opened #2741 "WLAN EAP Settings doc broken, need missing information"
The first Note in the "Connect to these servers" section of the [Extensible Authentication Protocol (EAP) Settings for Network Access](https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2012-R2-and-2012/hh945104(v=ws.11)) documentation appears to have suffered a translation error from text to HTML. The second sentence is missing whatever goes inside the quotes and has

[2020-05-13 20:38] alexandreelhomsy opened #2742 "server name"
hello, my name is Alex and i recently downloaded microsoft sql. i have a problem with the server name, i do not know what to write in it, so if anyone could help me, please contact me on my email alexandre.el.homsy@hotmail.com, thank you.

[2020-05-13 20:59] binarycrusader opened #2743 "PeekMessageA documentation for PM_NOYIELD incomplete"
**Describe the bug**
The documentation for PeekMessageA (and PeekMessageW) documents the PM_NOYIELD value as follows:

However, inspection and experimentation shows it has other effects (it affects dispatching of messages from GetMessage/PeekMessage).  Please expand the definition to include the other effects.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/e

[2020-05-14 01:39] #1041 closed

[2020-05-14 02:08] superfon commented on #1041
https<https://1drv.ms/u/s!Arn4JlaSt0MdgUc-BMWIoEz57rEm>://1drv.ms/u/s!Arn4JlaSt0MdgUc-BMWIoEz57rEm<https://1drv.ms/u/s!Arn4JlaSt0MdgUc-BMWIoEz57rEm>

Wysłane z aplikacji Outlook Mobile

Wysłane z aplikacji Outlook Mobile<https://aka.ms/blhgte>

________________________________
Od: GB Clark II <notifications@github.com>
Wysłano: czwartek, 14 maja 2020, 3:39 AM
Do: MicrosoftDocs/feedback
DW: Subscri

[2020-05-14 02:33] KaleSurfer commented on #2734
It appears to be fixed now

[2020-05-14 02:33] #2734 closed

[2020-05-14 07:05] JamieVC opened #2744 "HLK version and its supported server OS version"
We are going to do the HLK test and checking this page for a current version pair in HLK and Server.
This page, however, seem not be updated.

[2020-05-14 07:18] reinhold1 commented on #2721
No, I did not use a special window. Originally it was a buggy piece of ObjectRexx code:
...
out_dir_2 = out_dir || jahr'-'monat || '\'
'mkdir "'out_dir_2'"'
...
where by a result of a typo 'jahr' and 'monat' contained two spaces. The variable 'outdir' contained 'c:\users\Reinhold\documents\'. Thus the command
'mkdir "c:\users\Reinhold\documents\  -  \"'
was handed over to Windows.
You can easily r

[2020-05-14 07:54] KalleOlaviNiemitalo commented on #2721
Can't reproduce with cmd.exe on Windows 10 Version 1909 (OS Build 18363.185).

[2020-05-14 08:23] bukowskm opened #2745 ""Account verification failed" when try to activate sandbox"
**Describe the bug**
When I try to do excercise https://docs.microsoft.com/pl-pl/learn/modules/welcome-to-azure/4-exercise-create-website I get error: "Account verification failed", detailed information: "Your account could not be verified and we've suspended your access to Learn sandbox."

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/pl-pl/learn/modules/w

[2020-05-14 11:29] philstubbington opened #2746 ""Following" feature doesn't appear to work"
**Describe the bug**
When clicking on the "Following" link (e.g. https://docs.microsoft.com/en-us/users/) a description briefly shows on the right saying "Follow your favourite threads, topics and users" which then disappears.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/en-us/users'
2. View the screen very carefully!

**Expected behavior**
Options to vie

[2020-05-14 13:29] Jeff-01 opened #2747 "disk write buffering not disabled by FILE_FLAG_NO_BUFFERING+FILE_FLAG_WRITE_THROUGH"
We're finding that despite using FILE_FLAG_NO_BUFFERING and FILE_FLAG_WRITE_THROUGH that we still lose disk writes which have completed if there is a power failure unless we also go into Device Manager and disable write caching - there does not seem to be any way to disable write caching in software despite the documentation (https://docs.microsoft.com/en-us/windows/win32/fileio/file-caching). I b

[2020-05-14 20:29] drpritch opened #2748 "Azure Storage SDK for Javascript - date calculations are wrong"
**Describe the bug**
Azure Storage SDK for Javascript documentation assumes Javascript dates are measured in seconds and that 24 hours = 86400, but they are actually measured in milliseconds, so 24 hours would be 86400000. The examples therefore don't work.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/en-us/javascript/api/@azure/storage-blob/?view=azure-n

[2020-05-14 23:42] iamitverma opened #2749 "Incorrect parameter in the cmdlet"
**Describe the bug**
Link: https://docs.microsoft.com/en-us/archive/blogs/secguide/security-baseline-final-for-windows-10-v1809-and-windows-server-2019

In the above link, the script name and parameter used in sample cmdlets are incorrect

.\BaselineLocalInstall.ps1 -WS2019Member           - for Windows Server 2019, domain-joined
.\BaselineLocalInstall.ps1 -WS2019NonDomainJoined  - for Windows Ser

[2020-05-15 03:54] ToMakeSense opened #2750 "break link in PowerShell Module Browser"
Break link in [Azure Service Management PowerShell Module Reference ](https://docs.microsoft.com/en-us/powershell/module/?view=azuresmps-4.0.0)
![image](https://user-images.githubusercontent.com/6244148/75016094-31433500-54c5-11ea-8e5b-cb2335d3b496.png)

Break link can be find for **`Azure`** Module (https://docs.microsoft.com/en-us/powershell/module/Azure/?view=azuresmps-4.0.0), the actual URL is

[2020-05-15 06:50] reinhold1 commented on #2721
Hi!
I am running several Windows 10 systems and I can reproduce the behavior on each system. The following test ran on an Windows 10 Home, 1909, 18363.778:
C:\temp>mkdir "abcdefghijklm  \"
C:\temp>dir
 Datenträger in Laufwerk C: ist Windows
 Volumeseriennummer: 7ED3-113E
 Verzeichnis von C:\temp
15.05.2020  08:47    <DIR>          .
15.05.2020  08:47    <DIR>          ..
15.05.2020  08:47    <DIR>

[2020-05-15 06:52] reinhold1 commented on #2721
Ah! The backslash got removed in my append!
mkdir "abcdefghijk  \"
Before the second " a backslash is necessary. The backslash does the job!

[2020-05-15 07:26] KalleOlaviNiemitalo commented on #2721
Ah, so the command `mkdir "abcdefghijk \"` creates a directory named "abcdefghijk " with a trailing space.

So does `mkdir "abcdefghijk :$I30:$INDEX_ALLOCATION"`, using the directory stream name from [\[MS-FSCC\]: NTFS Streams](https://docs.microsoft.com/openspecs/windows_protocols/ms-fscc/c54dec26-1551-4d3a-a0ea-4fa40f848eb3).

In the [Naming Files, Paths, and Namespaces - Win32 apps](https://doc

[2020-05-15 13:48] RashikaKarki commented on #2698
The learning completion report got reflected in my profile.

[2020-05-15 13:48] #2698 closed

[2020-05-15 16:36] Ankushamy opened #2751 "search broken - https://businessstore.microsoft.com/en-us/store"
Major issue or bug in search on website
when you go to https://businessstore.microsoft.com/en-us/store/search?q=one
go to search - it is broken

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://businessstore.microsoft.com/en-us/store/search?q=one'
2. Click on 'search'
3. Scroll down to 'type anything'
4. See error - it wont let you type -repro on many devices areas networks user

[2020-05-15 17:04] Lalune974 opened #2752 "error 404 on https://docs.microsoft.com/en-us/windows-hardware/manufacture/mobile/"
Can not access the technical reference for windows 10 mobile

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/en-us/windows-hardware/manufacture/'
2. Click on 'Mobile Manufacturing'
3. See error

**Expected behavior**
An access to repository for "Mobile Manufacturing" docs

**Screenshots**
![image](https://user-images.githubusercontent.com/65386033/82076960-a

[2020-05-15 23:35] edenalencar commented on #2515
I would like that comments were in Brazilian Portuguese!

[2020-05-16 09:22] ishibashi-futos opened #2753 "cannot downlaod **SDelete.zip**"
**Describe the bug**
can not download SDelete.zip

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/ja-jp/previous-versions/bb897443(v=msdn.10)?redirectedfrom=MSDN'
2. Click on 'SDelete のダウンロード'

**Expected behavior**
SDelete.exe will be downloaded.

**Screenshots**
![image](https://user-images.githubusercontent.com/41904268/82116053-b75bd880-97a1-11ea-96ed-a9

[2020-05-16 09:29] ishibashi-futos commented on #2753
You were able to download it from this URL. 'https://docs.microsoft.com/en-us/sysinternals/downloads/sdelete'
object url: https://download.sysinternals.com/files/SDelete.zip

You were able to download it from this URL.
http://download.sysinternals.com/files/sdelete.zip

[2020-05-16 16:17] diablodale commented on #2108
Unfortunately, this spam banner does not go away. Instead, it returns on *every* page. Naturally, once a customer has read it once, and clicked to close it, it should never appear again. SOP Ux behavior.

## Repro

1. Visit https://docs.microsoft.com/en-us/previous-versions/windows/kinect/dn782038(v=ieb.10)
2. Click X on right of spam banner.
3. Click `C+ Reference` in main content pane
4. Click X

[2020-05-17 13:27] Priednis commented on #2118
Hi, not sure if this needs to be a separate issue, but I think it is related:

Now all the bookmarks are in one big list, it would be helpful to sort or filter on which bookmark is for a learning path and which for a learning module.

[2020-05-17 16:37] KalleOlaviNiemitalo commented on #2747
These have some information about caching in disk drives, but I don't know whether it is up to date:

- [Deploying Transactional NTFS - Win32 apps | Microsoft Docs](https://docs.microsoft.com/windows/win32/fileio/deploying-transactional-ntfs)

- [Hyper-V storage: Caching layers and implications for data consistency](https://support.microsoft.com/help/2801713/hyper-v-storage-caching-layers-and-impl

[2020-05-18 14:26] guardrex commented on #1632
The product (and link) is dead now, so this can be closed.

[2020-05-18 14:26] #1632 closed

[2020-05-18 14:35] guardrex opened #2754 "A useful additional case for the en dash"
Moving this issue from the style manual repo here to get more management :eyes: on it ...

[A useful additional case for the en dash (MicrosoftDocs/microsoft-style-guide #143)](https://github.com/MicrosoftDocs/microsoft-style-guide/issues/143)

The style manual only permits the en dash for *grammatical* use cases, as a connector of words and phrases. I recommend that you open up the en dash for us

[2020-05-18 14:52] Nathananyintan opened #2755 "..."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-05-18 14:53] Nathananyintan opened #2756 "...."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-05-18 14:53] Nathananyintan commented on #2756
....

[2020-05-18 14:54] #2756 closed

[2020-05-18 14:54] Nathananyintan commented on #2756
...

[2020-05-19 01:55] successhawk opened #2758 "Microsoft Q&A Broken Links - 404 Errors"
**Describe the bug**
Microsoft Q&A tab/page is all screwed up.  404's all over the place.

**To Reproduce**
Go to : [https://docs.microsoft.com/en-us/answers/products/](https://docs.microsoft.com/en-us/answers/products/)
Click on any of the RED RECTANGLE enclosed links in the screenshot below.

**Expected behavior**
Non-404's.

**Screenshots**
![image](https://user-images.githubusercontent.com/374

[2020-05-19 01:56] successhawk commented on #2758
Well, as soon as I posted this it appears to be fixed.

[2020-05-19 03:50] mairaw commented on #1632
Really weird experience with this product. Some inner links still work: https://docs.microsoft.com/en-us/healthvault/introduction/introduction

[2020-05-19 06:35] Youssef1313 commented on #2681
It's okay to consider it as a comment in syntax highlighting. Some shells do that.
The fix is to enclose the language between double quotes. That was already fixed in #18454.

[2020-05-19 06:39] Youssef1313 commented on #2567
The samples you are looking for haven't been migrated yet to the samples browser. Temporarily, you can find them in the [archive](https://github.com/microsoftarchive).

[2020-05-19 07:01] hteumeuleu commented on #2172
Any possible update on this?

[2020-05-19 09:21] Ashing27 opened #2759 "Some description on page is not correct enough."
On the page:
https://docs.microsoft.com/zh-cn/windows/mixed-reality/unreal-uxt-ch2
the introduction of 7th step is
"...然后在 DefaultSceneRoot 上单击并拖动 Root...", is to hard to understand.
Root is not on DefaultSceneRoot, and it's also impossible to click or drag anything on it.
it may be a mistake in translation.
It's better to descript it as "...然后单击并拖动Root到DefaultSceneRoot上..."

[2020-05-19 09:45] electronum opened #2760 "Links to GitHub pages at https://docs.microsoft.com/en-us/windows-hardware/manufacture/ are broken"
**Describe the bug**
Probably all doc pages on https://docs.microsoft.com/en-us/windows-hardware/manufacture/ have broken links to the appropriate GitHub pages.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/windows-hardware/manufacture/desktop/work-with-windows-images
2. At the top, below the page headline click on the **Contributors** icons
3. The li

[2020-05-19 14:04] Ankushamy commented on #2751
any updates ???

[2020-05-19 15:20] Balji opened #2761 "Embedding docs pages in website"
Is there any way to embed these docs pages in external website? It gives "Refused to connect" because of CORS.

Thanks in advance.

[2020-05-19 16:21] adamboeglin opened #2762 "[error message feedback] bookmark-not-found for #feedback"
I'm getting a warning in my build when linking to the #feedback section from my pages.

You can view an example of the page here: https://docs.microsoft.com/en-us/azure/architecture/solution-ideas/articles/ai-at-the-edge-disconnected

Note the "Github Feedback" section at the top, it links to "#feedback", and although it doesn't appear in the markdown, it does appear on the page itself.

I'd like

[2020-05-19 22:12] ubergeek24 opened #2763 "SCSM 2019 SQL Requirements"
**Describe the bug**
SQL Requirements do not specify that the Full-Text Search feature needs to be installed as part of the initial SQL Server build.

https://docs.microsoft.com/en-us/system-center/scsm/system-requirements?view=sc-sm-2019

**To Reproduce**
Steps to reproduce the behavior:
Currently in the Doc:
+--------------------------------------------
Microsoft SQL Server hosts the databases t

[2020-05-20 07:11] mattleibow commented on #719
@mimisasouvanh Just checking what the progress of discussions were?

[2020-05-20 15:09] DSPatrick opened #2764 "QnA site threads list"
**Describe the bug**
The list of questions provided here is not always current.

https://docs.microsoft.com/en-us/answers/index.html

Sometimes the view returns records from an older time and also at times they're out of order. I frequently will get an email notification of a thread reply but when I go to check thread the new reply often does not appear for upwards of 15 minutes.

**To Reproduce**

[2020-05-20 16:08] TinaMcN commented on #2250
@EvologicDj the Localization Engineering tells me that this issue is fixed now.   Thanks again for reporting it.

[2020-05-20 17:26] ChuckM2 opened #2765 "Broken Web link"
**Describe the bug**
Broken Web link

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/visualstudio/releases/2019/release-notes#16.6.0
2. Click on 'Known Issues'
3. Goes to https://developercommunity.visualstudio.com/topics/Visual+Studio+2019+Version+16.7.html?
4. See Page not found

**Expected behavior**
Something besides Page not found

**Desktop (pleas

[2020-05-21 01:37] JasonWHowell commented on #2758
@saldana fyi

[2020-05-21 01:41] JasonWHowell commented on #2751
Hi @Ankushamy
Would you mind filing the bug using the Feedback button on that store page?
We are MicrosoftDocs, and don't have much access to work on that site.
![image](https://user-images.githubusercontent.com/5067358/82514030-73324600-9ac9-11ea-848a-34b0fc46224c.png)

Thank you! Jason

[2020-05-21 01:43] JasonWHowell commented on #2759
@suwu please take a look.

[2020-05-21 01:45] JasonWHowell commented on #2755
#please-close

[2020-05-21 01:45] #2755 closed

[2020-05-21 01:46] JasonWHowell commented on #2752
@windows-driver-content please fix the broken link on this page.

[2020-05-21 01:47] JasonWHowell commented on #2739
@dansimp one of the downloads isn't working. 1809 links. Could you take a look?

[2020-05-21 01:52] JasonWHowell commented on #2742
Hi @alexanderboswell try this forum for help connecting to SQL Server. https://social.technet.microsoft.com/Forums/en-US/home?forum=sqldataaccess

The server name is either the computer's network name. Start > msinfo32 to check the field named System Name ). or sometimes can be the servername\instancename if a name instance is installed. If you don't know the instance name, check your list of serv

[2020-05-21 01:55] JasonWHowell commented on #2732
@stevewhims could you take a look at the PDF to see what's wrong?
![image](https://user-images.githubusercontent.com/5067358/82514759-6dd5fb00-9acb-11ea-8225-f34b17b7c0fb.png)

[2020-05-21 01:59] JasonWHowell commented on #2732
@stevewhims The problem appears to be some extra `<dt>` and `<dl>` tags in the markdown

https://raw.githubusercontent.com/MicrosoftDocs/win32/docs/desktop-src/WinHttp/iwinhttprequestevents-interface.md
[code]

[2020-05-21 02:01] JasonWHowell commented on #2732
@drewbatgit FYI

[2020-05-21 02:01] JasonWHowell commented on #2724
@drewbatgit FYI Win 32 docs have extra tags in the Next steps causing problems in PDF rendering.

[2020-05-21 02:02] JasonWHowell commented on #2724
The `<dl>` and `<dt>` tags are the likely culprit. Can those be removed throughout?
[code]

[2020-05-21 02:05] JasonWHowell commented on #2583
Looks like it was a transient problem, and the English PDF works again. Sorry for the trouble! Thanks, Jason #please-close

[2020-05-21 02:05] #2583 closed

[2020-05-21 02:07] JasonWHowell commented on #1884
Hi @nwipfli The docs Table of contents site now prompts you to do a full search. Good idea . Thanks, Jason #please-close
![image](https://user-images.githubusercontent.com/5067358/82515487-2c464f80-9acd-11ea-8570-834b3d08cce5.png)

[2020-05-21 02:07] #1884 closed

[2020-05-21 03:17] sw5813 commented on #2759
Hi @JasonWHowell, I believe the localization for Microsoft docs is done automatically- do you know if there's a way to update a specific section of the translation?

[2020-05-21 03:20] JasonWHowell commented on #2759
@sw5813 for open source content repos, the change can be submitted to the localized repo and the localization translation team will get the request. A pull request to the file should work. I don't know the specific workflow.
https://github.com/MicrosoftDocs/mixed-reality.zh-cn/blob/live/mixed-reality-docs/unreal-uxt-ch2.md

[2020-05-21 03:22] JasonWHowell commented on #2759
@SunnyDeng do you know the loc contact for this repo? MicrosoftDocs/mixed-reality

[2020-05-21 03:33] JasonWHowell commented on #2765
@jawiddis please take a look - there's a broken link on an important release notes page.

[2020-05-21 03:34] JasonWHowell commented on #2764
@saldana Can someone from your team triage this one?

[2020-05-21 03:39] JasonWHowell commented on #2762
I think you can link to it as an HTTP link or use the full URL for the page, but since the feedback widget is not in the markdown itself, the docs build validation will check the link and consider it broken. Maybe file the change request internally too at Feature Feedback - see your email for that link.

[2020-05-21 03:43] JasonWHowell commented on #2762
Example link
`https://docs.microsoft.com/azure/architecture/solution-ideas/articles/ai-at-the-edge-disconnected#feedback`

[2020-05-21 03:44] SunnyDeng commented on #2759
@DavidPrio please take care this feedback.
@JasonWHowell the loc owner is @nokura. In the meantime, our feedback auto pipeline will pick up this GH if 'Loc' is added in the label. Please check https://review.docs.microsoft.com/en-us/help/contribute/localization-azure-docs?branch=master#wait-this-gh-issue-in-the-english-repo-is-actually-for-another-language. Thanks!

[2020-05-21 03:50] JasonWHowell commented on #2763
@JYOTHIRMAISURI could you update the docs page with the SQL Full Text search requirement?
https://docs.microsoft.com/en-us/system-center/scsm/system-requirements?view=sc-sm-2019

[2020-05-21 03:50] JasonWHowell commented on #2761
I haven't seen it done before, so I'm thinking it's not permitted.

[2020-05-21 03:56] JasonWHowell commented on #2750
@mikefrobbins is this something you could investigate?

[2020-05-21 03:58] JasonWHowell commented on #2749
@kexugit not sure if you can update the doc or not, but there's a quick fix suggested to the code.

[2020-05-21 04:00] JasonWHowell commented on #2744
It does look rather old. That probably means it won't be updated soon, unfortunately.

@windows-driver-content in case someone can comment.

[2020-05-21 04:01] JasonWHowell commented on #2738
The Windows ribbon folks won't know to look here for problems. I recommend you ask the question targeting that community. Here's a good forum: https://social.msdn.microsoft.com/Forums/windowsserver/en-US/home?forum=windowsribbondevelopment

[2020-05-21 04:09] JasonWHowell commented on #2740
@DavidPrio please take a look at this Loc concern for a learn page. Do we need to change the encoding to UTF-8?

[2020-05-21 04:10] JasonWHowell commented on #2740
#label:loc

[2020-05-21 04:11] JasonWHowell commented on #2743
@binarycrusader Its probably best to talk over the problem in a developer forum. No win32 developers watch this list of issues unfortunately.
https://social.msdn.microsoft.com/Forums/en-US/home?forum=vcgeneral

[2020-05-21 04:38] JYOTHIRMAISURI commented on #2763
@JasonWHowell  thanks for the feedback. Will get back  on this.  Adding Aakash Basavaraj the PM for SM.

@aakashb01  pls confirm the requested  inclusion.  Thanks.

[2020-05-21 05:28] saldana commented on #2758
@successhawk all links work for me. Can you confirm you are still seeing the issue? Thanks.

[2020-05-21 09:41] Dawid-Ohia opened #2766 "Missing slash before namespace in catch phrase"
**Describe the bug**
I think there is slash missing before namespace name in catch phrase:
`catch (League\OAuth2\Client\Provider\Exception\IdentityProviderException $e) {`

**To Reproduce**
https://docs.microsoft.com/pl-pl/graph/tutorials/php?tutorial-step=3
and other steps too

**Expected behavior**
shouldn't it be
`catch (\League\OAuth2\Client\Provider\Exception\IdentityProviderException $e) {`

[2020-05-21 12:28] LarryWMSN opened #2767 "Toggle code comments on/off"
Many of the code examples have 50% or more of the example filled with the code comments. It would be great to be able to be able to toggle on/off all the comments to just view the code so it's easier to follow. There are may times I miss a line of code because it gets lost in all the comments.

[2020-05-21 13:41] DavidPrio commented on #2759
Thanks @SunnyDeng for the heads up. @JasonWHowell @nokura Once Loc Label is added, we will be able to import this ticket and start working on it.

[2020-05-21 13:47] DavidPrio commented on #2740
Hi @JasonWHowell Once Label is added, we will be able to import this ticket and start working on it.
@SunnyDeng FYI

[2020-05-21 16:36] SunnyDeng commented on #2740
thanks @JasonWHowell  for the trying!
@SonjaSaltzman Can you change the assignee in this repo?

@DavidPrio i've created DevOps ticket of this one for your convenience. Please triage and fix as soon as possible there. https://ceapex.visualstudio.com/defaultcollection/CEINTL/_workitems/edit/223649

[2020-05-21 16:58] SonjaSaltzman commented on #2740
Assigned to @DavidPrio

[2020-05-21 17:00] reinhold1 commented on #2721
Hi!
But trailing spaces are not allowed (following the link in my first append).
Looks like you call a feature what I would call a tiny bug.
Anyhow, it was an interesting riddle for me.
Have a nice day!
Reinhold

[2020-05-21 17:00] #2721 closed

[2020-05-21 17:17] srvbpigh commented on #2740
Hello, @marcoxe

Thank you for your feedback.

We are actively reviewing your comments and will get back to you soon.

Kind regards,
Microsoft DOCS International Team

[2020-05-21 17:53] SunnyDeng commented on #832
@DavidPrio can you check on this again?

[2020-05-21 18:16] srvbpigh commented on #832
Hello, @parkpc

Thank you for your feedback.

We are actively reviewing your comments and will get back to you soon.

Kind regards,
Microsoft DOCS International Team

[2020-05-21 18:38] drewbatgit commented on #2724
Thanks for reporting this issue. We will investigate and get this fixed.

[2020-05-21 18:47] CeciAc commented on #832
Hello @parkpc

Thank you for your contribution.

Contributions on translation problems against machine-translated content are currently not accepted.

We value your feedback and suggestions on human translated content, which is used to train the machine translation engines, so over time, your contributions will improve the quality of both human and machine translations.

Human translated topics ca

[2020-05-21 18:47] #832 closed

[2020-05-21 19:13] JacquelineWiddis commented on #2765
It is fixed.

From: Jason H <notifications@github.com>
Sent: Wednesday, May 20, 2020 8:34 PM
To: MicrosoftDocs/feedback <feedback@noreply.github.com>
Cc: Jacqueline Widdis <Jacqueline.Widdis@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/feedback] Broken Web link (#2765)

@JacquelineWiddis<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.co

[2020-05-21 19:59] JasonWHowell commented on #2765
Thanks! #please-close

[2020-05-21 19:59] #2765 closed

[2020-05-21 20:08] CeciAc commented on #2740
Hello, @marcoxe

We truly appreciate your comment and we strive to improve your experience in docs.microsoft.com. However, we need more information in order to be able to address your feedback. Can you please provide more detailed information and clarify your comment?

We cannot repro the error, metadata shows the page is in UTF-8.
![image](https://user-images.githubusercontent.com/26746247/826012

[2020-05-21 20:35] svick commented on #2740
@CeciAc While I don't know any Turkish, I suspect the problem is that Turkish characters are garbled. [The Turkish alphabet](https://en.wikipedia.org/wiki/Turkish_alphabet#Letters) does not use the letters "ð" or "þ", which appear several times on the page. And it does use "ğ" or "ı", which don't appear in the text of the page proper.

As a specific example, [this page](https://docs.microsoft.com/

[2020-05-21 21:46] SonjaSaltzman commented on #2740
This needs to go to Michael Sullivan (cannot get his name to resolve, pinged him offline)

[2020-05-22 01:43] splintercelian opened #2768 "Error in text - password page"
In following page there is this sentence : "Brute forcing an NTLM hash takes several orders of magnitude longer than brute forcing the NTLM hash of the same password."

I guess what was intended to write was : "Brute forcing an NTLM hash takes several orders of magnitude longer than brute forcing the LM hash of the same password."

https://docs.microsoft.com/en-us/previous-versions/tn-archive/cc87

[2020-05-22 02:56] Micsullivan commented on #2740
My team will review and update the page. Thank you for bringing this to our attention.

[2020-05-22 06:41] JasonWHowell commented on #2712
@gewarren is this resolved now? `#please-close` if so.

[2020-05-22 06:42] JasonWHowell commented on #2714
@xenophilios The browser usually handles it OK. Did you have any particular issues with printing from the browser natively?

[2020-05-22 06:43] JasonWHowell commented on #2711
You can use the DocFx to generate HTML from .markdown. https://dotnet.github.io/docfx/

Hope that helps, Jason #please-close

[2020-05-22 06:43] #2711 closed

[2020-05-22 06:45] JasonWHowell commented on #2727
@SonjaSaltzman can you please add a loc label?  @Minewiskan can you take a look at this DAX page?

[2020-05-22 06:47] JasonWHowell commented on #2728
Hi @airmisdata The page looks OK on my computer. What does it look like on your screen?  Thx, Jason

![image](https://user-images.githubusercontent.com/5067358/82639384-74dd3600-9bbd-11ea-96c1-f2e71bacf905.png)

[2020-05-22 06:50] JasonWHowell commented on #2729
@SonjaSaltzman please add Loc label. @Minewiskan can you set the column headings using :::noloc flag https://docs.microsoft.com/en-us/contribute/markdown-reference#non-localized-strings

[2020-05-22 06:53] JasonWHowell commented on #2730
@meganbradley do you have a contact for who owns github issues widget? I can repro easily in Edge at https://docs.microsoft.com/en-gb/dotnet/standard/tour. Feedback widget loads in Chrome, but not other browsers.

[2020-05-22 06:55] JasonWHowell commented on #2731
Hi @markschn Maybe it was a temporary problem. It looks OK at the moment.
![image](https://user-images.githubusercontent.com/5067358/82639894-7b1fe200-9bbe-11ea-912a-9003dc44d28b.png)

Do you still see the error? I'll close for now, but please reopen if you still see the problem. Thanks, Jason #please-close

[2020-05-22 06:55] #2731 closed

[2020-05-22 06:57] JasonWHowell commented on #2754
Seems like a ton of work for a minor cosmetic benefit. I'm not in favor of spending time on it.

[2020-05-22 07:08] JasonWHowell commented on #2753
Seems like its case sensitive. SDelete.zip instead of sdelete.zip  Looks like you got it to work. Thank you! I will send the problem to the sysinternals admins to be aware and fix. #please-close

[2020-05-22 07:08] #2753 closed

[2020-05-22 07:09] eatmorepies-dev opened #2769 "Android-Search bar won't work on Firefox"
**Describe the bug**
When the user taps on the search icon, the keyboard appears briefly, disappears, and the menu closes.

**To Reproduce**
Steps to reproduce the behavior:
1. Tap on the hamburger button to the right of 'Documentation' on any supported page
2. Tap on the search icon
3. Error occurs

**Expected behavior**
I expect the keyboard to stay on the screen so I can type in my search optio

[2020-05-22 07:10] JasonWHowell commented on #2733
@ghogen Do you probably want to track this internally?  try sitehelp

[2020-05-22 07:17] JasonWHowell commented on #2737
Tracking this in our bug database at ICM 189057021

[2020-05-22 07:23] lissity opened #2770 "Entity Framework Sample Provider example is missing"
**Describe the bug**
This page https://docs.microsoft.com/en-us/dotnet/framework/data/adonet/ef/writing-an-ef-data-provider has a link to a "Entity Framework Sample Provider" under the section "Sample". However, this link redirects to the "Browse code samples"-page. Searching for "entity framework sample provider" does not return any results.

**To Reproduce**
Steps to reproduce the behavior:
1. G

[2020-05-22 07:24] JasonWHowell commented on #2730
Tracking this as ICM 189057741 internally.

[2020-05-22 07:32] JasonWHowell commented on #2770
@sstein any ideas on the missing link? Maybe the sample was retired, so we need to remove the link from the doc probably.

[2020-05-22 09:48] craigkrmr commented on #2577
SysOZ EDB to PST Converter Software helps to save and restore outlook EDB emails with integrity from severely damaged, corrupted and inaccessible Outlook EDB files into several files formats such as- PST, EML, MSG, HTML, Office 365 account and Live Exchange Server. By using this software it is easy to recover data from corrupted offline EDB file with be easily imported to the selected file format

[2020-05-22 13:07] guardrex commented on #2754
What do you mean? I'm just asking if the use case for the character be expanded so that I can use it in the docs. I'm not implying that everyone should use it for this purpose or that docs should change anywhere. I'm asking here because posting to the style manual repo isn't getting management eyes.

[2020-05-22 13:20] guardrex commented on #2754
The only potential problem I can think of is localization.

@JasonCard, I assume that the colon is acceptable for loc in this context (see my opening remarks). Do you feel that the en dash used as a layout element would choke loc? Note that I propose to use it with a space before and after, not as a connector (no spaces around it).

[2020-05-22 13:58] airmisdata commented on #2728
Sorry !

May be I was just surprised by the absence of "updated functions"

[2020-05-22 14:52] ghogen commented on #2733
@JasonWHowell We've worked around it for now.

[2020-05-22 15:37] SonjaSaltzman commented on #2727
@Alisha-Acharya is that in your content?

[2020-05-22 16:56] markschn commented on #2731
Thanks, Jason.  Yes, the problem was there for over a week.  I confirmed that the page looks correct now with the reading time and the contributors icons.

[2020-05-22 17:06] urklnme opened #2771 "Sample code for dynamics 365 learning content?"
you guys created all of this learning content and then do this:

_Before we Begin:
The Exercises work best when you have some sample data to work with. Depending on if the environment you are working with, you may want to install some sample data to assist with exercises. Dynamics 365 does provide the ability to add sample data as needed. If the environment you are working in does not have any sam

[2020-05-22 17:07] Minewiskan commented on #2727
These are the function reference articles that appear to have incorrect localization of the function name:
https://docs.microsoft.com/fr-fr/dax/filters-function-dax
https://docs.microsoft.com/fr-fr/dax/quarter-function-dax
https://docs.microsoft.com/fr-fr/dax/product-function-dax
https://docs.microsoft.com/fr-fr/dax/average-function-dax
https://docs.microsoft.com/fr-fr/dax/blank-function-dax

[2020-05-22 17:51] gewarren commented on #2712
It's not fixed quite yet for some reason. I created a new PR.

[2020-05-22 18:07] sackri10 opened #2772 "Clearing search box returns no results"
**Describe the bug**
At this URL ->https://docs.microsoft.com/en-us/learn/browse/ clearing the search box is returning zero results in the list.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/en-us/learn/browse/ '
2. Search for any keyword example "docker" in the search box
3. From the returned results select any of the learning & then "shift + left" click

[2020-05-22 19:04] CeciAc commented on #1679
Thank you for your feedback.

Our engineer team reviewed your suggestions and accepted them.

We truly appreciate your contribution to our articles and we encourage you to continue providing your valuable feedback.

Kind regards,

Microsoft DOCS International Team

[2020-05-22 19:04] #1679 closed

[2020-05-22 19:07] JasonCard commented on #2754
The use of en dash as a layout element should not cause any technical issues for localization. Although, there maybe languages that do not use en dash that way, and language style guides may not have guideline on how it should be localized, so we may need to update the guidelines per language. I'm also not sure Machine Translation engine will handle it. I think it will leave the en dash as is, but

[2020-05-22 19:19] guardrex commented on #2754
Thanks @JasonCard ... I'll toss an example in here from a live topic and how it renders in a couple of languages.

Take this one ...

https://docs.microsoft.com/en-us/aspnet/core/blazor/templates?view=aspnetcore-3.1#blazor-project-structure

... a description for each before each of the sub-lists.

That could have been handled by placing the remark on a new line, but that would suffer from additio

[2020-05-22 19:30] JasonWHowell commented on #2754
Seems like Japanese localization is most sensitive to spacing, if you could test that too.

We see em-dashes most often when authors copy text from word docs or outlook emails and put into markdown.  Some special characters are automatically replaced by markdown linting configured in the big repos, but I don't see anything configured to auto-replace dashes, so we're probably good there.

[2020-05-22 19:34] JasonCard commented on #2754
Thank you for the example. Yes, looks like MT engine is leaving them as is. For human translated languages like [German (de-de)](https://docs.microsoft.com/de-de/aspnet/core/blazor/templates?view=aspnetcore-3.1#blazor-project-structure), it was translated as colon (:). [Japanese (ja-jp)](https://docs.microsoft.com/ja-jp/aspnet/core/blazor/templates?view=aspnetcore-3.1#blazor-project-structure) was

[2020-05-22 19:56] Micsullivan commented on #2740
We have applied the fix to the live page. Please review.

[2020-05-22 19:57] guardrex commented on #2754
That's one hurdle (probably) passed.

It's not getting a lot of love as a layout element in typography. https://en.wikipedia.org/wiki/Dash It seems like 100% of the references tho are for *grammatical purposes*, not HTML content layout. I admit that there's a very narrow difference.

I suppose given that it isn't common in typography, not an option in style manuals (ours or *Chicago*), and not my

[2020-05-22 19:57] #2754 closed

[2020-05-22 20:17] svick commented on #2740
@Micsullivan From my point of view (of someone who doesn't know Turkish) the issue seems to be fixed.

[2020-05-22 22:23] JasonWHowell commented on #2728
@airmisdata Yeah, it is a little awkward. Maybe the list changed over time and none are in preview right now, but there will be more added later.

[2020-05-23 00:38] JasonWHowell commented on #2771
@DaveBeasley
This is regarding https://docs.microsoft.com/learn/modules/dynamics-365-service-level-agreements/7-managing-kpis-using-service-level-agreements

Could you take a look and provide direction, and improve the doc if possible.

Thanks, Jason

[2020-05-23 00:41] JasonWHowell commented on #2771
@DaveBeasley
The same text is in multiple learning paths, so not sure exactly which one is being referenced:

configure-dynamics-365-portals\8-knowledge-check.yml:
  28:     - content: Enable sample data in your Dynamics 365 for Customer Engagement instance

dynamics-365-service-level-agreements\includes\7-managing-kpis-using-service-level-agreements.md:
  8: ### Enable Sample Data -- Detailed Ste

[2020-05-23 00:42] JasonWHowell commented on #2769
@sudeepku could you check this one?

[2020-05-23 01:06] JasonWHowell commented on #2733
#please-close

[2020-05-23 01:06] #2733 closed

[2020-05-23 01:46] eatmorepies-dev commented on #2769
It doesn't seem to be browser-specific -- I just tested it on Chrome
81.0.4044.138 for Android; the issue seems to appear there, too.

On Fri, May 22, 2020, 8:42 PM Jason H <notifications@github.com> wrote:

[2020-05-23 01:49] eatmorepies-dev commented on #2769
This is probably important too; for both Chrome and Firefox, choosing to
view the desktop site does not fix the problem. The keyboard still
disappears.

On Fri, May 22, 2020, 9:46 PM Alexander Summers <alexandermsummers@gmail.com>
wrote:

[2020-05-23 01:53] eatmorepies-dev commented on #2769
I apologize for all the emails -- I'm just thinking of new information to
add after I've already sent an email.

In this case, I did notice it working about a month or two ago. It broke
when there was the addition of having to tap the menu icon to access the
search -- when the search icon was directly on the page it worked fine.

But before that (around December) the same issue occurred, even with

[2020-05-23 08:46] WarKitteh commented on #1449
Having the same issue. Moved computers and switched browsers. Nothing is working so far, will continue to troubleshoot... this is what the certifications _should_ test you for....

[2020-05-23 09:37] WarKitteh commented on #1449
Well, creating an entire new live account worked.... hopefully my other one still works. Microsoft is getting on Apples level of dis-functionality... Billion-dollar thinking right here folks. Lets totally let them run the IDaaS platform for my entire company... sure.

[2020-05-23 11:48] wjohnson2250 commented on #1449
The unit, '**Exercise - Create and populate your Azure Cosmos DB collections**' started working for me after a few days without me having to do anything. I suspect the error message (shown below) is a red herring.

_You're signed into the cloud shell with an account that's different from your docs account. Please sign out of the cloud shell to retry accessing the sandbox._

[2020-05-23 13:57] AndreyShvidky opened #2773 "Links "More" stopped expand yesterday"
**Describe the bug**
Yesterday I used links "More" often and it worked. Suddenly links "More" stopped expand

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/dotnet/api/microsoft.sqlserver.transactsql.scriptdom.tablereferencewithalias?view=sql-dacfx-140.3881.1
2. Click on 'More'

Nothing happens

**Expected behavior**
A more derived members to expand

**

[2020-05-23 15:02] vadimkantorov opened #2774 "[feature request] More concise default UI, especially on small screens"
Microsoft Docs (like TensorFlow docs) page layout becomes very complex especially on small, laptop screens:
![image](https://user-images.githubusercontent.com/1041752/82733696-e03a1b80-9d15-11ea-8c6e-7c60a4305f54.png)

Currently it has 4 navigation menus (without talking about 3 command toolbars):
1.
![image](https://user-images.githubusercontent.com/1041752/82733703-f9db6300-9d15-11ea-87b3-1f8db3

[2020-05-24 08:55] jhoffmann271 opened #2776 "Multiple broken links on the main PowerShell Documentation page"
**Describe the bug**
PowerShell Documentation 'More Docs' submenu item 'Windows Management Framework' docs page returns error page not found.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/en-us/powershell'
2. Click on 'More Docs'
3. Click on 'Windows Management Framework'
4. See error

**Expected behavior**
'More Docs' submenu item 'Windows Management Fram

[2020-05-24 09:39] jhoffmann271 opened #2777 "[Page not found] Overview section 'Installing various versions of PowerShell'"
**Describe the bug**
'Installing Windows PowerShell' link on Overview section 'Installing various versions of PowerShell' returns error page not found.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/en-us/powershell/scripting/install/installing-powershell'
2. Scroll down to section 'Windows PowerShell'
3. Click on 'Installing Windows PowerShell' link
4. See

[2020-05-24 12:31] behroozbc opened #2778 "add Persian translation"
hi
how can add other language to asp.net docs
i want to help adding Persian

[2020-05-24 13:13] xenophilios commented on #2714
Printing directly from the browser leads to the inclusion of extraneous information, such as links, and results in the font on the printed page being smaller, and thus harder to read, than necessary. With much of the documentation, I have found the solution by downloading the associated PDF. As far as I can tell, PDFs are not available for the documentation under the URL docs.microsoft.com/en-us/d

[2020-05-24 14:23] Lalune974 opened #2779 "error 404 on https://docs.microsoft.com/fr-fr/windows-hardware/customize/mobile/"
**Describe the bug**
Can not access the technical reference for windows 10 mobile

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/fr-fr/windows-hardware/customize/'
2. Click on 'Customizations for mobile'
3. See error

**Expected behavior**
An access to repository for "Mobile customizations" docs

**Screenshots**
![Annotation 2020-05-24 182003](https://user-

[2020-05-24 14:53] jhoffmann271 commented on #2777
I was not aware I could create a pull request through PowerShell-Docs. I updated this path via a PowerShell-Docs pull request instead:
https://github.com/MicrosoftDocs/PowerShell-Docs/pull/6012

Closed because PR fixes broken path issue.

[2020-05-24 14:53] #2777 closed

[2020-05-24 16:04] YukinoShary opened #2780 "Dose the UWP out-of-process background task support async?"
**Describe the bug**
I got this manifest error when i tried to run a UWP application with an out-of process background task.

"error 80080204: App manifest validation error: Line 33, Column 12, Reason: If it is not an audio background task, it is not allowed to have EntryPoint="PixivCSTest.UWPBackgroundTask" without ActivatableClassId in windows.activatableClass.inProcessServer.	PixivCSTest	I:\Pix

[2020-05-24 18:35] jhoffmann271 commented on #2776
All of these links are also broken on the main PowerShell Documentation page:

Section "PowerShell 5.1"
![image](https://user-images.githubusercontent.com/56080024/82761721-395f8900-9dc2-11ea-895b-899b53461340.png)
Both "Install Windows PowerShell" and "What's new in PowerShell 5.x" links are invalid.

Section "Community Resources"
![image](https://user-images.githubusercontent.com/56080024/827617

[2020-05-24 18:40] jhoffmann271 commented on #2776
Here are the respective valid link paths:

"Windows Management Framework"
https://docs.microsoft.com/powershell/scripting/windows-powershell/wmf/overview

"Install Windows PowerShell"
https://docs.microsoft.com/powershell/scripting/windows-powershell/install/installing-windows-powershell

"What's new in PowerShell 5.x"
https://docs.microsoft.com/powershell/scripting/windows-powershell/whats-new/wh

[2020-05-25 00:05] keycal opened #2781 "“Enter focus mode”"
In Microsoft Build Tutorial, c#, there is a reference to “Enter focus mode”.   I am using Visual Studio 2019 in interactive mode.  Where is this action to pu in “focus mode”?

![06308926-E451-4A93-9DE9-7C239A73547D](https://user-images.githubusercontent.com/39708340/82767977-b823e880-9df9-11ea-9346-2737c5bde99d.png)

Harvey Hecker
Keycalinc@hotmail.com

[2020-05-25 07:03] jhoffmann271 commented on #2776
**Update**
The two PowerShell 5.1 links and the WMF link are now fixed. The only invalid link remaining is the expired PowerShell Slack invite link.

[2020-05-25 09:05] svick commented on #2781
This is a browser-based tutorial, you won't need Visual Studio to follow it. If you're on a mobile device, you should see the "Enter focus mode" button at the bottom of the page. Though following the tutorial from your PC's browser is probably a better choice.

[2020-05-25 10:35] echalone commented on #2703
Closing this bug because I cannot recreate it myself any more... not sure how I managed to get this error, but now I actually have to use the parameter "token" (not "tokens"), as is currently documented.

[2020-05-25 10:35] #2703 closed

[2020-05-25 14:31] DubbySlashy opened #2782 "Power Query's Table.PartitionValues page is copied and pasted from the Table.Partition page"
The [Table.PartitionValues](https://docs.microsoft.com/en-us/powerquery-m/table-partitionvalues) page is largely identical to the [Table.Partition](https://docs.microsoft.com/en-us/powerquery-m/table-partition) page. Please make sure that the content on both of these pages reflects their respective functions.

[2020-05-25 14:36] DubbySlashy opened #2783 "Power Query's Table.Reverse page is copied and pasted from the Text.Reverse page"
The content of the [Table.Reverse page](https://docs.microsoft.com/en-us/powerquery-m/table-reverse) is identical to the content of the [Text.Reverse page](https://docs.microsoft.com/en-us/powerquery-m/text-reverse). Please correct the documentation for the Table.Reverse page.

[2020-05-25 16:05] xtqqczze commented on #2776
Fixed in MicrosoftDocs/PowerShell-Docs/pull/6018 / MicrosoftDocs/PowerShell-Docs/pull/6019

[2020-05-25 16:50] xtqqczze commented on #2776
@jhoffmann271 the slack link at <http://poshcode.org/slack> is maintened by @Jaykul

[2020-05-25 17:03] xtqqczze opened #2784 "Validate redirection links"
We should validate the redirect targets in `.openpublishing.redirection.json` to prevent a change with dead links being pushed.

see https://github.com/MicrosoftDocs/PowerShell-Docs/issues/6016 for how a recent PR caused 140 dead links.

[2020-05-25 17:05] jhoffmann271 commented on #2776
The Slack invite link works now. I was able to join. The poshcode.org/slack redirect still needs to be fixed.

[2020-05-25 17:11] xtqqczze commented on #2776
@jhoffmann271 <https://poshcode.org/slack> is fixed, could you close the issue?

[2020-05-25 17:14] #2776 closed

[2020-05-25 17:26] xtqqczze commented on #2784
@welcome not a product issue

[2020-05-25 17:48] #2712 closed

[2020-05-25 18:21] Gianluka92 opened #2785 "6400 with error Browse topic group is empty"
1) Go to [this page](https://www.linkedin.com/developers/apps)
2) Click on [help pages](https://www.linkedin.com/help/linkedin/topics/6400/6401).
3) Output is > {"status":"BadRequest","message":"Error fetching topic group for parentId: 6400 with error Browse topic group is empty"}

[2020-05-25 20:43] GHWilliamW opened #2786 "Technet Gallery being retired"
**Is your feature request related to a problem? Please describe.**
1. With Technet Gallery I was able to browse by Product type and version (e.g. Exchange 2016), then sort by "Downloads" to see what's popular.  How could I perform something similar with MicrosoftDocs or there is no plan to provide equivalent functionality?

2. Your retirement notice page asked that we backup code, however how are

[2020-05-26 02:20] ndmausehund opened #2787 "Certification Dashboard down?"
I have a certification exam tomorrow and I am unable to load the certification dashboard for the last several hours.  I have tried many different devices and web browsers but I receive a gateway timeout error.

Link to the page not loading
https://www.microsoft.com/learning/dashboard.aspx

[2020-05-26 02:32] ndmausehund commented on #2787
<img width="1434" alt="Screen Shot 2020-05-25 at 9 31 55 PM" src="https://user-images.githubusercontent.com/64850242/82854842-3a321100-9ecf-11ea-96ca-d88b82bbdba0.png">

[2020-05-26 02:36] Ankushamy commented on #2751
Many thanks for your email

On Wed, May 20, 2020 at 9:41 PM Jason H <notifications@github.com> wrote:

[2020-05-26 02:54] hiobay opened #2788 "Can not access DMA download page."
**Describe the bug**
We can not access DMA download page with "Gateway timeout".
https://www.microsoft.com/en-us/download/details.aspx?id=53595

**To Reproduce**
See error
Gateway Timeout
The proxy server did not receive a timely response from the upstream server.
Reference #1.bb6e2317.1590461588.1b768896

[2020-05-26 04:45] hiobay commented on #2788
Thank you.
I can access this site now.

[2020-05-26 07:27] erythana opened #2789 "[Question] Windows 10 IoT Dead?"
Hi,

is Windows 10 IoT dead? According to the docs it was last updated 2018.
Does not work on RPi4 unfortuantely.

[2020-05-26 11:18] #2787 closed

[2020-05-26 13:38] DaveBeasley commented on #2771
Can you share details of where you are seeing this issue? Is this a PR, ADO bug? What is #2771? Is this feedback from a learner?

The items you list below are different modules. The first is from a test your knowledge question for portals, the second is about Dynamics 365 Customer Service SLAs – different topic. The text is a heading.

From: Jason H <notifications@github.com>
Sent: Friday, May 22,

[2020-05-26 13:40] DaveBeasley commented on #2771
Similar to the other message – what is this? Is this a bug? I can’t find #2771 in my ADO that I use for bugs. It’s not a PR that I can find.

What is the context? I’ve made changes to this exercise based on previous learner feedback? What is the new feedback?

From: Jason H <notifications@github.com>
Sent: Friday, May 22, 2020 19:39
To: MicrosoftDocs/feedback <feedback@noreply.github.com>
Cc: Dave

[2020-05-26 13:53] Crypt32 opened #2790 "IOCSPCAConfiguration::get_ProviderProperties pVal documentation is incorrect"
Sorry if this is not the right place, but [Win32 SDK Docs](https://github.com/MicrosoftDocs/sdk-api) don't accept issues.

The bug filed against [IOCSPCAConfiguration::get_ProviderProperties](https://docs.microsoft.com/en-us/windows/win32/api/certadm/nf-certadm-iocspcaconfiguration-get_providerproperties) API documentation.

"Remarks" section says:

it is incorrect. Looking at certadm.h file:
[cod

[2020-05-26 14:55] Petri-X opened #2791 "Have you started to hide open issues?"
Hi there,

Earlier the latest open issues has been shown on the pages in docs.microsoft.com. But now those are not visible anymore.

![image](https://user-images.githubusercontent.com/43988151/82915780-de709200-9f79-11ea-87a2-aeb8f77771bc.png)

Has this been done by purpose (hide issues) or is this a known issue?

Yes, open issues are visible behind linke: "view all page feedback".

regards
Petri-

[2020-05-26 14:57] Crypt32 opened #2792 "IOCSPCAConfiguration::get_ProviderProperties typos in property names"
Sorry if this is not the right place, but [Win32 SDK Docs)[https://github.com/MicrosoftDocs/sdk-api] don't accept issues.

The bug filed against [IOCSPCAConfiguration::get_ProviderProperties](https://docs.microsoft.com/en-us/windows/win32/api/certadm/nf-certadm-iocspcaconfiguration-get_providerproperties) API documentation.

"Remarks" section contains typos in two property names:

- <...>
- BaseCr

[2020-05-26 16:01] sdwheeler commented on #2784
The redirects in https://github.com/MicrosoftDocs/PowerShell-Docs/issues/6016 have been fixed. But validation would be a helpful feature.

[2020-05-26 17:36] DaveBeasley commented on #2771
@JasonWHowell I only received an email and didn't know where this feedback was coming from. I've found that it is Git repo feedback. I've made a small change to the text of adding the demo data. You need to have the application open -- whether it is Customer Service, Sales, etc. and then add demo data in your own trial or sandbox environment. The demo data references above are for Customer Service

[2020-05-26 17:39] drewbatgit commented on #2792
Thank you for reporting this issue. The API names have been updated in the source. You should see the changes propagate to the live page in ~24 hours.

[2020-05-26 17:39] #2792 closed

[2020-05-26 21:09] Alex0236 opened #2793 "KB983812 & KB983811"
SQL2000-KB983811-v8.00.2305-x86x64-ENU.exe
SQL2000-KB983812-v8.00.2066-x86x64-ENU.exe
OLAP2000-KB983813-v8.00.2304-x86x64-ENU.exe
Where are they now? How to find them now?

[2020-05-26 22:21] saldana commented on #2682
This is pretty standard. We will not fix this. Thanks for the feedback!

[2020-05-26 22:21] #2682 closed

[2020-05-26 22:23] DSPatrick commented on #2682
So you expect "vb.net" to always be hyperlinked?

[2020-05-26 22:26] saldana commented on #2682
Yes, I tried that in our documentation section and the result is the same. We are consistent across the platform.

[2020-05-27 00:36] JasonWHowell commented on #2751
Thanks for giving feedback! appreciate it #please-close

[2020-05-27 00:36] #2751 closed

[2020-05-27 00:38] JasonWHowell commented on #2791
@alligreubel FYI

[2020-05-27 05:03] brettshearer opened #2794 "Truncated article"
I understand this is archive, but information on Secutiry cache is hard to get - this article appears to be the best, but it has been truncated somehow.

https://docs.microsoft.com/en-us/archive/blogs/psssql/query-performance-issues-associated-with-a-large-sized-security-cache

[2020-05-27 06:54] cadekdav commented on #2738
It has already been reported [here](https://social.msdn.microsoft.com/Forums/windowsserver/en-US/78ea4255-78b9-4602-a7c1-180c833985d9/changing-windows-ribbon-background-color-does-not-seem-to-work-anymore-in-windows-10-v1809-and?forum=windowsribbondevelopment) about a year ago and so far with no answer.

[2020-05-27 16:45] YoshikaSuzuki opened #2795 "English original statement and Japanese translated statement differs each other."
**Describe the bug**
English original statement and Japanese translated statement differs each other.
Here is the original statement.
https://docs.microsoft.com/en-us/dynamics365/ai/sales/configure-premium-forecasting#forecast-predictions
Consider the following before you start using predictive forecasting, you must have:
- More than 10 closed opportunities with values filled for the fields?Actual

[2020-05-27 18:56] JasonWHowell commented on #2737
Hi @RonvStaay we are debugging. I think this is related to the long length of the collection. May have exceeded some limit. If you need to get unblocked, you might shorten the collection, or use two collections to share the list. Sorry for the trouble.

[2020-05-27 23:32] rbrundritt opened #2796 "Time filter for learning page"
**Is your feature request related to a problem? Please describe.**

The [learning browser all page](https://docs.microsoft.com/en-us/learn/browse/) has a couple of filters. A filter for length of time a module is would be great. Sometimes I find I have an extra 15 or 20 minutes and want to do a learning module, but I end up spending several minutes trying to find one that I have time for.

**Descr

[2020-05-28 12:44] airmisdata commented on #2728
worksforme

[2020-05-28 12:44] #2728 closed

[2020-05-28 12:50] horst-p-w-neubauer opened #2797 "automatic German translation "Space" to "Leerzeichen" not allways"
in https://docs.microsoft.com/de-de/office/vba/language/concepts/getting-started/understanding-the-lifetime-of-variables

gets translated to

_Leerzeichen_ should be _Platz_ in this case.
Furthermore the Space character between _Objektvariable_ and _deklarieren_ gets lost (consider, that _Objektvariable_ is decorated as a link).

[2020-05-28 16:03] RickDaniels314 opened #2798 "DirectWrite API documentation error (Dwrite_1.lib / Dwrite_1.dll do not exist)"
The "Requirements" section on many DirectWrite API related webpages (and PDF) indicates that library "Dwrite_1.lib" and DLL "Dwrite_1.dll" must be used for various methods, but those two items DO NOT EXIT!

For samples, see webpage:

https://docs.microsoft.com/en-us/windows/win32/api/dwrite_1/nf-dwrite_1-idwritefont1-getunicoderanges

![image](https://user-images.githubusercontent.com/46301230/831

[2020-05-28 19:23] brunoportela commented on #2745
I'm having the same problem. Is there any update on this?

- OS: MacOS Mojave
- Browser: Safari 13.0.1, Firefox 76.0.1, Chrome 83.0.4103.61

[2020-05-28 23:34] JasonWHowell commented on #2797
@SonjaSaltzman please designate a loc contact to assist if you know the right person.

[2020-05-29 01:53] JasonWHowell commented on #2796
@asajohnson do you know where to direct this Learn browser feedback?

[2020-05-29 02:52] SonjaSaltzman commented on #2797
Hi @TinaMcN , I think this is from your content - thanks!
Sonja

[2020-05-29 05:14] bukowskm commented on #2745
@brunoportela

In may case the solution was to create new Microsoft account using different e-mail.

[2020-05-29 08:03] oo-dev17 opened #2799 "Czech words in german text"
**Describe the bug**
On the page
https://docs.microsoft.com/de-de/dotnet/framework/wpf/controls/how-to-use-selectedvalue-selectedvaluepath-and-selecteditem
suddenly the words "nastaven NA hodnotu" appear, that are not german (but czech)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/de-de/dotnet/framework/wpf/controls/how-to-use-selectedvalue-selectedvaluepa

[2020-05-29 09:16] joacar opened #2800 "Link to source code from docs"
**Describe the solution you'd like**
Given [docs site](https://docs.microsoft.com/en-us/dotnet/api/system.xml.xmlreader?view=netcore-3.1) when I visit [XmlReader](https://docs.microsoft.com/en-us/dotnet/api/system.xml.xmlreader?view=netcore-3.1) then I want to 1) have a link to the source code (if public), 2) link to repo to file bug/feature

**Describe alternatives you've considered**
No alternat

[2020-05-29 12:10] ghost opened #2801 "конченный сайт конченной шараги"
вы хоть что то для людей сделать можете выродки, какого хуя при выборе русского языка сайта все описания один хуй на вашем ёбанном инглише, хуле ебаште сразу на хинди или на клингонсокм долбоёбы

[2020-05-29 16:47] TinaMcN commented on #2797
@horst-p-w-neubauer thanks for reporting it, it seems to be a machine translation issue.
@OfficeGlobal please human translate this article.

[2020-05-29 19:09] armindiaz opened #2802 "use docs.microsoft.com in company"
Is docs.microsoft.com software available or can you buy it for use in a company?

sorry for asking here but I don't know where to do it

[2020-05-29 19:46] jfehrle opened #2803 "Can't access survey on Windows 2004 release page"
I can't access the survey from the "Take our short survey" link (https://forms.office.com/Pages/ResponsePage.aspx?id=v4j5cvGGr0GRqy180BHbRwd7AYyoiC5Ovm9mXkcWyfRUNlZLSFdNMjRNQTdZTllHNUFBWERLSDFISi4u) in https://docs.microsoft.com/en-us/windows/release-information/status-windows-10-2004.  When I enter my email address, I get this error message (email address removed in the image):

![image](https://

[2020-05-29 19:51] DSPatrick opened #2804 ""My Threads" like view for QnA forums"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
When can we get a "My Threads" view in QnA like the view presented on MSDN/TechNet forums? This has been asked many times and should be a high priority item for those that support and answer questions h

[2020-05-30 21:29] Adog92988 opened #2805 "M365 roadmap page search navigational controls don't show."
**Describe the bug**
A clear and concise description of what the bug is. The M365 roadmap page search navigational controls aren't showing

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'https://docs.microsoft.com/en-us/lifecycle/policies/modern
2. Click on '....'the link for M365 roadmap
3. Scroll down to '....'the bottom of the roadmap
4. See error the page navigational controls

[2020-05-31 10:08] EdwinGomes opened #2806 "Cannot view Chloe Intro for Learn TV"
**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'https://docs.microsoft.com/en-us/learn/tv/'
2. Click on 'Chloe Intro'
3. Click on Watch Now'
4. Page redirects to https://docs.microsoft.com/en-us/learn/tv/None
5. Displays 404 - Page not found

**Expected behavior**
View Chloe Intro.

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Browser Chrome
 - Version

[2020-05-31 10:28] GiantCrocodile opened #2807 "Feedback/survey form for Windows release health dashboard broken"
If you click on the link in the green information box it takes you to a survey where you don't have permissions to. Thus I can't fill in the survey due to lacking permissions.

Error message: `You are not authorized to display this form.`

See this article: https://docs.microsoft.com/en-us/windows/release-information/status-windows-10-2004

[2020-05-31 15:21] MuraliManickam opened #2808 "PWA"
Is that possible to provide content that support PWA (Progressive Web App) by topic as such as .NET Core, ASP.NET WebApp, ASP.NET Razor, ASP.NET SignalR, .NET Core WPF that can help to refer in offline

[2020-06-01 01:32] lxd8023 opened #2809 "Dos options jump url is not true"
the Docs /.NET  ASP.NET Core/Fundamentals,the Configuration options jump url is not true

[2020-06-01 01:40] lxd8023 commented on #2809
Chinese

[2020-06-01 05:08] xushengun opened #2810 "Q# Document Translation errors"
**Describe the bug**
the "Dirac Notation" in Q#  Document, there is huge Translation errors

**To Reproduce**
no need to Reproduce
**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
https://pbs.twimg.com/media/EZZsCwxUMAETgv2?format=jpg&name=4096x4096

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chr

[2020-06-01 12:22] JuanJo2016 opened #2811 "Problems with Speech rate in Speech One Coree"
I am a programmer. When I program (in C #) for Win32 / 64 I lower the voice speed (Speech rate) I have no problems. Staggered up or down and useful. On the other hand, if I do it for UWP, when I go down one step from normal speed, the voice is as if the person was drunk. And when I go up, it does it so fast it's unusable.

I have Windows 10 Pro, version 1909,compilation 18363.836
I use C# in Visua

[2020-06-01 19:21] pennyo opened #2812 "Provide Cancel/Submit option on inappropriate reporting"
**Describe the bug**
Clicking "Report inappropriate name/photo" immediate reports something without giving the user a chance to either (1) describe what's inappropriate or (2) cancel the request.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a profile page.
2. Click on "Report inappropriate name/photo"
3. Report occurs without confirmation.

**Expected behavior**
User should be, at m

[2020-06-01 21:26] miegir opened #2813 "Make easy switching to English"
Please add easy option to switch to English version when localized page version is displayed. And ideally this switch should be memorized so every time I redirected to microsoft docs, every article is displayed in English.

This is needed because Russian translation, for instance, become extremely bad now, untranslatable terms are transliterated now, such as class names. In other words, Russian ve

[2020-06-02 11:26] cheong00 opened #2814 "Restoring documentation in old technologies"
**Is your feature request related to a problem? Please describe.**
As a helper on MSDN forums, I found more and more questions on old but still using technologies such as GDI/GDI+ and typography.

I'm pretty sure there were articles in MSDN and "Dr International" and so on have answer for them, but since they're all taken off, we have nowhere to find them. Some of them is still available in the Wa

[2020-06-02 14:47] Xawx commented on #462
I think every page should always open in English, not some weird stuff like `pl-pl` despite it being my native language.

Current way causes a lot of pain, which is sad, because docs are great, but having to switch to `us-us` whenever I want to read something is annoying.

Also button ""solution"" doesn't really work, because site looks like 50% is in Polish meanwhile other 50% is in English. It's

[2020-06-02 14:57] SonjaSaltzman commented on #462
@RyanKing77 could you please update on the feature? Also, @JasonCard there is some feedback about aspnet core documentation.

[2020-06-02 16:14] DSPatrick commented on #2764
Looks like a no

[2020-06-02 17:06] saldana commented on #2764
I created a bug for our support team to look at this. Sorry for the delay.

[2020-06-02 18:40] DSPatrick commented on #2804
Please help

[2020-06-02 19:19] fonbrauzen opened #2815 "Introduction to Office client customization with add-ins course bug"
on page "Understand Office JavaScript APIs" in the section "Understand the capabilities of the Excel JavaScript API" content just duplicates the previous section, instead of actually describe APIs like in the next sections about Outlook, Word, etc.

Steps to reproduce the behavior:
1. start course [Introduction to Office client customization with add-ins ](https://docs.microsoft.com/en-us/learn/mo

[2020-06-02 19:26] JasonCard commented on #462
Hi @Xawx

Thank you for your feedback.
Regarding your comment that English is mixed with Polish in topic below, product names such as "ASP.NET Core", "Blazor", and "SignalR" are not localized and left in English as design:
<https://docs.microsoft.com/pl-pl/aspnet/core/whats-new/2020-05?view=aspnetcore-3.1>

Please let me know if there was anything else that was left in English, but should have bee

[2020-06-02 22:22] rickardp commented on #462
That is unfortunately not a good solution, as this will change all content on all sites to English. I am a Swedish native speaker and doing this would cause the Swedish news sites etc to present the English versions of the pages.

The solution is simple: don’t present a translated version if the original language is *anywhere* in that list. It’s as simple as that!

[2020-06-03 01:23] stevewhims commented on #1927
I'll go ahead and close this GitHub issue now that it's resolved. Thanks, all!

-Steve

[2020-06-03 01:23] #1927 closed

[2020-06-03 11:39] cheong00 commented on #2814
I'll add that currently, the MSDN Magazine, Newsletter and Blogs have gone to https://docs.microsoft.com/en-us/archive/ already. Maybe the server can hold those old documentation as well?

[2020-06-03 11:47] Nihilem opened #2816 "Html bug into section 'Fonts in Xamarin.Forms'"
All of the page is clickable, there are some problems with <a> tags in  headlines text.

to Reproduce
Steps to reproduce the behaviour:
Go to  [https://docs.microsoft.com/it-it/xamarin/xamarin-forms/user-interface/text/fonts](url)

Desktop (please complete the following information):
OS: Windows 10
Browser Chrome
Version 83.0.4103.61

[2020-06-03 12:19] tonyhallett opened #2817 "Bad link - Use The Web API with Dynamics 365 Metadata"
**Describe the bug**

On this page https://docs.microsoft.com/en-us/dynamics365/customer-engagement/web-api/about?view=dynamics-ce-odata-9

Link  - Use The Web API with Dynamics 365 Metadata in the image below has href
assetid:///a0edc029-c6db-48ac-9538-b0270fe94440.

It probably should be linking to
https://docs.microsoft.com/en-us/powerapps/developer/common-data-service/webapi/use-web-api-metada

[2020-06-03 15:20] tblut opened #2818 "Provide more details for many D3D12 functions"
The documentation for Direct3D 12 is very often not very specific. The correct usage of a large amount of functions is not clear when just looking at the MSDN pages. More often than not, one has to consult the header files, scavenge through the not very well laid out specifications, or look at example code.

This results in a significant amount of time spent just to find out if a function accepts

[2020-06-04 02:33] qinmaye opened #2819 "[error message feedback] provide feedback for BackendEngineExceptionError"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Problem:**
What's wrong with the error message? For example,
- Is error message clear and actionable?
- Is there a documentation to provide more information?
- If there is a documentation, is it relavent and helpful?
- Is line number correct?
- etc.

[2020-06-04 02:34] eolaguir opened #2820 ""Check your Answer" button not working"
When I click on "Check your Answer" button on any page that has questions to submit, the page just shows loading and doesn't proceed to actually validating the answers. I already tried on different browsers and on different devices and got the same result. Doesn't matter as well which course/topic.

[2020-06-04 06:09] OzBob commented on #2786
Suggestions: on the road to retirement:

3 make the content read only.

4 add a facility to migrate to Stackoverflow or Github Gist

[2020-06-04 09:28] CrystalDawn625 opened #2821 "Windows 10 needs to recognize NON-touch screen PCs"
6-4-2020
**Describe the bug**
Windows 10 requests that I use eye, fingerprint or other types of identification not available on my PC.  My PC is not a touch screen, it is not a phone or a tablet, but this is how Windows 10 identifies my NON-touch screen PC.

**To Reproduce**
Steps to reproduce the behavior:
1. Boot up PC
2. Currently able to enter PIN
3. Receive message(s) asking if I want new app

[2020-06-04 09:29] david-lpg commented on #1339
Same for us, the functions Get-AzADApplicationOwner/Set-AzADApplicationOwner would really simplify work for us. The workaround is to use the old Get/Set-AzureADApplicationOwner (need to perform Connect-AzureAD first and the module AzureAD does not seem to work in powershell 7)

[2020-06-04 09:40] lyupengpublish opened #2822 "[error message feedback] provide feedback for BackendEngineExceptionError"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Problem:**
What's wrong with the error message? For example,
- Is error message clear and actionable?
- Is there a documentation to provide more information?
- If there is a documentation, is it relavent and helpful?
- Is line number correct?
- etc.

[2020-06-04 14:38] ArmsOfSorrow opened #2823 "Broken design on "OneCore.lib umbrella library (by module)" page"
Visible in section: [APIs from api-ms-win-core-com-l1-1-1.dll](https://docs.microsoft.com/en-us/windows/win32/apiindex/umbrella-lib-onecore#apis-from-api-ms-win-core-com-l1-1-1dll)

![umbrellalibpage](https://user-images.githubusercontent.com/5157010/83770548-7c9edf00-a681-11ea-9b42-c5194522d88c.png)

I'm not quite sure what is at fault here, but items from **CoImpersonateClient** are not part of

[2020-06-04 14:56] zhiliangxu commented on #2802
docs.microsoft.com is based on [DocFX](https://dotnet.github.io/docfx/). So you can also build your docs site using it.

[2020-06-04 14:58] zhiliangxu commented on #2796
@JasonWHowell To @dastaffo

[2020-06-04 17:37] JasonWHowell commented on #2796
#reassign:dastaffo

[2020-06-04 18:40] armindiaz commented on #2802
Great! Thak you!!!!

*Armin Díaz*

El jue., 4 de jun. de 2020 a la(s) 10:56, Zhiliang Xu (
notifications@github.com) escribió:

[2020-06-04 23:20] guybark opened #2824 "Two broken links at https://docs.microsoft.com/en-us/windows/win32/api/uiautomationclient/nn-uiautomationclient-iuiautomationelement"
Visit https://docs.microsoft.com/en-us/windows/win32/api/uiautomationclient/nn-uiautomationclient-iuiautomationelement and checkout the "Methods" and "Properties" links at the top of the page. They both go to https://docs.microsoft.com.

[2020-06-05 06:49] #2450 closed

[2020-06-05 10:50] Australian opened #2825 "Technet Profile points not being awarded."
**Describe the bug**
Technet Profile Points - I have another two contributions which have been downloaded 1000+ times and i have not been awarded points for them for many months...

[2020-06-05 19:38] Crypt32 commented on #2790
Any update?

[2020-06-06 05:10] dagnode opened #2826 "network fundamentals doc incorrectly specifies 225 as the masking value for subnets"
**Describe the bug**
The description of subnet masks on https://docs.microsoft.com/en-us/learn/modules/network-fundamentals/5-ip-tcp-basics incorrectly states 225 as the masking value instead of 255: "For each address segment value specified as 225 in the mask, the corresponding address segment is static."

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us

[2020-06-06 12:03] skycommand commented on #2209
Wow. This issue has been open for 7 months now.

[2020-06-06 15:19] aivsim opened #2827 "Ability to consolidate and refresh learned course material after longer period of time from completion"
**Is your feature request related to a problem? Please describe.**
Over some time, I've completed more than a hundred courses and this list keeps growing. Every day it becomes harder and harder to reflect and solidify knowledge on learned material, or to find the earlier completed courses which are a bit inconvenient.

**Describe the solution you'd like**
I would like to press a button (or specify

[2020-06-06 16:31] SetTrend opened #2828 "Visual Studio 2019 v16.6.1: Help missing for options dialogs"
After updating to Visual Studio 2019 v16.6.1, again quite a number of help pages are missing.

Please, don't publish a new Visual Studio version to public without having help pages for all options available at the ready.

[2020-06-07 03:58] isiaq commented on #1312
Hello I got the same error. Is there a way to fix. I have been on this for more than 3 days now.
https://drive.google.com/file/d/1Kw9L5RqE8h3IlX9748z2THE-f9iZq98y/view?usp=sharing

[2020-06-07 11:47] aptwebapps opened #2829 "Unescaped meta tag content breaking the HTML"
**Describe the bug**
The description meta tag's content is not escaped and is creating invalid HTML

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/dotnet/api/xamarin.forms.bindableobject?view=xamarin-forms
2. See meta content along with garbage tag close displayed at top of page

**Expected behavior**
Meta tag content should not be HTML

**Screenshots*

[2020-06-07 14:48] bjoernf73 opened #2830 "Incorrect Update Classification names"
**Describe the bug**
About "https://docs.microsoft.com/en-us/archive/blogs/dubaisec/windows-update-categories".
Being a documentation about Update Classifications, the correct names of the update classifications should be used. Instead of "referencing" an update classification by the term "Security Update", which is programmatically unusable and ultimately incorrect, the programmatically correct n

[2020-06-07 15:10] 1821454893q opened #2831 "WM_RBUTTONUP message"
**Describe the bug**
Value | Meaning

MK_CONTROL0x0008 | The CTRL key is down.
MK_LBUTTON0x0001 | The left mouse button is down.
MK_MBUTTON0x0010 | The middle mouse button is down.
MK_RBUTTON0x0002 | The SHIFT key is down.
MK_XBUTTON10x0020 | The first X button is down.
MK_XBUTTON20x0040 | The second X button is down.

**To Reproduce**
MK_RBUTTON0x0002 | The right key is down.

[2020-06-07 17:58] Bubbasd commented on #2677
still no improvement.

[2020-06-07 21:39] Keith1953 opened #2832 "Now Playing: Science"
The video does not load or play. It's dead!

[2020-06-08 00:01] danylo-dev opened #2833 "Sandbox Microsoft learn appeal issue"
Hi, I activated the sandbox, first try ever (Exercise - Create a website hosted in Azure) but there was an error and I summited an appeal. I must add after few tries (few days) as also the appeal was not working correctly.
After few days after finally successful summited appeal I see the following message:
![image](https://user-images.githubusercontent.com/66576563/83983045-6ddb5500-a92b-11ea-82e4

[2020-06-08 04:16] Naveenpisher opened #2834 "Overcomplicating Examples"
Hi MS Team, The String method examples were really complicated, In future make simple example like readable and understandable by everyone. Most of the things in the document were understandable by expirienced ppl only i believe.

[2020-06-08 11:11] mlottner commented on #2834
@Naveenpisher Thanks for taking the time to give us your feedback.
In the future, make sure to leave your comments on a specific page of documentation, so we can route your feedback to the correct team for improvement.
I've posted your request and we'll do our best to make improvements in future documentation releases.
Closing this issue for now, but feel free to continue commenting here as needed

[2020-06-08 11:11] #2834 closed

[2020-06-08 11:15] mlottner commented on #2832
@Keith1953 Thanks for taking the time to leave us site feedback on Docs. Unfortunately, without giving us a page link, it is impossible to know what page you came from or need us to fix. In the future, look for the feedback link at the bottom of the specific page with the issue and report the issue to us there.
I'm closing this specific issue for now, but feel free to continue to comment here as n

[2020-06-08 11:15] #2832 closed

[2020-06-08 11:22] mlottner commented on #2831
@1821454893q Thanks for taking the time to leave us site feedback on Docs.
To get the specific product help you need, use the [product support site](https://support.microsoft.com/allproducts) for all of our products.
I'm closing this site feedback issue in the meantime, feel free to continue to comment here as needed.

[2020-06-08 11:22] #2831 closed

[2020-06-08 11:26] mlottner commented on #2830
@bjoernf73 Thanks for taking the time to leave us site feedback on Docs.
Unfortunately, as you may have noticed, the content you have referenced is ARCHIVED and therefore unavailable for either fixes or improvements. Make sure to use currently supported products and docs to get the most up-to-date and accurate Microsoft content available.
I'm closing this issue for now as that content can't be upd

[2020-06-08 11:26] #2830 closed

[2020-06-08 15:31] pmarcantonio opened #2835 "I get lost"
I am attempting to learn C sharp and Xanarin, as I follow YOUR build an App documents, I see and understand  what the Microsoft document is saying, but when I go past a chapter or two, the additional code generated by Visual Studio is not explained. such as the project Notes
I have not idea what
async void OnSaveButtonClicked(object sender, EventArgs e)
I have no idea what these are or how to view

[2020-06-08 20:33] gregharms opened #2836 ""Install Visual Studio Code" - Typo in tools recommendation"
**Describe the bug**
On the "Install Visual Studio Code" step of the "Set up your Python beginner development environment with Visual Studio Code" learning module in the "Tools to write Python code" section, there is a "missing 'not'" typo in the second paragraph's last sentence.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/en-us/learn/modules/python-inst

[2020-06-08 20:44] hvilppu opened #2837 "Tutorial / example for stream/byte array for object detection"
I have really difficulties to convert this great tutorial:
https://docs.microsoft.com/fi-fi/dotnet/machine-learning/tutorials/object-detection-onnx
To consume streams or byte arrays like it uses files from file system now.
Think it is possible via InMemoryImageData?

It is not easy task to convert because "scoring", model.Transform, etc needs filesystem.

So it would be great to step by step tutor

[2020-06-09 01:23] #2716 closed

[2020-06-09 02:44] lukeei8ht opened #2838 "[Supported source extensions] ppsxm exists?"
**Describe the bug**

[GraphAPI Download a file in another format](https://docs.microsoft.com/en-us/graph/api/driveitem-get-content-format?view=graph-rest-1.0&tabs=http)

Does ppsxm exists?
I don't know the extension.
Excuse me, but isn't it a mistake in ppsm?

**Screenshots**
<img width="772" alt="スクリーンショット 2020-06-09 11 38 56" src="https://user-images.githubusercontent.com/42560432/84100185-462c

[2020-06-09 06:59] Confucius-Pei opened #2839 "vs do not link ucrt.lib when dllmain exist"
**Describe the bug**
vs do not link ucrt.lib when dllmain exist.
upgrade from 2010 to vs2017,find link error when dllmain exsits.
![image](https://user-images.githubusercontent.com/5771318/84115917-6f0e9e00-aa61-11ea-8fae-ab964980b1e3.png)

**Expected behavior**
no link error

**Screenshots**
If applicable, add screenshots to help explain your problem.
without dllmain,the link output:
![image](htt

[2020-06-09 08:50] JYOTHIRMAISURI commented on #2763
@aakashb01 thanks for the review and confirmation.

@JasonWHowell  We have included a note as requested, the update will be live today PST.

Here is the preview:
https://review.docs.microsoft.com/en-us/system-center/scsm/system-requirements?view=sc-sm-2019&branch=pr-en-us-2872#sql-server-requirements

[2020-06-09 11:58] Vic40k commented on #2114
Same problem.

[2020-06-09 12:12] Vic40k opened #2840 "Sandbox account for Azure fundamentals training on Microsoft Learning"
Hello!
I want learn Azure fundamentals training on Microsoft Learning, create Azure account just as described. For now is "We have reviewed your appeal and determined that your account has violated our Terms of Use. Your sandbox access will not be reinstated" error. I am pretty sure, I don`t violate anything, because I just do anything.

I wrote in Azure support and already 3 days is nothing, so o

[2020-06-09 12:14] Vic40k commented on #2833
Same thing.

[2020-06-09 15:34] the-Arioch opened #2841 "wrong charset in MS Edge/Chrome in Russian"
just see this - UTF-8 misinterpreted as Win-1251
![MS_FB_vs_MS_Edge](https://user-images.githubusercontent.com/937774/84168222-cfacd380-aa7f-11ea-9764-fabc7039daa0.png)

[2020-06-09 18:16] spartymants opened #2842 "Azure Storage Queue Documentation incorrect"
I've identified an issue with the Azure Storage Rest API documentation for the delete method.

The delete message documentation does not appear to be correct
[Delete Message](https://docs.microsoft.com/en-us/rest/api/storageservices/delete-message2#emulated-storage-service-uri)

The document states that the following uri must be used
https://myaccount.queue.core.windows.net/myqueue/messages/messag

[2020-06-09 20:12] JasonWHowell commented on #2763
Looks nice. Thanks for the followup @JYOTHIRMAISURI

[2020-06-09 20:12] JasonWHowell commented on #2763
#please-close

[2020-06-09 20:12] #2763 closed

[2020-06-09 21:14] chrishampton opened #2843 "error with link to EnableLoopback Utility on the revisiting-fiddler-and-win8-immersive-applications web page"
The link for "revisiting-fiddler-and-win8-immersive-applications" error out on this web page:  https://docs.microsoft.com/en-us/archive/blogs/fiddler/revisiting-fiddler-and-win8-immersive-applications

The lik send you to this web page:  https://telerik-fiddler.s3.amazonaws.com/fiddler/EnableLoopbackUtility.exe

Error details:
<Error>
<Code>NoSuchKey</Code>
<Message>The specified key does not exis

[2020-06-10 06:39] MIJ75 opened #2844 "Missing blog"
I'm looking for an article in the "applicationproxyblog" blog,  here is the link:

https://docs.microsoft.com/en-us/archive/blogs/applicationproxyblog/hardware-load-balancer-health-checks-and-web-application-proxy-ad-fs-2012-r2

The link was working some weeks ago, but now the applicationproxy blog is missing.

Is it possible to get back this article?

Thanks

[2020-06-10 08:00] Computer24HR opened #2845 "after logon to technet i get some error msg"
Hello,
i try to logon my account (it's not be use the last year) to technet forums
https://social.technet.microsoft.com/forums/en-us/home

after i try to type my user & password i get some error msg: "The resource you are looking for has been removed, had its name changed, or is temporarily unavailable."

anyone can know how to fix it ?

[2020-06-10 12:43] MNF opened #2846 "Show which certifications/exams are retired in browse page"
**Is your feature request related to a problem? Please describe.**
Page https://docs.microsoft.com/en-us/learn/certifications/browse/ shows many exams and certifications without any indication, are they retired or not. It is annoying to open a page just to find that it is already retired.

**Describe the solution you'd like**
It will be good if each exam/certification  in the list will have icon/s

[2020-06-10 19:38] nick1941 opened #2847 "System.Windows.Forms DrawBorder Documentation Anomaly"
In the documentation for System.Windows.Forms DrawBorder (https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.controlpaint.drawborder?view=netcore-3.1#System_Windows_Forms_ControlPaint_DrawBorder_System_Drawing_Graphics_System_Drawing_Rectangle_System_Drawing_Color_System_Int32_System_Windows_Forms_ButtonBorderStyle_System_Drawing_Color_System_Int32_System_Windows_Forms_ButtonBorderSt

[2020-06-10 21:20] behroozbc opened #2848 "page header is not correct"
**Describe the bug**
page dont show correct
**To Reproduce**
Steps to reproduce the behavior:
1. Search in search engine HasUnevenRows
2. open page of ms docs
3. See error

**Expected behavior**
show correct like other page

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/20381616/84319654-9bbbd600-ab85-11ea-8743-4ad1b

[2020-06-10 22:43] SgtGrumbles3rd opened #2849 "No payout received"
I was sent an email from Microsoft Partner Center on 5/14 that I would be receiving a 63USD payout to my seller account. I have my paypal linked, I have completed all forms. Why have I not received a payment yet?

[2020-06-11 01:41] tdykstra opened #2850 "The theme is a bit less colored"
---
**Issue moved from dotnet/docs#17458**
- Please respond to @CeciAc.

---

_From @CeciAc on Friday, March 13, 2020 12:00:32 PM_

The comments below were machine-translated

@Elliot-zjy commented on [Fri Mar 13 2020](https://github.com/dotnet/docs.zh-cn/issues/536)

The black and white words are too bright, all white pages are very tired, high contrast and more dazzling, I hope to add a few more

[2020-06-11 01:41] tdykstra commented on #2850
---
**Issue moved from dotnet/docs#17458**
- Please respond to @BillWagner.

---

_From @BillWagner on Friday, March 13, 2020 1:49:27 PM_

@CeciAc  This is about the site experience. Cab you move it to the MicrosoftDocs feedback repo?

[2020-06-11 02:07] tdykstra opened #2851 "confusing navigation on mobile"
---
**Issue moved from dotnet/docs#18119**
- Please respond to @natiox.

---

_From @natiox on Tuesday, April 28, 2020 4:02:52 AM_

I read this page on mobile and it's not very intuitive to find the table of contents in the dropdown.  I read the page and thought, "Nice intro.  Where's the info?"  With some back-and-forth between the desktop and mobile version I was able to find the table of conten

[2020-06-11 16:35] msivia opened #2852 "Typo in realease notes"
Typo in [Visual Studio 2019 version 16.6 Release Notes](https://docs.microsoft.com/en-us/visualstudio/releases/2019/release-notes#16.6.2)

Typo in [IntelliSense shows that "tilde-slash" (~/) points to ASP .NET Core 3.1 project root **instread** of wwwroot subfolder after upgrading Visual Studio Enterprise 16.5.6->16.6.0](https://developercommunity.visualstudio.com/content/problem/1043674/intellise

[2020-06-11 21:09] mniem opened #2853 "Incorrect text displayed back to users"
Issue is on [this ](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.websites.models.site.clientaffinityenabled?view=azure-dotnet) page.

Gets or sets **&lt;**code**&gt**;true&lt;/code&gt; to enable client affinity; &lt;code&gt;false&lt;/code&gt; to stop sending session affinity cookies, which route client requests in the same session to the same instance. Default is &lt;code

[2020-06-11 23:12] joehanna commented on #2850
When using the "Dark" Theme in docs, I find I get sore eyes and get "burn in" very quickly with the high contrast of the white text (#e3e3e3) on very dark background (#171717) - especially during long articles. I have to stop reading and come back to it - or switch back to the Light theme. All of which defeats the purpose of having a dark theme which is meant to be easier on the eyes.

Can we get

[2020-06-11 23:25] SonjaSaltzman commented on #2801
Closing; @alligreubel not sure what the policy is for code-of-conduct issues.

[2020-06-11 23:25] #2801 closed

[2020-06-11 23:27] SonjaSaltzman commented on #2795
@vinceno

[2020-06-11 23:29] SonjaSaltzman commented on #2778
@JasonCard

[2020-06-11 23:31] #2740 closed

[2020-06-11 23:45] JasonCard commented on #2778
Hi @behroozbc

Thank you for your question and interest to contribute to our Docs translation.
Unfortunately, we currently do not have plans to localize into Persian.
Our content is also not open for translation by public, but it's a possibility we are considering for the future.

Best regards,
Microsoft DOCS Global Experience Team

[2020-06-11 23:45] #2778 closed

[2020-06-12 02:19] KFlowerz opened #2854 "Search results in wrong language"
**Describe the bug**
When adding the search term "iot edge" to the Filter by title textbox and searching by all documents.  Search results are displayed in Japanese.  Eventhough, the selected language in the page is English (United States)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/previous-versions/azure/digital-twins/tutorial-facilities-setup
2.

[2020-06-12 07:05] vinceno commented on #2795
@YoshikaSuzuki thanks you again for this input - we are dealing with the issue now and will update when complete.

[2020-06-12 11:07] blu-base opened #2855 "[MS-DTYP] GUID--RPC IDL representation -- copied a typo from C706"
The docs on a specific [GUID](https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-dtyp/49e490b8-f972-45d6-a3a4-99f924998d97) representation according to [C706](https://publications.opengroup.org/c706) standard contains an error, which is a typo in the C706 standard.

Currently [MS-DTYP] for the respective GUID defines:

[code]

Reviewing C706, p. 654, table A-1 reads:

![Screenshot_202

[2020-06-12 12:45] s1j opened #2856 "Achievements > Trophies > Badges"
Under profile > achievements
The Trophies should be above the badges.
It would be great to see more statistics for each trophy and badge on this dashboard
How I rank against everyone else.
Show the link between the Trophies and the badges.  Some badges are linked to more than one trophy.
Show more of the progress on each path as well and how I am progressing on each path.
Would really like an over

[2020-06-12 13:10] danylo-dev commented on #2833
Is there any resolution on this issue?

[2020-06-12 13:32] EamonNerbonne opened #2857 "MethodBase.IsFamilyAndAssembly docs outdated"
**Describe the bug**
https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/private-protected
now exists, rendering the docs at https://docs.microsoft.com/en-us/dotnet/api/system.reflection.methodbase.isfamilyandassembly?view=net-5.0 incorrect.

**Expected behavior**
The note that "The Visual Basic and C# languages cannot define methods with MethodAttributes.FamANDAssem visibil

[2020-06-12 14:10] mikefrobbins commented on #2750
This issue has been resolved and can be closed.

[2020-06-12 15:02] martingbrown opened #2858 "Make returning to bookmarks more obvious."
**Is your feature request related to a problem? Please describe.**
I was doing some learning on the site and needed to take a break so set a bookmark. Now I've come back I can't see how to get back to the page I bookmarked.

**Describe the solution you'd like**
A clickable link on the home page https://docs.microsoft.com/en-us/learn/ to take me to my bookmarks.

**Describe alternatives you've cons

[2020-06-12 16:16] k7faq opened #2859 "better search"
Why is it so hard to "Search" for content? This platform does not allow exclusive keyword searching. Why not?

When I tried "azure" and "workbook" your sytem searches for ""azure" and "workbook"" and returns over 300000 results. This is not possible! This is not useable! I don't have a lifetime to sift through 300000+ articles to find relevant content!

Do Microsoft "Engineers" never use advanced

[2020-06-12 16:27] Tam66662 opened #2860 "SystemEvents not working from a Windows Service"
**Describe the bug**
The documentation on [SystemEvents ](https://docs.microsoft.com/en-us/dotnet/api/microsoft.win32.systemevents?view=dotnet-plat-ext-3.1) gives a clear example (Example 2) of how to hook SystemEvents into a Windows Service, by creating a hidden Form. However, following the instructions exactly, I am not able to get the `SystemEvents.UserPreferencesChanged` to log a message to th

[2020-06-12 17:21] JasonWHowell commented on #2750
#please-close

[2020-06-12 17:21] #2750 closed

[2020-06-12 17:52] nschonni commented on #2750
https://docs.microsoft.com/en-us/powershell/module/?view=azuresmps-4.0.0 still shows the break in the original screenshot

[2020-06-12 17:53] nschonni commented on #2750
Nevermind, this was about the target, and not the formatting of the unlinked "Module" word

[2020-06-13 00:47] AMaini503 opened #2861 "Missing defition for hello_ClientIfHandle and hello_ServerIfHandle"
I'm following the tutorial to build a simple client-server application here:
[Tutorial](https://docs.microsoft.com/en-us/windows/win32/rpc/tutorial)

While following the step:
* [The client application](https://docs.microsoft.com/en-us/windows/win32/rpc/the-client-application): I can't find the definition for `hello_ClientIfHandle`
* [The server application](https://docs.microsoft.com/en-us/window

[2020-06-13 19:52] martingbrown opened #2862 "COVID-19 and Certification Exams"
**Is your feature request related to a problem? Please describe.**
I was looking at this page: https://docs.microsoft.com/en-us/learn/certifications/
I'm trying to figure out if it is a good time to prepare for an exam, it would be nice to know whether exams have been affected by the COVID-19 pandemic.

**Describe the solution you'd like**
A statement somewhere about whether exams are still runnin