[2018-12-31 07:50] AndreasManzke opened #998 "https://docs.microsoft.com/en-us/learn - change email address"
Hello,
I have changed the primary email address for my Microsoft account. With this account I logged in at https://docs.microsoft.com/en-us/learn . Now I can't log in to Microsoft Learn with this account anymore, because it want to create a new techprofile. If I want to create this profile, I get the message "You are already registered".
Thanks for the help.
Andreas

[2018-12-31 07:50] vainolo opened #999 "No documentation for "In this article" part"
I'm trying to understand how the "In this article" section is generated, what are the guidelines, etc. and could not find any documentation for this.

[2018-12-31 08:12] jozefizso opened #1000 "Revision Number Summary property"
**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/msi/revision-number-summary

**Problem:**
The **Revision Number Summary property** article contains formatting erros which cannot be fixed by the Docs site editing feature.

[2018-12-31 16:25] jon80 opened #1001 "[information] facebook app buttons not working"
After I re-installed Visual Studio 2017 [Microsoft.com], not all options within online app [www.facebook.com] are available, the browser [Microsoft Edge] traced this to a javascript file.
Microsoft Windows 10
Microsoft Edge

![scr](https://user-images.githubusercontent.com/719110/50563922-32456000-0d21-11e9-8b74-2d7fe0327c2d.png)

[2018-12-31 17:05] jon80 commented on #1001
![scr01](https://user-images.githubusercontent.com/719110/50564616-9585c100-0d26-11e9-8691-644673ec8b5b.png)
![scr02](https://user-images.githubusercontent.com/719110/50564618-97e81b00-0d26-11e9-929a-cab91ca95e92.png)

[2018-12-31 17:05] jon80 commented on #1001
it looks like a white screen that solved 99% of my privacy issues.

[2018-12-31 20:44] nschonni commented on #1001
https://developercommunity.visualstudio.com is probably a better place to post this since it's not aimed at a documentation issue

[2019-01-01 19:36] GVerelst opened #1003 "TableQuery.Where is NOT immutable"
**Link to article:**
https://docs.microsoft.com/en-us/dotnet/api/microsoft.windowsazure.storage.table.tablequery.where?view=azure-dotnet#remarks

**Problem:**
The documentation is incomplete. It seems that TableQuery.Where changes the query object that it is being called on.
For example:
[code]

I am not sure if this is missing documentation, or a _bug_ in the Where( ) method. I expected that _get

[2019-01-02 10:10] usernameisalreadyta opened #1004 "10 Immutable Laws of Security Administration"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**. - No comment section in https://docs.microsoft.com/en-us/previous-versions//cc722488(v=technet.10)

**http://www.microsoft.com/technet/security/chklist/default.mspx:**
Not working.

**Problem:**
Broken link

[2019-01-02 14:45] felicio opened #1005 "LinkedIn API does not return a person who created the Ad Account"
**Describe the bug**
LinkedIn API does not return a person who created the Ad Account.

**To Reproduce**
Sample request:
[code]

Sample response:
[code]
**Expected behavior**
As per [sample response](https://docs.microsoft.com/en-us/linkedin/marketing/integrations/ads/account-structure/create-and-manage-accounts#sample-response) (see below), `actor` field should be set to an URN of a person who cr

[2019-01-02 17:12] KalleOlaviNiemitalo commented on #878
This seems fixed already. The page contains two "Protecting Anti-Malware Services" links; both of them point to <https://msdn.microsoft.com/en-us/library/Dn313124(v=VS.85).aspx>, which redirects to <https://docs.microsoft.com/en-us/windows/desktop/Services/protecting-anti-malware-services->, which loads OK. (The hyphen at the end of the URL looks a bit silly, though.)

[2019-01-02 17:20] Powerhelmsman commented on #995
@Minewiskan @mikekinsman Can you take a look at this issue?

[2019-01-02 17:23] Powerhelmsman commented on #938
@SLID123 Due to lack of enough information, I have to close the issue so far. We can reopen it when we have enough information.

[2019-01-02 17:23] #938 closed

[2019-01-02 17:44] Powerhelmsman commented on #971
@abarron-linkedin Can you take a look at this feedback?

[2019-01-02 17:46] Powerhelmsman commented on #972
@abarron-linkedin Can you take a look at this feedback?

[2019-01-02 17:50] Powerhelmsman commented on #980
@greijer Yes, if the edit button is not enable, that means it is not open for public edit.

[2019-01-02 17:50] #980 closed

[2019-01-02 17:55] Powerhelmsman commented on #977
@chrisbasoglu Can you review the PRs and process it?

[2019-01-02 17:56] Powerhelmsman commented on #976
@dendeli-msft Please take a look at this issue?

[2019-01-02 17:57] Powerhelmsman commented on #988
@SonjaSaltzman Can you take a look at this localization issue?

[2019-01-02 17:58] Powerhelmsman commented on #989
@jialge Can you take a look at this feedback?

[2019-01-02 17:59] Powerhelmsman commented on #990
@ginami Can you take a look at this issue?

[2019-01-02 18:00] SonjaSaltzman commented on #988
@DavidPrio  could you please take care of this one?

[2019-01-02 18:01] Powerhelmsman commented on #991
@bugaevski Your issue is transferred to the team. They will help you there.

[2019-01-02 18:01] #991 closed

[2019-01-02 18:07] Powerhelmsman commented on #992
@saldana Can you take a look at this feedback?

[2019-01-02 18:09] Powerhelmsman commented on #993
@georgewallace Can you take a look at this issue?

[2019-01-02 18:10] Powerhelmsman commented on #994
@ginami Can you take a look at this issue?

[2019-01-02 18:12] jffriend commented on #986
@tommai78101 We do not currently have a public roadmap for our documentation platform or for the various documentation repositories. This is a great idea that we will consider for out backlog. Thanks.

[2019-01-02 18:12] Powerhelmsman commented on #996
@ginami I am not sure if it is belong to your area. If not, please assign back to me.

[2019-01-02 18:12] Powerhelmsman commented on #997
@ginami Can you take a look at this issue?

[2019-01-02 18:29] #1001 closed, assigned to nobody

[2019-01-02 18:32] Powerhelmsman commented on #1005
@abarron-linkedin Can you take a look at this issue?

[2019-01-02 18:33] Powerhelmsman commented on #1003
@dendeli-msft Can you take a look at this issue?

[2019-01-02 18:34] Powerhelmsman commented on #1004
@usernameisalreadyta Unfortunately, this content is no longer to update due to out of product cycle. I have to close it.

[2019-01-02 18:34] #1004 closed

[2019-01-02 20:06] #988 closed

[2019-01-02 20:06] CeciAc commented on #988
Issue moved to [MicrosoftDocs/azure-docs.ja-jp #1590](https://github.com/MicrosoftDocs/azure-docs.ja-jp/issues/1590) via [**ZenHub**](https://www.zenhub.com/)

[2019-01-02 21:02] tommai78101 commented on #986
@jffriend Thanks for the reply. Hoping to see this idea come to fruition soon.

[2019-01-03 01:54] jcapellman commented on #878
@KalleOlaviNiemitalo
Looks like someone did fix it since I opened the ticket - thanks for looping back.

[2019-01-03 07:08] gavinfish opened #1006 "Fail to upload a File using a Shared Access Signature on a Share"
**Describe the bug**
As described at https://docs.microsoft.com/en-us/rest/api/storageservices/service-sas-examples#example-upload-a-file-using-a-shared-access-signature-on-a-share . I want to use Shared Access Signature to upload a file to Azure share file. But when I send a http request as the article describes. It returns error like:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1.

[2019-01-03 12:48] LuigiBruno commented on #889
I've also tried using different browsers and InPrivate or Incognito browsing: always the same problem, I'm always prompted to register and create a profile.

[2019-01-03 16:08] LuigiBruno opened #1007 "Suggestion: displaying GitHub activities for Microsoft Docs in TechNet profiles"
Could it be possible to display the activities done on GitHub and related to the docs.microsoft.com site on the TechNet profile associated to an user?
The activities' count could be displayed within a box in the user's profile home page, in the same way it is actually done for Forums contributions and other activities that are currently displayed.

[2019-01-03 23:23] DevMichaelSabo opened #1008 "Broken link"
Site: https://docs.microsoft.com/en-us/office/client-developer/outlook/mapi/pidtagexchangeprofilesectionid-canonical-property

Link: https://support.microsoft.com/kb/188482 (How To Open the Global Profile Section)

[2019-01-04 09:08] yoichiro commented on #988
@CeciAc Ok, I see. Thank you  for handling this issue!

[2019-01-04 09:18] rockerinthelocker opened #1009 "ASSOCF Enumeration (Shlwapi.h) Missing"
Previous ASSOCF link: https://msdn.microsoft.com/en-us/library/bb762471.aspx
Redirects to: https://docs.microsoft.com/en-us/windows/desktop/api/shlwapi/ne-shlwapi-__unnamed_enum_0

However, that's not the ASSOCF enumeration.

[2019-01-04 09:20] rockerinthelocker opened #1010 "Link/Syntax Issue: WINDOWPLACEMENT Structure"
Link and syntax refer to tagWINDOWPLACEMENT instead of WINDOWPLACEMENT.

Source: https://docs.microsoft.com/en-us/windows/desktop/api/winuser/ns-winuser-tagwindowplacement

[2019-01-04 15:20] CeciAc commented on #958
Hello, @cherrierj
 
Thank you for your feedback.
 
Our linguistic team reviewed your linguist suggestions and accepted them. We implemented your feedback and published to the updated articles on the Docs site to the following pages https://docs.microsoft.com/fr-fr/azure/cloud-solution-provider/overview/azure-csp-available-services.

We truly appreciate your contribution to our articles and we enco

[2019-01-04 15:20] #958 closed

[2019-01-04 18:07] flossycake opened #1011 "EnumDisplayMonitors function wrong return value"
https://docs.microsoft.com/en-us/windows/desktop/api/winuser/nf-winuser-enumdisplaymonitors

**Problem:**

The article should mention that the return value will be non-zero only if all monitors were enumerated.

For example if you only want to get a handle to a specific monitor and then stop enumerating after that, the function returns zero indicating that it failed, but actually you were successf

[2019-01-04 18:22] flossycake opened #1012 "GetPhysicalMonitorsFromHMONITOR function"
https://docs.microsoft.com/en-us/windows/desktop/api/physicalmonitorenumerationapi/nf-physicalmonitorenumerationapi-getphysicalmonitorsfromhmonitor

**Problem:**

The documentation should give an example scenario of when there is more than one physical monitor associated with a monitor handle.  I could not find any other articles which provide this information either.

In my own testing with multi

[2019-01-04 20:23] gregarican opened #1013 "Geofencing example download"
This page --> https://developer.xamarin.com/samples/monodroid/google-services/Location/Geofencing/ contains incorrect information. It specifies the Android target as being 5.0. When in actuality the Xamarin packages are all targeted against Android 8.0 and 8.1. It would be good to update the documentation on this particular download page to reflect the correct version. Especially since compiling A

[2019-01-04 21:26] sesoccer911 opened #1014 "Cannot Login to Microsoft Learn"
I recently changed my Microsoft email a few weeks ago and ever sense then I have been unable to progress in Microsoft Learn courses. Any time I try and start a new course it asks me to either login or continue without saving. I am unsure on how to progress.

Every time that I click on the log on link it takes me to the following page. https://techprofile.microsoft.com/en-US/Error?replyUrl=https://

[2019-01-04 23:04] hking19 opened #1015 "I am unable to sign in to Microsoft Learn"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/learn/paths/azure-fundamentals/
2. In the upper right corner, click on 'Sign In'
3. Presented with the 'Create profile to save progress page'

**Expected behavior**
Expect to be able to enter the Profile I created earlier this week. B

[2019-01-05 05:24] NamesJoeyWheeler opened #1016 "Xbox Dev Mode Problem"
I was told to go here by Microsoft Support. If this is the wrong place to post this, then please tell me where I can get help with this.

I am trying to activate DEV mode on my Xbox One.
However, I keep getting lead to a registration page that is asking for business details:
https://partner.microsoft.com/en-us/dashboard/registration/AccountInfo
However, I am not a business. Just an individual.

An

[2019-01-06 01:36] wesinator opened #1017 "Missing value in command switch ?"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/security-updates/SecurityBulletins/2016/ms16-053#multiple-scripting-engine-memory-corruption-vulnerabilities

**Problem:**
In Workarounds, the second line seems to be incomplete:
`cacls %windir%\sys

[2019-01-06 01:46] #1016 closed

[2019-01-06 01:47] wesinator opened #1018 "Command snippet overflow"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/security-updates/securitybulletins/2015/ms15-108#workarounds

**Problem:**
2nd command snippet is rendered incorrectly, overflows into doc text.

[2019-01-06 02:00] wesinator opened #1019 "workarounds command snippets have unnecessary whitespace"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/security-updates/securitybulletins/2016/ms16-086#workarounds

**Problem:**
Workarounds command snippets have unnecessary whitespace before and after, making it more annoying to copy and format the c

[2019-01-07 15:43] MVDB1984 commented on #721
It would indeed be nice to have a progress like on MVA

[2019-01-07 15:49] MVDB1984 opened #1020 "Microsoft Learn: centralize all Microsoft Learning"
I saw MVA will be decommissioned, and microsoft learn will be introduced.
It would be nice if all gets centralized.

Now I'm following microsoft courses, video's and documentation on several platforms.
This means progress and accomplishments are spread all over the different platforms.

Microsoft Learn is great, certainly the first looks of it.

Wouldn't it be a nice a idea to have all your progre

[2019-01-07 17:35] jasonjoh commented on #968
Hi guys, sorry for the delay, I was out on extended vacation for the holidays. Thanks for the feedback @turbolego! I've opened an issue on the content repository (https://github.com/microsoftgraph/msgraph-training-angularspa/issues/2) to track this. @Powerhelmsman you can close this.

[2019-01-07 18:38] Powerhelmsman commented on #1006
@dendeli-msft Can you take a look at this question?

[2019-01-07 18:39] Powerhelmsman commented on #1007
@saldana @jialge Can you take a look at this feedback?

[2019-01-07 18:41] Powerhelmsman commented on #1008
@Linda-Editor Can you fix the broken link?

[2019-01-07 18:52] Powerhelmsman commented on #1009
@sudeepku Can you take a look at this link?

[2019-01-07 18:53] Powerhelmsman commented on #1010
@ginami Can you take a look at this issue?

[2019-01-07 18:53] Powerhelmsman commented on #1011
@ginami Can you take a look at this issue?

[2019-01-07 18:54] Powerhelmsman commented on #1014
@saldana Can you take a look at this issue?

[2019-01-07 18:57] Powerhelmsman commented on #1013
@gregarican Can you post your feedback in https://forums.xamarin.com/? This document is not host in Docs site.

[2019-01-07 18:57] #1013 closed

[2019-01-07 18:57] Powerhelmsman commented on #1012
@ginami Can you take a look at this issue?

[2019-01-07 18:58] Powerhelmsman commented on #1015
@saldana Can you take a look at this issue?

[2019-01-07 19:00] Powerhelmsman commented on #1017
@BetaFred Can you take a look at this issue?

[2019-01-07 19:01] Powerhelmsman commented on #1019
@BetaFred Can you take a look at this issue?

[2019-01-07 19:02] Powerhelmsman commented on #1020
@saldana Can you take a look at this feedback?

[2019-01-07 19:03] Powerhelmsman commented on #1018
@BetaFred Can you take a look at this issue?

[2019-01-07 19:38] Linda-Editor commented on #1008
@DevMichaelSabo @Powerhelmsman I looked everywhere for a replacement for this topic, or for its current location, and could find nothing, so I removed the reference to this link. If you find its replacement, please re-open this issue and mention me, and then I'll update it.

[2019-01-07 19:47] mgrossm opened #1021 "Fix for resource binding overview"
Note there doesn't seem to be a feedback section for this article.

**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/direct3d12/resource-binding-flow-of-control

**Problem:**
In the list of resource views there are Shader Resource View (SRV) and Stream Out View (SOV) but later in the article it mentions Shader Object Views (SOV).  I suspect the latter was supposed to be Stream

[2019-01-07 19:51] DevMichaelSabo commented on #1008
@Linda-Editor @Powerhelmsman
Due to the fact that you should not open the global store anymore, I think its not very important find the correct link.
Since Office 2010 it is possible to add several exchange accounts, so you should open the corelated setting store. It would be more nice to have a link to an updated example.
Who is involved for creating examples?
See also https://social.msdn.microso

[2019-01-07 19:57] Linda-Editor commented on #1008
Thanks. Try contacting @davidchesnut  - he should be able to steer you in the right direction.

[2019-01-07 22:04] davidchesnut commented on #1008
Hi @Linda-Editor, I'm not an expert in the MAPI space. Looks like @DevMichaelSabo is pointing in the right direction to just update the article to Office 2010 and newer approaches to this.

[2019-01-07 22:54] Powerhelmsman commented on #1021
@ginami Can you take a look at this issue?

[2019-01-08 09:43] sunbaoqing opened #1022 "UWP Softkeyboard,"
I want my inputbox  just can input number，so，i have setting like this：

inputScopeName.NameValue = InputScopeNameValue.Number;

but，sometimes softkeyboard showing character,not number, i can't find reason,
so,could you tell me about this.

[2019-01-08 16:06] rayne-wiselman commented on #985
@JYOTHIRMAISURI please fix and then mark this as #please-close

[2019-01-08 16:15] JYOTHIRMAISURI commented on #985
@rayne-wiselman and @uc-ojv

Hi Rayne,

This is fixed and live.

https://docs.microsoft.com/en-us/system-center/vmm/network-pool?view=sc-vmm-1807

![image](https://user-images.githubusercontent.com/23717548/50843394-9a81ea80-138e-11e9-8013-129e8016f914.png)

[2019-01-08 16:16] JYOTHIRMAISURI commented on #985
#please-close

[2019-01-08 22:19] abhipsaMisra opened #1023 "Links on page open as xref"
**Describe the bug**
A clear and concise description of what the bug is.
Unable to navigate to the links present in the page; the links are presented as xref

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/en-us/rest/api/iot-dps/'
2. Click on 'Device Enrollment' under 'REST Operation Groups'.
3. See error: A windows prompt saying "You'll need a new app to op

[2019-01-08 22:40] prasadu-microsoft commented on #778
Any update on this issue? The Edit link is still broken for these pages.

[2019-01-08 22:54] abarron-linkedin commented on #972
@felicio Since this is a bug report rather than docs feedback, can you please submit your request through Zendesk?

[2019-01-08 23:02] abarron-linkedin commented on #971
@felicio Since this is a functionality question rather than docs feedback, can you please submit your request through Zendesk?

[2019-01-08 23:03] abarron-linkedin commented on #1005
@felicio Since this is a functionality question rather than docs feedback, can you please submit your request through Zendesk?

[2019-01-08 23:39] mairaw commented on #778
The Edit button takes me to a private repo.

[2019-01-08 23:54] prasadu-microsoft commented on #778
This is the link generated for me: https://github.com/MicrosoftDocs/powershell-docs-sdk-dotnet/blob/live/dotnet/xml/System.Management.Automation/Cmdlet.xml and this gives a 404 from GitHub.

[2019-01-09 02:41] pearlqueen opened #1024 "The copyright year is still 2018, is it right or a bug?"
Hi, I'm using the map rest service as follows:
http://dev.virtualearth.net/REST/v1/Imagery/Map/Road/13.751205,100.49258/12?mapSize=400,150&pp=13.751205,100.49258;37;玉佛寺&key=AsSOKo7OOz5VAtfAj0rjgaXlhCrCZI6PGbLj7GCH8IW2HUalyg4BVhqA0z77PRCj, the copy right is still 2018 in the map image. Is it right or a bug?  Thanks  a lot~

[2019-01-09 03:20] uc-ojv commented on #985
Thanks a lot Jyothi and Microsoft Team to take issue into your consideration

[2019-01-09 03:20] #985 closed

[2019-01-09 05:52] replogle opened #1025 "Change "supplant" to "supplement" in "Getting Started with Kusto""
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.
(no comment section; no edit button in article)

**Link to article:**
Tell us where exactly a problem occurs.
https://docs.microsoft.com/en-us/azure/kusto/concepts/index
Last sentence of third paragraph.
Text is: "Therefore, it supplants, rather than re

[2019-01-09 06:05] replogle opened #1026 "Typo in "Kusto Tutorial""
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
Tell us where exactly a problem occurs.
https://docs.microsoft.com/en-us/azure/kusto/query/tutorial
"Count Rows" section in "syntax" definition near beginning of the article.
Text reads: "Syntax: A query is a data source (usually a

[2019-01-09 08:39] felicio commented on #1005
@abarron-linkedin please, could you provide a link to it?

[2019-01-09 08:52] jjochum-ELT opened #1027 "MSBuild Transforms - Transform Modifiers - Custom Separator Example"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.
There is no comment section!?

**Link to article:**
https://github.com/MicrosoftDocs/visualstudio-docs/blob/master/docs/vs-2015/msbuild/msbuild-transforms.md

**Problem:**
The line
`@(RESXFile->'Toolset\%(filename)%(extension)', ',')  `
should be change

[2019-01-09 09:00] jjELT opened #1028 "MSBuild Transforms - Transform Modifiers - Example - Description"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.
There is no comment section!?

**Link to article:**
https://github.com/MicrosoftDocs/visualstudio-docs/blob/master/docs/vs-2015/msbuild/msbuild-transforms.md

**Problem:**
The line
`c:\sub0\sub1\sub2\sub3`
should be changed to
`c:\xmake\sub1\sub2\sub3`

[2019-01-09 10:52] ValeriyGourov opened #1029 "Куда делся текст урока?"
https://docs.microsoft.com/ru-ru/learn/modules/host-a-web-app-with-azure-app-service/6-exercise-deploy-your-code-to-app-service

Здравствуйте.
Вот в этом уроке (да и в некоторых других тоже) внезапно исчез текст урока, как показано на снимке экрана. Судя по всему кто-то поломал стили. Когда проблема будет исправлена?

И почините ссылку “Сообщить о проблеме”.

![error](https://user-images.githubuse

[2019-01-09 14:21] poldata opened #1030 "Check if Deployment model is Resource manager"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.
There is no comment section.

**Link to article:**
https://docs.microsoft.com/en-us/learn/modules/create-linux-virtual-machine-in-azure/4-exercise-create-a-vm

**Problem:**
Before you click the Create button to start configuring the VM, you should check

[2019-01-09 14:24] poldata opened #1031 "Passphrase should be provided"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.
There is no comment section.
https://docs.microsoft.com/en-us/learn/modules/create-linux-virtual-machine-in-azure/6-exercise-connect-to-a-linux-vm-using-ssh

Tell us where exactly a problem occurs.
Connect with SSH
**Problem:**
What's wrong with the art

[2019-01-09 14:46] bernard1975rm opened #1032 "A lot of pages are referring to a not working link"
Downloading AD Connect at
https://www.microsoft.com/en-us/download/details.aspx?id=47594

AD Connect Requirements:
https://azure.microsoft.com/en-us/documentation/articles/active-directory-aadconnect-prerequisites/

The page was not found!

There are a lot of Microsoft Link who are referring this missing page!

[2019-01-09 14:58] poldata opened #1033 "Resource Group is deleted too soon"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.
MS Learn has no comment section.
**Link to article:**
Tell us where exactly a problem occurs.
https://docs.microsoft.com/en-us/learn/modules/create-linux-virtual-machine-in-azure/8-exercise-manage-vm

Section Create a network security group

**Problem:*

[2019-01-09 16:27] VBScab opened #1034 "Formatting error on web page"
On [this page](https://docs.microsoft.com/en-us/windows-hardware/manufacture/desktop/add-and-remove-drivers-to-an-offline-windows-image), I believe the box-out text marker is incorrectly placed around this text:

Looking at the rest of the page, I think the first paragraph should be in the body text and only the line that begins 'Dism...' should be in the box-out.

[2019-01-09 17:13] abarron-linkedin commented on #972
@Powerhelmsman Can you please help close this out? I don't have the ability to close issues within this space.

[2019-01-09 17:34] #971 closed

[2019-01-09 17:34] #972 closed

[2019-01-09 22:34] ginami commented on #990
Hi @KaeLL -- thank you for letting us know! We'll work on updating the page.

[2019-01-09 22:35] ginami commented on #994
HI @binboom3 -- thank you for letting us know! We'll get the link updated.

[2019-01-09 22:36] ginami commented on #996
Hi @tannisroot -- thank you for your feedback! We will look into this issue.

[2019-01-09 22:36] ginami commented on #997
Hello @pkristof -- thank you for letting us know! We'll get the page updated.

[2019-01-09 22:37] ginami commented on #1000
HI @jozefizso -- thank you for alerting us to the formatting issue! We'll work on fixing the page.

[2019-01-09 22:38] ginami commented on #1010
Hi @rockerinthelocker -- thank you for letting us know; we'll look into the issue.

[2019-01-09 22:39] ginami commented on #1011
Hi @flossycake -- thank you for your feedback! We'll have an author take a look at the page and your suggested update.

[2019-01-09 22:39] ginami commented on #1012
Hi @flossycake --thanks for your request! We'll work on updating the page.

[2019-01-09 22:40] ginami commented on #1021
HI @mgrossm -- thank you very much for your feedback. We'll work on updating the page.

[2019-01-09 23:17] drewbatgit commented on #1010
This is by design. The API reference syntax blocks reflect the way that the API is actually defined in the header, which is also the way they are presented by intellisense in Visual Studio. We use the typedef name for the title and the table of contents but we leave the syntax block (and markdown file name) unmodified from the way it is presented in the header file.

[2019-01-09 23:20] drewbatgit commented on #1000
This is a known issue that resulted from the conversion from our previous content management system. This must be fixed with back end tooling. This issue is being tracked and will be fixed ASAP.

[2019-01-09 23:30] drewbatgit commented on #962
This issue appears to have been resolved.

[2019-01-09 23:34] drewbatgit commented on #960
The links you provided above are currently resolving. With our migration of content from MSDN there were a large number of issues in the GDI+ content. We are aware of this and are working as fast as we can to resolve them all. Thanks for your feedback.

[2019-01-09 23:46] drewbatgit commented on #950
The link may have changed. The current URL for that page is: https://docs.microsoft.com/en-us/windows/desktop/direct3d12/direct3d-12-raytracing-hlsl-enumerations

If you are interested in the C++ enumerations, as opposed to the hlsl enumerations, a list of these can be found here:
https://docs.microsoft.com/en-us/windows/desktop/direct3d12/direct3d-12-raytracing

[2019-01-09 23:52] drewbatgit commented on #940
These links now resolve correctly.

[2019-01-10 08:33] sy-c commented on #960
Thanks for looking into this.
Here is an example of broken link:

from this page:
https://docs.microsoft.com/en-us/windows/desktop/api/gdiplusgraphics/nf-gdiplusgraphics-graphics-graphics(constgraphics_)

clicking any of the link to constructor methods is broken:
e.g. the first one Graphics(HDC) points to
https://msdn.microsoft.com/f048c2f7-27b4-48dc-b6d8-871f010603f5
which turns out to "page not

[2019-01-10 13:20] SatoruTaniya commented on #897
Although there seems to be no change in specification yet, how is the current situation

[2019-01-10 14:37] hcpcrose commented on #1020
The situation recently got worse.  Microsoft recently created academy.microsoft.com, and they're deprecating MVA - Microsoft Virtual Academy?  (mva.microsoft.com)?  Apparently if you don't fully complete a course in MVA by Jan 31, your progress will be lost?

Also, there doesn't appear to be any way to link to the progress you already have in Microsoft Learn.  I have done several course there, and

[2019-01-10 15:59] sesoccer911 commented on #1014
I have tried to login using another computer, as well as using the browsers Firefox and Edge, I get the same error screen as before. Incognito mode also does not work.

Any update on a possible solution other than changing my email back?

[2019-01-10 17:28] fyurisich opened #1035 "CB_FINDSTRING and CB_FINDSTRINGEXACT articles have wrong data"
[https://docs.microsoft.com/en-us/windows/desktop/controls/cb-findstringexact](url)
[https://docs.microsoft.com/en-us/windows/desktop/controls/cb-findstring](url)

Says:
If wParam is 1, the entire list box is searched from the beginning.

Should be:
If wParam is **-1**, the entire list box is searched from the beginning.

[2019-01-10 18:54] drewbatgit commented on #934
This link now resolves correctly.

[2019-01-10 19:38] drewbatgit commented on #887
These links are resolving correctly now.

[2019-01-10 20:10] SentryOneDataScience opened #1036 "rxPartition and rxPingNodes links are reversed"
**Describe the bug**
The rxPingNodes and rxPartition links from the RevoScaleR  functions side scrolling menu link to the reverse pages.  i.e. rxPingNodes directs to : https://docs.microsoft.com/en-us/machine-learning-server/r-reference/revoscaler/rxpartition  and rxPartition directs to https://docs.microsoft.com/en-us/machine-learning-server/r-reference/revoscaler/rxpingnodes

**To Reproduce**
ho

[2019-01-10 20:31] dendeli-msft commented on #1003
@seguler - can you please take a look at this issue?

[2019-01-10 20:32] dendeli-msft commented on #987
@joeyaiello can you please help route this request?

[2019-01-10 20:33] dendeli-msft commented on #982
The work on functionality that will improve this experience is currently in progress!

[2019-01-10 20:34] dendeli-msft commented on #976
#log-suggestion @dendeli-msft

[2019-01-10 20:37] dendeli-msft commented on #961
The person with the most context here would be @chgennar

[2019-01-10 22:39] mairaw opened #1037 "Change Font"
Original GitHub issue deisterhold from @deisterhold

It would be helpful if the font used for documentation was different so that uppercase i and lowercase L do not look the same.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2bcb08bd-323a-cd5e-0d38-5485bd0f0a1a
* Version Independent ID: 9c0c4aec-a30b-c381-d096-9d9c61

[2019-01-10 23:01] weblakey opened #1038 "U-SQL code example missing call example for TVF"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
[https://docs.microsoft.com/en-us/u-sql/ddl/functions/table/create-function-u-sql-table-valued-function]

**Problem:**
For the example of how to create:  TVF that returns multiple-rowsets
There is no example of how to CALL that fun

[2019-01-10 23:59] drewbatgit commented on #842
These links are resolving correctly now.

[2019-01-11 01:03] robinsh commented on #1006
@dendeli-msft Just FYI, I haven't worked on Storage in over a year, but @tamram can help.

[2019-01-11 07:09] UldisRinkevichs opened #1039 "ListView_GetItemCount macro article tells wrong Syntax and Return Value"
**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/api/commctrl/nf-commctrl-listview_getitemcount

**Problem:**

Syntax should be
[code]

instead of
[code]
Return Value must be "Returns the number of items" instead of "None"

[2019-01-11 17:46] TimShererWithAquent commented on #827
The issue with the "Functions Implemented by SSP/APs" topics looks like a migration issue. I've updated a bunch of these topics to migrate and the changes should go live soon.

I think the DirectShow topics have a different cause. I'll see if I can find out more.

[2019-01-11 19:46] chgennar commented on #961
@SeaDude -  Azure Maps currently performs authorization using subscription keys that need to be manually rotated

[2019-01-12 14:17] xiaoyinl opened #1040 "Doc for PAPCFUNC callback function doesn't specify calling convention"
**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/api/winnt/nc-winnt-papcfunc

**Problem:**
The function syntax is wrong:
[code]
It should specify that this function uses stdcall (or `NTAPI` as specified in `winnt.h`), because the default calling convention in VS is cdecl.

[2019-01-12 20:49] SeaDude commented on #961
Hi @chgennar. Thanks for the response. I understand the use of subscription keys. I'm using said subscription keys in creation of the Custom Connect**or**. The issue lies with the Connect**ion** used by the Custom Connector. It seemed to time out every now and then giving the above error message.
The Custom Connector is working now, so I'm not sure what changed. Anyway. I'll close the issue.

[2019-01-12 20:49] #961 closed

[2019-01-13 01:54] gclarkii opened #1041 "Invalid link to C++ tutorial from main page"
**Describe the bug**
A clear and concise description of what the bug is.
The link to the C++ tutorial comes up 404 if selected from the navigation links.  If selected from the primary page it works.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/en-us/visualstudio/ide/?view=vs-2017'
2. Click on 'C++ tutorial on left side navigation pane.'
It will take you to

[2019-01-13 13:09] rama-dasari opened #1042 "Need Speed control for video player"
**Is your feature request related to a problem? Please describe.**
   If it would really nice if i have control to play my videos faster or slower .

  I would like to have  I want to watch videos quicky most of the time but have to take may be double the time due the lower speed of playing video. ( not the quality of video but speed like on Youtube)

**Describe the solution you'd like**
Need spee

[2019-01-14 07:12] #1005 closed

[2019-01-14 07:39] felicio commented on #971
Issue on Zendesk:
https://linkedin.zendesk.com/hc/en-us/requests/9792

[2019-01-14 07:40] felicio commented on #972
Issue on Zendesk:
https://linkedin.zendesk.com/hc/en-us/requests/9793

[2019-01-14 07:41] felicio commented on #1005
Issue on Zendesk:
https://linkedin.zendesk.com/hc/en-us/requests/9794

[2019-01-14 12:31] dudu-markovitz opened #1043 "Kusto: ".create table" statement should use round brackets (and not square ones)"
https://docs.microsoft.com/en-us/azure/kusto/query/scalar-data-types/null-values#data-ingestion-and-null-values

wrong:
.create table T [a:string, b:int]

right:
.create table T (a:string, b:int)

[2019-01-14 14:34] grandmasteriVan opened #1044 "Can not login"
**Describe the bug**
On page https://docs.microsoft.com/en-us/learn/ I click 'Sing in' link. Than I login with my microsoft account and redirect on page https://techprofile.microsoft.com/en-us/register?replyUrl=https://docs.microsoft.com/en-us/learn/& Whan I enter any name I get 'You are already registered' message.
I already have techprofile of https://techprofile.microsoft.com/en-us/grandmasteri

[2019-01-14 15:46] TimShererWithAquent commented on #827
@GZibrat The topics you found in your original post are working. Well, I checked a bunch, but not all, and go no 404s.

[2019-01-14 17:33] MikeRayMSFT commented on #894
#please-close

[2019-01-14 19:03] ajulyguy opened #1045 "Browse Learning??"
Hello???  Why direct people to Browse Learning with there is **NOTHING** there for powerapps - absolutely brilliant!

![image](https://user-images.githubusercontent.com/38598049/51134269-ecda6580-17eb-11e9-89f6-dffe6b8375d7.png)

[https://docs.microsoft.com/en-us/learn/browse/?products=bizapps-power-apps&resource_type=learning%2520path](url)

[2019-01-14 22:22] BillWagner opened #1046 "can not download entire pdf of particualr document"
Transferred from dotnet/docs#9211 by @jaymin93

for eg I om on this link https://docs.microsoft.com/en-us/dotnet/csharp/deconstruct expecting download pdf to generate pdf for Deconstructing tuples and other types this topic , or with all higher level hierarchy c# concept's pdf but it gives me pdf of 2048 page here is link by clicking on download pdf for this page https://opdhsblobprod02.blob.core.

[2019-01-15 08:34] #1010 closed

[2019-01-15 13:09] guardrex commented on #930
Is there any status to report on this one?

[2019-01-15 14:10] tfmolch opened #1047 "Mixed up Drive-Letters in OEM deployment guides and walkthroughs for Windows 10"
**Link to article:**
https://docs.microsoft.com/en-us/windows-hardware/manufacture/desktop/windows-10-guides-and-walkthroughs | https://docs.microsoft.com/en-us/windows-hardware/manufacture/opbuildpdf/TOC.pdf?branch=live

**Problem:**
Page 28 of the PDF is confusing. The drive letters are mixed up. In earlier steps, we created "USB-B" with drive letter "O". At the bottom of the page, there is a co

[2019-01-15 14:48] firebricks opened #1048 "typo in docs.microsoft.com url"
**Describe the bug**
I have faced with the problem that link (https://docs.microsoft.com/en-us/rest/api/storageservices/naming-and-referencing-containers--blobs--and-metadata) cannot be used in XML comments because it contains "--" sequences. It makes not possible to use it as a reference in web.config etc.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-u

[2019-01-15 15:38] BobTheMadCow opened #1049 "Incorrect casing in JSON example for VSTS/ADO rest API endpoint create"
On this page: [https://docs.microsoft.com/en-us/rest/api/azure/devops/serviceendpoint/endpoints/create?view=azure-devops-rest-5.0](https://docs.microsoft.com/en-us/rest/api/azure/devops/serviceendpoint/endpoints/create?view=azure-devops-rest-5.0)

The example request body has "SubscriptionId" and "SubscriptionName". These should be "subscriptionId" and "subscriptionName" with lowercase first lette

[2019-01-15 15:59] BobTheMadCow opened #1050 "Authority uri in VSTS/ADO endpoint"
[https://docs.microsoft.com/en-us/rest/api/azure/devops/serviceendpoint/endpoints/create?view=azure-devops-rest-5.0](https://docs.microsoft.com/en-us/rest/api/azure/devops/serviceendpoint/endpoints/create?view=azure-devops-rest-5.0)

I've had a problem with an endpoint I created via the REST API linked above. An inline Azure PowerShell script task in an ADO release pipeline started to fail (in lat

[2019-01-15 16:57] rothja commented on #894
@Powerhelmsman Can you help us close this issue? Thank you!

[2019-01-15 18:32] mikepetrak opened #1051 "CREATE PROCEDURE: please clarify NOT NULL documentation"
**Link to article:**
https://docs.microsoft.com/en-us/sql/t-sql/statements/create-procedure-transact-sql?view=sql-server-2017

**Problem:**
The following section makes it seem like NOT NULL is an option for all stored procedures:

"NULL | NOT NULL
Determines whether null values are allowed in a parameter. NULL is the default."

However, when I tried to use this I get the following error: "The para

[2019-01-16 01:59] AdamMaines36 opened #1052 "Can't Login"
**Describe the bug**
I have 2 factor authentication turned on for my Microsoft Account.  When I try logging into Microsoft Learn, it sends the email for verification, I enter the code it sends, then it takes me to a "Create profile to save progress" page.  I've filled that out in the past.

If I click cancel, it takes me back to the login page.  If I click register (trying several UserNames), it g

[2019-01-16 02:08] AdamMaines36 commented on #1052
This happens from the sign in link on:  https://docs.microsoft.com/en-us/learn/

[2019-01-16 02:29] jvinhit opened #1053 "I can't create profile"
When i create profile progress, some api as profiles error 401 code when i submit form.

[2019-01-16 09:16] haavardg commented on #956
Hi, I am also trying to connect ASE to KeyVault. But there is no information on how to use there settings in any documentation that I can find. I am just hitting "InternalServerError" when using there settings in my templates.

I would like to se an example in the description of sslCertKeyVaultId of what the API is expecting the value to look like.

Example:
"Full resource id of keyvault, such as

[2019-01-16 11:52] sameerfairgoogl opened #1054 "Issue signing in"
**Describe the bug**
I had made some changes to my hotmail account, which backed my microsoft id, I had retired by previous email address, and am using a new email address to login now. The consequence of which, I am being asked to register to Microsoft Learn, but once I press register I am told the account already exists.

**To Reproduce**
Steps to reproduce the behavior:
1. register to microsoft

[2019-01-16 16:50] alinbalan opened #1055 "Broken Link"
Link to article:
https://docs.microsoft.com/en-us/learn/modules/tour-azure-services-and-features/

Problem
The above link is broken. The link is present on the https://docs.microsoft.com/en-us/azure/ site under the Build your skills with Microsoft Learn.

Thank you.

[2019-01-16 18:45] cillroy commented on #895
bug has been resolved and closing

[2019-01-16 18:45] #895 closed

[2019-01-17 10:46] brainfrog opened #1056 "Invalid link"
**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/api/winuser/nf-winuser-getcursorinfo

**Problem:**
CURSORINFO structure link leads on a wrong page

[2019-01-17 16:54] MarcLaf opened #1057 "LinkID 834629 is pointing to wrong URL"
**Describe the bug**
The link ID 834629 (https://go.microsoft.com/fwLink/?LinkID=834629) is wrong. The current URL it points to is https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/atlassiancloud-tutorial but the proper one is https://docs.microsoft.com/en-us/azure/active-directory/saas-apps/atlassian-cloud-tutorial

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https:

[2019-01-17 17:11] Minewiskan commented on #995
@donsvensen  Thanks for catching. It has been corrected.
#please-close

[2019-01-17 17:31] tcrossland opened #1058 "Error in Microsoft Power Query for Excel Formula Language Specification"
**Link to article:**
 * https://docs.microsoft.com/en-us/powerquery-m/power-query-m-language-specification
 * https://download.microsoft.com/download/8/1/A/81A62C9B-04D5-4B6D-B162-D28E4D848552/Power%20Query%20Formula%20Language%20Specification%20(October%202016).pdf

**Problem:**
There seems to be a problem with the Microsoft Power Query for Excel Formula Language Specification (downloadable PDF d

[2019-01-17 22:36] SpareNichols opened #1059 "Sidebar with Table Of Contents covers entire site at width 767px"
**Describe the bug**
There is an edge case issue around the breakpoint at 768px width. At 766px and 768px, the site appears to be usable. At 767px width, the sidebar stretches across the whole page with no way to dismiss or see the content underneath it.

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to any article where the Table Of Contents sidebar is present. E.g. https://docs.m

[2019-01-18 10:03] mca15manish opened #1060 "Invailid Link"
Hello sir/mam
On Website ASP.NET Core tutorial first link not working ..
![capture](https://user-images.githubusercontent.com/37953101/51379858-6e0c6200-1b36-11e9-8bf3-fde145ad45d6.PNG)

[Build a website on a Mac](https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app-mac/start-mvc)

[2019-01-18 11:55] monianop commented on #1015
I have exactly the same problem.

[2019-01-18 13:57] emanuel-lundman commented on #462
Please don't auto switch to machine translated docs ever. If anyone want to read machine translated docs in their own langauge then let them switch themselves. I don't know anyone who prefer reading the machine translated docs at all. People I know complains about them cause quite often they make no sense and it's infuriating having to switch back to english at the bottom of the page all the time.

[2019-01-18 14:12] martencassel commented on #462
@emmanuel-lundman
I have never every met any IT person in my career that understand what microsoft machine translated. For fun, I've tried to talk to people about technical topics using ms machine language speak, but they have never understood me, they just laugh at me :-)

[2019-01-18 15:45] BillWagner commented on #641
In dotnet/docs#10042, @HermannGruber described other examples of this problem. The `when` keyword is not highlighted correctly in exception filters or pattern matching statements.

I've closed that issue as a duplicate of this one.

[2019-01-18 15:45] nschonni opened #1061 "OpenBuild should show its Warnings when posting to PRs"
**Is your feature request related to a problem? Please describe.**
Looking at the OpenBuild raw build log in https://github.com/MicrosoftDocs/VBA-Docs/pull/676#issuecomment-455075082 I noticed that were where content issues around incorrect anchor links. After cleaning up some of those https://github.com/MicrosoftDocs/VBA-Docs/pull/682#issuecomment-455450290, my first pass missed one but I couldn'

[2019-01-18 16:02] sesoccer911 commented on #1014
Hello @Powerhelmsman and @saldana, is there any update to this issue?

[2019-01-18 16:41] msmbaldwin opened #1062 "[error message feedback] False-positive InvalidExternalBookmark warnings"
The MicrosoftDocs/Azure-RMSDocs-pr [build logs](https://opbuildstorageprod.blob.core.windows.net/report/2019/1/18/30157474-af24-d8ba-8870-275f885925ef/PullRequest/201901180255457403-2630/workflow_report.html?sv=2015-02-21&sr=b&sig=r5Fx2XkIyPpXZHsMovAi%2FJzmVumg1XmRGLPslQC8usA%3D&st=2019-01-18T02%3A52%3A25Z&se=2019-02-18T02%3A57%3A25Z&sp=r) shows 9 InvalidExternalBookmark warnings which appear to b

[2019-01-18 16:44] #1062 closed

[2019-01-18 19:21] ncarandini commented on #462
@martencassel This issue is indeed about permanent selection of preferred language! If you mean something different, please open another issue.

See the title of the issue:

### Enable permanent selection for preferred language
Currently it doesn't seem to be possible to select a certain language as the default language for the Microsoft Docs. [...]

[2019-01-20 10:49] EmmettTsai opened #1063 "There is a sentence translated into the opposite meaning in 中文 (台灣)."
**Link to article:**
https://docs.microsoft.com/zh-TW/windows/uwp/get-started/universal-application-platform-guide

**Problem:**
What's wrong with the article?

There is a sentence translated into the opposite meaning.

Original sentence in English:
Able to use a common API on all devices that run Windows 10.

Wrong translation in (中文 (台灣))
無法在所有執行 Windows 10 的裝置上使用一般的 API。
(written in English: It

[2019-01-20 11:12] k15tfu commented on #658
@Powerhelmsman @ginami also it has broken layout (you cannot copy the code in Example), and `<` is replaced with HTML `&lt;`.  It would be nice to fix these issues also =)

![image](https://user-images.githubusercontent.com/979106/51438415-fddc1880-1cbc-11e9-812e-4ce40ecf097f.png)

[2019-01-20 12:59] Crypt32 opened #1064 "Certificate Enrollment API docs channel?"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/seccertenroll/about-asn-1-type-system

**Problem:**
The article is not formatted and ugly to read.

I would basically find the appropriate channel for certificate enrollment API, bec

[2019-01-20 16:08] max-zaytsev opened #1065 "Question. Azure DevOps Services REST API docs : Git Items Get"
Hello Guys,

I'm trying to get _metadata_ for a single file in Git repo using Azure DevOps Services REST API 5.1 but I always get _content_ of the file in the response instead of json like in documentation, e.g. :
[code]
I'm using different sets of parameters ( e.g. download=false, includeContentMetadata=true) but as a result I have just a string with _content_ of the file.

Could you please advis

[2019-01-20 16:17] krisrajz opened #1066 "Broken links"
Both Azure Vidyapeeth and Microsoft's learning has plenty of broken links, wondering someone really cares?! Ex: There is no Azure Vidyapeeth android app but still the portal has link. I request Microsoft to devote sometime to make learning more excited and wonderful.

[2019-01-21 08:37] gr3ysky commented on #27
So this issue is dublicate and closed. Where is the original issue then? THIS IS SO ANNOYING, IT STILL EXISTS AND NO ONE CARES USER EXPERIENCE?

[2019-01-21 10:28] ks74 opened #1067 "Return to main site message always shown"
Whenever I open a page for JScript documentation, I see the same message over and over again:

I do need the manual and I don't want to see the message every time. Once I closed it I want it to never show again.

Also, the bottom bar (English (United States)) is too high.

[2019-01-21 14:32] ciaranodonnell opened #1068 "Dead link to ServiceBus360"
This is the article: https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-faq

There is a link on the left hand nav to ServiceBus360. It gets a browser warning about the SSL being broken, continuing takes you to a 404 page.

[2019-01-21 17:37] HedgieTheHedgehog opened #1069 "Cannot start azure virtual machine at Microsoft Learn because of wrong account email"
The account (or email) that is used with my Microsoft profile is emmi.stubin@gmail.com. However, the email for Learn account is emmi.meronen@outlook.com (my really old email address for Microsoft account).

When a course wants me to start the virtual machine or something similar, I get a question (in every browser and in private mode, too), that "You are currently logged in as emmi.stubin@outlook.

[2019-01-21 19:36] Crypt32 commented on #1064
Adding this article as well:
https://docs.microsoft.com/en-us/windows/desktop/seccertenroll/about-introduction-to-asn-1-syntax-and-encoding

[2019-01-22 06:12] waynenus opened #1070 "Hyperlink invalid"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
Tell us where exactly a problem occurs.
https://docs.microsoft.com/zh-cn/azure/backup/backup-azure-troubleshoot-vm-backup-fails-snapshot-timeout#usererrorstandardssdnotsupported---currently-azure-backup-does-not-support-standard-ss

[2019-01-22 06:40] mairaw opened #1071 "Add link to event handler type"
Original GitHub issue https://github.com/dotnet/dotnet-api-docs/issues/1647 from @Jazzman123

This page needs a link to the definition of DataGridSortingEventHandler

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 182f16eb-767e-b8f5-c021-8ebc9ee22dc7
* Version Independent ID: 396acd8e-0d11-3cdb-cdc3-6b8a4083f2d5
* Conte

[2019-01-22 06:40] mairaw commented on #1071
That information is part of the ECMAXML, so it should be easy to automatically add that as we do it for properties and fields.

e.g. https://github.com/dotnet/dotnet-api-docs/blob/master/xml/System.Windows.Controls/DataGrid.xml#L5695

[2019-01-22 09:08] MCKLMT commented on #462
This feature will be very well welcomed for all non-English people playing with Microsoft technologies. I'm French and I read documentation multiple times by day. I don't count anymore the number of times I should change the language each day! It's a real pain.
Please consider increasing priority of this feature. 😉

[2019-01-22 09:44] BugsDigger commented on #462
MCKLMT,

consider installation of browser plugin like "Redirector". My settings are:
--------------------------------------------------
ms docs ru-ru to en-us
Redirect:	https://docs.microsoft.com/ru-ru/*
to:	https://docs.microsoft.com/en-us/$1
Example:	https://docs.microsoft.com/ru-ru/dotnet/ → https://docs.microsoft.com/en-us/dotnet/
Applies to:	Main window (address bar)
-------------------------

[2019-01-22 09:47] MCKLMT commented on #462
This is a workaround but it should not be difficult to implement this feature natively.
For Microsoft Edge, one guy has developed an interesting extension: https://www.microsoft.com/store/productId/9PN36R9NBTRM

[2019-01-22 09:54] BugsDigger commented on #462
I agree completely but if current PITA is so big I prefer to use any workaround. :-)

[2019-01-22 10:44] yuanName opened #1072 "Speak delay"
Multiple click events inside the call, read the last number, to pause before reading the next number, feel a bit delayed, how to solve

[2019-01-22 12:26] Vizor opened #1073 "Clarification of timezone of GetProcessTimes() times"
**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/api/processthreadsapi/nf-processthreadsapi-getprocesstimes

**Problem:**
The times are in UTC or not? It's not clear. According to this article the times are in zone of Greenwich, which could be UTC or GMT, which are almost the same, so I presume, that it is UTC. So make it clear like in article about FILETIME struct (https://ms

[2019-01-22 12:27] OBellac opened #1074 "Checkmarks missing from completed units."
**Describe the bug**
After completing one or more units of a module the unit is marked as completed with a green checkmark. The next time I login. The units are no longer marked as completed and if the module was completed it is no longer marked as such.

**Expected behavior**
Completed units and modules stay marked as completed.

**Screenshots**
If applicable, add screenshots to help explain your

[2019-01-22 14:36] alexclowe opened #1075 "Can't create new Learn account"
https://techprofile.microsoft.com/en-US/register - cannot create new Learn account as it throws an error on the page = "Something went wrong. Please try again later." A customer reported this to me and I also experience this error in Edge and Chrome.

[2019-01-22 15:23] Siby22071989 opened #1076 "SQL USAGE API SCRIPT NOT WORKING"
The link: https://docs.microsoft.com/en-us/rest/api/sql/subscriptionusages/listbylocation does not seems to be working when I try to pull up usage of SQL resources. I enter Sub ID and region and click on "RUN" and I get an error as Subscription - Not found ( 404 )

[2019-01-22 16:56] ncarandini commented on #462
@BugsDigger thanks for the workaround!

[2019-01-22 20:14] rackley096794 opened #1077 "Unable to edit https://docs.microsoft.com/en-us/windows/desktop/api/winreg/nf-winreg-regenumvaluew"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
Unable to edit https://docs.microsoft.com/en-us/windows/desktop/api/winreg/nf-winreg-regenumvaluew to fix an accuracy issue.

**Problem:**
Under lpcchValueName parameter it says:  "Registry value names are limited to 32,767 bytes".

[2019-01-23 11:14] michalzubkowicz commented on #747
Any update on this?

We have still making tired with hilarious translations like on this page:
https://docs.microsoft.com/pl-pl/aspnet/core/client-side/less-sass-fa?view=aspnetcore-2.1
"Mniejsza, Sass i czcionki świetny w platformy ASP.NET Core"
It sounds like:
"Little, Sass and fonts great! in plaform  ASP.NET Core"

It's really doesn't disturb anyone in Microsoft that on company's pages there is

[2019-01-23 12:53] AmichaiH opened #1078 "Focus mode appears blank in MS Azure Rest API"
**Describe the bug**
In Azure rest api reference - for example - [https://docs.microsoft.com/en-us/rest/api/firewall/azurefirewalls/listall] - when pressing on Try-it - I get an empty screen - this worked two days ago
**To Reproduce**
see description
**Expected behavior**
The focus mode should be active and functional

**Screenshots**
![focus mode problem](https://user-images.githubusercontent.com

[2019-01-23 13:26] aleaksah opened #1079 "EM_SETSEL description"
**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/Controls/em-setsel

**Problem:**
Error in the description.
Existing text:

Should be:

[2019-01-23 16:26] regal60740 opened #1080 "Report an Issue does not work"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/learn/modules/tour-azure-portal/5-exercise-navigate-the-portal

**Problem:**
Under "Azure Cloud Shell", If you now see a window notifying you that you have no storage mounted, click Create storage.

[2019-01-24 00:50] SonjaSaltzman commented on #747
@JasonCard and @DavidPrio could you please address this? I am sorry this slipped through the cracks!

[2019-01-24 01:49] JasonCard commented on #747
Hi @michalzubkowicz

Thank you for your feedback and we're terribly sorry for the delay in addressing your feedback.
Regarding machine translation, we will take your feedback into consideration for upgrading Polish to human translation.
Regarding the "Read in English" option, we currently have a feature request to make this option stay persistant in new tabs, so you do not have to re-select this o

[2019-01-24 06:15] 486DX50 opened #1081 "Language filter"
**Is your feature request related to a problem? Please describe.**
Every time I search for something like "azure-docs", it gives me hundreds of results in different language. For example: "azure-docs.zh-cn, azure-docs.zh-tw, azure-docs.es-es, azure-docs.ru-ru, etc"

**Describe the solution you'd like**
I'd like to be able to choose the country and see only results for that code-page, i.e. "China,

[2019-01-24 15:22] CeciAc commented on #747
Hi @JasonCard
Please, reach us if any action further is needed on our side regarding this issue

@DavidPrio

[2019-01-24 19:50] Minewiskan commented on #995
#please-close

[2019-01-25 05:52] wangshuaiw opened #1082 "The catalog is not displayed in the Docs of ASP.NET Core"
Today,the catalog  is not displayed in the Docs of ASP.NET Core ,the url is "https://docs.microsoft.com/zh-cn/aspnet/core/?view=aspnetcore-2.1". And I am in China.

![image](https://user-images.githubusercontent.com/40049686/51727752-5c800880-20a8-11e9-8dfc-10405dcd98fb.png)

[2019-01-25 07:48] #995 closed

[2019-01-25 08:44] Ventilios opened #1083 "Enable Encrypted Connections to the Database Engine certificate requirements"
Currently the SQL Server connection encryption certificate requirements are only described in an older article. It would be a useful to merge this important information to the current documentation - https://docs.microsoft.com/en-us/sql/database-engine/configure-windows/enable-encrypted-connections-to-the-database-engine?view=sql-server-2017.

**Describe the solution you'd like**
Add the certifica

[2019-01-25 21:54] jfmm opened #1084 "URL in the src attribute of the first script tag is missing "https:""
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
Tell us where exactly a problem occurs.
https://docs.microsoft.com/en-us/linkedin/consumer/integrations/self-serve/plugins/share-plugin
**Problem:**
What's wrong with the article?
In the example snippet, the URL in the src attribut

[2019-01-26 02:13] occurrent opened #1085 "navigation content disappeared at document for ASP.NET Core in some asia countries"
**Describe the bug**
it work perfect before 19-01-25,and this issue look like only happened at few asia countries such as zh-cn , zh-tw , zh-hk, ja-jp, ko-kr. and it only happened in ASP.NET Core Document.

**To Reproduce**
1. Go to 'https://docs.microsoft.com/zh-cn/aspnet/core/?view=aspnetcore-2.2' or other countries I been listed

**Screenshots**

[2019-01-26 17:43] ArmsOfSorrow opened #1086 ""SDK Samples That Use the Core Audio APIs" page contains dead link to Win7 SDK"
Here's the page I'm talking about: https://docs.microsoft.com/en-us/windows/desktop/coreaudio/sdk-samples-that-use-the-core-audio-apis

Also, when clicking on a sample it again references the old Windows 7 SDK, this time the link works. However I would argue that newer SDK versions are more commonly used, so I think it could link to the [Windows-classic-samples repo](https://github.com/Microsoft/W

[2019-01-26 22:14] nschonni opened #1087 "PRMerger6 bot appears to be stuck in a loop"
**Describe the bug**
Over on https://github.com/MicrosoftDocs/azure-docs/pull/23338 it looks like the @PRMerger6 bot is stuck in a loop. Reporting here since it seems like the bot is used by multiple repos and not just the azure docset

[2019-01-28 08:10] hellosnow commented on #523
@dend @Powerhelmsman in case you miss it. Thanks

[2019-01-28 13:57] tommai78101 opened #1088 "Should Microsoft Docs include old archived knowledge base articles?"
I found an archive database of old Microsoft knowledge base articles here:

https://github.com/jeffpar/kbarchive

One can browse the contents here:

https://jeffpar.github.io/kbarchive/

I would like to ask if any of the articles in the archive (if possible, **all of them**) can be added to Microsoft Docs?

Thanks.

[2019-01-28 14:43] lubainaz opened #1089 "The endpoint to access AdAccount is not working. I think it is wrong as all similar endpoints have V2 at its end while https://api.linkedin.com/v2/adAccounts do not have."
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
Tell us where exactly a problem occurs.

**Problem:**
What's wrong with the article?

[2019-01-28 14:43] lubainaz opened #1090 "The endpoint to access AdAccount is not working. I think it is wrong as all similar endpoints have V2 at its end while https://api.linkedin.com/v2/adAccounts do not have."
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
Tell us where exactly a problem occurs.

**Problem:**
What's wrong with the article?

[2019-01-28 14:44] lubainaz commented on #1090
The endpoint to access AdAccount is not working. I think it is wrong as all similar endpoints have V2 at its end while https://api.linkedin.com/v2/adAccounts do not have.

When I changed it to https://api.linkedin.com/v2/adAccountsV2 it started working. Please check and change.

[2019-01-28 19:00] cconrado commented on #113
Yes huge help it would be

[2019-01-28 20:04] KalleOlaviNiemitalo commented on #1048
You can work around the problem by encoding some of the hyphens as `%2D`.

<https://docs.microsoft.com/en-us/rest/api/storageservices/naming-and-referencing-containers%2D-blobs%2D-and-metadata>

[2019-01-28 22:23] KalleOlaviNiemitalo commented on #1079
This seems a duplicate of #853

[2019-01-28 22:36] mairaw commented on #1082
@JasonCard There are two issues related to the TOC for ASP.NET Core content having disappeared (this one and #1085). Are you aware of this issue?

[2019-01-28 22:38] mairaw opened #1091 "reading mode on Microsoft windows 10 mobile Edge"
Original GitHub issue https://github.com/dotnet/docs/issues/10126 from @jaymin93

Hi we need reading mode compatible in windows 10 mobile edge browser while reading many docs on edge I found some time I can use reading mode and some time not eg currently I can not switch to reading mode as it is disable it is the not this topic related issue feel free to move to right place thanks looking forward

[2019-01-28 22:40] mairaw commented on #1091
I've managed to repro this issue on a desktop version of Edge as well:
![image](https://user-images.githubusercontent.com/12971179/51871186-89cbf100-230a-11e9-889c-8cae5f7a0655.png)

Not exactly sure how reading mode works and whether we disable it by design.

[2019-01-28 22:44] mairaw commented on #1070
I think there's a new version of the content since then and your issue seems to be resolved:
![image](https://user-images.githubusercontent.com/12971179/51871411-255d6180-230b-11e9-8fb4-2c589a166392.png)

[2019-01-29 05:03] guardrex opened #1092 "Tell readers that the Content Feedback form opens a public GH issue"
Original GitHub issue [aspnet/Docs \#10355](https://github.com/aspnet/Docs/issues/10355#issuecomment-458401320) from @malachib

The text above and below the form is ...

I recommend adding text to indicate that the form opens an issue on the public GitHub docs repo.

[2019-01-29 05:52] jpozzoli opened #1093 "404 when looking for Supervision reports"
404 at this location: https://docs.microsoft.com/en-us/office365/securitycompliance/supervision-reports

[2019-01-29 06:14] aleaksah commented on #1079
Yes, duplicate. But still unfixed.

[2019-01-29 07:22] thazanm opened #1094 "Variable scope is limited or not available"
Lesson 2-3: Modify the Flat File connection manager

Configure the Flat File connection manager to use a variable

5. In the Expression Builder dialog, expand the Variables node.
6. Drag the variable User::varFileName into the Expression box.

The variable declared/created in [Foreach File in Folder]
Variable mapping -> User::varFileName
is not visible in (In the Connection Managers pane, right-cl

[2019-01-29 11:18] g0pinath commented on #956
https://docs.microsoft.com/en-us/azure/templates/microsoft.web/2018-02-01/hostingenvironments This link doesnt have space to comment or ask questions, can you please check this?

There are no examples and explanations for example,

sslCertKeyVaultId | string | No | Key Vault ID for ILB App Service Environment default SSL certificate

I ended up setting up a default ssl for ASE using the below code

[2019-01-29 17:08] aeikum opened #1095 "Return value docs are missing for ISequentialStream::Read"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**. <-- There isn't a comment section?

**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/api/objidl/nf-objidl-isequentialstream-read

**Problem:**
Return value docs are missing. They read "Return Value This method can return one of thes

[2019-01-29 17:12] aeikum opened #1096 "xaudio2 parameter documentation parsed wrong"
**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/api/xaudio2/nf-xaudio2-ixaudio2-createsourcevoice

**Problem:**
The parameters specify default arguments, but the doc parser parses those as parameter names. See last couple params in linked docs.

[2019-01-29 19:26] pcgeekus opened #1097 "Out of date page"
On https://docs.microsoft.com/en-us/power-bi/guided-learning/publishingandsharing?tutorial-step=1#step-0
It still refers to Content Packs when they are now called Power BI Apps or Application Workspaces.

Jon

[2019-01-29 20:21] JasonCard commented on #1085
Hi @occurrent,

This issue is now fixed for all languages.
Thank you again for your feedback.

Kind regards,
Microsoft DOCS International Team

[2019-01-29 20:21] #1085 closed

[2019-01-30 01:11] vigarnyalvarez opened #1098 "**Unable to Download SQL Server Management Studio 17 from the Doc**"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
**https://docs.microsoft.com/en-us/sql/ssms/download-sql-server-management-studio-ssms?view=sql-server-2017#ssms-180-preview-6**

**https://download.microsoft.com/download/D/D/4/DD495084-ADA7-4827-ADD3-FC566EC05B90/SSMS-Setup-ENU.e

[2019-01-30 01:21] Gamecock commented on #1014
I am seeing the similar issue:
https://techprofile.microsoft.com/en-us/mikefinch87

When I click on signin it takes me to register:
https://techprofile.microsoft.com/en-US/register?replyUrl=https://techprofile.microsoft.com/en-us/mikefinch87&
I can make this a separate issue if you want.

Desktop (please complete the following information):

OS: MacOs 10.12.6
Browser Chrome
Version 71.0.3578.98 (O

[2019-01-30 01:39] Gamecock commented on #1044
I am seeing the similar issue:
https://techprofile.microsoft.com/en-us/mikefinch87

When I click on signin it takes me to register:
https://techprofile.microsoft.com/en-US/register?replyUrl=https://techprofile.microsoft.com/en-us/mikefinch87&
I then get:
![image](https://user-images.githubusercontent.com/5841226/51951942-7a30d300-2404-11e9-896c-8d70b33e9a39.png)

I can make this a separate issue i

[2019-01-30 13:33] JenniferSorensen opened #1099 "Bitmap RLE8 compression: Error in example"
**Link to article:**
- https://docs.microsoft.com/de-de/windows/desktop/gdi/bitmap-compression

**Overview:**
- In Bitmap BI_RLE8 compression, the article correctly states, that "In absolute mode, each run must be aligned on a word boundary."

- An correct example would be: [00 04 45 56 67 78] decompresses to "45 56 67 78". In this case the absolute mode run is 6 bytes long (and is aligned on word

[2019-01-30 18:12] sptramer opened #1100 "[error message feedback] provide feedback for InvalidFileLink"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Problem:**

This error is incorrect, the file which includes `includes/dns-powershell-setup-include.md` is correctly rendered: https://review.docs.microsoft.com/en-us/azure/dns/private-dns-getstarted-powershell?branch=pr-en-us-64565

This needs to be

[2019-01-30 18:43] dendeli-msft commented on #1100
@cillroy @herohua can you please take a look at this? Seems like a build issue.

[2019-01-30 18:46] dendeli-msft commented on #1094
@thazanm - can you please comment what specific article has the error you have outlined?

[2019-01-30 18:51] dendeli-msft commented on #1090
@lubainaz can you please comment with the link to the document where incorrect API documentation is presented?

[2019-01-30 18:52] dendeli-msft commented on #1089
Duplicate of #1090

[2019-01-30 18:52] #1089 closed

[2019-01-30 18:56] dendeli-msft commented on #1081
@486DX50 can you please let us know where you are searching for `azure-docs`?

[2019-01-30 18:59] dendeli-msft commented on #1080
@yunyunyunyun can you please route this?

[2019-01-30 19:00] dendeli-msft commented on #1079
Duplicate of #853

[2019-01-30 19:00] #1079 closed

[2019-01-30 19:00] dendeli-msft commented on #1078
This has been addressed, thank you for your feedback!

[2019-01-30 19:00] #1078 closed

[2019-01-30 19:03] dendeli-msft commented on #1076
@Siby22071989 can you confirm that the issue is still present? Are you selecting the subscription from the prompted dropdown?

[2019-01-30 19:06] dendeli-msft commented on #1072
@yuanName closing this issue because it is not related to docs.microsoft.com. If you feel like there is something wrong with our documentation or experiences, please feel free to open a new issue and include additional details, such as the URL of the document.

[2019-01-30 19:06] #1072 closed

[2019-01-30 19:07] dendeli-msft commented on #1070
Confirming that this should be resolved.

[2019-01-30 19:07] #1070 closed

[2019-01-30 19:07] MightyPen commented on #1083
@MikeRayMSFT Mike Ray owns this article (see metadata ms.author, and author = mikeraymsft.)

[2019-01-30 19:10] dendeli-msft commented on #1066
@krisrajz can you please include links to articles where links are broken?

[2019-01-30 19:15] dendeli-msft commented on #1057
@MarcLaf can you please let us know in what article was this link referenced?

[2019-01-30 19:17] LulwahAlshuqair opened #1101 "[Question] Facing problems with cognitive text to speech connection"
Hi, i'm testing a code i found in GitHub to test the text-to-speech. But i think there's a problem with my connection or something else :( there is no compilation errors but there is no sound output either so something must be wrong.

This is the repository of the code: https://github.com/Azure-Samples/Cognitive-Speech-TTS
i am using the Android version.

Any help is very much appreciated. Thank y

[2019-01-30 19:51] Siby22071989 commented on #1076
This is resolved

On Thu, Jan 31, 2019, 00:33 Den (Microsoft) <notifications@github.com wrote:

[2019-01-30 19:55] meganbradley commented on #1087
@v-caxian @TinaLiuGirl please take a look. Also filed internally as bug 63931.

[2019-01-30 20:52] spelluru commented on #1068
Fixed now.

#please-close

[2019-01-30 21:52] Rick-Anderson commented on #1060
What's the URL for that page?

[2019-01-30 21:53] Rick-Anderson commented on #1060
https://docs.microsoft.com/en-us/aspnet/index?view=aspnetcore-2.2#pivot=core&panel=core_tutorials

[2019-01-30 23:22] sesoccer911 commented on #1014
I hate to be a bother but it has been 20+ days. Is there a more appropriate place that I should be looking for assistance with my issue?

[2019-01-31 00:10] Rick-Anderson commented on #1060
This if fixed. You can close the issue.

@mca15manish
Thanks for letting us know about the problem.

[2019-01-31 02:01] dendeli-msft commented on #1053
@jvinhit can you please add more information about the pages where this issue is occurring?

[2019-01-31 02:42] 486DX50 commented on #1081
https://github.com/search?q=org%3AMicrosoftDocs+azure-docs

[2019-01-31 05:30] jaymin93 commented on #1091
Okay , so I will be awaiting for the enhancement, good to know you guys really hear the feedback and takes the action I have few more issues with the docs I will open issue for the same , as well appreciate your teams work that’s docs are really great and helpful

[2019-01-31 15:38] owingruters opened #1102 "Outdated .net core 3"
https://docs.microsoft.com/en-us/dotnet/core/whats-new/ this page does not have  description for .Net core 3 Preview 2 yet)

Also it would be good to add the expected releasedate for RTM version

Regards

[2019-01-31 15:43] hypercube33 opened #1103 "SCCM WMI - EvaluationState"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/previous-versions/system-center/developer/jj902881(v=cmsdk.12)

**Problem:**
What's wrong with the article?
The WMI for EvaluationState appears to be correct for everything but appears to be complet

[2019-01-31 17:14] MarcLaf commented on #1057
I honestly don't remember. I feel like it was from adding an Azure Enterprise Application and a more info link. I wasn't aware that was required because it's not the link text that's wrong it's the expanded URL text that needs fixing.

[2019-01-31 18:57] UintraContact commented on #1044
have the same issue! any new here? really annoying issue, cannot started with learning and certification here :(

[2019-01-31 20:43] kyleswinney opened #1104 "Missing service fabric video from MVA"
This video that used to be on MVA isn't found on Lean.

Team in Microsoft, including the Service Fabric team, Azure SRE, Azure PIE, use this video to train new engineers. It's been retired from MVA but isn't found on Learn. We need it urgently.

https://mva.microsoft.com/en-us/training-courses/building-microservices-applications-on-azure-service-fabric-16747

Kyle Swinney
kswinney@microsoft.com

[2019-02-01 02:59] shirgoldbird commented on #1059
@SpareNichols Thanks for reporting this bug, and sorry you ran into it! I've passed this along to our frontend team to investigate.

[2019-02-01 16:51] SlyEcho commented on #842
Yes, they are working now.

[2019-02-01 16:51] #842 closed

[2019-02-01 20:16] saldana commented on #1014
Sorry @sesoccer911, it seems that GH notifications were mutes.

@Sampy can you help troubleshooting this issue? It seems that @sesoccer911 has tried everything.

[2019-02-01 20:22] saldana commented on #891
@yunyunyunyun this is on your turf.

[2019-02-01 20:35] saldana commented on #992
Checking internally on our plans.

[2019-02-01 20:36] saldana commented on #1007
Checking internally. We will be back with an answer.

[2019-02-01 20:38] saldana commented on #1015
@hking19 this is a known issue when the user might have multiple Microsoft accounts and have used one to sign in MS Learn. There are two possible solutions until we get this fixed:

1. Sign off from your other account first in the other Microsoft Properties that might have, such as Bing/Cortana.
2. Use an InPrivate/Incognito window for MS Learn.

We know this is an inconvenience and not the ideal

[2019-02-01 20:42] saldana commented on #998
@Sampy this seems the same than https://github.com/MicrosoftDocs/feedback/issues/1014, when the user changes the e-mail address after creating a tech profile, they cannot sign in into MS Learn. Is this a bug in our system?

[2019-02-01 22:09] kennethhadley opened #1105 "Bad Download Link for article"
Article:
https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2008-R2-and-2008/ee431701%28v%3dws.10%29

Problem:
Download link to guide and sample (http://go.microsoft.com/fwlink/?linkid=160558) leads to a "We're sorry, this download is no longer available" page.

[2019-02-01 23:03] saldana commented on #901
The two systems are not talking to each other right now. We are looking at that, but we do not have a firm ETA yet. I will keep this issue opened until then.

[2019-02-01 23:05] saldana commented on #889
Tech Profile is not currently linked to any other property beyond MS Learn. We will look at adding a message in registration and edit profile page while we work on the long-term solution. Thanks all for the suggestions. I will keep this issue opened for now.

[2019-02-02 02:12] imba-tjd opened #1106 "win10 seems support booting from 32 bit uefi"
**Link to article:**
https://docs.microsoft.com/en-us/windows-hardware/manufacture/desktop/windows-and-gpt-faq#windows-disk-support

**Problem:**
In `Can Windows Vista, Windows Server 2008, and later read, write, and boot from GPT disks?`, it says `Booting is only supported for 64-bit editions on UEFI-based systems.`

But some win8 and win10 seem support booting from 32 bit uefi. This sentence mig

[2019-02-02 03:36] stevewhims commented on #737
Hi, @jasonoverland, sorry about the delay here, I just noticed this issue. I've located the images and restored them to the master branch of the repo. However, it might take a few days for them to appear on the live site, so I'll monitor them until they're published, and then I'll report back here. Thanks for filing this issue! ~Steve

[2019-02-02 05:32] chanmmn opened #1107 "Is there a best practice for SSIS in docs.com things like when to use derive column vs script component transformation for example?"
**Is your feature request related to a problem? Please describe.**
No, it is a best practices.

**Describe the solution you'd like**
Is there a best practice for SSIS in docs.com things like when to use derive column vs script component transformation for example?
Should I raise this under content issue.

**Describe alternatives you've considered**
No alternative.

**Additional context**
Add it so

[2019-02-02 09:28] schittli opened #1108 "Is it really possible that M$ don't know how to use pipes (StdIn, etc)? The proposed Code most probably creates Deadlocks :-("
**Link to article:**
[Creating a Child Process with Redirected Input and Output](https://docs.microsoft.com/en-us/windows/desktop/ProcThread/creating-a-child-process-with-redirected-input-and-output)

**Problem:**
In this Article, M$$ provides a Code example which most likely creates deadlocks in real-world examples.

The good thing is, that this Article can still be used as a typical bad example

[2019-02-02 15:14] nschonni commented on #1087
It's happening again on https://github.com/MicrosoftDocs/azure-docs/pull/24051

[2019-02-02 19:16] WilliamBerryiii opened #1109 "No-IP Migration for Exchange Online Screenshots"
The screen shots [here](https://docs.microsoft.com/en-us/office365/admin/dns/change-nameservers-at-noip?view=o365-worldwide) are out of date given the UI update from No-IP a while ago. Content is still mostly the same except where you find the custom name servers.

[2019-02-02 19:18] UintraContact opened #1110 "CRITICAL - not possible to login or register to pass certifications"
Hi, i am really stuck here https://techprofile.microsoft.com/en-US/register and cant login with my existing account, neither register new. it always says, "You are already registered." regardless whether i try to login or register!

[2019-02-04 07:17] thazanm commented on #1094
There is no error the variable is not at all displayed under is not visible in (In the Connection Managers pane, right-click Sample Flat File Source Data, and select Properties.) Flat File Connection Manager.

[2019-02-04 15:06] marpar01 opened #1111 "Limitation on the REST API call"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/rest/api/dns/zones/list

**Problem:**
What's wrong with the article?

There is a 1000 limit that I would just like to add to the article.  When using the "try it" functionality, we see that when att

[2019-02-04 16:24] NN--- opened #1112 "SetProcessMitigationPolicy issue"
Link goes to nowhere

If the MitigationPolicy parameter is ProcessSignaturePolicy, this parameter points to a PROCESS_MITIGATION_BINARY_SIGNATURE_POLICY structure that specifies the signature policy flags.

https://msdn.microsoft.com/C5B414D0-C209-4669-9E02-D7E453E242B1

[2019-02-04 17:45] Sampy commented on #935
My team is taking a look now

[2019-02-04 17:48] Sampy commented on #1014
This is an issue we are aware of (users changing the email used to sign in to their MSA not being able to sign in) and the good news is we have a fix in the works that we are hoping to roll out this week or next.

[2019-02-04 17:48] Sampy commented on #998
We are working on a fix for this issue now and hope to have it out this week or next.

[2019-02-04 19:35] Heimidall opened #1113 "Bad url to request All alerts."
**Link to article: https://docs.microsoft.com/en-us/rest/api/monitor/alertsmanagement/alerts/getall**

**Problem: The GET request doesn't work**
the correct url to get all alerts is:
https://management.azure.com/subscriptions/{subscriptionId}/providers/Microsoft.AlertsManagement/alerts?api-version=2018-05-05

[2019-02-04 20:16] Sam-digitalife opened #1114 "https://docs.microsoft.com/en-us/learn/ not able to log in"
Each time I'm going on https://docs.microsoft.com/en-us/learn/ and try to sign in with my usual credentials, I'm redirected to the page to register a profile (https://techprofile.microsoft.com/en-us/register?replyUrl=https://docs.microsoft.com/en-us/learn/&).
I have an existing profile, I tried to sign in with different browser (Edge or Firefox), same issue. Thx for the support

samuel

[2019-02-04 20:18] UintraContact opened #1115 "CRITICAL - not possible to login or register to pass certifications"
Hi, i am really stuck here https://techprofile.microsoft.com/en-US/register and cant login with my existing account, neither register new. it always says, "You are already registered." regardless whether i try to login or register!

[2019-02-04 21:53] rama-dasari commented on #1115
Me Too

[2019-02-04 22:13] cconrado opened #1116 "RSS Feeds for every docs page"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

We need an RSS feed for every page because it allows us to monitor changes to the documentation and get updates as things change.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Enable an

[2019-02-04 23:40] dblohm7 opened #1117 "UpdateProcThreadAttribute: Supported windows versions are incorrect for process mitigation policies"
**Describe the bug**
There are numerous flags that claim to be supported starting in Windows 8, but in fact have much newer version requirements.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/windows/desktop/api/processthreadsapi/nf-processthreadsapi-updateprocthreadattribute
2. Scroll down to "Remarks"
3. Examine the various flags that may be used fo

[2019-02-04 23:47] dblohm7 commented on #1117
(Correction: It's not UpdateProcThreadAttribute that fails when using an unsupported mitigation policy; the subsequent CreateProcess call using that attribute list is what fails)

[2019-02-05 07:01] mairaw commented on #1102
Thanks for your feedback @owingruters. I've opened a PR to fix the link description and other little things: https://github.com/dotnet/docs/pull/10317

The content inside https://docs.microsoft.com/en-us/dotnet/core/whats-new/dotnet-core-3-0 is already for preview 2.

Schedule information is always posted on the [roadmap](https://github.com/dotnet/core/blob/master/roadmap.md) page on the dotnet/co

[2019-02-05 07:38] lord-saumagen opened #1118 "Error in documentation for Powershell.AddScript"
Dear Ladies and Gentlemen,

it came to my attention that the documentation for the "PowerShell.AddScript" function is erroneous.
The documentation appears to be a copy of the "PowerShell.AddCommand" documentation. See the image below.

![image](https://user-images.githubusercontent.com/9468599/52258924-c2765680-2918-11e9-987f-0b98bac79e09.png)

Kind regards, Lord Saumagen.

[2019-02-05 08:23] mairaw opened #1119 "GUIDs are a mess"
Original GitHub issue https://github.com/dotnet/docs/issues/9758 from @Narvey

There is a serious mess going on with your documentation IDs. You generate way too many GUIDs per doc, and none of them line up.

For instance (using [this example doc](https://docs.microsoft.com/en-us/dotnet/standard/base-types/regular-expression-language-quick-reference)), when using the link to leave feedback [direct

[2019-02-05 13:31] wstaelens opened #1120 "lowercase / uppercase issue for operation"
**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/gdi/binary-raster-operations

**Problem:**
Change **Dpan** to **DPan**.

The column header D**p**an should be D**P**an.

![image](https://user-images.githubusercontent.com/7447285/52276402-65979200-2952-11e9-9b23-8fb95afea90a.png)

[2019-02-05 18:06] AndrewCook commented on #935
@alexclowe I researched this issue and it appears to be, that your points are showing a decrease each time you achieve a higher level. However, on your profile page when you go from level 8 to level 9 it will only show the points needed to complete the level and not your overall points. I'm hoping you can either confirm my hypothesis or provide some more information, so I may research this further

[2019-02-05 18:42] mairaw opened #1121 "How to differentiate static methods from instance methods"
Original GitHub issue https://github.com/dotnet/dotnet-api-docs/issues/1787 from @slear

It seems that we have lost this information in the new docs. Process.Start(StartInfo) is static but it is really hard to understand this fact from the current documentation. In the previous msdn we had that "nice" icon.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2019-02-05 18:49] mairaw commented on #1121
And this is what we had on MSDN before:

![image](https://user-images.githubusercontent.com/12971179/52296575-9a482100-2933-11e9-96cf-a61bc34a3df3.png)

vs. docs

![image](https://user-images.githubusercontent.com/12971179/52296603-a92ed380-2933-11e9-95fa-ab7c7818aa00.png)

[2019-02-05 19:21] williamBoily commented on #450
This is an old question but I am facing the same issue. I have a free trial subscription and wanted to test some requests with the tag filtering but it just does not work.

I have tried the suggested solutions above without successful results. Other `$filer` that I have tested works fine, only the tags seems problematic.

Is this issue is known or is it resolved somewhere else ?

[2019-02-05 19:55] ms-premp commented on #450
@EUGinsane @williamBoily @bgsky I see our filtering on Tags is not generating right filter parameters and so powershell will get filtered data.
We will work on a fix.

[2019-02-05 20:25] UintraContact opened #1122 "CRITICAL - not possible to login or register to learn and pass certifications"
Hi, i am really stuck here https://techprofile.microsoft.com/en-US/register and cant login with my existing account, neither register new. it always says, "You are already registered." regardless whether i try to login or register!

this is already 3 times i have duplicated the same critical issue + sent 4 emails to learn-microsoft support contact. just curious, what should i do more. to be able t

[2019-02-05 20:39] stevewhims commented on #737
UPDATE: the images are now live, so this issue is ready to be closed. Again, thanks for identifying this issue, @jasonoverland. ~Steve

[2019-02-05 20:49] #1029 closed

[2019-02-06 00:40] stevewhims commented on #997
Hi, @pkristof, the topic is actually correct. If you take x^-2 and apply to that what it says in the topic (which is 1//x^-y, then you get 1/x^-(-2)), or 1/x^2. Which is correct. x is x and y is -2. So, minus -2 is 2. If I changed the topic as suggested, then the outcome would be 1/x^-2, which is incorrect.

This issue is ready to close, if you agree.

Thanks! ~Steve

[2019-02-06 00:48] MashaMSFT commented on #1098
Hi @vigarnyalvarez , since we haven't heard back from you, we will assume your Issue has been resolved. As such, I will proceed with closing out this Git Issue. However, please feel free to reach out to us if you need anything further. Thanks again for contacting Microsoft! #please-close

[2019-02-06 01:18] rpentyBI commented on #828
Hey, is there a fix for this
whenever i try to create a sandbox i get this error "Unable to provision Azure resources"
![image](https://user-images.githubusercontent.com/47373470/52315024-bde28a00-297a-11e9-8088-0e781b23f72a.png)

[2019-02-06 01:45] #997 closed

[2019-02-06 01:48] vigarnyalvarez commented on #1098
Hi!

Thanks for contacting back. I determined that it was a firewall issue with
the network that I was connected to at that time. Please, close the ticket.

Regards,
Vigarny A.

El mar., 5 feb. 2019 a las 18:48, Masha at MSFT (<notifications@github.com>)
escribió:

[2019-02-06 03:07] Mandated opened #1123 "Unsure if reading correct documentation"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/WinProg/using-the-windows-headers

**Problem:**
Nothing is really wrong, and I apologize if this is not the correct forum for asking this question.  I have been learning C# for a whi

[2019-02-06 05:57] dotMorten commented on #581
Yes ! Soooo much this. While I appreciate documenting all members, you're quite often interested just in what a subclass adds, and there are some classes that makes it near impossible.

As one example, take a look at the following class which doesn't actually add anything over what the base class provides, but that's basically impossible to determine, because the list is so incredibly long:
https:

[2019-02-06 11:14] VitaIT opened #1124 "https://docs.microsoft.com/windows-server generating "too many redirects""
Hi,
just wanted to let you know that https://docs.microsoft.com/windows-server/ (and other sites below docs.microsoft.com) currently produces INET_E_REDIRECT_FAILED (IE11) / ERR_TOO_MANY_REDIRECTS (Chrome 72). Deleting cookies doesn't solve this so probably there's something wrong on the server-side.
Regards
Vita

[2019-02-06 16:17] pererap01 opened #1125 "when i attempt to send e mail to AGHeaderRewriteHelp@microsoft.com i receive error attached"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-02-06 16:50] ibakirov commented on #828
@rpentyBI there might some problems on Azure site, please try to check again. Last night got some problems too and they gone themselves.

[2019-02-06 16:59] ibakirov commented on #1122
Try to log out. Also check by starting new Incognito window in your browser and log in.

[2019-02-06 18:22] wesinator opened #1126 ""Leave feedback directly on GitHub" should open a new tab"
**Describe the bug**
Clicking Leave feedback directly on GitHub link opens over the document page

I would submit a PR to fix this if I could find the code for the feedback control section on GitHub.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Feedback section
2. Click on down arrow next to `Sign in to give documentation feedback`
3. Click `directly on GitHub`

**Expected behavior*

[2019-02-06 18:35] MashaMSFT commented on #1098
Hi @vigarnyalvarez , awesome, I'm thrilled to hear you were able to get SSMS downloaded :) thanks for letting us know, and thanks for reaching out to us!

[2019-02-06 20:05] UintraContact commented on #1122
hi @ibakirov , thanks for tips, unfortunately, same issue here in private / incognito window chrome / mozilla borwsers https://www.screencast.com/t/9IC6a45h

is that working for you?

[2019-02-07 00:33] mairaw commented on #1023
@sethmanheim you seem to be listed as the owner of that page

[2019-02-07 00:34] sethmanheim commented on #1023
@mairaw No, definitely not. I haven't worked on IoT in a while -- you might check with Phil Meadows.

[2019-02-07 00:35] mairaw commented on #928
This is a duplicate of #637

[2019-02-07 00:45] mairaw commented on #1023
@philmea do you know?

[2019-02-07 02:34] philmea commented on #1023
Thanks! I will verify the issue and escalate for a resolution as appropriate.

[2019-02-07 05:27] ShantanuJamble opened #1127 "Webpage content overlap for DirectX API documentation site"
**Describe the bug**
When I use a half window, the filter option for library methods overlaps the content.

**To Reproduce**
Steps to reproduce the behavior:
1. open 'https://docs.microsoft.com/en-us/windows/desktop/dxmath/xmvector-data-type'
2. Move to the half screen as shown in below ss
3. You should be able to see that the search and filter block overlaps the main content.

**Expected behavior

[2019-02-07 09:24] ibakirov commented on #1122
The register form has some errors. Whatever you name give it outputs: Something get wrong as in picture  below

![screenshot_2019-02-07 register technical profile](https://user-images.githubusercontent.com/7983476/52401482-f05fc480-2aeb-11e9-9536-f46baf9d73dc.png)

As you got message that Already registered, you may freely use Sign In button above to log in that account. If it is not registered, a

[2019-02-07 09:26] ibakirov commented on #1122
@UintraContact for my account profile: ibakirov works without errors. For your: https://techprofile.microsoft.com/en-us/againandagainvadym goes to 404 error

[2019-02-07 09:29] krisrajz opened #1128 "Unable to continue after answering"
I had 4 questions to answer, answered 1 and clicked Check Your Answer and got the message : You must answer all questions before checking your work.

Then I answered all the 4 questions and clicked Check Your Answer button still getting the same message: You must answer all questions before checking your work.

Hope this simple issue can be fixed ASAP.

[2019-02-07 09:31] krisrajz commented on #1066
https://play.google.com/store/apps/details?id=com.msazurevidyapeeth.msazurevidyapeeth&hl=en

[2019-02-07 20:33] dblohm7 opened #1129 "Docs for VirtualAlloc2 show incorrect Library and DLL information"
**Describe the bug**
The Library and DLL information for VirtualAlloc2 show kernel32.lib and kernel32.dll, respectively, but as of SDK 10.0.17763.0, neither of these appear to be correct.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/windows/desktop/api/memoryapi/nf-memoryapi-virtualalloc2#requirements
2. See the Library and DLL entries in the table

[2019-02-07 22:08] ThubLives opened #1130 "Formatting problem due to lots of special characters in the content"
**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/Msi/registry-table

**Problem:**
The first bullet point under the section describing the Value column has strange formatting and probably doesn't show the proper syntax as a result.

[2019-02-08 01:09] Powerhelmsman commented on #1130
@ginami Can you take a look at this feedback?

[2019-02-08 03:52] SatoruTaniya commented on #897
This is Microsoft Azure support Japan. Since it will be a question from the customer, thank you for your answer.

[2019-02-08 07:09] sandusun commented on #1066
This issue exists now also, please resolve it at the earliest.
Without having an Android App, it is difficult to view the webinar sessions. Hope it will be taken care soon.

[2019-02-08 11:42] LazzeZee opened #1131 "Typo"
**Link to article:**
https://docs.microsoft.com/en-us/sql/t-sql/data-types/time-transact-sql?view=sql-server-2017

**Problem:**
Minor typo but it made me stop and wonder:
"hh is two digits, ranging from 0 to 14, that represent the number of hours in the time zone offset."

[2019-02-08 15:03] kchungmsft opened #1132 ".NET API Browser for Azure DevOps Services .NET SDK missing ReleaseManagement package"
I came across the .NET API Browser (https://docs.microsoft.com/en-us/dotnet/api/index?view=azure-devops-dotnet) from the list of Azure DevOps client libraries. The .NET API Browser is completely missing documentation for the Microsoft.VisualStudio.Services.ReleaseManagement.WebApi namespace.

[2019-02-08 15:06] bilbothebaggins commented on #836
Tables are still broken as of 2019-Feb-08 : https://docs.microsoft.com/en-us/windows/desktop/WinSock/using-so-reuseaddr-and-so-exclusiveaddruse

[2019-02-08 17:07] ThubLives commented on #1130
There is at least one other page with very similar issues related to formatting and possibly missing content (which is hard to tell without access to the page source).  Should I submit separate issues for other pages or add the URL to those pages to this one?

[2019-02-08 20:59] ginami commented on #1130
Hi @ThubLives -- thanks so much for letting us know! Go ahead and add the other URLs here and I'll make sure they all get to an author to be fixed.

[2019-02-08 21:01] ginami commented on #1099
HI @JenniferSorensen -- thank you so much for bringing this to our attention! We'll work on getting the example updated.

[2019-02-08 21:02] ginami commented on #1096
Hi @aeikum -- thank you for letting us know! We'll work on getting the doc fixed.

[2019-02-08 21:03] ginami commented on #1095
Hi @aeikum -- thanks for bringing this to our attention. We'll work on updating the doc.

[2019-02-08 21:03] ginami commented on #1086
Hi @ArmsOfSorrow -- thank you for letting us know! We'll work on getting the links updated.

[2019-02-08 21:04] ginami commented on #1077
Thank you @rackley096794 for this feedback -- we'll work on getting the page updated!

[2019-02-08 21:05] ginami commented on #1073
Hi @Vizor --thank you for your feedback! We'll work on clarifying the information in this doc.

[2019-02-08 21:06] ginami commented on #1064
Hi @Crypt32 -- thank you for bringing this to our attention! We'll work on improving these docs.

[2019-02-08 21:07] ginami commented on #1056
Hi @brainfrog -- thank you so much for letting us know! We'll get this link updated.

[2019-02-08 22:45] yangbowen opened #1133 "Formal parameter list is wrong in documentation of InitOnceExecuteOnce."
Link to article:
https://docs.microsoft.com/en-us/windows/desktop/api/synchapi/nf-synchapi-initonceexecuteonce

Problem:
The formal parameter list is wrong. The article showed:
`BOOL InitOnceExecuteOnce(
  PINIT_ONCE    InitOnce,
  PINIT_ONCE_FN InitFn,
  PVOID         Context,
  LPVOID        *Parameter
);`
But the syncapi.h header file in Windows SDK showed:
`WINBASEAPI
BOOL
WINAPI
InitOnceExecu

[2019-02-08 23:02] BissetJ opened #1134 "Malformed table on DWMWINDOWATTRIBUTE page"
**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/api/dwmapi/ne-dwmapi-dwmwindowattribute

Malformed table under the DWMWA_CLOAKED item.  See empty box with exposed markup ( `<table class="clsStd">` ).

[2019-02-08 23:25] BissetJ commented on #1035
Note that these additional pages have the same issue where -1 has been turned into 1.

https://docs.microsoft.com/en-us/windows/desktop/controls/cb-getitemheight
https://docs.microsoft.com/en-us/windows/desktop/controls/cb-insertstring
https://docs.microsoft.com/en-us/windows/desktop/controls/cb-selectstring
https://docs.microsoft.com/en-us/windows/desktop/controls/cb-setcursel
https://docs.micros

[2019-02-08 23:28] BissetJ commented on #1035
Similar to #853

[2019-02-09 14:21] tomkirish commented on #1044
I am currently experiencing this issue as well. I cannot sign into my account regardless of browser and/or machine. I changed some of my settings in my Microsoft account and constantly get this same behavior.

[2019-02-09 22:22] alex-jitbit opened #1135 "dark theme - the top bar is still white"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to any page, like https://docs.microsoft.com/en-us/iis/extensions/url-rewrite-module/url-rewrite-module-configuration-reference
2. Click on 'dark theme'
4. See the top bar that stays white

[2019-02-09 22:26] HeavyMetalCookies opened #1136 "Base Priority table broken formatting"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/procthread/scheduling-priorities

**Problem:**
The table that should exist under the "Base Priority" section does not display as a table.
Tested in: Chrome, Edge, IE.

[2019-02-10 11:16] sophiexu opened #1137 "a typo"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/power-bi/guided-learning/visualizations?tutorial-step=16

**Problem:**
a typo: "You can change how **Powwer** BI summarizes the data...."  right before the second screenshot of the bottom

[2019-02-10 13:40] shimonschreiber opened #1138 "boolean should probably be quoted"
In this page - https://docs.microsoft.com/en-us/azure/templates/microsoft.network/2018-08-01/networkinterfaces - there are several places where the template has the word boolean, either you have expanded the JSON language, or the word should be in quotes ("boolean").

[2019-02-10 14:11] KSWadwicz opened #1139 "Missing training unit from the site - Microsoft Learn"
Missing training unit - "Modernize your workplace with Microsoft 365 and Surface for Business". My profile icons are displayed in the profile without titles about the part of the course modules passing. Most of the modules are not on the site and I cannot find them through a search. Only one of them is available - "Enabling digital transformation" and it is now part of another unit of study - "Lea

[2019-02-10 14:23] UintraContact opened #1140 "CRITICAL - not possible to login or register to learn and pass certifications"
Hi, i am really stuck here https://techprofile.microsoft.com/en-US/register and cant login with my existing account, neither register new. it always says, "You are already registered." regardless whether i try to login or register!

this is already 3 times i have duplicated the same critical issue + sent 4 emails to learn-microsoft support contact. just curious, what should i do more. to be able t

[2019-02-10 15:37] peterremote1980 opened #1141 "Is Microsoft docs engine open sourced"
Hi All
   Is Microsoft docs engine open sourced. If yes, which article talk about embed it in a website? If no, how come https://stackblitz.com/docs can embed microsoft docs engine into their web?
thanks
Peter

[2019-02-10 15:49] AbdAlghaniAlbiek opened #1142 "We need collections for your content like (Azure Storage, Azure Computing, Azure Functions ...)"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-02-10 17:41] Crypt32 commented on #1064
Another one: https://docs.microsoft.com/en-us/windows/desktop/api/certcli/nf-certcli-icertrequest2-getcapropertydisplayname

The HTML is not properly escaped and part of content is in bold because closing `<b>` tag is escaped as literal, not HTML tag.

[2019-02-10 22:33] BissetJ opened #1143 "Strange base_class member in derived struct types (e.g. MONITORINFOEXW)"
**Link to article:**
I first noticed this here:
https://docs.microsoft.com/en-us/windows/desktop/api/winuser/ns-winuser-monitorinfoexw

This google search finds many other pages with the same issue:
`site:https://docs.microsoft.com/en-us/windows/desktop/ "base_class" `

**Problem:**
Note the `base_class` member listed at the end of the structure definition.  I'm guessing that wasn't intentional.

[2019-02-11 03:24] BissetJ commented on #853
FYI,  I skimmed the other edit control messages and the these topics have the same -1 issue:
https://docs.microsoft.com/en-us/windows/desktop/controls/em-findtext
https://docs.microsoft.com/en-us/windows/desktop/controls/em-findtextex
https://docs.microsoft.com/en-us/windows/desktop/controls/em-findtextexw
https://docs.microsoft.com/en-us/windows/desktop/controls/em-findtextw
https://docs.microsof

[2019-02-11 03:25] BissetJ commented on #1035
It appears that this issue is widespread (see also #853).  **Rather than waiting for people to find them one at a time, search the original content for this character to find all the places where it will have been lost in translation.**

[2019-02-11 08:27] imeya opened #1144 "where to add the "$filter eq 'xxx' " after I click the "try it" on the page."
on this [link
](https://docs.microsoft.com/en-us/rest/api/resources/resources/listbyresourcegroup), if I click the "Try it" option, then in the new page, where should I input the "$filter eq 'xxx' "?

![rest](https://user-images.githubusercontent.com/25738099/52552074-eaceeb00-2e19-11e9-80a8-1170e29ef68d.JPG)

[2019-02-11 08:35] presleyy commented on #743
We recently did some fixings to the site search crawler and indexer. We believe those changes could benefit this case. I tried searching "Azure Monitor" and got much better results than what shown in the screenshot. @nromyn would you please double check at your end?

[2019-02-11 10:39] robinsjoe opened #1145 "MS Learn Reasignemail"
Hi There,

I'm trying to Reassign/Change the email address used to log in to MS Learn.
I have signed up using my Works office 365 account however if I choose to leave the business I would then loose all of my progression assigned to that account as it would be removed.

There's the option to change my display name or username/URL but I don't see one to change email address. Is there a way or could

[2019-02-11 13:08] nickparlow commented on #828
i get exactly the same problem as @rpentyBI when i sign in with my work account. when i sign in with my personal account everything is fine, i can create a sandbox and a vm.

[2019-02-11 17:04] anapp4that opened #1146 "Clicking "Getting Started" on Xamarin.Forms main page gives a 404 error"
**Link to article:**
https://docs.microsoft.com/en-us/xamarin/xamarin-forms/

**Problem:**
Clicking "Getting Started" on the above link gives me a 404 error.

[2019-02-11 18:00] mairaw commented on #1146
/cc @conceptdev

[2019-02-11 18:19] conceptdev commented on #1146
@anapp4that thanks for letting us know! We recently updated our "Get Started" experience, the correct link is https://docs.microsoft.com/xamarin/get-started/ - I hope you find it useful.

I have just fixed the broken link, which should be published soon.
#please-close

[2019-02-11 18:32] anapp4that commented on #1146
@conceptdev

Thanks for the quick response. I had already found the correct link, but appreciate it.

[2019-02-11 18:32] #1146 closed

[2019-02-11 18:57] Sampy commented on #828
In some cases, Azure Active Directory accounts (what our sites sometimes call "Work/School Accounts") may have problems using the Azure Sandbox. There are a variety of reasons related to security and directory configuration. A personal Microsoft Account should always work.

[2019-02-11 19:01] Sampy commented on #998
We have deployed a change that should fix this issue. It may take some time to roll out to you so try it again and let me know if you are still hitting the problem. If so, there may be another cause we need to look into.

[2019-02-11 19:02] Sampy commented on #1014
We have deployed a change that should fix this issue. It may take some time to roll out to you so try it again and let me know if you are still hitting the problem. If so, there may be another cause we need to look into.

[2019-02-11 19:23] BissetJ opened #1147 "Malformed content for CD3D10_XXX types"
**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/api/d3d10/ns-d3d10-cd3d10_buffer_desc
https://docs.microsoft.com/en-us/windows/desktop/api/d3d10/ns-d3d10-cd3d10_texture1d_desc
https://docs.microsoft.com/en-us/windows/desktop/api/d3d10/ns-d3d10-cd3d10_texture2d_desc
https://docs.microsoft.com/en-us/windows/desktop/api/d3d10/ns-d3d10-cd3d10_texture3d_desc

**Problem:**
The cont

[2019-02-11 19:37] BissetJ opened #1148 "Missing arguments for many callback types (e.g. DLGPROC)"
**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/api/winuser/nc-winuser-dlgproc
https://docs.microsoft.com/en-us/windows/desktop/api/winuser/nc-winuser-graystringproc
https://docs.microsoft.com/en-us/windows/desktop/api/winuser/nc-winuser-monitorenumproc
https://docs.microsoft.com/en-us/windows/desktop/api/winuser/nc-winuser-propenumproca
https://docs.microsoft.com/en-us/windo

[2019-02-11 22:22] mjyeaney opened #1149 "Leverage image sprites for product pivot pages to minimize latency and requests."
**Is your feature request related to a problem? Please describe.**
Loading the product pivot page (https://docs.microsoft.com/en-us/azure/#pivot=products) causes over 240+ individual requests to be made in order to load discrete SVG files.  This is nearly a gaurantee that some number of requests will stall, and is especially noticable if you jump to the "Architecture" tab as these images load last

[2019-02-11 22:45] fldef opened #1150 ".NET API PDFs contain invalid links to "file://...""
**Describe the bug**
On the .NET API pages: The PDF files available through the "Download PDF" link contain invalid links. The links point to "file://..." when they should point to another part of the PDF itself.

**To Reproduce**
Two arbitrary examples:

***System.Drawing***

1. Visit https://docs.microsoft.com/en-us/dotnet/api/system.drawing?view=netframework-4.7.2
2. Click "Download PDF"
3. The

[2019-02-11 23:21] mspncp commented on #690
Hi @ginami, how are you doing? I just checked the table and itis still broken.

[2019-02-11 23:58] SimpleSamples opened #1151 "How to find forrks"
I have begun editing Microsoft documentation but did not finish for various reasons. Now I don't know how to find them.

A clear description of how to find the semi-edited articles (forks) would help. Many of us are unfamiliar with Git but familiar with many Microsoft technologies we want to help improve the documentation for.

The only alternative is to spend months learning Git.

[2019-02-12 01:05] cephalin commented on #897
@panchagnula @yiliaomsft Can you please help here? We have no control over this auto-generated doc

[2019-02-12 01:58] clandrew commented on #1148
+1. I first encountered this with TIMERPROC in the list above

[2019-02-12 03:36] clandrew opened #1152 "Sample code on "Uploading Different Types of Resources" page has incorrect information"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.
I don't see a comment section available for this article.

**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/direct3d12/uploading-resources#upload-different-types-of-resources

**Problem:**
The sample code has
[code]
Instead, it shou

[2019-02-12 03:37] clandrew commented on #1152
Reported on behalf of @Marauder00

[2019-02-12 05:02] panchagnula commented on #897
Navy, I believe there was some change in the API recently where the JSON result does not return value anymore. Can you help with this please?

https://docs.microsoft.com/ja-jp/rest/api/appservice/certificates/list

Thanks

Sisira

[https://docs.microsoft.com/en-us/media/logos/logo-ms-social.png]<https://docs.microsoft.com/ja-jp/rest/api/appservice/certificates/list>

Certificates - List (Azure App

[2019-02-12 05:08] panchagnula commented on #897
@SatoruTaniya what is the api-version the customer is using, the referenced article uses 2016-03-01

[2019-02-12 05:31] SatoruTaniya commented on #897
@panchagnula  Thank you for your response.　The API version customer use is 2018-02-01.In the verification I made, the same phenomenon occurs even with API version 2016-03-01

[2019-02-12 05:47] AndreasManzke commented on #998
Today I tried to login and it's working. Thanks

[2019-02-12 06:55] allsyed opened #1153 "a typo"
There is a typo in this section.
https://docs.microsoft.com/en-us/previous-versions/azure/azure-services/dn641269%28v%3dazure.100%29#configuring-a-domain-in-your-office-365-tenant-for-federation

**may -> mat**

[2019-02-12 07:27] hellosnow commented on #544
@Powerhelmsman @dend please help to triage the issue and find the right assignee in case you miss it 😄

[2019-02-12 07:27] hellosnow commented on #520
@Powerhelmsman @dend please help to triage the issue and find the right assignee in case you miss it 😄

[2019-02-12 07:27] hellosnow commented on #379
@Powerhelmsman @dend please help to triage the issue and find the right assignee in case you miss it 😄

[2019-02-12 07:28] hellosnow commented on #515
@Powerhelmsman @dend please help to triage the issue and find the right assignee in case you miss it 😄

[2019-02-12 09:10] AzureRocks commented on #868
A sign / symbol / mark would also be helpful to see which modules have been completed already.

https://docs.microsoft.com/en-us/learn/browse/

[2019-02-12 12:15] DavidR91 opened #1154 "A number of REST API test pages provide invalid URLs"
**Link to article:**
https://docs.microsoft.com/en-gb/rest/api/monitor/alertsmanagement/alerts/getall

**Problem:**
The URL is stated as `https:///subscriptions/` and does not work in Try it mode - whereas it is presumably supposed to be `https://management.azure.com/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}/providers/Microsoft.AlertsManagement/alerts`

This typo seems t

[2019-02-12 14:45] bynt opened #1155 "Occasionally outdated versions of Security Advisories are provided"
**Describe the bug**
We check the Security Advisory feed

once every 3600s for updates. Since February 4th, ~2130 UTC we occasionally crawl outdated versions of

in this way. Most of the time weg get V3.0 of the advisory, sometimes we get an older version.

**To Reproduce**
Steps to reproduce the behavior:
1. regularly check https://technet.microsoft.com/en-us/security/rss/advisory for advisories

[2019-02-12 14:59] braveld opened #1156 "How to use the Azure portal sandbox"
I don't know how to login in the Azure portal sandbox for the Microsoft learn course. Can anyone help?

[2019-02-12 15:40] shadinamrouti opened #1157 "SEO issue: Some Microsoft Docs articles contain low quality links"
Dear Microsoft Docs managers,

Following the advise of @guardrex in https://github.com/aspnet/Docs/issues/10894, I'm writing to you about an SEO issue.

**The story**
When I started studying your docs, I noticed that this article: https://docs.microsoft.com/en-us/aspnet/core/mvc/overview?view=aspnetcore-2.2 and many others has several links to the same external website which I thought is belonging

[2019-02-12 18:45] Sampy commented on #998
Excellent. Thanks for reporting the issue.

[2019-02-12 22:37] sesoccer911 commented on #1014
Thank you for the update, I can report that the issue has been resolved!
Thanks!

[2019-02-12 22:37] #1014 closed

[2019-02-12 22:53] JasonCard commented on #747
Hi @michalzubkowicz

Regarding the "Read in English" option, feature to make this option stay persistant in new tabs has been implemented. Please give it a try and let me know if the issue is still not resolved.

Kind regards,
Microsoft DOCS International Team

[2019-02-12 22:56] dendeli-msft commented on #928
Closing as duplicate of #637 - good call, @mairaw!

[2019-02-12 22:56] #928 closed

[2019-02-13 04:10] ThomsonPC commented on #1122
I am getting the exact same error. I have attempted numerous Usernames and various browsers. all with same error message

[2019-02-13 04:11] ThomsonPC commented on #1075
I have the exact same issue.

[2019-02-13 06:38] michalzubkowicz commented on #747
@JasonCard works like charm, thank you guys very much!

[2019-02-13 15:28] skosuriAssocia opened #1158 "msbot clone services issue."
msbot clone services --name "CoreBot1" --luisAuthoringKey #Thisishwereyourkeygoes# --code-dir "." --location westus --sdkLanguage "CSharp" --folder deploymentScripts/msbotClone --verbose

With msbot 4.3.2 and later, the only AZ CLI prerequisite is having an AZ CLI version >= 2.0.53. If you have the botservice extension installed as well, please remove this via "az extension remove --name botservic

[2019-02-13 16:43] JasonCard commented on #747
@michalzubkowicz thank you for confirming!

[2019-02-13 18:48] mairaw opened #1159 "Uri is not derived from MarshalByRefObject"
Original GitHub issue https://github.com/dotnet/dotnet-api-docs/issues/1831 from @MarcioAB

Uri is not derived from MarshalByRefObject as indicated by the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 97955623-57f5-f557-7c5a-b5075b17f56e
* Version Independent ID: bd87f79c-646b-41ed-1345-57d2ae7d7ba1
* C

[2019-02-13 18:51] mairaw commented on #1159
Not sure if this a dupe of #616 or not because that one is about the inheritance chain changing from one version to the other.

/cc @dendeli-msft @joelmartinez

[2019-02-13 19:35] zrajnai opened #1160 "Wrong value in example source for shader input-layout"
The second example for CreateInputLayout has a wrong value of 12 for the offset of the TANGENT data.
It should be 24.

https://docs.microsoft.com/en-us/windows/desktop/direct3dgetstarted/work-with-shaders-and-shader-resources

[2019-02-14 01:25] rwil02 opened #1161 "Cannot access Course https://docs.microsoft.com/en-nz/learn/modules/build-web-api-net-core/2-create-web-api"
I have "my" live.com account, **with which I have signed in to Microsoft Learn**.
This account is also linked to the Azure AD of my previous employer.

When I get to module 2 and attempt to "Active Sandbox" then "Start Now", It get the following behaviour:
1. In Edge - an ever growing list of "Loading Sandbox Information" dialogs
2. In Chrome - a redirect to a login page, followed by a demand to c

[2019-02-14 06:40] thazanm commented on #1094
I have provided more detailed steps.

[2019-02-14 07:40] BissetJ commented on #1035
See also #465

[2019-02-14 07:40] BissetJ commented on #853
See also #465

[2019-02-14 07:47] BissetJ commented on #465
See the related issues #853 and #1035 for many more pages with this same flaw.

[2019-02-14 07:49] SatoruTaniya commented on #897
What customer want to know is whether to change the implementation of RestAPI or plan to change the document.

Thank you for your answer.

[2019-02-14 11:49] RushabhK23 opened #1162 "Missing export feature in Data Migration Assistant tool"
![dmaerror](https://user-images.githubusercontent.com/37142569/52784958-bc047f00-307c-11e9-93e0-981b7c354b63.PNG)
I have found that latest version of DMA v4.2 is lacking export feature of report at end. I have installed and run this tool and found missing button of Export report at the end. Can anyone help me to resolve that ?

[2019-02-14 14:10] E14 opened #1163 "Short URLs"
**Is your feature request related to a problem? Please describe.**
Especially when referencing documentation in source-code comments, the excessively long URLs of docs.microsoft.com either break the link (through line-breaks) or the code formatting, and so making it needlessly cumbersome to add or follow references within source-code documentation.

Example:

    https://docs.microsoft.com/en-us/o

[2019-02-14 16:46] AbdAlghaniAlbiek opened #1164 "Can you add section for developing games with UWP tech?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-02-14 20:15] wpercy commented on #1090
At [AdAccounts: Search for Accounts](https://docs.microsoft.com/en-us/linkedin/marketing/integrations/ads/account-structure/create-and-manage-accounts#search-for-accounts), the docs say the correct url is

[2019-02-14 22:17] wpercy commented on #1090
[This page in the linkedin docs](https://docs.microsoft.com/en-us/linkedin/shared/references/v2/ads/adaccounts?context=linkedin/marketing/context#get) shows the URL

[code]

[2019-02-14 23:02] dendeli-msft commented on #1164
Hi @AbdAlghaniAlbiek - is this in relation to any specific article?

[2019-02-14 23:04] dendeli-msft commented on #1163
Hi @E14 - this is good feedback. For URLs, it's a trade-off between readability and length. Our team chose to make the URLs easy to understand, as that serves for a better customer experience. GUIDs are rarely understood by anyone until they actually navigate to the article - we had that system on MSDN, and it was a constant point of customer paint.

We recommend using one of the many URL shortene

[2019-02-14 23:04] #1163 closed

[2019-02-14 23:06] dendeli-msft commented on #1162
Hello! This forum is for feedback on the docs.microsoft.com site. Given that this item is not directly related to our site, we cannot address it here. We recommend that you use the tool feedback channel to communicate your concerns or questions.

[2019-02-14 23:06] #1162 closed

[2019-02-14 23:08] ginami commented on #1160
Hi @zrajnai -- thank you so much for letting us know! We'll work on updating the page.

[2019-02-14 23:19] dendeli-msft commented on #1159
@mairaw I believe it's the same thing - looking at the [XML](https://github.com/dotnet/dotnet-api-docs/blob/master/xml/System/Uri.xml#L30), it seems that `Uri` in an older version of .NET Framework actually was derived from that class, but was later dropped. This will be resolved once we move to SDP.

[2019-02-14 23:19] #1159 closed

[2019-02-14 23:50] dendeli-msft commented on #1158
Hi @skosuriAssocia - is this related to the documentation hosted on docs.microsoft.com?

[2019-02-14 23:55] dendeli-msft commented on #1154
Good feedback, @DavidR91 - thank you. I am following-up with the team on this!

[2019-02-15 00:01] dendeli-msft commented on #1141
It is! You can start using DocFX today: https://dotnet.github.io/docfx/

You can read more about deploying your own docs infrastructure here: https://aka.ms/iwantdocs

[2019-02-15 00:01] #1141 closed

[2019-02-15 00:10] shirgoldbird commented on #1149
@mjyeaney Thanks for the feedback! I know that slow loading times can be frustrating. We're in the process of redesigning this entire page to be more user-friendly and utilize fewer images—I'll follow up here when the redesign goes live.

[2019-02-15 07:55] imeya opened #1165 "Resources api and the other detailed resource api(like blob rest api)"
When I'm studying the azure resources api, I found that there are 2 kinds of apis.

one for all resources(link [here](https://docs.microsoft.com/en-us/rest/api/resources/resources/get)), it's used to get a resource, so I can use it to get a blob content.

But there is a blob rest api for get, too(link [here](https://docs.microsoft.com/en-us/rest/api/storageservices/get-blob)). it's also can be use

[2019-02-15 10:20] E14 commented on #1163
I understand your point, but having the option to also refer to an article by a GUID does not mean that it has to exclude the "normal", supposedly more user-friendly, URLs. My suggestion was to support **both** - They are not mutually exclusive.

However, this is not a solution:

As written above:

both points combine to a non-starter.

[2019-02-15 14:04] presleyy commented on #1157
To me, what was described in this issue feedback makes a lot of sense. I don't suggest just adding the nofollow. Scrubbing the external links in the content seems be the better solution.

[2019-02-15 16:05] ginami commented on #1148
Hi @BissetJ -- thank you so much for bringing this to our attention. We'll work on updating these pages!

[2019-02-15 16:06] ginami commented on #1147
Hi @BissetJ -- thank you for this feedback. We'll get an author to take a look at these four pages.

[2019-02-15 17:50] jgwinner commented on #1052
This is a general issue - I don't have 2FA on, but I get the 'register' page even when clicking on login. I went report a bug, and it turned out I was already logged in.

It appears that there is no SSO at all on multiple MS sites. Maybe we have to register here, yet again.

[2019-02-15 19:16] laumil opened #1166 "Using Power BI"
1. Access the link :
https://docs.microsoft.com/en-us/power-bi/guided-learning/gettingstarted?tutorial-step=2

2. Content changes are required, the content should be structured differently with more information:

PowerBI Desktop getting source data
Creating a report in PowerBI
Publishing to PowerBI Service
PowerBI Service using a connector

3. Please add more visual examples and replace the text a

[2019-02-16 14:38] crowcoder commented on #1140
Same thing is happening for me. Deleting "techprofile" cookie has no effect. In an incognito window at least I get prompted to sign in but then the cycle starts over again.
This happens at work and at home. Something seems very broken.

[2019-02-16 14:42] AbdAlghaniAlbiek commented on #1164
No, I just suggest an idea
Because there is no course explain how to create games with uwp project.
you can make four sections for game's section  like:

1. classic games:
 in this section make a simple games with simple UI and principals of develop games like puzzles and     chess games.

 2. pro games:
I mean programming games with Unity in specific 2D games explaining the principals materials,

[2019-02-16 14:56] nokura commented on #1063
Hello @EmmettTsai
Thank you for bringing this to our attention. I am sorry but we most likely need to wait till Mid/March to implement the fix you pointed out as we are in the middle of internal transition of the localization ownership. I will file this issue in the internal tracking system to make sure to be fixed.
Kind regards,
Microsoft DOCS International Team

[2019-02-16 17:35] vaibhav330 opened #1167 "Login leads to register page"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-02-17 05:44] sushilkumar4051 opened #1168 "Error of css"
https://developer.microsoft.com/en-us/advocates/index.html

Open this page some css error occur on this page
Check  User

Ryan Levick
@ryan_levick

Rust / Functional Programming / JavaScript/TypeScript / Architecture

its content showing outside the div

[2019-02-17 18:50] wanwanwanwanwan opened #1169 "wan"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-02-18 01:15] presleyy commented on #1157
In some cases, the existing external links still provide the best information, and meanwhile some others are updated. Close this issue for now. Scrubbing the external links is what we do regularly.

[2019-02-18 01:15] #1157 closed

[2019-02-18 04:58] dbaid opened #1170 "Image Authorization"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/sql/database-engine/log-shipping/media/ls-typical-configuration.gif?view=sql-server-2017

**Problem:**
Do you mind referecing your images in my own website??
like this
<div class='fp-thumbnail'><a h

[2019-02-18 05:32] SatoruTaniya commented on #897
For example, when calling the following API, value exists as documented
https://docs.microsoft.com/ja-jp/rest/api/appservice/appserviceplans/list

![value](https://user-images.githubusercontent.com/45382935/52929998-0aba5d80-338a-11e9-99f0-1a7eb14b8505.png)

[2019-02-18 16:15] eyalmil opened #1171 "Small spelling error in DeviceMethod class documentation (com.microsoft.azure.sdk.iot.device.DeviceTwin package)"
Hi,
I believe there is a small spelling mistake in this page:

https://docs.microsoft.com/en-us/java/api/com.microsoft.azure.sdk.iot.device.DeviceTwin.DeviceMethod?view=azure-java-stable

The word "interation" was written instead of "interaction" - I hope I'm not wrong..

eyal

[2019-02-18 21:47] mairaw commented on #1171
@rloutlaw you're listed as the author here. Can you help?

[2019-02-18 21:49] mairaw commented on #1168
I can't repro this @sushilkumar4051:
![image](https://user-images.githubusercontent.com/12971179/52977884-ea87a000-3383-11e9-8955-934c5b1bf8c0.png)

What's the browser that you're using?

[2019-02-18 21:50] mairaw commented on #1151
Go to the repositories tab on your profile and filter on forks:
https://github.com/SimpleSamples?utf8=%E2%9C%93&tab=repositories&q=&type=fork&language=

[2019-02-18 22:32] SimpleSamples commented on #1151
Then I was not clear. I know I began editing an article in dotnet-api-docs. But then I realized that a search and replace feature would help so I tried downloading to the Desktop GitHub. I could not get that to work. And now I can't find the article I was editing. I can find the forks, I just do not know how to find the article I was editing. I am sure I would have no problem if I was familiar wit

[2019-02-18 22:41] mairaw commented on #1151
Ah ok, I understand your issue better now. The answer kind of depends if you committed the changes and pushed them to your fork or if they're semi-edited on your local machine only.

I see that you have two branches on your fork:
https://github.com/SimpleSamples/dotnet-api-docs/commit/a138a614161316095fafeee05a634dfc92be59d4
https://github.com/SimpleSamples/dotnet-api-docs/commit/e130a6d79972946b1

[2019-02-19 02:43] SimpleSamples commented on #1151
That helps. Those are some I wanted to find but not what I was most
interested in. I think the repository I an concerned about did not have
"api" in the name. If I have submitted this to the wrong group then I
apologize. If someone can guide me to understand how to find the
articles I have edited, such as those you list here, then that will be
enough. I will be grateful and feel much better.

They

[2019-02-19 03:14] mairaw commented on #1151
Yeah, there's a learning curve when learning Git.

Commit would be like a save and then a push is where you take your local saves and take them to your remote (the version you can see on GitHub) - like the ones I showed above were commits that you pushed to your fork.

If you pushed your commits, you could explore your [forks](https://github.com/SimpleSamples?utf8=%E2%9C%93&tab=repositories&q=&typ

[2019-02-19 04:41] chiahsinwallace opened #1172 "Add Links to learn modules"
When I was going through the modules, you will show me the commands needed but there is no way to learn more about other commands.
Example,
az vm create if you and add a link to documentation to the commands, it will be nice to know more different commands.

The other feedback regarding to VM resize,
az vm resize, if you can add a link to VM size chart and what does each size mean.

It will be eve

[2019-02-19 05:51] SimpleSamples commented on #1151
I did not edit locally. Everything is/was in GitHub.

I am talking about the normal flow when we click on Edit at the top of
Microsoft documentation. What does that do? I think it forks. Then (as
best as I recall) I click on the pencil to edit the page. I edit it.
Then I do something to finish the edit; is that a commit? Then I get
something as in:

SimpleSamples/dotnet-api-docs@a138a61
<https://g

[2019-02-19 07:44] salih27 opened #1173 "yarim19871990f@gmail.com"
- 1. _~~~~ _

[2019-02-19 08:16] surajraghuvanshi opened #1174 "download links are misplace in https://docs.microsoft.com/en-us/security-updates/SecurityBulletins/2015/ms15-034"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Problem:**
What's wrong with the article?
Microsoft Security Bulletin MS15-034 - Critical patch download links are misplace for vulnerability Vulnerability in HTTP.sys Could Allow Remote Code Execution (3042553) i try to download the patch for server

[2019-02-19 18:17] estelkay opened #1175 "Unable to show learn profile"
After logging in to https://docs.microsoft.com/de-de/learn/ the username and level progress is shown as intended at the  upper right Corner of the website. By clicking on the username the popup menu Shows the profile link. By clicking on the link (https://techprofile.microsoft.com/de-de/[USERNAME]) a 404 - Page not found error is shown.

Login is possible.
All progresses and completed modules are

[2019-02-19 21:46] tb-mtg opened #1176 "[Question] Layout source code for docs.microsoft.com website"
In the spirit of now being open-source i was hoping somebody could share the code and any third-party css & js libraries that may have been used for the template/layout page for the docs.microsoft.com website.

I love the design and am especially interested in the following work:

* the Left sidebar "Contents" menu and its ability to filter even with sub-navigation menus
* the Right sidebar "In th

[2019-02-19 22:27] peskydan opened #1177 "NM_CUSTOMDRAW notification code article has incorrect supported Windows versions"
The article at https://docs.microsoft.com/en-us/windows/desktop/Controls/nm-customdraw specifies incorrect minimum supported server and client versions. This notification code has actually existed since the common controls library shipped with Internet Explorer 4.0 in 1997, so anyone targeting Windows XP, XPe or 2000 would probably like to know custom draw is supported.

I believe this is actually

[2019-02-20 00:28] mairaw commented on #1151
We explain the basic workflow at https://docs.microsoft.com/en-us/contribute/. If you save your initial changes but you're not ready to create the pull request yet, it gets a bit more advanced to know how to navigate around.

[2019-02-20 01:21] JasonWHowell commented on #1173
@salih27 did you intend to post this? You may want to remove the email address from the subject.

[2019-02-20 02:06] BissetJ opened #1178 "Wrong return value for ListView_DeleteColumn"
This page incorrectly indicates that ListView_DeleteColumn has no return value.
https://docs.microsoft.com/en-us/windows/desktop/api/commctrl/nf-commctrl-listview_deletecolumn

See older content, which is correct.
https://docs.microsoft.com/en-us/previous-versions/ms909702(v=msdn.10)
Return type is BOOL.  TRUE indicates success. FALSE indicates failure.

Take a survey of all these macros, this is

[2019-02-20 03:48] ColinCampbellCCL opened #1179 ""Recommended Version" button discards context"
When you are reading an older version of the documentation and the top banner presents the message "We're no longer updating this content regularly. Check the Microsoft Product Lifecycle for information about how this product, service, technology, or API is supported." with a button "Recommended Version", instead of taking you to the new version of the item you are viewing, the button drops the co

[2019-02-20 08:17] slepmog opened #1180 "Possibly wrong description of ASIN/ACOS behaviour in SQL Server"
**Link to article:**
https://docs.microsoft.com/en-us/sql/t-sql/functions/asin-transact-sql?view=sql-server-2017
https://docs.microsoft.com/en-us/sql/t-sql/functions/acos-transact-sql?view=sql-server-2017

**Problem:**
It would appear that the documentation is wrong (and ambiguous) about what happens when an invalid value is passed to `ASIN` or `ACOS`. It currently reads:

These two outcomes are m

[2019-02-20 10:27] Holo-Krzysztof opened #1181 "DXGI surface buffer missing in Media Foundation Buffer docs"
**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/medfound/directx-surface-buffer

**Problem:**
It describes how to obtain a DX9 surface, but UWP apps need to use DXGI/DX11 for which no documentation seems to exist. Does the same approach work just with a different IID? I've tried QueryInterface on the buffer to get IMFDXGIBuffer but it always returns E_NOINTERFACE. It'd be goo

[2019-02-20 11:18] Cherryzc opened #1182 "GetProcessInformation function doc has a Content Error"
Link to article: https://docs.microsoft.com/en-us/windows/desktop/api/processthreadsapi/nf-processthreadsapi-getprocessinformation

**Problem:**
The first Parameter hProcess‘s description is mistake.This handle must have the PROCESS_SET_INFORMATION access right. It's should be PROCESS_QUERY_LIMITED_INFORMATION

[2019-02-20 14:12] sushilkumar4051 commented on #1168
Hello,

   i used chorme browser and it display like that
[image: image.png]

On Tue, Feb 19, 2019 at 3:19 AM Maira Wenzel <notifications@github.com>
wrote:

[2019-02-20 17:27] EleonoraGrigoryan opened #1183 "Wrong example under self-join explanation section"
**🛑 IMPORTANT**
Mistake in the documentation of SQL Server in Books Online

**[Link to article in BOL:](https://docs.microsoft.com/en-us/previous-versions/sql/sql-server-2008-r2/ms177490(v=sql.105))**

**Problem:**
In the second example it is stated that there is a self join but in reality it joins two different tables Sales.SalesPerson and Sales.SalesTerriotory. Self join is about joining the sam

[2019-02-20 19:31] nnpcYvIVl opened #1184 "Win32_LogonSession formatting issue"
**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/cimwin32prov/win32-logonsession

**Problem:**
The first line of the article reads:
[code]

It should read
[code]

[2019-02-20 21:31] frmanw opened #1185 "Download PDF does not work for https://docs.microsoft.com/en-us/workplace-analytics/*"
**Describe the bug**
Download PDF does not work for https://docs.microsoft.com/en-us/workplace-analytics/*

**To Reproduce**
Steps to reproduce the behavior:
1. Go to side - https://docs.microsoft.com/en-us/workplace-analytics/index-orig
2. Click on Download PDF (linked to: https://docs.microsoft.com/en-us/Workplace-Analytics/opbuildpdf/toc.pdf?branch=live)
3. Error:  requested PDF will not be dow

[2019-02-21 01:16] mgblythe commented on #1097
@davidiseminger -- can you address this?

[2019-02-21 05:24] HansOMartinsen opened #1186 "Enable TechProfile Picture"
I am using a profile picture on all my different webpages out there. I would really like to be able to have one for techprofile also, not just the default icon that is there today.

Kind Regards
Hans O. Martinsen

[2019-02-21 09:33] krisrajz opened #1187 "Spelling Mistake"
https://docs.microsoft.com/en-in/learn/modules/perform-advanced-data-transformation-in-azure-databricks/

Please correct spelling mistake :)

[2019-02-21 09:38] krisrajz opened #1188 "MS Events/Online Sessions"
Ref:
https://www.microsoftazurevidyapeeth.com/
event.on24.com, vshow.on24.com

Online sessions via azurevidapeeth and pro tech days are always an issue though I appreciate the speaker and spreading technology to the community. Though having good connectivity most of the online sessions are problematic, speakers themselves knew and agreed several times. Requesting MS to find better platform to make

[2019-02-21 10:34] alexviso1990 commented on #1124
i have same problem :(

[2019-02-21 17:50] sjetha-pason opened #1189 "Rendering issue when italicised markdown is surrounding a value with an @ symbol."
**Describe the bug**
When viewing https://docs.microsoft.com/en-us/sql/relational-databases/database-mail/create-a-database-mail-profile?view=sql-server-2016#using-transact-sql, the variable names are supposed to be italicised, but it appears that the combination of an asterisk and an at symbol are throwing the markdown interpreter off.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to

[2019-02-21 18:11] saldana commented on #935
@alexclowe we are closing this issue as we think @AndrewCook answered the question. Please reactivate if not. Thank you!

[2019-02-21 18:11] #935 closed

[2019-02-21 18:13] saldana commented on #1015
@hking19 and @monianop I am closing this issue as we think this is solved now. Please reactive if you still are experiencing issues. Thank you!

[2019-02-21 18:13] #1015 closed

[2019-02-21 18:15] saldana commented on #901
Assigning this to @jialge as he is looking at this feature.

[2019-02-21 19:49] saldana commented on #1044
@grandmasteriVan Are you still experiencing the issue? We released a fix few days ago that should have this issue fixed.

If you are still experimenting the issue, can you let me know if you can log in from an InPrivate/Incognito window?

[2019-02-21 23:03] ChrisMaddock opened #1190 "TextWriter API page has title with no content"
This page has the title "Explicit Interface Implementations", and then no content underneath it.

https://docs.microsoft.com/en-us/dotnet/api/system.io.textwriter?view=netframework-4.7.2#explicit-interface-implementations

Originally posted here: https://github.com/dotnet/dotnet-api-docs/issues/1884

[2019-02-21 23:04] ChrisMaddock commented on #1190
Quote @mairaw @ https://github.com/dotnet/dotnet-api-docs/issues/1884#issuecomment-464893950

[2019-02-22 05:37] kenmoritest opened #1191 "SharePoint Online Limitation "A list can have up to 30 items..." in Japanese Content."
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
Tell us where exactly a problem occurs.

https://docs.microsoft.com/ja-jp/office365/servicedescriptions/sharepoint-online-service-description/sharepoint-online-limits

**Problem:**
What's wrong with the article?

English : Items in

[2019-02-22 06:14] SatoruTaniya commented on #897
Since customer already have this API used
Please notify something when changing the implementation of RestAPI.

[2019-02-22 12:45] abouklila opened #1192 "Add Run Button near Copy Button to examples"
**Is your feature request related to a problem? Please describe.**
I'm always want to run the example code in the doc page and see the output instead of copy the code and try it in IDE or SSMS

**Describe the solution you'd like**
Add Run button near Copy Button to let the user to run the code directly in the same page and view the output results.

**Describe alternatives you've considered**
Add r

[2019-02-22 12:49] inkydragon opened #1193 "Broken page style in Chinese version"
There is no comment section in the article.

**Link to article:**
Not only a page, it seems like many other page also has this problem.
1. [适用于 Windows 的 fluent Design 系统 - UWP app developer | Microsoft Docs](https://docs.microsoft.com/zh-cn/windows/uwp/design/fluent-design-system/index)
2. [通用 Windows 平台 (UWP) 应用设计（Windows 应用）简介 - UWP app developer | Microsoft Docs](https://docs.microsoft.com/zh-

[2019-02-22 18:28] panchagnula commented on #897
talked to Navy, this is a bug that is fixed with the latest version ask the customer to use 2018-11-01, this is a REST API level that had to fixed with new API version only. Hope this helps, sorry this is a one-off case & we will make sure to document/communicate this better to the customers in the future.

[2019-02-22 21:36] nschonni opened #1194 "Give authors a way to suppress right-hand table of content entries"
**Is your feature request related to a problem? Please describe.**
I've come across this in a few repos:
- https://github.com/MicrosoftDocs/VBA-Docs/issues/800
-https://github.com/MicrosoftDocs/visualstudio-docs/pull/2741
Authors are skipping heading levels in order to not have an entry in the generated ToC. This causes HTML semantic issues, and in turn issues for screen reader users.

**Describe

[2019-02-22 22:01] saldana commented on #992
@jialge assigning this to you.

[2019-02-22 22:02] saldana commented on #1007
@jialge I think you own this now.

[2019-02-23 01:22] westleyMS opened #1195 "SPO CSOM needs API guide to be able to document new API added each release"
**Link to article:**
In the SharePoint online docs, there is no API docs for CSOM even though they are adding API to it on a regular basis. You can see this here-
[https://developer.microsoft.com/en-us/sharepoint/blogs/new-sharepoint-csom-version-released-for-sharepoint-online-november-2018/](https://developer.microsoft.com/en-us/sharepoint/blogs/new-sharepoint-csom-version-released-for-sharepoint

[2019-02-23 01:46] mairaw commented on #468
As pointed out by @joelmartinez, issue https://github.com/mono/api-doc-tools/issues/260 was not exactly for this, so I've created a new one to track this particular issue:
https://github.com/mono/api-doc-tools/issues/422

[2019-02-23 05:50] clairedemars1 opened #1196 "Ambiguity re. effect of DataRowCollection.Remove(DataRow) on data source"
2 pages either contradict or are not clear about whether the DataRowCollection's Remove method affects the data source. This is very important because it could mean deleting large amounts of data from your database that you only meant to delete from memory.

This [page](https://docs.microsoft.com/en-us/dotnet/api/system.data.datarowcollection.remove?view=netframework-4.7.2), on the Remote method,

[2019-02-23 06:19] Dizzydaizys opened #1197 "Bug"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-02-23 06:20] Dizzydaizys opened #1198 "Feedback"

[2019-02-23 06:21] Dizzydaizys opened #1199 "Features"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-02-23 13:11] aespinosanl opened #1200 "Login in to page with multiple accounts"
**Is your feature request related to a problem? Please describe.**
I have a Microsoft account since I am Microsoft employee. I have a personal hotmail account.

Can you make it possible to log in from multiple accounts.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of an

[2019-02-23 14:19] UintraContact commented on #1044
issues fixed seems to me, thanks

[2019-02-23 21:16] RussellMcColley commented on #1200
ok look Forward to speking with you I'm a male 5 7 blue eyes

[2019-02-24 13:29] Hoxni opened #1201 "Syntax is not highlighted"
**Describe the bug**
Syntax is not highlighted

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/sql/t-sql/functions/rank-transact-sql?view=sql-server-2017
2. Look at any sample code

**Desktop (please complete the following information):**
 - OS: windows 10
 - Browser chrome, edge

[2019-02-25 03:06] saldana commented on #889
@jialge assigning this to you as you will own Tech Profile now while Hui is out.

[2019-02-25 03:07] saldana commented on #1044
Thank you for your response, @UintraContact. I will consider the issue fixed then as other users confirmed the fix also resolved their problem.

[2019-02-25 10:57] bynt commented on #1155
_UPDATE_
last import of outdated version of advisory 4053440 was on February, 20th 23:03 UTC.

looking good since then. I'll keep You udated.

[2019-02-25 11:27] cephalin commented on #897
@panchagnula Can you reference the bug or confirm if it's already fixed? That way we can close this issue.

[2019-02-25 12:57] 161134050 opened #1202 "Spelling mistake/typo"
**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/api/iphlpapi/nf-iphlpapi-getextendedtcptable

**Problem:**
What's wrong with the article?

In the final paragraph, before the "Requirements" section, "Windows Vista and" appears as "Windows Vistaand"

![image](https://user-images.githubusercontent.com/39843740/53338970-f48b3f00-393f-11e9-82e3-0a3960474f4e.png)

[2019-02-25 13:02] mity opened #1203 "FindResourceA: Bad link about resource types"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
1. https://docs.microsoft.com/en-us/windows/desktop/api/winbase/nf-winbase-findresourcea
2. https://docs.microsoft.com/en-us/windows/desktop/api/winbase/nf-winbase-findresourceexa

(Both exhibit the same issue)

**Problem:**
Descri

[2019-02-25 19:07] Minewiskan commented on #1058
@tcrossland - Thanks Tom, for pointing this out. The spec has been updated. You can get the new version here. https://docs.microsoft.com/en-us/powerquery-m/power-query-m-language-specification

#please-close

[2019-02-25 20:24] mdell-seradex opened #1204 "DataView.RowFilter doc needs improvement"
https://docs.microsoft.com/en-us/dotnet/api/system.data.dataview.rowfilter?view=netframework-4.7.2

[2019-02-25 21:27] cephalin commented on #897
Awesome thanks for getting to the bottom of this folks. @SatoruTaniya Sounds like this issue has been fixed. If you notice any more discrepencies, please don't hesitate to open another bug. Thank you for your help! #please-close

[2019-02-25 22:07] dendeli-msft commented on #976
The fix has been released, and the content is now showing everything correctly. Thank you @mairaw for the feedback!

[2019-02-25 22:07] #976 closed

[2019-02-26 02:32] amclin opened #1205 "Documented REST API versions don't match REST API versions the service reports as available"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/rest/api/storageservices/set-blob-service-properties

**Problem:**
Article specifies versions of the blobServices API that don't exist. None of the versions described in the article match the versio

[2019-02-26 07:37] raven139 opened #1206 "displaying text after type into input search"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
see screenshot

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/17992091/53395184-dce8a080-39a9-11e9-8d3a-924b257095de.png)

**Desktop (please complete the following information):**
 - OS: windows

[2019-02-26 09:08] shrk96 commented on #176
Saving documents in the form of a bookmark/starred document, etc. It's truly essential for a good experience. This would be a welcome feature.
Love the recent focus on documentation!

[2019-02-26 09:16] weitzhandler commented on #176
I'd even want to be able to group my starred articles under labels/groups.
Anyway, this feature is very essential, please implement this.
Thank you!

[2019-02-26 11:29] #472 closed

[2019-02-26 11:30] #386 closed

[2019-02-26 13:20] domedagen opened #1207 "Incomplete installation instructions for Microsoft ODBC Driver on Linux"
I was trying to install the ODBC driver for Ubuntu 18.04 following the instructions here.

https://docs.microsoft.com/en-us/sql/connect/odbc/linux-mac/installing-the-microsoft-odbc-driver-for-sql-server?view=sql-server-2017#ubuntu-1404-1604-1710-and-1804

Since libssl1.0.0 is not installed by default on Ubuntu Bionic (or at least my docker image), you would have to install it manually

apt-get ins

[2019-02-26 18:30] AlanMcBee commented on #386
Wondering why you closed it? I still thought it was a good idea.

[2019-02-26 21:22] SimonCropp commented on #386
Figured if it hadn’t been actioned in 9 months, then it prob never would be

[2019-02-26 23:33] ryzngard commented on #580
I believe this can be closed. Here's current screenshot from today:

![image](https://user-images.githubusercontent.com/475144/53454393-d83ce000-39db-11e9-956b-a84f903c9c37.png)

[2019-02-26 23:35] ryzngard commented on #1135
+1 on this. It really detracts from the dark theme while I can see the white top bar. After scrolling down the top bar goes away and I can enjoy the darkness as I would expect.

[2019-02-27 00:34] shirgoldbird commented on #1059
@SpareNichols This bug should be fixed—please confirm and close this issue out if everything looks good.

[2019-02-27 01:17] shirgoldbird commented on #886
Hi @ygoe, thanks for your patience while we investigated this further. After discussing with our design partners, we've determined this is the approved Microsoft styling guidance for links and what we'll continue to use on our site. I'm going to close this out—please feel free to open a new issue if you have further feedback on the site.

[2019-02-27 01:17] #886 closed

[2019-02-27 05:26] imeya opened #1208 "Please more details about model view and instance view of an Azure virtual machine."
For the powershell cmdlet get-azvm, in this page: https://docs.microsoft.com/en-us/powershell/module/az.compute/get-azvm?view=azps-1.4.0#description.

It says "The Get-AzVM cmdlet gets the model view and instance view of an Azure virtual machine.", and it also provides a little description about model view and instance view, but I'm still not very clear the difference of them.

Could you please pr

[2019-02-27 09:20] ygoe commented on #886
Alright. I don't like ugly links and design concept misuse, so I'll extend my user style to other sites and continue to use and advertise it to fix this issue on the client side. Thanks for your time, now I'll be using mine.

[2019-02-27 10:29] nadotwins opened #1209 "Typo"
**Link to article:**
https://docs.microsoft.com/en-us/azure/notification-hubs/notification-hubs-android-push-notification-google-fcm-get-started#configure-firebase-cloud-messaging-settings-for-the-hub

**Problem:**
What's wrong with the article?

Step 3 on this section (**Configure Firebase Cloud Messaging settings for the hub**) has spelling mistake/typo "Selct"

[2019-02-27 11:31] yassine1616 opened #1210 "Did the unused part of physical transaction log get really intact until the logical part is full?"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/sql/relational-databases/sql-server-transaction-log-architecture-and-management-guide?view=sql-server-2017.

**Problem:**
My question is about "Transaction Log Physical Architecture" part.
What dose

[2019-02-27 12:18] kierowca-PKSu commented on #1198
Your machine translations into Polish are absolutely dreadful. Bad enough to make any article very hard to read or understand. While, being a translator myself, I realize translating a text is tricky, the algorithm you use does a really bad job. Is it possible for me to permanently set the language to English without logging in? It is really annoying having to change an article's language every ti

[2019-02-27 13:48] hahatianx opened #1211 "Is there anything wrong with the Rz operation?"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
Tell us where exactly a problem occurs.

https://docs.microsoft.com/zh-cn/qsharp/api/prelude/microsoft.quantum.primitive.rz?view=qsharp-preview

**Problem:**
What's wrong with the article?

I think the matrix of Rz is wrong.  The u

[2019-02-27 19:19] estelkay commented on #1175
Hi,
I just wanted to follow up on this issue as I still cannot Access my techprofile / learn profile.
In case you need more Information please let me know.

Thank you in advance

[2019-02-27 21:43] tcrossland commented on #1058
@Minewiskan great, many thanks for updating the spec!

[2019-02-27 21:43] #1058 closed

[2019-02-28 02:04] Paul-Dempsey opened #1212 "[error message feedback] provide feedback"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Problem:**
The error message "Metadata rules not available" is unactionable. I have no idea what it means, or what I need to do to recover or fix it.

**Log code info**
(This is auto filled, no need to modify)

| Severity   | Type   | Code   | Catego

[2019-02-28 12:48] Avik1 opened #1213 "Communications error with Lab AI-03 for "Create an Azure web app bot""
**Describe the bug**
After launching the lab VM and completing all the described steps it immediately returns an error message "We're having problems communicating with the server". This repeated itself for two days running, making it impossible to complete the learning session.

**To Reproduce**
Steps to reproduce the behavior:
Just follow steps 1-8 in the session "Create an Azure web app bot" of

[2019-02-28 13:08] diablodale opened #1214 "entirely missing Kinect 1.8 SDK docs, needed for legacy support and future historians"
https://docs.microsoft.com has no content for the first-generation Kinect sensor. Which uses the Kinect for Windows SDK 1.8.

This SDK and its runtime are readily available for download from Microsoft. However, the SDK documentation has recently been purged. Its return is needed.

**Problem:**
Kinect v1 aka original Kinect for Windows aka first-generation Kinect content missing. Please note, SDK 2

[2019-02-28 17:13] cholter opened #1215 "LinkedIn v2 API Documentation Inaccuracies"
There are two inaccuracies in the LinkedIn v2 API docs:

1. [Getting the display name of a location](https://docs.microsoft.com/en-us/linkedin/shared/integrations/people/profile-api#location-display-name)
The documentation says to use the following request:
`GET https://api.linkedin.com/v2/regions?q=standardizedLocation&standardizedLocation=urn:li:standardizedLocationKey:(us,12345)`

However submi

[2019-02-28 20:28] shirgoldbird commented on #1059
@SpareNichols Closing this out. Feel free to reopen if it's not fixed for you.

[2019-02-28 20:28] #1059 closed

[2019-03-01 01:02] mairaw commented on #216
This was moved to https://ceapex.visualstudio.com/Engineering/_workitems/edit/26722

[2019-03-01 02:23] jeremyma opened #1216 "Wrong format"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/Msi/formatted

**Problem:**
The format is wrong in follow sentences:

I gues the `[]` should be `[~]`.

[2019-03-01 10:51] alataffective opened #1217 "PathSegment.IsSmoothJoin possible error and confusing explanation"
**Link to article:**
https://docs.microsoft.com/en-us/dotnet/api/system.windows.media.pathsegment.issmoothjoin?view=netframework-4.7.2

**Problem 1 (affected join):**
"join between this PathSegment and the previous PathSegment"
In my tests the property value affects this path segment and the _next_ path segment not the previous as stated.

**Problem 2 (corner value and definition):**
Saying that t

[2019-03-01 12:57] scanteiro opened #1218 "Microsoft Learn - XP "gone" - user saracanteiro"
**Describe the bug**
I reached level 9 and my existing XP disappeared. Although I maintain level 9, I'm undergoing a learning path and am now reduced to ~900XP (need 34K for level 10)

**To Reproduce**
Steps to reproduce the behavior:
Not sure if it is specific to my account...

**Expected behavior**
I expected to maintain the same XP when reaching level 9

**Screenshots**
![image](https://user-im

[2019-03-01 15:34] rnnds opened #1219 "LinkedIn v2 API ugcPosts update"
My team and I are migrating to API v2, but we could not find a way to update posts using `ugcPosts` API.

Is it not implemented or just not documented ?

The URN returned from an `ugcPosts` creation follows the pattern `urn:li:share:...`, so I tried to update using `shares` endpoint without success.

[2019-03-01 16:16] RyotaMurohoshi opened #1220 "`IReadOnlyCollection<T>` and `IReadOnlyList<T>` has `GetEnumerator()` in Property section not in Method section."
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
Tell us where exactly a problem occurs.

https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.ireadonlycollection-1?view=netframework-4.7.1#properties

https://docs.microsoft.com/en-us/dotnet/api/system.collection

[2019-03-01 16:33] RyotaMurohoshi commented on #1220
`System.Collections.Generic.IEnumerator<T>` has same problem.

https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.ienumerator-1?view=netframework-4.7.1

May be, when

* Parent interface has method(s).
* Target interface has only propety and does not have any methods. But it interted parent methods.

This problem may occur.

[2019-03-01 19:36] MEMCD5 opened #1221 "Introduction to C Sharp - explanation of classes"
Sorry I'm not sure if I'm flagging this up in the right place but...

I'm new to C Sharp & eager to learn as much as I can. I've tried several on-line tutorials but found that they either bogged me down with too much unnecessary content or they assumed that I was already an experienced object-orientated programmer - which unfortunately I'm not.

I've recently tried Microsoft's "Introduction to  C

[2019-03-01 21:06] tiwarirajeev27 opened #1222 "Externally maintained customer sales invoice headers"
Externally maintained customer sales invoice headers  Data entity is getting exported with 0 records
while Externally maintained customer sales invoice lines data entity is getting exported with actual records.

Externally maintained customer sales invoice headers is there any setting which we need to do for exporting  data through this  entity. we are integration D365 FO to D365 sales and followi

[2019-03-02 09:48] PavanDhariwal opened #1223 "Azure Learning"
When attempting to sign in for Azure learning, I am prompted to register a profile.

Linke: https://techprofile.microsoft.com/en-GB/register?replyUrl=https://docs.microsoft.com/en-us/learn/modules/welcome-to-azure/&

I fill in my details, click on register and nothing happens. I took a look at the console and found two errors.

docs.microsoft.com/api/profiles/me:1 Failed to load resource: the serv

[2019-03-02 10:07] jkarlsso opened #1224 "Unable to locate signup for xamarin newsletter"
I am receiving a monthly newsletter (it is great) and I am looking to sign up another email address. But after some Googling and plenty of "smartphone browsing" I can not seem to find where to do this.

My guess is that it comes with my VS account, but when I log in there the box for newsletter is unchecked, so I am unsure.

The latest email read "Welcome to the February 2019 edition of the Xamari

[2019-03-02 16:21] Emmagrabergs commented on #1110
i have the same problem to,

[2019-03-02 16:23] Emmagrabergs commented on #1223
when will it be fixed?

[2019-03-02 16:40] asithw opened #1225 "Sri lanka is missing as country option when signing up for microsoft learn"
**Describe the bug**
There is no 'Sri lanka' country option when selecting the country  while registering for microsoft learn
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://www.microsoft.com/en-us/learning/default.aspx'
2. Click on 'Sign in or Register' based on your microsoft session
3. Create profile to save progress if you are notmember of microsft learn
4. Select country a

[2019-03-03 21:15] ConEmu opened #1226 "Real ExtractIconEx return value is not described"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.
Strange, but I don't see "comments section" on the mentioned pages.

**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/api/shellapi/nf-shellapi-extracticonexw
https://docs.microsoft.com/en-us/windows/desktop/api/shellapi/nf-shellapi-

[2019-03-04 03:26] Batzer opened #1227 "Direct3D12 Documentation for ID3D12Device4 and others are missing"
The documentation for the API additions made in Windows 10 1803 seem to be missing. For example, there should be documentation for the interfaces ID3D12Device4 and ID3D12Resource1.

Here is the link to the interface list: [https://docs.microsoft.com/en-us/windows/desktop/direct3d12/direct3d-12-interfaces](https://docs.microsoft.com/en-us/windows/desktop/direct3d12/direct3d-12-interfaces)

Thanks

[2019-03-04 17:58] #1218 closed

[2019-03-04 18:31] iCyberMike commented on #1094
This issue is in the tutorial document:
https://docs.microsoft.com/en-us/sql/integration-services/lesson-2-2-adding-and-configuring-the-foreach-loop-container?view=sql-server-2017

Microsoft Visual Studio Community 2017
Version 15.9.7
VisualStudio.15.Release/15.9.7+28307.423
Microsoft .NET Framework
Version 4.7.02556

Installed Version: Community

Microsoft Visual Studio Tools for Applications 201

[2019-03-04 18:43] tshas3 opened #1228 "Azure VM Creation / Sanbox Activation"
When I was trying to Complete my Study in Microsoft Learning Center in Azure Module of Sanbox Creation Post taking Permission for Microsoft Account access, I am being redirected to error and unable to commence Sanbox Activation so forth VM Creation in Azure has been failed.

Browser:**Chrome**
OS:**Windows 10**

Error Image enclosed in the below in-line..

![image](https://user-images.githubuserco

[2019-03-04 21:59] sudeepku commented on #1228
@tshas3 thank you for reporting this issue and sorry for the inconvenience. We are investigating it on our end.

[2019-03-05 02:25] lxy771895408 opened #1229 "WINAPI PowerRegisterForEffectivePowerModeNotifications"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

My vs version is 1809, and I link Powrprof.lib to my project and call the function PowerRegisterForEffectivePowerModeNotifications. The project can build successful but wen I run the .exe, there is a popup yell me no entry point of this function.

http

[2019-03-05 02:31] TomiakiNiwa opened #1230 "Tags are displayed in source code only for Japanese sites"
**Describe the bug**
In the Japanese page, the tag is displayed in the last sample source.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/ja-jp/sql/relational-databases/backup-restore/enable-sql-server-managed-backup-to-microsoft-azure?view=sql-server-2017'
2. Look at the last source.

**Expected behavior**
In English pages, it has not occurred.
There is a

[2019-03-05 03:16] tommai78101 opened #1231 ""GetStartupInfoA" is missing, or the article is inaccessible"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/api/winbase/nf-winbase-getstartupinfoa

**Problem:**
This link cannot be accessed. It returns 404, probably meant this article is missing.

[2019-03-05 04:01] SonjaSaltzman commented on #417
@nokura and @v-nidolc as the content has been moved to our team, could you please follow up?

[2019-03-05 04:04] SonjaSaltzman commented on #670
@nokura & @v-nidolc could you please check into this?

[2019-03-05 04:05] SonjaSaltzman commented on #786
@bodhigautam  can this be closed or still requires work?

[2019-03-05 04:08] SonjaSaltzman commented on #847
@nokura & @v-nidolc could you please follow up?

[2019-03-05 04:10] SonjaSaltzman commented on #858
@nokura & @v-nidolc could you please check into this?

[2019-03-05 04:14] SonjaSaltzman commented on #933
@yooakim thank you for your feedback; different users have different preferences (some prefer to read the Swedish translations, some do not).  You can set your preferred language by using the language picker at the bottom left of the page:
![image](https://user-images.githubusercontent.com/15201704/53780577-ea29f180-3eb9-11e9-9096-9ec493bf2868.png)
 Alternatively, you can select the "read in Engli

[2019-03-05 06:31] BrayanKhosravian opened #1232 "Frame in Listview: Label text only visible inside frame when wrapped with a empty stacklayout"
I tried to make a listview with two columns and make the view more custumizeable using frames.

In order to be able to display the text of a label which is wrapped by a frame, i had to wrap the frame with a empty stacklayout.

My code has a header for a "test frame". The left column uses a empty stacklayout and the right column uses a frame which is not wrapped by a stacklayout.
the text foreach l

[2019-03-05 06:32] BrayanKhosravian commented on #1232
![capture](https://user-images.githubusercontent.com/35541212/53785445-d497e480-3f18-11e9-91be-19f4aa9802f9.PNG)

[2019-03-05 06:38] BrayanKhosravian commented on #1232
oh this is important: i moved the ` Grid.Column="0"` from the frame to the stacklayout and it behaves still the same
![capture2](https://user-images.githubusercontent.com/35541212/53785681-ab2b8880-3f19-11e9-9028-ab6c9f26fca6.PNG)

[2019-03-05 08:01] rickardp commented on #933
@SonjaSaltzman Your comment was regarding @yooakim’s request, but I just wanted to clarify: I believe this is a different issue altogether.

The original issue was exactly what you wrote, that people have different preferences, and therefore IMHO you should look at the user’s browser preferences before machine translating content. Has there been any updates on the original issue?

[2019-03-05 08:06] rickardp commented on #933
On a side note, I believe the HTTP Accept-Language header should be amended with “accept-translation: if-not-primary|if-not-spoken|never” or something similar to clarify user intent. But that’s a different story :)

[2019-03-05 09:27] paulj199 opened #1233 "Can Create a tech profile and Sign in.... Why ?"
Issue is im trying to sign in and create a tech profile, nothing is happenning...

Get to https://www.microsoft.com/en-us/learning/training.aspx using my microsoft account...

![image](https://user-images.githubusercontent.com/44790798/53794476-f6e52e80-3f27-11e9-831b-1d19f0078e4c.png)

Click the start learning button taken to https://docs.microsoft.com/en-gb/learn/  but now asked to sign in..

![

[2019-03-05 13:39] mjp100 opened #1234 "Problem with "Create profile to save progress""
When trying to register for the docs.microsoft.com/learn site I am presented with the "Create profile to save progress" page. Once filled in clicking on the register button does nothing. I get no errors just the button showing it is being depressed

I have tried this with a personal @outlook.com address and a work based Office365 address with the same issue.

I have tried this on macOS Mojave (bot

[2019-03-05 13:51] mrobson1975 commented on #1234
I have the same issue; would appreciate posting a solution.

[2019-03-05 14:42] s9s9s9s9 commented on #1234
I am having the same issue.

[2019-03-05 14:54] simondavidhill commented on #1233
I have exactly the same issue, except in my browser (Chrome) I get a message in red after I click the 'Register' button, which states: "Something went wrong. please try again later."

[2019-03-05 14:54] simondavidhill commented on #1234
I have the same issue.

[2019-03-05 14:55] simondavidhill commented on #1223
I have the same issue.

[2019-03-05 15:44] MIMostafa commented on #998
I’m having a similar issue. Every time I go to Microsoft Learn and try to create a tech profile, I click on Register and nothing happens. It literally stays on the same page. I tried lots of things but I’m stuck on create profile. For example I intentionally try to put a too short url, I get the error it is too short. Once I put a long enough URL, error disappears but still unable to move past the

[2019-03-05 15:47] MIMostafa commented on #889
’m having a similar issue. Every time I go to Microsoft Learn and try to create a tech profile, I click on Register and nothing happens. It literally stays on the same page. I tried lots of things but I’m stuck on create profile. For example I intentionally try to put a too short url, I get the error it is too short. Once I put a long enough URL, error disappears but still unable to move past the

[2019-03-05 15:56] MIMostafa commented on #889
Just found out that it doesn’t work when country is United Kingdom. I tried IS as country and I managed to create a profile!

[2019-03-05 15:56] MIMostafa commented on #998
Just found out that it doesn’t work when country is United Kingdom. I tried IS as country and I managed to create a profile!

[2019-03-05 16:01] SonjaSaltzman commented on #933
correct, my comment was to @yooakim.  For the feature: @bodhigautam could you please update about the language preference feature?

[2019-03-05 16:31] dguynes opened #1235 "Problem with "BUILDING A CHAT BOT WITH AZURE BOT SERVICE""
**Link to article:**
https://docs.microsoft.com/en-us/learn/modules/build-chat-bot-with-azure-bot-service/4-deploy-bot

**Problem:**
**4. Back in the Web App Bot's Build blade in the Azure portal, select Configure continuous deployment.**
This is not intuitive. It appears you are supposed to press the link, "Publish updates automatically to Azure with Continuous Deployment". There is no "Configure

[2019-03-05 16:52] s9s9s9s9 commented on #1234
I selected United States in the country dropdown list and it worked :-)

[2019-03-05 17:04] simondavidhill commented on #1234
Workaround confirmed.

[2019-03-05 17:04] simondavidhill commented on #1233
Try setting country to US as per this comment: https://github.com/MicrosoftDocs/feedback/issues/1234#issuecomment-469759236

[2019-03-05 17:05] simondavidhill commented on #1223
Try setting country to US as per this comment: https://github.com/MicrosoftDocs/feedback/issues/1234#issuecomment-469759236

[2019-03-05 17:14] saldana commented on #998
@jialge  can you look into this issue? I am reopening so it stays in your radar.

[2019-03-05 17:15] PavanDhariwal commented on #1223
What an odd bug!

[2019-03-05 17:22] jzabroski commented on #1121
YES! @BillWagner  This needs fixing!

[2019-03-05 17:36] BillWagner commented on #1121
ping @dend More customer feedback on this issue.

[2019-03-05 18:00] mjp100 commented on #1234
Yes it looks like selecting the US allows the register button to work. I noticed that with US selected it does not show the accept terms and conditions check box

[2019-03-05 19:56] regal60740 opened #1236 "Create a Linux virtual machine in Azure"
**Is your feature request related to a problem? Please describe.**
Tutorial times out too soon!

**Describe the solution you'd like**
A minimum 4 hours.

**Describe alternatives you've considered**
I had stopper for lunch so when I came back, modules timed out before I could finish. Started over and had a problem connecting to VM. Timed out again before I could solve problem. You don't give enough

[2019-03-05 20:35] mairaw commented on #1121
He's using @dendeli-msft now for work stuff

[2019-03-05 20:35] bodhigautam commented on #786
@SonjaSaltzman This is as designed and we will have to work with Engineering team to get this enabled. I will keep it open till we have a feature rolled out for this.

[2019-03-05 23:55] Jmck2 opened #1237 "pedagogical strategy"
What is Microsoft approach to "Just in time learning". Are they modelized to allow focus on just the specific area's needed vs, all lumped together.

https://www.advantageperformance.com/implementing-just-in-time-learning/
https://www.bing.com/search?q=just+in+time+learning&form=EDNTHT&mkt=en-us&httpsmsn=1&plvar=0&refig=0e25e2e414b74b7aac37f01d7e34f9c3&sp=1&pq=just+in+time+learner&sc=8-20&qs=SC&sk

[2019-03-06 01:24] sudeepku commented on #1237
Thanks @Jmck2  for your comment. Please visit https://docs.microsoft.com/en-us/learn/ which is hands-on and a modular approach to learning.

[2019-03-06 01:24] #1237 closed

[2019-03-06 06:20] riverar opened #1238 "Incorrect rendering of an escaped asterisk within emphasis block"
![image](https://user-images.githubusercontent.com/475132/53860095-b2dc4300-3f94-11e9-9988-ea65283045e6.png)
-- https://docs.microsoft.com/en-us/uwp/winrt-cref/winrt-type-system

Markdown and CommonMark specs seem to agree that backslash escapes should work in this case:
- https://daringfireball.net/projects/markdown/syntax#backslash
- https://spec.commonmark.org/0.28/#backslash-escapes

cc @dend

[2019-03-06 07:47] stillface commented on #1234
for me is not working even I selectes US.
There is a message: "Something went wrong. Please try again later."

[2019-03-06 07:51] stillface commented on #1233
No Works even I selected US. Same message: "Something went wrong. please try again later."

[2019-03-06 07:53] stillface commented on #1223
not working selecting US

[2019-03-06 08:34] AlirezaAlipour opened #1239 "How to give credit to code snippets and larger codes?"
In Microsoft Docs or in some blogs of Microsoft exist code snippets and larger codes__ I don't know how to name it, for [this example](https://docs.microsoft.com/en-us/aspnet/core/razor-components/layouts?view=aspnetcore-3.0) I named it "code snippet" and [this](https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.aescryptoserviceprovider?view=netframework-4.7.2#examples) I nam

[2019-03-06 11:46] mjp100 commented on #1234
Just tried with my personal account, selected UK (since I'm UK based) and did not tick the "I agree" button. It allowed me to register. Looks like there is a bug behind the "I agree" checkbox, and stops the register button from working. Possibly the true/false is the wrong way round in the code behind the page.

[2019-03-06 12:45] stillface commented on #1234
this not Works for me... I tried many country with and without "I agree" checkbox….

[2019-03-06 13:20] paulj199 commented on #1233
Yep..   Same here selecting US doesnt fix, i get the "something wrong" message in chrome and on Safari but dont get it on firefox.

[2019-03-06 15:17] IndustrieInformatik opened #1240 "Visual Studio 2013 Content"
**Link to article:**
https://docs.microsoft.com/en-us/visualstudio/test/writing-unit-tests-for-c-cpp?view=vs-2017

**Problem:**
There is generally no documentation available for Visual Studio 2013 any more. Is there any way to access the Documentation? Currently there is only the Documentation for Visual Studio 2015 and later available.

Best Regards, Markus

[2019-03-06 15:51] MichaelPolla commented on #1042
100% agree! this feature is really lacking in the new docs/learn platform.

Microsoft Virtual Academy video player offers (offered...) this feature:
![image](https://user-images.githubusercontent.com/10487171/53894082-bc66b900-402f-11e9-86b2-32644e08ed84.png)

[2019-03-06 16:38] richardiriwn commented on #1233
Same problem, have been going around in circles on your new partner site for a couple of weeks. - no message, just does nothing Using Edge on Windows 10

[2019-03-06 16:57] knightofelf opened #1241 "not found page link"
https://support.microsoft.com/en-us/kb/291789

[2019-03-06 17:25] OtacilioN commented on #786
Cool, if you folks are hiring software engineer interns, remember to refer me, I will be glad to help you with this issue :laught:

[2019-03-06 20:13] johnnystruck commented on #1020
@hcpcrose In response to your "linking completed courses" : On MVA you are able to download your transcript. Select the Dashboard at the top right of the MVA home page > Scroll down and select the "accomplishments" tab > From here you are able to download the entire transcript or PDFs of each course completion one by one. I am hoping Microsoft will migrate courses and completions from MVA and Cust

[2019-03-06 20:15] johnnystruck commented on #919
To add to @joshuaboys comment. This enhancement is a must for such an "e-learning" site.  Currently to find any in progress courses you must browse all courses from the ML home page or remember each course you are currently working on. From the home page you only can view/access your level (not that it matters) and access to your profile with completed courses  (badges) and completed learning path

[2019-03-06 20:52] #1198 closed

[2019-03-07 01:48] imeya opened #1242 "the powershell cmdlet Get-AzWebAppMetrics failed with bad request"
When I use the cmdlet Get-AzWebAppMetrics, it failed to execute with error message: Get-AzWebAppMetrics : Operation returned an invalid status code 'BadRequest'.

I don't know what's wrong with it. can you please let me know how to correct the error? Thanks.

![error-ps](https://user-images.githubusercontent.com/25738099/53926366-25950d80-40be-11e9-9001-88d63e3907ae.JPG)

[2019-03-07 01:51] DebabrataHowlee opened #1243 "Sentence formation mistake in line "You can will identify the available...""
Below is the link.
https://docs.microsoft.com/en-us/partner-center/faq-about-new-billing-features#annualbillingfaq

![image](https://user-images.githubusercontent.com/12857862/53926460-7e0de000-40a9-11e9-979b-6601cfb060f5.png)

[2019-03-07 05:39] chulup opened #1244 "On page for SECURITY_LOGON_SESSION_DATA structure LOGON_NOT_OPTIMIZED should be LOGON_NO_OPTIMIZED"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/SecMgmt/management-return-values#lsa-policy-function-return-values

**Problem:**
In table for `UserFlags` parameter there is flag `LOGON_NOT_OPTIMIZED` but is is called `LOGON_NO_OPT

[2019-03-07 06:21] dendeli-msft commented on #1243
@MaggiePucciEvans can you please take a look at this issue?

[2019-03-07 06:23] dendeli-msft commented on #1242
Hi @imeya - because this is not a docs.microsoft.com issue, we cannot address the feedback in this repository. Please open the issue in the Azure PowerShell repo: https://github.com/Azure/azure-powershell/.

[2019-03-07 06:23] #1242 closed

[2019-03-07 06:24] dendeli-msft commented on #1241
@knightofelf is this link referenced somewhere on the documentation site (docs.microsoft.com)?

[2019-03-07 06:24] dendeli-msft commented on #1240
@IndustrieInformatik the Visual Studio 2013 content has been archived, and can be found here: https://docs.microsoft.com/en-us/previous-versions/visualstudio/visual-studio-2013/dd831853(v=vs.120)

[2019-03-07 06:24] #1240 closed

[2019-03-07 06:30] dendeli-msft commented on #1239
@AlirezaAlipour the code in each of the repositories is licensed under the license defined in `LICENSE-CODE` file. Please make sure to follow attribution defined in the license for all code snippets that is used from the documentation for projects that are not built for simple educational purposes (e.g. testing an API, building a sample application for yourself).

[2019-03-07 06:30] #1239 closed

[2019-03-07 06:31] dendeli-msft commented on #1238
@cillroy something you can take a look at?

[2019-03-07 06:32] dendeli-msft commented on #1236
Adding @yunyunyunyun to follow-up.

[2019-03-07 06:33] craigg-msft commented on #682
apologies for the delay but we do not monitor this issue area for SQL content, rath the issues in the sql-docs repo.  with that said, product issues can be reported to the engineering team via user voice. https://feedback.azure.com/forums/908035-sql-server #please-close

[2019-03-07 06:35] dendeli-msft commented on #1232
@BrayanKhosravian given that this issue is not related to docs.microsoft.com, we cannot address it in this repository. I would recommend you post this question on a development forum, such as Stack Overflow.

[2019-03-07 06:35] #1232 closed

[2019-03-07 06:36] dendeli-msft commented on #1228
@yunyunyunyun can you please take a look at this issue?

[2019-03-07 06:40] dendeli-msft commented on #1224
@jkarlsso given that this is not directly to docs.microsoft.com, we cannot address this issue in this repository. I would recommend reaching out on the Xamarin Forums regarding your questions on the Xamarin platform: https://forums.xamarin.com/

[2019-03-07 06:40] #1224 closed

[2019-03-07 06:41] dendeli-msft commented on #1223
Duplicate of #1234

[2019-03-07 06:41] #1223 closed

[2019-03-07 06:44] dendeli-msft commented on #1220
Thank you for the feedback! #log-suggestion

[2019-03-07 06:46] dendeli-msft commented on #1219
@rnnds given that this issue is not related to docs.microsoft.com, we cannot address it in this repository. We would recommend visiting the LinkedIn Developer Support pages for more information: https://developer.linkedin.com/support

[2019-03-07 06:46] #1219 closed

[2019-03-07 06:48] dendeli-msft commented on #1215
@nkamadolli - can you please take a look?

[2019-03-07 06:53] dendeli-msft commented on #1214
Adding @jemash to help investigate what happened to the linked content.

[2019-03-07 06:54] dendeli-msft commented on #1212
@cillroy please take a look.

[2019-03-07 06:55] dendeli-msft commented on #1211
@cgranade can you please take a look?

[2019-03-07 06:58] dendeli-msft commented on #1209
@nadotwins can you please re-open this issue here: https://github.com/MicrosoftDocs/azure-docs/issues? Thank you!

[2019-03-07 06:58] #1209 closed

[2019-03-07 07:00] dendeli-msft commented on #1208
@sptramer can you please take a look?

[2019-03-07 07:01] #1199 closed

[2019-03-07 07:01] #1197 closed

[2019-03-07 07:02] #1169 closed

[2019-03-07 07:03] dendeli-msft commented on #1176
@tb-mtg the layout source code is not currently available to the public. However, you can check out the open-source engine that powers docs.microsoft.com - [DocFX](https://dotnet.github.io/docfx/). It has a basic layout that shares some of the fundamental UX behaviors with what you see on our site.

[2019-03-07 07:03] #1176 closed

[2019-03-07 07:05] dendeli-msft commented on #1188
Thank you for the feedback! We are working on ensuring that you can always find the most relevant and interesting learning resources on [Microsoft Learn](https://docs.microsoft.com/learn). Let us know what you think about the new site!

[2019-03-07 07:05] #1188 closed

[2019-03-07 07:06] dendeli-msft commented on #1185
@cillroy to check, as the PM driving PDF experiences on docs.microsoft.com.

[2019-03-07 07:08] #1076 closed

[2019-03-07 07:09] dendeli-msft commented on #930
This is now resolved, and the documentation shows up correctly.

[2019-03-07 07:09] #930 closed

[2019-03-07 07:14] dendeli-msft commented on #515
Looks like this page is no longer available. @RobCannon - can you update this issue with the link to the page that you intended to use "Try It" on?

[2019-03-07 07:17] dendeli-msft commented on #922
@chungsu we have determined that the current implementation of the "Try It" experience on docs does not support custom base URLs. We are working with the team to add support for such capabilities in the future.

[2019-03-07 07:18] dendeli-msft commented on #809
This is already resolved 😄 Thank you for the feedback @johnduhart!

[2019-03-07 07:18] #809 closed

[2019-03-07 07:19] dendeli-msft commented on #559
This has been addressed.

[2019-03-07 07:19] #559 closed

[2019-03-07 08:31] tshas3 commented on #1228
Hi @sudeepku , I haven't tried this senario in any other browser rather than Google Chrome, The browser seems to be up-to-date and all the fearures are enabled on it..
You may reach me out if in case you want me to perform any other senario on regarding this, Will be more than happy to Help you.. :)

[2019-03-07 11:48] RobCannon commented on #515
It looks like the "Try It" feature is no longer in docs.  Sorry to see it go, it would have been useful. I guess I will close the issue.

[2019-03-07 11:48] #515 closed

[2019-03-07 13:58] ChristianRytt commented on #1222
The invoicing customer have to originate from Sales for the invoice to be included in the synchronization. In Finance and Operations, the InvoiceCustomerIsExternallyMaintained field is used to filter invoices from the data entities.

[2019-03-07 14:01] guardrex opened #1245 "Content feedback system failure"
**Describe the bug**
Using the **Content feedback** button to leave feedback freezes the page when providing content in the feedback form.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any aspnet/Docs topic. For example: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/startup?view=aspnetcore-2.2
2. Click on **Content feedback** in the *Feedback* section at the bottom of the

[2019-03-07 17:06] rothja commented on #1210
@yassine1616 Hi. I assume you are talking about these diagrams:
![image](https://user-images.githubusercontent.com/1580454/53974704-23887a00-40d1-11e9-8d27-63472ed73fc7.png)

I do see that we are missing VLF 5 in the second diagram. I believe if we added that to the second diagram (and add it filled up before wrapping around to the beginning, that this would fix the problem you're seeing? Let me k

[2019-03-07 17:08] MashaMSFT commented on #1201
Hi @Hoxni , thanks for your feedback! Sorry, would you mind clarifying what you mean by "not highlighted"? Are you referring to the color of the text, in that it's gray, and not multi-colored like typical T-SQL text, or am I misunderstanding something? Thanks!

[2019-03-07 17:52] saldana commented on #1186
Thank you @HansOMartinsen for the feedback. We are planning to have that capability really soon. I will let you know when it is available.

[2019-03-07 17:54] saldana commented on #1225
@dastaffo can you please address this feedback?

[2019-03-07 17:55] saldana commented on #1233
@jialge please take a look and review the feedback from this customer. Thanks.

[2019-03-07 18:13] Hoxni commented on #1201
Yes, it's about colour of the text

[2019-03-07 18:19] MashaMSFT commented on #1201
Hi @Hoxni , thanks for bringing this to our attention! Did you know you could modify the text yourself? You can find more information here: http://aka.ms/editsqldocs but basically, you just need to select the "edit" button at the top right of the document, and then select the pencil icon to edit the text. . If you do so, you'll be listed as a contributor to the documentation. It's actually a prett

[2019-03-07 23:01] Sean84 commented on #1114
Im having the same issue

[2019-03-07 23:22] mairaw commented on #1041
I think this has been fixed. Can you confirm @gclarkii?

[2019-03-07 23:24] mairaw commented on #927
@dendeli-msft have we logged an internal tracking work for this one?

This is also been mentioned on this Developer community issue: https://developercommunity.visualstudio.com/content/problem/346414/why-are-so-many-documentation-pages-for-vs-2017-mi.html

[2019-03-07 23:31] mairaw commented on #927
Also, we might need to log different suggestions given this issue has multiple problems.

[2019-03-07 23:41] Twoleeland opened #1246 ""docs/previous versions" menu on the left is missing"
It would be nice if also documentation of previous versions had a menu on the left.
See: [ASP.NET Web Application Security](https://docs.microsoft.com/en-us/previous-versions/330a99hc%28v%3dvs.140%29#reference) --> menu on the left missing.

Such "out-of-life-cycle"-docs are often life-savers, because not everyone uses the most up-to-date technologies. You often have to work with these "old" techn

[2019-03-08 02:38] YehezkielSaputra opened #1247 "Handle user actions"
Please follow this link on BotBuilder v3 as reference
https://docs.microsoft.com/en-us/azure/bot-service/nodejs/bot-builder-nodejs-dialog-actions?view=azure-bot-service-3.0

I need feature for handling user actions such as triggerAction, customAction, beginDialogAction, etc.

How to implement this feature that already exist in Botbuilder v3 to BotBuilder v4?

Why this good feature in BotBuilder v3

[2019-03-08 03:50] mairaw commented on #1246
@Jemash @kexugit @sudeepku this is something I was going to bring up to you after we're done with the first wave of migrations. Topics that were not in TOC land on a very bare bones page.
If a previous version existed, I'd prefer if the not in TOC page got removed and actually the page redirected to a previous version. In this case: https://docs.microsoft.com/en-us/previous-versions/aspnet/330a99h

[2019-03-08 04:00] mairaw commented on #314
From all the customer suggestions we have at the moment, this one would be the one I'd rank the highest from our backlog. As you can see, we keep resolving feedback items as a duplicate of this one.

@dendeli-msft @rloutlaw

[2019-03-08 05:44] dtaflin opened #1248 "Formulas not rendering anymore on Quantum Computing pages"
**Describe the bug**
*This is a new issue that only showed up today* When viewing any of the Quantum Computing Concepts pages, e.g. https://docs.microsoft.com/en-us/quantum/concepts/circuits?view=qsharp-preview, the formulas, matrixes, etc. are not rendering, but instead look like raw TeX. I suspect MathJax.js isn't kicking in. Example:
`$$\mathrm{CNOT}_{01}(H\otimes 1)|00\rangle = \frac{1}{\sqrt{

[2019-03-08 17:18] yassine1616 commented on #1210
Hi,
First of all thank you. Your reply is very helpful.
Indeed the missed part what confused me.

[2019-03-08 21:34] gewarren commented on #637
Ironic choice of class name for your example :)

[2019-03-08 21:55] markclanfalconer commented on #1233
I am getting the same

Examining traffic I see

`
Request URL: https://docs.microsoft.com/api/profiles
Request method: OPTIONS
Remote address: 2.20.37.130:443
Status code: 403 Forbidden
Version: HTTP/2.0
Referrer Policy: no-referrer-when-downgrade

REQUEST HEADERS
Accept: text/html,application/xhtml+xm…ml;q=0.9,image/webp,*/*;q=0.8
Accept-Encoding: gzip, deflate, br
Accept-Language: en-US,en;q=0.5

[2019-03-08 23:26] sudeepku commented on #1248
@dtaflin . Thanks for your feedback. The issue is fixed.
![image](https://user-images.githubusercontent.com/16726119/54061625-856edf80-41b6-11e9-97c9-f537b0d69b45.png)

[2019-03-08 23:26] #1248 closed

[2019-03-09 09:10] goldenskygiang opened #1249 "Wrong Vietnam country name in TechProfile Register page"
This is Viet**nam**, the country of rice farmers. I don't know such country named Viet**man**. Please take a look at this issue.
![Screenshot (22)_LI](https://user-images.githubusercontent.com/10509643/54069019-9d616480-4285-11e9-9d5b-1ca02b3e544f.jpg)
Link: https://techprofile.microsoft.com/en-us/register

[2019-03-09 11:59] saeedlabs commented on #1233
can confirm this worked for me too.

Leaving country blank did not work. Tested on both edge and chrome.

[2019-03-09 14:48] lsmith999999 opened #1250 ""Return Value" section broken under various MSI functions"
H there,

Just letting you know that the "Return Value" section is broken (missing the actual return values) under multiple MSI functions, such as:

**MsiOpenDatabaseW**
https://docs.microsoft.com/en-us/windows/desktop/api/msiquery/nf-msiquery-msiopendatabasew

and

**MsiDatabaseCommit**
https://docs.microsoft.com/en-us/windows/desktop/api/msiquery/nf-msiquery-msidatabasecommit

and

**MsiRecordGe

[2019-03-09 16:16] doctordns commented on #927
I'd just like to chip in here. I'd like to see more PowerShell code samples in the .NET API documentation. IT Pros do sometimes need/want to dip down into .NET to do useful things. From that perspective, when I come to a page that has a PowerShell code sample, I'd like it to behave like others = If I click the C# tab I shouldn't see the PowerShell tab.

[2019-03-09 16:46] Paul-Hadfield commented on #1122
Yep, looks like this is still ongoing.  Can't proceed, Chrome doesn't give any error message, firefox/edge show the something went wrong....

[2019-03-09 18:45] #1245 closed

[2019-03-09 22:28] stevenbrix opened #1251 "Xamarin.Forms documentation confusion"
**Describe the bug**
Documentation is confusing and provided too much of a mental barrier that developers need to overcome just to learn about our product.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/xamarin/
2. Click on "Xamarin.Forms" tab
3. You are taken to https://docs.microsoft.com/en-us/xamarin/#pivot=xamarin-forms

**Expected behavior**
This