[2021-01-13 21:21] justwannareportanissue opened #3384 "PE archive 'longnames' member information is inconsistent."
https://docs.microsoft.com/en-us/windows/win32/debug/pe-format#archive-library-file-format

When describing archive member headers and contents of name fields:

"The longnames member is the third archive member and must always be present even if the contents are empty. "

Then when describing the longnames member:

"The longnames member is optional. It can be empty with only a header, or it can be

[2021-01-14 01:06] jffriend commented on #1988
This is now fixed. Ctrl + click works on the TOC.

[2021-01-14 05:55] i-annax opened #3385 "The release date of Visual Studio 2019 version 16.8.4 is incorrect."
Hi,

In the document:
https://docs.microsoft.com/en-us/visualstudio/releases/2019/release-notes#visual-studio-2019-version-168-releases

The release date of Visual Studio 2019 version 16.8.4 is incorrect, it should be January 12, 2021. Please correct it.

Thanks.

[2021-01-14 07:59] masterbw commented on #3379
I ran into the same issue too and had to revert back to 2.2.

[2021-01-14 08:45] izmir777 opened #3386 "TECHNET MICROSOFT problem"
[](url)
![007](https://user-images.githubusercontent.com/77434781/104565762-345b8c80-5666-11eb-8a75-494f1ff5de42.png)
I cant reply the question in forum.Please give me access. My status is MCP | MCT | MCSA | MCSE | MCEAE | MCSAA | MCAAA | MCASEA | MCAAEA | MCASAE | MCTAA | HCSA | HCSA-NonCCTV | UEWA | RPA | PCNSA | PCNSE.
I want part in forum and answer the question of people.The are drawn castle,

[2021-01-14 15:19] saurabh-biradar commented on #3342
Can I fix this issue

[2021-01-14 15:21] saurabh-biradar commented on #3385
Can I fix this issue

[2021-01-14 15:25] saurabh-biradar commented on #3371
Can I fix this issue

[2021-01-14 16:35] jasontenpenny commented on #3214
I've had the same issues. Sometimes, a simple refresh will get it straightened out, but other times it stays in high contrast. But then I can open up a separate Microsoft Docs page, and that one displays normally. I'm running Edge on Mac, at least primarily.

[2021-01-15 01:55] gewarren commented on #3386
I believe that all English TechNet blogs are now read only. See https://docs.microsoft.com/en-us/teamblog/msdn-technet-english-forums-closure. cc @saldana

[2021-01-15 01:55] gewarren commented on #3385
@JacquelineWiddis Can you fix this?

[2021-01-15 02:07] gewarren commented on #3383
@maggiesMSFT Can you look at this issue?

[2021-01-15 02:09] we1are1adc opened #3387 "cntk2.3_py3.5 linux whl cannot download correctly,the link has some issue,when i use pip install <link>,it tips it`s a bad zip file"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-01-15 02:21] maggiesMSFT commented on #3383
Hi, @AUT-sjho -- Thanks for asking! That certainly was the way the product was working. I'll check to see if something has changed.

[2021-01-15 02:21] gewarren commented on #3381
@HeidiSteen Could you look at this issue?

[2021-01-15 02:24] gewarren commented on #3378
Translates to "App photos I'm not used to, why icons are uniform do not display photos of the pattern".

@manju-345 Which page are you referring to on docs?

[2021-01-15 02:28] gewarren commented on #3376
@markjjo Can you take a look or transfer the issue to https://github.com/MicrosoftDocs/microsoft-365-docs?

[2021-01-15 02:30] gewarren commented on #3375
Translates as "When you hide a file, it is not visible within the file, but exiting the file on will show you a thumbnail of the hidden item. Watch my video".

[2021-01-15 02:31] AUT-sjho commented on #3383
@maggiesMSFT no, definitely new workspaces, you could have a look at Case ID 120072624000614 in Power BI support for more refrence to the misleading information. I thought the documentation would have been changed by now though. We initially thought that viewers would be able to view all shared content on all platforms(web, app, desktop app) but that wasn't the case and the conclusion was that thi

[2021-01-15 02:31] gewarren commented on #3371
cc @ramakoni1

[2021-01-15 02:35] gewarren commented on #3369
@kexugit Can you help route this issue?

[2021-01-15 04:29] JacquelineWiddis commented on #3385
Fixed.  #please-close

[2021-01-15 04:29] #3385 closed

[2021-01-15 05:04] HeidiSteen commented on #3381
Thanks @gewarren for the heads up about this issue!  @mosolano, there are no limits on the number of requests you can send.  All of the subscription service limits are documented in this article:  https://docs.microsoft.com/en-us/azure/search/search-limits-quotas-capacity

Please reply back if this doc doesn't answer your question.  If you believe your issue is addressed, could you please close th

[2021-01-15 05:08] to-ogawa opened #3388 "Access permissions when retrieving servicePrincipal."
There seems to be missing information about the following documents.
https://docs.microsoft.com/en-us/graph/api/serviceprincipal-get?view=graph-rest-1.0&tabs=http#permissions
===== Excerpt ↓=====
One of the following permissions is required to call this API. To learn more, including how to choose permissions, see Permissions.
===== Excerpt ↑=====
The documentation describes it as above.

In additi

[2021-01-15 07:03] saurabh-biradar commented on #3371
Assign this issue to me I will fix it

[2021-01-15 08:17] Azrielsetiyadi opened #3389 "secure@microsoft.com"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-01-15 08:19] Azrielsetiyadi opened #3390 "example@zoom.us"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-01-15 18:15] gewarren commented on #3361
@EliotSeattle Can you take a look?

[2021-01-15 18:19] gewarren commented on #3360
@nebb9 Thanks for letting us know!

[2021-01-15 18:21] gewarren commented on #3355
@MicrosoftDocs/uwp-writing-team Can you take a look?

[2021-01-15 18:24] gewarren commented on #3350
@kendaleiv Thanks for noting this. Looks like there are a whole bunch of them that should be improved - https://docs.microsoft.com/en-us/samples/browse/?terms=official.

[2021-01-15 18:30] gewarren commented on #3347
@drewbatgit Can you take a look?

[2021-01-15 18:37] drewbatgit commented on #3347
Though the scope of our feedback channel here on GitHub covers specific documentation fixes, I can help redirect you to the right support channel to get an answer to your question. The community of experts and Microsoft Engineers over at [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/topics/windows-uwp.html) offer timely answers to a multitude of technical questions surrounding windows-u

[2021-01-15 18:37] #3347 closed

[2021-01-15 18:54] gewarren commented on #3389
If you have specific feedback, please log a new issue.

[2021-01-15 18:54] #3389 closed

[2021-01-15 18:54] gewarren commented on #3390
If you have specific feedback, please open a new issue.

[2021-01-15 18:54] #3390 closed

[2021-01-15 18:57] saldana commented on #3386
@izmir777 yes, all the English forums are now read only. You can participate in [Microsoft Q&A now](https://docs.microsoft.com/answers).

Thank you @gewarren for the ping and the link to our blog post!

[2021-01-15 18:57] #3386 closed

[2021-01-15 19:06] EliotSeattle commented on #3361
I corrected the code snippet in the en-us version.
PR= https://github.com/MicrosoftDocs/commercialization-docs-pr/pull/436
Verified in review. Will automatically build to Live branch overnight.

[2021-01-15 19:42] markjjo commented on #3376
@gewarren Fixed. Updated https://go.microsoft.com/fwlink/?linkid=854401

[2021-01-15 19:44] #3376 closed

[2021-01-15 19:44] gewarren commented on #3376
Thank you Mark!

[2021-01-15 20:00] forozco1 opened #3391 "Microsoft Operating system 12 option to mass convert mass files to e.g. word or excel"
Wish we have the option to easily future convert mass files (e.g. pdf) into mass files (e.g. word).  instead alternative we could convert on a single unit by single unit conversion.

[2021-01-16 01:09] maggiesMSFT commented on #3383
Hi, @AUT-sjho -- here's what I've found out so far. The docs are correct as is, so:
"Sounds like a bug if it really is a user who has viewer role and not any other role. Remember that users may get roles through security groups."
I'll let you know if I hear more.
Thanks!

[2021-01-16 02:38] #2311 closed

[2021-01-16 04:11] izmir777 commented on #3386
Thank u very much.

пт, 15 янв. 2021 г. в 22:57, Sandra Aldana <notifications@github.com>:

[2021-01-16 22:00] rdalkire opened #3392 "Sort and Filter Achievements"
I like to print the trophy and badges associated with a course when I've completed it; I cut them out and tape them to a wall for motivation.  When they were sorted in chronological order, I was able to do this by printing the last couple of pages.  Now the sorting has changed -- Trophies are now alphabetical but I don't even know how the badges are sorted -- , so I would have to print everything

[2021-01-16 22:47] jeland opened #3393 "Windows 10 Insider Preview 21292.1000 (rs_prerelease) Successfully installed on ‎1/‎16/‎2021"
**Describe the bug**
Opening Microsoft Solitaire  locks up os on computer that only can be cleared by cycling power on computer and never opening Microsoft Solitaire again.

**To Reproduce**
Steps to reproduce the behavior:
1. Power on computer and logon.
2. Click on 'Microsoft Solitaire'
3. Can't close app, or do anything on the computer except power cycling and wait for it to come back up.
4. NE

[2021-01-17 17:00] airglow923 opened #3394 "Faulty hyperlink in open specifications for MS-DOC"
**Describe the bug**
A clear and concise description of what the bug is.

An article of the open specifications of MS-DOC contains a faulty hyperlink.

Previously submitted [here](https://docs.microsoft.com/en-us/answers/questions/233460/faulty-hyperlink-in-open-specifications-for-ms-doc.html?childToView=233571#answer-233571).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://doc

[2021-01-18 06:24] 18306873504 opened #3395 "todoTask revokeSignInSessions 访问不通"
https://graph.microsoft.com/v1.0/me/revokeSignInSessions
Authorization:token
Content-Type:  application/json
接口访问不通
返回值为：
{
  "error": {
    "code": "",
    "message": "No HTTP resource was found that matches the request URI 'https://outlook.office365.com:444/profile/v1.0/users('CID:fbae5c7dcc60d845')/profile/revokeSignInSessions?api-version=AGSV1-internal'.",
    "innerError": {
      "date": "20

[2021-01-18 17:46] serverless-me opened #3396 "Commercial marketplace certification policies: 'Publisher Attestation' is missing in table of contents"
**Describe the bug**
Item "1140.6 Publisher Attestation" is missing in table of contents of "Commercial marketplace certification policies"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/en-us/legal/marketplace/certification-policies'
2. Scroll down to 'Teams'
3. See that the item is not in the table of contents
4. Click on 'Teams'
5. Scroll down to 1140.6

[2021-01-19 07:15] #3387 closed

[2021-01-19 12:00] #2940 closed

[2021-01-19 19:13] elfordINTC opened #3397 "Bad link in article at https://docs.microsoft.com/en-us/windows/win32/procthread/processor-groups"
**Describe the bug**
The article at https://docs.microsoft.com/en-us/windows/win32/procthread/processor-groups includes text of the form:
_For a discussion of operating system architecture changes to support more than 64 processors, see the white paper [Supporting Systems That Have More Than 64 Processors](https://www.microsoft.com/whdc/system/Sysinternals/MoreThan64proc.mspx)._
However that page

[2021-01-19 20:13] Josue863 opened #3398 "Help"
Okay so I got a few MOS and a MTA certification through certiport and I am trying to access it on the Microsoft certification site but I am having issues and every time I try it I keep getting an error message and says they block me.

[2021-01-19 23:52] kexugit commented on #3369
I don't believe the banner "adds nothing". It tells users about the status of the archived content. But I do understand the desire to be able to dismiss it. A new banner feature which allows dismissing the banner will be deployed to the archived content in a couple of months.

[2021-01-20 02:36] andreyfedorinin opened #3399 "Many missing articles about data structures, functions and so on."
Many missing articles about data structures, functions and so on.
For example:

- https://docs.microsoft.com/en-us/windows-hardware/drivers/ddi/wdm/ns-wdm-_device_object
- https://docs.microsoft.com/en-us/windows-hardware/drivers/ddi/ntifs/ns-ntifs-_fsrtl_advanced_fcb_header
- https://docs.microsoft.com/en-us/windows-hardware/drivers/ddi/fltkernel/ns-fltkernel-_flt_parameters

There're dozens of o

[2021-01-20 09:01] hyoshioka0128 opened #3400 "Typo "** AutomaticByPlatform**"→"**AutomaticByPlatform**""
**Link to article:**
 Tell us where exactly a problem occurs.
 "https://docs.microsoft.com/en-us/azure/templates/microsoft.compute/virtualmachinescalesets"

![virtualmachinescalesets](https://user-images.githubusercontent.com/40815708/105151631-865e4f80-5b49-11eb-8f71-1b29f4c16d9c.png)

**Problem:**
What's wrong with the article?
 Typo "** AutomaticByPlatform**"→"**AutomaticByPlatform**"

[2021-01-20 10:52] #3399 closed

[2021-01-20 10:52] andreyfedorinin commented on #3399
Seems to be fixed now.

[2021-01-20 15:29] jwshive opened #3401 "Please add URL Parameter to Price Sheet Consumption API to allow for filtering by region or country."
**Is your feature request related to a problem? Please describe.**
There are currently 159723 individual items in the pricesheet api [details here](https://docs.microsoft.com/en-us/rest/api/consumption/pricesheet/get). I do work for goventment entities and we will not be utilizing non-US regions for our work. It's frustrating to have to filter through 160k entries to pull items out of us east or w

[2021-01-20 18:52] ryanhofdotgov opened #3402 "OpenIdConnect API docs are missing for ASP.NET Core 3.1"
**Describe the bug**
The `Microsoft.AspNetCore.Authentication.OpenIdConnect` namespace is missing from the ASP.NET Core 3.1 documentation, as viewed in the [.NET API browser](https://docs.microsoft.com/en-us/dotnet/api/?view=aspnetcore-3.1).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/dotnet/api/?view=aspnetcore-3.1
2. Search for `OpenIdConnectHandl

[2021-01-21 03:00] ryanfog opened #3403 "Exchange Build Numbers is missing Exchange 2010 SP3 RU31"
The Exchange Build numbers page listed below is missing the info on Exchange 2010 SP3 RU31
https://docs.microsoft.com/en-us/exchange/new-features/build-numbers-and-release-dates?view=exchserver-2019#exchange-server-2010

The download for Exchange 2010 SP3 RU31 is located here
https://www.microsoft.com/en-us/download/details.aspx?id=102519

[2021-01-22 00:47] RickAndMSFT commented on #2515
It is in Spanish, via the `/es-es/`

[2021-01-22 03:32] kylemanel opened #3404 "Why in all that is holy is the TechNet site requesting a product name to provide necessary feedback?"
Why does this site not work when I select 'English (United States);
https://social.technet.microsoft.com/Forums/en-us/newthread?prof=required

When I select 'English (United States)' The 'Forum category' selections disappear, and when I make any other selection, they reappear.

I select 'English (United States)'.

On clicking the 'Submit' button an asterisk appears with the message 'Please select

[2021-01-22 03:32] RobertAlanGustafsonII opened #3405 "How do I determine if an SMTP Server supports StartTLS?"
**WHAT I HAVE:**
Visual Basic 2019, .NET 4.6.1, WinForms

**MY PROBLEM:**
I am using *SmtpClient* to send emails, and the documentation says that if *EnableSsl* is True when the server doesn't advertise *StartTLS*, an *SmtpException* is thrown. I'd like to handle that scenario intelligently.

 1. What is the *StatusCode* property value for when a send fails for that specific reason? The help info

[2021-01-22 05:33] Ray-Wynn opened #3406 "null string handling difference between NET Core and NET 5.0"
parameter null character as string ("\0") allowed in NET Core but not in NET 5.0 as shown below.
``
static void Main(string[] args)
        {
            byte[] testBytes = { 0x41, 0x42, 0x43, 0x0, 0x0, 0x0, 0x0, 0x0 }; // ABC\0\0\0\0\0
            string testString = Encoding.ASCII.GetString(testBytes);

            int ns = testString.IndexOf("\0");  // .Net Core 3.x = 3 - .Net 5.0 = 0

[2021-01-22 12:36] jwshive commented on #3401
More specifically I'd like to be able to do:
?geographyGroup=US or ?geographyGroup='Asia Pacific'
or
?name=eastus,westus2,westeurope

Something along those lines using the keys from the location api.

[2021-01-22 15:17] IEvangelist opened #3407 "Consider having some sort of notifier when files referenced by lines are modified"
---
**Issue moved from dotnet/docs#22442**
- Please respond to @Youssef1313.

---

_From @Youssef1313 on Thursday, January 21, 2021 10:37:28 AM_

Currently, there are *access-by-line.txt* files for code files that are referenced by line. But they don't add that much value IMO.

- It's not guaranteed they are up-to-date, and most likely they are currently not up-to-date.
- When files are modified,

[2021-01-22 15:17] IEvangelist commented on #3407
---
**Issue moved from dotnet/docs#22442**
- Please respond to @BillWagner.

---

_From @BillWagner on Friday, January 22, 2021 2:34:07 PM_

We agree @Youssef1313 I'll move this to the correct repo to have this addressed by our site team.

[2021-01-22 18:47] thornsberrysara opened #3408 "Typo in Documentation"
**Problem:** Spacing issue in the following documentation:
https://docs.microsoft.com/en-us/powershell/scripting/dsc/resources/resources?view=powershell-7.1

In the 'Types of Resources' section, there is a missing space between words.

<img width="789" alt="microsoft-bug-screenshot" src="https://user-images.githubusercontent.com/40149173/105531753-ccd1bc80-5cb7-11eb-86a6-35bafbf3bf07.png">

<br>

[2021-01-22 18:50] pressacco commented on #1361
@rloutlaw  Yes `IOException` is listed.
- Unfortunately the sample error
   - > path is a filename
- is very different from what I experienced:
   - > The process cannot access the file 'C:\Directory\PathHere' because it is being used by another process.

It might be worth mentioning in the documentation... or not.

[2021-01-22 20:19] engfob opened #3409 "How to: Restore to a Point in Time - Recommended Version link entirely un-helpful"
Starting at https://docs.microsoft.com/en-us/previous-versions/sql/sql-server-2008-r2/ms190982(v=sql.105)?redirectedfrom=MSDN and clicking on **Recommended Version link** brings user to list of generic high level links: https://docs.microsoft.com/en-us/sql/?view=sql-server-ver15.

Same is true for  Recommended Version links in pages having same banner at top starting with: "This content has been r

[2021-01-22 21:00] foobar-1024 opened #3410 "Links to mscat functions broken"
**Describe the bug**
A lot of existing pages link to mscat functions are all broken.
E.g. https://docs.microsoft.com/en-us/windows/win32/api/mscat/

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/windows-hardware/drivers/install/installing-a-catalog-file-by-using-cryptcatadminaddcatalog
2. Click on any of the "CryptCATAdminXxx" functions
3. See a page n

[2021-01-22 21:14] johndog commented on #3410
All Win32 docs seem to be missing.  Another example:

https://docs.microsoft.com/en-us/windows/desktop/api/handleapi/nf-handleapi-closehandle

Serious problem, probably higher than Pri3

[2021-01-22 21:40] StoyanChalakov opened #3411 "Improving the content of the console-level changes, required to use group gMSAs in System Center 2019 Operations Manager"
**Is your feature request related to a problem? Please describe.**
This is a request to correct/update certain guide, related to System Center 2019 Operations Manager (SCOM) and in particular Changing the normal service accounts to gMSA (Group Managed Service Accounts). The guide is missing an important step, related to setting important permissions for the accounts in question. If this step is no

[2021-01-22 21:54] StoyanChalakov opened #3412 "Updating the content of an article related to System Center 2019 Operations Manager"
**Is your feature request related to a problem? Please describe.**
This is a request to correct/update a very important article. related to System Center 2019 Operations Manager. The MS Docs article:

**Planning a Management Group Design**
https://docs.microsoft.com/en-us/system-center/scom/plan-mgmt-group-design?view=sc-om-2019

which is essential for all new SCOM users, mentions a technology/pro

[2021-01-22 23:32] JasonWHowell commented on #3408
@sdwheeler Maybe you have access to this file or know who does to fix the spacing issue.

[2021-01-22 23:33] JasonWHowell commented on #3410
@mcleanbyron do you know who could help fix the broken link/ redirects to the right docs?

[2021-01-22 23:36] JasonWHowell commented on #3409
The right link maybe https://docs.microsoft.com/sql/relational-databases/backup-restore/restore-a-sql-server-database-to-a-point-in-time-full-recovery-model?view=sql-server-ver15

@markingmyname @rothja Maybe you could see if this is fixable with a redirect or something.
![image](https://user-images.githubusercontent.com/5067358/105560036-9865fc80-5cc7-11eb-9af4-4d745f164fca.png)

[2021-01-22 23:40] JasonWHowell commented on #3404
The technet forums site is being migrated over to the new Q&A site.

What forum are you looking for? Odds are there's a tag in this site for that subject matter:

https://docs.microsoft.com/answers/products/

[2021-01-22 23:41] JasonWHowell commented on #3403
@msdmaguire this is for a page you are an author on. Please take a look. Thanks

[2021-01-22 23:46] JasonWHowell commented on #3400
@tfitzmac could you take a look?

[2021-01-22 23:49] JasonWHowell commented on #3396
@anbene @emuench Could you please see if this an easy fix to the top of file TOC on this legal page?

[2021-01-22 23:50] JasonWHowell commented on #3394
@openspecs-office @CindySomer could you please take a look at this feedback.

[2021-01-22 23:52] JasonWHowell commented on #3393
@jeland I think the best place to give Windows Insider preview feedback is on their system here https://aka.ms/WIPFeedbackHub/

The docs folks don't have a good way to send it over to them. Thanks for your understand. #please-close

[2021-01-22 23:52] #3393 closed

[2021-01-22 23:55] JasonWHowell commented on #3391
@forozco1 great idea! Please track it here in the user voice system so you can socialize it and get votes: https://office365.uservoice.com/search?filter=ideas&query=pdf%20conversion

Apparently, others have been discussing this idea as well. Some suggest Acrobat Pro has a feature called Action Wizard. https://community.adobe.com/t5/acrobat/how-do-i-convert-multiple-pdf-to-word-documents/td-p/92623

[2021-01-22 23:55] #3391 closed

[2021-01-22 23:56] JasonWHowell commented on #3388
@sureshja please take a look at this feedback for a page you are an author on. Thanks!

[2021-01-23 00:17] David-Zhiyuan-Zhu opened #3413 "https://docs.microsoft.com/en-us/windows/win32/api/synchapi/nf-synchapi-waitforsingleobject broken"
The pages of synchapi APIs are missing, such as this page for Waitforsingleobject API.

[2021-01-23 00:20] JasonWHowell commented on #3381
Feel free to reopen if the issue isn't resolved.
#please-close

[2021-01-23 00:20] #3381 closed

[2021-01-23 00:21] JasonWHowell commented on #3382
@ariesch you are an author on the page that has the feedback here. Please take a look if you can. Thanks!

[2021-01-23 00:34] tyglander opened #3414 "When using darktheme https://docs.microsoft.com/en-us/windows/release-information headlines are illegible"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/en-us/windows/release-information/?source=docs'
2. Click on 'select Theme -> Dark'
3. Scroll down to 'Release history'
4. Notice all headings are the same color as they would be if it was light thing.  Black on a Darkgrey background is ver

[2021-01-23 00:50] mcleanbyron commented on #3410
Thanks for reporting this issue. My team is investigating. At this point, it does not appear to be all Win32 docs - I just spot-checked a few other areas such as https://docs.microsoft.com/en-us/windows/win32/api/winuser/nf-winuser-callwindowproca and https://docs.microsoft.com/en-us/windows/win32/api/fileapi/nf-fileapi-getcompressedfilesizea, and those are working.

[2021-01-23 00:57] JasonWHowell commented on #3348
@mcleanbyron I can't find this Win32 page at the moment. The original issue was PDF build is incomplete.

[2021-01-23 01:24] afilenkov opened #3415 "https://docs.microsoft.com/en-us/windows/win32/api/threadpoolapiset/nf-threadpoolapiset-setthreadpooltimer broken"
Page is shown is search results but points to 404

[2021-01-23 01:46] sdwheeler commented on #3408
Copied issue to https://github.com/MicrosoftDocs/PowerShell-Docs/issues/7164.

#please-close

[2021-01-23 01:46] #3408 closed

[2021-01-23 10:57] robertsundstrom opened #3416 "Class docs - Provide link to source code on GitHub"
As a developer, when viewing the docs for a particular class, I would like to find the source code on GitHub, so that I can easily learn more about the inner workings of the code.

A link to the source file on GitHub.

[2021-01-24 06:15] Lingggao opened #3417 "There is a severe error in the Chinese machine translation of the Windows Insider Program glossary documentation."
**Describe the bug**

There is a severe error in the Chinese machine translation of the Windows Insider Program glossary documentation.

**To Reproduce**

Go to [https://docs.microsoft.com/zh-cn/windows-insider/glossary](https://docs.microsoft.com/zh-cn/windows-insider/glossary) website.

**Expected behavior**

The Chinese translation in this page has a lot of errors. For example, the word Badges

[2021-01-25 10:43] IvanKondral opened #3418 "Sql script is incorrect in tutorial"
**Describe the bug**
https://docs.microsoft.com/en-us/sql/integration-services/lesson-1-6-adding-and-configuring-the-lookup-transformations?view=sql-server-ver15
There is a wrong sql query that uses Sales.Currency which has not been described before.
Also in downloaded lesson 1 result this query is different

[2021-01-25 15:43] h110m opened #3419 "createLink endpoint doesnt work as descriped in the documentation!"
**Describe the bug**
If i use the createLink endpoint for drive items (for example '/drives/{driveID}/items/{itemsID}/createLink') with the password flag set in the body of the post request it gives me a invalid request every time (scope and type doesnt matter). I tested this with c# and the graph explorer.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://developer.microsoft.co

[2021-01-25 16:03] rothja commented on #3409
#assign:rothja

[2021-01-25 16:35] mcleanbyron commented on #3410
This issue has been resolved. There was a site engineering issue that took down a portion of our Win32 API docs on Friday afternoon, but this was resolved Friday evening.

[2021-01-25 17:03] CindySomer commented on #3394
Thank you @airglow923 and @JasonWHowell for pointing this out. I will look into why this particular stretch of text is appearing as hot. Just fyi, the link to section 2.3.7.4 in [MS-OFFCRYPTO] immediately following does point the section titled Binary Document Password Verifier Derivation Method 2.

[2021-01-25 17:16] mcleanbyron commented on #3410
#please-close

[2021-01-25 17:16] #3410 closed

[2021-01-26 13:27] Huendli33 opened #3420 "Local Admin, Flash for Online Exams"
**Describe the bug**
https://docs.microsoft.com/en-us/learn/certifications/online-exams
Still does mention Flash Player as required (retired at the end of last year)
Also, Microsoft always propagates that users shouldn't work with local admin rights, but it is required for taking Microsoft online exams - bad example and doesn't make sense!
Therefore I urge you to clean up your stuff.

**To Reprodu

[2021-01-26 14:00] GSYankov opened #3421 "Typo in a URL"
**Describe the bug**
A clear and concise description of what the bug is.
Wrong URL at https://docs.microsoft.com/en-us/rest/api/azure/devops/notification/subscriptions/create?view=azure-devops-rest-6.0#create-a-personal-subscription.
See: POST https:/.dev.azure.com/fabrikam/_apis/notification/subscriptions?api-version=6.0
Should be: https://{service}.dev.azure.com/fabrikam/_apis/notification/subsc

[2021-01-26 15:11] airglow923 commented on #3394
Thank you @CindySomer for letting me know that the subsequent hyperlink provides a valid entry to what I was looking for.

[2021-01-26 19:32] TheDev6 opened #3422 "Incorrect Language labeled C# but likely C++"
**Describe the bug**
Mislabeled language in a code sample.

**To Reproduce**
1. Navigate to: https://docs.microsoft.com/en-us/samples/microsoft/windows-iotcore-samples/gpio-onewire/
2. Read the code samples labeled C# and notice that the language IS NOT C#.

**Expected behavior**
Expect the code label to match the actual syntax of the documents

**Screenshots**
Attached/Uploaded

**Desktop (please

[2021-01-27 07:09] PauliusSasnauskas opened #3423 "Exam item challenge form leads to faulty page"
**Description**
When clicking the "exam item challenge form" link in the **Exam item challenge process** page, it links the user to an error page.

**To Reproduce**
Steps to reproduce the behavior:
(connecting from Lithuania, assuming closest server is Poland Central)
1. Go to [Exam item challenge process](https://docs.microsoft.com/en-us/learn/certifications/exam-item-challenge-process) page
2. S

[2021-01-27 11:04] ssaran046 commented on #3255
Hi Team,

Any update on this issue?

[2021-01-27 21:56] ifrh opened #3424 "https://docs.microsoft.com/de-de/windows/win32/intl/handling-internationalized-domain-names--idns (broken download link)"
**Describe the bug**
On https://docs.microsoft.com/de-de/windows/win32/intl/handling-internationalized-domain-names--idns is written
`The "Microsoft Internationalized Domain Name (IDN) Mitigation APIs" download is available at the MSDN Download Center.`
The Link "Microsoft Internationalized Domain Name (IDN) Mitigation APIs" is pointing to `https://www.microsoft.com/downloads/details.aspx?FamilyID

[2021-01-27 22:29] EricAllen-tr opened #3425 "Document complexity of System.Linq.Lookup<TKey,TElement>"
I'm trying to find the approximate algorithmic complexity of Lookup's indexing operation, and it isn't to be found on https://docs.microsoft.com/en-us/dotnet/api/system.linq.lookup-2.item?view=netframework-4.5.1#System_Linq_Lookup_2_Item__0_

I'd like if it were documented, similar to what is done for Dictionary<TKey, TValue>
https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.d

[2021-01-28 11:32] jermy7 opened #3426 "Missing documentation"
**Describe the bug**
Documentation for OData Client missing https://docs.microsoft.com/en-us/odata/client/getting-started.
I browse OData documentation and when I click OData Client > Getting started I got 404 not found response.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/en-us/odata/webapi/getting-started'
2. Click on 'OData Client > Getting Started'
4

[2021-01-28 16:13] lombardialess opened #3427 "Improve filter for searching documentation"
I would ask if it is possible to put an additional filter on the Microsoft Docs.
Currently the search use the "Filter by title", I'm wondering if a "Filter by date" can be implemented.
Too often the pages are updated because features change very fast. (in particular on Azure docs)
If there is a possibility to use a filter like "pages updated in the past 7 or 30 days", this can improve the user bro

[2021-01-28 20:28] sherrytoly-ms opened #3428 "This is an asset that's included in media folder for this article; how do I include it if it's "out of scope"? [error message feedback] provide feedback for v-shtol"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Problem:**
What's wrong with the error message? For example,
- Is error message clear and actionable?
- Is there a documentation to provide more information?
- If there is a documentation, is it relavent and helpful?
- Is line number correct?
- etc.

[2021-01-28 21:25] Rick-Anderson opened #3429 "Monikers produce incorrect Reading tim"
Opened by @collinkruger https://github.com/dotnet/AspNetCore.Docs/issues/21346

Hi There!

This number appears to be a tad off 😁
![image](https://user-images.githubusercontent.com/23742214/106164212-5ae1f300-614f-11eb-85c0-15f57174cab0.png)

I'm not sure what it should be, otherwise I would have updated it myself 😊

Happy Thursday/Friday!

---
#### Document Details

⚠ *Do not edit this section. It

[2021-01-28 21:25] Rick-Anderson commented on #3429
@collinkruger  thanks for pointing that out. The calculation doesn't take into account the version. 95% of the content is hidden by `::: moniker` in the current version. Take a look at the [previous version](https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/iis/?view=aspnetcore-3.1) and 78 is consistent with other docs estimates.

@scottaddie @tdykstra  do you have permissions to use th

[2021-01-29 01:03] JensWallgren opened #3430 "404: All documentation under 'https://docs.microsoft.com/en-us/odata/{article}'"
All OData client documentation seems to be unreachable.

**Reproduce by:**

1. Navigating to: [https://docs.microsoft.com/en-us/odata/](https://docs.microsoft.com/en-us/odata/)
2. Click on any of the _**"Develop > OData Client"**_ Articles.
3. You reach a 404 page

[2021-01-29 03:33] pengyouak opened #3431 "Wrong markings in the documentation"
**Describe**
page: https://docs.microsoft.com/en-us/visualstudio/extensibility/ux-guidelines/shared-colors-for-visual-studio?view=vs-2019

path:  **“Common shared controls”** - **“Drop-downs and combo boxes”**

Wrongly marked `ComboBoxGlyph` as `ComboBoxGlyphBackground`

**Screenshots**
![image](https://user-images.githubusercontent.com/4636155/106228147-ba123700-6225-11eb-8dab-60d814302c81.png)

[2021-01-29 18:35] PauliusSasnauskas commented on #3423
It appears this issue has been resolved (2021-01-29), the form now shows up as intended.

[2021-01-29 18:35] #3423 closed

[2021-01-29 19:09] mcleanbyron commented on #3348
Unfortunately, the behavior you're seeing is expected due to the unique way that the Win32 API reference docs are built within the docs.microsoft.com platform and the way the generate PDF feature is currently implemented. However, you can generate a PDF that includes the synchapi.h API articles by creating a PDF from the [System Services](https://docs.microsoft.com/en-us/windows/win32/api/_base/)

[2021-01-29 19:10] mcleanbyron commented on #3348
#please-close

[2021-01-29 19:10] #3348 closed

[2021-01-29 23:18] JasonWHowell commented on #3396
This issue is resolved now. Thanks for bringing it to our attention.
#please-close
![image](https://user-images.githubusercontent.com/5067358/106337119-4122d780-6245-11eb-8b12-1f838ef65477.png)

[2021-01-29 23:18] #3396 closed

[2021-01-29 23:20] JasonWHowell commented on #3430
#asssign:@acangialosi Please take a look at the image which has an issue.

[2021-01-29 23:20] JasonWHowell commented on #3431
@acangialosi please take a look at this image which has an issue.
#assign:acangialosi

[2021-01-29 23:22] JasonWHowell commented on #3430
Hi @JensWallgren
Sorry for the trouble. It looks like it's working again now.

Let us know if you still have trouble with the 404 issues. I'll assume it was a temporary issue and resolve this one.
#please-close

[2021-01-29 23:22] #3430 closed

[2021-01-29 23:23] JasonWHowell commented on #3429
@scottaddie I guess a sitehelp ticket or bug would be the best approach. These issues here aren't regularly prioritized I suspect.

[2021-01-29 23:25] JasonWHowell commented on #3428
.mp4 videos aren't allowed in MicroosftDocs repos at present. You could host them outside and provide a link to the video.

https://review.docs.microsoft.com/en-us/help/contribute/contribute-video-create?branch=master

Hope this helps. Email the contacts in the page if needed.

#please-close

[2021-01-29 23:25] #3428 closed

[2021-01-29 23:26] JensWallgren commented on #3430
@JasonWHowell
Gave it a try now and it's working.
Thanks for me know!

[2021-01-29 23:26] JasonWHowell commented on #3427
@sudeepku  this is a site search feature request for faceted search by last updated date.

[2021-01-29 23:27] JasonWHowell commented on #3427
#assign:sudeepku

[2021-01-29 23:28] JasonWHowell commented on #3426
Similar to https://github.com/MicrosoftDocs/feedback/issues/3430

Sorry for the trouble. It looks like it's working again now.

Let us know if you still have trouble with the 404 issues. I'll assume it was a temporary issue and resolve this one.
#please-close

CC: @mumbi-o @habbes

[2021-01-29 23:28] #3426 closed

[2021-01-29 23:34] JasonWHowell commented on #3424
#assign:Karl-Bridge-Microsoft
There is a broken download URL if you can take a look.
Thanks, Jason

[2021-01-29 23:35] JasonWHowell commented on #3421
@wnjenkin is there a place to track this Rest API doc fix request for Azure DevOps?

[2021-01-29 23:37] JasonWHowell commented on #3417
@bleblanc do you know the loc contact for the URL cited?

[2021-01-29 23:38] JasonWHowell commented on #3417
CC: @dougkim1

[2021-01-29 23:44] Rick-Anderson commented on #3429
@JasonWHowell  tracked in [Internal  Live Site Incident 225457658](https://portal.microsofticm.com/imp/v3/incidents/details/225457658/home)

[2021-01-29 23:50] hickford commented on #1469
Community docs link https://fsharp.github.io/fsharp-core-docs/

[2021-01-29 23:51] hickford commented on #2536
Community docs link https://fsharp.github.io/fsharp-core-docs/

[2021-01-30 03:43] Harshith-Shetty opened #3432 "Username and display name changes automatically."
when ever i am selecting my setting option in Microsoft learn site my username and display name changes to a 8 digit number and even if I try to change my username and Display Name it only change for few minute and the moment i click on the setting option it again changes to a new 8 digit number in both the username and display name.

[2021-01-30 11:25] robertsundstrom commented on #3416
Just a side note: It would also be nice to see what NuGet package a class is in. Not having to Google the assembly name to find it. You already tell what assembly a class is in.

[2021-01-30 11:26] robertsundstrom commented on #3416
This is related to or even a duplicate of #433

[2021-01-30 11:30] robertsundstrom opened #3433 "Class docs - Provide the name of the NuGet package"
Provide the name of the package in which a specific class reside.

The class documentation already tells what assembly the class is in, but not the package.

It is all well when the assembly is shipped as part of the framework, but sometimes you have to install packages and you don't know what package the class is in since the assembly is one of multiple ones that are part of a specific package.

[2021-01-30 16:21] bpelikan opened #3434 "Achievement are unsorted - Microsoft Learn"
**Describe the bug**
Some day ago I notice that achievement on my Learn profile was unsorted. The achievements were sorted by date but but now there is only a mess - it's hard to navigate.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [achievement page](https://docs.microsoft.com/en-us/users/bpelikan/achievements)
2. `Badges` and `Trophies` are unsorted by date

**Expected behavior**

[2021-02-01 04:06] seth2740 opened #3435 "broken link for server documentation"
go here -> https://docs.microsoft.com/en-us/windows-server/
try to go to the windows insider program for server
returns 404 for https://docs.microsoft.com/en-us/windows-insider/at-work/

[2021-02-01 07:17] Phoveran opened #3436 "Right click menu problem"
**Describe the bug**
In file explorer, you do a right click, and click "Open in Windows Terminal", then the explorer reports a bug.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any directory.
2. Click on right.
3. Scroll down to "Open in Windows Terminal"
4. See error

**Expected behavior**
The explorer gives a warning.

**Screenshots**
![1](https://user-images.githubusercontent.com

[2021-02-01 07:19] Phoveran commented on #3436
![1](https://user-images.githubusercontent.com/38107945/106426538-bfc78100-64a0-11eb-9fba-12f9b689f502.png)
Is the picture visible? If not, hope this one could work

[2021-02-01 13:20] TheOwlishTree opened #3437 "Broken Table in documentation"
**Describe the bug**
Table doesn't parse right, shows:

| Name | Type | Required | Value | | ---- | ---- | ---- | ---- | | principalId | string | No | The principal ID of resource identity. | | tenantId | string | No | The tenant ID of resource. | | type | enum | No | The identity type. - SystemAssigned, UserAssigned, SystemAssigned, UserAssigned, None | | userAssignedIdentities | object | No | Th

[2021-02-01 15:24] alexaguilar89 opened #3438 "Have a servidor?"
help i hace. Servidor but a i donar hace reís un my red and hack ing my dns

[2021-02-01 19:50] StoyanChalakov opened #3439 "Improving the content of a cmdlet reference article (Stop-SCOMMaintenanceSchedule) for System Center 2019 Operations Manager"
**Is your feature request related to a problem? Please describe.**
This is a request to correct/update an important article, related to System Center 2019 Operations Manager and setting the Maintenance Mode. The MS Docs article:

**Stop-SCOMMaintenanceSchedule**
https://docs.microsoft.com/en-us/powershell/module/operationsmanager/stop-scommaintenanceschedule?view=systemcenter-ps-2019

which is ess

[2021-02-02 08:55] Phoveran commented on #3436
I don't know why but the bug disappeared after I changed my system to Win 10 Pro :)

[2021-02-02 12:39] erwanh1112 opened #3440 "Wrong lifecycle reported for Visual Studio 2015 RTM"
**Describe the bug**
The Lifecycle site reports wrongly that the End Date (of support) for VS2015 RTM (i.e. Original Release) is 10/14/2025. Actually, VS2015 RTM is not supported any more as of today 2/2/21: see https://docs.microsoft.com/en-us/visualstudio/releases/2019/servicing#support-for-older-versions-of-visual-studio

**To Reproduce**
Steps to reproduce the behavior:
1. In your web browser,

[2021-02-02 21:18] DataWriter commented on #2722
I've been experiencing this issue since September("No subscriptions in Microsoft Learn Sandbox directory"). Is there a workaround?

[2021-02-02 22:09] clandrew opened #3441 "HLSL state object types like RaytracingShaderConfig aren't in docpages"
**Is your feature request related to a problem? Please describe.**
When developing DXR applications with shaders it is useful to consult documentation to know what the syntax should be

**Describe the solution you'd like**
State object types like RaytracingShaderConfig, SubobjectToExportsAssociation and TriangleHitGroup documented on docs.microsoft.com along with other HLSL primitives.
Somewhere u

[2021-02-03 03:25] clandrew commented on #3441
I wrote a docpage and pushed it here (requires credential)
[https://review.docs.microsoft.com/en-us/windows/win32/direct3dhlsl/dx-graphics-hlsl-language-syntax?branch=user%2Fclandrew%2Fhlsl_state_objects](https://review.docs.microsoft.com/en-us/windows/win32/direct3dhlsl/dx-graphics-hlsl-language-syntax?branch=user%2Fclandrew%2Fhlsl_state_objects)

[2021-02-03 04:30] clandrew commented on #3441
PR is out

[2021-02-03 05:07] clandrew commented on #3441
PR approved and merged.
Result is here [https://docs.microsoft.com/en-us/windows/win32/direct3dhlsl/dx-graphics-hlsl-state-object](https://docs.microsoft.com/en-us/windows/win32/direct3dhlsl/dx-graphics-hlsl-state-object)
Closing

[2021-02-03 05:07] #3441 closed

[2021-02-03 12:39] KonstantinKeyler commented on #3293
gracefully agree. i don't want to get docs in russian language. but microsoft show me all docs in russian. i even create a profile, but didn't find the item for default language setup

[2021-02-03 14:46] maeva-rousselot opened #3442 "Broken links and translation errors in French version of Xamarin Froms Doc"
On the French version of the Xamarin Forms Doc, several pages have broken links to the dotnet API.

It seems to happen on sub-pages of `https://docs.microsoft.com/fr-fr/xamarin/xamarin-forms` and only on links to sub-pages of `https://docs.microsoft.com/fr-fr/dotnet/api/xamarin.forms`

Also on those pages 'Xamarin Forms' is displayed as `:::no-loc(Xamarin.Forms):::` and the bad link targets looks

[2021-02-03 19:36] JustinWebDev opened #3443 "unknown Windows Server versions"
**Describe the bug**
There are pages showing unknown Windows Server versions.  The current version is 2019 (https://www.microsoft.com/en-us/windows-server), the previous version was 2016, but there are pages (e.g., https://docs.microsoft.com/en-us/lifecycle/announcements/windows-server-1809-end-of-servicing or https://docs.microsoft.com/en-us/lifecycle/products/windows-server) that show something

[2021-02-04 00:40] mairaw commented on #3442
There are also some internal configuration that is showing up in the title like no-loc. @JasonCard can you investigate this issue?

[2021-02-04 09:13] pinklandngoinha opened #3444 "Trending bit as mr bean"
[hồi năm 2019 mình đã bẻ zahoo, bên bảo trì Viet đã gọi cho mình xác nhận giọng nói để bảo trì media microsoft.
vì thế, mình đã bảo trì đồng bit với giá 0.1 đô, và thu nhập trên 10 nghìn. Vì vậy sàn trên 38000 là một bảo hiểm cổ phiếu, nếu mua cổ đông 3.8 triệu thì chính đồng nghĩa với việc giá trị thu nhập từ bảo trì trên 2$ hằng ngày. Vì vậy gói II là hợp lý để đầu tư lâu dài bảo trì hệ thống má

[2021-02-04 09:18] pinklandngoinha commented on #3444
dêmnphienluukidatcha

[2021-02-04 09:18] pinklandngoinha commented on #3444
demenphienluukidatcha

[2021-02-04 09:20] pinklandngoinha commented on #3444
ca889fvr

[2021-02-04 16:06] pinklandngoinha commented on #3444
ca889+84 0937071650 Hình ảnh [https://www.coolcatapp.com/index/user/reglist.html](!
[Uploading 106916532...][[image](https://user-images.githubusercontent.com/76656081/106919436-b9edcc00-673c-11eb-94c2-a7fcdce27b7c.png)]([[image]([image](https://user-images.githubusercontent.com/76656081/106920279-865f7180-673d-11eb-9f22-9e6c3a7e5317.png)))

Được gửi từ iPhone của tôi

10.21.01

Được gửi từ iPhone

[2021-02-04 16:22] pinklandngoinha commented on #3444
https://www.coolcatapp.com/index/user/bank.html[![image](https://user-images.githubusercontent.com/76656081/106922400-9ed08b80-673f-11eb-81db-8757605842cb.png)](https://www.coolcatapp.com/index/user/bank.html)[](https://www.coolcatapp.com/index/user/bank.html)

[2021-02-04 16:28] pinklandngoinha commented on #3444
[[image](https://user-images.githubusercontent.com/76656081/106922677-dd664600-673f-11eb-8a28-ebbd1ca78c70.png)][demenphienluukidatcha](https://www.coolcatapp.com/index/user/bank.html[+84](0937071650))(https://www.coolcatapp.com/index/user/bank.html)

[2021-02-04 17:11] pinklandngoinha commented on #3444
[demenphienluukidatcha]()[![image](https://user-images.githubusercontent.com/76656081/106928344-aabf4c00-6745-11eb-8a64-26e0819b4892.png)](id45619)[](vn₫INDEX)
[user+84](01202500009)]()[353066091314686](A)

[2021-02-04 17:56] pinklandngoinha commented on #3444
[[image](https://user-images.githubusercontent.com/76656081/106934595-e01b6800-674c-11eb-91d9-2b867bb753c1.png)](https://www.coolcatapp.com/index/login/login/token/363f39a4eadd4de072ebbacd80dd2fee.html)

[2021-02-04 18:19] pinklandngoinha commented on #3444
[demenphienluukidatcha](https://www.ubc.ca/)[+84][01202500009](https://www.ubc.ca/)(https://www.ubc.ca/)
[35 306609 131468 6](binhle19851709@.com)](https://www.ubc.ca/)[]()

[2021-02-04 18:25] buckelij opened #3445 "Create a user delegation SAS: pre-2020-02-10 StringToSign incorrect fields"
**Describe the bug**

I've identified two problems with the [Create a user delegation SAS](https://docs.microsoft.com/en-us/rest/api/storageservices/create-user-delegation-sas) document:

* The document states "All features added with version 2020-02-10 are currently in preview. The preview is intended for non-production use only." and says in various places throughout the document that 2020-02-10

[2021-02-04 19:21] pinklandngoinha commented on #3444
[huenhu0610@gmail.com](https://account.you.ubc.ca/resource/1567703234000/Viewbook)[Pinkland2021](https://account.you.ubc.ca/resource/1567703234000/Viewbook)[gmailapp.com[19851709]

[2021-02-04 19:29] julians1966 opened #3446 "All collections for Microsoft Learn are showing 404 error"
Whenever I attempt to access mt Microsoft Learn collections https://docs.microsoft.com/en-us/users/julians/collections I get an error

Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/users/julians/collections
2. Click on any collection eg https://docs.microsoft.com/en-us/users/julians/collections/67xmtzreqpxnnr
3. See error 404 - Page not found

**Expected behavior**
You

[2021-02-04 19:36] pinklandngoinha opened #3447 "[huenhu0610@gmail.com](https://account.you.ubc.ca/resource/1567703234000/Viewbook)[Pinkland2021](https://account.you.ubc.ca/resource/1567703234000/Viewbook)[gmailapp.com](binhle19851709)"
[huenhu0610@gmail.com](https://account.you.ubc.ca/resource/1567703234000/Viewbook)[Pinkland2021](https://account.you.ubc.ca/resource/1567703234000/Viewbook)[gmailapp.com](binhle19851709)

__Originally posted by @pinklandngoinha in https://github.com/MicrosoftDocs/feedback/issues/3444#issuecomment-773546680__

[2021-02-04 19:37] colin-higgins opened #3448 "Install Site Extension returns 400 Bad Request"
**Describe the bug**
The Try It feature of the `installsiteextension` endpoint returns a cryptic HTTP 400 status.
The Try It feature works for both `start` and `stop` for the same site.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/rest/api/appservice/webapps/installsiteextension
2. Click on Try It
3. Enter valid Azure App Service name
3. Enter valid

[2021-02-04 20:38] greyseal96 commented on #2410
I hope this isn't necrobumping but I wanted add on an example to this.

I need to write a small application to do some stuff in C# with IIS.  I found by reading online that I needed to use the Microsoft.Web.Administration namespace so I went to docs.microsoft.com and entered "microsoft.web.administration" into the search box and, surprisingly, I got no results.  I don't mean some results that were

[2021-02-05 00:22] clandrew commented on #3191
Pushed a fix
closing

[2021-02-05 00:22] #3191 closed

[2021-02-05 00:53] JasonCard commented on #3442
@maeva-rousselot @mairaw Thank you for raising this issue and I'm following up on this.

[2021-02-05 01:06] anbhar opened #3449 ""MaxConnectionTimeout" property is not available in the "CrmServiceClient" class objects."
**Describe the bug**
The "MaxConnectionTimeout" property is not available in the "CrmServiceClient" class objects.

https://docs.microsoft.com/en-us/dotnet/api/microsoft.xrm.tooling.connector.crmserviceclient.maxconnectiontimeout?view=dynamics-xrmtooling-ce-9

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new WPF .NET Application
2. Add the "Microsoft.CrmSdk.XrmTooling.CoreAssembly

[2021-02-05 01:53] #3449 closed

[2021-02-05 03:07] v-mosh21 opened #3450 "List Management Group Operation Does Not Recognize Inherited Scope"
Hi Team,

**Issue:**
When I try to list the management group information using this REST API: https://docs.microsoft.com/en-us/rest/api/resources/managementgroups/list, I can not get the management group information where the RBAC role is inherited from up level management groups. I have to assign an actual role to current management group (the scope is this resource) and then I can get the inform

[2021-02-05 13:18] Bjoern01 opened #3451 "Identity API not supported at Windows Outlook Client (Office.js)"
**Describe the bug**
I am using the "getAccessToken" function inside my Outlook Add-in (Office.js).
At the OWA it works but on the Windows Native Client an exception was thrown:

`{code: 13012, message: "Die API wird in dieser Plattform nicht unterstÃ¼tzt.", name: "Nicht unterstÃ¼tzte API."}`

At the requirements for the identity API (https://docs.microsoft.com/de-de/office/dev/add-ins/reference/r

[2021-02-05 13:58] BillWagner opened #3452 "No syntax highlighting for *with* keyword."
---
**Issue moved from dotnet/docs#22663**
- Please respond to @Issung.

---

_From @Issung on Friday, February 5, 2021 5:23:03 AM_

**Issue description**
`with` keywords in the docs are not syntax highlighted like other keywords are, it should be highlitghted the same color as `if`, `switch`, `public`, `var`, etc, as it is in visual studio.

They keyword in docs:
![image](https://user-images.gith

[2021-02-05 19:14] KristianCEliassen opened #3453 "Search Bar not working"
Using MS Edge Version 88.0.705.63 (Official build) (64-bit). URL: https://docs.microsoft.com/en-us/

The search bar displayed on the top left section of the page below the content ("docs.microsoft.com
The home for Microsoft documentation and learning for developers and technology professionals.") does not return search result.

Search result text displayed:
"No results
Sorry, we couldn't find anyt

[2021-02-05 20:33] saper-2 commented on #3453
Same for me, I type in top search field "COALESCE" - nothing found.
Left "quick" serach don't work either, I type "COALESCE" - nothing 😑

![obraz](https://user-images.githubusercontent.com/8533673/107085869-5f667580-67f9-11eb-8180-af8ec39f5eb7.png)

The new "DOCS" is far worse than old MSDN witch at least WORKED FINE (and didn't force that annoying automatic translations 💢 ). But be happy, you sti

[2021-02-05 22:38] clandrew commented on #2251
Should probably link to [https://docs.microsoft.com/en-us/windows/win32/direct3dhlsl/gather4--sm5---asm-](https://docs.microsoft.com/en-us/windows/win32/direct3dhlsl/gather4--sm5---asm-), it is a good page

[2021-02-06 00:57] JasonCard commented on #3442
@maeva-rousselot These issues are now fixed :)

[2021-02-06 00:57] #3442 closed

[2021-02-07 01:47] bcr04 commented on #3299
I managed to solve it. Maybe there's a better solution but this worked for me.

My problem:
1 - Go to [MS learn page](https://docs.microsoft.com/en-us/), click at your **portrait**, then select **Profile** and then **Settings**.
2 - Under **Account Management** you should see an user name (not an email here) and i think here is the issue. My account was created using my old skype username (maybe y

[2021-02-07 17:01] muhammedazheruddin commented on #2333
I'm having the same problem, is there any fix for this

[2021-02-08 10:00] makelix commented on #3453
I have been having the same issue. The search worked in Edge and/or Chrome but not in Firefox for a couple of days but now it doesn't work at all for me.

Actually Edge Version 88.0.705.63 (Official build) (64-bit) doesn't even open the https://docs.microsoft.com/ page right now.

[2021-02-09 00:22] QuinnRadich commented on #3314
This page is specifically for valid GEOID identifiers in Win32, for application developers to use when writing Win32 apps. While I agree that locale information for Sales purposes is valuable, I'm afraid it's not appropriate for this page. I'd recommend asking in a docs area not specifically intended for developer use.

Thank you.

[2021-02-09 06:51] cabby777 opened #3455 "Reset Password"
Hello,
Looking for some guidance. I'm locked out from my 365 account. I tried to reset it but the Admin account phone number is one digit off.  I open a case with support two weeks ago (ticket number   #240272239).  I never open a case with Microsoft before.   Is this normal?  Is everybody that has an open issue with Microsoft waiting 2 weeks or more for a response?  I just need a password reset.

[2021-02-09 09:19] petr7555 opened #3456 "Do not translate documentation"
Every time I enter MS docs, it is translated to Czech. Who would ever want programming documentation translated to their local language? It is very annoying having to switch to English at the very bottom of the page each time. This is necessary, because auto-translated docs make no sense.

[2021-02-09 10:32] AlifeLi opened #3457 "Linkage broken in the doc"
Issue description
BizTalk 2016 CAB files URL is broken. Please refer to Microsoft document in https://docs.microsoft.com/en-us/biztalk/install-and-config-guides/appendix-c-redistributable-cab-files
BizTalk 2016 X64, 4 versions all are not working (Below links).
X64
Windows Server 2016: https://go.microsoft.com/fwlink/p/?LinkId=746413
Windows Server 2012 R2: https://go.microsoft.com/fwlink/p/?LinkI

[2021-02-09 15:21] PascalBod opened #3458 "Azure ESP32 IoT DevKit Get Started webpage too old"
The [Azure ESP32 IoT DevKit Get Started](https://docs.microsoft.com/en-us/samples/azure-samples/esp32-iot-devkit-get-started/sample/) seems too old and no more accurate:

* *Azure Iot Device Workbench* extension advises to install *Azure IoT Tools* extension instead
* the **Arduino: Board Manager** command does not appear in the Palette until a sample project is created
* when trying to provision

[2021-02-09 16:10] TashtiotM opened #3459 "Broken link in WSUS maintenance guide"
[This article](https://docs.microsoft.com/en-US/troubleshoot/mem/configmgr/wsus-maintenance-guide) links to a script that re-indexes a DB of WSUS. It's broken, I think the original script was taken down.

To find it, just Ctrl+F, "Re-index the WSUS Database".

Thanks in advance.

[2021-02-09 16:34] HenningSvane opened #3460 "Wronge registry value"
Ind the document:
https://docs.microsoft.com/en-us/troubleshoot/windows-server/user-profiles-and-logon/turn-on-automatic-logon

The Registry value DefaultDomain should be DefaultDomainName

Regards
Henning

[2021-02-09 19:56] xcabur1 opened #3461 "Wrong instructions in "Privileged access deployment" documentation for "Create your device use""
**Describe the bug**
I think the `name` and probably the `directory role` in the `Create your device user` instruction is wrong because it is exactly the same as in `Create your device administrator user`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/security/compass/privileged-access-deployment#azure-ad-users-and-groups
2. Compare the instructions of

[2021-02-10 00:36] zhangdingsong opened #3462 "Broken link in the SF PowerShell doc"
The link to access Service Fabric PowerShell doc is broken: https://docs.microsoft.com/en-us/powershell/module/servicefabric/?view=azureservicefabricps

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/en-us/powershell/module/servicefabric/?view=azureservicefabricps'
2. See error 404 - Page not found

**Expected behavior**
You should see the list of SF PowerSh

[2021-02-10 00:53] cabby777 commented on #3455
Add another day. No help; No support. I’m OK with paying for support.  Just tell me what you require to reset my password.

[2021-02-10 08:18] Was85 opened #3464 "Invalid Json body for the provided example"
The JSON structure is not valid in the provided example:

https://docs.microsoft.com/en-us/rest/api/servicebus/send-message-batch

[2021-02-10 09:05] khatri034 opened #3465 "foreachloop SSIS on azure not reading files from azure file share subdirectory"
I have a SSIS package with For each loop that enumerate on path like C:\folder\folder1\folder2\folder3 and reading all the files from folder3 with search pattern .xlsx and now the same structure is created on azure file share \\storagename\folder\folder1\folder2\folder3 when SSIS package deployed to azure sql Catalog and running same using data factory is not reading the files available at folder3

[2021-02-10 10:26] Ironised opened #3466 "Broken MS website links"
This fails https://docs.microsoft.com/en-gb/microsoft-365/compliance/offering-nhs-ig-toolkit-uk

[2021-02-10 14:01] guillene commented on #2842
This seems to be a different bug, I get the same error when the pop receipt has a `+` in the middle. As you can see you submitted `AgAAAAMAAAAAAAAAYUMWAIg+1gE=` but you got the error that `AgAAAAMAAAAAAAAAYUMWAIg 1gE=` format is invalid

[2021-02-10 14:34] colin-higgins commented on #3448
Hello, any updates on this issue?

[2021-02-10 18:02] tfitzmac commented on #3400
#please-close

[2021-02-10 18:02] #3400 closed

[2021-02-10 18:32] wilsoncg opened #3467 "MSDN search is broken (docs.microsoft.com)"
**Describe the bug**
I have tried searching for content on MSDN documentation, but the search seems broken. This used to work correctly, so I'm not sure what's gone wrong.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/documentation/
2. Click on 'Search documentation'
3. Type in 'middleware', hit search
4. Receive no results!?

**Expected behavior**
I

[2021-02-10 20:51] clandrew commented on #2230
A fix for this has been merged

[2021-02-10 20:51] #2230 closed

[2021-02-11 06:58] chanmmn opened #3468 "Cannot search for Microsoft Lists in docs.microsoft.com"
**Is your feature request related to a problem? Please describe.**
It is not actually a feature. It is actually missing a product at this Site. When I go to Office 365 documents site, https://docs.microsoft.com/en-us/microsoft-365/?view=o365-worldwide, I cannot search anything on Microsoft Lists. See the screen captured here https://1drv.ms/u/s!AuZYHSwsevw1ojTgSUqLfctH2cpV?e=4KnKTD.

**Describe th

[2021-02-11 12:22] vitaliizazmic opened #3469 "Microsoft Graph API v1.0 returns empty value, when $select OData query parameter is used."
**Describe the bug**
I use Microsoft Graph API v1.0 to get [list channels](https://docs.microsoft.com/en-us/graph/api/channel-list?view=graph-rest-1.0&tabs=http) in teams. To decrease response size I set $select OData query parameter value to "id". API returns empty value. But when I use endpoint without query parameter, channels are returned.

[2021-02-11 13:26] surajb2 opened #3470 "Transfering downloaded data to a new profile"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I had to delete my old profile and create a new one to link to my personal account. In this process, I downloaded my profile data and am unable to upload the progress/XP to my new profile.

**Describe the solution you'd like**
A clear and c

[2021-02-11 13:54] mycross515 opened #3471 "Invoice surprise"
Hi
I received an invoice from Microsoft.   Balance is $0 but I have no idea what I am being billed for.
Can someone help?

Thanks!

[2021-02-12 00:56] drewahearn opened #3472 "Course Tiles all show blank when loading page."
Try to load https://docs.microsoft.com/en-us/learn/ after logging on to my microsoft account.

All Course Tiles on the page are blank and nothing can be selected. See pic:
![BlankLearn](https://user-images.githubusercontent.com/33009623/107718107-0596fd00-6c8a-11eb-8d80-ce3226889011.jpg)

Same result even when trying InPrivate window.

[2021-02-12 01:49] yuoliyarnyk opened #3473 "EPAM Systems AZ 304 Challenge"
Hi, I see just blank page after opening the challenge named "EPAM Systems AZ 304 Challenge" and clicking "Continue Learning"
button.

https://docs.microsoft.com/en-us/users/cloudskillschallenge/collections/8pm3froeyjrp?WT.mc_id=cloudskillschallenge_10d77869-6c6c-4ed9-afa4-087596a4db4e

![image](https://user-images.githubusercontent.com/69119394/107721399-335d5f80-6ce5-11eb-9e54-34004339e4dc.png)

[2021-02-12 04:17] StevenPenn commented on #3472
I have the same problem too.

[2021-02-12 04:21] yuoliyarnyk commented on #3473
Now I'm able to open specific items in the collection - https://docs.microsoft.com/en-us/users/cloudskillschallenge/collections/8pm3froeyjrp?WT.mc_id=cloudskillschallenge_10d77869-6c6c-4ed9-afa4-087596a4db4e

But i lost all my previous results!

Also i'm not able to mark the specific item, as Completed to pass it all again

[2021-02-12 04:23] EvgenSk commented on #3472
I have the same issue. And "Browse All" page (https://docs.microsoft.com/en-us/learn/browse/) doesn't have any course and looks blank for about a minute
![image](https://user-images.githubusercontent.com/3060401/107729760-50655300-6d24-11eb-8f6e-44105e76efb5.png)

and then it changes to this:
![image](https://user-images.githubusercontent.com/3060401/107729782-61ae5f80-6d24-11eb-9139-bb9e1e0ad7b4.

[2021-02-12 04:25] yuoliyarnyk commented on #3473
![image](https://user-images.githubusercontent.com/69119394/107729915-d2d91d00-6cfa-11eb-9cb9-1b3be94fd0a1.png)
results lost! Please fix
![image](https://user-images.githubusercontent.com/69119394/107730025-17fd4f00-6cfb-11eb-962c-06df0e4ac4ee.png)

[2021-02-12 05:05] Carlos-Barboza opened #3474 "Some functions I do not have anymore!"
Go to: https://docs.microsoft.com/es-es/learn/modules/intro-to-azure-fundamentals/
And you can continue without any problem
But when I log in with my account, I do not have access to the functions in red anymore.

These pictures show the functions that I have when I have not logged in.
![1](https://user-images.githubusercontent.com/78717226/107732107-2593e400-6cbd-11eb-83ef-d6c7fa006b6c.png)
![2](

[2021-02-12 05:10] v-sashig opened #3475 "https://docs.microsoft.com/en-us/partner-center/recon-file-charge-types"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-02-12 05:14] v-sashig opened #3476 "https://docs.microsoft.com/en-us/partner-center/recon-file-charge-types"
Note on this page is incorrect.
https://docs.microsoft.com/en-us/partner-center/recon-file-charge-types

One-off credits, discounts or refunds that appear on the invoice as Adjustments are not shown in the reconciliation file.

It is not true when it comes to Azure Plan.
Please add a comment that for Azure plan,  refunds that appear on the invoice as Adjustments **are shown** in the reconciliation

[2021-02-12 05:36] clandrew commented on #2231
A fix for this has been merged

[2021-02-12 05:36] #2231 closed

[2021-02-12 06:02] makelix commented on #3467
See also https://github.com/MicrosoftDocs/feedback/issues/3453

[2021-02-12 06:04] makelix commented on #3453
See also https://github.com/MicrosoftDocs/feedback/issues/3467

[2021-02-12 07:44] ganm135 opened #3477 "gahm"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-02-12 10:33] whitehotaru opened #3478 "English translation of PnP documentation returns 404 error"
**Describe the bug**
When searching for example for "get-pnpprovisioningtemplate" on google and navigationg to https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/get-pnpprovisioningtemplate the site returns a 404. The german translation at https://docs.microsoft.com/de-de/powershell/module/sharepoint-pnp/get-pnpprovisioningtemplate works though

**To Reproduce**
Steps to reproduce t

[2021-02-12 13:03] rakova17 opened #3479 "All sharepoint-pnp documentation removed? Link result in 404 errors"
3 examples, but as far as I can tell all of the SharePoint PnP docs are not coming up:

https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/clear-pnprecyclebinitem
https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/connect-pnponline
https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/ConvertTo-PnPPage

https://docs.microsoft.com/en-us/powershell/module/sh

[2021-02-12 14:27] kilicantplay commented on #3479
getting the same thing, I'm currently using the direct documentation rather than the main site https://github.com/pnp/powershell/tree/dev/documentation just having to remember to go there each time

I'm amazed that it's been down for so long without someone realising and reverting back

[2021-02-12 18:55] ksaye opened #3480 "REST API for IoT Hub DPS suggest Bearer Token, but only works with SAS Token"
**Describe the bug**
Clicking on the Try It link at https://docs.microsoft.com/en-us/rest/api/iot-dps/createorupdateindividualenrollment/createorupdateindividualenrollment, will log you in and

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/rest/api/iot-dps/createorupdateindividualenrollment/createorupdateindividualenrollment
2. Click on Try It
3. Log i

[2021-02-12 19:05] amommy commented on #3466
This is a problem with almost old documentation links found online and in apps. SQL management for example NONE of the links on help topics work. not to mention msdn links http://msdn.microsoft.com/en-us/library/ff394109.aspx
The whole of Microsoft needs links, or a least link forwarding, fixed.

[2021-02-12 21:23] gewarren commented on #3477
I don't see anything actionable here, so will close this issue. Please edit the description and leave a new comment if this was omitted by accident.

[2021-02-12 21:23] #3477 closed

[2021-02-12 21:26] gewarren commented on #3476
@LauraBrenner Can you take a look?

[2021-02-12 21:26] gewarren commented on #3475
Dupe of 3476?

[2021-02-12 21:26] #3475 closed

[2021-02-12 21:28] gewarren commented on #3474
@markjulmar Can you take a look?

[2021-02-12 21:41] gewarren commented on #3470
@surajb2 Can you provide some more information about the issue you're having?

[2021-02-12 21:51] gewarren commented on #3469
@vitaliizazmic This might be a better spot to ask the question: https://docs.microsoft.com/en-us/answers/search.html?type=question&q=microsoft-graph-*

[2021-02-12 21:53] gewarren commented on #3467
It seems to be working now, so I'll close this issue. Thanks for letting us know. Feel free to comment if you still think it's broken.

[2021-02-12 21:53] #3467 closed

[2021-02-12 21:55] gewarren commented on #3466
@robmazz Was there a redirect missed for https://docs.microsoft.com/en-gb/microsoft-365/compliance/offering-nhs-ig-toolkit-uk?

[2021-02-12 21:59] gewarren commented on #3464
@spelluru Can you take a look?

[2021-02-12 22:01] gewarren commented on #3462
@sdwheeler Can you look at this issue?

[2021-02-12 22:04] gewarren commented on #3461
@kendaleiv Can you take a look at this issue?

[2021-02-12 22:05] gewarren commented on #3460
@Deland-Han Can you take a look at this?

[2021-02-12 22:08] gewarren commented on #3453
This seems to be fixed now, so I'll close the issue. Thanks for letting us know!

[2021-02-12 22:08] #3453 closed

[2021-02-12 23:34] sdwheeler commented on #3462
@gewarren I don't own this content. I don't really know who does. @dcaro might know who to contact.

[2021-02-12 23:50] #2251 closed

[2021-02-13 00:03] gewarren commented on #3443
@v-jasric Can you take a look at this?

[2021-02-13 00:06] gewarren commented on #3440
@erwanh1112 I'm not sure I see the problem. The page you linked to, https://docs.microsoft.com/en-us/visualstudio/releases/2019/servicing#support-for-older-versions-of-visual-studio, also says October 2025. cc @TerryGLee .

[2021-02-13 00:10] gewarren commented on #3438
@alexaguilar89 Can you add more information about the problem you're having with docs?

[2021-02-13 00:28] gewarren commented on #3435
@eross-msft Can you fix this link on https://github.com/MicrosoftDocs/windowsserverdocs-pr/blob/master/WindowsServerDocs/index.yml?

[2021-02-13 00:42] eross-msft commented on #3435
I fixed this link and pushed the change to live. You should see it shortly.

[2021-02-13 00:42] eross-msft commented on #3435
#please-close

[2021-02-13 00:42] #3435 closed

[2021-02-13 00:45] gewarren commented on #3433
This is already shown for some types, for example, https://docs.microsoft.com/en-us/dotnet/api/microsoft.codeanalysis.csharp.csharpsyntaxnode?view=roslyn-dotnet. I'm not sure why it's not showing for all types that come from a package. @mimisasouvanh do you know?

[2021-02-13 00:46] gewarren commented on #3433
Related to #71.

[2021-02-13 00:48] gewarren commented on #3431
This issue was moved to MicrosoftDocs/visualstudio-docs#6381

[2021-02-13 00:48] #3431 closed

[2021-02-13 00:50] gewarren commented on #3425
This issue was moved to dotnet/dotnet-api-docs#5332

[2021-02-13 00:50] #3425 closed

[2021-02-13 01:24] gewarren commented on #3418
This issue was moved to MicrosoftDocs/sql-docs#6083

[2021-02-13 01:24] #3418 closed

[2021-02-13 01:26] gewarren commented on #3416
Since #433 is still open, I'm going to close this as a dupe. Hopefully we can implement this feature.

[2021-02-13 01:26] #3416 closed

[2021-02-13 01:28] gewarren commented on #3415
This is working for me: https://docs.microsoft.com/en-us/windows/win32/api/threadpoolapiset/nf-threadpoolapiset-setthreadpooltimer. Perhaps it was a transient problem. I'll close this issue now, and thanks for reporting.

[2021-02-13 01:28] #3415 closed

[2021-02-13 01:30] gewarren commented on #3406
This issue was moved to dotnet/docs#22827

[2021-02-13 01:30] #3406 closed

[2021-02-13 01:35] gewarren commented on #3402
@jamesnk What is your take on this?

[2021-02-13 01:36] gewarren commented on #3402
This issue was moved to dotnet/AspNetApiDocs#200

[2021-02-13 01:36] #3402 closed

[2021-02-13 01:38] gewarren commented on #3397
@drewbatgit Could you take a look at this?

[2021-02-13 01:39] gewarren commented on #3380
@zjrunner Could you take a look?

[2021-02-13 04:17] DuncanmaMSFT commented on #3472
Hey folks, thanks for the report. This was a temporary outage that has been resolved.

[2021-02-13 04:17] #3472 closed

[2021-02-13 06:01] dcaro commented on #3462
I do not know, @QingChenmsft, @vaishnavk, @juhacket may.

[2021-02-13 11:31] yuoliyarnyk opened #3481 "URGENT: Sandbox limitation for Azure Challenge"
Dear Colleagues,

I'm working on Azure Cloud Skills Challenge and just 4 modules left to complete.
I'm getting the message

**"This module requires a sandbox to complete. You have used all 10 sandboxes for today. More sandboxes will be available tomorrow."**

**Problem is the challenge ends today :( - 2/13/2021**

Is there any way to use my private paid Azure subscription instead of Concierge one

[2021-02-13 12:25] #3481 closed

[2021-02-13 13:15] sdwheeler commented on #3462
The cmdlet reference for this is in Azure/azure-docs-powershell-servicefabric. It appears that @erikadoyle is the owner of that content. It looks like the whole cmdlet reference docset is broken. Probably a configuration problem in the docfx and/or the ops config.

[2021-02-13 13:37] tsahi opened #3482 "Permission to make a copy of Enterprise Library 6.0 documentation."
**Is your feature request related to a problem? Please describe.**
OK, this isn't really a feature request. Over the past few years, there has been an open-source effort to maintain some parts of the Enterprise Library Application Blocks, which Microsoft abandoned in 2013. This effort is currently concentrated at the [EnterpriseLibrary](https://github.com/EnterpriseLibrary) GitHub project. In orde

[2021-02-13 15:14] Tideo opened #3483 "Filter options in "Browse Certifications and Exams" are annoying"
The filter selection in the "Browse Certifications and Exams" are a bit annoying.
https://docs.microsoft.com/en-us/learn/certifications/browse/

For instance, if I click the advanced filter on the left,
![image](https://user-images.githubusercontent.com/7073071/107853403-c67cbf00-6de3-11eb-9ce2-b1415cac5f8e.png)

I will not have the option to click multiple filters. (I cannot for instance, pick bo

[2021-02-13 17:47] benghaner commented on #3453
For me, this was caused by my ad blocker. Disabled the ad blocker for Microsoft Docs and that fixed the issue. 😄

[2021-02-13 17:53] benghaner commented on #3467
Check your Network tab in the browser Dev Tools. For me, this was getting blocked by my ad blocker. 😄

[2021-02-14 01:16] surajb2 commented on #3470
Hello,

In order to attach my work profile to my personal profile I had to delete
my existing work profile and relink. Before deleting my old work profile, I
downloaded my old work profile data (json file).

Wondering if it's possible to import that data into my new work profile.

On Fri., Feb. 12, 2021, 4:42 p.m. Genevieve Warren, <
notifications@github.com> wrote:

[2021-02-15 08:37] Rvvhub opened #3484 "Technet Scriptcenter URLs point to location where the script is not going to be..."
Technet Scriptcenter was decommed in december (https://docs.microsoft.com/en-us/teamblog/technet-gallery-retirement).

Since then, all Scriptcenter URLs point to https://docs.microsoft.com/en-us/samples, which is the one place where whatever the user is looking for is guaranteed not going to be. This is downright insulting.

I understand all scriptcenter content is supposed to be archived to the M

[2021-02-15 09:22] rudrarch opened #3485 "unichar() DAX in Power BI accepts arguments in binary and not hex"
**Describe the bug**
Tried using the [unichar ](https://docs.microsoft.com/en-us/dax/unichar-function-dax) dax function but the arguments the function accepts are in binary and not hex which led to confusion and **should be mentioned in the documentation**. for e.g. I use unichar for arrow up the hex is 2190 which didn't give any results but an unrecognized box; however changing the hex to binary

[2021-02-15 10:26] whitehotaru commented on #3478
Seems like it has been changed to https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/get-pnpsitetemplate As this is now available, I'll close the ticket.

[2021-02-15 10:26] #3478 closed

[2021-02-15 14:12] agladchenko opened #3486 "Проверка выходных данных DBCC ИНПУТБУФФЕР"
**Describe the bug**
Ошибка локализации документации. Вместо заголовка: "Проверка выходных данных DBCC ИНПУТБУФФЕР"
 следует писать: "Проверка выходных данных DBCC INPUTBUFFER"

**To Reproduce**
Ошибка на странице: https://docs.microsoft.com/ru-RU/troubleshoot/sql/performance/understand-resolve-blocking?source=docs#examine-the-dbcc-inputbuffer-output

[2021-02-15 18:49] prabhushyja opened #3487 "Search is broken (docs.microsoft.com)"
**Describe the bug**
When I do a search for "network" in the search bar, I get a message
"No results
Sorry, we couldn’t find anything that fit your search."

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/en-gb/documentation/'
2. Type "network"
3. Click on "Search"
4. The page shows "No results
Sorry, we couldn’t find anything that fit your search."

**Expec

[2021-02-15 23:57] Lekha30 opened #3488 "Unable to Register for Cloud skills Challenge"
I recently got an email from Microsoft for the Cloud Skills Challenge in Australia. When I followed the link in the email, I landed on this page: https://www.microsoft.com/en-au/cloud-training-events/cloud-skills-challenge?mkt_tok=eyJpIjoiTlRjeU16aGlabVk1T0RReSIsInQiOiJFU2V1Zm9PMGx1bEZXR09TWjJtc3NuRDB4RVNCNjE5NVwvOHorZkxwWGRyTUJBdlpuc0dJeHlcL3h0N25ka0FKVWZWejlPYlNzckVEanhjZ1RtQW5rSlNVVW00TzRPekNnc

[2021-02-16 11:30] AiKoiN-NL opened #3489 "certificate issue"
link from the certification page is broken, certificate is wrong and redirecting gives errors.

from this page: https://certification.microsoft.com/badge
click on the certification path.. then you will see. (https://mycertificationplanner.one.microsoft.com/)

[2021-02-16 11:32] AiKoiN-NL commented on #3489
![2021-02-16 12_30_41-https___mycertificationplanner one microsoft com__wa=wsignin1 0 and 9 more pages](https://user-images.githubusercontent.com/43573392/108057488-039ab880-7053-11eb-9007-c0fb47448826.png)

[2021-02-16 12:30] pecmertens opened #3490 "Windows 10 navigates to Windows Server 2012 docs, provides dead links"
**Describe the bug**
When hitting the help button in the Windows 10 'Add FTP Site' dialog, I am taken to the docs page relating to Windows Server 2012. There is a banner at the top of that page telling me that page is out of date with a dead link to the 'Recommended Version'.

There does not seem to be **any** up-to-date documentation on the Windows 10 FTP functionality.

**To Reproduce**
Steps to

[2021-02-16 12:48] kendaleiv commented on #3461
Good catch @xcabur1 -- it looks like it should be "Secure Workstation User". I don't know what role should be assigned. Maybe @MicrosoftGuyJFlo knows the expected role.

[2021-02-16 13:55] piotrgradzinski opened #3491 "Unable to create Application Insights Web Test via management rest api"
**Describe the bug**
Using the steps described here https://docs.microsoft.com/en-us/rest/api/application-insights/webtests/createorupdate I am trying to create new Web Test. I'm receiving Bad Request response due to the missing 'hidden-link' tag in request body. This requirement is not pointed in the documentation.

**To Reproduce**
Trying to send the following request:
[code]

and receiving the

[2021-02-16 16:01] orichard0390 opened #3492 "It is not clear if I can scaffold a precise view"
I can add a -Table to the command line to precise what table I want to scaffold, but I don't seem to find the equivalent for an SQL view. Could you add details to say if it possible or not please ?

[2021-02-16 22:12] MicrosoftGuyJFlo commented on #3461
Yeah I guess it is wrong but the UPN is different. These are just test users for you to use. You could call them whatever you want. It doesn't break the scenario. We will update it the next time we go through the docs.

[2021-02-16 22:12] MicrosoftGuyJFlo commented on #3461
#please-close

[2021-02-16 22:12] #3461 closed

[2021-02-16 22:21] xcabur1 commented on #3461
@MicrosoftGuyJFlo have a look at the issue description it's not only about the name, the role looks also wrong. This makes the concept incorrect. Moreover, it is not only a test. The RAMP calls for its implementation.

[2021-02-17 04:17] erikadoyle commented on #3462
This has now been fixed. (The repo had been configured to use our next version build system, however the change in master branch never got merged to live.)

Apologies for the inconvenience! Thanks for reporting the problem.

[2021-02-17 04:18] #3462 closed

[2021-02-17 07:36] ConfusedZebra opened #3493 "Server Error in '/' Application when clicking on Badges"
**Describe the bug**
When you click on the Badges icon to see what badge I've earned to share, print or download I get an error.

Server Error in '/' Application.

Runtime Error
Description: An application error occurred on the server. The current custom error settings for this application prevent the details of the application error from being viewed remotely (for security reasons). It could, how

[2021-02-17 09:01] TimGitHub opened #3494 "Add 'latest' update moment to - lifecycle overview."
For the docs page about the lifecycle, it would be handy to know if the 'final date' is included in the update coverage or not.

For example:
Windows 10 Version 1809 - The retirement date is: 05/11/2021

Will the customer receive an update on this date or not? If so it might be handy to make a small * saying this is the last day they will receive the latest patch and 'after this day, there won't b

[2021-02-17 14:29] codeWithUtkarsh commented on #1672
Failed to provision a Cloud Shell: {"code":"TenantActiveUserQuotaReached","message":"Tenant '9bc8569b-1f4b-45d0-b9f6-8f8db6ec55b2' has '20' activeusers in location 'centralindia', which exceeds the active user quota."}

I am getting this above exception. Can anyone suggest me a solution?

[2021-02-17 17:59] mimisasouvanh commented on #3433
@gewarren @robertsundstrom Nuget packages should be showing. If a nuget package is not showing for a class, would you mind specifying an example?

[2021-02-17 19:58] mimisasouvanh commented on #719
@conceptdev @mattleibow Looks like the skiasharp api docs builds have been failing. Do you know what is happening?

[2021-02-17 20:43] JHBonarius commented on #3487
In my experience everything I try ends up with "No results
Sorry, we couldn’t find anything that fit your search."

[2021-02-17 21:47] robertsundstrom commented on #3433
I don't remember one, but I assumed that it was a framework class. It might have been for some of the Identity classes.

Yes, found one: https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.identity.entityframeworkcore.identitydbcontext-1?view=aspnetcore-5.0

Btw. Why don't you make it a link to the package at Nuget.org?

[2021-02-17 22:35] mimisasouvanh commented on #2946
Internal [item](https://ceapex.visualstudio.com/Engineering/_workitems/edit/377155) created to track this.

[2021-02-17 22:46] mimisasouvanh commented on #2575
This issue has been resolved by [internal bug](https://dev.azure.com/ceapex/Engineering/_workitems/edit/291919). For details, please see @junshi356 's comment above.

[2021-02-17 22:49] mimisasouvanh commented on #3433
@robertsundstrom Thanks for the example. I'll file an internal bug. Great suggestion about making the package a link to Nuget.org. We'll look into that.

[2021-02-18 01:13] mimisasouvanh commented on #2575
Reopen, as issues still persist. cc @Rick-Anderson @mairaw

[2021-02-18 01:46] mattleibow commented on #719
Hey folks! Just want to say the docs are looking much better these days!

Obsolete messages are attached to the actual members:
![image](https://user-images.githubusercontent.com/1096616/108291959-d4439300-719b-11eb-87b8-d2f021da142f.png)

Better messages:
![image](https://user-images.githubusercontent.com/1096616/108291829-90e92480-719b-11eb-9c8a-2e7070af6256.png)

When viewing old docs:
![image]

[2021-02-18 03:03] Rick-Anderson commented on #2575
@v-alje can you help fix this problem?

[2021-02-18 15:41] GlenGengforeseeti opened #3495 "REST API version of firewall rules of SQL server service"
Hi, I would like to report that the REST API version of the firewall rules of SQL server service is no longer valid.
In both [(https://docs.microsoft.com/en-us/rest/api/sql/firewallrules/get)] page and resource explorer, the API version is 2014-04-01, which cannot have the correct json format as a response.
But I have confirmed that API version 2015-05-01-preview works properly.

[2021-02-18 15:51] csjurgensen opened #3496 "More attractive page - better font and layout"
**Is your feature request related to a problem? Please describe.**
This is just a friendly feedback...

**Describe the solution you'd like**
A more attractive enticing web page for Windows Documentation. I am new to Android and I visited their website and it is way more cool - https://developer.android.com/about/versions/11, compared to https://docs.microsoft.com/en-us/windows/

[2021-02-18 18:24] mimisasouvanh commented on #719
@mattleibow Thanks for the update! Please close the issue as you see fit.

[2021-02-18 18:54] mimisasouvanh commented on #3046
@Joe-Sewell-PreEmptive Thank you for your clarifications. I've logged an [internal item](https://dev.azure.com/ceapex/Engineering/_workitems/edit/291919) to track this request. I will reach out if we need more info.

[2021-02-19 06:58] yuanlincong opened #3497 "Download the contents of a DriveItem use msgraph sdk"
**Describe the bug**
i want to download content use msgraph sdk,
this is my code:

 SimpleAuthProvider authProvider = new SimpleAuthProvider("token");
        IGraphServiceClient buildClient = GraphServiceClient.builder().authenticationProvider(authProvider)
                .buildClient();
        IDriveItemCollectionPage iDriveItemCollectionPage = buildClient.me()
                .drives("driveId

[2021-02-19 10:28] zlDev opened #3498 "Conflicting information"
**On the following page:**
https://docs.microsoft.com/en-us/troubleshoot/mem/intune/configure-android-enterprise-devices-intune

**Stated that:**
_Question: Are Web Applications supported for work profile-enrolled devices?
Answer: Yes. Web apps (or web links) **are supported** for all Android Enterprise scenarios._

**When creating a web link the Following statement is presented:**
_Web apps **are

[2021-02-19 12:28] SelfMan opened #3499 "Error in documentation for exchange commandlet"
The site "Properties of messages in queues" at
https://docs.microsoft.com/en-us/Exchange/mail-flow/queues/message-properties?view=exchserver-2019
contains "Message properties to use as filters".
The "Comparison operators" for "Subject" property claim the "-contains" operator as valid while it is not.
The propper comparison should be "-like" including the info to use the asterix as a wildcard.
i.e.

[2021-02-19 12:33] SelfMan commented on #3499
The error message from Exchange is:
`Cannot bind parameter 'Filter' to the target. Exception setting "Filter": ""-contains" is not a valid operator. For a l
ist of supported operators see the command help.`

[2021-02-19 12:52] Orange23333 opened #3500 "In HttpWebRequest Class Page, the Table about Http Headers shouldn't be translated. label:"Linguistic Issue""
**Is your feature request related to a problem? Please describe.**
In HttpWebRequest Class Page, the following Table about Http Headers shouldn't be translated.
for that we can clearly understand the relationships between the origin words of `标头` and `设置者` .

**Describe the solution you'd like**
In zh-CN, it should looks like:

标头 | 设置者
-- | --
Accept | 由属性设置 Accept 。
Connection | 通过 Connection 属性

[2021-02-19 13:31] yuanlincong commented on #3497
ok,i upgrade sdk version to 2.8.1,this problem has resolved,
thanks

[2021-02-19 17:22] bmukes opened #3501 "Found Bug in ARM documentation for Microsoft.Web sites/config authsettingsV2"
**Describe the bug**
On page [Microsoft.Web sites/config authsettingsV2](https://docs.microsoft.com/en-us/azure/templates/microsoft.web/sites/config-authsettingsv2)
The Template Format for the httpSettings property is incorrectly placed outside of the properties property.

When you copy the template and edit it in Visual Studio Code you see a notification that the httpSettings property is in the w

[2021-02-20 00:59] ProcrastinatingEntrepreneur opened #3502 "Can't use the Cloud Shell in Microsoft Learn"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Login to Microsoft Docs
2. Go to Microsoft Learn
3. Click on Introduction to Git Lesson
4. Try to access the first lesson with Cloud Shell access
5. Asks me to Sign in, I sign in with same account as Docs account
5. Tells me I'm logged into Microsoft Docs with a different

[2021-02-20 06:38] clandrew commented on #2187
Some courageous, intrepid soul @TerryFei has kindly uploaded the WIC sample to the code gallery [here](https://github.com/microsoftarchive/msdn-code-gallery-community-s-z/tree/master/Windows%20Imaging%20Component%20Animated%20GIF%20Win32%20Sample/%5BC%2B%2B%5D-Windows%20Imaging%20Component%20Animated%20GIF%20Win32%20Sample/C%2B%2B). Thank you!!

[2021-02-20 06:58] clandrew commented on #2187
Remaining action- see if there are any other samples to rescue. Word on the street is the progressive image decode one is in this category

[2021-02-20 22:07] ibakirov commented on #1672
@codeWithUtkarsh re-try it for a long period of time. I overcome such this limitations on next days

[2021-02-21 03:16] rsiles opened #3503 "JsonSerializer Error"
When trying to deselialize the following response string from a web api, even using the same data model from a dll model of my application, this does not work, only with NewtonSoft

{"usuario":"rsiles","ticket":"gNsC7OaPZOphSVypamsBicTCIvzJoRT4DTCXYEKoKqvIgDKW8JfSFQ==","terminal":null,"ip":null,"paginas":0}

                    //retorno = JsonSerializer.Deserialize<MResult>(response);

[2021-02-21 20:42] chould58 opened #3504 "Poor information for Visual Basic in Microsoft doc."
.
When I search information in Microsoft Doc about Visual Basic, the example in the answer, is often describe with C#.
I check today in the section code example and there is 38 examples pour VB and 1352 examples for C#,
Can you tell me if Microsoft will foresee to discontinue VB in next years ?
Because I wouldn’t arrive face to face with a big wall.
If so, I will begin to translate my code for C#.

[2021-02-21 21:28] chrispiasecki opened #3505 "Add Dynamics 365 product stencils"
It would be great if all the Dynamics 365 product icons were available as either SVG format or as a Visio stencil pack, similar to how [Azure icons](https://docs.microsoft.com/en-us/azure/architecture/icons/) were made available.

If not possible, then perhaps adding each product icon to its appropriate landing page in Docs would be also be fine (similar to how [Customer Service](https://docs.micr

[2021-02-21 23:26] faisal-ijaz commented on #3505
I have been looking for the d365 icons/stencils as well.

[2021-02-22 18:10] saper-2 commented on #3453
There should pop-up some kind of list with (quick) search result after typing word in search fields (in left panel above topics tree, and in top search)?
When I type e.g. "CAST" it display like it would working, but it won't display anything... The left-search show something when I use up/down arrow (eventually I find the caption that I'm interested but I need to use up/down), top search behave in

[2021-02-22 18:12] leocb opened #3506 "WPF Styling with ControlTemplates Sample missing file"
In the page [Styling with ControlTemplates Sample](https://docs.microsoft.com/en-us/previous-versions/dotnet/netframework-3.0/ms771597(v=vs.85)) the link `Download Sample` is returning an error 404 - [link here](http://download.microsoft.com/download/f/6/e/f6e32974-726e-4054-96af-9c747bf89a6e/controltemplateexamples.exe)

[2021-02-22 18:15] leocb opened #3507 "WPF Themed Application Sample missing file"
In the page [Themed Application Sample](https://docs.microsoft.com/en-us/previous-versions//ms771613(v=vs.85)?redirectedfrom=MSDN) the link to `Download Sample` is redirecting the the Microsoft download center - [link here](http://go.microsoft.com/fwlink/?linkid=69676&clcid=0x409)

[2021-02-22 19:48] gewarren commented on #3453
@saper-2 It's working for me in that same Firefox version. There must be something else blocking it on your machine.

![image](https://user-images.githubusercontent.com/24882762/108761552-d8591300-7503-11eb-96fc-90deee5cddcb.png)

[2021-02-23 00:32] markoshea1212 opened #3508 "Table columns headers in wrong columns"
The column headers in the authentication storage table on https://docs.microsoft.com/en-us/rest/api/storageservices/authorize-requests-to-azure-storage are currently out by one column, they need to be shifted one to the right.

[2021-02-23 09:05] jhauray opened #3509 "Azure Templates Microsoft.Web/hostingEnvironments - dnsSuffix not supported on Api Version 2020-09-01"
**Describe the bug**
This Azure templates doc page (https://docs.microsoft.com/en-us/azure/templates/microsoft.web/2020-09-01/hostingenvironments#quickstart-templates), show in schema description, a parameter that is no more supported : `dnsSuffix`.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to web page https://docs.microsoft.com/en-us/azure/templates/microsoft.web/2020-09-01/hosting

[2021-02-23 14:41] ccourson commented on #1252
From https://docs.microsoft.com/en-us/windows/win32/api/winbase/nf-winbase-formatmessage

"If you pass in zero [for dwLanguageId], FormatMessage looks for a message for LANGIDs in the following order:

1. Language neutral
2. Thread LANGID, based on the thread's locale value
3. User default LANGID, based on the user's default locale value
4. System default LANGID, based on the system default locale

[2021-02-23 15:41] sennendoko opened #3510 "Broken video link in ARM templates documentation"
The link to the "Build 2020 video" at https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/ gives a "not found" error.

(Microsoft Edge on Windows 10 - but presumably anywhere).

[2021-02-23 17:44] mikben commented on #2790
Thanks for taking the time to let us know about this. Due to the sheer volume of feedback in our repo, we're currently prioritizing new Issues. If you believe your feedback is still actionable, let us know either directly in this thread or by filing a new Issue and we’ll work to incorporate your suggestions. Though this issue will be marked as Closed, this issue is still being tracked internally a

[2021-02-23 17:44] mikben commented on #2790
#please-close

[2021-02-23 19:02] colin-higgins commented on #3448
Hi, checking in again for any updates on this issue.

[2021-02-24 11:51] Tecknoth opened #3511 "Boolean.TrueString french documentation (auto translated) indicates a slighlty wrong value"
The french translation of the documentation for Boolean.TrueString is mentioning in Remarks that the field value is equal to "true" ; which is wrong : the value is actually "True". Although not very critical, this might be a bit confusing.

The error doesn't seem to be linked to a particular .NET Version : the page for all versions seems to have the issue.

See https://docs.microsoft.com/fr-fr/dot

[2021-02-24 12:59] AlexNek opened #3512 "Download Htmlhelp.exe link broken"
**Describe the bug**
Download Htmlhelp.exe link broken

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/previous-versions/windows/desktop/htmlhelp/microsoft-html-help-downloads
2. Click on 'Download Htmlhelp.exe'
3. See error

**Expected behavior**
Download link to Htmlhelp.exe

[2021-02-24 13:52] FaridAhamat opened #3513 "Please include C# version numbers for all the operators in the operators section"
**Is your feature request related to a problem? Please describe.**
Sometimes old applications break because I used newer C# syntax out of habit. Would be useful to know which version an operator was introduced. As C# language evolves faster, I think it's useful to know in a glance which version was an operator introduced, rather than read through the lengthy C# changelog.

**Describe the solution

[2021-02-24 15:54] amoertlseder opened #3514 "Missing release notes"
The link https://docs.microsoft.com/en-us/visualstudio/releases/2019/release-notes#16.8.6 for the VS update doesn't show any release notes for the given release.

[2021-02-24 19:07] jaapbrasser opened #3515 "Azure Tech Groups overview is not available"
**Describe the bug**
Azure Tech Groups overview is not available

**To Reproduce**
Steps to reproduce the behavior:
1. Goto: https://developer.microsoft.com/en-us/azure-tech-groups/
2. Click: What are Azure Tech Groups?
3. ...
4. 404

1. Goto: https://developer.microsoft.com/en-us/azure-tech-groups/program-guide
2. Click: program overview in the navigation overview on left
3. ...
4. 404

**Expecte

[2021-02-24 21:58] faisal-ijaz commented on #3505
@chrispiasecki The sales documentation has the sales icons. Not sure if they were there before, but you can grab them from there. I hope rest of the products get their svgs embedded in the documentation as well.

[2021-02-24 23:29] mrlucmorin opened #3516 "[Question] Where is the "Power Query M formula language" documentation hosted?"
Hi,

I've been trying to locate a GitHub repository for the _Power Query M formula language_ located at:

https://docs.microsoft.com/en-us/powerquery-m/

I want to contribute by fixing small spelling errors.

Is that content maintained on GitHub? Kindly point me to the correct place.

Thank you

[2021-02-25 01:41] tommai78101 commented on #1252
@ccourson

Have they actually updated the articles I sought information from, in regards to alternatives for the macros marked for deprecation?

I still haven't seen a solution as to how to do the workaround to the deprecated MAKELANGID macro.

[2021-02-25 07:56] raven15 opened #3517 "API browser can increase the display of API differences between different versions"
**Is your feature request related to a problem? Please describe.**
API differences between different versions or frameworks cannot be compared。

**Describe the solution you'd like**
This is very useful for developers who are familiar with the old version of API. Every time we update the version, we can easily understand the API changes brought by this upgrade.

It can also increase the contrast be

[2021-02-25 07:57] ptschumi opened #3518 "Link broken in Use hybrid Modern Authentication article"
Hello

In the article https://docs.microsoft.com/en-us/exchange/clients/outlook-for-ios-and-android/use-hybrid-modern-auth?view=exchserver-2019 the following link is broken:

 "Validating Hybrid Modern Authentication setup for Outlook for iOS and Android" is pointing to https://gallery.technet.microsoft.com/scriptcenter/Validating-Hybrid-Modern-ad4c2b16

Could you make that script available again?

[2021-02-25 12:03] ccourson commented on #1252
One can edit the reference docs and add a "Deprecated" remark on GitHub then submit a pull request. As for the workaround, simply supply '0' for the dwLanguageId parameter and Windows will sort it out.

[2021-02-26 00:02] madhuperera commented on #3152
Hi Team,

I have the same or a very similar issue. I managed to deploy all packs except for Work @ Contoso that keeps failing. Team Site with Data says installed but 6000 Item List is empty. Appreciate if you could take a look please.

Thanks
Madhu

[2021-02-26 01:59] raven15 commented on #3302
You may need to do an enum like this yourself

[code]

[2021-02-26 10:23] nickonos commented on #3302
https://www.nuget.org/packages/HyperBoolean/

[2021-02-26 10:28] KalleOlaviNiemitalo commented on #3504
From <https://devblogs.microsoft.com/vbteam/visual-basic-support-planned-for-net-5-0/>:

[2021-02-26 13:28] rosetau opened #3519 "Всё хорошо, спасибо-с уважением Александр Сергеевич добрый и ещё раз здравствуйте ещё раз прошу прощения что не знаю почему ты всегда будешь в офисе"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-02-26 13:29] #3519 closed

[2021-02-26 14:53] love1888 opened #3520 "map REST API is fault to use in China"
just wondering if it is a common situation?

[2021-02-27 11:38] ajp999 opened #3521 "User Experience Virtualization Template Gallery Link not working"
**Describe the bug**

A clear and concise description of what the bug is.

The link [User Experience Virtualization Template Gallery](https://gallery.technet.microsoft.com/site/search?f%5B0%5D.Type=RootCategory&f%5B0%5D.Value=UE-V&f%5B0%5D.Text=UE-V) on page https://docs.microsoft.com/en-us/windows/configuration/ue-v/uev-working-with-custom-templates-and-the-uev-generator redirects you to the brow

[2021-02-27 19:28] rbrundritt opened #3522 "Add filter to activity page of learn profile"
**Is your feature request related to a problem? Please describe.**

I've been doing a lot of learning courses, but for a handful I never finish a certain learning path or module either due to time or a bug in the module.

**Describe the solution you'd like**

It would be great if I could filter the items in my activity page to see which learning paths/modules are not 100% complete so I can go back

[2021-03-02 09:46] jaapbrasser commented on #3515
Hello,

I see the issue is fixed now.

[2021-03-02 09:46] #3515 closed

[2021-03-02 14:19] MarcVndrhgn opened #3523 "Pages on docs.microsoft.com for the Surface Hub are displayed in Japanese instead of english"
When I go to the documentation for the Surface Hub, the language is switching to japanese. (but you can see en-us in the URL). Switching the site to French or Deutsch is OK.
Apparently it is on all the pages under Surface Hub.
For example, I go to http://docs.microsoft.com and search for Surface Hub, the results are here, in English, https://docs.microsoft.com/en-us/search/?terms=surface%20hub
Fro

[2021-03-02 14:47] jstraw45 opened #3524 "system.object.gettype example describes type(long) as 32-bit integer"
Object.GetType Method (at https://docs.microsoft.com/en-us/dotnet/api/system.object.gettype?view=net-5.0) discusses using the GetType method to determine the type of a particular object. Within the example, the test to check whether the value is a long claims that the value is a 32-bit rather than a 64-bit integer. See highlights in attachment.

**Desktop (please complete the following information

[2021-03-02 22:58] ratty67 opened #3525 "Link broken"
**Describe the bug**
On page
https://docs.microsoft.com/en-us/powershell/module/azuread/get-azureaduser?view=azureadps-2.0

the link supplied in the FILTER section is broken
http://www.odata.org/documentation/odata-version-3-0/odata-version-3-0-core-protocol/#queryingcollections

![image](https://user-images.githubusercontent.com/36491286/109726507-949a9380-7bfe-11eb-84ec-01d34e8139ae.png)

[2021-03-03 02:48] isaurao opened #3526 "My user change!!"
I already had a user with advances and today that I logged in, the system created another one!!! and I lost all my advances! I don't know how to recover my previous user with all my history .
Please help!

[2021-03-03 03:50] mahalel commented on #1797
I've had this issue since November last year, went to try and complete a cloud skills challenge today and it's still blocked. Not sure how to fix this..

[2021-03-03 16:30] terrychang1015 opened #3527 "How to tie company email and personal email in a single dashboard?"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-03-03 17:24] MathiasAaron opened #3528 "Microsoft Learn (User) Public Profile"
Hi,

I noticed the in my personal view of Microsoft Learn Profile, I can see my certifications as well. I can't see the same in the public view of it.

Also if there was an option to publish the public view to LinkedIn, that would also be amazing and attract more users to Microsoft Learn.

Regards,

Aaron.

[2021-03-03 18:26] prabhushyja commented on #3487
The search is fixed. Thanks for your help.
Closing issue.

[2021-03-03 18:26] #3487 closed

[2021-03-03 20:17] mairaw commented on #579
I don't see Invoke listed under later versions anymore, so closing this.

[2021-03-03 20:17] #579 closed

[2021-03-03 20:45] mirlenbrink opened #3529 "No Official Documentation on Microsoft Planner Limits"
**Is your feature request related to a problem? Please describe.**
We have Power Automate flows that automate the creation of tasks into Planner buckets which started failing recently with the error below error.
`
  "error": {
    "code": "MaximumActiveTasksInProject",
    "message": "The request exceeded allowed limits.",
`
Researching the error there appears to be no official documentation expla

[2021-03-03 21:38] Squaduck opened #3530 "When Registering your account for MicrosoftDocs, one of the countries/regions available from the dropdown is "Bahamas, The""
**Describe the bug**
When Registering your account for MicrosoftDocs, one of the countries/regions available from the dropdown is "Bahamas, The"

**To Reproduce**
Login with an un-registered account
And go through the process until the "Stay up to date" page
In the country/regions dropdown menu one of the options is "Bahamas, The"

**Expected behavior**
For the affected option to be "The Bahamas"

[2021-03-04 00:44] Brian-Ding opened #3531 "Cannot render normal checkbox like GitHub"
**Is your feature request related to a problem? Please describe.**
Is it possible to render a checkbox just like the GitHub does here?

**Describe the solution you'd like**
With markdown code as below
[code]
I am expecting

What I really get is

[2021-03-04 07:40] westleyMS opened #3532 "Code bug in sample"
**Problem**
In the sample claim provider for this article-
https://docs.microsoft.com/en-us/archive/blogs/speschka/using-sharepoint-apps-with-saml-and-fba-sites-in-sharepoint-2013?source=docs

The code sample has an error where they attach the SMTP claim to the actor token, instead of just the user token.
Recently (at the end of 2020) there was a security update that blocks user claims on the acto

[2021-03-04 08:01] Ogieeeeee commented on #3458
Hi, I somewhat get the same error but with the MXChip. Everything worked fine for a couple of weeks but now all of sudden it doesn't work.

Steps to reproduce for me:
1. Open a sample project -- ( still goes fine)
2. Try to provision Azure services with the "Azure IoT Device Workbench" tool -- ( works )
2. Close the sample project
3. Open the sample project device folder in VSCode
4. Try to provis

[2021-03-04 09:09] Ogieeeeee commented on #3458
Well, ehh ok.. the fix is:
1. Open the command pallet
2. type: open workspace
3. open the <name>.code-workspace file ( the file before u go in the Device folder )
4. ??
5. profit

[2021-03-04 13:54] MVogwell commented on #3518
+1 -- we really need this too please. Thanks, Martin

[2021-03-04 14:36] saadakber opened #3533 "Movere Doc link not working"
Hi,

on the page https://docs.microsoft.com/en-us/movere/overview
the link in 3rd line to microsoft solution assement is not valid

[2021-03-04 15:50] alx-kpk opened #3534 "campaignresponse - missing read-only hint"
on https://docs.microsoft.com/en-us/dynamics365/customer-engagement/web-api/campaignresponse?view=dynamics-ce-odata-9 for a couple of fields there is missing hint that these fields a read-only (e.g. fistname, lastname, emailaddress)

When opening an existing campaignresponse, fields are marked as read-only. This behaviour cannot be changed with form editor.

![image](https://user-images.githubuser

[2021-03-05 09:46] azieh commented on #1797
@yunyunyunyun
I have the same problem as above. The sandbox feature is not working for me since December 2020. Could you un-ban my account that is registered on email wasielewski.adrian@o2.pl ?

[2021-03-05 09:50] pimvandestreek opened #3535 "Docs - Dutch translation correction proposal"
The dutch translation for page "Create a new trade agreement" requires a correction
https://docs.microsoft.com/nl-nl/dynamics365/supply-chain/sales-marketing/tasks/create-new-trade-agreement

Old text:
Als de klant een minimumhoeveelheid moet bestellen voordat deze voor de nieuwe prijs in aanmerking komt, moet u die hoeveelheid hier opgeven.
Voer een waarde in het veld **Aan** in om de maximale ho

[2021-03-05 13:37] mansurewp opened #3536 "I need a stable windows for camera system"
I'm using windows 10pro to install Geovision's VMS system, however because of constant updates and requests to put e-mail, the system hangs the recording until I go to the site and mark it to disregard it, I need a windows that won't be restarting all the time  or making such requests.

[2021-03-05 18:32] GrantMeStrength commented on #2790
Thanks Vadims - I will take a look at this one.

[2021-03-05 19:56] Crypt32 commented on #2790
Thanks for reopening this. I double-checked the issue and it is still actionable. Further research discovered that table in `Remarks` section has the following issues:

- missing `IssuedSerialNumbersDirectories` named property
- `Data type` column has invalid values for `BaseCrl` and `DeltaCrl` named properties

Below is my vision of proper `Remarks` section which is technically correct and is bas

[2021-03-05 20:15] GrantMeStrength commented on #2790
Thank you! I've reached out to the feature team to get confirmation as to the fix, but your suggestion looks good to me.

[2021-03-06 20:27] fredster33 commented on #2891
For anyone coming from a search engine, currently Microsoft has all of their TechNet gallery software here: https://github.com/MicrosoftArchive

Many software developers also have archived the Gallery on Internet Archive (Wayback Machine), or moved their software to GitHub.

[2021-03-07 10:55] Valerianastasia opened #3537 "To"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-03-07 11:02] Kcaxtanhu commented on #3528
Hi!

Not sure if I need to open another issue or my comment here is fine.
From my Personal Profile I've linked with my email (Microsoft Account) used in my Certification Dashboard but still can't see my certification.

Any suggestion?

Regards,
DS.

[2021-03-07 12:49] virtualhut opened #3538 "API documentation cannot display Chinese"
The API document cannot display Chinese, but it can still display Chinese a few days ago
No matter I switch to any voice, only English is displayed

[2021-03-08 07:14] mahdisky commented on #2515
I'd love to read this in Persian :)

[2021-03-08 07:41] RikaEndo0 opened #3539 "the link is not valid."
Hi,

On the page "Available Today! Visual Studio 2019 v16.9 and v16.10 Preview 1"
the link is not valid.

×：https://devblogs.microsoft.com/visualstudio/vs2019-v16-19-and-v16-10-preview-1

〇：https://devblogs.microsoft.com/visualstudio/vs2019-v16-9-and-v16-10-preview-1/

[2021-03-09 15:15] bhd8421 opened #3540 "链接错误"
正确的地址：https://docs.microsoft.com/zh-cn/previous-versions/dynamicscrm-2016/administering-dynamics-365/dn531071(v=crm.8)
错误的地址：https://docs.microsoft.com/zh-cn/zh-cn/previous-versions/dynamicscrm-2016/administering-dynamics-365/dn531200(v=crm.8)

[2021-03-09 15:53] Llessur opened #3541 "Challenge is not listed in Learn > Profile > Challenges"
I registered for the Pi Day Cloud Skills Challenge described here.
https://www.microsoft.com/en-us/learncloudchallenge/c7905b19-dd09-4e50-91a3-94d87635b5ae

I completed all seven modules last week. The module list shows 100% for all.
https://docs.microsoft.com/en-us/users/msusdev/collections/yjdncoynwyn0xe

![temp2](https://user-images.githubusercontent.com/1308519/110498497-60731700-80c5-11eb-9c4

[2021-03-09 16:29] perhall opened #3542 "example link in Windows 10 leads to obsolete Windows8 page"
**Describe the bug**
In the file property dialogue, Security > Choose > Advanced > Add > Select main account,
there is an (_example_) link what can be filled in.
Clicking that, the user is sent to https://docs.microsoft.com/en-us/previous-versions/orphan-topics/ws.11/dn789205(v=ws.11)?redirectedfrom=MSDN
which only "Applies To: Windows 8.1, Windows RT 8.1, Windows Server 2012 R2" and have no feedb

[2021-03-09 16:33] perhall commented on #3542
Changed to Chrome and copy-paste works: This is the dialogue box in question.
![image](https://user-images.githubusercontent.com/8865245/110504389-67b61700-80fd-11eb-8985-d69c0932ffec.png)

[2021-03-09 17:39] Hiihtaja77 opened #3543 "Link to Cryptographic Development kit download is invalid"
On page : https://docs.microsoft.com/en-us/windows/win32/seccng/cng-portal
"
If you are developing a CNG cryptographic algorithm provider or key storage provider, you must download the Cryptographic Provider Development Kit from Microsoft.
"
But link to it : https://www.microsoft.com/download/details.aspx?id=30688
show
"
We're sorry, this download is no longer available.
"

Where I can download Cr

[2021-03-09 18:47] FatWaterAudio opened #3544 "Tutorial: Customize view for EF Database First with ASP.NET MVC app"
the page at this link  --> https://docs.microsoft.com/en-us/aspnet/mvc/overview/getting-started/database-first-development/customizing-a-view?source=docs     does not work as described.  Adding the custom code to the Views/Students/Details.cshtml  causes the project to fail with a 400.0 IIS message.  ...basically a bad request. Once the failure occurs, there doesn't seem to be a way to recover wit

[2021-03-10 00:10] mstefarov commented on #3213
This never got fixed, but the issue is no longer relevant since November 10, 2020 when 16.9pre1 was released and the page was replaced.  As far as I can tell, old preview release notes are not archived and not accessible.

[2021-03-10 01:50] Chris-DevTeam opened #3545 ""View in English" checkbox to follow when scrolling"
Despite the numerous contributors, automatic translation is not yet natural.

So, I have to read the original English text often for strange interpretations.
In order to view the original text in a state of scrolling down a lot, you have to go back to the top and click the checkbox, which is very inconvenient.

When scrolling, it would be nice if this area of "Bookmark, Feedback, Edit, Share, View

[2021-03-10 08:45] dkganchev opened #3546 "Visibility, automation, and orchestration with Zero Trust"
**Describe the bug**
Spelling error in the text
"Reactive detection is when incidents are triggered from one of thesix p illars that can be investigated."

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/en-us/security/zero-trust/visibility-automation-orchestration'
2. Scroll down to Managing threats includes reactive as well as proactive detection and requir

[2021-03-10 17:11] keziamicro commented on #3546
@dkganchev Thank you for reporting this. I have reached out to the authors for correction. I appreciate you taking the time to let us know.

[2021-03-10 17:21] keziamicro commented on #3545
@Chris-DevTeam Thank you for taking the time to send us this idea. I've shared this with the designer working on this specific section of navigation.

[2021-03-10 17:32] keziamicro commented on #3543
@Hiihtaja77 Thank you for taking the time to let us know that link is not working. I've let the authors know.

[2021-03-10 17:36] FatWaterAudio commented on #3544
@keziamicro thank you for your reply.   In my own continuing efforts, I was able to find a nearly identical tutorial using Razor Pages style development instead of MVC style development.  My current project is a new development effort.  Which of these two approaches should be preferred for new development?

[2021-03-10 17:38] keziamicro commented on #3544
Looping in @Rick-Anderson for the above ^

[2021-03-10 17:40] keziamicro commented on #3541
@Llessur I've forwarded this bug to the Learn team. They should be able to help you.

[2021-03-10 17:55] keziamicro commented on #3538
@virtualhut Thank you for reaching out. Can you please provide a URL where you are seeing this issue?

[2021-03-10 17:58] keziamicro commented on #3537
@Valerianastasia Could you send us more information regarding your enhancement request. I don't think everything was fully documented above. Thanks!

[2021-03-10 18:09] keziamicro commented on #3535
@pimvandestreek Thank you for taking the time to write up the translation correction. I've let the authors know.

[2021-03-10 18:20] keziamicro commented on #3531
@Brian-Ding Thanks for taking the time to write to us. What product/service were you referring to in the example above?.

[2021-03-10 18:30] Dansimp commented on #3536
This looks like a product issue, not a documentation issue. Please submit any product feedback using the Feedback Hub app. Here's how: https://support.microsoft.com/en-us/windows/send-feedback-to-microsoft-with-the-feedback-hub-app-f59187f8-8739-22d6-ba93-f66612949332

[2021-03-10 18:43] keziamicro commented on #3530
@Squaduck Thank you for taking the time to report this bug to us. I've let the engineers know and hopefully we will see a fix soon. Thanks again!

[2021-03-10 18:46] keziamicro commented on #3529
@mirlenbrink Thank you for taking the time to write to us. I've let the authors know about your suggestion to add limits to the documentation. Thanks again!

[2021-03-10 18:47] #3529 closed

[2021-03-10 18:47] #3530 closed, assigned to nobody

[2021-03-10 18:47] #3533 closed

[2021-03-10 18:48] #3539 closed

[2021-03-10 18:48] #3543 closed

[2021-03-10 18:49] #3545 closed

[2021-03-10 18:49] #3546 closed

[2021-03-10 18:54] keziamicro commented on #3528
@Kcaxtanhu Thanks for following up. Due to some specific info the team may need to access your profile, could you please submit the Learn profile bug here please https://docs.microsoft.com/en-us/learn/certifications/help#how-to-contact-support

[2021-03-10 18:55] #3528 closed

[2021-03-10 18:56] keziamicro commented on #3527
@terrychang1015 What product/service are you having issues with? With that detail we can get your bug to the right place. Thanks!

[2021-03-10 18:58] Rick-Anderson commented on #3544
@keziamicro  please transfer to https://github.com/dotnet/AspNetDocs

[2021-03-10 18:59] keziamicro commented on #3526
@isaurao So that our customer support folks can help, could you please fill out a bug request here https://docs.microsoft.com/en-us/learn/certifications/help

[2021-03-10 19:00] #3526 closed

[2021-03-11 00:52] yossibanai opened #3547 "Links to Policy Insights are broken"
**Describe the bug**
All links to Policy Insights (https://docs.microsoft.com/en-us/rest/api/policy-insights/) are broken.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/en-us/rest/api/?view=Azure'
2. Search for 'Policy Insight'
3. Click the link
4. See error (404 page)

**Expected behavior**
Policy Insight page opens.

**Screenshots**
If applicable, add sc

[2021-03-11 02:07] edag94 commented on #3501
I had the same issue. I believe its the validation property that has extra brackets:

`"validation": {
          "jwtClaimChecks": {
            "allowedGroups": [
              "string"
            ]
          },
          "allowedClientApplications": [
              "string"
            ]
          },
          "allowedAudiences": [
            "string"
          ]
        },`

Something weird i

[2021-03-11 06:37] Bellybutn278 opened #3548 "I'm stuck, what a feature to be able to combine ALL STACKS into automated categories with divisions"
`// Set the PathDiscovery property.
[FileIOPermissionAttribute(SecurityAction.PermitOnly,
     PathDiscovery = "C:\\Documents and Settings\\All Users")]**Is` your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want

[2021-03-11 06:38] #3548 closed

[2021-03-11 10:48] rosacek commented on #3535
@pimvandestreek @keziamicro thank you for the feedback! Bug #44781 was logged will be reviewed and resolved with the next update.

[2021-03-11 15:39] gjuwindev opened #3549 ""Download PDF" link does not work"
"Download PDF" link does not work, on the page:

https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/new-field?view=aspnetcore-5.0&tabs=visual-studio

[2021-03-11 17:14] keziamicro commented on #3525
@ratty67 Can you check again please? I was able to click on the link and open it. Regardless, I'll make sure to let the authors know.

[2021-03-11 17:15] #3525 closed

[2021-03-11 18:07] Rick-Anderson commented on #3544
@alligreubel who can transfer this issue to https://github.com/dotnet/AspNetDocs ?

[2021-03-11 18:51] tdykstra commented on #3524
This issue was moved to dotnet/dotnet-api-docs#5414

[2021-03-11 18:59] #3524 closed

[2021-03-11 20:22] JacquelineWiddis commented on #3539
This has been fixed.

[2021-03-11 22:48] Luk164 opened #3550 "Total time of completed activities"
**Is your feature request related to a problem? Please describe.**
As an assignment, we have to take ~15h worth of courses on our platform of choice. On the Microsoft learn, there are many activities, each showing an average time required for completion. In the Experience overview we can see all activities we have already completed, but to know if I have enough, I have to go through them one by on

[2021-03-12 02:45] JasonWHowell commented on #3549
@Rick-Anderson @scottaddie  this is likely a PDF build failure for the repo above.  Check it out in ops to see why PDF builds are failing.

[2021-03-12 02:49] JasonWHowell commented on #3547
@mmacy do you know where to direct this? Another rest API has 404

[2021-03-12 02:51] JasonWHowell commented on #3534
@KumarVivek can you direct this feedback to the appropriate doc owner? Thanks!

[2021-03-12 02:52] JasonWHowell commented on #3532
The article mentioned is archived and not being maintained. Thanks for the feedback though.

[2021-03-12 02:52] JasonWHowell commented on #3532
#please-close

[2021-03-12 02:52] #3532 closed

[2021-03-12 03:01] JasonWHowell commented on #3531
Docs.microsoft.com does not use GFM (Github flavored markdown) that has the checkmarks.

Docs uses Commonmark, and changing the language would be a ton of work.
https://docs.microsoft.com/en-us/contribute/markdown-reference

Other folks have suggested that Commonmark handle checkboxes and it has been rejected before. https://talk.commonmark.org/t/support-for-gfm-like-checkboxes/2007/4

As an alter

[2021-03-12 03:04] JasonWHowell commented on #3523
@MarcVndrhgn I wonder if this was a temporary problem. It seems to be rendering in en-us locale now, at least from my machine. Can you test again and let us know?

Thanks, Jason

[2021-03-12 03:06] JasonWHowell commented on #3521
Hi @dansimp
Can you take a look at the broken/ redirecting link?
From: https://docs.microsoft.com/en-us/windows/configuration/ue-v/uev-working-with-custom-templates-and-the-uev-generator#share-settings-location-templates-with-the-template-gallery

To: https://gallery.technet.microsoft.com/site/search?f%5B0%5D.Type=RootCategory&f%5B0%5D.Value=UE-V&f%5B0%5D.Text=UE-V

That link is redirecting, since

[2021-03-12 03:07] JasonWHowell commented on #3521
#assign:dansimp

[2021-03-12 03:09] JasonWHowell commented on #3520
@love1888 I cannot see the issue. What's the URL?

Making an assumption, this URL for maps rest API works OK: https://docs.microsoft.com/en-us/rest/api/maps/

[2021-03-12 03:10] JasonWHowell commented on #3518
@msdmaguire Can you take a look at this broken link please?
#assign:@msdmaguire

[2021-03-12 03:13] JasonWHowell commented on #3516
@mrlucmorin most reference docs are not open source. What file has the typo?

You can right click > view source in the browser to look for the metadata tag that shows the repo where the files are hosted.

[code]
The convention is that -pr indicates that the repo is private and is not open source. Sometimes there is a public repo (generally drop the -pr in the repo name). But in this case, there is

[2021-03-12 03:13] #3516 closed

[2021-03-12 03:16] JasonWHowell commented on #3514
@jawiddis can you please check this issue.

@amoertlseder I see the release notes here if it helps:
https://docs.microsoft.com/en-us/visualstudio/releases/2019/release-notes-v16.8#--visual-studio-2019-version-1686-

Thanks, Jason

[2021-03-12 03:17] JasonWHowell commented on #3514
@JacquelineWiddis  Please take a look PS: your author metadata tag is wrong in the pages above.

[2021-03-12 03:26] I-Cat commented on #3514
2019 its 2021 looks out dated

 `Lable: Outdated`

[2021-03-12 03:38] love1888 commented on #3520
Thanks for your replay. What I am trying to do is get access into the Uri that provider from the example on the Dev Center like this one  “ http://dev.virtualearth.net/REST/v1/Imagery/Map/Road/47.645523,-122.139059/18?mapSize=500,500&pp=47.645523,-122.139059;66&mapLayer=Basemap,Buildings&key=*******”

I am sure I use the correct key that I create in my dev account.

I can only success get the pict

[2021-03-12 03:47] JasonWHowell commented on #3514
@I-Cat Sorry I don't understand. The product branding is Visual Studio 2019, but the link in question is for a version (16.8.6) that has recent updates in 2021
![image](https://user-images.githubusercontent.com/5067358/110889201-95889080-82a2-11eb-81ac-60a3378012de.png)

[2021-03-12 04:00] mrlucmorin commented on #3516
Hi Jason,

https://docs.microsoft.com/en-us/powerquery-m/quick-tour-of-the-power-query-m-formula-language

The following sentence:

An M variable can included spaces by using the # character as #"Step Name"

The word "included" should be "include"

As I said, a small typo...

Thanks for the details about the documentation conventions.

Regards.

[2021-03-12 04:12] mrlucmorin opened #3551 "Typo in documentation"
**Describe the bug**
The page:

https://docs.microsoft.com/en-us/powerquery-m/quick-tour-of-the-power-query-m-formula-language

contains a typo. In this sentence:

_An M variable can included spaces by using the # character as #"Step Name"_

"included" should be "include".

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the page
2. Search for the sentence. It is the first item in the f

[2021-03-12 05:00] ssanc37 opened #3552 "learn/paths/foundations-data-science/"
**Describe the bug**

No longer loading.
(https://docs.microsoft.com/en-us/learn/paths/foundations-data-science/))

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/69230910/110894240-5e1ee180-82ac-11eb-9cad-da06c79f501a.png)

**Desktop (please complete the following information):**

 - Browser : chrome
 -  Version 88.0

[2021-03-12 05:14] MarcVndrhgn commented on #3523
@JasonWHowell it lasted a few days but it seems to be fine now.

Thanks
Marc

[2021-03-12 07:01] amoertlseder commented on #3514
The release Notes had been added a day after I wrote the issue.

[2021-03-12 07:01] #3514 closed

[2021-03-12 08:34] Rand-Random commented on #3247
Any information and/or opinion on this topic?

[2021-03-12 13:12] NilminiKiriwandala opened #3553 "The column 'X' was specified multiple times for 't'."
I upgraded my .netCore project from 1.0 to 3.1.
Then after the 3.1 upgration , I get below exception when I try to read an Entity with related objects
"The column 'XXX' was specified multiple times for 't'."

I am trying to read it as below
 var result = db.Actuacion.Where(m => m.ActId == id && m.TempSave != true)
                    .Include(m => m.Siniestro)
                    .Include(m => m.M

[2021-03-12 13:39] Sergio0694 commented on #3214
I'm hitting this issue as well (using Edge, build 89.0.774.50).
Here's a video with the issue, if it helps:

https://user-images.githubusercontent.com/10199417/110947648-b8698200-8340-11eb-827f-b07c06a1966e.mp4

[2021-03-12 14:20] mmacy commented on #3547
@JasonWHowell REST API reference is owned by @rloutlaw. I'll update the owner on all these docs accordingly so they get routed correctly in the future.

[2021-03-12 17:39] #3537 closed

[2021-03-12 17:43] Valerianastasia opened #3554 "Login microsoft"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-03-12 18:32] IoTGirl commented on #3520
@love1888 We do have Bing Maps Customers using the service in China so I suspect the issue is at your provider DNS (Domain Name Server).  Have you checked that www.bing.com is routing correctly to cn.bing.com for example?

Note: We have essentially the opposite question to yours in the Bing Maps forum at https://answers.microsoft.com/en-us/bing/forum/all/how-to-prevent-bingcom-redirect-to-cnbingco

[2021-03-12 18:57] msdmaguire commented on #3518
@ptschumi the link has been fixed and will now work as expected. The change should be published by end of day today. Thanks for pointing this out to us.

The link will now go here: https://aka.ms/OLHMAScript

[2021-03-12 18:58] msdmaguire commented on #3518
@JasonWHowell I do not have the ability to close this issue or I would.....

[2021-03-12 20:51] Rick-Anderson commented on #3549
@JasonWHowell  see [build report](https://ops.microsoft.com/#/sites/Docs/docsets/aspnet-core-conceptual?tabName=builds)
Select PDF build type
![image](https://user-images.githubusercontent.com/3605364/110996973-cf987780-8320-11eb-8d1a-a4a75ccf01c0.png)

1 error(s) (1 System), 0 warning(s). An exception occurred during the build process. Please check the raw log and retry building your content agai

[2021-03-12 21:00] Rick-Anderson commented on #3549
@JasonWHowell  that might be a transient error as it occured on 03/10/2021 11:54:08 with successful builds after that. I'm guessing the pdf is built off live, so I'll merge to live now and see what happens.
--

[2021-03-12 21:06] Rick-Anderson commented on #3549
Nope, looks like it's main.

[2021-03-12 21:09] JasonWHowell commented on #3549
You can issue a manual PDF build if needed. Ping me on email if you need more details.

[2021-03-12 21:19] gjuwindev commented on #3549
no need, thanks...  I just tried to create a PDF while reading that page, that failed failed and I reported it, for somebody should probably have to fix this, for users that will come after me :-)

[2021-03-12 21:35] JasonWHowell commented on #3549
@gjuwindev Thanks for pointing out the issue!

[2021-03-12 21:41] JasonWHowell commented on #3518
#please-close Thanks for the prompt resolution! Great work

[2021-03-12 21:41] #3518 closed

[2021-03-12 21:43] JasonWHowell commented on #3549
#please-close

[2021-03-12 21:43] #3549 closed

[2021-03-12 22:19] JasonWHowell commented on #3523
@MarcVndrhgn Thanks for reporting this issue. Sorry the site was in the wrong language for a few days. I'll close out the issue as resolved now. Thanks! Jason
#please-close

[2021-03-12 22:19] #3523 closed

[2021-03-13 01:12] gewarren commented on #3517
This issue was moved to dotnet/dotnet-api-docs#5431

[2021-03-13 01:12] #3517 closed

[2021-03-13 01:16] gewarren commented on #3513
This issue was moved to dotnet/docs#23301

[2021-03-13 01:16] #3513 closed

[2021-03-13 01:18] gewarren commented on #3511
This issue was moved to dotnet/dotnet-api-docs#5432

[2021-03-13 01:18] #3511 closed

[2021-03-13 01:20] gewarren commented on #3504
Thank you @KalleOlaviNiemitalo . I'm going to close this issue now.

[2021-03-13 01:20] #3504 closed

[2021-03-13 01:21] gewarren commented on #3503
@tdykstra Where do you think the best place to transfer this issue is?

[2021-03-13 01:22] gewarren commented on #3500
This issue was moved to dotnet/dotnet-api-docs#5433

[2021-03-13 01:22] #3500 closed

[2021-03-13 01:29] gewarren commented on #3486
Localization error: The heading should be "DBCC INPUTBUFFER output check" instead of "DBCC ИНПУТБУФФЕР output check".

[2021-03-13 21:45] #3055 closed

[2021-03-14 12:48] ArmaanMcleod opened #3555 "Missing Continue Button with Module Exercise"
**Describe the bug**
In order to finish every exercise in a module, it seems you need to click the bottom "Continue" button on the bottom of each page.
However, in this module exercise, there is no "Continue" button, so I can't finish the module. Simply pressing "Next" at the top of the page doesn't register I've completed the exercise.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '

[2021-03-14 23:25] aeHyper opened #3556 "Minor typo in <head> description"
**Describe the bug**
\n's where \n's do not belong...

**To Reproduce**
Steps to reproduce the behavior:
1. search on a browser and have "https://docs.microsoft.com/en-us/windows/release-health/" show up
2. as you can see in that description very clearly \n
3. inside the <meta> with property="og:description" and name="description" they read "Official information on Windows 10 releases and servicin

[2021-03-15 06:05] HaoHoo opened #3557 "Access will be denied when I open achievements page of profile"
**Describe the bug**
When I try to open achievements page from my profile in docs.microsoft.com/learn site, web browser will be prompted 'Access Denied'. (what ever which browser like chrome\safari\firefox\edge). It's looks like that requests of page is over WAF limitation. (I have had 1000+ badge…)

May be the 'Achievements' page need to split...

**To Reproduce**
Steps to reproduce the behavior:

[2021-03-15 08:13] EricHindrichsen opened #3558 "Table headers offset by 1 column on doc page "Authorize requests to Azure Storage""
On [https://docs.microsoft.com/en-us/rest/api/storageservices/authorize-requests-to-azure-storage](https://docs.microsoft.com/en-us/rest/api/storageservices/authorize-requests-to-azure-storage) the headers of the first table are all offset by one column to the left.

[2021-03-15 12:40] TheMeanFiddler opened #3559 "MemberNameHolders are not easy to read/scan"
I'm just learning mvc. Trying to scan through all the overloads for a particular function.
They all look like "ActionLink(HtmlHelper, String, String, String, String, String, String....."
Seriously?
This is not helpful at all - can't you put the parameter names instead of/as well as the types?

[2021-03-15 12:58] LEBATRUNG opened #3560 "Tkanhs"

[2021-03-15 12:58] LEBATRUNG commented on #3560
Tkanhs

[2021-03-15 13:02] aloshak opened #3561 "How can I remove my old MSDN profile on social.msdn.microsoft.com without access to it?"
I have a Developer profile on social.msdn.microsoft.com. Created long time ago, not used for a long time, no access to the email used to create it. It has outdated personal information. I need help of administrator to update or remove this information.
Here is the link: https://social.msdn.microsoft.com/Profile/artem%20loshak

[2021-03-15 16:04] gewarren commented on #3503
@rsiles What is the JsonSerializer error you are getting? Does it provide any information about where the deserialization is failing?

[2021-03-15 19:36] chrfox opened #3562 "[error message feedback][TEST] provide feedback"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Problem:**
What's wrong with the error message? For example,
- Is error message clear and actionable? the message is inactionable  Some unexpected errors happened when running build, please open a ticket in https://SiteHelp and include the error repo

[2021-03-15 20:46] maitesadaba opened #3563 "RuningBuildFailed message when pulling a merge request"
**Problem:**
I have made some changes in the Master Branch for this page https://github.com/MicrosoftDocs/microsoft-style-guide-pr/blob/master/styleguide/welcome/index.md
But the process failed when merging those changes into the Live repo. **Could you help me?**

**Log code info**
(This is auto filled, no need to modify)

| Severity   | Type   | Code   | Category   | File   | Message   |  Source

[2021-03-15 22:29] crackwitz opened #3564 "typo in "Direct3D 11.3 Conservative Rasterization""
**Describe the bug**
the text talks about "The red triangles at each vertex". those are squares, as the nearby graphic shows.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/windows/win32/direct3d11/conservative-rasterization
3. Scroll down to Overview, third paragraph
4. See error

**Expected behavior**
"The red _squares_ at each vertex"

**Screenshots

[2021-03-15 22:32] crackwitz commented on #3564
another typo in the DX12 version of the page:

URL:
https://docs.microsoft.com/en-us/windows/win32/direct3d12/conservative-rasterization

actual:
"The red squares at each vertex _shows_ how ..."

expected:
"The red squares at each vertex _show_ how ..."

[2021-03-15 23:08] #3283 closed

[2021-03-16 00:51] JasonWHowell commented on #3551
It's an easy fix. I'll try to do it.

[2021-03-16 08:26] Rvvhub opened #3565 "TechNet Gallery - move to GitHub"
Hi there,

any news on the move of the TechNet Scriptcenter content to GitHub?
Countless docs and pages link to the ScriptCenter and we get questions from many customers on where the scripts have gone.

Kind regards,

Ruud

[2021-03-16 09:00] Zongrenfeng opened #3566 "DAX Doc: the ISEmpty() function's example data and formula has a not match column name"
url: https://docs.microsoft.com/zh-cn/dax/isempty-function-dax?source=docs

Like the screenshot below, the column "County" should be "Count".
![image](https://user-images.githubusercontent.com/46955844/111282454-fc2df580-8678-11eb-8e64-eabbbb59e1ca.png)

[2021-03-17 00:11] JasonWHowell commented on #3521
#assign:dansimp

[2021-03-17 01:37] Band-Aid opened #3567 "Cannot change user display name"
**Describe the bug**
Unable to change MS Learn display name.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to MS learn Profile settings. https://docs.microsoft.com/en-us/users/username/settings
2. attempt to change display name
3. notice the error "Something went wrong. Please try again."
**Expected behavior**
Users display name should be changed and a success message should be displaye

[2021-03-17 11:21] georgait opened #3568 "SignalR Blazor turorial"
**Describe the bug**
I have copied this sample https://github.com/dotnet/AspNetCore.Docs/blob/main/aspnetcore/tutorials/signalr-blazor/samples/5.x/BlazorServerSignalRApp and i can't compile it properly. Everytime i run it i get back this exception: System.ObjectDisposedException: 'Cannot process pending renders after the renderer has been disposed.
ObjectDisposed_ObjectName_Name'. This exception w

[2021-03-17 14:53] ilikeyi opened #3569 "关于 Windows 10 *:\Sources\Boot.wim 大小问题"
声明：重建后，引导安装，不存在任何问题。

测试条件：
重建所有索引号，压缩类型：Max，Fast，None

文件统计，共计 4 个，

官方原版 Boot.wim
---------------------------------------------------------
占用大小：652+652+588+588 = 2480                  原始大小

Fast 压缩率统计：
---------------------------------------------------------
占用大小：492+492+427+427 = 1838
与原版大小正负差：2480-1838 = 642                 节约 642M

Max 压缩率统计：
------------------------------------------------

[2021-03-17 16:29] GrantMeStrength commented on #2919
Taking a look, thanks Eliot

[2021-03-17 17:27] drewbatgit commented on #1349
Thanks for reporting this issue. I've verified that the API is in mfsrcsnk.dll and I've updated the docs. You should see the update on the live site within 24 hours.

[2021-03-17 17:27] #1349 closed

[2021-03-17 19:23] mjuras opened #3570 "Please remove NOINDEX from gmStudio Promotion on MSDN"
Please, please ,please remove the following metatag:

<meta name="ROBOTS" content="NOINDEX,NOFOLLOW" />

from this page

https://docs.microsoft.com/en-us/previous-versions/visualstudio/visual-basic-6/vb6-partners-gmstudio?view=vs-2017

This page is the main way Windows Legacy programmers find us so we can help them find their way to .NET.

Thank you.

[2021-03-17 19:26] mjuras commented on #3570
Or let me know where this content page should live so it will be indexed going forward.

[2021-03-17 21:28] GrantMeStrength commented on #2790
An SME confirms the changes are good - thank you for submitting this fix!

[2021-03-17 21:48] GrantMeStrength commented on #2790
Content fixes made and merged, awaiting publication.

[2021-03-17 22:05] keziamicro commented on #38
Hello - reviewing and cleaning up some older feedback/issues. Thanks!

[2021-03-17 22:05] #38 closed

[2021-03-17 22:06] keziamicro commented on #51
Hello - reviewing and cleaning up some older feedback/issues. Thanks!

[2021-03-17 22:06] #51 closed

[2021-03-17 22:06] keziamicro commented on #52
Hello - reviewing and cleaning up some older feedback/issues. Thanks!

[2021-03-17 22:06] #52 closed

[2021-03-17 22:06] keziamicro commented on #55
Hello - reviewing and cleaning up some older feedback/issues. Thanks!

[2021-03-17 22:06] #55 closed

[2021-03-17 22:07] keziamicro commented on #56
Hello - reviewing and cleaning up some older feedback/issues. Thanks!

[2021-03-17 22:07] #56 closed

[2021-03-17 22:07] keziamicro commented on #96
Hello - reviewing and cleaning up some older feedback/issues. Thanks!

[2021-03-17 22:07] #96 closed

[2021-03-17 22:07] keziamicro commented on #162
Hello - reviewing and cleaning up some older feedback/issues. Thanks!

[2021-03-17 22:07] #162 closed

[2021-03-17 22:07] keziamicro commented on #184
Hello - reviewing and cleaning up some older feedback/issues. Thanks!

[2021-03-17 22:07] #184 closed

[2021-03-17 22:07] keziamicro commented on #214
Hello - reviewing and cleaning up some older feedback/issues. Thanks!

[2021-03-17 22:07] #214 closed

[2021-03-17 22:07] keziamicro commented on #216
Hello - reviewing and cleaning up some older feedback/issues. Thanks!

[2021-03-17 22:07] #216 closed

[2021-03-17 22:09] keziamicro commented on #464
Hello - reviewing and cleaning up some older feedback/issues. Thanks!

[2021-03-17 22:09] #464 closed

[2021-03-17 22:09] keziamicro commented on #462
Hello - reviewing and cleaning up some older feedback/issues. Thanks!

[2021-03-17 22:09] #462 closed

[2021-03-17 22:09] keziamicro commented on #460
Hello - reviewing and cleaning up some older feedback/issues. Thanks!

[2021-03-17 22:09] #460 closed

[2021-03-17 22:09] keziamicro commented on #458
Hello - reviewing and cleaning up some older feedback/issues. Thanks!

[2021-03-17 22:09] #458 closed

[2021-03-17 22:09] keziamicro commented on #450
Hello - reviewing and cleaning up some older feedback/issues. Thanks!

[2021-03-17 22:09] #450 closed

[2021-03-17 22:10] keziamicro commented on #433
Hello - reviewing and cleaning up some older feedback/issues. Thanks!

[2021-03-17 22:10] keziamicro commented on #426
Hello - reviewing and cleaning up some older feedback/issues. Thanks!

[2021-03-17 22:10] #426 closed

[2021-03-17 22:11] rhysjtevans commented on #2264
Ditto, where/how? I also can't see it in the developer / products section

[2021-03-17 22:17] keziamicro commented on #413
Hello - reviewing and cleaning up some older feedback/issues. Thanks!

[2021-03-17 22:17] #413 closed

[2021-03-17 22:17] keziamicro commented on #398
Hello - reviewing and cleaning up some older feedback/issues. Thanks!

[2021-03-17 22:17] #398 closed

[2021-03-17 22:17] keziamicro commented on #391
Hello - reviewing and cleaning up some older feedback/issues. Thanks!

[2021-03-17 22:17] #391 closed

[2021-03-17 22:17] mairaw commented on #216
How are you trimming these issues @keziamicro? I can still repro this issue.

[2021-03-17 22:17] keziamicro commented on #388
Hello - reviewing and cleaning up some older feedback/issues. Thanks!

[2021-03-17 22:17] #388 closed

[2021-03-17 22:17] keziamicro commented on #379
Hello - reviewing and cleaning up some older feedback/issues. Thanks!

[2021-03-17 22:17] #379 closed

[2021-03-17 22:18] keziamicro commented on #361
Hello - reviewing and cleaning up some older feedback/issues. Thanks!

[2021-03-17 22:18] #361 closed

[2021-03-17 22:18] keziamicro commented on #360
Hello - reviewing and cleaning up some older feedback/issues. Thanks!

[2021-03-17 22:18] #360 closed

[2021-03-17 22:18] keziamicro commented on #354
Hello - reviewing and cleaning up some older feedback/issues. Thanks!

[2021-03-17 22:18] #354 closed

[2021-03-17 22:18] keziamicro commented on #347
Hello - reviewing and cleaning up some older feedback/issues. Thanks!

[2021-03-17 22:18] #347 closed

[2021-03-17 22:18] keziamicro commented on #314
Hello - reviewing and cleaning up some older feedback/issues. Thanks!

[2021-03-17 22:18] #314 closed

[2021-03-17 22:18] keziamicro commented on #288
Hello - reviewing and cleaning up some older feedback/issues. Thanks!

[2021-03-17 22:18] #288 closed

[2021-03-17 22:18] keziamicro commented on #263
Hello - reviewing and cleaning up some older feedback/issues. Thanks!

[2021-03-17 22:18] #263 closed

[2021-03-17 22:18] keziamicro commented on #255
Hello - reviewing and cleaning up some older feedback/issues. Thanks!

[2021-03-17 22:18] #255 closed

[2021-03-17 22:19] keziamicro commented on #251
Hello - reviewing and cleaning up some older feedback/issues. Thanks!

[2021-03-17 22:19] #251 closed

[2021-03-17 22:19] keziamicro commented on #229
Hello - reviewing and cleaning up some older feedback/issues. Thanks!

[2021-03-17 22:19] #229 closed

[2021-03-17 22:19] nschonni commented on #361
@keziamicro was the internal ticket raised ever resolved?

[2021-03-17 22:19] keziamicro commented on #225
Hello - reviewing and cleaning up some older feedback/issues. Thanks!

[2021-03-17 22:19] #225 closed

[2021-03-17 22:19] keziamicro commented on #222
Hello - reviewing and cleaning up some older feedback/issues. Thanks!

[2021-03-17 22:19] #222 closed

[2021-03-17 22:19] keziamicro commented on #221
Hello - reviewing and cleaning up some older feedback/issues. Thanks!

[2021-03-17 22:19] #221 closed

[2021-03-17 22:21] mairaw commented on #214
@mimisasouvanh this was a good suggestion. Why are we closing still valid feedback?

/cc @BillWagner

[2021-03-17 22:24] ADataGMan commented on #38
This was closed but was it addressed anywhere? All the links I've followed are locked to me or closed as duplicate of this.

[2021-03-17 22:30] mairaw commented on #222
This was fixed.

[2021-03-17 22:32] mairaw commented on #314
This was fixed.

[2021-03-17 22:41] thomaslevesque commented on #52
What does it mean? Are you closing because it has been implemented (doesn't look like it has), or because it's not going to be implemented?

[2021-03-18 00:21] MattAlington opened #3571 "PRODUCTX documentation contains incorrect information"
https://docs.microsoft.com/en-us/dax/productx-function-dax?source=docs

The documentation states the folloowing:

The second argument is a column that contains the numbers for which you want to compute the product, or an expression that evaluates to a column.

This is not correct. The expression does not need to evaluate to a column.  The expression can be anything you like and you are free to ign

[2021-03-18 04:05] BugsDigger commented on #460
I see no changes on mentioned pages.
If you really think that GetXXX function should return nothing then "Closed" is correct status.
But IMHO this is utter nonsense.

[2021-03-18 09:01] CliffAgius commented on #214
Also seems a fairly simple fix a clear button can't be that hard to add?

[2021-03-18 11:51] UrpoKotipalo opened #3572 "Role filters do not work correctly on learning paths"
Developer filter works correctly but Business User and Functional Consultant doesnt. These two filters do not filter anything out.
Perhaps it has something to do with space in the filter string?
![image](https://user-images.githubusercontent.com/40853922/111621724-ffe48800-87f0-11eb-9ca2-1a814bb598e2.png)

[2021-03-18 15:01] diablodale commented on #184
Hi @keziamicro. I see no progress on this issue. By cleanup, are you actually saying "wont fix"?
The issue continues to reproduce today.

[2021-03-18 15:24] #3531 closed

[2021-03-18 15:48] AntanasRupkus opened #3573 "Reset a Microsoft Outlook Password"
Monday when I woke my Lenovo laptop, I was immediately accosted by an Oops blue screen and informed my device would restart. When it did, my customary login screen—option to log in with a fingerprint or PIN—was replaced by an Outlook email address username with no option to select another username. Not recalling my password (I never use Outlook), I set about trying to reset it.

Microsoft is usele

[2021-03-18 16:26] sudeepku commented on #52
@thomaslevesque and @juvtib - we are exploring and evaluating [OpenSearch](https://en.wikipedia.org/wiki/OpenSearch) for entire docs.microsoft.com site (including the reference documentation available on the  [.NET API browser](https://docs.microsoft.com/en-us/dotnet/api/). It is one among the several efforts we have in our plan to improve searchability of Microsoft content available on [docs.micr

[2021-03-18 16:29] meganbradley commented on #361
@keziamicro @nschonni the internal ticket was resolved As Designed. The process for redirecting files includes manually updating links as the writer's responsibility. We have a backlog Epic to completely redo the redirection tooling to make it more automated, but it hasn't been committed to a quarter yet and we don't plan to make incremental improvements to the current system before then.

[2021-03-18 16:45] keziamicro commented on #184
@diablodale By cleanup I mean I've moved this issue into our internal system _(can't add link here due to permissions)_ so that it can get triaged and prioritized by the team.

[2021-03-18 16:50] keziamicro commented on #214
We are closing the feedback here and migrating it to specific team backlogs so they can be actioned. I've pinged @mimisasouvanh via email for extra awareness.

[2021-03-18 16:55] keziamicro commented on #460
@BugsDigger I `closed` this issue versus `won't fix `because it logged and moved to the team's internal backlog _(cannot link to it due to permissions issue)_ so that it can be triaged and prioritized. I've also emailed the specific team for extra awareness.

[2021-03-18 17:03] jwmsft commented on #460
Thanks for raising this issue. I'll investigate what's happening with the bug and try to get some progress toward a resolution.

[2021-03-18 17:05] jwmsft commented on #465
Thanks for pointing out this bug. I'll investigate and try to get a resolution for the broader problem.

[2021-03-18 17:09] thomaslevesque commented on #52
@sudeepku thanks for the update.
Since this issue is closed, is there another one we can follow to follow progress on this?

[2021-03-18 18:06] diablodale commented on #184
Oh, that seems disappointing to me. A lack of visibility, tracking.
How do customers report, track and resolve documentation issues if they are hidden from us?
If customers can't have visibility, then we will generally not participate.

[2021-03-18 18:36] keziamicro commented on #465
@jwmsft I'm closing this issue but feel free to reopen it when you have an update.

[2021-03-18 18:36] #465 closed

[2021-03-18 18:42] keziamicro commented on #38
@ADataGMan We've moved this feedback over to the search team's backlog (cannot link to that due to permissions issues). But the team lead @sudeepku has been looped in.

[2021-03-18 19:27] jongalloway commented on #426
Just tested, it looks like this has been fixed.

https://docs.microsoft.com/search/?terms=F%23

[2021-03-19 07:19] JustynaBed opened #3574 "Problem with refreshing the first post in Yammer Embed Feed"
I would like to add yammer to my application. I followed the guidelines in the documentation (https://developer.yammer.com/docs/embed).

There is a problem with refreshing the first post. If there is a new post, a notification pops up saying “Show 1 new message”, when you click on it, the whole list will flash once, but the new post will not appear. If we add a second post, the problem disappears

[2021-03-19 17:29] burrussmp opened #3575 "Cannot create a new pipeline using POST request"
**Describe the bug**
I am attempting to create a new classic release pipeline using the AzureDevOps API and am running into the following issue:

[code]

**To Reproduce**
[code]

[2021-03-20 11:19] crashmit opened #3576 "Error in Code Example of Navigation view Page"
**Describe the bug**
The C# Code Example on the [Navigation view doc page](https://docs.microsoft.com/de-de/windows/uwp/design/controls-and-patterns/navigationview#code-example) has an error in the c# example in the second last method:
`private bool TryGoBack();
{`
There is a semicolon after TryGoBack() that isn't supposed to be there

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [Na

[2021-03-20 12:10] Nicholas-Steel commented on #1745
IsolatedContext is not explained.

[2021-03-20 13:28] PingPongSet opened #3577 "Availability of HTML version of the documantion"
**Describe the solution you'd like**
Is it possible to download an HTML version of the documantion? Since the PDF version has an issue with viewing sections using Javascript.

https://github.com/dotnet/EntityFramework.Docs/issues/3164

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add

[2021-03-21 00:26] Harmyder commented on #2515
Hebrew and Ukrainian, please

[2021-03-22 14:07] jholl016 opened #3578 "Incorrect instructions regarding TargetReleaseVersion Policy for Update CSP"
Regarding this article: https://docs.microsoft.com/en-us/troubleshoot/mem/intune/create-feature-update-hold-co-managed-devices

The instructions say to "Use the version values from the Semi-Annual Channel table in Windows 10 release information."  The version in the referenced table for the October 2020 release is "20H2".  However, the TargetReleaseVersion policy fails to apply when 20H2 is used f

[2021-03-22 16:26] EliotSeattle commented on #1745
Assign to @tedhudek, please

[2021-03-22 17:26] anastass opened #3579 "MATCH (Transact-SQL) examples"
**Describe the bug**
A This is not really a bug, but a discrepancy between the returned result and the expected behavior described in the comment

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/en-us/sql/t-sql/queries/match-sql-graph?view=sql-server-ver15&source=docs'
2. Scroll down to 'Examples | C. More MATCH patterns'
3. Check the code below

   -- Find 2

[2021-03-22 17:32] v-alje commented on #2575
This has been fixed with https://github.com/dotnet/AspNetApiDocs/pull/207

[2021-03-22 20:26] dtivel opened #3580 "RuningBuildFailed"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Problem:**
What's wrong with the error message? For example,
- Is error message clear and actionable?  No
- Is there a documentation to provide more information?
- If there is a documentation, is it relavent and helpful?
- Is line number correct?
- e

[2021-03-22 20:30] #2575 closed

[2021-03-22 23:52] jholl016 commented on #3578
Or, perhaps 2009 is the right value for this?  After more testing, it seems that any string of 4 numbers will pass the provider validation and get written to the registry.  In either case, the instructions are wrong.

[2021-03-23 05:42] TheBlackMini opened #3581 "Add new filter to exams and certifications page to remove expired ones"
The docs page [certifications](https://docs.microsoft.com/en-us/learn/certifications/browse/?products=azure&resource_type=examination) shows all current and expired exams and certifications but does not allow you to filter out the old expired ones.

I suggest you add that ability to make it easier to view what is current and applicable to the current technologies.

eg. AZ-200 AZ-201 are both expir

[2021-03-23 09:19] vashchenkova opened #3582 "CALENDARAUTO() DAX function example"
The second example of CALENDARAUTO() DAX function is wrong.
![image](https://user-images.githubusercontent.com/33933512/112121930-d2bd1e80-8bd0-11eb-819a-2c0d56599106.png)

Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/en-us/dax/calendarauto-function-dax#example'
2. Click on 'Examples'
3. Or Scroll down to 'Examples'
4. See error

CALENDARAUTO() DAX function takes [**fiscal

[2021-03-23 22:58] phillipgibson opened #3583 "[error message feedback][TEST] provide feedback"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Problem:**
What's wrong with the error message? For example,
- Is error message clear and actionable?
- Is there a documentation to provide more information?
- If there is a documentation, is it relavent and helpful?
- Is line number correct?
- etc.

[2021-03-23 23:25] SirUppyPancakes opened #3584 "Microsoft.Azure.WebJobs.* docs gone"
**Describe the bug**
All `Microsoft.Azure.WebJobs.*` items (and likely more related items) are just straight up missing and produce `404`s.

Example:
https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.webjobs.binder.bindasync

And even trying to search for it doesn't yield any results:
https://docs.microsoft.com/en-us/dotnet/api/?term=binder.bindasync

Maybe this documentation was moved?

[2021-03-24 07:41] Daniel-Svensson commented on #1963
Any chance of making some progress on this before summer? It's about 6 months to end of life when everything Silverlight related (downloads and maybe even documentation) is expected to be removed

[2021-03-24 10:11] colin-higgins commented on #3448
Hi, any updates on this issue?

[2021-03-24 16:07] manningli opened #3585 "Dead links to download HTML Help"
At the page below, when clicking any of the download links to download the installer for HTML Help we get a 404. Haven't been able to find a live link for this installer anywhere else.

https://docs.microsoft.com/en-us/previous-versions/windows/desktop/htmlhelp/microsoft-html-help-downloads

[2021-03-24 16:11] manningli commented on #3585
Just for awareness, I did check for HTML Help in the link, but was not able to locate any live support for this product.

[2021-03-24 23:24] terrajobst commented on #1963
@mairaw

That makes sense, let's do that!

@Daniel-Svensson

Sorry for the super long delay :-(

[2021-03-25 11:04] tilioup commented on #1797
Hello, have the same issue with the sandbox while trying to go through the AZ-104 challenge. Now it's written: Your appeal has been received. Appeals are reviewed on a first-come, first-served basis, and may take several days to process. If your appeal is approved, you will regain access to sandboxes and other interactive learning resources.

For more information, please check the troubleshooting

[2021-03-26 00:21] CaymanTurtleBeach opened #3587 "Java Documentation is an incomprehensible alice in wonderland rabbit hole"
**Describe the bug**
A standard for Java programming is Javadoc. If MS is going to pretend to provide Java libraries, it needs to provide **DIRECT** links to Javadocs for Java products.

I have now wasted over an hour, looking specifically for the V12 API **Javadoc**, to help me decide whether to update one module that currently uses V8.x storage libraries, as a precursor to updating a lot more co

[2021-03-26 04:39] ramlaxman opened #3588 "Position of Theme Button"
**Is your feature request related to a problem? Please describe.**
Theme changing button at bottom makes everyone to scroll page all the way down.

**Describe the solution you'd like**
Theme button must be at the top middle of the page.

**Describe alternatives you've considered**
It could be in the mouse hover settings of Docs menu or top right corner of the webpage.

**Additional context**
It'll

[2021-03-26 16:16] #3422 closed

[2021-03-26 16:29] terrajobst commented on #1963
@Daniel-Svensson

Done. It's a lot of files. Let us know if something seems missing.

[2021-03-26 16:40] mairaw commented on #1963
It's at https://github.com/MicrosoftDocs/dotnet-archive now.

[2021-03-26 16:40] #1963 closed

[2021-03-29 07:43] YutongTie-MSFT opened #3589 "Broken Links"
**Describe the bug**
https://docs.microsoft.com/en-us/rest/api/resources/subscriptions/list
https://docs.microsoft.com/en-us/rest/api/policy-insights/policystates/summarizeforsubscription
https://docs.microsoft.com/en-us/rest/api/resources/policydefinitions/list

Those links can not be opened.

Ref: https://github.com/MicrosoftDocs/azure-docs/issues/72846

[2021-03-29 21:12] #3562 closed

[2021-03-30 00:25] alib-ms opened #3590 "[error message feedback][TEST] provide feedback"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Problem:**
What's wrong with the error message? For example,
- Is error message clear and actionable?
- Is there a documentation to provide more information?
- If there is a documentation, is it relavent and helpful?
- Is line number correct?
- etc.

[2021-03-30 02:02] diablodale commented on #184
@keziamicro, do you have an update on this issue?

[2021-03-30 16:57] sksallaj82 commented on #3448
Hi I'm running into the same issue and repeated the steps above, and I'm getting the same issue. Anyone out there that can look into this, please?

[2021-03-30 22:45] SetTrend opened #3591 "Request: Add boolean option to hide a class's inherited members"
Please add some mechanism to hide a class's inherited members in the docs.

### Is your feature request related to a problem? Please describe.
Many times when I'm looking up a class's properties or methods, I'm only interested in the particular properties or methods directly implemented on the class but not any members inherited from a base class implementation. I need to know the peculiarities of

[2021-03-31 13:16] Rand-Random opened #3592 "Agreement to privacy statement"
**Describe the bug**
While signing up to docs.microsoft.com, I was faced with the following step.
![image](https://user-images.githubusercontent.com/9868626/113149856-bf92fa00-9233-11eb-8d4a-14f2cc65f4ce.png)

The text for the checkbox doesn't even mention that I would be agreeing to the privacy statement, and only says I am okay with spam emails.

**To Reproduce**
Sign Up to docs.microsoft.com

*

[2021-04-01 02:22] ianpan870102 commented on #3036
Friendly ping :-)

[2021-04-01 09:36] Groucheman opened #3593 "Supprimer un post dans le forum"
Bonjour,

J'ai posté ce post dans https://social.technet.microsoft.com/Forums/fr-FR/bb214fd7-4c0b-4cd9-bece-52c528e636ac/actualisation-mot-de-passe-adltgtexchangeactivesync?forum=1109

Mais ce qui me dérange aujourd'hui c'est lorsque je saisi mon prénom + nom dans une recherche Google, que je tombe sur ce lien.
J'aimerai donc le supprimer.

Merci d'avance.

[2021-04-02 01:13] JasonWHowell commented on #3582
@Minewiskan this might be feedback for the DAX reference.

[2021-04-02 01:14] JasonWHowell commented on #3579
@shkale-msft Docs feedback for TSQL reference

[2021-04-02 01:16] JasonWHowell commented on #3570
@kexugit  I don't know if you have access to archives for this request.

[2021-04-02 01:18] JasonWHowell commented on #3583
@phillipgibson Did your get past your merge conflict? Is this item ready to be closed?

[2021-04-02 01:21] JasonWHowell commented on #3589
What page has the broken links?

Similar links that work:
https://docs.microsoft.com/en-us/rest/api/policy/policystates/summarizeforsubscription
https://docs.microsoft.com/en-us/rest/api/policy/policydefinitions/list

[2021-04-02 01:25] mjuras commented on #3570
Hello Jason,

Thank you for the note.

I also am working with Paul Yuknewicz, an senior executive and product mangaer at Microsoft.

Paul and I set up the page a few years ago.

Conceptually speaking, it should not be in archive. It is as current today as it was then, back in 2013, when we originally published it. There maybe a better place for it. Not sure.

I hope he will be able to help.

Kind

[2021-04-02 02:04] JasonWHowell commented on #3570
@paulyuk do you have context on why VB6 docs were archived? I suspect it was a planned thing.

[2021-04-02 02:19] mjuras commented on #3570
Re:why were VB6 docs archived?

I suppose Msdn incorrectly assumes several million person years of VB6 development is already upgraded or abandoned. And, they want to prevent confusion for people looking for VB.net  info.

However, my experience indicates that, in certain quarters, businesses are still maintaining and growing  many of these systems in VB6/com. These people are looking for details

[2021-04-02 11:37] rothja commented on #3409
@engfob My apologies for the delay on this. I will be following up soon. Thanks for your patience and your feedback!

[2021-04-04 01:48] OddEyesMage opened #3594 ""The name 'Host' does not exist in the current context""
When I tried to follow the tutorial and right when I get to where I need to setup the add scaffold I see that in my Program.cs I have an error saying that 'the name "Host" does not exist in the current context'. I do not understand what I am doing wrong, I have retried this numerous times, I have followed the tutorial, yet I keep getting this error the only difference is that I am using NET Core 2

[2021-04-06 18:43] pashannone opened #3595 "MSDN Magazine 2003 February Edition Code Download Link is not working"
Hello Support,
For the following Web Page:
https://docs.microsoft.com/en-us/archive/msdn-magazine/2003/february/msdn-magazine-february-2003
The Code Download Link at the following
http://download.microsoft.com/download/9/4/c/94cd450c-e7ae-46a3-ad1e-d19f2b80fa0c/MSDNMag0302.exe
is not working.

Also,
for the following Web Page
https://docs.microsoft.com/en-us/archive/msdn-magazine/2003/february/sin

[2021-04-07 19:26] IEvangelist commented on #3452
Relies on https://github.com/DuncanmaMSFT/highlight.js/pull/34

[2021-04-07 23:17] Minewiskan commented on #3582
#in-progress

[2021-04-07 23:21] JasonWHowell commented on #3566
@Minewiskan DAX feedback

[2021-04-07 23:22] JasonWHowell commented on #3558
@tamram could you take a look please?

[2021-04-08 00:06] tamram commented on #3558
@JasonWHowell @EricHindrichsen - This has already been reported and fixed, thanks!

[2021-04-08 00:12] JasonWHowell commented on #3558
#please-close  Thanks for the quick fix @tamram

[2021-04-08 00:12] #3558 closed

[2021-04-08 08:46] candidson commented on #1339
Any update regarding this? Is there a timeline which could be communicated?

[2021-04-08 10:22] kaiaschulz commented on #1339
Hi,
since I had the same issue in past we decided to use the Azure Graph API.
In the end, the AZ. cmdlets are also using the Azure APIs.
Advantage is that we don't care about AZ versions anymore and are more independent.

### So, how can you easily get your AzureAD owned objects?
**Prerequisite is a bearer token which can be easily created and use with this code-snippet:**
[https://github.com/Juli

[2021-04-12 09:54] UrpoKotipalo commented on #3572
This was an user error. The small screen does not show all tags that are attached to the lesson/path, it shows only those it can fit into the first line of the tag list.
When the lesson/path is opened, it shows all tags that are attached to it.

[2021-04-13 17:52] gewarren commented on #3594
This issue was moved to dotnet/AspNetCore.Docs#22046

[2021-04-13 17:52] #3594 closed

[2021-04-13 17:54] gewarren commented on #3591
@mimisasouvanh Do you want to create a customer suggestion from this issue?

[2021-04-13 18:01] gewarren commented on #3576
@crashmit Thanks for letting us know. It looks like this was fixed by https://github.com/MicrosoftDocs/windows-uwp/commit/3d602eafe1492eb28ead94b706040576eec21153.

[2021-04-13 18:01] #3576 closed

[2021-04-13 23:09] CamSoper commented on #2153
Appears fixed

[2021-04-13 23:50] mairaw commented on #2153
https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.servicebus?view=azure-dotnet is still empty for me @CamSoper

[2021-04-14 00:13] CamSoper commented on #2153
Oh, okay. I misunderstood the ask.

There's a landing page at https://docs.microsoft.com/en-us/dotnet/api/overview/azure/messaging.servicebus-readme?view=azure-dotnet and that format is consistent with all the other namespaces ([example](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.management.servicebus?view=azure-dotnet) so I'd recommend we just close this one. There's no bug, ever

[2021-04-14 10:30] vanillajonathan commented on #2153
Oh, this is confusing, [`Azure.Messaging.ServiceBus`](https://docs.microsoft.com/en-us/dotnet/api/azure.messaging.servicebus?view=azure-dotnet) is documented, but [`Microsoft.Azure.ServiceBus`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.servicebus?view=azure-dotnet) is not. But on the Chinese website, the [`Microsoft.Azure.ServiceBus`](https://docs.azure.cn/en-us/dotnet/api/micros

[2021-04-15 08:01] danielrbradley commented on #3592
https://twitter.com/danielrbradley/status/1382604276690792451

[2021-04-15 08:06] danielrbradley commented on #3222
@dend has anyone reviewed this issue yet? Please could you share an update?

[2021-04-15 13:16] castorix opened #3596 "Access Denied..."
For  a few days, when I connect with my main account (7 years old) to
https://docs.microsoft.com/en-us/answers/index.html?filters=myFollows
I get (I tried with several browsers) =>

Access Denied
We're sorry, but you do not have permission to do the activity you attempted. If you believe this to be in error, please contact the site administrator(s).

What is the problem  ?

[2021-04-16 00:21] uslava77 opened #3597 "RunningBuildFailed OpenPublishing.Build"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Problem:**
Seems like build had a System.InavlidOperationException.
Is there a way to re-queue a build for my PR:
https://github.com/MicrosoftDocs/azure-docs-pr/pull/153924

**Log code info**
(This is auto filled, no need to modify)

| Severity   | T

[2021-04-16 18:15] ramakoni1 opened #3598 "[error message feedback][TEST] provide feedback"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Problem:**
What's wrong with the error message? For example,
- Is error message clear and actionable?
- Is there a documentation to provide more information?
- If there is a documentation, is it relavent and helpful?
- Is line number correct?
- etc.

[2021-04-16 18:29] ramakoni1 commented on #3598
we got the issue resolved by closing and reopening the PR.

[2021-04-16 18:29] #3598 closed

[2021-04-17 14:00] castorix commented on #3596
Impossible to connect for 1 week :-(

[2021-04-18 10:17] larsj96 commented on #2542
still an issue one year later..

[2021-04-19 21:28] Minewiskan commented on #3566
@Zongrenfeng - Thanks for letting us know. This has been corrected in the EN-US locale. https://docs.microsoft.com/en-us/dax/isempty-function-dax
It will take a few weeks for this to appear in localized versions.
#please-close

[2021-04-19 21:28] #3566 closed

[2021-04-19 21:30] #3582 closed

[2021-04-20 00:49] YutongTie-MSFT commented on #3589
https://docs.microsoft.com/en-us/rest/api/policy-insights/policystates/summarizeforsubscription
https://docs.microsoft.com/en-us/rest/api/resources/policydefinitions/list

Those two not works.

[2021-04-20 23:37] ache154 opened #3599 "Exercise - Write code that uses Service Bus queues"
**Describe the bug**
Followed instructions on: https://docs.microsoft.com/en-gb/learn/modules/implement-message-workflows-with-service-bus/5-exercise-write-code-that-uses-service-bus-queues. however getting below error message:

Program.cs(28,34): error CS0246: The type or namespace name 'queueClient' could not be found (are you missing a using directive or an assembly reference?) [/home/ahmed/msl

[2021-04-21 00:05] ache154 opened #3600 "Exercise - Write code that uses Service Bus topics"
**Describe the bug**
Followed instructions on: https://docs.microsoft.com/en-gb/learn/modules/implement-message-workflows-with-service-bus/7-exercise-write-code-that-uses-service-bus-topics

However getting below error message:

Program.cs(30,31): error CS0246: The type or namespace name 'topicClient' could not be found (are you missing a using directive or anassembly reference?) [/home/ahmed/msle

[2021-04-21 00:09] ache154 commented on #3600
Please review this article, it might solve it: https://learningintheopen.org/2021/04/18/net-compilation-error-message-error-cs0246-the-type-or-namespace-name-increment-could-not-be-found-are-you-missing-a-using-directive-or-an-assembly-reference/

[2021-04-21 00:09] ache154 commented on #3599
Please review this article, it might solve it: https://learningintheopen.org/2021/04/18/net-compilation-error-message-error-cs0246-the-type-or-namespace-name-increment-could-not-be-found-are-you-missing-a-using-directive-or-an-assembly-reference/

[2021-04-21 00:12] ache154 commented on #3599
And this article: https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-messages/cs0246

[2021-04-21 00:12] ache154 commented on #3600
And this article: https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/compiler-messages/cs0246

[2021-04-21 13:45] Kazuto12307 opened #3601 "ClipSVC Introuvable"
Bonjours,j'ai un windows 10 famille mais mon microsoft store ne marche pas l'installation d'application non plus à cause du service.

Alors ça fait 3 jours que j'ai ça je sais pas pourquoi j'active le service et là
file:///C:/Users/Maria/OneDrive/Imagens/Capturas%20de%20Ecr%C3%A3/Capture%20d%E2%80%99%C3%A9cran%20(1).png
fichier introuvable.... une solution ? Merci d'avance.

[2021-04-22 07:07] #1941 closed

[2021-04-22 16:33] Crypt32 commented on #2790
sorry for late response. Everything is just Ok, thank you @GrantMeStrength for your assistance!

[2021-04-22 21:15] elafnitzegger opened #3602 "Love Docs! Guidance on YamlMime requested"
I just love what you've done with Docs. I have used your platform as a starting point for my company ITS internal documentation site (using DocFX, decomposed and am using site-lrt.css and associated scss). I have upgraded the docfx.js to provide the same features you've built into Docs: page info with date, time to read, and facepile coins; "In this article" center and side dynamics; the footer an

[2021-04-23 13:01] jods4 opened #3603 ".NET apis "Applies To" info is not helpful"
**Is your feature request related to a problem? Please describe.**
By default, "Applies to" section is collapsed to a single list, that mentions the _latest_ framework supporting an API.
Of course, for every API that hasn't been retired this would be the current .net pre-release (at the time of writing, .NET 6 preview 3).

Example:
https://docs.microsoft.com/en-us/dotnet/api/system.net.http.httpcl

[2021-04-23 15:38] elafnitzegger commented on #3602
I found discussion [#661](https://github.com/microsoft/vscode-docs-authoring/issues/661) that provides my answer. I understand that the specific schemas support internal document generation, can you provide guidance on the process so that we can build our own schemas to support our own generation needs?

[2021-04-23 19:54] elafnitzegger commented on #3602
I believe I've figured this out. The top level pages are supported using the schema based documents feature of DocFX. Each schema requires its own template/json docfx file renderer to turn the {schema_type}.html.view.json into html. The schema files should be placed in the "{theme_template}/template/schemas" directory. To tie the file_name.yaml file to a specific schema type, you need to have the

[2021-04-24 09:22] AdmiralSnyder opened #3604 "Fuzzy search on the .net API Browser only works from beginning"
**Describe the bug**
the search in the .net api browser only searches for prefixes.

**To Reproduce**
Steps to reproduce the behavior:
1. go to the API Browser
https://docs.microsoft.com/en-us/dotnet/api/?view=visualstudiosdk-2019
2. search for "CreationListener"
3. error: no results

**Expected behavior**
ITextViewCreationListener and IWPFTextViewCreationListener (and probably other ...CreationLi

[2021-04-26 11:13] ache154 commented on #3599
Hi, is there an update on this please? :)

[2021-04-26 11:13] ache154 commented on #3600
Hi, is there an update on this please? :)

[2021-04-26 13:57] crowcoder opened #3605 "Broken links for Azure DevOps Search"
I'm trying to research DevOps search I'm finding a number of broken links:

https://docs.microsoft.com/en-us/azure/devops/project/search/advanced-code-search-syntax
https://docs.microsoft.com/en-us/rest/api/azure/devops/search/Code%20Search%20Results.yml?view=azure-devops-rest-6.1

[2021-04-27 10:27] abdou-chabira commented on #2264
same here plz if anyone can help

[2021-04-28 12:00] julians1966 commented on #3446
Problem has gone away

[2021-04-28 12:00] #3446 closed

[2021-04-28 12:01] julians1966 commented on #2159
Link is working again

[2021-04-28 12:01] #2159 closed

[2021-04-28 17:59] Orin-zzBots commented on #1215
I am running into this same issue. What is the solution or workaround to this error?

My urn is valid and correct for an organization that the user is an admin of, but the following error still comes up.

failed [400] {"message":"Invalid value type for parameter owners","status":400}

[2021-04-28 19:22] joeljanke opened #3614 "Use The Technology Behind docs.microsoft.com"
docs.microsoft.com is outstanding!    Is there any way for a customer to acquire the technology to use it for their own documentation and content?   It is obviously not just Sharepoint Online behind the scenes.   Do you the sell the tech or open source it?

[2021-04-30 08:45] rinzwind5 commented on #3589
There are lots and lots of broken links in the win32 section. Why is this?
Many lead to https://github.com/MicrosoftDocs/win32/blob/docs/windows/desktop/api/...
404

[2021-04-30 11:02] Cortana-117 opened #3617 "Grammar error"
https://docs.microsoft.com/en-us/windows-hardware/customize/enterprise/service-uwf-protected-devices

Normally, when the Unified Write Filter (UWF) is active, system updates are disabled, as they would **use** be erased when the overlay is cleared.

There is a grammar error in this sentence in that page. the word "use" is unnecessary there.

[2021-05-01 22:06] SetTrend commented on #3591
I'd like to amend my proposal for usability reasons:

The proposed option design should not be negative as negative Boolean options are a common source for confusion. A checkmark is intrinsically connected with _"I want to"_, not with _"I don't want to"_.

So, the suggested option shouldn't read _"**Hide** inherited members"_, but _"**Show** inherited members"_, and the logic behind should act app

[2021-05-03 02:53] saeednoruzi opened #3619 "go to top of page"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
it woulde be nice if we had a buttun for geting to start of pages or table of content for long articles and thankyou0
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives

[2021-05-03 13:17] pstricks-fans commented on #2725
Tired of waiting for this feature gets implemented.

[2021-05-03 13:17] #2725 closed

[2021-05-03 16:16] gewarren commented on #3591
@settrend Thank you for the detailed description and animations. I've logged a customer suggestion internally [here](https://dev.azure.com/ceapex/Engineering/_workitems/edit/420204).

[2021-05-04 01:40] IEvangelist opened #3620 "Couldn't print the article on both sides of paper - dotnet/docs#23527"
**Describe the bug**

In printer options I selected "print on both sides of paper", but the article was still printed only on one side producing 7 pages instead of 4 pages.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to * Content: [Collections and Data Structures](https://docs.microsoft.com/en-us/dotnet/standard/collections/)
2. Print the page
3. Select "Print on both sides"

**Expect

[2021-05-04 07:52] mofumofu-dance opened #3621 "Typo on Example in Set-AdminPowerAppApisToBypassConsent"
**Describe the bug**

Example in following section is wrong:

https://docs.microsoft.com/en-us/powershell/module/microsoft.powerapps.administration.powershell/set-adminpowerappapistobypassconsent?view=pa-ps-latest&WT.mc_id=twitter&source=docs#example-1

[code]

Correct parameter name is `-AppName`

[2021-05-04 09:38] SetTrend commented on #3591
Thanks a lot, Genevieve!

Would you like me to close this issue on GitHub then? Or should it rather stay open?

[2021-05-04 11:44] #3131 closed

[2021-05-04 14:46] wpbrown opened #3622 "Left navigation menu needs better compatibility with accessibility tools"
**Describe the bug**
The collapsed items in the navigation tree do not have annotation needed to be navigable in keyboard assisted navigation tools. I use an extension called vimium because mousing is difficult.

**To Reproduce**
Install vimium chrome extension (works in edge too) and press `f` on a docs page.

**Expected behavior**
Each collapsed section should have a letter attached and typing t

[2021-05-04 16:27] gewarren commented on #3591
If you like, we can leave it open till we get resolution on the internal issue.

[2021-05-07 06:54] hyoshioka0128 opened #3623 "Typo "**@mention**"→"**\@mention**""
**Describe the bug**
A clear and concise description of what the bug is.:
 Typo "\*\*@mention**"→"\*\*\\@mention**"(Bold with escape characters)

en-es:"https://docs.microsoft.com/en-us/business-applications-release-notes/october18/microsoft-flow/post-richer-messages-in-microsoft-teams"
![post-richer-messages-in-microsoft-teams_e](https://user-images.githubusercontent.com/40815708/117409683-6a41bb

[2021-05-07 07:16] hyoshioka0128 opened #3624 "Typo "**@sync～**"→"**\@sync～**""
**Describe the bug**
A clear and concise description of what the bug is.:
Typo "\*\*@sync～**"→"\*\*\\@sync～**"(Bold with escape characters)

en-es:"https://docs.microsoft.com/en-us/previous-versions/sql/synchronization/sync-framework-1.0/bb686941(v%3Dsql.100)"
![bb686941_e](https://user-images.githubusercontent.com/40815708/117412150-66fbfe80-af4f-11eb-9531-c834eb8515d8.png)

#PingMSFTDocs

**To R

[2021-05-11 13:12] 9072997 commented on #2244
both of these appear to be fixed now

[2021-05-11 13:12] #2244 closed

[2021-05-11 14:13] ayejay commented on #3395
Facing similar issue. @18306873504, can you please share any workaround if you were able to solve this?

Please increase the priority of this.

[2021-05-12 02:09] cosocc opened #3625 "The VS2019 Remote Debugging Linux project is missing configuration for multithreading"
Error lined up
1：	E0020	Undefined external "__float128"	first	C:\Users\ustar\AppData\Local\Microsoft\Linux\HeaderCache\1.0\-318620392\usr\include\c++\9\bits\std_abs.h	106
2：	undefined reference to `pthread_create'	first	D:\usr\include\c++\9\thread	126
3：	ld returned 1 exit status	first	D:\shaper\first\collect2	1

How do I set the VS2019 property page configuration?

[2021-05-12 03:48] jr-MS opened #3626 "[error message feedback][TEST] provide feedback"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Problem:**
What's wrong with the error message? Is there a documentation to provide more information?

**Log code info**
(This is auto filled, no need to modify)

| Severity   | Type   | Code   | Category   | File   | Message   |  Source  | Line   |

[2021-05-13 14:19] RobMulder opened #3627 "Microsoft Docs: Bookmarks option and Collection total percentage gone"
This is not about bookmarks in Browsers but the bookmarks in my Docs account.
I tried 4 different browsers and 2 computers and 2 accounts, all have the same problems:

The Bookmarks do exist if I go directly to them: https://docs.microsoft.com/en-us/users/username**/bookmarks**.
But in the menu or clicking on photo the shortcuts to Bookmarks are gone.

In a Collection was a Total Percentage done c

[2021-05-13 16:29] techthoughts2 opened #3628 "Azure Templates property does not indicate available values"
**Describe the bug**
This Azure templates doc page: [Microsoft.Web serverfarms](https://docs.microsoft.com/en-us/azure/templates/microsoft.web/serverfarms?tabs=bicep) indicates the ```kind``` Property but does not articulate the accepted values for this Property. As such I can't populate this field with a degree of confidence that will result in a successful deployment. My only recourse that I hav

[2021-05-13 16:34] techthoughts2 opened #3629 "Enable hyperlinks of properties in Azure Templates docs"
Often when I am referencing an Azure Template doc I am looking to evaluate a specific property. To that end, it would enhance the user experience if hyperlinks were added to the various properties in the JSON/Bicep output.

Example page: [Microsoft.Web serverfarms](https://docs.microsoft.com/en-us/azure/templates/microsoft.web/serverfarms?tabs=bicep)
[code]

For example, in the above ```kind``` wo

[2021-05-14 19:41] rothja commented on #3409
@engfob I apologize for the very long delay in my follow-up. I did some research on this and found that it seems that "Recommended Version" link is just hard-coded to the current SQL Server documentation set but not specific to this article. That does seem to be confusing, and I will try to share this feedback with our engineering team. In this case, you have to search for the similar article in o

[2021-05-14 19:41] #3409 closed

[2021-05-14 22:00] #2046 closed

[2021-05-14 23:28] engfob commented on #3409
Thanks for the reply Jason.  I would call this inaccurate vs. confusing.  I have found this on many pages already.  I would propose a change from ‘Recommended Version’ to ‘General Information’, if these links are not going to be re-directed accurately.

From: Jason Roth ***@***.***>
Sent: Friday, May 14, 2021 3:42 PM
To: MicrosoftDocs/feedback ***@***.***>
Cc: engfob ***@***.***>; Mention ***@***.

[2021-05-16 02:31] rootsmusic commented on #2954
#2979

[2021-05-16 02:33] rootsmusic commented on #2726
#3140
#2979

[2021-05-17 13:12] o-l-a-v commented on #3214
Google Chrome: I have this problem too, have had it for months, likely more than a year. Happens daily. Regular refresh usually fixes it, if not F12 and "Empty cache and hard reload". The settings in the footer says dark mode is enabled, still high contrast is shown.

![image](https://user-images.githubusercontent.com/6450056/118494285-49365280-b722-11eb-8c64-df1ff9cedb29.png)

The only settings I

[2021-05-17 15:18] rothja commented on #3409
@engfob I think this is an excellent suggestion. I will pass this along to our engineering team. Thanks, and sorry again for the confusion!

[2021-05-17 20:29] gewarren commented on #3621
cc @sdwheeler

[2021-05-17 20:33] gewarren commented on #3617
Thank you @Cortana-117

[2021-05-17 20:35] gewarren commented on #3604
FYI @mimisasouvanh @rloutlaw

[2021-05-17 20:36] gewarren commented on #3603
FYI @mimisasouvanh

[2021-05-17 23:43] sdwheeler commented on #3621
@gewarren I don't own that content. Someone that handles PowerApps content should own this. Maybe @jimholtz.

[2021-05-18 14:32] damochiz opened #3631 "The File exclusions and The Registry exclusions is incorrect in the UWF docs"
**Describe the bug**
The File exclusions and the Registry exclusions is incorrect in below docs.
- [Add support for Microsoft Defender on UWF-protected devices](https://docs.microsoft.com/en-us/windows-hardware/customize/enterprise/uwf-antimalware-support#add-support-for-microsoft-defender-on-uwf-protected-devices)

Can you revise this sentence?

**Expected behavior**
Correct:
```C:\Program Files\

[2021-05-18 16:56] #3617 closed

[2021-05-19 09:10] StoyanChalakov opened #3632 "Wrong Command Posted on an SQL Database Properties MS Docs Site"
**Is your feature request related to a problem? Please describe.**
This is a request to correct/update certain article, related to SQL Server Database Properties and in particular to Auto Update Statistics.
The article references a wromng command and article (CREATE STATISTICS (Transact-SQL)) when it comes to the Auto Update Statistics (should be Update STATISTICS (Transact-SQL))

**Describe the s

[2021-05-19 14:13] asleeguilez opened #3633 "Sending a message with voting buttons using EWS"
C#
var option = new ExtendedPropertyDefinition(DefaultExtendedPropertySet.Common,
                               0x00008520,
                               MapiPropertyType.String);

                    message.SetExtendedProperty(option, "YES;NO");

[2021-05-21 14:48] behrad1234 opened #3634 "How to fix it??"
Traceback (most recent call last):
  File "/data/data/com.termux/files/home/instahack/hackinsta.py", line 154, in <module>
    sess = instabrute.Login(password)
  File "/data/data/com.termux/files/home/instahack/hackinsta.py", line 114, in Login
    sess.headers.update({'X-CSRFToken' : r.cookies.get_dict()['csrftoken']})
KeyError: 'csrftoken'

[2021-05-23 01:20] BenyaminJeizan opened #3635 "bookmarks on docs.microsoft.com do not save the order after rearranging"
The user profile section on docs.microsoft.com that shows your bookmarks/favorites, does not save the order of bookmarks after rearranging them. It seems to be a bug and I've tested it on multiple pc's and browsers.

It can be found under:
https://docs.microsoft.com/en-us/users/yourUsername/collections/bookmarks

![98792-ms-docs-favorites-sorting-bug](https://user-images.githubusercontent.com/8159

[2021-05-24 16:48] GrantMeStrength commented on #3222
I am checking on status of this issue, thank you.

[2021-05-24 17:21] GrantMeStrength commented on #3222
Assigned owner.

[2021-05-25 05:44] cadmiy opened #3636 "Misleading translation in Russian"
On the webpage https://docs.microsoft.com/ru-ru/windows/win32/sysinfo/file-times it is said "прошедших с **12:00 утра**. 1 января 1601" which is interpreted as "elapsed since 12:00 in the morning". That is misleading. It should be something like "прошедших с полуночи 1 января 1601" (midnight) or "прошедших с 00:00 1 января 1601"

[2021-05-25 06:04] cadmiy opened #3637 "Function names are translated too"
On many pages (https://docs.microsoft.com/ru-ru/windows/win32/sysinfo/file-times for example) function names are also translated (transcripted), e.g. "сетфилетиме" instead of "SetFileTime" or "компарефилетиме" instead of "CompareFileTime".

[2021-05-25 20:06] chrisfcarroll commented on #3222
I might possibly have overlooked the white on white skip button, yes :-)
I acknowledge that probably defangs my assertion that it's contra GDPR

[2021-05-26 04:05] narrowei opened #3638 "The syntax highlighting for VBA codes is incorrect"
# **Describe the bug**

The syntax highlighting for VBA codes is incorrect. In the VBA code, it only takes a single quotation for a comment. However, in the MicrosoftDocs it considered a pair of single quotation as a comment like the following screenshot: </br>
![image](https://user-images.githubusercontent.com/9133886/119600666-de280280-be2a-11eb-922f-7de88a88bc66.png)

# **To Reproduce**
Steps t

[2021-05-27 19:21] gewarren commented on #3637
@mcleanbyron It looks like a Win32 article could use some `:::no-loc:::` or code fencing.

[2021-05-27 19:22] gewarren commented on #3636
@mcleanbyron FYI

[2021-05-27 19:50] gewarren commented on #3544
This issue was moved to dotnet/AspNetDocs#542

[2021-05-27 19:50] #3544 closed

[2021-05-28 16:44] adegeo commented on #3638
I filed an internal bug about this about half a month ago: https://dev.azure.com/ceapex/Engineering/_workitems/edit/424711/ but it hasn't been triaged yet 😢

[2021-05-28 18:35] mcleanbyron commented on #3637
I'm investigating.

[2021-05-28 18:40] mcleanbyron commented on #3636
I'm investigating.

[2021-06-01 08:37] TanChengJou commented on #1692
您好，我還是遇到相同問題，即是改成封裝連結還是找不到變數

[2021-06-03 04:36] buchizo opened #3639 "Blog Archives images is not found"
**Describe the bug**

[Blog Archives](https://docs.microsoft.com/en-us/archive/blogs/) images is not found.

**To Reproduce**

1. Go to this link 'https://docs.microsoft.com/en-us/archive/blogs/msdatacenters/achievement-unlocked-fuel-cell-powered-computing'

**Screenshots**

![image](https://user-images.githubusercontent.com/1254213/120587467-654f2900-c470-11eb-8802-b3b5e47d0fb2.png)

![image](htt

[2021-06-03 19:28] BenyaminJeizan commented on #3635
I created a new collection and it's not affected. Only the old ones moved by the ms dev team are broken.

[2021-06-03 20:00] IEvangelist commented on #3452
This is now fixed - we should close this

[2021-06-04 09:47] YvonneArnoldus commented on #1449
I've been having the same problem. Started on the 15th of May and tried, different browsers, different computers, even added new accounts to my learn account (one work and one private) but I can't get the Cloud Shell to work or a Concierge Subscription in Azure.

Missed out on 1 challenge so far (which would have earned me a exam voucher) and now missing out on the Build challenges.

[2021-06-04 14:10] adrianlaraperez88 commented on #1815
Some Update about it

[2021-06-06 15:15] klenium commented on #2515
Auto translated pages are so bad I can't understand them even when I face a totally new API/technology/etc. I had no idea what it's talking about. Some weeks ago I installed [FFS MSDN in English][1] to disallow this stupid forced auto translator, since no matter how many times I changed my settings, it always reenabled auto translations.

[1]: https://chrome.google.com/webstore/detail/ffs-msdn-in-

[2021-06-07 07:32] jlundstocholm opened #3640 "Token Admin documentation on Azure DevOps REST API is not complete"
I am trying to work out how to use the Token Admin "[Revoke Personal Access Token](https://docs.microsoft.com/en-us/rest/api/azure/devops/tokenadmin/token%20revoke%20personal%20access%20token/revoke%20personal%20access%20token?view=azure-devops-rest-6.0)" functionality of the Azure DevOps REST API's. However - most of the functionality is not documented in enough detail to understand how to use it

[2021-06-10 13:09] daraadenipekun97 commented on #1797
Hello @yunyunyunyun . please I got the message below while going through the AZ-204 challenge and the challenge expires tomorrow. 11th june 2021
------------------------------------------------------
Your appeal has been received. Appeals are reviewed on a first-come, first-served basis, and may take several days to process. If your appeal is approved, you will regain access to sandboxes and other

[2021-06-11 18:34] damyanp opened #3641 "Overview page for using D3D12's debug layer"
**Is your feature request related to a problem? Please describe.**

We often hear from users who are having trouble that would be solved by enabling the d3d12 debug layer.  I've been unable to find a good page to point them to. We have https://docs.microsoft.com/en-us/windows/win32/direct3d12/understanding-the-d3d12-debug-layer, but this goes straight into talking about GPU-based validation.

**De

[2021-06-11 23:24] gewarren commented on #3638
This has also been reported a couple times on the dotnet/dotnet-api-docs repo. For example: https://github.com/dotnet/dotnet-api-docs/issues/6777.

[2021-06-15 01:46] robosheep95 opened #3642 "Cannot sign in with Microsoft Account on Edge"
**Describe the bug**
When I try to log in to docs.microsoft.com, I cannot log in with my Microsoft Account, but I can log in with my company accounts.

**To Reproduce**
Steps to reproduce the behavior:
1. Be signed in to the edge browser
2. Go to 'https://docs.microsoft.com/en-us/learn/'
3. Click on 'Sign in'
4. Account Selection opens
5. Click on Microsoft Account

**Expected behavior**
Log in is