[2019-10-01 06:59] mirh commented on #1756
Would it be possible to get the actual thing back in html form?
It's *way* neater and quicker to link and reference (even aside of this specific case).

[2019-10-01 10:06] MashB opened #1985 "Invalid route links on Xamarin.Android documentation page"
Invalid route links on Xamarin.Android documentation page

https://docs.microsoft.com/en-us/xamarin/android/index?WT.mc_id=docs-dotnet-xamarin

Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/en-us/xamarin/android/index?WT.mc_id=docs-dotnet-xamarin'
2. Click on 'User Interface' , 'Platform features' and other hyperlinks under **Guides**.
3. All links navigate to page not foun

[2019-10-01 12:28] surender1978 opened #1986 "Organize Bookmarks"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-10-01 16:09] NextTurn opened #1987 "Docs feedback should not escape special characters"
**Describe the bug**

Some special characters in the issue content submitted on docs.microsoft.com are escaped incorrectly.

**To Reproduce**

`<>` is escaped as `&lt;&gt;`

**Expected behavior**

`<>` should be kept as is.

[2019-10-01 17:26] patridge opened #1988 "Allow opening "Filter by title" items into new tabs"
**Is your feature request related to a problem? Please describe.**
I'm not always sure which docs page I need when searching by title from the hierarchy navigation. When there are multiple results in the **Filter by title** system, I would like to be able to open a bunch of them into new browser tabs so I can review them all. As it is, though, Ctrl+Click/Cmd+Click on a filtered item will not open

[2019-10-01 17:37] mairaw commented on #1988
@sudeepku would this a feature area that you own?

[2019-10-01 18:12] anytranya opened #1989 "All links to D365 Retails are inaccessible as of 2:00pm EST October 1st 2019"
**Describe the bug**
All links to D365 Retails are inaccessible as of 2:00pm EST October 1st 2019

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/dynamics365/
2. Click on Retail\Documentation
3. See error

**Expected behavior**
All pages have to be loaded.

**Screenshots**
![image](https://user-images.githubusercontent.com/56044305/65988081-2d027680-e45

[2019-10-01 18:37] mairaw commented on #1989
@buck1ey Can you look at this issue reported for the Dynamics 365 docs homepage?

My link checker tool also flagged this link in the bottom as broken:
![image](https://user-images.githubusercontent.com/12971179/65990095-cb83dd00-e43f-11e9-94b8-d69b43e0d10b.png)

[2019-10-01 18:40] mairaw commented on #1969
What is the page you're seeing this @ShinjiFunabiki?

/cc @CeciAc

[2019-10-01 19:44] KumarVivek commented on #1989
@mairaw We fixed the on-premises link and are working on fixing others as well. Thanks!

[2019-10-01 20:44] conceptdev commented on #1980
Thanks for letting us know @ashleyswanson360 - definitely an oversight on our part that has been updated immediately. Appreciate your help!
#please-close

[2019-10-01 21:25] jopires0 opened #1990 "Display most recent badges and trophies earned in the beginning of Achievement lists"
When I go to the Profile / Achievements tab I need to scrool down to see the most recent badge or trophy earned.

I would like to see the most recent ones in the beginning of each section.

Place the Trophy section before the Badges section because normally there are much more badges earned than trophies.

It is probably a good idea to display a maximum number of badges earned (e.g. the 12 most re

[2019-10-01 21:25] ryanmajidi commented on #1985
@conceptdev Can you please take a look at this issue?

[2019-10-01 21:31] ryanmajidi commented on #1983
@Zanyangwang Please go here for help: https://support.office.com/en-us/teams

[2019-10-01 21:31] #1983 closed

[2019-10-01 21:33] #1982 closed

[2019-10-01 21:33] #1980 closed

[2019-10-01 21:34] jopires0 commented on #1956
I have the same feedback. I started using Microsoft Learn environment a few days ago and could not find any way to bookmark a module or page for future reference. I had to copy the page URL to a separate document to keep tracking of interesting topics to review later.

[2019-10-01 21:36] ryanmajidi commented on #1977
@jialge Can you please take a look at this issue?

[2019-10-01 21:38] ryanmajidi commented on #1976
@SonjaSaltzman Can you please take a look at this issue?

[2019-10-01 21:41] ryanmajidi commented on #1974
@v-kents Can you take a look at this?

[2019-10-01 21:42] ryanmajidi commented on #1973
@shirhatti Can you please take a look at this?

[2019-10-01 21:43] ryanmajidi commented on #1972
@GrantMeStrength Can you please take a look at this?

[2019-10-01 21:46] ryanmajidi commented on #1971
@TormodLandet moved to that repo: https://github.com/MicrosoftDocs/cyclecloud/issues/128

[2019-10-01 21:46] #1971 closed

[2019-10-01 21:48] mairaw commented on #1976
It’s normal to have a delay between English and localized content. @JasonCard can probably comment on this specific page.

[2019-10-01 21:53] mairaw commented on #1956
@AndrewCook can you take a look at this issue about bookmarks?

[2019-10-01 21:59] beeradmoore opened #1991 "Auto light/dark mode"
**Is your feature request related to a problem? Please describe.**
Currently changing theme is a manual process. With OS/browsers being able to automatically change from light to dark mode it'd make sense to have MS Docs have an option to follow the same light/dark mode that your browser/OS is in.

**Describe the solution you'd like**
There is a new CSS property to detect what mode your browser is

[2019-10-01 22:08] JasonCard commented on #1976
Hi @JohnyL,
Thank you for your feedback. It can take up to 2 weeks for new/updated articles to be localized and up-to-date with English version. We have a weekly cadence to handoff a batch of new/updated files, and usually takes about one week to translate them. In this case, English version was published live on Mon 9/23, and it was handed off on Sun 9/29, so it all localized languages should be

[2019-10-01 22:08] #1976 closed

[2019-10-02 00:25] ShinjiFunabiki commented on #1969
Sorrry. here
https://docs.microsoft.com/ja-jp/forms-pro/get-started

[2019-10-02 01:29] diamond911 commented on #1989
Me too.

[2019-10-02 03:46] AndrewCook commented on #1956
Friends, bookmarks work on content pages today. (For example: [https://docs.microsoft.com/en-us/azure/azure-functions/]( https://docs.microsoft.com/en-us/azure/azure-functions/)). And we will look into adding the ability to bookmark learn modules.

[2019-10-02 08:43] davidbritch commented on #1985
@ryanmajidi These have been fixed for the Android docs, courtesy of a PR from @MashB

The same issue exists for our iOS docs, which I'll go and fix now.

This issue can now be closed.

[2019-10-02 08:57] v-iliva commented on #1989
https://docs.microsoft.com/en-us/dynamics365/outlook-app/deploy-dynamics-365-app-for-outlook

In this section the link is not working as well:

![image](https://user-images.githubusercontent.com/53929549/66031220-a361b000-e50b-11e9-9ba9-36789498758e.png)

[2019-10-02 09:19] MashB commented on #1985
Thanks for quick response. Closing the issue.

[2019-10-02 09:19] #1985 closed

[2019-10-02 12:24] rsammut commented on #1989
Still inaccessible...

![image](https://user-images.githubusercontent.com/18441609/66043739-41f80c00-e520-11e9-87ab-52eeff7975c3.png)

[2019-10-02 14:19] anytranya commented on #1989
Retails document links are still not working. I have task to deliver this week :(
Hopefully it is fixed ASAP.
Do MS have any backup link? if so, please provide. Thank you.

[2019-10-02 14:36] CeciAc commented on #1969
Hello, @ShinjiFunabiki

Thank you for your feedback.

We are actively reviewing your comments and will get back to you soon.

Kind regards,
Microsoft DOCS International Team

[2019-10-02 16:36] thiagofborn opened #1992 "Syntax returning error Terraform CLI 0.12.8 provider.azure v1.34.0"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).
For:
<pre>
+ Terraform v0.12.8
+ provider.azurerm v1.34.0

Your version of Terraform is out of date! The latest version
is 0.12.9. You can update by downloading from www.terraform.io/downloads.html
</pre>

**Link to article:**
Tell us whe

[2019-10-02 16:58] v-kents commented on #1974
@ryanmajidi Unfortunately, as code.msdn is going away I can't edit. However, that Generation Operators link should be going to https://code.msdn.microsoft.com/LINQ-Generation-Operators-8a3fbff7

[2019-10-02 19:52] ryanmajidi commented on #1970
@dudgh9661  Where are you having this issue?

[2019-10-02 19:54] ryanmajidi commented on #1967
@mairaw Can you please take a look at this issue?

[2019-10-02 21:07] jialge commented on #1990
This is a great feedback!  We are in the process of redesigning the profile page.  I will make sure to take this into the redesign.

[2019-10-02 21:09] jialge commented on #1975
Thank you for reporting the issue.  I have submitted this bug to our dev team.

[2019-10-02 21:15] jialge commented on #1977
Thank you for submitting the issue!  I have reported it to our developers to take care of it.

[2019-10-02 21:54] ryanmajidi commented on #1966
@mairaw Can you please take a look at this issue?

[2019-10-02 21:56] ryanmajidi commented on #1964
@v-kents can you please take a look at this issue?

[2019-10-02 21:58] ryanmajidi commented on #1963
@mairaw Can you please take a look at this issue?

[2019-10-02 21:59] ryanmajidi commented on #1962
@aNewLearnerHere what product are you having issues with?

[2019-10-02 22:05] ryanmajidi commented on #1930
@jialge can you please take a look at this issue?

[2019-10-03 01:21] javierbragazzi opened #1993 "I can't update my email"
Even if you complete the email fields, choose a country and accept the privacy statement, the save button is not enabled and the error is displayed Provide an email address.

![Email](https://user-images.githubusercontent.com/13878358/66092565-cff4e680-e562-11e9-9521-c79de3b98c17.jpg)

[2019-10-03 01:24] javierbragazzi opened #1994 "Badges and trophies"
Badges and trophies in the profile are not displayed correctly.

![Trofeos](https://user-images.githubusercontent.com/13878358/66092718-675a3980-e563-11e9-8adb-7aa46818fce2.jpg)

[2019-10-03 02:23] sean-gall-41 opened #1995 "WMF 5.1 Downloads Page Release Notes Link Broken"
**Describe the bug**
On the WMF 5.1 downloads page underneath 'Install Instructions' the release notes link is broken, sending you to a '404 page not found' page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.microsoft.com/en-us/download/details.aspx?id=54616
2. Expand 'Install Instructions' section
3. click on 'release notes' hyperlink

**Expected behavior**
Expect 'rele

[2019-10-03 04:10] mairaw commented on #1350
@sudeepku please take a look.

[2019-10-03 04:18] mairaw commented on #1994
@docs-product who owns profile and can check this issue?

[2019-10-03 07:35] weitzhandler opened #1996 "Expand login-logout idle duration"
**Is your feature request related to a problem? Please describe.**
I find myself logging in to the docs website several times a day from the same browser. And no, my browser isn't configured to delete cookies.

**Describe the solution you'd like**
When a user logs in, please keep them logged in for at least several weeks of idle time before logging them out.

[2019-10-03 08:59] LoveNy opened #1997 "IBrowserService deprecated in favor of what?"
Hello there,

You state that IBrowserService (and it's descendants), have been deprecated,
but you fail to mention in favor of what..

**Link to article:**
https://docs.microsoft.com/en-us/windows/win32/api/shdeprecated/nn-shdeprecated-ibrowserservice

**Problem:**
It would be far more useful if you had the foresight to
include a link to whatever the interface was replaced with..
Or, if it was ter

[2019-10-03 17:05] v-kents commented on #1964
@ryanmajidi [Pull request created](https://github.com/MicrosoftDocs/globalization/pull/118). Waiting for the product team to approve.

[2019-10-03 20:01] golaat opened #1998 "Azure LogAnalytics Documentation references Sku not included in enumeration"
**Link to article:**
https://docs.microsoft.com/en-us/azure/templates/Microsoft.OperationalInsights/2015-11-01-preview/workspaces#Sku

**Problem:**
The Workspace properties.retentionInDays description states:

However, the SkuNameEnum does not contain a definition for 'Unlimited'

[2019-10-04 17:37] mairaw commented on #1121
@mimisasouvanh this should be tracked internally as part of .NET API improvements

[2019-10-04 17:38] mairaw commented on #1308
Do we have an internal tracking item for this as well @shirgoldbird? Related to #1315 as well.

[2019-10-04 17:38] jzabroski commented on #1121
Will be very happy when this is improved

[2019-10-04 17:39] mairaw commented on #1315
@shirgoldbird would this also be you? Who handles F1?

[2019-10-04 17:39] mairaw commented on #1119
Also pinging @meganbradley on this one

[2019-10-04 17:41] mairaw commented on #1037
@adkinn would this be something for your team to take a look?

[2019-10-04 17:41] mairaw commented on #945
@mimisasouvanh please take a look at this customer suggestion

[2019-10-04 17:43] mairaw commented on #920
@mimisasouvanh please take a look at this customer suggestion for .NET reference content

[2019-10-04 18:26] #1915 closed

[2019-10-04 20:05] meganbradley commented on #1119
@mairaw I'll get it to the new feedback PM.

Is there any reason ms.assetid is still in the files? I thought we didn't use them for anything anymore - do they just add noise?

[2019-10-05 13:50] hallazzang opened #1999 "Broken table layout"
**Link to article:**
https://docs.microsoft.com/en-us/windows/win32/stg/the-summary-information-property-set

**Problem:**
![broken-table-layout](https://user-images.githubusercontent.com/5072682/66255750-5b1fe780-e7c2-11e9-8b29-47ee83be1d21.png)

[2019-10-05 21:00] fkleiner opened #2000 "Add keyboard shortcuts for navigation"
**Is your feature request related to a problem? Please describe.**
I have to use the mouse quite often when reading articles in Docs. Because most articles are quite short, it is necessary to select the next article every few minutes.

**Describe the solution you'd like**
Please enable the use of keyboard shortcuts to navigate between pages. E.g., next page, or previous page. For example, use VI k

[2019-10-05 21:08] fkleiner opened #2001 "Allow to dynamically hide the panels on the left and right"
**Is your feature request related to a problem? Please describe.**
When reading Docs articles on my iPad, a large part of the screen is wasted by the left (navigation) and right ("Is this page useful?") panels.

**Describe the solution you'd like**
I would like to be able to dynamically hide one or both of the panels when reading an article (e.g., by clicking a small arrow).

**Describe alternativ

[2019-10-05 21:15] fkleiner opened #2002 "Add additional color themes (e.g. sepia) for more eye-friendly reading"
**Is your feature request related to a problem? Please describe.**
In some occasions, it is hard to read text in either one of the themes (light, dark).

**Describe the solution you'd like**
Please add additional themes, e.g., sepia (a light yellow background).

**Describe alternatives you've considered**
I currently use reader mode in order to get the sepia background.

[2019-10-06 07:15] alexweininger commented on #1951
Any updates on this?

[2019-10-06 08:22] matjazmav opened #2003 "Microsoft Learn - Missing transcript from Microsoft Virtual Academy"
In MVA I have completed number of courses, now I lost my local copy of transcript and I can not download it anywhere.

[2019-10-06 11:53] LuigiBruno opened #2004 "Download resources from Microsoft Learn"
Add the possibility to download the videos and the transcripts for all the modules of each of the learning paths available in Microsoft Learn.
I'm actually attending the "Azure Fundamentals" learning path for the AZ-900 exam and it would be useful having all the resources available offline too.

[2019-10-06 14:05] RobDesideri opened #2005 "Keyboard on search box not work on mobile"
On mobile browser, if you touch on the lens icon, the search box appears and keyboard is showed.
BUT, after few milliseconds, **keyboard disappears and you cannot write anything** .

Tried on:
- Firefox
- Opera
- Edge.

OS: Android 8.0

[2019-10-06 15:07] KexyBiscuit opened #2006 ".NET Compact Framework docs are gone"
**Link to article:**
[Microsoft .NET Compact Framework Technical Articles](https://docs.microsoft.com/en-us/previous-versions/windows/embedded/aa286583(v=msdn.10))

**Problem:**
All content of .NET Compact Framework other than the link above return not found,

[2019-10-07 13:26] bluebaroncanada opened #2007 "Banned"
I got banned.  I definitely deserved it.  I felt someone was being abusive to staff, and I wasn't nice to that person.
Just wondering how long I'll be banned for.

[2019-10-07 14:38] BillWagner opened #2008 "C# syntax highlighting incorrect"
Copied from dotnet/docs#14979

Regarding the yield statement example, the parameter name, from is highlighted in a blue color. This color indicates that the name is reserved (in this case from is a clause keyword). Although, this is not a compile time error, the syntax highlight can make the example slightly confusing at first glance. I would recommend changing the names, from and to into somethin

[2019-10-07 16:27] v-kents commented on #1964
FYI: @ryanmajidi
Backslash removed from the underscores

[2019-10-07 16:46] jialge commented on #1977
We have shipped the fix.  Please try again. :)
Thank you again for reporting the problem to us.

[2019-10-07 21:21] clandrew opened #2009 "D3D12_HEAP_TYPE doc should mention that textures can't be UPLOAD or READBACK"
**Link to article:**
https://review.docs.microsoft.com/en-us/windows/win32/api/d3d12/ne-d3d12-d3d12_heap_type

**Problem:**
Doc describing heap types should mention that textures can't be UPLOAD or READBACK. Or, maybe Map could say that. Right now you could possibly garner this idea from the docs but it is very subtle.

related debug layer message:
D3D12 ERROR: ID3D12Device::CreateCommittedResourc

[2019-10-07 23:19] smitpatel commented on #824
@mairaw - The link Diego posted above does not give 404 now and redirect to .NET API browser. Should this be marked as closed?

[2019-10-07 23:58] stevewhims commented on #1814
Thanks for filing the issue, @BillHoover. I believe I've fixed the tables. I'll go ahead and close the issue, but please re-open if you feel I've closed it in error. ~Steve

[2019-10-07 23:58] #1814 closed

[2019-10-08 01:57] BillWagner opened #2010 "It would be nice to get the C# releases in the form of a feed"
Transferred from dotnet/docs#7048

This way I could have C# releases and their descriptions appear in my news aggregator!

/cc @lfr

[2019-10-08 07:02] aravindvnair99 opened #2011 "Repo enhancements"
Suggestions:

- Images in the repo aren't optimised (Indexed RGB can be used)
- Wordings could be more precise and concise
- Issue link points to issue list instead of the picker
- More tags can be added to the repo apart from just _**feedback**_ such as **_Microsoft, Docs_**

Will send in a pull request for the same.

[2019-10-08 18:56] minhaz1 opened #2013 "A lot of API's do not have the Description field set which results in the search page being unusable sometimes"
**Link to article:**
https://docs.microsoft.com/en-us/rest/api/?term=list%20resource

**Problem:**
If you look at this page you'll see a table with name `List` and no description for many different API's. It's impossible to tell what each one of these API's is for without mousing over and viewing the link for each of them.

Screenshot attached.
![image](https://user-images.githubusercontent.com/31

[2019-10-08 20:10] mairaw commented on #824
Yes, I believe you worked with Alma to remove those test packages from the docs reflection, correct?

[2019-10-08 20:30] smitpatel commented on #824
Yes, they are removed.

[2019-10-09 05:49] #1974 closed

[2019-10-09 08:32] dannil commented on #1797
I also have this issue, even though I only used the sandbox for completing exercises contained in the "Learning path for Azure Developer", any feedback would be appreciated.

[2019-10-09 12:34] azusa opened #2014 "mistranslate "shiftitem" to Japanese"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**Link to article:**
- https://docs.microsoft.com/ja-jp/graph/api/resources/shiftitem?view=graph-rest-beta
- https://docs.microsoft.com/ja-jp/graph/api/resources/shift?view=graph-rest-beta

**Problem:**
In these articles, a word `shiftit

[2019-10-09 13:10] dechapie opened #2015 "Upgradable content"
Link to article:
https://docs.microsoft.com/en-us/windows/win32/cimwin32prov/win32-systemenclosure

Problem:
I read an article (https://blogs.technet.microsoft.com/brandonlinton/2017/09/15/updated-win32_systemenclosure-chassis-types/) which gives more values for the ChassisType than can be found on the documentation.
Is this content reliable or does the documentation need an update ?
(and what abo

[2019-10-09 17:16] guardrex opened #2016 "Highlighted code lines in snippets not rendering in Edge"
We have a report on the ASP.NET Core docs repo ...

... for the doc at https://docs.microsoft.com/en-us/aspnet/core/security/data-protection/using-data-protection?view=aspnetcore-2.1.

I wasn't able to repro it here, and I don't have the Edge version. The community member may be able to respond on that issue to provide additional information if needed.

Our issue: https://github.com/aspnet/AspNetC

[2019-10-09 19:27] alvaro212 commented on #1797
Never used any sandbox before and I get the "Unauthorized Sandbox use detected..." message too. First, I tried to use my employer's subscription but there seems to be too many people using the training sandboxes in my same region. I created a subscription under my name and different email account, pay-as-you-go, and on that one I get the "Unauthorized Sandbox use detected..."  message. Did click o

[2019-10-09 20:03] bwcassidy opened #2017 "SQL Server 2014 T-SQL Reference Redirects to SQL Server 2017 T-SQL Reference"
**Describe the bug**
I am looking for the T-SQL reference for SQL Server 2014.  Whenever I try to filter the content to the 2014 version, it redirects me to a 2017 page.

**To Reproduce**
Go to a link like the following:
https://docs.microsoft.com/en-us/sql/t-sql/functions/date-and-time-data-types-and-functions-transact-sql?view=sql-server-2017

From the drop down menu for SQL Server 2017, select

[2019-10-09 23:02] Rick-Anderson commented on #2016
@wildough57 can you supply an image of what's not rendering correctly?

[2019-10-10 01:30] v-Muddu commented on #1961
@mairaw is there an update on this? I take that as it's not an open-source project I can't work on it and open a PR. Can I?

[2019-10-10 03:47] NessDan commented on #1968
Was just looking for this document, hoping someone finds it soon.

[2019-10-10 04:14] mairaw commented on #2006
That whole set of content was archived and is no longer available externally.

But you can search the archive for it:
https://docs.microsoft.com/en-us/search/?search=.net+compact+framework&category=All&dataSource=previousVersions

Your best option is probably the docs located at https://docs.microsoft.com/en-us/previous-versions/visualstudio/visual-studio-2008/f44bbwa1(v=vs.90).

Do you mean that

[2019-10-10 04:16] mairaw commented on #2014
@SonjaSaltzman can your team help with this?

[2019-10-10 04:17] mairaw commented on #2013
@rloutlaw can your team look at this? Is this some indexing issue?

[2019-10-10 04:18] mairaw commented on #2005
@sudeepku can you help route this feedback? Thanks,

[2019-10-10 04:20] mairaw commented on #2002
@DuncanmaMSFT @adkinn can you look at this suggestion for new themes?

[2019-10-10 04:21] mairaw commented on #2007
Sorry @bluebaroncanada, can you give more details about where you were banned?

[2019-10-10 04:22] mairaw commented on #2001
Thanks for your feedback. Closing as a duplicate of #167.

[2019-10-10 04:22] #2001 closed

[2019-10-10 04:23] mairaw commented on #1999
@mcleanbyron can you please look at this feedback?

[2019-10-10 05:12] KexyBiscuit commented on #2006
Yes, I did find the .NET CF docs under Visual Studio section but I thought the docs under Mobile and Embedded Development section would be newer...

And yes, the redirection to MSDN is misleading.

Seems that docs under https://docs.microsoft.com/en-us/previous-versions/dotnet/netframework-4.0/cc656764(v=vs.100) is the latest set.

Thanks for your help!

[2019-10-10 07:10] mairaw commented on #2006
No problem.

[2019-10-10 07:10] #2006 closed

[2019-10-10 09:03] Aframe00 opened #2018 "Please delete an old article on blogs.TechNet / blogs.TechNet記事の削除のお願い"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**Link to article:**
https://blogs.technet.microsoft.com/bpj/2014/11/26/project-online-3/
のページ内にある、

"２．イーパックシステムズ株式会社様
業務内容；八木ビジネス コンサルタントと出光興産の共同出資により、2001 年に設立。ERP を中心に、IT コンサルティング、開発支援作業、システム保守 (アウトソーシング)、自社開発ソフト販売などを行う。
担当部門；経営企画室、E

[2019-10-10 10:06] mfkl opened #2019 "Wrong link in CreateDirect3D11SurfaceFromDXGISurface doc"
**Describe the bug**

Page https://docs.microsoft.com/en-us/windows/win32/api/windows.graphics.directx.direct3d11.interop/nf-windows-graphics-directx-direct3d11-interop-createdirect3d11surfacefromdxgisurface#remarks contains a wrong link. `CreateDirect3DSurface` links to the wrong page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/en-us/windows/win32/api/

[2019-10-10 11:19] ranma42 opened #2020 "Minor typo"
**Link to article:**
https://docs.microsoft.com/en-us/quantum/?view=qsharp-preview
under "Manage machines & drivers"

**Problem:**
Just a minor typo: `QDK full state simlulator` should be `QDK full state simulator`

[2019-10-10 11:20] ranma42 commented on #2020
and just a couple of lines below `Quantum trace similator` should be `Quantum trace simulator` XD

[2019-10-10 12:46] federinik opened #2021 "Broken layout for "Migrate from legacy analysis (FxCop) to source analysis (FxCop analyzers)" docs page, IT localization"
[This](https://docs.microsoft.com/it-it/visualstudio/code-quality/fxcop-analyzers?view=vs-2019) page content is mostly html code for IT localization.

![image](https://user-images.githubusercontent.com/7857520/66569866-b5c39580-eb6c-11e9-9da4-177ec39a9a4a.png)

[2019-10-10 15:24] SonjaSaltzman commented on #2014
@TinaMcN Hi Tina, is this your team's content? cc: @Soran-M

[2019-10-10 16:41] bluebaroncanada commented on #2007
social.msdn.microsoft.com<http://social.msdn.microsoft.com>, but it's not this email address.  Can you PM me somehow or can I send you an email?

On Thu, 10 Oct 2019 at 00:21, Maira Wenzel <notifications@github.com<mailto:notifications@github.com>> wrote:

Sorry @bluebaroncanada<https://github.com/bluebaroncanada>, can you give more details about where you were banned?

—
You are receiving this be

[2019-10-10 16:49] iztiMicrosoft opened #2022 ""Qualify lead" box shows wrong UI design than is in Wave 2 release"
**https://docs.microsoft.com/en-us/dynamics365-release-plan/2019wave2/dynamics365-sales/simplified-lead-management-experience#feature-details**
-The "Qualify lead" box shows an inaccurate design from what the Wave 2 design actually looks like in that box.  The Wave 2 design shows options with toggles, while the design in the doc shows options with checkmarks.

**Problem:**
The article shows a diff

[2019-10-10 17:22] mairaw commented on #1961
That's the marketing site, so it's not open source. I need to find out who can help with this.

[2019-10-10 17:26] TinaMcN commented on #2014
@SonjaSaltzman yes, we own the localization for this content.  @OfficeGlobal please uplift this article to human translation for Japanese.  Also Russian as the issue occurs there also.  @azusa thank you for reporting the issue.

[2019-10-10 17:30] v-Muddu commented on #1961
ah...bummer. Np. Thanks for the update!

[2019-10-10 17:37] mairaw commented on #2020
I've opened a pull request to fix that @ranma42. Thanks for reporting.

[2019-10-10 18:01] rloutlaw commented on #2013
@minhaz1 Thanks for reporting this.

@mairaw  This is a issue w/ the Service Fabric docs not having summary pages that we pull the descriptions from-our API browser doesn't have the content to ingest to put the right descriptions to the links in the report.

I'll work with that team to get those pages in place/ generated by their handauthored process, and then we'll rebuild the index so add the de

[2019-10-10 18:03] azusa commented on #2014
@TinaMcN Thanks for reply!  I wonder that "uplift" means that this article will update to human translation for Japanese. Is this all right with you?

[2019-10-10 18:35] sadadow commented on #2004
@LuigiBruno Thanks for letting us know that that feature would be helpful to you. We'll share that with our experience team and see if it makes sense to add to our product roadmap. Thanks!

[2019-10-10 18:40] jialge commented on #1994
Hello.  Thank you for reporting the issue.  We released a new profile design YESTERDAY! :)  Would you like to check again and see if the problem is gone?

[2019-10-10 19:25] ranma42 commented on #2020
@mairaw thanks for the prompt reply. Please note that your PR only fixes the first typo

[2019-10-10 20:27] BillWagner opened #2023 "syntax coloring incorrect on `true`"
Transferred from dotnet/docs#8775

Hi,

An extremely minor thing I noticed in the first code snippet on the line :
'bool test = true;'
the Boolean value 'true' is in green and not blue as you would see in Visual Studio

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1144c44-369d-fd62-fad9-3d07d229f04e
* Version Indepen

[2019-10-10 20:37] WonderWoman1977 opened #2024 "Provide live contact information"
Hello,

I would like to speak with a person at Microsoft Learn to discuss specialized learning assistance I need because I have a learning disability.  Do you have a phone number I can use to call some one?

Sincerely,

Alisa Klein
Alisa.Klein.Job.Hunt@gmail.com
Ph:  201-546-7034

[2019-10-10 21:28] naragati opened #2025 "API Versions aren't updated for Resources"
https://docs.microsoft.com/en-us/azure/templates/microsoft.resources/allversions like this version - 2019-08-01

[2019-10-11 01:35] mairaw commented on #2020
Oh sorry. I missed the second one.

[2019-10-11 01:36] mairaw commented on #2020
PR opened: https://github.com/MicrosoftDocs/quantum-docs-pr/pull/546

[2019-10-11 11:40] orjanb opened #2026 "Dummy text shown on site"
At the following url:
https://www.microsoft.com/en-us/evalcenter/evaluate-windows-server-2019-taggingtest
the section "Eval to Azure tagging" has the text "test test test" repeated instead of an actual description. See attached screenshot.

![image](https://user-images.githubusercontent.com/422764/66648663-6775cb80-ec2c-11e9-9e55-61d1a9e4998e.png)

[2019-10-11 12:28] OfficeGlobal commented on #2014
Working on a fix

[2019-10-11 17:33] wenLiangcan opened #2027 "Can not open the Contents navigation panel in Android Chrome"
Can not open the Contents navigation panel in Android Chrome

**To Reproduce**
Steps to reproduce the behavior:
1. Use Android Chrome go to https://docs.microsoft.com/en-us/aspnet/core/?view=aspnetcore-3.0
2. Click on upright `Contents` button
3. The navigation panel appear in a flash and disappeared

**Expected behavior**
The Contents panel keep expanding until loosing focus by the user.

**Smart

[2019-10-11 18:08] LuigiBruno commented on #2004
Thank you @sadadow.

[2019-10-11 18:38] mairaw commented on #686
Closing since this issue is now fixed.

[2019-10-11 18:38] #686 closed

[2019-10-11 18:38] mairaw commented on #1924
Thanks @ljtill. @AndrewCook can you look at this suggestion?

[2019-10-11 18:44] mairaw commented on #1961
I found the team internally and they'll fix it. Thanks for reporting!

[2019-10-11 18:47] mairaw commented on #2027
@DuncanmaMSFT can someone on your team please look at this?

[2019-10-11 18:54] mairaw commented on #2024
We don't typically give out employee's phone number but adding @sadadow here to comment.

[2019-10-11 19:08] DuncanmaMSFT commented on #2027
We have a fix in progress, should be available soon. Thanks

[2019-10-12 04:09] v-Muddu commented on #1961
Great. Thank you for the update 😃!

[2019-10-12 08:21] PaulGarnerUk opened #2028 "Create tables with customisable sorting of enum values/codes"
Related to: https://github.com/MicrosoftDocs/feedback/issues/351
And: https://github.com/dotnet/dotnet-api-docs/issues/1245

I would propose that any time the documentation is generated from an enum, instead of presenting the enum codes/values in a fixed list, and sorted by code, such as : https://docs.microsoft.com/en-us/dotnet/api/system.net.httpstatuscode?view=netframework-4.7.2

.. it instead

[2019-10-12 19:24] the-Arioch commented on #1352
And still the page doc is broken

[2019-10-13 22:58] tparker24 opened #2029 "Error in MessageBoxW documentation"
**Link to article:**
https://docs.microsoft.com/en-us/windows/win32/api/winuser/nf-winuser-messageboxw

**Problem:**
In the Section under "Return Value", it states:

However, that is not true for MB_OK.  There, ESC is indeed _honored_ (and in fact returns IDOK).

Note: This same issue may apply to other related pages, like "MessageBox function", "MessageBoxA function", etc.

Minor point I guess, b

[2019-10-14 02:06] Venryx commented on #1492
The current contents are confusing because there are two names (SW_MAXIMIZE, SW_SHOWMAXIMIZED) mapping to the same value.

One might say: They're just alternate names for the same behavior.

However, if that's true, then the description of the behavior of the two entries should be the same. They're not. One says, "Maximizes the specified window.", and the other says, "Activates the window and disp

[2019-10-14 03:03] zhangwfc opened #2030 "DbContext 可以加扩展 SaveAsTable(TableName)方法吗？"
相同结构的数据可以存到自定义表名中 TEntity.ClassName!=TableName
DbSet<TEntity>().ToTable(string TableName )

[2019-10-14 04:21] #101 closed

[2019-10-14 07:47] Hugh-L-Grant opened #2031 "Class System.Data.SqlTypes.SqlFileStream doesn't exist in .NET Core 3.0"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-10-14 07:55] Hugh-L-Grant commented on #2031
The class System.Data.SqlTypes.SqlFileStream, i.e. the engine for reading from and writing to varbinary files in SQLServer, as yet doesn't exist in .NET Core, and there is no explanation for this in the .NET API Docs. Is this just a temporary state which will be remedied when programming of SqlFileStream is finished, or this permanent ?

Many thanks
Hugh Grant, Bangkok

[2019-10-14 07:55] #2031 closed

[2019-10-14 09:17] Gnbrkm41 commented on #533
Wonder if there was any progress to this? Being able to verify changes would be great since we don't have ways to check the pages until the PR is merged and the changes are reflected to the website.

[2019-10-14 16:59] mcleanbyron commented on #1999
Thanks for bringing this to our attention. The table has been fixed.

[2019-10-14 17:08] DuncanmaMSFT commented on #2005
This has been resolved, thanks for reporting it @RobDesideri

[2019-10-14 17:08] #2005 closed

[2019-10-14 18:11] #1999 closed

[2019-10-14 19:51] ranma42 commented on #2020
Both PR have been merged, so I believe this issue can be closed. Thank you :)

[2019-10-14 19:51] #2020 closed

[2019-10-14 20:54] sharpobject opened #2032 "SO_DONTLINGER contradictory documentation"
**Link to article:**
https://docs.microsoft.com/en-us/windows/win32/api/winsock/nf-winsock-setsockopt
in the description of `SO_DONTLINGER`
https://docs.microsoft.com/en-us/windows/win32/api/winsock/ns-winsock-linger
in the other description of `SO_DONTLINGER` that occurs in the "Meaning" block for values of `l_onoff`

**Problem:**
The first article says that setting `SO_DONTLINGER` with any nonze

[2019-10-15 02:06] BillWagner opened #2033 "enable syntax formatting in headers"
transferred from dotnet/docs#12205

In order to avoid confusion with methods with 0 parameters, I propose code formatting be added to "out" in the title "Calls to methods with out parameters". Thus it would be:

## Calls to methods with `out` parameters

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8047b417-55af-c6df-

[2019-10-15 02:08] zhangypcn opened #2034 "Would you consider adding UnrealEngine development documentation on HoloLens 2?"
Dear Microsoft technology developers,
When will there be UnrealEngine development documentation on HoloLens 2? Will there be a corresponding API supporting UE4 to develop MR?
Thank you for your interest!

[2019-10-15 05:14] donhuvy opened #2035 "Show raw mark-down code after render"
At this link https://docs.microsoft.com/en-us/dotnet/api/?view=netcore-3.0

![mark](https://user-images.githubusercontent.com/1328316/66802005-46bbb780-ef45-11e9-8d64-a0cb134cc4f6.png)

[2019-10-15 05:26] rdhatt opened #2036 "apisof.net certificate expired"
Certificate expired October 6, 2019.

Repo:
[code]

[2019-10-15 06:25] codescoast opened #2037 "Azure DevOps Rest API document error on "create-a-fork-of-a-parent-repository""
https://docs.microsoft.com/en-us/rest/api/azure/devops/git/repositories/create?view=azure-devops-rest-5.1#create-a-fork-of-a-parent-repository

Create a fork of a parent repository
--
POST https://dev.azure.com/{organization}/_apis/git/repositories?api-version=5.1
  "name": "forkRepository",
  "project": {
    "name": "MyFirstProject"
  },
  "parentRepository": {
    "name": "MyFirstRepo",
    "pr

[2019-10-15 07:42] Holo-Krzysztof opened #2038 "Direct3D Diagnostics Capture Interface Reference is a 404"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**Link to article:**
https://docs.microsoft.com/en-us/windows/win32/direct3dtools/dx-graphics-tools

**Problem:**
The "Direct3D Diagnostics Capture Interface Reference" link is a 404; it should point to https://docs.microsoft.com/en-us/w

[2019-10-15 08:22] mairaw commented on #2038
Thanks for your feedback @Holo-Krzysztof.
That article is open to contributions. Would you like to submit a fix?
Some information about how to do this:
https://docs.microsoft.com/en-us/contribute/#quick-edits-to-existing-documents

[2019-10-15 08:48] mairaw commented on #2035
Thanks for your feedback @donhuvy. This is a limitation of the API browser but I've opened a PR to remove those Markdown elements from the summary, which would fix this issue on the API browser as well.

[2019-10-15 08:55] Holo-Krzysztof commented on #2038
I've opened a PR [here](https://github.com/MicrosoftDocs/win32/pull/80).

[2019-10-15 08:56] mairaw commented on #2038
Thank you so much. Someone from that team should review it soon.

[2019-10-15 08:58] zzy31416 opened #2039 "导航栏不显示"
Language:Chinese
**Describe the bug**
VBA参考页左侧导航栏不显示
**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/zh-cn/office/vba/api/outlook.folder
**Expected behavior**
左侧出现导航栏，像以前一样

**Desktop (please complete the following information):**
 - OS: win 10 pro
 - Browser edge/IE
 - Version Edge41.16299.1004.0  IE11.1392.16299.0

**Additional context**
问题随机出现，一开始Edge和IE都没问

[2019-10-15 09:04] mairaw commented on #2036
@ChrisSfanos @terrajobst can you please take a look at this issue with the certificate for apisof.net? Thanks!

[2019-10-15 09:16] #2027 closed

[2019-10-15 09:45] OfficeGlobal commented on #2014
@azusa articles were HumanTranslated and published live

[2019-10-15 09:50] drskev opened #2040 "ResourceFile.FromUrl parameter descriptions are transposed"
**https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.batch.resourcefile.fromurl?view=azure-dotnet#Microsoft_Azure_Batch_ResourceFile_FromUrl_System_String_System_String_System_String_**

**Problem:**
The parameter descriptions for _filePath_ and _fileMode_ appear to be transposed:

[2019-10-15 09:53] #2014 closed

[2019-10-15 12:31] azusa commented on #2014
@OfficeGlobal   I got this issue is fixed. Thanks!

[2019-10-15 15:15] AndrewCook commented on #1924
@ljtill If I understand correctly you would like bookmarks to have grouping as well as sorting both alphabetically and by marking a bookmark a favorite or important?

[2019-10-15 18:02] terrajobst commented on #2036
Fixed

[2019-10-15 18:48] rdhatt commented on #2036
Confirmed.  Thanks!

[code]

[2019-10-15 18:48] #2036 closed

[2019-10-16 00:27] #2035 closed

[2019-10-16 05:32] jantheofel opened #2041 "Unsubscribe link needed!"
I git the following message from App Center Team <no-reply@mail.appcenter.ms> and there is no unsubscribe link at all. Please provide an unsubscribe link ASAP!

"A new version of Airmail Beta for macOS is available.

Airmail Beta
3.7.0 (553)
for macOS

Install

What's new
[...]

VS App Center
(c) 2019 Microsoft"

[2019-10-16 10:30] mityung opened #2042 "Incorrect link url in azure pipeline document"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/en-us/azure/devops/pipelines/?view=azure-devops'
2. Click on Azure Pipelines documentation > Build and deploy any language, any ecosystem > TUTORIAL > PHP
3. It'll open URL https://docs.microsoft.com/en-us/azure/devops/pipelines/ecosystems/python-webapp?view=azure-devops
4. This url seems incorrect

**Expected b

[2019-10-16 11:08] ljtill commented on #1924
@AndrewCook that is correct.

[2019-10-16 14:50] BradAF opened #2043 "Microsoft Ignite Exam Registration link gives 404"
At https://www.microsoft.com/en-us/ignite, going to Attendee Tools > Register for an exam leads to https://docs.microsoft.com/en-us/learn/certifications/msignite, which gives a 404 error:
![image](https://user-images.githubusercontent.com/11336928/66930480-a62bcd00-f002-11e9-8e30-53b30c420123.png)
![image](https://user-images.githubusercontent.com/11336928/66930506-b04dcb80-f002-11e9-9f69-0da3a102

[2019-10-16 15:28] liambarnett opened #2044 "virtualMachines template reference - Incorrect osDisk caching defaults"
**Link to article:**
https://docs.microsoft.com/en-us/azure/templates/microsoft.compute/2019-03-01/virtualmachines#osdisk-object

**Problem:**
What's wrong with the article?

The OsDisk caching description reads -  "Default: None for Standard storage. **ReadOnly** for Premium storage.

This is incorrect, OS disks are provisioned using **ReadWrite** caching by default, as supported by the below:

B

[2019-10-16 16:56] drewbatgit commented on #1352
This page has been updated with the parameter descriptions. Thank you for your patience.

[2019-10-16 18:10] Untitled-Document-1 opened #2045 "Sysinternals Disk Usage v1.61 console help: -l switch misdescribed as reporting one subdir level by default"
**Describe the bug**
Console help text for the 'du' utility has a small mistake in it.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a command window
2. Type 'du /?'
3. Help text is displayed

**Expected behaviour**
As per https://docs.microsoft.com/en-us/sysinternals/downloads/du#using-disk-usage-du the help for the -l switch should read **Specify subdirectory depth of information (d

[2019-10-17 00:15] stevewhims commented on #2038
Thanks, @Holo-Krzysztof! I approved your PR. :)

[2019-10-17 00:15] #2038 closed

[2019-10-17 01:22] mairaw commented on #1918
@GrantMeStrength can someone from your team look at this issue?

[2019-10-17 02:58] rootsmusic opened #2046 "add support link in article"
In the article to [develop solutions and customize Excel](https://docs.microsoft.com/en-us/office/client-developer/excel/excel-home#support), please link to the [feedback box for Excel developers](https://officespdev.uservoice.com/forums/224641-feature-requests-and-feedback?category_id=163563).  Thanks.

[2019-10-17 03:48] mairaw commented on #2046
@o365devx can you please look at this issue?

[2019-10-17 06:14] cremor opened #2047 "GitHub site feedback is not loaded on non en-us pages"
**Describe the bug**
It seems like all documentation pages that don't have `en-us` in their URL can't load the linked GitHub issues for site feedback.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any doc site, e.g. https://docs.microsoft.com/en-us/dotnet/standard/tour
2. Scroll down to the bottom of the page
3. See that the linked GitHub issues are shown correctly.
4. Change the `en

[2019-10-17 07:18] mairaw commented on #2047
Unfortunately I can't repro this. en-gb loads the same comments as en-us and other languages are loading just fine for me. I tried in several different browsers. I'm wondering if the system was down or something. Are you still seeing that issue?

[2019-10-17 07:21] mairaw commented on #2045
That article seems to be open for editing. Would you like to submit a fix?
Here's how: https://docs.microsoft.com/en-us/contribute/#quick-edits-to-existing-documents

Tagging @markruss since he's listed as the author of that article.

[2019-10-17 07:22] mairaw commented on #2045
Actually the author metadata is probably a mistake in that article. It should probably be @markrussinovich.

[2019-10-17 07:23] cremor commented on #2047
Yes, I can still reproduce this issue. In fact I first noticed it a few weeks ago, but until today I didn't realize that it depends on the language in the URL.

I've also tried it with a different PC and a different internet access (work vs. home) to rule out any local network issues.

[2019-10-17 07:25] mairaw commented on #2047
Ok, thanks for confirming.

@DuncanmaMSFT who can take a look at feedback control problems?

[2019-10-17 07:25] mairaw commented on #2044
Thanks for your feedback. @tfitzmac can you take a look at this issue?

[2019-10-17 07:29] mairaw commented on #2043
Thank you for letting us know @BradAF. I'm trying to see if I can find someone who can fix that.

Tagging @sadadow here.

[2019-10-17 07:32] #894 closed

[2019-10-17 07:35] mairaw commented on #437
It seems this issue is now solved and the expected result is ranked #1:

![image](https://user-images.githubusercontent.com/12971179/66987585-ee380780-f075-11e9-81ca-7970ac921fda.png)

[2019-10-17 07:35] #437 closed

[2019-10-17 07:39] mairaw commented on #827
Closing this one since the original problem seemed to be fixed. I got no hits on the referenced page:
![image](https://user-images.githubusercontent.com/12971179/66987922-7dddb600-f076-11e9-9830-4803ea9ed904.png)

Please report other pages with 404 links separately since different teams own different content.

[2019-10-17 07:39] #827 closed

[2019-10-17 07:41] mairaw commented on #1264
I think they have some unique extensions that don't apply to the regular Markdown content in docs @NextTurn.

[2019-10-17 08:33] krechtern opened #2048 "documentation for decimal incorrect in german"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**Link to article:**
[Decimal Struct (System)](https://docs.microsoft.com/de-de/dotnet/api/system.decimal?view=netframework-4.8)

**Problem:**
The german article describes that a decimal has a range from negativ 337 to positiv 337. This

[2019-10-17 08:50] mairaw commented on #2048
@JasonCard please take a look at this issue that is happening at the ..NET API docs in German.

[2019-10-17 14:32] ngschroeder commented on #2043
Wondering about this too, hoping registrations aren't closed. Is there an alternate way to register in the meantime?

[2019-10-17 15:29] tfitzmac commented on #2044
The description comes from the [REST API specification for Compute](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/compute/resource-manager/Microsoft.Compute/stable/2019-03-01/compute.json#L6522) so the change would need to happen there. The [REST docs](https://docs.microsoft.com/en-us/rest/api/compute/virtualmachines/createorupdate#definitions) have the same description.

[2019-10-17 17:52] JasonCard commented on #2048
@DavidPrio please help to follow up on this MT loc issue.

[2019-10-17 19:47] krishty opened #2049 "Property Sheet structure articles are broken"
https://docs.microsoft.com/en-us/windows/win32/api/prsht/ns-prsht-propsheetheadera_v2 and https://docs.microsoft.com/en-us/windows/win32/api/prsht/ns-prsht-propsheetpagea_v2

Almost all critical information from these pages has gone missing. Compare them to an old version, which is about thrice the length: https://msdn.microsoft.com/en-us/ie/bb774546(v=vs.100)

There’s always sentences like *Set t

[2019-10-17 20:14] Untitled-Document-1 commented on #2045
From testing the actual behaviour of `du`, it appears that omitting the `-l` switch yields the same `du` output as including `-l 0`. I would thus conclude that both the console in-command help and the web page documentation are incorrect with respect to `-l`, i.e. that the unspecified default is "no levels".

Here's some example output:

[code]

It seems to me that using `du` with `-l` set to a ve

[2019-10-17 20:36] JasonCard commented on #2048
@CeciAc Could you please help to check and let us know if this translation issue was from TM or MT?
cc @ishasahni1

[2019-10-17 20:45] CeciAc commented on #2048
Hi @JasonCard
I just assigned this issue to the engineer teams to investigate.
Due to time zones differences, they won't be able to check it until tomorrow

We'll keep you posted

[2019-10-17 20:54] andre-ss6 commented on #1721
@SonjaSaltzman @mairaw @bodhigautam Hey, is there an issue to track that aforementioned solution? Is it still planned at all?

[2019-10-17 21:22] krishty commented on #2049
The PropSheetProc page is also completely chopped apart:
https://docs.microsoft.com/en-us/windows/win32/api/prsht/nc-prsht-pfnpropsheetcallback vs. https://msdn.microsoft.com/en-us/ie/bb760815(v=vs.100)
Also mind that the declaration is wrong (*CALLBACK* is missing; first line does not make sense)

[2019-10-17 23:23] galenyjl opened #2050 "Build a .NET core console app to manage data in Azure Cosmos DB not found"
About cosmos DB tutorials, I can find **build a console app with .net framework to manage data in Azure Cosmos DB**
https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-get-started
and also **build an ASP.NET Core MVC web application to manage data in Azure Cosmos DB**
https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-dotnet-application

However, the **build a .NET Core console app usin

[2019-10-17 23:57] mairaw commented on #2050
Thanks for your feedback @galenyjl. Where are you seeing that link that 404s?

@SnehaGunda can you help with his?

[2019-10-17 23:59] galenyjl commented on #2050
@mairaw Please check https://docs.microsoft.com/en-us/samples/azure-samples/cosmos-dotnet-core-getting-started/developing-a-net-core-console-app-using-azure-cosmos-db/
and then click _full tutorial on the Azure Cosmos DB documentation page._

[2019-10-18 00:13] mairaw commented on #2050
Thanks @galenyjl. @deborahc you seem to be the owner of the https://aka.ms/CosmosDotnetCoreGetStarted link. Can you please check?

[2019-10-18 09:24] nico3000 opened #2051 "HLSL unbounded array resources documentation may be wrong"
https://docs.microsoft.com/en-us/windows/win32/direct3d12/resource-binding-in-hlsl

If I declare an unbounded SRV array in the root signature (by setting `D3D12_DESCRIPTOR_RANGE1.NumDescriptors` to -1) _and_ in HLSL (by having `Texture2D<float4> g_pMaterialTextures[] : register(t0);`) the debug layer will complain with
[code]

However, the documentation clearly states that this is allowed:

Obviou

[2019-10-18 09:30] mvelosop opened #2052 "Add support for grid tables"
**Is your feature request related to a problem? Please describe.**
Some times you need to create a table in html because the content can't be easily prepared in MD, for example, when using breaks in table cells.

Case in point: https://docs.microsoft.com/en-us/dotnet/architecture/microservices/net-core-net-framework-containers/container-framework-choice-factors

The original html table was:
[code]

[2019-10-18 11:40] CeciAc commented on #2048
Hi @JasonCard
the team confirmed this was an MT issue which affected other languages, too
They were already fixed and we are waiting for staging.
best

[2019-10-18 13:41] ngschroeder commented on #2043
@mairaw The link now goes to the generic exam page without any info on how to register for an exam at Ignite. Don't want to be a pest but I see this ticket still isn't assigned. Any update?

[2019-10-18 14:33] Jamie63 opened #2053 "Highlighted Code Segments unreadable"
Some of the Highlighted segments where there is new code cannot be seen.  It looks like the text fore color and the background color are the same.  I would suggest rather than highlighting the changed code you would make it bold or underline.  This highlighting way is unreliable.  Please fix.

Also I cannot preview this feedback, not sure if my attachment I placed has been successful.

[2019-10-18 14:40] hallazzang opened #2054 "Missing content"
**Link to article:** https://docs.microsoft.com/en-us/windows/win32/api/shellapi/ns-shellapi-notifyicondataa

**Problem:** Field description for `szTip` is missing. This also happens in the documentation for the [unicode version](https://docs.microsoft.com/en-us/windows/win32/api/shellapi/ns-shellapi-notifyicondataw) of it.

![capture](https://user-images.githubusercontent.com/5072682/67103579-629

[2019-10-18 16:10] cremor commented on #2047
Some more information that might help:

When I scroll down on a page that doesn't load the issues, I don't even see a request being made in the Firefox or Edge developer tools.

I see the following error in the console of the Firefox developer tools on initial page load (so even before I scroll down) on pages that don't load the issues. That error is not added to the console on pages that load the

[2019-10-18 16:42] JasonCard commented on #2048
Thank you, @CeciAc for confirming!

[2019-10-18 18:26] mairaw commented on #2049
@lastnameholiu can you please take a look at this feedback?

[2019-10-18 18:28] mairaw commented on #2054
@lastnameholiu can you please take a look at this feedback? Thanks!

[2019-10-18 18:29] mairaw commented on #2053
Hi @Jamie63, thanks for your feedback but I cannot see your attachment. Do you mind sharing the URL where you saw this behavior?

[2019-10-18 18:41] mairaw commented on #2052
Thanks @mvelosop for filing this issue. @SyntaxC4 @meganbradley would you be the right folks to discuss this customer suggestion with?

[2019-10-18 18:42] mairaw commented on #2033
I think there was some work done to actually remove this a while back because the formatting was bit funky. @adkinn can you comment?

[2019-10-18 18:44] mairaw commented on #2043
They added a temporary fix so it doesn't 404 but they are working on the appropriate solution. I don't know if the folks working on this have GitHub, but I'll ask them to comment here about this process. Thanks!

[2019-10-18 18:48] ngschroeder commented on #2043
Thanks, in that case I'll just keep checking!

[2019-10-18 19:07] meganbradley commented on #2052
@mairaw @mvelosop @SyntaxC4 we aren't likely to implement support for Markdown grid tables, but are planning to create a new Docs Markdown extension for tables to address various issues. I've added a link to this request in the iternal feature so we can consider these requirements when we create the new extension.

https://ceapex.visualstudio.com/Engineering/_workitems/edit/119502

[2019-10-18 20:19] DSivtsov opened #2055 "Console.WriteLine Method. Incorrect examples for valuable types"
**Link to article:**
[Console.WriteLine Method](https://docs.microsoft.com/en-us/dotnet/api/system.console.writeline?view=netframework-4.8)

**Problem:**
All examples of usage Console.WriteLine for valuable types, are shown as the Console.WriteLine(String) - Console.WriteLine($"...")

[2019-10-18 20:20] huzbub opened #2056 "404 from management console"
A note that this 'useful link' lands me on a 404 error.

Not useful.

![404](https://user-images.githubusercontent.com/34818137/67125532-a40c6e80-f1ba-11e9-8a41-c100791eb219.png)

[2019-10-19 00:04] EliotSeattle commented on #1833
So sorry for the delay. This is fixed. Link points to [https://query.prod.cms.rt.microsoft.com/cms/api/am/binary/RE37tp1](https://query.prod.cms.rt.microsoft.com/cms/api/am/binary/RE37tp1). Should be live tomorrow.

@mairaw can you please close this?

[2019-10-19 09:32] thomaslevesque commented on #314
Any news on this? It's really annoying not to be able to see which overloads are available on which platform...

[2019-10-19 09:33] jambanks91 commented on #2011
[Export-1910190154231820315064419971 (4)(1).zip](https://github.com/MicrosoftDocs/feedback/files/3746454/Export-1910190154231820315064419971.4.1.zip)

[2019-10-19 09:36] jambanks91 commented on #2011
Get Container Metadata
   GET http://myaccount.blob.core.windows.net/mycontainer?restype=container&comp=metadata
CanonicalizedResource:
    /myaccount/mycontainer\ncomp:metadata\nrestype:container

List Blobs operation:
    GET http://myaccount.blob.core.windows.net/container?restype=container&comp=list&include=snapshots&include=metadata&include=uncommittedblobs
CanonicalizedResource:
    /myaccou

[2019-10-19 16:25] krishty opened #2057 "Remarks missing from Extended Window Style"
Article: https://docs.microsoft.com/en-us/windows/win32/winmsg/extended-window-styles

For `WS_EX_COMPOSITED`, it is stated: *For more information, see Remarks.* There are, however, no remarks in the article.

[2019-10-19 23:09] #1833 closed

[2019-10-20 12:08] bpelikan opened #2058 "Visibility of open learning paths?"
[code]
It would be nice to see opened `learning paths`. At this moment I see only opened `module`. At the top of the page there could be a choice if I want to see `learning paths`, `module` or all.

![image](https://user-images.githubusercontent.com/24376947/67159308-ff696880-f342-11e9-8f7f-23ad15aac4bf.png)

[2019-10-20 12:21] bpelikan opened #2059 "Module or path changes notification"
I think it will be nice to be informed about changes in `module` or `learning path` that I finished. This can be configured in the options, whether I want to receive email information about changes. Or just put it in `activity` as uncompleted `module` or `learning path`. When I finish `learning path` and new `module` was added to path I don't know about that. This could be noticed only browsing.
!

[2019-10-20 12:33] bpelikan opened #2060 "The module is visible as completed after adding new unit"
**Describe the bug**
The module is visible as completed after adding new `unit`.

**To Reproduce**
Steps to reproduce the behavior:
1. Finish `module`.
2. New `Unit` was added.

**Expected behavior**
I think `xp` shouldn't indicating that this module is finished.

**Screenshots**
![image](https://user-images.githubusercontent.com/24376947/67159472-625bff00-f345-11e9-8ee3-a6df4f1cf273.png)
![image]

[2019-10-20 12:34] bpelikan commented on #2060
This could be connected with #2058 and #2059.

[2019-10-20 13:25] paulbarrs opened #2061 "Technet Subscription Page Not Working - Broken Link"
I am on this page  - https://technet.microsoft.com/en-us/cc543196 and use the link to sign up to Technet Flash which takes me to this page - https://profile.microsoft.com/RegSysProfileCenter/ErrorPage.aspx?aspxerrorpath=/RegSysProfileCenter/pplogon.aspx

I am unable to sign up to Technet Flash

Paul.

[2019-10-20 17:11] yuriy-look opened #2062 "Problems in TriggerCollection Members page"
Two problems with https://docs.microsoft.com/en-us/previous-versions/visualstudio/design-tools/expression-studio-4/ff724858(v=expression.40) page:

1.  Link for the Add method is broken.

2.  The page contains a generic banner about checking the Microsoft Product Lifecycle.  But (a) this banner is not present on other pages of this class( at least those I happened to visit) and (b) it's not clear

[2019-10-21 03:38] pwm812 opened #2063 "No top-left menu bar and missing content"
Hello, I have a problem.
On iphone7 with ios 10.2(14c92) , I can't see top-left menu bar on the url of http://docs.microsoft.com, and missing content in other pages, e.g. https://docs.microsoft.com/zh-cn/dotnet/.
![微信图片_20191021113635](https://user-images.githubusercontent.com/32897556/67175157-90018080-f3f7-11e9-9f5b-638cf62af81c.png)
![微信图片_20191021113645](https://user-images.githubusercontent.c

[2019-10-21 03:39] pwm812 commented on #2063
![微信图片_20191021113635](https://user-images.githubusercontent.com/32897556/67175135-7829fc80-f3f7-11e9-811d-ace57c110500.png)

[2019-10-21 13:30] ChrisMaddock opened #2064 "API: Inheritance info broken on mobile"
**Describe the bug**
Display of inheritance info On API pages is broken on mobile. I think this is a regression, I don’t remember seeing this problem before.

**To Reproduce**
Visible e.g. https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.configuration.newtonsoftjson.newtonsoftjsonconfigurationprovider?view=dotnet-plat-ext-3.0

**Screenshots**
![F1AB5A94-E7F3-4FF9-AFAD-A61AD4EAAC02]

[2019-10-21 15:16] adrianlaraperez88 opened #2065 "LinkedIn No Show the Post."
LinkedIn no show the post create in API.
Only 1 example Id post :
Id Post                                                      Page              Day.
urn:li:share:6592046682882531328	27168444	2019-10-21 10:00:00
urn:li:share:6592046685747232768	27168453	2019-10-21 10:00:00
urn:li:share:6592046677903884288	18014300	2019-10-21 10:00:00

[2019-10-21 16:04] nico3000 commented on #2051
If `D3D12_DESCRIPTOR_RANGE_FLAG_DESCRIPTORS_VOLATILE` is set no validation errors will occur but it's not stated anywhere that this is needed.

[2019-10-21 17:10] Jamie63 commented on #2053
At the bottom is one of the links.  It is throughout the material.  I suggest that maybe the code changes have the highlights removed and maybe bold the text or change the color of the highlight.  I tried both Internet Explorer and Edge and had the same results.  The other strange thing is not all the code that is highlighted behaves like this and it is not always the same code that is unreadable.

[2019-10-21 18:45] mvelosop commented on #2052
Thanks @meganbradley.

Just let me know in case you need some help in whatever form.

I'm also an indirect stakeholder here, because I developed a docx+pdf generator, that generates e-books from the docs repo, that's currently used to generate five e-books for the [.NET Architecture Guides site](https://dotnet.microsoft.com/learn/dotnet/architecture-guides).

Since I'll have to adapt to the new ta

[2019-10-21 19:57] krishty opened #2066 "Typo in DLGTEMPLATE structure"
https://docs.microsoft.com/en-us/windows/win32/api/winuser/ns-winuser-dlgtemplate#remarks

Third paragraph: *Following the menu array is a class array that identifies the window class of the control.* It should be *of the dialog box*, just like in all the other paragraphs.

[2019-10-21 20:53] CeciAc commented on #1969
Hi @mairaw
We have the linguistic assessment for this issue but cannot make the implementation since this is out of our scope, please, forward it to the correct team:

Source: Microsoft Forms Pro is generally available on July 1, 2019. To try Forms Pro, you can sign up for a free 30-day trial. After the trial period, you will need a paid license to continue using Microsoft Forms Pro.

Current tran

[2019-10-21 21:50] BillWagner opened #2067 "Distinguish SDKs in .NET Core documentation"
Ported from dotnet/dotnet-api-docs#3375

This is a general documentation issue that came up from a specific instance of confusion in https://github.com/dotnet/wpf/issues/2045.

For instance, the documentation for [ICollectionView](https://docs.microsoft.com/en-us/dotnet/api/system.componentmodel.icollectionview?view=netcore-3.0) contains the following called out binaries:

![image](https://user-im

[2019-10-22 01:35] mairaw commented on #2067
@mimisasouvanh this is a new customer suggestion for API docs

[2019-10-22 01:50] mairaw commented on #2066
@lastnameholiu can you please take a look at this feedback? Thanks!

[2019-10-22 01:52] mairaw commented on #2057
@hickeys can you please take a look at this feedback? Thanks!

[2019-10-22 01:53] mairaw commented on #2051
@stevewhims can you please take a look at this feedback? Thanks!

[2019-10-22 01:55] mairaw commented on #2032
@lastnameholiu can you please take a look at this feedback? Thanks!

[2019-10-22 02:18] stevewhims commented on #2051
Hi, @nico3000, and thanks for filing the issue. I've sent out a request for info about this question to determine whether or not the docs are in need of work.

-Steve

[2019-10-22 05:56] shubham-tokalwad opened #2068 "Azure Rest API to get resources list(i.e. Name,Resource Type, Resource group & DIagnostics Status) under diagnostics settings in azure portal"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**Link to article:**
I want azure rest api to get list of resources under diagnostics settings in azure portal, I have tried many rest api but i couldn't find accurate API for this. If there is multiple rest API to get this data that wil

[2019-10-22 10:08] a-amalaa commented on #2032
I think this was mistakenly assigned to me.

From: Maira Wenzel <notifications@github.com>
Sent: October 22, 2019 3:56 AM
To: MicrosoftDocs/feedback <feedback@noreply.github.com>
Cc: Amr Alaa El-Din (IBS) <a-amalaa@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [MicrosoftDocs/feedback] SO_DONTLINGER contradictory documentation (#2032)

Assigned #2032<https://nam06.safelinks.protec

[2019-10-22 11:21] nomeaning commented on #759
Also have the same issue.
Can't understand why each time when I visit web site I should change language to English in the footer of the page.
When I changed it one time to English I expect each time I will see content with this language.

[2019-10-22 15:37] DeanGross opened #2069 "Missing content for Visio"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**Link to article:**
Docs does not include Visio

**Problem:**
the content is missing

[2019-10-22 18:41] mairaw commented on #2064
Thanks @ChrisMaddock. I don't remember seeing this before as well.

@mimisasouvanh @adkinn who should look into this API docs UI problem?

[2019-10-22 18:59] #2051 closed

[2019-10-22 19:41] adkinn commented on #2064
@mairaw thanks, we have a bug for this here: https://ceapex.visualstudio.com/Engineering/_workitems/edit/128321

[2019-10-22 19:54] stevewhims commented on #1519
FYI, fixed with https://github.com/MicrosoftDocs/win32-pr/pull/284.

[2019-10-22 19:54] #1519 closed

[2019-10-22 20:32] ashrafulislambd opened #2070 "Please don't remove Visual Basic .NET from list"
We love VB.NET too much. Nowadays we are missing it from various things like Unity, Xamarin etc. Though it can be used with Xamarin indirectly, you aren't still providing VB.NET support. Visual Basic has a lots of feature which we are missing in C#. Also always give documentation of every code in Visual Basic please.

Dear Microsoft,
If you remember that Visual Basic is the base of your organizati

[2019-10-22 22:01] mairaw commented on #2070
Adding @KathleenDollard

[2019-10-22 23:13] v-saivp opened #2071 "Extensions link is not working under Changes in SSDT for visual studio 2019"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**Link to article:**
https://docs.microsoft.com/en-us/sql/ssdt/download-sql-server-data-tools-ssdt?view=sql-server-ver15#changes-in-ssdt-for-visual-studio-2019

**Problem:**
Extensions link is not working under Changes in SSDT for visual

[2019-10-22 23:29] mairaw commented on #2071
Thanks @v-saivp!
I've opened a PR to fix this: https://github.com/MicrosoftDocs/sql-docs/pull/3375

That documentation is open for contribution so you can also submit fixes when you encounter issues like this.

[2019-10-22 23:34] v-saivp commented on #2071
Will do. Thanks.

Best Regards
Sai Varun Polishetty
Microsoft Business Intelligence
Time Zone:  PST (US & Canada) (UTC -08:00)
Hours: 9 AM – 6 PM
Email: v-saivp@microsoft.com<mailto:v-saivp@microsoft.com>
Manager: Rizwan UL Moin Mohammed (v-momoin@microsoft.com<mailto:v-momoin@microsoft.com>)
[cid:image001.png@01D57D39.8A238850]
In case of any delay in response to your email or immediate assistanc

[2019-10-23 08:59] shubham-tokalwad commented on #2068
Hello, waiting for response

[2019-10-23 11:55] NextTurn commented on #1987
![image](https://user-images.githubusercontent.com/45985406/67389843-07890880-f5ce-11e9-97ef-cca8210666b5.png)

dotnet/docs#14859 /cc @mairaw

This welcome bot is a nonsense.

[2019-10-23 12:06] BradAF commented on #2043
Hi @mairaw - looks like they have removed the 'Register for an exam' link completely.
![image](https://user-images.githubusercontent.com/11336928/67390267-4f764400-f56a-11e9-8c97-c4c5c86732e0.png)

Have you heard back anymore from them? Will it be possible to register for exams at Ignite?

[2019-10-23 14:53] ngschroeder commented on #2043
@BradAF Found this in the FAQ, second question:

https://www.microsoft.com/en-us/ignite/faq

Seems like they are trying to keep this hard to find. I was able to go through the registration process on Pearson and when it came to checkout, a 100% discount was applied. Unfortunately, even thought the FAQ makes it sound like you can take as many exams you like as long as they're part of the covered se

[2019-10-23 15:26] KeyWorksRW opened #2072 "Contributing.md in win32 documentation links to inaccessible articles."
In the MicrosoftDocs/win32 repository, the [contributing.md](https://github.com/MicrosoftDocs/win32/blob/docs/CONTRIBUTING.md) article has links to "Windows Authoring Guide" and "content quality checklist" with the suggestion to read those articles before submitting any document pull requests. However, those links are to the "https://review.docs.microsoft.com/en-us/" site which denies access to an

[2019-10-23 15:50] BradAF commented on #2043
Thanks, @ngschroeder - I was at least able to get one exam registered!

[2019-10-23 17:37] mebulmer opened #2073 "Power Query (M) and DAX Formual Language Pages"
Sometime recently, the Power Query M and DAX support pages (Functions, Expressions, Values, etc...) were updated and the "Left Hand Navigation" tree disappeared which makes it very difficult to navigate around to different function pages and find what you need.  The only way to navigate is to either hit the back button or go up to the website address and manually delete the last "section" such as

[2019-10-23 19:51] amunger opened #2074 "Redis Cache GET 'Try it' does insert ResourceGroupName into URL"
**Describe the bug**
The "Try it" feature in the Redis GET document ends up with a URL that contains resourceGroups/%7BresourceGroupName%7D/ because the resource group name does not get inserted correctly as a parameter.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/rest/api/redis/redis/get#code-try-0
2. Fill in the parameters, specifically resourceGr

[2019-10-24 00:13] sharpninja opened #2075 "What values are valid for scoringprofile in the search api?"
**Is your feature request related to a problem? Please describe.**
I am querying the `docs.microsoft.com/api/search` service and would like to know what are valid values for the `scoringprofile` parameter and what type of results do they provide?

**Describe the solution you'd like**
A list of valid values for `scoringprofile` and a description of their functionality.

**Describe alternatives you'

[2019-10-24 10:42] krisrajzlive commented on #1956
Awesome, thanks for listening to us. Now I can bookmark learning modules, docs etc.,! Makes learning more easy and more focused!

[2019-10-24 10:42] #1956 closed

[2019-10-24 20:00] krishty commented on #2057
Found the missing remarks on ´WS_EX_COMPOSITED´ in a different article: CreateWindowEx https://docs.microsoft.com/en-us/windows/win32/api/winuser/nf-winuser-createwindowexa

[2019-10-25 08:56] alanniu99 commented on #956
Meeting the same error when use the property sslCertKeyVaultSecretName. How to get the more details log ?  " error": {
    "code": "InternalServerError",
    "message": "There was an unexpected InternalServerError.
  }
}

[2019-10-25 10:47] EvgeniyPolikarov opened #2076 "Microsoft Dynamics AX 2012 Setup parameters reference"
**Link to article:**
https://docs.microsoft.com/en-us/dynamicsax-2012/appuser-itpro/setup-parameters-reference?redirectedfrom=MSDN

**Problem:**
Description of OptInCEIP and UseMicrosoftUpdate parameters is incorrect (Description of option "0" is actually for option "1" and description of option "1" is actually for option "0")

[2019-10-25 12:18] tomaszhanc commented on #1407
@spelluru Can it be merged? I had to spent almost whole day to figure this out.

[2019-10-25 14:38] spelluru commented on #1407
Hi @tomaszhanc - Have you submitted a PR for this? If not, I will update the article after confirming with the Program Manager (PM) for the service. Thanks.

**"Content-Type needs to be application/vnd.microsoft.servicebus.json"**

[2019-10-25 16:47] MicrosoftSUCKS69 opened #2077 "WHAT A USELESS PAGE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**Link to article:**
Tell us where exactly a problem occurs.

**Problem:**
What's wrong with the article?

[2019-10-25 17:39] gewarren commented on #1264
I'm not sure what the eyes emoji is meant to signify, but I'm using it for "surprise" :)

[2019-10-25 17:54] nemrism commented on #1264
Which part of this discussion surprise you? 😁

[2019-10-25 18:01] gewarren commented on #1264
@nemrism This one.

[2019-10-25 18:55] nemrism commented on #1264
@NextTurn got tiger eyes

[2019-10-25 20:25] tfosmark opened #2078 "[error message feedback] provide feedback for GetDocumentsFromDHSFailed"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Problem:**
This message is neither clear nor actionable, and provides no link to additional detail. I have no idea if this is possibly a transient error or something I should take action on or alert anyone else.

**Log code info**
(This is auto fille

[2019-10-25 22:51] mairaw commented on #2078
@tfosmark is this about the OPS error message?

[2019-10-25 22:53] tfosmark commented on #2078
Yes.

[2019-10-26 03:58] paulsharratt0 opened #2079 "Linkedin API v1 / v2 permissions transferal issue"
Linkedin forced all devs to switch to API v2 in June, we applied for access at that point and rewrote our integration to work with the new API. 5 months later we still don't have access. We're a production app in use by a number of users to schedule content to most social media platforms, except for Linkedin because the approval process is stalled.

I created a support ticket, which told me no one

[2019-10-26 06:17] akiyoshi opened #2080 "Pull requests - Microsoft Learn"
There are many outdated contents because of Azure portal update.
There are also many typos and mistranslations.

I'd like to create pull requests to fix them.

[2019-10-27 03:16] xuhuoren opened #2081 "Can't find SaxAppWizard by page discription."
### Background

Creating C++ Applications Using SaxAppWizard

### Problem

I can't find the SaxAppWizard by the page. Why not add a exact hyperlink on it ?

### Artical Link

[Creating C++ Applications Using SaxAppWizard](https://docs.microsoft.com/en-us/previous-versions/windows/desktop/ms763814(v=vs.85))

[2019-10-27 03:19] xuhuoren opened #2082 "Referenced header file is empty"
### Artical Link

[Create the Headers and Source Files for SaxJumpStart](https://docs.microsoft.com/en-us/previous-versions/windows/desktop/ms764683(v=vs.85))

### Problem

The content of header file is empty.

[2019-10-27 12:32] MSDN-WhiteKnight opened #2083 "Don't fallback to transliteration when machine-translating"
In localized machine-translated docs, in some cases identifiers are translated incorrectly, because translation program transliterates them. If translation program can't translate something, it should leave it as English, not transliterate. For example:

In [C++ Docs](https://docs.microsoft.com/ru-ru/cpp/mfc/reference/cacceleratedeceleratetransition-class?view=vs-2019):

**CAccelerateDecelerateTra

[2019-10-27 14:09] Youssef1313 opened #2084 "Wrong code highlighting"
This blue-like color taking the rest of the line seems incorrect to me. `Then` and `True` keywords should take the normal blue color as `If`. and `tooOld = ` should probably be in white.

![image](https://user-images.githubusercontent.com/31348972/67635896-f98bfe00-f8d3-11e9-942a-e1ab830d3c12.png)

https://docs.microsoft.com/en-us/dotnet/visual-basic/programming-guide/language-features/data-types/

[2019-10-27 19:34] mairaw commented on #2083
The way that machine translation works, we need to lock the word from translation either by using backticks or the new no-loc feature.

I think you can file issues for the articles where you find the translaion issues and the loc team can work with us to block those terms. Would that work @JasonCard?

[2019-10-28 04:08] Locoxella commented on #956
Nothing official, But I was told at Microsoft sale meeting rganized by my compaby that those 2 properties simply don't work.

[2019-10-28 06:03] MSDN-WhiteKnight commented on #2083
I can, but in C++ docs (and probably some other docs sets), there're a lot of instances where identifiers in headings, links etc. are not backticked. Prevously the system was smart enough not to translate them. Now random parts of them are garbled, and manually reporting all of them would be too hard. Some software support would be needed to fix this. For .NET Docs though there are only few instan

[2019-10-28 08:33] M-A-JO opened #2085 "Wrong link to "using c# sdk""
**Describe the bug**
On https://docs.microsoft.com/en-us/azure/cognitive-services/luis/ there is a wrong link to "using c# sdk". It redirects you to "using python library" instead of c#.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/en-us/azure/cognitive-services/luis/'
2. Click on 'using c# sdk' under quickstart

**Expected behavior**
Redirection to using

[2019-10-28 14:34] SebastianSchuetze opened #2086 "Learning Module not working: Create serverless logic with Azure Functions"
**Describe the bug**
I was going through the module ["Create serverless logic with Azure Functions" on Microsoft Learn](https://docs.microsoft.com/en-us/learn/modules/create-serverless-logic-with-azure-functions/3-create-an-azure-functions-app-in-the-azure-portal?pivots=powershell). There I should create a Sandbox, which was done successfully

**To Reproduce**
Steps to reproduce the behaviour:
1.

[2019-10-28 14:46] Jamie63 commented on #2053
Has anything been looked at about this issue?  I have not heard anything.  I can send you an image of what I am having an issue with if you can tell me a way to do that since the last attachment did not send.

From: Maira Wenzel [mailto:notifications@github.com]
Sent: Friday, October 18, 2019 13:29
To: MicrosoftDocs/feedback <feedback@noreply.github.com>
Cc: Davidson, Jamie Christine (HII-Ingalls)

[2019-10-28 15:34] SebastianSchuetze commented on #2086
The same seems to apply for the following module:
https://docs.microsoft.com/en-us/learn/modules/execute-azure-function-with-triggers/4-create-timer-trigger?pivots=powershell

I can work around this by choosing the F1 or D1 app service plan, but I think the problem would appear on any module for Azure Functions that suggests using the consumption plan.

[2019-10-28 19:58] krishty opened #2088 "WM_PARENTNOTIFY formatting and content issues"
WM\\_PARENTNOTIFY https://docs.microsoft.com/en-us/previous-versions/windows/desktop/inputmsg/wm-parentnotify

1. Title (not heading, actual title) has a backslash in it
2. actual text **[!Important]** in 3rd paragraph
3. Contradiction: *Parameters -> LOWORD(wParam) -> WM_CREATE -> Meaning*: *“lParam is a handle to the child window”* contradicts *“Contains the point location of the pointer”*; it w

[2019-10-28 20:06] krishty opened #2089 "DlgDirListA function: Wrong paths; probably formatting issues"
DlgDirListA function: https://docs.microsoft.com/en-us/windows/win32/api/winuser/nf-winuser-dlgdirlista

The paths throughout the article are wrong.

E.g. first paragraph on `lpPathSpec` parameter: *a UNC name (for example, \\ machinename sharename)*. I’m pretty sure UNC paths are in the form (I hope markup does not eat this up) *\\\\machinename\\sharename* instead.

The third paragraph on `lpPath

[2019-10-28 20:15] krishty opened #2090 "Dead links in Dialog Box Programming Considerations"
**Dialog Box Programming Considerations:** https://docs.microsoft.com/en-us/windows/win32/dlgbox/dlgbox-programming-considerations

In the overview, all links to *WS_\** and *WM_\** are empty (just a plain https://docs.microsoft.com/en-us/windows/).

Same for almost all links to *WS_TABSTOP* except for the middle of the article.

All links under **Radio Buttons and Check Boxes** are dead.

Same fo

[2019-10-28 21:05] JasonCard commented on #2083
Hi @mairaw, @MSDN-WhiteKnight,
Our Machine Translation (MT) engine was recently changed, so I believe we should be able to get this issue fixed in the new MT engine as the previous MT engine used. I agree it would not be efficient to use code block or non-loc feature for every instances of identifiers such as class and element names.
Reassigning this issue to @DavidPrio for follow up.
+ cc @ishasa

[2019-10-29 01:28] 1725155 opened #2091 "Word macro behaves different on macOS"

[2019-10-29 02:15] zeratul1990 opened #2092 "some anchors are not working after translated"
**Describe the bug**
it happens in chinese version,i don't know if the same thing would happen in other language with special letters.

some docs are translated by machine,and the anchors are translated too.the translated anchors don't behave correctly.
if an anchor is translated into chinese ,it just shows the same amount of - instead of chinese letters.many words have the same length after trans

[2019-10-29 02:41] mairaw commented on #2092
Thanks for reporting this issue @zeratul1990. @JasonCard @TianqiZhang who could look into this? I can repro the broken behavior.

[2019-10-29 02:54] mairaw commented on #2078
Probably better to report that on the internal support channel on Teams. Do you know where that is at?

[2019-10-29 04:02] tfosmark commented on #2078
Yes, okay. I clicked the link in the build report and it brought me here.

Thanks for the response, Maira!

[2019-10-29 05:39] mairaw commented on #2092
#log-suggestion @mairaw

[2019-10-29 15:24] chrisadragna opened #2093 "Code Example is incorrect for DATEDIFF function in DAX"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**Link to article:**
https://docs.microsoft.com/en-us/dax/datediff-function-dax

**Problem:**
The example code is incorrect. A parenthesis is in the wrong place. There are 8 examples, and each one of them has the same mistake.

**Example

[2019-10-29 16:50] EWBPowerBI opened #2094 "Customized Security for Users in Premium Workspace"
Can you enable customized security settings for the workspace users?  I want people to be able to share reports, but not add or delete members.

[2019-10-29 21:53] CeciAc commented on #2083
Hello, @MSDN-WhiteKnight,

Thank you for your feedback.

We are actively reviewing your comments and will get back to you soon.

Kind regards,
Microsoft DOCS International Team

[2019-10-29 22:05] JasonCard commented on #2092
Hi @zeratul1990,
Thank you for reporting this issue.
I've opened IcM [Incident 155684465](https://icm.ad.msft.net/imp/v3/incidents/details/155684465/home) to follow up.
cc @mairaw @TianqiZhang @bodhigautam

[2019-10-29 22:42] aureole82 opened #2095 "No control works"
None of the controls of the site header reacts on touch:
* Menu doesn't open
* No bookmark, no sharing, no dark theme

![wp_ss_20191116_0002](https://user-images.githubusercontent.com/4819891/68992089-e9c66080-0866-11ea-8345-df69fa28618f.png)
![wp_ss_20191116_0003](https://user-images.githubusercontent.com/4819891/68992090-e9c66080-0866-11ea-8260-df51d0cba5b4.png)
![wp_ss_20191116_0004 1](https://

[2019-10-29 22:47] aureole82 commented on #2095
Sorry, I am unable to attach images because GitHub discriminates older smartphones.

[2019-10-29 22:48] aureole82 commented on #2095
Did you know, that I can't edit my own post?

[2019-10-29 22:50] aureole82 commented on #2095
So, here's some "text" you might consider instead:
Microsoft Edge 40.15254.590.0
Microsoft EdgeHTML 15.15254

[2019-10-29 23:18] clandrew opened #2096 "Need documentation for ID3D12Device5 RemoveDevice, CreateLifetimeTracker"
**Link to article:**
https://docs.microsoft.com/en-us/windows/win32/api/d3d12/nn-d3d12-id3d12device5

**Problem:**
There are these methods in the public SDK but there appeared to be a technical issue which caused the content to not appear in the docs

[2019-10-30 05:48] rocklan opened #2097 "Be great if I could "pin" API version"
Whenever I google for an article it takes me to the ASP.NET core article, which is great, except it always defaults to the latest version of the SDK (currenly 3.0). Every time I have to change it back to 2.1.

It would be great if we could choose a "default API version" somehow, so that upon opening the page it takes me to the version that I'm interested in.

Alternative - maybe the documentation

[2019-10-30 10:33] qichenxu opened #2098 "Add team specific Wikis to Azure DevOps"
**Is your feature request related to a problem? Please describe.**
When using Azure DevOps the Wikis are only available at the project level. Any member of the project could modify and read all the project wikis.

**Describe the solution you'd like**
It would be nice to have team level wikis, similar to boards and backlogs where only dev team members can have access to (not the whole project membe

[2019-10-30 14:19] BillWagner opened #2099 "Syntax coloring for VB code lacks newest features"
Moved from dotnet/docs#12245:

Original customer author @ericmutta

When reading the source examples on interpolated strings, syntax colouring isn't as detailed as the one we have in the IDE. The very first example looks like this in my browser:

![interpolated_string_bad](https://user-images.githubusercontent.com/20465797/57343823-8fc53f80-714d-11e9-840b-c6be75dc3175.png)

...but in the IDE it re

[2019-10-30 14:46] leyshon opened #2100 "Python SDK azure-mgmt-web returns 404"
**Describe the bug**
The documentation for the Python SDK azure-mgmt-web currently returns a 404 error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/python/api/azure-mgmt-web/index?view=azure-python

**Expected behavior**
The documentation should be there

[2019-10-30 18:21] CeciAc commented on #2083
Hello, @MSDN-WhiteKnight,

We implemented your feedback and published to the updated articles on the Docs site to the following pages https://docs.microsoft.com/ru-ru/cpp/mfc/reference/cacceleratedeceleratetransition-class?view=vs-2019 and https://docs.microsoft.com/ru-ru/dotnet/framework/data/transactions/using-system-transactions-in-aspnet#enable-distributedtransactionpermission-in-aspnet

Also,

[2019-10-30 19:12] JasonCard commented on #2083
Hi @MSDN-WhiteKnight,
We are currently checking if our new MT engine could support the recognition of these identifiers and leave them in English. Tracking in [Loc Issue 135603](https://ceapex.visualstudio.com/CEINTL/_workitems/edit/135603) and will update.
cc @mairaw @CeciAc @ishasahni1

[2019-10-30 19:16] adunndevster opened #2101 "[error message feedback][TEST] provide feedback for RunPsScriptFriendlyFailed"
Hello! I'm testing some new validations in the "https://open-publishing-portal.azurewebsites.net", and it seems to hang on this error. Is there something I can do to fix this? It has worked very recently, and our validations work locally. Any ideas?

**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

*

[2019-10-31 06:11] mairaw commented on #2097
Thanks for your feedback @rocklan. This behavior is currently by design.

Tagging @rloutlaw @mimisasouvanh @Rick-Anderson @scottaddie

[2019-10-31 06:12] mairaw commented on #2097
#log-suggestion

[2019-10-31 06:20] mairaw commented on #2063
Are you still seeing that issue @pwm812?

[2019-10-31 06:27] mairaw commented on #1967
I think we had the wrong redirect there before but now it's fixed. Thanks for letting us know.

[2019-10-31 06:27] #1967 closed

[2019-10-31 07:32] ChaoPiPi opened #2102 "System.media is not available in core3.0"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**Link to article:**
https://docs.microsoft.com/zh-cn/dotnet/api/system.media.soundplayer?view=netcore-3.0

**Problem:**
It is said on the official website that SoundPlayer can be run in core 3.0, but the actual situation is that system.

[2019-10-31 07:53] pwm812 commented on #2063
yes

[image1.PNG]

P.g

在 2019年10月31日，14:20，Maira Wenzel <notifications@github.com<mailto:notifications@github.com>> 写道：

Are you still seeing that issue @pwm812<https://github.com/pwm812>?

―
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/MicrosoftDocs/feedback/issues/2063?email_source=notifications&email_token=AH27UFGLFD3Z7ZX

[2019-10-31 08:45] 0xThiebaut commented on #1625
This vanished documentation is still an issue.

[2019-10-31 10:41] AndriyGorda opened #2103 "Let me decide localization myself"
Dear team,

Could you please let me stick with original en-us content?

I'm from Ukraine and your site pushes me to read Russian localized version which I don't want for multiple reasons.

The best option would be for you to massage geo-targeting the way Google search results do NOT filter out en-us content in favor of Russian.

Also let's change current "Read it in English" behavior to transfer m

[2019-10-31 10:58] Youssef1313 opened #2104 "HTML entities are not terminated by a semicolon"
HTML entities are not terminated by a semicolon.

Take this article for example:
https://docs.microsoft.com/en-us/dotnet/fsharp/language-reference/assertions

The markdown file has the following: description metadata

[code]

in the docs.microsoft.com site, when looking at the source code, you can see the following `og:description`:

![image](https://user-images.githubusercontent.com/31348972/6794

[2019-10-31 11:01] Errel opened #2105 "Misleading page title"
This page is titled Errors 1 - 999.
It actually lists -2 - 999
This wasted 10 minutes of my life. Thanks.

https://docs.microsoft.com/en-us/previous-versions/sql/sql-server-2008-r2/cc645611%28v%3dsql.105%29

[2019-10-31 12:35] stephenatwork opened #2106 "Search bar closes after each search"
**Describe the bug**
The search bar disappears after searching, making it needlessly tedious to add search refinements.

**To Reproduce**
Search for "hello world"
Note search terms are hidden and "Search" button needs to be clicked to edit them.

**Expected behavior**
Search bar behaves like every other search bar on the planet and does not auto close.

[2019-10-31 13:39] spottedmahn opened #2107 "Permalinks for Anchor Links"
**Is your feature request related to a problem? Please describe.**
Please see this [dev community issue](https://developercommunity.visualstudio.com/content/problem/796811/bad-link-for-how-do-i-deploy-project-artifacts-wit.html).  I suspect the link was valid at one point but some renamed the header in the doc page and that broke the anchor link.  This is not the first time I've come across this.

[2019-10-31 14:42] clairestreb opened #2108 "Microsoft Product Lifecycle catch-all phrase not helpful"
**Describe the bug**
On many of the pages recently at the top, you will see this note:  We're no longer updating this content regularly. Check the Microsoft Product Lifecycle for information about how this product, service, technology, or API is supported.
Unfortunately, the Microsoft Product Lifecycle page does not cover my page's topic.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to

[2019-10-31 15:36] KrupalJoshi opened #2109 ""CoSetProxyBlanket" and "IClientSecurity::SetBlanket" documentation confusing."
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

https://docs.microsoft.com/en-us/windows/win32/api/combaseapi/nf-combaseapi-cosetproxyblanket?redirectedfrom=MSDN

https://docs.microsoft.com/en-us/windows/win32/api/objidl/nf-objidl-iclientsecurity-setblanket

Both documents are confusi

[2019-10-31 17:46] drewbatgit commented on #1625
Sorry for the delay on this. I will take ownership of this issue and should have an update in a few days.

[2019-10-31 19:22] dneimke opened #2110 "Provide a more consistent user experience across /docs"
Inconsistencies across /docs make it confusing about how to navigate around and find information.  As new offers (/answers, /learn) become integrated into the portal, the problem of context and navigation becomes even more difficult due to inconsistent navigation schemes.

**Provide Consistent, Contextual Navigation**

The top navigation bar is different on nearly every page throughout the Docs we

[2019-10-31 19:39] dneimke commented on #2110
Another example I had recently where I had issues with context and navigation...

I found the [Administer containers in Azure](https://docs.microsoft.com/en-us/learn/paths/administer-containers-in-azure/#main) learning path and started with [the first module](https://docs.microsoft.com/en-us/learn/modules/intro-to-containers/index).

When I finished that module, I wanted to continue on to the next

[2019-11-01 04:01] onetalltree opened #2111 "unable to use "Submit Feedback" to submit feedback"
[https://docs.microsoft.com/en-us/learn/modules/execute-azure-function-with-triggers/4-create-timer-trigger?pivots=csharp](url)

![Annotation 2019-10-31 210032](https://user-images.githubusercontent.com/1093148/68001508-9080ef00-fc21-11e9-8cbf-1a372f6e3c78.png)

[2019-11-01 04:06] onetalltree commented on #2086
I'm having the same problem

[2019-11-01 14:57] Jamie63 commented on #2053
I am still having issues with the web page.  I am unable to see the code that is highlighted.  I can copy the code to a document and then see the changes but without the formatting.  I am getting more than frustrated at this.  Has anything been done to fix the issue?  I am sure I am not the only one that has this issue.  The strange thing is that sometimes I can see the text and sometimes I cannot

[2019-11-01 16:00] jquinn60137 opened #2112 "Missing bullet points in Outlook API doc"
In https://docs.microsoft.com/en-us/dotnet/api/microsoft.office.interop.outlook.application?redirectedfrom=MSDN&view=outlook-pia#methods you have:

**The Outlook Application object has several purposes:**

followed by three empty bullet points.  It appears that some text is missing here.

[2019-11-01 17:15] markjulmar commented on #1796
@Regenhardt -- Microsoft Learn has a completely different model for training which isn't based on long-form video like MVA was. Instead, it's much smaller, oriented around tasks and scenarios, and tries to be more interactive and hands-on.

A lot of the content from MVA which was current and had an owner moved to Channel9, or got re-created by teams. For example, the C# series was redone and publi

[2019-11-01 17:32] krisrajz opened #2113 "New Feature - Collections"
Kudos to MicroSoft for the constant endeavour on updating learning portal with new features such as Bookmarks, Collections which makes learning more organized and interesting!

[2019-11-01 18:02] mimisasouvanh commented on #2097
#log-suggestion

[2019-11-01 21:43] DuncanmaMSFT commented on #2110
@dneimke for the Learning Path example, when you finished the first module it should have given you a link to the 2nd... and on the module page we do have links to any learning paths that contain it ... but the primary navigation should be at the completion of the module. Great feedback overall, definitely a consistency problem to be worked on. Don't have an immediate solution, but there are a num

[2019-11-01 22:00] dneimke commented on #2110
Thanks @DuncanmaMSFT.  I wanted to make sure that I put my thoughts somewhere - but yeah, had assumed it would be getting worked on at some level.

Feel free to do whatever makes most sense with this issue

[2019-11-01 22:48] arnebef commented on #1278
I am still getting issues with this - I am not able to sign in to the learning site - I am always thrown back to the original page, but without being signed in. This is the case even when I change to a newly created account.

[2019-11-02 02:07] azure-user opened #2114 "Sandbox and other issues in Azure fundamentals training on Microsoft Learning"
I've started Azure fundamentals training on Microsoft Learning and run into a problem accessing the sandbox in the following module: https://docs.microsoft.com/en-us/learn/modules/welcome-to-azure/4-exercise-create-website. It told me that sandbox is temporarily not available, at next attempt it told me that I was not able to access the sandbox and could appeal. I clicked on appeal button and wait

[2019-11-02 03:34] sadadow commented on #2114
Hi there,

Thanks for letting us know about this. We are escalating to the appropriate team and hope to resolve your issue shortly. Thank you for your patience and understanding.

[2019-11-02 04:52] yunyunyunyun commented on #2114
hi @azure-user , sorry for your trouble. Can you give me your email address so I can escalate to our team to investigate your case again?

[2019-11-02 12:05] azure-user commented on #2114
Hi, @yunyunyunyun
it was in my initial post - diakova@mail.ru
Thank you!

[2019-11-02 17:52] rng9 commented on #1797
I am experiencing this issue. I clicked the appeal button 3 days ago, but am still unable to access the sandbox. Can someone assist me with this? I can send my account info in private.

[2019-11-02 18:03] rng9 opened #2115 ""Unauthorized Sandbox use detected. Your sandbox has been terminated.""
I encountered the error that unauthorized sandbox use was detected and that my sandbox was terminated. I submitted an appeal 3 days ago but I am still unable to access to Learn Sandbox.

Account: rob.goldfinger@outlook.com

[2019-11-02 18:05] rng9 commented on #2115
I can't open a support issue issue on docs.microsoft.com. When reporting feedback I get the error 'something went wrong. Please try again.'

[2019-11-02 19:08] Untitled-Document-1 commented on #2045
The last example I gave can be ignored. `-l` _is_ equivalent to `-l 0` afterall. `Du` appears to ignore any drive letter references, so `D:\` actually translated to `.` (the current directory), which happened to be `C:\Users\Jim`.

Note to self: always `chdir` to the directory I'm interested in reporting on, before running `du`.

[2019-11-02 21:04] rohitminni25 opened #2116 "PDF Downloads not routing to trusted URLs"
Customers are complaining IE/Edge report that opdhsblobprod04.blob.core.windows.net is not a trusted URL.

Expected URL for download:
https://docs.microsoft.com/en-us/services-hub/health/getting-started-sccm/Datasheet_OnDemandAssessment_Remote_CM.pdf

Actual Link being downloaded:
https://opdhsblobprod04.blob.core.windows.net/contents/3832eb6e467d45c4aed5538d8c2d8797/e1e9cecef5f58ab0cc04fde1ebaf88

[2019-11-02 21:51] StingyJack opened #2117 "The API docs is missing the attributes included in System.Text.Json."
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).
Why isnt this just attached to every page already?

**Link to article:**
https://docs.microsoft.com/en-us/dotnet/api/system.text.json?view=netcore-3.0

**Problem:**
Attribute documentation is missing. I'm trying to find the equivalent for

[2019-11-04 21:49] jffriend commented on #2110
@dneimke Great feedback. We are actively working on some of the issues you mention, in particular the top nav issue. Hoping we have something to make life easier for you and all the other Docs users soon (he says evasively).

[2019-11-04 21:50] yunyunyunyun commented on #2114
Hey @azure-user , my team has investigated your case and approved your appeal. You should be able to activate sandbox now. Please try again and let me know if that works.

[2019-11-04 23:37] stevewhims commented on #1577
Hi, @ESSONIA! Thanks for filing this issue; a contributor has now fixed the code in the topic via a pull-request.

I'll go ahead and close this issue now. You can always reopen if necessary. ~Steve

[2019-11-04 23:37] #1577 closed

[2019-11-05 00:09] stevewhims commented on #1482
Hi, @Wumpf. I've published a fix to the topic. I'll go ahead and close this issue now, but you can always reopen it if necessary. ~Steve

[2019-11-05 00:09] #1482 closed

[2019-11-05 03:18] azure-user commented on #2114
<img width="981" alt="Screen Shot 2019-11-04 at 10 12 56 PM" src="https://user-images.githubusercontent.com/57276624/68175859-9a239300-ff50-11e9-8f8d-f037b3e1e851.png">
Got the following message:
"Unauthorized sandbox use detected. Your sandbox access has been removed.
The sandbox may only be used to complete training on Microsoft Learn. Use for any other reason is prohibited, and may result in pe

[2019-11-05 06:02] srikanthnd commented on #1312
I get the same error now as well

![image](https://user-images.githubusercontent.com/9609176/68182621-2312ec80-ff9a-11e9-85af-46bc395d79c1.png)

Was there a fix for this issue?

[2019-11-05 10:30] firdacz commented on #1715
Why was the switch **removed**? There used to be a switch on the top whenever any article was machine-translated. Now, there is only the useless notice (which you have to cross-away), awful translation (Czech Language in my case) and no switch on top. Is there any way to change that bad decision to remove the switch? Whom to write, where to vote?

Is there any other way to make the switch back to

[2019-11-05 11:12] firdacz commented on #933
@bodhigautam A year later, the toggle was removed, the feature requested still not implemented and things got worse.

[2019-11-05 15:23] andrewhorwood commented on #1312
@srikanthnd this issue fixed itself over time. I left and returned in 2 weeks and it worked

[2019-11-05 16:30] SonjaSaltzman commented on #933
Thank you for your feedback - I just responded to your other feedback https://github.com/MicrosoftDocs/feedback/issues/1715 -- it is not our intention to remove the "read in English" toggle, so if you could tell us which documentation (product/URL) you found the problem in, we will make sure to look into it!

[2019-11-05 20:07] BradGroux opened #2118 "Ability to Curate, Organize and Share Docs Bookmarks"
It would be great to have a way to organize bookmarks into folders or collections, much like you can create learning module collections. This would allow users to curate documentation collections for sharing with peers and via Twitter, or even to share while utilizing bot frameworks like the Flow Bot with Adaptive Cards and Microsoft Teams.

In these collections, it may be worth supporting collect

[2019-11-05 20:10] BradGroux commented on #2118
[Dennis sent me here](https://twitter.com/DennisCode/status/1191806674832506881), so if this goes horribly wrong blame him please!

[2019-11-05 20:19] sadadow commented on #2111
Hi @onetalltree,

Thanks for reporting this. We are looking into this issue now and will get back to you shortly.

[2019-11-05 20:31] hickeys commented on #2057
I've checked in a fix for this issue. It should be published shortly. Thanks for catching this.

[2019-11-05 21:14] krishty commented on #2057
Looking great; thank you!

[2019-11-05 21:14] #2057 closed

[2019-11-05 23:55] jimholtz commented on #1623
@popujol
I just discovered I hadn't answered this. Please see the updated topic and linked Licensing Guide:
https://docs.microsoft.com/en-us/power-platform/admin/powerapps-flow-licensing-faq

[2019-11-06 06:57] firdacz commented on #1715
@SonjaSaltzman E.g. https://docs.microsoft.com/cs-cz/dotnet/api/system.threading.thread.volatileread?view=netframework-4.8

![obrazek](https://user-images.githubusercontent.com/48137503/68274992-cc291800-006a-11ea-8add-abc6cac814cd.png)

But I can confirm it is there for the Azure:
![obrazek](https://user-images.githubusercontent.com/48137503/68275034-e3680580-006a-11ea-955d-d5c8c35af02c.png)

[2019-11-06 07:03] GreatFireWall commented on #1715
I add that even putting the switch on the top does not bring the best experience.

Suppose you are reading a translated page. Most of the previous translation quality looks good, but when you read the middle of the page, you see a bad translation, you can't understand it, you need to switch back to English, but you have to Drag to the top of the page, click the switch, and return to the previous p

[2019-11-06 09:27] leyshon commented on #2100
I reported this a week ago. The documentation itself has been missing for over a week. It seems somewhat shocking that you can have broken links and missing files and no one even bothers to acknowledge it for a week. Is anyone looking into this?

[2019-11-06 10:09] bc-109 opened #2119 "Where's the screen where partners can view and create support tickets ?"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**Link to article:**
Tell us where exactly a problem occurs.

**Problem:**
What's wrong with the article?

[2019-11-06 10:10] bc-109 commented on #2119
I submitted this comment from the following page :
https://docs.microsoft.com/fr-fr/partner-center/

[2019-11-06 10:11] bc-109 commented on #2119
I am on a documentation site. I do not want documentation. I want the site real with features. What a mess !

[2019-11-06 10:15] bc-109 commented on #2119
I am on this site :
https://partner.microsoft.com/en-us/support
I click on "submit an incident"
Then, I am forwarded to the documentation site :
https://docs.microsoft.com/fr-fr/partner-center/
I do not want to read a doc. I want to submit an incident about partnership. But not an incident about the documentation, because I never wanted to b redirected to the documentation site...

[2019-11-06 10:25] cabeln opened #2120 "Link Broken on https://docs.microsoft.com/en-us/dynamics365-release-plan/2019wave2/dynamics365-supply-chain-management/inventory-value-report-storage"
**Describe the bug**
On Page:
https://docs.microsoft.com/en-us/dynamics365-release-plan/2019wave2/dynamics365-supply-chain-management/inventory-value-report-storage

The link at the bottom is boken "Inventory value report (docs)"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
https://docs.microsoft.com/en-us/dynamics365-release-plan/2019wave2/dynamics365-supply-chain-management/

[2019-11-06 10:47] mizukame opened #2121 "Xamarin Profiler 1.6.13 and 1.6.12 Windows download links not working."
**Links :**
https://docs.microsoft.com/en-us/xamarin/tools/profiler/release-notes/1.6/1.6.13
https://docs.microsoft.com/en-us/xamarin/tools/profiler/release-notes/1.6/1.6.12

**Problem:**
When clicking on the link to download the Xamarin Profiler I receive the following message.

Also on a side note:

The following link points the user to a very old version of the Xamarin profiler:

https://docs.m

[2019-11-06 11:18] microsoftsearch opened #2122 "Email and Office 365 connected groups for Yammer"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**Link to article:**
Tell us where exactly a problem occurs.
https://docs.microsoft.com/en-us/yammer/manage-yammer-groups/yammer-and-office-365-groups?redirectSourcePath=%252farticle%252fd8c239dc-a48b-47ab-b85e-6b4b8191a869.aspx&source=d

[2019-11-06 11:25] CeciAc commented on #2048
Hi team,
we fixed the issue in de-DE and other locales where it repro but the fix is not live yet
we just re processed the file and are waiting for staging

[2019-11-06 16:21] amirgra commented on #523
Any update on this?

[2019-11-06 19:30] SonjaSaltzman commented on #1715
Thank you for the fast response with sample URL @firdacz and good design idea from @GreatFireWall. Will try to address both:
- the URL with missing toggle is for reference content (api documentation); the toggle switch does not work properly on this content type, and thus was disabled by our engineering team. @bodhigautam is working on future features to address this problem, but it may be a longe

[2019-11-06 19:45] bodhigautam commented on #1715
Thank you so much @firdacz @GreatFireWall for your ideas.
We have taken your suggestion for the floating toggle. We will surely discuss it with the Design team. The toggle feature is targeted for March 2020 across docs. We will keep you posted with any changes/updates to the timeline. cc @SonjaSaltzman

[2019-11-06 19:48] peterychang opened #2123 "404 errors for python Reference documents"
**Describe the bug**
Multiple pages results in 404 errors in the Python Reference documents. In particular many of the documents pertaining to azure.keyvault

These pages were accessible on Nov 5, and were no longer available as of Nov 6.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/python/api/?view=azure-python
2. Click on `azure-keyvault`

Furtherm

[2019-11-06 20:17] burkbry opened #2124 "The start time for the Feature exploration (video) link is incorrect."
The start time for the Feature exploration (video) link is incorrect.

When you click the link, the video starts at 469. It should start at 545.

https://docs.microsoft.com/en-us/dynamics365-release-plan/2019wave2/dynamics365-business-central/enhancements-excel-integration

[2019-11-06 22:42] sadadow commented on #2115
Hi Rob,

Sorry to hear that your sandbox usage was terminated incorrectly due to unauthorized usage. Thanks for submitting your appeal. We will have our team look into your case and see if we can approve your appeal shortly. We apologize for the inconvenience.

[2019-11-06 22:51] sadadow commented on #2113
Thanks @krisrajz . We appreciate your awesome feedback and will pass the kudos on to the rest of our team! Thanks for helping us to make Learn better =)

[2019-11-06 22:52] sadadow commented on #2111
Hi @onetalltree This has been fixed now. We appreciate you helping to submit feedback and making the Learn platform better!

[2019-11-06 22:58] sadadow commented on #2110
@dneimke Thanks for this great feedback.

This is something that we have been hearing from multiple users and as Duncan and Joe mentioned, we are looking at ways to prioritize and resolve it.

[2019-11-06 23:02] sadadow commented on #2103
@AndriyGorda Thanks for your feedback. To better understand your issue, are you currently changing the language/local via: https://docs.microsoft.com/en-us/locale/?target=https://docs.microsoft.com/en-us/ ?

[2019-11-06 23:06] sadadow commented on #2086
Thanks for providing this feedback. We have escalated to the appropriate teams and should resolve this issue shortly.

[2019-11-06 23:07] sadadow commented on #2077
Hi there,

What page are you referring to? We'd be happy to look into it.

[2019-11-06 23:09] yunyunyunyun commented on #2086
@adrianstevens or @jboeshart , can you help check the content instruction?

[2019-11-06 23:10] sadadow commented on #2080
Hi @akiyoshi

Thanks for providing this feedback and we appreciate your willingness to help improve the Learn platform.

Would you mind providing details as to which contents are outdated and contain typos/mistranslation issues?

The best place to let us know about these issues is via our "Report Feedback" form:
https://docs.microsoft.com/en-us/learn/support/troubleshooting#report-feedback

While

[2019-11-06 23:12] yunyunyunyun commented on #2114
Looks like you hit some bug. We tried to unblock you again today, can you try again? Sorry for the trouble.

[2019-11-06 23:13] sadadow commented on #2059
Hi @bpelikan,

Thanks for providing this feedback. This is something that we have discussed implementing and I agree would improve the Learn experience. We will escalate your request to the relevant team for prioritization.

Thansk for helping make Microsoft Learn better!

[2019-11-06 23:55] yunyunyunyun commented on #2115
Hi Rob,
we have approved your appeal. Please try again let us know if there's still any issue.

[2019-11-07 00:20] azure-user commented on #2114
Hi, @yunyunyunyun
thank you for looking into my case. It works like a charm now. I confirm that a sandbox has been created and passed to the next step.
Hopefully it will be automatically deactivated.

[2019-11-07 03:23] onetalltree commented on #2086
this problem seems to be pervasive across multiple exercises and modules

[2019-11-07 04:31] wneuman opened #2125 "P"
**Describe the bug**
Cuando trato de registrar mis datos en el perfil de https://examregistration.microsoft.com , me despliega un error "This Sign in is  not supported"- ¿Cómo puedo registrarme para hacer el examen AZ-900?

![image](https://user-images.githubusercontent.com/32805562/68360268-5d40d300-00ed-11ea-9095-e8ebf200e975.png)

[2019-11-07 07:32] cheong00 opened #2126 "Code sample for System.ComponentModel.DesignerAttribute is wrong"
**Describe the bug**
[Designer("System.Windows.Forms.Design.DocumentDesigner, System.Windows.Forms.Design.DLL",
    typeof(IRootDesigner)),
    DesignerCategory("Form")]
public class MyForm : ContainerControl {
    // Insert code here.
}

The designer type should come from System.Design instead, or use Strong Type to reference it.

See: https://social.msdn.microsoft.com/Forums/vstudio/en-US/37d081

[2019-11-07 08:12] AndriyGorda commented on #2103
Hello Samir,

No, I don't and don't want to bother doing it every time I go to Microsoft site from Google search results.

That's exactly my request - I shall be given the ability to stick with English starting from Google search output for docs.microsoft.com and throughout my Microsoft sites experience.

What system gives me now is:
- Only Russian localized docs.microsoft.com pages in Google sear

[2019-11-07 10:25] jyotivarade opened #2127 "Not able to test Power BI API"
**Describe the bug**
 I am trying to test Power BI API on this site  https://docs.microsoft.com/en-us/rest/api/power-bi/
 but not able to test after login also and without login also

**Screenshots**
Currently getting this issue.
https://monosnap.com/file/IekxHjj2h5IEbcDvSlAQgnDLsbj1Yl

**Desktop (please complete the following information):**
  Chrome

[2019-11-07 12:14] jmairboeck opened #2128 "NMHDR Structure: in the syntax section, the type of idFrom member is wrong"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**Link to article:**
https://docs.microsoft.com/en-us/windows/win32/api/richedit/ns-richedit-nmhdr

**Problem:**
In the Syntax section, the type of the second member `idFrom` is displayed as `UINT`. The correct type would be `UINT_PTR`.

[2019-11-07 14:17] jboeshart commented on #2086
Thanks for the heads up on this. Currently investigating...

[2019-11-07 14:26] rng9 commented on #2115
It works! Thank you very much!

[2019-11-07 14:53] spottedmahn opened #2129 "Capture Version Number on GitHub Issues"
**Is your feature request related to a problem? Please describe.**
When reporting doc issues on pages via GitHub issues the product version number, i.e. ASP.NET Core v2.1, should be captured in the metadata.

![image](https://user-images.githubusercontent.com/14079228/68399455-6a3ce100-0144-11ea-8a09-46876ebdbceb.png)

**Describe the solution you'd like**
![image](https://user-images.githubusercon

[2019-11-07 14:55] spottedmahn commented on #2129
Hi @scottaddie - thoughts? 💭

[2019-11-07 16:10] #2115 closed

[2019-11-07 16:31] michaelInSeattle opened #2130 "external company issue accessing training in dynamically created areas"
As a part of doing fundamentals training for Azure, there are steps to create a WordPress site.  When attempting this from inside my company network there site was blocked and could not be accessed to validate the successful creation of the WordPress website and its configuration.  Besides the general feedback, is there a way to indicate specific challenges in completing the assigned work due to e

[2019-11-07 16:33] michaelInSeattle opened #2131 "Multiple learning profiles"
**Is your feature request related to a problem? Please describe.**
As a part of doing Microsoft training, I log in from at home and at work.  I do have these various profiles joined under one learning profile now, however, I was unaware multiple profiles would be created.

**Describe the solution you'd like**
Is there some general trouble shooting tree information I can share with others in my gro

[2019-11-07 16:37] michaelInSeattle opened #2132 "Sandbox cleanup"
**Describe the bug**
As a part of my Microsoft training I see that up to 10 sandboxes per day can be created and they are suppose to auto-delete.  It appears my sandboxes are living across days.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any training exercise that requires a sandbox
2. Click on activate sandbox
3. Do training exercise, and move on to new exercise. Wait increments

[2019-11-07 17:59] sadadow commented on #2132
Hi @michaelInSeattle,

Thanks for providing this feedback. We will have our team look into this and address the issue shortly.

cc/
@yunyunyunyun

[2019-11-07 18:08] sadadow commented on #2130
Hi @michaelInSeattle,

Thank you for letting us know about this issue. We have gone ahead and notified the appropriate teams and we will take a look at ways to mitigate this issue for you and other users, shortly.

The best way to submit feedback, bug reports, feature requests, etc. to Microsoft Learn is through the "Report Feedback" form located here: https://docs.microsoft.com/en-us/learn/suppor

[2019-11-07 18:51] #2091 closed

[2019-11-07 19:10] mimisasouvanh commented on #1835
#log-suggestion @mimisasouvanh

[2019-11-07 20:05] jboeshart commented on #2086
@SebastianSchuetze, @onetalltree if you have a chance can you give it another try? This should be fixed, you should now be allowed to create consumption tier Functions in our sandbox environment. Apologies for the issues here, but we appreciate you bringing this to our attention, so thank you!

[2019-11-07 20:11] onetalltree commented on #2086
It seems to be working ... I have done several exercises today and they all work now. Thanks!

[2019-11-07 20:15] jboeshart commented on #2086
Great, will close this for now but let us know if this pops up again (it shouldn't). Thanks for visiting Microsoft Learn!

[2019-11-07 20:16] yunyunyunyun commented on #2086
@adrianstevens

[2019-11-07 20:16] #2086 closed

[2019-11-07 22:46] AtomicCons opened #2133 "Appsource Spelling Issue"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**Link to article:**
https://appsource.microsoft.com/en-us/marketplace/apps?page=1&src=office&industry=government

**Problem:**
More apps for government is spelled wrong at the bottom of the page.
![image](https://user-images.githubuserc

[2019-11-08 02:57] Cocoa2014 opened #2134 "404 on Azure Availability checklist"
I meet 404 on https://docs.microsoft.com/en-us/azure/architecture/reliability
Could you confirm if it's moved to another location?

[2019-11-08 03:25] Hugh-L-Grant opened #2135 "Downloading from .NET API Browser"
**Is your feature request related to a problem? Please describe.**
There are no instructions on how to download packages displayed on the .NET API Browser. I was able to download Microsoft.Data.SqlClient from NuGet, but was unable to find Microsoft.Data.SqlTypes there.

**Describe the solution you'd like**
Notes to if and from where all packages mentioned on the .NET API Browser can be downloaded.

[2019-11-08 07:09] yukon-cornelius opened #2136 "Link to KB article on Sysinternals JUNCTION page doesn't exist"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**Link to article:**
https://docs.microsoft.com/en-us/sysinternals/downloads/junction

**Problem:**
The link for "Please read this [Microsoft KB article](http://support.microsoft.com/?kbid=205524) for tips on using junctions." currently

[2019-11-08 08:51] lafe commented on #1498
@shirgoldbird Any progress on this issue? This is an extremely annoying issue and there has been no response from Microsoft so far...

[2019-11-08 12:57] Andrzej-W commented on #1498
They have invested a lot of time and money in machine learning and bots and they think automatic answer like this:

is enough. Hopefully they work on the next generation artificial intelligence which will be used to automatically fix all issues reported by customers.

[2019-11-08 15:07] akiyoshi commented on #2080
Hi @sadadow

Thank you for sharing the request form.
I'll create some issues via the form.

For your imformation, the issues are below.

The most common typos/mistranslation is mistranslation of "markup language".
For example, "– _compute power and storage_" is translated to "(コンピューティング能力_と_ストレージ)" in the module below.
https://docs.microsoft.com/ja-jp/learn/modules/principles-cloud-computing/2-wha

[2019-11-08 16:00] Dr-Irv commented on #2123
Same thing for https://docs.microsoft.com/en-us/python/api/azure-mgmt-servermanager/index?view=azure-python

I.e., click on `azure-mgmt-servermanager` and you get an error message

[2019-11-08 17:50] georgewallace commented on #993
#reassign @JYOTHIRMAISURI can you take a look at this feedback for the System center content?

[2019-11-08 17:51] georgewallace commented on #816
@JYOTHIRMAISURI can you take a look at this?

[2019-11-08 18:02] Yannix opened #2137 "Issue with one example on DAX"
**Link to article:**
https://docs.microsoft.com/en-us/dax/dax-overview#variables

**Problem:**
In the example the variable name change from TotalQty to in the same expression. It should have the same name.

[2019-11-08 20:52] asherber opened #2138 "Broken formatting in code examples"
**Describe the bug**
I started noticing this a week or two ago. The code samples all appear to be leaking control or formatting characters, making them very hard to read

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a page like https://docs.microsoft.com/en-us/dotnet/api/system.net.mail.smtpclient?view=netframework-4.8
2. Look at the code sample on the page
3. Note the carets, the sy

[2019-11-09 00:56] Uzivatel919 opened #2139 "Whole .NET API documentation favor C++ declarations & chaos in samples"
**Link to article:**
 For instance:
  • [Decimal Struct](https://docs.microsoft.com/en-us/dotnet/api/system.decimal?view=netframework-4.8)
  • [```List<T>.BinarySearch(T)```](https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.list-1.binarysearch?view=netframework-4.8#System_Collections_Generic_List_1_BinarySearch__0_)
  • [```Parellel.ForEach<TSource>(IEnumerable<TSource>, Acti

[2019-11-09 14:55] asherber commented on #2138
Sorry, nvm, user error. For some reason, some of the docs pages I've visited recently have by default pulled up C++ examples rather than the expected C# examples, and I didn't notice this in the header of the sample.

[2019-11-09 14:55] #2138 closed

[2019-11-10 06:20] ShawnTeng opened #2140 "The SFB Anycast IP address cannot access anymore, please update this KB"
**Link to article:**https://docs.microsoft.com/en-us/skypeforbusiness/optimizing-your-network/media-quality-and-network-connectivity-performance#measuring-network-performance

**Problem:**
The Anycast IP cannot be accessed any more.

[2019-11-10 10:55] #2139 closed

[2019-11-10 10:57] Uzivatel919 commented on #2139
There is language switch that I never noticed. For some reason C++ is default. I.e. not a bug.

[2019-11-10 12:49] #670 closed

[2019-11-10 17:19] AmulyaX opened #2141 "Unable to Sign In to Microsoft Learm"
**Description**
I am locked out of my Microsoft Learn account, I currently use my Microsoft Student Partner account and I have previously logged in successfully on my machine and completed some modules too but from the past month I have been completely locked out, I tap Sign In, it asks me for my account and it goes back to Microsoft Learn Homepage and I still see the Sign In button up there.

**T

[2019-11-10 17:50] metabind opened #2142 "Improve C# method signature formatting in .NET API"
I find it difficult to read C# method signatures in method listings.  Currently they're placed in a very narrow table column that causes the text to be broken across multiple lines.  This occurs even on wide displays in all browsers (Edge, Chrome, Firefox).

**Actual listing:**
[code]

I would prefer they were in their own row as a single unbroken line.  Also, the modifiers, name, type declaration

[2019-11-10 20:35] SebastianSchuetze opened #2143 "Suggestion: Allow to share success on completion of a learning path on Microsoft Learn"
would be nice to have this

I can share a module, but I haven't been able to share my success on a whole path.

twitter.com/RazorSPoint/status/1193613521076047874?s=19

I was redirected by Den Delimarsky

[2019-11-11 17:14] rwarzycha opened #2144 "Offline version of .NET API browser"
**Is your feature request related to a problem? Please describe.**
Lack of proper offline access to .NET Core API Reference is really frustrating.

**Describe the solution you'd like**
One of the best offline experience I had was with https://devdocs.io/, exposing docs to this common dev reference would be the best option.

**Describe alternatives you've considered**
* Even offline/online align to

[2019-11-11 17:28] adipuscasu opened #2145 "Typo"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).
Quote :

**Link to article:**
https://docs.microsoft.com/en-us/dotnet/framework/data/adonet/data-tracing

Tell us where exactly a problem occurs.

**Problem:**
What's wrong with the article?

The words **easier to** are written twice.

[2019-11-11 22:30] Tanya-Solyanik opened #2146 "Clarify what NumricUpDown.DecimalPlaces property does"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**Link to article:**
https://docs.microsoft.com/en-us/dotnet/api/system.windows.forms.numericupdown.decimalplaces?view=netframework-4.8#System_Windows_Forms_NumericUpDown_DecimalPlaces

**Problem:**
We received feedback that it's not cle

[2019-11-11 22:34] abouroubi opened #2147 "404 on @azure/cosmos nodejs API"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/en-us/javascript/api/?term=cosmos'
2. Click on '@azure/cosmos.CosmosClient'
3. You get the 404 error page

**Expected behavior**
Show the documentation of th API

**Desktop (please complete the following information):**
N/A

**Additional c

[2019-11-11 23:24] #2114 closed

[2019-11-12 13:57] rorsino commented on #1959
Has this been resolved ad I have the same question!

[2019-11-12 14:10] salmanmkc commented on #2145
Fixed, thanks for reporting the issue

[2019-11-12 18:11] thehorseisbrown opened #2148 "Rasterization: Enclosing rectangle does not account for hinting"
**Describe the bug**
Blackbox values in [GLYPHMETRICS ](https://docs.microsoft.com/en-us/windows/win32/api/wingdi/ns-wingdi-glyphmetrics) don't seem to account for hinting.
The appended image should be illustrative.
I also posted this at [stackoverflow](https://stackoverflow.com/questions/58823986/windows-font-rasterization-blackbox-bug).

**To Reproduce**
Steps to reproduce the behavior:
1. Look

[2019-11-12 18:26] Jamie63 commented on #2053
I assume since I have not heard anything that there is no solution to this problem?

From: Maira Wenzel [mailto:notifications@github.com]
Sent: Friday, October 18, 2019 13:29
To: MicrosoftDocs/feedback <feedback@noreply.github.com>
Cc: Davidson, Jamie Christine (HII-Ingalls) <jamie.davidson@hii-ingalls.com>; Mention <mention@noreply.github.com>
Subject: EXT :Re: [MicrosoftDocs/feedback] Highlighte

[2019-11-12 23:15] DSPatrick opened #2149 "Remove specific prevalent malware with Windows Malicious Software Removal Tool"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**Link to article:**
Tell us where exactly a problem occurs.
https://support.microsoft.com/en-us/help/890830/remove-specific-prevalent-malware-with-windows-malicious-software-remo

**Problem:**
What's wrong with the article?
both the x86

[2019-11-13 08:59] ShadowZzj opened #2150 "Wrong content in WMI Win32_Printer"
**Link to article:**
https://docs.microsoft.com/en-us/windows/win32/cimwin32prov/win32-printer

**Problem:**
PaperSizesSupported type is not uint16 array, It is uint32 array. It spends me a lot of time to find the bug.

[2019-11-13 10:03] harmenverburg commented on #1913
I'd like to contribute as well to the documentation, but I cannot create a PR for this.

[2019-11-13 10:07] harmenverburg opened #2151 "Power Query - AnalysisServices.Database Culture"
**Link to article:**
https://docs.microsoft.com/en-us/powerquery-m/analysisservices-database

**Problem:**
The `Culture ` `option` has to be in string format, like "nl-nl", instead of the 4-digit Culture setting in Analysis Services. Providing an example in the documentation would help in this case.

[2019-11-13 11:01] Lee-Duntides opened #2152 "Planned release for CREDIT MANAGEMENT functionality"
Hi, I've been tracking the planned release for new Credit Management functionality, which was supposed to be being released in Jan 2020..... BUT checking today I see the feature has disappeared from the list of planned released Oct '19 - Mar '20.

Please advise on what is going on with this planned new functionality.

Regards,

Steve

[2019-11-13 11:02] Lee-Duntides commented on #2152
PS: the site I've been monitoring is here: https://docs.microsoft.com/en-gb/dynamics365-release-plan/2019wave2/dynamics365-finance-operations/credit-management

[2019-11-13 15:43] vanillajonathan opened #2153 "Azure.ServiceBus documentation is missing"
**Describe the bug**
There is no documentation for the Azure ServiceBus. The API is listed, but the classes, methods and properties are not documented.

Notice though that the docs on azure.cn (China) contains full documentation.
https://docs.azure.cn/en-us/dotnet/api/microsoft.azure.servicebus

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/dotnet/api/

[2019-11-13 16:18] jacknickles opened #2154 "Hyperlink to invalid URL on IDvdControl2 documentation"
Page https://docs.microsoft.com/en-us/windows/win32/api/strmif/nf-strmif-idvdcontrol2-selectvideomodepreference refers to the DVD_PREFERRED_DISPLAY_MODE at https://docs.microsoft.com/previous-versions/windows/desktop/api/strmif/ne-strmif-dvd_preferred_display_mode
This results in a 404 error and should be changed to https://docs.microsoft.com/en-us/windows/win32/api/strmif/ne-strmif-dvd_preferred_

[2019-11-13 21:46] yunyunyunyun commented on #2130
@adrianstevens , this is the same issue I @ you in DevOps workitems.

[2019-11-13 22:23] german-one opened #2155 "Information about BatteryFlag member of SYSTEM_POWER_STATUS incomplete"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).
No comment section available.

**Link to article:**
[https://docs.microsoft.com/en-us/windows/win32/api/winbase/ns-winbase-system_power_status](https://docs.microsoft.com/en-us/windows/win32/api/winbase/ns-winbase-system_power_status)

**

[2019-11-14 01:41] mairaw commented on #2153
@CamSoper can you follow up on this?

[2019-11-14 01:43] mairaw commented on #2145
Thank you for reporting the issue @adipuscasu and for fixing that @salmanmkc!

[2019-11-14 01:43] #2145 closed

[2019-11-14 01:44] mairaw commented on #2144
Thanks for your feedback @rwarzycha. Do you develop using Visual Studio? If so, there are offline books available for Visual Studio for a couple of docsets including .NET Core API reference.

[2019-11-14 01:47] mairaw commented on #2117
Where are you seeing this attribute @StingyJack?

[2019-11-14 01:59] CamSoper commented on #2153
@vanillajonathan Can you please verify what you're seeing? Is it a 404? From my mid-US location, it seems to be working. I'm pulling up the complete reference for that namespace.

[2019-11-14 02:07] mairaw commented on #2104
@DuncanmaMSFT who can take a look at this feedback? It's about how some characters are parsed and encoded in the resulting HTML page.

[2019-11-14 02:11] mairaw commented on #2102
Thanks for your feedback @ChaoPiPi. I believe that for this class to work in .NET Core 3.0, you need to reference the following NuGet package:
https://www.nuget.org/packages/System.Windows.Extensions

Have you tried that?

[2019-11-14 02:13] mairaw commented on #2102
Also @joelmartinez could it be that mdoc is loading this API as part of .NET Core 3.0, when the DLL is only there as a dependency?

[2019-11-14 02:13] mairaw commented on #2099
@adkinn who could take a look at syntax coloring for docs feedback?

[2019-11-14 04:25] Youssef1313 commented on #2104
Also related to the HTML page:

- There are 2 `div`s having the same id `page-actions` and 2 `textarea`s having the same id `rating-feedback-mobile`.

- There is the following line:

[code]

    and there is no elements with id "rating-feedback". I'm just guessing that it might be one of the duplicate IDs should have been "rating-feedback" ?

[2019-11-14 04:48] StingyJack commented on #2117
JsonPropertyName ?

It's one of the attributes in the System.Text.Json assembly. There are a few others that are missing from the reference docs.

[2019-11-14 04:59] adkinn commented on #2099
@mairaw I think you should add this as a customer suggestion and add an fyi for @rloutlaw

[2019-11-14 05:03] 1009058470 opened #2156 "can some article hava some example?"
some of .net core api's description is not clear. for example ,DbContextOptionsBuilder<TContext>.UseMemoryCache(IMemoryCache) Method just show it parameters ,but i don not know how to make it parameters.
the url is https://docs.microsoft.com/zh-cn/dotnet/api/microsoft.entityframeworkcore.dbcontextoptionsbuilder-1.usememorycache?view=efcore-3.0#Microsoft_EntityFrameworkCore_DbContextOptionsBuilder_

[2019-11-14 05:22] Sirlupinwatson1 opened #2157 "Confusion using different account on Question and Answer"
**Is your feature request related to a problem? Please describe.**

The feature that would help i think, for me at least, is when using different account, 1 : from on.microft. and 2 ; a yahoo.ca personnal.  I never know witch one to use to get back on the same rank and points.

**Describe the solution you'd like**
Be able to fusion or merge main email adress. As a result of less switchint accounts

[2019-11-14 06:40] shawnkhall opened #2158 "Release information page has wrong build number for 1903"
**Link to article:**
https://docs.microsoft.com/en-us/windows/release-information/

**Problem:**
The OS Build number for both 1903 and 1909 lists 18362.476. **1909** is **18362.476** but **1903** should be **18362.145**.

[2019-11-14 09:34] vanillajonathan commented on #2153
No, it is not a 404, it is a 200 OK.

Here is a screenshot.
![image](https://user-images.githubusercontent.com/10222521/68844506-358fd300-06ca-11ea-9067-b3134c098915.png)

Compare with the screenshot of the Chinese website.
![image](https://user-images.githubusercontent.com/10222521/68844612-5d7f3680-06ca-11ea-90de-986498040f13.png)

[2019-11-14 13:10] amelvill commented on #2146
Posted this here by request from Zheng Li on [Connect](https://developercommunity.visualstudio.com/content/problem/807674/numericupdown-does-not-round-to-enforce-decimalpla.html?childToView=819515#comment-819515)

- What do you think about making [Constrain](https://referencesource.microsoft.com/#System.Windows.Forms/winforms/Managed/System/WinForms/NumericUpDown.cs,e4853fb24dce9211) `protected vi

[2019-11-14 13:14] rwarzycha commented on #2144
Hi @mairaw, most of the time I'm using Visual Studio Code. Where can I find these docsets from Visual Studio 2019? I was able for all namespaces of should I download them separately.

[2019-11-14 14:25] julians1966 opened #2159 "SME Profile Engagement Link broken"
**Link to article:**
https://docs.microsoft.com/en-us/learn/certifications/posts/help-us-create-exams-and-learning-content

**Problem:**
Link "Joining the SME Profile engagement on Microsoft Collaborate_v2.pdf" is https://query.prod.cms.rt.microsoft.com/cms/api/am/binary/RE3N3DO and this returns {"Code":"DocumentNotFound","Message":"StorageDocumentNotFoundException : Could not find document with i

[2019-11-14 14:56] srikanthnd commented on #1312
For some reason the sandbox gets corrupted. It started working after 3 days. Not sure if I had to leave it idle to get itself back working again.  But sometimes it can be annoying while following the learning path.

[2019-11-14 15:05] joelmartinez commented on #2102
@mairaw that certainly seems like a possibility ... I just looked at all the sources, and indeed everything _looks_ like it should be configured correctly. The type does indeed exist only in the dependencies folder for netcore-3.0. This probably warrants a devops item submission.

[2019-11-14 17:54] mairaw commented on #2102
#log-suggestion

[2019-11-14 19:06] clairestreb opened #2160 "The link to APIs is missing on the main docs.microsoft.com web page"
**Describe the bug**
The paragraph at the top of the docs.microsoft.com web page mentions API, but it does not have a hyperlink anywhere on the page.  I had to use an internet search engine to find https://docs.microsoft.com/en-us/rest/api/

**To Reproduce**
Steps to reproduce the behavior:
1. Go to docs.microsoft.com
2. Search the page for API
3. It only appears once without a hyperlink

**Expect

[2019-11-14 19:17] mairaw commented on #2102
#log-suggestion

[2019-11-14 19:29] docs-product commented on #2102
#log-suggestion

[2019-11-14 19:33] docs-product commented on #2102
#log-suggestion

[2019-11-14 19:34] docs-product commented on #2102
#log-suggestion

[2019-11-14 19:40] docs-product commented on #2102
#log-suggestion @mimisasouvanh

[2019-11-14 19:41] docs-product commented on #2102
#log-suggestion @mimisasouvanh

[2019-11-14 19:42] docs-product commented on #2102
#log-suggestion @mimisasouvanh

[2019-11-14 19:44] docs-product commented on #2102
#log-suggestion

[2019-11-14 19:47] docs-product commented on #2102
#log-suggestion @mimisasouvanh

[2019-11-14 19:49] docs-product commented on #2102
#log-suggestion

[2019-11-14 19:53] docs-product commented on #2102
#log-suggestion

[2019-11-14 19:54] docs-product commented on #2102
#log-suggestion

[2019-11-14 19:54] docs-product commented on #2102
#log-suggestion

[2019-11-14 20:04] mimisasouvanh commented on #2097
#log-suggestion

[2019-11-14 20:06] mimisasouvanh commented on #2067
#log-suggestion

[2019-11-14 23:03] rloutlaw commented on #2099
I'll take a suggestion for this #log-suggestion @rloutlaw

[2019-11-15 00:08] ChaoPiPi commented on #2102
Thank you. I have solved the problem.

[2019-11-15 01:03] onetalltree opened #2161 "Completed module showing 0% completion"
On the main user screen (https://docs.microsoft.com/en-us/users/XXXXXX/), the percent completion shows 0% for completed modules.

I expect to see 100% for completed modules.
![Annotation 2019-11-14 160156](https://user-images.githubusercontent.com/1093148/68908618-b79aee80-0700-11ea-9e10-7a524c05ef98.png)

[2019-11-15 01:35] srs81 opened #2162 "Event Grid docs: Nuget link pointing to wrong Nuget package"
There appears to be no comment section for the article so filing a bug request.

**Link to article:**
https://docs.microsoft.com/en-us/dotnet/api/overview/azure/eventgrid?view=azure-dotnet

**Problem:**
In the section "Client SDK", in this line:

The Nuget package links to https://www.nuget.org/packages/Microsoft.Azure.Management.Network.Fluent which I believe is the wrong nuget package.

I believ

[2019-11-15 03:27] skeeler opened #2163 "Out-dated link to older version of PowerShell Tools for Visual Studio"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**Link to article:**
https://azure.microsoft.com/en-ca/tools/

**Problem:**
The https://azure.microsoft.com/en-ca/tools/ page contains an out-of-date link, to the PowerShell Tools for Visual Studio 2015. It should link to current product

[2019-11-15 08:37] MartinFuhrmann commented on #1924
Hi Andrew, the rows of the bookmarks are so huge. You can save space if they are a little bit smaller in heights. As Ljtill wrote, sorting and grouping would be nice. Thx in advance! Best Martin

[2019-11-15 09:29] mariuselix opened #2164 "Typo in xml example @ below link"
Link to article:
https://docs.microsoft.com/en-us/windows/win32/taskschd/taskschedulerschema-schedulebymonth-calendartriggertype-element

Problem:
There is a typo in the example xml. The Months end tag is missing the slash "/", which will result in a corrupt xml if anyone is copy-pasting it.

[2019-11-15 21:19] #2146 closed

[2019-11-15 21:22] YoDaMa opened #2165 "Add azure-iot-sdk-node API documentation to docs.microsoft.com/en-us/javascript/api"
(filed as member of azure-iot-sdk-node team)

**Link to article:**
https://docs.microsoft.com/en-us/javascript/api/azure-iot-device/

**Problem:**
We need to add API docs. Something's broken with generating the docs to Microsoft Docs.

[2019-11-15 21:25] mairaw commented on #2164
Thanks @mariuselix for your feedback. I've opened https://github.com/MicrosoftDocs/win32/pull/141 to fix that. You can also edit topics when you see issues like that. Here's how:
https://docs.microsoft.com/en-us/contribute/#quick-edits-to-existing-documents

[2019-11-15 21:27] mairaw commented on #2162
Thanks for your feedback @srs81. @CamSoper can you look at this feedback?

[2019-11-15 21:28] mairaw commented on #2161
@asajohnson can you help route this issue about Learn?

[2019-11-15 21:30] mairaw commented on #2159
@bipach you seem to be the owner of this. Can you take a look?

[2019-11-15 21:31] mairaw commented on #2158
Thanks @shawnkhall for your feedback. @lizap can you take a look? You seem to own that page.

[2019-11-15 21:33] mairaw commented on #2156
@smitpatel this feedback is regarding EF API docs. Can you or your team take a look?

[2019-11-15 21:35] mairaw commented on #2147
I don't see such package listed. Maybe it was refreshed since then?

[2019-11-15 21:37] mairaw commented on #2134
Do you mean the edit button or somewhere else?

[2019-11-15 21:39] mairaw commented on #2134
Tagging @david-stanford since I do see a 404 when I try to click edit.

[2019-11-15 21:39] skeeler commented on #2163
Filed on ACOM per additional guidance from Docs Support group.

[2019-11-15 21:39] #2163 closed

[2019-11-15 21:42] mairaw commented on #2064
This is happening on desktop as well:
https://github.com/dotnet/dotnet-api-docs/issues/3477

[2019-11-15 21:44] smitpatel commented on #2156
Opened https://github.com/aspnet/EntityFrameworkCore/issues/18938 to track on EF Core. It can be closed from here.

[2019-11-15 22:15] david-stanford commented on #2134
Hi, I can't seem to duplicate the issue.  The reliability content is moved, but the link should work.

Here is the new place the content is located: https://docs.microsoft.com/en-us/azure/architecture/framework/resiliency/overview

[2019-11-15 22:19] mairaw opened #2166 ".NET Version dropdown is inconsistent with displayed content and "Applies to" section"
_From @johndaintree on Tuesday, November 5, 2019 12:56:53 PM_

I suspect that this is a problem with many pages, but, for example, the page:

https://docs.microsoft.com/en-us/dotnet/api/system.runtime.interopservices.unmanagedtype

Shows LPUTF8Str as a valid member AND shows Xamarin.iOS in the "Applies to" section. However LPUTF8Str is NOT implemented in Xamarin.

It's only when one selects Xamari

[2019-11-15 22:19] mairaw commented on #2166
_From @mairaw on Friday, November 15, 2019 10:15:05 PM_

Thanks @johndaintree for your feedback. That's a bit tricky to solve since the information in the Applies to section is about the class and not the individual fields. I'll move this issue to the MicrosoftDocs/feedback for discussion with the engineering team.

[2019-11-15 22:24] mairaw commented on #2166
I suspect this behavior is by design but I'd like to check how others feel.

@mimisasouvanh @Thraka @BillWagner @tdykstra @gewarren

Given that selecting the right moniker will show the appropriate APIs for the selected version, I feel like this behavior is by design. We could annotate on a case by case scenario, but it would be hard to do this across the board. Any other ideas or suggestions?

[2019-11-15 22:30] #2164 closed

[2019-11-15 22:42] mairaw commented on #2146
I'd say that for bullet #1, there are no future work happening for .NET Framework, only servicing. All the improvements are now being made on .NET Core. You can file an issue at https://github.com/dotnet/winforms for the team to consider.

For request #2, @Tanya-Solyanik can you comment on that suggestion?

[2019-11-15 22:57] Tanya-Solyanik commented on #2146
This workaround is available and discoverable on Stackoverflow: https://stackoverflow.com/questions/21811303/numericupdown-value-not-rounded-to-decimalplaces, I don't see the need to copy it over.

[2019-11-15 22:58] tdykstra commented on #2166
I think we could annotate on a case-by-case basis without trying to do it across the board, just where it comes up as an issue for people, i.e., where someone brings it to our attention.

[2019-11-15 23:23] mairaw commented on #1824
This seems fixed. Can you confirm @svick?

[2019-11-16 00:40] peterennis opened #2167 "Security compliance missing reference to WS 2019"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**Link to article:**
Tell us where exactly a problem occurs.
https://gallery.technet.microsoft.com/Cybersecurity-Reference-883fb54c#content

**Problem:**
What's wrong with the article?
Security compliance missing reference to WS 2019

![

[2019-11-16 01:47] docs-product commented on #2160
@DuncanmaMSFT - I will re-assign this to @rloutlaw since this is likely a problem with reference documentation discoverability that we need to address at a broader scale rather than just for the REST API Browser.

[2019-11-16 01:48] docs-product commented on #2167
Thank you for your feedback! Because this is related to content that the author has to modify, we cannot address it in this forum. The Q&A section on the page you linked to should be used for comments pertaining to the document.

[2019-11-16 01:48] #2167 closed

[2019-11-16 01:51] docs-product commented on #2165
@YoDaMa - given that this is an internal request, please file an onboarding ticket here: https://aka.ms/publish-on-docs/reference

[2019-11-16 01:51] #2165 closed

[2019-11-16 01:53] docs-product commented on #2156
Closing this issue given that a related one was opened in the product repo.

[2019-11-16 01:53] #2156 closed

[2019-11-16 01:57] docs-product commented on #2149
@GrantMeStrength - do you know who do we need to contact to address Windows support content issues?

[2019-11-16 01:58] docs-product commented on #2147
Our team is working on restoring the package documentation - thank you for the feedback @abouroubi!

[2019-11-16 02:00] docs-product commented on #2144
@rwarzycha - thank you for the feedback! We definitely have room for improvement for our offline documentation experience. Tagging this for myself to investigate.

[2019-11-16 02:04] docs-product commented on #2134
Closing as the issue seems to be resolved.

[2019-11-16 02:04] #2134 closed

[2019-11-16 02:05] docs-product commented on #2133
Thank you for the feedback! Because this is not related to docs.microsoft.com, we cannot address the issue in this forum.

[2019-11-16 02:05] #2133 closed

[2019-11-16 02:09] docs-product commented on #2127
@jyotivarade - based on your recording, you did not perform the sign in. Can you test the API once you are signed in with your Azure account?

[2019-11-16 02:10] docs-product commented on #2126
@cheong00 - is the feedback related to a sample that you saw somewhere on docs.microsoft.com?

[2019-11-16 02:12] docs-product commented on #2123
Thank you for the feedback - the index should be refreshed and there should be no more 404 links.

[2019-11-16 02:12] #2123 closed

[2019-11-16 02:15] docs-product commented on #2119
@bc-109 - thank you for the feedback! Because this is not related to functionality on docs.microsoft.com, we cannot address the issue within this forum.

[2019-11-16 02:15] #2119 closed

[2019-11-16 02:17] docs-product commented on #2113
Thank you for the shout-out, @krisrajz!

[2019-11-16 02:17] #2113 closed

[2019-11-16 02:17] #2111 closed

[2019-11-16 02:20] docs-product commented on #2107
Thanks for the feedback, @spottedmahn - currently, the anchor links are generated automatically from the header, therefore if the content maintainer updates those, the links will change as well. The reason this functionality is in place is because anchor links should be consistently mapped to the text (i.e. be predictable).

[2019-11-16 02:20] #2107 closed

[2019-11-16 02:22] docs-product commented on #2105
Thank you for the feedback! The page you linked to is no longer supported and is not updated.

[2019-11-16 02:22] #2105 closed

[2019-11-16 02:25] docs-product commented on #933
Duplicate of #462.

[2019-11-16 02:25] #933 closed

[2019-11-16 02:26] docs-product commented on #2103
Duplicate of #462.

[2019-11-16 02:26] #2103 closed

[2019-11-16 02:28] docs-product commented on #2100
@kaerm - do we need to onboard the library, or was it replaced?

[2019-11-16 02:28] docs-product commented on #2099
#log-suggestion @rloutlaw

[2019-11-16 02:29] docs-product commented on #2098
Thank you for the feedback! Given that this is not related to docs.microsoft.com, we cannot address the issue in this forum.

[2019-11-16 02:29] #2098 closed

[2019-11-16 02:31] docs-product commented on #2085
Closing as there is a related issue being tracked on the content side.

[2019-11-16 02:31] #2085 closed

[2019-11-16 02:33] docs-product commented on #2094
Thank you for the feedback! Given that this is not related to docs.microsoft.com, we cannot address the issue in this forum.

[2019-11-16 02:33] #2094 closed

[2019-11-16 02:34] docs-product commented on #2095
@aureole82 could you please give us more details on the device being used and the OS version?

[2019-11-16 02:34] docs-product commented on #2077
Given that no additional context was provided, closing the issue.

[2019-11-16 02:34] #2077 closed

[2019-11-16 02:35] docs-product commented on #2070
Thank you for the feedback! Given that this issue is not related to docs.microsoft.com, we cannot address it in this forum.

[2019-11-16 02:35] #2070 closed

[2019-11-16 02:37] docs-product commented on #2041
Thank you for the feedback - given that the issue is not related to docs.microsoft.com, we cannot address it in this forum.

[2019-11-16 02:37] #2041 closed

[2019-11-16 02:39] docs-product commented on #2034
Thank you for the feedback! Because this issue is not related to docs.microsoft.com, we cannot address it in this forum.

[2019-11-16 02:39] #2034 closed

[2019-11-16 02:39] docs-product commented on #2026
Thank you for the feedback! Because this issue is not related to docs.microsoft.com, we cannot address it in this forum.

[2019-11-16 02:39] #2026 closed

[2019-11-16 02:39] docs-product commented on #1978
Thank you for the feedback! Because this issue is not related to docs.microsoft.com, we cannot address it in this forum.

[2019-11-16 02:39] #1978 closed

[2019-11-16 02:40] #1970 closed

[2019-11-16 02:41] #1847 closed

[2019-11-16 02:42] #803 closed

[2019-11-16 02:42] docs-product commented on #964
Thank you for the feedback! Because this issue is not related to docs.microsoft.com, we cannot address it in this forum.

[2019-11-16 02:42] #964 closed

[2019-11-16 02:43] #1053 closed

[2019-11-16 02:43] #1057 closed

[2019-11-16 02:43] docs-product commented on #1066
Thank you for the feedback! Because this issue is not related to docs.microsoft.com, we cannot address it in this forum.

[2019-11-16 02:43] #1066 closed

[2019-11-16 02:43] docs-product commented on #1081
Thank you for the feedback! Because this issue is not related to docs.microsoft.com, we cannot address it in this forum.

[2019-11-16 02:43] #1081 closed

[2019-11-16 02:44] #1158 closed

[2019-11-16 02:44] #1241 closed

[2019-11-16 02:46] #1411 closed

[2019-11-16 02:47] #1770 closed

[2019-11-16 02:48] docs-product commented on #83
This is now available: https://docs.microsoft.com/samples

[2019-11-16 02:48] #83 closed

[2019-11-16 07:20] rickardp commented on #933
I don’t think it is a strict duplicate, but I’ll comment in the other one

[2019-11-16 07:24] rickardp commented on #462
Since issue #933 was set as a dup of this, I wanted to bring what I believe is the essence of that.

- If the original language (English) is *among* the list of accepted languages, never present a machine translated version.

Do this regardless of what is in the URL (or rather, fix it so that Google doesn’t take you to machine translated versions).

Machine translation is only useful as a last res

[2019-11-16 10:46] aureole82 commented on #2095
Model: Microsoft Lumia 950
Software: Windows 10 Mobile
RAM: 3 GB
Version: 1709
OS Build: 10.0.15254.597
Firmware Revision: 01078.00053.16236.35026
Hardware Revision: 2.1.1.2

[2019-11-16 11:22] cheong00 commented on #2126
Yes.

https://docs.microsoft.com/en-us/dotnet/api/system.componentmodel.designerattribute?view=netframework-4.8

And for all version from 2.0 all the way up to 4.8. There aren't "System.Windows.Forms.Design.DLL" exists at least in all full .NET framework versions.

[2019-11-16 11:39] cheong00 commented on #2126
I can't see it in .NET Core 1.X and 2.X, but that is normal because they don't support WinForm applications.

And I can't find any of the two DLLs in .NET Core 3 folder, not sure whether it is because the windows form designer for .NET Core 3 is not ready yet, or it should be at some other DLL.

[2019-11-16 13:52] AmulyaX opened #2168 "[Trivial Issue] Wrong spelling"
**Link to article:**
https://docs.microsoft.com/en-us/learn/modules/csharp-if-elseif-else/4-challenge
https://docs.microsoft.com/en-us/learn/modules/csharp-if-elseif-else/5-solution

**Problem:**
If you look at Rule 3 under Step 3, you'll notice in the Output Section that the word expires is wrongly spelt as 'exires'.
Same mistake is made in the solution of that problem, look under 'daysUntilExpir

[2019-11-16 13:58] AmulyaX opened #2169 "Inaccurate solution of a Challenge"
**Link to article:**
https://docs.microsoft.com/en-us/learn/modules/csharp-if-elseif-else/4-challenge
https://docs.microsoft.com/en-us/learn/modules/csharp-if-elseif-else/5-solution

**Problem:**
As said in the first link where it describes the challenge, it is stated that the desired output contains "Renew now and save _%!" for everytime a discount is applied.
But no such thing is implemented in

[2019-11-16 14:29] chrisschm commented on #1319
Nothing changed yet to the issue - no news heared.

- OS: Windows 10 Pro 1903 (18362.476)
- Visual Studio Community 2019

Still the same issue.

[2019-11-16 22:28] guardrex opened #2170 "Horizontal scrolling for code snippets with highlights"
Originally reported in aspnet/AspNetCore.Docs by @serpent5 ...

https://github.com/aspnet/AspNetCore.Docs/issues/15715

![image](https://user-images.githubusercontent.com/1622880/68999962-ef836c80-088d-11ea-94f1-35ebe9d9c209.png)

[2019-11-17 14:51] #2011 closed

[2019-11-17 18:42] chezzwizz opened #2171 "DotNet API Browser: Namespace descriptions missing information"
**Description**
On the 'https://docs.microsoft.com/en-us/dotnet/api/?view=...' page, there is missing information for some of the namespace descriptions. The missing information seems to be related to the process of scraping the information from the individual namespace pages where there are links to any urls at 'https://docs.microsoft.com/en-us/dotnet/api' but does not seem to be affected by urls

[2019-11-17 20:57] hteumeuleu opened #2172 "Links to VML examples are broken"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**Link to article:**
https://docs.microsoft.com/en-us/windows/win32/vml/web-workshop---how-to-use-vml-on-web-pages-----background--element

**Problem:**
The link on "Show Me" after the code example gives a 404. (https://samples.msdn.micr

[2019-11-17 23:25] SonjaSaltzman commented on #1292
@bodhigautam could you please look into this?

[2019-11-17 23:55] johnathanseal-enable opened #2173 "Azure Dev Ops TestRun - More insight on the API for create"
**Link to article:**
https://docs.microsoft.com/en-us/rest/api/azure/devops/test/runs/create?view=azure-devops-rest-5.1

**Problem:**
Hello,

Context:  an automated test that cannot be run in Azure Dev Ops pipeline (for reasons I can not discuss in this forum).
I do want to report on the results of the automated tests.
I suspect the workflow is as follows:

1. create a test plan in azure dev ops (

[2019-11-18 02:13] BESTRIVENinCN opened #2174 "NETRESOURCE link error in document WNetAddConnection[2|3]"
**Link to article:**
https://docs.microsoft.com/en-us/windows/win32/api/winnetwk/nf-winnetwk-wnetaddconnection2a

**Problem:**
The NETRESOURCE link in WNetAddConnection[2|3] document is linked to the wrong place:
https://docs.microsoft.com/en-us/windows/win32/api/rrascfg/nn-rrascfg-ieapproviderconfig

The NETRESOURCE link should be
https://docs.microsoft.com/en-us/windows/win32/api/winnetwk/ns-win

[2019-11-18 08:34] TechWatching opened #2175 "[Feature Request] Add user settings for language and theme"
I am always frustated when I go to Microsoft Docs and that each time I have to change the language, set my preferred theme ... that is to say each time set the same settings.

What I would want is that, when I connect to Microsoft Docs with my Microsoft account, my theme and language are already the ones that I need because I would have configured them once in my
profile settings.

Concerning the

[2019-11-18 08:39] superfon commented on #2175
Pobierz aplikację Outlook dla systemu Android<https://aka.ms/ghei36>
________________________________
From: welcome[bot] <notifications@github.com>
Sent: Monday, November 18, 2019 9:34:57 AM
To: MicrosoftDocs/feedback <feedback@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [MicrosoftDocs/feedback] [Feature Request] Add user settings for language and theme (#2175)

[2019-11-18 09:27] zharikovartem opened #2176 "Registration of new bots for skype"
Good day. I was faced with the urgent need to create a Skype bot, but registration of new bots was terminated.

In this regard, I have several questions:

1) Will an alternative technology for automatically sending messages to skype (possibly through teams) be provided?

2) will registration of new bots be renewed, if so how soon?

3) is it possible to register a bot as an exception? Since it is e

[2019-11-18 11:29] machenghu opened #2177 "implementation to notice my application when mouse double click file hydration"
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I want to download  file hydration when mouse double click , but in fact it pop-up a form of "This interface is not supported".How  can to notice my application the file hydration is click?
I refer to CloudMirror Sample  link https://github.com/Microsoft/Windows-classic-samples/tree/master/Samples/CloudMir

[2019-11-18 11:31] machenghu commented on #2177
please give some suggest

[2019-11-18 11:44] svick commented on #1824
Yeah, it looks correct now, closing.

[2019-11-18 11:44] #1824 closed

[2019-11-18 14:33] ArchieCoder opened #2178 "Cortana Skills area should be removed"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**Link to article:**
https://docs.microsoft.com/en-us/cortana/skills/

**Problem:**
Cortana is shutdown their external services. Keeping the Cortana Skills don't make any sense now. I'm not even sure if it is still working.

[2019-11-18 15:53] isjaguti opened #2179 "Example for dynamic format strings not working"
**Link to article:**
https://docs.microsoft.com/en-us/analysis-services/tabular-models/calculation-groups#dynamic-format-strings

**Problem:**
I tried to implement the percent format string as described here for the measure "YOY%" by setting the format string expression property in my tabular model to "0.00%;-0.00%;0.00%". This can be done by just cutting and pasting the string from the documentat

[2019-11-18 18:20] svick commented on #1499
The same problem still occurs for [Xamarin.iOS release notes](https://docs.microsoft.com/en-us/xamarin/ios/release-notes/).

[2019-11-18 18:22] svick opened #2180 "API reference for Xamarin.iOS is severely outdated"
The API reference seems to contain only information about Xamarin.iOS version 10.8, when the latest version is 13.8. That's severely outdated and should be updated.

[2019-11-18 19:30] rloutlaw commented on #2084
The If in that blue is the correct highlighting as it is a keyword.

The #1/1/1992# is a Date literal and is an incorrect color, and then isn't terminating after the #. I'll open up a bug report-thanks for the feedback.

[2019-11-18 21:04] v-kents commented on #2136
It seems that particular KB is no longer available/valid. Link has been removed from the page. Thank you for letting us know!

[2019-11-18 21:04] #2136 closed

[2019-11-18 21:23] Minewiskan commented on #2093
@chrisadragna - Thanks for pointing this out. Probably been that way for ten years. It's been updated.
#please-close

[2019-11-18 23:27] bodhigautam commented on #1292
@docs-product  We have already updated the Chinese(Taiwan) language name to 中文 (繁體) (Chinese Traditional).
@SonjaSaltzman JFYI.

[2019-11-19 00:29] DSPatrick opened #2181 "Description of Windows Mobile Device Center links broken"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**Link to article:**
https://support.microsoft.com/en-us/help/931937/description-of-windows-mobile-device-center

**Problem:**
Links on this page result in 404

[2019-11-19 01:14] bodhigautam commented on #462
@rickardp Thanks a lot for the suggestion. We will add it in our backlog. Unfortunately its not in our plan right now. We will keep you updated once its picked up for development.

[2019-11-19 05:30] JYOTHIRMAISURI commented on #816
The links are updated now. Thanks.
#please close

[2019-11-19 06:12] JYOTHIRMAISURI commented on #816
#please-close

[2019-11-19 09:06] MbrookWork opened #2182 "'See Earlier Issues' Links do not work - instead redirect to docs home page."
https://docs.microsoft.com/en-gb/archive/newsletter/technet/microsoft-technet-flash-archive
'See Earlier Issues' Links do not work - instead redirect to docs home page.

**Problem:**
'See Earlier Issues links seem to be dead - instead redirect to a docs home page.

[2019-11-19 10:02] Mecanik opened #2183 "C/C++ Importing WinAPI function with x64 structure parameter inside x86 application"
I`m opening an issue here with the hope that someone technical can provide me some answers... as to why this works, and if it's stable under windows desktop editions (7/8/8.1 etc)

https://stackoverflow.com/questions/58898815/c-c-importing-winapi-function-with-x64-structure-parameter-inside-x86-applicat

I have received a reply from an MSFT member but totally unrelated to my question.

Can someone

[2019-11-19 10:44] DeanGross opened #2184 "Missing ability to add Feedback to page"
**Describe the bug**
The ability to add feedback on the product or page page is not available.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/sql/reporting-services/report-server-sharepoint/deploy-report-viewer-web-part?view=sql-server-ver15
2. Scroll down to the bottom of the page
4. the option add Feedback to the page is not available.

**Expected be

[2019-11-19 12:27] pjmlp opened #2185 "Cannot find .NET Framework documentation, keep getting .NET Core instead."
**Describe the bug**
A clear and concise description of what the bug is.

Many .NET APIs are only visible with the .NET Core filter enabled, althought they have an history of several years as part of .NET Framework.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/en-us/dotnet/api'
2. Click on '.NET Framework 4.8', or any other .NET Framework version
3. Searc

[2019-11-19 12:57] bobsyourmom commented on #1156
thanks for the link @MohadKamil . that worked for me. very much appreciated.

[2019-11-19 15:12] Daniel-Svensson commented on #1963
@mairaw any chance to get an estimate for when anyone can *start* looking at this? (i understand if it will take time to investigate)

[2019-11-19 20:43] davidedironza opened #2186 "How to add an online skype meeting"
There are only simple examples on how to create an appointment. But I want to create an appointment with an online skype meeting. Is this possible and how?
Thanks in advance for a hint.

[2019-11-20 02:04] lastnameholiu commented on #2066
Hi @krishty , thanks for bringing this to our attention! I'll go ahead and take a look; once completed I will notify of this update through this thread.

Thanks @mairaw for the visibility.

[2019-11-20 06:31] clandrew opened #2187 "Improve WIC documentation to include suitable code snippets to replace no-longer-available "Windows Imaging Component Animated GIF Win32 Sample""
There used to be a good code sample which showed encoding images with WIC, but that sample doesn't appear to have migrated to our new doc system :(

As WIC is still an important component, we shouldn't get rid of sample code for it. The fact that it is gone appears to be some kind of a bug or an accident.

There ought to be a cached version of it around somewhere (spoke with WIC folks about this)?

[2019-11-20 08:10] mairaw commented on #314
This has now been triaged and prioritized internally with the engineering team. A fix should be coming soon (not sure how soon though).

[2019-11-20 14:16] dlwlb opened #2188 "bitlocker-auto-unlock commands swapped"
https://blogs.technet.microsoft.com/dubaisec/2018/07/11/bitlocker-auto-unlock/ needs to be corrected. It says the following but the commands needs swapped. The ones listed for the command prompt are actually for Power Shell and vice versa.
You can enable/disable Auto-unlock protector using:

Command line:
    Enable-BitLockerAutoUnlock
    Disable-BitLockerAutoUnlock
PowerShell:
    manage-bde -au

[2019-11-20 14:20] mlottner commented on #2186
@davidedironza Thanks for reaching our to our feedback channel.

This is the feedback channel specifically for Microsoft Docs. You can use the [Skype product support channel](https://docs.microsoft.com/en-us/skypeforbusiness/skype-for-business-online) to get resolution for Skype product related issues and queries.

[2019-11-20 14:20] #2186 closed

[2019-11-20 14:25] mlottner commented on #2188
@dlwlb Thanks for taking the time to comment on the TechNet blog you referenced

I've sent the blog author a message with your correction and fix request.

Appreciate you taking the time to contribute to our feedback community!

[2019-11-20 14:25] #2188 closed

[2019-11-20 14:46] mlottner commented on #2184
@DeanGross Thanks for taking the time to report this issue!
I'm currently researching why the feedback mechanism is not currently available on the docs repository and pages you reported. Agree that consistency across all Microsoft Docs pages is critical to achieving our goal of providing content that is easy to use.

[2019-11-20 14:46] #2184 closed

[2019-11-20 15:16] mlottner commented on #2168
@AmulyaX Thanks so much for taking the time to point out these issues.

I've forwarded your fixes onto the content developer responsible for the pages.

Appreciate you taking the time to contribute to our community!

[2019-11-20 15:16] #2168 closed

[2019-11-20 15:21] mlottner commented on #2176
@zharikovartem Thanks for commenting on our docs feedback channel!

To receive the product response you requested, make sure to use the product support channel instead of the docs feedback forum.

Use the [Skype for Business](https://docs.microsoft.com/en-us/skypeforbusiness/skype-for-business-online) product support channel for your inquiry.

[2019-11-20 15:21] #2176 closed

[2019-11-20 15:27] mlottner commented on #2183
@Mecanik Thanks for reaching out for product assistance!
Your question is important to us, but docs feedback is the wrong forum for getting technical help with a specific Microsoft product.
Use the [Microsoft Product support](https://support.microsoft.com/allproducts ) page to request help on your specific product issue.

Appreciate your contribution to our community.

[2019-11-20 15:27] #2183 closed

[2019-11-20 16:18] mlottner commented on #2169
@AmulyaX Thanks for taking the time to comment on Learn content.
I've assigned a Learn representative to help resolve the issues you've raised.

Appreciate your contribution to our community.

[2019-11-20 16:21] mlottner commented on #2170
@guardrex Thanks for taking the time to report this issue to site feedback.
I've reassigned the issue to a member of our site experience team to make sure they are aware of the functionality and see if they can help.

Appreciate your contribution to the docs community!

[2019-11-20 16:21] #2170 closed

[2019-11-20 16:24] mlottner commented on #2171
@chezzwizz Thanks for taking the time to report this issue.
I've flagged the issue for a member of the .NET experience team to ensure they are aware of it, and see if and how they can help.

Appreciate your contribution to our community.

[2019-11-20 16:28] mlottner commented on #2178
@ArchieCoder Thanks for taking the time to give us feedback.
I've flagged your issue to a member of our Learn team to make sure they are aware of the issue and can take steps to resolve it.

Appreciate your contribution to our community.

[2019-11-20 16:28] #2178 closed

[2019-11-20 16:33] mlottner commented on #2172
@hteumeuleu Thanks for taking the time to leave us feedback.
I've reassigned this issue to the content author for awareness and a future fix.

Appreciate your contribution to our community.

[2019-11-20 16:37] mlottner commented on #2173
@johnathanseal-enable Thanks for taking the time to give us feedback.
For this specific issue, please use [product feedback](https://developercommunity.visualstudio.com/spaces/21/index.html) to make sure the correct technical contact can respond and clarify.
Appreciate your contribution to our community.

[2019-11-20 16:37] #2173 closed

[2019-11-20 16:53] mlottner commented on #2174
@BESTRIVENinCN Thanks for taking the time to leave us feedback.
I've flagged your issue to the team responsible for this page for awareness and future resolution.

Appreciate you taking the time to contribute to our community.

[2019-11-20 16:53] #2174 closed

[2019-11-20 16:56] mlottner commented on #2175
@TechWatching Thanks for taking the time to share your feedback. Your experience is important to us.
I've flagged this issue to the team responsible for user experiences on Docs for awareness and possible future resolution.
Appreciate your contribution to our community.

[2019-11-20 16:56] #2175 closed

[2019-11-20 17:03] mlottner commented on #2182
@MbrookWork Thanks for taking the time to leave us feedback!

The page you referenced is an archive site that is no longer actively updated. Previous links to other articles may be deprecated. Use the [Microsoft Product Lifecycle](https://support.microsoft.com/en-us/lifecycle/selectindex) page for more information about the specific prouct or service you were interested in.

Appreciate your contri

[2019-11-20 17:03] #2182 closed

[2019-11-20 17:04] mimisasouvanh commented on #920
#log-suggestion

[2019-11-20 17:07] mlottner commented on #2177
@machenghu Thanks for taking the time to leave site feedback.

[Opening an issue](https://github.com/Microsoft/Windows-classic-samples/issues) within the repository is the best way to access support and feedback for the specific product you referenced.

Appreciate your contribution to our community.

[2019-11-20 17:07] #2177 closed

[2019-11-20 17:10] mlottner commented on #2179
@isjaguti Thanks for taking the time to give us site feedback.
I've assigned your issue to the content owner for awareness and direction about the correct method for direct service feedback and support.

[2019-11-20 17:16] mlottner commented on #2180
@svick Thanks for taking the time to leave Microsoft Docs site feedback.

To submit specific product feedback, questions or support, please choose the relevant product from the [Microsoft product support directory](https://support.microsoft.com/allproducts) and submit your feedback or question.

Appreciate your contribution to our community.

[2019-11-20 17:33] mimisasouvanh commented on #2171
@chezzwizz @mlottner We are aware of this issue, and tracking it internally. Thanks!

[2019-11-20 17:36] maggiesMSFT commented on #2184
Hi, @DeanGross -- You're right, feedback is not turned on for the Reporting Services content. I believe you have 2 options.
1. If you'd like to make a comment, under "Is this page helpful?" please select either Yes or No. You then have the option to provide feedback.
2. I believe you also have an Edit pencil in the upper right corner, right? You can click that to suggest changes to the article.
![

[2019-11-20 17:40] mimisasouvanh commented on #2166
@mairaw We've got a feature open, to fix the Assigned to section, but for now I think it's lower pri. I agree with @tdykstra that if we annotated case-by-case for now would be good.

[2019-11-20 17:58] mimisasouvanh commented on #2185
@mlottner I just looked at the issue, and you are saying System.Web.Mvc should be a .NET Framework 4.8 as well?

[2019-11-20 18:20] mairaw commented on #530
#log-suggestion

[2019-11-20 18:31] benjherb opened #2189 "Typos on article "Partner security requirements status""
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

No comment section available.

**Link to article:**
Typo 1:
https://docs.microsoft.com/en-us/partner-center/partner-security-compliance#is-mfa-only-required-when-certain-conditions-are-met
Typo 2:
https://docs.microsoft.com/en-us/partner

[2019-11-20 21:39] nikolodus opened #2190 "CreateWaitableTimer link at the bottom of SetWaitableTimer page is broken"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**Link to article:**
https://docs.microsoft.com/en-us/windows/win32/api/synchapi/nf-synchapi-setwaitabletimer

**Problem:**
CreateWaitableTimer link at the bottom of SetWaitableTimer page is broken.

[2019-11-20 22:46] Minewiskan commented on #2179
@isjaguti - In your problem statement, you state "Without the double brackets," and "Using double brackets around the expression" Do you mean double quotes?

[2019-11-20 23:05] starquestv opened #2191 "sample at Using XA Transactions is missing an include file"
https://docs.microsoft.com/en-us/sql/connect/odbc/use-xa-with-dtc?view=sql-server-ver15
Using XA Transactions

the sample is incomplete - the include file XaTestRunner.h is not supplied.

[2019-11-20 23:22] Minewiskan commented on #2137
@Yannix - Thanks for pointing this out! A fix has been checked in and should appear live by EOD 11/20/19.
#please-close

[2019-11-21 10:52] mlottner commented on #2185
@mimisasouvanh I think you meant to ask for clarification from the original poster @pjmlp. Can you let us know the expected behavior you are looking for.
Thanks!

[2019-11-21 10:57] mlottner commented on #2181
@DSPatrick Thanks for taking the time to give us site feedback.
Please make sure to log the specific link issue directly on the [page feedback option](https://support.microsoft.com/en-us/help/931937/description-of-windows-mobile-device-center) at the bottom of the page, where it asks if the page was helpful. This action ensures the page owner can see and respond to your request.

[2019-11-21 10:57] #2181 closed

[2019-11-21 11:21] svick commented on #2180
@mlottner I don't understand why this issue was closed, it's not "product feedback, questions or support", it's about a problem with the documentation, specifically, the API reference at https://docs.microsoft.com/en-us/dotnet/api/?view=xamarinios-10.8.

[2019-11-21 11:44] mlottner commented on #2180
@svick Thanks for pointing out that link. It is directing page feedback to a general site feedback link and not to the a specific .NET framework feedback link. I've reassigned the issue to someone responsible for .NET content.

[2019-11-21 12:29] mlottner commented on #2189
@benjherb Thanks for taking the time to leave us feedback and proposed fixes.
Reassigning this to the content owner to address the issues you've raised.

[2019-11-21 12:39] isjaguti commented on #2179
Absolutely, @Minewiskan , I meant double quotes! This is not my native tongue, so I got a little lost.

[2019-11-21 12:55] mlottner commented on #2187
@clandrew Thanks for taking the time to share your site feedback.
The best way to ensure your request gets immediate feedback/action is to log the issue on the specific page(s) or repository where you found the problem. You didn't provide a link, so I'm unsure exactly what Docs site page you are referencing.
Suggest logging it as a product support call or opening a feedback item on the specific pa

[2019-11-21 15:44] DSPatrick commented on #2181
Thanks, but those always seem to be one way black hole type messages. I’ll just skip them from now on I guess.

From: Miriam Lottner <notifications@github.com>
Sent: Thursday, November 21, 2019 4:58 AM
To: MicrosoftDocs/feedback <feedback@noreply.github.com>
Cc: DSPatrick <dspatrick@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/feedback] Description of Windows Mobile

[2019-11-21 16:55] clandrew commented on #2187
My problem is of the form "this page does not exist" so I'm not clear on what link I'm supposed to provide.

The page used to exist at
https://code.msdn.microsoft.com/Windows-Imaging-Component-65abbc6a/sourcecode?fileId=127204&pathId=969071766

There's an archived version of the page here
https://webcache.googleusercontent.com/search?q=cache%3A7nMWvmIamxMJ%3Ahttps%3A%2F%2Fcode.msdn.microsoft.com%2

[2019-11-21 17:00] clandrew commented on #2187
There's also this, but it does not give you the code.
https://docs.microsoft.com/en-us/windows/win32/wic/-wic-sample-animated-gif

It re-directs you to docs.microsoft.com/samples where the sample appears to have been yanked

[2019-11-21 18:41] pjmlp commented on #2185
Easy, it is so hard to understand that the filter does not work?

I have to use .NET Core filters to find out about .NET Framework documentation, and then naturally get redirected to MSDN pages that only talk about .NET Core as if .NET Framework was dead already.

[2019-11-21 18:56] svick commented on #2170
@mlottner Why did you also close the issue? Shouldn't the issue stay open until it's resolved?

[2019-11-21 19:56] karlra opened #2192 "Manual for TransactionScope is incorrect"
**Link to article:**
https://docs.microsoft.com/en-us/dotnet/api/system.transactions.transactionscope?view=netcore-3.0

**Problem:**
In the code example, this section:

[code]

appears to be incorrect. Comparing against the implementation at https://referencesource.microsoft.com/#system.transactions/System/Transactions/TransactionScope.cs,f78c5d9afd50f246, the transaction is not committed until th

[2019-11-21 23:20] Minewiskan commented on #2179
@isjaguti - Assuming you are working in Visual Studio, are you using a localized German version of VS?
What version of Visual Studio are you using? You can check this in Help>About Visual Studio
What version of the Microsoft Analysis Services Project extension is installed? You can check this in Extensions>Manage Extensions.
If your VS and projects extension are up to date, this is likely a bug. T

[2019-11-21 23:21] Minewiskan commented on #2179
#in-progress

[2019-11-22 02:08] w3corp opened #2193 "CAPTCHA on senders page doesnt work"
**Describe the bug**
The CAPTCHA on sender.office.com page is not working. It isn't validade anything you put on

**To Reproduce**
Just Go to sender.office.com and try to submit an IP.

[2019-11-22 04:04] mairaw commented on #2185
This behavior is by design. That namespace is not part of .NET Framework.

If you search just for that namespace, without selecting a framework, you'll find that page:
https://docs.microsoft.com/en-us/dotnet/api/?term=System.Web.Mvc

You need to select ASP.NET MVC to be able to see that specific reference:
https://docs.microsoft.com/en-us/dotnet/api/?view=aspnet-mvc-5.2

[2019-11-22 06:52] pjmlp commented on #2185
Naturally .NET beginners known that.

At least I tried.

Maira Wenzel <notifications@github.com> schrieb am Fr., 22. Nov. 2019,
05:04:

[2019-11-22 07:16] mairaw commented on #2166
This is slightly different @mimisasouvanh because the enum fields wouldn't have the Applies to section (or even remarks) with the current design. I agree that we should handle this on a case by case scenario.

[2019-11-22 07:16] #2166 closed

[2019-11-22 07:22] mairaw commented on #2185
I understand @pjmlp. @mimisasouvanh perhaps what you could investigate here (and maybe someone else is driving search functionality on the API browser) is:
After someone tries to search and no results return, should you try to search across all APIs and offer some suggestions if there was any match?

@pjmlp my suggestion for now is: if you're not finding the API on a specific release, try searchin

[2019-11-22 07:58] Fawziya opened #2194 "Can't open Jason.Document and Jason.FromValue when switching language to zh-cn"
**Describe the bug**
Can't open Jason.Document and Jason.FromValue webpage when switching language to zh-cn

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/zh-cn/powerquery-m/informix-database
2. Click on Jason.Document or Jason.FromValue from the content index on the left
4. See error 404 can't find the link

**Expected behavior**
It looks like a link issue.

[2019-11-22 08:20] mk885 opened #2195 "Problem witch CAPCHA on sender.office.com"
Hello,

I have tried to delist my IP address from sender.office.com but the capcha code but is not excepting. We have tried on 3 PC and 3 web browser.

[2019-11-22 08:45] mairaw opened #2196 "Make output pane on interactive experience larger/resizable"
_From @akoeplinger on Tuesday, October 17, 2017 6:49:18 PM_

At the moment the output pane when running the interactive C# script is about 4 lines:

![image](https://user-images.githubusercontent.com/1376924/31683147-701e4fae-b37c-11e7-8369-cb1e4febc03b.png)

This is way too little output in my opinion. The pane should be larger by default or even better be resizable.

_Copied from original issue:

[2019-11-22 08:45] mairaw commented on #2196
_From @mairaw on Tuesday, October 17, 2017 6:55:24 PM_

@EisenbergEffect can you take a look at this feedback for the interactive experience?

[2019-11-22 08:45] mairaw commented on #2196
_From @EisenbergEffect on Tuesday, October 17, 2017 8:36:40 PM_

@akoeplinger What browser are you using? There should at least be a scroll bar. I don't see it in your screenshot.

[2019-11-22 08:45] mairaw commented on #2196
_From @akoeplinger on Tuesday, October 17, 2017 8:46:46 PM_

@EisenbergEffect I'm using Chrome on OSX, the (auto-)hidden scrollbar is normal there and expected.

[2019-11-22 08:45] mairaw commented on #2196
_From @EisenbergEffect on Tuesday, October 17, 2017 8:58:33 PM_

Ok. Just wanted to make sure there wasn't a CSS glitch that was causing an additional issue there.

So, to dig into details. This is for the inline "Try It" experience, specifically (as opposed to interactive tutorials). Can you provide some more thoughts?

* If we just made the output panel larger, how large would be large enough?
*

[2019-11-22 08:45] mairaw commented on #2196
_From @akoeplinger on Wednesday, October 18, 2017 12:04:21 AM_

Correct, it was based on https://twitter.com/akoeplinger/status/920358807544516614, should've mentioned that :smile:

I think at least 3-4 more lines would be good.

I'd have expected to be able to pick and drag the line that separates code/output upwards, so output would get larger and code smaller. I'm not sure how it would work if

[2019-11-22 08:45] mairaw commented on #2196
_From @EisenbergEffect on Wednesday, October 18, 2017 12:17:53 AM_

Good feedback @akoeplinger. Thanks! I'll take this and see if we can iterate on the design a bit in the future.

Note: This is part of the One Microsoft documentation platform itself, not just .NET, so I have to balance the priority and design of this against a lot of other items we're working on. In other words, if you don't see

[2019-11-22 08:45] mairaw commented on #2196
_From @BillWagner on Wednesday, October 18, 2017 8:41:05 PM_

@EisenbergEffect As I've been looking at topics where the interactive experience would be a big improvement, I'm finding snippets that are between 10 - 15 lines long, and generate up to 10 lines of output. There are some outliers, but those samples could likely be shortened without loss of clarity.

[2019-11-22 08:45] mairaw commented on #2196
_From @mairaw on Tuesday, November 7, 2017 7:46:14 PM_

@EisenbergEffect do we have an internal bug/request tracking this issue already?

[2019-11-22 08:45] mairaw commented on #2196
_From @EisenbergEffect on Tuesday, November 7, 2017 7:52:15 PM_

Just pinged you on the feature.

[2019-11-22 08:45] mairaw commented on #2196
_From @mairaw on Wednesday, November 8, 2017 1:23:56 AM_

Thanks @EisenbergEffect.

Internal tracking bug: [#1120539](https://mseng.visualstudio.com/CSI/_workitems?id=1120539)

[2019-11-22 08:46] mairaw commented on #2196
#log-suggestion

[2019-11-22 08:48] mairaw commented on #2196
I just realized now after I moved the issue that the experience has changed since we filed this. Sorry about that.

Closing.

[2019-11-22 08:48] #2196 closed

[2019-11-22 08:50] EisenbergEffect commented on #2196
Such fond memories of such great people ❤️ Go .NET! Go Docs!

[2019-11-22 08:53] mairaw commented on #2196
Awww @EisenbergEffect! ❤️ We miss you! I hope you're doing well!

[2019-11-22 09:52] isjaguti commented on #2179
@Minewiskan - Yes, I am using the localized German version of Visual Studio, Version 16.3.10. Analysis Services Projects is version number 2.9.3., which is apparently up to date.
If this is a bug, it might be helpful to look at the XMLA code that gets created when I deploy this calculation item, WITH double quotes around it:
                {
                  "name": "Delta PY PCT",

[2019-11-22 10:39] BenjaminHerbert commented on #1498
This is totally annoying. For me, it switches to Bolsanski, Czeck and other useless automatic translated pages, as I use Google to find results.

[2019-11-22 15:57] docontherock commented on #2195
Here the same, capcha always fails

[2019-11-22 17:57] nchambe opened #2197 "'Polciies' Typo on top level Azure AD Identity Protection documentation"
![tyVB36gS](https://user-images.githubusercontent.com/33632996/69448870-28ed2980-0d1f-11ea-8543-9df9e4416dbb.png)
Typo polciies > policies
https://docs.microsoft.com/en-us/azure/active-directory/identity-protection/

[2019-11-23 10:04] Ronsss opened #2198 "Broken link in article"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**Link to article:**
https://docs.microsoft.com/en-us/previous-versions/sql/sql-server-2008-r2/gg399093%28v%3dsql.105%29

**Problem:**
The link under this text is broken
 "Links to all of the videos"

[2019-11-23 10:10] Ronsss opened #2199 "Doc obsolescent: Get Started with PowerPivot"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**Link to article:**
https://docs.microsoft.com/en-us/previous-versions/sql/sql-server-2008-r2/gg399183(v=sql.105)

**Problem:**
This whole series of articles is attached to SQL Server 2008 and marked obsolescent.  The page has a redirec

[2019-11-23 20:07] sblionel opened #2200 "Broken and incorrect links on Wait Functions page"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**Link to article:**
https://docs.microsoft.com/en-us/windows/win32/sync/wait-functions

**Problem:**
In the paragraph "Single-object wait functions" the following links have problems:

- Both links for SignalObjectAndWait point to https

[2019-11-25 07:02] stephenrdsi opened #2201 "Link on this page links to a crazypants "all em radiation causes cancer" site."
The article is at [https://docs.microsoft.com/en-us/previous-versions/windows/desktop/irda/irda-start-page](https://docs.microsoft.com/en-us/previous-versions/windows/desktop/irda/irda-start-page)

What's wrong with the article?

Well, nothing other than the link to [irda.org](https://www.irda.org). Apparently the domain's been taken over by a probably-literally-tinfoil-hat-wearing person.

[2019-11-25 17:58] mlottner commented on #2190
@nikolodus Thanks for taking the time to report the broken link.
I'll research and reassign to the content owner to make sure it can be fixed.

[2019-11-25 18:01] mlottner commented on #2201
@stephenrdsi Thanks for taking the time to leave us your feedback.
Unfortunately, the content in question is archived. I'm researching if updated can be made to remove now suspicious links.
Appreciate your patience in regards to this issue.

[2019-11-25 18:45] Minewiskan commented on #2179
@isjaguti - We're investigating this and will get back to you once we know more.

[2019-11-25 20:25] AlanMcBee opened #2202 "Add ability to share culture-less version-less URL to page"
I am often sharing links to docs where the link is meant to be durable (over years) and to take someone to the most current version of a page, and where the culture code isn't very important.

The current Share button supports sharing to

- Twitter
- LinkedIn
- Facebook
- Email

And for each of those options, the link it generates includes my current culture code in the URL as well as the version

[2019-11-25 22:38] evilpro opened #2203 "Incorrect example on how to use QueryDosDeviceW"
**Link to article:**
https://docs.microsoft.com/en-us/windows/win32/api/fileapi/nf-fileapi-querydosdevicew

**Problem:**
In the description of the first parameter, the following text can be found.

I think it should say

This is probably happening because Markdown ignores single backslashes (due to escaping).

I guess that this happened during the migration from the older MSDN documentations over

[2019-11-25 23:02] dendeli-msft commented on #1779
This should now be addressed (new page design is live). Thank you for your feedback!

[2019-11-25 23:02] #1779 closed

[2019-11-25 23:04] dendeli-msft commented on #1581
Given that this is content-related, and is not directly related to functionality on docs.microsoft.com, I will close this item. We are constantly working to make sure that you can better keep track of content and its updates (see: [bookmarks](https://docs.microsoft.com/en-us/teamblog/announcing-bookmarks)). We will continue evolving that functionality in the future, so keep the feedback coming!

[2019-11-25 23:04] #1581 closed

[2019-11-25 23:05] dendeli-msft commented on #1488
Given that we haven't received any additional information on this item, I will go ahead and close it. @alejandraneolopan - please open a new issue if the problem persists.

[2019-11-25 23:05] #1488 closed

[2019-11-25 23:06] dendeli-msft commented on #1437
Thank you for the feedback! We've recently released a new page design that should address this issue.

[2019-11-25 23:06] #1437 closed

[2019-11-25 23:09] dendeli-msft commented on #1067
Thank you for the feedback - this notification is to make sure that users are aware of the fact that the content is no longer supported, and any practices or code they might take from it might not be the best.

[2019-11-25 23:09] #1067 closed

[2019-11-25 23:11] dendeli-msft commented on #920
This issue should now be fixed - I cannot repro it. @mairaw - can you please confirm?

[2019-11-25 23:13] dendeli-msft commented on #580
Closing this issue as the box is now theme-aware.

[2019-11-25 23:13] #580 closed

[2019-11-25 23:15] dendeli-msft commented on #150
Closing this item as we've made some updates to our site typography.

[2019-11-25 23:15] #150 closed

[2019-11-25 23:16] dendeli-msft commented on #146
Closing this item for the time being as it requires some architectural changes to content that are not currently on the radar.

[2019-11-25 23:16] #146 closed

[2019-11-25 23:16] dendeli-msft commented on #144
Closing this item as it's currently not on the radar.

[2019-11-25 23:16] #144 closed

[2019-11-25 23:18] dendeli-msft commented on #141
Closing this item as it's currently not something that we're looking at. The mobile experience with the docs.microsoft.com website should provide all context and functionality.

[2019-11-25 23:18] #141 closed

[2019-11-25 23:18] dendeli-msft commented on #97
Closing this item, as we've done a number of improvements that make the overall page readability better.

[2019-11-25 23:18] #97 closed

[2019-11-25 23:19] dendeli-msft commented on #45
Closing this item as it's mostly related to content, that can be addressed by the respective authors.

[2019-11-25 23:19] #45 closed

[2019-11-25 23:20] dendeli-msft commented on #2195
Hello! Given that this feedback is not related to docs.microsoft.com, we cannot address it in this forum. Please refer to the product documentation for guidance on how to submit feedback to the right channel.

[2019-11-25 23:20] #2195 closed

[2019-11-25 23:20] dendeli-msft commented on #2193
Hello! Given that this feedback is not related to docs.microsoft.com, we cannot address it in this forum. Please refer to the product documentation for guidance on how to submit feedback to the right channel.

[2019-11-25 23:20] #2193 closed

[2019-11-26 09:49] mlottner commented on #2192
@karlra Thanks for taking the time to give us feedback.
I've reassigned your issue to the .NET team for awareness and potential fix/update.
Appreciate your contribution!

[2019-11-26 09:52] mlottner commented on #2194
@Fawziya Thanks for taking the time to give us feedback.
I've reassigned this issue to a member of our localization team for awareness and a potential fix.
Appreciate your contribution to our community!

[2019-11-26 09:53] mlottner commented on #2197
@nchambe Thanks for taking the time to give us feedback.
I've reassigned this issue to the content owner for awareness and a potential fix.
Appreciate your contribution to our community!

[2019-11-26 10:01] mlottner commented on #2198
@Ronsss Thanks for taking the time to give us your feedback.

As noted at the top of the page, the content you references has been retired and may not be updated in the future. The product, service, or technology mentioned in the content is no longer supported. Links within the content may or may not be working as related locations may have been changed or moved.

Make sure to use only supported p

[2019-11-26 10:01] #2198 closed

[2019-11-26 10:07] mlottner commented on #2199
@Ronsss Thanks for taking the time to give us your feedback.

As noted at the top of the page, the content you references has been retired and may not be updated or maintained in the future. The product, service, or technology mentioned in the content is no longer supported. Links within the content may or may not be working as related locations may have been changed or moved.

Make sure to use on

[2019-11-26 10:07] #2199 closed

[2019-11-26 11:56] Ronsss commented on #2198
How about adding a link to direct readers to the current version?  Searching your sites is a lost cause.  It is a simple task to provide this trivial customer service.l

On Tue, Nov 26, 2019 at 4:01 AM Miriam Lottner <notifications@github.com<mailto:notifications@github.com>> wrote:

Closed #2198<https://github.com/MicrosoftDocs/feedback/issues/2198>.

—
You are receiving this because you were men