[2018-10-26 13:11] Jesmion opened #805 "BiafraNGO"
BiafraNGO has schedule to setup sustainable social workshop in order to meetup with the 2030 agenda on poverty eradication

[2018-10-26 13:25] Jesmion opened #806 "BiafraNGO"
I FOUND THE SYSTEM INTACT; HOWEVER, I GUESS IT MIGHT NOT CONTAIN MY LONG DOCS...

[2018-10-26 15:55] #806 closed

[2018-10-26 15:56] #805 closed

[2018-10-26 16:14] dend commented on #803
@AnthonyHKOPT could you please give us some more information on what article this refers to?

[2018-10-26 17:12] dend commented on #765
@svick the intent behind the API Browser is to be "IntelliSense in the browser" - we never intended for it to be a generic search mechanism. As such, we want to make sure that we are strictly following language fully qualified name patterns for discovery.

[2018-10-26 17:12] #765 closed

[2018-10-26 17:16] dend commented on #771
@mrlife the link points to an internal bug tracker, so you won't be able to access it. We are working on getting this fixed. I will update the issue once we resolve the underlying bug.

[2018-10-26 17:45] mairaw commented on #637
Sure. But when the text is being completely dropped, I'd say is a 🐞
The system should never intend to drop the text from the sentence.

[2018-10-26 19:46] dend commented on #755
@TanvirShah what browser are you using? Are you signing in with an organization (AAD) or personal (MSA) account?

[2018-10-26 19:48] dend commented on #718
@bachoang given that this is a Graph issue, we'd recommend you open the issue in the Graph documentation repository - https://github.com/microsoftgraph/microsoft-graph-docs

[2018-10-26 19:48] #718 closed

[2018-10-26 19:49] dend commented on #797
This is a duplicate of the #469.

[2018-10-26 19:49] #797 closed

[2018-10-26 19:51] dend commented on #804
@naveenchauhanctae can you please provide more information on what the browser and OS is that you are encountering issues with?

[2018-10-26 20:01] dend commented on #735
#log-suggestion @dend

@LadyNaggaga @Powerhelmsman I can take this, as it's a bug on our side.

[2018-10-26 20:01] botcrane commented on #735
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=47399) logged.

[2018-10-26 20:13] nschonni commented on #735
https://w3c.github.io/aria-practices/#TreeView might be helpful, but I'm not sure if those examples are still being tested

[2018-10-26 21:31] ginami commented on #690
Hi @mspncp -- thanks for letting us know about this issue! We're working on getting the table fixed.

[2018-10-26 21:32] ginami commented on #733
Thank you @bcmills for letting us know--we're working on getting this fixed!

[2018-10-26 21:36] ginami commented on #737
Thank you @jasonoverland for letting us know! We're working on fixing this issue.

[2018-10-26 21:40] ginami commented on #758
Thank you @andreyzapt for letting us know--we're working on the issue!

[2018-10-26 21:43] ginami commented on #767
Thank you @lwahonen for your feedback! We're looking into the issue.

[2018-10-26 21:46] ginami commented on #775
Hi @Const-me -- thank you very much for your feedback; we're looking into the issue.

[2018-10-26 21:48] ginami commented on #781
Thank you @GunnarTE for your feedback -- we're looking into the issue.

[2018-10-26 21:49] ginami commented on #785
Thank you @Ilya33 for letting us know--we're working on the issue.

[2018-10-26 21:52] ginami commented on #788
Thank you @tommai78101 for your feedback -- we're looking into the issue.

[2018-10-26 21:54] ginami commented on #792
Hi @Ilya33 -- thank you for your feedback! We're working on the issue.

[2018-10-26 21:56] ginami commented on #799
Thank you @wu-wenxiang for letting us know -- we're looking into the issue!

[2018-10-26 21:57] ginami commented on #800
Thank you @akeeton for letting us know -- we're working on the issue.

[2018-10-26 21:57] mairaw opened #807 "Direct link to GitHub for Content feedback is broken"
Original GitHub issue https://github.com/dotnet/docs/issues/8676 from @Structed

On [this documentation page](https://docs.microsoft.com/en-us/dotnet/api/system.componentmodel.dataannotations.datatype?view=netframework-4.7.2), the direct link to leave feedback on GitHub is broken.

![image](https://user-images.githubusercontent.com/29922/47593493-d56fa700-d977-11e8-82e6-aeb7d8964a97.png)

Instead,

[2018-10-26 21:59] mairaw commented on #807
It might be due to the fact that are issues from dotnet-api-docs are configured to go to dotnet/docs. But still this should work given we tell the target repo for issues: https://github.com/dotnet/dotnet-api-docs/blob/master/docfx.json#L53

[2018-10-26 22:01] ginami commented on #766
Thank you @jabelloc for letting us know; we're working on the issue.

[2018-10-26 23:51] dend commented on #734
#log-suggestion

[2018-10-26 23:51] botcrane commented on #734
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=47429) logged.

[2018-10-26 23:56] AnthonyHKOPT commented on #803
I am referring to Will's presentation.

--- 原始郵件 ---

寄件者： "Den Delimarsky" <notifications@github.com>
已傳送： 2018年10月27日 00:14
收件者： "MicrosoftDocs/feedback" <feedback@noreply.github.com>
副本： "AnthonyHKOPT" <minghinghk@outlook.com>, "Mention" <mention@noreply.github.com>
主旨： Re: [MicrosoftDocs/feedback] Sample Files (#803)

@AnthonyHKOPT<https://github.com/AnthonyHKOPT> could you please give us some

[2018-10-26 23:56] dend commented on #732
#log-suggestion @dend

@presleyy @atrain247365 yes, that is new functionality that we need to add.

[2018-10-26 23:56] botcrane commented on #732
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=47430) logged.

[2018-10-26 23:58] dend commented on #723
@dastaffo would probably be the right person to take a look at this 😄

[2018-10-26 23:59] dend commented on #722
@dastaffo works on PDF and chromeless functionality, therefore I would defer to him on the request.

[2018-10-27 00:00] dend commented on #732
This is a dupe of #637, though - I will close this item, and keep the internal ticket open for tracking.

[2018-10-27 00:00] #732 closed

[2018-10-27 00:01] dend commented on #637
Tracked here: https://ceapex.visualstudio.com/Engineering/_workitems/edit/47430

[2018-10-27 00:02] dend commented on #477
Documentation should [now be available](https://docs.microsoft.com/en-us/dotnet/api/?term=System.IO.Pipelines)!

![image](https://user-images.githubusercontent.com/1389609/47597140-e9e47d00-d940-11e8-991f-bdd12fd5185b.png)

[2018-10-27 00:02] #477 closed

[2018-10-27 01:14] JasonCard commented on #789
Hi @imba-tjd This issue has been fixed, so Edit button now got to live branch.
Thank you again for reporting this issue.
cc @Powerhelmsman @CeciAc

[2018-10-27 01:14] #789 closed

[2018-10-27 02:35] Powerhelmsman commented on #807
@jialge Can you take a look at this bug?

[2018-10-27 02:36] Powerhelmsman commented on #782
@shomavg All the broken links are fixed. Please double check.

[2018-10-27 02:36] #782 closed

[2018-10-27 05:48] naveenchauhanctae commented on #804
Hi

The main problem is  the size of Pdf created for the article. Its 300 MB. I cant find option to sub-section creating smaller pdf files.

I am using Google chrome on windows 10.

Thanks 🙂
Naveen Chauhan

On 27-Oct-2018, at 1:21 AM, Den Delimarsky <notifications@github.com<mailto:notifications@github.com>> wrote:

@naveenchauhanctae<https://github.com/naveenchauhanctae> can you please provide mo

[2018-10-27 19:11] jasonoverland commented on #737
FYI: When running a recursive wget on
https://docs.microsoft.com/en-us/windows/desktop/wic, I got a 404 (Not Found) error for the following links.

https://docs.microsoft.com/en-us/windows/desktop/wic/graphics/progressive-jpeg-comparison.jpg
https://docs.microsoft.com/en-us/windows/desktop/wic/graphics/png-progressive-comparison.jpg
https://docs.microsoft.com/en-us/windows/desktop/wic/graphics/ycb

[2018-10-28 19:29] nschonni opened #808 "Add "common misspelling" spellcheck to repo validation hooks"
**Is your feature request related to a problem? Please describe.**
Full spell checking probably wouldn't work at this time because of the level of technical terms and products that would make the builds fail and be ignored. Adding basic blacklist of common (English) misspellings would improve article quality with less friction.

**Describe the solution you'd like**
Add a basic blacklist from somet

[2018-10-28 19:53] nschonni commented on #756
@EdisonDa I opened https://github.com/MicrosoftDocs/security-updates.zh-tw/issues to try and fix the main issue I came across, but I'm not sure if that repo is actually maintained

[2018-10-29 02:11] nschonni commented on #807
This appears to be affecting a lot of repos not just dotnet

[2018-10-29 03:30] EdisonDa commented on #756
Thank you @nschonni for your contribution and passion . The team will triage the PR and get back to you!

[2018-10-29 15:54] johnduhart opened #809 "APIs for ASP.NET Core 2.2 Preview 3 are missing"
**Describe the bug**
No APIs for ASP.NET Core 2.2 Preview 3 are available.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/dotnet/api/index?view=aspnetcore-2.2
2. See "No Namespaces"

**Expected behavior**
I should see a list of available namespaces to browse.

[2018-10-29 16:11] Powerhelmsman commented on #804
@dend For your awareness.

[2018-10-29 16:12] Powerhelmsman commented on #737
@ginami for your awareness.

[2018-10-29 16:49] dend commented on #809
Thanks for the report, @johnduhart - we will get this addressed shortly.

[2018-10-29 17:41] siriwanussavapitukpong opened #810 "Help me please"
I want you supported and pull my project.
Help me please!
Thank you very much😘

[2018-10-29 17:57] Powerhelmsman commented on #810
@siriwanussavapitukpong This channel is for Docs site feedback and content issue instead of general question or request.

[2018-10-29 17:57] #810 closed

[2018-10-29 17:58] Powerhelmsman commented on #808
@cillroy Is this your area?

[2018-10-29 18:04] siriwanussavapitukpong opened #811 "Help me please!"
I want to support my project.
You are help me please.
Thank you very much😘

[2018-10-29 19:32] joelharkes opened #812 "PRINTER_NOTIFY_INFO_DATA not documented correctly for 64bit"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.
Article does not contain comments section!

**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/printdocs/printer-notify-info-data
Tell us where exactly a problem occurs.

**Problem:**
Big error in documentation:

[code]

Explanation:

[2018-10-29 20:17] jialge commented on #807
I am looking at this now.

[2018-10-29 21:30] s3cur17y15m34n1ngl355 opened #813 "Spelling Error in Syntax"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/sql/t-sql/statements/add-sensitivity-classification-transact-sql?view=azuresqldb-current

**Problem:**
In the #Remarks section of the article, the following syntax has an error in it: "ADD SENSITIVI

[2018-10-29 21:36] Powerhelmsman commented on #813
@craigg-msft Can you take a look at this content issue?

[2018-10-29 23:01] ShevaDas commented on #779
@jasonjgeiger This should be fixed. Closing it out.

[2018-10-29 23:01] #779 closed

[2018-10-30 08:05] joelharkes opened #814 "Print Spooler Api 64bit incorrect documentation for GetJob()"
**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/printdocs/getjob

**Problem:**
What's wrong with the article?
[code]

LP DWORD => pointer to DWORD. in 64bit should be an IntPtr. but then you get error that parameter is not correct.

It is actually always a 32integer even in 64bit. So i think this must actually be DWORD instead of LPDWORD?

[2018-10-30 08:19] joelharkes commented on #814
Actually seems to not fix it.

[2018-10-30 08:19] #814 closed

[2018-10-30 13:51] HaDayaGo opened #815 "Content of webpage doesn't look properly"
The content of _Windows UWP overview_ webpage doesn't look properly in maximized browser window, some horizontal content of webpage is out of browsing area even webpage doesn't show horizontal scrolling bar to access that content.

**Link of  Page**
https://docs.microsoft.com/en-us/windows/uwp/get-started/

Make them look properly even in maximized browser window.

**Maximized Browser window**
![s

[2018-10-30 14:26] AndresPae opened #816 "DPM 1807 and 1801(?) doc errors"
In
https://docs.microsoft.com/en-us/system-center/dpm/use-ops-manager-to-manage-monitor-dpm?view=sc-dpm-1807
(BTW! ther isnt comment/feedback section on this page)
IN the section - https://docs.microsoft.com/en-us/system-center/dpm/use-ops-manager-to-manage-monitor-dpm?view=sc-dpm-1807#BKMK_Import
item 2. Download DPM management packs leads to wrong, older  version (5.0.1300.0 which cant monitor l

[2018-10-30 14:58] ccav01 opened #817 "Microsoft servicebus and app.config"
Please stop f**king up my config files.  1) We don't need your 'help' with config, if you are going to insist on appending stuff to the config, please wrap it all as a comment so I don't end up with bug just because I added/updated servicebus

[2018-10-30 16:10] Powerhelmsman commented on #815
@HaDayaGo I create a internal bug to track it. https://icm.ad.msft.net/imp/v3/incidents/details/89940377/home

[2018-10-30 16:13] Powerhelmsman commented on #816
@markgalioto Can you take a look at this issue?

[2018-10-30 16:17] Powerhelmsman commented on #817
@ccav01 Where is your app.config, and who modify your file? Is this Docs site issue?

[2018-10-30 17:50] stevestein commented on #769
@yualan - can you verify if this should work or not? Thanks.

[2018-10-30 17:55] stevestein commented on #770
@khuramshahzad - I see the URL goes 404, but need additional info. Which article had this link in it?

[2018-10-30 18:00] stevestein commented on #780
@JosieBigler - thanks for pointing this out. The typo has been fixed.

[2018-10-30 18:21] #780 closed

[2018-10-30 20:43] yualan commented on #769
@mzaman1 may have more context on this

[2018-10-30 20:46] b-ammons opened #818 "Cluster API links are broken"
https://docs.microsoft.com/en-us/previous-versions/windows/desktop/mscs/standard-order-of-preference
https://docs.microsoft.com/en-us/previous-versions/windows/desktop/mscs/general-utility-functions
https://docs.microsoft.com/en-us/previous-versions/windows/desktop/mscs/property-list-parsing-functions
https://docs.microsoft.com/en-us/previous-versions/windows/desktop/mscs/cluster-registry-access-f

[2018-10-30 20:49] manoj24t opened #819 "please provide some basic things for Noobies and Students"

[2018-10-30 21:05] mzaman1 commented on #769
DWLoader cannot be installed on Linux. The doc doesn't point to DWLoader which is a specialized tool for loading data into APS only.

[2018-10-30 21:38] stevestein commented on #769
@mzaman1 - Thanks for clarifying.

[2018-10-30 23:02] Powerhelmsman commented on #818
@b-ammons Thanks for your feedback. Unfortunately all the above contents are no longer updated due to out of product lifecycle. Please go to newer version to find up to date document.

[2018-10-30 23:02] #818 closed

[2018-10-30 23:03] Powerhelmsman commented on #819
@manoj24t Can you provide more details about your request?

[2018-10-30 23:05] b-ammons commented on #818
I cannot find a newer version. When I click on the "Recommended Version" button at the top of these pages I am taken to a generic page.

Where is the newer version page?

[2018-10-31 03:59] dend commented on #90
The content is now available:
https://docs.microsoft.com/en-us/dotnet/api/System.Web.Helpers?view=aspnet-webpages-3.2

[2018-10-31 03:59] #90 closed

[2018-10-31 04:35] alex--thomas opened #820 "Add to Azure DevOps"
Please could this capability be added to Azure DevOps instances at the Account and Project level. Thanks

[2018-10-31 04:35] dend commented on #795
This is now fixed, thanks for the feedback @IshamMohamed!

[2018-10-31 04:35] #795 closed

[2018-10-31 07:00] deadlydog opened #821 "Cannot "Sign in to give documentation feedback" using Firefox"
**Describe the bug**
Clicking the `Sign in to give documentation feedback` button on the bottom of each microsoft docs page does not work in Firefox.

**To Reproduce**
Steps to reproduce the behavior:
1. Using the latest version of Firefox (currently 63.0), go to https://docs.microsoft.com/en-us/teamblog/a-new-feedback-system-is-coming-to-docs#your-feedback or any other Microsoft Docs page.
2. Cli

[2018-10-31 13:57] TheBeardedLlama opened #822 "Please add the feedback module to the Application Insights docs"
Hey guys/gals,
Loving the new docs and have already submitted PR's etc.
I was looking at this page:
https://docs.microsoft.com/en-gb/rest/api/application-insights/components/purge

However, it doesn't have the feedback module at the bottom like the others. I looked at some of the other pages in its neighbourhood and they also lack that module.

It'd be great to have it there :)

Thanks for all you

[2018-10-31 15:57] Powerhelmsman commented on #821
@jialge Can you take a look at this bug?

[2018-10-31 15:59] Powerhelmsman commented on #822
@jialge Can you take a look at this suggestion?

[2018-10-31 16:34] fleetr opened #823 "U-SQL Built-in Extractors : Incorrect information on time zone normalisation"
**Link to article:**
[U-SQL Built-in Extractors](https://docs.microsoft.com/en-gb/u-sql/functions/operators/built-in-extractors)

**Problem:**
Article states that:

In reality it normalises the values to the time zone of the environment executing the job that would be in force at the time of the value, if that makes sense.

So running on Azure this is what happens:

- 2018-20-10T12:00Z => 2018-20-

[2018-10-31 17:08] Powerhelmsman commented on #823
@MikeRys Can you take a look at this feedback?

[2018-10-31 20:09] danroth27 commented on #90
Thanks @dend!

Did the ASP.NET Web API docs get added? I only see MVC and Web Pages listed . . .

![image](https://user-images.githubusercontent.com/1874516/47815658-30a1f080-dd0e-11e8-890e-020f159f5e57.png)

[2018-10-31 21:36] C-Lion commented on #813
It seemed clear from the rest of the document that it is a typos & it was repeated in one other location as well. I just submitted a PR to fix those 2 typos in the repo: https://github.com/MicrosoftDocs/sql-docs/pull/1195

[2018-11-01 02:12] wu-wenxiang commented on #799
@Powerhelmsman @ginami Thanks for your reply!
Do you have a plan to fix this issue?

[2018-11-01 14:56] johnduhart opened #824 "EFCore API Reference contains test assemblies"
Example: https://docs.microsoft.com/en-us/ef/core/api/microsoft.entityframeworkcore.sqlserver.design.tests.apiconsistencytest

[2018-11-01 15:54] dend commented on #699
#log-suggestion @dend

@conceptdev @davidbritch we need to fix that.

[2018-11-01 15:54] botcrane commented on #699
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=48293) logged.

[2018-11-01 17:01] dend commented on #824
@divega @Rick-Anderson this looks like legacy API that needs to be redirected to the modern docs: https://docs.microsoft.com/en-us/dotnet/api/?view=efcore-2.1

Can you confirm?

[2018-11-01 19:51] LeonLaude opened #825 "Correction in the SCOM documentation"
Hi,

The registry path given in **Step 6** under the **Install SQL Server 2017 Reporting services** on the **How to upgrade Operations Manager 1807 databases to SQL Server 2017** documentation is wrong.

**Link to article:**
[](https://docs.microsoft.com/en-us/system-center/scom/upgrade-sqlserver-2017-opsmgr-1807?view=sc-om-1807#install-sql-server-2017-reporting-services)

**Problem:**
The  regist

[2018-11-02 14:34] Akhil2817 opened #826 "Enable multi-factor authentication"
I was just going through the following weblink on  Enable multi-factor authentication

https://docs.microsoft.com/en-us/partner-center/develop/enable-multi-factor-authentication#security-requirements-faq

Under the Security requirements FAQ , the link provided is broken

However on the extreme  right there are few hyperlinks where the Security requirement FAQ is accessible.

Please have this fixed

[2018-11-02 18:00] GZibrat opened #827 "404 Not found on some pages"
https://docs.microsoft.com/en-us/windows/desktop/secauthn/authentication-functions#functions-implemented-by-sspaps

The links under  "Functions Implemented by SSP/APs" throw 404 errors.

For example:
https://docs.microsoft.com/en-us/windows/desktop/api/Ntsecpkg/nc-ntsecpkg-lsa_ap_logon_user_ex2

[2018-11-02 18:35] JEPauley opened #828 "Microsoft Learning / Techprofile login is broken"
I have been attempting to complete training on Microsoft Learning for Azure learning paths but have been unable to login to the application for the past 4-5 days.   When navigate to the learning path and attempt to sign-in it takes me to the techprofile page and not to a login dialog.

I already have a techprofile with my account which I have completed sessions on but I have no way to login and co

[2018-11-02 20:11] divega commented on #824
@dend yes, that is correct. Issue https://github.com/aspnet/EntityFramework.ApiDocs/issues/9 is about setting up redirects and clearing it up, but I don't think it is in anyone's plate to do this. Would it help to track it here?

[2018-11-02 20:14] divega commented on #824
@johnduhart If you remember how you reached that page, that would be great. I want to make sure we don't have any links to the old API reference in our conceptual docs.

[2018-11-02 20:54] EsaHeinonen commented on #827
I ran into the same issue on the DirectShow reference pages. For example, none of the links (that I tried) on the "Alphabetical List of DirectShow Interfaces" are working:
[https://docs.microsoft.com/en-us/windows/desktop/directshow/alphabetical-list-of-directshow-interfaces](https://docs.microsoft.com/en-us/windows/desktop/directshow/alphabetical-list-of-directshow-interfaces)

[2018-11-02 22:42] Powerhelmsman commented on #826
@Xansky Can you take a look at this content issue?

[2018-11-02 22:43] Powerhelmsman commented on #827
@ginami Can you take a look at this issue?

[2018-11-02 23:20] dend commented on #734
This bug has been resolved @LadyNaggaga 🥳

[2018-11-02 23:20] #734 closed

[2018-11-02 23:30] Xansky commented on #826
Thanks for catching this! The link has been fixed.

[2018-11-03 01:35] johnduhart commented on #824
@divega iirc it was a google search that landed me on those pages.

[2018-11-03 02:43] #826 closed

[2018-11-03 02:52] Powerhelmsman commented on #820
@alex--thomas Can you provide more detail? What's capability you refer to?

[2018-11-03 02:54] Powerhelmsman commented on #825
@MGoedtel Can you take a look at this issue?

[2018-11-03 02:57] Powerhelmsman commented on #815
@QuinnRadich Can you take a look at this bug?

[2018-11-03 06:53] divega commented on #824
Thanks @johnduhart. Good to know. Once the redirects are in place, that shouldn’t be a problem anymore.

[2018-11-03 23:54] birbilis opened #829 "broken link"
**Link to article:**
https://docs.microsoft.com/el-gr/previous-versions/windows/desktop/mstv/about-the-dvr-ms-file-format

**Problem:**
the link to
https://support.microsoft.com/el-gr/help/329979
is broken

I didn't see any comments section btw so posting issue here

[2018-11-04 18:26] pkulikov opened #830 "Unexpected visual style of the alert boxes"
Colors and header icons of the alert boxes (for example, warnings and notes) are not as expected.

Expected visuals are presented at the [dotnet/docs doc template](https://github.com/dotnet/docs/blob/master/styleguide/template.md#alerts):

![image](https://user-images.githubusercontent.com/15279990/47968051-ccac5e80-e064-11e8-911e-ba76be04bc5c.png)

Reality is different:

- Warnings do not stand o

[2018-11-05 10:51] proof85 opened #831 "Missing ADK for Windows 10 LTSB 2015"
Following site does not contain a link for the Windows 10 LTSB 2015 ADK

https://docs.microsoft.com/en-us/windows-hardware/get-started/adk-install

Can you fix this, please?

[2018-11-05 12:33] parkpc opened #832 "Request docs/Surface Ko-kr Repository"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/ko-kr/surface/deploy-the-latest-firmware-and-drivers-for-surface-devices

**Problem:**
Korean grammar and translation errors are serious. There are also a lot of grammatical errors in the docs / Surface d

[2018-11-05 16:10] JamesPauleyJr commented on #828
Any update on this bug?  I'm 100% blocked on any Microsoft Learning courses for Azure.  I've tried different browsers, clearing cache data but the process to signing to Microsoft learning continues to lead me to the create a profile page for TechProfile.   My account is James.Pauley@Sojournis.com

[2018-11-05 16:18] JoseFMP opened #833 "Azure DevOps: No example on how to use PAT to access git repositories"
**Problem**
There is beautiful documentation about the PATs in Azure DevOps and how nice and convenient they are.
However there is not even a single example on how to use them from the user perspective, i.e. there are examples on how to create them but not how to consume them. Not a single one.

**Solution**
It would be great to have at least a single example on how to consume the PATs to clone a

[2018-11-05 16:51] Powerhelmsman commented on #830
@pkulikov Your issue is transferred to Dotnet repo. They will help you there.

[2018-11-05 16:51] #830 closed

[2018-11-05 16:53] Powerhelmsman commented on #829
@birbilis Thanks for your feedback. The page is no longer to update due to out of product lifecycle. Please go to the newer version.

[2018-11-05 16:53] #829 closed

[2018-11-05 16:54] Powerhelmsman commented on #831
@dawnwood Can you take a look at this feedback?

[2018-11-05 16:55] Powerhelmsman commented on #832
@SonjaSaltzman Can you take a look at this localization issue?

[2018-11-05 16:56] dawnwood commented on #831
Yes, @Powerhelmsman I will look into this.

[2018-11-05 16:56] Powerhelmsman commented on #833
@JoseFMP Can you provide the link you refer to?

[2018-11-05 17:21] dawnwood commented on #831
Hi @proof85 There is no specific ADK for the Windows 10 2015 LTSB, however, that branch is based on Windows 10, version 1507, and can use the equivalent ADK or later, which means you can use any of the Windows 10 ADKs.
Hope this helps!
Dawn

[2018-11-05 17:38] Mei-Liang commented on #828
@JEPauley, sorry to hear about the issue. Could you please help clarify a few things:
1. You are signing using Azure Active Directory organization account. not Microsoft Account, correct?
2. What's your profile url, for example: https://techprofile.microsoft.com/en-US/mliang
3. When did you create your tech profile, after creating the profile, were you able to sign in at least once?

Thanks
Mei

[2018-11-05 17:47] JEPauley commented on #828
1] I believe I'm signing in using AAD, (james.pauley@sojournis.com) provisioned @ godaddy.com
2] https://techprofile.microsoft.com/en-us/jamespauleyjr
3] Yes, I created a tech profile and completed several learning modules before it started to have this bug/behavior.

[2018-11-05 18:57] dend commented on #735
This is now resolved @LadyNaggaga @nschonni 🎉

[2018-11-05 18:57] #735 closed

[2018-11-05 19:16] mrlife commented on #771
Looks fixed, thank you!

[2018-11-05 21:10] stevestein commented on #769
#please-close

[2018-11-05 21:17] #769 closed

[2018-11-06 01:22] h-matsuo opened #834 "Character > (greater than) is not escaped properly"
**Link to article:**
Naming Files, Paths, and Namespaces
https://docs.microsoft.com/en-us/windows/desktop/fileio/naming-a-file

**Problem:**
In the reserved characters list (written in the Naming Conventions section),

- Currently:

  - > (greater than)

- But should be:

  - \> (greater than)

[2018-11-06 03:37] SonjaSaltzman commented on #832
Assigning to @ndolci whose team is in charge of localizing Surface.  Nicola, could you please follow up?

[2018-11-06 06:04] Abraxsys opened #835 "Administrator left the company and I don't know how to get into company account"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2018-11-06 09:49] proof85 commented on #831
Hi, thank you for the information. Is it possible to include the ADK 1507 on the mentioned site.

(I need to customize the windows recovery environment for Windows 10 LTSB 2015. This is can be done exclusively using the 1507 ADK - adding PE-packages, for example)

[2018-11-06 13:51] MGoedtel commented on #825
@LeonLaude @Powerhelmsman - Yes I will bug this and investigate once I catch up after coming back from vacation.  #in-process

[2018-11-06 17:48] LeonLaude commented on #816
Hi,

Since there's already an open issue about the DPM documentation I would like to add one more thing.

On the following page https://docs.microsoft.com/en-us/powershell/module/dataprotectionmanager/get-dpmdatasource?view=systemcenter-ps-2016 under **Description** there is a hyperlink for "Get-DPMChildDatasource", it links to the wrong page, it links to the same page.

It should link to the foll

[2018-11-06 18:30] Powerhelmsman commented on #835
@Abraxsys Sorry to hear that. This is about user privacy. Microsoft has very strict user privacy protection. There is no way for us to let you get into company account.

[2018-11-06 18:30] #835 closed

[2018-11-06 18:32] Powerhelmsman commented on #831
@dawnwood for your awareness.

[2018-11-06 18:40] dawnwood commented on #831
I'm looking into it now, stay tuned!!

[2018-11-06 18:43] jcron opened #836 "Broken table formatting"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
[Using SO_REUSEADDR and SO_EXCLUSIVEADDRUSE](https://docs.microsoft.com/en-us/windows/desktop/WinSock/using-so-reuseaddr-and-so-exclusiveaddruse)

**Problem:**
What's wrong with the article?
Formatting of the table isn't right
![sc

[2018-11-06 18:51] ShevaDas commented on #771
@mrlife Thanks for the report! I'll close this out now. Feel free to open a new issue if other things crop up.

[2018-11-06 18:51] #771 closed

[2018-11-06 18:52] Powerhelmsman commented on #836
@ginami Can you take a look at this issue?

[2018-11-06 21:53] FrontierDK opened #837 "Please allow Microsoft speech SDK 5.4 to be downloaded"

[2018-11-06 21:59] Powerhelmsman commented on #837
@FrontierDK Can you provide the page link you refer to?

[2018-11-06 22:54] FrontierDK commented on #837
There is no page. The SDK doesn't seem to be available anywhere - but it's shown in Microsoft's own code examples, both on MSDN and the documentation for speech server 11.

https://docs.microsoft.com/en-us/previous-versions/windows/desktop/ee125374%28v%3Dvs.85%29

This page has a source example showing this line:
FileName = "C:\Program Files\Microsoft Speech SDK 5.4\Samples\"

In the 5.1 version,

[2018-11-06 22:55] Sampy commented on #828
When you go to sign in with an In Private/Incognito browser, is this the flow that you see?

1. Click Sign In on a Learn page
2. Navigate to a login.live.com URL where you enter your email (james.pauley@sojournis.com)
3. You are then sent to a login.microsoftonline.com URL to enter your password
4. After you do, you are redirected to the TechProfile registration screen and asked to select a user n

[2018-11-06 22:59] FrontierDK commented on #837
https://docs.microsoft.com/en-us/previous-versions/windows/desktop/ee125085(v%3dvs.85) lists the mkvoice utility...but it's not included in the Windows 7 SDK. Since the 5.4 IS mentioned in the Microsoft source code example (and many other places), why not release it? Both Google and Bing is littered with search results for people asking for the download...

[2018-11-06 23:35] Powerhelmsman commented on #837
@FrontierDK The above pages are all no longer to updates due to out of production lifecycle. But I found a page seems can answer your question: https://social.msdn.microsoft.com/Forums/en-US/15c73cd7-1393-45c2-83be-fbd8a3accf43/where-to-download-the-speech-sdk-54-language-package?forum=netfxbcl

[2018-11-07 02:39] ickacn opened #838 "404 Not found on some pages"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
http://msdn.microsoft.com/en-us/library/windowsazure/dn451351.aspx

**Problem:**
What's wrong with the article?

Windows Azure Desktop Hosting - Reference Architecture and Deployment Guides.  404 not found

[2018-11-07 02:54] Powerhelmsman commented on #838
@ickacn When I click the above link. It works now, and the page said: "This information has been moved to the Windows Server library on TechNet. You can find the information at https://technet.microsoft.com/library/mt404690(WS.11).aspx"

[2018-11-07 13:24] alexxn opened #839 "Content type link is broken"
Page: https://docs.microsoft.com/en-us/previous-versions/dotnet/netframework-4.0/ydy4x04a(v=vs.100)

See description of Content-Type field.

It has a link to MSDN which leads to nowhere
http://go.microsoft.com/fwlink/?linkid=37118

[2018-11-07 16:01] JerryCRMI opened #840 "Filtering on Microsoft Flow or Flow"
I was checking out the learn site for Flow cause I was going to do a blog post.

The search function needs some more help or better metadata tagging?

If you search on Flow you get some training that uses the phrase ‘data flow’ in their course bullets.

![image](https://user-images.githubusercontent.com/19864267/48143182-df48b280-e273-11e8-9b22-c14bb4b3278b.png)

But if you search on Microsoft Flo

[2018-11-07 16:21] Mary268 opened #841 "maximum recursion depth exceeded in azureml.deploy.DeployClient.service"
Hi there, when I am passing a model to deployclient, it gave back an error 'maximum recursion depth exceeded' in the server (show blow). **Could you please advise how to increase the 'maximum recursion depth' in the server ???** (e.g. if it happened in my local, it can be solved as simple as run python code: sys.setrecursionlimit(50000))
Thank you

ValueError: Error serializing clf_NB
Pipeline(ste

[2018-11-07 16:42] SlyEcho opened #842 "Missing docs for BITMAPV4HEADER and BITMAPV5HEADER"
**Link to articles:**
https://docs.microsoft.com/en-us/windows/desktop/api/Wingdi/ns-wingdi-bitmapv4header
https://docs.microsoft.com/en-us/windows/desktop/api/Wingdi/ns-wingdi-bitmapv5header

**Problem:**
Articles are missing.

They are linked from https://docs.microsoft.com/en-us/windows/desktop/gdi/bitmap-header-types for example.

[2018-11-07 17:13] Powerhelmsman commented on #839
@alexxn This page is no longer to update due to out of product lifecycle. Please go to the newer version.

[2018-11-07 17:13] #839 closed

[2018-11-07 17:14] Powerhelmsman commented on #840
@presleyy Can you take a look at this suggestion?

[2018-11-07 17:17] Powerhelmsman commented on #841
@Mary268 This channel is about Docs site feedback and content issue instead of Q/A forum. Can you go to https://azure.microsoft.com/en-in/support/community/ to seek the help?

[2018-11-07 17:17] #841 closed

[2018-11-07 17:18] Powerhelmsman commented on #842
@ginami Can you take a look at this issue?

[2018-11-07 20:20] patrickemmerich opened #843 "Auto-translate of the website translates also commands"
Your auto-translate feature of the website translates also commands, e.g. the pretty useful linux command 'export' to german 'exportieren'. Unfortunately, my linux system does not speak german and hence translating that command renders it pretty useless.

[2018-11-07 20:50] fame opened #844 "Code snippet is commented out by mistake"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/previous-versions/msp-n-p/dn589799%28v%3dpandp.10%29

**Problem:**
Notice in the Example section, C# code snippet's are completely commented out

[2018-11-07 21:06] Powerhelmsman commented on #843
@SonjaSaltzman Can you take a look at this feedback?

[2018-11-07 21:08] Powerhelmsman commented on #844
@fame Unfortunately, the content is no longer to update due to out of product lifecycle. Please go to the newer version.

[2018-11-07 21:08] #844 closed

[2018-11-07 21:21] SonjaSaltzman commented on #843
@patrickemmerich, thank you for your feedback. Could you please provide a couple sample URLs, and we'll try to fix that problem!

[2018-11-07 21:28] shailesh-yadav-moe opened #845 "Azure REST API - PIM privilegedOperationEvents error - Status Code 500"
**Describe the bug**

I am using REST API to get list of  all privileged operations for all the users. I followed following documentation:
https://developer.microsoft.com/en-us/graph/docs/api-reference/beta/api/privilegedoperationevent_list

Everything was fine until 6 Nov 2018 10 PM NZST, but now it's giving me following error in Response body:

---------------------------------------------------

[2018-11-07 21:33] Powerhelmsman commented on #845
@dend Can you take a look at this issue?

[2018-11-07 23:40] patrickemmerich commented on #843
See https://docs.microsoft.com/de-de/sql/connect/odbc/linux-mac/installing-the-driver-manager?view=sql-server-2017, Manuelle Installation, 6.:

"Führen Sie an einer Eingabeaufforderung den Befehl: exportieren CPPFLAGS."

"exportieren" ist translation of "export", but should not be translated, since it is a Linux command.

[2018-11-08 00:02] SonjaSaltzman commented on #843
thank you @patrickemmerich for the quick reply!
Adding @nokura to follow up on the feedback for SQL.

[2018-11-08 04:34] JEPauley commented on #828
1.  Click Sign In on a Learn page
  2.  Navigate to a login.live.com URL where you enter your email (james.pauley@sojournis.com<mailto:james.pauley@sojournis.com>)
     *   yes
  3.  You are then sent to a login.microsoftonline.com URL to enter your password
     *   No
     *   Re-directed to GoDaddy Office 365 sign-in. – enter password
     *   Directed to learn page of lesson plan I had URL for

[2018-11-08 04:50] JamesPauleyJr commented on #828
I was able to login and access the training modules under my tech profile “jamespauleyjr”.

However, once into the module and working on exercises, I receive an “Unable to provision Azure resources.”  This is an issue different from logging it but can it be related somehow?

Best Regards,

James

From: JEPauley <notifications@github.com>
Sent: Wednesday, November 7, 2018 8:34 PM
To: MicrosoftDocs/

[2018-11-08 04:52] JEPauley commented on #828
When I tried to login with a “normal” browser session, I end up with the create techprofile page when I try to login to the learning site.

From: Japes <notifications@github.com>
Sent: Wednesday, November 7, 2018 8:50 PM
To: MicrosoftDocs/feedback <feedback@noreply.github.com>
Cc: JEPauley <jimpauley@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/feedback] Microsoft

[2018-11-08 06:55] katefrancesca opened #846 "Microsoft Lean sandbox timeout"
Hi,

I really like the new Microsoft Learn site: learning + earning badges, win-win!  I have had some trouble with the sandbox that I wanted to bring to your attention though.  So far while studying a module I've had the sandbox reset three times.  It happened twice during the 'Build and run a web application with the MEAN stack' module.  It meant having to go back to the start of the module and r

[2018-11-08 13:16] kaki104 opened #847 "Request docs/windows/uwp Ko-kr Repository"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/ko-kr/windows/uwp/get-started/universal-application-platform-guide

**Problem:**
Korean grammar and translation errors are serious. There are also a lot of grammatical errors in the docs / Surface documen

[2018-11-08 13:48] presleyy commented on #840
Loop @dastaffo for this learn browse filter suggestion

[2018-11-08 15:54] LadyNaggaga opened #848 "Horizontal scrollbar looses mouse capture on mouse exit to the bottom"
We received the bug below.  Could you please have a look ? [Here is the link to the original issues ](https://github.com/dotnet/try/issues/146)

[2018-11-08 16:30] LadyNaggaga opened #849 "Error in text in Russian tutorial"
Hello we received the issue below on try .net repo. Could you please have a look ?
https://github.com/dotnet/try/issues/140

[2018-11-08 17:50] Powerhelmsman commented on #846
@yunyunyunyun @dastaffo Can you take a look at this suggestion?

[2018-11-08 17:52] Powerhelmsman commented on #847
@SonjaSaltzman Can you take a look at this issue?

[2018-11-08 17:54] Powerhelmsman commented on #848
@ShevaDas Is this your area?

[2018-11-08 17:55] Powerhelmsman commented on #848
@dend For you awarness.

[2018-11-08 18:04] sdmaclea commented on #347
I hit this same issue today.  This current behavior is very annoying.

Here was the issue I was about to write up.

The table of contents is not properly filtered to eliminates API's which are not included in the "Product" I am browsing.

This is irritating when I am trying to write code to conform to a specific API.  Additionally the browser will gratuitously change the API product I am browsing

[2018-11-08 18:09] sdmaclea commented on #347
The ideal would be to filter the table of contents.

A temporary solution would be to present a content which said the API was not available for the current product.  It could include a link to manually switch products.  It could include the set of supported products.

[2018-11-08 19:35] SonjaSaltzman commented on #847
@ndolci I believe this is in your content set, could you please follow up?

[2018-11-08 20:37] #840 closed

[2018-11-08 20:51] UdoBross opened #850 "https://docs.microsoft.com/de-de/windows-server/index"
The Website is not reachable

https://docs.microsoft.com/de-de/windows-server/index

Error 404

Thanks
Udo

[2018-11-08 20:53] Powerhelmsman commented on #849
@SonjaSaltzman Can you take a look at this issue?

[2018-11-08 21:56] JasonCard commented on #849
@DavidPrio Could you please help to move this issue to Russian loc repo and follow up?
Russian translation is missing minus sign "-" before 1 as mentioned in first comment.

[2018-11-09 02:14] HitechCFO opened #851 "Microsoft MCA Agreement"
Our customers are all very large, very sophisticated customers with very large legal departments. We are an ISV and a CSP. Our application is available only on Azure.
- do we have to present the MCA to our customers? We are not sure if the communication from Microsoft on mandatory acceptance applies to us and our application. With whom can we check to see if it applies or not ?
- When we present t

[2018-11-09 06:44] katefrancesca commented on #846
Hi, just wanted to update you as I noted down some more details after it happened this time.  This was while doing module 'Run Docker containers with Azure Container Instances'.  I was on unit 4 and at about 21 or 22 minutes since starting the module.  When I ran the next 'az container create' command I got the following red text in the CLI: "The resource group '23d11018-1c78-4399-ae9a-76790c180d5

[2018-11-09 07:20] Sleepingbug opened #852 "How to generate blob shared Signature with REST API ? No ducument about this is found"
there are docments about blob storage. but
how to generate blob shared Signature ?  no ducument about this is found

[2018-11-09 17:37] Powerhelmsman commented on #851
@HitechCFO This is a channel for Docs site feedback and site issue only. You probably can go to https://partner.microsoft.com/en-us/support to seek answer.

[2018-11-09 17:37] #851 closed

[2018-11-09 17:39] Powerhelmsman commented on #852
@dend Can you help here?

[2018-11-09 17:49] dend commented on #223
The documentation has been updated with the fix - all interfaces are now shown! 🎉

[2018-11-09 17:49] #223 closed

[2018-11-09 17:54] CeciAc commented on #849
Hi @JasonCard
I can't find the ru-ru repo to move this issue in the zenhub list (confirm I'd be https://github.com/dotnet/docs.ru-ru) but we can work it from here, would that be ok?

Kind regards
Microsoft DOCS International Team
@DavidPrio

[2018-11-09 17:57] dend commented on #52
Looping in @presleyy, who is working on search experiences. There might be value in implementing this broadly for all site search experiences, not just the API Browser.

[2018-11-09 19:05] GZibrat commented on #827
Update here?

[2018-11-09 19:22] JasonCard commented on #849
Hi @CeciAc
Yes, please help to manually move this issue to [https://github.com/dotnet/docs.ru-ru](https://github.com/dotnet/docs.ru-ru).
I also tried ZenHub, but maybe it cannot handle moving issues between repos in different orgs.

[2018-11-09 19:35] DavidPrio commented on #849
Hi @JasonCard @CeciAc can you try with https://help.github.com/articles/transferring-an-issue-to-another-repository/
This is new feature coming directly from GitHub, just shared by @Sara-Nicolini this week. Thanks!

[2018-11-09 19:38] CeciAc commented on #849
Hi @JasonCard
I created a new issue manually here: https://github.com/dotnet/docs.ru-ru/issues/150

@DavidPrio I tried but couldn't use that feature either, I even temporally deactivate ZenHub but the mentioned option did not appear. Let me know if we may be missing anything

![imagen](https://user-images.githubusercontent.com/26746247/48284309-cc81d980-e43d-11e8-9875-21c3b5810119.png)

[2018-11-09 20:00] ginami commented on #827
Hi @GZibrat -- thanks for letting us know about this! We'll get the page updated.

[2018-11-09 20:35] #849 closed

[2018-11-10 02:05] jocasti commented on #750
Created PR https://github.com/MicrosoftDocs/SystemCenterDocs-pr/pull/2050 for this issue.

[2018-11-10 02:06] jocasti commented on #750
Closing issue. Created PR https://github.com/MicrosoftDocs/SystemCenterDocs-pr/pull/2050

[2018-11-10 02:06] #750 closed

[2018-11-10 03:41] Powerhelmsman commented on #850
@SonjaSaltzman When I click the above link, it always redirect to en-us page. Can you take a look at this?

[2018-11-10 03:43] #838 closed

[2018-11-10 03:44] Powerhelmsman commented on #761
Close it due to lack of information.

[2018-11-10 03:44] #761 closed

[2018-11-10 03:45] Powerhelmsman commented on #803
@dend please take a look at AnthonyHKOPT's response.

[2018-11-11 12:02] ibakirov commented on #846
Today, I can't even start sandbox:

![untitled](https://user-images.githubusercontent.com/7983476/48312634-fa9d2000-e5db-11e8-8c5c-9b031985638c.png)

[2018-11-11 18:29] maelh opened #853 "Wrong numbers in remarks section of EM_SETSEL"
**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/controls/em-setsel

**Problem:**
Somehow the minus sign was lost during a transition of the documentation system.

The remark section says:

But correct would be (as in the previous documentation):

[2018-11-11 22:01] thomaslevesque commented on #52
It's probably possible to provide several search engines. Having one just for the API browser would be more useful to me.

[2018-11-11 23:16] SonjaSaltzman commented on #850
@ndolci - is this your content set? Could you please follow up?  thanks!

[2018-11-12 09:39] gitte-lindgren opened #854 "signalR toturials do not work"
https://docs.microsoft.com/en-us/aspnet/signalr/overview/getting-started/tutorial-getting-started-with-signalr-and-mvc

I now tried 2 different signalr tutorials with same result. do not work. I am getting a page with a textbox and a btn. not as expexted a plase to add the name

[2018-11-12 09:48] #854 closed

[2018-11-12 12:42] pstapf commented on #845
I'm facing exactly the same issue using the API with PowerShell getting token with Username/Password by ADAL:
Also with the following endpoint:
https://graph.microsoft.com/beta/privilegedRoles
https://graph.microsoft.com/beta/privilegedRoleAssignments

PIM is enabled (it worked before) user is PIM Admin and has a AADP2 license applied.
Also a customer of mine is affected where I use the same scrip

[2018-11-12 13:37] furia10 opened #855 "Enable FOR JSON feature in Azure SQL Data Warehouse"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2018-11-12 13:40] furia10 commented on #855
Hi,

FOR clause is not supported yet in Azure SQL Data Warehouse:
https://docs.microsoft.com/en-us/sql/t-sql/queries/select-for-clause-transact-sql?view=sql-server-2017

Please add support for this feature so that we can generate JSON and XML code through FOR JSON and FOR XML:
https://docs.microsoft.com/en-us/sql/relational-databases/json/format-query-results-as-json-with-for-json-sql-server?view=

[2018-11-12 14:29] gix opened #856 "Offline help is incomplete"
Using the Help Viewer in VS2017 with all relevant books added, lots of content, especially Win32 API documentation, is missing. Some categories aren't included at all, others have only some functions available. In the latter case a warning on the top says "You are viewing online content. The topic is not available on your computer, but it is available in one or more books. Select a book to downloa

[2018-11-12 14:52] gix opened #857 "Poor usability of offline .NET docs"
The newer offline .NET docs are based on the layout of docs.msft.com but this layout does not translate well to the Help Viewer and has IMHO considerable usability issues. Some issues with it:

- The font is really small even at the selected medium font size. While it can be increased manually, this will render other help content far too large.
- Overloads are all lumped together on a single page

[2018-11-12 16:06] stevestein commented on #770
#please-close

[2018-11-12 17:49] Powerhelmsman commented on #853
@ginami Can you follow up the issue?

[2018-11-12 17:55] Powerhelmsman commented on #855
@furia10 this is a product feedback instead of content issue. please go to https://feedback.azure.com/forums/34192--general-feedback

[2018-11-12 17:55] #855 closed

[2018-11-12 17:58] #770 closed

[2018-11-12 18:00] Powerhelmsman commented on #856
@dastaffo Is this your area?

[2018-11-12 18:01] Powerhelmsman commented on #857
@dastaffo Is this your area?

[2018-11-12 18:20] yunyunyunyun commented on #846
@ibakirov , what email address are you using for your account that you use to login Docs?

[2018-11-12 19:34] UdoBross commented on #850
hi, when i open the page from de-de the error is 404. But it is ok for me when i can open the en-us page directly.
but for all users from Germany it is a bad thing that the forwarding does not work.

[2018-11-12 22:12] dawnwood commented on #831
Hi @proof85 Thank you very much for your patience. I talked with the engineering team that is responsible for the ADK and the ADK version 1507 is no longer available and is no longer supported. I am sorry that I was not able to help more.

[2018-11-12 22:18] #831 closed

[2018-11-13 05:30] ibakirov commented on #846
@yunyunyunyun I'm using i.bakirov[at]outlook[dot]com

[2018-11-13 06:05] ibakirov commented on #846
I suspect that the issue started after Azure November 2018 update.

[2018-11-13 10:44] pstapf commented on #845
Talked to the PM through a different channel an they added a scope check against the token.
I was using a generic client_id in my PowerShell Script and using an User/Password Auth Flow

To solve the issue:
Create an native app in Azure AD
Set the following permissions for Graph API:
Directory.AccessAsUser.All
Directory.Read.All
Directory.ReadWrite.All
PrivilegedAccess.ReadWrite.AzureAD

Used that

[2018-11-13 11:44] abc1236762 opened #858 "Auto-translate make the formatting is off"
**Describe the bug**
Some page shows `:::column-end:::`, `:::row-end:::`, etc and the formatting is off when it is auto-translated from English.
You can see the problem at [XAML 佈景主題資源](https://docs.microsoft.com/zh-tw/windows/uwp/design/controls-and-patterns/xaml-theme-resources), [色彩](https://docs.microsoft.com/zh-tw/windows/uwp/design/style/color), etc.

**To Reproduce**
Steps to reproduce the

[2018-11-13 15:17] MGoedtel commented on #825
@LeonLaude @Powerhelmsman - I've corrected the registry path after confirming I incorrectly included a sub-key in the path for step six and it should go live later today.  #please-close.

[2018-11-13 17:33] Powerhelmsman commented on #845
@pstapf Thanks you provide the solution. @shailesh-yadav-moe Is this solution helpful?

[2018-11-13 17:54] Powerhelmsman commented on #858
@SonjaSaltzman Can you take a look at this issue. It looks like localization issue.

[2018-11-13 19:09] ibakirov commented on #828
@JEPauley you are not alone with **_“Unable to provision Azure resources"_** The same here in #846 :(
Whenever you login into @learn.docs.microsoft.com directory in Azure Portal (https://portal.azure.com/#@learn.docs.microsoft.com) and try to create manually any vm for example, do you see any error?

I got this:
![screenshot_2018-11-13 microsoft azure](https://user-images.githubusercontent.com/798

[2018-11-13 19:46] carter-musick commented on #827
I'm getting a 404 for pretty much all of the VSTS API documentation
https://docs.microsoft.com/en-us/rest/api/vsts/wit/queries/get - even the "search results that may be helpful" all have 404s

[2018-11-13 20:06] shailesh-yadav-moe commented on #845
I just added new permissions to the app and it's working now. I given following permissions in the scope, and everything remains unchanged:
Directory.AccessAsUser.All
Directory.Read.All
Directory.ReadWrite.All
PrivilegedAccess.ReadWrite.AzureAD

thanks @Powerhelmsman @pstapf
it working again.

[2018-11-13 20:12] #845 closed

[2018-11-14 03:55] kaliyan opened #859 "https://docs.microsoft.com/en-us/system-center/vmm/upgrade"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2018-11-14 03:55] kaliyan commented on #859
VMM Deploy page error 404

[2018-11-14 04:52] IamLizu opened #860 "Filtering "Feedback" and "Issue""
Feedback posted on Microsoft Docs's website automatically get added in GitHub as an issue. But **feedback can be positive(i.e. Great article!) too, right?** 🙂 For example, I gave feedback to a [content](https://docs.microsoft.com/en-us/microsoft-edge/progressive-web-apps/get-started) on Docs which was add to the GitHub [issue](https://github.com/MicrosoftDocs/edge-developer/issues/199). **Why just

[2018-11-14 04:55] IamLizu opened #861 "Filtering "Feedback" and "Issue""
Feedback posted on Microsoft Docs's website automatically get added in GitHub as an issue. But **feedback can be positive(i.e. Great article!) too, right?** 🙂 For example, I gave feedback to a [content](https://docs.microsoft.com/en-us/microsoft-edge/progressive-web-apps/get-started) on Docs which was add to the GitHub [issue](https://github.com/MicrosoftDocs/edge-developer/issues/199). **Why just

[2018-11-14 04:58] IamLizu commented on #861
This ones unfortunately got posted. Requesting to delete this one. I already posted same thing minutes ago.

[2018-11-14 08:04] linghuchong123 opened #862 "I get dizzy when I see your documents"
**🛑** **🛑** **🛑**
**Link to article:**
[https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.requestformlimitsattribute.multipartbodylengthlimit?view=aspnetcore-2.1](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.requestformlimitsattribute.multipartbodylengthlimit?view=aspnetcore-2.1)

**Problem:**
in Mb? in Gb? or in Tb? or in Pb? or it's Eb???? I get dizzy w

[2018-11-14 10:46] ibakirov commented on #828
My problem is the same, I can't start sandbox and get the same error "unable to provision Azure resources"

[2018-11-14 10:55] vicflamenco opened #863 "Missing Doc for System.Security.Cryptography.OpenSsl"
Missing Doc for System.Security.Cryptography.OpenSsl

[2018-11-14 12:03] ibakirov commented on #862
None of them, because value can long = System.Int64 (eg: 1024, 2048 and etc.)

[2018-11-14 12:33] linghuchong123 commented on #862
@ibakirov  I don't know if it's in byte or others, I'd like to make sure, can you put it in more  detail?

[2018-11-14 15:01] ibakirov commented on #862
@linghuchong123 the value is represented in **B (bytes)**. I agree that documentation should clarify the unit. MultipartBodyLengthLimit property is used to set the maximum length for multipart body length for the used form (example: file upload forms)

[2018-11-14 15:04] linghuchong123 commented on #862
thank you @ibakirov

[2018-11-14 15:04] #862 closed

[2018-11-14 17:32] Powerhelmsman commented on #860
@IamLizu We use the GitHub default feature "issues" to manage feedback and issues. If they are positive feedback or something else non-issue. We use label to categorize. If user submit the feedback from Docs content page bottom, the button is content feedback. User wouldn't be confused.

[2018-11-14 17:32] #860 closed

[2018-11-14 17:35] Powerhelmsman commented on #859
@kaliyan Where did you get the link?

[2018-11-14 22:51] dastaffo commented on #722
Moving over to @cillroy

[2018-11-14 23:05] dastaffo commented on #723
Adding @cillroy on this one.

[2018-11-14 23:08] dastaffo commented on #565
Adding @cillroy on this one.

[2018-11-14 23:12] dastaffo commented on #263
Adding @cillroy here.

[2018-11-14 23:14] dastaffo commented on #184
Adding @cillroy to evaluate for the future

[2018-11-14 23:15] dastaffo commented on #131
Adding @cillroy here.

[2018-11-14 23:15] dastaffo commented on #42
Adding @cillroy to evaluate for the future.

[2018-11-14 23:18] SonjaSaltzman commented on #578
@krisre this has been open for a long time - can you please comment and close it (assuming it is resolved)?

[2018-11-14 23:19] SonjaSaltzman commented on #602
@mhogan73 can you please comment and close this if it has been addressed?

[2018-11-14 23:19] SonjaSaltzman commented on #602
Also cc: @krisre

[2018-11-14 23:20] SonjaSaltzman commented on #619
@nokura @JasonCard has this been addressed? Please comment and close.

[2018-11-14 23:21] SonjaSaltzman commented on #712
@SunnyDeng could you please address & close?

[2018-11-14 23:37] mhogan73 commented on #602
This has been addressed and is now published live.

[2018-11-14 23:42] krisre commented on #578
Note:  The localized versions will lag behind English updates.  Changes to the English topic will be picked up in the hand off to Localization the following month.

[2018-11-14 23:46] #578 closed

[2018-11-15 04:03] chanmmn opened #864 "Data Collector Programming link broken"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.
https://docs.microsoft.com/en-us/sql/relational-databases/data-collection/data-collection?view=sql-server-2017

**Link to article:**
Tell us where exactly a problem occurs.
https://docs.microsoft.com/en-us/sql/relational-databases/data-collection/data-c

[2018-11-15 08:42] ahlstart commented on #798
While you enhance the feedback mechanism, please try to cram along some degree of user control over their own feedback- edit, delete (makes it disappear, period), mark as completed (makes it disappear from searches performed by others unless their search is marked to include past issues), and most importantly, give us a chance to add another feedback item after adding one.

[2018-11-15 19:20] hansmbakker commented on #721
I added a thumbs up 👍

[2018-11-15 23:06] richard-linden opened #865 "SystemTimeToTzSpecificLocalTimeEx mistakenly documented as being available on Windows 7"
**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/api/timezoneapi/nf-timezoneapi-systemtimetotzspecificlocaltimeex

**Problem:**
The article specifies
Minimum supported client | Windows 7 [desktop apps \| UWP apps]

but the actual function prototype is only defined for Windows 8 or newer (confirmed that kernel32.dll does not export the function on Win 7)

[2018-11-16 01:50] SonjaSaltzman commented on #858
@dongmicro, could you please take a look, this looks like Windows content

[2018-11-16 02:32] SonjaSaltzman commented on #850
@dongmicro looks like another one

[2018-11-16 02:33] SonjaSaltzman commented on #847
@dongmicro could you please follow up?

[2018-11-16 06:35] stephen9357 opened #866 "Broken format in "GetClassName function" documentation"
**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/api/winuser/nf-winuser-getclassname

**Problem:**
Format of description for _nMaxCount_ param is broken.

[2018-11-16 09:14] MartinJohns commented on #314
As it currently is the "Applies To" section is near useless. The information in there can't be trusted and used. And unfortunately this issue seems to garner no attention.

[2018-11-16 14:18] JasonCard commented on #619
@EdisonDa @Powerhelmsman @SonjaSaltzman @nokura
Confirmed this issue has been resolved, so closing.

[2018-11-16 14:18] #619 closed

[2018-11-16 16:50] Powerhelmsman commented on #866
@ginami Can you take a look at this issue?

[2018-11-16 17:36] JoseFMP commented on #833
Thank you.

[2018-11-16 17:41] Marat-Tanalin opened #867 "“Magnification API” link leads to 404"
**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/api/_magapi/

**Problem:**
The “Magnification API” link under the “For programming guidance for this technology, see” text leads to 404 (“Page not found”) page:

https://docs.microsoft.com/en-us/windows/desktop/magapi

The previously working link:
https://msdn.microsoft.com/en-us/library/ms692162

is redirected to:
https://docs.

[2018-11-16 18:07] Powerhelmsman commented on #867
@ginami Can you take a look at this issue?

[2018-11-16 23:43] mikekinsman commented on #557
@jtuliani whoa *very* late reply here.  I missed the ping back in July and I didn't come back around to it.  My apologies for the huge delay.   The accurate, but incomplete answer to your question, is that the two TOCs are maintained and built separately, which is why they deviate.  We automatically generate the REST content, which makes it much faster, but introduces some constraints on how the c

[2018-11-17 02:20] kmsft opened #868 "Option to hide completed training modules"
With the large number of training modules, it would be great if there was a way to filter out the training modules that a user has already completed.

[2018-11-17 02:24] kmsft opened #869 "Filter out completed modules at Microsoft Learn"
**Is your feature request related to a problem? Please describe.**
It is not easy to tell which modules I have already completed out of the 100+ modules.

**Describe the solution you'd like**
- I want an easy way to filter out the modules that I have already completed
- A visual indicator to show that I already have completed a module is another option, but this doesn't completely replace the abil

[2018-11-17 02:32] kmsft opened #870 ""Secure your Azure SQL Database" doesn't show up in "SQL Database" filter at Microsoft Learn"
**Describe the bug**
Filtering by Azure --> SQL Database, does not list all SQL related training modules

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/en-us/learn/browse/'
2. Click on 'SQL Database'
3. Only 4 results are found, "Secure your Azure SQL Database" is not among the 4 results returned
4. Uncheck 'SQL Database'
5. The first training module is "Se

[2018-11-17 03:30] Powerhelmsman commented on #864
@MightyPen Can you take a look at this feedback?

[2018-11-17 03:36] Powerhelmsman commented on #863
@vicflamenco Your issue is transfer to donet team. They will help you there.

[2018-11-17 03:36] #863 closed

[2018-11-17 10:35] yumetodo commented on #602
Wait, wait, wait, wait.

I watch below now:

- https://docs.microsoft.com/ja-jp/dynamics365/customer-engagement/admin/integrate-synchronize-your-email-system
- https://docs.microsoft.com/ja-jp/dynamics365/customer-engagement/admin/migrate-settings-email-router-server-side-synchronization

It's seems that this issue is not resolved.

[2018-11-17 11:29] mhogan73 commented on #602
I will recheck the issue asap and update the bug.

[2018-11-17 12:28] tauheedul opened #871 "Microsoft.ML.Probabilistic namespace missing from ML.NET API list"
Infer.NET has been included as a binding for ML.NET since version 0.6

It makes sense to include the Microsoft.ML.Probabilistic namespace in the ML.NET api browser list

https://docs.microsoft.com/en-us/dotnet/api/?view=ml-dotnet

[2018-11-17 15:10] imba-tjd commented on #834
There's another issue that also exists in this article:

Should be (\\)

[2018-11-17 15:28] imba-tjd opened #872 "Broken style"
**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/FileIO/defragmenting-files

**Problem:** Bold is broken.

[2018-11-17 21:45] lkuhn65 commented on #869
I agree with this suggestion.  Show me a checkmark when browsing on the modules I have already completed and/or allow me to filter out the ones I have already done.

[2018-11-18 12:10] chanmmn opened #873 "Hardware and Software Requirements for Installing SQL Server "2014" version mismatch"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.
Hardware and Software Requirements for Installing SQL Server 2014 but I am actually looking for Hardware and Software Requirements for Installing SQL Server 2016.

**Link to article:**
Tell us where exactly a problem occurs.
https://docs.microsoft.com/e

[2018-11-18 19:33] MightyPen commented on #864
@chanmmn Hello Chanmmn,
DevOps CeApex 51329 has been created, to take over the tracking, and the fix implementation, from this Issue 864:
.
https://ceapex.visualstudio.com/Engineering/_workitems/edit/51329
Bug 51329: MSDN article lacks needed Redirector to Docs
.
Thank you for posting this Issue.  I put a link to this Issue in 51329.
I am Closing this Issue now, to let 51329 process the remaining

[2018-11-19 03:28] #869 closed, assigned to nobody

[2018-11-19 03:31] Powerhelmsman commented on #870
@jboeshart Can you take a look at this suggestion? It can solved by adding a SQL database in meta data of yml file.

[2018-11-19 03:32] Powerhelmsman commented on #871
@dend @mairaw Can you take a look at this request?

[2018-11-19 03:33] Powerhelmsman commented on #872
@ginami Can you take a look at this issue?

[2018-11-19 03:36] Powerhelmsman commented on #873
@MightyPen @craigg-msft Can you take a look at this issue?

[2018-11-19 07:40] kmsft commented on #869
thanks @Powerhelmsman !

[2018-11-19 11:14] alex--thomas commented on #820
Sorry but now I’ve forgotten the context.

[2018-11-19 11:14] #820 closed

[2018-11-19 11:48] MostHelicopter opened #874 "Slash characters aren't reproduced correctly in double quoted string examples embedded in documentation"
**Describe the bug**
See https://docs.microsoft.com/en-us/windows/desktop/api/fileapi/nf-fileapi-gettemppatha

The documentation for this API call states that the path returned by the call is terminated by a backslash. To illustrate the aforementioned backslash termination, the documentation uses the incorrect example of "C:\TEMP" which obviously lacks a terminating backslash.

This appears to be

[2018-11-19 12:08] slepmog opened #875 "Confusing wording describing BREAK keyword in SQL Server"
**Link to article:**
https://docs.microsoft.com/en-us/sql/t-sql/language-elements/break-transact-sql?view=sql-server-2017

**Problem:**
The wording is very confusing and [keeps raising eyebrows](https://stackoverflow.com/q/34297435/11683).
It currently reads:

This wording makes one think `break` may exit either the innermost `while`, or the innermost `if`.
The reality is that it always exists the

[2018-11-19 13:46] rehamt opened #876 "How to create parameters and use them in calculation of measures and columns in DAX"
I need to know how to add an interval from date to date in DAX, and then to include the values
entered in the calculation of other measures or columns.

Example :
I have a list of requests will be retrieved based on a selected period of time
(from 1/1/2018 to 6/1/2018)
for each selected row if the request date > end of the period (in this example 6/1/2018) then
var = end of the period (6/1/2018)
e

[2018-11-19 13:57] xiaoyinl opened #877 "Missing a backslash in pipe name"
**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/api/winbase/nf-winbase-createnamedpipea
https://docs.microsoft.com/en-us/windows/desktop/api/Winbase/nf-winbase-createmailslota

**Problem:**
The article says the pipe name must have the form `\.\pipe<i>pipename`. It should be `\\.\pipe\pipename`. Similar for CreateMailslotA.

[2018-11-19 17:04] Powerhelmsman commented on #874
@ginami Can you take a look at this issue?

[2018-11-19 17:10] Powerhelmsman commented on #875
@MightyPen Can you take a look at this feedback?

[2018-11-19 17:12] Powerhelmsman commented on #877
@ginami Can you take a look at this feedback?

[2018-11-19 17:20] Powerhelmsman commented on #876
@rehamt This is a channel for Docs site feedback instead of general questions. Can you go https://community.powerbi.com/t5/Forums/ct-p/Forums to post your question?

[2018-11-19 18:40] markjulmar commented on #870
This sounds like we just missed the metadata tags. Is it something bigger than that @jboeshart ?

[2018-11-19 18:57] jboeshart commented on #870
Issue is now resolved, fix merged in #3075 and confirmed that it now shows up with the SQL Database product filter.

Please close.

[2018-11-19 19:02] #870 closed

[2018-11-19 19:46] MightyPen commented on #873
@Powerhelmsman Hi Jian, can you please remove Craigg-msft from this Issue 873.  I will handle it.

[2018-11-19 20:45] MightyPen commented on #875
@slepmog Slepmog, Thank you for bringing this content description inaccuracy to Microsoft's attention.  I have now fixed the problem, with PR 8169.
.
Fixed, by PR:  https://github.com/MicrosoftDocs/sql-docs-pr/pull/8169
.
@Powerhelmsman  #please-close , as fixed and completed.
Thanks, GeneMi

[2018-11-19 21:32] MightyPen commented on #873
@chanmmn Hello Chanmmn, There seems to be a bug in our "Versioning" system, or in how we are implementing the system in our repo 'MicrosoftDocs/sql-docs'.  This might take a few days to figure out.
Thank you for bringing this concern to Microsoft's attention.
Meanwhile, the work-around is to manually remove the '2014/' node from the Https URL.....
.
UNWANTED URL NODE '/2014/':
https://docs.microso

[2018-11-19 22:44] jcapellman opened #878 "InstallELAMCertificateInfo function docs has a 404 link"
**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/api/sysinfoapi/nf-sysinfoapi-installelamcertificateinfo

**Problem:**
The line "For more information, see Protecting Anti-Malware Services." has a link that gives a 404.

[2018-11-19 23:03] mairaw commented on #616
Another issue reporting the same problem: https://github.com/dotnet/docs/issues/8688

[2018-11-20 01:50] mhogan73 commented on #602
Hi @yumetodo @damedom
[Japanese issues.docx](https://github.com/MicrosoftDocs/feedback/files/2597726/Japanese.issues.docx)
- Apologies for incorrect information, there was confusion with another bug.

Please see the document attached with feedback from our localization suppliers on the issues logged.

[2018-11-20 05:24] xiaoyinl opened #879 "Members section missing in _SECURITY_DESCRIPTOR structure article"
**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/api/winnt/ns-winnt-_security_descriptor

**Problem:**
The **Members** section is empty. There's no explanation of the fields of the `_SECURITY_DESCRIPTOR` structure.

[2018-11-20 06:54] MightyPen commented on #873
@chanmmn Hello Chanmmn, with our private repo PR 8173, we are optimistic that we have a fix for the error you found in our Versioning implementation.
I expect to test the fix this week, and I will update the status of this Issue 873 then.
Thanks!
.
https://github.com/MicrosoftDocs/sql-docs-pr/pull/8173
https://ceapex.visualstudio.com/Engineering/_workitems/edit/51470
.

[2018-11-20 07:05] Powerhelmsman commented on #879
@ginami Can you take a look at this issue?

[2018-11-20 07:05] #876 closed

[2018-11-20 20:06] tfitzmac commented on #166
API version selector been added to the template reference.

[2018-11-20 20:06] tfitzmac commented on #166
#please-close

[2018-11-20 21:38] Mei-Liang commented on #828
@yunyunyunyun could you please look at the issue now, @JEPauley is able to login but got "unable to provision Azure resources” error. @ibakirov has same issue.

[2018-11-20 22:39] ginami commented on #812
Hi @joelharkes --thank you so much for bringing this to our attention! We'll investigate and get back to you.

[2018-11-20 22:43] ginami commented on #834
Hi @h-matsuo -- thank you so much for letting us know! We'll investigate and get back to you.

[2018-11-20 22:44] ginami commented on #836
Hi @jcron -- thank you for letting us know about the table issue; we'll get the formatting fixed.

[2018-11-20 22:44] ginami commented on #842
Hi @SlyEcho --thank you for letting us know! We'll investigate and get back to you.

[2018-11-20 22:55] ginami commented on #853
Hi @maelh -- thank you for bringing this to our attention; we'll work on updating the page!

[2018-11-20 22:56] ginami commented on #865
Hi @richard-linden -- thank you  for letting us know! We'll work on updating the page.

[2018-11-20 22:58] ginami commented on #866
Thank you @stephen9357 for letting us know! We'll work on fixing the formatting.

[2018-11-20 22:59] ginami commented on #867
Hi @Marat-Tanalin -- thank you for letting us know! We'll work on updating the page.

[2018-11-20 23:01] ginami commented on #872
Hi @imba-tjd -- thank you for letting us know. We'll work on fixing the formatting.

[2018-11-20 23:02] ginami commented on #874
Hi @MostHelicopter -- thank you for letting us know about this issue. We'll investigate and get back to you.

[2018-11-20 23:03] ginami commented on #877
HI @xiaoyinl --thank you for letting us know. We'll work on updating the page.

[2018-11-20 23:29] #166 closed

[2018-11-21 02:07] ChihoHarada opened #880 "Is there a way to merge the learning histories of two different accounts?"
Hello,

I have several Microsoft accounts (personal, company's and trial) and went through several different learning path in Microsoft Docs using each of them.
As a result, I have separated learning histories with each of my mail accounts.

Is there any way to merge all learning histories (because It's annoying sometimes...)

I'm new to GitHub and am not used to search existing issues.
If there i

[2018-11-21 03:51] Powerhelmsman commented on #880
@yunyunyunyun @dastaffo Can you take a look at this feedback?

[2018-11-21 10:13] DaisukeEda opened #881 "Japanese Translation of "deprecated" is incorrect."
**Link to article:**
Title: Organization data service
URL(en) : https://docs.microsoft.com/en-us/dynamics365/customer-engagement/developer/developer-resources-page#organization-data-service
URL(jp) : https://docs.microsoft.com/ja-jp/dynamics365/customer-engagement/developer/developer-resources-page#organization-data-service

English Version :
The Organization Data service has been deprecated and r

[2018-11-21 11:01] DaisukeEda opened #882 "Japanese Translation is incorrect."
**Link to article:**
Title: Organization data service
URL(en) : https://docs.microsoft.com/en-us/dynamics365/customer-engagement/developer/use-microsoft-dynamics-365-web-services#organization-data-service
URL(jp) : https://docs.microsoft.com/ja-jp/dynamics365/customer-engagement/developer/use-microsoft-dynamics-365-web-services#organization-data-service

English Version :
While this service will c

[2018-11-21 17:31] Powerhelmsman commented on #881
@SonjaSaltzman Can you take a look at this localization issue?

[2018-11-21 17:48] SonjaSaltzman commented on #881
@krisre and @vinceno can you please follow up? thanks!

[2018-11-21 17:52] vinceno commented on #881
This is 'Customer Engagement' developer content, so will leave to @krisre and @mhogan73

[2018-11-21 17:53] mhogan73 commented on #881
Hi- we will investigate the issie. Thx.

[2018-11-21 19:29] rpetrusha commented on #579
I'm wondering if this issue should be reopened, @dend. It doesn't seem like it's a strict duplicate of #374.

The problem here is twofold:
- The member list in the documentation for the MethodInfo type does not correctly list all members. It completely excludes the following members:
   - ContainsGenericParameters (inherited from MethodBase)
   - IsGenericMethod (inherited from MethodBase)
   - Is

[2018-11-21 23:22] dend commented on #723
#log-suggestion @cillroy

[2018-11-22 05:49] yumetodo commented on #882
ref: #602

[2018-11-22 05:49] yumetodo commented on #881
ref: #602

[2018-11-22 08:12] yumetodo commented on #602
I quote the feedback from Localization Suppliers for discussion.

---

**NOT CORRECT**.

It is already pointed by @damedom that why the current translation is not correct. @DaisukeEda also ponited out same problem at #881 and #882. However, Localization Suppliers does not understand.

So, I point out again.  `廃止された` means `already removed`. `削除予定` means `remove soon`.

Wait, wait, wait, wait.

Loc

[2018-11-22 09:05] Proavtor opened #883 "Articel about custom SSMS RDL reporting templates"
**Link to article:**
https://docs.microsoft.com/en-us/sql/ssms/object/add-a-custom-report-to-management-studio?view=sql-server-2014

**Problem:**
Tis is very useful article but is has broken link to samles of standard SSMS RDL templates. Here is this link http://go.microsoft.com/fwlink/?LinkId=81792
Please update this link. Developers should have samles to develop new nice reports!

[2018-11-22 10:17] FrontierDK commented on #837
That Microsoft page contains my question as well, and it's also unanswered on that page.

[2018-11-22 11:33] ambrosiealin opened #884 "hyperlink is misleading"
On the main page. https://docs.microsoft.com/en-us/learn/ Theer is a section Hands-on learning. And a button to browse All. It brings you to https://docs.microsoft.com/en-us/learn/browse/

I believe this is misleading. As it should bring you to Microsoft Hands-on Labs
Self-paced Labs at https://www.microsoft.com/handsonlabs/selfpacedlabs

I understand that video on demand course, can be considered

[2018-11-22 11:58] p1eXu5 opened #885 "Please, do not localize docs in Russian on the site automatically. Translations full of bugs. It's impossibleто read."
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
everywhere on the site.

**Problem:**
Your Russian eto pizdec!

[2018-11-22 15:41] yumetodo commented on #885
I just remembered https://github.com/dotnet/docs.ja-jp/issues/118.

[2018-11-22 16:43] mhogan73 commented on #602
Hi @yumetodo I am discussing this issue again with our localization suppliers. Pls note they do not use Bing Translate as part of the translation process. The office here is closed today and tomorrow so I will update you on Monday. Thx

[2018-11-22 20:03] ygoe opened #886 "Bold screaming focus outline"
**Describe the bug**
Every clicked link has a big fat black dashed outline around it. It's three times the size of a regular keyboard focus rectangle, and also appears when I don't touch my keyboard at all.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on a link and keep the mouse button pressed.

**Expected behavior**
No outline.

**Screenshots**
Should be visible everywhere, has be

[2018-11-23 07:55] thewabbit0 commented on #33
The approach of having documentation in GIT, using extended markdown for formatting and some kind of magic machinery to build a hierarchical site structure is working surprisingly well. We (the central IT of a university with a staff of ~2,0000) would have a use for it to publish our documentation allowing for feedback and community-created content.
Our current situation similar to what the Docs t

[2018-11-23 21:11] sblionel opened #887 "Broken links on DialogBoxIndirectParm page"
The links to DLGTEMPLATE and DLGITEMTEMPLATE on https://docs.microsoft.com/en-us/windows/desktop/api/winuser/nf-winuser-dialogboxindirectparama are broken.

[2018-11-23 21:32] markfilipak-windows opened #888 ""Download PDF" broken"
**Describe the bug**
A clear and concise description of what the bug is.
The "Download PDF" link on this page:
https://docs.microsoft.com/en-us/windows-hardware/manufacture/
is broken.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
https://docs.microsoft.com/en-us/windows-hardware/manufacture/
2. Click on '....'
"Download PDF" (on the left).
3. Scroll down to '....'
4. See error

[2018-11-23 21:59] markfilipak-windows opened #889 "'answers.microsoft.com' & 'docs.microsoft.com' account (sign-in) problem"
I go here:
https://answers.microsoft.com/en-us/
and sign in. Then I go here:
https://docs.microsoft.com/en-us/windows-hardware/manufacture/desktop/clean-up-the-winsxs-folder
and see in the page's upper right, "Sign in" (as though I'm not signed in).
When I click the "Sign in" link, I'm taken to this registration page (as though I don't have an account):
https://techprofile.microsoft.com/en-US/regi

[2018-11-23 22:06] markfilipak-windows commented on #889
More...
I signed out at 'answers.microsoft.com'
I went here:
https://www.microsoft.com/en-us/
I signed in. Then I go here:
https://answers.microsoft.com/en-us?auth=1
I'm still signed in. Then I went here:
https://docs.microsoft.com/en-us/windows-hardware/manufacture/desktop/clean-up-the-winsxs-folder
That page doesn't know I'm signed in.

[2018-11-23 22:17] markfilipak-windows opened #890 "How's the idea of using GitHub as a support forum working out?"
How's the idea of using GitHub as a support forum working out?

I think GitHub is totally inappropriate as a support forum, but what do I know...

[2018-11-25 11:50] HaoHoo opened #891 "Trophies icon error in Learning site"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
Tell us where exactly a problem occurs.
https://techprofile.microsoft.com/en-us/haohu

**Problem:**
What's wrong with the article?
I think that the icon of trophy 'Manage resources in Azure' is wrong.

[2018-11-25 18:25] DrupalLT opened #892 "Set up DKIM so that a third-party service can send, or spoof, email on behalf of your custom domain"
on https://docs.microsoft.com/en-us/office365/SecurityCompliance/use-dkim-to-validate-outbound-email#DKIMMultiDomain  in article  "Set up DKIM so that a third-party service can send, or spoof, email on behalf of your custom domain"   is written "2. Contoso published the DKIM key to its DNS record." .
BUT HAW to make it for third-party domain?

[2018-11-26 02:28] nschonni opened #893 "Make vscode-docs-authoring a recommened extentions in repos"
**Is your feature request related to a problem? Please describe.**
VS Code now supports suggesting extensions for when you open a repo https://code.visualstudio.com/docs/editor/extension-gallery#_recommended-extensions
Since the https://github.com/Microsoft/vscode-docs-authoring is the bundle for recommended authoring tools, it should be recommended for users that aren't aware of it.

**Describe t

[2018-11-26 09:04] LiHanGod opened #894 "BUG"
Fedora-29
[root@Fedora-Server yum.repos.d]# sudo curl -o /etc/yum.repos.d/mssql-server.repo https://packages.microsoft.com/config/rhel/7/mssql-server-preview.repo
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   240  100   240    0     0    895      0 --:--:-- --:--:-- --:--:--   895

[2018-11-26 16:41] Powerhelmsman commented on #883
@Proavtor The page is under migration:  "THE BLOG YOU ARE ATTEMPTING TO ACCESS IS SCHEDULED FOR MIGRATION, PLEASE CHANGE YOUR URL TO GO TO HTTP://BLOGS.MSDN.COM/ OR HTTP://BLOGS.TECHNET.COM/, ONCE THE BLOG IS MIGRATED, YOU WILL AUTOMATICALLY GET REDIRECTED TO THE NEW BLOG SITE" Please check it later.

[2018-11-26 16:41] #883 closed

[2018-11-26 16:43] Powerhelmsman commented on #884
@dastaffo Can you take a look at this feedback?

[2018-11-26 16:45] Powerhelmsman commented on #885
@SonjaSaltzman Can you follow up this concern?

[2018-11-26 16:50] SonjaSaltzman commented on #885
Hi @p1eXu5, thank you for giving feedback. Could you please explain exactly the steps/URLs you are looking at? We have a mix of human-translated and translation memory + machine-translated content on the site, so it would be very helpful to us to know some of the bad sample pages.  Thanks for your help!

[2018-11-26 16:53] Powerhelmsman commented on #886
@EdisonDa Can you take a look at this issue?

[2018-11-26 16:54] Powerhelmsman commented on #887
@ginami Can you take a look at this issue?

[2018-11-26 16:57] Powerhelmsman commented on #888
@cillroy Is this your area?

[2018-11-26 16:58] Powerhelmsman commented on #889
@Mei-Liang Can you take a look at this issue?

[2018-11-26 17:00] Powerhelmsman commented on #890
@markfilipak-windows Thanks for your suggestion. We are planning to develop new forum to solve user questions. I will let you know when it is released.

[2018-11-26 17:03] #890 closed

[2018-11-26 17:07] Powerhelmsman commented on #891
@saldana Can you follow up this issue?

[2018-11-26 17:16] Powerhelmsman commented on #892
@DrupalLT Your issue is transferred to office365 team. They will help you there.

[2018-11-26 17:16] #892 closed

[2018-11-26 17:24] Powerhelmsman commented on #893
@nschonni Thanks for your recommendation. @cillroy Is this your area?

[2018-11-26 17:39] Powerhelmsman commented on #894
@LiHanGod This channel is for Docs site feedback and content issue instead of answering the general questions. Is your issue related to any specific content?

[2018-11-26 17:47] mairaw opened #895 "Wrong Links when you download PDF"
Original GitHub issue https://github.com/dotnet/docs/issues/7925 from @n1v3k

Hello guys love the work on this documentation, I used to had a copy of this documentation, but lost that pdf, now that im trying to download again, the bookmark section all links takes you to the incorrect pages, anyway great material especially in pdf form where i can make annotations and whatnot.

---
#### Document De

[2018-11-26 20:11] iguessthislldo opened #896 "Small Typo on WSAEnumProtocolsA Page"
**Link to article:**
[Parameters Section of WSAEnumProtocolsA](https://docs.microsoft.com/en-us/windows/desktop/api/winsock2/nf-winsock2-wsaenumprotocolsa#parameters)

**Problem:**
The first sentence is:

**NULL** has an extra lowercase L.

[2018-11-26 21:22] Powerhelmsman commented on #889
@saldana This issue is assigned to you.

[2018-11-26 21:48] markfilipak-windows commented on #889
Thanks, Jian.
Sandra, I'll do whatever is needed to help. Also, in the last few days, I've lost the ability to post a new question to 'answers.microsoft.com'. I don't know whether that's related. I didn't mention it in the thread starter because I wanted to post a clean set of symptoms.

[2018-11-26 23:50] mairaw commented on #807
This seems to be fixed now, correct?

[2018-11-26 23:53] yunyunyunyun commented on #846
@ibakirov , engineer team is working on this issue now. Sorry for the trouble.

[2018-11-26 23:54] Powerhelmsman commented on #807
@mairaw Yes, this is fixed. I will update the status.

[2018-11-26 23:54] #807 closed

[2018-11-26 23:55] Powerhelmsman commented on #882
@SonjaSaltzman Can you follow up?

[2018-11-26 23:55] Powerhelmsman commented on #878
@ginami Can you take a look at this issue?

[2018-11-26 23:57] Powerhelmsman commented on #895
@dastaffo Can you take a look at this bug?

[2018-11-26 23:58] Powerhelmsman commented on #896
@ginami Can you take a look at this issue?

[2018-11-26 23:59] Powerhelmsman commented on #895
@cillroy Can you follow up this issue?

[2018-11-27 00:55] SonjaSaltzman commented on #882
@krisre @vinceno could you please follow up on this feedback?

[2018-11-27 01:10] krisre commented on #882
@SonjaSaltzman - I'll take a look.

[2018-11-27 01:31] LiHanGod commented on #894
I had a problem during the installation process. According to the tutorials on the official website, they all succeeded, but the connection was an error report.
[root@Fedora-Server yum.repos.d]# sqlcmd -S localhost -U SA -P 'LiHan_950325'
Sqlcmd: Error: Microsoft ODBC Driver 17 for SQL Server : TCP Provider: Error code 0x2746.
Sqlcmd: Error: Microsoft ODBC Driver 17 for SQL Server : Client unable

[2018-11-27 02:41] EdisonDa commented on #886
@ygoe thank you for your reporting. Could you please give me the URL where we can reproduce this issue and the screenshot? It will help us to investigate and fix the issue.

[2018-11-27 03:53] mairaw commented on #298
I believe this can be closed given that we now have the Serializable attribute showing up. Tonight's build will also fix the issue of the Serializable attribute not working under the Attributes section.

[2018-11-27 03:56] riverar commented on #298
Still two more attributes broken per https://github.com/MicrosoftDocs/feedback/issues/298#issuecomment-408528118

[2018-11-27 05:19] p1eXu5 commented on #885
for example. if I forgot term name and typing some like "c# семафор" I get a links to "https://docs.microsoft.com/ru-ru/dotnet/api/system.threading.semaphore?view=netframework-4.7.2". I would like to get link to english page, because "позволяя трех потоков в семафор." and "Каждый раз, когда выпускается семафора, счетчик семафора предыдущих отображается." causes wtf questions.

[2018-11-27 07:46] SatoruTaniya opened #897 "Sample Response json has a difference"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/ja-jp/rest/api/appservice/certificates/list

**Problem:**
The json of the Sample Response of this article is different.
Specifically, there is a value [] immediately under json of the response,
There is n

[2018-11-27 10:04] EdisonDa commented on #886
@ygoe thank you for your quick turnaround. @ShevaDas looks this is the latest change, could you please confirm it's by design?

[2018-11-27 13:38] DaveInCaz opened #898 "Incorrect example string"
**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/api/fileapi/nf-fileapi-gettemppatha#parameters

**Problem:**
As noted in a comment on [this StackOverflow post](https://stackoverflow.com/a/946017/3195477) the article says "The returned string ends with a backslash" but the example shown is:

 "C:\TEMP"

which obviously doesn't.

Thanks

[2018-11-27 16:53] Powerhelmsman commented on #894
@LiHanGod Could you provide the site link?

[2018-11-27 17:03] Powerhelmsman commented on #897
@dend Can you take a look at this feedback?

[2018-11-27 18:57] ygoe commented on #886
Here's a similar issue: https://www.microsoft.com/de-de/p/microsoft-surface-dock/8qrh2npz0s0p Click on a tab ("Übersicht", "Technische Spezifikationen", "Kritiken") and you get a solid 2px black outline. It even stays there indefinitely. Seems Microsoft has found pleasure in emphasising keyboard focus.

[2018-11-27 20:56] mhogan73 commented on #882
Linked to #602 and #881 which I am investigating

[2018-11-27 21:19] ShevaDas commented on #886
@ygoe thanks for the report! I've confirmed that the dashed line is how it should look, but it should only appear with keyboard navigation. I've opened an issue with our engineering team and will follow up here when it's fixed.

<internal tracking: https://ceapex.visualstudio.com/Engineering/_workitems/edit/52882>

[2018-11-27 22:09] mhogan73 commented on #881
I have reviewed this issue again with the localization suppliers and some internal Japanese speakers and they have all agreed that the translation online is correct. The Organization Data Service was deprecated in CRM 2016 (version 8.x) and this has been reflected in the translation.

Please note the current translation is following the source correctly.  " 廃止され" means "has been deprecated" , whil

[2018-11-27 22:09] mhogan73 commented on #882
I have reviewed this issue again with the localization suppliers and some internal Japanese speakers and they have all agreed that the translation online is correct. The Organization Data Service was deprecated in CRM 2016 (version 8.x) and this has been reflected in the translation.

Please note the current translation is following the source correctly.  " 廃止され" means "has been deprecated" , whil

[2018-11-27 22:09] mhogan73 commented on #602
I have reviewed this issue again with the localization suppliers and some internal Japanese speakers and they have all agreed that the translation online is correct. The Organization Data Service was deprecated in CRM 2016 (version 8.x) and this has been reflected in the translation.

Please note the current translation is following the source correctly.  " 廃止され" means "has been deprecated" , whil

[2018-11-27 23:02] JeremyRobinson opened #899 "Can "Search" be improved? The relevance of search on Docs.Microsoft.com is bad even when specific areas are tagged."
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
Tell us where exactly a problem occurs.

**Problem:**
What's wrong with the article?

[2018-11-27 23:05] JeremyRobinson commented on #899
I was searching in other API's, so "Desktop" was tagged.  When searching on "CreateProcess" (a *very* common Windows API), I see no hits the API, but plenty for debuggers and other things.

External search engines do much better.

[2018-11-27 23:29] dastaffo commented on #856
@ShevaDas owns this area now

[2018-11-27 23:30] dastaffo commented on #857
@ShevaDas is now leading this area

[2018-11-27 23:31] dastaffo commented on #676
@cillroy FYI

[2018-11-27 23:32] dastaffo commented on #186
@cillroy FYI

[2018-11-27 23:33] dastaffo commented on #654
@ShevaDas FYI for future offline plans

[2018-11-27 23:37] #638 closed

[2018-11-27 23:38] dastaffo commented on #144
@ShevaDas FYI for future offline plans

[2018-11-27 23:39] dastaffo commented on #45
@ShevaDas FYI for future offline plans

[2018-11-27 23:39] dastaffo commented on #141
@ShevaDas FYI

[2018-11-27 23:41] dastaffo commented on #146
@ShevaDas FYI for future offline planning

[2018-11-28 03:51] LiHanGod commented on #894
This is the link to this page.
https://docs.microsoft.com/zh-cn/sql/linux/quickstart-install-connect-red-hat?view=sql-server-ver15
My system is Fedora，Version 29。Unable to connect，but installation is successful.

[2018-11-28 04:05] Powerhelmsman commented on #894
@MightyPen Can you help the user on this question?

[2018-11-28 06:07] MightyPen commented on #894
@Powerhelmsman Please reAssign this item 894 to MikeRayMSFT, who handles some of our docs/linux/ content.  Thank you.  (GeneMi)
CC: @MikeRayMSFT , @rothja , @LiHanGod

[2018-11-28 07:55] blackwingcat commented on #602
Hi, mhogan73

I think you misunderstand "廃止"

"廃止" means "deleted" in Japan.

"廃止" means "you can not use function."
"廃止予定"   means "you can use function  but worse"
"非推奨" means "you can use function but worse"
"非推奨予定"   means  "it is official  function now"

"has been deprecated" means "has been not recommended" = "非推奨になった"
"planned to be deprecated " means "planned to be not recommended" = "非推奨予

[2018-11-28 12:43] njenekar commented on #828
My issue is I don't see Concierge Subscription when trying to create new Cosmos DB account getting below message,
You are currently signed into the 'learn.docs.microsoft.com' directory which does not have any subscriptions. You have other directories you can switch to or you can sign up for a new subscription.

[2018-11-28 12:56] njenekar commented on #828
I tried with New Incognito Window, it solves my issue, getting Concierge Subscription for Sandbox.

[2018-11-28 16:23] xyz20533 opened #900 "is HttpContext Bug? in PageModel"
**Describe the bug**
HttpContext.Session.SetString is always appearing NullReferenceException.

The example code  is HttpContext.Session.SetString("Test","test") that is PageModel's member.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

[2018-11-28 16:43] Powerhelmsman commented on #900
@xyz20533 Can you provide the page link you refer to?

[2018-11-28 18:31] calia1120 opened #901 "Linking between MCP and Learning accounts?"
My MCP account that I've had for years uses what has now become a secondary alias of my primary outlook.com email.

When on https://docs.microsoft.com/en-us/learn/ I was prompted to make an account - I'm already logged in via SSO with the primary outlook.com account, so I thought it odd, but created a username. I've done quite a few learning modules in the past, so thought it odd that I was showin

[2018-11-28 18:42] ericcox opened #902 "Exchange Session Limits page"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**. (Which doesn't exist)

**Link to article:**
https://docs.microsoft.com/en-us/previous-versions/office/exchange-server-2010/ff477612(v=exchg.141)

**Problem:**
1. Where it says:

This seems backwards.  If it's truly this way, you might want to emphasize

[2018-11-28 18:50] ShevaDas commented on #740
Reassigning to the Learn PMs @yunyunyunyun and @dastaffo

[2018-11-28 18:51] ShevaDas commented on #717
Reassigning to our Learn PM @dastaffo

[2018-11-28 20:00] marcslevesque opened #903 "Incorrect syntax in X++ statement"
Note there is no space for a comment on the page.

On the page https://docs.microsoft.com/en-us/previous-versions/dynamics/ax-2012/reference/aa548209%28v%3dax.60%29 the following statement syntax (at the bottom of the page) is incorrect:

select * from %1 where %2.Name=='Axapta' AND %3.JobID=='1234'

"AND" is not valid X++.

It should be:

select * from %1 where %2.Name=='Axapta' && %3.JobID=='123

[2018-11-29 02:37] mairaw opened #904 "Warning Message does not stand out."
Original GitHub issue https://github.com/dotnet/dotnet-api-docs/issues/1050 by @EddyHaigh

The warning message currently uses a greyish/whitish background making it hard to know the class is obsolete due to it not standing out.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e3331b9f-b4df-b76e-fffd-8ff9d327faa2
* Versio

[2018-11-29 02:38] mairaw commented on #904
And here's my two cents: https://github.com/dotnet/dotnet-api-docs/issues/1050#issuecomment-442684451

[2018-11-29 03:30] mairaw opened #905 "Page overflow bug"
Original GitHub issue https://github.com/dotnet/docs/issues/8978 by @Damilope

The page overflows, especially in focus mode and hides the overflowed parts making me have to switch between modes to read or copy content to test.
I added, "overflow-x: auto" to the styles in the "tutorial-row-main" class and it seems to fix everything. Even the overflowing of the whole page outside of focus mode.

---

[2018-11-29 06:49] irfanIshakhan opened #906 "Cannot able to open Remote Assist using ms-voip-video protocol"
I am writing an Unity3D application which open Remote assist using ms-voip-video. But not able to launch Remote Assist.

**To Reproduce**
1) Start unity3D
2) Create a function to execute below code to start remote Assist Application
       string uriToLaunch = @"ms-voip-video:?contactids=ba65f699-sdfsdfsdfsdfsdfe37d5ad3b3a5";
       await Windows.System.Launcher.LaunchUriAsync(uri);
3) Build a sol

[2018-11-29 08:14] yumetodo commented on #882
@DaisukeEda
I proposed to marge #881 and #882 to #602. These issue are duplicated, I think.

[2018-11-29 08:17] HekiShavik opened #907 "Danish translation"
Hello. The "x minutes to read" currently is translated to "x minutter til læsning", which says something on the order of "x minutes until reading".

I would suggest "x minutters læsning" because it conveys the intended meaning.

[2018-11-29 08:30] DaisukeEda commented on #882
OK. So please duplicated. And fix "#881 and #882" with #602.

[2018-11-29 08:39] yumetodo commented on #602
from #881

from #882

[2018-11-29 08:44] yumetodo commented on #881
move to #602.

[2018-11-29 11:09] #906 closed

[2018-11-29 11:41] Dmitro25 opened #908 "Page "Dialog Box Programming Considerations" contains an illegal internal links"
Page "Dialog Box Programming Considerations" with URL https://docs.microsoft.com/en-us/windows/desktop/dlgbox/dlgbox-programming-considerations contains an overview at the top. This overview contains  an illegal internal links for the following topics:
"The WM_INITDIALOG Message"
"The WM_COMMAND Message"
"The WM_PARENTNOTIFY Message"
"The WS_TABSTOP Style"
"The WS_GROUP Style"
All these topics ref

[2018-11-29 13:45] bakerm00 opened #909 "SharePoint Online support for move-spuser"
**Is your feature request related to a problem? Please describe.**
As a company that performs M&A we always share SPO content and sites by B2B Guests.  when we integrate these teams into the main tenant we cannot easily replace guest user identity with licensed azure ad users.

**Describe the solution you'd like**
implement SPO move-spuser functionality to support identity replacement of B2B guest

[2018-11-29 16:20] SonjaSaltzman commented on #881
@mhogan73 could you please follow up?

[2018-11-29 17:18] djgrijalva opened #910 "Microsoft Learn - Playlist"
In the same effort of #717, It would be great to be able to setup Playlists of paths or modules I want to work one and be able to see the progress, like MVA has. This will help a ton, especially when more content gets added to Learn. Thanks!

[2018-11-29 18:11] mairaw opened #911 "Dark mode font setting on Kindle"
Original GitHub issue https://github.com/dotnet/docs/issues/9302 from @kjartanm

Font color is set to dark gray (or transparency?), probably to soften the black-on-white impression. But unfortunately that means it can't be read with dark mode setting on Kindle, since the font setting is not overridden and you get dark gray on black -- which is unreadable, of course.

Best Regards
Kjartan Rekdal Mü

[2018-11-29 18:12] Powerhelmsman commented on #904
@dend Can you take a look at this issue?

[2018-11-29 18:31] Powerhelmsman commented on #902
@ericcox Thanks for you feedback. Unforturnately, the content is no longer to update due to out of product lifecycle.

[2018-11-29 18:31] #902 closed

[2018-11-29 18:45] #911 closed

[2018-11-29 19:40] ericcox commented on #902
Oops, thought I was looking at the 2013 docs. My mistake. But note that point #2 also applies to the 2013 docs: https://docs.microsoft.com/en-us/exchange/managed-store-limits-exchange-2013-help#configure-session-limits

[2018-11-29 20:38] JerryCRMI opened #912 "Customer Service Training Links"
On this page https://docs.microsoft.com/en-us/learn/browse/?products=bizapps-d365

there are two Working with Customer Service Courses
Get started with managing cases in Dynamics 365 for Customer Service
Get started with Dynamics 365 for Customer Service

They take you to the same url
https://docs.microsoft.com/en-us/learn/modules/get-started-with-cases-for-dynamics-365-customer-service/

![image]

[2018-11-30 08:25] Skymit opened #913 "Link to Windows server 2016 docs does not work"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/ru-ru/windows/#pivot=it-pro'
Go to 'https://docs.microsoft.com/en-us/windows-server/windows-server-2016'
![1](https://user-images.githubusercontent.com/6419191/49277299-3ff19680-f492-11e8-8690-cd99c43782c0.jpg)

3. See error 'https://docs.

[2018-11-30 11:38] LiHanGod commented on #894
Is there any progress on this issue?

[2018-11-30 12:02] packmad opened #914 "GetTempPathA function wrong example"
While describing the [GetTempPathA](https://docs.microsoft.com/en-us/windows/desktop/api/fileapi/nf-fileapi-gettemppatha) function, in the `lpBuffer` parameter description you say:

But the example "C:\TEMP" does not contain the backslash at the end of the string :)

[2018-11-30 15:36] rothja commented on #894
@LiHanGod Hello, and sorry for the delay. I will try out these steps in a clean Red Hat 7.4 machine this morning to see if I get the same error. Just to let you know, if we can't see the same problem, then we won't be able to troubleshoot with you to figure it out in this content feedback item. But we can redirect you to support or forums for that assistance.

One thing you can look at is the trou

[2018-11-30 17:06] Powerhelmsman commented on #913
@SonjaSaltzman Can you take a look at this issue?

[2018-11-30 18:02] francholi opened #915 "Missing code snippet in document"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.
There are no comment sections.

**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/direct3dtools/debugging-directx-apps-remotely

**Problem:**
Missing code snippet

[2018-11-30 18:06] Powerhelmsman commented on #915
@ginami Can you take a look at this issue?

[2018-11-30 19:07] jdholbrook81 opened #916 "Subscriptions.Create fails unless using old url"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

I don't see a comment section on this article.

**Link to article:**
https://docs.microsoft.com/en-us/rest/api/azure/devops/hooks/subscriptions/create?view=azure-devops-rest-4.1#subscription

**Problem:**
Indicates to use https://dev.azure.com/{organiz

[2018-11-30 21:59] IPv4v6 opened #917 "Links to CVE IDs are broken"
**Link to article:**
https://docs.microsoft.com/en-us/security-updates/securitybulletins/2017/ms17-010

**Problem:**
The links to the CVE IDs are broken. I suppose this affects CVE ID links on other security bulletin pages.

Broken: http://www.cve.mitre.org/cgi-bin/cvename.cgi?name=cve-2017-0143

Working: https://cve.mitre.org/cgi-bin/cvename.cgi?name=cve-2017-0143

[2018-12-01 00:01] Powerhelmsman commented on #916
@dend can you take a look this feedback to see if we can add the solution to the content?

[2018-12-01 09:50] LiHanGod commented on #894
1. running state
[code]

2. Installed package
[code]
3. Environmental
[code]
4. Connect
[code]

Is this an installation problem or a package problem?
I also tried to download unixODBC-utf16-2.3.1-1.x86_64 and unixODBC-utf16-devel-2.3.1-1.x86_64.Again, this problem arises.
Is there anything else to offer?

[2018-12-01 14:04] FrontierDK commented on #837
I actually started the thread at https://social.msdn.microsoft.com/Forums/en-US/15c73cd7-1393-45c2-83be-fbd8a3accf43/where-to-download-the-speech-sdk-54-language-package?forum=netfxbcl and it still can't be downloaded anywhere. Please share the SDK?

[2018-12-02 09:42] cyotek opened #918 "GetPrivateProfileString (and related) formatting error for registry keys"
**Link to article:**
https://docs.microsoft.com/en-gb/windows/desktop/api/winbase/nf-winbase-getprivateprofilestring
https://docs.microsoft.com/en-gb/windows/desktop/api/winbase/nf-winbase-getprivateprofileint
https://docs.microsoft.com/en-gb/windows/desktop/api/winbase/nf-winbase-getprivateprofileinta
https://docs.microsoft.com/en-gb/windows/desktop/api/winbase/nf-winbase-getprivateprofileintw
ht

[2018-12-02 11:22] joshuaboys opened #919 "MS Learn Progression"
Currently it isn't very intuitive as to where you are in a learning path. (ie current progression) This is more pronounced for total beginners who when navigating back to the main docs site can and do choose the first in the list which isnt necessarily what they are working on.
Your profile includes completed but not in progress plus the fact your profile has this info isnt intuitive.

[2018-12-02 19:48] mairaw opened #920 "Should "See Also" wrap?"
Original GitHub issue https://github.com/dotnet/dotnet-api-docs/issues/1257 from @svick

At the end of the documentation for [the `File.ReadAllText(string)` method](https://docs.microsoft.com/en-us/dotnet/api/system.io.file.readalltext?view=netframework-4.6.2#System_IO_File_ReadAllText_System_String_) is the See Also section, which looks like this to me:

![](https://user-images.githubusercontent.

[2018-12-02 19:50] mairaw commented on #920
I agree with @svick. I also think that the header should be bold like other sections.

[2018-12-02 19:51] mairaw commented on #920
This section could also have a similar style from the see also used in conceptual topics:
https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/keywords/static#see-also

[2018-12-03 01:46] hecongy opened #921 "Sample link invalid in doc Simple Drawing Sample"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/learnwin32/simple-drawing-sample

**Problem:**
The sample link [http://go.microsoft.com/fwlink/p/?linkid=201702](http://go.microsoft.com/fwlink/p/?linkid=201702) in section _*Downloa

[2018-12-03 04:48] chungsu opened #922 "'Try It' Console within ALL 'KEYVAULT API 7.0' docs is wrongly coded"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
**All article for Key Vault API Version 7.0**
https://docs.microsoft.com/en-us/rest/api/keyvault/

**Problem:**
What's wrong with the article?

Issue : 'Request' url in 'Try It' Console is not correct. -> If triggered try with requ

[2018-12-03 15:09] rothja commented on #894
@LiHanGod I'm sorry, I don't see why this is failing unless it is something unique to Fedora. There is one fool-proof way that you get use SQL on Fedora through Docker containers. If you can install Docker on Fedora, then you can use the docs to spin up a docker container with SQL in it (https://review.docs.microsoft.com/en-us/sql/linux/quickstart-install-connect-docker?view=sqlallproducts-allvers

[2018-12-03 16:42] Marat-Tanalin commented on #867
Still 404.

[2018-12-03 17:06] martiukh opened #923 "Uncomplete documentation"
**Link to article:**

[https://docs.microsoft.com/en-us/dotnet/api/system.web.mvc.routecollectionextensions.maproute?view=aspnet-mvc-5.2#System_Web_Mvc_RouteCollectionExtensions_MapRoute_System_Web_Routing_RouteCollection_System_String_System_String_System_Object_System_Object_](url)

**Problem:**

Whether I am missing something or MSDN is not complete. Anyway, I am going to make an example of a s

[2018-12-03 17:49] Powerhelmsman commented on #912
@JerryCRMI It seems resolved already.

[2018-12-03 17:49] #912 closed

[2018-12-03 17:50] Powerhelmsman commented on #898
@ginami Can you take a look at this issue.

[2018-12-03 17:50] Powerhelmsman commented on #899
@presleyy Can you take a look at this issue?

[2018-12-03 17:55] Powerhelmsman commented on #903
@marcslevesque Unfortunately this content is no longer to update due to out of product lifecycle. Can you go to new version of document?

[2018-12-03 17:55] #903 closed

[2018-12-03 17:56] Powerhelmsman commented on #803
@dend Do you still need more clarification?

[2018-12-03 17:58] Powerhelmsman commented on #804
@cillroy Can you take a look at this PDF issue?

[2018-12-03 18:00] Powerhelmsman commented on #817
@ccav01 I will close this issue so far due to lack of enough information.

[2018-12-03 18:00] #817 closed

[2018-12-03 18:01] Powerhelmsman commented on #819
@manoj24t I will close it so far due to lack of enough information.

[2018-12-03 18:01] #819 closed

[2018-12-03 18:01] Powerhelmsman commented on #859
@kaliyan I will close this issue so far due to lack of enough information.

[2018-12-03 18:01] #859 closed

[2018-12-03 18:01] Powerhelmsman commented on #900
@xyz20533 I have to close this issue so far due to lack of enough information.

[2018-12-03 18:01] #900 closed

[2018-12-03 18:03] Powerhelmsman commented on #905
@dend can you take a look at this issue?

[2018-12-03 18:04] Powerhelmsman commented on #907
@SonjaSaltzman Can you take a look at this localization issue?

[2018-12-03 18:06] Powerhelmsman commented on #914
@ginami Can you take a look at this issue?

[2018-12-03 18:07] SonjaSaltzman commented on #907
@bodhigautam - could you please follow up? Sounds like a bad translation on the template?

[2018-12-03 18:09] Powerhelmsman commented on #917
@BetaFred Can you take a look at this issue?

[2018-12-03 18:09] Powerhelmsman commented on #918
@ginami Can you take a look at this issue?

[2018-12-03 18:10] Powerhelmsman commented on #919
@yunyunyunyun Can you take a look at this suggestion?

[2018-12-03 18:11] Powerhelmsman commented on #921
@ginami Can you take a look at this issue?

[2018-12-03 18:12] Powerhelmsman commented on #922
@dend Can you take a look at this feedback?

[2018-12-03 18:15] Powerhelmsman commented on #923
@mairaw @dend Can you take a look at this issue?

[2018-12-03 18:20] Powerhelmsman commented on #920
@ShevaDas Can you take a look at this issue?

[2018-12-03 18:29] bodhigautam commented on #907
@Powerhelmsman thanks for looping us in.
@SonjaSaltzman Yes, I am working on it.

[2018-12-03 19:11] mairaw commented on #923
This is ASP.NET ref docs so I can't comment on this. Adding @Rick-Anderson and @scottaddie.

[2018-12-03 20:10] dend commented on #922
#log-suggestion @dend

[2018-12-03 20:10] botcrane commented on #922
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=54131) logged.

[2018-12-03 20:21] dend commented on #922
Thank you for the report, @chungsu - we're investigating the root cause.

[2018-12-03 20:32] nokura commented on #843
Hello @patrickemmerich
Thank you for your feedback.
We are looking into the issue you brought and will get back to you when we make the decision.
Best Regards,
Microsoft DOCS International Team

[2018-12-03 20:32] dend commented on #916
Assigning to @wnjenkin as the driver of the Azure DevOps REST content.

[2018-12-03 20:32] Powerhelmsman commented on #923
@Rick-Anderson Changed already.

[2018-12-03 20:37] dend commented on #905
@Damilope @mairaw could you please provide more information, along with a screenshot and browser information, if possible? Doesn't seem like I can repro.

[2018-12-03 20:44] dend commented on #904
@mairaw I see that the text is rendered on yellow background. Is there something that I might be missing in the content somewhere else?

[2018-12-03 20:48] dend commented on #897
Assigning to @cephalin for follow-up.

[2018-12-03 20:50] mairaw commented on #904
I think we need more info from @EddyHaigh since he might be looking at the syntax block and completely skipping the yellow box. Hence my two cents that maybe the previous layout we had on MSDN with a simple bold message right on top of the summary could be more effective.

[2018-12-03 20:54] dend commented on #871
Assigning to @JRAlexander for follow-up, as he is the content driver for ML.NET.

[2018-12-03 20:55] dend commented on #772
Assigning to @Juliako for follow-up, as the content driver for Media Services.

[2018-12-03 20:58] dend commented on #852
Assigning to @seguler for follow-up, as the product owner.

[2018-12-03 21:02] dend commented on #764
#log-suggestion @dend

I am going to go ahead and log an internal suggestion for this, to make sure that we are tracking this work. However, in the bigger scope of things that we are doing for API documentation, this would be relatively low-priority, therefore at this time I am closing the issue.

[2018-12-03 21:02] botcrane commented on #764
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=54142) logged.

[2018-12-03 21:02] #764 closed

[2018-12-03 21:03] dend commented on #755
Closing this issue as no additional information was provided. @TanvirShah - feel free to add more information, when available, and we can re-assess the experience impact here.

[2018-12-03 21:03] #755 closed

[2018-12-03 21:09] dend commented on #644
Following-up here - to make sure that the APIs are onboarded to the .NET API Browser, the UWP content engineering team needs to make some changes to the underlying content YAML, to ensure that we are able to distinguish between different content versions.

Given that we are not able to provide a concrete timeframe for this work at this time, I will resolve the issue as `by-design`. Please be assur

[2018-12-03 21:09] #644 closed

[2018-12-03 21:17] dend commented on #697
Following-up on the request - thank you @ericmutta for the detailed explanation. The work is tracked [here](https://ceapex.visualstudio.com/Engineering/_workitems/edit/53469/) internally. Given that this work does not yet have a definitive timeframe, I am resolving this issue.

We will start by applying boilerplate **Thread Safety** information, and @mairaw and the content team can determine what

[2018-12-03 21:17] #697 closed

[2018-12-03 22:33] dend commented on #610
Following-up on the item - given that we are tracking the item internally, and there is no definitive timeline assigned to the improvement, I am going to resolve the issue. We will continue working with our engineering team to make sure that the improvements are accounted for in our planning cycle.

@svick as always, appreciate your detailed and on-point suggestions!

[2018-12-03 22:33] #610 closed

[2018-12-03 22:42] dend commented on #574
#log-suggestion @dend

Following-up on this item - I am opening an internal issue to track the request for future experience considerations. Given that the work is currently not planned, I am closing this public issue. @pinecones-sx - appreciate your detailed breakdown of the problem at hand!

[2018-12-03 22:42] #574 closed

[2018-12-03 22:42] botcrane commented on #574
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=54180) logged.

[2018-12-03 22:52] dend commented on #421
Following-up on the item. Given that there is an internal item tracking the work for this enhancement, and there is currently no definitive timeframe for the implementation, I will close this issue. We will continue looking at what is the best way for us to implement this in the .NET API documentation experience.

[2018-12-03 22:52] #421 closed

[2018-12-03 23:27] #72 closed, assigned to dend

[2018-12-03 23:43] dend commented on #254
Following-up on this issue - given that there is an internal tracking work item, and we don't have a definitive timeframe for the fix, I will close this issue.

We will continue to investigate how we can make the UX and presentation around the overload table better.

[2018-12-03 23:43] #254 closed

[2018-12-03 23:45] SonjaSaltzman commented on #417
@dongmicro could you please follow up on this?

[2018-12-03 23:47] SonjaSaltzman commented on #712
@ishasahni1 assigning to you

[2018-12-03 23:49] dend commented on #224
#log-suggestion @dend

Given that this issue now has an internal work item, and there is no definitive timeframe in which this change will be implemented, I am going to close the issue for the time being. We will be looking at the API Browser holistically and see how we can improve the fidelity of the search results.

[2018-12-03 23:49] #224 closed

[2018-12-03 23:49] botcrane commented on #224
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=54194) logged.

[2018-12-03 23:53] dend commented on #158
Given that this item has an internal tracking issue and there is no definitive time frame in which the fix will be deployed, I am going to close this issue for now. We continue to look at how we can improve the API Browser search and integrated API experiences.

[2018-12-03 23:53] #158 closed

[2018-12-03 23:55] SonjaSaltzman commented on #885
Adding @JasonCard. I believe this content is a mix of human and machine translated content.  @p1eXu5 has actually helped us find a bug - the page should have the machine-translation disclaimer, we will work on a fix for this.
@p1eXu5, for the mean time, if you do not want to see any Russian content at all, you can switch your language picker (bottom left of the site) to English.
![image](https://u

[2018-12-04 00:07] saldana commented on #880
Linking different accounts is in our roadmap within the next few months. Right now I do not have a date where we can deliver this functionality though.

[2018-12-04 00:32] saldana commented on #889
@markfilipak-windows, sorry for my late response. I was on vacation until today. Unfortunately we are using two different profiles in answers.microsoft.com and in docs.microsoft.com so right now we require to create two accounts. We are aware that this is far from ideal from a user's perspective and we are looking into solving the problem. We do not have a timeline yet for it. I am very sorry abou

[2018-12-04 01:05] JasonCard commented on #885
@p1eXu5 @SonjaSaltzman I confirm this content is a mix of human and machine translation, which is not always perfectly understandable. As Sonja mentioned, please use the "Read in English" option on the right which allows you to switch to the English version without having to change the language settings.
We will be working on a fix to have the machine-translation disclaimer even when the article i

[2018-12-04 01:05] #885 closed

[2018-12-04 01:14] Damilope commented on #905
Here are the screenshots. And the browser is  Chrome version 70.0.3538.110.

On Mon, Dec 3, 2018 at 3:37 PM Den Delimarsky <notifications@github.com>
wrote:

[2018-12-04 01:48] mairaw commented on #905
@Damilope attachments don't work via email response. Please come to the GitHub UI to attach them.

[2018-12-04 02:06] Damilope commented on #905
Okay.
![01](https://user-images.githubusercontent.com/13324524/49413881-583a0d80-f73f-11e8-98de-c65c66b72b35.PNG)
![02](https://user-images.githubusercontent.com/13324524/49413882-583a0d80-f73f-11e8-8a0d-d58882ecc63a.PNG)

[2018-12-04 03:19] mhogan73 commented on #602
We are revisiting this translation issue reported and hope to update this issue and also #881 and #882 tomorrow with a resolution. Thx.

[2018-12-04 05:11] ibakirov commented on #846
@yunyunyunyun, sandbox reset itself and today after two week doing nothing I was able to successfully activate sandbox.

The same issue was raised on forum and got the same answer:
https://social.microsoft.com/Forums/en-US/68f262b3-86d5-4be5-a343-711cfea1b446/solved-sandbox-does-not-activate-on-microsoft-learn-units?forum=CertGeneral

@katefrancesca if you don't mind ticket may be resolved and clo

[2018-12-04 05:13] markfilipak-windows commented on #889
Hello Sandra,

Suggestion: In the interim, can you post a note on the sign-ups that
inform users of this issue so that they don't think they've done
something wrong or that something is broken.

Regards,
Mark.
---
----
When you don't know what you want, finding it brings surprise.

On 12/03/2018 07:32 PM, Sandra Aldana wrote:

[2018-12-04 05:18] ibakirov commented on #828
@njenekar I was already working in Incognito mode from the beginning. Really I didn't matter and does not resolve the issue.

Sandbox reset itself and today after my try I successfully activated sandbox with re-accepting sandbox invitation. I really didn't try on two week holidays, that's magic :) **Boguslaw Buczek** confirms that sandbox reset by itself and got working too: https://social.microso

[2018-12-04 06:23] HaoLife opened #924 "Sample data on the design surface on the UWP does not take effect"
**Describe the bug**
I used sample data on the design surface during the development of the UWP app, but found no effect, and it was effective for me to use the method in WPF with the same example, which should be a bug for the UWP app

**To Reproduce**
Steps to reproduce the behavior:
1.Add to xmlns:ds="using:Designs.Homes"
2.Add to d:DataContext="{d:DesignInstance Type=ds:MainDesign, IsDesignTim

[2018-12-04 09:45] HersinSu opened #925 "Hyperlink misleading"
**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/Debug/pe-format#coff-file-header-object-and-image

**Problem:**
the hyperlink of "Characteristics"  at the bottom of  "COFF File Header" table leads to "DLL Characteristics". I  think it is misleading. The right place should be the "Characteristics" section followed with "Machine Type".

[2018-12-04 11:46] berndcolve opened #926 "SMSS v17.9 crashed after exporting a *.vs-settings file"
MS SQL Server Management Studio v17.9: InvalidComObjectException after exporting SSMS-Settings:  System.Runtime.InteropServices.InvalidComObjectException: 'Ein COM-Objekt, das vom zugrunde liegenden RCW getrennt wurde, kann nicht verwendet werden.'

I use this Version since few days but this is my first exception from SSMS.
Is this a known or already fixed issue? Is it safe to update to the newer

[2018-12-04 15:01] martiukh commented on #923
Up!

[2018-12-04 15:17] EddyHaigh commented on #904
@mairaw i was looking at the top box not the syntax, I wish I took a screenshot at the time, sadly I didn't, so I've tried my best to reconstruct what it looked like when I first saw it (below).

![image](https://user-images.githubusercontent.com/23223991/49451355-ec0ae880-f7d6-11e8-9297-7c80cea86799.png)

I've been keeping an eye on this issue and I have seen it change from the grey/white backgro

[2018-12-04 16:01] cephalin commented on #897
Please assign this to @naveedaz

[2018-12-04 18:13] Damilope commented on #905
@mairaw is there anything I can do?

[2018-12-04 22:42] ericmutta commented on #697
Many thanks for following up, I look forward to any announcements on this whenever they may come in the future :+1:

[2018-12-05 00:47] GregDomzalski commented on #827
@ginami Any update on this? 25 days and most of the links on https://docs.microsoft.com/en-us/windows/desktop/SecAuthN/authentication-functions under the "Functions implemented by SSP/APs" still are throwing 404s. Additionally, if I get lucky and am able to find the old page in Google's cache or archive.org, all of the linked enumeration / structure definition pages seem to be broken / missing as

[2018-12-05 01:41] mairaw opened #927 "Language selector behavior"
Original GitHub issue https://github.com/dotnet/docs/issues/3620 by @MicrosoftDocs/labs

There are two issues being reported with that original docs issue, which I'm summarizing here:

1 - Selecting Language C++ - Examples shown in C#
https://docs.microsoft.com/en-us/dotnet/api/System.TimeZoneInfo.GetSystemTimeZones

(and I think the default behavior for VB is to show C++ if available, if not C# -

[2018-12-05 02:37] LiHanGod commented on #894
Okay, I'll use mysql.
I look forward to the next update being used successfully on Fedora.
If you can, please give me a notice.
My mailbox is 568117769@qq.com.

[2018-12-05 04:55] Powerhelmsman commented on #927
@dend Can you follow up this suggestion?

[2018-12-05 09:14] ygra opened #928 "Link content is missing in search results"
On the search page the parts of the summary that are links in the fully-rendered documentation are completely missing. While those links should probably be rendered as normal text in the search results they should not be absent completely.

**To Reproduce**

Steps to reproduce the behavior:

1. Go to, e.g. https://docs.microsoft.com/en-us/dotnet/api/?view=netframework-4.7&term=DispatcherObject

**

[2018-12-05 09:47] BadgerCode opened #929 "Incorrect Microsoft.EventGrid eventSubscriptions property values"
**Link to article:**
https://docs.microsoft.com/en-gb/azure/templates/microsoft.eventgrid/2018-09-15-preview/eventsubscriptions

**Problem:**
Two of the property values do not align with the template at the top.
I am treating the template at the top as the source of truth (as it has the correct schema for `destination`).

* [deadletterProperties object](https://docs.microsoft.com/en-gb/azure/templ

[2018-12-05 09:49] BadgerCode commented on #929
Also, does this page live in open-source version control?

[2018-12-05 15:04] abuassar opened #930 "choosing ASP.Net Core version 2.2 produce no content in .NET API Browser"
**Describe the bug**
no content is showing if we choose version 2.2 of asp.net core

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/dotnet/api/?view=aspnetcore-2.2
2. See error "No namespaces"
3. Type "usermanager" in search box
4. See error "No results"

**Expected behavior**
A list of apis should show

**Desktop (please complete the following informat

[2018-12-05 15:06] abuassar commented on #809
ASP.NET 2.2 has been releases officially yet its api still missing from the api browser

[2018-12-05 15:25] rothja commented on #894
@LiHanGod I apologize that we could not find a solution for you. If we come out with full support for Fedora, I will try to let you know. Thank you for reaching out to us.

#please-close

[2018-12-05 16:17] dzsquared commented on #167
in the meantime, if you need to get the table of contents out of the way this will take care of it temporarily:

[code]

especially useful if you have your browser tiled left or right

[2018-12-05 17:00] mhogan73 commented on #602
@yumetodo We are making a change to the topic, this should be published live soon. I will update you when the topic is Live. Thanks.

[2018-12-05 17:00] mhogan73 commented on #881
We are making a change to the topic, this should be published live soon. I will update you when the topic is Live. Thanks.

[2018-12-06 01:08] nschonni commented on #929
The swagger files are in this repo https://github.com/Azure/azure-rest-api-specs

[2018-12-06 08:50] SysFlat opened #931 "error occurs when using denvenv to build C++ project"
I want to build my c++ project in command line. So i follow this :
https://docs.microsoft.com/zh-cn/visualstudio/ide/reference/build-devenv-exe?view=vs-2017
![image](https://user-images.githubusercontent.com/19515782/49572511-f1069e00-f976-11e8-815a-70a18b4e91e8.png)

My command is:
**C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional>
Devenv G:\00-CodeCoverage\GMP5.0_Adapter_GTJ2018

[2018-12-06 09:56] HekiShavik commented on #907
I like the new "Læsetid: x minutter". It is a Little more formal though, but it is much better than the previous "x minutter til læsning".

[2018-12-06 16:18] SonjaSaltzman commented on #907
Great, thanks for letting us know @HekiShavik :-)

[2018-12-06 16:18] #907 closed

[2018-12-06 18:30] dend commented on #905
@Damilope @mairaw I cannot repro this on the latest version of Chrome, Firefox and Edge. Can you please clear the cache and try loading the page again?

[2018-12-06 18:32] mairaw commented on #905
Yep, I can't repro either on Chrome.

[2018-12-06 18:33] dend commented on #298
@riverar @mairaw looks like all attributes are now rendered correctly, including the ones in https://github.com/MicrosoftDocs/feedback/issues/298#issuecomment-408528118. Thank you two for sticking through the process! 🎉

[2018-12-06 18:33] #298 closed

[2018-12-06 18:33] mairaw commented on #904
@dend should I file the change to use bold instead of this giant box on our internal backlog?

[2018-12-06 18:36] riverar commented on #298
@dend Um. I'm not seeing that. For example, this page has a ClassInterfaceAttribute with zero parameters https://docs.microsoft.com/en-us/dotnet/api/accessibility.caccpropservicesclass?view=netframework-4.7.1

![image](https://user-images.githubusercontent.com/475132/49604429-b4b94a80-f942-11e8-8cda-008d88a1e8c5.png)

[2018-12-06 18:38] mairaw commented on #298
That's a separate issue @riverar. Our system is not version-aware at the moment so it displays all attributes that ever existed across all versions.

@dend do we have an issue tracking that?

[2018-12-06 18:39] dend commented on #489
Following-up here - @pkulikov, it looks like you addressed the original issue, and the code snippet now works correctly. Are you looking for anything else in terms of experience changes in this feedback item?

[2018-12-06 18:40] riverar commented on #298
@mairaw  Are you saying ClassInterfaceAttribute had a parameter-less constructor at some point? That doesn't sound right.

[2018-12-06 18:42] mairaw commented on #298
That's what the reflection results are saying. Let me double check with the actual assemblies.

[2018-12-06 18:46] riverar commented on #298
Hm print media dating back to 2002 doesn't show this. Also, having two of these attributes on a single object doesn't make a lot of sense either. I guess this bug is closed but the story is still busted. We'll need to turn around and file a new bug.

[2018-12-06 18:47] dend commented on #298
That might indeed be a separate issue - we now show the attribute, but we should check that the value for the parameter is different.

[2018-12-06 18:47] mairaw commented on #298
@riverar this seems to be a bug with mdoc. I'll file an issue in the appropriate repo and tag you.

This is what's generating:
https://github.com/dotnet/dotnet-api-docs/blob/master/xml/Accessibility/CAccPropServicesClass.xml#L26

This is what the source has:
https://referencesource.microsoft.com/#Accessibility/Accessibility/CAccPropServicesClass.cs,10

/cc @joelmartinez

[2018-12-06 18:53] mairaw commented on #298
@dend and what about the version-aware attributes? This is being tracked already right?

For example: https://docs.microsoft.com/en-us/dotnet/api/system.runtime.interopservices.safebuffer?view=netframework-4.7.2

[2018-12-06 18:59] joelmartinez commented on #298
@mairaw Hmm, yeah … looks like for some reason the formatter is not adding the parameter on some versions of that member definition. Thanks, looking forward to the gh issue on the mdoc repo.

[2018-12-06 19:09] dend commented on #298
@mairaw not tracked in a public forum, but that is part of the Schema-based Document Processor migration for .NET

[2018-12-06 20:08] mairaw commented on #298
That's what I imagined. Thanks for confirming.

[2018-12-06 20:34] mairaw commented on #905
Can you confirm your browser and version?

I am using version Version 70.0.3538.110 (Official Build) (64-bit) of Chrome for Windows.

[2018-12-06 20:47] Damilope commented on #905
Mine is Chrome Version 70.0.3538.110 (Official Build) (64-bit) on Windows.

On Thu, Dec 6, 2018 at 3:34 PM Maira Wenzel <notifications@github.com>
wrote:

[2018-12-06 22:27] idealser opened #932 "Microsoft.AspNetCore.Authorization namespace missing"
Microsoft.Aspnetcore.Authorization namespace is missing when using .NET Core 2.2

**To Reproduce**
1. Set TargetFramework of .csproj file to "netcoreapp2.2"
2. Set RuntimeFrameworkVersion to "2.2.0"
2. Include PackageReference "Microsoft.AspNetCore.App"
3. Try to use Authorize attribute or to Microsoft.AspNetCore.Authorization namespace in any controller.
4. Namespace is not found.

**Expected beh

[2018-12-06 23:04] pkulikov commented on #489
@dend I'm fine with the workaround applied. Also proposed solution might be not-intuitive to use, I'm not sure if it would be a good change in experience. So, I'm OK with you closing this issue, if you would like to do so.

[2018-12-07 05:51] nschonni commented on #893
Found there was a typo in my original example, since it needs to be in a `publisher.extension` format

[2018-12-07 08:55] rickardp opened #933 "Don't auto translate from english if english is spoken!"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I have to manually switch back to English from Swedish. Swedish translation is really poor, but even if it was improved, I'd still prefer English to get the terminology right for Google, Stackoverflow, etc. Having to switch back every time is a distraction from the content.

**Describe the solution you'd

[2018-12-07 09:34] Holo-Krzysztof opened #934 "CreateWellKnownSid WELL_KNOWN_SID_TYPE links to a 404"
**Describe the bug**
The CreateWellKnownSid doc page links to non-existent WELL_KNOWN_SID_TYPE documentation.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/windows/desktop/api/securitybaseapi/nf-securitybaseapi-createwellknownsid
2. Click on the WELL_KNOWN_SID_TYPE link under parameters
3. See 404

**Expected behavior**
I expected a page explaining th

[2018-12-07 10:47] SatoruTaniya commented on #897
Since List of other RestAPI has value []
Would you modify the implementation of RestAPI?

Your answer thank you.

[2018-12-07 13:14] alexclowe opened #935 "Learn experience points not calculating"
We have a few users with an experience point total that is actually going down as they complete more modules. https://techprofile.microsoft.com/en-us/pehrenreich is the user and their profile currently reads 1,725 XP when they clearly have more.

Steps to reproduce the behavior:
https://techprofile.microsoft.com/en-us/pehrenreich
https://techprofile.microsoft.com/en-us/Tawze
https://techprofile.mi

[2018-12-07 18:29] mairaw opened #936 "Methods summary column width in API reference"
Original GitHub issue https://github.com/dotnet/docs/issues/1174 by @svick

The Methods summary table in API reference seems to have fixed relative column widths, which makes it look bad in some cases.

For example on [`Microsoft.CSharp.RuntimeBinder.Binder`](https://docs.microsoft.com/en-us/dotnet/core/api/microsoft.csharp.runtimebinder.binder), it looks like this for me:

![](http://imgur.com/VY

[2018-12-07 18:30] mairaw commented on #936
Since this issue was filed (2 years ago), wrapping has improved as @svick has pointed out but column width is still fixed:
![](https://user-images.githubusercontent.com/287848/49665395-03570980-fa55-11e8-9ceb-a2a0c97813ab.png)

[2018-12-07 18:43] mairaw opened #937 "Remarks before Examples in Documentation"
Original GitHub issue https://github.com/dotnet/dotnet-api-docs/issues/1301 from @NetMage

In general, it seems to me that Remarks should precede Examples in the documentation, as without the Remarks explaining the background and purpose of classes, the Examples aren't always meaningful. Possibly after the members documentation as well.

---
#### Document Details

⚠ *Do not edit this section. It i

[2018-12-07 18:50] svick commented on #937
I suspect this is about deciding to which target audience to cater to.

Personally, I am, like you, @NetMage, usually looking for Remarks, to understand the details of how a member works.

But I think that many people are usually looking for a good Example, to understand how to use the member in the first place.

MSDN used to focus on the first group of people, by putting Remarks first. Docs.MS fo

[2018-12-07 20:44] NetMage commented on #937
That's why I picked a class's documentation instead of a member. Perhaps class documentation is best served Remarks first, and member documentation Example first.

[2018-12-07 22:18] SLID123 opened #938 "Presa-mr"
es built the Root Checker app as a Commercial app

[2018-12-08 03:36] xiaoyinl opened #939 "Many Wininet functions have wrong return types"
**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/api/wininet/nf-wininet-internetopena
https://docs.microsoft.com/en-us/windows/desktop/api/wininet/nf-wininet-internetopenurla
https://docs.microsoft.com/en-us/windows/desktop/api/wininet/nf-wininet-internetconnecta

**Problem:**
All of these articles show the return types as `void`, but they should actually return `HINTERNET`.

[2018-12-08 03:41] Powerhelmsman commented on #924
@HaoLife Can you provide the page link you refer to?

[2018-12-08 03:41] Powerhelmsman commented on #925
@ginami Can you take a look at this issue?

[2018-12-08 03:45] Powerhelmsman commented on #926
@stevestein Can you help this custom?

[2018-12-08 03:47] Powerhelmsman commented on #928
@dend Can you take a look at this issue?

[2018-12-08 03:51] Powerhelmsman commented on #929
@tfitzmac Can you take a look at this issue?

[2018-12-08 03:51] Powerhelmsman commented on #930
@dend Can you take a look at this issue?

[2018-12-08 03:55] Powerhelmsman commented on #931
@SysFlat You are issue is transferred to visual studio team. They will help you there.

[2018-12-08 03:55] #931 closed

[2018-12-08 04:00] Powerhelmsman commented on #932
@idealser This channel is for Docs site feedback instead of product issue. Can you go to https://forums.asp.net/ to ask your question?

[2018-12-08 04:00] #932 closed

[2018-12-08 04:01] Powerhelmsman commented on #933
@SonjaSaltzman Can you take a look at this feedback?

[2018-12-08 04:01] Powerhelmsman commented on #934
@ginami Can you take a look at this issue?

[2018-12-08 04:05] Powerhelmsman commented on #935
@saldana  Can you take a look at this issue?

[2018-12-08 04:07] Powerhelmsman commented on #936
@dend Can you take a look at this feedback?

[2018-12-08 04:09] Powerhelmsman commented on #937
@dend Can you take a look at this suggestion?

[2018-12-08 04:10] Powerhelmsman commented on #938
@SLID123 Can you provide more detail about your issue?

[2018-12-08 04:11] Powerhelmsman commented on #939
@ginami Can you take a look at this issue?

[2018-12-08 05:15] fkfv opened #940 "URL_COMPONENTSA page link has not been updated in articles"
**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/api/wininet/nf-wininet-internetcrackurla
https://docs.microsoft.com/en-us/windows/desktop/api/wininet/nf-wininet-internetcreateurla

**Problem:**
The URL_COMPONENTSA link goes to a non-existant page instead of the URL_COMPONENTSA page listed in the sidebar.

[2018-12-08 09:38] HaoLife commented on #924
https://docs.microsoft.com/zh-cn/windows/uwp/data-binding/displaying-data-in-the-designer

[2018-12-09 13:31] tfitzmac commented on #929
@BadgerCode - thanks for this feedback. Are you saying that the JSON representation is correct, but the tables of property values is not correct?

[2018-12-09 13:46] BadgerCode commented on #929
@tfitzmac Yes. The JSON is correct, but the tables are incorrect.

I have tested this with the **destination** property.

[2018-12-10 00:29] wesinator opened #941 ""For more information" link displayed as code block in Windows Desktop API docs"
**Describe the bug**
"For more information" link is rendered as code on the doc page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/windows/desktop/api/processthreadsapi/ns-processthreadsapi-_startupinfoa#members

**Expected behavior**
More information link given directly in doc

**Screenshots**
![image](https://user-images.githubusercontent.com/51249

[2018-12-10 00:36] wesinator commented on #917
https://github.com/MicrosoftDocs/security-updates.pt-br/issues/222

https://github.com/search?q=org%3AMicrosoftDocs+%22www.cve.mitre.org%22&type=Code

[2018-12-10 00:41] nschonni commented on #917
I also opened up #756 which was closed without action

[2018-12-10 09:06] Pzixel opened #942 "Mismatch between docs and ECMA on PE header"
**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/Debug/pe-format#optional-header-data-directories-image-only

**Problem:**
The problem is that documentation names the second last field `CLR Runtime Header`

However, if you look on ECMA335 which actually introduced this field it names it `CLI Header` (see [link] (https://www.ecma-international.org/publications/files/ECMA-ST/ECM

[2018-12-10 17:05] Powerhelmsman commented on #924
@HaoLife Your issue is transferred to UWP team. They will help you there.

[2018-12-10 17:05] #924 closed

[2018-12-10 17:09] Powerhelmsman commented on #940
@ginami Can you take a look at this issue?

[2018-12-10 17:09] Powerhelmsman commented on #941
@ginami Can you take a look at this issue?

[2018-12-10 18:04] gabrielsroka opened #943 "typo - Power Query M"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/powerquery-m/quick-tour-of-the-power-query-m-formula-language

**Problem:**
change
[code]
to
[code]

`let` and `in` should be lowercase.

[2018-12-10 18:11] gabrielsroka opened #944 "typos: Power Query - comments"
**Link to article:**
https://docs.microsoft.com/en-us/powerquery-m/comments

**Problem:**
the comments are formatted wrong (they were erroneously escaped):
change `\/\/` to `//`
change `\/\*` to `/*`, etc
also `\[`, `\#`, `\=`, etc. need to be unescaped

[2018-12-10 20:43] DavidPrio commented on #712
Hi @ishasahni1 The issue does not seem to repro any longer, as you can see in SS below:
![image](https://user-images.githubusercontent.com/35581209/49760321-faf40e00-fca2-11e8-954c-c8c2ca8ac88e.png)
Also, please remember to assign the issues to me so we can import them and work on the accordingly.
@SonjaSaltzman @Sara-Nicolini FYI

[2018-12-10 20:43] #712 closed

[2018-12-10 22:42] CeciAc commented on #843
Hi @patrickemmerich
Thank you for your feedback.
 
Our engineer team reviewed your suggestions and accepted them. We implemented your feedback and published to the updated articles on the Docs site to the following pages https://docs.microsoft.com/de-de/sql/connect/odbc/linux-mac/installing-the-driver-manager?view=sql-server-2017.

We truly appreciate your contribution to our articles and we encou

[2018-12-10 22:42] #843 closed

[2018-12-10 23:05] mhogan73 commented on #602
@yumetodo Please note the updated topic should now be Live, can you please review ? Thanks.

https://docs.microsoft.com/ja-jp/dynamics365/customer-engagement/developer/developer-resources-page#organization-data-service

[2018-12-10 23:06] mhogan73 commented on #882
@DaisukeEda @yumetodo https://docs.microsoft.com/ja-jp/dynamics365/customer-engagement/developer/use-microsoft-dynamics-365-web-services#organization-data-service has been updated and is now Live, can you please review ? Thx.

[2018-12-10 23:06] #602 closed

[2018-12-10 23:07] mhogan73 commented on #881
@yumetodo PLease note the topic has been updated. Can you please review ? Thx, https://docs.microsoft.com/ja-jp/dynamics365/customer-engagement/developer/developer-resources-page#organization-data-service

[2018-12-10 23:37] #881 closed

[2018-12-10 23:41] DaisukeEda commented on #882
Great! Thank you.

From: Marina Hogan <notifications@github.com>
Sent: Tuesday, December 11, 2018 8:06 AM
To: MicrosoftDocs/feedback <feedback@noreply.github.com>
Cc: Daisuke Eda <daised@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/feedback] Japanese Translation is incorrect. (#882)

@DaisukeEda<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fg

[2018-12-11 02:05] Matteo-T commented on #926
A few things:
- Best way to report SSMS issues is UserVoice:
- The issue seems to be related to a corrupted VS Shell: could you try to uninstall SSMS (completely, as outlined in https://docs.microsoft.com/sql/ssms/sql-server-management-studio-changelog-ssms?view=sql-server-2017#uninstall-and-reinstall-ssms-17x) and the reinstall to see if that helps?

Thanks,
-Matteo

[2018-12-11 06:19] berndcolve commented on #926
Hi Matteo,
well my SSMS v17.9 seems to work stable even after I started SSMS again that crash.
The crash happened just after file export of the SSMS settings.
But of course I can uninstall and reinstall and again export SSMS settings file.

[2018-12-11 07:41] berndcolve commented on #926
I first tried to update to a SQL Server Management Studio v18.preview5, but now I' can't see that that SSMS Info about does not show that it's a v18.preview 5 (v17.9 is shown).
So now I'll uninstall+reinstall and will export file SSMS Settings.

[2018-12-11 07:48] Matteo-T commented on #926
Nope. 17.x and 18.0 live side by side. Just make sure you start the right one

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Bernd Colve <notifications@github.com>
Sent: Monday, December 10, 2018 11:41:33 PM
To: MicrosoftDocs/feedback
Cc: Matteo Taveggia; Comment
Subject: Re: [MicrosoftDocs/feedback] SMSS v17.9 crashed after exporting a *.vs-settings file (

[2018-12-11 09:55] mairaw opened #945 "Inheritance should be inverted and it should omit the final class"
Original GitHub issue https://github.com/dotnet/dotnet-api-docs/issues/1337 by @drowa

Instead of... Inheritance Object -&gt; SubClass1 -&gt;  ... -&gt; SubClassN -&gt; ClassOnThisDocPage
It should be... Inheritance SubClassN &lt;- ... &lt;- SubClass1 &lt;- Object

This would follow the structure of the code, focusing on the immediate parent which is usually more relevant than Object.

Also, omitt

[2018-12-11 10:16] m123j123 opened #946 "email adress not valid"
If you want to write an email to request a new supported R package in Power BI, there is always an email coming back that it is not allowed to send emails to powerbiai@microsoft.com. my email I sent out gone to rinpbifb@microsoft.com but there seems to be a forwarding to the powerbiai@microsoft.com.

Soo: Where shall I write to to get my request placed?

[2018-12-11 15:15] Cimberlyz opened #947 "They trick people into money and lie. Be aware!"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
Tell us where exactly a problem occurs.

**Problem:**
What's wrong with the article?

[2018-12-11 17:53] Powerhelmsman commented on #945
@dend Can you take a look at this feedback?

[2018-12-11 17:55] Powerhelmsman commented on #946
@m123j123 Can you go to https://community.powerbi.com/ to provide your request for product feedback?

[2018-12-11 17:55] #946 closed

[2018-12-11 17:56] #947 closed

[2018-12-11 17:58] Powerhelmsman commented on #943
@Minewiskan Can you take a look at this typo?

[2018-12-11 17:59] Powerhelmsman commented on #944
@Minewiskan Can you take a look at this issue?

[2018-12-11 18:02] Powerhelmsman commented on #575
@gosali It seems the problem is resolved. Can you confirmed?

[2018-12-11 18:06] Powerhelmsman commented on #753
@EdisonDa @vidyutron  I can't repro the issue too. I will close it for now. Let me know if you still have the same issue, I can reopen it.

[2018-12-11 18:06] #753 closed

[2018-12-11 18:07] Powerhelmsman commented on #759
@presleyy See if you have any suggestion?

[2018-12-11 18:09] #563 closed

[2018-12-11 18:10] Powerhelmsman commented on #567
@dend Can you take a look at this question?

[2018-12-11 18:11] #587 closed

[2018-12-11 18:12] Powerhelmsman commented on #607
@cillroy Is this your area?

[2018-12-11 18:14] Powerhelmsman commented on #698
@nbkawa-sh Currently we don't have resource to update the previous-versions pages. I have to close it so far.

[2018-12-11 18:14] #698 closed

[2018-12-11 18:14] #707 closed

[2018-12-11 18:16] Powerhelmsman commented on #705
@yunyunyunyun Assign this feedback to you since you are Learn PM.

[2018-12-11 18:18] Powerhelmsman commented on #816
@markgalioto @georgewallace can you take a look at this issue?

[2018-12-11 19:54] InRedikaWB opened #948 "Bug in html code on docs.microsoft"
Bug in html code

![bug-report](https://user-images.githubusercontent.com/22368203/49826198-64554900-fd97-11e8-801f-46e4cd9b1e66.jpg)

Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/dotnet/index#pivot=docs&panel=desktop
2. See error

**Desktop:**
 - OS: Windows 1809
 - Browser chrome
 - Version 70.0.3538.110

[2018-12-11 19:59] seltzy commented on #877
I just ran into this. It was very misleading.

[2018-12-11 20:41] nschonni commented on #948
There was a merge conflict, I opened a PR https://github.com/dotnet/docs/pull/9550

[2018-12-11 21:06] Powerhelmsman commented on #948
@dend can you take a look this feedback?

[2018-12-11 21:11] Powerhelmsman commented on #301
@routlaw Can you take a look at this feedback since Sateesh didn't response.

[2018-12-11 21:16] sebagomez opened #949 "Broken link in the makecert hlp file"
**Describe**
I wanted to go to the "new" New-SelfSignedCertificate link stated at the top (Note) but I get a 404 page

**To Reproduce**
Go to https://docs.microsoft.com/en-us/windows/desktop/seccrypto/makecert
There's a Note at the very top stating that makecert is deprecated and that you should go to the New-SelfSignedCertificate page (and there's supposed to be a link there)
Click on that link a

[2018-12-11 21:24] Powerhelmsman commented on #374
@nschonni There is no plan to move this repo to MicrosftDocs, they will manage it by themselves.

[2018-12-11 21:24] #374 closed

[2018-12-11 21:31] Powerhelmsman commented on #537
@Pharabus The issue is resolved.

[2018-12-11 21:31] #537 closed

[2018-12-11 21:32] #557 closed

[2018-12-11 21:34] Powerhelmsman commented on #562
@rothja The picture in dark mode is still blur.  When can fix it?

[2018-12-11 21:36] Powerhelmsman commented on #566
@rloutlaw Any updates about this feedback?

[2018-12-11 21:40] Powerhelmsman commented on #568
@v-sefedo Your PR is closed without merge. Can you response if your team will add some examples?

[2018-12-11 21:41] Powerhelmsman commented on #568
@theresapalmer For your reference

[2018-12-11 21:41] Powerhelmsman commented on #589
@ginami Can you take a look at this issue?

[2018-12-11 21:45] Powerhelmsman commented on #600
@FonzieBear The issue is resolved.

[2018-12-11 21:45] #600 closed

[2018-12-11 21:48] theresapalmer commented on #568
@schabungbam would own this from the PM side.

[2018-12-11 21:51] Powerhelmsman commented on #605
@ dendeli-msft Can you take a look at this issue?

[2018-12-11 21:53] Powerhelmsman commented on #615
@dend @sudeepku Any updates so far?

[2018-12-11 21:56] Powerhelmsman commented on #659
@svick Your issue is transferred to .Net team. They will help you there.

[2018-12-11 21:56] #659 closed

[2018-12-11 21:57] Powerhelmsman commented on #662
@craigcaseyMSFT Can you response to the feedback?

[2018-12-11 21:58] Powerhelmsman commented on #670
@elizatobias any updates?

[2018-12-11 21:59] Powerhelmsman commented on #949
@ginami Can you take a look at this issue?

[2018-12-11 22:12] SonjaSaltzman commented on #670
@elizatobias left the team, this should be assigned to @dongmicro but she is not part of this GitHub org?

[2018-12-11 22:15] rloutlaw commented on #566
@jtuliani @Powerhelmsman I have opened up an internal tracking item to better provide user feedback when looking through our reference documentation. Thanks for the feedback and bringing this need to our attention.

[2018-12-11 22:17] Powerhelmsman commented on #670
@dend Can you add dongmicro in the GitHub org?

[2018-12-11 22:23] rloutlaw commented on #301
Issue is with the source code we generate the docs from-it's calling out param types of strings in the comments for the exported functions but actually using objects.

Can this issue be moved to the https://github.com/Azure/azure-sdk-for-node project?

[2018-12-11 22:23] Powerhelmsman commented on #681
@analyze-v Can you update the status?

[2018-12-11 22:33] Powerhelmsman commented on #719
@dend Can you take a look at this issue?

[2018-12-11 22:35] #772 closed

[2018-12-11 22:38] Powerhelmsman commented on #778
@dend Can you take a look at this issue?

[2018-12-11 22:42] Powerhelmsman commented on #784
@CamSoper Can you take a look at this issue?

[2018-12-11 23:02] Powerhelmsman commented on #832
@ndolci Any updates?

[2018-12-11 23:04] KumarVivek commented on #796
Fixed.

[2018-12-11 23:05] #873 closed

[2018-12-11 23:08] #796 closed

[2018-12-11 23:44] SonjaSaltzman commented on #832
@Powerhelmsman @ndolci  has left the team, this should also go to DongMicro

[2018-12-12 00:32] maggiesMSFT commented on #391
@mgblythe -- How is a person supposed to print PDFs of Guided Learning?

[2018-12-12 00:32] dendeli-msft commented on #936
#log-suggestion @dendeli-msft

[2018-12-12 00:33] dendeli-msft commented on #936
#log-suggestion @dendeli-msft

[2018-12-12 01:23] tommai78101 opened #950 "Direct3D 12 Raytracing Enumerations page is missing/lost"
**Description:**

The link to the article (supposedly from a Microsoft employee who posted in the Nvidia GeForce forums) is here:

https://docs.microsoft.com/en-us/windows/desktop/direct3d12/direct3d-12-raytracing-enumerations

These are missing.

[2018-12-12 02:59] mairaw commented on #948
Thanks for reporting this issue @InRedikaWB and @nschonni for submitting the fix. The change is live. This issue can be closed.

[2018-12-12 05:08] danstis opened #951 "Microsoft.Insights/components - Template Reference Missing"
**Link to article:**
https://docs.microsoft.com/en-gb/azure/templates/microsoft.insights/allversions

**Problem:**
The template reference for Microsoft.Insights/components is missing since the last update of the azure/templates section.

[2018-12-12 07:02] yumetodo commented on #602
@mhogan73 Perfect! Thank you.

[2018-12-12 09:23] Holo-Krzysztof opened #952 "All links on the dxgidebug.h doc page are 404s"
**Describe the bug**
All links on the dxgidebug.h doc page are 404s.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/windows/desktop/api/dxgidebug/
2. Click on anything under Functions, Structures, Enumerations or Interfaces
3. Stare at 404 page

**Expected behavior**
A page that describes the selected item is displayed.

[2018-12-12 09:33] Minewiskan commented on #944
@gabrielsroka - Thank you for catching this! This likely happened in a recent markdown conversion. I've updated them. Again, thank you for contributing.

[2018-12-12 09:33] Minewiskan commented on #944
#please-close

[2018-12-12 09:34] Minewiskan commented on #943
@gabrielsroka - Thank you for catching this! Now fixed. Your contribution to improving docs is much appreciated.

[2018-12-12 09:34] Minewiskan commented on #943
#please-close

[2018-12-12 09:39] v-sefedo commented on #568
@Powerhelmsman, @theresapalmer , Documentation was updated recently, I have added search term `from:@username` as an example how to search for tweets. I think we can resolve this issue now.

[2018-12-12 13:49] craigcaseyMSFT commented on #662
@Powerhelmsman  - I don't work in this space. Perhaps you were trying to message @craigg-msft?

[2018-12-12 14:30] rothja commented on #562
@Powerhelmsman @mohsin1811 , So sorry for the unacceptable delay on this issue. I will work on this today. Thank you.

[2018-12-12 14:45] nromyn commented on #743
Any updates? Just did a search for "Azure Monitor" and got 285k results starting with Dynamics. It really renders the search useless without some kind of advanced querying capability

[2018-12-12 14:48] nromyn opened #953 "Product Page needs branding update for Azure Monitor"
On this page, a link is provided to Log Analytics. https://docs.microsoft.com/en-ca/azure/#pivot=products&panel=mgmt

The page that is linked is to is branded Azure Monitor. This is confusing for users who may not be aware of re-branding/re-labelling efforts. https://docs.microsoft.com/en-ca/azure/azure-monitor/overview

[2018-12-12 15:04] pmcharron opened #954 "PDF file is n"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2018-12-12 15:07] pmcharron commented on #954
on page
https://docs.microsoft.com/en-us/dynamics365/business-central/index
At the bottom left, the file doesn't upload

[2018-12-12 15:09] #562 closed

[2018-12-12 15:09] rothja commented on #562
I have a PR submitted that should fix theses (and other) articles when publishing happens today. Thank you!

[2018-12-12 15:57] ginami commented on #887
Hi @sblionel -- thank you so much for letting us know about the broken links! We'll work on getting them fixed.

[2018-12-12 16:00] ginami commented on #878
Hi @jcapellman -- thank you so much for letting us know about the broken link--we're working on getting it fixed.

[2018-12-12 16:03] ginami commented on #896
Hello @iguessthislldo -- thanks so much for letting us know about the typo! We'll work on getting this fixed.

[2018-12-12 16:05] ginami commented on #898
Hi @DaveInCaz -- thank you for letting us know about this issue. We'll work on getting the page updated.

[2018-12-12 16:07] ginami commented on #908
Thank you @Dmitro25 for this feedback! We'll work on fixing these links.

[2018-12-12 16:09] ginami commented on #914
Hi @packmad -- thank you for bringing this to our attention! We'll work on updating the page.

[2018-12-12 16:12] ginami commented on #915
Hi @francholi --thank you for bringing this to our attention. We'll work on updating the page.

[2018-12-12 16:13] ginami commented on #918
Thank you @cyotek for letting us know. We'll work on fixing these pages.

[2018-12-12 16:15] ginami commented on #921
Thanks @hecongy for letting us know--we'll work on fixing the link.

[2018-12-12 16:17] ginami commented on #925
Thanks @HersinSu for your feedback! We'll work on refining the page.

[2018-12-12 16:18] ginami commented on #934
Thank you @Holo-Krzysztof for brining this to our attention! We'll work on fixing that link.

[2018-12-12 16:20] ginami commented on #939
Hi @xiaoyinl -- thank you so much for letting us know. We'll work on these pages.

[2018-12-12 16:22] ginami commented on #940
Hello @fkfv -- thank you for bringing this to our attention! We'll work on updating the links to this page.

[2018-12-12 16:24] ginami commented on #941
Hi @wesinator -- thank you for letting us know. We'll work on fixing the page.

[2018-12-12 16:32] ginami commented on #950
Hi @tommai78101 -- thank you for bringing this to our attention. We'll work on either updating or removing the link.

[2018-12-12 16:37] ginami commented on #788
Hi @tommai78101 -- sorry for the delay. This is definitely in our list of pages to review and fix!

[2018-12-12 17:38] Powerhelmsman commented on #952
@ginami Can you take a look at this issue?

[2018-12-12 17:41] #944 closed

[2018-12-12 17:41] #943 closed

[2018-12-12 17:42] #568 closed

[2018-12-12 17:42] Powerhelmsman commented on #568
@Timothep The issue is resolved. Please take a look.

[2018-12-12 17:43] ginami commented on #952
HI @Holo-Krzysztof -- thank you for letting us know! We'll work on getting these links fixed.

[2018-12-12 17:43] Powerhelmsman commented on #662
@craigg-msft Can you take a look at this issue?

[2018-12-12 17:46] Powerhelmsman commented on #953
@tysonn Can you take a look at user's feedback?

[2018-12-12 18:33] pabrams opened #955 "Article only refers to old versions and seems to have no link to similar documentation for newer versions."
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.
There's already a comment in there dated two weeks ago.  I upvoted it.

**Link to article:**
https://docs.microsoft.com/en-us/tfs/server/admin/move-clone-hardware?view=tfs-2013
https://docs.microsoft.com/en-us/tfs/server/admin/move-clone-hardware?view=t

[2018-12-12 19:01] adkinn commented on #391
@maggiesMSFT @Powerhelmsman @mgblythe @dastaffo The problem is the content is using the Tutorial page type, which is not currently supported for PDFs.

[2018-12-12 19:40] Powerhelmsman commented on #391
@maggiesMSFT @mgblythe @dastaffo @adkinn May I suggest to remove the PDF download from this page to avoid confusion.

[2018-12-12 19:52] g0pinath opened #956 "Insufficient info"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/azure/templates/microsoft.web/2018-02-01/hostingenvironments
There is no way to ask questions in the above article and the property values sslCertKeyVaultId and sslCertKeyVaultSecretName
Even google

[2018-12-12 19:59] poldata opened #957 "Wrong badge shown"
**Describe the bug**

When you complete module Introduction to Azure Storage
https://docs.microsoft.com/en-us/learn/modules/intro-to-data-in-azure/

And then look at your techprofile
https://techprofile.microsoft.com/en-us/username

You see the badge of module Introduction to Azure networking
https://docs.microsoft.com/en-us/learn/modules/intro-to-azure-networking/

[2018-12-12 20:13] Powerhelmsman commented on #955
@pabrams Your feedback is transferred to the content team. They will address there. @elbatk Can you response it ASAP?

[2018-12-12 20:13] #955 closed

[2018-12-12 20:16] Powerhelmsman commented on #956
@tfitzmac Can you take a look at this feedback?

[2018-12-12 20:18] Powerhelmsman commented on #957
@dastaffo Can you take a look at this issue?

[2018-12-12 20:42] tommai78101 commented on #788
Oh please, take your time. Thanks for the update.

[2018-12-12 21:18] cherrierj opened #958 "Translation in french is wrong"
**Link to article:**
https://docs.microsoft.com/fr-fr/azure/cloud-solution-provider/overview/azure-csp-available-services

**Problem:**
The translation in french is wrong, it says excatly the contrary of the english text.

what is written in english : keep in mind that not all Azure services are currently available in the CSP program.

what is written in french : n’oubliez pas que tous les service

[2018-12-12 21:57] maggiesMSFT commented on #391
@adkinn -- Do you mean "ms.topic = tutorial"? or is "Tutorial page type" something else?
@Powerhelmsman @dastaffo @mgblythe
I ask because we have other articles with "ms.topic = tutorial", and they support PDFs.

[2018-12-12 22:03] adkinn commented on #391
@maggiesMSFT I mean the page type, defined like this: https://github.com/MicrosoftDocs/powerbi-docs-pr/blob/4dd0c6bfa86fdda531ebcd80c91e7f4e83297ba8/powerbi-docs/guided-learning/gettingstarted.yml#L1

[2018-12-12 22:05] Powerhelmsman commented on #958
@SonjaSaltzman Can you take a look at this issue?

[2018-12-12 22:09] danelso opened #959 "HTML entity references in source examples"
In the the example code for the MFEnumDeviceSources function (https://docs.microsoft.com/en-us/windows/desktop/api/mfidl/nf-mfidl-mfenumdevicesources), and probably others, there are HTML entity references.

For example:
[code]

Presumably, that should be:
[code]

There are others.

[2018-12-12 22:09] Powerhelmsman commented on #959
@ginami Can you take a look at this issue?

[2018-12-12 22:33] maggiesMSFT commented on #391
@adkinn -- Got it.
I assume the Download to PDF is in a footer, not in the YML file itself?
Including @davidiseminger and @mgblythe, who know more about the Guided Learning than I do.
@Powerhelmsman @dastaffo

[2018-12-12 23:39] SonjaSaltzman commented on #958
@DavidPrio can you please follow up and fix the translations? cc @ishasahni1

[2018-12-13 01:30] tfitzmac commented on #929
@BadgerCode - the properties have been fixed. Thanks again.

[2018-12-13 01:30] tfitzmac commented on #929
#please-close

[2018-12-13 01:37] ginami commented on #959
Hi @danelso -- thank you so much for bringing this to our attention! We'll work on fixing this.

[2018-12-13 04:14] jcapellman commented on #878
@ginami
Your welcome, glad to help

[2018-12-13 09:57] siva-sankaran commented on #676
To read the documentations  in mobile Phone or tablet or EReader(kindle) devices,  ePub or Word format will be more useful. As PDF is only helpful to print out , any other mobile format is necessary to read in those devices

[2018-12-13 10:09] presleyy commented on #759
I set my google search language to Ukrainian but not able to reproduce the problem.
![image](https://user-images.githubusercontent.com/5718438/49931475-e19ccd00-ff01-11e8-8836-f2a1793976bc.png)
@kostelnyy would you please share what does your google language preference setting look like?
![image](https://user-images.githubusercontent.com/5718438/49931585-2cb6e000-ff02-11e8-979a-749b30821b47.png)

[2018-12-13 10:22] upsmon opened #960 "Links in "GDI+ Reference" are broken"
**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/api/gdiplusheaders/nl-gdiplusheaders-font
https://docs.microsoft.com/en-us/windows/desktop/api/gdiplusheaders/nl-gdiplusheaders-fontcollection
https://docs.microsoft.com/en-us/windows/desktop/api/gdiplusheaders/nl-gdiplusheaders-fontfamily
etc.

**Problem:**
"404 - Page not found"

[2018-12-13 13:09] CeciAc commented on #958
Hello, @cherrierj
 
Thank you for your feedback.
 
We are actively reviewing your comments and will get back to you soon.

Kind regards,
Microsoft DOCS International Team

[2018-12-13 23:20] SeaDude opened #961 "AzureMaps API + PowerApps Custom Connector = Token keeps expiring"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an Azure Maps Service
2. Create a Custom Connector in PowerApps
3. Click "Test" in PA Custom Connector Area
4. Receive a 400 error with the message: "...token has expired"
5. Issue happens after an unknown period.
![image](https://user-images.githubusercontent.com/8

[2018-12-14 03:17] sugartomato opened #962 "Dead link in FlashWindowEx function page"
https://docs.microsoft.com/zh-cn/windows/desktop/api/winuser/nf-winuser-flashwindowex
In the FlashWindowEx function page, the FLASHWINFO page link is 404 :(

[2018-12-14 11:08] chanmmn opened #963 "Office 365 is not found on the first page of the document"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.
It is not a problem but I believe many people will search for Office 365 and it is not there. It may be under Office but I bet many people will put a Ctrl+F to search for "Office 365".

**Link to article:**
Tell us where exactly a problem occurs.
https:

[2018-12-14 18:20] Powerhelmsman commented on #963
@adkinn Can you take a look at this feedback?

[2018-12-14 18:21] Powerhelmsman commented on #962
@ginami Can you take a look at this issue?

[2018-12-14 18:22] Powerhelmsman commented on #954
@cillroy Can you take a look at this issue?

[2018-12-14 18:22] Powerhelmsman commented on #961
@SeaDude What's content page link you refer to?

[2018-12-14 18:35] adkinn commented on #963
@Powerhelmsman I believe it's represented by the "Office" and "Microsoft 365" links. You could confirm with Joe Mazzotta to see if this is correct.

[2018-12-14 19:08] Powerhelmsman commented on #951
@tomfitz Can you take a look at this feedback?

[2018-12-14 19:31] jay commented on #959
Can confirm I've seen this other places. See [SetFileInformationByHandle](https://docs.microsoft.com/en-us/windows/desktop/api/fileapi/nf-fileapi-setfileinformationbyhandle) for example:
[code]

[2018-12-14 20:23] SeaDude commented on #961
@Powerhelmsman : https://docs.microsoft.com/en-us/rest/api/maps/ and all Maps subpages.

[2018-12-14 21:40] Powerhelmsman commented on #961
@sethmanheim Can you take a look at this feedback?

[2018-12-14 21:44] sethmanheim commented on #961
@Powerhelmsman I'm sorry, I don't work on this area.

[2018-12-14 21:46] Powerhelmsman commented on #961
@dendeli-msft Can you assign it to the right person?

[2018-12-14 22:54] tfitzmac commented on #951
@danstis - thanks for this feedback. Components has been added back to the template reference.

[2018-12-14 22:54] tfitzmac commented on #951
#please-close

[2018-12-14 22:56] danstis commented on #951
Thanks @tfitzmac, much appreciated!

[2018-12-14 22:57] #951 closed

[2018-12-15 00:59] SeaDude commented on #961
To be clear, I'm looking for the Azure Maps API (and likely ALL Azure API docs) to include information about Token Expiration. The current Azure Maps API Docs DO NOT specify token expiration. I'm unsure whether the other Azure API docs specify this parameter.
Thank you.

[2018-12-15 16:24] i5151 opened #964 "Autoruns column width problem。。。"
![FaWXBF.jpg](https://s1.ax1x.com/2018/12/16/FaWXBF.jpg)
OS: Windows 10 1809 x64,
Display resolution: 3840X2160,
Autoruns version: 13.93
I adjust the width of each column and return to the original width after restarting. How can I make Autoruns remember the width after I adjusted?

[2018-12-15 18:48] gansopro opened #965 "How do I edit Microsoft Docs articles that do not have the Edit button that redirects to Github?"
Hello guys! I want to contribute to Microsoft Docs by editing this series of articles, but none of them have the Edit button at the top.

https://docs.microsoft.com/pt-br/windows/desktop/ - Develop Windows desktop applications

I also did not find the repository of these articles here on Github. How do I in these cases?

[2018-12-16 00:13] coreys079 opened #966 "Adding A New Controller Configuration Help"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
Tell us where exactly a problem occurs.

**Problem:**
What's wrong with the article?

[2018-12-16 01:02] coreys079 commented on #966
What I am trying to do here is create a webcam modeling service, but haven’t been able to find anything that closely resembles it.

The other issue I have is new controller configuration in asp.net web api. All the controller configurations I have found are quite confusing, because they are all different.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

_____________

[2018-12-17 05:30] GreatFireWall opened #967 "Remote '\' at "Filtering Conditions Available at Each Filtering Layer" page of Windows Filtering Platform"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/zh-cn/windows/desktop/fwp/filtering-conditions-available-at-each-filtering-layer

**Problem:**
Why all the condition fields with '\\' before each '_' ? It's hard to search by Ctrl+F in broswer. Every time

[2018-12-17 14:02] turbolego opened #968 "Microsoft Graph - Angular Tutorial - Missing install command, Typo in Typescript code"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

Page has no comment section.

**Link to article:**
https://docs.microsoft.com/en-us/graph/tutorials/angular?tutorial-step=1

**Problem:**

**Missing**
(ERROR in src/app/app.module.ts(1,27): error TS2307: Cannot find module '@ng-bootstrap/ng-bootstrap'.

[2018-12-17 16:44] fneplj opened #969 ".NET API Browser main page: missing parts in Description items"
**Link to article:**
https://docs.microsoft.com/en-us/dotnet/api/?view=netcore-2.1

**Problem:**
In the column Description, parts that refer to links to other sections are missing. e.g. for **System.Drawing Namespace**:
"The  namespace provides access to GDI+ basic graphics functionality. More advanced functionality is provided **in the , , and  namespaces**"

should be
"The System.Drawing namespa

[2018-12-17 17:15] Powerhelmsman commented on #964
@i5151 What's content page you refer to?

[2018-12-17 17:17] Powerhelmsman commented on #965
@ginami Can you take a look at this issue?

[2018-12-17 17:18] Powerhelmsman commented on #967
@ginami Can you take a look at this issue?

[2018-12-17 17:23] Powerhelmsman commented on #969
@dend @presleyy Can you take a loo at this issue?

[2018-12-17 18:41] stamminator commented on #930
ASP .NET Core 2.2 has been live for two weeks now, and there's still no public API documentation for it yet.

[2018-12-17 22:18] i5151 commented on #964
Any page in Autoruns is the same.
I adjusted the width.
![F0L1it.png](https://s1.ax1x.com/2018/12/18/F0L1it.png)
After restarting the computer, open Autoruns again, and it will look like this:
![F0LQII.png](https://s1.ax1x.com/2018/12/18/F0LQII.png)
I have looked at the key values of the registry. After I adjusted the width, the key values did change. But starting again, Autoruns will reset the ke

[2018-12-17 22:47] jmazzotta commented on #963
Office 365 link will shortly be added to the Docs directory page on Docs home page. PR was created and reviewed/approved today. Pending merge and push occuring shortly: https://docs.microsoft.com/en-us/

[2018-12-18 01:00] dendeli-msft commented on #399
This has since been addressed, thank you @svick and @mairaw 🎉

[2018-12-18 01:00] #399 closed

[2018-12-18 01:34] ghogen opened #970 "[error message feedback] provide feedback for DocsetDeletedInDHS"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Problem:**
What's wrong with the error message? For example,
- Is error message clear and actionable?
- Is there a documentation to provide more information?
- If there is a documentation, is it relavent and helpful?
- Is line number correct?
- etc.

[2018-12-18 01:35] ghogen commented on #970
@mikekinsman This is the warning from the OPS build system after removing the docset.

[2018-12-18 01:50] ghogen commented on #970
Some issues here: It's not clear what the action to address this is.  What is the DHS ? This occurred during the process of deleting a docset.  It doesn't appear that there is a documented process for this.  @mikekinsman did the first part, which was to de-publish the docset.  Then, builds failed in the repo for other docsets.  We then removed the entries from the .openpublishing.publish.json file

[2018-12-18 07:24] felicio opened #971 "LinkedIn API returns comments without an author"
**Describe the bug**
LinkedIn API returns comments without an author. Specifically, `https://api.linkedin.com/v2/socialActions/{shareUrn|ugcPostUrn|commentUrn}/comments` endpoint does not return `actor` field.

`actor` is described like so:

**To Reproduce**
Steps to reproduce the behavior:
[code]

[code]

**Expected behavior**
As per docs, comment objects should have `actor` field set to the URN

[2018-12-18 08:19] felicio opened #972 "LinkedIn API returns less shares than requested"
**Describe the bug**
LinkedIn API returns less shares (46) than requested (50). Specifically, `count` is not equal to `elements.length` despite more shares being available. Instead, next `start` parameter is overridden in `paging.links`.

**To Reproduce**
[code]

[code]

**Expected behavior**
As per docs, total elements returned per response should be equal to requested `count`.

**Screenshots**
I

[2018-12-18 08:48] sy-c commented on #960
+1

I'm stuck writing GDI+ code because all documentation is broken, and none can be found elsewhere... can you please urgently fix this?

[2018-12-18 10:46] poldata opened #973 "Badge missing for module control-and-organize-with-azure-resource-manager"
**Link to article:**
https://docs.microsoft.com/en-us/learn/modules/control-and-organize-with-azure-resource-manager/

**Problem:**
This module doesn't have a badge picture.

[2018-12-18 15:01] jdickson289 opened #974 "Azure Pricing site has a retired link in section If my deployed instance says "stopped,” am I still getting billed?"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://azure.microsoft.com/en-us/pricing/details/virtual-machines/linux/
If my deployed instance says "stopped,” am I still getting billed?
Full details on virtual machine states are available here.

**Problem:**
Here link https:/

[2018-12-18 15:05] lshacham opened #975 "Possible typo at Export Ordinal Table description"
Summary: suspecting typo at description of how to access the export directory export address table.

Details:

At url https://docs.microsoft.com/en-us/windows/desktop/debug/pe-format

Under "Export Ordinal Table"

Quote:
i = Search_ExportNamePointerTable (ExportName);
ordinal = ExportOrdinalTable [i];
SymbolRVA = ExportAddressTable [ordinal - OrdinalBase];
End of Quote.

I use Visual Studio 2017 I

[2018-12-18 18:04] Powerhelmsman commented on #974
@jdickson289 Can you try the link https://feedback.azure.com/forums/34192--general-feedback?query=Azure%20Pricing%20site%20has%20a%20retired%20link%20in%20section%20If%20my%20deployed%20instance%20says%20%22stopped%2C%E2%80%9D%20am%20I%20still%20getting%20billed%3F
There are a lot of related question and answers. If you can't find the answer, please submit your feedback there.

[2018-12-18 18:04] #974 closed

[2018-12-18 18:04] Powerhelmsman commented on #975
@ginami Can you take a look at this issue?

[2018-12-18 18:13] mairaw opened #976 "Interface not listing inherited members"
Original GitHub issue: https://github.com/dotnet/dotnet-api-docs/issues/1429

While following up on the issue above posted by a customer, I've realized that the interface is not showing the inherited APIs.

https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.ireadonlylist-1

**Docs**
![image](https://user-images.githubusercontent.com/12971179/50173830-66df0380-02ad-11e9-9b1b-6df

[2018-12-18 18:35] calia1120 commented on #889
@markfilipak-windows @saldana this seems similar to my issue #901

[2018-12-18 19:06] markfilipak-windows commented on #889
Yes, it is very similar. You are lucky in a way. When I tried to sign in after SSO was instituted (only partly, it seems), I was prompted to create a nickname. I tried to enter 'markfilipak' and was told it was already taken. Only then did I discover that I was not in my account. When I tried to get into my account, I was refused. I had to create another account as 'markfilipak-' in order to get l

[2018-12-18 19:10] mikekinsman commented on #970
@ghogen thanks for getting this logged and tracked.  I think @herohua or @Khairunj  or @cillroy might know _who_ would know what's going on behind the scenes with OPS and DHS when we delete a docset.    Also I believe DHS is "Document Hosting Service" which is a system that is downstream from OPS turning your Markdown into HTML, but I could be wrong.

[2018-12-18 19:14] ghogen commented on #970
@mikekinsman I was thinking Homeland Security myself. :)

[2018-12-18 19:53] ChemBrain opened #977 "TYPO nonZeorValues should be nonZeroValues"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/cognitive-toolkit/cntk-library-managed-api

**Problem:**
"colStarts: on return, it contains indices into the nonZeorValues of the first non-zero element of each column of the matrix."

 Zeor should

[2018-12-18 20:01] saldana commented on #973
@yunyunyunyun, this is MS Learn issue. Can you take a look and address with the right owner?

The [Control and organize Azure resources with Azure Resource Manager](https://docs.microsoft.com/en-us/learn/modules/control-and-organize-with-azure-resource-manager/) module  does not have a badge. Thanks.

[2018-12-18 20:17] cshalda opened #978 "Enterprise Dev/Test is not compatible with Azure CSP"
See here that Enterprise Dev/Test subscriptions are only allowed in EA or Direct Azure subscriptions - https://azure.microsoft.com/en-us/offers/ms-azr-0148p/

This should be called out on this page.

[2018-12-18 20:19] cshalda commented on #978
I hit the "site feedback" link at the bottom of a specific Microsoft doc, but I think it was a generic "docs.microsoft.com" site feedback I left. This is meant specifically for this article - https://docs.microsoft.com/en-us/azure/cloud-solution-provider/overview/azure-csp-available-services

[2018-12-18 21:04] mikekinsman commented on #970
@ghogen, hah :)  FYI @Khairunj escalated to Ying and a few others in china over email.  We'll see what they come back with.

[2018-12-18 23:01] nschonni commented on #977
Submitted https://github.com/MicrosoftDocs/cognitive-toolkit-docs/pull/175 to fix it, but I've got PRs in that repo that haven't been merged in 2 months

[2018-12-19 00:16] Powerhelmsman commented on #978
@KirillKotlyarenko Can you take a look at this issue?

[2018-12-19 00:19] KirillKotlyarenko commented on #978
I've switched to another role and don't cover it anymore.
Enterprise Dev/Test is not an Azure service - it is another Azure offer type, different from CSP. There is a separate page covering Enterprise Dev/Test offer. I don't think that we should highlight this inside Azure CSP documentation.

[2018-12-19 01:25] zbourdeau opened #979 "Powershell site is down for Azure RM etc."
Go to here (or any AzureRM doc page) and get a 404

https://docs.microsoft.com/en-us/powershell/module/azure.storage/new-azurestoragequeuestoredaccesspolicy

[2018-12-19 07:37] felicio commented on #971
@Powerhelmsman it's quoted above, [here](https://docs.microsoft.com/en-us/linkedin/marketing/integrations/community-management/shares/network-update-social-actions).

[2018-12-19 07:42] mairaw commented on #314
The repro on the last issue that I closed as a duplicate of this one is a very good example that the information is totally inaccurate when you select a different moniker:
https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.cryptostream.-ctor?view=netstandard-2.0

Here's the right versions:
https://apisof.net/catalog/System.Security.Cryptography.CryptoStream..ctor(Stream,ICryp

[2018-12-19 08:30] greijer opened #980 "Cannot edit powerquery-m docs"
I cannot edit details in technical documentation for  power query m language at this address
https://docs.microsoft.com/en-us/powerquery-m/table-distinct
The missing edit button may indicate that the contribution isnt enabled for this sub-site yet.
Am I correct?

[2018-12-19 11:10] felicio commented on #972
@Powerhelmsman it's quoted above, [here](url
https://docs.microsoft.com/en-us/linkedin/marketing/integrations/community-management/shares/share-api).

[2018-12-19 15:36] gansopro commented on #965
I did not understand.

[2018-12-19 21:53] mgblythe commented on #391
@adkinn -- We need to keep the page type b/c it's set up as an interactive tutorial. It seems that if interactive tutorials don't support PDF rendering then the site shouldn't include that option.

[2018-12-20 00:12] mairaw commented on #579
Can we reopen tgus @Powerhelmsman @dend based on @rpetrusha's feedback?

[2018-12-20 00:32] mairaw commented on #979
Thanks for your feedback @zbourdeau. I believe this issue was recently fixed. At least, this page now works for me.

[2018-12-20 00:42] mairaw commented on #969
Yes, please fix this. Tagging @Sampy too.

I've asked about this internally on Teams the other day as well. The API browser simply drops the text from see cref links.

[2018-12-20 00:47] mairaw commented on #965
@gansopro eles estão contatando uma das pessoas responsáveis por aquele conteúdo para tentar entender porque o botão de Editar não está presente. Algumas documentações no docs não estão abertas a contribuições. Eu acredito que o repositório desse conteúdo específico seja só interno.

[2018-12-20 00:53] mairaw commented on #969
This is also a duplicate of #637

[2018-12-20 00:55] mairaw commented on #641
Have you found out anything @cillroy?

[2018-12-20 01:04] gansopro commented on #965
Então quer dizer que não há nada que eu possa fazer para editar este repositório?

[2018-12-20 01:04] mairaw commented on #616
Can we change the title of this issue so I can more easily find when users report the same issue?
Maybe something like wrong inheritance shown for .NET classes or something.

[2018-12-20 01:30] kwalker360 commented on #616
Go for it!

[2018-12-20 01:34] mairaw commented on #616
Duh. I haven't realized I was the one who created the issue here 😄 Done.

[2018-12-20 01:37] Rick-Anderson opened #982 "Provide mechanism to download sample without downloading entire repo"
Currently you need to download an entire repo to get access to a sample. This is a copy of https://github.com/aspnet/Docs/issues/8967

@TXX-JSR wrote:

It takes too long to download 800MB - how can I download just the project I need ?

There is CHROME a plugin to do this: chrome.google.com/webstore/detail/gitzip-for-github/ffabmkklhbepgcgfonabamgnfafbdlkn

I believe it exists for Firefox as well

[2018-12-20 10:57] tanure opened #983 "I want to contribute to provide the Azure DevOps pt-bt location docs"
I would like to contribute to AzureDevOps docs for the pt-BR location: https://docs.microsoft.com/en-us/azure/devops/user-guide/index?view=vsts

How I can proceed?

Thanks

[2018-12-20 15:55] kwalker360 commented on #616
(Thought you were just being polite, checking with others first. :-) )

[2018-12-20 20:57] ginami commented on #965
Hi @gansopro -- thank you for your question. Our Desktop docs are not currently open for public edits. I'll check to see if we have a plan to change that. Thank you!

[2018-12-20 21:30] ginami commented on #965
Hi @gansopro -- we do plan to open the desktop docs to public edit in the near future, but I don't have a specific date. Please keep an eye on the docs. Thank you!

[2018-12-20 21:33] ginami commented on #967
Hi @GreatFireWall -- thank you for taking the time to send us this feedback. We'll take a look at the issue.

[2018-12-20 21:36] ginami commented on #975
Hi @lshacham -- thank you for letting us know. We'll work on getting the page reviewed and updated.

[2018-12-20 22:07] davidordercounter opened #984 "Missing Links to resources PrintRecTotal &PrintRecSubtotal"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/previous-versions/windows/embedded/ms884314(v%3dwinembedded.11)

**Problem:**
There are two dead links to items I am trying to get information on
 PrintRecTotal &PrintRecSubtotal

PrintRecSubtotal g

[2018-12-21 00:57] gansopro commented on #965
Thanks for the answer, I will wait patiently for you to open this repository for me to edit.

[2018-12-21 03:08] #979 closed

[2018-12-21 03:09] Powerhelmsman commented on #969
close as duplicate, we will track it on #637

[2018-12-21 03:09] #969 closed

[2018-12-21 03:16] Powerhelmsman commented on #982
@dendeli-msft Can you take a look at this request?

[2018-12-21 09:46] uc-ojv opened #985 "Spelling issue"
![2018-12-21_1515](https://user-images.githubusercontent.com/10045552/50336156-66579e80-0533-11e9-8057-2ea2b086a762.png)
**Link to article:**
https://docs.microsoft.com/en-us/system-center/vmm/network-pool?view=sc-vmm-1807

**Problem:**
Spelling mistake, instead of site, stie is written https://www.screencast.com/t/RMTPqm2H

[2018-12-21 13:04] #965 closed

[2018-12-21 14:17] tommai78101 opened #986 "Are there any public roadmaps for Microsoft Docs?"
According to this comment here:

https://github.com/MicrosoftDocs/feedback/issues/533

The answer to the question mentioned there is a future roadmap of some kind. It's been half a year since, so I think it's a good time to ask for any roadmap updates when possible.

If there aren't any public roadmaps, when would it be a good time period to check on status updates on reported documentation feedba

[2018-12-21 15:11] jvucic opened #987 "TYPOS - "The minimum pool size is set to minPoolSoze.""
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
[https://docs.microsoft.com/en-us/dotnet/api/system.management.automation.runspaces.runspacefactory.createrunspacepool?view=powershellsdk-1.1.0#System_Management_Automation_Runspaces_RunspaceFactory_CreateRunspacePool_System_Int32_

[2018-12-21 15:33] LuigiBruno commented on #889
Looks like I'm experiencing the same issue: even if I'm already signed in with my Microsoft account and able to contribute to Forums, I'm always prompted for creating a profile (but I've already have a profile and I've also started attending courses on Microsoft Learn).

[2018-12-21 16:40] SeaDude commented on #961
@Powerhelmsman : https://docs.microsoft.com/en-us/rest/api/maps/ and all Maps subpages.

[2018-12-21 18:30] Powerhelmsman commented on #986
@jffriend Can you take a look at this suggestion?

[2018-12-21 18:31] Powerhelmsman commented on #987
@dendeli-msft Can you take a look at this issue?

[2018-12-21 21:15] Aaditya0777 commented on #523
@hellosnow Is there any update from Azure Rest API team.

[2018-12-23 08:34] rayne-wiselman commented on #985
Please assign to @JYOTHIRMAISURI who handles System Center documentation

[2018-12-24 02:11] yoichiro opened #988 "Command Option Name is wrong on the Functions Tutorial doc in Japanese"
**🛑 IMPORTANT**: In the Functions Tutorial doc in Japanese, the option name of the `az functionapp config appsettings` command sample is wrong. Therefore, the result of the command execution must be an error.

**Link to article:**
https://docs.microsoft.com/ja-jp/azure/functions/tutorial-static-website-serverless-api-with-database?tutorial-step=2

**Problem:**
To configure the `FUNCTIONS_EXTENSION

[2018-12-24 05:44] JYOTHIRMAISURI commented on #985
@rayne-wiselman

Thanks, Rayne. Will look into this.

[2018-12-24 05:52] JYOTHIRMAISURI commented on #985
@uc-ojv

Thanks for bringing this to our notice. Will fix this. Currently we have a publishing holiday, this fix will be available in January first week. Will keep you posted.

[2018-12-24 08:57] hellosnow commented on #523
@dend please help to follow, thanks 😄

[2018-12-24 09:51] weitzhandler opened #989 "Enable Ctrl+Enter for submitting comments"
In the Feedback section on the docs pages, when adding a GitHub comment there is a button 'Submit feedback' (see pic).
Please enable the GitHub <kbd>Ctrl</kbd>+<kbd>Enter</kbd> shortcut in Microsoft Docs website as well, for submitting comments.

![image](https://user-images.githubusercontent.com/2716316/50396307-fd119e80-0771-11e9-8a55-512ed300ab04.png)

[2018-12-24 13:22] KaeLL opened #990 "Fix the code example wrongly separated"
https://docs.microsoft.com/en-us/windows/desktop/learnwin32/your-first-windows-program

Code example seems to be separated by nested < code > tags or something.

[2018-12-24 14:01] bugaevski opened #991 "code does not compile"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/dotnet/framework/security/how-to-build-claims-aware-aspnet-web-forms-app-using-wif

**Problem:**
code does not compile

[2018-12-24 14:55] guardrex commented on #809
Cross-link: https://github.com/MicrosoftDocs/feedback/issues/930 ... it's prob a dup of this issue.

[2018-12-26 03:46] weitzhandler commented on #176
Very essential. Please implement this compelling feature, thank you!

[2018-12-27 08:43] my-name-is opened #992 "Learn: allow progress and achievements to be private"
I want to have Learn remember my progress but I don't want that progress to be publicly visible.

When I go to register an account I see a dialogue with title "create profile to save progress".
The text under that says "... Your username, display name, achievements and activities will be publicly visible."

I don't want my achievments and activities to be publicly visible.  At some point I might w

[2018-12-27 17:02] grabinski opened #993 "PowerShell parameters preceded by double quotation marks"
There is currently no comment section for this article.

Link to article:
https://docs.microsoft.com/en-us/system-center/scom/plan-mgmt-group-design?view=sc-om-1807

Problem:
What's wrong with the article?
In the PowerShell examples for creating and linking schedules, each parameter is preceded by a double quotation mark character instead of a hyphen.

[2018-12-28 03:09] binboom3 opened #994 "Wrong URL links in Component Object Model(COM) Docs"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
Tell us where exactly a problem occurs.
https://docs.microsoft.com/en-us/windows/desktop/com/functions-odt
**Problem:**
What's wrong with the article?
The URL link of function OleCreate is Wrong
![image](https://user-images.githubu

[2018-12-28 12:17] donsvensen opened #995 "Wrong name of function in date.endofweek in text"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/powerquery-m/Date-EndOfWeek

**Problem:**
The syntax refers to the function
Date.StartOfWeek

should the

Date.EndOfWeek

/Erik Svensen

[2018-12-29 00:54] tannisroot opened #996 "Documentation for amstream is gone"
The documentation for amstream.h header has disappeared and now returns 404
Google cache: https://webcache.googleusercontent.com/search?q=cache:09c-XAHDN68J:https://docs.microsoft.com/en-gb/windows/desktop/api/Amstream/+&cd=1&hl=en&ct=clnk&gl=ru
Current page: https://docs.microsoft.com/en-gb/windows/desktop/api/Amstream/
Search comes back with no results: https://docs.microsoft.com/en-gb/search/in

[2018-12-29 20:39] pkristof opened #997 "Incorrect info at direct3dhlsl/dx-graphics-hlsl-pow"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**https://docs.microsoft.com/en-us/windows/desktop/direct3dhlsl/dx-graphics-hlsl-pow**
Table in the remarks section should state "1/x^y" instead of "1/x^-y" for row "x > 0, y < 0".

[2018-12-30 09:16] yooakim commented on #933
I would also like to use the courses in ENGLISH although I am a SWEDISH speaking person. The translations are not very good and it makes a  lot more sense to do the course material in English. Please add the option to choose the language for the course material.