[2018-08-10 02:49] EdisonDa commented on #594
Hi @rajbos , normally the docs in GitHub has a ReadMe.md which provide the docs link. Also you can go to docs.microsoft.com for searching. Hope this helps.

[2018-08-10 02:49] #594 closed

[2018-08-10 02:55] EdisonDa commented on #595
@ShevaDas , is this your area?

[2018-08-10 03:02] EdisonDa commented on #593
Hi @v-kents do you know who can help to confirm this content issue?

[2018-08-10 03:36] kschepperly opened #596 "Dynamics CRM 365 v8.2 Links are being redirected to v9.0 references"
All the reference links for Dynamics CRM v.8.0-8.2 are now being redirected to v9.0 which is completely different than 8.X. I urgently need to access the Client API Object Model references, mainly the Xrm.Page Object Model. This is the previous link I used:
https://msdn.microsoft.com/en-us/library/gg328255.aspx

which now redirects here:
https://docs.microsoft.com/en-us/dynamics365/customer-engage

[2018-08-10 04:00] EdisonDa commented on #593
Thank you @ptilsen . We have transferred the issue to https://github.com/MicrosoftDocs/sysinternals/issues/107. Closing this now.

[2018-08-10 04:00] #593 closed

[2018-08-10 04:03] dend commented on #596
@jmazzotta @Khairunj can you please take a look at this issue?

[2018-08-10 04:05] EdisonDa commented on #592
Hi @Giovasdf , we have transferred the issue to https://github.com/MicrosoftDocs/dynamics-365-customer-engagement-pr.es-es/issues/13. Closing this one now.

[2018-08-10 04:05] #592 closed

[2018-08-10 04:07] EdisonDa commented on #591
Hi @angelshrestha , I am closing this issue now since it will be fixed when we have the fix.

[2018-08-10 04:07] #591 closed

[2018-08-10 07:40] adisjugo opened #597 "General navigation"
Hi docs.microsoft.com team,

please remove the "Load more results" from the API references - I want to see ALL members of one namespace when I load it, not having to click to "Load more" 100 times. And yes, sorting it alphabetically would help.

Cheers.

[2018-08-10 12:54] nschonni commented on #592
@EdisonDa that isn't a public repo

[2018-08-10 17:27] fallingfrog opened #599 "Search Broken for Uppercase Characters"
# Search Broken for EConnect Documentation

Using the search box on this page:
https://docs.microsoft.com/en-us/previous-versions/dynamicsgp/developer/hh686187(v%3dgp.20)

only gives results if all your search terms are lowercase, even when the matches are uppercase or mixed case.

[2018-08-10 22:25] mairaw commented on #167
@ShevaDas any progress on this? We keep getting new issues about this.

[2018-08-11 02:42] Giovasdf commented on #592
@EdisonDa my area is es-es

[2018-08-12 17:39] FonzieBear opened #600 ""WSL docs" and "WSL learning resources page" links point to the same place"
# Idea Title

Doc URL: https://docs.microsoft.com/en-us/windows/wsl/initialize-distro

## Issue Details

Both links (which are side-by-side) point to https://blogs.msdn.microsoft.com/commandline/learn-about-windows-console-and-windows-subsystem-for-linux-wsl/

[2018-08-13 00:43] 630383257 opened #601 "windows container doc case url wron"
the url is old ，pointing to wrong page
PageUrl:  https://docs.microsoft.com/zh-cn/aspnet/mvc/overview/deployment/docker-aspnetmvc#a47c7-121
TargetUrl: https://github.com/dotnet/docs/tree/master/samples/framework/docker/MVCRandomAnswerGenerator

[2018-08-13 02:07] EdisonDa commented on #597
@dend would you please take a look?

[2018-08-13 02:13] EdisonDa commented on #600
@bitcrazed is this your area?

[2018-08-13 02:16] EdisonDa commented on #601
@630383257 thank you for your reporting. Could you please give us more information, such as on what page, and click what links and go to what wrong page? A screenshot will be helpful!

[2018-08-13 02:42] 630383257 commented on #601
![image](https://user-images.githubusercontent.com/34563003/44010408-c4cd0a82-9ee4-11e8-82d5-cdd850163e5a.png)

I think maybe this URL  is correct:
https://github.com/dotnet/samples/tree/master/framework/docker/MVCRandomAnswerGenerator

[2018-08-13 03:12] EdisonDa commented on #601
@dend is this your area?

[2018-08-13 05:36] damedom opened #602 "Japanese Translation is incorrect (confusing) in Email router document"
Japanese Translation is incorrect (confusing) in "Important" section.

Title : Integrate (synchronize) your email system
URL(en) : https://docs.microsoft.com/en-us/dynamics365/customer-engagement/admin/integrate-synchronize-your-email-system
URL(ja) : https://docs.microsoft.com/ja-jp/dynamics365/customer-engagement/admin/integrate-synchronize-your-email-system

English Version :

Japanese Version

[2018-08-13 07:08] yumetodo commented on #602
![image](https://user-images.githubusercontent.com/10869046/44017372-ff64448e-9f12-11e8-8895-d483ab576f85.png)

[2018-08-13 10:59] abbgrade opened #603 "VSTS API Create BuildProcess"
In the [VSTS API documentation, at Build/Definition/Create](https://docs.microsoft.com/en-us/rest/api/vsts/build/definitions/create?view=vsts-rest-4.1#buildprocess) the BuildProcess type is incomplete.

In the documentation it has only one property: type.
On calling POST https://xy.visualstudio.com/ab/_apis/build/definitions?api-version=4.1
The result is "The array must contain at least one elemen

[2018-08-13 16:18] Powerhelmsman commented on #602
@nokura @SonjaSaltzman Can you fix it?

[2018-08-13 16:29] SonjaSaltzman commented on #602
This content is from @krisre / @vinceno  - could you please follow up?

[2018-08-13 16:35] Powerhelmsman commented on #569
@cfwicks Do you find the old email yet? We need it to figure out if the letter are from Docs site.

[2018-08-13 16:47] #476 closed

[2018-08-13 16:48] vinceno commented on #602
@mhogan73 @SonjaSaltzman - thx Sonja., bring in Marina in Kris' absence.

[2018-08-13 16:59] DenBir opened #604 "Global Bookmarks for Docs"
Unfortunately, I did not find any other way for feedback for Docs. That's why the GitHub entry.

I missed in Docs the bookmark function. I read the docs for several products.
It would be great if you could put bookmarks in the docs. Ideally with its own comment function. So one could fall back quickly and purposefully on important Docs articles.

[2018-08-13 17:04] craigg-msft commented on #117
@botcrane I do not understand the question but the MDS content lives with the other SQL server content at https://docs.microsoft.com/en-us/sql/master-data-services/master-data-services-overview-mds?view=sql-server-2017.

@Powerhelmsman please close this issue.

[2018-08-13 17:07] #117 closed

[2018-08-13 17:09] Powerhelmsman commented on #604
@DenBir Thanks for your suggestion.  @ShevaDas is this your area?

[2018-08-13 17:11] jesomekh commented on #354
Thanks for bringing this back to our attention. We will be looking into it :)

[2018-08-13 17:16] craigg-msft commented on #28
issues / feedback should be provided directly on the topic, at the bottom.
https://docs.microsoft.com/en-us/sql/relational-databases/security/encryption/choose-an-encryption-algorithm?view=sql-server-2017

The sql server content currently uses Livefyre for feedback. I see one comment at the bottom of the topic and I will ping the current author.

please close this issue.

[2018-08-13 17:18] #28 closed

[2018-08-13 17:19] mhogan73 commented on #602
Thx @yumetodo we will look into this issue and update you on when we can address this. Thx

[2018-08-13 17:20] Powerhelmsman commented on #572
@Zio3D the issue is fixed. I will closed so far.

[2018-08-13 17:20] #572 closed

[2018-08-13 17:20] craigg-msft commented on #492
issues / feedback should be provided directly on the topic, at the bottom.
https://docs.microsoft.com/en-us/sql/relational-databases/system-dynamic-management-views/sys-dm-db-resource-stats-azure-sql-database?view=azuresqldb-current

The sql server content currently uses Livefyre for feedback.
With that said, @CarlRabeler is looking into this question. please close this issue.

[2018-08-13 17:49] cfwicks commented on #569
I deleted the emails and unsubscribed from the mailing list. Sorry.

[2018-08-13 17:51] Powerhelmsman commented on #569
@cfwicks I have to close this issue as no enough information. Please let us know if you find the similar issue so we can reopen it to continue the discussion.

[2018-08-13 17:51] #569 closed

[2018-08-13 17:53] cfwicks commented on #569
No problem.

[2018-08-13 19:08] nschonni opened #605 "System.Management.Automation examples not rendering"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/dotnet/api/system.management.automation.cmdlet.shouldprocess?view=powershellsdk-1.1.0

**Problem:**
The Examples section is just rendering as text.

PS: This page has an "Edit" button that 404s, but

[2018-08-13 20:12] Powerhelmsman commented on #605
@mairaw Can you take a look at this content issue?

[2018-08-13 20:52] tfitzmac commented on #166
I still think this is an important addition to the template reference docs, but I haven't had time to work on it. I am hoping to get the time soon.

[2018-08-13 22:33] alan-geller commented on #482
I've created a bug in our internal system to track this. It might not get fixed for a little while because this page is autogenerated and goes through a publishing pipeline, and I'm not sure how frequently we push.

[2018-08-13 23:52] bitcrazed commented on #600
It is - thanks for the ping @EdisonDa, and for filing this @FonzieBear - just submitted a PR to fix.

[2018-08-14 15:54] wnjenkin commented on #603
@abbgrade I've transfered this issue to the VSTS docs repo. Please track updates using this link - https://github.com/MicrosoftDocs/vsts-rest-api-specs/issues/78

[2018-08-14 16:59] Powerhelmsman commented on #603
@abbgrade I will close it as transferred.

[2018-08-14 16:59] #603 closed

[2018-08-14 17:05] Powerhelmsman commented on #599
@presleyy Can you take a look at this issue?

[2018-08-14 17:39] ShevaDas commented on #604
@DenBir Thanks for the feedback. Could you clarify why browser bookmarks aren't sufficient for this purpose?

[2018-08-14 17:44] ShevaDas commented on #167
@dastaffo is the PM for chromeless, he could likely provide an update.

[2018-08-14 18:00] ShevaDas commented on #595
Yes, this is my area. I'll file a bug with our engineering team.

#log-suggestion

[2018-08-14 18:07] Powerhelmsman commented on #595
#log-suggestion @ShevaDas

[2018-08-14 18:07] botcrane commented on #595
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=35008) logged.

[2018-08-14 23:06] ShevaDas commented on #167
My bad—apparently this is distinct from our chromeless rendering experience and as such needs separate design and engineering work. This isn't something we'll be able to prioritize this quarter with Ignite coming up but I'll work to get it prioritized for Q2. Could you link me any open issues so I can compile them into the VSTS item?

#log-suggestion @ShevaDas

[2018-08-14 23:11] Powerhelmsman commented on #167
@ShevaDas I've already closed other related open issue as duplicate. You can update the status on this issue.

[2018-08-14 23:11] Powerhelmsman commented on #167
#log-suggestion @ShevaDas

[2018-08-14 23:11] botcrane commented on #167
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=35118) logged.

[2018-08-15 03:32] presleyy commented on #599
Yes, I'm aware of this. Actually we had a [bug](https://ceapex.visualstudio.com/Engineering/_workitems/edit/33226) created for the same problem. The fixing is waiting to be deployed and verified. I will update it here.

[2018-08-15 05:11] ShevaDas commented on #167
@Powerhelmsman awesome—could you or @mairaw link me to the related issues that have been opened, so I can make a stronger case for prioritizing this feature?

[2018-08-15 06:57] sharriexie commented on #487
@Ka-Lai ,

I'm PM of DOCS profile.
Thanks for reporting this.
A ticket is created internally to track this: 80363249.
I'll update this thread if there's any progress.

Regards,
Hui Xie

[2018-08-15 07:12] sharriexie commented on #176
@botcrane ,
Thanks for your feedback. Your suggestion make sense.
I'm PM of DOCS profile, and have logged this request as customer suggestion (ID: 35179) in our system.

Hui Xie

[2018-08-15 07:13] OzBob commented on #419
Open Firefox (not firebox as you put it - probably a typo, right?)
Clear cookies etc.
Open https://docs.microsoft.com/en-us/search/index?search=nvarchar
Wait 40!!! seconds to see results.
Signin
All ok.

Now thinking about it, I should have saved my old cookie for you to share withAkami team.

Other users still have old signin cookies and will experience the same issue.

May I suggest that you rec

[2018-08-15 07:13] #419 closed

[2018-08-15 08:31] BoiarynovQA opened #606 "Set favorites web page is not available. (404)"
Description
as a user, i can't start using your tutorials ((( set favorites tab is not available

STR:
1. Go to https://docs.microsoft.com/en-us/vsts/user-guide/?view=vsts and navigate to Step-by-Step Tutorials article
2. Click on link 'Set favorites'

Expected behavior
web page with content is opened.

Screenshot
![404](https://user-images.githubusercontent.com/28347256/44138913-21dbfbbc-a07e-11e

[2018-08-15 08:32] mairaw commented on #167
@ShevaDas we usually link to this one to mark as duplicate, so you can see them listed above.

![image](https://user-images.githubusercontent.com/12971179/44139112-f94631de-a02a-11e8-83ca-dea052e809f3.png)

Let me know if you need anything else.

[2018-08-15 14:14] DenBir commented on #604
@ShevaDas

I would think of Docs as a large interactive library. Of course you can simply set the bookmarks via the browser and I would probably have done so 10 years ago. But as a current Microsoft Docuemntationsplatform I imagine more of it.

Examples:
I log in with my Microsoft account and very directly all the bookmarks that I put in the most diverse Docs articles. There I would also recognize

[2018-08-15 17:03] Powerhelmsman commented on #606
@BoiarynovQA Your issue is transferred to vsts team. They will help you there.

[2018-08-15 17:03] #606 closed

[2018-08-15 20:10] SoronelHaetir opened #607 "Add way to download unformatted XHTML content"
I would like a way to download unformatted XHTML content for arbitrary docs.microsoft.com pages as could be done with the old MSDN WSDL service.

I wrote a custom help viewer application that used the WSDL interface to download MSDN content and am looking at updating it to deal with the new docs.microsoft.com interface but as far as I can tell the only format the pages is offered is the fully form

[2018-08-15 21:30] ShevaDas commented on #580
@spatnaik Thanks for reporting this. I'll work with our engineering team to get it resolved.

#log-suggestion @ShevaDas

[2018-08-15 21:31] Powerhelmsman commented on #580
#log-suggestion @ShevaDas

[2018-08-15 21:31] botcrane commented on #580
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=35350) logged.

[2018-08-15 21:39] ShevaDas commented on #219
This should be fixed with our latest updates to the mobile TOC. Check it out:

![image](https://user-images.githubusercontent.com/3937986/44174759-edce6600-a098-11e8-803a-11925199a1c4.png)

Closing; feel free to open a new issue if needed.

[2018-08-15 21:39] #219 closed

[2018-08-15 21:40] ShevaDas commented on #548
#log-suggestion @ShevaDas

[2018-08-15 21:41] ChrisMaddock commented on #219
Awesome, thanks @ShevaDas

[2018-08-15 22:00] alan-geller commented on #482
Fixed in https://github.com/MicrosoftDocs/quantum-docs-pr/pull/283. I also fixed the source doc comment so that this won't reappear next time we publish from source.

[2018-08-15 22:11] Powerhelmsman commented on #482
@nthalpy Just let you know. The issue is resolved

[2018-08-15 22:11] #482 closed

[2018-08-15 22:17] ShevaDas commented on #548
@flagrange The fix for this should have shipped today. Please confirm it works for you and then close the issue out if all is well. :)

[2018-08-15 23:30] presleyy commented on #599
The bug has been fixed. @fallingfrog would you please double check it in your environment? Thanks in advance!

[2018-08-15 23:30] #599 closed

[2018-08-16 03:15] agamagtdM10102148 opened #608 "Spell check on Write Filters"
**Link to article:**
https://docs.microsoft.com/en-us/previous-versions/windows/embedded/ff769914(v%3dwinembedded.60)

**Problem:**
Spell of EWFMGR.ESE should be EWFMGR.EXE in the "File-Based Write Filter (FBWF)" paragraph.

[2018-08-16 05:12] ncarandini commented on #462
@SonjaSaltzman  why have you closed the issue?

[2018-08-16 07:15] flagrange commented on #548
@shevadas It is fixed when using IE (on Win 7, version reference above), but on Chrome, the 'Is this helpful' question does not appear at all any more. I could check later today on Win 10 (but the same version of Chrome).
In that sense, the problem disappeared, but maybe not in the way you intend it to.

[2018-08-16 11:21] svick opened #609 "Scrollbar not visible API reference product selector for .Net Framework"
On my non-fullscreen browser window, when I use the product/version selector on an API reference page for .Net Framework (e.g. [`System.String`](https://docs.microsoft.com/en-us/dotnet/api/system.string?view=netframework-4.7.2)), the whole selector does not fit in the space it has, which means its scrollbar for versions is not shown. This makes it hard to figure out that more versions are actually

[2018-08-16 11:29] svick opened #610 "Improvements to Product selector for .Net API browser"
I think there are several things in the Product selector in [the .Net API browser](https://docs.microsoft.com/en-us/dotnet/api/) that could be improved:

1. Using it should not cause overflow:

    ![](https://user-images.githubusercontent.com/287848/44205774-d7d3aa80-a157-11e8-9c18-a63d2a726171.png)

    Notice that there is plenty of space below, so there is no need for the scrollbar.

2. There

[2018-08-16 17:03] Powerhelmsman commented on #608
@agamagtdM10102148 Thanks for your feedback. Unfortunately the content is no longer updating due to out of project lifecycle.

[2018-08-16 17:03] #608 closed

[2018-08-16 17:12] Powerhelmsman commented on #609
@hellosnow moniker is your area, right? Can you follow up this bug?

[2018-08-16 17:13] Powerhelmsman commented on #610
@dend Can you take a look at this suggestion?

[2018-08-16 17:40] Powerhelmsman commented on #442
@brbro This bug is fixed now. Please double check. I will closed as resolved so far. if you have other question related to this we reopen it and continue the discussion.

[2018-08-16 17:40] #442 closed

[2018-08-16 17:41] Powerhelmsman commented on #607
@dend do you know who can help on this area?

[2018-08-16 18:06] MitchMcBride opened #611 "Document ENABLE_PARALLEL_PLAN_PREFERENCE"
Microsoft support has stated that it officially supports the ENABLE_PARALLEL_PLAN_PREFERENCE query hint, which was released with SQL Server 2016 SP1 CU2, but its usage is not documented.  Please consider adding it to https://docs.microsoft.com/en-us/sql/t-sql/queries/hints-transact-sql-query

[2018-08-16 18:10] Powerhelmsman commented on #611
@MitchMcBride Your issue is transferred to comments on the bottom of the content. SQL team now use comment to triage the feedback. They will help you there.

[2018-08-16 18:10] #611 closed

[2018-08-16 18:34] GrantMeStrength opened #612 "The "Start Turtorial" link on iOS Development Center, doesn't."
https://azure.microsoft.com/en-us/develop/mobile/ios/

On this page, the first and largest button is one that says "Start Tutorial", but it goes to a VERY busy page with no obvious next step to find the iOS tutorial.

[2018-08-16 18:40] dend commented on #609
I'll take this, @Powerhelmsman 👍

[2018-08-16 18:58] dend commented on #50
⚠ NOTE: The process is currently underway!

[2018-08-16 19:49] Powerhelmsman commented on #612
@GrantMeStrength Thanks for your feedback. It looks like your concern is about azure.microsoft.com instead of Docs.microsoft.com. So I transferred you suggestion to Azure.com feedback channel. https://feedback.azure.com/forums/34192--general-feedback/suggestions/35135659-the-start-turtorial-link-on-ios-development-cent You can track the status there.

[2018-08-16 19:49] #612 closed

[2018-08-16 20:12] GrantMeStrength commented on #612
Thanks!

[2018-08-16 21:34] DuncanmaMSFT commented on #548
@flagrange are you trying on a page where you already rated the page? Can you try on a different page that you haven't visited before instead, like https://docs.microsoft.com/en-us/contribute/how-to-write-use-markdown as an example?

We tried in Chrome on both Windows 10 and Windows 7 and are seeing the box

[2018-08-17 09:06] Ci5co opened #613 "Some wrong lines in the last changelog page (15.8 update)"
NOTE: I did not find the **comment section for the article** even after logging in with my Microsoft Account

After reading most of the changes from the last update for VS 2017 CE ([15.8](https://docs.microsoft.com/en-us/visualstudio/releasenotes/vs2017-relnotes#whats-new-in-158)), I found 2 wrong descriptions:

1. under the [productivity](https://docs.microsoft.com/en-us/visualstudio/releasenotes

[2018-08-17 10:56] brannmar commented on #517
Any update regarding this issue? Still experiencing redirects...

[2018-08-17 16:52] bogdan-mabo opened #614 ""In this article" links do not work in Edge"
"In this article" links do not work in Edge browser

1. Go to 'https://docs.microsoft.com/en-us/dotnet/csharp/' [or similar]
2. Try to click on the links in "In this article" section

The links should scroll to the corresponding section in the document

 - OS: Windows 10 Pro 1803
 - Browser: Edge
 - Version: 42.17134.1.0

[2018-08-17 18:49] dend commented on #559
@Powerhelmsman I am re-opening this one as it likely has to do with our rendering infrastructure. Will follow-up to test.

[2018-08-17 19:24] smrtreddyk opened #615 "FirstTokenIndex for ExistsPredicate in TSql140Parser(Microsoft.SqlServer.TransactSql.ScriptDom)"
FirstTokenIndex for exists statement is pointing to "opening bracket" instead of "exist" itself, this is causing issue with splitting a query using FirstTokenIndex  and LastTokenIndex from ScriptTokenStream

**example:**
**Query:** select * from tbl1 where exists (select * from tbl2 where tbl1.col1=tbl2.col2)
**expected output using FirstTokenIndex  and LastTokenIndex:** exists (select * from tbl2

[2018-08-17 22:01] Powerhelmsman commented on #613
@Ci5co Thanks for your feedback. I sent email to author. She will response it ASAP.

[2018-08-17 22:26] mairaw opened #616 "Inaccuracies on ManualResetEvent page"
Original GitHub issue https://github.com/dotnet/docs/issues/7083 from @kwalker360

I see two issues here:
(1) The C# code showing the class definition shows ManualResetEvent inherits from EventWaitHandle, but the Inheritence section shows it inherits from WaitHandle.
{2} The Reset() method is missing from the list of methods. (Fortunately it is discussed in the Remarks section and the link there w

[2018-08-17 22:46] nschonni opened #617 "MSDN redirect for cs-cz content not working"
**Describe the bug**
I was searching for some old TFS client library documentation and found that search engines still have the CS-CZ content index. The bad search results/index is probably a separate issue.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://duckduckgo.com/?q=Microsoft.TeamFoundation.VersionControl.Client.ItemType&ia=web
2. Click on the first MSDN link https://msd

[2018-08-17 22:57] Powerhelmsman commented on #614
@bogdan-mabo I can't repro your issue.  In the csharp page, "How the C# guide is organized" and "See also" can be clickable.

[2018-08-17 22:58] Powerhelmsman commented on #615
@smrtreddyk Can you provide the page link?

[2018-08-17 23:01] Powerhelmsman commented on #617
@sudeepku Is this your area?

[2018-08-17 23:03] Powerhelmsman commented on #613
@Ci5co The issue is fixed. Please double check.

[2018-08-17 23:03] #613 closed

[2018-08-17 23:06] bogdan-mabo commented on #614
Now it works for me too.
I am pretty sure I tried several time, I reloaded the page, restarted the browser and tried to use DevTools to see if there is anything on top of that list. Nothing worked.

But now it works as expected.
So sorry for wasting your time.

[2018-08-17 23:06] #614 closed

[2018-08-17 23:09] dend commented on #595
The fix to this item has shipped! Thank you for the feedback, @chrullrich!

[2018-08-17 23:09] #595 closed

[2018-08-17 23:15] Powerhelmsman commented on #617
@nschonni Thanks for you feedback. This is known issue. Our team is still working on migration progress. Once it is done, the issue will be resolved. I will post you the status.

[2018-08-17 23:25] smrtreddyk commented on #615
@Powerhelmsman

Link:
[Scriptdom API](https://docs.microsoft.com/en-us/dotnet/api/microsoft.sqlserver.transactsql.scriptdom.existspredicate?view=sqlserver-2016)

property: FirstTokenIndex

Microsoft.SqlServer.TransactSql.ScriptDom DLL version: 14.0.3811.1

[2018-08-17 23:31] SonjaSaltzman commented on #462
@ncarandini reopening the issue; we don't have a clear target date for fixing this at the moment, but will try to do so by end of the year, so will keep this issue open until then.
@bodhigautam @Sara-Nicolini

[2018-08-18 07:38] flagrange commented on #548
@DuncanmaMSFT You are right, and I should have thought about it: these pages were probably still cached. Weird is though that I'm unable to force a refresh or to make it work on the first five pages (Welcom upto The Qubit), no matter what I try. Beyond that, it's all OK.
But anyway, I think this is on my side now, so I've closed it.
Thank you for all these wonderful pages, by the way and for the w

[2018-08-18 07:38] #548 closed

[2018-08-18 09:11] svick opened #618 "In this article does not behave well for lower widths"
When checking In this article after the fix to https://github.com/MicrosoftDocs/feedback/issues/595, I noticed that it does not behave well when the width of the browser window is low. Specifically:

* At widths below about 1090 px, In this article is shown full-width before the article content:

    ![](https://user-images.githubusercontent.com/287848/44297707-522a3900-a2d6-11e8-9a92-f8544212c00b

[2018-08-19 03:02] EdisonDa opened #619 "ASP.Net Core Tutorial Missing code sample in localization version"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
Tell us where exactly a problem occurs.
1. Go to page https://docs.microsoft.com/zh-cn/aspnet/core/tutorials/razor-pages/new-field?view=aspnetcore-2.1

**Problem:**
What's wrong with the article?
No C# code found in zh-cn, see scre

[2018-08-19 15:24] residentx10 opened #620 "DAX section started but incomplete"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://msdn.microsoft.com/en-us/query-bi/dax/dax-error-the-calculation-could-not-be-completed

**Problem:**
Article was started but not completed.

[2018-08-20 07:46] Ci5co commented on #613
Yes, both of them are fixed.

[2018-08-20 16:50] Powerhelmsman commented on #417
@elizatobias What's the status?

[2018-08-20 16:54] Powerhelmsman commented on #619
@SonjaSaltzman Can you follow up this localization issue?

[2018-08-20 16:59] Powerhelmsman commented on #620
@residentx10 Thanks for your feedback. Your article is MSDN site, in stead of Docs site. Is this link from one page of Docs content? If yes, can you provide the Docs site link?

[2018-08-20 17:06] JeffSmalley commented on #464
I am having an issues downloading as a PDF...   This issues seems to be a problem again...

https://docs.microsoft.com/en-us/sysinternals/

https://docs.microsoft.com/en-us/sysinternals/opbuildpdf/TOC.pdf?branch=live

Using Windows 10 and tried IE, Edge and Chrome. All have the same issue..

Regards,
Jeff Smalley

[2018-08-20 17:09] SonjaSaltzman commented on #619
@nokura could you please follow up?

[2018-08-20 18:02] bodhigautam commented on #554
@Makopo We have worked on it . The feedback message for github is appearing now. Please close this issue.

[2018-08-20 18:03] #554 closed

[2018-08-20 18:05] Powerhelmsman commented on #575
@ShevaDas Did you sync with @nokura yet? What's status so far?

[2018-08-20 20:37] ShevaDas commented on #604
We've put that request into our internal backlog. (Internal ID for VSTS is 35179)

tag @sharriexie

[2018-08-20 20:51] spatnaik commented on #147
@ShevaDas: I was hoping this changed across the board for all pages using dark mode - not just the rds pages.

[2018-08-20 21:06] mairaw commented on #616
Another issue re. the same problem with a great amount of detail: https://github.com/dotnet/docs/issues/6722

[2018-08-20 21:21] ShevaDas commented on #147
@spatnaik Are you asking about something other than the top-most navbar that contains the navigation around Docs?

[2018-08-20 22:20] Powerhelmsman commented on #464
@dastaffo Can you take a look at this bug?

[2018-08-20 22:43] dastaffo commented on #464
I'll track this one down.

[2018-08-21 03:34] dend commented on #43
Duplicate of #298

[2018-08-21 03:34] #43 closed

[2018-08-21 16:06] dmparrishphd opened #621 "wrong word in regex documentation"
**Link to article:**
https://docs.microsoft.com/en-us/previous-versions/visualstudio/design-tools/expression-studio-3/cc295435(v=expression.10)

**Problem:**
The number sign (#) is mistakenly called the "sharp sign." The number sign is also called the "pound sign" or "hash tag," but the best name for it in the context of these regular expressions is the "number sign," since it refers to a count. S

[2018-08-21 16:55] Powerhelmsman commented on #621
@dmparrishphd Thanks for your feedback. Unfortunately the content is no longer updating due to out of product lifecycle.

[2018-08-21 16:55] #621 closed

[2018-08-21 16:58] dmparrishphd commented on #621
Ok. I actually stumbled upon the site looking for a complete description of the regex for Word (Office 365). Do you know where I can find that?

Thanks,

Michael
D. Michael Parrish, PhD, PE | Engineering Specialist 4 | Water Supply Bureau, Resource Evaluation Section, Groundwater Modeling Unit | x2815

From: Jian Dong <notifications@github.com>
Sent: Tuesday, August 21, 2018 12:56 PM
To: Microsoft

[2018-08-21 17:01] Powerhelmsman commented on #621
@dmparrishphd I often refer to https://docs.microsoft.com/en-us/dotnet/standard/base-types/regular-expression-language-quick-reference to get the full regular expression reference.

[2018-08-21 17:12] dmparrishphd commented on #621
Thanks,

Michael

D. Michael Parrish, PhD, PE | Engineering Specialist 4 | Water Supply Bureau, Resource Evaluation Section, Groundwater Modeling Unit | 561-682-2815
Florida enjoys a broad public records law—any emails sent to or from this address are subject to review by the public at any time.

From: Jian Dong <notifications@github.com>
Sent: Tuesday, August 21, 2018 1:01 PM
To: MicrosoftDocs/fe

[2018-08-21 18:53] tfitzmac commented on #556
@jtuliani - Links for Azure Resource Manager (including the template reference docs) have been added to the SDKs/Tools page. It is listed under Tools & Extensions.

[2018-08-21 19:47] DenBir commented on #604
I'm curious to see what happens.

[2018-08-21 22:31] dend commented on #616
We are investigating this, thanks for the heads-up, @mairaw @kwalker360

[2018-08-21 22:31] dend commented on #616
#log-suggestion @dend

[2018-08-21 22:31] botcrane commented on #616
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=36129) logged.

[2018-08-21 22:36] dend commented on #610
#log-issue @dend

Good feedback, thanks @svick!

[2018-08-21 22:37] dend commented on #610
#log-suggestion @dend

[2018-08-21 22:37] botcrane commented on #610
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=36131) logged.

[2018-08-21 22:40] dend commented on #609
Thanks for the feedback, @svick - I've opened an [internal ticket](https://ceapex.visualstudio.com/Engineering/_workitems/edit/36132) to track this work.

[2018-08-21 22:41] dend commented on #601
@EdisonDa no, ASP.NET conceptual content falls under @Rick-Anderson

[2018-08-21 22:46] dend commented on #597
@adisjugo looking at the content [on MSDN](https://msdn.microsoft.com/en-us/library/microsoft.sharepoint.client.site_members.aspx), it does not look like it was fully migrated to docs.microsoft.com. @jmazzotta is currently working on getting SharePoint .NET API documentation properly moved over, and will be able to update the item. I appreciate your patience with the process!

[2018-08-21 22:47] Rick-Anderson commented on #601
@630383257  can you open an issue from the bottom of the web page?

![image](https://user-images.githubusercontent.com/3605364/44433012-5e71f880-a559-11e8-976d-7c7c5e805bd4.png)

That way the doc will be routed to the correct folks.

[2018-08-21 22:47] dend commented on #590
Thanks again for the feedback, @svick - this bug should be now addressed.

[2018-08-21 22:47] #590 closed

[2018-08-21 22:50] dend commented on #574
Given that we have not obtained any clarifying information, I am going to close this issue. @pinecones-sx - feel free to comment with details, when you have the time, and we will re-assess re-opening the feedback item.

[2018-08-21 22:54] dend commented on #559
The likely cause is that the content is using an older parser. I've [opened a PR](https://github.com/SharePoint/sp-dev-docs-2013-server-ref-dotnet/pull/5) to fix this.

[2018-08-21 22:56] dend commented on #517
The content for SharePoint Server is [now available](https://docs.microsoft.com/en-us/dotnet/api/?view=sharepoint-server). All other redirections are in the process of being rolled back until we can offer a high fidelity experience on docs.microsoft.com.

[2018-08-21 22:56] #517 closed

[2018-08-21 22:57] dend commented on #529
#log-suggestion @dend

[2018-08-21 22:57] botcrane commented on #529
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=36139) logged.

[2018-08-21 23:01] dend commented on #513
Given that there are no immediate plans to address this, I am going to close the item for now. @polarapfel thank you for the feedback and we appreciate your patience as we work through all of the existing content!

[2018-08-21 23:01] #513 closed

[2018-08-21 23:30] dend commented on #223
@joelmartinez opened this issue to track the work: https://github.com/mono/api-doc-tools/issues/334

[2018-08-21 23:32] dend commented on #214
@LadyNaggaga is this something that is already on the radar for your team?

[2018-08-21 23:33] dend commented on #549
Thanks again for the feedback, @fowl2 - the team has decided that community contributions are not necessary in that particular repo, hence why the repo was private. As such, we removed the Edit button for the time being.

[2018-08-21 23:33] #549 closed

[2018-08-21 23:34] dend commented on #153
The APIs are [now available](https://docs.microsoft.com/en-us/dotnet/api/Microsoft.IdentityModel.Tokens?view=azure-dotnet)

[2018-08-21 23:34] #153 closed

[2018-08-21 23:35] dend commented on #58
Duplicate of #469

[2018-08-21 23:35] #58 closed

[2018-08-21 23:35] mairaw commented on #226
Just FYI to @pkulikov, we don't have this moniker zones capability yet.

@dend I still think there's some basic version awareness that needs to happen as well, which is related to the docs infrastructure. Showing the right attributes, the right signature, etc.

[2018-08-22 02:05] mairaw opened #622 "H1 title overlap with in-page navigation column"
Original GitHub issue https://github.com/dotnet/docs/issues/7175 from @zhiliangxu

https://docs.microsoft.com/en-us/dotnet/api/system.func-17?view=netframework-4.7.2
Title is long: Func&lt;T1,T2,T3,T4,T5,T6,T7,T8,T9,T10,T11,T12,T13,T14,T15,T16,TResult&gt;
It overlaps with "in this article"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2018-08-22 05:43] nschonni opened #623 "PR Bots should handle edits to non-article content"
**Is your feature request related to a problem? Please describe.**
In https://github.com/MicrosoftDocs/visualstudio-docs/pull/1416 where no article content was edited, the bot added the `changes sent to author` although there is no author and no-one was notified

**Describe the solution you'd like**
Bots might need a fallback repo owner to tag if it can't resolve the author for some reason

[2018-08-22 09:41] EdisonDa commented on #387
@DeanGross Thank you for your reporting and waiting for so long time. This module browser is different from search function - if you have no context about the module or cmdlets, we suggest you to try "search" function. In current module browser, you can try "active" in your example, however, the 'ad" could not return your expected result.

[2018-08-22 09:41] #387 closed

[2018-08-22 09:52] EdisonDa commented on #297
@dend could you please provide the contact info for this customer? Or you can share more information for what's asking? Each Azure CLI/PowerShell command should have a link for corresponding REST API in our docs?

[2018-08-22 12:32] jdholbrook81 opened #624 "Typo: suppliest"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

- I don't see a comment section on this article

**Link to article:**
Tell us where exactly a problem occurs.

- https://docs.microsoft.com/en-us/rest/api/vsts/git/pull%20request%20query/get?view=vsts-rest-4.1

also the v5.0 article contains the same t

[2018-08-22 13:14] cheles opened #625 "WlanGetFilterList function doc"
[WlanFreeMemory](https://docs.microsoft.com/en-us/windows/desktop/api/wlanapi/nf-wlanapi-wlanfreememory) mentions "Any memory returned from Native Wifi functions must be freed."

**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/api/wlanapi/nf-wlanapi-wlangetfilterlist

**Problem:**
Above [doc](https://docs.microsoft.com/en-us/windows/desktop/api/wlanapi/nf-wlanapi-wlangetfilte

[2018-08-22 17:05] Powerhelmsman commented on #625
@ginami Can you follow up? I saw the same comment on the bottom of the content. If your team tracks there, I will close it.

[2018-08-22 17:08] cheles commented on #625
thanks @powerhelmsman I've added the comment on doc page. my bad, if it's dup

[2018-08-22 18:07] ginami commented on #458
Thanks @BugsDigger . The reference link fix is complete, and the switch option you mention above brings up two options-- one works and the other doesn't. Thank you for bringing this to our attention--we've added it to our migration issue list and will get it fixed when we can.

[2018-08-22 18:10] pinecones-sx commented on #574
I DID respond.  I did not receive a response back.  So why are you closing this?

On 8/21/18, Den Delimarsky <notifications@github.com> wrote:

[2018-08-22 18:13] ginami commented on #460
Hi @BugsDigger--this is on our list of known migration issues. We don't have a fix yet, but I wanted to let you know that it is on our radar.

[2018-08-22 18:18] ginami commented on #493
Hi @Derpalus -- the TBDs on the pages you listed above have all been fixed. Thanks again for bringing this issue to our attention.

[2018-08-22 18:26] pinecones-sx commented on #574
@dend

[2018-08-22 18:26] ginami commented on #502
Hi @DXGLdotinfo -- this is issue is now fixed. Thanks again for bringing this to our attention.

[2018-08-22 18:27] ginami commented on #507
Hi @SujeathPareddy -- this issue is now fixed. Thanks again for bringing it to our attention.

[2018-08-22 18:29] ginami commented on #510
Hi @xenomancer -- this issue is now fixed. Thanks again for bringing it to our attention.

[2018-08-22 18:29] SujeathPareddy commented on #507
Welcome!

[2018-08-22 18:29] #507 closed

[2018-08-22 18:32] ginami commented on #514
Hi @j0hnsm1thj4cks0n -- the link is fixed! Thanks again for letting us know about this issue.

[2018-08-22 18:34] ginami commented on #519
Hi @alegrigoriev -- this issue is now fixed. Thanks again for brining it to our attention.

[2018-08-22 18:38] ginami commented on #543
Hi @shooshx -- the TBDs in the pages you listed in your initial comment have been fixed. Thank you for bringing this issue to our attention.

[2018-08-22 18:40] ginami commented on #573
Hi @ChrisMaddock -- thanks for bringing this to our attention. We are investigating the problem.

[2018-08-22 18:41] ginami commented on #522
Hi @bpd0018 -- thanks for your feedback. We're investigation the issue.

[2018-08-22 18:42] ginami commented on #552
Hi @quinnmagendanz -- thank you for your feedback! We're investigation this issue.

[2018-08-22 18:44] ginami commented on #625
Hi @cheles -- thanks for bringing this to our attention. We are investigating and will keep you posted.

[2018-08-22 18:51] shooshx commented on #543
@ginami
The TBD issue seem to be gone in these specific pages but here are a few APIs that still have problems in their argument description in the form of strange OPTIONAL placeholder:

https://docs.microsoft.com/en-us/windows/desktop/api/clfsw32/nf-clfsw32-reserveandappendlog
https://docs.microsoft.com/en-us/windows/desktop/api/ktmw32/nf-ktmw32-createtransactionmanager
https://docs.microsoft.com

[2018-08-22 19:08] ginami commented on #543
Thanks @shooshx -- yep, this is an ongoing migration issue and will continue to be on our radar until all are fixed.

[2018-08-22 19:27] #493 closed

[2018-08-22 19:30] Powerhelmsman commented on #502
@ginami I can still repro the same issue. Can you double check?

[2018-08-22 19:32] #510 closed

[2018-08-22 19:33] #514 closed

[2018-08-22 19:35] #519 closed

[2018-08-22 20:11] shooshx commented on #543
This ongoing migration issue sounds more like a python script that needs better error checking. You already had someone fixing it, couldn't they do the minimum verification that the output doesn't include the string "TBD"?

[2018-08-23 07:51] StevenLiekens opened #626 "Improve documentation for RequestHeaders.Get(String) Method"
I couldn't find the comment section for this article so consider this a comment.

**Link to article:**
https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.http.headers.requestheaders.get?view=aspnetcore-2.1#Microsoft_AspNetCore_Http_Headers_RequestHeaders_Get__1_System_String_

**Problem:**
There is no good documentation for `RequestHeaders.Get<T>(string): T`. I tried using it and tho

[2018-08-23 08:45] sharriexie commented on #487
Hi @Ka-Lai ,

The problem is fixed.
Now we show full name instead.
Thanks again for reporting this to us.

Regards,
Hui Xie

[2018-08-23 08:45] #487 closed

[2018-08-23 12:00] madiathomas opened #627 "Spelling mistake. Word **improvement** spelled as improvment."
# Spelling mistake. Word improvement spelled as improvment

Spelling mistake. Word **improvement** spelled as improvment.

## Issue Details

Spelling mistake on the visual Studio roadmap page -> https://docs.microsoft.com/en-us/visualstudio/productinfo/vs2018-roadmap.

![spelling mistake](https://user-images.githubusercontent.com/24851445/44524172-c1d86380-a6dc-11e8-89d8-4502d9de8e8e.JPG)

[2018-08-23 17:05] Powerhelmsman commented on #627
@madiathomas Thanks for your feedback. I've informed the author. They will fix it ASAP.

[2018-08-23 20:09] dend commented on #305
Thank you for the feedback, @MNF and @CamSoper. We are constantly working on evolving our template for .NET API documentation. Currently, we have no plans on changing how we organize methods and overloads, therefore I will close this item - will keep everyone updated on the changes we are making to API doc templates moving forward.

[2018-08-23 20:09] #305 closed

[2018-08-23 20:44] dend commented on #135
Duplicate of #581

[2018-08-23 20:44] #135 closed

[2018-08-23 20:46] dend commented on #626
This should be addressed by the ASP.NET team - FYI @danroth27 @Rick-Anderson

[2018-08-23 20:50] dend commented on #622
#log-suggestion

[2018-08-23 20:50] botcrane commented on #622
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=36436) logged.

[2018-08-23 23:17] kamackill opened #628 "404 for the Set-AddressList Exchange Powershell documentation"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/powershell/module/exchange/email-addresses-and-address-books/set-addresslist

**Problem:**
404 error when visiting this page

[2018-08-24 00:10] Powerhelmsman commented on #628
@kamackill Thanks for reporting the issue. May I know where do you get the link?

[2018-08-24 03:15] kamackill commented on #628
I got a 404 error being referred from Google Search results to multiple docs pages earlier today. The links seem to be working now. Thanks for the response.

[2018-08-24 03:15] #628 closed

[2018-08-24 06:04] blackfoxsar opened #629 "The image have an unrelated text."
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/windows-server/identity/ad-fs/overview/whats-new-active-directory-federation-services-windows-server

**Problem:**
The image have an unrelated text.

![adfs_itpro4](https://user-images.githubusercon

[2018-08-24 06:06] Powerhelmsman commented on #629
@billmath Can you take a look at this issue?

[2018-08-24 06:09] Powerhelmsman commented on #629
@blackfoxsar I transferred this issue to windowsserverdocs team. They will help you there.

[2018-08-24 06:09] #629 closed

[2018-08-24 14:19] bestekov opened #630 "[Question] Information on what powers the overall docs site?"
The docs.microsoft.come site has a pretty slick integration with github! Is there a repo for the overall wrapper site and/or information about how one could replicate a similar kind of documentation website? I'm interested in using this sort of approach in an internal company documentation library.

[2018-08-24 16:00] bradumbaugh opened #631 "Filename below a code snippet"
# Filename below a code snippet

Frequently, code snippets in docs I write reference are bits of code from a file in a sample project. It'd be nice to be able to list the name of the file under the code snippet in some kind of integrated way.

[code]

[2018-08-24 16:16] davidbritch opened #632 "Build system to escape URL chars in markdown links"
# Idea Title

It would be good if the build system would escape URL characters in xref links.

## Issue Details

We recently wanted to link to SkiaSharp API docs from a markdown file - specifically the constructor page for `SkiaSharp.SKColor`. We thought the xref would be `xref:SkiaSharp.SKColor.#ctor*`. This what was reported as the asset id for the page. However the xref query checker returned a

[2018-08-24 17:14] Powerhelmsman commented on #601
@Rick-Anderson no GitHub feedback section on the bottom of this page. So which repo you want me transfer the issue?

[2018-08-24 17:17] Powerhelmsman commented on #627
@madiathomas The issue is fixed.

[2018-08-24 17:17] #627 closed

[2018-08-24 17:29] Powerhelmsman commented on #574
@dend I reopen the issue since user provide the more information now.

[2018-08-24 17:55] Powerhelmsman commented on #631
@ShevaDas Can you take a look at this suggestion?

[2018-08-24 17:57] Powerhelmsman commented on #632
@meganbradley Is this something you can help?

[2018-08-24 17:59] meganbradley commented on #632
@Powerhelmsman
@cillroy is the PM for build.

[2018-08-24 18:34] jgold6 opened #633 "NetHttpBinding shown as available for Xamarin, but it is not implemented."
Using the [.NET API Browser](https://docs.microsoft.com/en-us/dotnet/api/), if you select Xamarin.Android, Xamarin.iOS, or Xamarin.Mac and [search for NetHttpBinding](https://docs.microsoft.com/en-us/dotnet/api/?view=xamarinios-10.8&term=NetHttpBinding), it will show as available, but this is [not implemented in Mono ](https://github.com/mono/mono/blob/master/mcs/class/System.ServiceModel/System.S

[2018-08-24 19:59] dend commented on #630
Hi @bestekov - the entire infrastructure is not currently available for consumption, however you can get pretty close by creating your own DocFX-based environment. I've written a [blog post](https://aka.ms/iwantdocs) on this topic, that hopefully unblocks you.

[2018-08-24 19:59] #630 closed

[2018-08-24 20:02] Rick-Anderson commented on #601
@Powerhelmsman  sorry, I didn't notice it was ASP.NET Framework and we don't have GitHub enabled there yet.

I moved it to https://github.com/aspnet/Docs/issues/8259
You can close this if you like. I'll get it fixed this sprint.

@630383257  thanks for reporting this.

[2018-08-25 00:44] michael-freidgeim-webjet opened #634 "In .Net API Browser allow to give feedback for individual pages"
Some time ago most of MS docs pages were enhanced with links in the footer "Product Feedback"/  "Content Feedback".
However articles in .Net API Browser (e.g.
https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.logging.debugloggerfactoryextensions.adddebug?view=aspnetcore-2.1#Microsoft_Extensions_Logging_DebugLoggerFactoryExtensions_AddDebug_Microsoft_Extensions_Logging_ILoggingBuilde

[2018-08-27 09:55] jtuliani commented on #556
Super! I see it. One suggestion: the link to the templates just says 'Reference'. It might be more discoverable if it said 'Template reference'?  I know it's under 'Azure Resource Manager', but that supports more than one type of reference (e.g. template reference, REST API reference). And I just think the word 'template' is fundamental to discoverability and needs to be included.

[2018-08-27 10:48] StevenLiekens commented on #626
@Rick-Anderson

[code]

[2018-08-27 13:31] Ka-Lai commented on #487
Thanks for solving.
Have a nice day.
Kind regards
Ka Lai

[2018-08-27 16:02] Powerhelmsman commented on #634
@michael-freidgeim-webjet Thanks for your feedback. No feedback section under .Net API rerence is by design so far due to resource limitation temporary. When the team has enough resource, we do recommend them to enable it.

[2018-08-27 16:02] #634 closed

[2018-08-27 16:08] Powerhelmsman commented on #556
@tfitzmac Jtuliani reply your message. Please take a look at it.

[2018-08-27 16:12] Powerhelmsman commented on #626
@StevenLiekens @Rick-Anderson This issue is transferred to aspnet/home repo. Please go there to track the status.

[2018-08-27 16:12] #626 closed

[2018-08-27 18:03] ShevaDas commented on #631
@dend for code samples

[2018-08-28 05:40] celinama opened #635 "A typo error in https://docs.microsoft.com/en-us/rest/api/compute/virtualmachines/listall?"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/rest/api/compute/virtualmachines/listall
**Problem:**
Specifies the size of an empty data disk in gigabytes. This element can be used to overwrite the name of the disk in a virtual machine image.

S

[2018-08-28 06:01] MandarbZA opened #636 "Microsoft.ProjectServer.Client documentation missing from API explorer"
## Microsoft.ProjectServer.Client documentation missing from API explorer

Searching for the Microsoft.ProjectServer.Client workspace doesn't return any results, and the links from MSDN doesn't point to the old documentation

## Issue Details

When you search for Project Online/2016/2013 documentation you reach this [section ](https://docs.microsoft.com/en-us/office/client-developer/project/gettin

[2018-08-28 07:38] mairaw opened #637 "cref summary text won't show in .NET API Browser Description"
Original GitHub issue https://github.com/dotnet/docs/issues/7325 from @imba-tjd

For example, searching `missing`:
![qq 20180828152637](https://user-images.githubusercontent.com/24759802/44707339-d64e9e80-aad6-11e8-9131-aa67244fbc91.png)
![default](https://user-images.githubusercontent.com/24759802/44707364-e5355100-aad6-11e8-8d0b-047f090acd3f.png)
Source: https://github.com/dotnet/dotnet-api-docs

[2018-08-28 08:33] jlagden opened #638 "Microsoft Docs site does not work with javascript disabled and previous version now has a 404 error"
Not sure if this is really a bug or a feature, but the site will not work at all with javascript disabled.

To reproduce go to https://docs.microsoft.com/en-gb/ and select a section of the docs

I would have expected the site to use a [Progressive enhancement](https://en.wikipedia.org/wiki/Progressive_enhancement) strategy so you would to be able to search the APIs without javascript and just have

[2018-08-28 11:11] sprab opened #639 "az aks create is case sensitive when is comes to VM sku"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest#az-aks-create
Tell us where exactly a problem occurs.

**Problem:**
What's wrong with the article?
az aks create is case sensitive to the VM sku mentioned.
When w

[2018-08-28 16:06] alvinashcraft commented on #113
Adding RSS is a great idea. As many releases are now announced on Docs, it would be great to be able to subscribe to an RSS feed for one of these pages.
For example, VS for Mac just moved their release announcements to a Release Notes page on docs.
https://docs.microsoft.com/en-us/visualstudio/releasenotes/vs2017-mac-relnotes
I would like to subscribe to this to be notified when a new version of V

[2018-08-28 16:31] Powerhelmsman commented on #635
@erickson-doug @hellosnow  Can you take a look at this typo?

[2018-08-28 16:35] Powerhelmsman commented on #636
@dend Can you take a look at this issue?

[2018-08-28 16:40] Powerhelmsman commented on #637
@dend Can you take a look at this?

[2018-08-28 16:54] Powerhelmsman commented on #638
@dastaffo Can you take a look at this issue?

[2018-08-28 17:06] Powerhelmsman commented on #639
@EdisonDa Can you follow up this suggestion?

[2018-08-28 17:08] Powerhelmsman commented on #639
@sprab Thanks for your suggestion. Your issue is transferred to author's team. They will follow up with you there.

[2018-08-28 17:08] #639 closed

[2018-08-28 18:19] ZhouHelen opened #640 "The Code Cannot be downloaded"
On this web page(https://docs.microsoft.com/zh-cn/aspnet/web-forms/overview/data-
access/introduction/creating-a-data-access-layer-cs),
 I want to download the code by clicking the link("下载示例应用程序或下载 PDF"),
 but it is not successful. What should I do?

[2018-08-28 18:26] Powerhelmsman commented on #640
@ZhouHelen Thanks for your feedback. Your issue is transferred to Asp.Net team repo. They will help you there.

[2018-08-28 18:26] #640 closed

[2018-08-28 21:29] phenomx2 commented on #583
Any news about this ?

[2018-08-29 02:29] hellosnow commented on #635
@celinama thanks for the feedback, I open an issue on Azure swagger repo https://github.com/Azure/azure-rest-api-specs/issues/3756 to check their update, the sentense comes from https://github.com/Azure/azure-rest-api-specs/blob/master/specification/compute/resource-manager/Microsoft.Compute/stable/2017-12-01/compute.json#L5406.

[2018-08-29 02:30] nhwilly commented on #583
As someone waaaay down the food chain, this would be a huge help.

[2018-08-29 02:43] #635 closed

[2018-08-29 03:59] dend commented on #583
Hi folks,

We are looking at what is the correct path with this specific request - we will update this thread once more information becomes available from various teams that are part of the conversation.

[2018-08-29 06:13] mairaw commented on #637
@Sampy might be a better person for this issue

[2018-08-29 06:14] mairaw opened #641 "Syntax highlighting is inconsistent for Class names"
Original GitHub issue https://github.com/dotnet/docs/issues/7328 from @Shah-Nisarg

I saw this in one of the examples:

![image](https://user-images.githubusercontent.com/20351320/44721132-8bd51e00-aae6-11e8-93f0-007197fe164e.png)

Notice the highlighting on constructors of `XElement`; two of them are highlighted in lighter blue color, while the rest are in black color.

I noticed that you are usi

[2018-08-29 08:29] andikrueger opened #642 "Errors in example and undocumented change: ReportViewerWebPart.ToolBarItemsDisplayMode"
**There is no comment box available :-1: **

**Link to article:**
https://docs.microsoft.com/en-us/dotnet/api/microsoft.reportingservices.sharepoint.ui.webparts.reportviewerwebpart.toolbaritemsdisplaymode?view=sqlserver-2016

**Problem:**
The example on the page does not reflect the changes in the dll. For more details see: [Undocumented Change in ReportViewerWebPart.ToolBarItemsDisplayMode Proper

[2018-08-29 16:03] Powerhelmsman commented on #637
@presleyy Can you work with Sampy on this API browser issue?

[2018-08-29 16:06] Powerhelmsman commented on #641
@cillroy Is this in your area?

[2018-08-29 16:09] Powerhelmsman commented on #642
@dend Can you take a look at this issue?

[2018-08-29 16:28] dend commented on #637
@mairaw @Powerhelmsman this is an API Browser feature request - this will be a new detail that we need to implement (it's not a bug per-se :) ) - please assign those to me in the future (_as @Powerhelmsman did earlier_).

[2018-08-29 16:31] dend commented on #622
@mairaw the bug should be fixed - I triggered a full content rebuild to validate that.

[2018-08-29 16:34] dend commented on #642
We are looking into this, thanks for the report @andikrueger!

[2018-08-29 16:36] mairaw commented on #637
Good to know.

But your definition of a bug or feature request can get fuzzy 😁 like API Browser should have been designed to support API links from the start and I'm surprised we're only catching this issue now to be honest if it has always been there. I thought it only stopped working instead of never working.

[2018-08-29 16:38] Powerhelmsman commented on #622
@dend it works fine on Chrome browser but doesn't work on Edge.

[2018-08-29 17:34] dend commented on #637
@mairaw the descriptions in the API Browser at launch were intended to be plain-text. We don't resolve any links/CREF entries. As such, anything that is not part of the original design becomes a feature request unless it behaves differently than what it was designed to do 😄

[2018-08-29 19:15] dend commented on #622
@Powerhelmsman the content is still being re-built on the live branch, so I can't tell yet whether the fix is propagated.

[2018-08-29 21:54] dend commented on #633
@joelmartinez @conceptdev can you comment on this? Is this something that we need to address?

[2018-08-29 22:31] conceptdev commented on #633
Interesting case - the class [_exists_](https://github.com/mono/mono/blob/master/mcs/class/System.ServiceModel/System.ServiceModel/NetHttpBinding.cs) , and the [ecmaxml exists](https://github.com/mono/mono/blob/master/mcs/class/System.ServiceModel/Documentation/en/System.ServiceModel/NetHttpBinding.xml#L2), so I can see why the tooling emitted docs.

However, the class throws `NotImplemented` and

[2018-08-30 07:46] michalmar opened #643 "Python API Docs not working"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/python/api/overview/azure-machine-learning/textanalytics

**Problem:**
"404 not found" page appears

[2018-08-30 12:48] ahidaka opened #644 "Include UWP APIs in the .NET API Browser"
**Describe the bug**
"Windows.Devices" is not included at ".NET API Browser".

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/dotnet/api/
2. Input 'Windows.Devices' into Search window with All APIs option.
3. No results found.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add scree

[2018-08-30 18:39] ticotaco72 opened #645 "Xamarin.Android in .Net API Browser isn't actual"
**Link to article: https://docs.microsoft.com/pl-pl/dotnet/api/?view=xamarinandroid-7.1**

Version 8.0 is already available for devs, but there's no documentation for it.

[2018-08-30 19:56] conceptdev commented on #645
Answered in https://github.com/MicrosoftDocs/xamarin-docs/issues/726

[2018-08-30 20:54] Powerhelmsman commented on #643
@michalmar Thanks for your feedback. May I know where you get the link?

[2018-08-30 20:55] Powerhelmsman commented on #644
@dend Can you take a look at this request?

[2018-08-30 20:56] Powerhelmsman commented on #645
@ticotaco72 Since the issue is answered. I will close it here.

[2018-08-30 20:56] #645 closed

[2018-08-31 06:08] vetrivelmp commented on #550
Hello mikebudzynski,

We are trying Microsoft.Azure.Management.ApiManagement 4.0.4-preview to  implement api mangement apis. this dll is using azure resource server format of apis not direct access calls. To use Microsoft.Azure.Management.ApiManagement 4.0.4-preview, i have to know how to generate authorize token programatically. whether Microsoft.Azure.Management.ApiManagement 4.0.4-preview will

[2018-08-31 06:27] vetrivelmp commented on #550
you are talking about direct access call. but the page https://docs.microsoft.com/en-us/rest/api/apimanagement/user/get  try now is using bearer token. how to programatically generate this bearer jwt token?

[2018-08-31 07:01] chandrapadil opened #646 "Text Analytics API"
Microsoft Azure Text Analytics API does not return the keyword **Angered**  in the Input text.

[2018-08-31 08:16] cabauman commented on #583
Thanks, I would love for this to happen as well.

[2018-08-31 08:42] presleyy commented on #585
@sparkchaser did you have chance to try [.NET API browser](https://docs.microsoft.com/en-us/dotnet/api/)? That could help on your scenario. But anyway, let us know if you would have more feedbacks. Thanks!

[2018-08-31 11:44] letmaik opened #647 "Tutorials link broken on PowerShell landing page"
https://docs.microsoft.com/en-us/powershell/
There is a link to tutorials which is broken: https://docs.microsoft.com/en-us/powershell/scripting/getting-started/fundamental/using-windows-powershell-for-administration

[2018-08-31 12:59] Hal-Tag opened #648 "Docs Home Missing link"
Sorry if I missed this but I wasnt able to find a lint to "Office 365" for the following doumentation in the docs directory.
https://docs.microsoft.com/en-us/office365/

[2018-08-31 16:20] Powerhelmsman commented on #550
@mikebudzynski vetrivelmp response your answer, please take a look at this. Let me know if I can close this issue.

[2018-08-31 16:31] dend commented on #648
Hello! We have a link to **Office** in the directory - from there, you can click on **More..** under Office 365, and get to the page above.

[2018-08-31 16:31] #648 closed

[2018-08-31 16:54] Powerhelmsman commented on #620
@residentx10 I will close this issue so far due to without enough information. If you have other question related to this we can reopen it to continue the discussion.

[2018-08-31 16:54] #620 closed

[2018-08-31 16:57] Powerhelmsman commented on #615
@dend Do you know who is right contact for .Net API on SQL part?

[2018-08-31 16:58] mikebudzynski commented on #550
Auth instructions for direct access API are here: https://docs.microsoft.com/en-us/rest/api/apimanagement/apimanagementrest/azure-api-management-rest-api-authentication
If you want to use Azure Resources Manager calls, just acquire the AAD token for ARM.

[2018-08-31 17:01] #550 closed

[2018-08-31 17:04] JonnMsft opened #649 "Microsoft.Extensions.Configuration.ConfigurationBuilder bad link"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.configuration.configurationbuilder

**Problem:**
Searching for ConfigurationBuilder returns this link, but it is a bad link.

[2018-08-31 17:27] Powerhelmsman commented on #646
@chandrapadil Can you provide the page link you refer to?

[2018-08-31 17:28] Powerhelmsman commented on #647
@dastaffo Please take a look at this bug.

[2018-08-31 17:30] Powerhelmsman commented on #649
@JonnMsft Where did you search the term, Docs site search, or API browser?

[2018-08-31 17:35] dend commented on #643
This should now be addressed, apologies for the inconvenience!

[2018-08-31 17:35] #643 closed

[2018-08-31 17:39] chandrapadil commented on #646
Page Link : https://azure.microsoft.com/en-us/services/cognitive-services/text-analytics/

Input Text : almost a week broke my heart and angered me at the same time

Key-phrases returned by the API : week, heart, time

Issue : Key-phrase angered is not returned

[2018-08-31 17:49] Khairunj commented on #596
https://github.com/kschepperly  : sorry for the issue you faced we have restored the reference content on MSDN and once ready we will move them to previous versions with redirect in place.  Please bookmark the pages on MSDN so that you can find them with redirect.  The content on previous version site https://docs.microsoft.com/en-us/previous-versions/  will not be indexed.

[2018-08-31 17:50] #596 closed

[2018-08-31 17:51] Khairunj commented on #596
The issue described here is now fixed.

[2018-08-31 17:52] Powerhelmsman commented on #646
@chandrapadil Thanks for your feedback. This is not a Docs site issue. I created a feedback on feedback.azure.com https://feedback.azure.com/forums/34192--general-feedback/suggestions/35262409-text-analytics-api Please track the status there.

[2018-08-31 17:52] #646 closed

[2018-08-31 19:24] mairaw opened #650 "API browser: navigating to an overload from search result is difficult"
Original GitHub issue https://github.com/dotnet/docs/issues/7413 from @dasMulli

Navigating to an overload that only exists in .NET Core 2.1 is impossible from search result as the framework switches from "all" in search to .NET 4.7.2 in the API browser.

Scenario:
* Search for Path.GetFullPath
* Click on the (String, String) overload
* Be disappointed that you get to a page that doesn't contain t

[2018-08-31 21:14] KenMAG opened #651 "PowerShell Docs Tutorials link is broken"
**Describe the bug**
404 - page not found

**To Reproduce**
Steps to reproduce the behavior:
1. https://docs.microsoft.com/en-us/powershell/
2. Click on Tutorials
3. See error

**Expected behavior**
You should be directed to tutorials

**Screenshots**
If applicable, add screenshots to help explain your problem.

![ps tutorials 404](https://user-images.githubusercontent.com/36929766/44936060-1e1834

[2018-08-31 21:18] Powerhelmsman commented on #650
@dend Can you take a look at this issue?

[2018-08-31 21:31] dend commented on #90
A good chunk of the ASP.NET MVC content is in this PR: https://github.com/aspnet/ApiDocs/pull/81/. We will continue working on shipping the rest soon.

[2018-08-31 21:51] dend commented on #644
Yes, that is a known issue - the `Windows.Devices` namespace is part of UWP APIs, that are not included in the .NET API Browser. It is instead available [here](https://docs.microsoft.com/en-us/uwp/api/windows.devices).

There is already a feature request for UWP APIs to be included in the API Browser, tracked internally. I will rename this issue to be more descriptive of that goal.

[2018-09-01 00:45] DXGLdotinfo opened #652 "DirectDraw documentation is missing parameters"
**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/api/ddraw/nf-ddraw-idirectdrawsurface7-blt

**Problem:**
This and all other DirectDraw API articles are missing the names, and description of the input parameters.

[2018-09-01 14:36] absinghal commented on #633
Can we implement the class in line with the content?

Here's the case for implementing NetHttpBinding:
https://github.com/mono/mono/issues/10344

Thanks

[2018-09-02 07:54] am420250899a opened #653 "是否可以提供其他开发语言（如csharp）的tsf输入法开发示例代码"
现在的tsf框架示例项目 SampleIME是用c++开发的，但是c++的学习成本比较高，让有心从事输入法开发和创新的人们很难入门。如果可以提供一份其它语言的示例项目，如csharp项目，或者只将输入法核心功能部分独立出来，用其它更热门的语言来实现，我认为会促进输入法的发展。我也在做这方面的学习，但是c++成了我最大的障碍。

[2018-09-02 10:13] XunGH opened #654 "help viewer item source"
I only code one language so I download the related help books in Help Viewer. But sometimes I look up a function which I did not download, it will check the internet. So could it be possible that if user look up a item not in his PC, it is a description to figure out which book he can download to find that item?
And in some "translated" item page, it is oblivious that the doc is translated by mach

[2018-09-02 20:32] IanVinkHub opened #655 "Text outside screen on 90% and up zoom"
**Describe the bug**
The text in the primary holder is going outside the screen when you are zoomed 90% or up on chrome and Microsoft Edge(Have not tested other browsers).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/en-us/windows-hardware/drivers/'
2. See error at the primary holder

**Expected behavior**
The text should have wrapped or a scrollbar on th

[2018-09-02 20:49] oliviercailloux opened #656 "Redirect with 301 permanent redirect"
**Describe the bug**
I would like to reference a page in MS doc, for example, https://docs.microsoft.com/powershell/scripting/setup/installing-windows-powershell . This should produce a 302 Found redirect to https://docs.microsoft.com/fr-fr/powershell/scripting/setup/installing-windows-powershell or https://docs.microsoft.com/en-us/powershell/scripting/setup/installing-windows-powershell or elsewh

[2018-09-03 02:27] Qq20180503 opened #657 "filter Azure Resource Management REST call on tags but response is not including "tag"."
**Describe the bug**
I filter Azure Resource Management REST call on tags. However, the response is just displaying the filtered resources not including "tag".

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Resources - List. https://docs.microsoft.com/en-us/rest/api/resources/resources/list
2. Click on 'Try it'
3. Scroll down to Add the $filter parameter with values `tagname eq 'abc'

[2018-09-04 03:47] dend commented on #653
Thank you for the feedback! Given that this feedback is related to content recommendations and not site functionality, the best way to address is to open a suggestion directly under the article to which it relates to - this ensures that the content owners can address it directly and in a timely manner.

[2018-09-04 03:47] #653 closed

[2018-09-04 03:49] dend commented on #649
@JonnMsft - this has now been addressed, and the link works as expected.

[2018-09-04 03:49] #649 closed

[2018-09-04 03:50] dend commented on #622
This issue has been fixed, and the header renders properly. Thank you all for the feedback!

[2018-09-04 03:50] #622 closed

[2018-09-04 04:02] dend commented on #298
Updating this - the `SerializableAttribute` and others are now being displayed, however not yet available for languages other than C#. This work is tracked in https://github.com/mono/api-doc-tools/issues/274

[2018-09-04 04:06] dend commented on #399
Looking closely at this, I am trying to understand what is the underlying reason for which we should remove the existing parameter markup. As is, it matches the title of the page, and is therefore consistent with the rest of pages on [docs.microsoft.com](https://docs.microsoft.com). @svick - can you please elaborate?

@mairaw @BillWagner - any thoughts on the feedback above?

[2018-09-04 04:07] cillroy commented on #641
Let me check into this, it could be a bug in the library we are using for c#

published page: https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/linq/data-transformations-with-linq#transforming-in-memory-objects-into-xml

[2018-09-04 04:07] dend commented on #529
This is now addressed, and the return type is properly displayed. Thank you for the feedback, @svick!

[2018-09-04 04:07] #529 closed

[2018-09-04 04:12] dend commented on #616
@mairaw the issue with the inheritance is already tracked in #223. That said, the `Reset` method is now documented (see [here](https://docs.microsoft.com/en-us/dotnet/api/system.threading.manualresetevent.reset?view=netframework-1.1&viewFallbackFrom=netframework-4.7.2)) - it was part of the new documentation that we generated recently. I will close out this item with this new development 😄

[2018-09-04 04:15] dend commented on #615
@Powerhelmsman I would start with @sudeepku - this seems like an issue that will need the SQL team looped in.

[2018-09-04 04:16] dend commented on #609
Thanks again for the feedback, @svick - this has been resolved.

[2018-09-04 04:16] #609 closed

[2018-09-04 05:50] mairaw commented on #616
@dend I don't think #223 discusses the same problem highlighted here. 223 is about the collapsing of interfaces when showing the signatures, this one was about not showing the appropriated inherited method for the selected platform because the hierarchy is different from one version to another but the system can't handle that.

[2018-09-04 05:54] dend commented on #616
@mairaw I will re-open this, good catch.

[2018-09-04 05:56] mairaw commented on #399
@dend it doesn't make any sense to show the parameters on the title for the interface page. This page is not consistent with the rest of docs. Its title should be IComparer Interface (System.Collections). Look at the title right above this one for the ICollection interface and you'll see there are no parameters in the title.

[2018-09-04 05:57] dend commented on #647
Removing @dastaffo and assigning to @EdisonDa to connect the dots, as this relates to PowerShell content.

[2018-09-04 06:36] riverar commented on #298
@dend Negative. My test cases above all still fail.

[2018-09-04 06:55] andikrueger commented on #642
let me know if you need more information or if there's anything I can do to help!

[2018-09-04 07:56] mairaw commented on #298
@riverar
I see SecurityCritical for https://docs.microsoft.com/en-us/dotnet/api/microsoft.win32.safehandles.criticalhandleminusoneisinvalid?view=netframework-4.7.1 for example or am I missing something?
![image](https://user-images.githubusercontent.com/12971179/45017737-42506b80-afdd-11e8-9172-35b16a5e9b6e.png)

[2018-09-04 09:10] gvanem opened #658 "[Typo] GetFinalPathNameByHandle"
**Link to articles:**
https://docs.microsoft.com/en-us/windows/desktop/api/fileapi/nf-fileapi-getfinalpathnamebyhandlea#examples
https://docs.microsoft.com/en-us/windows/desktop/api/fileapi/nf-fileapi-getfinalpathnamebyhandlew#examples

**Problem:**
The above paragraphs says:
`The following example demonstrates the us`, where it should be
`The following example demonstrates the use`

[2018-09-04 15:16] Powerhelmsman commented on #652
@ginami Can you follow up this issue?

[2018-09-04 15:18] Powerhelmsman commented on #633
@dend @conceptdev Please take a look at users' response.

[2018-09-04 15:26] joelmartinez commented on #633
There's another issue (here: https://github.com/mono/api-doc-tools/issues/147) that loosely deals with this same issue of some functionality being unavailable on some platforms/frameworks. Although that particular issue is slightly different, I think it might be related in that we should consider adding some tooling to indicate when an API's implementation will raise either an `PlatformNotSupporte

[2018-09-04 15:48] Powerhelmsman commented on #658
@ginami Can you find the author to fix the typo?

[2018-09-04 17:28] svick opened #659 "XML documentation generated from docs should not contain docs-relative URLs"
**Describe the bug**

When looking at the XML documentation for an API that seems to have been generated from .Net API reference, such as netstandard.xml, I can see docs-relative URLs such as `~/docs/standard/base-types/regular-expression-options.md`, while I think it should point to the live URL for the article: https://docs.microsoft.com/dotnet/standard/base-types/regular-expression-options.

Sp

[2018-09-04 17:31] Powerhelmsman commented on #659
@dend Can you take a look at this suggestion?

[2018-09-04 18:08] riverar commented on #298
@mairaw Oh. 😳 I checked the reference source and wasn't aware SecurityCritical had an empty constructor variant.

I looked at some other examples and everything looks good there 🎉
e.g. https://docs.microsoft.com/en-us/dotnet/api/system.security.rightsmanagement.unsignedpublishlicense?view=netframework-4.7.2

[2018-09-05 16:59] ginami commented on #658
Thank you for letting us know, @gvanem! We'll find someone to correct the typo.

[2018-09-05 17:00] ginami commented on #652
Thanks @DXGLdotinfo -- we will investigate the issue!

[2018-09-05 19:26] ginami commented on #652
Hi @DXGLdotinfo -- we've confirmed this issue is due to a migration problem and is in our queue to be fixed. I'll let you know when it's resolved.

[2018-09-05 22:04] Powerhelmsman commented on #623
@cillroy Is this your area?

[2018-09-06 05:12] de-elebit opened #660 "I see some [!code-csharp] error instead of example code"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/ko-kr/aspnet/core/tutorials/razor-pages/new-field?view=aspnetcore-2.1#adding-a-rating-property-to-the-movie-model'
2. See error where below title

**Expected behavior**
The error shows up that [!code-csharp] instead code.

**Screenshots**

[2018-09-06 06:16] hellosnow commented on #657
@Qq20180503 thanks for your feedback, may I ask have you tried with other tool to invoke the REST API such as postman or fiddler? The `tag` you mentioned is for `tags` under https://docs.microsoft.com/en-us/rest/api/resources/resources/list#genericresource?

[2018-09-06 07:31] Qq20180503 commented on #657
@hellosnow Thanks for your response. Yes, I test it using https://docs.microsoft.com/en-us/rest/api/resources/resources/list#genericresource or https://docs.microsoft.com/en-us/rest/api/resources/resources/list,  the result is the same. I have not tested it using other tools.

[2018-09-06 08:09] hellosnow commented on #657
@Qq20180503 got you, and I open issue for Azure REST repo https://github.com/Azure/azure-rest-api-specs/issues/3819, Azure team may has someone to look into the API.

[2018-09-06 09:08] gauravitm opened #661 "Some important files not found"
TriviaDbContext was not found in the source due to which microsoft.data was not accesible in the entire project

[2018-09-06 10:30] nathaditya commented on #655
same problem in opera desktop browser

[2018-09-06 13:40] r-fennell opened #662 "Server Azure AD Administrators documentation incorrect."
**Describe the bug**
The REST API documentation for retrieving [Server Azure AD Administrators](https://docs.microsoft.com/en-us/rest/api/sql/serverazureadadministrators/listbyserver) states that the response expected is JSON format. However, unless the HTTP `Accept: application/json` Header is included the default response is actually XML.

I see in the [azure-sdk-for-ruby](https://github.com/Azu

[2018-09-06 15:24] spottedmahn opened #663 "Add links to current documentation on msdn.microsoft.com"
**Is your feature request related to a problem? Please describe.**

I just Google `create dacpac` and the top result goes to MSDN 😢

![image](https://user-images.githubusercontent.com/14079228/45167336-f3fec080-b1c6-11e8-9b28-6377f56bf1a6.png)

Then when I'm on the page it says:

![image](https://user-images.githubusercontent.com/14079228/45167358-05e06380-b1c7-11e8-8a8e-1e9101d5a38f.png)

Ok, np,

[2018-09-06 15:27] Powerhelmsman commented on #661
@gauravitm Can you provide more detail on what you are looking for, which page you are referring to?

[2018-09-06 15:30] Powerhelmsman commented on #662
@erickson-doug Can you take a look at this suggestion?

[2018-09-06 15:31] SonjaSaltzman commented on #660
@nokura could you please follow up?

[2018-09-06 15:36] erickson-doug commented on #662
this is for the aad devs. i don't own these docs; i'm just a placeholder name for the api doc autogen tooling. @Mike Tillman<mailto:Michael.Tillman@microsoft.com>  might know who to contact...

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Jian Dong <notifications@github.com>
Sent: Thursday, September 6, 2018 8:31 AM
To: MicrosoftDocs/feedback
Cc: Doug Erickson

[2018-09-06 15:40] Powerhelmsman commented on #663
@spottedmahn please try this link: https://docs.microsoft.com/en-us/sql/relational-databases/data-tier-applications/data-tier-applications?view=sql-server-2017  This one is in People also ask section. and the third link is Docs site. In the future, MSDN will shut down and majority of document will be migrated to Docs site. So please try docs.microsoft.com first.

[2018-09-06 15:40] #663 closed

[2018-09-06 15:43] Powerhelmsman commented on #662
@erickson-doug Thanks for quick response. I sent a email to him to follow up.

[2018-09-06 16:08] mtillman commented on #662
@Powerhelmsman This is in the SQL database REST API, which I don't own. I think your best bet will be @craigg-msft who manages the SQL doc team.

[2018-09-06 20:07] svick opened #664 "Roslyn API reference should default to C#, not C++"
When I open an API reference page for a Roslyn type (e.g. [`Compilation`](https://docs.microsoft.com/en-us/dotnet/api/microsoft.codeanalysis.compilation?view=roslyn-dotnet)), the page is shown with the C++ language selected. I think C# should be the default language and it was until recently.

I suspect this is related to the fact that API reference for Roslyn also shows C++/CX and C++/WinRT as po

[2018-09-06 20:16] svick opened #665 "Both versions of In this article are shown at certain window widths"
**Describe the bug**

It seems .Net API reference pages have two versions of In this article (with two different capitalizations of its heading): one on the right hand side, which shows when the window width is high and one that's part of the body of the text, which shows for low window widths. The problem is that when the window width is between the two extremes, *both* are shown.

**To Reproduce

[2018-09-07 17:45] Jemash commented on #638
@jlagden -  Asp.NET landing page was taken down as the content is not ready. Are you having the same issues on other pages from https://docs.microsoft.com/en-us/previous-versions/ ?

[2018-09-08 03:56] codefoster opened #666 "Search relevance"
**Describe the bug**
I'm not certain you would consider this a bug, but I performed a search for "azure storage" and the best result was pretty far down the list

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'http://docs.microsoft.com'
2. Click on the search icon
3. Search for "azure storage"
4. Locate the "Introduction to Azure Storage - Cloud storage on Azure" as the 9th result

**

[2018-09-08 05:18] l1coder opened #667 ""Net" command"
I cannot easily find any references to the "net" command on the Microsoft Docs site. I get much more results and easier to use reference material from a google search and other sites. To ensure no ambiguity, I am referring to the "net" command which can take as arguments the following, which is a small sample:

- account
- use
- user
- computer

Its a command/utility still available on Windows 10

[2018-09-08 12:58] CajH opened #668 "No redirection from old Advanced Firewall documentation URL:s"
**Link to article:**
Google search:
https://www.google.com/search?q=windows%20firewall%20documentation

Old URL, appearing in Google's search results:
https://docs.microsoft.com/en-us/windows/security/identity-protection/windows-firewall/windows-firewall-with-advanced-security-design-guide

New URL:
https://docs.microsoft.com/en-us/windows/security/threat-protection/windows-firewall/windows-firewa

[2018-09-08 13:45] CajH opened #669 "Documentation missing for Predefined sets of computers in Advanced Firewall"
**Link to article:**
The feature is mentioned in the old article http://technet.microsoft.com/en-us/library/ee806447.aspx.

**Problem:**
It is unclear how the pre-defined sets are defined. It appears as if the groups can be edited. This needs documentation.

The issue is discussed here along with screenshots:
https://social.technet.microsoft.com/Forums/office/en-US/26125329-e4a6-4bdf-996d-8e696740

[2018-09-08 14:50] ingyeoking13 opened #670 "[UWP] appxmanifest -> App capability -> Appointment is translated diffrentely in Korean"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
Tell us where exactly a problem occurs.
[docs](https://docs.microsoft.com/ko-kr/windows/uwp/packaging/app-capability-declarations)

**Problem:**
What's wrong with the article?

in docs and in Visual studio, Appointments is translat

[2018-09-09 12:52] Endlo0se opened #671 "Missing docs - Sysinternals"
Hi!

I cant download or view the pdf for sysinternal.. can someone help? :)

[2018-09-09 13:15] ExE-Boss opened #672 "Document AF_UNIX"
## Is your feature request related to a problem? Please describe.
I’ve been searching for documentation related to using `AF_UNIX` (`#include <afunix.h>`) on https://docs.microsoft.com but came up empty handed.

## Describe the solution you'd like
I’d like for there to be clear documentation for the `afunix.h` header interface on https://docs.microsoft.com, presumably under [the WinSock documentat

[2018-09-09 13:44] nokura commented on #660
Thank you so much for your feedback @de-elebit. We are fixing the issue and get back to you when it is published.
Kind regards,
Microsoft DOCS International Team

[2018-09-09 16:58] rppowell-lasfs opened #673 "404 on link to Java DevOps on Azure from Java with VSTS page"
**Link to article:** https://docs.microsoft.com/en-us/vsts/java/?view=vsts

## Description
On page `Working with Visual Studio Team Services (VSTS) and Java` ( https://docs.microsoft.com/en-us/vsts/java/?view=vsts ), under `5-Minute Quickstarts` section, the link for `Java DevOps with Azure` ( https://docs.microsoft.com/en-us/azure/devops-project/azure-devops-project-java.md?toc=/vsts/java/toc.jso

[2018-09-10 13:06] jlagden commented on #638
Ah, ok - The other pages on previous versions seem fine

[2018-09-10 15:38] Powerhelmsman commented on #666
@presleyy Can you take a look at this feedback?

[2018-09-10 16:02] Powerhelmsman commented on #668
@Khairunj Is this your area?

[2018-09-10 16:19] Powerhelmsman commented on #669
@CajH Thanks for your feedback on content. I transferred your issue to window/Itpro repo. See if there are someone can help you.

[2018-09-10 16:19] #669 closed

[2018-09-10 16:21] Powerhelmsman commented on #667
@l1coder Can you tell us how you search the Net command? Using Docs site search, other search engineer? If you can provide snapshot, that would be great for us to identify the issue?

[2018-09-10 16:43] Powerhelmsman commented on #671
@Endlo0se Can you provide the content link?

[2018-09-10 16:50] SonjaSaltzman commented on #670
@nokura @JasonCard could you please address this one?

[2018-09-10 17:08] l1coder commented on #667
Hey Jian,

No problem, let me do a search and give you the result shortly, thanks.

Regards,
Charles Lee Ying | Manager | Operations

Solutions In Motion Limited |
Unit 1A, 142 Belmont Circular Road, Belmont, Port of Spain, Trinidad |
Phone: (868) 621-2746 | e-mail: charles.leeying@sim-tt.com
<cbleeyin@tstt.co.tt>

On Mon, Sep 10, 2018 at 12:22 PM Jian Dong <notifications@github.com> wrote:

[2018-09-10 17:38] dastaffo commented on #654
Thanks for the suggestions! I'll make sure these are incorporated as part of our planning.

[2018-09-10 19:02] Endlo0se commented on #671
https://docs.microsoft.com/en-us/sysinternals/

[2018-09-10 19:04] Powerhelmsman commented on #671
@dastaffo Can you take a look at this bug?

[2018-09-10 20:18] patster23 opened #674 "Co-management documentation to support moving off Configuration Manager"
We would like to see new documentation developed to address a customers looking to move off Configuration Manager after enabling co-management and moving all workloads to the cloud. What is the process to remove the agent from the device using Intune? How do you remove the device from the local domains so it is fully cloud managed?

[2018-09-10 21:58] ginami commented on #672
Thanks for your feedback @ExE-Boss. I'll get your request to the correct team.

[2018-09-11 00:11] aczechowski commented on #674
Oops, this is for SCCMDocs. I'll work with @patster23 to get this refiled in the right spot. 😄
You can close docs feedback issue #674.

[2018-09-11 00:12] #674 closed

[2018-09-11 01:32] dend commented on #673
Thanks for the feedback, @rppowell-lasfs - this has now been fixed, and the link points to the correct location.

[2018-09-11 01:32] #673 closed

[2018-09-11 07:29] presleyy commented on #666
@codefoster Thanks for raising this to us. Yes, fully agree that the "Introduction to Azure Storage..." is expected to be in a better position from the search results. We have such kind of challenge that many articles have "azure storage" and we are working hard to figure out a way to make our search be more cognitive rather than just from the full-text search.

[2018-09-11 12:18] Munies opened #675 "Core API with DB First"
I am using DotNet core web API application. I have to use Entity Framework DataBase first approach. But unable use this option. Any possibilities is there to use without MVC only based Core web API with DB first approach. Give good suggestion  for me.

[2018-09-11 14:40] keithboesel opened #676 "Provide additional export options"
I like the PDF export, but PDF if a difficult format to work with unless you're going to print. I'd like to be able to export as more portable formats (.docx, .epub, and/or .mobi).

[2018-09-11 16:10] Powerhelmsman commented on #675
@Munies Thanks for your questions. This channel is about to provide Docs site suggestion, and content issue. Do you refer to any content page? If yes, please provide the link.

[2018-09-11 16:14] Powerhelmsman commented on #676
@dastaffo Is this your area?

[2018-09-11 17:09] NorthYork opened #677 "Typo in IPv4 Addressing article"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

Typo in IPv4 Addressing article

**Link to article:**

https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2008-R2-and-2008/dd379547(v=ws.10)

**Problem:**
What's wrong with the article?

In Modern Internet Addresses in Hos

[2018-09-11 18:02] Powerhelmsman commented on #677
@NorthYork Thanks for you feedback. Unfortunately this page is no longer to maintain due to out of product lifecycle. Please refer to the similar document for new version.

[2018-09-11 18:02] #677 closed

[2018-09-11 19:28] dastaffo commented on #676
@keithboesel What about those other formats do you like?

[2018-09-11 20:35] mgroos16 opened #678 "Get confirmation of customer acceptance of Microsoft Cloud agreement"
Dear,
We have some doubts about this request.

At the moment we have a document of Terms and conditions and from what I understand this is a new requirement that the final client will have to validate to be able to acquire or modify new licenses of Office.

My query is where it would have to be added in the existing Terms and Conditions?

The client could do it from the Office portal, will there b

[2018-09-11 20:39] Powerhelmsman commented on #678
@mgroos16 Can you tell us which page you are referring to?

[2018-09-11 22:33] dastaffo commented on #676
Ah, ok, thanks for the feedback! We'll incorporate this into our future offline docs plans.

[2018-09-13 04:27] satonaoki opened #679 "No content in Azure top page for Japanese"
In the top page of Azure documentation for Japanese does not show main content:

https://docs.microsoft.com/ja-jp/azure/

Same page for English (or any other languages) does not have this issue:

https://docs.microsoft.com/en-us/azure/

![azure](https://user-images.githubusercontent.com/240055/45467092-c2eb3680-b758-11e8-8af7-74bc9d821b1f.png)

[2018-09-13 04:37] satonaoki commented on #679
And the Japanese page does not show the Microsoft logo, the Azure.com top menu and the search box.

[2018-09-13 04:38] Kim99 opened #680 "404 (Not Found)"
access https://docs.microsoft.com/zh-cn/xamarin/

(index):119 GET https://docs.microsoft.com/zh-cn/_themes/docs.theme/master/zh-cn/_themes/global/js/b3d545d4.localized-strings.js 404 (Not Found)
ee7583dd.global.min.js:3134 Uncaught TypeError: Cannot read property 'aSecondAgo' of undefined
    at ee7583dd.global.min.js:3134

[2018-09-13 06:44] javaisbetterthanpython opened #681 "Event ID 12 - Abbreviations"
**Link to article:**
https://docs.microsoft.com/en-us/sysinternals/downloads/sysmon

**Problem:**
The Abbreviations table under Event ID 12 seems wrong. The Key Name "HKEY_LOCAL_MACHINEHKLM" seems incorrect, as well as the associated abbreviation "HKEY". I believe it should read "HKEY_LOCAL_MACHINE" and "HKLM".

The entry for "HKEY_LOCAL_MACHINE\System\ControlSet00x" lists the abbreviation as "HKL

[2018-09-13 07:47] #680 closed

[2018-09-13 08:46] gsa-nerds commented on #543
So? any news on when this is going to addressed?

[2018-09-13 13:13] Niklas-Peter opened #682 "Escaped, open square bracket '[[' not decoded - Microsoft.SqlServer.TransactSql.ScriptDom.Identifier.DecodeIdentifier()"
**Describe the bug**
Actually it is not a documentation bug, but an implementation bug, but I do not know where to report it.
Expected behavior is:

Actual behavior:
`Microsoft.SqlServer.TransactSql.ScriptDom.Identifier.DecodeIdentifier("[[[As]]]", out _) == "[[As]"`

**Expected behavior**
`Microsoft.SqlServer.TransactSql.ScriptDom.Identifier.DecodeIdentifier("[[[As]]]", out _) == "[As]"`

Obvious

[2018-09-13 16:29] Powerhelmsman commented on #679
@satonaoki I can't repro the issue from my end. Do you still have this issue?

[2018-09-13 16:36] Powerhelmsman commented on #681
@lukekim Can** you take a look at this feedback?

[2018-09-13 17:13] analyze-v commented on #681
Thanks for the feedback - you are quite correct:

HKEY_LOCAL_MACHINE should indeed be HKLM
HKCR is HKEY_LOCAL_MACHINE\Software\Classes

In the code I see a further option that is currently undocumented:-
HKCC = HKEY_LOCAL_MACHINE\SYSTEM\CURRENTCONTROLSET\HARDWARE PROFILES\CURRENT

As things stand the documentation for ControlSet00x is correct as this does indeed get mapped to CurrentControlSet. Fo

[2018-09-13 17:53] gitsno opened #683 "Missing document that is linked in Powershell error message"
**Link to article:**
http://go.microsoft.com/fwlink/?LinkID=135170

**Problem:**
It's not found

This article is referenced by the Powershell error that occurs when you try to execute a script and do not have the execution policy correctly set, so it is pretty important that the link works.

[2018-09-13 17:54] Powerhelmsman commented on #683
@gitsno Can you provide which page include this link?

[2018-09-13 19:01] gitsno commented on #683
It's not a page, it's in Powershell itself, I've attached a screenshot, note that the link appears twice at different times - first in the confirmation message when changing execution policy and then again in the error message when the execution fails.

![powershellbadlink](https://user-images.githubusercontent.com/11527628/45509474-47d84f00-b75d-11e8-9c5f-11ba636fe512.PNG)

[2018-09-13 19:11] ShevaDas commented on #665
I've reproed this appearing at widths from 1088-1200 px and will file a bug with our engineering team.

[2018-09-13 19:33] ShevaDas commented on #665
https://ceapex.visualstudio.com/Engineering/_workitems/edit/39808 for internal tracking

[2018-09-13 19:39] ShevaDas commented on #655
Thanks for reporting this! I filed a bug with our engineering team.

Link for internal tracking: https://ceapex.visualstudio.com/Engineering/_workitems/edit/39810

[2018-09-13 23:07] satonaoki commented on #679
Now it works for Japanese. Thanks!

[2018-09-13 23:07] #679 closed

[2018-09-14 01:49] EdisonDa commented on #683
Hi @gitsno, thank you for your reporting. I tried the link http://go.microsoft.com/fwlink/?LinkID=135170, and it goes to https://technet.microsoft.com/zh-CN/library/hh847748.aspx, it shows the "about_Execution_Policies" which consist to the page in docs https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_execution_policies.

Could you please share me the screen

[2018-09-14 06:28] de-elebit commented on #660
@nokura Thank You!!

[2018-09-14 06:28] #660 closed

[2018-09-14 08:15] rschindhelm-haba commented on #167
Any update on this one?

I'm using Firefox 45.3.0 to view the docs.  Especially on this page I'm not even able to clearly see the contents because the navigation pane's overlapping with the content:
https://docs.microsoft.com/en-us/sql/t-sql/queries/hints-transact-sql-table?view=sql-server-2017

![docs](https://user-images.githubusercontent.com/26774899/45538266-dce35280-b806-11e8-8f58-bdd6e8d7a3c

[2018-09-14 14:19] frhino opened #684 "Getting Started/Workflow Guide for just TFS"
Pretend you are familiar with GitHub and GitLab and now you've been invited to contribute to a project being hosted on TFS. You want to double check Microsoft's definition of "fork" vs "clone" so, from within TFS, you start looking for help.  Is it possible? I finally made my way [here](https://visualstudio.microsoft.com/team-services/tfs-support/), but it wasn't any better. I found the documentat

[2018-09-14 14:50] gitsno commented on #683
When I go to that link I get a 404 and the URL is
https://docs.microsoft.com/en-us/powershell/module/5.1/Microsoft.PowerShell.Core/about/about_Execution_Policies
I've attached screenshots of the page and also of the Network tab showing the redirect.
![ps 404](https://user-images.githubusercontent.com/11527628/45557546-76a90080-b803-11e8-8ecb-61330bc3422b.PNG)
![ps redirect](https://user-images.git

[2018-09-14 20:04] Powerhelmsman commented on #682
@craigg-msft Is this something you can help?

[2018-09-14 21:32] Powerhelmsman commented on #684
@cillroy Is this your area you can follow up?

[2018-09-14 23:18] elizatobias commented on #670
Acknowledging feedback. We'll address

[2018-09-15 04:08] vivekpatel19 opened #685 "Website issue when 100%zoom"
https://docs.microsoft.com/en-in/windows/uwp/get-started/?ocid=WinClient_Ver1703_Settings_TipCreateApp
![screenshot 76](https://user-images.githubusercontent.com/30730410/45582319-141b3780-b8cb-11e8-8c78-ad186314476c.png)

[2018-09-15 17:55] Powerhelmsman commented on #685
@ShevaDas Can you take a look at this issue?

[2018-09-16 04:07] ShevaDas commented on #685
Duplicate of #655, closing.

[2018-09-16 04:07] #685 closed

[2018-09-17 01:53] EdisonDa commented on #683
@sdwheeler I created an issue https://github.com/PowerShell/PowerShell-Docs/issues/2925. would you want to track here?

[2018-09-17 02:14] Powerhelmsman commented on #683
@gitsno @EdisonDa I will close this issue as transferred. You guys can go PowerShell/PowerShell-Docs#2925. to track the status.

[2018-09-17 02:14] #683 closed

[2018-09-17 09:33] ite-klass opened #686 "Missing documentation for `GlobalFilterCollection`"
I am [searching for `GlobalFilterCollection` across all APIs](https://docs.microsoft.com/en-us/dotnet/api/?term=GlobalFilterCollection), but that does not return a result.

Inspecting in Visual Studio I can see it is a sealed class in the `System.Web.Mvc` namespace, assembly `System.Web.Mvc` version `5.2.3.0`.

[It does exist on MSDN.](https://msdn.microsoft.com/en-us/library/system.web.mvc.global

[2018-09-17 18:34] nokura commented on #660
Hello @de-elebit
We have published the fixed page to live.
Thank you for your contribution to improve the content!
![gh-issue660-fix](https://user-images.githubusercontent.com/13804190/45642631-9d6a6f80-ba6d-11e8-8d45-7799b6bab816.PNG)

Microsoft C&E Localization Team

[2018-09-17 18:50] Justinha commented on #669
@CajH I don't think the list can be edited but I've asked our engineering team to confirm.

[2018-09-17 20:02] spottedmahn opened #687 "Add Code Formatting"
**Is your feature request related to a problem? Please describe.**

It would be handy if I add code, with the language tag, that the code was formatted as such.

## Not formatted

![image](https://user-images.githubusercontent.com/14079228/45646988-c51ffe80-ba92-11e8-8c54-e8cc4784266a.png)

**Describe the solution you'd like**
Please format it like on GitHub:

![image](https://user-images.githubus

[2018-09-17 20:03] spottedmahn commented on #11
Does this mean you guys plan to implement it?

[2018-09-17 20:56] joelmartinez commented on #616
To add a few details here, [the EcmaXml source](https://github.com/dotnet/dotnet-api-docs/blob/2facbdfc277618f32ed404906e3a9f57244bf352/xml/System.Threading/ManualResetEvent.xml#L26-L29) lists two separate base types:

[code]

And the first line of the remarks reads:

So the metadata reflects this change in inheritance chain between versions ...

[2018-09-17 22:12] spottedmahn opened #688 "Add References to Doc Pages from API Pages"
**Is your feature request related to a problem? Please describe.**
I'm trying to figure out how to use `CreatedAtRoute` in ASP.NET Core and I ended up on the [API Page](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.controllerbase.createdatroute?view=aspnetcore-2.1).

The API doc page kinda helps but I'm really looking for the **"tutorials"** doc page.  Something like this pa

[2018-09-17 22:19] Powerhelmsman commented on #688
@dend Can you take a look at this suggestion?

[2018-09-17 22:19] Powerhelmsman commented on #688
@presleyy Copy to you for awareness because you are responsible for site recommendation.

[2018-09-18 06:22] nschonni opened #689 "PR Bots should understand quoted author names"
**Is your feature request related to a problem? Please describe.**
When an author name is quoted in the front matter like
[code]
It should unquote the value before trying to notify the author. EX: @ghost instead of @"ghost"

EX: https://github.com/MicrosoftDocs/azure-docs/pull/15163#issuecomment-422268461

**Describe the solution you'd like**
If a quoted ID is seen for the author value, unquote it

[2018-09-18 08:55] mspncp opened #690 "Broken table formatting in 'ACE Strings' documentation"
**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/SecAuthZ/ace-strings

**Problem:**
The table formatting of the field  **rights** in the **Fields** section is broken. All entries appear below each other. (Verified with Microsoft Edge and Chrome.)

[2018-09-18 13:11] IntelOSt opened #691 "Microsoft"
We discussed again about the problem of software piracy and microchip processor and MSD, please immediately resolve the case in our country. Our Indonesian ID.or has been incorporated We have joined the inter-national police

[2018-09-19 02:40] presleyy commented on #688
Yes, this is a good scenario. Two features in pipeline might help on this - having the content type filter on the search page would help; having content recommendation would also help like the solution mentioned by the user.

[2018-09-19 14:11] AOvermyer opened #692 "Cannot log into comment sections even though I'm logged into MS Account"
**Describe the bug**
Even though I have logged into the MS Docs site using one of my MS Accounts, The comments section still requires me to log-in before posting. I have attempted to sign in multiple times, and each time the website does not respond. When I enter valid MS Account details, the logon box simply dissapears and the page does not refresh or show that I've logged in. Clicking on the Sig

[2018-09-19 14:12] spottedmahn commented on #688
Is that something that is manually coded or automatically happens?

[2018-09-19 18:54] SharePointGuys opened #693 "Missing all Details fo SharePoint API Documentation"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:** for example: https://docs.microsoft.com/en-us/dotnet/api/microsoft.sharepoint.spweb?view=sharepoint-server
There is no any details such as explanation, examples in the page but was existing in the original MSDN site. Actually all S

[2018-09-19 18:58] SharePointGuys commented on #693
Here I listed 2 links from original MSDN site. Please compare the pages, and you would tell how much details are lost in Microsoft Docs. Thanks.

Original SPWeb Class on MSDN: https://msdn.microsoft.com/en-us/library/microsoft.sharepoint.spweb_members.aspx
vs. https://docs.microsoft.com/en-us/dotnet/api/microsoft.sharepoint.spweb?view=sharepoint-server

Original SPSite Class on MSDN: https://msdn.

[2018-09-19 22:09] BrayanKhosravian opened #694 "Socket example does not use .Dispose(); method"
**Is your feature request related to a problem? Please describe.**
The msdn docs are awsome actually, and this is my intent of posting this request.

The Socket example at msdn does not implement a error handling and disposing of the disposable type "Socket".

**Describe the solution you'd like**
Integrading error handling and proper disposing would be awsome.

**Describe alternatives you've consi

[2018-09-19 22:12] mairaw opened #695 "Interactive snippet reset scroll to the top"
Original GitHub issue https://github.com/dotnet/docs/issues/7755 from @jeffy-grh

When clicking run option to see a code in action, the doc window scroll is reset to the top.
This can cause readers to lose context.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: dda93f14-f1b5-fde6-e441-302cdac261ab
* Version Independent

[2018-09-20 05:29] presleyy commented on #688
It is supposed to happen automatically. We would still allow author to manually code the "see also". But we want to design something to append recommendations figured out automatically by system for majority articles.

[2018-09-20 18:09] MikalaKennell opened #696 "404"
This page isn't working: https://docs.microsoft.com/en-us/azure/devops/user-guide/what-is-vsts?view=vsts

[2018-09-20 18:42] bsimser commented on #693
The original docs (I'm assuming since I've never seen the original source code) probably came from triple-slash source code comments. Many of original comments though were pretty useless. "A Boolean value that specifies whether the current user is allowed to edit master pages." for a property called AllowMasterPageEditingForCurrentUser is redundant. I'm assuming the new pages are also being genera

[2018-09-20 22:46] mairaw commented on #696
Where are you seeing this link @MikalaKennell? I imagine the correct link would be https://docs.microsoft.com/en-us/azure/devops/user-guide/what-is-azure-devops-services?view=vsts.

/cc @erickson-doug

[2018-09-20 22:50] mairaw opened #697 "DriveInfo (and other System.IO classes) should be explicit about their thread-safety."
Original GitHub issue https://github.com/dotnet/docs/issues/7809 by @ericmutta

Since I/O is the type of thing that you would expect to be done from multiple threads, it would be very handy to know the thread-safety guarantees (if any) of the various `System.IO` classes.

For example, what happens if two threads read the `DriveInfo.AvailableFreeSpace` property? Though the property is read-only, th

[2018-09-20 22:53] mairaw commented on #697
@ericmutta is right. All types on MSDN would have a default thread safety text that we could override if needed.

The overriding part is working, but we don't have the default case covered.

The text that we had for DriveInfo was
![image](https://user-images.githubusercontent.com/12971179/45850972-4b378180-bced-11e8-97ea-5d4b806bfe31.png)

[2018-09-21 09:44] nbkawa-sh opened #698 "Wrong URL links in Windows Embedded Compact 7 Docs"
**Link to article:**
Here is a sample page which has problem. The links in the "Reference" section of the page are linked to "Windows Embedded CE 6.0" pages, but the page content is for Windows Embedded Compact 7 (WEC7).
https://docs.microsoft.com/en-us/previous-versions/windows/embedded/ee489554(v%3dwinembedded.70)

**Problem:**
The all links in the page are linked to "Windows Embedded CE 6.0" pa

[2018-09-21 09:44] davidbritch opened #699 "Xamarin.Forms GestureRecognizer API doc nav problem"
**Describe the bug**

The Xamarin.Forms GestureRecognizer API doc (https://docs.microsoft.com/en-us/dotnet/api/xamarin.forms.gesturerecognizer?view=xamarin-forms) lacks the left-hand nav that other types have, such as Grid (https://docs.microsoft.com/en-us/dotnet/api/xamarin.forms.grid?view=xamarin-forms).

Similarly, the GestureRecognizer doc layout is different to the layout for other types such

[2018-09-21 15:57] helenkashmiraqueen opened #700 "Oi"
Meu nome é Helen dos Reis Silva Freire de Sena, e estou tentando recuperar a minha conta que mais uma vez foi roubada. Já tive outros e-mails, que vocês não me deixaram recuperar(helen.cherrie@gmail.com e helen.kashmiraqueen@gmail.com). Eu conheço meus direitos como usuária e sei que estão roubando diversas vezes minha conta, e essa empresa nunca me permite recuperar meus cadastros e e-mails. Mesm

[2018-09-21 16:00] Powerhelmsman commented on #686
@sudeepku Do we migrate it or not?

[2018-09-21 16:02] Powerhelmsman commented on #687
@ShevaDas Please take a look at this suggestion.

[2018-09-21 16:03] Powerhelmsman commented on #689
@cillroy can you take a look at this feedback?

[2018-09-21 16:04] Powerhelmsman commented on #690
@ginami Can you assign it to right person to fix it?

[2018-09-21 16:13] Powerhelmsman commented on #691
@IntelOSt Thanks for your feedback. The channel is only for Docs site. Giving your feedback is not related to Docs site. There is nothing we can help here. If you have any concern or suggest about the Docs site, we can reopen the issue and continue discussion.

[2018-09-21 16:13] #691 closed

[2018-09-21 16:17] Powerhelmsman commented on #692
@ShevaDas Is this your area to help?

[2018-09-21 16:27] Powerhelmsman commented on #695
@dend Is this your area?

[2018-09-21 16:32] Powerhelmsman commented on #698
@nbkawa-sh Thanks for your feedback. All pages with previous-versions in URL are no longer updated due to out of production lifecycle. Do you see any pages without previous-versions have wrong links?

[2018-09-21 16:50] Powerhelmsman commented on #699
@dend Can you take a look at this feedback?

[2018-09-21 16:56] Powerhelmsman commented on #700
@helenkashmiraqueen  This channel is only for Docs site itself. I read your feedback through translation tool. Maybe I am wrong.  Your issue seems not to relate to our site. If you have any concern and more detail information, we can reopen it and continue the discussion.

[2018-09-21 16:56] #700 closed

[2018-09-21 17:12] conceptdev commented on #699
The [EcmaXML source for this class](
https://github.com/xamarin/Xamarin.Forms-api-docs/blob/live/docs/Xamarin.Forms/GestureRecognizer.xml) does not have any fields, properties, or methods. Everything listed in the body of the API reference is **inherited** (which I guess do not show in the left nav). Looking at other types, the left-nav seems to only show declared items (not inherited ones) - is t

[2018-09-21 22:54] ShevaDas commented on #687
@jialge is handling GitHub Issues now, assigned to him.

[2018-09-21 22:58] ShevaDas commented on #692
@AOvermyer I can't open that file—could you provide a link to the page that this is happening on?

[2018-09-21 23:01] ShevaDas commented on #11
@spottedmahn It's something we're looking into. @jialge is the point of contact for this work now and can speak to further timelines and implementation.

[2018-09-22 05:45] nbkawa-sh commented on #698
@Powerhelmsman Thank you for your comment. I don't see pages which is not prebious-versions, because WinCE docs have already become previous versions docs. But I didn't see such wrong links the documents were on the "MSDN".

I know your support life cycle policy, but I think Microsoft took some mistakes to port the docs from MSDN, such as the following issue that I reported.
https://github.com/Mic

[2018-09-22 14:15] gcrockenberg opened #701 "Fabric UI Content no longer rendering"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://developer.microsoft.com/en-us/fabric

**Problem:**
The Fabric UI pages all render a spinning, "busy" placeholder.  No content appears.  Testing using Chrome, Edge and IE11.
![fabric content issue](https://user-images.github

[2018-09-24 04:52] KirbyMcKenzie commented on #701
`Uncaught TypeError: i.createContext is not a function` is being thrown in the console.

[2018-09-24 05:08] KirbyMcKenzie commented on #701
Hey @gcrockenberg,

I'm getting the same problem. I had a look in the console and there is the following error:
 `Uncaught TypeError: i.createContext is not a function` which may be preventing the page from loading.

[2018-09-24 11:23] MarkowEduard opened #702 "Error Message after (successful) Logon"
As the title says ...

I have screenshot, but it seems that I cannot attach it.

[2018-09-24 16:14] Powerhelmsman commented on #701
@jialge Can you help here or who is the right person to contact?

[2018-09-24 16:16] Powerhelmsman commented on #702
@MarkowEduard Maybe it is because we are publishing new features today. Do you still have the similar problem?

[2018-09-24 19:02] gcrockenberg commented on #701
It is working today.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Jian Dong <notifications@github.com>
Sent: Monday, September 24, 2018 12:15:47 PM
To: MicrosoftDocs/feedback
Cc: gcrockenberg; Mention
Subject: Re: [MicrosoftDocs/feedback] Fabric UI Content no longer rendering (#701)

@jialge<https://github.com/jialge> Can you help here or who is the right

[2018-09-24 19:07] #701 closed

[2018-09-24 19:07] Powerhelmsman commented on #701
@gcrockenberg Thanks for letting us know the status. I will close this issue now. But if it doesn't work again, we can reopen the issue and continue the discussion.

[2018-09-25 06:10] srdh opened #703 "Unable to "Register""
The Register button would not move forward. This is the same for all browsers ( not tested in FF )

[2018-09-25 06:12] Powerhelmsman commented on #703
@sharriexie Can you take a look at this issue?

[2018-09-25 07:19] M365SupportJapan opened #704 "Redirect request: "Azure AD Connect sync: Prevent accidental deletes""
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
[EN-US]
https://docs.microsoft.com/en-us/azure/active-directory/active-directory-aadconnectsync-feature-prevent-accidental-deletes

[JA-JP]
https://docs.microsoft.com/ja-jp/azure/active-directory/active-directory-aadconnectsync-fea

[2018-09-25 08:10] h0s opened #705 "Microsoft Learn Great ,But !"
**Is your feature request related to a problem? Please describe.**
No
**Describe the solution you'd like**
I started learning with the New Microsoft Learn and discovering different area, is really very nice interactive and let you learn more and more without get boring and especially let me take the challenge on Azure, but as a .Net /Xamarin developer I would like to find more content about other

[2018-09-25 14:49] srdh commented on #703
Hi Folk, it seems to work now. Thank you & close this "bug".

[2018-09-25 14:49] #703 closed

[2018-09-25 14:55] lnyswonger commented on #705
Thank you for your feedback! At Ignite 2018, we delivered role-based training and learning paths for Azure Developer, Azure Solution Architect, and Azure Administrator, as well as role-based training and learning paths for Power BI, PowerApps, Microsoft Flow, and Dynamics 365 roles. Post-Ignite, we will continue to build content beyond these areas and improve the overall experience with additional

[2018-09-25 15:00] shortcircuit21 opened #706 "Release Pipeline Variable Sorting"
In the release pipeline variables, there are options to filter by scope (example dev, test, and prod) or use a grid view to see each variable by scope. In the list view there isn't a way to sort by column header.

I'd like to be able to click on scope and see a sorted list of each scope grouped.

I've began to use the grid view, but it's a bit hard to use if you have more than three scopes includi

[2018-09-25 16:04] Powerhelmsman commented on #705
@h0s Thanks for your feedback. I added an internal work item to track it. Once we add it, will let you know.

[2018-09-25 19:34] anthcool commented on #705
I agree with @h0s that there are those of us looking forward to different content than Azure at some point.  I, too, am doing Xamarin and .NET Core development and would love how-tos & whys, etc. on building Xamarin apps as well as architecture choices. Also, understanding APIs, async/await use, best practices for ASP.NET Core Web API integration, etc.  C# in general.  Is this MSFT Learn initiativ

[2018-09-25 23:12] dend commented on #697
@mairaw can you confirm that the ask is to blanket-apply a **Thread Safety** string to all .NET content?

[2018-09-25 23:18] dend commented on #695
This is my area, @Powerhelmsman :)

@mairaw tracking with [#41964](https://ceapex.visualstudio.com/Engineering/_workitems/edit/41964)

[2018-09-25 23:19] dend commented on #694
Removing myself, because this is a content issue. @mairaw is the right contact here.

[2018-09-25 23:20] dend commented on #693
Re-assigning to @jmazzotta, who is currently working with the Office team on migrating the SharePoint APIs.

[2018-09-26 03:45] mairaw commented on #694
Can you please move this issue to our repo?

[2018-09-26 03:47] mairaw commented on #697
Adding @rpetrusha here to comment as well. I believe the boilerplate should appear in all classes and structures unless overridden.

[2018-09-26 10:37] bpd0018 opened #707 "spelling in table valued parameters"
https://docs.microsoft.com/en-us/sql/connect/jdbc/using-table-valued-parameters?view=sql-server-2017

"fron" should be "from"

[2018-09-26 14:16] a-War opened #708 "Missing PowerShell Modules in PowerShell Module Browser"
Please add the following PowerShell modules to the PowerShell Module browser:
https://docs.microsoft.com/en-us/powershell/module/

Exchange Server PowerShell
Exchange Online PowerShell
Office 365 Security & Compliance Center PowerShell
Exchange Online Protection PowerShell

[2018-09-26 15:50] Powerhelmsman commented on #707
@bpd0018 Thanks for your feedback. I created a PR to correct it. It should be resolved when the PR is merged.

[2018-09-26 15:52] Powerhelmsman commented on #708
@EdisonDa Can you follow up this suggestion?

[2018-09-26 17:17] AOvermyer commented on #692
Hello -

Apologies for delayed response.
Here is the page I'm having the issue with.

https://docs.microsoft.com/en-us/sql/relational-databases/security/sql-vulnerability-assessment?view=sql-server-2017

[2018-09-26 17:44] dend commented on #50
This has now been addressed - check out our blog post: https://docs.microsoft.com/en-us/teamblog/dotnet-content-migration

[2018-09-26 17:44] #50 closed

[2018-09-26 18:57] yumetodo commented on #50
@dend link broken

[2018-09-26 19:00] Powerhelmsman commented on #50
@yumetodo It works now.

[2018-09-26 19:08] yumetodo commented on #50
![image](https://user-images.githubusercontent.com/10869046/46103131-0c348f00-c20b-11e8-9c8f-65761aba0928.png)

[2018-09-26 19:12] Powerhelmsman commented on #50
@yumetodo please use this link https://docs.microsoft.com/en-us/teamblog/dotnet-content-migration

[2018-09-26 19:16] svick commented on #50
@Powerhelmsman That link does not work for me:

![](https://user-images.githubusercontent.com/287848/46103524-5567ed00-c1d1-11e8-8b2d-ad62fea437ab.png)

[2018-09-26 20:07] tysonn commented on #689
@meganbradley @seshenoy @SyntaxC4 - I think this is about how PRmerger handles public repo notification of authors.

[2018-09-26 20:14] dend commented on #50
Hi folks - updated link: https://docs.microsoft.com/en-us/teamblog/dotnet-api-docs-migration

[2018-09-26 20:50] meganbradley commented on #689
Assigned to myself - this is a known PRMerger issue an a fix is in progress. I'll update when it's deployed.

[2018-09-26 23:29] nschonni commented on #689
Thanks @meganbradley! Is there a better repo for me to report issues related to the bots?

[2018-09-27 01:08] EdisonDa commented on #708
@a-War Thank you for your reporting. We are still working on the monikers, it will not be working until we fix that. Will track the issue in Office PowerShell Repo. CC: @Powerhelmsman @dstrome

[2018-09-27 08:30] nbkawa-sh commented on #698
Here is additional infomation:

At the below URL (compact 2013, WEC2013), it seems to become a same behavior as WEC7 page.

https://docs.microsoft.com/en-us/previous-versions/windows/embedded/gg154201(v%3dwinembedded.80)

If you click the "What's New" link in the page (blue square), you will be navigated to "What's New (Compact 7)" page.
But if you click the "What's New" link in the left sidebar,

[2018-09-27 16:05] M365SupportJapan commented on #704
Hi Jian-san,

Thank you for reaching me out.

Checked says “Identity synchronization Error Report” email provided the old URL.
We also escalated it to the engineering team via IcM though, it would be nice if the old URL redirect to the new URL.

Online: Showing incorrect URL link in "Identity synchronization Error Report" email
https://icm.ad.msft.net/imp/v3/incidents/details/85726584/home

Thank

[2018-09-27 19:53] thomaslevesque opened #709 "Add a search engine using OpenSearch"
**Is your feature request related to a problem? Please describe.**
I want to be able to search the .NET API docs more quickly. Currently I have to navigate to the .NET API Browser page, then search.

**Describe the solution you'd like**
I'd like to be able to search from my browser search box (Firefox) or address bar (Chrome). The [OpenSearch](http://www.opensearch.org/Home) description format is

[2018-09-27 22:27] AmrBarghouthi opened #710 "UWP publish page on small screen"
something is worng with this page layout in my laptop screen
https://docs.microsoft.com/en-us/windows/uwp/publish/
the far right colum is out of the window

![screen shot](https://user-images.githubusercontent.com/30410268/46177630-46119e00-c2bc-11e8-886a-ba96cbf623fc.PNG)

my screen resolution acourding to this site
https://www.piliapp.com/what-is-my/screen-resolution/

![screen resolution](https

[2018-09-27 22:28] thomaslevesque commented on #709
Sorry, didn't find it when I searched

[2018-09-27 22:30] thomaslevesque commented on #52
In fact, I think it's mandatory. I experimented a bit with this, and it didn't work without the proper content type.

[2018-09-28 02:14] roldengarm opened #711 "SQL Restore points => dates incorrect"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/rest/api/sql/restorepoints/listbydatabase

**Problem:**
It says:

But in my case, it's exactly the opposite.

![image](https://user-images.githubusercontent.com/37638588/46184214-9a526780-c328-11e8-

[2018-09-28 04:56] ReinaSakai opened #712 "Please change the text from "機能" to "Functions"."
**Describe the bug**
Please change the text from "機能" to "Functions" on the left navigation.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/ja-jp/learn/browse/'
2. Click on 'Products' on the left navigation.
3. Scroll down to '機能'
4. See error. Please do not translate it because It is a service name of Azure.

**Expected behavior**
A clear and concise descr

[2018-09-28 08:37] thedanfernandez commented on #712
@SonjaSaltzman  - Can you take a look at this?

[2018-09-28 10:39] bitbonk opened #713 "docs.microsoft.com/dotnet/xrefmap.yml is missing very many dotnet APIs"
**Describe the bug**

docs.microsoft.com/dotnet/xrefmap.yml is missing **a lot** of APIs that are actually available under https://docs.microsoft.com/dotnet/api How am I supposed to permalink from my docfx documentation if they are missing there? For example I cannot link to https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.dependencyinjection.servicedescriptor because none of the `

[2018-09-28 15:20] rajanikanthr opened #714 "Unify all learning platforms into one?"
Microsoft virtual academy, Microsoft learn?

Also LinkedIn learning, may be it is different completely

[2018-09-28 16:49] Powerhelmsman commented on #711
@erickson-doug @craigg-msft Can you take a look at this suggestion?

[2018-09-28 16:52] Powerhelmsman commented on #713
@mairaw @dend Can you take a look at this feedback?

[2018-09-28 17:00] Powerhelmsman commented on #714
@rajanikanthr Thanks for you feedback. We are working on to unify all learning platform. It is in our backlog but it may take a while to make it happened. So I will close this issue now. Please monitor our blog site: https://docs.microsoft.com/en-us/teamblog/ for updates.

[2018-09-28 17:00] #714 closed

[2018-09-28 17:06] dend commented on #713
Hi @bitbonk - the `xrefmap.yml` file is actually not intended to be a file that is covering the entire .NET API surface. We can't recommend others consume it because it's not intended for public consumption at this time, and is likely used internally for one of the repos.

Even on docs.microsoft.com, we are using an xref service that does not rely on mapping files like the YAML file above and inst

[2018-09-28 17:14] bitbonk commented on #713
So maybe that xref service you are speaking of is available for public consumption? There should be a canonical way to reference to all the APIs on https://docs.microsoft.com/dotnet/api from our docs.

Oh and while we are at it: It would be cool, if we could have an offline cache. So building our API docs doesn't always require internet access. Previously we just kept a copy of docs.microsoft.com/

[2018-09-28 18:38] dend commented on #713
@bitbonk interestingly enough, the service is mentioned in the issue you referenced 😁

[2018-09-28 19:19] bitbonk commented on #713
@dend I have been trying to use it and failed, so I was assuming it‘s not yet available. What are those tags for?

[2018-09-28 19:45] svick commented on #713
@bitbonk I am getting a response for the first type I tried: https://xref.docs.microsoft.com/query?uid=System.Object. (I haven't checked Microsoft.Extensions.)

And I think tags are for specifying target frameworks, e.g.: https://xref.docs.microsoft.com/query?uid=System.Object&tags=netcore-2.1.

[2018-09-29 00:59] Nvictuz opened #715 "Feedback only leads to issue reporting...wheres the "positive" feedback area?"
**Is your feature request related to a problem? Please describe.**
Its not a problem, just a request to submit positive "non-issue" related feedback...or rename the "feedback" button to "issue reporting" button.

**Describe the solution you'd like**
An area / mechanism to provide positive feedback about the new Microsoft Learn experience.

**Describe alternatives you've considered**
Perhaps a "pos

[2018-09-29 02:42] superyyrrzz commented on #713
@bitbonk The API you mentioned exists in xref service: https://xref.docs.microsoft.com/query?uid=Microsoft.Extensions.DependencyInjection.ServiceDescriptor

[2018-09-29 20:28] Powerhelmsman commented on #715
@jialge Can you take a look at this suggestion. I can add a label to identify positive feedback but this positive feedback no need to close it and it may need different triage flow.

[2018-09-30 01:31] DXGLdotinfo commented on #652
Hi.  This issue appears to be occurring in the OpenGL WGL functions documentation, for example https://docs.microsoft.com/en-us/windows/desktop/api/wingdi/nf-wingdi-wglusefontbitmapsa
The documentation for the regular GL functions seems to be fine, for example https://docs.microsoft.com/en-us/windows/desktop/opengl/glgetteximage

[2018-09-30 16:17] ericmutta commented on #697
@dend having that blanket thread-safety string would be a start but the more ideal case would be to more detailed about the thread-safety of types that invoke system calls.

In the past .NET was just a Windows thing so you could view the source of any time, discover the related Win32 API and then read up on it for thread-safety guarantees.

But now with .NET Standard 2.0, types like `DriveInfo` wo

[2018-09-30 16:41] ericmutta opened #716 "Angle brackets not properly handled when filing github issue from docs site."
As per @mairaw's guidance, I copying my comment from [#7809](https://github.com/dotnet/docs/issues/7809) and filing it as an issue here:

When filing a github issue from the docs site, if you type Dictionary<K,V> (i.e use the angle brackets) the result here on github ends up like this `Dictionary&lt;K,V&gt`; (i.e the angle brackets are replaced with `&lt;` and `&gt;` which github doesn't render pr

[2018-09-30 17:29] shortcircuit21 commented on #706
It's any Release Pipeline created. Under the release pipeline you have a
variable tab that has Key value scope columns. I can't link a specific page
because you wouldn't be able to get to it due to access permissions.

On Wed, Sep 26, 2018, 11:28 Jian Dong <notifications@github.com> wrote:

[2018-09-30 22:07] BrayanKhosravian commented on #694
Im sorry, how could I move this issue to the correct repo?

[2018-10-01 14:40] dmd0822 opened #717 "Learning Paths progress indications"
It would be nice to have indication of the modules that you have completed when viewing the "Browse Learning Page" (https://docs.microsoft.com/en-us/learn/browse/?roles=solution-architect&products=azure). When I select a module I can see whether I have done a module or not but it would be nice not to have to navigate into a module to see the progress. The indicator should show how much of the modu

[2018-10-01 15:34] Powerhelmsman commented on #716
@jialge Can you follow up this feedback?

[2018-10-01 15:38] Powerhelmsman commented on #694
@BrayanKhosravian I help you transfer the issue to donet repo. They will help you there.

[2018-10-01 15:38] #694 closed

[2018-10-01 17:57] dend commented on #583
Closing this item, as we collaborate with @terrajobst and got it done 🎉

https://github.com/MicrosoftDocs/dotnet-archive

Thank you all!

[2018-10-01 17:57] #583 closed

[2018-10-01 18:02] bachoang opened #718 "Application Owner can not be group object"
Group object is not allowed to be an Application's owner per https://developer.microsoft.com/en-us/graph/docs/api-reference/beta/resources/application. Trying to make a Group object to be an owner will result in error
The reference target 'Group_xxx' of type 'Group' is invalid for the 'owners' reference.',
The following documentation on this is wrong:
https://docs.microsoft.com/en-us/rest/api/grap

[2018-10-01 18:15] mattleibow opened #719 "Improved Obsolete Support"
**Problem 1**
I think the support for displaying obsolete information could be improved a bit to more clearly indicate what is obsolete and what is the next step.

For example, take a look at this page:
https://docs.microsoft.com/en-us/dotnet/api/skiasharp.skpicture.bounds?view=skiasharp-1.59.3

![image](https://user-images.githubusercontent.com/1096616/46306376-6a1ef900-c5b4-11e8-804b-42dd1899b5a

[2018-10-01 19:59] Powerhelmsman commented on #719
@mairaw Can you take a look at this feedback?

[2018-10-01 20:53] ghuntley commented on #583
Thankyou @dend

[2018-10-01 22:18] RyanLilla opened #720 "Example Code is Improperly Highlighted in Razor Pages Tutorial"
**Link to article:**
https://docs.microsoft.com/en-us/aspnet/core/tutorials/razor-pages/new-field?view=aspnetcore-2.1

**Problem:**
The issue is in the code snippet on the page where you are told where to add the `Rating` field to the _Pages/Movies/Index.cshtml_ file. The section of the code where you are supposed to add the field is improperly highlighted.

![image](https://user-images.githubuser

[2018-10-02 07:12] JustinK1973 opened #721 "Microsoft Learn - progress continuing course"
Hi, Microsoft learn is a great resource, however when part way through a module and leave it is very difficult to work out where you were especially if doing more than 1 at same time.

Could we under our profile or main page have listing of not completed courses so we can continue.

[2018-10-02 11:54] svick opened #722 "Print version of .Net API reference pages contain too much cruft"
**Describe the bug**

When I print a .Net API reference article such as [`Void`](https://docs.microsoft.com/en-us/dotnet/api/system.void?view=netcore-2.1) in Edge, the first page of the result seems to contain only the Product selector, which is useless when printed:

![](https://user-images.githubusercontent.com/287848/46346998-4c9c6e80-c64a-11e8-9ae5-609177b28665.png)

Also, the result seems to

[2018-10-02 12:01] svick opened #723 "Printing in Firefox only prints the first page"
**Describe the bug**

When I print a docs article in Firefox, the result always seems to contain only one page. This is especially problematic when combined with https://github.com/MicrosoftDocs/feedback/issues/722, because then the result of printing in Firefox does not contain any useful information:

![](https://user-images.githubusercontent.com/287848/46347310-638f9080-c64b-11e8-8941-884c94596

[2018-10-02 13:33] cnotin opened #724 "Contributors who rename their GitHub account aren't properly handled"
**Describe the bug**
I have contributed to an article with my @cnotin GitHub account.
* [Article on docs](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-protocols-oidc)
* [File on GitHub](https://github.com/MicrosoftDocs/azure-docs/blob/e794f54ed6d70174e4cbf867aec7c9a831b52dba/articles/active-directory/develop/v2-protocols-oidc.md)
* [Pull request](https://github.com/MicrosoftD

[2018-10-02 14:45] sstjean commented on #721
I'd like to second this recommendation.  It's really hard to figure out where you stopped.

[2018-10-02 21:45] archieag opened #725 "aka.ms link redirecting to microsoft.com"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
Tell us where exactly a problem occurs.
https://docs.microsoft.com/en-us/connectors/kusto/

**Problem:**
What's wrong with the article?
This article points to Read more: http://aka.ms/kdocs and this link redirects to microsoft.com

[2018-10-02 22:14] dend commented on #695
This has now been addressed, thank you for the feedback, @mairaw @jeffy-grh

[2018-10-02 22:14] #695 closed

[2018-10-03 00:13] kgreed opened #726 "Documentation link is out of date."
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
Tell us where exactly a problem occurs.
https://marketplace.visualstudio.com/items?itemName=VisualStudioClient.MicrosoftVisualStudio2017InstallerProjects

**Problem:**
What's wrong with the article?
This contains a link to https://

[2018-10-03 00:32] Powerhelmsman commented on #726
@kgreed Thanks for your feedback. visualstudio.com is out of our scope. This channel is for docs site only. So I create a Q&A on the page to see if they will fix the problem. https://marketplace.visualstudio.com/items?itemName=VisualStudioClient.MicrosoftVisualStudio2017InstallerProjects#qna

[2018-10-03 00:32] #726 closed

[2018-10-03 06:47] NguyenChiCao opened #727 "Index out of bound"
**Describe the bug**
Index out of bound

**To Reproduce**
Steps to reproduce the behavior:
https://docs.microsoft.com/en-us/visualstudio/ide/step-3-assign-a-random-icon-to-each-label?view=vs-2015
Label iconLabel = control as Label;
if (iconLabel != null)
{
    int randomNumber = random.Next(icons.Count);
    iconLabel.Text = icons[randomNumber];
    // iconLabel.ForeColor = iconLabel.BackColor;

[2018-10-03 09:23] hansmbakker opened #728 "Cannot sign in to Power Apps development sites / apps without organizational account"
Microsoft Learn has a section about PowerApps. They require an organizational account, and that account may not be blocked for PowerApps (apparently some organizations block it).

This is not listed in the prerequisites, and there is no way to do the exercises without such an account. A sandbox environment would be nice if you do not have such an account (like the Azure trainings have)

[2018-10-03 18:28] conceptdev opened #729 "API Reference rendering bug when resizing browser"
**Describe the bug**

At certain browser widths, the *In this article* link list is duplicated. This only happens for API reference, does not occur when resizing conceptual pages.

**To Reproduce**

1. Go to any reference page. e.g. [system.collections.generic](https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic?view=netcore-2.1)
2. Resize the width of the browser
3. Observe the

[2018-10-03 19:11] denisw commented on #114
The original Reactive Extensions documentation is now open-source! 🎉

https://github.com/MicrosoftDocs/dotnet-archive

Now it would be possible to update it and host it at another location.

[2018-10-03 21:38] Powerhelmsman commented on #727
@NguyenChiCao Thanks your feedback. I transferred your feedback to visual studio team. They will help you there.

[2018-10-03 21:38] #727 closed

[2018-10-03 23:23] #692 closed, assigned to shirgoldbird

[2018-10-03 23:41] ShevaDas commented on #717
@dmd0822 I definitely agree, thanks for the feedback! I don't have an estimate yet on where this will fit on our roadmap but it's something we're investigating.

[2018-10-04 00:39] racha999 commented on #729
@

[2018-10-04 07:53] bitbonk commented on #713
Although that API service works (thank you for clearing things up for me), I would like to reiterate that we really need a caching or offline version. Having to make a lot of web request during the build of our documentation may significantly increase the build time or may break the build completely if the internet is not available.
I really liked the idea of having a [nuget package](https://www.n

[2018-10-04 09:01] MortenKJ opened #731 "Wrong title in browser tab"
**Link to article:**
https://docs.microsoft.com/da-dk/windows-server/windows-server

**Problem:**
The page title is incorrect, it says "Widows" instead of "Windows" (see screenshot)

![image](https://user-images.githubusercontent.com/3501177/46463646-aa54c600-c7c4-11e8-9a8c-b91150f0bded.png)

[2018-10-04 12:22] atrain247365 opened #732 "Search result Descriptions omit hyperlink text"
For example,
https://docs.microsoft.com/en-us/dotnet/api/?iew=netframework-4.7.2&term=string.IsNullOrEmpty

The Description column has the text
"Indicates whether the specified string is null or an string."
rather than
"Indicates whether the specified string is null or an **_Empty_** string." that is displayed when you click the link for the method.

[2018-10-04 14:01] bcmills opened #733 "Missing character escape in “Naming Files, Paths, and Namespaces”"
**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/fileio/naming-a-file#naming-conventions

**Problem:**
Looks like somebody converted this document to Markdown and missed an escape in the reserved characters: the entry for “(greater than)” has a blockquote instead of the reserved character.

It currently appears as:
* > (greater than)

but should be rendered as:
* \> (greater t

[2018-10-04 15:33] LadyNaggaga opened #734 "[Accessibility] A11y_.Net Editor: The "iFrame" in the page doesn't have a "Title" attribute which describes the iframe"
Hello There,
Could you please have a look at this accessibility bug? In regards to the .NET Online Editor
https://github.com/dotnet/try/issues/119

[2018-10-04 15:36] LadyNaggaga opened #735 "[Accessibility]A11y_.NET Online REPL View_Keyboard: Focus is not properly visible on "Enter focus mode" and "Run" buttons #104"
Is this an accessibility bug your team can address? This does fall out the Try .NET editor.

https://github.com/dotnet/try/issues/104

[2018-10-04 18:10] Powerhelmsman commented on #720
@RyanLilla Thanks for you feedback. I transferred you feedback to aspnet team. They will help you there.

[2018-10-04 18:10] #720 closed

[2018-10-04 18:15] Powerhelmsman commented on #725
@archieag Can you try one more time? It works fine from my end.

[2018-10-04 18:36] Powerhelmsman commented on #728
@hansmbakker Thanks for your feedback. On the bottom of each Microsoft Learn unit, there is a channel to report an issue. I've already helped you create this one.

![image](https://user-images.githubusercontent.com/33136632/46494979-0e798900-c7c9-11e8-89ad-ea94dcd7d03c.png)

The following message is from "report an issue":
Note: While we are not directly responding to all customers at this time, p

[2018-10-04 18:36] #728 closed

[2018-10-04 19:35] hansmbakker commented on #728
Thank you! I didn't see that section, I must've overlooked it.

[2018-10-04 20:30] almostrealchris commented on #618
Hello Petr,
Thanks for the feedback, I can see what you mean, the ‘In this article’ list can get a little out of control in some situations. Since the site chrome needs to wrap to a single column for mobile keeping the right column may not be practical. I will however bring this up in our next design team meeting.  In the mean time I have three questions for you below:)

1. Would you consider the

[2018-10-04 20:58] Powerhelmsman commented on #618
@svick almostrealchris response the feedback. please take a look at it.

[2018-10-04 22:02] rdiazconcha opened #736 "Please enable a way to hide Java examples and/or select your preferred programming language"
For example:

https://docs.microsoft.com/en-us/azure/service-fabric/service-fabric-reliable-services-communication

[2018-10-04 23:50] jasonoverland opened #737 "Missing diagrams for Windows Imaging Component"
See e.g. https://docs.microsoft.com/en-us/windows/desktop/wic/-wic-decoderinterfaces. The image url goes to a 404.

There are multiple pages in WIC that are missing these.

[2018-10-05 02:42] 0giso opened #738 "ja-jp pages links to it-it pages"
**Describe the bug**
All links from ja-jp documents should keep ja-jp or en-us as fallback, but it-it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/ja-jp/azure/
2. Hover mouse on any links.
3. URL tooltip shows it-it.
4. Click on any links.
5. Navigated to it-it page.

**Expected behavior**
All links from ja-jp documents are ja-jp (same locale, same langua

[2018-10-05 05:34] Powerhelmsman commented on #729
@ShevaDas Can you take a look at this issue?

[2018-10-05 05:42] Powerhelmsman commented on #735
@dend Can you take a look at this issue?

[2018-10-05 05:45] Powerhelmsman commented on #736
@rdiazconcha Thanks for your feedback. Your issue is transferred to azure team. They will help you there.

[2018-10-05 05:45] #736 closed

[2018-10-05 05:47] Powerhelmsman commented on #738
@SonjaSaltzman Can you take a look at this issue?

[2018-10-05 06:11] hiobay opened #739 "The link to the Azure document page in Japan is Italian (it-it)"
The link to the Azure document top page in Japan is Italian (it-it)
![image](https://user-images.githubusercontent.com/20063695/46518762-e49b9180-c8b0-11e8-911f-ec3c7b3cf42f.png)

[2018-10-05 06:36] Powerhelmsman commented on #739
@hiobay This issue is duplicated with #738 . We will track it there.

[2018-10-05 06:36] #739 closed

[2018-10-05 13:22] fullenw1 opened #740 "Microsoft Learn dark mode"
Hello,

I really enjoy the content of Microsoft Learn, and have already completed a few modules.
It's a really good concept with a very good content.
Thanks a lot for your good work!

However a dark mode would very appreciated.

Cheers!

[2018-10-05 14:07] svick commented on #729
This looks like a duplicate of https://github.com/MicrosoftDocs/feedback/issues/665, which was closed as fixed yesterday.

[2018-10-05 14:46] racha999 opened #741 "Coolect reporr microsolf"

[2018-10-05 15:29] conceptdev commented on #729
(yep, same issue) how long should it take for the fix to be public? Still occurring today:

![duplicate-lists](https://user-images.githubusercontent.com/199373/46544497-9bc7e680-c878-11e8-997d-bfe028af8ac9.png)

[2018-10-05 15:48] Powerhelmsman commented on #740
@ShevaDas Can you take a look at this feedback?

[2018-10-05 15:48] #741 closed

[2018-10-05 16:30] svick commented on #618
I think that for API reference articles, the list of members is very important. But there's already the Members subsection for that. On the other hand, when I open an API reference article, I often want to go directly to the main Remarks, so maybe my previous statement that "article content should be more prominent than In this article" was wrong.

Would it make sense to show only the non-member h

[2018-10-05 16:35] Powerhelmsman commented on #618
@almostrealchris For your awareness.

[2018-10-05 16:35] racha999 opened #742 "RCA9/micrisolfdics/feedback"

[2018-10-05 16:36] #742 closed

[2018-10-05 17:36] nromyn opened #743 "Search returns irrelevant content"
When searching for content, I frequently encounter a lot of irrelevant content, often but not always related to Dynamics documentation.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to docs.microsoft.com
2. Click on Search
3. Enter "monitor resource groups with azure monitor" (Without quotes)
4. View Results

**Expected behavior**
When I search for a specific title name, the article sho

[2018-10-06 14:07] imeya opened #744 "Please provide an example of the disable function of Add-AzureRmWebtestAlertRule cmdlet."
link to this [article](https://docs.microsoft.com/en-us/powershell/module/azurerm.insights/add-azurermwebtestalertrule?view=azurermps-6.9.0)

I wanna disable the web test by using the `disable ` parameter, but not success. Could you please provide an example for it? thanks.

[2018-10-07 08:28] am420250899a opened #745 "How to bind an input method editor to a custom keyboard layout."
As stated in the title. Thanks!

[2018-10-07 14:51] theking2 opened #746 "Broken links in BCDEDIT"
**Link to article:**
https://docs.microsoft.com/en-us/windows-hardware/manufacture/desktop/bcdedit-command-line-options

**Problem:**
Link to examples is broken.

[2018-10-08 03:47] presleyy commented on #732
This might be a good idea to support rich text for search result description field. But I believe current behavior is by design. @dend your thought?

[2018-10-08 08:08] EdisonDa commented on #743
@presleyy this is related to the site search, could you please take a look?

[2018-10-08 08:18] EdisonDa commented on #744
@sptramer I logged a request https://github.com/Azure/azure-powershell/issues/7486 here. Do you have example for user?

[2018-10-08 08:19] EdisonDa commented on #745
@am420250899a are you talking about the keyboard layout setting for windows? This is the channel to collect user feedback for docs.microsoft.com. If you have docs related questions, please let us know.

[2018-10-08 15:03] michalzubkowicz opened #747 "Automatically translated text makes no sense."
**Link to article:**
It's on every page

**Problem:**
Text make no sense, because it's automatically translated. When you search something in Google, you are directed to national version of docs, which is automatically translated.

It makes whole docs unusable. Everybody I know hates this feature. People are even writing own browser plugins to redirect to English version.

[2018-10-08 15:52] dend commented on #713
@bitbonk yes, absolutely, given that the request for a feature is going to be quite a bit different. I am going to close this issue for now.

[2018-10-08 15:52] #713 closed

[2018-10-08 17:16] sptramer commented on #744
No, I do not have an example offhand. This issue will need to be handled by the reference documentation team.

[2018-10-08 17:46] jasongroce commented on #731
@coreyp-at-msft This looks like the redirect issue we discussed a couple of days ago.

[2018-10-08 19:37] Xarkam opened #748 "[Tutorial] Reference to Insights in code example, but not present ASP.NET Core Mvc template"
**Link to article:**
https://docs.microsoft.com/fr-fr/aspnet/core/tutorials/first-mvc-app/adding-view?view=aspnetcore-2.1#change-the-title-and-menu-link-in-the-layout-file

**Problem:**
In code example, you have `@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet`, but VisualStudio don't have any line or reference to Insights after initializing new mvc project

If

[2018-10-08 20:02] yumetodo commented on #747
?

As far as I know, Microsoft docs provide a button to watch English version.

[2018-10-08 20:13] InKahootz opened #749 "Allow linking to an snippets source page"
**Is your feature request related to a problem? Please describe.**
A user from Issue dotnet/docs#7818 wanted the full source to an item to which a snippet description talked about. I tried resolving the issue with PR dotnet/docs#8147 but feedback first suggested a hard link to the GitHub source but was followed up that hard linked also wouldn't be possible.

**Describe the solution you'd like**
A

[2018-10-08 21:19] ShevaDas commented on #740
#log-suggestion @ShevaDas

[2018-10-08 21:21] ShevaDas commented on #729
@conceptdev I'm not seeing it today. If you do see it on any pages, it'll be fixed by doing a content rebuild. Please double check and then close this out if it's looking good for you too.

[2018-10-08 23:02] ShevaDas commented on #740
@fullenw1 Thanks for the feedback! This is something we'll be investigating.

[2018-10-09 01:47] coreyp-at-msft commented on #731
Fixed

[2018-10-09 03:06] EdisonDa commented on #746
@theking2 have you checked the URL I shared?

[2018-10-09 04:00] EdisonDa commented on #747
@michalzubkowicz what locals are you looking at? Yes, some of the content were translated automatically, but you can read them with local language and English side by side.
![image](https://user-images.githubusercontent.com/10289595/46646077-b1137c80-cbba-11e8-9d53-07568c69e13f.png) Please give me an example page where you think the translation is really bad, we can improve the content.

[2018-10-09 04:01] EdisonDa commented on #748
Thank you @Xarkam for your feedback. @dend , could you please take a look at the tutorial?

[2018-10-09 04:04] EdisonDa commented on #749
@dend could you please confirm if we already support this? CC: @mairaw

[2018-10-09 04:34] mairaw commented on #749
@dend @ShevaDas we talked about showing the link to the GitHub source in docs at some point. I think this feature would help with requests like this.

[2018-10-09 05:31] jocasti opened #750 "on-premise vs on-premises"
There is currently no comment section for this article.

**Link to article:**
https://docs.microsoft.com/en-us/system-center/scom/plan-mgmt-group-design?view=sc-om-1807

**Problem:**
What's wrong with the article?
There are two instances of "on-premise". Suggest this be corrected to "on-premises". Thanks.

[2018-10-09 06:14] theking2 commented on #746
Thanks for fixing the link

[2018-10-09 06:35] EdisonDa commented on #746
@theking2 then I will close this issue. Thank you for your reporting.

[2018-10-09 06:35] #746 closed

[2018-10-09 06:35] michalzubkowicz commented on #747
You are both right it can be switched, but did you ever switch something 1000 times per day? It's not permanent.

Workflow with docs.microsoft.com in Poland looks like this:
1) Enter search phrase in google.
2) Open docs page
3) Switch language
4) Sometimes switching language doesn't work so you have to manually change language in url.

Wonderful user experience ;).

I thought like You, until I st

[2018-10-09 06:45] EdisonDa commented on #747
@SonjaSaltzman assign this one to you, could you please take a look?

[2018-10-09 06:51] EdisonDa commented on #750
@sudeepku could you please review this user feedback?

[2018-10-09 15:54] yumetodo commented on #747
@michalzubkowicz I think that loca-lang english switch flag should be stored to cokkie or some storage and reflect the stored flag to page every you open microsoft docs. How do you think?

[2018-10-09 16:02] michalzubkowicz commented on #747
@yumetodo
I think it would be great if it could be persistent that way.

Cookie is simpler in implementation and more reliable than localStorage.

[2018-10-09 22:03] bencoskater opened #751 "System.IO.FileInfo wrong path"
Hi,

**Describe the bug**
FileInfo provides wrong path to the file.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a dotnet core console 2.1 or 2.2 preview 2 (the result is the same)
2. Instanciate a new FileInfo with the full path to a file
3. Put a breakpoint after the instantiation and Run in debug
Instead of getting the path to the file, FileInfo concatenate the folder path of th

[2018-10-10 01:48] he852100 opened #752 "This website is really terrible. There are a lot of invalid links in old documents."
http://go.microsoft.com/fwlink/?LinkId=xxxxxx
for example
http://go.microsoft.com/fwlink/?LinkId=82954
In fact, after your website is revised, old documents are almost impossible to read.
Where can I get valid documents?

[2018-10-10 04:10] hiobay commented on #738
This issue has not fixed yet. Why do not you fix it soon?
Customers in Japan will also leave.

[2018-10-10 05:15] EdisonDa commented on #751
@bencoskater could you provide me the docs link?

[2018-10-10 05:37] he852100 commented on #752
https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2008-R2-and-2008/ee431701(v%3dws.10)
![image](https://user-images.githubusercontent.com/26913892/46715083-0d48d000-cc91-11e8-92ac-31dbf7145408.png)
https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2008-R2-and-2008/cc753977(v=ws.10)
![image](https://user-images.githubusercontent.com/2691

[2018-10-10 11:10] bencoskater commented on #751
Hi,

Here it is: https://docs.microsoft.com/en-us/dotnet/api/system.io.fileinfo?view=netframework-4.7.2

[2018-10-10 12:06] EdisonDa commented on #751
@bencoskater Looks is not like a documentation issues. I suggest you can try in some other environment? I also get the expected result with .net core 2.1.
![image](https://user-images.githubusercontent.com/10289595/46735122-e22da300-ccc7-11e8-828d-d81888fda862.png)

Would you mind me to close this one?

[2018-10-10 12:41] bencoskater commented on #751
Oh, it’s a git only related to documentation, right?

[2018-10-10 13:08] vidyutron opened #753 "Rendering issues when width reduction of the msdn documentation portal."
![image](https://user-images.githubusercontent.com/12430507/46738237-4f870700-ccbb-11e8-8717-b8539592373a.png)

Repro Step:
Reduce the website to take half width of in Chrome using windows Key + Left/Right Arrow key.
Observation:
Then the side search panel takes up whole area, overlapping the main content.

[2018-10-10 15:40] svick commented on #751
@bencoskater Yes, this GitHub repository is about .Net documentation.

Though I also can't reproduce your issue. Does it work if you use backslashes instead of slashes? Is it possible that the path string contains some invisible characters?

[2018-10-10 15:49] bencoskater commented on #751
Ok, I thought it was for bug reports. Yes I used backslashes before trying slashes.
The path is a copy/paste from windows, there is only space. I noticed the bug occurred in the using statement of my DB context, it seems dotnet core is confused between System.IO.FileInfo and my model VStream.Data.FileInfo. I renamed my model and I am using methods from Path and File classes. Please close the ticke

[2018-10-10 17:26] StingyJack opened #754 "Remove references to UserVoice for "suggestions""
**Link to article:**
An example, but there are more
https://docs.microsoft.com/en-us/visualstudio/releasenotes/vs2017-relnotes#feedback

**Problem:**
The feedback section says to use UserVoice, but UserVoice says use devcomm.

The page also does not have a specific feedback section for itself.

[2018-10-10 18:31] ShevaDas commented on #729
@conceptdev I'm going to close this out. Feel free to re-open if it's not fixed for you.

[2018-10-10 18:31] #729 closed

[2018-10-10 18:33] ShevaDas commented on #159
We're not looking at providing a custom scrollbar at this time so I'm going to close this out.

[2018-10-10 18:33] #159 closed

[2018-10-10 18:42] conceptdev commented on #729
@ShevaDas I am still seeing it, here's a screenshot from an incognito window (although i'm working on a new computer, so i don't think it could be a caching issue regardless). this is macOS & Chrome:

<img width="1169" alt="duplicate-ita" src="https://user-images.githubusercontent.com/199373/46758351-76c0e280-cc81-11e8-834e-7670841d2599.png">

[2018-10-10 19:30] almostrealchris commented on #618
@svick Thanks again for the feedback and answering my questions. We have added this to the user testing backlog and will keep your thoughts in mind during experimentation.

[2018-10-11 00:54] #751 closed

[2018-10-11 00:57] imeya commented on #744
@EdisonDa @sptramer , could you please help route to the related team? thank you very much.

[2018-10-11 01:30] imeya commented on #744
ok, thanks.

[2018-10-11 01:30] #744 closed

[2018-10-11 02:16] TanvirShah opened #755 "Cloud Shell in Microsoft Learn - Intialization Problem"
![azure](https://user-images.githubusercontent.com/32184263/46776503-5185b000-cd25-11e8-93b8-1f7fc029f89d.JPG)

Hi,

Hope you and family are fine.

With reference to the image I have attached I am stuck at this point. Cant't seem to enter any command into the shell and also clicking on Report an issue does nothing.

Kindly help.

Regards,

Tanvir.

[2018-10-11 03:33] he852100 commented on #747
The idea of using browser plug-ins to translate documents is pretty bad.Every time a link is opened, it will consume a lot of resources and repeat meaningless work. Today, I visited "acc.com/dd/ddda" for the ten time. It will be repeated many times.CPU usage rate is high.

I hope more documents will be translated permanently.(Of course, manual translation is better.)

[2018-10-11 06:15] nschonni opened #756 "Please open the english/source security-updates repo"
**Is your feature request related to a problem? Please describe.**
There are minor content issues seen in the localization repos that are open like https://github.com/MicrosoftDocs/security-updates.zh-tw that should be fixed at the original location

**Describe the solution you'd like**
Make the https://github.com/MicrosoftDocs/security-updates repo public (assuming that is the right url/repo)

**

[2018-10-11 07:36] EdisonDa commented on #752
@he852100 thank you for your detailed information. So you mean the fwlink will go to invalid page, right? I will confirm with some others and get back to you. Here are some suggestions:

1. We suggest you to use latest docs
2. The fwlink 108180/143364 goes to invalid page, but 89051 goes to https://docs.microsoft.com/zh-cn/previous-versions/windows/.

@Jemash could you please confirm if we still m

[2018-10-11 07:40] EdisonDa commented on #753
@sarah-barrett could you please take a look?

[2018-10-11 07:51] EdisonDa commented on #754
Thank you for your feedback @StingyJack . Yes, you can use UserVoice https://visualstudio.uservoice.com/forums/121579-visual-studio-ide to submit any suggestion for VS, also you can create bug at dev community site. This feedback channel to is to accept user feedback for docs.microsoft.com. What kind of feedback do you want to submit?

[2018-10-11 08:02] EdisonDa commented on #755
@TanvirShah thanks for your reporting. Have you accepted the sandbox invitation? Or click "Check your work again", or refresh your page to see if it work? I could not reproduce the issue on my side.

[2018-10-11 08:06] EdisonDa commented on #756
Thank you @nschonni for your suggestion, we will consider it. If you found any localization issues, we appreciate you can create PR and contribute there.

[2018-10-11 08:06] #756 closed

[2018-10-11 08:32] RemiLELONG opened #757 "Profile creation impossible"
Hello Community,

In order to progress in the Azure trainning (Microsoft learn), I have to create a profile on http://techprofile.microsoft.com. It is mandatory to get a sand box!

But the registration process don't accept my username
![annotation](https://user-images.githubusercontent.com/44053124/46791090-a97de000-cd40-11e8-8fad-aabeace0fd7f.png)

**Desktop (please complete the following informa

[2018-10-11 09:38] TanvirShah commented on #755
@EdisonDa thanks for your reply. Done all that. I am working in the field of IT since 1989. DOS 3.3 era :-) and after exhausting all I can do I wrote here.

Without being able to enter any commands I thought clicking "Check your work" won't help but I did try that as well (Check the image attached).

![aaaa](https://user-images.githubusercontent.com/32184263/46795228-0c806e80-cd63-11e8-9264-4c60db

[2018-10-11 09:41] TanvirShah commented on #755
@EdisonDa Sandbox is activated. Just cant run any commands on it.

![aaaa](https://user-images.githubusercontent.com/32184263/46795445-9defe080-cd63-11e8-8b7d-af881a6f9445.JPG)

[2018-10-11 09:48] EdisonDa commented on #755
@dend this is related to cloud shell, could you please take a look?

[2018-10-11 09:51] EdisonDa commented on #757
@RemiLELONG could you please share what's the username you are filling? It needs to start with a letter or number, and larger than 3 but less than 40.

[2018-10-11 10:07] TanvirShah commented on #755
@dend thank you in advance.

[2018-10-11 10:07] RemiLELONG commented on #757
Thanks for your reply @EdisonDa,

I tried different usernames : remi, Remi, Rémi, remilelong and also my e-mail address but any of them seems to be accepted.
Regards
Remi Lelong

[2018-10-11 12:19] TanvirShah commented on #755
@EdisonDa kindly remove tag "need more info" I think I have provided as much info as possible. Thanks.

[2018-10-11 12:28] StingyJack commented on #754
Big note at the top of the UserVoice page says dont use it anymore.
![image](https://user-images.githubusercontent.com/15381181/46804006-9282c200-cd2f-11e8-9935-ee8053a3582a.png)

[2018-10-11 16:56] bergmike commented on #757
I have the same problem.  I tired many different combinations and none worked.

I tried berg12345, michaelberg, michaelbergthomsonreuters, all failed.  The only error message I get is right below the blue "register" button that says, "Something went wrong. Please try again later."

OS: Windows 7
Browers: Chrome

[2018-10-11 17:02] sarah-barrett commented on #753
@EdisonDa This seems to be a bug, shouldn't it be passed on to Adam's team?

[2018-10-11 17:29] nschonni commented on #756
The localization issues are with English words like "Widow" instead of "Windows" that need to be fixed in the source repo

[2018-10-12 00:47] miyamam commented on #738
It didn't fixe all URLs.
Could you confirm them?

[2018-10-12 02:32] EdisonDa commented on #756
@nschonni thank you for the info, could you please kindly share me the link so we can fix that on our side?

[2018-10-12 02:44] EdisonDa commented on #757
Creating a bug for tracking https://ceapex.visualstudio.com/Engineering/_workitems/edit/44643

[2018-10-12 02:54] EdisonDa commented on #753
@vidyutron Thank you for your reaching us. Can you consistently reproduce this issue, could you please kindly share me the page you are visiting? I just random some docs page on Chrome but I could not reproduce that.

[2018-10-12 03:04] EdisonDa commented on #754
@StingyJack Thank you for your detailed info. This is the user voice managed by VS team, it's not in docs and out of control. I can try to contact with their team offline, but you can also submit your feedback in the VS developer community, very appreciate.

[2018-10-12 03:10] EdisonDa commented on #743
@presleyy have you got some chance to review this?

[2018-10-12 03:16] presleyy commented on #743
Yes, but I don't want to say that's bug just because of a single reason. This is something we are aware of related to the search relevancy from our search engine. A bunch of ideas have been initialized and under discussion. But for sure, we are going to improve the search relevancy.

[2018-10-12 03:32] EdisonDa commented on #731
I am closing this one since this already get fixed. @MortenKJ could you please verify?

[2018-10-12 03:32] #731 closed

[2018-10-12 04:07] MortenKJ commented on #731
@EdisonDa done

[2018-10-12 04:53] yumetodo commented on #747
We are proposing when we open microsoft docs on other tab or other window.

[2018-10-12 07:07] RemiLELONG commented on #757
Thanks,

but i'am not authorized to access this page :-(
![annotation1](https://user-images.githubusercontent.com/44053124/46853391-2f139580-cdfe-11e8-89de-cbb20f966cf6.png)

[2018-10-12 08:42] #754 closed

[2018-10-12 09:32] michalzubkowicz commented on #747
@EdisonDa
@yumetodo has right. Main problem is when page is entered from search (Google / Bing), or a new tab. Internal navigation is smaller concern.

Most of navigation thorught docs is on many tabs, many topics. Nobody is reading docs from start to end :)

[2018-10-12 09:34] andreyzapt opened #758 "Typo"
**Describe the bug**
Here is the wrong description:
  - Converts a point in a window from logical coordinates into physical coordinates, regardless of the dots per inch (dpi) awareness of the caller. For more information about DPI awareness levels....

it should be: physical to logical.

**To Reproduce**
Open page:
 - https://docs.microsoft.com/en-us/windows/desktop/api/winuser/nf-winuser-physical

[2018-10-12 10:14] svick commented on #754
@EdisonDa I'm confused. As far as I can tell, this issue is about the fact that [this Docs page](https://docs.microsoft.com/en-us/visualstudio/releasenotes/vs2017-relnotes#feedback) links to the deprecated VS UserVoice:

![](https://user-images.githubusercontent.com/287848/46863533-ff718700-ce17-11e8-9a5a-cc229bf2d59d.png)

I think that's something that's in your control and should be fixed.

[2018-10-12 10:24] kostelnyy opened #759 "Google shows me results on foreign language"
I type a request on English in Google.
One of the fists results leads to https://docs.microsoft.com, but on Russian
I can't see any other similar results on English below, the only option I have to follow that link, then manually change a language at the bottom of the page. And I should do it every time.
It's really annoying, b/c I'm not in Russia, I don't know that language well and I don't want

[2018-10-12 10:32] vidyutron commented on #753
Hi,
providing the link: [https://docs.microsoft.com/en-us/dotnet/framework/winforms/controls/how-to-run-an-operation-in-the-background](url)

[2018-10-12 11:15] svick commented on #754
@EdisonDa

But you do manage https://docs.microsoft.com/en-us/visualstudio/releasenotes/vs2017-relnotes#feedback, right? Which is the page that I think should be updated.

[2018-10-12 11:44] StingyJack commented on #754
@EdisonDa - [I did. that a year and a half ago](https://developercommunity.visualstudio.com/content/problem/56328/get-rid-of-uservoice.html). I'm now asking Docs (you, this page, your team) to correct its links to match.

[2018-10-12 15:47] TanvirShah commented on #755
@EdisonDa and @dend still waiting......

[2018-10-12 18:32] gmgj opened #760 "DISM /Online /Cleanup-Image /RestoreHealth /source:"
on this page https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-8.1-and-8/hh825020(v=win.10)
it talks about repair source

it talks about this:

You can use a running Windows installation as a source to restore optional features by sharing the c:\Windows folder on your network.

You can use a Windows side-by-side folder from a network share or from a removable media, such as

[2018-10-12 19:03] gmgj opened #761 "Winver shows Version 1709 Windows update shows Version 1803 installed"
System Information shows 10.0.16299 Build 116299

Which should I believe

[2018-10-13 11:14] ChrisMaddock opened #762 "Remove locale from link to Docs PR validation service"
The new Docs PR validation service is super-cool, I love it! ✨

A request - the "View more details on Docs Content Validation" link on pages such as https://github.com/dotnet/docs/runs/23537546 is hardcoded to the en-US locale - can the locale be removed?

I only noticed as I was trying to work out when it was introduced, and according to my poor British brain, the pages were written in the future

[2018-10-13 13:15] prankshaw commented on #758
Cannot find the document file on GitHub.
Can someone please share the repo in which following docs file is present. Also, please assign this issue to me

[2018-10-13 16:17] TanvirShah commented on #755
Sad indeed.

[2018-10-14 13:10] fearless-hasan opened #763 "Missing Character."
**Link to article:**
https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/nbtstat

**Problem:**
In this page, first example on the Examples section, the command should be "nbtstat /a CORP07"
rather than "btstat /a CORP07".
Simply it should add a single "n" in the beginning of the command.

[2018-10-14 15:36] svick opened #764 ".Net API reference search should ignore type parameter names"
When I use the .NET API Browser and search for e.g. `Task<T>`, [I get no results](https://docs.microsoft.com/en-us/dotnet/api/?term=Task%3CT%3E). This is because the type I'm loooking for is actually called [`Task<TResult>`](https://docs.microsoft.com/en-us/dotnet/api/system.threading.tasks.task-1).

I think this happens fairly often, because when using the type, it doesn't matter whether it's cal

[2018-10-14 15:39] svick opened #765 ".Net API Reference search should ignore punctuation"
When I use the .NET API Browser and search for e.g. `console writeline`, [I get no results](https://docs.microsoft.com/en-us/dotnet/api/?term=console%20writeline). When I separate the two words with a period instead, [I get the results I expect](https://docs.microsoft.com/en-us/dotnet/api/?term=console.writeline).

I think the search should be more lenient about requiring the correct punctuation,

[2018-10-14 15:51] jabelloc opened #766 "Editorial issue in the page "Creating an object in COM""
The argument `IID_Drawable` passed to the function `CoCreateInstance` in the example in the page [Creating an object in COM](https://docs.microsoft.com/en-us/windows/desktop/learnwin32/creating-an-object-in-com) is wrong . It should be `IID_IDrawable` instead of `IID_Drawable`, as shown below:

`extern const GUID IID_IDrawable;`

[code]

[2018-10-14 19:34] lwahonen opened #767 "The documentation of CreatePropertyConditionEx is a mess"
**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/api/uiautomationclient/nf-uiautomationclient-iuiautomation-createpropertyconditionex

**Problem:**
The parameter list is a mess. The type for the second argument is wrong, and the third argument is skipped over entirely.

[2018-10-15 01:16] EdisonDa commented on #753
@vidyutron the problem does not reproduce on my side, @Powerhelmsman could you please try above link to see if the problem repro on your side?

[2018-10-15 03:42] nschonni opened #768 "Add validation for merge conflicts ending up in docs"
**Is your feature request related to a problem? Please describe.**
Since a lot of the repos sync between GitHub and the internal forks, there are occasionally merge conflicts that get added to the docs.

**Describe the solution you'd like**
Add a check to https://docs.microsoft.com/en-us/contribute/validation-reference/
Looking for a `<<<<<<<` or `>>>>>>>` would probably not lead to many false pos

[2018-10-15 03:51] nschonni commented on #365
So there are now 148 test repos that have been made public https://github.com/MicrosoftDocs?utf8=%E2%9C%93&q=test&type=&language=

[2018-10-15 08:47] dstroyrofworlds opened #769 "DWLoader for Linux"
**Link to article:**
https://docs.microsoft.com/en-us/sql/tools/overview-sql-tools?view=sql-server-2017

**Problem:**
There is no pointer to how to install DWLoader on linux, if at all possible.

[2018-10-16 03:05] cillroy commented on #365
Thanks for the update, we are still evaluating how we can address this with a long term vision that can be automated

[2018-10-16 07:16] RemiLELONG commented on #757
Hello, On the Azure doc page (https://docs.microsoft.com/fr-fr/learn/paths/azure-fundamentals/), when I click on Connect, I came back on the page I'm stuck with (on techprofile).
So I tried to put the same value on te URL field than the Display Name field and now I could go through the process.
So it's Ok for me now.

Thanks for your help @EdisonDa

Regards,
Rémi LELONG

[2018-10-16 08:00] dstroyrofworlds commented on #769
It is a dotnet application - can it be run on linux dotnet ?
I downloaded the dotnet docker images for linux, but it fails to run with error:

[code]

[2018-10-16 09:07] v-sefedo commented on #568
Created [pull request](https://github.com/MicrosoftDocs/BusinessApplicationPlatform-Connectors/pull/268) with an updated description

[2018-10-16 10:39] khuramshahzad opened #770 "https://technet.microsoft.com/library/dn394343(v=office.15).aspx"
Broken Link.
https://technet.microsoft.com/library/dn394343(v=office.15).aspx

[2018-10-16 11:10] EdisonDa commented on #757
Good to know it works. Thank you @RemiLELONG. We will track the bug, and definitely we will improve the error message, it's confusing somehow. Would you mind me to close this issue now?

[2018-10-16 11:10] #757 closed

[2018-10-16 15:08] mrlife opened #771 "Contrast in code blocks and inline code is too weak in Dark theme in Safari on macOS and iOS"
**Describe the bug**
When using Microsoft Docs with the Dark theme, code blocks and inline code use a light gray text on a near-white background. This is difficult to read due to the weak contrast between those two colors.

Also note that it doesn't meet the web accessibility contrast ratio requirements: https://webaim.org/resources/contrastchecker/?fcolor=CCCCCC&bcolor=F3F3F3

**To Reproduce**
St

[2018-10-16 17:01] cmelliso opened #772 "Azure Media Services REST API - Create Channel JSON Inaccurate"
Attempting to use the "live encoding" Create Channel JSON example from https://docs.microsoft.com/en-us/rest/api/media/operations/channel#create_channels results in a 400 Bad Request with the following response body:

{
    "odata.error": {
        "code": "",
        "message": {
            "lang": "en-US",
            "value": "Parsing request content failed due to: Make sure to only use proper

[2018-10-16 17:19] pkulikov opened #773 ".NET API browser: extraneous comma in the "Applies to" section"
Framework versions in the **Applies to** section of the .NET API articles are separated by *two* commas:
![image](https://user-images.githubusercontent.com/15279990/47034630-37f6c500-d178-11e8-8864-46c862ebad92.png)

Check any API page:
https://docs.microsoft.com/en-us/dotnet/api/system.threading.tasks.task.yield?view=netcore-2.1
https://docs.microsoft.com/en-us/dotnet/api/system.text.encoderfallb

[2018-10-16 20:27] mairaw commented on #773
Thanks @pkulikov. I was about to file the same issue. 😄

/cc @dend

[2018-10-16 20:44] manickmalai opened #774 "Typo Error in your Azure Learn website"
**Link to article:**
https://docs.microsoft.com/en-us/learn/modules/tour-azure-services-and-features/2-tour-of-azure-services

**Problem:**
I was learning Azure via Microsoft Learn and came across a documentation error where it says
"**Azure Database for MariaDB**" is a "Fully managed and scalable **MySQL** relational database". This is misleading and causes confusion. Should it not be "Fully mana

[2018-10-16 23:34] Const-me opened #775 "CoTaskMemAlloc function"
**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/api/combaseapi/nf-combaseapi-cotaskmemalloc

**Problem:**
DLL. It's in `combase.dll`, not in `Ole32.dll`. At least on my Windows 10.

[2018-10-17 03:40] sark01 commented on #763
Can I work on this?

[2018-10-17 08:34] Damien-The-Unbeliever opened #776 "Allow quick access to examples in other languages"
I predominantly work in C#. I want that to be my #1 language preference within the documentation.

But I also help others who may not be working in C#. So, at the moment, if I'm helping somebody else who is working in, say, VB, my process is something like:

- locate the relevant sample
- sigh wistfully remembering that the old documentation had language selectors immediately above each example bl

[2018-10-17 14:29] JoBrad opened #778 "Edit link for Powershell Core SDK methods is broken"
I found some formatting issues with the pages listed below, and thought I would submit an edit to correct the issue. However the Edit button references the `powershell-docs-sdk-dotnet` repo, which doesn't actually exist.

**Link to articles:**
https://docs.microsoft.com/en-us/dotnet/api/system.management.automation.cmdlet.shouldcontinue
https://docs.microsoft.com/en-us/dotnet/api/system.management

[2018-10-17 16:32] jasonjgeiger opened #779 "Content area is cut off in Docs Tutorials"
**Describe the bug**
Width of #main-column inherits min-width:100vh from body resulting in the main content to overflow off the right edge of the browser.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/azure/functions/tutorial-static-website-serverless-api-with-database?tutorial-step=1
2. Click "Exit focus mode"
3. Try to read everything
4. Or navigate

[2018-10-17 16:37] #752 closed

[2018-10-17 16:42] JosieBigler opened #780 "Typo in TSql Microsoft Docs"
In the [URL](https://docs.microsoft.com/en-us/sql/relational-databases/stored-procedures/execute-a-stored-procedure?view=sql-server-2017) there is a typo.

Under the Recommendations header, first full Paragraph, 2nd sentence:

quality should be qualify.

![image](https://user-images.githubusercontent.com/34112636/47102201-adf33e80-d201-11e8-8387-86bbd0d6eef4.png)

[2018-10-18 08:51] GunnarTE opened #781 "Library for Winver.h is not Mincore"
**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/api/winver/nf-winver-getfileversioninfosizea
https://docs.microsoft.com/en-us/windows/desktop/api/winver/nf-winver-verqueryvaluea
and probably the rest of all winver pages

**Problem:**
The given library is wrong. It's not Mincore.lib but Version.lib
at least for VS2017 SDK8.1 nmake

[2018-10-18 10:39] shomavg opened #782 "Too many broken links!"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/en-gb/learn/'
2. Click on 'Introduction to Containers on Azure' it shows a 404 page.
There are many such links that are giving a 404 on the same site.

[2018-10-18 13:30] neilhamshaw opened #783 "Highlight Modules already taken"
**Is your feature request related to a problem? Please describe.**
After taking modules, you have to click on a module to see whether you have completed it or part completed it.

**Describe the solution you'd like**
When looking at the solution track or the tile view of modules available, I would like to see a green or amber tick (and maybe accompanied by a 'Complete' or 'In Progress' in the top c

[2018-10-19 03:36] Powerhelmsman commented on #661
@gauravitm I will close this issue due to lack of enough information. If you have any other question related to this, we can reopen it and continue the conversation

[2018-10-19 03:36] #661 closed

[2018-10-19 13:35] dcolliervb23 opened #784 "Azure Blob Naming requirements too vague"
**Describe the bug**
The blob naming reference states "some ASCII or Unicode characters.... are also not allowed" then points us to a huge RFC doc.  This guidance is overly broad and the referenced RFC doc is large and hard to parse.  The statement says "some" so we are not even sure if we have to exactly match what is in the RFC doc or just playing a long guessing game.  Any additional detail on

[2018-10-19 15:11] Ilya33 opened #785 "Typo in windows desktop iphlpapi GetIfTable"
**Link to article:**
[Link](https://docs.microsoft.com/en-us/windows/desktop/api/iphlpapi/nf-iphlpapi-getiftable)

**Problem:**
Typo in an example on line `104`

`printf("\tOper Status[%d]:\t ", i);` should be `printf("\tOper Status[%d]:\t %ld\n", i, pIfRow->dwOperStatus);`

[2018-10-19 20:27] #667 closed, assigned to nobody

[2018-10-19 20:28] Powerhelmsman commented on #675
@Munies  I will close it so far. If you can provide more details later, we can reopen it and continue the discussion.

[2018-10-19 20:29] Powerhelmsman commented on #678
@mgroos16 I will close it so far. If you can provide more details later, we can reopen it and continue the discussion.

[2018-10-19 20:29] #678 closed

[2018-10-19 20:49] OtacilioN opened #786 "Images does not changes when "Read in english" is selected from a translated version."
**Describe the bug**
When you are in a translated version of a document, such as in https://docs.microsoft.com/pt-br/azure/architecture/patterns/pipes-and-filters, you have a slider called "Read in English", when you activate the slider all the text is translated, but the images still the same, with texts in the original language (Portuguese in the case)

**To Reproduce**
1. Go to 'https://docs.mi

[2018-10-19 21:50] Powerhelmsman commented on #696
@MikalaKennell Is this help you? I will close this feedback so far. If you can provide more details later, we can reopen it and continue the discussion.

[2018-10-19 21:50] #696 closed

[2018-10-19 21:52] Powerhelmsman commented on #704
@M365SupportJapan I check the Icm ticket. It is marked as resolved. So I will close it here.

[2018-10-19 21:52] #704 closed

[2018-10-19 21:54] Powerhelmsman commented on #702
@MarkowEduard Do you still have the issue? Didn't get your response for a while. I will close it so far. If you can provide more details later, we can reopen it and continue the discussion.

[2018-10-19 21:54] #702 closed

[2018-10-19 21:56] Powerhelmsman commented on #725
@archieag Didn't get your response for a while. I will close it so far. If you can provide more details later, we can reopen it and continue the discussion.

[2018-10-19 21:56] #725 closed

[2018-10-19 21:58] Powerhelmsman commented on #758
@ginami Can you help here? This is a windows content issue.

[2018-10-19 22:02] Powerhelmsman commented on #759
@kostelnyy I can't repro your issue. The follow picture is my result.
![image](https://user-images.githubusercontent.com/33136632/47245882-e89ad980-d3af-11e8-9e69-045d717f67bc.png)
Do you still have this issue?

[2018-10-19 22:06] Powerhelmsman commented on #706
@shortcircuit21 Can't identify where is issue without more information. The channel is for Docs site issue or content issue. Your issue is more like product feedback. So can you go to specific product page to raise the feedback? I will close it here. But we can definitely reopen it if we have more information.

[2018-10-19 22:06] #706 closed

[2018-10-19 22:09] Powerhelmsman commented on #760
@gmgj Thanks for your feedback. Unfortunately this content is no longer to update due to out of product lifecycle.

[2018-10-19 22:09] #760 closed

[2018-10-19 22:11] Powerhelmsman commented on #761
@gmgj This channel is for Docs site feedback or content issue. Can you point me which page you refer to?

[2018-10-19 22:15] Powerhelmsman commented on #763
@fearless-hasan Your issue is transferred to windows server team. They will help you there.

[2018-10-19 22:15] #763 closed

[2018-10-19 22:16] Powerhelmsman commented on #764
@dend @presleyy Can you take a look at this feedback?

[2018-10-19 22:17] Powerhelmsman commented on #765
@dend @presleyy This is similar with #764 . Can you please take a look at this.

[2018-10-19 22:20] Powerhelmsman commented on #767
@ginami Can you take a look at this issue?

[2018-10-19 22:28] Powerhelmsman commented on #771
@ShevaDas @kubeaver Can you take a look at this feedback?

[2018-10-19 22:30] Powerhelmsman commented on #772
@dend Can you take a look at this issue?

[2018-10-19 22:35] #773 closed

[2018-10-19 22:36] Powerhelmsman commented on #773
@pkulikov It seems resolved already.

[2018-10-19 22:36] pkulikov commented on #773
@Powerhelmsman cool! Thanks!

[2018-10-19 22:38] Powerhelmsman commented on #774
@manickmalai This issue is fixed. Can you double check?

[2018-10-19 22:38] #774 closed

[2018-10-19 22:39] Powerhelmsman commented on #775
@ginami Can you follow up?

[2018-10-19 22:40] Powerhelmsman commented on #776
@ShevaDas Is this your area?

[2018-10-19 22:48] Powerhelmsman commented on #779
@ShevaDas Can you take a look at this bug?

[2018-10-19 22:49] Powerhelmsman commented on #780
@stevestein Can you take a look at this issue?

[2018-10-19 22:54] Powerhelmsman commented on #782
@shomavg Thanks for reporting this bug. I create a internal issue to track it.  https://icm.ad.msft.net/imp/v3/incidents/details/88647986/home Once it is fixed, I will let you know.

[2018-10-19 22:55] Powerhelmsman commented on #783
@ShevaDas Can you follow up this suggestion?

[2018-10-19 22:57] Powerhelmsman commented on #784
@tamram Can you take a look at this suggestion?

[2018-10-19 22:59] Powerhelmsman commented on #785
@ginami Can you take a look at this issue?

[2018-10-19 23:01] Powerhelmsman commented on #786
@SonjaSaltzman Can you take a look at this issue?

[2018-10-19 23:09] ShevaDas commented on #771
Adding @dend for code samples

[2018-10-19 23:10] ShevaDas commented on #776
Code samples is (at least to some extend) @dend.

@Damien-The-Unbeliever we're looking into a couple options for making the code language selector easier to use and will definitely take this into account!

[2018-10-20 00:19] SonjaSaltzman commented on #786
@OtacilioN this is a great catch, thank you for bringing it to our attention. The slider just changes the display language of the body text, but the user is still in the localized site (to fully change to the English site, you would have to use the language picker at the bottom left of the page; it will then change the chrome, text, and images to English).
Adding @bodhigautam to investigate if we

[2018-10-20 18:05] TLMurray23 opened #787 "Number of typos on a page"
**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/FileIO/naming-a-file#file-and-directory-names

**Problem:**
Generally a number of typos, usually in the area of missing characters. Just need some basic editing.

[2018-10-20 20:42] tommai78101 opened #788 "Typo in the sample code for "Retrieving the Last-Error Code""
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

There is no comment section enabled in the article where I encountered the problem at.

**Link to article:**
Tell us where exactly a problem occurs.

https://docs.microsoft.com/en-us/windows/desktop/debug/retrieving-the-last-error-code

**Problem:**
Wh

[2018-10-21 06:31] nschonni commented on #759
Maybe related to #617

[2018-10-22 00:26] imba-tjd opened #789 ".NET local docs Edit button targets to live-sxs branch."
https://docs.microsoft.com/zh-cn/dotnet/welcome
![default](https://user-images.githubusercontent.com/24759802/47274134-e1541580-d5d3-11e8-9cba-2343133ba6b1.png)
This button now targets to live-sxs branch in some local repos, for example zh-cn and ja-jp. ~~But some repos like zh-tw doesn't have this issue.~~ Now all of them have this issue.
I only see this issue in .NET docs.

[2018-10-22 00:35] imba-tjd opened #790 "Some local .NET docs Edit button targets to live-sxs branch."
https://docs.microsoft.com/zh-cn/dotnet/welcome
![default](https://user-images.githubusercontent.com/24759802/47274203-32b0d480-d5d5-11e8-9f7e-65c272d9fd33.png)
Some repos like zh-cn and ja-jp have this issue, while some like zh-tw don't.
I only see this issue in .NET docs.

[2018-10-22 08:20] #790 closed

[2018-10-22 10:19] MecuSorin opened #791 "Add embedd html tag in the profile page"
**Is your feature request related to a problem? Please describe.**
I want to include the progress in my CV. I think that is easy to generate a link to an icon overlapped with the number of the trophies.

**Describe the solution you'd like**
Support for the embedded html tag that shows the achievements.

**Describe alternatives you've considered**
To do it myself, but I expect that Microsoft wants

[2018-10-22 13:04] Ilya33 opened #792 "Typo in windows desktop iphlpapi GetAdaptersAddresses"
**Link to article:**
[Link](https://docs.microsoft.com/en-us/windows/desktop/api/iptypes/ns-iptypes-_ip_adapter_addresses_lh)

**Problem:**
Typo in an example at line 67

`// Make a second call to GetAdapters Addresses to get the` should be `// Make a second call to GetAdaptersAddresses to get the`

without external space between `GetAdapters` and `Addresses` like in comment  at line 55

[2018-10-22 17:02] nschonni commented on #605
Lol, ran across this today an came to report it again :stuck_out_tongue:

[2018-10-22 17:06] nschonni commented on #605
Looks like from https://github.com/dotnet/docs/issues/5314#issuecomment-394528029 that the Edit link is correct, but the repo is private

[2018-10-22 17:20] Powerhelmsman commented on #787
@ginami Please take a look at this issue.

[2018-10-22 17:29] Powerhelmsman commented on #790
duplicated with #789

[2018-10-22 17:31] Powerhelmsman commented on #789
@imba-tjd I can't repro your issue. It is pointing to repo dotnet/docs.zh-cn from my side.

[2018-10-22 17:31] Powerhelmsman commented on #791
@sharriexie Can you take a look at this feedback?

[2018-10-22 17:33] Powerhelmsman commented on #792
@ginami Can you follow up?

[2018-10-22 18:36] v-kydela opened #793 "Access Denied"
When I go to any page on https://docs.microsoft.com it says 'Access Denied' and 'You don't have permission to access "http://docs.microsoft.com/" on this server.'

[Screenshot][1]

That's a bit curious for a few reasons. I understand the docs are supposed to be public so why would anyone need permission to access them on any server? Also, the URL it says I can't access is http even though it clear

[2018-10-22 23:14] imba-tjd commented on #789
@Powerhelmsman I know it is pointing to dotnet/docs.zh-cn, but now th `Edit` button points to `live-sxs` **branch** which I suppose should be `live`

[2018-10-22 23:16] jdhuntington commented on #793
Getting this as well. HTTP response included, as Akami is mentioned and is interesting.

[code]

[2018-10-23 00:56] Powerhelmsman commented on #793
@v-kydela I submitted a internal ticket to report this issue. We will inform you the latest status.

[2018-10-23 00:58] Powerhelmsman commented on #789
@dend Do you know if there are any changes recently?

[2018-10-23 08:29] Menelion opened #794 "The TOC tree accessibility is not fully implemented"
**Describe the bug**
The TOC tree at docs.microsoft.com is represented as a tree view, and screen reader reports it as such. However, there is no possibility to navigate the tree with arrow keys, like, say, in File Explorer on Windows. This is doable as other websites have this functionality.

**To Reproduce**
1. Install [JAWS for Windows](http://freedomscientific.com/downloads/JAWS), restart your

[2018-10-23 10:19] IshamMohamed opened #795 "'Sign out' button throws 'Uncaught TypeError'"
**Bug description**
"REST API Try It" functionality in https://docs.microsoft.com/en-us/rest/api/azure/ is a great functionality but the 'Sign out' button does not work. This causes confusions at situations where I change IAM of some users in subscriptions.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/en-us/rest/api/consumption/usagedetails/list'
2. Click

[2018-10-23 13:52] TLMurray23 commented on #787
No, the typos are still there. Look at the second bullet under Naming Conventions and the missing greater than, a bit further down.

[2018-10-23 14:35] Alex-Collins opened #796 "Typo on Dynamics365 V9 release notes."
**Link to article:**
[Link](https://docs.microsoft.com/en-us/dynamics365/get-started/whats-new/customer-engagement/new-in-version-9-for-developers#pubic-preview-dynamics-365-channel-integration-framework)

**Problem:**
Typo in the first sub-heading. Presumably should read **Public Preview** but currently reads **Pubic Preview**

[2018-10-23 15:14] Powerhelmsman commented on #794
@ShevaDas Is this your area?

[2018-10-23 15:16] Powerhelmsman commented on #795
@dend @sharriexie Can you take a look at this bug?

[2018-10-23 15:19] Powerhelmsman commented on #796
@KumarVivek Can you take a look at this issue?

[2018-10-23 15:49] v-kydela commented on #793
Docs is working for me today, but I encourage the investigation to continue if a cause hasn't been found

[2018-10-23 16:10] Powerhelmsman commented on #793
@v-kydela Thanks for noticing us the issue is fixed. We will keep monitoring the issue.

[2018-10-23 16:10] #793 closed

[2018-10-23 18:30] ShevaDas commented on #794
https://ceapex.visualstudio.com/Engineering/UX%20Team/_workitems/edit/46829 for internal tracking

[2018-10-23 18:35] ShevaDas commented on #783
@neilhamshaw Thanks for the feedback! This is one of the team's top priorities to implement. Hopefully I'll have a more concrete update soon. :)

[2018-10-23 18:35] ShevaDas commented on #783
Merging this with #717

[2018-10-23 18:35] #783 closed

[2018-10-23 19:04] Menelion commented on #794
@ShevaDas Sorry, isn't that part open-source? :)

[2018-10-23 20:12] RannyMeier opened #797 "class method type icons"
I seem to recall that the .Net documentation used to have icons next to the method names so that we could see which were static methods.  Can the MicrosoftDocs put something on the object method names to indicate the type of method?

[2018-10-23 20:54] bodhigautam commented on #786
@OtacilioN Great observation. I found out that the image has an English version so its a valid issue.
@SonjaSaltzman I will work on it.

[2018-10-23 22:25] AndyWDev opened #798 "Unable to provide feedback or request changes to documentation"
When visiting a help page to look up some information there appears to be no link to provide feedback or to see feedback/corrections made by others.  If the information shown is incorrect or missing important information, there isnt an obvious  way to get it corrected.

On the link provided below, there was an extremely small feedback popup that only appeared in the bottom right hand corner of the

[2018-10-23 22:50] ginami commented on #787
Thanks @TLMurray23 -- I'll find someone to update the page!

[2018-10-24 01:13] imba-tjd commented on #789
@CeciAc @JasonCard Hi, Would you mind helping to investigate this?

[2018-10-24 04:11] JasonCard commented on #789
@imba-tjd Thank you for reporting this issue. I will look into this and get back to you.
cc @Powerhelmsman @CeciAc

[2018-10-24 07:10] wu-wenxiang opened #799 "Unable to download sample from MSDN Code Gallery"
**Describe the bug**
Unable to download sample from MSDN Code Gallery.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/en-us/windows/desktop/learnwin32/direct2d-clock-sample'
2. Click href link to download sample from 'http://go.microsoft.com/fwlink/p/?linkid=195535'
3. See error: Couldn't connect to archive.msdn.microsoft.com

**Expected behavior**
Download

[2018-10-24 13:16] OtacilioN commented on #786
Okay, thanks, folks!

[2018-10-24 14:41] mrlife commented on #771
@kubeaver I don't have access to that page; will it be fixed relatively soon?

[2018-10-24 15:30] Powerhelmsman commented on #799
@ginami Can you please take a look at this issue?

[2018-10-24 15:39] akeeton opened #800 "Broken image in Printing docs"
**Link to article:**
https://docs.microsoft.com/en-us/windows/desktop/printdocs/printdocs-printing

**Problem:**
This image does not exist: https://docs.microsoft.com/en-us/windows/desktop/images/print-apis.png

[2018-10-24 15:43] Powerhelmsman commented on #800
@ginami Can you take a look at this issue?

[2018-10-24 15:44] vyuschuk opened #801 "Incorrect link to view of doc for older version of SQL Server"
This page indicates clicking a link will take the user to documentation for SQL Express 2014 but it just brings up the same page for SSE 2017.
https://docs.microsoft.com/en-us/sql/database-engine/install-windows/install-sql-server-using-a-configuration-file?view=sql-server-2017

source:
<p>This article is specifically updated for SQL Server 2016 and SQL Server 2017. For older versions of SQL Serve

[2018-10-24 15:46] Powerhelmsman commented on #798
@jialge Is this your area?

[2018-10-24 16:34] kubeaver commented on #771
@mrlife it's in the queue. Checking on it now. I don't yet have an exact ETA as there are a few other things before it.

[2018-10-24 16:46] jdhuntington opened #802 "Get HTTP 403 (Access Denied)"
**Describe the bug**
Get HTTP 403 when visiting docs.microsoft.com from corporate network.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'docs.microsoft.com'
4. See error

**Expected behavior**
See docs

**Screenshots**
See output of `curl` command at bottom. Shows same behavior in multiple browsers.

**Desktop (please complete the following information):**
 - OS: macOS
 - Browser: C

[2018-10-24 16:51] Powerhelmsman commented on #802
@jdhuntington iI could be the blocking from the akamai. IP Blocked due to number of client requests exceed the limit/sec of IP block rule, Kona defender denied the request as it not normal behavior. Try it 10 minutes later. It will auto unblock.

[2018-10-24 17:09] jdhuntington commented on #802
Thanks @Powerhelmsman -- I tried just now (22 minutes after the initial error) and am receiving the same error.

(For reference, this error has id `Reference #18.bc3c2b17.1540400905.4e7c2195`)

[2018-10-24 17:19] Powerhelmsman commented on #802
@jdhuntington I will fire a internal ticket to report it. https://icm.ad.msft.net/imp/v3/incidents/details/89177993/home

[2018-10-24 23:40] dend commented on #795
#log-suggestion

[2018-10-24 23:40] botcrane commented on #795
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=47102) logged.

[2018-10-25 19:53] ShevaDas commented on #779
We have a bug filed for this that is being worked on. Thanks for the report @jasonjgeiger!

Internal tracking link: https://ceapex.visualstudio.com/Engineering/_workitems/edit/46804

[2018-10-25 20:01] Powerhelmsman commented on #802
@jdhuntington Issue is fixed now.

[2018-10-25 20:01] #802 closed

[2018-10-25 22:07] ShevaDas commented on #794
@Menelion I don't believe our TOC UX is open-source. Apologies!

[2018-10-26 06:14] AnthonyHKOPT opened #803 "Sample Files"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I want to practice with samples that Will explained in the video.
Where can I download those files ?
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered

[2018-10-26 08:59] acpsa opened #804 "Too much content causing DownloadPDF not respond"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
Download PDF Link on
https://docs.microsoft.com/en-us/aspnet/web-api/overview/getting-started-with-aspnet-web-api/tutorial-your-first-web-api#

**Problem:**
Browser not responding after i try to download the pdf in complete. There