[2018-04-19 14:53] bmills74 opened #308 "Introduce "close all tabs to the right""
Having gotten used to this very handy feature in Chrome, I keep wanting to use it in VS.  It's easy to get swamped with too many tabs open, and you would like to keep a couple open rather than use the 'close all but this option'

[2018-04-19 17:12] spottedmahn opened #309 "Menu Nodes w/o Hyperlinks in Problem"
When I'm on my iPhone and I pick a menu option that does not have a hyperlink nothing happens, it is confusing IMO.

Please see [this video](https://1drv.ms/v/s!AmsBn7YVdmXPhfMJfBKKDzJpe3PYdg).

![image](https://user-images.githubusercontent.com/14079228/38931702-11f456da-42e2-11e8-9acd-3491b416cd42.png)

---

[Source](https://github.com/MicrosoftDocs/azure-docs/issues/7362#issuecomment-382809147)

[2018-04-19 17:34] Powerhelmsman commented on #309
This is very interesting finding. @ShevaDas Can you take care the issue?

[2018-04-19 17:53] BGaudreault-EDR opened #310 "Applies To: Refers to PC Version Instead Of Server Versions"
## Issue Details

Fix "Applies To:" in http://technet.microsoft.com/en-us/library/dd744581(v=ws.10).aspx

Applies To:  Refers to PC Version Instead Of Server Versions.

[2018-04-19 17:57] Powerhelmsman commented on #310
@BGaudreault-EDR Thanks for your feedback. This page is for old version. We stop updating the old version.

[2018-04-19 17:57] #310 closed

[2018-04-19 18:04] Powerhelmsman commented on #308
@bmills74 Is this a VS product feedback or any docs site page you refer to?

[2018-04-19 18:05] BGaudreault-EDR opened #311 "IIS Sysprep Compatibility Needs More Details"
## Issue Details

Fix "Applies To:" in http://technet.microsoft.com/en-us/library/dd744581(v=ws.10).aspx

The article says Sysprepping is not supported if there are "encrypted credentials", but there's no reference about how to identify this scenario.  Can this detail be added to the document?  Thanks

[2018-04-19 18:13] Powerhelmsman commented on #307
@DuncanmaMSFT Is anyone from your team can answer the question?

[2018-04-19 18:15] Powerhelmsman commented on #311
@TaraMeyer Is there anything you can help here?

[2018-04-19 19:19] ermau commented on #226
Another example of this can be seen in the docs for [HashSet](https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.hashset-1?view=netframework-4.5.2). If you scroll down you'll find there's a note in the remarks how `IReadOnlyCollection<T>` was only added in 4.6. However, despite the selection of 4.5.2, it's still listed in the list of interfaces right at the top.

[2018-04-19 23:41] Jemash commented on #3
@TaraMeyer  was this fixed?

[2018-04-19 23:47] Jemash commented on #40
Adding @mschulz-msft

[2018-04-19 23:48] Jemash commented on #34
adding @mschulz-msft

[2018-04-19 23:57] SunnyDeng commented on #285
the suggestion was implemented at 4/11 into production.

[2018-04-20 09:18] kwadrat opened #312 "Bad comment"
# Comment that should be removed

## Issue Details

On page:
https://docs.microsoft.com/en-us/sql/database-engine/configure-windows/configure-a-windows-firewall-for-database-engine-access?view=sql-server-2017
there is comment from user "JOhn_Smith8", that should be removed - it is random and not connected to the page contents. The comment starts with text: "Buy Latest Zero Days Exploits & FUD Hack

[2018-04-20 16:34] Powerhelmsman commented on #312
@kwadrat Thanks for reporting the issue. We are working on removing the comment.

[2018-04-20 17:20] lambdageek opened #314 ""Applies To" for overloaded methods needs more precision."
Consider `System.Reflection.Assembly.Load` [documented here for .NETFramework 4.7.2](https://docs.microsoft.com/en-us/dotnet/api/system.reflection.assembly.load?view=netframework-4.7.2) and [here for .NET Standard 2.0](https://docs.microsoft.com/en-us/dotnet/api/system.reflection.assembly.load?view=netstandard-2.0)

Note that the .NET Framework version has 8 overloads, but the .NET Standard versio

[2018-04-20 17:26] Powerhelmsman commented on #312
@kwadrat The comment has been removed.

[2018-04-20 17:26] #312 closed

[2018-04-20 17:30] Powerhelmsman commented on #314
@mairaw Can you take a look at this suggestion?

[2018-04-20 17:36] mairaw commented on #314
Yes, totally agree. I've mentioned that before to @dend but I don't recall if we have an internal bug tracking that ask.

[2018-04-20 18:14] BillWagner opened #315 "Search vs. Filter in API Browser"
Consider this typical [API page](https://docs.microsoft.com/dotnet/api/system.threading.tasks?view=netframework-4.7.2).

The box in the left nav is labelled **Search**, but it functions as **FIlter**. That's misleading.

The **Search** functionality is available from the top bar, but that's scoped to all of .NET docs. I think it would be much more useful to scope the search to the API Browser scop

[2018-04-20 20:31] Powerhelmsman commented on #306
@MortenKSorensen The content has been retired. It will not be updated in the future.

[2018-04-22 02:35] poopbot2 opened #316 "CMD"
# Idea Title

so whenever i open my cmd it automatically closes withing a split second
## Issue Details

whenever i open cmd it closes and it doesn't matter what way i open it, weather its in a short cut or as admin even ctrl+r dosn't work nor ctrl+x i have tried millions of virus detectors and nothing works

[2018-04-22 07:41] chr1272 opened #317 "MicrosoftDocs - 404 not found for many pages"
Just in case I am the first to report this: there is something seriously wrong with the documentation.
For example this link is - like many others - not working: https://docs.microsoft.com/en-us/aspnet/core/group1-dest/tutorials/razor-pages/?view=aspnetcore-2.1

404
Error - Sorry this document can't be found.

[2018-04-22 14:12] Folivi95 commented on #317
This happens mostly with asp.net core documentation

[2018-04-22 16:10] RexPersicus opened #318 "Q# Project types do not show under Visual C# new projects"
# Idea Title

Do not have the Q# Application or Q# Library or any other Q# project type listed under Visual C# when I try to initiate a new project, despite successful installation of VS Community and Q# Dev Kit and successful test run of Teleportation Sample.

## Issue Details

I have successfully installed VS Community version and Quantum Development Kit following Microsoft website's instruction

[2018-04-23 01:05] presleyy commented on #315
Generally the ToC left nav box functions as filter. But for that API page, it functions as search. That's why it is labelled "Search" instead of "Filter by title". @dend to confirm that.

[2018-04-23 05:15] kobowo commented on #317
Is there a fix for it though? I think it is mostly for aspnet core.. I was browsing through identity just fine yesterday but now I can't use the links on the navigation... the pages still exist though.. I apparently opened the link for one of the topics I wanted to study previously and was able to open it (meaning the links on the navigation might be new but it doesn't route (not sure if this is t

[2018-04-23 06:14] MortenKSorensen commented on #306
Thank you for the reply.

Do Microsoft have any materiales on this?

Retired or not.

[2018-04-23 07:49] shouru opened #319 "Activity Logs List API changed?"
# Idea Title

Be as descriptive as you can with your idea/bug report/question/suggestion.

## Issue Details

When using the api specified here[](https://docs.microsoft.com/zh-tw/rest/api/monitor/activitylogs/list), the return value is "Code": "BadRequest", "Message": "$filter searching parameters invalid。
The api example doesn't supply any filter parameter. Why the return value is not like the exa

[2018-04-23 10:56] BreakEnder233 opened #320 "ASP.NET 2.1 Preview the Chinese Edition some codes seems to be missing"
https://docs.microsoft.com/zh-cn/aspnet/core/tutorials/razor-pages/model?view=aspnetcore-2.1

The code part of "Add a database context class" seems to be missing in Chinese Edition Pages and is ok in US Edition Pages. Is it a mistake haven't been covered? Plz take a look.

[2018-04-23 12:06] geskill opened #321 "Dark mode images/icons not transparent or missing correct color"
In vs guide the vs logo and the world logo inside the note is styled incorrectly as you can see on the screenshot here:
![image](https://user-images.githubusercontent.com/6826752/39124979-b9ab6d72-46fd-11e8-9c3a-c0dfeb12e377.png)

Tip: There should be a guideline creating images, most from Azure Architecture Guide are not or not completely readable.

[2018-04-23 15:52] Powerhelmsman commented on #318
@RexPersicus Can you provide the instruction link?

[2018-04-23 15:58] Powerhelmsman commented on #319
@hellosnow @erickson-doug Can you answer the question?

[2018-04-23 16:05] Folivi95 commented on #317
It's good now

On Mon, Apr 23, 2018 at 4:50 PM, Jian Dong <notifications@github.com> wrote:

[2018-04-23 16:14] chr1272 commented on #317
I still get 404 on this link: https://docs.microsoft.com/en-us/aspnet/core/group1-dest/tutorials/razor-pages/?view=aspnetcore-2.1

[2018-04-23 16:37] Powerhelmsman commented on #316
@poopbot2 This forum is for docs.microsoft.com site instead of general Microsoft product forum. Sorry can't help you here.

[2018-04-23 16:37] #316 closed

[2018-04-23 17:05] smrtreddyk opened #322 "SSIS 2017 package model upgrade failure"
# SSIS 2017 Upgrade failed

We are upgrading our ssis packages from 2012 to 2017 and all our script components failing with error "the type or namespace name 'dts' does not exist in the namespace 'microsoft.sqlserver'". which is a generic error which happens when an assembly is missing but i think the root cause is because of inconsistency between the assemblies

## Error:
 "The primary reference

[2018-04-23 17:13] TaraMeyer commented on #3
@Jemash  - I'm not able to repo on Chrome or Edge.  @dend @Khairunj @DuncanmaMSFT -Windows Server 2008 R2 and 2008 only contains 31,000 topics - I thought issues crept in at 100,000 +?

[2018-04-23 18:43] Rick-Anderson commented on #317
@Powerhelmsman  can you close this now?

[2018-04-23 21:47] #317 closed

[2018-04-23 23:56] nbkawa-sh opened #323 "Windows CE 5.0, 6.0 and compact 7 documents show no figures"
## Issue Details

The following web page says "The following illustration shows the layered NDIS miniport driver architecture." at line 6, but no figures are shown.

https://docs.microsoft.com/en-us/previous-versions/windows/embedded/ee483408%28v%3dwinembedded.60%29

This is not only on this page, but all of windows ce 5.0, 6.0 and compact 7 documents.
Please show figures or back to original MSDN

[2018-04-24 02:34] RexPersicus commented on #318
Sure. This is the link:

https://docs.microsoft.com/en-us/quantum/quantum-installconfig?view=qsharp-preview&tabs=tabid-vs2017

[2018-04-24 02:36] RexPersicus commented on #318
That was the link to the installation instruction ... this the link for writing the sample Q# program which starts with initiating a Q# project under Visual C# section:

https://docs.microsoft.com/en-us/quantum/quantum-writeaquantumprogram?view=qsharp-preview&tabs=tabid-vs2017

[2018-04-24 13:25] Androniq opened #324 "Ukrainian localization auto-translates to Russian"
When I navigate to the page https://docs.microsoft.com/xamarin/cross-platform/app-fundamentals/code-sharing , it correctly detects that I have Ukrainian browser settings (adds uk-ua into the URL), but then it shows me auto-translation to Russian instead of Ukrainian.

Also, probably the language name at the bottom of the page contains a typo: Україньска, should be Українська

[2018-04-25 14:18] mikebk opened #325 "Document the use of HTML elements in System.Web.UI.WebControls.TreeNode.Text"
# Idea Title

 Document the use of HTML elements in System.Web.UI.WebControls.TreeNode.Text

## Issue Details

The System.Web.UI.WebControls.TreeNode.Text property accepts HTML elements but there appears to be no documentation on the effects of including these html fragments.

There are two problems with this: First, the documentation doesn't include the normal warning about cross Site Scripting v

[2018-04-25 15:19] mikebk opened #326 "Document the use of HTML elements in System.Web.UI.WebControls.TreeNode.Text"
# Idea Title

 Document the use of HTML elements in System.Web.UI.WebControls.TreeNode.Text

## Issue Details

The System.Web.UI.WebControls.TreeNode.Text property accepts HTML elements but there appears to be no documentation on the effects of including these html fragments.

There are two problems with this: First, the documentation doesn't include the normal warning about cross Site Scripting v

[2018-04-25 16:06] ccclxv opened #327 "Broken file in Ru-version (some codes seems to be missing)"
Go to https://docs.microsoft.com/ru-ru/aspnet/core/tutorials/razor-pages-vsc/model#comments-container

Добавление класса контекста для базы данных
Добавьте следующий производный класс DbContext с именем MovieContext.cs в папку Models: [!code-csharpMain]

This file missing:
https://docs.microsoft.com/ru-ru/aspnet/core/tutorials/razor-pages/razor-pages-start/snapshot_sample/RazorPagesMovie/Models/Mo

[2018-04-25 16:56] Powerhelmsman commented on #327
@SonjaSaltzman Can you work on this broken link?

[2018-04-25 17:00] Powerhelmsman commented on #326
@mikebk Can you provide the document link here?

[2018-04-25 17:41] cdmihai opened #328 "'*' character does not render"
Given xml elements containing the '*' character
- like `<term>arbitrary directory depth ("/**/")</term>`
- in https://github.com/aspnet/ApiDocs/blob/live/api/xml/Microsoft.Extensions.FileSystemGlobbing/Matcher.xml#L68

The rendered output does not include the '*' characters:
- like
![image](https://user-images.githubusercontent.com/2255729/39262738-1aa81274-4875-11e8-9fe6-66cf941d3d24.png)
- in ht

[2018-04-25 20:35] SonjaSaltzman commented on #327
@nokura could you please check & fix? thanks!

[2018-04-25 21:46] DonPick opened #329 "Office previous versions content links, omits OFF2013/OFF2010/OFF2007"
# Idea Title

Add links to docs, for the old TN library content please

## Issue Details

https://technet.microsoft.com/en-us/library/ee460874.aspx

Older Office versions are documented at TNlib.
Current OFF2016 deployment guidance documentation, is and always has been sadly lacking in technical detail eg OCT and customization, which is fortunately covered in excellent detail in OFF2013 docs, and

[2018-04-25 21:49] Powerhelmsman commented on #329
@DonPick Can you provide the docs site page link you refer to?

[2018-04-25 22:10] DonPick commented on #329
I have added links within the issue body :)
The most logical navigational flow I can imagine, is that a visit to;
/DeployOffice/  does not offer a tip/link towards TNlib content for OFF2013.
The /previous-versions/ link in the page footer takes us to very old content but misses pointing us to TNlib for the recently-old content.

[2018-04-25 22:38] Powerhelmsman commented on #329
@jwhit-MSFT Can you provide support this feedback? Or do you know who is right contact for office deploy?

[2018-04-26 03:19] georgeanoop opened #330 "deploy docs.microsoft.com inside the enterprise"
# deploy docs document management system for internal documentation  inside the enterprise

## Issue Details
I would like to deploy docs.microsoft.com equivalent inside the enterprise for internal documentation.  is that possible?

[2018-04-26 05:46] #308 closed

[2018-04-26 05:48] Powerhelmsman commented on #325
close as duplicate with #326

[2018-04-26 05:48] #325 closed

[2018-04-26 05:50] Powerhelmsman commented on #323
@nbkawa-sh I file a internal bug to track it. Will post you the status later.

[2018-04-26 05:53] Powerhelmsman commented on #328
@dend Can you take a look at this

[2018-04-26 05:54] Powerhelmsman commented on #320
@SonjaSaltzman Can you take a look?

[2018-04-26 05:57] Powerhelmsman commented on #321
@ShevaDas Can you follow up with UI designer?

[2018-04-26 05:58] Powerhelmsman commented on #324
@SonjaSaltzman Can you take a look at this?

[2018-04-26 07:36] ccclxv commented on #327
missing folder snapshot_sample

[2018-04-26 11:13] ognyandim opened #331 "API browser page looks unresponsive when the search is slower than a second or so."
# Idea Title

Some kind of progress indicator should be placed at the [API browser page](https://docs.microsoft.com/en-us/dotnet/api) because it looks like the site is unresponsive during search.

## Issue Details

I type for IComparer<T>, press Enter and there are 1-2 seconds in which nothing moves - Looks like the site is unresponsive.

If the result is delayed by more than 0,5 seconds then a pr

[2018-04-26 12:14] ccclxv opened #332 "fix example code for razor-pages-vsc"
Go to https://docs.microsoft.com/ru-ru/aspnet/core/tutorials/razor-pages-vsc/sql
code-csharp on this page for "MvcMovie", need for "RazorPagesMovie"

[2018-04-26 12:32] fullers opened #333 "Document shows a 404"
# Idea Title

The document https://docs.microsoft.com/en-us/azure/multi-factor-authentication/multi-factor-authentication is not showing up.  We were referencing this document for more technical details about multi-factor authentication.  Currently, I have not found a better document to replace the link.

## Issue Details

Can you either restore this document or point me in the direction of the ne

[2018-04-26 12:43] fullers commented on #333
I found this document https://docs.microsoft.com/en-us/azure/active-directory/authentication/multi-factor-authentication.

[2018-04-26 13:03] sandersaares opened #334 ".NET API Browser shows nothing for "Socket class" as input"
I want to find documentation of the Socket class, so I type "Socket class" into the search with .NET Core 2.0 selected as the filter: https://docs.microsoft.com/en-us/dotnet/api/?view=netcore-2.0&term=Socket%20class

Expected result: Socket class documentation is referenced.

Actual result: "No results"

[2018-04-26 15:26] SonjaSaltzman commented on #320
@nokura Nobuko, could you please check and fix? Maybe outdated topic?

[2018-04-26 15:30] SonjaSaltzman commented on #324
@Androniq I believe you have your language picker (cookie) set to Russian, and as we do not support Ukrainian localization at this point, it falls back to Russian.  Example: I have selected German with the language picker (bottom left of page) and when I click the link it goes to the German page.  If you do not like the machine translation, you can also quickly switch to English text by clicking t

[2018-04-26 15:53] Powerhelmsman commented on #332
@SonjaSaltzman Can you work on this? En-us version is RazorPagesMovie

[2018-04-26 15:55] Powerhelmsman commented on #333
@fullers Where did you find the first link, by search, or somewhere else?

[2018-04-26 15:56] SonjaSaltzman commented on #332
@nokura Nobuko, can you please have this fixed?
@v-jacard FYI

[2018-04-26 15:57] Powerhelmsman commented on #334
@dend Can you follow up?

[2018-04-26 16:25] fullers commented on #333
@Powerhelmsman I found the first link by a google search.  Same for the second link.

[2018-04-26 16:34] Powerhelmsman commented on #333
@tysonn Did this link https://docs.microsoft.com/en-us/azure/multi-factor-authentication/multi-factor-authentication retired? It is broken now.

[2018-04-26 22:11] jwhit-MSFT commented on #329
Adding @DHB-MSFT , who's working on an update for this issue.

[2018-04-27 05:48] yang131323 opened #335 "viusal studio code"
#vs code

The latest version of the vs code often stuck, burst memory

[2018-04-27 07:32] #335 closed

[2018-04-27 17:01] bombledmonk opened #336 "Floating horizontal scrollbar for tables and content that is too wide"
# Idea Title

Floating horizontal scrollbar for tables and content that is too wide.

## Issue Details

It's nice to be able to scroll tables, but per [this blog post](https://docs.microsoft.com/en-us/teamblog/release-notes-march-2018#scrolling-tables), having to vertical scroll down to the bottom of the table to horizontal scroll is cumbersome, especially when you lose the headers.  Something sim

[2018-04-27 20:36] mydiemho opened #337 "Documentation for linking a work item to pull request is gone"
# Documentation for linking a work item to pull request is gone

In the [old documentation](https://www.visualstudio.com/en-us/docs/integrate/api/git/pull-requests/work-items#adding-a-work-item-link
), there used to a page for linking a work item to pull request, now the link just reroute to the [top git level page](https://docs.microsoft.com/en-us/rest/api/vsts/git/#adding-a-work-item-link).

##

[2018-04-27 21:48] Powerhelmsman commented on #336
@ShevaDas Can you follow up this suggestion?

[2018-04-27 21:51] Powerhelmsman commented on #337
@hellosnow Can you take a look to see if it is by design?

[2018-04-27 21:52] AnandGanesh7 opened #338 "FONT COLOR IN DARK THEME IS HARD TO SEE"
![bad_ui](https://user-images.githubusercontent.com/10592892/39386649-7767faa4-4a2a-11e8-9977-4c39907ad10b.PNG)

The font of text in dark theme doesn't contrast with background and is hard to see

[2018-04-27 21:55] Powerhelmsman commented on #338
@ShevaDas Please follow up with UI designer.

[2018-04-28 00:28] dend commented on #337
This feels like a @erickson-doug ask 😄

[2018-04-28 00:33] dend commented on #334
Hi @sandersaares - this is actually by design. The .NET API Browser acts as the "IntelliSense in the browser", so we can't _yet_ identify types (e.g. class, like you specified above). If you just use the term `Socket` (like you would in, say, Visual Studio), it will show you the right results.

[2018-04-28 00:33] #334 closed

[2018-04-28 00:35] dend commented on #333
Assigning this to @MicrosoftGuyJFlo

[2018-04-28 00:36] dend commented on #331
Thanks for the suggestion, @ognyandim - adding this to the backlog.

[2018-04-28 00:37] dend commented on #330
Hi @georgeanoop - while you cannot deploy the entire docs.microsoft.com infrastructure, you can leverage the same components that we use and that are open-source.

See: [DocFX](https://dotnet.github.io/docfx/)

[2018-04-28 00:37] #330 closed

[2018-04-28 00:39] dend commented on #328
@joelmartinez is this something that we need to encode when we generate the ECMAXML?

[2018-04-28 00:40] dend commented on #326
@Rick-Anderson @danroth27 can you please help with this ask?

[2018-04-28 00:41] dend commented on #323
Adding @Khairunj who can follow-up on this issue.

[2018-04-28 00:47] dend commented on #322
Hello! Unfortunately, we can't help you with this issue in this forum, as we can only triage docs.microsoft.com-related issues. We recommend starting with [this forum](https://social.msdn.microsoft.com/Forums/sqlserver/en-US/home?forum=sqlintegrationservices) to help address the question.

[2018-04-28 00:47] #322 closed

[2018-04-28 00:51] MicrosoftGuyJFlo commented on #333
Resolved this 404 issue earlier today when I noticed it with https://github.com/MicrosoftDocs/azure-docs-pr/pull/39339

[2018-04-28 00:51] dend commented on #319
This seems like a content vs. engineering question, so @erickson-doug would be the best contact to start with.

[2018-04-28 00:52] dend commented on #333
@MicrosoftGuyJFlo please let us know once the fix is live, so we can close this.

[2018-04-28 00:57] joelmartinez commented on #328
@dend if I’m understanding this ... the issue is stemming from the fact that this content is being translated by ecma2yaml from ecmaxml content into markdown ... so markdown considers the`*` as formatting. The same issue, for example, wouldn’t occur if the `term` was rendered by mdoc’s html renderer.

This feels like ecma2yaml should process the text content of XML nodes to encode characters that

[2018-04-28 01:16] dend commented on #328
@joelmartinez ah, good point.

@TianqiZhang - seems like something we will need to address with ECMA2YAML.

[2018-04-28 01:17] dend commented on #318
@QuantumWriter @tcNickolas do you have any insights here?

[2018-04-28 01:24] dend commented on #304
Hey @ahainen - thanks for the feedback! Unfortunately, this doesn't relate to docs.microsoft.com, therefore we cannot address it. Please open a feedback item here: https://visualstudio.uservoice.com/forums/330519-team-services

[2018-04-28 01:24] #304 closed

[2018-04-28 01:33] Rick-Anderson commented on #326
@mikebk  is [this the doc](https://msdn.microsoft.com/en-us/library/system.web.ui.webcontrols.treenode.text(v=vs.110).aspx)

@dend  I'm not familiar with `System.Web` but @danroth27 might know who is.

[2018-04-28 01:42] Rick-Anderson commented on #266
@Powerhelmsman  can you close this?

[2018-04-29 17:12] #266 closed

[2018-04-29 17:13] dend commented on #3
@TaraMeyer this issue is still there in IE.

[2018-04-30 05:49] sandersaares commented on #334
Well that's a rather poor design then - consider this feedback on improving the design.

[2018-04-30 16:26] DHB-MSFT commented on #329
The deployment content for Office 2013, Office 2010, and Office 2007 that's currently on TechNet is in the process of being migrated over to https://docs.microsoft.com. Once it's migrated over, links to it will appear on the Previous Versions page. The content is likely to be there before the end of May.

[2018-04-30 16:28] Powerhelmsman commented on #329
@DonPick Thanks for your feedback. As DHB-MSFT said that the deployment content for Office 2013, Office 2010, and Office 2007 will be migrated to Docs site soon.

[2018-04-30 16:29] #329 closed

[2018-04-30 18:53] ShevaDas commented on #338
@AnandGanesh7 could you please provide a link to the page you're seeing this on?

[2018-04-30 20:10] dend commented on #301
@amarzavery - can you help route this request, please?

[2018-04-30 20:31] amarzavery commented on #301
Hi Sateesh,

I don't know your github id hence I am sending an email. Please take a look at this documentation issue for notfication hubs.

@Den Delimarschi<mailto:dendeli@microsoft.com>,

Sateesh is the engineering manager for NH and should be able to help with this issue.

Thanks,
Amar Zavery
________________________________
From: Den Delimarsky <notifications@github.com>
Sent: Monday, April 30,

[2018-04-30 20:43] dend commented on #334
@sandersaares The `Socket` class is the third in the list:

![image](https://user-images.githubusercontent.com/1389609/39449247-60ebc428-4c7c-11e8-8c9d-84b5b31623f4.png)

That said, we are working on improving this experience with some extra functionality. Stay tuned!

[2018-04-30 21:23] BillWagner opened #340 "C# interactive tutorials step-advancement doesn't scroll to top"
Go to any of the [C# QuickStarts](https://docs.microsoft.com/en-us/dotnet/csharp/quick-starts/index)

On step 1 of a quick start, scroll to the bottom. Click the next step in the left navigation. The page advances, but the scroll position stays the same. You're not at the top of the page, but rather part way through the content.

[2018-04-30 21:26] Powerhelmsman commented on #340
@yunyunyunyun Can you follow up with this issue?

[2018-05-01 18:26] MicrosoftGuyJFlo commented on #333
This is resolved #please-close

[2018-05-01 19:54] #333 closed

[2018-05-01 20:37] covelloz opened #341 "SQL Server Driver for Linux (Ubuntu 16.04 Xenial) Mirror is DOWN"
The following repository mirror that gets added to sources.list is currently down:

https://packages.microsoft.com/config/ubuntu/16.04/prod.list
https://packages.microsoft.com/ubuntu/16.04/prod/pool/main/m/msodbcsql/

**OS:** Ubuntu 16.04 LTS (Xenial)
**Driver:** Microsoft ODBC Driver 13 for SQL Server

**SQL SERVER DRIVE FOR LINUX DOCUMENTATION PAGE:**
https://docs.microsoft.com/en-us/sql/connect

[2018-05-01 20:44] Powerhelmsman commented on #341
@Gene Milener @craigg-msft Can you fix it?

[2018-05-01 21:03] MightyPen commented on #341
@David-Engel David, can you please take a look at this Issue 341?

[2018-05-01 21:38] MightyPen commented on #341
https://icm.ad.msft.net/imp/v3/incidents/details/67755913/home
(Tracked further at this IcM link.)

[2018-05-01 21:57] covelloz commented on #341
Thanks, confirming that the issue has been fixed! Feel free to close issue. Thanks for the fast response time!

[2018-05-01 21:58] #341 closed

[2018-05-01 22:03] covelloz commented on #341
Sorry, while the mirror is back up online... I'm noticing some packages are missing:

[code]

[2018-05-01 22:25] covelloz commented on #341
@David-Engel Noted thanks! I'll wait it out.

[2018-05-02 19:43] eljacobsen12 opened #342 "Cannot Find-Module GroupPolicy"
# BUG: Cannot Find-Module GroupPolicy

PowerShell. Unable to Find-Module, Install-Module GroupPolicy. No match was found.

## Issue Details

Trying to find and install the GroupPolicy module on PSGallery and am unable to. Tried to manually find it on the site and it was also missing. Need these cmdlets asap. Tried this from multiple PCs and servers. RSAT are installed and windows features are enab

[2018-05-02 19:51] Powerhelmsman commented on #342
@eljacobsen12 Can you provide the page link you refer to?

[2018-05-02 23:49] ShevaDas commented on #321
@geskill thanks for the feedback! Rest assured we do have guidelines for creating images in place—if you see documentation that doesn't have what you feel are usable images, please feel free to open an issue on that piece of content. For images not appearing clearly when using the dark theme, our UI team is investigating the best solution. I'll follow up here once we have something in place.

[2018-05-03 01:14] kiewic opened #343 "All examples at rest/api/vsts/git/pull%20requests/get%20pull%20requests look the same"
# The three examples in the VSTS Pull Requests REST API look the same

The three examples look like this:

![image](https://user-images.githubusercontent.com/874134/39556309-523dbbb6-4e34-11e8-8ea0-85773c7a6403.png)

## Issue Details

I think the *Sample Requests* should be different to accomplish the different examples:

1. Just completed pull requests
2. Pull requests by repository
3. Targeting

[2018-05-03 08:54] magnusseptim opened #344 "Easy way to switch to original (English) language site"
It will be nice to give Doc readers possibility to original (English) language site

#How I see it?

Button on the right side of page whitch switch language of page (explanation in attachment) is not enough.
It just translate content of the page, but stay untouched rest of it (left side "legend" as example.)

I would like to see that this button (or the next one nearby) will allow me to see origin

[2018-05-03 15:24] icaropn opened #345 "Almost can't read the Title of this page (yellow background with gray text)"
Problem:
The contrast of those colors (bg x text color) isn't so good.

![image](https://user-images.githubusercontent.com/6773308/39586159-6fcba7a2-4ec4-11e8-983f-82f9fd0bed0b.png)

[2018-05-03 18:27] dend commented on #345
Duplicate of #338

[2018-05-03 18:27] #345 closed

[2018-05-03 18:28] dend commented on #344
@SonjaSaltzman can you please take a look?

[2018-05-03 18:29] dend commented on #343
@erickson-doug @hellosnow can you please take a look?

[2018-05-03 18:34] dend commented on #295
@cheong00 is this related to the removal of the KB article from support.microsoft.com?

[2018-05-03 18:36] dend commented on #292
@JoniLoponen looking at the reference page, it says it was updated at the very top on 4/10. We will make sure to be more diligent about tracking updated dates, so if you see any specific pages that have had a major overhaul but did not have the updated date modified, please let us know and we will make sure to address that as soon as possible.

[2018-05-03 18:36] #292 closed

[2018-05-03 18:37] dend commented on #281
Closing as this is not related to docs.microsoft.com.

[2018-05-03 18:37] #281 closed

[2018-05-03 18:39] dend commented on #279
@steviehutch given that this is not related to docs.microsoft.com, we cannot address this question in this forum. I recommend you start with [Windows Developer Support](https://developer.microsoft.com/en-us/windows/support).

[2018-05-03 18:39] #279 closed

[2018-05-03 18:41] dend commented on #277
@EdwinIZ8 unfortunately, we cannot address this feedback in this forum as it does not relate to docs.microsoft.com - we recommend you reach out to [Windows Developer Support](https://developer.microsoft.com/en-us/windows/support).

[2018-05-03 18:41] #277 closed

[2018-05-03 18:41] dend commented on #273
@erickson-doug can you help address this?

[2018-05-03 18:41] #270 closed

[2018-05-03 18:42] dend commented on #269
@ghogen @mikeblome - can you please take a look?

[2018-05-03 18:43] dend commented on #264
@emolenev can you comment on what is wrong with the file, and whether you can still reproduce the issue?

[2018-05-03 18:44] dend commented on #263
@dastaffo can you please follow-up on this item?

[2018-05-03 18:44] dend commented on #260
Ping @kevinyr @mijacobs

[2018-05-03 18:45] dend commented on #257
Thanks for the feedback, @arbitraryuser - the pages have now been moved to docs.microsoft.com.

[2018-05-03 18:45] #257 closed

[2018-05-03 19:30] mikeblome commented on #269
Fixed. Thanks @binarycrusader !

[2018-05-03 20:26] dend commented on #248
Given that this item is a `wont-fix` I am resolving it as such. @ShevaDas @Mike-EEE

[2018-05-03 20:26] #248 closed

[2018-05-03 20:36] dend commented on #251
Assigning to @yunyunyunyun as the PM driving interactive.

[2018-05-03 20:40] dend commented on #246
Ping @gregvanl @ghogen

[2018-05-03 20:45] dend commented on #243
Ping @pvlakshm

[2018-05-03 20:49] dend commented on #241
@spectecjr @mijacobs @Powerhelmsman I am going to close this particular issue given that it was resolved. For new feature requests - please open a new item 😄

[2018-05-03 20:49] #241 closed

[2018-05-03 20:51] dend commented on #240
We have since made the switch to use the .NET way of grouping things for UWP APIs, so this is now fixed!

[2018-05-03 20:51] #240 closed

[2018-05-03 20:51] dend commented on #238
Ping @vs5597 - do you happen to have the link handy?

[2018-05-03 20:52] dend commented on #237
Ping @manojpenzlar5 - can you clarify where the issue was present?

[2018-05-03 20:53] dend commented on #234
@mimig1 - any updates on this item?

[2018-05-03 20:56] dend commented on #233
Closing this as `wont-fix` for now.

[2018-05-03 20:56] #233 closed

[2018-05-03 20:57] dend commented on #230
This has been implemented.

[2018-05-03 20:57] #230 closed

[2018-05-03 20:58] dend commented on #228
@presleyy any updates on this item?

[2018-05-03 20:58] mairaw commented on #231
@BillWagner is thinking about some improvements for the C# async await docs. He would be the best person to answer this.

[2018-05-03 21:01] dend commented on #227
This seems to be working correctly now. @mairaw @cartermp

[2018-05-03 21:01] #227 closed

[2018-05-03 21:04] dend commented on #221
@cillroy any updates on this request?

[2018-05-03 21:07] mairaw commented on #227
Content is still covered by the nav bar:
![image](https://user-images.githubusercontent.com/12971179/39602827-385e0aaa-4edb-11e8-81d6-31db0ef23c2d.png)

![image](https://user-images.githubusercontent.com/12971179/39602844-42c234ee-4edb-11e8-9409-ddf32643a2a9.png)

I'm afraid that we might have to rewrite the content to have it looked differently.

[2018-05-03 21:09] dend commented on #216
Assigning to @dastaffo as the PM driving PDF.

[2018-05-03 21:10] dend commented on #215
@yunyunyunyun can you follow-up?

[2018-05-03 21:10] dend commented on #214
@yunyunyunyun can you follow-up?

[2018-05-03 21:13] dend commented on #184
@dastaffo please follow-up on this request.

[2018-05-03 21:13] #185 closed

[2018-05-03 21:14] dend commented on #187
@tysonn who should tackle this item?

[2018-05-03 21:17] dend commented on #188
Closing as `wont-fix`.

[2018-05-03 21:17] #188 closed

[2018-05-03 21:18] dend commented on #189
@aczechowski any updates on this item?

[2018-05-03 21:19] #190 closed

[2018-05-03 21:24] #180 closed, assigned to nobody

[2018-05-03 21:25] dend commented on #179
Closing as `wont-fix` - articles are already in a variety of at-rest formats, available in GitHub repos.

[2018-05-03 21:25] #179 closed

[2018-05-03 21:26] dend commented on #176
@sharriexie probably something in your domain.

[2018-05-03 21:33] mimig1 commented on #234
@dend - Sorry, this slipped off my plate. I can fix this on Mon after the docs open up again after build.

[2018-05-03 21:58] dend commented on #162
@tfitzmac was there any progress on this item?

[2018-05-03 22:02] dend commented on #163
@ShevaDas can you take a look at this issue?

[2018-05-03 22:03] dend commented on #166
@tfitzmac something your team can address?

[2018-05-03 22:04] dend commented on #172
Closing as this is not something our team will be building at this point.

[2018-05-03 22:04] #172 closed

[2018-05-03 22:06] aczechowski commented on #189
I can't speak for Intune, but for SCCM and hybrid content we *often* note this, as long as there is some delta for a supported versions. For a new feature, we'll say "starting in version 1802...". But then with the release of 1802, we started to remove such statements for 1702 and earlier releases. I can't say it happens in *every* instance, though. So my suggestion is to close this issue, as it's

[2018-05-03 22:17] ShevaDas commented on #163
Thanks for the feedback! I tried changing my Windows background color and wasn't able to reproduce this bug. I also looked at the CSS and it does appear to explicitly have the white background on the Filter box set. Closing this out for now as I can't repro it—feel free to leave a comment with more information if you want me to take another look.

[2018-05-03 22:17] #163 closed

[2018-05-03 22:25] v-bigrab commented on #250
The URL has been updated and the issue has been resolved. The correct url is:
https://webpifeed.blob.core.windows.net/webpifeed/eula/aspnetcomponent_rtw_ENU.htm

[2018-05-03 22:35] mairaw commented on #256
nope @dend. I'll manually copy then.

[2018-05-03 22:37] mairaw commented on #256
Moved to https://github.com/dotnet/docs/issues/5158. You can close this one.

[2018-05-03 22:38] KumarVivek commented on #258
@Saikes Yes, I can repro the issue; have reached out to the feature team to get this investigated. We will update the docs as and if required. Thanks for reporting this.

[2018-05-03 23:14] ShevaDas commented on #336
@bombledmonk thanks for the feedback! If you have a trackpad, you should be able to horizontally scroll from anywhere in the table right now. For non-trackpad users, I've filed an issue in our internal work tracker to add horizontal floating scrollbars and will follow up here when it's completed.

[2018-05-03 23:29] ginami commented on #259
@laurenhughes, can you please respond to this? Thanks!

[2018-05-03 23:40] binarycrusader commented on #269
How long before the change shows up on docs.microsoft.com?

[2018-05-04 00:31] KumarVivek commented on #258
@Saikes I confirmed and this is a bug with the web client. The JavaScript method should return the same result irrespective of the client. You can report this bug at [https://experience.dynamics.com/ideas/](https://experience.dynamics.com/ideas/).
No doc update is required for this issue, and the issue can be closed.
cc: @Powerhelmsman @dend

[2018-05-04 00:32] barlanmsft commented on #340
@asajohnson @markjulmar heads up

[2018-05-04 00:33] #258 closed

[2018-05-04 00:47] SonjaSaltzman commented on #344
@magnusseptim Hi, if you want to see everything in English (the content, table of contents, and the site itself), you can use the language picker at the bottom right side of the site to switch to English.  This will set a cookie on your computer so the next time it will come up in English.  Please let me know if that addresses your issue?

[2018-05-04 04:53] mairaw commented on #344
I think it was @jdanyow that once posted a mock-up in one of the issues of a screen that would allow the user to very quickly navigate to the English version. The button was on the top nav bar. I really liked that solution.

Given that Google will always bring their default locale as a result, we need to make it easier for customers to navigate to the English version of the site, not just the arti

[2018-05-04 09:05] paololec opened #346 "OOS update unsure procedure"
# Idea Title
Unsure procedure for security update for Microsoft Office Online Server (example: KB4011023)

## Issue Details

Doc report: "Applying Office Online Server updates or new versions by using the automatic updates process isn't supported with Office Online Server. This is because updates to an Office Online Server must be applied in a specific way, as described in this article"

But on Wi

[2018-05-04 14:59] magnusseptim commented on #344
Ok,

Short story:
First of all, thanks for quick response. It is nice!
Second, @mairaw suggestion sound nice, I would like to see something like this.

A little bit longer :
At last, @SonjaSaltzman Im not sure that we think about same think.
If we take sample MS Doc page ex : https://docs.microsoft.com/pl-pl/aspnet/core/tutorials/first-mvc-app/, at the bottom of the screen Im seeing something like

[2018-05-04 16:15] SonjaSaltzman commented on #344
@magnusseptim Thank you for your feedback!  Having the language picker at the bottom left of the page is a Microsoft standard, and we wanted to give customers a standard experience across all of the sites.  But I understand it is hard to find and may be cumbersome. The existing toggle for switching to English is meant for customers who want to stay in the localized site, but may not like a certain

[2018-05-04 18:39] mikeblome commented on #269
It's up there now. Thanks again!

[2018-05-04 20:00] binarycrusader commented on #269
It’s now fixed, thanks.

[2018-05-04 20:00] #269 closed

[2018-05-04 21:25] ShawnDigital opened #347 "Unable to filter by .Net Framework"
# Unable to filter by .Net Framework

Not sure if this is a bug or just an unpleasant UX, but I am unable to properly filter by .Net framework version to see what or if a given type or member is available which seems the likely purpose of browsing a specific api/class version through the tree.

Reproduction:
1. I have netstandard 1.3 selected in the drop down.
2. In the navigation tree I see Envir

[2018-05-04 21:28] kiewic opened #348 "Where is the documentation for VSTS REST API 3.0?"
# How to find previous version of VSTS REST API

Recently the VSTS REST API docs were updated to version 4.1, for example: https://docs.microsoft.com/en-us/rest/api/vsts/git/pull%20requests/get%20pull%20requests

Where can I find the version 3.0? I have clicked in the [Previous Version Docs](https://docs.microsoft.com/en-us/previous-versions/) link in the button of the page, but I cannot find the

[2018-05-05 01:40] thedanfernandez commented on #347
@dend Can you take a look?

[2018-05-05 09:12] magnusseptim commented on #344
Thanks for answer. I understand the reasons but will be glad if any changes had to come.

[2018-05-05 15:42] AnandGanesh7 commented on #338
https://docs.microsoft.com/en-us/azure/#pivot=products&panel=all

I have a site-wide setting that enables the dark theme automatically for this page. Viewing the above page with the dark theme causes this.

[2018-05-06 05:02] Neo-Turak opened #349 "where is the property of TextBox.BackStyle"
# Idea Title

There is a very usefull property in VB6 of a textBox, backStyle. just for set transparent .
but I did not find in VB Net framework 4.5-4.7
I tried to use BackColor=transparent, but not allow to use transparent for TextBox

## Issue Details
Can someone explain why the property deleted from VB Net framework? or replaced by another property?

[2018-05-06 18:15] #344 closed

[2018-05-06 18:47] Neo-Turak commented on #349
I did not find the website which  I refereed, but there is another same issue,
ComboBox.IsEditable, this is https://docs.microsoft.com/zh-cn/dotnet/api/system.windows.controls.combobox.iseditable?view=netframework-4.7#System_Windows_Controls_ComboBox_IsEditable
but I did not find in VS2017, under 3.5 to 4.7 framework...

[2018-05-06 18:51] Powerhelmsman commented on #349
@mairaw Can you take a look at this issue?

[2018-05-07 01:36] presleyy commented on #228
@dend the [bug](https://mseng.visualstudio.com/CSI/_workitems/edit/1220335) still in active status. Will double check the fixing progress and reply here.

[2018-05-07 05:41] nitin-kau opened #350 "Where is the documentation for "Widows defender" chrome extension?"
I would like to see test the extension thoroughly before using it. I would like to know if there is a web API which I can use to get the results.

[2018-05-07 14:15] wnjenkin commented on #348
Older versions of our rest apis can be found here https://docs.microsoft.com/en-us/vsts/integrate/legacy-apis/overview?view=vsts .

[2018-05-07 16:31] #348 closed

[2018-05-07 21:30] mimig1 commented on #234
Fixed in this PR https://github.com/MicrosoftDocs/azure-docs-pr/pull/40510 should be live later today.

[2018-05-07 23:28] SonjaSaltzman commented on #327
@v-jacard @nokura could you please follow up?

[2018-05-07 23:29] SonjaSaltzman commented on #324
@swgupt - could you please follow up on this?

[2018-05-08 01:26] dend commented on #347
@HiGravity thanks for the feedback! What would be your expectation with the page? Since the API is not available in .NET Standard and we don't yet have information on alternative APIs.

[2018-05-08 01:28] dend commented on #346
@SerdarSoysal @dstrome can you take a look, please?

[2018-05-08 01:29] dend commented on #340
Ping @yunyunyunyun

[2018-05-08 01:30] #256 closed

[2018-05-08 01:30] #250 closed

[2018-05-08 01:31] #189 closed

[2018-05-08 01:32] dend commented on #341
The packages should now be available! @covelloz

[2018-05-08 05:31] SerdarSoysal commented on #346
This should really go to @MikePlumleyMSFT .

[2018-05-08 05:39] nitin-kau commented on #350
I wanted to test the Windows DefenderBrowser Protection extension given by Microsoft for Google Chrome. The extension provides a facility to know if the website you are visiting is malicious or not.  I wanted to know if there is an API by using which I can know if a particular website is malicious or not. I wanted to test the extension on a big set of urls.

[2018-05-08 06:16] mairaw opened #351 "field sorting"
Original GitHub issue https://github.com/dotnet/docs/issues/5218 by @mefasoft

It will be better if field section can be sorted by enum value.

* Content: [TypeCode Enum (System)](https://docs.microsoft.com/en-us/dotnet/api/system.typecode?view=netframework-4.7.2)

[2018-05-08 06:18] mairaw commented on #351
I'm wondering if we even should display that column at all. Thoughts @rpetrusha @BillWagner?

[2018-05-08 07:55] mairaw commented on #222
Another case where the wrong interfaces are displayed @dend
https://github.com/dotnet/docs/issues/5203

[2018-05-08 11:11] marketresearchru opened #352 "mrsdeploy package"
Microsoft web site doesn't contain any idea on where and how to install mrsdeploy package for R-Azure connection.
There is no such package at the CRAN repository, and Microsoft doesn't have it's own. GitHub also returns nothing if search here.

[2018-05-08 14:05] MikePlumleyMSFT commented on #346
Please assign to @lorenahuangliu .

[2018-05-08 14:18] Cerlancism opened #353 "Spelling issue on Visual Studio Documentation Worksloads"
Node js is described [here](https://docs.microsoft.com/en-us/visualstudio/#pivot=workloads&panel=web )  as "Build scalable network applications using Node.js, an **asnchronous**, event-driven JavaScript runtime."

Is **asnchronous** a new term or a spelling issue of **asynchronous**?

[2018-05-08 15:27] rpetrusha commented on #351
MSDN didn't display underlying enumeration values, and our previous approach to documenting enumeration members was to manually document enumeration values only if there was a compelling reason to do so (like you'd want to pass the value as an argument to some other method). In most cases, the enumeration member name is intended to be an abstraction that allows you to ignore the underlying value.

[2018-05-08 15:37] Powerhelmsman commented on #353
@erickson-doug Can your team fix it?

[2018-05-08 16:00] BillWagner commented on #351
I spent some time thinking about when I needed or wanted the enum values in a code base.  It came down to a couple scenarios:

1. When the Enum is a bit field, and I need to determine values in the debugger.
1. When an enum is cast to or from a numeric value and the semantic info about the enum was lost (databases, REST packets, and so on)

Neither of those are mainline scenarios, so I agree with

[2018-05-08 16:27] ahoefling opened #354 "VSTS API Comments Sample Response Out of Date"
# VSTS API Comments Sample Response Out of Date

The preview VSTS API for retrieving Comments Sample Response is out of date with what the server is actually returning.

[VSTS Comments API](https://docs.microsoft.com/en-us/rest/api/vsts/wit/comments/get%20comments?view=vsts-rest-4.1)

## Issue Details

Current Documentation
[code]

[code]

Current Response Object from VSTS API
[code]

In the actua

[2018-05-08 17:35] JaredShaver opened #355 "2018 Security Advisories Missing"
The Security Advisories for 2018 are missing from https://docs.microsoft.com/en-us/security-updates/SecurityAdvisories/securityadvisories

An advisory was published on May 8, 2018 links to https://docs.microsoft.com but it is a 404.

Text of advisory email:

********************************************************************
Title: Microsoft Security Advisory Notification
Issued: May 8, 2018
****

[2018-05-08 17:47] Powerhelmsman commented on #354
@wnjenkin Can you take a look at this?

[2018-05-08 17:56] Powerhelmsman commented on #355
@BetaFred Can you take a look at this issue?

[2018-05-08 18:17] wnjenkin commented on #354
Thanks for raising this issue. We'll take a look into it right away.

@joserady can you take a look into this issue?

[2018-05-08 20:57] joserady commented on #354
I'll have our team take a look at this. @ahoefling thanks for reporting!

[2018-05-08 21:53] tcNickolas commented on #318
@RexPersicus This sounds like Quantum Development Kit didn't get installed after all. It is possible to build and execute existing projects without the extension. Do you have syntax highlight in .qs files? It is another indication of whether the extension was installed successfully.

[2018-05-08 22:44] dend commented on #355
@v-hearya can you please take a look at this issue?

[2018-05-08 23:40] RexPersicus commented on #318
@tcNickolas as I mentioned, I can run the test Q# project with no issues and get the expected results. Q# kit is installed but somehow it does not show under Visual Studio as a new project type. My guess is somehow Anaconda that I have installed is interfering with its showing in Visual Studio, since my friend who has a similar machine and OS can see it listed and the only difference between our m

[2018-05-09 02:05] HiGravity commented on #347
Ideally if I select 1.3, I'd expect to see only the 1.3 api in the navigation tree so all the others points become moot.
If someone was trying to find out where a given class is then they likely are searching by name not browsing the tree and it would be better to implement an 'All Available APIs' option in the drop down for this purpose or maybe a checkbox by the search box to include all APIs. T

[2018-05-09 16:17] nokura commented on #320
@BreakEnder233 Thank you for your feedback. We are localizing the latest English files and estimated date of  publishing is 5/16. This should solve the issue. I will come back and check after 5/16.

[2018-05-10 15:37] HowardEdidin opened #356 "https://docs.microsoft.com/en-us/javascript/api/location-based-services-javascript?view=azure-iot-typescript-latest"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2018-05-10 15:44] HowardEdidin opened #357 "Azure IoT Hub TypeScript SDK"
**Describe the bug**
A clear and concise description of what the bug is.

Does not exist on Github

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.
![2018-05-10_10-44-20](https://user-images.githubusercontent.com/19954905/39878926-276ee9bc

[2018-05-10 16:34] v-jacard commented on #327
@ccclxv, cc @nokura, @SonjaSaltzman,
Thank you for reporting this issue.
We found the root cause in en-us source text.
We are currently localizing the fixed source files and ETA for fix to be live is Tue May 15th, 2018.

[2018-05-10 16:49] dend commented on #357
Hi @HowardEdidin - what is the concrete issue? You might be looking for the SDK here: https://github.com/Azure/azure-iot-sdk-node/tree/master/service

[2018-05-10 16:52] dend commented on #356
Thanks for bringing this up to our attention, @HowardEdidin - working on getting this resolved.

[2018-05-10 16:56] dend commented on #351
Chiming in here - in the spirit of having comprehensive documentation, that's something that was previously asked by the Windows team and by customers. Given that there are still useful scenarios that the value might be relevant for, I suggest for the time being we `wont-fix` this and keep the current alpha ordering, as well as the values.

[2018-05-10 16:57] HowardEdidin commented on #357
I am trying to use the IoT Map Service
The sample https://github.com/Azure-Samples/azure-maps-samples/blob/master/src/interactiveSearch.html doesn't exist. from https://docs.microsoft.com/en-us/azure/azure-maps/quick-demo-map-app

The azure-iot-sdk-node does not contain the Typescript sdk.

[2018-05-10 16:59] dend commented on #350
@nitin-kau I don't believe the team has made any documentation available for that tool, and there are no public announcements about the API.

[2018-05-10 16:59] #350 closed

[2018-05-10 17:11] Sahriyaljhee commented on #26
about the context in Which F1

[2018-05-10 17:13] Sahriyaljhee commented on #26
about the context in which f1 we called

[2018-05-10 17:23] #26 closed, assigned to dend

[2018-05-10 17:25] dend commented on #3
@TaraMeyer any updates on this item?

[2018-05-10 17:25] dend commented on #4
Closing as `wont-fix` at this time.

[2018-05-10 17:25] #4 closed

[2018-05-10 17:26] dend commented on #6
@TomArcher @craigcaseyMSFT any updates here?

[2018-05-10 17:27] dend commented on #43
Ping @mairaw @terrajobst. Also @rpetrusha @BillWagner

[2018-05-10 17:28] dend commented on #41
@mairaw @rpetrusha @BillWagner let me know what you think of this

[2018-05-10 17:29] dend commented on #40
@mschulz-msft have you had a chance to take a look at this?

[2018-05-10 17:30] #37 closed

[2018-05-10 17:32] dend commented on #35
Duplicate of #3

[2018-05-10 17:32] #35 closed

[2018-05-10 17:32] dend commented on #33
At this time, this is not the functionality we plan to offer.

[2018-05-10 17:32] #33 closed

[2018-05-10 17:33] dend commented on #29
Duplicate of #38

[2018-05-10 17:33] #29 closed

[2018-05-10 17:33] mschulz-msft commented on #40
Didn't see the previous notification. Will take a look at this.

[2018-05-10 17:34] dend commented on #32
Ping @SonjaSaltzman @Sara-Nicolini @samanthaw

[2018-05-10 17:34] dend commented on #30
Ping @TrudyHa @nickbrower @brianlic-msft

[2018-05-10 17:37] #15 closed

[2018-05-10 17:38] nitin-kau opened #358 "Smartscreen filter integration"
We would like to use the Microsoft smartscreen filters for blocking malicious domains injected to our system. Is there a way I can integrate with the filter to know if a domain is malicious or not.

[2018-05-10 17:41] craigcaseyMSFT commented on #6
@dend  -  This was fixed at one point, but since then, that team has reorged all of the DTL content. In fact, looks like the link in your original comment (https://docs.microsoft.com/en-us/azure/devtest-lab/) returns a 404 now as well.

Unfortunately, I no longer work on DTL. Please contact Ji Eun Kwon to help resolve this issue. Thanks.

[2018-05-10 18:29] rpetrusha commented on #43
@dend, I agree that the serializable attribute should appear in the syntax section. It's one of the more important attributes.

[2018-05-10 18:31] BillWagner commented on #43
I agree with @rpetrusha

However, I have one caveat (@terrajobst can provide answers)

IF a type implements `[Serializable]` in one .NET implementation, but not another, that has to be clearly spelled out for types in standard.

[2018-05-10 18:36] rpetrusha commented on #41
Each of the numeric types discuss literal assignments in a Literal Assignments section of that type's documentation; see, for example, the [Integer data type](https://docs.microsoft.com/dotnet/visual-basic/language-reference/data-types/integer-data-type). What search keywords were you using to find information on assigning a literal to an integer, @botcrane?

[2018-05-10 18:39] rpetrusha commented on #43
The comment from @BillWagner is important. Since serialization isn't defined by the .NET Standard, it's not necessarily the case that a type marked as serializable on one .NET implementation will be serializable on another. And of course on .NET Standard, the SerializableAttribute isn't applied.

[2018-05-10 18:49] mairaw commented on #41
We won't be able to get a response from @botcrane 😄. Those are the old UserVoice comments that got ported. @dend can you please close this?

[2018-05-10 18:56] rpetrusha commented on #41
Thanks; I didn't realize @botcrane was a bot, though it's pretty obvious. I agree; I think that the documentation is thorough, so the issue can be closed, @dend.

[2018-05-10 19:06] mairaw commented on #43
I don't understand why this attribute wouldn't show up. Everything should be controlled from the [filter file](https://github.com/dotnet/dotnet-api-docs/blob/master/xml/_filter.xml#L107), no? The only attribute being excluded from System is MonoTODOAttribute.

[2018-05-10 21:15] ShevaDas commented on #338
Thanks for the info! We're currently in the middle of a hub page redesign and will make sure this gets addressed.

[2018-05-10 22:51] chgennar opened #359 "Descriptions are not shown when @override tag is used"
All descriptions of properties on the following page do not display.  I believe it is because of the @override tag used in the comment block.

https://docs.microsoft.com/en-us/javascript/api/azure-maps-javascript/circlelayeroptions?view=azure-iot-typescript-latest

[2018-05-10 22:57] samanthaw commented on #32
@botcrane - the feedback section is now available for this content set

[2018-05-11 04:53] Powerhelmsman commented on #32
Feedback is enabled now. So close the issue.

[2018-05-11 04:53] #32 closed

[2018-05-11 09:23] jakrams opened #360 "Markdown inline code visualization is distracting"
The visualization of code embedded into text using backquotes is "functional" but very distracting. When you write code documentation where you need to mark a lot of words in a sentence as code, the result becomes very noisy to look at.

Here is how it looks on docs.microsoft.com:

![code-docs](https://user-images.githubusercontent.com/36191331/39916495-e7d341be-550a-11e8-9be0-b8aa0d8e6bb1.png)

T

[2018-05-11 15:39] Powerhelmsman commented on #360
@kubeaver @ShevaDas This is good suggestion. I am also distracted by inline code. Do you have any suggestion or do we have any guideline?

[2018-05-11 15:59] kgremban commented on #357
@HowardEdidin and @dend I've updated the azure-maps-samples repo and the above link does work now.

[2018-05-11 16:01] #357 closed

[2018-05-11 16:26] kubeaver commented on #360
@Powerhelmsman @ShevaDas we're planning on making some design updates to the site in the near future. The goal will be to bring it inline with other Microsoft products. We've heard this feedback before as well as the opposite feedback, and one of our designers has explored a handful of options. We'll keep this in mind as we work on updates.

[2018-05-11 16:29] dend commented on #65
#log-suggestion

[2018-05-11 16:29] botcrane commented on #65
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=20414) logged.

[2018-05-11 18:10] Powerhelmsman commented on #358
@nitin-kau This channel is for providing bug or feedback on Docs.microsoft.com. Can you provide a page you refer to?

[2018-05-11 18:38] Powerhelmsman commented on #9
#log-suggestion

[2018-05-11 18:39] Powerhelmsman commented on #9
#log-suggestion

[2018-05-11 18:39] botcrane commented on #9
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=20431) logged.

[2018-05-11 18:57] Powerhelmsman commented on #187
@sarah-barrett Please take a look to see if you can add it to metadata.

[2018-05-11 18:58] Powerhelmsman commented on #187
#log-suggestion

[2018-05-11 18:58] botcrane commented on #187
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=20432) logged.

[2018-05-11 19:00] Powerhelmsman commented on #187
#log-suggestion

[2018-05-11 19:00] botcrane commented on #187
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=20433) logged.

[2018-05-11 19:13] Powerhelmsman commented on #243
@jchesshir Your issue is transfered to visual studio team issue queue. https://github.com/MicrosoftDocs/visualstudio-docs/issues/923

[2018-05-11 19:13] #243 closed

[2018-05-11 19:16] Powerhelmsman commented on #238
@vs5597 Sorry for delay. You can find everything here: https://www.visualstudio.com/vs/older-downloads/
Feel free to reopen if it doesn't answer your issue.

[2018-05-11 19:16] #238 closed

[2018-05-11 19:17] #211 closed

[2018-05-11 19:26] kiewic commented on #348
Hi @wnjenkin , can you help me find the old documentation again? The link now returns 404 Not Found.

[2018-05-11 19:27] Powerhelmsman commented on #173
Thanks folks as we shipped it. https://docs.microsoft.com/en-us/learn/intro-to-csharp/hello-world?tutorial-step=1

[2018-05-11 19:27] #173 closed

[2018-05-11 19:30] Powerhelmsman commented on #159
#log-suggestion

[2018-05-11 19:30] botcrane commented on #159
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=20435) logged.

[2018-05-11 19:33] Powerhelmsman commented on #154
Thanks for the idea! We may revisit this in the future, but this is not something we can do right now. For third parties, they can use DocFX, which is open source. Refer to http://dotnet.github.io/docfx/

[2018-05-11 19:33] #154 closed

[2018-05-11 19:36] Powerhelmsman commented on #149
As Sonja mentioned, Docs does support Vietnamese, so we will close this issue.

[2018-05-11 19:36] #149 closed

[2018-05-11 19:39] Powerhelmsman commented on #147
@ShevaDas Can you follow up with this once the new header is live?

[2018-05-11 19:45] Powerhelmsman commented on #138
This issue is now tracked with https://github.com/MicrosoftDocs/azure-docs/issues/8477

[2018-05-11 19:45] #138 closed

[2018-05-11 19:46] #137 closed

[2018-05-11 19:47] Powerhelmsman commented on #133
Thanks for the suggestion! Based on the low vote count in the last year, we do not plan on doing this now, but will revisit if it comes up again.

[2018-05-11 19:47] #133 closed

[2018-05-11 19:48] Powerhelmsman commented on #130
Per Microsoft style guidelines, text is left aligned for our content.

[2018-05-11 19:48] #130 closed

[2018-05-11 19:49] Powerhelmsman commented on #129
@ginami @laurenhughes Can you take a loot at this.

[2018-05-11 19:54] Powerhelmsman commented on #128
@ginami @laurenhughes Given this to related to Windows. Can you point to the right person?

[2018-05-11 19:56] Powerhelmsman commented on #127
@mairaw Can you take a look at this?

[2018-05-11 19:57] Powerhelmsman commented on #125
Thanks for your feedback at this time we don't plan to includes any packages which are not distributed by Microsoft.

[2018-05-11 19:57] #125 closed

[2018-05-11 19:59] Powerhelmsman commented on #124
This is the link: https://docs.microsoft.com/en-us/powershell/module/?term=sharepoint

[2018-05-11 19:59] #124 closed

[2018-05-11 20:01] Powerhelmsman commented on #123
Thanks for your feedback. This is Microsoft standard on all pages.

[2018-05-11 20:01] #123 closed

[2018-05-11 20:07] ginami commented on #129
@jwmsft, can you please address this question for https://docs.microsoft.com/en-us/uwp/api/windows.ui.xaml.controls.inktoolbarpenbutton.palette?

[2018-05-11 20:07] mairaw commented on #127
I think we should close this.

http://dot.net is supposed to be the home for non-techie, more high-level information.

Version that comes with your machine depends on what OS you have. A lot of the versions this person lists is already out of support (1.0, 2.0, 3.0, etc.)

We have end-user guides for installation: https://docs.microsoft.com/en-us/dotnet/framework/install/

For developers, we go a

[2018-05-11 20:28] #127 closed

[2018-05-11 20:38] lorenahuangliu commented on #346
Hi @paololec currently investigating this issue. Will circle back with details.

[2018-05-11 20:44] ginami commented on #175
Thank you, Matt Tycholaz, for your feedback. I've passed this request to our developer writer team.

[2018-05-11 20:48] ginami commented on #128
Thanks for the feedback--I've passed your request to our authors.

[2018-05-11 20:50] jwmsft commented on #129
@Karl-Bridge-Microsoft, this is yours. Thanks

[2018-05-11 21:06] Powerhelmsman commented on #128
This issue is transferred to author. Currently no plan to create code example in all languages due to resource limitation. But author will keep monitoring the request and get an idea of demand for specific language.

[2018-05-11 21:07] Powerhelmsman commented on #175
This issue is transferred to author. Currently no plan to create code example in all languages due to resource limitation. But author will keep monitoring the request and get an idea of demand for specific language.

[2018-05-11 21:07] #175 closed

[2018-05-12 02:03] #41 closed

[2018-05-13 18:06] nschonni opened #361 "Open Publishing redirects doesn't work for GH content"
**Is your feature request related to a problem? Please describe.**
When adding redirects in a doc repo to the openpublishing config, the website is fixed, but when you're working on editing or navigating in GH, the hyperlink navigation remains broken.

**Describe the solution you'd like**
Update the links at the same time as adding in the redirect. This might partially defeat the purpose of the re

[2018-05-13 18:45] nschonni opened #362 "Add .gitattributes files to repos to normalize line endings"
**Is your feature request related to a problem? Please describe.**
Although line endings are mostly a solved problem in Git, the require a client respect or use defaults for line endings. This means that when authors are working on different platforms and have not setup their own git "correctly", the line endings get confused. The next time someone else edits the file on the web or on another os,

[2018-05-13 18:49] nschonni opened #363 "Pin this repo in the GH Org"
**Is your feature request related to a problem? Please describe.**
The MicrosoftDocs organization has 800 public repos now so finding this repo can be difficult if trying to find it directly on GitHub.

**Describe the solution you'd like**
Adding feedback is an important aspect so this repo should be one of the pinned repos when viewing https://github.com/MicrosoftDocs

[2018-05-13 23:15] nschonni opened #364 "Expose the template repo on MicrosoftDocs org"
**Is your feature request related to a problem? Please describe.**
The openpublishing.config files seem to list https://github.com/Microsoft/templates.docs.msft which doesn't appear to be a public repo (currently

**Describe the solution you'd like**
If this repo is used by the documention generation process, please transfer it from the Microsoft org to MicrosoftDocs org and set it to public.

**D

[2018-05-14 05:06] Powerhelmsman commented on #361
@thedanfernandez Have we already opened a internal ticket?

[2018-05-14 05:14] Powerhelmsman commented on #363
@nschonni Thanks for you great suggestion. I will create a internal ticket to organize pinned repos

[2018-05-14 05:14] Powerhelmsman commented on #363
#log-suggestion

[2018-05-14 05:14] botcrane commented on #363
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=20472) logged.

[2018-05-14 05:28] Powerhelmsman commented on #362
@nschonni Thanks for your suggestion. I will bring it to team to see if we implement it.

[2018-05-14 05:28] Powerhelmsman commented on #362
#log-suggestion

[2018-05-14 05:28] botcrane commented on #362
Failed to submit internal item.

[2018-05-14 05:30] Powerhelmsman commented on #362
#log-suggestion

[2018-05-14 05:30] botcrane commented on #362
Failed to submit internal item.

[2018-05-14 05:30] Powerhelmsman commented on #362
#log-suggestion

[2018-05-14 05:30] botcrane commented on #362
Failed to submit internal item.

[2018-05-14 05:33] dend commented on #362
#log-suggestion

[2018-05-14 05:33] botcrane commented on #362
Failed to submit internal item.

[2018-05-14 05:35] dend commented on #362
#log-suggestion

[2018-05-14 05:35] botcrane commented on #362
Failed to submit internal item.

[2018-05-14 05:37] dend commented on #12
#log-suggestion

[2018-05-14 05:37] botcrane commented on #12
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=20504) logged.

[2018-05-14 05:37] dend commented on #362
#log-suggestion

[2018-05-14 05:37] botcrane commented on #362
Failed to submit internal item.

[2018-05-14 05:49] dend commented on #362
#log-suggestion

[2018-05-14 05:49] botcrane commented on #362
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=20505) logged.

[2018-05-14 06:00] nschonni opened #365 "Cleanup dev/testing repos left in the org"
**Is your feature request related to a problem? Please describe.**
There appears to be a bunch of repos created for the devs to test out the open publishing platform.
I was looking through https://opensource.microsoft.com/  and opening up repos that seemed to have dev github handles, "Sandbox", "Playground", or "Test" in the name and opened some issues. Here are the ones I found/opened
https://git

[2018-05-14 11:47] igkutikov opened #366 "Colon and semi colon"
Using Samsung S8+
Trying to type in the : and ;
But insteas ^ and $ are being typed in.
Using Ctrl+c and Ctrl+v do not work as well

[2018-05-14 14:03] #355 closed

[2018-05-14 18:57] ShevaDas commented on #338
cc @dastaffo

[2018-05-14 20:34] Powerhelmsman commented on #366
@igkutikov What are you trying to do, make a comment, edit a content? Please provide the page link, and detail steps so that we can identify the issue.

[2018-05-14 23:34] dastaffo commented on #216
@adkinn Can you help investigate?

[2018-05-14 23:42] dend commented on #365
@cillroy can you please follow-up here?

[2018-05-14 23:42] dend commented on #365
#log-suggestion

[2018-05-14 23:42] botcrane commented on #365
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=20733) logged.

[2018-05-14 23:44] dend commented on #364
@nschonni currently, we do not expose our templates to the public. Those are not intended for consumption outside docs.microsoft.com. The files you are referencing are also used for internal configuration and are not meant to be used to create other environments.

[2018-05-14 23:44] #364 closed

[2018-05-14 23:45] dend commented on #361
@nschonni what repo are you working with where you are trying to set up redirects?

[2018-05-14 23:53] nschonni commented on #361
Mostly I've been chipping in a bit of stuff on VSTS-docs, but the issue is a general one about using the openpublishing.redirect.json means the GitHub naviation/linking doesn't work unless the Markdown files are also updated.

[2018-05-14 23:55] nschonni commented on #364
No problem, is there any documentation around the actual openpublishing schema anywhere? I'm sure some of my questions are answerable if I just RTFM

[2018-05-15 01:00] Rick-Anderson commented on #40
[In addition, System.Numerics.Vectors, the SIMD-enabled library of vectory types, was released as a NuGet package.](https://docs.microsoft.com/en-us/dotnet/standard/numerics)

[2018-05-15 01:02] Rick-Anderson commented on #40
@botcrane  can you supply a URL for that?

[2018-05-15 01:18] Powerhelmsman commented on #40
@Rick-Anderson Botcrane is not a real user. We use this account to migrate the ticket from old User Voice platform to current GitHub issue.

[2018-05-15 06:40] nschonni opened #367 "Add repo description and website url for repos in this org"
**Is your feature request related to a problem? Please describe.**
When looking at the list of repos in the [MicrosoftDocs organization](https://github.com/MicrosoftDocs) most don't have descriptions or the URLs set. I'm not sure if that information also populates https://opensource.microsoft.com/ or if that is something else.

**Describe the solution you'd like**
Add a small blurb and the public

[2018-05-15 06:44] Powerhelmsman commented on #367
@nschonni Thanks for your suggestion. I will bring it to the team to discuss.

[2018-05-15 06:44] Powerhelmsman commented on #367
#log-suggestion

[2018-05-15 06:44] botcrane commented on #367
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=20746) logged.

[2018-05-15 07:15] nschonni commented on #307
This is related to #362

[2018-05-15 12:36] DeanGross opened #368 "Search box displays previous terms from Edge"
**Describe the bug**
When I try to do a search in the left side table of contents, a big list of previously entered search terms is displayed that seems to be coming from Edge. This does not happen when I use Chrome.

**Expected behavior**

I don't expect previous search terms from Edge to show up

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-i

[2018-05-15 13:11] spottedmahn commented on #307
Duplicate of #362?  Close this one?

[2018-05-15 13:13] spottedmahn commented on #362
Another example PR: https://github.com/MicrosoftDocs/vsts-docs/pull/577

[2018-05-15 13:13] #307 closed

[2018-05-15 14:09] pierreca commented on #359
errr I'm not sure who maintains this package but not me ;) @cmpendleton maybe?
In any case, it looks like an error with the docs parser, not with the package itself. maybe @dend can help?

[2018-05-15 14:35] wnjenkin commented on #348
https://docs.microsoft.com/en-us/vsts/integrate/previous-apis/overview?view=vsts .

[2018-05-15 14:48] mschulz-msft commented on #34
Thanks for the feedback. We will look into what the best way would be to implement this feature.

[2018-05-15 16:11] Powerhelmsman commented on #359
@dend @cmpendleton Can you double check if it is a site parse issue?

[2018-05-15 16:13] Powerhelmsman commented on #348
@kiewic Whitney provide a new link. Please take a look.

[2018-05-15 16:15] Powerhelmsman commented on #368
@presleyy Can you double check if there are something we can do?

[2018-05-15 16:15] Powerhelmsman commented on #368
#log-suggestion

[2018-05-15 16:16] botcrane commented on #368
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=20781) logged.

[2018-05-15 16:46] cmpendleton commented on #359
I don't have oversight of the parsing input for our javascript docs. @dend was the last person we worked with on publishing our JS map control docs.

[2018-05-15 18:04] kylecweeks opened #369 "Allow preview of pull request"
Would like to see ability to see how final merge content will be displayed based on Microsoft's md coding before submitting a pull request.

[2018-05-15 19:27] nschonni opened #370 "Move the OpenPublish Build to the new GitHub Checks API"
**Is your feature request related to a problem? Please describe.**
GitHub released the Checks API (with Micrsoft as a launch partner) https://blog.github.com/2018-05-07-introducing-checks-api/
This allows inline comments to the PRs, and would remove the build comments on PRs that trigger GitHub notifications.

**Describe the solution you'd like**
Leverage the Checks API like the App Center group h

[2018-05-15 21:35] chgennar commented on #140
@dend What is the status of this issue?

[2018-05-16 00:26] dend commented on #364
@nschonni not at this time. The [DocFX pipeline](https://dotnet.github.io/docfx/) is the public project you can follow for the same purpose!

[2018-05-16 00:27] dend commented on #40
@Rick-Anderson there is no URL - notice that the content relates to Offline Help Viewer.

[2018-05-16 00:31] dend commented on #359
@chgennar can you point to the source repo from where that content is generated? Feel free to shoot an internal email.

[2018-05-16 00:32] Rick-Anderson commented on #40
@dend  I meant the URL to the online version so we know what to look for. AFAIK, there's no such thing as  Framework 7.1 documents

[2018-05-16 00:32] dend commented on #369
Check out our [authoring pack](https://docs.microsoft.com/en-us/teamblog/docs-extension) that solves this problem!

[2018-05-16 00:32] #369 closed

[2018-05-16 00:33] #353 closed

[2018-05-16 00:34] dend commented on #370
Thanks @nschonni - great idea! We are investigating this internally.

[2018-05-16 00:36] dend commented on #40
@Rick-Anderson I think the user meant 4.7.1. I am assuming the documents referenced are here: https://docs.microsoft.com/en-us/dotnet/standard/numerics

If we can't repro, we can close.

[2018-05-16 01:16] kiewic commented on #348
Nice! Thank you guys

[2018-05-16 08:41] jakrams opened #371 "Mixing bold and italic does not work"
Markdown code:

![markdown](https://user-images.githubusercontent.com/36191331/40106142-447ace58-58f5-11e8-90fa-082ef199ad65.png)

GitHub result:
***A**ugmented **R**eality*

Preview in Visual Studio Code:

![vscode preview](https://user-images.githubusercontent.com/36191331/40106157-4da39a0a-58f5-11e8-8891-505860af57ae.png)

Preview in MsDocs (online):

![docs preview](https://user-images.githubu

[2018-05-16 13:28] shivang-g opened #372 "Typo in "Speech Service API Documentation""
**The bug**
There's a typo on one of the pages in the "Speech Service Documentation"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/
2. Scroll down to '[10-Minute Quickstarts - New SDKs](https://docs.microsoft.com/en-us/azure/cognitive-services/speech-service/#10-minute-quickstarts---new-sdks)'
3. See the text ju

[2018-05-16 17:10] chgennar commented on #359
sent an internal email

[2018-05-16 17:30] Nathan-Tarin opened #373 "PDF Download link broken"
The link that should allow us to download a PDF version of the Visual Studio Subscriptions docs is broken.

Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/en-us/visualstudio/subscriptions/'
2. Scroll down to 'Download PDF'
3. Click on 'Download PDF'
4. See error

**Expected behavior**
A downloadable file should appear.

**Desktop (please complete the following information):*

[2018-05-16 19:19] dend commented on #359
Closing this issue as we follow-up internally.

[2018-05-16 19:19] #359 closed

[2018-05-16 19:20] dend commented on #372
@wiazur can you please help here?

[2018-05-16 19:35] dastaffo commented on #373
@adkinn Can you help investigate here?

[2018-05-16 20:38] Powerhelmsman commented on #13
This channel is for docs site feedback instead of solving general windows hardware issue. Please try to ask the question in MSDN forum.

[2018-05-16 20:38] #13 closed

[2018-05-16 20:43] Powerhelmsman commented on #14
It is available now. Please use .Net API browser to find the API method or class. It includes code example.
For your case, please try this link: https://docs.microsoft.com/en-us/dotnet/api/system.threading.thread.sleep?view=netframework-4.7.2#System_Threading_Thread_Sleep_System_Int32_

[2018-05-16 20:43] #14 closed

[2018-05-16 20:47] Powerhelmsman commented on #44
Thanks for your suggestion. I will bring it to the team to advocated your suggestion.

[2018-05-16 20:48] Powerhelmsman commented on #44
#log-suggestion

[2018-05-16 20:48] botcrane commented on #44
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=20956) logged.

[2018-05-16 20:50] #44 closed

[2018-05-16 21:18] Khairunj commented on #3
@TaraMeyer any update on this? Please talk to @Jemash if you don't know what to do.

[2018-05-16 22:02] #23 closed

[2018-05-16 23:04] wiazur commented on #372
Thanks for letting us know @dend !

[2018-05-16 23:37] Powerhelmsman commented on #45
@dastaffo Is this belong to your area?

[2018-05-16 23:43] Powerhelmsman commented on #46
Thanks for your feedback. I will bring this back to the team as suggestion.

[2018-05-16 23:44] Powerhelmsman commented on #46
#log-suggestion

[2018-05-16 23:44] botcrane commented on #46
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=20993) logged.

[2018-05-16 23:52] Powerhelmsman commented on #47
Thanks for the suggestion. Power BI blog is not in docs.microsoft.com site yet. @dend Do we have any plan to migrate Power BI blog site?

[2018-05-16 23:59] Powerhelmsman commented on #53
Can't repo. Do you have any example page?

[2018-05-17 00:04] Powerhelmsman commented on #54
Thanks for your suggestion. I created a internal work item to track this.

[2018-05-17 00:04] Powerhelmsman commented on #54
#log-suggestion

[2018-05-17 00:04] botcrane commented on #54
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=20994) logged.

[2018-05-17 00:06] Powerhelmsman commented on #59
Please go https://docs.microsoft.com/en-us/visualstudio/extensibility/vsct-xml-schema-reference

[2018-05-17 00:06] #59 closed

[2018-05-17 00:13] #61 closed

[2018-05-17 00:17] Powerhelmsman commented on #62
Please use Docs site search function to find Ansible and DSC related documentation.

[2018-05-17 00:17] #62 closed

[2018-05-17 00:29] kubeaver commented on #64
@Powerhelmsman this issue will be resolved when we launch the new single-stack UHF in a few months.

[2018-05-17 00:31] #64 closed

[2018-05-17 00:31] dend commented on #65
Closing as this will be part of the migration.

[2018-05-17 00:31] #65 closed

[2018-05-17 04:51] nschonni opened #374 "Move old repos from Microsoft org to MicrosoftDocs"
**Is your feature request related to a problem? Please describe.**
There are a few docs repos still under the main Microsoft org https://github.com/Microsoft?utf8=%E2%9C%93&q=docs&type=&language=

**Describe the solution you'd like**
Transfer the repos under the MicrosoftDocs organization

**Describe alternatives you've considered**
These may be intentionally left in the other org because they are

[2018-05-17 06:52] nschonni opened #375 "Discourage use of `~/` linking in docs"
**Is your feature request related to a problem? Please describe.**
This style of linking is supported by DocFx, but produces invalid links when navigating the documentation on GitHub. EX: On https://github.com/MicrosoftDocs/appcenter-docs/blob/live/docs/analytics/event-metrics.md, the link `~/sdk/index.md` resolves to an invalid page https://github.com/MicrosoftDocs/appcenter-docs/blob/live/docs/a

[2018-05-17 06:55] alswl opened #376 "Missing image"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
Tell us where exactly a problem occurs.

https://docs.microsoft.com/en-us/previous-versions/sql/sql-server-2008/dd266396(v=sql.100)#configuration-of-the-capture-job

**Problem:**
What's wrong with the article?

This article contain

[2018-05-17 07:18] alswl commented on #376
After hours searching, I found a copy of this article.

[Tuning-the-Performance-of-Change-Data-Capture-in-SQL-Server-2008.zip](https://github.com/MicrosoftDocs/feedback/files/2012014/Tuning-the-Performance-of-Change-Data-Capture-in-SQL-Server-2008.zip)

[2018-05-17 11:13] dhurley28 opened #377 "Setting Attribute Typo (SQLSetConnectAttr)"
**Link to article:**
https://docs.microsoft.com/en-us/sql/relational-databases/native-client-odbc-api/sqlsetconnectattr?view=sql-server-2017#sqlcoptssmultisubnetfailover

**Problem:**
Incorrect setting attribute within the example code section -

SQLSetConnectAttr(hdbc, **SQL_COPT_SS_MULTISUBMIT_FAILOVER**, SQL_IS_ON, SQL_IS_INTEGER)

Should read -

SQLSetConnectAttr(hdbc, **SQL_COPT_SS_MULTISUBNE

[2018-05-17 15:24] phmayer67 opened #378 "B2B end point 404 for all links"
# Idea Title

https://docs.microsoft.com/en-us/azure/active-directory/b2b/what-is-b2b.md is missing. All links under b2b are now gone.

## Issue Details

[2018-05-17 15:27] nschonni commented on #378
You've got `md` at the end of the URL, should be https://docs.microsoft.com/en-us/azure/active-directory/b2b/what-is-b2b but that does sound like a build error if it didn't fix that when publishing

[2018-05-17 18:18] dend commented on #378
@phmayer67 can you let us know where you got that link?

[2018-05-17 18:19] dend commented on #377
@nschonni wow, thanks for the PR! 🔥

@MightyPen should be able to help here.

[2018-05-17 18:24] #63 closed, assigned to nobody

[2018-05-17 18:27] dend commented on #54
This will need to opened as feedback on individual articles, when encountered.

[2018-05-17 18:27] #54 closed

[2018-05-17 18:27] dend commented on #53
Closing as this has been addressed with the new template and horizontal scrolling.

[2018-05-17 18:27] #53 closed

[2018-05-17 18:28] #47 closed, assigned to nobody

[2018-05-17 18:29] dend commented on #46
You can use the Edit button on pages that accept community contributions to get to the GitHub repository.

[2018-05-17 18:29] #46 closed

[2018-05-17 18:31] dend commented on #87
Currently we have no plans on turning off the feedback control, so closing this issue.

[2018-05-17 18:31] #87 closed

[2018-05-17 18:32] dend commented on #89
This is related to PowerBI product feedback, hence cannot be addressed in this forum.

[2018-05-17 18:32] #89 closed

[2018-05-17 18:34] dend commented on #90
@Rick-Anderson @danroth27 are there any plans to move those over?

[2018-05-17 18:35] dend commented on #91
There are currently no plans to change this layout - method summaries are still available after the main class summary.

[2018-05-17 18:35] #91 closed

[2018-05-17 18:38] dend commented on #93
The PDF is generated from a single documentation set, therefore if the command line content is not in the table of contents, it will not be presented.

@dastaffo and @erickson-doug as FYI on this.

[2018-05-17 18:38] #93 closed, assigned to nobody

[2018-05-17 18:41] dend commented on #85
#log-suggestion

[2018-05-17 18:41] botcrane commented on #85
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=21076) logged.

[2018-05-17 18:42] dend commented on #84
#log-suggestion

[2018-05-17 18:42] botcrane commented on #84
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=21077) logged.

[2018-05-17 18:43] dend commented on #81
This documentation is now available:
https://docs.microsoft.com/en-us/xamarin/#pivot=platforms&panel=XamarinForms

[2018-05-17 18:43] #81 closed

[2018-05-17 18:43] dend commented on #80
#log-suggestion

[2018-05-17 18:43] botcrane commented on #80
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=21078) logged.

[2018-05-17 18:44] dend commented on #80
@EdisonDa something to think about in terms of PowerShell improvements.

[2018-05-17 18:53] Rick-Anderson commented on #90
I think these will be moved but maybe not to [API Browser](https://docs.microsoft.com/en-us/dotnet/api/) right away.

@mschulz-msft is [ASP.NET MVC 4 Reference](https://msdn.microsoft.com/en-us/library/gg416515(v=vs.108).aspx) and
[ASP.NET Web API Reference](https://msdn.microsoft.com/en-us/library/hh849329(v=vs.108).aspx) being moved.

[2018-05-17 19:30] Powerhelmsman commented on #68
Thanks for your great suggestion. @kubeaver @ShevaDas Can you consider the user suggestion on new site header?

[2018-05-17 19:31] Powerhelmsman commented on #68
#log-suggestion

[2018-05-17 19:31] botcrane commented on #68
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=21083) logged.

[2018-05-17 19:36] Powerhelmsman commented on #69
@dend Our team blog site can resolve the request, right? But our blog site don't have a way to allow user to subscribe

[2018-05-17 19:36] kubeaver commented on #68
@Powerhelmsman this is also something we're working with the UHF team to resolve in the next round of updates.

[2018-05-17 19:38] Powerhelmsman commented on #70
Transfer the issue to Azure team issue queue.

[2018-05-17 19:38] #70 closed

[2018-05-17 19:41] Powerhelmsman commented on #71
The issue is transferred to F# issue queue.

[2018-05-17 19:41] #71 closed

[2018-05-17 20:21] #73 closed, assigned to nobody

[2018-05-17 20:26] Powerhelmsman commented on #74
The issue is transferred to C# programming content team

[2018-05-17 20:26] #74 closed

[2018-05-17 20:28] Powerhelmsman commented on #75
Thanks for your suggestion. I've created a internal work item to track it.

[2018-05-17 20:29] Powerhelmsman commented on #75
#log-suggestion

[2018-05-17 20:29] botcrane commented on #75
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=21103) logged.

[2018-05-17 20:32] Powerhelmsman commented on #76
Understand your pain point. So Docs site just release new feedback system. On the bottom of every content page, you can choose to provide product feedback or content feedback. If you choose to provide product feedback, it will go to specific product internal support system. If you choose content feedback, your question is in the content team queue, they will triage your question very quickly.

[2018-05-17 20:32] #76 closed

[2018-05-17 20:40] Powerhelmsman commented on #77
Docs site just release a bunch of contents with "Try it" button. If you click "Try it" button, you will have a environment on the right with the code snippet, you can run it to test if it works. this is an example: https://docs.microsoft.com/en-us/rest/api/appservice/webapps/listbyresourcegroup. We will bring more content page with "Try it" experience soon.

[2018-05-17 20:43] Powerhelmsman commented on #79
@mairaw Do your team have any plan on this?

[2018-05-17 20:47] Powerhelmsman commented on #94
#log-suggestion

[2018-05-17 20:47] botcrane commented on #94
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=21116) logged.

[2018-05-17 20:48] Powerhelmsman commented on #94
I've created internal work item to track your requirement.

[2018-05-17 20:49] Powerhelmsman commented on #95
@dend Is there anything you can help here?

[2018-05-17 20:49] mairaw commented on #79
I'm on the team that had the backlog open for contribution. But Azure docs has issues open now:
https://github.com/MicrosoftDocs/azure-docs/issues

@isaac2004 was it you who submitted this UserVoice?

[2018-05-17 20:52] Powerhelmsman commented on #96
Thanks for your suggestion. I've created a internal work item to track your request.

[2018-05-17 20:52] Powerhelmsman commented on #96
#log-suggestion

[2018-05-17 20:52] botcrane commented on #96
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=21120) logged.

[2018-05-17 20:56] Powerhelmsman commented on #97
@kubeaver Can you take a look at this suggestion?

[2018-05-17 21:00] Powerhelmsman commented on #99
@kubeaver Can you take a look at this?

[2018-05-17 21:49] dend commented on #110
Closing as this is a product issue and we don't have a channel to contact the user to find out where the issue was.

[2018-05-17 21:49] #110 closed

[2018-05-17 21:50] dend commented on #106
This is now supported, and we have tables that scroll.

[2018-05-17 21:50] #106 closed

[2018-05-17 21:50] dend commented on #104
This functionality is already available - you can just scroll to the bottom of the page and select the language you want to see the documentation in.

[2018-05-17 21:50] #104 closed

[2018-05-17 21:51] #77 closed

[2018-05-17 21:53] dend commented on #103
@EliotSeattle can you help address the issue with this piece of content?

[2018-05-17 21:54] dend commented on #102
We've done a number of design changes that make the experience cleaner and easier to read.

[2018-05-17 21:54] #102 closed

[2018-05-17 21:54] isaac2004 commented on #79
@mairaw it was! I have complained about this for a bit, mostly before I was an FTE. I think the community would love the chances to provide more thoughtful experiences to the Azure docs. IMOP with a heavy dose of salt :)

[2018-05-17 22:05] dend commented on #79
Going to close this issue, as @mairaw stated - the issue tracker is already open 😄

[2018-05-17 22:05] #79 closed

[2018-05-17 22:06] dend commented on #72
@Powerhelmsman yes, I will take this.

[2018-05-17 22:06] dend commented on #72
#log-suggestion

[2018-05-17 22:06] botcrane commented on #72
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=21135) logged.

[2018-05-17 22:12] Powerhelmsman commented on #113
Thanks for your suggestion. I've created a work item internally to track your suggestion.

[2018-05-17 22:12] Powerhelmsman commented on #113
#log-suggestion

[2018-05-17 22:12] botcrane commented on #113
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=21136) logged.

[2018-05-17 22:28] kubeaver commented on #97
@Powerhelmsman We've recorded all of these same items and are working through a redesign to tone down the page chrome so that the content is easier to focus on.

[2018-05-17 22:34] Powerhelmsman commented on #115
Thanks for your suggestion. Here is the similar issue:  https://github.com/MicrosoftDocs/feedback/issues/278
Close as wont-fix.

[2018-05-17 22:34] #115 closed

[2018-05-17 22:55] Powerhelmsman commented on #114
@mairaw @bartdesmet Is there any update here?

[2018-05-17 22:57] Powerhelmsman commented on #117
@ishasahni1 @sudeepku is there any update so far?

[2018-05-17 22:59] Powerhelmsman commented on #116
Close as lacking of enough information.

[2018-05-17 22:59] #116 closed

[2018-05-17 23:19] mairaw commented on #114
@terrajobst @weshaggard @karelz can you comment on this request? It seems this a community-maintained project nowadays, right? This would be a bit different than ASP.NET Core in that sense. But I'm fine adding that if product team decides we should do this.

Also, I think we'd need to have the new feature for documenting NuGet packages that are cross-platform ready in order to do this properly.

/

[2018-05-17 23:34] Powerhelmsman commented on #120
@kubeaver @ShevaDas Can you take a look at this?

[2018-05-17 23:34] Powerhelmsman commented on #120
#log-suggestion

[2018-05-17 23:34] botcrane commented on #120
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=21143) logged.

[2018-05-17 23:49] karelz commented on #114
No idea - @terrajobst @weshaggard hopefully know

[2018-05-18 00:01] dend commented on #114
Hi folks - unless this is a Microsoft-owned project, we cannot document it in our system at this time.

cc: @mairaw @terrajobst @karelz

[2018-05-18 00:15] kubeaver commented on #99
@Powerhelmsman we're working through new header stack now. This should be updated in the coming months.

[2018-05-18 00:17] Powerhelmsman commented on #99
#log-suggestion

[2018-05-18 00:17] botcrane commented on #99
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=21144) logged.

[2018-05-18 01:09] ishasahni1 commented on #117
@craigg-msft @sudeepku can you kindly confirm on the above request.
@Powerhelmsman FYI

[2018-05-18 04:27] dend commented on #361
I am going to go ahead and open an internal ticket for this - thanks for the suggestion, @nschonni 👏

[2018-05-18 04:27] dend commented on #361
#log-suggestion

[2018-05-18 04:27] botcrane commented on #361
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=21157) logged.

[2018-05-18 05:12] nbkawa-sh commented on #323
Dear all,
I found the problem in the above URL has been fixed. May I close this issue?

[2018-05-18 06:32] dend commented on #323
Absolutely @nbkawa-sh - thanks for the feedback once again!

[2018-05-18 06:32] #323 closed

[2018-05-18 08:55] cheong00 commented on #295
Sorry for keep you waiting.

Yes. I'm talking about those KB articles in support.microsoft.com .

[2018-05-18 17:12] Powerhelmsman commented on #363
@nschonni This issue is resolved. Please double check.

[2018-05-18 17:12] #363 closed

[2018-05-18 17:15] Powerhelmsman commented on #237
Close as no enough information.

[2018-05-18 17:15] #237 closed

[2018-05-18 17:16] Powerhelmsman commented on #264
@emolenev It works now. Close as resolved.

[2018-05-18 17:16] #264 closed

[2018-05-18 17:20] Powerhelmsman commented on #295
@Jemash Do you have any plan to migrate support.microsoft.com?

[2018-05-18 17:21] Powerhelmsman commented on #342
Close as no enough information.

[2018-05-18 17:21] #342 closed

[2018-05-18 17:24] #340 closed, assigned to yunyunyunyun

[2018-05-18 18:16] BillWagner commented on #340
Thanks @Powerhelmsman I verified this is fixed. 🎆

[2018-05-18 18:45] Khairunj commented on #306
I am following up with content owner and will get back soon.

[2018-05-18 19:07] Khairunj commented on #253
This is Windows content and Tara is fixing it.

[2018-05-18 19:44] laurenhughes commented on #259
Thanks for the catch! I'll get this updated in the docs. Updates will be available on Monday, 5/21.

[2018-05-18 20:32] laurenhughes commented on #259
You can call Close if you're using C++/WinRT, but you don't really need to since the destructor will call it anyway.

[2018-05-18 20:51] Powerhelmsman commented on #259
@phraemer Please double check if it answer your question?

[2018-05-18 20:59] chgennar-zz opened #379 "Please add default/min/max value to parameter and type info for REST documentation"
Many parameters in REST APIs have default, minimum and maximum values which are not currently displayed in the parameter table.  This makes using the APIs difficult.  Please add this information to the parameter table in some way.

[2018-05-18 21:01] Powerhelmsman commented on #379
@hellosnow Can you take a look at this?

[2018-05-18 21:01] Powerhelmsman commented on #379
#log-suggestion

[2018-05-18 21:01] botcrane commented on #379
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=21262) logged.

[2018-05-18 22:20] dend commented on #92
Let's log a suggestion here #log-suggestion @dend @botcrane

[2018-05-18 22:26] dend commented on #92
#log-suggestion @dend @botcrane

[2018-05-18 22:28] dend commented on #92
#log-suggestion @dend @botcrane

[2018-05-18 22:28] botcrane commented on #92
Failed to submit internal item.

[2018-05-18 22:33] dend commented on #92
#log-suggestion @dend @botcrane

[2018-05-18 22:33] botcrane commented on #92
Failed to submit internal item.

[2018-05-18 22:36] dend commented on #92
#log-suggestion @dend @botcrane

[2018-05-18 22:36] botcrane commented on #92
Failed to submit internal item.

[2018-05-18 22:40] dend commented on #92
#log-suggestion @dend @botcrane

[2018-05-18 22:40] botcrane commented on #92
Failed to submit internal item.

[2018-05-18 22:57] dend commented on #92
#log-suggestion @dend @botcrane

[2018-05-18 22:57] botcrane commented on #92
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=21332) logged.

[2018-05-18 22:57] dend commented on #92
#log-suggestion @botcrane

[2018-05-18 22:58] botcrane commented on #92
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=21333) logged.

[2018-05-18 22:58] dend commented on #92
test

[2018-05-18 23:02] dend commented on #38
#log-suggestion @presleyy

[2018-05-18 23:02] botcrane commented on #38
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=21334) logged.

[2018-05-19 01:03] mairaw commented on #206
Is this a generic issue @dend? We've enabled comments on reference but we're still evaluating if it's worth having it or not.

[2018-05-19 01:13] dend commented on #206
I can close it for now then 😄 Thanks @mairaw

[2018-05-19 01:13] #206 closed

[2018-05-19 08:23] wldevries opened #380 "Link to Windows 8 app development is broken"
**Link to article:**
https://docs.microsoft.com/en-us/previous-versions/windows/

**Problem:**
The link 'Windows 8' in the 'Windows app development' section is broken. Instead of browsing to the Windows 8 API documentation the current page just reloads

In addition I'm missing any reference to Windows 8.1 API in the previous versions documentation overview.

[2018-05-19 18:42] SeaDude opened #381 "How to build these docs?"
**Is your feature request related to a problem? Please describe.**
Microsoft does not have a static site generator product. Its a large gap in your offerings. I'd like to understand how you build the docs at https://docs.microsoft.com/en-us/azure/cognitive-services/QnAMaker/quickstarts/create-publish-knowledge-base and deploy this model at my own org.

**Describe the solution you'd like**
I'd like

[2018-05-20 07:35] dend commented on #381
@SeaDude we use DocFX - it's free and open source! You can learn more here: https://dotnet.github.io/docfx/

[2018-05-20 07:35] #381 closed

[2018-05-20 07:56] SeaDude commented on #381
Thank you for the prompt reply @dend. I will investigate the DocFX tool. Please send a link to the template used to build the docs at https://docs.microsoft.com/en-us/azure/cognitive-services/QnAMaker/quickstarts/create-publish-knowledge-base.

[2018-05-20 19:46] dend opened #382 "Improve PDF file name"
**Is your feature request related to a problem? Please describe.**
Today, PDFs are created in a way that sets their name to be a very generic one.

**Describe the solution you'd like**
Use a name that follows the content it's presented for.

**Describe alternatives you've considered**
_N/A_

**Additional context**
Submitted based on [feedback on Twitter](https://twitter.com/eHougaard/status/998287

[2018-05-20 19:47] dend commented on #382
#log-suggestion @dastaffo

[2018-05-20 19:47] botcrane commented on #382
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=21461) logged.

[2018-05-20 19:50] hougaard commented on #382
Great idea :)

[2018-05-20 19:57] dend commented on #380
@Khairunj can you help investigate this, please?

[2018-05-21 02:33] hellosnow commented on #379
@Powerhelmsman thanks I'll follow up on this

[2018-05-21 02:35] hellosnow commented on #139
@dend is there any other details on this issue? Or how can I track from the original user voice? Thanks

[2018-05-21 11:12] jesus10005 opened #384 "How can I find System.Windows.Documents.dll ?"
# Idea Title

How can I find System.Windows.Documents.dll ??

## Issue Details

I have installed Framework 4.7.2. but I cannot find the reference System.Windows.Documents in reference Manager.

[2018-05-21 11:14] jesus10005 commented on #384
I have installed Framework 4.7.2. but I cannot find the reference System.Windows.Documents in reference Manager.

[2018-05-21 13:43] ChrisMaddock opened #385 "Stray space in section title leads to unexpected section links"
**Describe the bug**
On the API pages - the Enum fields section title has a stray space at the end. This was only noticed as it meant links to `#fields` do not work - the link must instead go to `#fields-`.

This is of course very minor - but hopefully a simple fix as well!

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/dotnet/api/system.genericuripars

[2018-05-21 14:47] edupont04 commented on #306
Hi @MortenKSorensen - the latest version is published here but might not give you what you're looking for either: https://docs.microsoft.com/en-us/previous-versions/dynamicsnav-2015/jj128067(v%3dnav.80)

The Design team are working on a new version based on the new design that we are rolling out with the next version this Fall. Their key advice is to focus on the Role Center and less on the Menu S

[2018-05-21 15:58] Powerhelmsman commented on #384
@jesus10005 Can you try this page: https://docs.microsoft.com/en-us/dotnet/api/system.windows.documents?view=netframework-4.7.2

[2018-05-21 15:58] #384 closed

[2018-05-21 16:08] #306 closed

[2018-05-21 16:15] Powerhelmsman commented on #385
@ChrisMaddock Your issue is transferred to .Net team issue queue.

[2018-05-21 16:30] mairaw commented on #385
Please reopen this here @Powerhelmsman. Those sections are auto-generated and I cannot control that from the content side. /cc @adkinn @dend

[2018-05-21 20:59] ShevaDas commented on #321
@geskill After talking to our design team, we've determined there isn't a great programatic way to fix this that won't negatively impact the rest of the site look. For example, we could automatically add a white background to all images on dark theme, but that would make many images more difficult to read. Therefore, it's the responsibility of individual content teams to make sure their images are

[2018-05-21 20:59] #321 closed

[2018-05-21 21:12] ShevaDas commented on #120
@dend would this fall under your API browser work?

[2018-05-21 21:30] ShevaDas commented on #12
Thanks for the feedback! After talking it over with our devs, we won't be implementing this request. I agree that GitHub's pasting image feature is completely awesome (and use it all the time myself) but in order to implement this on Docs, we'd need to become responsible for the hosting and moderation of possibly hundreds of thousands of images over time, as GitHub doesn't expose the API they use

[2018-05-21 21:30] #12 closed

[2018-05-21 21:33] ShevaDas commented on #159
Thanks for the feedback! This isn't enough information for us to get started on a solution. Please feel free to reopen this issue with more information about where you see the problem.

[2018-05-22 03:17] SimonCropp opened #386 "Use an unambiguous date format"
You currently use mm/dd/yyyy

![image](https://user-images.githubusercontent.com/122666/40340334-c7a5552a-5dc1-11e8-9db1-0daf6581140d.png)

while this make sense in the US, for the vast majority of the world it is wrong

![image](https://user-images.githubusercontent.com/122666/40340489-7ae079d0-5dc2-11e8-8924-b3a2141eb7bc.png)

source: https://en.wikipedia.org/wiki/Date_format_by_country

I would

[2018-05-22 03:25] botcrane commented on #386
Failed to submit internal item.

[2018-05-22 05:08] dend commented on #386
#log-request @ShevaDas

[2018-05-22 05:08] dend commented on #386
#log-suggestion @ShevaDas

[2018-05-22 05:08] botcrane commented on #386
Failed to submit internal item.

[2018-05-22 05:09] dend commented on #386
#log-suggestion @ShevaDas

[2018-05-22 05:09] botcrane commented on #386
Failed to submit internal item.

[2018-05-22 05:14] dend commented on #386
#log-suggestion @ShevaDas

[2018-05-22 05:14] botcrane commented on #386
Failed to submit internal item.

[2018-05-22 05:16] dend commented on #386
#log-suggestion @ShevaDas

[2018-05-22 05:16] botcrane commented on #386
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=22011) logged.

[2018-05-22 07:00] adkinn commented on #385
@mairaw thanks for passing this along. We've created an internal work item to fix it.

[2018-05-22 17:31] DeanGross opened #387 "Searching in PowerShell Module Browser"
**Is your feature request related to a problem? Please describe.**

When I search in the PowerShell Module Browser it is hard to find modules unless you already know their name.\
**Describe the solution you'd like**

If i search the Powershell Module browser for AD or Active, i should be shown the Azure AD modules. currently, we have to search for AzureAD.

**Describe alternatives you've considere

[2018-05-22 17:38] Powerhelmsman commented on #387
#log-suggestion @presleyy

[2018-05-22 17:38] botcrane commented on #387
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=22065) logged.

[2018-05-22 17:41] DeanGross opened #388 "Exhange Module not available"
**Describe the bug**
The PowerShell Module browser list Exchange, but does not have any content

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/en-us/powershell/module/
2. Click on Exchange
3. Choose latest version
4. no results are returned

**Expected behavior**
I expect to see the modules for Exchange

**Screenshots**
If applicable, add screenshots to hel

[2018-05-22 17:45] Powerhelmsman commented on #388
@dend Can you take a look at this issue?

[2018-05-23 01:58] presleyy commented on #387
I believe the request is talking about the [PowerShell API Browser](https://docs.microsoft.com/en-us/powershell/module/). Is only the module name indexed? @dend

[2018-05-23 03:57] nschonni opened #389 "GitHub Pull Request and build bots are not setup on all repos"
**Is your feature request related to a problem? Please describe.**
Not sure if it's a staged rollout, but I noticed that PRs on https://github.com/MicrosoftDocs/vsts-docs don't have the same PR tagging, Author notification, and OpenBuild bots running as other repos

**Describe the solution you'd like**
Enable the build GitHub bots that run on https://github.com/MicrosoftDocs/visualstuio-docs on th

[2018-05-23 04:57] maheoasic opened #390 "az command line on Ubuntu gave ERR"
**Describe the bug**
Running az shell command on my own ubuntu host gave ERR:
== START
$ VM1_IP_ADDR=$(az network public-ip show --ids $IP_ID \

argument of type 'int' is not iterable
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line 197, in invoke
    cmd_result = self.invocation.execute(args)
  File "/opt/az/lib/python3.6/site-packages/azure/cli/c

[2018-05-23 06:44] presleyy commented on #368
I can't reproduce that using Edge browser. Need to investigate it more.

[2018-05-23 07:14] nschonni commented on #390
This is probably something for https://github.com/Azure/azure-cli

[2018-05-23 14:03] aHorton22 opened #391 "Power BI Guided Learning Download PDF not working"
**Describe the bug**
The download PDF from the Power BI Guided Learning section of the website only includes a table of contents and when clicking the links in the TOC it attempts to take me to a file location outside my network.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/en-us/power-bi/guided-learning/'
2. Click on 'Download a PDF'

**Expected behavior

[2018-05-23 15:58] Powerhelmsman commented on #390
@maheoasic Issue is transferred to Azure/azure-cli team queue.

[2018-05-23 15:58] #390 closed

[2018-05-23 16:08] Powerhelmsman commented on #391
@guyinacube @mgblythe Can you guys take a look at this?

[2018-05-23 17:39] sarah-barrett commented on #187
@tysonn @dastaffo This could be a facet in the product filter area.

[2018-05-23 20:21] mairaw commented on #140
Isn’t this fixed now @dend?

[2018-05-23 20:26] Powerhelmsman commented on #389
@dend Do you know who is contact person for this kind of issue?

[2018-05-23 23:53] ShevaDas commented on #386
@SimonCropp thanks for the feedback! I'll discuss it with the team and get back to you.

[2018-05-24 02:15] casperlw opened #392 "The PDF Downloaded is still in English when access from zh-cn"
e.g. https://docs.microsoft.com/zh-cn/azure/virtual-network/

click the Download PDF, the pdf downloaded is still in English, do we have a plan to support Chinese content for the downloaded PDF? Thanks

[2018-05-24 03:26] Powerhelmsman commented on #392
@SonjaSaltzman Can you take a look at this request?

[2018-05-24 05:03] SimonCropp commented on #386
@ShevaDas thanks

[2018-05-24 06:43] SoronelHaetir opened #393 "Has MTPS been discontinued?"
I have used MTPS for a long while now for feeding MSDN content to a custom help viewer application (I am blind and I don't care for either the distributed viewer or the web interface, both are simply too busy for my tastes),

recently when I try a request to https://services.msdn.microsoft.com/ContentServices/ContentService.asmx I have been getting an "Unable to connect" error so I have to wonder

[2018-05-24 14:40] 0725038 opened #394 "Bad translations"
The french debugger's documentation is almost unreadable near the middle. I had to stop reading and continue in english.

[2018-05-24 16:13] gwieder65 commented on #262
I just finished implementation of a new Dell server that came preinstalled with Windows Server 2016 Essentials.  It was NOT easy!  The setup and config steps are not clear, and absolutely NONE of the help links work!  They all fail as described here:  https://social.technet.microsoft.com/Forums/en-US/2e1187f8-45e8-4e4d-b64f-8d0548b8f8ca/windows-server-2016-essentials-dashboard-help-links-useless?f

[2018-05-24 16:42] Powerhelmsman commented on #394
@0725038 Can you provide the link you refer to?

[2018-05-24 17:12] Powerhelmsman commented on #393
@SoronelHaetir  Thanks for your feedback. I will bring your question to team to confirm if we have any plan to make content available.

[2018-05-24 17:13] Powerhelmsman commented on #393
#log-suggestion

[2018-05-24 17:13] botcrane commented on #393
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=22695) logged.

[2018-05-24 21:03] EliotSeattle commented on #103
Thanks for finding this, @botcrane

Added this statement:
TShell is required to run Tracelog. TShell is a part of the Windows Assessment and Deployment Kit (ADK). Instructions for installation are in [Prepare for Windows mobile development](https://docs.microsoft.com/en-us/windows-hardware/manufacture/mobile/preparing-for-windows-mobile-development).

[2018-05-24 21:05] Powerhelmsman commented on #3
@TaraMeyer @Jemash This bug hasn't been fixed for a while. Can you provide the status?

[2018-05-24 21:07] EliotSeattle commented on #103
Returning to you, @dend , since I don't think I can close this.

Heheh, I can't assign this either....
PR with the fix = https://github.com/MicrosoftDocs/commercialization-public/pull/131

[2018-05-24 21:10] Powerhelmsman commented on #6
This issue is transferred to content team so they can fix it ASAP.

[2018-05-24 21:10] #6 closed

[2018-05-24 21:11] Powerhelmsman commented on #9
@dastaffo Is there any update on this issue?

[2018-05-24 21:20] Powerhelmsman commented on #17
@davidiseminger Can you fix it? @kfile for awareness.

[2018-05-24 21:24] #103 closed, assigned to EliotSeattle

[2018-05-24 21:26] Powerhelmsman commented on #25
@nokura Is there any update so far?

[2018-05-24 21:31] Powerhelmsman commented on #28
@edmacauley @craigg-msft @MightyPen @CarlRabeler Can you update the status?

[2018-05-24 21:34] Powerhelmsman commented on #30
This issue is transferred to windows itpro content team.

[2018-05-24 21:34] #30 closed

[2018-05-24 21:38] Powerhelmsman commented on #34
#log-suggestion @mschulz-msft

[2018-05-24 21:38] botcrane commented on #34
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=22770) logged.

[2018-05-24 21:39] Powerhelmsman commented on #36
#log-suggestion @ShevaDas

[2018-05-24 21:39] botcrane commented on #36
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=22771) logged.

[2018-05-24 21:41] Powerhelmsman commented on #42
#log-suggestion @dastaffo

[2018-05-24 21:41] botcrane commented on #42
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=22772) logged.

[2018-05-24 21:44] Powerhelmsman commented on #50
@dend any update?

[2018-05-24 21:45] Powerhelmsman commented on #40
@mschulz-msft do you have any update on this issue? Can you repro it?

[2018-05-24 21:47] Powerhelmsman commented on #43
@dend Can you update the status?

[2018-05-24 21:52] Powerhelmsman commented on #48
#log-suggestion @presleyy

[2018-05-24 21:52] botcrane commented on #48
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=22775) logged.

[2018-05-24 21:58] Powerhelmsman commented on #51
@log-suggestion @presleyy

[2018-05-24 21:59] Powerhelmsman commented on #52
#log-suggestion @dend

[2018-05-24 21:59] botcrane commented on #52
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=22872) logged.

[2018-05-24 22:03] mschulz-msft commented on #40
#4 is something we can't change as there are people still relying on the content.
#3 is probably as @dend says
#2 I did see some EF content when searching for it
#1 No answer

[2018-05-24 23:01] SonjaSaltzman commented on #25
@v-jacard  - Jason, could you please take care of this translation fix?  thanks!

[2018-05-24 23:13] edmacauley commented on #28
Looks like my article(s) I will take a look

[2018-05-24 23:46] Powerhelmsman commented on #90
@mschulz-msft Can you answer the question from Rick?

[2018-05-24 23:49] Powerhelmsman commented on #40
We will now proceed to close this issue. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2018-05-24 23:49] #40 closed

[2018-05-25 01:10] v-jacard commented on #25
@SonjaSaltzman, @nokura, I've notified production and feedbacks team to follow up on this and will update.

[2018-05-25 10:58] Nakor101 opened #395 "Character ^ not being displayed and causing confusion"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2003/cc781134(v%3dws.10)

**Problem:**

Throughout the article and on other linked articles on the left, the character ^ is not being displayed.

For

[2018-05-25 16:13] Powerhelmsman commented on #395
Thanks for your elaborative feedback. unfortunately this content is no longer updating due to product lifecycle. I double check the similar article for windows server version is correct. https://docs.microsoft.com/en-us/windows-server/storage/file-server/ntfs-overview. I will close it so far. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue

[2018-05-25 16:13] #395 closed

[2018-05-25 17:40] Powerhelmsman commented on #225
@dend any update so far?

[2018-05-25 17:44] Powerhelmsman commented on #337
Close as transferring the issue.

[2018-05-25 17:44] #337 closed

[2018-05-25 17:47] Powerhelmsman commented on #332
@ccclxv It is resolved already. Please double check.

[2018-05-25 17:47] #332 closed

[2018-05-25 17:51] Powerhelmsman commented on #319
@erickson-doug Can you response this content feedback?

[2018-05-25 17:53] Powerhelmsman commented on #314
@dend any update?

[2018-05-25 17:58] Powerhelmsman commented on #311
@TaraMeyer Can you response if you are the right person to contact? @themar-msft @joshhbax-msft for awareness.

[2018-05-25 17:59] Powerhelmsman commented on #305
@dend any updates?

[2018-05-25 18:00] Powerhelmsman commented on #302
@erickson-doug Any update?

[2018-05-25 18:01] Powerhelmsman commented on #299
@erickson-doug Any update?

[2018-05-25 18:02] Powerhelmsman commented on #298
@dend Any update?

[2018-05-25 18:03] Powerhelmsman commented on #326
@danroth27 Can you response if you are the right person to contact?

[2018-05-25 18:03] Powerhelmsman commented on #226
#log-suggestion @dend

[2018-05-25 18:04] botcrane commented on #226
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=23006) logged.

[2018-05-25 18:10] Powerhelmsman commented on #301
@sateesh Can you response here?

[2018-05-25 18:12] Powerhelmsman commented on #301
@amarzavery what's Sateesh's Github profile ID? Looks like he didn't receive the message.

[2018-05-25 18:14] Powerhelmsman commented on #297
#log-suggestion @EdisonDa

[2018-05-25 18:14] botcrane commented on #297
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=23008) logged.

[2018-05-25 18:14] dastaffo commented on #9
There's not enough information to make this particular issue actionable, so I'm closing it out.

[2018-05-25 18:14] #9 closed

[2018-05-25 18:17] Powerhelmsman commented on #296
@log-suggestion @EdisonDa

[2018-05-25 18:18] Powerhelmsman commented on #296
#log-suggestion @EdisonDa

[2018-05-25 18:18] botcrane commented on #296
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=23010) logged.

[2018-05-25 18:19] Powerhelmsman commented on #287
@markrussinovich and @lukekim Any update?

[2018-05-25 18:20] Powerhelmsman commented on #273
@erickson-doug Any update?

[2018-05-25 18:23] Powerhelmsman commented on #242
#log-suggestion @Khairunj

[2018-05-25 18:29] Powerhelmsman commented on #246
@TianqiZhang This is small modification. Can you help fix it?

[2018-05-25 18:30] Powerhelmsman commented on #254
#log-suggestion @dend

[2018-05-25 18:30] botcrane commented on #254
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=23033) logged.

[2018-05-25 18:36] nschonni opened #396 "Share code for your GitHub app integration for utteranc.es"
**Is your feature request related to a problem? Please describe.**
I believe you're running a version of https://github.com/utterance/utterances for your comments, but using a custom GitHub bot/app for the integration.
It would be nice to share the code used for that GitHub App because your additional metadata and linking used in your version adds a bunch of value beyond the basic bot. Also makes

[2018-05-25 19:00] kfile commented on #17
@davidiseminger  is the rightful owner. He's now seen this and the email so I expect it will be resolved soon. Thanks.

[2018-05-25 22:43] Powerhelmsman commented on #231
This issue is transferred to C# queue.

[2018-05-25 22:43] #231 closed

[2018-05-25 22:51] Powerhelmsman commented on #183
Please check here. https://docs.microsoft.com/en-us/windows-hardware/drivers/kernel/implementing-wmi.
I will now proceed to close this issue. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and I will reopen the issue.

[2018-05-25 22:51] #183 closed

[2018-05-25 22:56] Powerhelmsman commented on #162
@tfitzmac Any plan on this item?

[2018-05-25 22:57] Sara-Nicolini commented on #198
@daveRendon, we appreciate your contribution to the blog and thanks for providing the translation in Spanish. Our team of linguists will review your proposed translation and ensure that the Spanish version of the blog post is suitable for all Spanish speaking countries. We will update you on the progress.

[2018-05-25 23:00] Powerhelmsman commented on #166
@tfitzmac Any updates?

[2018-05-25 23:04] Powerhelmsman commented on #260
The issue is transferred to UWP team

[2018-05-25 23:04] #260 closed

[2018-05-25 23:08] Powerhelmsman commented on #324
@swgupt The issue still not fixed. Can you double check? @SonjaSaltzman for awareness.

[2018-05-25 23:14] Powerhelmsman commented on #320
@BreakEnder233 It has been resolved. Please double check.

[2018-05-25 23:14] #320 closed

[2018-05-25 23:18] Powerhelmsman commented on #327
@ccclxv The issue has been resolved. Please double check.

[2018-05-25 23:18] #327 closed

[2018-05-25 23:19] Powerhelmsman commented on #354
@joserady Any updates?

[2018-05-25 23:27] Powerhelmsman commented on #318
@dend Any updates

[2018-05-25 23:27] Powerhelmsman commented on #153
@dend Can you response to this issue?

[2018-05-25 23:28] Powerhelmsman commented on #346
@paololec Is there any updates so far?

[2018-05-25 23:28] Powerhelmsman commented on #129
@Karl-Bridge-Microsoft Is there any updates?

[2018-05-26 00:10] dend commented on #351
@mairaw @BillWagner can you please confirm whether the plan stated above is OK?

[2018-05-26 02:06] mairaw commented on #351
I think you had enough feedback from the team @dend on what would be our ultimate preference.
Given the choice of keeping the current sorting or changing it to the field value, I'd keep as-is and mark this as wont-fix.

[2018-05-26 13:42] DavidPrio commented on #324
Hi @SonjaSaltzman can you please assign the issue to me so we can take care of it? (I do not have access to assign it myself). Thanks!

[2018-05-27 00:50] auttakornCH opened #397 "content"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
Tell us where exactly a problem occurs.

**Problem:**
What's wrong with the article?

[2018-05-27 00:50] #397 closed

[2018-05-27 07:10] nschonni opened #398 "Merge Microsoft/VSProjectSystem content into MicrosoftDocs/visualstudio-docs"
**Is your feature request related to a problem? Please describe.**
The content for this currently sits in https://github.com/Microsoft/VSProjectSystem relates to extending Visual Studio so the content probably belongs with the other VS extensiblity docs.

**Describe the solution you'd like**
Move the content into the MicrosoftDocs/visualstudio-doc repo and convert to DocFx/OpenBuild

**Describe al

[2018-05-27 16:47] csharpfritz commented on #326
Adding @HongGit to review and schedule

[2018-05-28 02:56] hellosnow commented on #319
@shouru when checking https://docs.microsoft.com/en-us/rest/api/monitor/activitylogs/list, currently $filter is in the parameter, could you please try again and see whether it could be reproduced?

[2018-05-28 02:57] EdisonDa commented on #398
#log-suggestions @dend

[2018-05-28 03:08] EdisonDa commented on #396
#log-suggestions @Powerhelmsman

[2018-05-28 03:36] EdisonDa commented on #80
Thank you for your suggestion. We will be reviewing it as part of upcoming gallery changes.

[2018-05-28 05:10] shouru commented on #319
Yes, it works with $filter now.

2018-05-28 10:56 GMT+08:00 Huang Xueyuan(Jessie) <notifications@github.com>:

[2018-05-28 05:45] hellosnow commented on #319
@shouru thanks for the update, then we'll close the issue, let us know if any further questions. 😄 cc @Powerhelmsman

[2018-05-28 05:56] Khairunj commented on #376
Thank you alswl for reporting this issue we are working on restoring the images in the article.

[2018-05-28 06:04] Khairunj commented on #380
The Windows 8 link is now fixed thanks for reporting the issue.

[2018-05-28 06:06] Khairunj commented on #253
Thank you jt-65 the broken link is now fixed and it points to TechNet gallery,

[2018-05-28 06:06] #253 closed

[2018-05-28 06:06] #380 closed

[2018-05-28 06:09] Khairunj commented on #177
Thanks for the feedback i have added the feedback in the backlog.

[2018-05-28 06:17] Khairunj commented on #242
Hello

As you have mentioned that you like to have the current version come up in search results and hence that's exactly what was our goal.  We want to have the latest version come up in search.  If you are looking for older version of the content the easiest query you can use on search engine is "Microsoft Previous version docs" and the first result will take you to the previous version home pag

[2018-05-28 06:29] EdisonDa commented on #296
Could you please kindly let me know if this resolve your question?

[2018-05-28 15:19] daveRendon commented on #198
Thank you @Sara-Nicolini !

[2018-05-28 16:31] svick opened #399 "Single method interfaces include method parameters in title"
**Describe the bug**

It seems that pages in the .Net API reference for interfaces that have a single method include the types of parameters of this method in their title.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [the API reference page for `IComparer`](https://docs.microsoft.com/en-us/dotnet/api/system.collections.icomparer?view=netframework-4.7.2).
2. Look at the title of the

[2018-05-28 22:45] SonjaSaltzman commented on #324
@DavidPrio - done

[2018-05-29 06:11] SoronelHaetir commented on #393
An update, I have since found that using http instead of https still works.

[2018-05-29 09:21] EdisonDa commented on #399
@dend could you please take a look? This is related to .Net API docs.

[2018-05-29 09:26] EdisonDa commented on #80
Thank you for your suggestion, and we will consider your suggestion in upcoming change. Currently, you can go to [PowerShell Module browser](https://docs.microsoft.com/en-us/powershell/module) and search the module name, then you can find its corresponding page in docs.

[2018-05-29 16:28] #25 closed, assigned to DavidPrio

[2018-05-29 16:55] dend commented on #399
#log-suggestion @dend

Yup, that needs to be addressed. Opening an internal ticket to track the work.

[2018-05-29 16:55] #80 closed, assigned to EdisonDa

[2018-05-29 17:02] dend commented on #398
@Jemash - looks like something your team can help address.

[2018-05-29 17:04] dend commented on #153
This seems like a missing API, and in this case - targeting AAD. @twitchax - do you happen to know who is responsible for this package: [Microsoft.IdentityModel.Tokens](https://www.nuget.org/packages/Microsoft.IdentityModel.Tokens/)

[2018-05-29 17:05] dend commented on #318
This is a question for @tcNickolas

[2018-05-29 17:08] dastaffo commented on #391
@adkinn Can you help figure out why this is only the ToC?

[2018-05-29 17:54] Powerhelmsman commented on #60
@ginami Is this something you can help?

[2018-05-29 18:03] Powerhelmsman commented on #60
Close as no longer maintenance.

[2018-05-29 18:03] #60 closed

[2018-05-29 18:11] extcon opened #400 "Add license implication notice to Azure Datacenter Migration technical guidance"
# Idea Title

License compliance awareness as part of migration or transformation projects to Azure

## Issue Details
Although the Azure Virtual Datacenter consists of mainly technical documentation it would be helpful for a number of reasons to at least provide a notice that you would want to make a licensing implication analysis when transforming workloads. E.g. a customer transformed a SQL clus

[2018-05-29 20:02] Powerhelmsman commented on #400
@extcon Which content page are referring to?

[2018-05-29 20:35] twitchax commented on #153
@skwan may be able to help.  @skwan, do you know who owns this library?

[2018-05-29 20:46] dend commented on #396
@nschonni @jdanyow closing this particular issue as it is external and will be addressed in the `utterance.es` repo.

[2018-05-29 20:46] #396 closed

[2018-05-29 21:00] nschonni commented on #396
Can I update the description and title a bit to get this reopened? I was looking for the comment system setup code, which I thought was based on utteranc.es :stuck_out_tongue_winking_eye:

[2018-05-29 21:01] dend commented on #140
@mairaw yes, this is fixed!

[2018-05-29 21:01] #140 closed, assigned to dend

[2018-05-29 21:20] jdanyow commented on #396
@nschonni there's no docs secret sauce- the docs code and the utterances code are very similar.  The main difference I described above (multiple issues per page vs single issue per page).  Neither docs nor utterance have a server-side component other than the [oauth related code](https://github.com/utterance/utterances-oauth) which have similar implementations.

[2018-05-29 22:13] dend commented on #389
That's by design, because the repo in question is not used for publishing to docs - it's synced upstream into a VSTS repository that is used as the de-facto publishing repo. The public-facing repository does not contain any publishing information (notice that it doesn't have any OPS configuration information).

[2018-05-29 22:14] #389 closed

[2018-05-29 22:43] Karl-Bridge-Microsoft commented on #129
The Brush object topic that describes the valid brushes is linked directly from the sentence you copied from the Property value description.

[2018-05-29 23:16] Powerhelmsman commented on #129
Close as resolved.

[2018-05-29 23:16] #129 closed

[2018-05-30 00:10] mairaw commented on #226
@dend do you have something already logged to control which interfaces are shown for which version?

[2018-05-30 00:18] mairaw commented on #222
More issues are being reported for this:
https://github.com/dotnet/docs/issues/5608
https://github.com/MicrosoftDocs/feedback/issues/226#issuecomment-382851106

@dend do we have an issue logged?

[2018-05-30 01:25] grosvinsanchez opened #401 "Tutorial by Upload files MVC core"
I am folowing tutorial about https://docs.microsoft.com/es-es/aspnet/core/tutorials/razor-pages/uploading-files?view=aspnetcore-2.0, I have a problem, I've trying to fix it , but I've cannot do it, on the section Upload file when I run app, than I do click on pages Schedule shows the next error:

(https://user-images.githubusercontent.com/39742973/40693657-d33d1364-6375-11e8-8e29-f18d31080576.png)

[2018-05-30 05:18] nschonni commented on #389
@dend fair enought 👍
Is the plan to migrate the other repos under this org over to OpenPublishing build (eventually)?
I just appreciate the build checking when I'm doing PRs to those repose, and hope that one day that I'll be able to leverage the workflow for some of our stuff once it's opened up.

[2018-05-30 06:02] IanKemp opened #402 "SQL Server 2005 database samples are no longer available on CodePlex"
I guess this isn't really a docs.microsoft.com issue, so if you could tell me where I should report this so it doesn't get lost in the noise it would be great, or maybe if you good gents could just pass it along to the appropriate peeps. :)

Anyhow, if you go to https://www.microsoft.com/en-za/download/details.aspx?id=10679 to download the SQL 2005 sample databases, it redirects you to a project o

[2018-05-30 08:39] lagriz opened #403 "Windows Server 2016: Logical processor limit (MAX) discrepancies and errors"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://www.microsoft.com/en-us/cloud-platform/windows-server-comparison
https://docs.microsoft.com/en-us/windows-server/get-started/2016-edition-comparison

**Problem:**

The Windows Server 2016 processor limits do not match  - an

[2018-05-30 14:04] binki opened #404 "Version switcher shows irrelevant versions and redirects to latest if I choose an inapplicable version"
**Describe the bug**
If I click in the dropdown to choose the .net version, it shows a bunch of versions which do not apply to the current page I’m on. On the old docs site, only versions applicable to the current API are shown. On docs.microsoft.com, it shows inapplicable versions. If I click on an inapplicable version, it redirects me to the latest version.

**To Reproduce**
Steps to reproduce t

[2018-05-30 16:47] Powerhelmsman commented on #402
@IanKemp Please try https://docs.microsoft.com/en-us/previous-versions/sql/sql-server-2005/ms124501%28v%3dsql.90%29.

[2018-05-30 16:47] #402 closed

[2018-05-30 16:54] Powerhelmsman commented on #401
@grosvinsanchez Your issue is transferred to asp.net team. They will figure out the root cause for you.

[2018-05-30 16:54] #401 closed

[2018-05-30 16:57] Powerhelmsman commented on #404
@binki Thanks for your detailed feedback. I will open an internal work item to track it.

[2018-05-30 16:57] Powerhelmsman commented on #404
#log-suggestion @dend

[2018-05-30 16:57] botcrane commented on #404
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=23607) logged.

[2018-05-30 17:04] Powerhelmsman commented on #403
@lagriz Your issue is transferred to the author team. They will address your question there.

[2018-05-30 17:04] #403 closed

[2018-05-31 00:05] chgennar commented on #140
@dend @mairaw Is this something that needs to be configured?  How would I show a class summary table for a class such as [Map](https://docs.microsoft.com/en-us/javascript/api/azure-maps-javascript/map?view=azure-iot-typescript-latest)?

[2018-05-31 04:32] nschonni opened #405 "redirect_url Markdown files vs. .openpublishing.redirection.json"
**Is your feature request related to a problem? Please describe.**
I've noticed a mix of 2 different flavours of doing redirection in the projects. sometimes the old file will be left, and replaced with
[code]
And other times the redirects are done through adding entries in `.openpublishing.redirection.json`

**Describe the solution you'd like**
Probably stick to the `.openpublishing.redirection.j

[2018-05-31 16:05] Powerhelmsman commented on #378
Closed as no enough information.

[2018-05-31 16:05] #378 closed

[2018-05-31 16:09] Powerhelmsman commented on #405
@nschonni Thanks for your suggestion. I will open a internal work item to follow up.

[2018-05-31 16:09] Powerhelmsman commented on #405
#log-suggestion

[2018-05-31 16:09] botcrane commented on #405
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=23882) logged.

[2018-05-31 19:12] mairaw opened #406 "MSDN formatting: missing horizontal scroll"
From @rangercej

Some of the lines in this page are really rather long, and when the right-hand side-bar (Feedback, Edit, Share, change theme, etc) are displayed, it's not possible to see entire code snippets nor all descriptions in the attributes table as they scroll underneath the right-hand side-bar. There appears no way to hide the side-bar. Browser: Vivaldi, with vertical tab-bar.

* Content:

[2018-05-31 19:15] mairaw commented on #406
@adkinn moved the issue here since the content isn't resizing as I resize my browser window.

![image](https://user-images.githubusercontent.com/12971179/40803055-591fcb64-64cc-11e8-8439-64b61651abf1.png)

[2018-05-31 19:40] adkinn commented on #406
@mairaw there should be a horizontal scroll bar at the bottom of the table. If you don't see that please let me know the browser and os you are running.

Additionally we do have some work planned to improve the experience for scrolling table that are taller than the viewport like this one.

[2018-05-31 19:43] mairaw commented on #406
@adkinn this issue was actually reported by a customer. I've included his GH user here and he does mention he's using a browser called Vivaldi.

[2018-05-31 19:46] mairaw commented on #406
BTW, I do see the scrollbar on the bottom of the table but because the table is large, I cannot see it and it's hard to read the text of the cells if you have to go up and down on the page to find the scroll. (I'm aware I can use keys or mouse to scroll as well)

[2018-05-31 21:45] ShevaDas commented on #309
@spottedmahn Thanks for the feedback! I agree this is confusing. We're looking at some big updates to our TOC design and site structure and will make sure this is addressed as those roll out.

[2018-05-31 23:48] dend commented on #159
@ShevaDas notice how the scroll bar sticks out in terms of color:

![image](https://user-images.githubusercontent.com/1389609/40813970-6d9addf6-64f2-11e8-807d-9127f1b8b495.png)

[2018-06-01 01:09] HongGit commented on #326
@mikebk if you browse a bit on the MSDN documentation, you will find the [Working with ASP.NET Web Server Controls](https://msdn.microsoft.com/en-us/library/k26w4zzx(v=vs.110).aspx) page, where you will find two of the topics you are querying about:
- [How to: Set ASP.NET Web Server Control Properties](https://msdn.microsoft.com/en-us/library/7ataet98.aspx), which does have Security Note regarding

[2018-06-01 04:18] dend commented on #18
#log-suggestion @dend

[2018-06-01 04:18] botcrane commented on #18
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=24040) logged.

[2018-06-01 08:51] gebiWangshushu opened #407 "页面展示有问题，请尽快修复！！"
**.net core 文档 页面展示有问题**

**重现步骤**
1、https://docs.microsoft.com/zh-cn/aspnet/core/tutorials/first-web-api?view=aspnetcore-2.1#comments-container

2、页面下面很多代码都显示为 “[!code-csharp]”，请尽快修复！！

[2018-06-01 13:27] rangercej commented on #406
Hiya, browser is Vivaldi. Uses gecko as the rendering engine (like Chrome), however the same issue exists in Chrome. I missed the horizontal scroll in the first instance, but as @mariaw says, it's not particularly usable for this piece of documentation (and wasn't immediately discoverable as it was off screen). If the right-hand side-bar could be collapsed, it would make the documentation more rea

[2018-06-01 14:06] ulln commented on #135
This applies to all inherited members (methods, properties, events, ...)
I would prefer to make them somewhat less visible by separating them from the actual members of the type.

[2018-06-01 16:18] Powerhelmsman commented on #407
@SonjaSaltzman Some sample code display as “[!code-csharp]”. English version is good.
![image](https://user-images.githubusercontent.com/33136632/40851529-8750460c-657c-11e8-842c-c29bc5d60c86.png)

[2018-06-01 16:22] Powerhelmsman commented on #406
@ShevaDas Can you take user's concern under consideration on improving scroll bar experience?

[2018-06-01 16:23] Powerhelmsman commented on #406
#log-suggestion @ShevaDas

[2018-06-01 16:23] botcrane commented on #406
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=24064) logged.

[2018-06-01 17:01] SonjaSaltzman commented on #407
@nokura @DavidPrio Could you please investigate and fix?

[2018-06-01 22:26] meganbradley commented on #405
@nschonni this is by design. The JSON redirection file is the recommended way to maintain redirection long term, but adding the metadata in individual files is easier for authors and useful for in-progress refactoring and communication to contributors (we can add comments in the old files, as opposed to having them immediately disappear from the repo). The next Docs Authoring Pack release will con

[2018-06-01 22:26] #405 closed

[2018-06-02 00:29] ShevaDas commented on #321
@geskill The content teams have updated the icons on this page to be readable in dark mode. Thanks for the feedback!

[2018-06-02 03:11] nschonni commented on #405
@meganbradley thanks for the followup 👍
I can understand now that the redirect is a temporary solution, and the redirect should get flagged by the authoring tools.
Maybe it would be good to create something on the https://github.com/MicrosoftDocs/Contribute repo to underline that, or have your already filed something? I'm not sure how the MS internal processes work 😉 ❤️ ❤️ ❤️

[2018-06-02 07:21] douglasgdy opened #408 "将鼠标悬停在文本上，可在弹出窗口中显示英语文本。"
建议将技术文档页面顶部的“将鼠标悬停在文本上，可在弹出窗口中显示英语文本。【启用/禁用】”这句描述或按钮放置于页面右部，如“反馈”、“编辑”、“共享”等按钮显示于页面右部。这样，在文档很长时，方便操作。

[2018-06-03 00:48] nschonni opened #409 "TrustCenter links don't redirect to language specific urls"
**Describe the bug**
Any links to https://www.microsoft.com/trustcenter/ and below without the language identifer `en-us` do not seem to work.
I realize this isn't a docs site page, but is linked to quite a bit from the docs, and is likely easier for you to address internally.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-ca/azure/analysis-services/analy

[2018-06-04 06:25] dapsjj opened #410 "Azure Detect faces API,how to change the URL picture to a local picture?"
This [link](https://docs.microsoft.com/en-us/azure/cognitive-services/face/quickstarts/python)

I use azure Detect faces API But I find image_url is a picture of a network. Now I want to use my local picture,how to change the URL picture to a local picture?

Can you give me code?I use python 3.6

[2018-06-04 08:08] IanKemp commented on #86
When/if is this going to be actioned? I would have thought it would be trivial to create a redirect rule to send all requests of the form `https://msdn.microsoft.com/<lang>/library/<type>.aspx` to `https://docs.microsoft.com/<lang>/dotnet/api/<type>`... It's so very annoying to hit the old docs page via F1 in Visual Studio or a Google search result, then have to click through to the new docs searc

[2018-06-04 09:33] shouru opened #411 "SQL Database Threat Detection policies api"
I want to use api to get the policies, but I don't know what the policies name are. Is it possible to get the policies name by API ?

This is used in my program. I hope I can get all info about the threat detection policies of the server.
Like get server information, I can use List operation rest api to get all. But Database Threat Detection Policies doesn't have. How can I get all policies inform

[2018-06-04 14:20] yvinap opened #412 "API Browser: System.Configuration.KeyValueConfigurationCollection does not show up in the list of supported APIs in DotNet Core 2.1"
**Link to article:**
https://docs.microsoft.com/en-us/dotnet/api/?view=netcore-2.1

**Problem:**
System.Configuration namespace and types does not show up for .Net Core 2.1. They does show up for .Net Core 2.0. Can you clarify?

[2018-06-04 15:15] gebiWangshushu commented on #407
感谢回复！

[2018-06-04 15:47] Powerhelmsman commented on #408
@douglasgdy On the right navigation, there is one switch. You can use it to switch to English. The right navigation will keep when you scroll down the long document.
![image](https://user-images.githubusercontent.com/33136632/40927499-baf01b50-67d3-11e8-8c26-1fafda7a5516.png)
Let me know if it helps you.

[2018-06-04 15:52] Powerhelmsman commented on #409
Close as transferring the issue to Azure team

[2018-06-04 15:52] #409 closed

[2018-06-04 15:56] CeciAc commented on #407
你好，@gebiWangshushu
 
感谢你的反馈。 
 
我们正在积极查看你的评论，并会很快地再次和你取得联系。 
 
深深的祝福， 
Microsoft DOCS International Team 

[2018-06-04 16:03] Powerhelmsman commented on #412
@dend Can you take a look at this issue?

[2018-06-04 19:56] nschonni opened #413 "PR Merge Bot should pick up #sign-off comment in PR Review response"
**Is your feature request related to a problem? Please describe.**
It seems like the "PRMerger" account doesn't pick up your control comments like `#sign-off` if they are embeded in the PR approval text.
EX: working for "issue comment" https://github.com/MicrosoftDocs/azure-docs/pull/9637#issuecomment-394444816
EX: not working for "pull request review" https://github.com/MicrosoftDocs/azure-docs/p

[2018-06-04 20:40] Powerhelmsman commented on #413
@dend Can you take a look at this issue?

[2018-06-04 21:11] grosvinsanchez commented on #401
Thank you so much!!!

[2018-06-04 21:14] Powerhelmsman commented on #410
Close as transferring the issue to Azure team.

[2018-06-04 21:14] #410 closed

[2018-06-04 21:19] Powerhelmsman commented on #411
@shouru This channel is for docs site's bug, feedback and suggestion instead of general coding questions. Please try SQL Server forum. Sorry can't help you find the right person to answer your question.

[2018-06-04 21:19] #411 closed

[2018-06-04 22:45] mairaw opened #414 "Left menu and right menu taking too much space"
Original issue: https://github.com/dotnet/docs/issues/5781

From @rosdi:

Please allow us to toggle these left and right side bars... especially the right now... it is taking too much space...

Love the dark theme btw.

* Content: [Enumeration Format Strings](https://docs.microsoft.com/en-us/dotnet/standard/base-types/enumeration-format-strings#feedback)
* Content Source: [docs/standard/base-types

[2018-06-04 22:47] mairaw opened #415 "DocFX styling hides content"
Original GitHub issue: https://github.com/dotnet/docs/issues/5779

From @florinciubotariu:

The website that DocFX is serving is not showing the content correctly.

For example, if I navigate to:

`http://localhost:8080/standard/choosing-core-framework-server.html`

the [following](https://imgur.com/a/zzIzbuJ) page is displayed.

If I delete the `<div>` that is having the `container` class, then t

[2018-06-04 23:41] dend commented on #415
@mairaw this also feels like something that should probably go into the DocFX repo instead: https://github.com/dotnet/docfx/issues

[2018-06-04 23:50] dend commented on #414
@ShevaDas is the PM who can help here.

[2018-06-04 23:52] dend commented on #413
This would be an ask for @meganbradley

[2018-06-04 23:54] dend commented on #86
@IanKemp we are actively working on that, and will have an update in the next couple of weeks!

[2018-06-05 04:28] nschonni commented on #413
Thanks for following up 👍
The second PR has also been merged now manually, but the bot didn't clear the tag. This is still an issue AFAIK

[2018-06-05 04:31] norshtein opened #416 "The "Try it" in "apimanagement/tenantaccess/update" is incorrect"
**Describe the bug**
In [https://docs.microsoft.com/en-us/rest/api/apimanagement/tenantaccess/update](https://docs.microsoft.com/en-us/rest/api/apimanagement/tenantaccess/update), in the "Try it" page, header "Content-Type: application/json" is absent, which causes the http response to be "415 Unsupported media type" even though all configuration is correct.

**To Reproduce**
Steps to reproduce th

[2018-06-05 14:23] HaoLife opened #417 "中英文模式下，导航的页面显示有问题"
https://docs.microsoft.com/zh-cn/windows/uwp/get-started/universal-application-platform-guide

英文的内容，中文的导航
中文的内容，英文的导航。

[2018-06-05 16:03] Powerhelmsman commented on #416
@erickson-doug Can you take a look this content issue? @hellosnow for awareness.

[2018-06-05 16:10] Powerhelmsman commented on #417
@HaoLife Can you provide more detail about this issue?

[2018-06-05 16:15] Powerhelmsman commented on #415
This issue is transferred to docfx issues queue.

[2018-06-05 16:15] #415 closed

[2018-06-05 21:47] ShevaDas commented on #406
@rangercej Thanks for the feedback! I'm going to consolidate this issue with #336 and close this one out.

[2018-06-05 21:47] #406 closed

[2018-06-05 21:47] ShevaDas commented on #336
Also see #406

[2018-06-06 01:41] hylinux opened #418 "traffic Manager overview have some issues"
here's the document link:
https://docs.microsoft.com/en-us/azure/traffic-manager/traffic-manager-overview

there's a example for Corp Contoso ,  the example want to explain how to use traffic manager route request to url: https://partners.contoso.com/login.aspx. but all picture is saying how to route www.contoso.com to correct service, make people confuse, what's related between www and partner.

[2018-06-06 02:16] hellosnow commented on #416
@Powerhelmsman Doug may focus on VSTS content, so please involve me first. Thanks! 😄

[2018-06-06 04:39] OzBob opened #419 "searching on nvarchar causes 403"
**Describe the bug**
SQL nvarchar search 403s with oAuth cookies

**To Reproduce**
Steps to reproduce the behavior:
https://docs.microsoft.com/en-us/search/index?search=nvarchar
with a strange combination of Microsoft Id cookies causes 403

Searching on
https://docs.microsoft.com/en-us/search/index?search=datalength
does not

Result: Access Denied Http 403
On Screen:
'You don't have permission to

[2018-06-06 14:27] sezekiels opened #420 "Column formatting not working"
**Describe the bug**
We have SharePoint Online on E3 and I'm trying to format a column in a modern SPoL list using the Json script examples provided  on your page here :https://docs.microsoft.com/en-gb/sharepoint/dev/declarative-customization/column-formatting

No matter how I try to tweak them or even paste the standard scripts, they just not working or producing the desired behaviour.

AIll I wa

[2018-06-06 14:51] sezekiels commented on #420
Just realised that you don't support Managed property columns which explains why I have been struggling!!!

[2018-06-06 14:51] #420 closed

[2018-06-06 15:12] spacecadet980 commented on #419
I get the same issue on my usual browser (Chrome, with most of my cookies) and Edge (with some of my cookies). I get normal search results with Firefox (with none of my cookies).  I encountered this a few times over the past few days, and just assumed that the site was down momentarily; unfortunately I didn't note my search queries at the time.

[2018-06-06 16:15] mairaw commented on #385
It seems this was fixed already. Can you confirm @adkinn?

[2018-06-06 16:17] adkinn commented on #385
@mairaw yes, we fixed this! Apologies for not bubbling back up to this issue.

[2018-06-06 16:23] mairaw opened #421 "Request single page for `Action` and `Func` declarations"
@BillWagner commented on [Thu Feb 18 2016](https://github.com/dotnet/docs/issues/261)

The API docs have individual pages for all the Action delegate types (https://docs.microsoft.com/en-us/dotnet/core/api/system.action to https://docs.microsoft.com/en-us/dotnet/core/api/system.action-16) and all the Func Types (https://docs.microsoft.com/en-us/dotnet/core/api/system.func-1 to https://docs.microso

[2018-06-06 16:28] mairaw commented on #385
I don't have write permissions, so somebody other than me has to close this. 😄

[2018-06-06 16:55] Powerhelmsman commented on #419
@presleyy Can you take a look to see if this is a bug?

[2018-06-06 16:58] Powerhelmsman commented on #385
@ChrisMaddock Close as it is resolved.

[2018-06-06 16:58] #385 closed

[2018-06-06 17:45] ChrisMaddock commented on #385
Thanks! 😃

[2018-06-06 20:05] yvinap commented on #412
Same observation for System.Configuration.ConfigurationManager

[2018-06-06 21:27] nCastle1 opened #422 "Internal DevDiv work item edit link in VS 15.7.3 release notes"
Link: https://docs.microsoft.com/en-us/visualstudio/releasenotes/vs2017-relnotes#15.7.3

Problem: "UWP XAML is very slow to open" links to https://devdiv.visualstudio.com/DevDiv/_workitems/edit/615696 instead of a description of the issue.

Note: Visiting that page seemed to auto-enroll me somehow, possibly through IWA? You might want to delete my devdiv vsts account.

[2018-06-06 21:40] Powerhelmsman commented on #414
#log-suggestion @ShevaDas

[2018-06-06 21:41] botcrane commented on #414
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=24681) logged.

[2018-06-06 21:43] Powerhelmsman commented on #422
@erickson-doug Can you take a look at this issue?

[2018-06-06 21:45] nCastle1 commented on #422
Forgot to mention, the created account is aee6e3c9-711e-4c7c-bd27-04f2307db20d\nath9278@esri.com.

[2018-06-06 21:49] Powerhelmsman commented on #418
@hylinux Your issue is transferred to Azure team. They will help you on the specific content issue there.

[2018-06-06 21:49] #418 closed

[2018-06-06 21:50] Powerhelmsman commented on #421
#log-suggestion @dend

[2018-06-06 21:50] botcrane commented on #421
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=24682) logged.

[2018-06-06 21:56] mairaw commented on #421
@Powerhelmsman note that an internal request already existed: https://ceapex.visualstudio.com/Engineering/_workitems/edit/16418

I'm just moving things that are not content fixes our team can do out of our repo.

[2018-06-06 22:02] Powerhelmsman commented on #421
@mairaw Thanks for note. I added this link to work item. Den will update the status later.

[2018-06-07 16:07] dend commented on #422
Thanks for the feedback, @nCastle1 - I've raised this with our team.

[2018-06-07 16:08] dend commented on #412
@mairaw @BillWagner @terrajobst - can you confirm whether the API is available in the new release of .NET Framework or not?

[2018-06-07 16:15] dend commented on #419
Seems to be a transient issue, as I can perform the search normally right now. However, we likely need to check what is causing this - @Sampy @DuncanmaMSFT, can you please take a look?

[2018-06-07 18:51] Sampy commented on #419
It looks like this is an issue with getting the search **page** which is different than the search **service**. An error with the service (which doesn't authenticate at all) would still show the page itself but fail to load any results. The page itself is simply another page on Docs like all the others (mostly) so we'd need to look at the docs hosting to see why it wasn't returning the page.

[2018-06-07 20:16] AndyWDev opened #423 "Older documentation - script hanging"
When accessing older documentation in docs.microsoft.com that contains the text at the top of the page 'we are no longer updating this content.....'  causes the browser (IE11) to hang when attempting to scroll and navigate the page. One must click the 'stop script' button to get the page to load correctly.  Attempting to scroll the page or perform any action causes the script to hang again.

The i

[2018-06-07 22:12] dend commented on #423
Closing as duplicate of #3

[2018-06-07 22:12] #423 closed

[2018-06-07 22:12] dend commented on #3
@Jemash @TaraMeyer do you happen to have any updates on this?

[2018-06-07 23:39] dend commented on #422
This is now resolved!

[2018-06-07 23:39] #422 closed

[2018-06-08 06:15] jdanyow commented on #159
if you're using chrome, here's a workaround:

1. enter `chrome://flags` in chrome's address bar.
2. enable the following features:
    ![chrome flags](https://user-images.githubusercontent.com/1306747/41141872-8b3271e2-6aa8-11e8-90d3-e23d20583c4a.png)

[2018-06-08 06:48] zhiliangxu opened #424 "I cannot search for short classes or properties in API Browser"
**Describe the bug**
I cannot search for short classes or properties in API Browser.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `https://docs.microsoft.com/en-us/dotnet/api/`
2. Type `E` or `PI` in search box and press return key.
3. No result is returned.

**Expected behavior**
I can get search results such as `System.Math.E`, `System.Math.PI` and `Microsoft.Quantum.Extensions.Ma

[2018-06-08 10:01] lagriz commented on #403
Since the thread is closed, how do I know what the outcome is?

[2018-06-08 10:04] Crucial2K opened #425 "Properly display non .sql files in SSMS solution"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2018-06-08 10:09] Crucial2K commented on #425
Hi, as we are able to add Powershell and other scripts to an SSMS solution could these be properly formatted and colour-coded when we open them rather than as text with lots of underlines because the parser doesn't recognise words as valid SQL. Also, I like to have a Readme.sql as the first in a solution to describe what the solution is about. Could MarkDown or some other formatting technique be a

[2018-06-08 14:15] jongalloway opened #426 "Search for F# yields no results"
**Describe the bug**
Searching for "F#" yields no results. Searching for "C#" has a lot of results. F# search should at least bring up https://docs.microsoft.com/en-us/dotnet/fsharp/

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'docs.microsoft.com'
2. Search for 'F#'
3. Observe that there are no results found

**Expected behavior**
Some results for F#, especially https://docs.micros

[2018-06-08 16:04] Powerhelmsman commented on #424
@dend Can you take a look at this?

[2018-06-08 16:07] Powerhelmsman commented on #403
@lagriz under your original issue, there is a link to transferred issue. You can click open it and it will redirect you to new issue page. Meanwhile, I am still monitoring the status of your transferred issued. If they resolved it but not inform you, I will inform you.

[2018-06-08 16:09] Powerhelmsman commented on #425
@Crucial2K Can you provide the content page link you refer to?

[2018-06-11 08:22] nitu1702 opened #427 "Unable to see @ symbol"
Using Version 15.117.27414.0
I created some tasks in TFS and assigned to my team members.

Team member could see it in his list and change status, update comments.

But the team member cannot see '@' for tagging. Because of this, I as a manager do not get mails on what he has updated.

What could be the reason that he cannot tag people in discussions ?

A clear and concise description of what the

[2018-06-11 12:24] #259 closed

[2018-06-11 16:32] Powerhelmsman commented on #427
@nitu1702 This channel is for Docs site related feedback. So I transferred your issue to Visual Studio team issue channel. They will help you there.

[2018-06-11 16:32] #427 closed

[2018-06-11 20:25] rogererens opened #428 "Typo on Azure for Python developers page"
**https://docs.microsoft.com/en-us/python/azure/?view=azure-python:**

**Problem:**
One of the 5-Minute Quickstarts has a title
"Build a Comos DB SQL API app"
which should be
"Build a Co**s**mos DB SQL API app"

[2018-06-11 20:29] Powerhelmsman commented on #428
@lisawong19 @dend Can you quickly fix it?

[2018-06-12 05:59] superkid200 opened #429 "Cortana Background Problem"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
The article that cause this problem is at https://docs.microsoft.com/en-us/cortana/voice-commands/launch-a-background-app-with-voice-commands-in-cortana

**Problem:**
The App Service name in Package.appxmanifest and the App Service

[2018-06-12 06:00] superkid200 commented on #429
And Cortana UI won't work but spoken message still be spoken.

[2018-06-12 12:23] thedanfernandez commented on #75
Thanks for the feedback, I'm going to close this as documentation doesn't always fit or match with certification and resources like Microsoft Virtual Academy are a better resource for certification preparedness.

[2018-06-12 12:23] #75 closed

[2018-06-12 16:09] Powerhelmsman commented on #429
@Karl-Bridge-Microsoft Can you take a look at the issue?

[2018-06-12 17:52] Karl-Bridge-Microsoft commented on #429
@superkid200 @Powerhelmsman - The snippet has been fixed. Please be sure to check the related sample for the most up to date code (linked from the doc). It sees regular updates and maintenance.

[2018-06-12 17:53] #429 closed

[2018-06-12 19:19] kdelorey opened #430 "Add documentation for System.Threading.Channels"
# System.Threading.Channels Documentation

With the release of .NET Core 2.1 came a new assembly [System.Threading.Channels](https://www.nuget.org/packages/System.Threading.Channels/). This assembly is dependent on [Microsoft.AspNetCore.App](https://www.nuget.org/packages/Microsoft.AspNetCore.App/) via. the dependent SignalR package.

Information about this assembly should be generated and added t

[2018-06-12 20:01] Powerhelmsman commented on #430
@mairaw @dend Can you take a look at this request?

[2018-06-12 21:08] mairaw commented on #430
We don't currently support adding docs for specific .NET NuGet packages. We only have the platform docs now.
There's a feature request that @dend is working on to enable that in the future.

[2018-06-13 01:48] chanmmn opened #431 "ListItem oListItem = oList.Items.GetById(3); will not run"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://github.com/MicrosoftDocs/feedback/issues/new?template=Custom.md

**Problem:**
ListItem oListItem = oList.Items.GetById(3); will not run.
I change it to
ListItem oListItem = oList.GetItemById(2);
it is running fine.

[2018-06-13 07:17] kierendixon opened #432 "SQL Server - Modify Data Through a View page"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Link to article:**
https://docs.microsoft.com/en-us/sql/relational-databases/views/modify-data-through-a-view?view=sql-server-2017#SSMSProcedure

**Problem:**
The page states "You cannot insert a row if the view references more than one base table."

[2018-06-13 07:18] kierendixon commented on #432
[modify-data-through-a-view-sql.txt](https://github.com/MicrosoftDocs/feedback/files/2096969/modify-data-through-a-view-sql.txt)

[2018-06-13 07:28] #432 closed

[2018-06-13 07:29] kierendixon commented on #432
In the context of editing rows using SSMS this is actually correct

[2018-06-13 12:10] LindaLawton opened #433 "Link to source from API docs"
**Is your feature request related to a problem? Please describe.**
It would be nice if documentation pages like [microsoft.aspnetcore.authentication.authenticationservice.challengeasync](https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.authentication.authenticationservice.challengeasync?view=aspnetcore-2.1) linked to their respscitve GitHub source pages  for example  [Authenticatio

[2018-06-13 16:10] Powerhelmsman commented on #433
@LindaLawton Thanks for your suggestion. I've created a internal work item to track your request. I will let you know when we have solution on it.

[2018-06-13 16:10] Powerhelmsman commented on #433
#log-suggestion @dend

[2018-06-13 16:10] botcrane commented on #433
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=25501) logged.

[2018-06-13 16:16] Powerhelmsman commented on #431
@chanmmn Can you tell us which page you refer to?

[2018-06-13 16:37] dend commented on #141
#log-suggestion @dastaffo to take a look.

[2018-06-13 16:38] botcrane commented on #141
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=25506) logged.

[2018-06-13 17:05] Powerhelmsman commented on #408
@douglasgdy I will close the issue now. Let me know if you have any concern on this so we can reopen the issue.

[2018-06-13 17:05] #408 closed

[2018-06-13 17:54] adityapt opened #434 "revoscalePY codes not working on sql server 2017"
# revoscalepy

Be as descriptive as you can with your idea/bug report/question/suggestion.
I tried to replicate the same code provided in
https://docs.microsoft.com/en-us/machine-learning-server/python-reference/revoscalepy/rx-data-step
in sql server 2017 using revoscalepy and it is not working.

execute sp_execute_external_script
@language = N'Python',
@script = N'
import revoscalepy as rp
file=

[2018-06-13 20:22] Powerhelmsman commented on #434
@HeidiSteen Can you take a look at this issue?

[2018-06-13 20:32] dastaffo commented on #373
@Nathan-Tarin This should be working now. Let me know if you still have issues.

[2018-06-13 20:32] #373 closed

[2018-06-14 00:30] BeginBI opened #435 "PowerPivot for Excel Tutorial Sample Data – Version 2"
**Link to article:**
https://docs.microsoft.com/en-gb/previous-versions/sql/sql-server-2012/gg413497%28v%3dsql.110%29

**Problem:**
Could not access the web site to download the files "PowerPivot for Excel Tutorial Sample Data – Version 2. "
http://go.microsoft.com/fwlink/?linkid=164474

[2018-06-14 03:37] nschonni opened #436 "Bots should handle notifying mulitple authors when a PR touches multiple files"
**Is your feature request related to a problem? Please describe.**
When a PR touches multiple documents, only a single author is notified. I had a large but simple PR https://github.com/MicrosoftDocs/visualstudio-docs/pull/1119 and I can't tell how the bot choose the single author it did.

**Describe the solution you'd like**
The bot should notify all authors with impacted documents in a PR

**Des

[2018-06-14 09:41] davkean opened #437 "SEO for particular APIs has decreased since the move to docs.microsoft.com"
**Describe the bug**
I'm used to typing an API into google, and automatically have the first hit be that API on MSDN. Since the move to docs.microsoft.com this is no longer the case.

An example is EnvDTE.Project.

**To Reproduce**
1. In Google, search for "EnvDTE.Project"

**Expected behavior**
First hit to be https://docs.microsoft.com/en-us/dotnet/api/envdte.project?view=visualstudiosdk-2017

*

[2018-06-14 16:57] Powerhelmsman commented on #435
@BeginBI Thanks for your feedback. The page is no longer updating. But you can try https://archive.codeplex.com/?p=powerpivotsdr to download archive sample data.

[2018-06-14 16:57] #435 closed

[2018-06-14 16:59] Powerhelmsman commented on #437
@presleyy Can you take a loot at this issue?

[2018-06-14 17:04] Powerhelmsman commented on #436
@meganbradley Can you take a look at this suggestion?

[2018-06-14 19:46] tekguy opened #438 "Offer a peak at the live source code where possible"
It would be neat to be able to view the source code along with the documentation.

For example on https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.mvc.controllerbase.challenge?view=aspnetcore-2.1

Instead of the user having to download the ASPNet MVC project, maybe offer a peak of the Challenge method (or the ControllerBase class).

The method signature is great but being able to v

[2018-06-14 20:15] BillWagner opened #439 "API reference should include packages for classes"
From dotnet/docs#320:

Internal tracking bug: [1039115](https://mseng.visualstudio.com/CSI/_workitems?id=1039115&_a=edit&triage=true)

//cc @Svick @mairaw @dend

[2018-06-14 20:30] Powerhelmsman commented on #438
@dend Can take this under consideration?

[2018-06-14 20:31] Powerhelmsman commented on #438
#log-suggestion @dend

[2018-06-14 20:31] botcrane commented on #438
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=25596) logged.

[2018-06-14 21:08] svick commented on #439
Note that I opened the original issue in .Net Core 1.x timeframe. Back then, packages were more important than they are now. Though knowing the package is still useful, especially for package-based libraries like Roslyn or ASP.NET Core.

There's also, [this document in dotnet/designs](https://github.com/dotnet/designs/blob/master/accepted/package-doc/package-doc.md), which proposes how this should

[2018-06-15 00:56] Sampy commented on #17
@davidiseminger has fixed this so thanks for the feedback!

[2018-06-15 00:56] #17 closed

[2018-06-15 05:29] nschonni opened #440 "More resources for the azure-docs repo"
**Is your feature request related to a problem? Please describe.**
This is probably the largest set of docs, and currently has more than 200 open PRs, can more resources be aligned to triage that repo?

**Describe the solution you'd like**
Maybe some dedicated resources to grooming and landing simple PRs

**Describe alternatives you've considered**
Everyone is heads down writing good stuff :shipit

[2018-06-15 05:52] nschonni commented on #377
This is fixed now

[2018-06-15 05:52] nschonni commented on #372
This is fixed now

[2018-06-15 05:53] #372 closed

[2018-06-15 06:46] BeginBI commented on #435
Hello,
Thanks your feedback, but after download, it open the folder,
I could not open the file, because it not Extension.

\PowerPivotSDR.zip\releases\0\e41b9cc6-d500-4a95-a212-67a9909acbb4

[2018-06-15 06:47] BeginBI commented on #435
@Powerhelmsman
Hello,
Thanks your feedback, but after download, it open the folder,
I could not open the file, because it not Extension.

\PowerPivotSDR.zip\releases\0\e41b9cc6-d500-4a95-a212-67a9909acbb4

[2018-06-15 07:16] ToMakeSense commented on #280
@Powerhelmsman @SonjaSaltzman @v-jacard @SunnyDeng  Another similar problem

**English version**
https://docs.microsoft.com/en-us/powershell/azure/overview

**Chinese version**
https://docs.microsoft.com/zh-cn/powershell/azure/overview

[2018-06-15 07:39] Powerhelmsman commented on #435
@BeginBI Actually the file is out of our scope:) But I did some investigation. Actually the sample data is a Contoso database. You can use this link to download https://www.microsoft.com/en-us/download/details.aspx?id=18279, the SQL server version instead of Access version.

[2018-06-15 07:57] BeginBI commented on #435
@Powerhelmsman
thank you , it so kind of you.

[2018-06-15 15:33] ToMakeSense commented on #417
related to #280 #392  #407

[2018-06-15 15:35] mdell-seradex opened #441 "CheckNetIsolation command is wrong"
**Link to article:**
[Using network loopback in side-loaded Windows Store apps - Firewall settings](https://docs.microsoft.com/en-us/previous-versions/windows/apps/dn640582(v=win.10)#configuring-the-firewall)

**Problem:**
I know you are "no longer updating this content regularly", however the CheckNetIsolation command is wrong as stated on that article
The article states the following:

The issue

[2018-06-15 15:47] ToMakeSense commented on #417
@Powerhelmsman I found the Chinese version document has English navigation, and the navigation is different, Chinese version has less Items than the English version
![image](https://user-images.githubusercontent.com/6244148/41477242-44c50e46-70f6-11e8-9b87-adf73bee0518.png)
![image](https://user-images.githubusercontent.com/6244148/41477281-5ba32b70-70f6-11e8-8931-9d3120644154.png)

[2018-06-15 15:49] Powerhelmsman commented on #392
@casperlw The PDF download button is disabled. Thanks for you feedback.

[2018-06-15 15:49] #392 closed

[2018-06-15 15:51] Powerhelmsman commented on #407
@CeciAc Any update? The issue is still not resolved.

[2018-06-15 15:56] Powerhelmsman commented on #417
@SonjaSaltzman Can you take a look at this localization issue?

[2018-06-15 16:02] Powerhelmsman commented on #441
@ginami Is this something you can help or explain?

[2018-06-15 16:06] SonjaSaltzman commented on #407
@DavidPrio for awareness, issue is still open?

[2018-06-15 16:07] SonjaSaltzman commented on #417
@elizatobias -- is this from your content set? Could you please follow up?

[2018-06-15 16:15] elizatobias commented on #417
Yes I'm actively addressing this.

[2018-06-15 16:19] Powerhelmsman commented on #440
@nschonni This issue is related to azure-docs repo, I transfer you issue to the team so they can follow up.

[2018-06-15 16:19] #440 closed

[2018-06-15 16:29] Powerhelmsman commented on #394
@0725038 I will close it due to no enough information. If you have further question regarding this, please reopen it. We will continue the discussion.

[2018-06-15 16:29] #394 closed

[2018-06-15 16:30] Powerhelmsman commented on #400
@extcon I will close it due to no enough information. If you have further question regarding to this, please reopen it. We will continue the discussion.

[2018-06-15 16:30] #400 closed

[2018-06-15 16:38] Powerhelmsman commented on #295
@cheong00 Thanks for your suggestion. Unfortunately, we don't have plan to migrate the support.microsoft.com KB article. As they discussed in linked thread, KB is different document and will stay in support.microsoft.com so far.

[2018-06-15 16:38] #295 closed

[2018-06-15 17:53] brbro opened #442 "YouTube continues playing with "Next" tab in the PowerBI "Getting Started" guide"
**Describe the bug**
Audio from YouTube continues playing if you click the "Next ->" section. This creates overlapping audio with no way to silence the previous tab.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/power-bi/guided-learning/gettingdata?tutorial-step=3
2. Click on a YouTube video
3. Scroll down to 'Next ->'
4. Play a YouTube video on the n

[2018-06-15 17:55] brbro commented on #442
This bug also occurs on Microsoft Edge v. 41.16299.402.0

[2018-06-15 18:00] Powerhelmsman commented on #442
@brbro I open a internal bug to track it. I will let you know once the bug is fixed.

[2018-06-15 18:09] brbro commented on #442
:thumbs up:

________________________________
From: Jian Dong <notifications@github.com>
Sent: Friday, June 15, 2018 11:00:55 AM
To: MicrosoftDocs/feedback
Cc: Brady Brown (Populus Group, LLC); Mention
Subject: Re: [MicrosoftDocs/feedback] YouTube continues playing with "Next" tab in the PowerBI "Getting Started" guide (#442)

@brbro<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2

[2018-06-15 18:42] Jemash commented on #441
@mdell-seradex Thank you for reaching out. I will get this over to the Windows team to fix. appreciate the call out.

[2018-06-15 22:56] jasongroce commented on #441
This has been fixed. Thanks @mdell-seradex for the correction.

cc: @jillre @ginami

[2018-06-16 05:17] ToMakeSense commented on #280
It works now.

[2018-06-17 21:29] DavidPrio commented on #280
Thank you for your feedback.
 
Our engineering team reviewed your suggestions and accepted them. We implemented your feedback and published to the updated articles on the reported pages.

We truly appreciate your contribution to our articles and we encourage you to continue providing your valuable feedback.

Kind regards,
Microsoft DOCS International Team

[2018-06-18 04:04] AhnMkt opened #443 "Korean Translation on IoT Central"
**🛑 IMPORTANT**:

**Link to article:**
https://docs.microsoft.com/ko-kr/azure/iot-fundamentals/

**Problem:**
What's wrong with the article?
![iotcentral](https://user-images.githubusercontent.com/40348316/41517659-91fe890a-72f7-11e8-9c47-96c9310ed955.png)
Korean translation 'IoT 중부' on the document should be 'IoT Central' as it is in English. The other pages of IoT Central are fine but only this

[2018-06-18 06:29] nschonni commented on #443
Looks like there are a few hits in different docs https://github.com/search?q=org%3AMicrosoftDocs+IoT+%EC%A4%91%EB%B6%80&type=Code

[2018-06-18 15:54] #280 closed

[2018-06-18 17:40] SonjaSaltzman commented on #443
@DavidPrio could you please fix?

[2018-06-18 18:54] adityapt commented on #434
Hi @HeidiSteen any update on this issue? I am currently translating all the Revoscalepy codes into RevoscaleR as the Revoscalepy codes aren't working well. I also noticed that RevoPemaR codes are not working right on SQL Server while they work well in my local Micrisoft R installation (not the server Microsoft R)

[2018-06-18 19:41] HeidiSteen commented on #434
RevoPemaR is not supported on SQL in-database.  For revoscalepy, you mention that the example in rx-data-step doesn't work in SQL.  What error do you get when you run that example (as opposed to your revised example).

[2018-06-18 22:01] CeciAc commented on #443
Hello, @AhnMkt,
 
Thank you for your feedback.
 
We are actively reviewing your comments and will get back to you soon.

Kind regards,
Microsoft DOCS International Team

[2018-06-18 23:27] riverar opened #444 "Open source Windows Insider documentation set"
The Windows Insider documentation set contains pages that are tied to new flights of Windows 10 and are typically out of date/incorrect. Opening these areas up will allow the community to fill in gaps at a much quicker pace and free the team to work on other tasks.

Examples:
https://docs.microsoft.com/en-us/windows-insider/flight-hub/
https://docs.microsoft.com/en-us/windows-insider/at-home/whats

[2018-06-18 23:31] dend commented on #444
Assigning to @lizap as she is working with the Windows Insider team on this task.

[2018-06-18 23:52] bleblancMSFT commented on #444
Yes, this is by design. We're holding off opening it up to community edits until we are done building out Flight Hub. We're continuing to look at some formatting and other things to improve first. We want to build a solid foundation first. Flight Hub has been up to date for the last 4 weeks as I am personally ensuring its updating every time we hit publish on a flight so it hasn't been out of date

[2018-06-19 00:14] #444 closed

[2018-06-19 00:15] Powerhelmsman commented on #444
@riverar Please take a look bleblancMSFT's reply. I will close it so far. If you have other question related to it, we can reopen it to continue the discussion.

[2018-06-19 00:21] riverar commented on #444
I'm not sure marking this "resolved" or "closed" is appropriate. Shouldn't this be triaged and sit in your backlog until the team decides to definitively reject this or complete the task?

[2018-06-19 00:33] bleblancMSFT commented on #444
It’s my doc and I’m the PM for Flight Hub. I’m saying it’s good to close for now. Thanks.

Sent from Outlook Mobile<https://aka.ms/qtex0l>.

________________________________
From: Rafael Rivera <notifications@github.com>
Sent: Monday, June 18, 2018 5:26 PM
To: MicrosoftDocs/feedback
Cc: Brandon LeBlanc; Comment
Subject: Re: [MicrosoftDocs/feedback] Open source Windows Insider documentation set (#4

[2018-06-19 02:53] adityapt commented on #434
This is exactly what I ran:

execute sp_execute_external_script
		@language = N'Python',
		@script = N'
import os
from revoscalepy import RxOptions, RxXdfData, rx_data_step
sample_data_path = RxOptions.get_option("sampleDataDir")
print(sample_data_path)
kyphosis = RxXdfData(os.path.join(sample_data_path, "kyphosis.xdf"))
# Function to label whether the age in month is over 120 months.
month_limit

[2018-06-19 17:49] HeidiSteen commented on #434
The code example for rx_data_step works fine for me so this doesn't seem to be a content issue.  I did a web search on your error.  It would appear that your error is in how you are calling the variable. Can you see if these links help?

1- https://stackoverflow.com/questions/39438509/typeerror-fun-missing-1-required-positional-argument-link

2 - https://stackoverflow.com/questions/47901868/typeer

[2018-06-19 17:50] HeidiSteen commented on #434
Since this is not a content issue, if you could please close it to remove it from our queue?  Thank you!

#please-close

[2018-06-19 17:59] HeidiSteen commented on #434
I forgot to mention that RevoPemaR is mostly for Hadoop and I don't think it's coming to SQL any time soon. For parallelization, you should check out rx_exec and rx_exec_by.   If your time frame is flexible, there is additional functionality on the roadmap for parallelization, which you can experiment with in an upcoming release, hopefully in the next several months.

Links for functions:
1 - http

[2018-06-19 18:01] Powerhelmsman commented on #434
@adityapt Please take a look at HeidiSteen's reply. I will close the issue so far based on HeidiSteen's comment. If you have other question related to this issue, we can reopen it and continue the discussion.

[2018-06-19 18:02] Powerhelmsman commented on #434
@HeidiSteen Thanks for your help. I closed the issue as you suggested.

[2018-06-19 18:02] #434 closed

[2018-06-19 18:54] dend commented on #438
Duplicate of #433

[2018-06-19 18:54] #438 closed

[2018-06-19 18:55] dend commented on #428
Thanks @nschonni - resolving this issue. i18n versions will be updated automatically.

[2018-06-19 18:55] #428 closed

[2018-06-19 18:57] dend commented on #430
Closing this request for now, as this is not a scenario currently supported. Any core types that are shipped with the platform will always be documented, however extensions are currently not included. This will be addressed in the future.

[2018-06-19 18:57] #430 closed

[2018-06-19 18:58] dend commented on #356
The correct location for this page is:
https://docs.microsoft.com/en-us/javascript/api/azure-maps-javascript/?view=azure-iot-typescript-latest

[2018-06-19 18:58] #356 closed

[2018-06-19 18:59] dend commented on #412
Bringing this to the top @mairaw @terrajobst - looks like it has to do with `System.Configuration.ConfigurationManager`, an assembly that we looked at excluding from the reflection.

[2018-06-19 21:20] adityapt commented on #434
Thank you very much @HeidiSteen regarding the rx_exec and rx_exec_by functions. I will try them out and see if they help me in the same I was trying to do using RevoPemaR. As you also mentioned, I can definitely try the next release regarding the parallelization.

However, I am still unable to figure out the issue with rx_data_step in Python. I tried creating a user defined class with the function

[2018-06-19 22:08] mairaw commented on #412
The plan is to remove those from the 2.0 docs because they're not part of the core of .NET Core. We can then add those later once we support the NuGet packages story.

[2018-06-19 22:12] riverar commented on #444
Resolved: Documentation set is now open source https://github.com/MicrosoftDocs/windows-insider

[2018-06-19 22:16] dend commented on #444
Thank you for your feedback, @riverar! 🎉

[2018-06-19 23:47] dend commented on #412
Thanks @mairaw. As such, closing this issue as a `wont-fix` for now.

[2018-06-19 23:47] #412 closed

[2018-06-19 23:50] dend commented on #18
@mairaw can we update the documentation page above to use a string instead of a token?

[2018-06-19 23:55] presleyy commented on #437
Need SEO for that reference content. @Khairunj could you please take a look?

[2018-06-20 00:02] dend commented on #50
**Update:** We are preparing to redirect content from MSDN to docs.microsoft.com in the coming weeks, so this issue will be resolved.

[2018-06-20 00:03] presleyy commented on #426
Created a [bug](https://ceapex.visualstudio.com/Engineering/_workitems/edit/25941) to track that issue

[2018-06-20 00:04] dend commented on #57
**Update:** This issue will be resolved once search filters are implemented. cc: @presleyy

[2018-06-20 00:05] dend commented on #43
@mairaw @BillWagner @rpetrusha is there an example class you can point me to that should have `SerializableAttribute` but doesn't on docs?

[2018-06-20 00:07] dend commented on #58
#log-suggestion @dend

[2018-06-20 00:08] botcrane commented on #58
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=25942) logged.

[2018-06-20 00:09] dend commented on #69
@LocalJoost can you please add more info about the request? What keywords of interest did you have in mind?

[2018-06-20 00:10] dend commented on #439
Dupe of #72

[2018-06-20 00:10] #439 closed

[2018-06-20 00:12] dend commented on #86
Duplicate of #50

[2018-06-20 00:12] #86 closed

[2018-06-20 00:12] dend commented on #92
Duplicate of #50

[2018-06-20 00:12] #92 closed

[2018-06-20 00:13] presleyy commented on #419
I reproduced the bug at Edge browser at first time when I searched for 'nvarchar'. Created the [bug](https://ceapex.visualstudio.com/Engineering/_workitems/edit/25943) to track it. @Sampy

[2018-06-20 00:14] dend commented on #94
Closing this issue as it's not something we can address on the docs.microsoft.com infrastructure side. Providing samples in different languages would be something content team can address individually - please leave feedback on specific articles about sample availability.

[2018-06-20 00:14] #94 closed

[2018-06-20 00:14] dend commented on #95
Duplicate of #50.

[2018-06-20 00:14] #95 closed

[2018-06-20 00:15] dend commented on #111
Duplicate of #50

[2018-06-20 00:15] #111 closed

[2018-06-20 00:16] dend commented on #121
Duplicate of #72

[2018-06-20 00:16] #121 closed

[2018-06-20 00:16] dend commented on #88
Duplicate of #72

[2018-06-20 00:16] #88 closed

[2018-06-20 00:17] dend commented on #98
This has now been addressed.

[2018-06-20 00:17] #98 closed

[2018-06-20 00:18] presleyy commented on #368
Tried it again after several days, still can't reproduce it even with using Edge. @Powerhelmsman , shall we close it for now?

[2018-06-20 00:18] dend commented on #120
Closing this as it's a content issue that we are addressing en-masse for API reference.

[2018-06-20 00:18] #120 closed

[2018-06-20 00:19] dend commented on #153
Ping @skwan on library ownership.

[2018-06-20 00:21] dend commented on #157
Duplicate of #433

[2018-06-20 00:21] #157 closed

[2018-06-20 00:22] dend commented on #155
This has been addressed, see:
https://docs.microsoft.com/en-us/dotnet/api/system.threading.monitor.wait?view=netframework-4.7.2#System_Threading_Monitor_Wait_System_Object_System_Int32_System_Boolean_

[2018-06-20 00:22] #155 closed

[2018-06-20 00:28] dend commented on #160
The .NET API Browser is designed to act almost like IntelliSense in the browser. It's less of a full-text search engine and more of an API graph lookup. As such, at this time this will remain as a `wont-fix`.

[2018-06-20 00:28] #160 closed

[2018-06-20 00:29] dend commented on #186
Assigning to @dastaffo as the PM helping drive offline documentation.

[2018-06-20 00:30] dend commented on #171
Closing this issue for now. Please refer to our [contributor guide](https://docs.microsoft.com/en-us/contribute/) to learn more about how to contribute to docs.microsoft.com.

[2018-06-20 00:30] #171 closed

[2018-06-20 00:30] presleyy commented on #191
Created a [customer suggestion](https://ceapex.visualstudio.com/Engineering/_workitems/edit/25944) work item to track this suggestion.

[2018-06-20 00:31] dend commented on #161
At this time, we do not have plans to open an API for public consumption for any of the API Browser services.

[2018-06-20 00:31] #161 closed

[2018-06-20 00:33] presleyy commented on #148
Have a feature about filter and facets working on that.

[2018-06-20 00:38] presleyy commented on #126
Have a [bug](https://mseng.visualstudio.com/CSI/_workitems/edit/1220335) created before which is in active status. Loop @Sampy

[2018-06-20 00:41] presleyy commented on #119
Tried it again recently, not reproducible according to the description. Need a screenshot for more details, or we could close it for now. @dend @Powerhelmsman

[2018-06-20 00:43] dend commented on #331
There is now a progress indicator for searches.

[2018-06-20 00:43] #331 closed

[2018-06-20 00:44] dend commented on #371
@jakrams can you please confirm whether the underscore syntax works?

[2018-06-20 00:48] presleyy commented on #118
Content team has fixed the PowerShell repo setting, currently it is set without search scope. So searching for "SilentlyContinue" should be like https://docs.microsoft.com/en-us/search/index?search=silentlycontinue.

[2018-06-20 00:51] presleyy commented on #118
For the origin issue, searching "SocketAsyncEventArgs" within .NET scope returns results. @Powerhelmsman shall we close the issue?

[2018-06-20 01:40] stuntbeaver opened #445 "VSTS REST API List Iterations does not accept 'past' or 'current' values for $timeframe"
Using the VSTS REST api version 4.1 AND 5.0 preview 1, making a GET request to list iterations using the $timeframe query parameter works when supplying 'current' as a timeframe value, but does not work when using 'past' or 'future' as per the documentation.

**To Reproduce**
Make a get request using the following URL (fill in appropriate values):
`https://{CompanyName}.visualstudio.com/{ProjectNa

[2018-06-20 02:33] kdelorey commented on #430
So even though is `System.Threading.Channels` is apart of [`corefx`](https://github.com/dotnet/corefx/tree/master/src/System.Threading.Channels), it's not apart of the core platform? I guess I'm just confused as to where this assembly lands in the ecosystem.

[2018-06-20 02:37] Powerhelmsman commented on #168
I will close this as can't repro. If you have other question related this, we will reopen the issue and continue the discussion.

[2018-06-20 02:37] #168 closed

[2018-06-20 02:38] Powerhelmsman commented on #194
API is there. Please have a try. I will close the issue now.

[2018-06-20 02:38] #194 closed

[2018-06-20 02:39] Powerhelmsman commented on #119
Close as lack of enough information and can't repro.

[2018-06-20 02:39] #119 closed

[2018-06-20 02:42] #118 closed

[2018-06-20 02:43] Powerhelmsman commented on #112
#log-suggestion @presleyy

[2018-06-20 02:43] botcrane commented on #112
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=25949) logged.

[2018-06-20 03:01] presleyy commented on #228
It is tracked by the [bug](https://mseng.visualstudio.com/CSI/_workitems/edit/1220335) which is in active status

[2018-06-20 03:10] presleyy commented on #112
We have a [feature](https://ceapex.visualstudio.com/Engineering/_workitems/edit/25952) about filter and facets. Once the feature would be implemented, the problem of this issue would be resolved.

[2018-06-20 03:15] presleyy commented on #55
Migrated from legacy VSTS work item to the [customer suggestion](https://ceapex.visualstudio.com/Engineering/_workitems/edit/25953)

[2018-06-20 03:16] presleyy commented on #56
Have the [feature](https://ceapex.visualstudio.com/Engineering/_workitems/edit/15880) exactly about this.

[2018-06-20 03:20] presleyy commented on #51
Site search does consider both "and" and "or" when looking for relevant content. What can help the scenario here is to have a search scope like "VS IDE" - which could return more relevant results. Currently we don't allow users to change the scope or filter by product/service scope. We have the [feature](https://ceapex.visualstudio.com/Engineering/_workitems/edit/25952) in planning phase about thi

[2018-06-20 03:29] mairaw commented on #171
There’s also the streaming that @csharpfritz and I did on Twitch talking about docs:
https://youtu.be/rZj-h9PQsi8

[2018-06-20 04:20] hellosnow commented on #445
@tedchamb could you please help to take a look?

[2018-06-20 05:19] mairaw commented on #430
It's not part of the shared framework that ships with the .NET Core runtime and instead is released as a NuGet package. What you see in corefx is .NET Core + extensions.

[2018-06-20 06:52] LocalJoost commented on #69
Honestly, it's so long ago I created this I don't remember. I think it was just a funny idea to leverage IoT back then. Just forget about it

[2018-06-20 08:07] jakrams commented on #371
Yep, that works.

[2018-06-20 08:41] alswl commented on #376
It is fixed, thanks.

[2018-06-20 08:41] #376 closed

[2018-06-20 13:24] DeanGross opened #446 "Enhance Right Side Navigation"
**Is your feature request related to a problem? Please describe.**
The Right Side navigation only shows one heading level (h3) and does not provide the ability to indent sublevels of headings. This makes it difficult to navigate through a long page.

**Describe the solution you'd like**
The left side navigation has indented sub levels and there should be some ability to tag the headings in multipl

[2018-06-20 13:36] DeanGross opened #447 "Clarify Top Navigation Bar"
**Is your feature request related to a problem? Please describe.**
On the PowerApps page, I'm already logged in, but there is still a prompt to Sign In and another to Sign up Free.  This is confusing. Clicking on the Sign in link opens PowerApps in the same window and i'm sent out of Docs.microsoft.com unexpectedly

If I'm not signed in, it is not clear which sign-in link i should use.

**Describe

[2018-06-20 15:57] Powerhelmsman commented on #371
Close as resolved.

[2018-06-20 16:13] Powerhelmsman commented on #447
@DeanGross Thanks for your suggestion. We are designing the new universal head foot, which will resolve the confusion. Once it is deployed, I will inform you.

[2018-06-20 16:13] Powerhelmsman commented on #447
@kubeaver for your awareness.

[2018-06-20 16:20] Powerhelmsman commented on #414
Close it as duplicate with https://github.com/MicrosoftDocs/feedback/issues/167. We will track it on the early issue.

[2018-06-20 16:20] #414 closed

[2018-06-20 16:23] Powerhelmsman commented on #414
@rosdi @mairaw for your awareness.

[2018-06-20 16:25] Powerhelmsman commented on #97
#log-suggestion @ShevaDas

[2018-06-20 16:26] botcrane commented on #97
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=26023) logged.

[2018-06-20 16:42] Powerhelmsman commented on #446
@ShevaDas Please confirm: we've had decision that we will not implement more granular level item in right navigation bar. Don't remember the reason. Can you help explain?

[2018-06-20 16:59] ShevaDas commented on #446
@DeanGross thanks for the feedback! I hear you, navigating longer articles can get unwieldy. After talking this request over with our information architect, we've decided not to implement this functionality right now. It creates a near-duplicate affordance of the left-side Table of Contents, which can be confusing to users and make navigation more difficult. This also touches the content side of t

[2018-06-20 16:59] #446 closed

[2018-06-20 17:03] Powerhelmsman commented on #416
@hellosnow Can you update the status?

[2018-06-20 17:49] svick commented on #446
@ShevaDas

I think not being able to navigate to subheadings makes navigation much more difficult than some initial confusion about what the UI means.

I'm not sure that's always possible. For example, [the Expressions section of the C# specification](https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/language-specification/expressions) is produced by a 320 kB document and having su

[2018-06-20 18:11] Powerhelmsman commented on #69
@LocalJoost Thanks for your feedback. This issue was migrated from user voice. I don't know your GitHub profile ID so can't ping you to clarify the issue early. Sorry for late follow up. I have to close this issue so far due to no enough information to proceed. Welcome to provide new feedback in the future.

[2018-06-20 18:11] #69 closed

[2018-06-20 18:28] ShevaDas commented on #446
@svick Understood! We'll keep that feedback in mind for the future.

[2018-06-20 22:42] Powerhelmsman commented on #391
@adkinn I create a bug on sitehelp: https://icm.ad.msft.net/imp/v3/incidents/details/74003033/home. I will monitor the status and inform user when it is resolved.

[2018-06-20 22:47] Powerhelmsman commented on #377
Thanks  @nschonni for help. @dhurley28 Close as resolved.

[2018-06-20 22:47] #377 closed

[2018-06-20 23:03] Powerhelmsman commented on #326
@mikebk I will close this issue now. If you have other question related to it, we will reopen the issue and continue the discussion.

[2018-06-20 23:03] #326 closed

[2018-06-20 23:11] Powerhelmsman commented on #318
Sent a email to @tcNickolas to follow up.

[2018-06-20 23:13] Powerhelmsman commented on #314
#log-suggestion @dend

[2018-06-20 23:13] botcrane commented on #314
🚀 **ATTENTION**: [Internal request](https://ceapex.visualstudio.com/web/wi.aspx?pcguid=7d644393-99ad-41c8-ac53-7fa79294c720&id=26082) logged.