[2019-11-26 11:59] mlottner commented on #2198
@Ronsss
Unfortunately, these archived sites are no longer editable and are not staffed for updates.
docs.microsoft.com is fully searchable and our pages have heavy SEO and metadata investment to ensure the most relevant and fresh content is surfaced using any search engine.

[2019-11-26 12:09] Ronsss commented on #2199
Thank you for the updated link.

It would help your customers if the old article(s) included links to the current version.

On Tue, Nov 26, 2019 at 4:07 AM Miriam Lottner <notifications@github.com<mailto:notifications@github.com>> wrote:

@Ronsss<https://github.com/Ronsss> Thanks for taking the time to give us your feedback.

As noted at the top of the page, the content you references has been ret

[2019-11-26 12:27] ansar7 opened #2204 "Download link not working"
Antivirus Sample Application
**https://docs.microsoft.com/en-us/previous-versions/office/developer/exchange-server-2010/bb204055(v%3Dexchg.140)**

**Problem:**
Antivirus sample application has sample download link **http://www.microsoft.com/en-us/download/details.aspx?id=13156**  which is giving 404 error.

I know It's an old article and Microsoft is not maintaining it.

But I need this for testin

[2019-11-26 14:35] mlottner commented on #11
Closing this issue now. Feel free to re-open if/as you see a continued need.

[2019-11-26 14:35] #11 closed

[2019-11-26 14:37] mlottner commented on #34
Closing this outstanding issue for now as it was logged and assigned. Feel free to re-open if/as you see a need.

[2019-11-26 14:37] #34 closed

[2019-11-26 14:42] mlottner commented on #42
Closing this outstanding issue for now as the request was logged and assigned. Of course, work can and will continue on closed Git issues and commenting/discussion capabilities remain intact.

[2019-11-26 14:42] #42 closed

[2019-11-26 15:07] spottedmahn commented on #11
😢.  Also, I can't reopen it b/c of the migration from UserVoice 😉

is that no longer the case?

[2019-11-26 16:56] mlottner commented on #11
@spottedmahn We're investigating it, but leaving issues endlessly open is not the ideal workflow for GitHub feedback. Closing a feedback issue (as I did here) simply means we've assigned an internal owner and the conversation will/can continue. It allows us to continue working to improve your experience without having an unmanageable queue of "open" issues in the backlog. Absolutely feel free to k

[2019-11-26 17:49] CeciAc commented on #2048
Hello, @krechtern
 
Thank you for your feedback.
 
Our linguistic team reviewed your linguist suggestions and accepted them. We implemented your feedback and published to the updated articles on the Docs site to the following pages https://docs.microsoft.com/de-de/dotnet/api/system.decimal?view=netframework-4.8

We truly appreciate your contribution to our articles and we encourage you to continue

[2019-11-26 17:49] #2048 closed

[2019-11-26 18:45] ishasahni1 commented on #2194
@alisha-acharya as she is the LOC PM for Powerquery

[2019-11-26 19:00] Alisha-Acharya commented on #2194
@Fawziya I am looking into it.

[2019-11-26 22:43] DuncanmaMSFT commented on #722
Not seeing this in Edge, possibly fixed over the past year

![image](https://user-images.githubusercontent.com/18338424/69678665-10e91300-105b-11ea-9dd0-7cd8524699ac.png)

[2019-11-26 22:43] #722 closed

[2019-11-27 08:28] RevZero commented on #513
Since this issue has been closed as "won't fix" for over a year, I assume this is permanent? Just asking because it was commented with "going to close the item **for now**". @dend

[2019-11-27 09:11] mlottner commented on #2204
@ansar7 Thanks for taking the time to give us feedback.
With 10's of thousands of pages of documentation and downloads to maintain and secure, docs, links and and downloads for previous versions of our products now without support simply cannot be maintained or serviced.
We encourage using only officially supported product versions to ensure content accuracy, security and ongoing product support.

[2019-11-27 09:11] #2204 closed

[2019-11-27 12:03] sayasree opened #2205 "No Content for Python link in Azure REST API Reference"
In the web page: https://docs.microsoft.com/en-us/rest/api/azure/
clicking on the 'Python' link take to the web page: https://docs.microsoft.com/en-us/python/api/
But the page does not have any documentation/code.

Looks like this is a broken link.

[2019-11-27 15:16] mlottner commented on #2201
Unfortunately, no updates are currently possibly. I've opened an internal ticket to try to handle it.
Again, appreciate your letting us know.
I'm closing this issue for now. Feel free to continue communicating here (even when closed) as needed.

[2019-11-27 15:16] #2201 closed

[2019-11-27 16:07] prpball opened #2206 "Payload Properties Section --> Description Misspelled"
In the Description of the Properties for Payload, "represnts" is misspelled.

[2019-11-27 16:23] mlottner commented on #2205
@sayasree Thanks for taking the time to share your feedback.
I've reassigned this issue to a member of the Python docs team for awareness and resolution.

[2019-11-27 16:26] mlottner commented on #2206
@prpball Thanks for taking the time to share your feedback.
Do you happen to know the specific page of the error, so I can assign the fix and make sure we get it resolved?

[2019-11-27 18:46] conceptdev commented on #2121
Thanks for highlighting this issue. I've passed it on to the engineering team, and hope to be able to update the docs shortly with working links.

[2019-11-27 18:52] AndrewBorst opened #2207 "cannot find Customer Engagement docs"
**Link to article:**
https://docs.microsoft.com/en-us/dynamics365/

**Problem:**
No documentation for Customer Engagement (formerly known as CRM).

[2019-11-27 19:09] AndrewBorst commented on #2207
Well, I found an outside source explaining with this quote from Microsoft:

[2019-11-27 19:09] #2207 closed

[2019-11-27 22:17] Ma-XX-oN opened #2208 "Transform matrix is wrong for SetWorldTransform documentation."
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**Link to article:**
https://docs.microsoft.com/en-us/windows/win32/api/wingdi/nf-wingdi-setworldtransform

**Problem:**
The transform matrix is incorrect.  The general translation/rotation matrix should be:

matrix: |   | &nbsp;
------

[2019-11-28 01:13] doncot opened #2209 "Wrong color scheme for "Windows 10 release information" page in Dark/HighContrast mode"
**Link to article:**
https://docs.microsoft.com/en-us/windows/release-information

**Problem:**
Difficult to read because of dark colored characters on a dark background.
Confirmed on Chrome and Edge.

**Screen Shot**
<img width="879" alt="releaseinfo" src="https://user-images.githubusercontent.com/8072620/69769276-79550300-11c7-11ea-94b0-5f94ddeef9d1.png">

[2019-11-28 08:31] anilparli opened #2210 "Just Put "Every Connected settings on Every Page", A feature request as a partner who has some grasping issue as a beginner in the web"
I mean as the Microsoft Cloud solutions has so much connections in between adding "every" connected settings for a user ( Here user means user may be administrator or user ) on top of the page. You may be unable to understand, but just go through the front end and try to get settings related to a user which can be seen in a chronological order ( I don't know whether that word suits here, But I mea

[2019-11-28 10:24] fatso83 opened #2211 "MSDN improvement suggestion link sends users the the Docs landing page"
**Describe the bug**
When I am looking at my [MSDN profile](https://social.msdn.microsoft.com/Profile/u/edit) I would like to contribute some feedback. I then press the button at the bottom of the screen called `Help us improve MSDN. Make a suggestion`. That button is a link to a general forwarding address https://aka.ms/msdnfeedback which sends me to the landing page https://docs.microsoft.com/en

[2019-11-28 10:25] fatso83 commented on #2210
That is a product enhancement issue, not a documentation issue. It is misplaced.

[2019-11-28 11:51] Dobby007 commented on #114
In the documentation of System.Reactive namespaces there is no description of methods of any class. All links lead to the old MSDN site and when redirected there it is shown that page is not found. Do you have any plans to fix it? It's extremely awkward to have this library available for .NET Core while in the meantime not having any documentation for it at all.

Example: https://docs.microsoft.co

[2019-11-28 12:24] makabaka188 commented on #2205
Thank your share！

[2019-11-28 15:45] donlackomage213-187 opened #2212 "Everytime I click on any of the available training or course all the bookmarks I have just assigned to them are disappear. Horribly"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-11-28 17:32] sesmailjee opened #2213 "Typo"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**Link to article:**
Tell us where exactly a problem occurs.

**Problem:**
What's wrong with the article?

Typo in the word Federation- see attached screenshot
![typo](https://user-images.githubusercontent.com/18234424/69824832-153c3a00-

[2019-11-28 19:26] Alisha-Acharya commented on #2194
@mlottner This issue occurred because we were excluding all .json files from localization. Usually we don't see localizable content in .json file format so I had excluded these files but this logic has been modified now. The files are in translation and this issue should resolve in 7 business days at the latest.

[2019-11-28 19:31] WonderWoman1977 opened #2214 "Account help needed desperately! Cannot access mult forums"
Hello,
I have a serious problem with my account access.  I posted this problem to technet previously and when I checked my question/topic all I saw was that it was deleted; no reason, no attempt to contact me.  Nothing, just "DELETED" .  This is unacceptable and 100% NOT helpful.
My problem is that on many forums (not only technet) but other forums like ones for Azure, Windows 10 Insider Preview C

[2019-11-29 04:01] MSDN-WhiteKnight opened #2215 ""Learn more" button for redirected pages doesn't work"
Page: https://docs.microsoft.com/en-us/dotnet/framework/migration-guide/how-to-determine-which-versions-are-installed?redirectedfrom=MSDN

"Learn more" button in upper pane leads to <https://docs.microsoft.com/welcome-to-docs>, which returns 404 - Page not found

[2019-11-29 04:46] wanglvhang opened #2216 "separate windows desktop lib from .net core 3.0 in API Browser"
since windows desktop is not part of .net core 3.0 in platform like Linux, it will make more sense if windows desktop removed from .net core 3.0 option and have a option like "Windows Desktop" like ASP.NET Core or ML.NET.

[2019-11-29 21:18] docs-product commented on #723
This experience is currently working as-expected. Testing this with the latest version of Firefox seems to be produce the right output.

[2019-11-29 21:18] #723 closed

[2019-11-29 21:43] docs-product commented on #167
Thank you all for the feedback! At this time, this is not something we're considering. We will revisit the conversation in the future.

[2019-11-29 21:43] #167 closed

[2019-11-30 00:40] docs-product commented on #2214
Thank you for your feedback! Because this issue is not related to docs.microsoft.com, we cannot address it in this forum. We'd also recommend checking out the [Q&A site](https://docs.microsoft.com/answers) we just launched as a replacement for forums.

[2019-11-30 00:40] #2214 closed

[2019-11-30 00:43] docs-product commented on #2212
@donlackomage213-187 could you please provide some additional context on the issue that you are having? What steps are you taking and what is the expected experience?

[2019-11-30 00:44] docs-product commented on #2211
Thank you for the feedback! We are no longer updating the MSDN/TechNet sites, and are in the process of migrating the content to docs.microsoft.com.

[2019-11-30 00:44] #2211 closed

[2019-11-30 00:44] docs-product commented on #2210
Thank you for the feedback. Because this suggestion is not related to docs.microsoft.com, we cannot address it in this forum.

[2019-11-30 00:44] #2210 closed

[2019-11-30 00:47] docs-product commented on #2209
This is caused by the fact that the content in the page is loaded from an IFrame, that the content team has embedded, that does not follow the current theme. Adding @lizap to help route this - this needs to be addressed in the content.

[2019-11-30 00:52] docs-product commented on #2095
Thank you for the feedback! This is not a device that we support. The official support end-date for Windows 10 Mobile is December 10, 2019 ([see details](https://support.microsoft.com/en-us/lifecycle/search?alpha=Windows%2010%20Mobile)).

[2019-11-30 00:52] #2095 closed

[2019-11-30 00:54] docs-product commented on #2082
Thank you for the feedback! This is content that is no longer supported, therefore we won't be able to make updates to it.

[2019-11-30 00:54] #2082 closed

[2019-11-30 00:55] docs-product commented on #2081
Thank you for the feedback! The content below is archived for reference purposes and is no longer supported.

[2019-11-30 00:55] #2081 closed

[2019-11-30 00:56] docs-product commented on #2079
Thank you for the feedback! Because this is not related to docs.microsoft.com, we cannot address it in this forum.

[2019-11-30 00:56] #2079 closed

[2019-11-30 00:56] docs-product commented on #2078
@tfosmark if the issue still persists, please report it internally through the Docs Support channel.

[2019-11-30 00:56] #2078 closed

[2019-11-30 00:58] docs-product commented on #2075
Hello and thank you for raising the question! The search API is not exposed to the public, and we cannot provide support on it as its not intended to be consumed by third-parties.

[2019-11-30 00:58] #2075 closed

[2019-11-30 00:59] docs-product commented on #2073
The menu should be showing up properly now. Thank you for your feedback!

[2019-11-30 00:59] #2073 closed

[2019-11-30 01:00] docs-product commented on #2071
Closing the issue as the fix has been merged. Thank you @mairaw for your contribution!

[2019-11-30 01:00] #2071 closed

[2019-11-30 01:03] docs-product commented on #2068
Thank you for the feedback! Because this question is not regarding docs.microsoft.com, we cannot address it in this forum. You can use the new [Q&A](https://docs.microsoft.com/answers) site to ask your question.

[2019-11-30 01:03] #2068 closed

[2019-11-30 01:03] #2065 closed

[2019-11-30 01:04] docs-product commented on #2063
@pwm812 can you please update the iOS release, to make sure that you are using the latest browser version? We cannot reproduce the issue on an iPhone device.

[2019-11-30 01:04] docs-product commented on #2062
Thank you for the feedback! The content above is archived and is no longer updated.

[2019-11-30 01:04] #2062 closed

[2019-11-30 01:05] docs-product commented on #2061
Please use the following link to sign up for the latest newsletter: https://aka.ms/msdev/dev_newsletter

[2019-11-30 01:05] #2061 closed

[2019-11-30 01:07] docs-product commented on #2056
@huzbub was the link taking you to docs.microsoft.com?

[2019-11-30 01:10] docs-product commented on #2047
The feedback control should now be correctly loading. Thank you for the feedback, @cremor!

[2019-11-30 01:10] #2047 closed

[2019-11-30 01:13] docs-product commented on #2044
Per product PM, there are no actions that need to be taken on the document. Closing.

[2019-11-30 01:13] #2044 closed

[2019-11-30 01:13] docs-product commented on #2043
Given the changes to the navigation, we're closing this issue as it's no longer applicable.

[2019-11-30 01:13] #2043 closed

[2019-11-30 01:17] #2030 closed

[2019-11-30 01:19] docs-product commented on #2021
This should now be fixed - thank you for your feedback!

[2019-11-30 01:19] #2021 closed

[2019-11-30 01:20] docs-product commented on #2018
Thank you for the feedback! Articles on blogs are point-in-time content that is not intended to be used as reference. At this time, we have no plans around deleting content.

[2019-11-30 01:20] #2018 closed

[2019-11-30 01:21] docs-product commented on #2016
Cannot reproduce the issue, and it seems like the current highlighting works as expected. Closing.

[2019-11-30 01:21] #2016 closed

[2019-11-30 01:23] docs-product commented on #2010
Thank you for the feedback, @BillWagner - at this time, we are not doing any product-specific change tracking. We'll keep the community posted as we look at functionality that enables keeping up-to-date with documentation.

[2019-11-30 01:23] #2010 closed

[2019-11-30 07:18] jeremyBass opened #2217 "added account broke off"
**Describe the bug**
A clear and concise description of what the bug is.
    **NOTES:** I tested but the issue is that I can't switch users half was BSE fo some redirect.

**To Reproduce**
Steps to reproduce the behavior:
UNSURE just was when I look and I can't get it back because of it though I have on I should have been redirected to try again.

I think you need to log in there, travel all over.

[2019-11-30 09:35] aureole82 commented on #2095
So, there are still 10 days left to fix it. :-)

No, I didn't request to support my old Windows Phone. The request was about the Edge inside it:
Microsoft Edge 40.15254.590.0
Microsoft EdgeHTML 15.15254
Where did you announce your Microsoft Docs end of support for this browser?

[2019-11-30 13:29] thomaslevesque opened #2218 "Include nullability annotations"
**Is your feature request related to a problem? Please describe.**
C# 8 introduced nullable reference types, and recent versions of .NET Core / .NET Standard make use of this feature. For instance, `String.IsNullOrEmpty` accepts a `string?`.
But this is not reflected in the [documentation](https://docs.microsoft.com/en-us/dotnet/api/system.string.isnullorempty?view=netstandard-2.1).

**Describe th

[2019-11-30 13:31] thomaslevesque commented on #2218
As a bonus, it might be useful to include [additional nullability annotations](https://docs.microsoft.com/en-us/dotnet/csharp/nullable-attributes#attributes-extend-type-annotations), such as `[AllowNull]`, `[NotNullWhen]`, etc.

[2019-12-01 09:54] jorgeparavicini opened #2219 "HashSet Documentation missing Example"
**Link to article:**
https://docs.microsoft.com/en-us/dotnet/api/system.collections.generic.hashset-1?view=netframework-4.8

In the Examples Section they show an example but it is just an empty Code Block.

**Problem:**
There should be an example showing how to merge two disparate sets. But the Example Block is empty.

[2019-12-02 00:07] seancorryio opened #2220 "Connectors Overview References Flow, Not Power Automate"
Flow is referenced, needs to be updated for Power Automate.

https://docs.microsoft.com/en-us/connectors/

[2019-12-02 07:45] xHAGAKURE opened #2221 "HTML Tag on the frontpage"
Hello,

as seen on german language, there is a html code, which you can see on the frontpage:

"#<a name="configmgr-on-twitter"></a>Configuration Manager auf Twitter
Tauschen Sie sich mit der Twitter-Community aus"

![2019-12-02 08_43_56-Dokumentation zu Microsoft Endpoint Configuration Manager _ Microsoft Docs und 3](https://user-images.githubusercontent.com/18899421/69939335-eb875980-14df-11ea-8

[2019-12-02 09:46] vinceno commented on #2076
@kfend not sure who to pass this to ??

[2019-12-02 11:54] sleepwalky commented on #1930
Any updates on the issue?

[2019-12-02 12:11] greenmooseSE opened #2222 "404 for https://docs.microsoft.com/en-us/powershell/module/pkiclient/"
**Describe the bug**
404 Not found on a link in documentation.

**To Reproduce**
1. Go to https://docs.microsoft.com/en-us/windows/msix/package/create-certificate-package-signing#prerequisites
1. Click on below link \
![image](https://user-images.githubusercontent.com/31244330/69958409-09b38080-1505-11ea-9c5c-0f08bbad273b.png)
1. Notice it redirects to a 404 not found page at https://docs.microsof

[2019-12-02 13:06] greenmooseSE commented on #2222
Was already reported here: https://github.com/MicrosoftDocs/msix-docs/issues/80

[2019-12-02 13:06] #2222 closed

[2019-12-02 15:04] MightyPen commented on #2017
@bwcassidy Hello Bruce, I believe this odd situation is known, and was the best solution that was available to us (odd situation).  There is some question as to whether certain SQL 2014 documentation should redirect to SQL 2016, or to SQL latest version.
I will look into this Issue # '2017' this week.
Thanks.

[2019-12-02 17:23] carodas72 opened #2223 "Ticket 393053; Security problems in the consultation of workers, in the Human Resources module"
Number of the Quality Report of the Development team. 393053

**Describe the bug**
The employee consultation shows only those who are hired and associated in a legal entity, however the worker consultation shows ALL the workers of the legal entities that have been implemented in Dynamics 365 F&O. This violates the security and confidentiality that certain organizations have in their internal proce

[2019-12-02 18:16] MikeRayMSFT opened #2224 "Tooltip tip"
As submitted by @pavelsagittarius
https://github.com/MicrosoftDocs/sql-docs/issues/3702

Hello,
it would be nice to display a tooltip message over links containing bacic definition from target page (like on Wikipedia) so I can remember what it is without having to open the link. For example this page contains links to another six pages, so the tooltip could contain this:
* RANK - "Returns the rank

[2019-12-02 18:18] dendeli-msft commented on #2223
Thank you for the feedback! Because this is not an issue with docs.microsoft.com, we cannot address it in this forum. We recommend that you reach out to the appropriate product support group through the documented channels.

[2019-12-02 18:18] #2223 closed

[2019-12-02 18:19] dendeli-msft commented on #2221
@xHAGAKURE could you please share the link where the issue was found?

[2019-12-02 18:20] dendeli-msft commented on #2224
@MikeRayMSFT thank you for the issue submission. Could you please file a request for this internally, given that you are a FTE? Feel free to reach out to me directly if you need help with this.

[2019-12-02 18:20] #2224 closed

[2019-12-02 18:24] dendeli-msft commented on #2007
Hi @bluebaroncanada - because this issue is not related to docs.microsoft.com, we cannot address it in this forum.

[2019-12-02 18:24] #2007 closed

[2019-12-02 18:26] rloutlaw commented on #2074
@amunger We pushed a fix a couple of weeks ago that cleared up an issue where the value in the Try-It fields would be considered invalid, and not injected properly into the URL. Please re-try , and if the issue continues then reply here with a sample (not actual ) resrouceGroupName value so I can recreate.

[2019-12-02 18:26] mlottner commented on #2194
@Fawziya Thanks again for taking the time to give us feedback.
Looks like this issue will be resolved within a week, so I'm closing this issue for now.
Feel free to reach out to us again if/as you need.

Appreciate your contribution the Microsoft docs community!

[2019-12-02 18:26] #2194 closed

[2019-12-02 18:27] dendeli-msft commented on #2002
#log-suggestion

[2019-12-02 18:29] dendeli-msft commented on #2002
Thank you for the feedback! I've opened an internal issue for us to track. At this time, we have no concrete timelines or commitments for this change, however we'll make sure that we do our due diligence in assessing the impact and importance of the feature.

[2019-12-02 18:29] #2002 closed

[2019-12-02 18:29] dendeli-msft commented on #2000
#log-suggestion

[2019-12-02 18:30] dendeli-msft commented on #2000
Thank you for the feedback! I've opened an internal issue for us to track. At this time, we have no concrete timelines or commitments for this change, however we'll make sure that we do our due diligence in assessing the impact and importance of the feature.

[2019-12-02 18:30] #2000 closed

[2019-12-02 18:30] mlottner commented on #2213
@sesmailjee Thanks for taking the time to send us feedback.
I've reassigned to this issue to the content owner for awareness and an eventual fix.

Thanks for your contribution to the docs community!

[2019-12-02 18:31] dendeli-msft commented on #1996
@weitzhandler - can you please provide more context as to what browser/OS are you using? I cannot reproduce this issue locally.

Are you logging in with an organizational account or a Microsoft account?

[2019-12-02 18:32] dendeli-msft commented on #1995
Thank you for the feedback! Because this does not apply to docs.microsoft.com, we cannot address the issue in this forum.

[2019-12-02 18:32] #1995 closed

[2019-12-02 18:32] dendeli-msft commented on #1994
Closing this issue as it should now be resolved. Thank you for the feedback, @javierbragazzi!

[2019-12-02 18:32] #1994 closed

[2019-12-02 18:34] dendeli-msft commented on #1991
Thank you for the feedback! This capability has since been implemented, and docs.microsoft.com is now OS theme-aware!

[2019-12-02 18:34] #1991 closed

[2019-12-02 18:35] dendeli-msft commented on #1989
Thank you all for the feedback! Closing this issue as the links are working correctly now.

[2019-12-02 18:35] #1989 closed

[2019-12-02 18:36] dendeli-msft commented on #1988
#log-suggestion

[2019-12-02 18:36] dendeli-msft commented on #1988
Thank you for the feedback! I've opened an internal issue for us to track.

At this time, we have no concrete timelines or commitments for this change, however we'll make sure that we do our due diligence in assessing the impact and importance of the feature.

[2019-12-02 18:36] #1988 closed

[2019-12-02 18:36] dendeli-msft commented on #1987
#log-suggestion

[2019-12-02 18:36] BillWagner commented on #2218
@dendeli-msft This should probably be assigned to @mimisasouvanh and possibly @joelmartinez

When will the API docs begin reading the new annotations that have been added to the .NET Core APIs?

[2019-12-02 18:37] dendeli-msft commented on #1987
Thank you for the feedback! I've opened an internal issue for us to track.

At this time, we have no concrete timelines or commitments for this change, however we'll make sure that we do our due diligence in assessing the impact and importance of the feature.

[2019-12-02 18:37] #1987 closed

[2019-12-02 18:37] dendeli-msft commented on #1986
#log-suggestion

[2019-12-02 18:37] dendeli-msft commented on #1986
Thank you for the feedback! I've opened an internal issue for us to track.

At this time, we have no concrete timelines or commitments for this change, however we'll make sure that we do our due diligence in assessing the impact and importance of the feature.

[2019-12-02 18:37] #1986 closed

[2019-12-02 18:38] dendeli-msft commented on #1984
Thank you for the feedback! Because this is not related to docs.microsoft.com, we cannot address the issue in this forum.

[2019-12-02 18:38] #1984 closed

[2019-12-02 18:38] dendeli-msft commented on #1981
Thank you for the feedback! The content in `/previous-versions` is provided for archival purposes and is no longer supported or updated.

[2019-12-02 18:38] #1981 closed

[2019-12-02 18:39] dendeli-msft commented on #1979
Thank you for the feedback! The page should be working correctly now.

[2019-12-02 18:39] #1979 closed

[2019-12-02 18:39] dendeli-msft commented on #1977
Thank you for the feedback! This issue should be addressed.

[2019-12-02 18:39] #1977 closed

[2019-12-02 18:41] dendeli-msft commented on #1972
Thank you for the feedback! Documentation under `/previous-versions` is no longer supported and is provided for reference purposes only.

[2019-12-02 18:41] #1972 closed

[2019-12-02 18:43] dendeli-msft commented on #245
#log-suggestion

[2019-12-02 18:44] dendeli-msft commented on #245
Thank you for the feedback! I've opened an internal issue for us to track.

At this time, we have no concrete timelines or commitments for this change, however we'll make sure that we do our due diligence in assessing the impact and importance of the feature.

[2019-12-02 18:44] #245 closed

[2019-12-02 18:46] dendeli-msft commented on #336
Thank you for the feedback! I've opened an internal issue for us to track.

At this time, we have no concrete timelines or commitments for this change, however we'll make sure that we do our due diligence in assessing the impact and importance of the feature.

[2019-12-02 18:46] #336 closed

[2019-12-02 18:46] dendeli-msft commented on #467
Thank you for the feedback! I've opened an internal issue for us to track.

At this time, we have no concrete timelines or commitments for this change, however we'll make sure that we do our due diligence in assessing the impact and importance of the feature.

[2019-12-02 18:46] #467 closed

[2019-12-02 18:46] dendeli-msft commented on #618
#log-suggestion

[2019-12-02 18:47] dendeli-msft commented on #618
Thank you for the feedback! I've opened an internal issue for us to track.

At this time, we have no concrete timelines or commitments for this change, however we'll make sure that we do our due diligence in assessing the impact and importance of the feature.

[2019-12-02 18:47] #618 closed

[2019-12-02 18:47] dendeli-msft commented on #776
Thank you for the feedback! I've opened an internal issue for us to track.

At this time, we have no concrete timelines or commitments for this change, however we'll make sure that we do our due diligence in assessing the impact and importance of the feature.

[2019-12-02 18:47] #776 closed

[2019-12-02 18:48] #920 closed

[2019-12-02 18:48] dendeli-msft commented on #1296
Thank you for the feedback! I've opened an internal issue for us to track.

At this time, we have no concrete timelines or commitments for this change, however we'll make sure that we do our due diligence in assessing the impact and importance of the feature.

[2019-12-02 18:48] #1296 closed

[2019-12-02 18:48] dendeli-msft commented on #1308
#log-suggestion

[2019-12-02 18:48] dendeli-msft commented on #1308
Thank you for the feedback! I've opened an internal issue for us to track.

At this time, we have no concrete timelines or commitments for this change, however we'll make sure that we do our due diligence in assessing the impact and importance of the feature.

[2019-12-02 18:48] #1308 closed

[2019-12-02 18:49] dendeli-msft commented on #1436
Thank you for the feedback! I've opened an internal issue for us to track.

At this time, we have no concrete timelines or commitments for this change, however we'll make sure that we do our due diligence in assessing the impact and importance of the feature.

[2019-12-02 18:49] #1436 closed

[2019-12-02 18:49] dendeli-msft commented on #1466
Thank you for the feedback! I've opened an internal issue for us to track.

At this time, we have no concrete timelines or commitments for this change, however we'll make sure that we do our due diligence in assessing the impact and importance of the feature.

[2019-12-02 18:49] #1466 closed

[2019-12-02 18:50] dendeli-msft commented on #2023
Related to #2008

[2019-12-02 18:50] #2023 closed

[2019-12-02 18:51] dendeli-msft commented on #1605
#log-suggestion

[2019-12-02 18:51] dendeli-msft commented on #1605
Thank you for the feedback! I've opened an internal issue for us to track.

At this time, we have no concrete timelines or commitments for this change, however we'll make sure that we do our due diligence in assessing the impact and importance of the feature.

[2019-12-02 18:51] #1605 closed

[2019-12-02 19:13] tfitzmac commented on #1998
@bwren - can you take a look at this description from the swagger file? The [SKUs in the enum](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/preview/2015-11-01-preview/OperationalInsights.json#L1306) do not seem to match the[ description of retention](https://github.com/Azure/azure-rest-api-specs/blob/mast

[2019-12-02 20:07] conceptdev commented on #2121
Thanks again, all the links have been updated. Turns out, the Windows version is not tracking the version shipped on Mac, the latest Windows version is 1.6.10, so the links have all been updated to point to that location.

#please-close

[2019-12-02 21:45] weitzhandler commented on #1996
Looks like that issue was solved as I'm no longer experiencing this.
I'm gonna close this issue now. Should I encounter the issue again and I'll reopen it.
Thanks!

[2019-12-02 21:45] #1996 closed

[2019-12-02 22:05] binarycrusader opened #2225 "references to LowLevelHooksTimeout need updating"
**Describe the bug**
Wherever LowLevelHooksTimeout is referenced / defined, developers need to be aware that the maximum value for the registry key is now 1 second starting in RS3+.

I can provide additional details privately if needed.

[2019-12-03 02:56] Atreidae opened #2226 "Skype4b 2019 load balancing documentation references depreciated feature."
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).
No Comments Section.

**Link to article:**
https://docs.microsoft.com/en-us/skypeforbusiness/plan-your-deployment/network-requirements/load-balancing

**Problem:**
The article makes references to load balancing for **XMPP** which is no lo

[2019-12-03 07:25] xHAGAKURE commented on #2221
https://docs.microsoft.com/de-de/configmgr/

Seems to be disappeard. Looks like it was a caching problem

[2019-12-03 07:33] cremor commented on #2047
@docs-product @mairaw Should the fix already be live? Because I can still reproduce the bug.

[2019-12-03 15:42] heikkiri-ms opened #2227 "Response Object is not complete - missing fields"
**Link to article:**
https://docs.microsoft.com/en-us/rest/api/compute/virtualmachineimages/get
https://docs.microsoft.com/en-us/rest/api/compute/virtualmachineimages/get#osdiskimage

**Problem:**
The API returns osDiskImage object as part of the response. The current document only lists operatingSystem. But the API returns also the OS disk size in GB and bytes.

Sample
Request:
GET https://manage

[2019-12-03 16:43] CorbinMeek commented on #1886
Hey - still not fixed, can we get this link updated please?

![image](https://user-images.githubusercontent.com/41162148/70070723-1053fd80-15c2-11ea-8dc7-ef53d609e1d2.png)

[2019-12-03 16:44] CorbinMeek commented on #1886
Here's where it's still broken, from the February 2019 changelog:

![image](https://user-images.githubusercontent.com/41162148/70070875-54470280-15c2-11ea-861f-10118bed4a73.png)

[2019-12-03 17:02] Youssef1313 commented on #1886
@CorbinMeek, thanks for pointing the other location where it's still broken. I've opened https://github.com/microsoftgraph/microsoft-graph-docs/pull/6478.

[2019-12-03 18:13] lhaley42 opened #2228 "Win32 API documentation missing "Requirements" section data"
For as many Win32 API Functions as I cared to spot-check - the requirements section was blank.  For example:

https://docs.microsoft.com/en-us/windows/win32/api/fileapi/nf-fileapi-createfilea#requirements

In the image below, from the 'wayback machine' - one sees the yellow highlighted information present, whereas, as the time of submission, via the link above, that information is missing.

![imag

[2019-12-03 18:42] DSivtsov opened #2229 "DataRow.Delete Method I recomend to little more describe "Remarks""
[**Link to article:**](https://docs.microsoft.com/en-us/dotnet/api/system.data.datarow.delete?view=netframework-4.8#remarks)
**Remarks**
...
**Current state:**

I recomend add **text** (by example)

[2019-12-03 19:39] mgblythe commented on #2220
#reassign @KumarVivek

[2019-12-03 19:40] mgblythe commented on #2220
Hi @dendeli-msft - can you assign to @KumarVivek, thanks!

[2019-12-04 00:07] clandrew opened #2230 "HLSL Shader Model 6.4 page doesn't mention SV_ShadingRate"
**Link to article:**
https://docs.microsoft.com/en-us/windows/win32/direct3dhlsl/hlsl-shader-model-6-4-features-for-direct3d-12

**Problem:**
VRS features were added for shader model 6.4 but they are not mentioned on the page. Sad panda

[2019-12-04 00:15] clandrew opened #2231 "Make sure SV_ShadingRate appears on some reference page"
**Link to article:**
It's a very old page, but maybe it belongs here
https://docs.microsoft.com/en-us/windows/win32/direct3dhlsl/dx-graphics-hlsl-semantics

**Problem:**
If you need to know how to use SV_ShadingRate your only option seems to be the public VRS spec or maybe the conceptual doc. I can't find a reference page.

[2019-12-04 01:03] seancorryio commented on #2220
Is this the correct method for reporting these branding/reference changes? I am an advocate for orgs to move to O365 and spend alot of time reading MS documentation. Want to help where I can but not sure if this is the right avenue for that

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Michael Blythe <notifications@github.com>
Sent: Tuesday, December 3, 20

[2019-12-04 19:35] ashwin-hari opened #2232 "Documentation for APIM Subscriptions missing detail"
**Link to article:**

https://docs.microsoft.com/en-us/azure/templates/microsoft.apimanagement/2018-01-01/service/subscriptions

**Problem:**

If developers want to deploy multiple subscriptions to an API Manager from an ARM template, they must depend on each other. For example, if 2 subscriptions are to be deployed to an API Manger, a dependsOn element must be added from one to another.

This is

[2019-12-04 19:57] DSivtsov opened #2233 ""AdventureWorks installation and configuration" Absent some infomration"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

[Link to article]

**Problem:**
On main page absent information regarding important prerequisite - **Filestream must be installed in your SQL Server instance, before restore DB.**
It can be find, if you will going to GitHub or will searc

[2019-12-04 19:58] dxgldotorg commented on #2228
I have personally seen this issue both on the User32 and DirectDraw documentations.
Also, #652 is still an issue.

[2019-12-04 22:40] andresantacruz commented on #1214
So sad this issue hasn't yet been fixed :/

[2019-12-04 23:13] Plecharts opened #2234 "Typo in example for GetTcpTable2"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**Link to article:**
https://docs.microsoft.com/en-us/windows/win32/api/iphlpapi/nf-iphlpapi-gettcptable2

**Problem:**
In the given example for GetTcpTable2, there is a typo in this line of code:
`ulSize = sizeof (MIB_TCPTABLE);`
it mos

[2019-12-05 03:08] dixit2d commented on #1339
Is there any timeline for getting this API. Any other workround to get the application owner for a registered application?

[2019-12-05 10:44] mizukame commented on #2121
Thank you very much for the assistance. =)

[2019-12-05 10:44] #2121 closed

[2019-12-05 12:36] AlexanderRevo opened #2235 "SetEnvironmentStringsW function return value documentation is incorrect"
**Link to article:**
https://docs.microsoft.com/en-us/windows/win32/api/processenv/nf-processenv-setenvironmentstringsw

**Problem:**
The article says:

In fact the function seems to behave like `SetEnvironmentVariableW`:

In my tests, when passed a properly formatted environment, `SetEnvironmentStringsW` would return `1` and the environment variables would be set to the values passed in. But if I

[2019-12-05 16:08] pascalspektrix opened #2236 "set-azsqldatabasevulnerabilityassessmentrulebaseline - example 2 (copy baseline) doesn't work"
PS C:\> Get-AzSqlDatabaseVulnerabilityAssessmentRuleBaseline `
            -ResourceGroupName "ResourceGroup01" `
            -ServerName "Server01" `
            -DatabaseName "Database01" `
            -RuleId "VA2108" `
            |  Set-AzSqlDatabaseVulnerabilityAssessmentRuleBaseline `
                -ResourceGroupName "ResourceGroup02" `
                -ServerName "Server02" `

[2019-12-05 20:12] davidchesnut commented on #2069
Hi @DeanGross ,

Can you provide more context on where you need Visio documentation? Is this for Visio PIA reference?

Thanks!
David

[2019-12-06 00:51] mairaw commented on #314
@mimisasouvanh can you confirm what's the tracking work item for this now?
Is it https://ceapex.visualstudio.com/Engineering/_workitems/edit/136805?

[2019-12-06 14:54] blarosen95 opened #2237 "Allow Collapsing of Side Panel"
![Windows Doc Page](https://user-images.githubusercontent.com/26372949/70330437-91520580-180b-11ea-8f4c-2bd200d80889.png)

Some pages on your Documentation (docs.microsoft.com) subdomain can be a bit long. For around 75% of webpages I visit, I like using ctrl+f to find specific things. In the above screenshot, I've circled the pane I'm talking about. This pane takes up some space which I'm not alw

[2019-12-06 14:58] blarosen95 commented on #2237
Food for thought: If all those nodes are programmatically collapsed when one collapses the sidepanel, it would be less Easter Egg-y and much more intuitive.

[2019-12-06 18:03] heikopanjas opened #2238 "Wrong wording in documentation for GetDiskFreeSpace"
**Link to article:**
https://docs.microsoft.com/en-us/windows/win32/api/fileapi/nf-fileapi-getdiskfreespaceexa

**Problem:**
The description for the `lpDirectoryName` parameter says that the UNC name must include a **trailing** backslash, but the example suggests a **leading** backslash. Either change the example or correct the description.

[2019-12-06 19:42] webczat opened #2239 "Microsoft.Extensions.Hosting and Microsoft.Extensions.DependencyInjection do not exist for aspnetcore 3.0"
Hello,
It seems the namespace docs for namespaces Microsoft.Extensions.Hosting and Microsoft.Extensions.DependencyInjection are missing for aspnetcore 3.0. The links are there in namespace list at least for the latter, however going through the link gives documentation for .net platform extensions 3.0 instead. So no namespace overview of these namespaces with all the aspnetcore specific classes.
O

[2019-12-06 19:45] webczat opened #2240 "Missing documentation for some (probably newly added) aspnetcore 3.0 packages"
Seems to me that the documentation for at least some packages of aspnetcore-3.0 not being part of Microsoft.AspNetCore.App framework are missing.
I don't know a list, examples are Microsoft.AspNetCore.SPAServices and Microsoft.AspNetCore.Authentication.Certificate, for example.

[2019-12-06 21:04] kaerm commented on #2040
@mimisasouvanh

[2019-12-07 00:04] henrihein opened #2241 "What happened to the old MSDN samples repository?"
**Link to article:**
https://docs.microsoft.com/en-us/samples/browse/?redirectedfrom=MSDN-samples

**Problem:**
I cannot find the samples I contributed in the past. If the old samples were deleted, it would have been a nice touch to notify the contributors.

[2019-12-07 15:50] logankilpatrick opened #2242 "More details on how to setup a callback URL to your server"
**Is your feature request related to a problem? Please describe.**
I am trying to write an program using the LinkedIn API. The docs say I neeed to configure a callback url to a server but it does not explain how one would do that.

https://docs.microsoft.com/en-us/linkedin/shared/authentication/client-credentials-flow?context=linkedin/context#step-1-get-client-id-and-client-secret

**Describe the

[2019-12-07 23:40] DSivtsov opened #2243 "Putting lock on records in DB, that was read to a DataSet"
[**Link to article:**](https://docs.microsoft.com/en-us/dotnet/framework/data/adonet/populating-a-dataset-from-a-dataadapter?view=netframework-4.8)

**Problem:**
Very strange phrase  **"Pulling all of the table to the client also locks all of the rows on the server"** exist in article about "Populating a DataSet".
I think it must be deleted or write more clear.

[2019-12-08 03:16] 9072997 opened #2244 "Formatting issue with code blocks"
**Link to article:**
https://docs.microsoft.com/en-us/dotnet/api/system.management.automation.powershell?view=pscore-6.2.0

**Problem:**
This last bit should be part of the code block
![image](https://user-images.githubusercontent.com/1310772/70383614-4385ec00-1936-11ea-82f6-b64dfcfe8752.png)
The same issue occurs again just below that in the description of `AddScript`

I'm not sure why there are

[2019-12-08 23:14] Sirlupinwatson1 opened #2245 "Reputations Points and Forum Page in General in Q&A"
#Hi all,

On my review i can tell already that when i try to put a Tag on the Tag tab under the description i type ( on the microsoft Q&A review feedback) i can't put tag, at all.

I tried every way, to set up some tag with # or * or even Alone just entering Q&A or q&a or Q , q,
Looks like there is a bug there, not sure if its for everyone.

Also we really need to work on the page in general, over

[2019-12-09 01:21] Marat-Tanalin commented on #867
A year later, the issue is still here.
A year.

[2019-12-09 02:46] github129 opened #2246 "The product name is incorrect."
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**Link to article:**
Tell us where exactly a problem occurs.
https://docs.microsoft.com/en-us/connectors/

**Problem:**
What's wrong with the article?
There is an error in the product name.
The product names for Microsoft Flow and PowerA

[2019-12-09 13:21] danijeljw opened #2248 "Typo in DISM documentation - no link to create pull request on page :("
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**Link to article:**
https://docs.microsoft.com/en-us/windows-hardware/manufacture/desktop/dism-image-management-command-line-options-s14#get-imageinfo

**Problem:**
Typo.
This: `...currently mounted, as well s information about...`
Shou

[2019-12-09 14:43] chuckmilam opened #2249 "Security Advisory 3009008: Advisory Details Section Formatting Problem"
**Link to article:**
https://docs.microsoft.com/en-us/security-updates/SecurityAdvisories/2015/3009008#advisory-details

**Problem:**
What's wrong with the article?
The "Advisory Details" section of the Security Advisory 3009008 article has a formatting problem.  Tables rows in "References" and "Operating System" are not closed and the FAQ section is a jumble of unformatted text all run together,

[2019-12-09 15:14] Youssef1313 commented on #2241
Check the [Microsoft Archive](https://github.com/microsoftarchive) repositories.

[2019-12-09 18:51] lhaley42 commented on #2228
As I (re)check the MSDN Documentation today - I see the Requirement data has been restored.
Thank you.

[2019-12-09 18:51] #2228 closed

[2019-12-09 22:34] henrihein commented on #2241
Thanks Youssef, that's helpful. Do you know if they are still working on it?

[2019-12-10 06:13] Youssef1313 commented on #2241
@henrihein, I think they're working on migrating the samples from the old retired code.msdn to the new samples browser.
Here is the [announcement of retiring MSDN Code Gallery](https://docs.microsoft.com/en-us/teamblog/announcing-msdn-code-gallery-retirement).

[2019-12-10 11:14] vivekp-ma commented on #1797
@yunyunyunyun
I also face the same issue with sandbox since yesterday. Will you be able to review my appeal and unlock sandbox?

[2019-12-10 12:02] EvologicDj opened #2250 "Bad translation (ITALIAN)"
The italian phrase to enable/disable automatic lock to a Hard Disk Drive in BitLocker is wrong.

Italian:

La frase per bloccare/sbloccare automaticamente un disco su BitLocker è sbagliata: "Attiva/disattiva SBOCCO automatico".

![image](https://user-images.githubusercontent.com/49160975/70527916-4ad31280-1b4d-11ea-861b-7a95cb8aa406.png)

[2019-12-10 16:46] tlaw876 commented on #1797
I am also getting this, having done nothing but follow the exercises in the on-line learning path.  Sandbox was working initially, but now now it always fails with the Unauthorized error. I have selected the Appeal button several times, but nothing comes of it.  Can someone unlock my learning account please?
Thx

[2019-12-10 18:45] clandrew opened #2251 "Improve HLSL docs describing gather operations"
https://docs.microsoft.com/en-us/windows/win32/direct3dhlsl/texture2d-gather
Needs a better description than "Samples a Texture2D and returns all four components."
Same for the various overloads

https://docs.microsoft.com/en-us/windows/win32/direct3dhlsl/dx-graphics-hlsl-to-gather
should probably have a function prototype.

[2019-12-10 19:28] starquestv commented on #2191
FYI, it appears that more than just the include file XaTestRunner.h is missing. The XATestRunner class is derived from the TestRunner class, which is also not present.

[2019-12-10 19:39] MightyPen commented on #2191
@David-Engel Hi David, If you can add a Comment in here in Issue #2191, that would be very helpful.
Thanks, G.

- `https://github.com/MicrosoftDocs/feedback/issues/2191`

cc: @starquestv @MightyPen

[2019-12-11 00:28] sayanghosh123 opened #2253 "Microsoft docs for supported CSP services don't reflect all the available services in CSP"
**Link to article:**
https://docs.microsoft.com/en-us/azure/cloud-solution-provider/overview/azure-csp-available-services

**Problem:**
I am referring to the documentation at https://docs.microsoft.com/en-us/azure/cloud-solution-provider/overview/azure-csp-available-services It does not list all the services available in CSP. We are missing things like Azure Front Door Service, Azure Databricks et

[2019-12-11 10:03] NeilPetersen opened #2257 "Invalid link"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**Link to article:**
https://docs.microsoft.com/en-gb/windows/win32/vss/backing-up-and-restoring-an-frs-replicated-sysvol-folder?redirectedfrom=MSDN#determining-whether-a-domain-controllers-sysvol-folder-is-replicated-by-dfsr-or-frs

**P

[2019-12-11 14:18] nascar3000 opened #2258 "Windows Setup commandline options is not correct for Windows 8.1"
Windows Setup commandline options is not correct for Windows 8.1.
Article says ;
/Auto {Clean \| DataOnly \| Upgrade} | Performs an automated upgrade to Windows 10 or Windows 8.1 volume license editions only.
-- | --
Windows 8.1 setup does not support /auto parameter.

**Link to article:**
https://docs.microsoft.com/en-us/windows-hardware/manufacture/desktop/windows-setup-command-line-options?sour

[2019-12-11 17:37] bament-hun opened #2259 "Environmental requirements for Skype for Business Server 2015 article is missing Global catalog requirements"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**Link to article:**
https://docs.microsoft.com/en-us/skypeforbusiness/plan-your-deployment/requirements-for-your-environment/environmental-requirements#os-for-domain-controllers

**Problem:**
https://docs.microsoft.com/en-us/skypeforbus

[2019-12-12 02:08] todduk opened #2260 "FileSystemWatcher Class: broken link"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

There is no comment section for this page.

**Link to article:**
https://docs.microsoft.com/en-us/dotnet/api/system.io.filesystemwatcher?view=netframework-4.8

**Problem:**
Link to 'Using a FileSystemWatcher Component in a Windows Form'

[2019-12-12 04:47] cheong00 opened #2261 "Add remark for RsaCng Key export behavior difference"
**Link to article:**
https://docs.microsoft.com/en-us/dotnet/api/system.security.cryptography.rsacng?view=netframework-4.6

**Problem:**
Refer to discussion on:
https://social.msdn.microsoft.com/Forums/vstudio/en-US/10e6cf37-b8e8-497a-9ade-d7af9d9483c6/where-does-the-default-rsacngkeyexportpolicy-come-from?forum=netfxbcl

I found that on .NET Framework v4.6 or before, **AllowPlaintextExport** opti

[2019-12-12 12:04] yamazakik opened #2262 "Display title and summary when sharing Learn Collection"
**Is your feature request related to a problem? Please describe.**
When you share the Learn Collection, only “Profile” is displayed, so the content is difficult to convey.

**Describe the solution you'd like**
Set the collection title and summary in the OGP tag.
`<meta property="og:title" content="Collection title" />`
`<meta property="og:description" content="Collection description" />`

**Additi

[2019-12-12 16:52] nebucaz opened #2263 "Dead Link for "Help" in Navigation of LinkedIn developers Portal"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**Link to article:**
https://www.linkedin.com/developers

**Problem:**
Clicking the "Help" link at the top of the page opens a new page which displays following string:
{"status":"BadRequest","message":"Error fetching topic group for par

[2019-12-12 17:04] nebucaz opened #2264 "Missing information: How to apply for access to LinkedIn Compliance API?"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

https://docs.microsoft.com/en-gb/linkedin/shared/integrations/people/connections-api?context=linkedin/compliance/context

**Link to article:**
Tell us where exactly a problem occurs.
<img width="773" alt="Screenshot 2019-12-12 at 18 04 1

[2019-12-13 06:38] jaykrell opened #2265 "some seealso links incorrect"
https://docs.microsoft.com/en-us/windows/win32/api/winnt/nf-winnt-interlockedexchange?source=docs

every seealso link here goes to the wrong place
Just look and it is obvious.

[2019-12-13 06:38] jaykrell commented on #2265
clarification: all except the first two

[2019-12-13 14:14] tstahnke2 opened #2266 "docs.microsoft.com SSL error"
I just saw this pop up, did something happen?

![image](https://user-images.githubusercontent.com/45852091/70806267-eac8b000-1d88-11ea-9b77-7639695a57e9.png)

[2019-12-13 14:15] tstahnke2 commented on #2266
seems to be resolved now. Really weird though!

[2019-12-13 14:15] #2266 closed

[2019-12-13 17:26] v-makouz commented on #2191
I've added the missing sample code, it's in PR now
https://github.com/MicrosoftDocs/sql-docs-pr/pull/13215

[2019-12-13 18:12] TrainsDontHunt opened #2267 "Typo"
**Link to article:**
https://docs.microsoft.com/en-us/aspnet/web-forms/overview/older-versions-getting-started/deployment-to-a-hosting-provider/deployment-to-a-hosting-provider-web-config-file-transformations-3-of-12

**Problem:**
Wording ( two "not"s)
"which does not work not for SQL Server Compact."

[2019-12-13 19:13] Master-MiShutka opened #2268 "Missing country or region in "Manage your email preferences""
On https://docs.microsoft.com Docs\My profile\Settings in section "Manage your email preferences" missing country "Belarus".

[2019-12-13 21:36] DeanGross opened #2269 "What's New Learning content"
**Is your feature request related to a problem? Please describe.**
In the Learn site, it would be good to have a What's New page so that we could easily find new paths/modules/content
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features y

[2019-12-14 12:51] fyurisich opened #2270 "Example is not related to function"
The example in the page is not related to the function:

https://docs.microsoft.com/en-us/windows/win32/api/uxtheme/nf-uxtheme-getthemebackgroundcontentrect?source=docs

[2019-12-15 19:51] matteocontrini opened #2271 "The .NET docs homepage became less useful"
**Is your feature request related to a problem? Please describe.**

In the past days, the .NET docs homepage has been changed with a new design:

https://docs.microsoft.com/en-us/dotnet/

I used that page as a starting point for reaching products docs in a fast way. Now I find it much harder to use.

For example, often I want to open the first page of the ASP.NET Core docs, so that I can search ar

[2019-12-15 21:47] KaesebrotMitSenf opened #2272 "Autotranslate"
Where is the Option to turn off autotranslate.. all german translations make 0-sense. and are horrible to read.
Why is there no option anymore for switching the language?
Pls dont autotranslate it makes the whole pages shit. my colleagues say its the worst documentation because they only get germans shit translations

[2019-12-16 08:31] Youssef1313 commented on #2271
cc: @BillWagner @mairaw

[2019-12-16 08:38] Youssef1313 commented on #2272
In the URL, you can replace `de-de` with `en-us`.
- or -
In the bottom of the page, you will find a footer like this:

![image](https://user-images.githubusercontent.com/31348972/70891514-0d103700-1ff0-11ea-812f-8166e6c456ba.png)

Click the Deutsch link, it will take you to a page like the following:

![image](https://user-images.githubusercontent.com/31348972/70891604-3761f480-1ff0-11ea-8991-5aa0

[2019-12-16 09:00] lioobayoyo commented on #2272
I have exactly the same remark for French pages. I don't want translated versions of pages. Unfortunately for your solution, every now and then the pages are AGAIN coming in autotranslate, this is mostly annoying to have to edit your URL manually (especially when you're reading docs on your mobile during commute.....

[2019-12-16 17:46] arfmach opened #2273 "Typo in VS 2019 16.4 Release Notes"
**Link to article:**
[https://docs.microsoft.com/en-us/visualstudio/releases/2019/release-notes](https://docs.microsoft.com/en-us/visualstudio/releases/2019/release-notes)

**Problem:**
In section [Top Issues Fixed in Visual Studio 2019 version 16.4.1](https://docs.microsoft.com/en-us/visualstudio/releases/2019/release-notes#top-issues-fixed-in-visual-studio-2019-version-1641), the fourth bullet h

[2019-12-16 18:41] echeadle commented on #1923
jgwinner is correct. I tried to find information on DNS logging, found information on google; got the message that Microsoft no longer supported the version google found. So I log in and try to use the Search function in the new MS documentations. It is horrible and found nothing about which I searched for and gave me lots of information that wasted my time.  If you can't search your own content,

[2019-12-16 19:08] ffurlanetti opened #2274 "Problem: Microsoft Ignite The Tour: Free Certification Exam Offer is unable to schedule the exam"
I'm trying to schedule an free exam certification that was provided for everybody who had participate of Microsoft Ignite 2019 in São Paulo Brazil.

But I'm receiving this error message bellow when I trying to use the same credential that I had registered to that event:

"There are no eligible offers available for the selected exam and credentials. Please check that you have used the correct event

[2019-12-17 11:15] toolech commented on #2272
I have the same issue. Every time I visit docs it's auto-translates to polish and doesn't make any sense. I have to switch the language to English couple of times a day.
There was a toggle on the top bar, but it disappeared a couple weeks ago. Can we have it back?

[2019-12-17 16:04] adorep commented on #2272
It would be great to have that toggle back if an article is not shown in the original authors language.

I wonder if Microsoft actually tracks how many people switch the language to english prior to reading an article about programming.
It took me a while to realize i could click on the language in the bottom left as it does not look like a dropdown or something you can click on. So the numbers mi

[2019-12-17 18:54] rlvandaveer opened #2275 "Left bar navigation no longer displays in Safari"
**Describe the bug**
Recently, the left navigation on the Microsoft Docs site no longer displays in the latest version of Safari. I have disabled all browser extensions and cleaned temporary Internet files.

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to any Microsoft doc page e.g., https://docs.microsoft.com/en-us/powershell/scripting/install/installing-powershell-core-on-macos?

[2019-12-17 18:56] #2275 closed

[2019-12-18 00:25] mairaw commented on #2219
This has been fixed. Thanks for your feedback @jorgeparavicini!

[2019-12-18 00:25] #2219 closed

[2019-12-18 03:58] codingyoga opened #2276 "RATE IT button is not working after completing the module."
**Describe the bug**
Rate it button under modules are not working.

**To Reproduce**
Steps to reproduce the behavior:
For example
1) Complete all the sections in a module "Cloud Concepts - Principles of cloud computing".
https://docs.microsoft.com/en-us/learn/modules/principles-cloud-computing/index
2) Then RATE IT button will get enabled but it will not perform any actions when we click on RATE I

[2019-12-18 05:49] inkydragon commented on #1193
Already fixed.

[2019-12-18 05:49] #1193 closed

[2019-12-18 07:58] hiroyuts opened #2277 "Free account upgraded to pay-as-you-go when user request invoice"
There are these documents.
Avoid charges with your Azure free account
https://docs.microsoft.com/en-us/azure/billing/billing-avoid-charges-free-account

Upgrade your Azure free account or Azure for Students Starter account
https://docs.microsoft.com/en-us/azure/billing/billing-upgrade-azure-subscription

Pay for your Azure subscription by invoice
https://docs.microsoft.com/en-us/azure/billing/bill

[2019-12-18 09:50] Sirlupinwatson1 commented on #2157
Well we had an answer regarding this issue.

I have work around with Microsoft support, but ended without any solution.

Since 2012 is not possible anymore to do this, but i personally think that it would be a great idea to set this back on the Microsoft web site and offer it as a paying option at least.

Thanks

[2019-12-18 09:50] #2157 closed

[2019-12-18 14:20] rogernell opened #2278 "Error on page "Writing coupled WMI providers using WMI.NET Provider Extension 2.0""
The example shows this code snippet:

`[assembly: WmiConfiguration(@"root\\Test", HostingModel = ManagementHostingModel.NetworkService)]`

It should not have the '@' or it should be written as @"root\Test' with a single backslash:

`[assembly: WmiConfiguration("root\\Test", HostingModel = ManagementHostingModel.NetworkService)]`

This makes me think that the example is broken.  A download of a wor

[2019-12-18 14:49] anuragbchaubey opened #2279 "Error: Code visible on https://management.azure.com/"
{"error":{"code":"MissingApiVersionParameter","message":"The api-version query parameter (?api-version=) is required for all requests."}}

[2019-12-18 16:44] ghogen opened #2280 "[error message feedback] provide feedback for invalid-note-section"
**Problem:**
No line number listed.  Unclear what is wrong with what syntax.

**Log code info**
(This is auto filled, no need to modify)

| Severity   | Type   | Code   | Category   | File   | Message   |  Source  | Line   | Time   |
|------------|--------|--------|------------|--------|-----------|----------|--------|--------|
| Warning | User | invalid-note-section |  | docs/test/live-unit-testi

[2019-12-18 18:46] Ronsss opened #2281 "Office Deployment tool Product ID list page is GONE"
https://docs.microsoft.com/en-us/office365/troubleshoot/administration/product-ids-supported-office-deployment-click-to-run

Just a month ago I was on the page above (I made a note of the date). Now it is GONE. You send me to an error page.

WE NEED those product IDs! Put it BACK

[2019-12-19 00:34] mairaw commented on #2271
Closing. Fixed by https://github.com/dotnet/docs/pull/16304. Thanks for your feedback @matteocontrini.

[2019-12-19 00:34] #2271 closed

[2019-12-19 00:52] mairaw commented on #2218
#log-suggestion

[2019-12-19 00:57] mairaw commented on #2055
Thanks for your feedback @DSivtsov. I moved this issue to our repo: https://github.com/dotnet/dotnet-api-docs/issues/3691

[2019-12-19 00:57] #2055 closed

[2019-12-19 01:03] mairaw commented on #2053
I'm sorry @Jamie63 but I cannot reproduce this problem. I cannot find the code you're referring to in that page.

Here's the URL I've tested:
https://docs.microsoft.com/en-us/aspnet/mvc/overview/getting-started/getting-started-with-ef-using-mvc/creating-an-entity-framework-data-model-for-an-asp-net-mvc-application

Here's what I see:
![image](https://user-images.githubusercontent.com/12971179/7113

[2019-12-19 01:05] mairaw commented on #1969
@sbmjais do you know who is the localization team for the Forms Pro content?

[2019-12-19 01:07] mairaw commented on #1966
This issue was moved to dotnet/dotnet-api-docs#3692

[2019-12-19 01:07] #1966 closed

[2019-12-19 01:12] mairaw commented on #1963
Sorry for the delay @Daniel-Svensson. I just saw the issue now.

@terrajobst what do you think? We probably could do the same we did for the Reactive content and move this to https://github.com/MicrosoftDocs/dotnet-archive?

The source would be in Markdown, Daniel.

[2019-12-19 01:39] Rick-Anderson commented on #2053
This is a know issue . See [this internal bug](https://dev.azure.com/ceapex/Engineering/_workitems/edit/103221)

Chrome at 80% works pretty good. Edge works pretty good. The further the highlight is from the top, the worse the problem.

@Jamie63 Can you create an issue from the doc page? That will connect the doc to the issue. Go to the bottom of the page and select **This page** .

![image](https

[2019-12-19 01:50] mairaw commented on #2053
This seems like an engineering issue then. Are you sure you want that filed in the docs repo @Rick-Anderson? I could also just transfer this one.

[2019-12-19 01:52] Rick-Anderson commented on #2053
@Jamie63  please respond at GitHub, not via email. You can paste images in GitHub.

@mairaw  I think a clean new issue on the problematic page would be good for the engineering team to review.

[2019-12-19 01:57] mairaw commented on #2053
But engineering issues should be filed here and not on the docs repo, since we can't fix these problems. I think we should keep this one open. I've assigned it to @jeahyoun.

[2019-12-19 02:05] Rick-Anderson commented on #2053
@Jamie63  please provide a screen shot on that page along with the browser and any zoom level. It's rendering correctly on Chrome/Edge at 100% and renders well on chrome down to 75%
I think they must have recently fixed it. On that page, Chrome at 100% was off.

[2019-12-19 02:20] Rick-Anderson commented on #2053
@mairaw  it's still a problem. See [this page](https://docs.microsoft.com/en-us/aspnet/core/security/gdpr?view=aspnetcore-3.0) and search for `UseCookiePolicy`. Chrome at 100% is off one line.

![image](https://user-images.githubusercontent.com/3605364/71139364-0b8e6c80-21b2-11ea-94df-31622202bec1.png)

Edge at 100% is fine.

[2019-12-19 02:26] mairaw commented on #2053
I can reproduce this if I change zoom to over 100% like 150%.

[2019-12-19 02:27] #1628 closed

[2019-12-19 02:29] mairaw commented on #1601
Fixed in https://github.com/dotnet/dotnet-api-docs/pull/2611. Closing.

[2019-12-19 02:29] #1601 closed

[2019-12-19 02:31] mairaw commented on #1561
@russkie @merriemcgaw can you please look at this issue? It seems to be for WinForms. Should it be moved somewhere else?

[2019-12-19 02:32] mairaw commented on #1322
This issue was moved to dotnet/dotnet-api-docs#3693

[2019-12-19 02:32] #1322 closed

[2019-12-19 02:41] #1221 closed

[2019-12-19 02:42] mairaw commented on #1217
This issue was moved to dotnet/dotnet-api-docs#3694

[2019-12-19 02:42] #1217 closed

[2019-12-19 02:44] #824 closed

[2019-12-19 02:52] mairaw commented on #2263
Maybe a temporary issue? Works fine for me.

[2019-12-19 02:53] mairaw commented on #2260
This issue was moved to dotnet/dotnet-api-docs#3695

[2019-12-19 02:53] #2260 closed

[2019-12-19 02:54] mairaw commented on #2250
In which docs.microsoft.com article are you seeing this?

[2019-12-19 02:56] mairaw commented on #2246
@asavaritayal can you check this feedback?

[2019-12-19 09:54] matteocontrini commented on #2271
That was fast, thank you very much!

[2019-12-19 12:23] chiastolite opened #2283 "All translated C++ documents are unavailable"
All translated C++ documents are unavailable.

**To Reproduce**

1. Go to https://docs.microsoft.com/cpp
2. Select a language which has a repository for translation.
    * https://github.com/MicrosoftDocs/cpp-docs.ja-jp
    * https://github.com/MicrosoftDocs/cpp-docs.zh-cn
    * https://github.com/MicrosoftDocs/cpp-docs.ru-ru
    * https://github.com/MicrosoftDocs/cpp-docs.es-es
    * https://gith

[2019-12-19 13:36] Jamie63 commented on #2053
Attached is a screen shot of what happens in IE.  At the present time I am no longer learning MVC, I have been placed in another group working on other projects.  But if I do render the page at a lesser zoom level as suggested it does render correctly in IE but is harder to read.   As I stated I no longer need to continue.  Very interesting and wish I could have learned more. A few coworkers are i

[2019-12-19 17:29] Rick-Anderson commented on #2053
@Jamie63  as I mentioned before, you can't respond from email. Click on the  GitHub link in the email. It's  https://github.com/MicrosoftDocs/feedback/issues/2053
You'll need to paste the screenshot here on the GitHub issue page.

[2019-12-19 17:48] Jamie63 commented on #2053
Here is the snapshot.  I suppose IE does not work as I could not attach the graphic with it so I am using Edge.

![HighlightIssue](https://user-images.githubusercontent.com/56407212/71196360-8492d000-2255-11ea-9e79-f93c2c5ee1f9.jpg)

[2019-12-19 17:52] Rick-Anderson commented on #2053
@Jamie63  please provide the URL for that screenshot.

[2019-12-19 18:00] Jamie63 commented on #2053
If you look at the top of the image you can see the address.  But here it is:

[https://docs.microsoft.com/en-us/aspnet/mvc/overview/getting-started/getting-started-with-ef-using-mvc/creating-a-more-complex-data-model-for-an-asp-net-mvc-application](url)

[2019-12-19 18:10] Rick-Anderson commented on #2053
The best link is [Add a migration](https://docs.microsoft.com/en-us/aspnet/mvc/overview/getting-started/getting-started-with-ef-using-mvc/creating-a-more-complex-data-model-for-an-asp-net-mvc-application#add-a-migration)
Which renders correctly for me in IE/Chrome/FF/Edge

[2019-12-19 18:14] Jamie63 commented on #2053
The following is what I get on one of the boxes with that link:

![HighlightIssuePart2](https://user-images.githubusercontent.com/56407212/71198308-1c45ed80-2259-11ea-8d7a-804995126413.jpg)

[2019-12-19 18:25] Rick-Anderson commented on #2053
[Link to preceding code](https://docs.microsoft.com/en-us/aspnet/mvc/overview/getting-started/getting-started-with-ef-using-mvc/creating-a-more-complex-data-model-for-an-asp-net-mvc-application#update-student-entity)

That's exactly what we had with [this internal bug](https://icm.ad.msft.net/imp/v3/incidents/details/131591244/home) that was resolved at 2019-07-19 14:12:16 PDT

Your CSS/JavaScript

[2019-12-19 19:00] JasonCard commented on #2283
@chiastolite Thank you for reporting this issue. We are looking into this issue and will update.

[2019-12-19 20:12] veritablyclean opened #2284 "Regular Expressions in Transport Rules page does not list '+' as character that needs escaping"
You need to escape the plus sign '+' when making regex transport rules. It's not shown as a valid character in MS's specific implementation of regex, thus you wouldn't think to escape it.

https://docs.microsoft.com/en-us/previous-versions/office/exchange-server-2010/aa997187(v=exchg.141)?redirectedfrom=MSDN

[2019-12-20 00:23] zappz88 opened #2285 "Regarding C# 9"
I have a suggestion, and even though there may be a way to implement this that I'm not aware of, I'm going to say it anyway. Currently, variables cannot be declared outside of classes in the namespace, but enums can. I don't know why this is other than an a design decision, and my point here is to make an argument for allowing for list types to be made available as an option. Currently, I am a C#

[2019-12-20 03:34] #1901 closed

[2019-12-20 03:34] #778 closed

[2019-12-20 03:35] #2063 closed

[2019-12-20 03:36] mairaw commented on #1121
#log-suggestion

[2019-12-20 03:40] mairaw commented on #1119
Yes, there's a reason. I can get to the old msdn article if I suspect the issue being reported is a migration issue.

e.g. http://msdn.microsoft.com/en-us/library/930653a6-95d2-4697-9d5a-52d11bb6fd4c?toc=xxx

But that GUID doesn't show up for the customer when they're leaving feedback on GitHub.

[2019-12-20 03:41] mairaw commented on #2032
Yes, I quickly realized my mistake and had unassigned you.

[2019-12-20 03:42] mairaw commented on #1835
#log-suggestion

[2019-12-20 03:44] mairaw commented on #2117
@tdykstra @ahsonkhan can you please look at this feedback?

[2019-12-20 03:55] mairaw commented on #2285
C# language design discussions should be filed as issues in the https://github.com/dotnet/csharplang repo. So closing this feedback.

/cc @BillWagner

[2019-12-20 03:55] #2285 closed

[2019-12-20 03:57] mairaw commented on #2273
Thank you @arfmach. This has been fixed.

[2019-12-20 03:57] #2273 closed

[2019-12-20 06:14] github129 commented on #2246
I'm sorry.
The page URL was incorrect.
The correct URL is here.
https://docs.microsoft.com/en-us/connectors/

[2019-12-20 07:27] Youssef1313 opened #2286 "Possible bug with docs engine"
**Describe the bug**
Overloads shows plus `+` sign instead of dot `.`.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to <https://docs.microsoft.com/en-us/dotnet/api/system.environment.getfolderpath?view=netframework-4.8#overloads>
2. You'll see the following:

    ![image](https://user-images.githubusercontent.com/31348972/71237652-ce89bd80-230a-11ea-9c1b-0414737f929d.png)

**Expected b

[2019-12-20 12:50] AdnanRamulj opened #2287 "[BUG] - Docs - Windows UWP - Download PDF links not working"
Hello, I want to report that download links, which are linked to UWP apps development are not working.

Tried to download pdf from [Universal Windows Platform documentation](https://docs.microsoft.com/en-us/windows/uwp/) , also navigating to other pages, results in same, which is that page is not found.

Steps To Reproduce
Steps to reproduce the behavior:
1. Navigate to https://docs.microsoft.com/

[2019-12-20 16:23] tdykstra commented on #2117
There is no equivalent in System.Text.Json to the Newtonsoft.Json required property attribute.  We have an article about to be published explaining which features S.T.J. has that are equivalent to Newtonsoft.Json features and which it doesn't have.  For some of the missing ones, including required property attribute, writing a custom converter is a possible workaround. Until the how-to-migrate art

[2019-12-20 16:40] DavidPrio commented on #1969
@SunnyDeng may be you can help investigate as well?

[2019-12-20 18:30] mairaw commented on #2144
@rwarzycha for Visual Studio, this article explains how to obtain the offline books: https://docs.microsoft.com/en-us/visualstudio/help-viewer/installation

[2019-12-20 20:00] SunnyDeng commented on #1969
Hi @vinceno @krisre , do you own this repo https://github.com/MicrosoftDocs/forms-pro-pr.ja-jp/?

[2019-12-20 21:10] StingyJack commented on #2117
I can dig that the "required" part of the functionality isnt available. Can the other attributes get some docs though?

[2019-12-20 21:18] tdykstra commented on #2117
The attribute docs are here:

https://docs.microsoft.com/en-us/dotnet/api/system.text.json.serialization?view=netcore-3.0#classes

For more detailed information, most of those API reference docs link to this doc:  https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-converters-how-to?view=netcore-3.0#register-a-custom-converter

[2019-12-20 21:38] StingyJack commented on #2117
Then there is just some link missing from [here](https://docs.microsoft.com/en-us/dotnet/api/system.text.json?view=netcore-3.0)  to those attribute documents then.

[2019-12-20 21:41] tdykstra commented on #2117
I'll add a link to the Remarks section.

[2019-12-20 23:02] adamantoise commented on #941
Any updates on this issue?  The above link is currently a 404, but the issue is still present on the (presumably moved) page at https://docs.microsoft.com/en-us/windows/win32/api/processthreadsapi/ns-processthreadsapi-startupinfoa , as well as on the `STARTUPINFOW` page at https://docs.microsoft.com/en-us/windows/win32/api/processthreadsapi/ns-processthreadsapi-startupinfow .

[2019-12-20 23:09] adamantoise commented on #1231
Any updates on this?  On the documentation for both [STARTUPINFOA](https://docs.microsoft.com/en-us/windows/win32/api/processthreadsapi/ns-processthreadsapi-startupinfoa) and [STARTUPINFOW](https://docs.microsoft.com/en-us/windows/win32/api/processthreadsapi/ns-processthreadsapi-startupinfow), there are a number of semi-broken links to `GetStartupInfoW()`.  Each link to that function has the corre

[2019-12-20 23:18] adamantoise opened #2288 "Sentence fragment in documentation for STARTF_UNTRUSTEDSOURCE"
**Link to article:**
* https://docs.microsoft.com/en-us/windows/win32/api/processthreadsapi/ns-processthreadsapi-startupinfoa
* https://docs.microsoft.com/en-us/windows/win32/api/processthreadsapi/ns-processthreadsapi-startupinfow

**Problem:**
In the second-to last paragraph of the Remarks section of both of these pages, the first sentence appears to be missing a number of words:

According to [t

[2019-12-20 23:46] vinceno commented on #1969
+Marian, who manages this repo loc

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Sunny Deng <notifications@github.com>
Sent: Friday, December 20, 2019 8:00:03 PM
To: MicrosoftDocs/feedback <feedback@noreply.github.com>
Cc: Vince Nolan <vinceno@MICROSOFT.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/feedback] Typo (#1969)

Hi @vincen

[2019-12-20 23:56] cchanms opened #2289 "Broken link on button "Explore the client APIs""
Clicking the "Explore the client APIs" button shows "404 - Page not found"

https://docs.microsoft.com/en-us/dotnet/api/overview/azure/media-services?view=azure-dotnet

[2019-12-21 13:56] AlexanderRevo commented on #2235
Created a sample project to illustrate the issue: https://github.com/AlexanderRevo/SetEnvironmentStringsW-example

[2019-12-21 18:59] #2245 closed

[2019-12-22 01:52] #1831 closed

[2019-12-22 10:46] cloudysingh opened #2293 "Include Checkbox for left navigation (Index pages) of Microsoft Docs"
Do you often scroll through and switch pages using the left navigation on docs.microsoft.com? Do you like the way Microsoft provides index pages for its major documentation on docs.microsoft.com on the left side of your page?

Wouldn't it be amazing to have a checkbox for every left navigation hyper-link to track what you have completed and what is pending?
Imagine how much it can help you to prep

[2019-12-22 18:23] gtworek opened #2294 "InstallELAMCertificateInfo sample code typo"
**Link to article:**
https://docs.microsoft.com/en-us/windows/win32/api/sysinfoapi/nf-sysinfoapi-installelamcertificateinfo

**Problem:**
Sample code contains InstallElamCertificateInfo while the proper name is InstallELAMCertificateInfo

[2019-12-23 05:42] jpierson opened #2295 "Ability to select snippet language on mobile"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-12-23 05:55] jpierson commented on #2295
Ahh, I finally found the </> icon which lets me select the language. This icon didn't translate to me as a language selector but instead I assumed it had something about editing/viewing the underlying HTML or xml that is used to render the page. Since C# is the default language perhaps just having the selected language show I stead of </> wod be clearer?

[2019-12-23 09:15] hyoshioka0128 opened #2296 "[LOC] "「こんにちは, World!」" needs to be replaced with "Hello, World!""
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).
![openxml](https://user-images.githubusercontent.com/40815708/71348521-0d8c6d00-25b0-11ea-951a-f0c418772374.png)

**Link to article:**
Tell us where exactly a problem occurs.
"https://docs.microsoft.com/ja-jp/dotnet/api/documentformat.ope

[2019-12-23 09:19] hyoshioka0128 opened #2297 "[LOC] Back-Translation "try...キャッチ...finally ステートメント"→"Try…Catch…Finally ステートメント""
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).
![finallystatement](https://user-images.githubusercontent.com/40815708/71348838-c6eb4280-25b0-11ea-84d0-4c6c5a0043b4.png)

**Link to article:**
Tell us where exactly a problem occurs.
"https://docs.microsoft.com/ja-jp/dotnet/api/system.co

[2019-12-23 16:44] DavidPrio commented on #1969
@vinceno FYI I don't think any Marian was tagged here...

[2019-12-23 18:15] Aleh-Kazakevich opened #2298 "RpcServerUnregisterIfEx and type_strict_context_handle attribute"
**Link to article**
https://docs.microsoft.com/en-us/windows/win32/api/rpcdce/nf-rpcdce-rpcserverunregisterifex
(RpcServerUnregisterIfEx function)

**Quote**
The interface must use the 'strict_context_handle' attribute, otherwise the results are undefined.

**Problem**
From the description it is not clear whether it is possible to use this function with the
'type_strict_context_handle' attribute (

[2019-12-24 03:31] ahsonkhan commented on #2117
That link covers the `System.Text.Json` namespace. The attributes you are looking for are in the nested `S.T.Json.Serialization` namespace (see link @tdykstra provided), so I am not sure what the fix for this should be. Are you suggesting that the root namespace provide a link to a nested namespace? It's not just attributes that don't show up, `JsonConverter` doesn't either (because it is not in t

[2019-12-24 07:48] DuanShaolong opened #2299 "Download Sample link can't navigate to the specific project."
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**Link to article:https://docs.microsoft.com/en-us/aspnet/web-forms/overview/getting-started/getting-started-with-aspnet-45-web-forms/ui_and_navigation
Tell us where exactly a problem occurs. click 'Download Wingtip Toys Sample Project (

[2019-12-24 13:09] StingyJack commented on #2117
The things that are in the same assembly should be linked together.

[2019-12-25 12:06] Youssef1313 commented on #2297
I've opened a PR in `dotnet/dotnet-api-docs` repo to fix this issue.

[2019-12-25 12:10] Youssef1313 commented on #2296
@JasonCard, Hello, World is put in double quotes. Shouldn't it be prevented from localization by default ? Or it should be put between back ticks ?

[2019-12-25 12:22] Youssef1313 commented on #2289
I've opened Azure/azure-docs-sdk-dotnet#1114 to fix it.

[2019-12-25 13:00] Deepak98033 opened #2300 "Delivery Optimization API - Header Files missing from Windows 10 SDK"
The Delivery Optimization API is part of the Windows SDK:

https://docs.microsoft.com/en-us/windows/win32/delivery_optimization/do-reference

However, ALL the header files, IDL files, and Library files needed to call this API are missing from the current Windows 10 SDK. Below is a complete list of missing files:

Deliveryoptimization.h
DeliveryOptimizationDownloadTypes.h
DODownloadInternal.h
Do.h

[2019-12-26 00:44] Mokudai-Masayuki opened #2301 "コレクションをシェアできるようしてほしい"
作成したコレクションはtwitterやLinkedinでシェア出来ますが、 MS-Learn の中でもシェアできるとステキです。

・他人のコレクションを参考にすることで効率的な学習ができます
・人気度の高いコレクションに選ばれるように自分で厳選したくなります

The created collection can be shared on twitter and LinkedIn, but it is wonderful to be able to share on MS-Learn.

・ Efficient learning can be done by referring to others' collections
・ I want to carefully select myself so that it can be selected for a popular collec

[2019-12-26 04:00] tottokug opened #2302 "コレクションにアクセス解析機能をつけてほしい I want the collection to have an access analysis function"
**Describe the solution you'd like**
コレクションにいつどこから、どれくらいアクセスされているのか知りたいです。
I want to know when, where and how much the collection is accessed.
どれくらいのビューがあるのかでもよいです。
Just how many views you have is fine.

**Describe alternatives you've considered**
既存のAnalyticsタグを設置できるでも良いです。
You may be able to install an existing Analytics tag.

[2019-12-26 06:34] grisha999 opened #2303 "RSS feed on site https://docs.microsoft.com/ru-ru/sysinternals/ is NOT updated"
RSS feed on site https://docs.microsoft.com/ru-ru/sysinternals/ is NOT updated since 15 june 2019

[2019-12-26 07:52] kefujino opened #2304 "Cannot search MSCommers PS module on PowerShell Module Browser"
Hello,

I am a user of PowerShell Module Browser (PSMB).
https://docs.microsoft.com/en-us/powershell/module/

I really heavlly rely on this web service to find Microsoft PowerShell modules.
But, I noticed the MSCommerce module (https://www.powershellgallery.com/packages/MSCommerce/1.2) has not been searchable on PSMB.

![image](https://user-images.githubusercontent.com/13634805/71464977-a6182c80-2

[2019-12-26 14:25] EmmettTsai opened #2305 "Wrong Parameters name in "InitializeObjectAttributes macro" page"
**Link to article:**
https://docs.microsoft.com/en-us/windows/win32/api/ntdef/nf-ntdef-initializeobjectattributes

**Problem:**
Wrong Parameters name in "InitializeObjectAttributes macro" page.
"InitializedAttributes" is displayed as "P"
"ObjectName" is displayed as "n"
"Attributes" is displayed as "a"
"RootDirectory" is displayed as "r"
"SecurityDescriptor" is displayed as "s"

[2019-12-26 19:47] JasonCard commented on #2296
@Youssef1313 Text within double quotes are localizable by default, so it's currently being over-localized by machine translation. Back ticks are usually use for inline code and not for display text. So I would recommend for content team to use the [no-loc syntax](https://review.docs.microsoft.com/en-us/help/contribute/markdown-reference?branch=master#non-localized-strings) to block to text from be

[2019-12-27 02:14] siri2siri opened #2306 "Sandbox cannot be activated with "Your appeal has been received" message."
I'm trying to activate Sandbox in MS learning but it's giving me the message that says "Your appeal has been received. Appeals are reviewed on a first-come, first-served basis, and may take several days to process. If your appeal is approved, you will regain access to sandboxes and other interactive learning resources.
For more information, please check the troubleshooting guidance page. once I cl

[2019-12-27 05:55] WuLex opened #2307 "SQL Server生成含有前1000条数据的脚本文件,请开发这个功能在ssms。"
SQL Server generates a script file with the first 1000 data, please develop this function in ssms。

我不知道在哪边反馈问题，所以就写在这边。
像oracle，mysql 好像都可以 生成 带有前1000条的数据架构的脚本，sqlserver一直不行，为什么呢？

[2019-12-27 09:28] shawnmc00 opened #2308 "where is the typing box?"
https://docs.microsoft.com/en-us/dotnet/api/?redirectedfrom=MSDN

I want search some api for dotnet ,but where is typing box in this page?how can I search?

[2019-12-27 20:17] clandrew commented on #2096
This has been fixed.

[2019-12-27 20:17] #2096 closed

[2019-12-27 20:43] clandrew commented on #2009
A fix has been sent out for this as an internal PR.

[2019-12-27 21:54] clandrew commented on #1364
The fix for this has been merged.

[2019-12-27 21:54] #1364 closed

[2019-12-28 10:16] Youssef1313 opened #2309 "Language selector (VB/C#) bug."
**Describe the bug**
aspx-csharp and aspx-vb aren't considered as a subset of csharp and vb.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to <https://docs.microsoft.com/en-us/dotnet/api/system.web.ui.scriptmanager.registerclientscriptblock?view=netframework-4.8>
2. There are 2 code samples written in csharp and vb (They're under the "Overloads" heading).
3. There is a code sample under

[2019-12-28 10:17] Youssef1313 commented on #2309
@mairaw, May you confirm if this can/can't be solved within the dotnet-api-docs repo.

[2019-12-28 10:22] Youssef1313 commented on #2309
Noticed that the "VB" selector didn't even exist. I'm closing because I found a page <https://docs.microsoft.com/en-us/dotnet/api/system.web.ui.htmlcontrols.htmlimage?view=netframework-4.8> where the expected behavior happens. So, it seems related to the dotnet-api-docs repo.

[2019-12-28 10:22] #2309 closed

[2019-12-28 16:06] qq330514110 opened #2310 "符号文件下载不了,连接失败"
!sym noisy 之后显示信息如下
0:000> .reload
Reloading current modules
.....
SYMSRV:  BYINDEX: 0x4
         e:\symbols*https://msdl.microsoft.com/download/symbols
         ntdll.pdb
         0C2E19EA1901E9B82E4567D2D21E56D21
SYMSRV:  UNC: e:\symbols\ntdll.pdb\0C2E19EA1901E9B82E4567D2D21E56D21\ntdll.pdb - path not found
SYMSRV:  UNC: e:\symbols\ntdll.pdb\0C2E19EA1901E9B82E4567D2D21E56D21\ntdll.pd_ - path not

[2019-12-29 02:52] toshkv opened #2311 "404 on link to Python for Azure Bot Service"
**Link to article:**
https://docs.microsoft.com/en-us/azure/bot-service/?view=azure-bot-service-4.0

**Issues:**

1. Under the `5-Minute Quickstarts` section, the link for `Python` ( https://docs.microsoft.com/azure/bot-service/javascript/bot-builder-python-quickstart ) returns a `404 - Page Not Found`.

- The link itself, ( https://docs.microsoft.com/azure/bot-service/javascript/bot-builder-pytho

[2019-12-29 14:36] Youssef1313 commented on #2084
@rloutlaw, Is there any updates on this?

[2019-12-29 15:55] tfitzmac commented on #2025
@naragati - thanks for this feedback. The API versions have been updated.

[2019-12-29 15:55] tfitzmac commented on #2025
#please-close

[2019-12-29 22:12] ADataGMan opened #2312 "Power Query not open to pull requests"
Please open up the [Power Query documentation](https://docs.microsoft.com/en-us/powerquery-m/) found in https://github.com/MicrosoftDocs/query-docs-pr/blob/live/query-languages/m to pull requests.

The basics are there, but it could benefit from help from the community, especially on the more complex parts of the language. This makes it much easier to champion as a power user when I know newbies c

[2019-12-30 01:44] hyoshioka0128 opened #2313 "[LOC] Back-Translation "新規-Remotembox"→"New-Remotembox""
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).
![new-remotemailbox](https://user-images.githubusercontent.com/40815708/71565356-546aed00-2af1-11ea-9d12-b22604d4b05e.png)

**Link to article:**
Tell us where exactly a problem occurs.
"https://docs.microsoft.com/ja-jp/powershell/module/e

[2019-12-30 01:57] hyoshioka0128 opened #2314 "[LOC] Back-Translation "新規-ラベル"→"New-Label""
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).
![new-label](https://user-images.githubusercontent.com/40815708/71565571-1bcc1300-2af3-11ea-94cf-2143722dc408.png)

**Link to article:**
Tell us where exactly a problem occurs.
"https://docs.microsoft.com/ja-jp/powershell/module/exchange/

[2019-12-30 02:02] hyoshioka0128 opened #2315 "[LOC] Back-Translation "新規-AuthRedirect"→"New-AuthRedirect""
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).
![new-authredirect](https://user-images.githubusercontent.com/40815708/71565633-e116aa80-2af3-11ea-9330-08ce15909934.png)

**Link to article:**
Tell us where exactly a problem occurs.
"https://docs.microsoft.com/ja-jp/powershell/module/ex

[2019-12-30 02:05] hyoshioka0128 opened #2316 "[LOC] Back-Translation "新規-GlobalAddressList"→"New-GlobalAddressList""
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).
![new-globaladdresslist](https://user-images.githubusercontent.com/40815708/71565659-479bc880-2af4-11ea-8a74-147b0ab3ab84.png)

**Link to article:**
Tell us where exactly a problem occurs.
"https://docs.microsoft.com/ja-jp/powershell/modu

[2019-12-30 02:08] hyoshioka0128 opened #2317 "[LOC] Back-Translation "新規-Spwork Managementserviceapplication"→"New-Spwork Managementserviceapplication""
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).
![new-spworkmanagementserviceapplication](https://user-images.githubusercontent.com/40815708/71565697-bda02f80-2af4-11ea-823a-60935d65e659.png)

**Link to article:**
Tell us where exactly a problem occurs.
"https://docs.microsoft.com/ja-j

[2019-12-30 02:11] hyoshioka0128 opened #2318 "[LOC] Back-Translation "新規-SPClaimTypeMapping"→"New-SPClaimTypeMapping""
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).
![new-spclaimtypemapping](https://user-images.githubusercontent.com/40815708/71565751-21c2f380-2af5-11ea-844e-f60d82389906.png)

**Link to article:**
Tell us where exactly a problem occurs.
"https://docs.microsoft.com/ja-jp/powershell/mod

[2019-12-30 02:14] hyoshioka0128 opened #2319 "[LOC] Back-Translation "新規作成-AddressList"→"New-AddressList""
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).
![new-addresslist](https://user-images.githubusercontent.com/40815708/71565790-7bc3b900-2af5-11ea-83fa-0b1cda50e46c.png)

**Link to article:**
Tell us where exactly a problem occurs.
"https://docs.microsoft.com/ja-jp/powershell/module/exc

[2019-12-30 02:16] hyoshioka0128 opened #2320 "[LOC] Back-Translation "新規-AddressRewriteEntry"→"New-AddressRewriteEntry""
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).
![new-addressrewriteentry](https://user-images.githubusercontent.com/40815708/71565837-d4935180-2af5-11ea-8d4a-4efaab1cfead.png)

**Link to article:**
Tell us where exactly a problem occurs.
"https://docs.microsoft.com/ja-jp/powershell/mo

[2019-12-30 02:19] hyoshioka0128 opened #2321 "[LOC] Back-Translation "新規-SPExcelServiceApplication"→"New-SPExcelServiceApplication""
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).
![new-spexcelserviceapplication](https://user-images.githubusercontent.com/40815708/71565876-33f16180-2af6-11ea-9da1-2cb5bba145bd.png)

**Link to article:**
Tell us where exactly a problem occurs.
"https://docs.microsoft.com/ja-jp/powersh

[2019-12-30 02:23] hyoshioka0128 opened #2322 "[LOC] Back-Translation "新規-SPExcelBIServer"→"New-SPExcelBIServer""
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).
![new-spexcelbiserver](https://user-images.githubusercontent.com/40815708/71565966-d578b300-2af6-11ea-9409-77198be159e1.png)

**Link to article:**
Tell us where exactly a problem occurs.
"https://docs.microsoft.com/ja-jp/powershell/module

[2019-12-30 03:26] Drake-Wu opened #2323 "Library of MFCreateSourceResolver in document is not update"
**Link to article:**
https://docs.microsoft.com/en-us/windows/win32/api/mfidl/nf-mfidl-mfcreatesourceresolver

**Problem:**
Library of MFCreateSourceResolver in document is not update. It should be Mfplat.lib from window 7.(metioned in Remarks)

[2019-12-30 12:27] Dird opened #2324 "Install the Azure AD Module"
https://docs.microsoft.com/en-us/previous-versions/azure/jj151815(v=azure.100)?redirectedfrom=MSDN

It says you need to download the 64 bit option but the link goes to "Microsoft Connect Has Been Retired"

[2019-12-30 16:00] cgoosen opened #2325 "Unable to upload or edit TechNet Gallery contribution"
**Describe the bug**
When attempting to upload or edit TechNet Gallery contribution certain parts of the submission form are not rendering correctly or appear to be disabled.

The 'File upload' option no longer appears and neither does the required 'License' field, this makes it impossible to update the content of the submission.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https:/

[2019-12-30 16:20] alparamonov opened #2326 "Azure MXChip IoT DevKit Get Started dead link in Next Steps"
**Link to article:**
https://docs.microsoft.com/en-us/samples/azure-samples/mxchip-iot-devkit-get-started/sample/

**Problem:**
In the very bottom of the article, the first link in the "Next Steps" section leads to 404.

Connect IoT DevKit to your Azure IoT Central application
https://docs.microsoft.com/en-us/azure/iot-central/howto-connect-devkit

[2019-12-30 18:19] mimisasouvanh commented on #2218
@thomaslevesque Thank you for logging this issue. We are tracking it internally and will keep you posted on the progress.

[2019-12-30 19:25] mimisasouvanh commented on #2192
@scottaddie Can you take a look at this?

[2019-12-30 19:28] mimisasouvanh commented on #2185
#log-suggestion @mimisasouvanh

[2019-12-30 19:29] mimisasouvanh commented on #2185
Thanks @mairaw @pjmlp I've created an internal issue to track this.

[2019-12-30 19:32] mimisasouvanh commented on #2180
@conceptdev Can you take a look?

[2019-12-30 19:41] mimisasouvanh commented on #2171
Duplicate of: https://github.com/MicrosoftDocs/feedback/issues/637

[2019-12-30 19:50] mimisasouvanh commented on #2142
Example: https://docs.microsoft.com/en-us/dotnet/api/system.linq.enumerable.aggregate?view=netframework-4.8
@metabind Thank you for reporting this issue. We are tracking this issue internally and will report back with any updates.
#log-suggestion @mimisasouvanh

[2019-12-30 19:51] conceptdev commented on #2180
Unfortunately it is not very clear that the [link in question](https://docs.microsoft.com/en-us/dotnet/api/?view=xamarinios-10.8) only refers to the BCL (base class library) shipped with Xamarin.iOS. While it may seem outdated compared to Xamarin.iOS 13.8, the BCL actually doesn't change that much between releases. If you find something incorrect on those docs, please use the Feedback button on th

[2019-12-30 19:53] mimisasouvanh commented on #2129
#log-suggestion @mimisasouvanh

[2019-12-30 19:55] mlottner commented on #2180
@svick wanted to make sure you saw @conceptdev 's response to your request. Thanks again for taking the time to leave us docs feedback and contribute to our user community.

[2019-12-30 19:55] #2180 closed

[2019-12-30 20:01] mlottner commented on #2185
@pjmlp Thanks again for taking the time to give us feedback and contribute to our community. An internal request and issue have been created to track this. I'm closing this feedback issue for now, but feel free to open future issues as needed.

[2019-12-30 20:01] #2185 closed

[2019-12-30 20:07] mimisasouvanh commented on #2028
Tracking internally. Similar GitHub issue: https://github.com/MicrosoftDocs/feedback/issues/351

[2019-12-30 20:17] mimisasouvanh commented on #1699
We are tracking this internally. https://github.com/MicrosoftDocs/feedback/issues/224

[2019-12-30 20:33] mimisasouvanh commented on #719
#log-suggestion @mimisasouvanh

[2019-12-30 21:16] mimisasouvanh commented on #567
@mairaw @josefPihrt : Did @KalleOlaviNiemitalo answer your question?

[2019-12-30 21:24] rloutlaw commented on #2102
Updating this - I've asked our engineering team to look into the behavior. I think our bigger goal here is to document the NuGet package associated with a class as part of the reference docs.

[2019-12-30 21:39] KalleOlaviNiemitalo commented on #567
docs.microsoft.com uses DocFX, which I think implements the replacement here: https://github.com/dotnet/docfx/blob/9beb7001e8d5b88f2fd0cee4396ef38bed972297/src/docfx.website.themes/common/common.js#L27-L30

That code is JavaScript but it is run by the build server, not by a web browser.

[2019-12-30 21:46] mimisasouvanh commented on #314
@mairaw Yes, it is 136805.

[2019-12-30 22:18] roji commented on #1699
@mimisasouvanh feel free to close this if #224 already tracks the problem and this issue brings no extra value.

[2019-12-30 22:50] KalleOlaviNiemitalo commented on #2281
It now redirects to <https://docs.microsoft.com/office365/troubleshoot/installation/product-ids-supported-office-deployment-click-to-run>, which then tries to redirect to a localized version; <https://docs.microsoft.com/en-us/office365/troubleshoot/installation/product-ids-supported-office-deployment-click-to-run> seems to list the product IDs.

[2019-12-30 23:17] Ronsss commented on #2281
Thank you for the redirect. That is the page I was looking at before it got "lost". I guess the redirect was broken the day I tried.
Please close the request.

On Mon, Dec 30, 2019 at 4:50 PM KalleOlaviNiemitalo <notifications@github.com<mailto:notifications@github.com>> wrote:

It now redirects to https://docs.microsoft.com/office365/troubleshoot/installation/product-ids-supported-office-deployme

[2019-12-30 23:29] KalleOlaviNiemitalo commented on #1935
Redirection of Web API documentation from MSDN to MDN was [announced on October 18, 2017](<https://blogs.windows.com/msedgedev/2017/10/18/documenting-web-together-mdn-web-docs/> "Documenting the Web together - Microsoft Edge Blog").

However, because MDN does not document the HTA-specific `applicationName` property, it seems there should be an exception for that, like there already is for `command

[2019-12-31 00:37] rootsmusic commented on #1841
@docs-product See clarification above.

[2019-12-31 06:54] mlottner commented on #2171
@chezzwizz Thanks again for your feedback.
I'm closing this issue here as the relevant team is aware of it and tracking it internally. Feel free to open additional site feedback cases if/as needed.

[2019-12-31 06:54] #2171 closed

[2019-12-31 07:06] mlottner commented on #2326
@dominicbetts can you take a look at this?

[2019-12-31 07:14] mlottner commented on #2324
@Dird Thanks for taking the time to give us feedback and contribute to our community.
As noted, the product page you referenced is no longer being updated or maintained.  Check  [Microsoft Product Lifecycle](https://support.microsoft.com/lifecycle/selectindex) for information about how that product, service, technology, or API is supported.
I'm closing this issue for now as prior versions no longe

[2019-12-31 07:14] #2324 closed

[2019-12-31 07:17] mlottner commented on #2323
@Drake-Wu Thanks for taking the time to give us feedback. I've flagged this issue for the Windows team for awareness and remediation.

Appreciate your contribution to our community!

[2019-12-31 07:34] SWei1234 opened #2327 "[Office.SharedProperties interface] Don't understand what this api use for and how to use this api."
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**Link to article:**
Tell us where exactly a problem occurs.
https://docs.microsoft.com/en-us/javascript/api/outlook/office.sharedproperties?view=outlook-js-1.8

**Problem:**
What's wrong with the article?
1. I usually use office.js api

[2019-12-31 07:36] #1504 closed

[2019-12-31 10:03] vinceno commented on #1969
@mhogan73

[2019-12-31 10:19] rwlpf opened #2328 "Check your answers - button not working"
**Describe the bug**
Click on 'Check your answers' button get spinning icon, never completes

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/en-gb/learn/modules/introduction-power-apps/5-knowledge-check'
2. Click on 'Check your answers'
(note do not have to select answer)

**Expected behavior**
returns results to confirm if answers submitted are correct or n

[2019-12-31 10:21] rwlpf opened #2329 "Check your answers' button does not work"
**Describe the bug**
Click on 'Check your answers' button get spinning icon, never completes

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/en-gb/learn/modules/build-app-solution/6-knowledge-check'
2. Click on 'Check your answers'
(note do not have to select answer)

**Expected behavior**
returns results to confirm if answers submitted are correct or not

*

[2019-12-31 12:07] thomaslevesque commented on #2218
Thanks @mimisasouvanh

[2019-12-31 16:11] mhogan73 commented on #1969
I will share with our localization team. Thx

[2019-12-31 19:42] JosefPihrt commented on #567
@KalleOlaviNiemitalo thanks for the answer.

[2020-01-01 07:46] BenjaminEllett opened #2330 "The description for the System.Buffers Namespace in the .NET Core 3.1 API browser is missing some text."
Here is the description from The .NET API Browser (https://docs.microsoft.com/en-us/dotnet/api/?view=netcore-3.1) "The namespace contains types used in creating and managing memory buffers, such as those represented by and ."  Here is what the text should be: "The System.Buffers namespace contains types used in creating and managing memory buffers, such as those represented by Span<T> and Memory<T

[2020-01-01 12:55] AndreiDespinoiu opened #2331 "Missing image for "Figure 7. High-projective aliasing vs. low-projective aliasing""
**Describe the bug**
There's a missing image from the "Common Techniques to Improve Shadow Depth Maps" article.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/windows/win32/dxtecharts/common-techniques-to-improve-shadow-depth-maps
2. Scroll down to 'Figure 7. High-projective aliasing vs. low-projective aliasing'
3. See error

**Expected behavior**
Ther

[2020-01-02 08:25] AndreiDespinoiu commented on #2331
Note: Also "Figure 4" from this article https://docs.microsoft.com/en-us/windows/win32/dxtecharts/cascaded-shadow-maps

[2020-01-02 18:34] scottaddie commented on #2192
@ajcvickers @bricelam Can one of you please look at this?

[2020-01-02 18:52] Mordochor commented on #2272
I would also love to have translation permanently disabled. Could this be a settings item? Technical text machine translated into czech comes out severly mingled and more often than not I need to switch to english to make any sense of it. If settings isn't an option, I think english as a default still makes much more sense than machine translation.

[2020-01-02 19:14] meJevin commented on #1148
Bump!

[2020-01-02 20:03] Eilon opened #2332 "Microsoft Employee Privacy notice shows up on every page even though I've acknowledged it"
**Describe the bug**
Microsoft Employee Privacy notice shows up on every page even though I've acknowledged it:

![image](https://user-images.githubusercontent.com/202643/71689792-c5134300-2d57-11ea-996f-cf2b6b885789.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any docs site, signed in with an @microsoft.com account
1. See notice

**Expected behavior**
See notice 1 time only af

[2020-01-02 20:35] gmilliner opened #2333 "Dotnet webapp project won't build: Create a web UI with ASP.NET Core"
The Microsoft Learn course "Create a web UI with ASP.NET Core" cannot be completed because the Azure Cloud Shell (Ubuntu 16 and dotnet core 2.2) cannot build the webapp project https://aka.ms/create-razor-pages-aspnet-core-setup.

Steps to reproduce:
1. Go to: https://docs.microsoft.com/en-us/learn/modules/create-razor-pages-aspnet-core/3-setup-environment
2. Follow all the step to create the Cont

[2020-01-02 21:45] ajcvickers commented on #2192
@scottaddie Yeah, looks like the documentation is incorrect. However, this isn't an EF or ADO.NET type--it will need to be assigned to whomever owns System.Transactions in CoreFx.

[2020-01-02 22:53] Zarniwoop42 opened #2334 "Very minor typo in sGet-AzureADApplicationProxyConnectorGroupMembers"
Link:
https://docs.microsoft.com/en-us/powershell/module/azuread/?view=azureadps-2.0#azuread

Problem:
"sGet-AzureADApplicationProxyConnectorGroupMembers" should probably be "Get-AzureADApplicationProxyConnectorGroupMembers"

[2020-01-03 00:32] Eilon commented on #2332
I signed out and signed back in and now it seems to work. But it was still broken for a while even though I clicked OK 20+ times.

[2020-01-03 06:54] SWei1234 commented on #2327
Yes, I finally got what's the problem by searching on google. But I still hope microsoft can add more link or description on doc. Thanks.

[2020-01-03 06:54] #2327 closed

[2020-01-03 09:54] jamesdfrost opened #2335 "Missing repository in Build a Power Apps app tutorial"
It looks like a repository mentioned in the "Build a Power Apps app" tutorial (https://docs.microsoft.com/en-us/learn/modules/build-app-solution/3-build-power-apps-app) references a github repository in MicrosoftDocs which has now been removed.

The link is to a spreadsheet download in the step:
2. Download the Contoso file, extract all of the files and save them to your OneDrive for Business.

wh

[2020-01-03 14:43] RonBovelle opened #2336 "Office Product Code GUID Description pages are returning 404 Errors"
Hello,  I am looking to reference the Office Product Code GUID Numbering scheme reference and all pages are returning 404 errors!

https://docs.microsoft.com/en-us/office/troubleshoot/reference/numbering-scheme-for-product-guid

[2020-01-03 14:45] vbjay opened #2337 "MSDN Magazine Archive"
Please provide a master download to download all code and all magazines or even a way to select which issues to download the code and magazines as a zip.

See https://docs.microsoft.com/en-us/archive/msdn-magazine/msdn-magazine-issues

[2020-01-03 17:16] westskykingland opened #2338 "from the microsoft learning web site, i can;t find any content with databricks?"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**Link to article:**
Tell us where exactly a problem occurs.

**Problem:**
What's wrong with the article?

[2020-01-03 17:17] westskykingland commented on #2338
databricks

[2020-01-03 17:17] #2338 closed

[2020-01-03 19:52] vbjay commented on #2337
Or just post on github a repo with all code and all magazines.

[2020-01-03 20:30] mimisasouvanh commented on #2040
@TianqiZhang Can you look at this? If not, let me know.

[2020-01-03 20:33] mimisasouvanh commented on #1699
@roji Thanks Shay! Unfortunately, I don't have the proper permission level to close this issue.

[2020-01-03 21:42] mimisasouvanh commented on #2305
#log-suggestion @mimisasouvanh

[2020-01-03 22:10] #1699 closed

[2020-01-03 23:26] Jeff-Schafer opened #2339 "The "Field Name" listed in the tables & Screenshots show the name in the wrong case in many areas on https://docs.microsoft.com/en-us/azure/iot-central/core/tutorial-define-device-type"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**Link to article:**
https://docs.microsoft.com/en-us/azure/iot-central/core/tutorial-define-device-type

**Problem:**
When actually running the IoT Central, "**Field Name**" IS case-sensitive & needs to match the "**Display Name**".
Usi

[2020-01-03 23:56] TinaMcN commented on #2296
@OfficeGlobal please uplift this Japanese article to human translation.

[2020-01-04 05:30] hyoshioka0128 commented on #2296
@TinaMcN - Thank you for helping.

[2020-01-04 11:44] AJAbanto commented on #1214
Still waiting for those docs, I hope this gets resolved soon

[2020-01-04 19:13] zhaoqiang2002 opened #2340 "Digital Download for MSDN Magazine 2019 July is not valid"
Digital Download for MSDN Magazine 2019 July is not valid.

https://docs.microsoft.com/en-us/archive/msdn-magazine/msdn-magazine-issues

[2020-01-06 09:52] OfficeGlobal commented on #2296
Working on a fix

[2020-01-06 11:11] mhogan73 commented on #1969
The updated topic is now published Live. @CeciAc @ShinjiFunabiki

[2020-01-06 11:54] dominicbetts commented on #2326
@alparamonov - thanks for reporting this.

I fixed an error in the redirect file: https://github.com/MicrosoftDocs/azure-docs-pr/pull/100165

As soon as the PR is merged the link will be working again.

FYI, the correct link is: https://docs.microsoft.com/azure/iot-central/core/howto-connect-devkit/

[2020-01-06 11:55] dominicbetts commented on #2326
#please-close

[2020-01-06 12:33] #2326 closed

[2020-01-06 12:34] mlottner commented on #2339
@dominicbetts Can you take a look?

[2020-01-06 12:35] mlottner commented on #2339
@Jeff-Schafer Thanks for taking the time to leave us feedback. I've flagged the issue to a member of the IoT docs team for awareness and potential resolution.

Appreciate your contribution to our community.

[2020-01-06 12:49] mlottner commented on #2337
@vbjay Thanks for taking the time to reach out and make your request.
Before closing this issue, I flagged your request internally to a member of our team for awareness, but as the content is no longer under support, dev resources to extract and offer the content in other formats are limited.
Appreciate your contribution to our community.

[2020-01-06 12:49] #2337 closed

[2020-01-06 14:25] dominicbetts commented on #2339
Hi @Jeff-Schafer - can you clarify where you're seeing an error in your IoT Central application when you follow this tutorial? The **Field Names** are case-sensitive and need to match the field names in any device code - such as the sample code shown in https://docs.microsoft.com/azure/iot-central/core/tutorial-add-device. The **Display Names** are not case-sensitive and are only used as labels in

[2020-01-06 15:36] Jeff-Schafer commented on #2339
It was failing to draw the chart.
I was told the Field Name & Display Name fields have to match.
Once I did this, the chart was drawn.

If the Display Name is not case-sensitive, but the Field Name is, the required format should be displayed.

Also, the link you mention is not the correct one.
It is https://docs.microsoft.com/en-us/azure/iot-central/core/tutorial-define-device-type.

If these are

[2020-01-06 18:03] mhunter77 opened #2341 "ERROR: The documentation [1] recommends API version 2018-02-14 but the API returns 'The api-version '2018-02-14' is invalid.'​"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**Link to article:**
https://docs.microsoft.com/en-us/rest/api/keyvault/vaults/list​

**Problem:**
What's wrong with the article?

The customer was using the following link to create the "List operation gets information about the vaults

[2020-01-06 18:35] binki opened #2342 "Improve visibility of features by version"
**Is your feature request related to a problem? Please describe.**
When browsing SQL Server features which were newly introduced in recent versions, I want to be able to quickly see which version of SQL Server introduced a particular concept, topic, or subfeature.

When I try to figure out which version of SQL Server has a particular feature, I am [told](https://github.com/MicrosoftDocs/sql-docs/i

[2020-01-06 20:22] JasonCard commented on #2092
Hi @zeratul1990,
This is issue is now fixed.
Please let us know if you still find any issues.

[2020-01-07 01:17] sayanghosh123 commented on #2253
A quick follow up on this please. In addition, we also raised a support ticket to Microsoft support and the feedback received was "The article that you refered to was over a year ago so it is no longer updated. ". Of course, it is a concern if an article on docsmsft is available and is not updated, as partners and customers take important decisions based on this documentation. Please add this to t

[2020-01-07 01:45] zeratul1990 commented on #2092
well, as far as i can see,the "examples" and "remarks" are not working as they are still "#--","Applies to" and "Thread Safety" are replaced by "-" ,though acting well .maybe the page is cached,i will check out this later

the replacement could happen in japanese version(注釈),korean version(예제),russian version(Примеры),german version(Gilt für:),french version(S’applique à),Czech version(Příklady),a

[2020-01-07 11:10] dominicbetts commented on #2339
Hi @Jeff-Schafer - apologies, I must be missing something. To test things out I created a device template with three telemetry types:

| Display Name | Field Name |
| --------------- | -------------|
| Humidity | Humidity |
| Temperature | temperature |
| External Temperature |  somethingelse |

I then added a chart to the dashboard for the device template to plot the three telemetry values over t

[2020-01-07 16:22] EmmettTsai opened #2343 "Wrong macro name in example of "DPI-related APIs and registry settings""
**Link to article:**
https://docs.microsoft.com/en-us/windows-hardware/manufacture/desktop/dpi-related-apis-and-registry-settings#primary-display-native-resolution

**Problem:**
What's wrong with the article?
The example in primary-display-native-resolution part display wrong macro name VERZRES, the correct name is VERTRES.

reference:
https://docs.microsoft.com/en-us/windows/win32/api/wingdi/nf-w

[2020-01-07 19:24] mairaw commented on #1969
Closing this issue then.

[2020-01-07 19:24] #1969 closed

[2020-01-07 19:28] mairaw commented on #2297
Thanks @Youssef1313. It should take a few days until the localized content is updated. /cc @JasonCard

[2020-01-07 19:30] mairaw commented on #2313
@JasonCard who handles PowerShell localization? @hyoshioka0128 has reported a few issues with the localization of some command names.
https://github.com/MicrosoftDocs/feedback/issues/created_by/hyoshioka0128

It's interesting that is even translating content inside code blocks.

[2020-01-07 19:30] mister-dj opened #2344 "HTTP 503 on CSS and Scripts for Technet Gallery"
gallery.technet.microsoft.com is not loading CSS with an HTTP 503 error. Also seeing some scripts failing. Issue seems to be with https://i1.code.msdn.s-msft.com/

[2020-01-07 20:12] Jeff-Schafer commented on #2339
Hi @dominicbetts - I found out that we are using different IoT Central Sample Apps which have the first letter in uppercase for the "**Field Name**" & that's why it isn't consistent with this tutorial: https://docs.microsoft.com/en-us/azure/iot-central/core/tutorial-define-device-type.

Closing bug.

[2020-01-07 20:12] #2339 closed

[2020-01-07 20:22] CeciAc opened #2345 "The generated pdf has a lot of duplicate content"
Hi team,
I moved this from here: https://github.com/aspnet/AspNetCore.Docs.zh-cn/issues/234
The comments below were machine-translated

@yunfeiyang1916 commented 9 days ago
The "Download PDF" function is provided at the bottom of the page at https://docs.microsoft.com/en-us/aspnet/core/?view=aspnetcore-3.1. The downloaded pdf has a lot of duplicate content, such as in the tutorial => MVC -> Add co

[2020-01-07 21:59] markolbert opened #2346 "Missing nuget install for required dependency"
This is on https://docs.microsoft.com/en-us/graph/tutorials/dotnet-core?tutorial-step=1

The instructions about installing the various dependencies do not appear to explain how to install Microsoft.Graph.Auth which, as of today, is still in pre-release.

[2020-01-07 22:13] markolbert opened #2347 "appsettings.json must be set to copy"
This is on https://docs.microsoft.com/en-us/graph/tutorials/dotnet-core?tutorial-step=3

The properties of appsettings.json must be set to Copy Always or Copy If Newer. Otherwise when the app runs it won't find the file in the executable directory and it'll abort.

[2020-01-07 22:16] mhunter77 commented on #2341
Please try the following:
https://docs.microsoft.com/en-us/rest/api/keyvault/vaults/

[2020-01-07 23:21] mairaw commented on #2102
I'll close this issue. The docs are correct and we already have other issues tracking NuGet information to be displayed in the API docs.

[2020-01-07 23:21] #2102 closed

[2020-01-08 06:33] JasonCard commented on #2313
@RyanKing77 Could you please help to follow up on this feedback for Japanese translation of PowerShell content?

[2020-01-08 06:37] cln-m4rie opened #2348 "Broken format in Calendar(Teams + isOnlineMeeting: true). Create from API"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).
correct:
<img width="578" alt="スクリーンショット 2020-01-08 15 20 46" src="https://user-images.githubusercontent.com/16286987/71955020-77e91280-322a-11ea-9c6b-86f0a017bfe1.png">

broken:
<img width="590" alt="スクリーンショット 2020-01-08 15 38 37" src="h

[2020-01-08 07:03] JasonCard commented on #2092
@zeratul1990 Thank you very much for checking and reporting these details. I've requested for further investigation on this and update.

[2020-01-08 08:10] jamesdfrost commented on #2335
It looks like this has now been resolved - worked OK for me when I retried this morning. Thanks for your help.

[2020-01-08 08:10] #2335 closed

[2020-01-08 09:50] dominicbetts commented on #2339
@Jeff-Schafer - thanks for letting me know.

[2020-01-08 09:57] mlottner commented on #2348
@cln-m4rie Thanks for taking the time to share your feedback. I've flagged this issue for a member of our Microsoft Graph docs team for their awareness and possible fix.
Appreciate your contribution to our community.
@Lauragra Can you take a look?

[2020-01-08 10:00] mlottner commented on #2347
@markolbert
Thanks for taking the time to share your feedback.
I've flagged this issue for a member of the Microsoft Graph content owner for awareness and possible adjustment. Appreciate your contribution to our docs community!
@Lauragra Can you please take a look?

[2020-01-08 10:27] Tailcloud opened #2349 "ERROR: Update a Task in Planner has a attribute in wrong description"
Topic is **Task** Topic instead of **Plan** Topic

![image](https://user-images.githubusercontent.com/8122494/71970633-061dc280-3244-11ea-8e85-d3c91958ad67.png)

I've tried this power automate which update the TOPIC and the outcome shows Task Topic changed.
**AUTOMATE**
![image](https://user-images.githubusercontent.com/8122494/71970844-67459600-3244-11ea-8f8f-7e6fbe490b46.png)
**OUTCOME**
![image

[2020-01-08 11:05] sameersayani opened #2350 "404, page not found"
https://docs.microsoft.com/en-us/archive/blogs/b/webdev/archive/sending-webhooks-with-asp-net-webhooks-preview.aspx

[2020-01-08 11:52] mlottner commented on #2346
@markolbert Thanks for your feedback.
Official documentation is typically added when features are released in either public preview or general availability. Is that the scenario you are reporting on?

[2020-01-08 11:57] mlottner commented on #2350
@sameersayani Thanks for taking the time to report this issue.
Unfortunately, broken links in docs and pages like this that are archived and no longer actively maintained are unavoidable as old related pages and links are removed and deprecated. Make sure to use current, maintained product versions with active service to avoid this issue.

[2020-01-08 11:57] #2350 closed

[2020-01-08 14:03] OfficeGlobal commented on #2296
@hyoshioka0128 , @TinaMcN the article has been updated and published live

[2020-01-08 14:18] Youssef1313 commented on #2319
The header fix is easy using the no-loc syntax.
But localization **inside code block** seems like a bug to me.
/cc @JasonCard

[2020-01-08 15:47] JasonCard commented on #2319
@RyanKing77 this one is also related to [https://github.com/MicrosoftDocs/feedback/issues/2313](https://github.com/MicrosoftDocs/feedback/issues/2313) for PowerShell loc.

[2020-01-08 15:56] Lapivy opened #2351 "Typo of Provisioning Package sample command"
The sample commands at the following sites use environment-dependent characters and cannot be executed correctly. (typo is "-")

https://docs.microsoft.com/en-us/archive/blogs/beanexpert/how-to-install-office-using-a-provisioning-package

PowerShell.exe –ExecutionPolicy Unrestricted .\Start-ProvisioningCommands.ps1 (from docs)
PowerShell.exe -ExecutionPolicy Unrestricted .\Start-ProvisioningComman

[2020-01-08 15:59] jasecoulls opened #2352 "Raspberry Pi 2 Download FFU link is broken."
**Link to article:**
https://docs.microsoft.com/en-us/windows/iot-core/tutorials/quickstarter/prototypeboards

**Problem:**
The "Download FFU" link on the line for the Raspberry Pi 2 is not correct, and so it will 404 when you click it.

A possible solution could be to link to this page, which has a download for Raspberry Pi 2 & 3.
https://docs.microsoft.com/en-us/windows/iot-core/downloads

[2020-01-08 16:56] Lauragra commented on #2346
@jasonjoh , can you please investigate? @mlottner , please add Jason to the Assigned list. Thanks.

[2020-01-08 16:59] Lauragra commented on #2347
@mlottner , please assign to @jasonjoh .

[2020-01-08 17:03] Lauragra commented on #2348
@cln-m4rie , can you please post the issue using the feedback mechanism on the en-us page: https://docs.microsoft.com/en-us/graph/api/resources/event?view=graph-rest-beta#feedback? @angelgolfer-ms , FYI.

[2020-01-08 17:23] mlottner commented on #2347
Thanks @Lauragra! @jasonjoh can you please take a look?

[2020-01-08 17:26] mlottner commented on #2348
@cln-m4rie I'm closing this issue here. Please re-open the issue it on the [page feedback link](https://docs.microsoft.com/graph/api/resources/event?view=graph-rest-beta#feedback) given above in order to alert the page author and possible resolution.
Thanks again for your contribution to our docs community!

[2020-01-08 17:26] #2348 closed

[2020-01-08 17:32] mlottner commented on #2352
@jasecoulls Thanks for taking the time to share your feedback.
I've flagged this issue for a member of our Windows documentation team to review and evaluate.
Appreciate your contribution towards improving our docs community!

@GrantMeStrength Can you please take a look or reassign as needed?

[2020-01-08 17:43] markolbert commented on #2346
Hi @mlottner. My point is that the instructions, as currently written, are incomplete because they do not describe how to install the Microsoft.Graph.Auth dependency. It is in pre-release but that's not the issue: there are no installation instructions for it. Granted, those instructions are different because it is in pre-release (e.g., if done through the VS nuget package manager you need to tick

[2020-01-08 17:49] mlottner commented on #2346
@markolbert We've assigned a member of that docs team to take a look and investigate your request. They will update here soon. Thanks again for your insights.

[2020-01-08 18:20] jasonjoh commented on #2346
This tutorial does not use that package, so I'm confused. @markolbert are you hitting an error somewhere?

[2020-01-08 18:23] jasonjoh commented on #2347
@markolbert can you provide more information? I'm not sure where those settings live.

[2020-01-08 18:54] domcote opened #2353 "Notifications only occur under Modern Standby when the device lid is open, not when it is shut."
https://docs.microsoft.com/en-us/windows-hardware/design/device-experiences/audio-notifications?source=docs States you receive an audio notification while the device is in modern standby. This only  occurs when the device's lid is open, not when it is shut. Same applies to Skype calls, btw. Documentation ought to reflect this.

[2020-01-08 18:59] Minewiskan commented on #2151
#assign:dougklopfenstein

[2020-01-08 19:00] Minewiskan commented on #2093
#please-close

[2020-01-08 19:01] Minewiskan commented on #2137
#please-close

[2020-01-08 21:49] markolbert commented on #2347
@jasonjoh, when I created the appsettings.json file within VS 2019 (latest stable) using Add Item (note that in the following image the file name is different because I already have an appsettings.json file, but the name should be irrelvant):

![json-file](https://user-images.githubusercontent.com/9095610/72018918-77964a80-321d-11ea-8de0-93996158d28b.png)

the resulting file's properties are defau

[2020-01-08 22:00] jasonjoh commented on #2347
Ah ok, interesting. The tutorial uses command line and a text editor (VS Code) and isn't based on Visual Studio, primarily to make it easier to consume cross-platform, so I never ran into this particular problem. I'm happy to add a callout here for folks that use Visual Studio as their editor.

Out of curiosity, did you create the project with the Visual Studio wizard as well?

[2020-01-08 22:02] markolbert commented on #2346
LOL! No, it turns out it's a superfluous package...which is still referenced in the documentation (green arrow, from Step 1; red arrow shows that the package is not referenced in the package installation instructions):

![graph-auth](https://user-images.githubusercontent.com/9095610/72019654-f8097b00-321e-11ea-9fd4-f243a68e3b8e.png)

But if you slavishly follow the instructions, as I did, you'll f

[2020-01-08 22:03] markolbert commented on #2347
Nope, I did it the old-fashioned way, manually :)

[2020-01-08 22:07] jasonjoh commented on #2346
Doh! Nice catch. Yes that bullet item is indeed unnecessary. I think I copied that block from another tutorial and just never removed it. Filed an issue on the tutorial repo to fix it.

[2020-01-08 22:09] jasonjoh commented on #2347
Ok, so dotnet new from the command line, then open the csproj in VS Studio, gotcha. Filed an issue on the tutorial repo to add a callout.

[2020-01-08 22:20] markolbert commented on #2347
LOL! No, even more old school than that: I created a new, empty project within VS and then added the files to it. I've never used dotnet new SFAIK.

[2020-01-09 00:20] fragstone opened #2354 "ipv6"
Hello,

https://social.technet.microsoft.com/ is not available in the "normal" internet.
it has only an ipv4 (lagacy network) availibity.

will you change it?

# host social.technet.microsoft.com
social.technet.microsoft.com is an alias for social.msdn.microsoft.com.edgekey.net.
social.msdn.microsoft.com.edgekey.net is an alias for e10000.g.akamaiedge.net.
e10000.g.akamaiedge.net has address 23.19

[2020-01-09 01:56] kunihih opened #2355 "Please improve the search capabilities for public facing Dynamics365 documents."
We (Microsoft CSS support) received a request from a customer to improve the search capabilities for public facing Dynamics365 documents. Specifically our customer has asked for the following.

1. A centralized location from which all official Dynamics365 pages/documents/blogs can be searched
2. Ability to see the modification history including creation dates for all official  pages/documents/blog

[2020-01-09 03:20] hyoshioka0128 commented on #2296
@TinaMcN @OfficeGlobal - Corrected.
Closed #2296.
Thanks.

[2020-01-09 03:20] #2296 closed

[2020-01-09 07:16] mlottner commented on #2346
@markolbert @jasonjoh Thank you both for contributions in getting this resolved.
Closing this issue as it has been flagged internally for a fix.

Appreciate your help!

[2020-01-09 07:16] #2346 closed

[2020-01-09 07:38] mlottner commented on #2355
@sudeepku Can you take a look and sync with @kunihih to scope their customer requests?

[2020-01-09 07:42] mlottner commented on #2353
@domcote Thanks for taking the time to leave docs feedback.
I've flagged this issue for a member of the Windows docs team for awareness and potential fix.
Appreciate your contribution to the docs community.
@GrantMeStrength Please take a look and re-assign as needed.

[2020-01-09 07:46] mlottner commented on #2351
@Lapivy Thanks for taking the time to leave your feedback.
As noted in the page you linked, that version of the site is archived and is no longer under active maintenance or kept updated.
Make sure to use and refer to active products with current service agreements to ensure you are using our most  accurate content.

[2020-01-09 07:46] #2351 closed

[2020-01-09 07:49] mlottner commented on #2343
@EmmettTsai Thanks for taking the time to share your feedback.
I've flagged this issue to a member of our Windows doc team for awareness and possible resolution.
Appreciate your contribution to our docs user community.
@GrantMeStrength Can you please take a look and reassign as/if needed?

[2020-01-09 08:56] TimGitHub opened #2356 "Wrong link for certification MS-900 to Pearson View - Impossible to enroll for exam"
Dear team,

On the webpage: https://docs.microsoft.com/en-us/learn/certifications/exams/ms-900 the link to the exam via Pearson View is incorrect. It is now referring to the AZ-203 instead of the MS-900.

**Now it is:** https://examregistration.microsoft.com/?locale=en-us&examcode=AZ-203&examname=Exam%20AZ-203:%20Developing%20Solutions%20for%20Microsoft%20Azure&returnToLearningUrl=https%3A%2F%2Fdo

[2020-01-09 09:43] mlottner commented on #2332
@Eilon Thanks for the feedback. I've flagged this issue for a member of our docs team to open internally and investigate.
Appreciate your contribution to the docs community!

[2020-01-09 09:46] mlottner commented on #2356
@TimGitHub Thanks for taking the time to give us feedback.
I've flagged this issue for a member of our LEARN team for awareness and investigation.
Appreciate your contribution to the docs community!

[2020-01-09 09:54] jkopen opened #2357 "MS Graph Api v1.0 is not returning all data"
**Describe the bug**
MS Graph Api v1.0 is not returning all data stored in outlook contacts. Fields you can add with "add more" option are  not provided via the api, even with expand.

Related api page:
https://docs.microsoft.com/de-de/graph/api/user-list-contacts?view=graph-rest-1.0&tabs=http

**To Reproduce**

1.) Add contact in outlook online and click "add more"->"Phone"->"Other"
and add an "B

[2020-01-09 10:25] mlottner commented on #2357
@jkopen Thanks for taking the time to give us your feedback.
I've flagged the issue for a member of the docs team for awareness and investigation.
Appreciate your contribution to our docs community.
@Lauragra Can you take a look or reassign if/as needed?

[2020-01-09 11:08] abalaci opened #2358 "ClientRolePrincipal listed as IPrincipal implementation in .NET Standard 2.0"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**Link to article:**
https://docs.microsoft.com/en-us/dotnet/api/system.security.principal.iprincipal?view=netstandard-2.0

**Problem:**
The ```IPrincipal``` interface is described as being implemented by ```ClientRolePrincipal``` in .NE

[2020-01-09 15:09] jasonjoh commented on #2347
I ended up refactoring how the app ID is stored, removing the dependency on appsettings.json. It now stores it in the development secret store (`dotnet user-secrets`). For Visual Studio, there's a "Manage User Secrets" menu option when you right-click the project that let's you add values. Please check out the updated tutorial.

[2020-01-09 15:34] gabrielnespoli opened #2359 "Azure Documentation not loading my subscription"
![image](https://user-images.githubusercontent.com/22728453/72080487-c95dd400-32f4-11ea-893a-1453631b349e.png)

My alias was changed in Microsoft and after that I don't have access with my old alias and with my new alias the account is not shown.

I logged in documentation with the same alias I use to log in Azure portal

[2020-01-09 16:33] JasonCard commented on #2297
@hyoshioka0128 Thank you for reporting this issue and it's now fixed.
@Youssef1313 Thank you for addressing this issue with the PR!
@mairaw And thank you for letting me know :)

[2020-01-09 16:33] #2297 closed

[2020-01-09 17:18] cremor commented on #2047
@docs-product @mairaw I can still reproduce this issue.

[2020-01-09 17:50] markolbert commented on #2347
Looks good. Thanx!

[2020-01-09 17:50] #2347 closed

[2020-01-09 19:18] DGreemwalt opened #2360 "Documentation no longer available"
TechNet used to be a great field resource for troubleshooting information and issue resolution. With every "improvement" the ability to search and actually find useful information got worse. With this merger it became totally useless. Information that was previously available can no longer be found. Search queries return what is basically garbage because they have nothing to do with anything enter

[2020-01-10 08:00] Yogi-GMC opened #2361 "Information unavailable"
Information which was available in technet is not available in docs.microsoft.com.

**To Reproduce**
Open docs.microsoft.com
Enter "windows ad client ports" as search item

**Expected behavior**
In technet you get correct search results regarding the query
In docs you get nothing relating to the query.

Until the information got from technet isn't available in docs we use google as workaround.

Pl

[2020-01-10 11:54] davisonm opened #2362 "Although it is possible to use SerialPort on .NET Core 3.1 it does not list when searching"
I have been trying to use the SerialPort class from System.IO.Ports in a simple command line application for .NET Core 3.1. Searching the web produces little useful information, when searching in the API browser for SerialPort on .NET Core 3.1 I get no results see this [link](https://docs.microsoft.com/en-us/dotnet/api/?view=netcore-3.1&term=SerialPort).

Changing the filter to .NET Framework 4.8

[2020-01-10 12:03] sameersayani opened #2363 "404 not found"
https://docs.microsoft.com/en-us/archive/blogs/b/webdev/archive/sending-webhooks-with-asp-net-webhooks-preview.aspx

Above link is not working. Has .NET stopped Webhooks or is there any alternate?

Please update me on this as I need to work on Webhooks.

Regards,
Sameer

[2020-01-10 14:02] Hermes-MG opened #2364 "Problem to upadte scikit learn in azure noteboks"
I am new at Machine Learning and I am looking at some of the Scikit-Learn documentation. I use an account at Microsoft Azure https://notebooks.azure.com/.

Now I am trying to run the code of this example:

https://scikit-learn.org/stable/auto_examples/cluster/plot_agglomerative_dendrogram.html .

I obtain the following error

`-----------------------------------------------------------------------

[2020-01-10 14:18] abalaci opened #2365 "[Question] GitHub issues links to .NET API browser"
Is it possible/are you planning to link GitHub issues to .NET API browser pages too, as it's already the case with most other documentation pages?

Thanks!

[2020-01-10 17:28] macphail opened #2366 "Script repository shows text only with JSON error"
For the last several days, the script repository has been showing text only.  When I look at the debug info in the browser I see this error:

Source map error: Error: NetworkError when attempting to fetch resource.
Resource URL: moz-extension://d4ce63d2-dbfe-4130-a7ae-693595b790ce/libs/lodash.min.js
Source Map URL: lodash.min.js.map

Thanks!

[2020-01-10 20:02] mairaw opened #2367 "Include params keyword in method overloads section"
_From @CallumWatkins on Thursday, January 9, 2020 8:34:14 PM_

This is a suggestion to include the `params` parameter keyword in the method overloads section (plus in the "in this article" navigation).
This would apply to, for example, to the `Split(Char[])` overload in [System.String.Split](https://docs.microsoft.com/en-us/dotnet/api/system.string.split?view=netframework-4.8#overloads).

Current:

[2020-01-10 20:06] mairaw commented on #2367
Thanks for your feedback @CallumWatkins.

Moved this feedback to site feedback repo for our engineering team to consider. /cc @mimisasouvanh

@BillWagner any thoughts on this? We also don't show other types of information like out, only param types. However, I can see how params in the list could be useful.

[2020-01-10 22:04] mairaw opened #2368 "Should Inheritance hierarchy be shown for value types and delegates?"
_From @svick on Friday, August 10, 2018 6:47:53 PM_

I have noticed that in the API reference, Inheritance hierarchy is shown even for value types. E.g.:

![](https://user-images.githubusercontent.com/287848/43975096-c6f5800a-9cdc-11e8-9c00-20b5421e0a2c.png)
![](https://user-images.githubusercontent.com/287848/43975106-cf1eebae-9cdc-11e8-8ced-e71e6a578dbc.png)

While this information is certainly

[2020-01-10 22:04] mairaw commented on #2368
_From @BillWagner on Friday, August 10, 2018 9:31:16 PM_

I agree that it's a lot of space. Do you think that just showing `struct` or `delegate` is sufficient? Or do you have a different, more concise, presentation in mind?

[2020-01-10 22:04] mairaw commented on #2368
_From @rpetrusha on Friday, August 10, 2018 10:55:56 PM_

I agree that it's not particularly useful. The only marginal utility that I can think of is, in the case of enums and possibly of delegates, that it's a reminder that their members should be available through inheritance, since they're not listed in the documentation of delegates and enums.

[2020-01-10 22:04] mairaw commented on #2368
_From @svick on Saturday, August 11, 2018 1:01:44 PM_

@BillWagner Now that I think about it, there might be a third option: making the `struct`/`enum`/`delegate` keyword in the definition into a link. Though I'm not sure myself whether it's a good idea. And it might be infeasible technically.

[2020-01-10 22:05] mairaw commented on #2368
We should decide whether this is something we'd like to pursue or not.

/cc @mimisasouvanh @BillWagner

[2020-01-10 22:18] mairaw opened #2369 "The version drop downs in the breaking changes page are almost invisible in dark theme"
_From @divega on Thursday, September 19, 2019 6:07:49 PM_

Text is black over dark gray background. Only the selection rect is visible.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0b0fe0b7-01c9-d11e-a432-b7ac4639f51c
* Version Independent ID: 9e7f5a4a-13dd-dc9a-9ba7-1208bdbe6c4f
* Content: [.NET Core breaking change

[2020-01-10 22:18] mairaw commented on #2369
_From @mairaw on Friday, September 20, 2019 10:40:05 PM_

Good point @divega! I'll send this to our engineering team.

[2020-01-10 22:18] mairaw commented on #2369
_From @gewarren on Friday, November 1, 2019 4:17:14 PM_

They're unusable in the "high contrast" theme. Black text on a black background.

[2020-01-10 22:19] mairaw commented on #2369
@adkinn can you look at this issue?

![image](https://user-images.githubusercontent.com/12971179/72190386-400dd680-33b4-11ea-9df4-5e80be8ae204.png)

[2020-01-10 22:25] adkinn commented on #2369
@mairaw yep, we'll take care of it: https://ceapex.visualstudio.com/Engineering/_workitems/edit/161709

[2020-01-10 22:34] mairaw commented on #2369
Thank you @adkinn!

[2020-01-10 23:32] mairaw opened #2370 "Dependence out of date jquery 2.2.4 [CVE-2015-9251]"
_From @mozts2005 on Thursday, June 7, 2018 8:00:44 AM_

the docs website looks to be using an older version of Jquery 2.2.4  which has known security issues
See https://www.cvedetails.com/cve/CVE-2015-9251/

I think an update to a version of 3.0.0 or higher will fix the issue.  I would submit a pull request with this issue but I have been unable to find the template.

edit:
 I now think the templa

[2020-01-10 23:33] mairaw commented on #2370
@adkinn @DuncanmaMSFT this is a very old issue filed in our repo back in 2018 that we failed to triage earlier. Please take a look if this is still the case or not.

[2020-01-10 23:48] DuncanmaMSFT commented on #2370
@mairaw @adkinn It is on our roadmap to remove the jQuery dependency completely, but we'll take this into account. Thanks

[2020-01-11 20:11] KulaGGin commented on #1214
Yes, give us full documentation. Just because you stopped producing it and selling it doesn't mean you have to kill the docs. It's just text, it's not like you're out of bytes.

[2020-01-12 03:35] marknoble opened #2371 "Outdated content in "Create a custom connector from scratch" article, "Start the custom connector wizard" section"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**Link to article:**
https://docs.microsoft.com/en-us/connectors/custom-connectors/define-blank#start-the-custom-connector-wizard

**Problem:**
After clicking the links in Step 1, Step 2 says:

The Custom connectors option does not exist

[2020-01-12 05:26] omerocaks commented on #1797
I have the same issue in my first trial.  It blocks me to continue preparing for Azure certification. I appealed but Microsoft will not answer several days for appealing. Anybody knows any workaround or can help to expedite? I need this desperately.

[2020-01-12 21:49] amrelbakry opened #2372 "Migration from CSP to EA - broken link"
The Microsoft documentation link from migrating from CSP to EA is broken
https://docs.microsoft.com/en-us/partner-center/#to-migrate-from-csp-to-eapay-as-you-go

In fact all migration links to and from CSP are broken!

[2020-01-12 22:52] eiranling opened #2373 "Typo in PSMemberTypes Enum page"
**Link to article:**
https://docs.microsoft.com/en-us/dotnet/api/system.management.automation.psmembertypes?view=pscore-6.2.0

**Problem:**
In the NoteProperty description on the PSMemberTypes Enum page in the Fields table, `prorperty` should be `property`

[2020-01-13 13:38] Frank4CRM opened #2374 "Can not register for "Office 365 Champions Program" from Germany"
Hello, wanted register for "Office 365 Champions Program" https://aka.ms/O365Champions. But can not register there when I am living in Germany, cause the country choice list does NOT contain Germany.

from:
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://docs.microsoft.com/en-us/office365/customlearning/champ_o365program'
2. Click on 'https://aka.ms/O365Champions'
3. The shorte

[2020-01-13 13:52] JJussi opened #2375 "New-AzureRmSqlDatabaseimport, missing values"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**Link to article:**
https://docs.microsoft.com/en-us/powershell/module/azurerm.sql/new-azurermsqldatabaseimport?view=azurermps-6.13.0

**Problem:**
-Edition parameter description value list don't have all the possibilities. At least "Ge

[2020-01-13 15:56] guybark opened #2376 "Broken link at https://docs.microsoft.com/en-us/windows/win32/controls/add-tree-view-items"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**Link to article:**
https://docs.microsoft.com/en-us/windows/win32/controls/add-tree-view-items

**Problem:**
Click the "CustDTv sample illustrates custom draw in a Tree-View control" link at the bottom of the article, and get unexpecte

[2020-01-13 16:28] Skosn opened #2377 "Decimal: Wrong max values in german translation"
https://docs.microsoft.com/de-de/dotnet/api/system.decimal?view=netframework-4.8#hinweise

First line in Hinweise

Der Decimal Werttyp stellt Dezimalzahlen zwischen positiven 337 und negativen 337 dar.

Should be

Der Decimal Werttyp stellt Dezimalzahlen zwischen positiven 79,228,162,514,264,337,593,543,950,335 und negativen 79,228,162,514,264,337,593,543,950,335 dar.

[2020-01-13 22:33] WaghDhirajAccy commented on #1797
Hi Support Team,

I was going through below module for Azure Learning but facing problem while activating Sandbox
Exercise - Create a website hosted in Azure

It says :
Your appeal has been received. Appeals are reviewed on a first-come, first-served basis, and may take several days to process. If your appeal is approved, you will regain access to sandboxes and other interactive learning resources

[2020-01-14 00:42] abreuedu commented on #1797
Hi  @yunyunyunyun , how are you?

I will kindly ask your help to check an UNBAN my sandbox account.
Can you please help?
My mail is du_abreu@hotmail.com
Thanks in advance.

Regards,

[2020-01-14 05:58] goxia opened #2378 "There are bugs in the Autologon section of the SMISettings document"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**https://docs.microsoft.com/en-us/windows/configuration/wcd/wcd-smisettings**
Autologon mentioned in the document found an incorrect registry key value in practice, causing Autologon to fail after restarting the system.

[2020-01-14 06:24] #2378 closed

[2020-01-14 06:27] MSDN-WhiteKnight opened #2379 "Duplicated attributes in .NET API Browser"
https://docs.microsoft.com/en-us/dotnet/api/system.threading.thread.suspend?view=netframework-4.8

System.Obsolete attribute is shown three times:

[code]
Looking at [metadata](https://github.com/dotnet/dotnet-api-docs/blob/master/xml/System.Threading/Thread.xml#L3552), it appears three times with different sets of FrameworkAlternate:

[code]
This does not seem right. First, two of attributes has

[2020-01-14 10:49] evanderiel opened #2380 ""Help us improve MSDN. Make a Suggestion" button is a broken link"
On the [MSDN forums page](https://social.msdn.microsoft.com/Forums/en-US/home), there is a bar at the bottom with the text "Help us improve MSDN." and a button "Make a suggestion". The button links to aka.ms/msdnfeedback, but that redirects permanently to docs.microsoft.com.

[2020-01-14 16:04] rmehner opened #2381 "API Browser does not work"
👋

**Describe the bug**

When I go to the API browser for SignalR (https://docs.microsoft.com/en-us/javascript/api/?view=signalr-js-latest) the site stays mostly blank and I don't see the API reference.

If I open the console, I see the following two errors:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://docs.microsoft.com/en-us/javascript/api/?view=signalr-js-latest

[2020-01-14 19:59] nikolodus opened #2382 "Pointer Ballistics for Windows XP link on Taking Advantage of High-Definition Mouse Movement not working"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**Link to article:**
Tell us where exactly a problem occurs.
https://docs.microsoft.com/en-us/windows/win32/dxtecharts/taking-advantage-of-high-dpi-mouse-movement#wm_input

**Problem:**
What's wrong with the article?
The link `Pointer Ba

[2020-01-14 20:29] Jareson commented on #1797
Hello,

I am also suffering the same situation. I was doing the module "Host a web application with Azure App service" on my personal account, and was immediately denied access to a sandbox account from the first moment I tried it. I had swapped to a work account, and was allowed to create one, but I want my progress to be on my personal account.

Any help on why I was denied the ability to create

[2020-01-15 04:47] jayti55 commented on #1797
Hello,
I am trying to finish my Azure fundamentals learning which is part of a work requirement and I have been banned from the sandbox.  My account is jayti55@hotmail.com.  I recently passed my AZ-900 cert and tried linking it to my account and it doesn't show up in my Achievements folder? Maybe only Microsoft learn badges show here?  Not sure if linking this with my work account affected me bein

[2020-01-15 07:53] rmehner commented on #2381
This seems to work again, errors are gone from the console.

[2020-01-15 07:53] #2381 closed

[2020-01-15 10:21] krugarmatt opened #2383 "Unauthorized sandbox use detected. Your sandbox access has been removed."
I recently started one of the tutorials on Microsoft Learn (https://docs.microsoft.com/en-us/learn/modules/create-azure-storage-account/) and when I got to step 5, where a sandbox account is required, I was unable to activate the sandbox and was told that the reason was "**Unauthorized sandbox use detected**" and I could appeal the issue.

I submitted an appeal and after several days, I tried acti

[2020-01-15 12:58] JesperTreetop opened #2384 "Archived weblog posts need redirects"
The previous developer weblogs have been archived to Docs, but there are a few redirects missing. For example, http://blogs.msdn.com/b/pfxteam/archive/2012/03/05/10278165.aspx redirects to [the main index page](https://docs.microsoft.com/en-us/archive/blogs/). This could be handled much more smoothly. If this is true for all such links, there are millions of links like this out in the wild and use

[2020-01-15 15:31] DSPatrick opened #2385 "QnA site email"
**Describe the bug**
No notification emails are being sent from site https://docs.microsoft.com/answers/index.html
Last received 1/8/2020

**To Reproduce**
Steps to reproduce the behavior:
subscribe to some sort of notification

**Expected behavior**
email to be sent when activity on post

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the

[2020-01-15 19:50] saldana commented on #2385
@DSPatrick Due to a compliance issue, the mail notifications are not working right now. We are actively working on the issue, although we still do not have an ETA for a resolution.

[2020-01-15 20:24] DSPatrick commented on #2385
Thanks Sandra

[2020-01-15 21:30] MGodfrey50 opened #2386 "Search for "Move pay as you go to CSP subscription" finds a link but then redirects to partner site - impossible to find document"
A search for "move pay as you go subscription to CSP" results in the following, exactly right, except that selecting this land you on the partner page and you cannot find /access the doc.  Super frustrating.
____________________
Migrate Azure subscriptions from Pay-As-You-Go to Azure CSP
https://docs.microsoft.com/.../migration/migration-from-payg-to-csp

Migrate Azure subscriptions from Pay-As-Yo

[2020-01-15 23:21] Simple-Thesis opened #2387 "Broken Code Example in Documentation"
In the C# documentation for the ProcessStartInfo Class (https://docs.microsoft.com/en-us/dotnet/api/system.diagnostics.processstartinfo?view=netframework-4.8), there is a section that is meant to demonstrate code for opening Internet Explorer. However, the code block does not appear.

<img width="782" alt="Screen Shot 2020-01-15 at 3 20 27 PM" src="https://user-images.githubusercontent.com/4330490

[2020-01-16 02:10] Youssef1313 opened #2388 "C# Highlighting bug"
See <https://docs.microsoft.com/en-us/dotnet/csharp/discards>

![image](https://user-images.githubusercontent.com/31348972/72487198-dbb8a000-3815-11ea-8267-63292a0ee538.png)

static keyword gets incorrect coloring. It seems to happen because it's followed by a parenthesis. So, it was marked as if it's a method name. This bug should happen whenever a method returns tuple.

[2020-01-16 09:57] ThirtySomething commented on #2241
I am also missing an useful entry. In my project I have used the link, now it is redirected to the startpage of MSDN samples and the article is no longer available. How to retrieve this information again? The article I am talking about is https://code.msdn.microsoft.com/windowsdesktop/Creating-a-simple-plugin-b6174b62

[2020-01-16 10:04] Youssef1313 commented on #2241
@ThirtySomething, The samples exist in the Microsoft Archive organization I mentioned in a previous comment.

Hopefully, you're looking for the following:

- https://github.com/microsoftarchive/msdn-code-gallery-community-a-c/tree/3e886362b5e977fb12d15a3b55fd0d65d31f0004/Creating%20a%20simple%20plugin%20mechanism

- https://github.com/microsoftarchive/msdn-code-gallery-community-a-c/tree/3e886362b

[2020-01-16 10:19] Mrakotha opened #2389 "Sysmon article mistake"
Issue in Sysmon article : https://docs.microsoft.com/en-us/sysinternals/downloads/sysmon#event-filtering-entries

Error in description of condition "contains all". Now the description corresponds to the description of the condition "contains any".

[2020-01-16 11:25] naveenmahadevuni opened #2390 "On Azure PostgreSQL webpage, CLI and REST API links are interchanged"
**Describe the bug**
On the Azure Postgresql webpage https://docs.microsoft.com/en-us/azure/postgresql/. At the bottom "REFERENCE" menu, the links for Azure CLI and REST API are interchanged.

Reference
    Azure CLI developer reference.  ----> Points to REST API
    REST API developer reference.   ----> Points to CLI

**To Reproduce**

1. Go to 'https://docs.microsoft.com/en-us/azure/postgresql/'

[2020-01-16 14:36] uditjainmicrosoft opened #2391 "Download link for Windows Message Analyzer does not work"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**Link to article:**
On article page: https://docs.microsoft.com/en-us/message-analyzer/installing-and-upgrading-message-analyzer?source=docs , a download link to download Windows Message Analyzer does not work from a long time: http://w

[2020-01-16 17:53] KenKrugh opened #2392 "AddFontResource and RemoveFontResource Info Pages"
Both the [AddFontResource](https://docs.microsoft.com/en-us/windows/win32/api/wingdi/nf-wingdi-addfontresourcea) and [RemoveFontResource](https://docs.microsoft.com/en-us/windows/win32/api/wingdi/nf-wingdi-removefontresourcea) information pages mention using SendMessage to broadcast a message to all top level windows that a system font change has occurred but makes no mention of PostMessage.

A ca

[2020-01-16 18:35] timrprobocom opened #2393 "MAKEINTRESOURCEA and MAKEINTRESOURCEW incorrect syntax"
Links:
https://docs.microsoft.com/en-us/windows/win32/api/winuser/nf-winuser-makeintresourcea
https://docs.microsoft.com/en-us/windows/win32/api/winuser/nf-winuser-makeintresourcew

The "syntax" section of these articles suggests that these are functions that return "void".  They are actually macros, but they can be treated like functions, and they actually return either LPSTR or LPWSTR.  I would

[2020-01-16 19:52] philhege opened #2394 "SQL Unit Test Walkthrough Errors"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**Link to article:**
(https://docs.microsoft.com/en-us/sql/ssdt/walkthrough-creating-and-running-a-sql-server-unit-test?view=sql-server-ver15 (Test for uspShowOrderDetails)

**Problem:**
The setup script that creates the sample database

[2020-01-16 21:45] mairaw opened #2395 "xrefs for generic types in Visual Basic articles"
_From @Youssef1313 on Thursday, January 16, 2020 2:58:47 AM_

An xref to a generic type will always display in C# syntax, for example, Task<TResult>.

This is something that Visual Basic developers might not be familiar with, it's better to have them as Task(Of TResult).

_Copied from original issue: dotnet/docs#16709_

[2020-01-16 21:45] mairaw commented on #2395
_From @BillWagner on Thursday, January 16, 2020 2:44:31 PM_

This is a good point @Youssef1313

Adding @KathleenDollard and @cartermp  How should we address this throughout the docs?

[2020-01-16 21:45] mairaw commented on #2395
_From @cartermp on Thursday, January 16, 2020 4:43:37 PM_

This is mostly fine for F# since developers are so used to using C# as well. The key difference is `T` vs `'T` for how they're specified, but everything else is the same. Though if there were a feature to toggle the syntax based on language set that would be neat too :D

[2020-01-16 21:45] mairaw commented on #2395
_From @gewarren on Thursday, January 16, 2020 7:32:16 PM_

This seems like a holistic site issue to me, and not something we should spend a lot of effort on working around. Should we transfer this to https://github.com/microsoftdocs/feedback?

[2020-01-16 21:45] mairaw commented on #2395
_From @mairaw on Thursday, January 16, 2020 9:37:34 PM_

I think so @gewarren

[2020-01-16 21:45] mairaw commented on #2395
_From @gewarren on Thursday, January 16, 2020 9:40:40 PM_

@Youssef1313 Since we can't transfer the issue directly (different organization) do you want to create a new issue over at https://github.com/microsoftdocs/feedback?

[2020-01-16 21:45] mairaw commented on #2395
_From @mairaw on Thursday, January 16, 2020 9:44:50 PM_

I use a tool to do that. I'll transfer.

[2020-01-16 23:39] mairaw commented on #2395
#log-suggestion

[2020-01-17 01:07] rferreiradba opened #2396 "Page(s) explaining how to install SSIS tools in Visual Studio are incredibly convoluted and misleading..."
This is the main page I am referring to: https://docs.microsoft.com/en-us/sql/ssdt/download-sql-server-data-tools-ssdt?view=sql-server-2017#ssdt-for-vs-2017-standalone-installer

The information is very convoluted and leaves the reader not knowing what exactly is needed for developing/creating SSIS packages and deploying them.

For example, it reads:

"**Starting with Visual Studio 2017, the funct

[2020-01-17 06:48] Youssef1313 commented on #2395
Here I was meaning Task<TResult> not Task alone, which should display Task(Of TResult) for VB language.

[2020-01-17 09:28] mairaw commented on #2395
I've edited the issue to better display that.

[2020-01-17 10:52] larslynch opened #2397 "Remove extra hyphens in XML comments for IE Enterprise Site file"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**Link to article:**
[https://docs.microsoft.com/en-us/internet-explorer/ie11-deploy-guide/add-multiple-sites-to-enterprise-mode-site-list-using-the-version-2-schema-and-enterprise-mode-tool](https://docs.microsoft.com/en-us/internet-exp

[2020-01-17 15:20] abelbraaksma opened #2398 "Docs report-a-bug feature mangles the post by wrongly escaping entities into &lt; etc"
**Describe the bug**
Reported first here, the bot screwed up my code sections. In the post I've fixed it after-the-fact, but this is how it looked:

![image](https://user-images.githubusercontent.com/16015770/71821157-a2ec2e80-3091-11ea-98ae-bdf8c116b3a0.png)

**To Reproduce**
Just use inline code or code sections that include `<`, `&` or `>`. In other words, the XML required-to-be-escaped entitie

[2020-01-17 20:30] czullu opened #2399 "Azure API Management - Subscription - Update - stateComment not working"
**Describe the bug**
As described here https://docs.microsoft.com/en-us/rest/api/apimanagement/2019-01-01/subscription/update it should be possible to use and update stateComment.
We can update all the other Fields but not stateComment - how ever the return code is always 204 which would mean it should have been set, but it's not.

**To Reproduce**
1. Go to 'https://docs.microsoft.com/en-us/rest/a

[2020-01-17 20:36] czullu commented on #2399
Using Powershell Commandlets the behavior is the same - i can set all other Fields of the subscription but not the stateComment Field.

[2020-01-17 21:09] C3st0 commented on #1797
Same issue here. Same module, i.e. "Host a web application with Azure App service"... Very annoying.

[2020-01-18 02:13] bviyer commented on #1797
Hi @yunyunyunyun, I am having the same issue today. Someone above said there is an appeals button but I dont find it. Can you please tell me what I should do to reinstate the sandbox?

[2020-01-18 05:50] claytonrodgers commented on #1797
Hello @yunyunyunyun, is it possible to check my user account? I have never been able to activate a sandbox while trying to complete the training for my certification. I always receive an unauthorized use detected error, which is odd since I have never even been able to activate a single sandbox. My MS Learn email address is claytondrodgers@outlook.com .
Thank you in advance for any help you or any

[2020-01-19 00:54] TooManyLeaves opened #2400 "Errors in examples on "Manipulate the Visio file format programmatically" page"
There are errors in the examples for finding package parts based on relationships on the [Manipulate the Visio file format programmatically](https://docs.microsoft.com/en-us/office/client-developer/visio/how-to-manipulate-the-visio-file-format-programmatically) page. The examples  do not work and cause the code to fail (for a really silly reason):

`// Get a reference to the collection of pages in

[2020-01-19 00:55] Mikatgithub opened #2401 "Unauthorized sandbox use detected. Your sandbox access has been removed"
Hi, Just doing the Azure Fundamentals training, and I'm trying to do a sandbox exercise located here [https://docs.microsoft.com/en-us/learn/modules/welcome-to-azure/4-exercise-create-website](https://docs.microsoft.com/en-us/learn/modules/welcome-to-azure/4-exercise-create-website)

When I click it, I get this Message
"Unauthorized sandbox use detected" Your sandbox access has been removed
There

[2020-01-19 04:28] sumit1y commented on #1797
Dear All,

While doing learning via doc.microsoft , I am facing issue while activating Sandbox on page : https://docs.microsoft.com/en-us/learn/modules/welcome-to-azure/4-exercise-create-website

Following error is displayed :

Unauthorized sandbox use detected. Your sandbox access has been removed.

Because of above mentioned issue , I am not able to complete the learning. I have also tried with

[2020-01-19 06:33] anigeorge7 commented on #1797
Facing same issue from yesterday. I am using my outlook account anilgeorge7@outlook.com and progressed only till **Exercise - Create a website hosted in Azure** which require a sandbox. On attempting to activate sandbox get error message below. I am only using it to learn . And not sure how MS is flagging otherwise. Please fix.

Unauthorized sandbox use detected. Your sandbox access has been remov

[2020-01-19 11:03] C3st0 commented on #2114
Hi there,
Facing the same issue, on the "Create a website hosted in Azure" training as well. Here is my message, it does not allow to appeal:

"Unauthorized sandbox use detected. Your sandbox access has been removed.
The sandbox may only be used to complete training on Microsoft Learn. Use for any other reason is prohibited, and may result in permanent loss of access to the sandbox. Please review

[2020-01-19 11:08] C3st0 commented on #1797
Hi there,

Facing the exact same issue, on the "Create a website hosted in Azure" training as well. Here is my message, it does not allow to appeal:

"Unauthorized sandbox use detected. Your sandbox access has been removed.
The sandbox may only be used to complete training on Microsoft Learn. Use for any other reason is prohibited, and may result in permanent loss of access to the sandbox. Please

[2020-01-19 12:10] gast128 opened #2402 "Search"
Not sure what you have done lately with MSDN but most search fails. If I am in Visual Studio 2017 and press F1 to get some documentation it jumps mostly to the main page (e.g. searching for 'is_nothrow_constructible_v' jumps now to the main page ' Visual Studio product family documentation'). If I enter "all_of" in the search bar I get whole list of entries contain 'ALL'; none of them points to st

[2020-01-19 12:23] ddekel22 commented on #1797
Hi, I get the same error as well :
"Unauthorized sandbox use detected. Your sandbox access has been removed.
The sandbox may only be used to complete training on Microsoft Learn. Use for any other reason is prohibited, and may result in permanent loss of access to the sandbox. Please review our Terms of Use."

[2020-01-19 13:18] lmstearn commented on #1270
_ListView_GetItemCount_ is anexample, returning 0 instead of the maximum number of columns in a Listview.
_ListView_GetHeader_ is documented as having no return value, but instead it correctly returns a handle.
Thanks.

[2020-01-19 20:48] eryksun opened #2403 "enum definitions lack initialization values"
**Link to article:**
https://docs.microsoft.com/en-us/windows/win32/api/winnt/ne-winnt-token_type

**Problem:**
The syntax section is missing the assignment of the initial constant value, `TokenPrimary = 1`. It should be clarified to show the actual definition. For example:
[code]
C/C++ enumerations default to an initial value of 0, but a particular value can be set for any constant. Subsequent va

[2020-01-19 21:36] SoftCircuits opened #2404 "NuGet ID Prefix Reservation"
*Note: This comment is regarding NuGet. I came here after clicking the link to provide feedback on NuGet. If this should be posted elsewhere, please let me know.*

I have twice now followed the [instructions](https://docs.microsoft.com/en-us/nuget/nuget-org/id-prefix-reservation) for reserving an ID prefix to a name that matches the prefix of all 14 of my packages. It is also a name that I hold a

[2020-01-20 00:00] Celmad commented on #1797
Hi. I just sent a ticket report from the docs, but I'll write it here too.

**Activated my account today in Microsoft Learn** (although, I was using the previous Microsoft Academy with the same account).

**Activated Azure Free account** and then a**ctivated the Student** thing.

I was going through the module "**Create a Website hosted in Azure**" in section 4/8 when I was **prompted to activate

[2020-01-20 02:36] EdParraB opened #2405 "In Hybrid identity reference architecture Federation section is spelled wrong"
on site "https://docs.microsoft.com/en-us/azure/active-directory/hybrid/index"

Under section "Choose the authentication method that works best for your organization" under "Overview"

one of the items is spelled wrong "What is **federtation**?"

[2020-01-20 03:05] MTL138 commented on #1797
Hi There,

 I got the same issue:

Unauthorized sandbox use detected. Your sandbox access has been removed.
The sandbox may only be used to complete training on Microsoft Learn. Use for any other reason is prohibited, and may result in permanent loss of access to the sandbox. Please review our Terms of Use.

Can someone please look into it, thank you.
my email: leetzonghann@hotmaii.com

[2020-01-20 05:49] 870158446 opened #2406 "JsonSerializerOptions.PropertyNameCaseInsensitive defaultvalue is true，not false"
docs url:
https://docs.microsoft.com/zh-cn/dotnet/api/system.text.json.jsonserializeroptions.propertynamecaseinsensitive?view=netcore-3.0

problem:
when core 2.1 Upgrade to 3.0，error tip ：The JSON property name for 'SchoolPalHome.Domain.HomeworkDomain.Model.GetStuHomeworkListModel.HomeWorkId' collides with another property. but The description on the docs is false by default. Debug results found t

[2020-01-20 07:30] SamWolfs commented on #1797
Would it be possible to get an "appeal" button again? It makes you feel kinda helpless when you're being blocked from completing your training and there's no feasible way to ask for support.

[2020-01-20 12:38] Mikatgithub commented on #2401
#1797

[2020-01-20 13:40] IGkougkousis commented on #1797
I am getting the same error. It gives no indication what this "unauthorized use" is. An appeal process would be greatly appreciated.

[2020-01-20 15:03] DSPatrick opened #2407 "QnA Unable to execute your request"
**Describe the bug**
When trying to post on QnA site I het;
Unable to execute your request
We're sorry, but we're unable to execute your request at this time. You may be seeing this page because you attempted to submit data on this site without first loading an appropriate form. Please attempt to visit the homepage of this site and then try your action again. If you believe this error is incorrect

[2020-01-20 16:01] burmoh12 commented on #1797
Unauthorized sandbox use detected. Your sandbox access has been removed.
The sandbox may only be used to complete training on Microsoft Learn. Use for any other reason is prohibited, and may result in permanent loss of access to the sandbox. Please review our Terms of Use.

please help

[2020-01-20 18:43] RichardMueller-8175 commented on #2407
I had the same problem, with the same error message, for two days until today.

[2020-01-20 19:04] RichardMueller-8175 opened #2408 "I am Unable to Update my Profile Settings"
**Describe the bug**
I have made several attempts to update my Microsoft Q&A profile settings without success. I did upload my avatar/picture, and it shows up. But I cannot add my email preference and country/region. When I click Save, nothing happens. I understand this profile is actually a Docs profile.

Steps to reproduce the behavior:
1. Click your avatar and select Settings
2. Enter email add

[2020-01-20 20:32] burmoh12 opened #2409 "unable to activate the sandbox"
*I recently started one of the tutorials on Microsoft Learn (https://docs.microsoft.com/en-us/learn/modules/create-azure-storage-account/) and when I got to step 5, where a sandbox account is required, I was unable to activate the sandbox and was told that the reason was "Unauthorized sandbox use detected" and I can not  appeal the issue. I have seen other people who are having since the Nov of la

[2020-01-20 21:26] Rick-Anderson commented on #2053
https://github.com/aspnet/AspNetCore.Docs/issues/16617
Highlighting is off on startup.cs

[2020-01-20 23:16] gitavi commented on #2407
I can't even just sign in. Clicking the "sign in and post" button on the ask a question page produces the behavior in the OP.

[2020-01-21 00:08] barumpus commented on #2276
Same problem for this module - nothing happens when I click "Rate it". I suspect it is a problem for all modules. This is an important way for the "learn" team at microsoft to learn what is no longer working. Please fix - thanks!
https://docs.microsoft.com/en-us/learn/modules/automatic-update-of-a-webapp-using-azure-functions-and-signalr/index

[2020-01-21 02:05] aarango9 commented on #1797
Good Evening
I have the same issue: Unauthorized sandbox use detected. Your sandbox access has been removed.
The sandbox may only be used to complete training on Microsoft Learn. Use for any other reason is prohibited, and may result in permanent loss of access to the sandbox. Please review our Terms of Use.
Is there anything I should do to fix this?
my email: aarango23@hotmail.com

thanks

[2020-01-21 03:26] saldana commented on #2407
We are investigating.

[2020-01-21 06:29] odette143 commented on #1797
I am experiencing the same. "Unauthorised sandbox use detected. Your sandbox access has been removed."
I am going through the azure fundamentals and tried several times by reloading the page, but activating sandbox will have the same result.
https://docs.microsoft.com/en-nz/learn/modules/welcome-to-azure/4-exercise-create-website.

I am only using it for training purposes. Please don't ban my emai

[2020-01-21 13:39] AAHecv opened #2410 "Please implement better searching"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I hate to be someone who longs for the good old days, but I miss the TechNet site.  I used it almost daily, and it was the first place I would look no matter the technical issue.  The searching was so much better, and gave the ability to na

[2020-01-21 13:47] StevenFlyover opened #2411 "unable to active sandbox"
**Link to article:**
https://docs.microsoft.com/en-us/learn/modules/persist-data-ef-core/2-setup-environment

**Problem:**
first time to used. but display following error when active the sandbox.
"Unauthorized sandbox use detected. Your sandbox access has been removed."

[2020-01-21 17:51] DaniHalfin opened #2413 "[error message feedback] provide feedback for missing-toc-head"
**Problem:**
What's wrong with the error message? For example,
Message is unclear. No supplemental documentation, and line number can't be used because there's no file name reference.

**Log code info**
(This is auto filled, no need to modify)

| Severity   | Type   | Code   | Category   | File   | Message   |  Source  | Line   | Time   |
|------------|--------|--------|------------|--------|-----

[2020-01-21 18:10] ThirtySomething commented on #2241
@Youssef1313 thanks for finding the links. I've read your hint but was unable to find the correct links. Using this link here https://github.com/microsoftarchive?utf8=%E2%9C%93&q=&type=&language= I have searched for Christoph Gattnar, plugin and other keywords without success. Well done search. thanks.

[2020-01-21 18:36] Youssef1313 commented on #2241
@ThirtySomething, From the link you provided you can identify that the sample is called *Creating a simple plugin*. So, I just went to the appropriate repository which is "msdn-code-gallery-community-a-c", from there I found the sample

[2020-01-21 20:47] aggieben commented on #1469
Any prospect for this happening in the near future?

[2020-01-21 20:54] dalmat36 commented on #1797
Who do I need to send my email to?

[2020-01-21 22:22] mairaw commented on #2369
Closing this as fixed.

[2020-01-21 22:22] #2369 closed

[2020-01-21 22:23] mairaw commented on #2398
#log-suggestion

[2020-01-21 22:41] mister-dj commented on #2344
Checked on this today and it was working again.

[2020-01-21 22:41] #2344 closed

[2020-01-22 00:42] rawalsagar opened #2414 "Non Loading of Data in PowerApp"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-01-22 05:22] oising commented on #2410
Agreed. The search results are essentially random. Quoting words as a phrase (e.g. "bad request" matches bad and request independently) doesn't work at all. The search is painfully slow. Sometimes search leads to the page stopping, or returning to home. Other times it fails with a "too many redirects" error. It's completely broken.

[2020-01-22 09:14] JJussi opened #2415 "New-AzSqlDatabaseImport should support -Tags parameter"
**Is your feature request related to a problem? Please describe.**
Billing is base on TAGs and now when I create new DB from .bacpac file, import time (hours) is not included because TAGs are set after import.

**Describe the solution you'd like**
New-AzSqlDatabaseImport powershell command should support -Tags parameter, so newly created DB have right tags, right from the start

**Describe alterna

[2020-01-22 10:38] LiangJianyi opened #2416 "Typed text on the search bar of UWP API reference page will appears black color"
Typed text on the search bar of [UWP API reference page](https://docs.microsoft.com/en-us/uwp/api/) will appears black color when I open dark theme. I can't see the typed text.

[2020-01-22 16:05] kingskull88 commented on #1797
Hello, I too have experienced this issue for about two weeks. My email is zachary.mamaril1@outlook.com
I have submitted 5 feedbacks thus far and haven't gotten an email back or a resolution to this issue. "Unauthorized use of sandbox " is odd since this is my first time trying it out for the azure fundamentals course.
Just need some help. Thank you to whomever can fix this :)

[2020-01-22 16:22] josemoscatelli commented on #1797
Hello there.

I'm facing the same problem. I tried at first using a free Azure account - that's the account I'm using to track the course progress, and then I also tried a recently created Outlook.com account. Same message for both: "Unauthorized sandbox use detected. Your sandbox access has been removed.
The sandbox may only be used to complete training on Microsoft Learn. Use for any other reaso

[2020-01-22 16:26] mftpr opened #2417 "unable to activate sandbox"
**Problem**:
Created a microsoft learn account just yesterday and started to do the Azure Foundations but got stuck in https://docs.microsoft.com/en-us/learn/modules/welcome-to-azure/4-exercise-create-website as the sandbox can't get activated. Only receiving the following error message, tried again today, same issue.

[2020-01-22 19:03] tdykstra commented on #2117
#please-close

This is addressed by https://github.com/dotnet/dotnet-api-docs/pull/3701
Feel free to reopen if more discussion is needed.

[2020-01-22 19:28] sblalock-ms opened #2418 "404 when clicking Cloud Solution Providers (https://docs.microsoft.com/en-us/graph/auth/auth-cloudsolutionprovider) on page https://docs.microsoft.com/en-us/graph/auth/"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**Link to article:**
page https://docs.microsoft.com/en-us/graph/auth/

**Problem:**
404 when clicking Cloud Solution Providers (https://docs.microsoft.com/en-us/graph/auth/auth-cloudsolutionprovider) on page https://docs.microsoft.com/e

[2020-01-22 19:42] jonpryor opened #2419 "Editing search text in Safari is weird"
**Describe the bug**

When editing the search query, if the insertion carrot isn't at the end of the text, typing *appends* to the text.

**To Reproduce**
Steps to reproduce the behavior:

1. Use macOS Mojave 10.14.6 and Safari 13.0.4.  (May happen on other versions.  I saw it here.)
2. Go to <docs.microsoft.com>
3. Click the **Search** link on the top-left of the page.  A *Search* input field app

[2020-01-22 22:24] gocraigb99 commented on #1797
I'm facing the same problem.  gocraigb@outlook.com. I would really much like to learn all about Azure but you are making it very difficult.

[2020-01-22 22:46] CorgiDev commented on #1797
I am facing this same issue on my personal Microsoft Learn account. This is highly frustrating, especially when there is no clear way to seek support since the Appeal button was removed.

[2020-01-22 23:00] MacFlensi commented on #1797
Hi,
I'm facing the same issue, will there be a solution in the future.
For me it looks like this is going on a long time without a solution.

[2020-01-23 01:09] bradski77 commented on #2401
Hi, I see this also and have sent several requests for help on it with no response

[2020-01-23 01:44] bebobebo opened #2420 "Site does not honour user locale for dates"
Getting tired of having to reset the page language from EN-US to EN-AUS with *every* page. If you're not going to honour user or system locales for date rendering, then at least provide a setting in my user account where I can specify a recognisable date format.

See also: https://github.com/MicrosoftDocs/feedback/issues/386

[2020-01-23 03:09] junysanteliz commented on #1797
Hi, I get the same error as well :
"Unauthorized sandbox use detected. Your sandbox access has been removed.
The sandbox may only be used to complete training on Microsoft Learn. Use for any other reason is prohibited, and may result in permanent loss of access to the sandbox. Please review our Terms of Use."

[2020-01-23 03:34] onchuner opened #2421 "101 LINQ samples broken link"
**Link to article:**
https://docs.microsoft.com/en-us/samples/dotnet/try-samples/101-linq-samples/

**Problem:**
Link to https://docs.microsoft.com/en-us/samples/dotnet/try-samples/101-linq-samples/index.md  redirects to 404

[2020-01-23 03:45] onchuner opened #2422 "VS2019 16.5 Preview 2 release notes broken image ref"
**Link to article:**
https://docs.microsoft.com/en-us/visualstudio/releases/2019/release-notes-preview#view-dotnet-object-lock

**Problem:**
<img src="media/16.5/16.5_P2_view-dotnet-object-lock.png" align='bottom' alt="View .NET object lock in Call Stack" instead of image

[2020-01-23 09:20] lechaser opened #2423 "Unable to activate sandbox enviroment"
I recently started one of the tutorials on Microsoft Learn (https://docs.microsoft.com/en-us/learn/modules/welcome-to-azure/4-exercise-create-website) and when I got to step 4, where a sandbox account is required, I was unable to activate the sandbox and was told that the reason was "Unauthorized sandbox use detected" and I can not appeal the issue. Same issue for any other sandbox environment I t

[2020-01-23 09:29] UnsaidAverage opened #2424 "Wrong year in Visual Studio 2017/2019 Release Notes"
**Describe the bug**
It is year 2020 now, NO LONGER 2019.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to
https://docs.microsoft.com/en-us/visualstudio/releasenotes/vs2017-relnotes
https://docs.microsoft.com/en-us/visualstudio/releases/2019/release-notes
https://docs.microsoft.com/en-us/visualstudio/releases/2019/release-notes-preview

2. Look at the Release Notes release date, see the

[2020-01-23 10:29] venkatkoka15 commented on #1797
Helo Team,

I started one of the tutorials on Microsoft Learn (https://docs.microsoft.com/en-us/learn/modules/welcome-to-azure/4-exercise-create-website) and when I start activating the sandbox I receive the below issue.

"Unauthorized sandbox use detected. Your sandbox access has been removed.

The sandbox may only be used to complete training on Microsoft Learn. Use for any other reason is prohi

[2020-01-23 12:27] venkatkoka15 commented on #2423
Helo Team,

I started one of the tutorials on Microsoft Learn (https://docs.microsoft.com/en-us/learn/modules/welcome-to-azure/4-exercise-create-website) and when I start activating the sandbox I receive the below issue.

"Unauthorized sandbox use detected. Your sandbox access has been removed.

The sandbox may only be used to complete training on Microsoft Learn. Use for any other reason is prohi

[2020-01-23 13:25] dhawaldhingra commented on #1797
Facing the same issue. Any solution at all?

[2020-01-23 13:40] 201801365 opened #2425 "hyperskill.org but for c# and others"
i love hyperskill.org. it has everything organized in curriculum, map and projects. i particularly love the knowledge map bec it organizes everything about that programming language in topics or lessons which has coding tests in them that are self correcting. learning a programming language thru a video just isnt the same. bec it is dependent of the author how the topics are organized so you dont

[2020-01-23 16:32] anabelsi commented on #1797
Same issue here as well...
My email is albraa.nabelsi@outlook.com

[2020-01-23 16:53] anabelsi commented on #2401
I am not getting any responses either.

[2020-01-23 16:59] burmoh12 commented on #1797
I am not sure is if any one is looking at this or if this a known issue but Pleaseeeeeeeeeee
any type of info regrading this issue would help
thank you

[2020-01-23 18:32] dan-wesley opened #2426 "[error message feedback] provide feedback for committish-not-found"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem**.

**Problem:**
What's wrong with the error message? For example,
- Is error message clear and actionable?
- Is there a documentation to provide more information?
- If there is a documentation, is it relavent and helpful?
- Is line number correct?
- etc.

[2020-01-23 20:01] JasonCard commented on #2092
Hi @zeratul1990,
Thank you again for reporting this issue.
The issues are now fixed:
https://docs.microsoft.com/zh-cn/dotnet/api/system.type?view=netframework-4.8#examples
Please let us know if you still find any issues.

[2020-01-23 20:01] #2092 closed

[2020-01-24 00:46] RichardMueller-8175 commented on #2408
Today I was able to update my profile settings, and assign an email address for my email preference. I don't know what changed, but my issue is resolved.

[2020-01-24 00:46] #2408 closed

[2020-01-24 07:02] aks-14-89 opened #2427 "How to generate base64 encoded key for aes256 and SHA -256"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**Link to article:**
Generating base64 encoded key AES256 and SHA-256 in nodejs.
**Problem:**
Generated AES256 base64 Encoded key using this code from npm repository:-

// generate random passphrase binary data
    var r_pass = crypto.ra

[2020-01-24 11:38] kalaga20 commented on #2401
I too am facing the same issue. Let me know for any resolution.

[2020-01-24 11:49] gabrielnespoli opened #2428 "REST endpoints are incorrect due to typo"
ERROR in:
https://docs.microsoft.com/en-us/rest/api/streamanalytics/stream-analytics-input

all along this documentation, the rest endpoint provided is incorrect. Example:
https://mana**gm**ent.azure.com/subscriptions/{subscription-id}

There is a typo. Instead of managment, should be management

[2020-01-24 12:24] venkatkoka15 commented on #2423
Is this issues Resolved ? or any updates on this issues resolution?

Thanks

[2020-01-24 13:27] Sirlupinwatson1 commented on #2423
Hi all,

To resolve this issue in the tutorial you need to choose another user ;

- See my picture here, you need to choose Microsoft Learnsandbox and not your main user.
- Then you can proceed to do all the step in the tutoriel and you should be good to go.

_I hard time to get it also._

![gitmicrosoft](https://user-images.githubusercontent.com/55941045/73072552-4a83a200-3e83-11ea-933b-e8355b285

[2020-01-24 13:30] Sirlupinwatson1 commented on #2423
-------------------------------
 ###  @lechaser

**Since 2016 i think, they can't regroup 2 account into 1. I tried it already . Sorry about that.**

[2020-01-24 13:32] lechaser commented on #2423
@Sirlupinwatson1

Thanks for your reply, but that´s not what we are talking about. The sandbox environment is not even starting. Therefore we can´t go later to Azure console and switch the subscription.

See a screenshot below

![Sandbox issue](https://user-images.githubusercontent.com/36274203/73072819-3f963500-3eb6-11ea-969f-382c7f068aaa.png)

[2020-01-24 13:38] Sirlupinwatson1 commented on #2423
Not sure to get what you say then. You are not even log in from what i can see on the top right page.

Make sure you have your subscription on either a free tier or a paid tier, Log into your account and activate the sandbox on the tutorial page.

[2020-01-24 14:04] lechaser commented on #2423
Hi @Sirlupinwatson1

Thanks again for your comments, I will add more details so you can get the full picture and why there´s an issue.

This is my Learn Portal, on top right you can see I´m logged in.

![Learn Portal](https://user-images.githubusercontent.com/36274203/73074494-14154980-3eba-11ea-99e8-1a75331af9bd.png)

The "free account" it´s just a link to Azure portal. Annyway, If I click there,

[2020-01-24 15:58] Sirlupinwatson1 commented on #2423
Hum that is a technical question that i have no answer then sorry about this.

I am pretty sure this is just a small things but you can ask your question also directly in the feedback from Azure. They reply pretty fast.

Sorry about this i wish i could have help you.

[2020-01-24 17:14] sydbarrett74 opened #2429 "No spacing between paragraphs on docs.microsoft.com; proper spacing if issue is viewed on GitHub"
**Describe the bug**
I provided feedback on this page: https://docs.microsoft.com/en-us/office365/troubleshoot/administration/office-crash-or-cannot-start
If one views the feedback item on that page (https://docs.microsoft.com/en-us/office365/troubleshoot/administration/office-crash-or-cannot-start#feedback), there are no spaces between paragraphs.

**To Reproduce**
Steps to reproduce the behavior

[2020-01-24 19:25] bradski77 commented on #1797
same issue here, email is wazzabe007@hotmail.com.
Where has the helpful @yunyunyunyun gone???
Can we get the appeal button back please?

[2020-01-24 20:12] MattStiles commented on #1797
Having the same issues, email is matt_r_stiles@yahoo.com

[2020-01-24 20:27] CorgiDev commented on #1797
In case any of the devs are watching this thread, I found an interesting behavior.

I am trying to complete the "Exercise - Create a website hosted in Azure" module under the "Core Cloud Services - Introduction to Azure". It is the only module I am missing in the "Azure Fundamentals" course.

While on my personal account, clicking the Activate link results in the Unauthorized message mentioned abo

[2020-01-24 20:32] sqlworldwide opened #2430 "Enable-AzSqlServerAdvancedDataSecurity"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**Link to article:**
[Enable-AzSqlServerAdvancedDataSecurity](https://docs.microsoft.com/en-us/powershell/module/az.sql/enable-azsqlserveradvanceddatasecurity?view=azps-3.3.0)

**Problem:**
In the description, it says 'A new storage acco

[2020-01-24 20:47] Gamecock commented on #1797
I am also stuck mfinchsc1@outlook.com

[2020-01-24 21:46] fgm1477 commented on #1797
The same situation is happening to me fgm1477@outlook.com

[2020-01-24 21:54] fgm1477 commented on #1797
Could you please resolve this issue. It seems a lot of customers have been affected by it.

[2020-01-24 21:56] mairaw commented on #1797
I have engaged the engineering team internally. Let's see what they say. You should refrain from posting your personal information like e-mail address on this thread.

[2020-01-25 00:22] mfstanton opened #2432 "Transfer User Reputation"
I have been a user for a long time I am an insider but my personal membership information does not seem to transfer to my work id.

[2020-01-25 01:39] mairaw opened #2433 "Migrate Microsoft.Management.Infrastructure"
_From @NextTurn on Monday, January 20, 2020 3:57:35 PM_

Nuget: https://www.nuget.org/packages/Microsoft.Management.Infrastructure/

Previous version docs: https://docs.microsoft.com/previous-versions/windows/desktop/wmi_v2/mi-managed-api/hh832958(v=vs.85)

Current version docs: https://docs.microsoft.com/dotnet/api/microsoft.management.infrastructure

The current version docs are empty and marked

[2020-01-25 01:40] mairaw commented on #2433
@rloutlaw @mimisasouvanh please help route this issue. Not sure who owns the PowerShell Core SDK. Metadata should also be updated to include ms.author.

[2020-01-25 08:28] azz-ureORaz-zor commented on #1797
I have the exact same issue down to the module you're trying to complete and all. I subscribed to the $200 credit Azure portal for 30 days. I have my personal Outlook account signed into my laptop. My work account is also on the 365 platform. Haven't tried removing my work account from my work laptop, and I'm not sure if my Azure trial is some how causing conflict with Sandbox access. I am also si

[2020-01-25 08:46] Mikatgithub commented on #2401
Thank You, my sandbox issue has been resolved

Good luck to the other people, if still nothing happens for you, copy and past my issue

[2020-01-25 08:46] #2401 closed

[2020-01-25 19:51] santhoshj855 commented on #1797
i created new account today and i'm facing same issue. Please fix this account as well.
santhoshj56@outlook.com

[2020-01-25 21:38] leboykin opened #2434 "Hands on labs on New docs.microsoft.com"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).

**Link to article:**
Go to  docs.microsoft.com > Hands on Labs and you get
Oops, it looks like you do not have permissions. But if you click on the link on the top of the page "Self-paced Labs" you get to https://www.microsoft.com/handso

[2020-01-26 06:13] hotamkushwah commented on #1797
While doing learning via doc.microsoft , I am facing issue while activating Sandbox on page : https://docs.microsoft.com/en-us/learn/modules/welcome-to-azure/4-exercise-create-website

Following error is displayed :

Unauthorized sandbox use detected. Your sandbox access has been removed.

Because of above mentioned issue , I am not able to complete the learning.

Please help me in fixing the issu

[2020-01-26 10:07] almaceleste opened #2435 "Creating User and Group Accounts article"
**🛑 IMPORTANT**: You can get your feedback addressed faster if you **use the comment section for the article in which you encountered a problem** (if available).
*- this article has no comment section*

**Link to article:**
https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-2000-server/bb726984(v=technet.10)?redirectedfrom=MSDN

**Problem:**
`Rules for Logon Names` in this a

[2020-01-26 14:34] agyordanov commented on #1797
Hello everyone,

I also want to practice my knowledge and I tried to do the following tutorial:
https://docs.microsoft.com/en-us/learn/modules/welcome-to-azure/4-exercise-create-website

Unfortunately, I couldn't, because I have this error:
"Unauthorized sandbox use detected. Your sandbox access has been removed.
The sandbox may only be used to complete training on Microsoft Learn. Use for any oth

[2020-01-26 15:47] agyordanov opened #2436 "Having trouble with the Azure sandbox"
Hello everyone,

I am new to Azure and Iwant to practice my knowledge. I tried to do the following tutorial:
https://docs.microsoft.com/en-us/learn/modules/welcome-to-azure/4-exercise-create-website

Unfortunately, I couldn't, because I have this error:
"Unauthorized sandbox use detected. Your sandbox access has been removed.
The sandbox may only be used to complete training on Microsoft Learn. Us

[2020-01-26 17:40] agyordanov commented on #1797
@yunyunyunyun, hey, I know that you are probably very busy, but I have seen you have mentioned in the discussion above, so I hope you can help me solving that problem with my account. I will be very, very thankful if I can do the exercises. Thanks in advance!

[2020-01-26 17:46] agyordanov commented on #1797
Hello @yunyunyunyun, can you help me with that problem. My account is registered with email: agyordanov@outlook.com

[2020-01-26 19:02] hemchandra1985 commented on #1797
Hi,
I am facing the same issue "Unauthorized Sandbox usage detected". Can someone please help resolve.

[2020-01-27 10:22] the-grayest opened #2437 "Getting ERR_CONTENT_DECODING_FAILED in Chrome"
This happens on any page https://docs.microsoft.com but only in normal Chrome window, no issues in Incognito mode. My Google Chrome is up to date: Version 79.0.3945.130 (Official Build) (64-bit). See screenshot:
![Annotation 2020-01-27 132016](https://user-images.githubusercontent.com/42241303/73166894-d443a180-4107-11ea-87e2-841f88ee8481.png)

[2020-01-27 12:30] IGkougkousis commented on #1797
Hello,

Just letting everyone know that I tried creating a new sandbox today and got the following message:

[code]

The new directory showed up in the Azure portal as MICROSOFT LEARN SANDBOX and I seem to able to perform the actions necessary for the tutorial. For the moment, it seems like the issue is resolved.

[2020-01-27 12:33] agyordanov commented on #1797
Hey,

Thank you for sharing the information with us under my post, but unfortunately I still have the same error. Therefore, it is not fixed for me. Hopefully, it will be soon.

[2020-01-27 12:33] lechaser commented on #1797
Same for me!
I just saw there was an update on the UI of the  of the portal, so I thought MS has released something new.
I tried and first it asked me for allowing permissions for my account in Azure and then it finally worked!

[2020-01-27 12:35] lechaser commented on #2423
It seems the issue has been fixed today.

[2020-01-27 12:35] #2423 closed

[2020-01-27 12:36] agyordanov commented on #1797
Hi,

That's some positive thing. Can you recommend me what I need to do in order to have that update as well. Thank you in advance!